[2020-03-13 16:59] bspeare commented on #1173
I don't see duplicate breadcrumbs displayed if 'Hidden when Layout Builder is active' is unchecked.  Is that what that functionality is there to prevent?

[2020-03-13 18:05] pyrello commented on #1173
I'm completely lost in this issue. The condition plugin seems to work fine, and predictably with the page title block, but not with the breadcrumbs. I tried to disable the layout_builder_custom module entirely, which causes the page title to show up twice, but the breadcrumbs do not. I'm not sure what other mechanism is at work here.

I am fine with turning off that setting for the breadcrumbs blo

[2020-03-13 18:18] bspeare commented on #1173
Sure, let's see how far we can get with 'Hidden when Layout Builder is active' unchecked.  Is that set in the module or in config?

[2020-03-16 13:58] pyrello commented on #1173
Closing this for now.

[2020-03-16 13:58] #1173 closed, assigned to pyrello

[2020-03-16 14:13] pyrello opened #1191 "Add 3 menu block to uiowa.edu footer"

[2020-03-16 15:24] cory-skeers opened #1192 "File Directories in SiteNow Migrate"
Specify file migration destination directory--impacts file structure as well as final file URLs.

[2020-03-16 20:56] briand44 opened #1198 "SSL cert - *.shl.uiowa.edu"
uiowa01

[2020-03-16 21:23] joewhitsitt commented on #1176
Any suggestions on how to improve the layout builder ux for this are welcome.

[2020-03-17 12:55] pyrello commented on #970
Here is an attempt to update this issue, given recent changes.

The base filter formats that we are working off of are the formats from SiteNow:
* https://github.com/uiowa/uiowa/blob/master/docroot/profiles/custom/sitenow/config/sync/filter.format.filtered_html.yml
* https://github.com/uiowa/uiowa/blob/master/docroot/profiles/custom/sitenow/config/sync/filter.format.full_html.yml

Any suggestions

[2020-03-17 13:36] joewhitsitt opened #1200 "Add Colorbox to frontend build process"
## Problem
As raised in https://github.com/uiowa/uiowa/pull/1177, the colorbox implementation could be cleaned up.

Since the current implementation is a patched, library overridden version, style/js hybrid of Colorbox, I am not sure to what extent this can be done.

[2020-03-17 15:03] #1176 closed, assigned to joewhitsitt

[2020-03-17 15:05] #1191 closed, assigned to nobody

[2020-03-17 16:49] bspeare commented on #697
@joewhitsitt, having this or https://www.drupal.org/project/lazy could greatly help the page load speed for the new image heavy home page.   Do you have any thoughts on whether we could implement this?

[2020-03-17 16:59] briand44 commented on #1198
done

[2020-03-17 16:59] #1198 closed, assigned to nobody

[2020-03-17 16:59] briand44 commented on #1180
done

[2020-03-17 16:59] #1180 closed, assigned to nobody

[2020-03-17 17:00] briand44 commented on #1146
done

[2020-03-17 17:00] #1146 closed, assigned to nobody

[2020-03-17 17:00] briand44 commented on #1138
done

[2020-03-17 17:00] #1138 closed, assigned to nobody

[2020-03-17 17:00] briand44 commented on #1118
done

[2020-03-17 17:00] #1118 closed, assigned to nobody

[2020-03-17 17:01] briand44 commented on #845
I am just closing this until they determine the proper url to use.

[2020-03-17 17:01] #845 closed, assigned to nobody

[2020-03-17 17:02] briand44 opened #1206 "SSL cert - remove ismc.uiowa.edu"
uiowa

[2020-03-17 17:09] #1192 closed, assigned to cory-skeers

[2020-03-17 17:18] cory-skeers opened #1208 "Update file directory for previously migrated files"
ap-purchasing.fo.uiowa.edu and horn.studio.uiowa.edu had file migrations prior to the file directory fix (all files placed in ...files/images/ directory). This effects the file URL, particularly a problem with PDFs.

Need to move files in the directory, as well as update the URI in the file_managed database table to maintain integrity of previously attached links to files.

- [x] ap-purchasing.fo.

[2020-03-17 17:23] #1160 closed, assigned to pyrello

[2020-03-17 18:42] joewhitsitt commented on #1208
Might want to get @richardbporter 's thoughts on this, but instead of establishing a site specific module to run an update hook or pasting/running stuff in SequelPro, I think this could be an update hook within the SiteNow install file that only runs on these two sites.

[2020-03-17 18:46] richardbporter commented on #1208
That could possibly work. You could check the URI using the RequestStack service.

https://github.com/uiowa/uiowa/blob/2f46813d7aa66dc4402bab0236eb5553e0edbc87/docroot/profiles/custom/sitenow/src/ConfigOverride/SimpleSitemapOverride.php#L39-L40.

[2020-03-17 18:47] joewhitsitt commented on #697
@bspeare I think this is past whether we _can_ and more about _how and when_ we implement it. We postponed it for SiteNow because we didn't have time to think about it. Blazy definitely has the usage compared to Lazy. I don't have experience with either and don't know how it works with everything else (responsive images, etc.).

[2020-03-17 19:00] bspeare commented on #697
Yes, blazy has some good numbers behind it.  I'll add it to the parking lot for further discussion.

[2020-03-17 19:36] cory-skeers commented on #1208
My initial thought had been to manually move the files in the directory, followed by `drush sqlc` and `UPDATE file_managed SET uri = REPLACE(uri, 'images/', 'new_path/')`, and sync back up, but was worried about passing over any hooks. Should be able to use the proper Drupal wrappers for a similar approach if it's in an update hook. Thanks!

[2020-03-17 21:19] #1186 closed, assigned to richardbporter

[2020-03-17 21:20] richardbporter commented on #1200
Probably the same as the easysvg package - fork and require.

[2020-03-17 21:30] bspeare opened #1212 "Allow vtt file type to be uploaded into the file system"
# Problem

For the vertical videos on the home page (https://uiowa.github.io/uids/components/detail/portraits-block.html), we need to be able to upload .vtt files (https://developer.mozilla.org/en-US/docs/Web/API/WebVTT_API) for the block component.

# Proposed solution

Add vtt to the allowed types?

The current allowed file types are:

`Allowed types: txt rtf doc docx ppt pptx csv xls xlsx pdf o

[2020-03-17 21:35] bspeare opened #1213 "Add search and a-z list links within search toggle in uids_base"
# Problem

We still need to add a quick links menu that uses font awesome icons to the search toggle: https://uiowa.github.io/uids/components/detail/header--default.html.  The component is here: https://uiowa.github.io/uids/components/detail/quick--search.html.

<img width="1386" alt="Screen Shot 2020-03-17 at 4 32 34 PM" src="https://user-images.githubusercontent.com/1036433/76903982-069e8f00-686

[2020-03-17 21:39] bspeare opened #1214 "Add grouped/button links to toggle menu in uids_base"
# Problem

We still need to add the group/button links to appear under the superfish menu in the toggle menu.  The link to the component is here: https://uiowa.github.io/uids/components/detail/group--default.html.

<img width="649" alt="Screen Shot 2020-03-17 at 4 37 59 PM" src="https://user-images.githubusercontent.com/1036433/76904294-af4cee80-686d-11ea-9a83-f7585bc25bce.png">

[2020-03-18 16:43] #1212 closed, assigned to joewhitsitt

[2020-03-18 16:44] joewhitsitt opened #1217 "As a site visitor I can see a list of A-Z links to quickly navigate to where I need to go."
- [x] #1230 Port A-Z Vocabulary and Taxonomy fields
- [x] #1250 Export/Import existing terms/links
- [x] Recreate view page/attachment
- [x] Breadcrumb (See SiteNow Articles for contextual filters)
- [ ] Autocomplete filter?

Issue related to views contextual filters and breadcrumbs: https://www.drupal.org/project/drupal/issues/2787051

[2020-03-18 17:13] #1135 closed, assigned to pyrello

[2020-03-18 18:14] #1129 closed, assigned to dnkemper

[2020-03-18 18:24] mjoneill opened #1218 "Check A-Z List with ScreamingFrog"
@mjoneill

[2020-03-18 18:27] mjoneill commented on #1218
@ABoston88 apparently I can't upload .csv files to github, so Im going to get you the a-z list scans in slack.

[2020-03-18 18:37] joewhitsitt commented on #798
i think we updated honeypot but the release didn’t include that patch. opinions about whether the patch was effective or not aside. so we could try to apply that patch or move forward with removing honeypot and adding recaptcha v2 checkbox and establishing an its-web recaptcha account to use by default.

[2020-03-18 18:40] joewhitsitt commented on #798
Marking this as a bug, because honeypot is not doing what it is meant to do.

[2020-03-18 18:56] joewhitsitt commented on #798
From: https://www.drupal.org/project/honeypot/issues/3009566, it sounds like the defaults are ineffective in this machine learning age. geerlingguy, maintainer has resorted to reCAPTCHA for a few forms. Some are seeing success with the timeout set higher than 0.

[2020-03-18 22:21] #1158 closed, assigned to nobody

[2020-03-18 22:21] #1178 closed, assigned to nobody

[2020-03-19 16:20] richardbporter opened #1223 "Deleted sites are not removed from local file system"
It seems like after pulling the codebase, deleted sites are not removed from the local filesystem. A good way to check for this to run `blt tests` locally and see it fail on half-empty sites directories. You can remove the sites directories manually and not have and Git changes, but this is annoying.

We should figure out what is causing this.

[2020-03-19 16:22] richardbporter commented on #1223
Might be due to file system permissions.

[2020-03-19 18:18] richardbporter opened #1225 "Improve FontAwesome field help text."
On social media menus, the help text is lacking in terms of the link, i.e. "click here" is not great.

[2020-03-19 18:18] richardbporter opened #1226 "UIDS footer links have no hover/active styles."

[2020-03-19 18:22] richardbporter opened #1227 "The black background of the second line of text is covering some of the bottom of the first line of text (in Firefox)"
*Text in the welcome home section

[2020-03-19 18:29] joewhitsitt opened #1228 "Consider session cookie for video pause user preference"
## Problem
The homepage video loads and plays each time the page is loaded. If a user pauses the video, it would be great if the pause is still active while the user browses the site.

## Proposed Solution
Using some cookie functionality to keep that info and set the video to paused.

## Concerns
This would be local site tracking (versus third-party) which is more than we have done in the past and

[2020-03-19 19:43] joewhitsitt opened #1230 "Port A-Z Vocabulary and Taxonomy fields"
Relates to #1217

[2020-03-19 20:12] richardbporter opened #1231 "config_split complete-splits conditional-split configuration if it depends on complete-split config."
This results in config being removed from the sync directory that should not.

https://www.drupal.org/project/config_split/issues/3117841

[2020-03-19 20:12] richardbporter opened #1232 "Drush cache race conditions cause random cloud hook failures."
https://github.com/drush-ops/drush/pull/4345

[2020-03-19 21:03] bspeare opened #1233 "Investigate moving to PHP 7.3 in order to use lb_claro"
# Problem

The layout builder edit screen does not use the admin theme styles.

# Proposed solution

Investigate moving to PHP 7.3 in order to use https://www.drupal.org/project/lb_claro

[2020-03-20 14:13] #1214 closed, assigned to pyrello

[2020-03-20 14:35] bspeare opened #1235 "Investigate why images are not appearing in the WYSIWYG"
# Problem

After adding a responsive image to the WYSIWYG text area block, if you save the page and try to edit the image again the image does not appear in the editor.

<img width="294" alt="Screen Shot 2020-03-20 at 9 31 31 AM" src="https://user-images.githubusercontent.com/1036433/77173793-10eba380-6a8e-11ea-93f9-c38ee5cf3736.png">

<img width="286" alt="Screen Shot 2020-03-20 at 9 31 37 AM" sr

[2020-03-20 14:42] #1235 closed, assigned to nobody

[2020-03-20 21:01] #1183 closed, assigned to richardbporter

[2020-03-20 21:12] #369 closed, assigned to joewhitsitt

[2020-03-20 21:12] #94 closed, assigned to nobody

[2020-03-20 21:14] richardbporter commented on #408
Cache tags should invalidate purged assets more intelligently than D7. Custom integrations that don't implement cache tags or are time-based can't really be documented generally. Another reason to use JS.

[2020-03-20 21:14] #408 closed, assigned to nobody

[2020-03-22 18:04] pyrello commented on #1141
@mjoneill Can you confirm this is still an issue? I can't remember if we implemented a fix for this, or just came up with a workaround.

[2020-03-22 18:30] pyrello commented on #697
Some notes about using Blazy:
- It does integrate with responsive images.
- It appears that the aforementioned integration requires using a Blazy formatter, which means that it would become a dependency of every image field and require swapping all of those out.

[2020-03-23 13:31] mjoneill opened #1238 "Bug in Sitenow - D8 for character counts in MetaDescription field."
Also, description box in Article schema should be sized for multi-line entry and not single field.

[2020-03-23 13:35] mjoneill commented on #1238
Description and video of issues available here: https://iowa-my.sharepoint.com/:v:/g/personal/mjoneill_uiowa_edu/EQxvXRSmBdFOggJG8AJ3Y7gBM-92R3okqkWE_2umEEbFbA?e=fre4Tq

[2020-03-23 14:21] bspeare opened #1239 "Integrate UIDS form styles into uids_base"
# Problem

The uids_base forms do not pick up uids form styles.

# Proposed solution

Add `uids-content` class to uids_base form wrappers through `hook_form_alter` or ` theme_preprocess_form`?

[2020-03-23 15:12] bspeare opened #1240 "How to configure Remote Video size using Media Library with uids_base?"
# Problem

On https://uiowa.stage.drupal.uiowa.edu/ you can't set a width for an embedded YouTube video.

# Proposed Solution

The oEmbed module on SiteNow wraps each video in a responsive wrapper.

<img width="1315" alt="Screen Shot 2020-03-23 at 10 00 53 AM" src="https://user-images.githubusercontent.com/1036433/77330747-c5373500-6ced-11ea-9732-27a153c8fef4.png">

On https://uiowa.stage.drupal.u

[2020-03-23 15:27] bspeare commented on #1240
Here is the css that we would need to accomplish this:
[code]

[2020-03-23 16:11] pyrello commented on #1240
This is trickier than just styling with the correct CSS. On uiowa.edu we have the WYSIWYG editor configured to use the Media Library embed button, which was a new feature that was stabilized in Drupal 8.8. This introduced the ability to insert a `<drupal-media>` tag into a WYSIWYG-controlled area. One of the downsides to this approach is that there is no way (that I am aware of) to create a second

[2020-03-23 16:15] bspeare commented on #1240
@pyrello I think that we can map the `media--type-remote-video` class to the responsive image styles to apply to different video ratios.  Are you ok with proceeding with that direction?

[2020-03-23 16:17] pyrello commented on #1240
Sure. I think that is probably the thing that we can do the most immediately and without having to do a lot of research and/or writing a lot of custom code.

[2020-03-23 18:38] pyrello commented on #1239
Currently, it looks like the class is actually `hds-content`. Do you want me to add it as `uids-content` with the expectation that it will be updated in uiowa/uids before launch?

[2020-03-23 18:54] #1213 closed, assigned to nobody

[2020-03-23 18:54] #1239 closed, assigned to pyrello

[2020-03-23 20:14] #1208 closed, assigned to cory-skeers

[2020-03-24 13:23] mjoneill commented on #1141
@pyrello Looks like it's still there...

Not sure of the priority for launch.  Assuming that I can work through/around the lack of clarity, this probably doesn't need attention until more and more people start working with the system.

<img width="1334" alt="image" src="https://user-images.githubusercontent.com/7144234/77430040-8d40f800-6da8-11ea-82ff-35757cbc1ea5.png">

[2020-03-24 13:54] pyrello commented on #1141
So, would a satisfactory resolution of this issue be that the text in the sidebar indicating the error needs to look like an error. Red text? And maybe an icon?

[2020-03-24 14:34] joewhitsitt opened #1244 "Webmasters can't see/manage themselves or other webmasters"
Additionally, brand can't see collaborators or new users.

[2020-03-24 15:26] pyrello opened #1245 "Add "_blank" target option to external links in menus"
Currently, there is no way to have external links open in a new browser tab/window in SiteNow. I think this would be the desired behavior for all the external links on uiowa.edu.

[2020-03-24 15:31] richardbporter opened #1246 "Add OSC AD groups to base authentication config"

[2020-03-24 15:51] richardbporter opened #1247 "Move sitenow configuration to default directory"
It would be nice if we could move sitenow config to the default directory as outlined in the BLT docs: https://docs.acquia.com/blt/developer/config-split/#default-configuration

Multiple profiles running disparate config syncs works but isn't really supported by BLT. Advantages of this approach:

- Refer to platform configuration as default and not any one profile, i.e. sitenow
- Potentially setup

[2020-03-24 15:53] richardbporter opened #1248 "Remove global settings sync dir check"
This seems like a complicated global setting to run on every site. The default BLT behavior should probably be enabled and individual sites or profile-specific settings can override this if desired.

[2020-03-24 16:13] joewhitsitt opened #1249 "[Story] As a site visitor I can be redirected from old paths to where the content exists now."
- [x] Get current uiowa.edu redirects/match redirects and communicate freeze/double post of redirects going forward
- [x] See if match redirects work in D8
- [x] Use similar HR redirect update hook to import

[2020-03-24 16:51] #1230 closed, assigned to joewhitsitt

[2020-03-24 18:54] joewhitsitt commented on #1244
since everyone gets the collaborator role (including webmasters), webmasters can't manage users very well since this config was not set specific for the brand site and the custom role

[2020-03-24 19:28] mjoneill commented on #1141
@pyrello Actually, I think that the red message at the top is fine-ish.  What would be helpful is some indication of which fields/elements are related to the three errors.  Red highlighting around the error-adled elements, or a red asterisk next to them, or some other (any other?) way of giving me (as an editor) a way to understand which pieces are causing problems.

Right now it tells me there ar

[2020-03-24 19:30] mjoneill commented on #1141
Wow.  Maybe that's what the three normal-looking hyperlinks below the message indicate...

If that's the case, maybe indent or bullet those so they show inheritance from the error message?

[2020-03-24 21:39] pyrello opened #1253 "Regression with search bar + vertical toolbar"
<img width="1669" alt="Screen Shot 2020-03-24 at 4 34 21 PM" src="https://user-images.githubusercontent.com/709009/77479614-20505100-6dee-11ea-9d8d-77b2d6fd81fb.png">

Regression introduced in #1236.

# Proposed solution

Create a new `iowa-bar-admin` partial file for `admin.scss` targeting `.toolbar-vertical.toolbar-tray-open` to adjust the styles to work with the vertical toolbar.

[2020-03-25 13:37] mjoneill opened #1254 "As a campus creative, I can learn about the new brand and access supporting tools and documentation on the new brand site."
- [ ] Write digital/web strategy section of brand site
- [ ] Write accessibility guidance for brand site

[2020-03-25 13:45] mjoneill opened #1255 "As a high school student, I can access uiowa.edu and have a current, on-brand experience that conveys the new Iowa identity and helps me understand why Iowa might be a great fit for me."
- [ ] Place images
- [ ] lorem ipsum

[2020-03-25 16:31] bspeare opened #1256 "Instructions for uploading photos on uiowa.stage.drupal.uiowa.edu"
# Preparing the images for upload

1. Resize the width of the image to 2592 pixels (the maximum width of all images on the site is 2592 pixels).
2. Run the image through an image compressor like https://compressor.io/.
3. Upload the image to https://uiowa.stage.drupal.uiowa.edu/ following the steps listed below.

# Uploading an image into the square grid format

This image uses a 1:1 aspect ratio.

[2020-03-25 18:54] joewhitsitt commented on #1227
I couldn't replicate this when testing Windows Firefox ESR because the text are all now single line.

[2020-03-25 19:00] joewhitsitt opened #1257 "uiowa.edu - Windows Firefox ESR Style Issues"
Overall, I used Windows Firefox 60.2 ESR and didn't notice any major issues that weren't already defined.

- Brain Card Grid - Though it doesn't break functionally, content overflows the "grid square"
![Screen Shot 2020-03-25 at 1 39 30 PM](https://user-images.githubusercontent.com/4663676/77573272-695fde00-6e9e-11ea-9a3e-d6c27227bfe0.png)

[2020-03-25 19:02] bspeare commented on #1257
@joewhitsitt did the vertical video play buttons work in ESR?

[2020-03-25 19:07] joewhitsitt commented on #1257
@bspeare i was able to play/pause

[2020-03-25 19:23] briand44 opened #1258 "allow webmasters to configure sitemap"
We've had a request for webmasters to be able to configure sitemap change frequency and priority for specific pages on their site. Discussion needed.

[2020-03-25 20:44] #1225 closed, assigned to dnkemper

[2020-03-26 13:43] joewhitsitt commented on #1238
So, i took a peek at this. There is definitely a discrepancy between the help text and what the fields actually allow. There is an issue out there that fixed this, we just haven't updated the module yet because a new stable version has not been released. https://www.drupal.org/project/metatag/issues/3106609

## Proposed Solution
Update the metatag module to the latest dev.

## Workaround

Short te

[2020-03-26 13:59] joewhitsitt commented on #1258
Right now there is one permission to rule them all (global and instance), but there is an issue:
https://www.drupal.org/project/simple_sitemap/issues/3033792

[2020-03-26 14:03] #1244 closed, assigned to joewhitsitt

[2020-03-26 14:46] bspeare opened #1266 "Allow <span> tags in the Minimal HTML format"
# Problem

The new alerts system is set to the Minimal HTML format.   Ideally, a site webmaster would be able to add an icon to their alert in the HTML `<span class="fa-exclamation-circle fas"></span>`.

# Proposed solution

Add `<span>` to the list of allowed tags?

[2020-03-26 16:33] joewhitsitt commented on #1266
Short term i think this is fine, but I would rather there be a severity dropdown with regards to the alert config that handles icon, color, and aria info and doesn't rely on power users to implement.

[2020-03-26 16:37] bspeare commented on #1266
I agree.  We definitely don't want to open it up to any icon available. But in the short term it would help with the uiowa.edu launch.

[2020-03-26 16:39] joewhitsitt commented on #697
Prioritizing for the homepage project with #1262 . Attempted to do SiteNow as well and things broke. The way we are rendering images programmatically is no longer ideal for all the things we want to do going forward.

[2020-03-26 16:48] joewhitsitt commented on #1266
so minimal already has div but restricts the classes allowed to alert and lead from bootstrap. are you okay with doing something similar for span like `<span class="fa*">`? That should cover icons and their type (e.g. fas, fab, etc.)

[2020-03-26 16:58] bspeare commented on #1266
That would be perfect!

[2020-03-26 17:46] #1266 closed, assigned to pyrello

[2020-03-26 20:05] #1217 closed, assigned to joewhitsitt

[2020-03-26 20:27] pyrello opened #1270 "Vertical video text is overlapping when wrapped"
<img width="1320" alt="Screen Shot 2020-03-26 at 3 25 56 PM" src="https://user-images.githubusercontent.com/709009/77693350-2ffaa180-6f76-11ea-845b-15efd2aa672d.png">

[2020-03-26 20:27] pyrello commented on #1270
FYI @bspeare

[2020-03-26 20:35] bspeare commented on #1270
This is a duplicate of https://github.com/uiowa/uiowa/issues/1227.   Both use the same component.

[2020-03-26 20:39] #1270 closed, assigned to nobody

[2020-03-26 20:42] pyrello opened #1271 "uiowa_alerts MVP re-factoring"
<img width="1538" alt="Screen Shot 2020-03-26 at 3 43 17 PM" src="https://user-images.githubusercontent.com/709009/77694726-8c5ec080-6f78-11ea-8e3f-269eb66f98e8.png">

Currently the uiowa_alerts module is designed so that the block it creates is *always* rendered as it is just a container for a javascript that runs to pull in the alerts. That means the region is always rendered and is always visib

[2020-03-26 21:01] pyrello opened #1272 "As a website developer, I can set up different types of sites (college, department, or other) without confusion"
Features to make distribution easier over a variety of different sites.
- [x] #1273 Create module to collect additional information

[2020-03-26 21:02] pyrello opened #1273 "Create module to collect additional site information"
Adds the following fields:
- [x] Has a parent organization - checkbox which shows the next 2 fields
- [x] Organization name - textfield
- [x] Organization link - URL

[2020-03-27 00:09] mjoneill opened #1274 "[Story] As an OSC contributor, I can log in to the new uiowa.edu site so that I can contribute and manage content."
- [x] Jessica Corliss
- [x] Kirk Murray
- [x] Sondra Cue
- [x] Sara Florek
- [x] Clarity Guerra
- [x] Chris Clair
- [ ] Get list of hawkids

[2020-03-27 00:18] mjoneill commented on #1274
Added everyone with permissions of Editor & Publisher.

[2020-03-27 00:25] mjoneill opened #1275 "As a site owner, I can turn on hawk alerts and/or specify a custom hawk alert message."
- [x] #1277 Ability to select message options: Feed/Feed + Custom Message/Custom Only
- [x] #1278 Color selection? for alert levels
- [x] #1280 Meaningful a11y experience

[2020-03-27 00:39] mjoneill opened #1276 "Add functionality to turn Alert Box on/off"
As a site owner, I can turn the alert bar on and off.
- When On, alert box is shown on all site pages.
- When Off, alert box is not shown on any site page.

Parent Story: #1275

[2020-03-27 00:46] mjoneill opened #1277 "Add ability to select HawkAlert message options: Feed/Feed + Custom Message/Custom Only"
As a site owner, I should have the ability to select among the following alert message options:

- Site displays HawkAlerts from a selected feed
- Site displays custom text in the HawkAlert box (no feed)
- Site displays both HawkAlerts from a selected feed AND site displays custom text in the HawkAlert box simultaneously

Parent: #1275

[2020-03-27 00:51] mjoneill opened #1278 "Add HawkAlert container color options"
As a site owner, I would like the ability to select one of a predetermined set of colors for the background of the HawkAlert.

Potentially:
- Orangeish - Urgent - Safety/Health Alert
- Grayish - Information Alert

Parent: #1275

[2020-03-27 00:55] mjoneill opened #1279 "Refactor HawkAlerts implementation for maintainability and utility"
Parent: #1275

[2020-03-27 00:58] mjoneill commented on #1279
This task needs some clarification to clarify the goal for refactoring.  It sounded like it was generally to make sure it was able to be used for future sites and not just a one-off, but I don't have a grasp of the details, nor do I recall the conversation. Can someone clarify this task?
@joewhitsitt @pyrello @richardbporter

[2020-03-27 01:02] mjoneill opened #1280 "Identify and address HawkAlert accessibility issues"
As a user experiencing the website using a screen reader, I need to be able to consume and understand HawkAlert information as an alert and, conversely, when a HawkAlert is not enabled, I do not hear misleading/confusing alert information

Parent: #1275

[2020-03-27 01:03] mjoneill commented on #1280
I assume we're going to want to get @inspector508 on this when we're ready.  I think some other related tasks need to get to done first though.

[2020-03-27 03:26] pyrello commented on #1279
This is the task that I had previously created for this: #1271

[2020-03-27 13:30] richardbporter commented on #1271
Thinking about the configuration more: the D7 version was never built to allow non-admins/developers to configure the source or the message. If that is intended for D8, it probably doesn't make sense to allow webmaster to change the source of the feed. That seems more like a developer task to test them out locally in a settings.local.php override.

[2020-03-27 13:59] pyrello commented on #1271
So, to clarify what you are saying here, @richardbporter, the uiowa_alert.settings.source config would still be set but would not be represented in the admin UI?

[2020-03-27 14:14] #858 closed, assigned to dnkemper

[2020-03-27 14:17] #1274 closed, assigned to mjoneill, ABoston88

[2020-03-27 14:27] pyrello commented on #970
I think that this issue can be closed. To summarize, we are moving forward on a path when the collegiate profile will be deprecated in favor of SiteNow + a Collegiate split (or some other as yet to be developed config split). Therefore any modifications to filter formats or editors should be made to either the SiteNow profile or one of the relevant splits.

Please reopen if you think this is still

[2020-03-27 14:27] #970 closed, assigned to nobody

[2020-03-27 14:28] pyrello commented on #956
@bspeare Still interested in adding this?

[2020-03-27 14:29] joewhitsitt opened #1281 "[Story] As a web developer, I can see that modules and other dependencies have been updated before the homepage go-live."
~~Require https://www.drupal.org/project/lb_claro~~ #1233
- [x] drupal/acquia_connector
- [x] drupal/address
- [x] ~~drupal/administerusersbyrole~~ #141
- [x] drupal/coder
- [x] drupal/config_ignore
- [x] drupal/crop
- [x] drupal/entity_browser
- [x] drupal/entity_embed
- [x] drupal/entity_reference_revisions
- [x] drupal/entity_usage
- [x] drupal/field_group
- [x] drupal/file_mdm
- [x] drupal/fil

[2020-03-27 14:31] richardbporter opened #1282 "[Story] As a site visitor I can experience reasonable page load times."
Initial page loads are quite slow for the homepage and other sites. This may point to a larger performance issue. We should investigate and remediate.

Performance benchmarking (lighthouse, others) so we can address what is quickly addressable, and plan for what is more of an investment (minify, lazy load, strategy for video, etc...)

- [x] uiowa/uiowa#697 - Lazy Load Images @joewhitsitt
- [x] Red

[2020-03-27 14:31] richardbporter opened #1283 "[Story] As a visitor to the staging site, I can see selected images in layout instead of placeholders."
- [x] Photo selection process kickoff
- [x] OSC team editor accounts
- [ ] Layout builder training
- [ ] Photos added to staging

[2020-03-27 14:32] richardbporter opened #1284 "[Story] As a site user, I can view the site and not experience these inconsistencies/bugs."
- [x] https://github.com/uiowa/uiowa/issues/1227 @bspeare
- [x] View site in Safari https://github.com/uiowa/uids/issues/93 @bspeare
- [x] View site in Firefox ESR and create issues for bugs @joewhitsitt
- [x] Aerial Photo updates from design mtg @bspeare
- [x] Alerts region is not showing all the time because Alert block is always rendered @pyrello @bspeare
- [x] Add styling to new alerts module

[2020-03-27 14:54] joewhitsitt commented on #836
This was removed: https://github.com/uiowa/uiowa/commit/1c8e17928ca1c53c9ced1c5807a89290881980fd#diff-6ddcd3967b6e0eed04c9a27513009f7e

[2020-03-27 14:54] #836 closed, assigned to nobody

[2020-03-27 14:54] joewhitsitt commented on #921
This is done now right @richardbporter ?

[2020-03-27 15:01] joewhitsitt commented on #1037
@pyrello did this git fixed for all view pages rendered with uids_base or just uiowa.edu? https://github.com/uiowa/uiowa/pull/1260

[2020-03-27 15:05] joewhitsitt commented on #1157
[untested] Someone came up with a "terrible hack" as a temporary workaround: https://www.drupal.org/project/drupal/issues/2741877#comment-13524964

[2020-03-27 15:10] joewhitsitt commented on #1218
@mjoneill can this be closed?

[2020-03-27 15:13] joewhitsitt commented on #1226
looks like hover is done. was there a plan to indicate active @bspeare? (e.g https://uiowa.stage.drupal.uiowa.edu/about-iowa)

[2020-03-27 15:13] pyrello commented on #1037
I believe this should be fixed for all non-node pages rendered via uids_base. However, the site above is using the collegiate_theme, so this would not affect that.

@mark-bennett-uiowa The easiest and quickest way to fix this without having to immediately migrate the site off of the Collegiate profile would be to add a breadcrumb region to collegiate_theme. That turned out to be the reason this wa

[2020-03-27 15:14] richardbporter commented on #921
Nope - had to just update core with webflo in place due to that auth issue.

[2020-03-27 15:16] richardbporter commented on #1281
I think dependencies should be updated one at a time, if possible, and tested thoroughly. The BLT update process makes this difficult as it involves an open ended `composer update` so that should be updated last.

[2020-03-27 15:26] joewhitsitt commented on #1273
i know the out of the box bucket is "slogan" but what I heard yesterday was that it was going to be more organizational hierarchy (college, department, program, etc.). Since we are thinking about a custom way of handling this, should we move away from the slogan use something else?

[2020-03-27 15:28] pyrello commented on #1273
@joewhitsitt I'm open to the idea of using a different field entirely. My idea was more about presenting the fields with different labels to the end user, then storing what they enter under the correct field.

[2020-03-27 15:45] joewhitsitt opened #1286 "Adminimal - Drag handles are cutoff"
![Screen Shot 2020-03-27 at 10 27 18 AM](https://user-images.githubusercontent.com/4663676/77773732-05f9bb80-7018-11ea-928c-9f18b999dad5.png)

Currently affecting paragraphs implementations

[2020-03-27 16:05] #905 closed, assigned to dnkemper

[2020-03-27 16:36] pyrello commented on #1133
Closing again. Unfortunately, I didn't take the opportunity to document how I got around this issue.

[2020-03-27 16:36] #1133 closed, assigned to pyrello

[2020-03-27 18:53] richardbporter commented on #1282
I wonder if this is worth a try? https://www.drupal.org/project/webp

[2020-03-27 18:56] richardbporter commented on #1282
https://tools.pingdom.com/#5c4755fc48800000

[2020-03-27 19:05] bspeare commented on #1282
https://www.webpagetest.org

[2020-03-27 19:30] richardbporter opened #1289 "uids_base SASS maps cannot be parsed"
Chrome console:
[code]

Happens in FF as well.

[2020-03-27 19:40] mjoneill commented on #1218
This is in Alex's court right now.  @ABoston88, did you get what you needed & can we close?

[2020-03-27 19:41] ABoston88 commented on #1218
Yup. Can close.

[2020-03-27 19:42] #1218 closed, assigned to ABoston88

[2020-03-27 19:44] richardbporter commented on #1282
I don't see anything pointing to backend performance issues. The biggest gains can probably be had on the frontend, anyway. For the front page specifically, the video might be an issue if I understand this correctly: https://docs.acquia.com/acquia-cloud/performance/varnish/files/#files-greater-than-10mb-in-size

[2020-03-27 20:39] richardbporter commented on #1271
Yes because I don't think those test alerts ever drop out of the feed with how the current system is built. So they'll always show which seems excessive.

I'm a bit confused on all the other issues related to this. I can assign myself and try to take it across the finish line.

[2020-03-27 20:43] richardbporter commented on #1271
I think I'll close this in favor of #1279.

[2020-03-27 20:43] #1271 closed, assigned to richardbporter

[2020-03-30 13:31] mjoneill opened #1290 "[Story] Schema.org module (see SiteNow)"
- [ ] #1325 [Task] Identify schemas for standard content types
- [x] #1326 [Task] Homepage search schema
- [ ] #1348 Schema for Academic departments (Basic Page content type. Possibly front page as well)
- [ ] #1349 Add schema for colleges
- [ ] #1351 Schema for non-academic departments (Basic page content type. Possibly front page as well)
- [ ] #1350 Add FAQ Schema option (Basic Page/accordion?)

[2020-03-30 13:35] mjoneill opened #1291 "[Task] New uiowa.edu copies/implements existing schema from current uiowa.edu"
Currently, uiowa.edu has minimal CollegeorUniversity schema that needs to be implemented on the new uiowa.edu.

You can see this schema in the GSDTT here: https://search.google.com/structured-data/testing-tool/u/0/#url=uiowa.edu

[uiowa-schema-20200330.txt](https://github.com/uiowa/uiowa/files/4403120/uiowa-schema-20200330.txt)

Parent issue: #1290

[2020-03-30 13:36] mjoneill commented on #1291
Note, this is a minimal schema implementation reduced from what was originally intended.

[2020-03-30 13:55] pyrello opened #1293 "Include "Contact info" block in default content"
<img width="507" alt="Screen Shot 2020-03-30 at 8 51 08 AM" src="https://user-images.githubusercontent.com/709009/77920225-d50dc680-7263-11ea-8f56-f30a27caddb1.png">

As part of providing a set of footer components that are preconfigured out of the box when a new SiteNow site is setup in uids_base, I think we should provide a "Contact info" block. The default content could be pretty minimal or emp

[2020-03-30 15:27] mjoneill commented on #1282
Another tool: https://web.dev/

[2020-03-30 15:48] richardbporter commented on #1247
Related #1248

[2020-03-30 15:53] richardbporter commented on #1248
If an individual site wants to export ALL of its configuration and manage it going forward, a [simple include setting](https://docs.acquia.com/blt/install/next-steps/#adding-settings-to-settings-php) with the following will accomplish that:
[code]

This would be much simpler than our current approach and wouldn't require any BLT config magic.

[2020-03-30 15:59] pyrello commented on #1247
@richardbporter I am for this approach, both philosophically and from a code organization standpoint. Its not clear to me yet what the ramifications might be in terms of maintenance, but I don't immediately see anything that would be much different in terms of how we work.

[2020-03-30 16:15] bspeare commented on #1282
It looks like 200kb of ckeditor.js is loading for anonymous users: https://www.drupal.org/project/drupal/issues/3037150.  It looks like it also loads on https://hr.uiowa.edu.  Do we know why this is there?

[2020-03-30 16:18] richardbporter commented on #1282
No clue. I noticed that to.

[2020-03-30 16:24] richardbporter opened #1297 "Locally-hosted assets are not restricted to under the cacheable limit"
Problem: any locally-hosted asset like file, image, video can be up to 50mb in size. This is above the 10mb recommendation https://docs.acquia.com/acquia-cloud/performance/varnish/files/#varnish-10mb. This has two negative consequences: disk space is eaten up faster (currently a 83% usage) and requests for these files bypass Varnish.

Solution: limit all locally-hosted assets to a max of 10mb. Obv

[2020-03-30 16:33] bspeare commented on #1282
Is it worth hosting the font awesome files locally?  https://uiowa.local.drupal.uiowa.edu/admin/config/content/fontawesome.   We are currently hosting all of the font files locally (https://www.tunetheweb.com/blog/should-you-self-host-google-fonts/) and it might make sense to self-host the font awesome files too.

[2020-03-30 17:42] richardbporter commented on #1297
Looks like this cannot be done per-field since we're using an entity reference to a media type. The limit needs to exist on the media type. Do you think that is a problem @joewhitsitt? What about other media types? Audio, background image, video, etc. It seems like a reasonable limitation since we are not a streaming service.

[2020-03-30 17:47] joewhitsitt commented on #1297
i don't think it is a problem for images. i'd like to get rid of https://github.com/uiowa/uiowa/issues/596 but that can wait for another day.

video is currently only being used by uiowa.edu that i know of

audio could have large files (lecture recordings)

[2020-03-30 18:19] richardbporter commented on #1297
This is probably less of issue with fields that leverage image styles but the WYSIWYG lets users embed the original image. This may be more of a question of disk space.

[2020-03-30 18:21] joewhitsitt commented on #1297
we need the original image for animated gif support so reduce the upload size

[2020-03-30 18:51] #697 closed, assigned to joewhitsitt

[2020-03-30 18:57] richardbporter opened #1300 "Internal production domains are indexed by search engines."
Because our robotstxt split only denies indexing for dev/test, sites that are being "staged" in production are indexed. We should stage sites in stage or find a way to dynamically override the configuration based on the request URL. That should be possible based on how we are handling other config overrides like GA, AC, etc.

Example:
https://github.com/uiowa/uiowa/blob/8ebdb2594a472bb7f9d2f390557

[2020-03-30 20:09] pyrello opened #1302 "Move uiowa.edu to use collegiate feature split for all settings that are not unique"

[2020-03-30 20:16] #891 closed, assigned to nobody

[2020-03-31 13:37] richardbporter commented on #1279
My thoughts on MVP refactor:

- Module configuration should allow for turning Hawk Alerts on or off but not set the source of the feed.
- The no alert message should be changed to a notice that users can set manually. I don't see a use case for a message to display when there are no alerts.
- Hawk Alerts should have an alert style (red).
- The manual message should have a notice style (yellow).

[2020-03-31 13:49] pyrello commented on #1279
I'm not sure which of the tasks for this story this should show up under, but the other consideration is how to not have a block show unless there is an alert or a message. Right now there is an issue that is caused by the fact that the block always renders, which causes the region to always render.

Maybe this can be fixed via CSS?

A couple other thoughts/considerations:
* The Alerts region + an

[2020-03-31 13:50] joewhitsitt commented on #137
Since "OneDrupal" are all using or plan to use the media types in scope, we should get input before moving forward with this.

[2020-03-31 13:55] mjoneill commented on #1279
Some additional thinking on this: There could be local, manually created alert messages that need to red background. Example: Flood at Tippie.  Danger to health and safety, but the message on the ecomms site (and likely the feed) did not provide enough explanation/context/nor did it have a backlink to the right destination where breaking information was curated, etc.  Sometimes local colleges will

[2020-03-31 13:57] pyrello commented on #137
@joewhitsitt Am I understanding this issue correctly? This is about how to organize what you are shown when selecting media?

[2020-03-31 13:59] pyrello commented on #1279
@mjoneill In that case, would the site owner need the local message to display in place of the original hawk alert?

[2020-03-31 13:59] bspeare commented on #1279
I'll fix the CSS issue with the region rendering.   I will also put together some variations to look at in our design meeting tomorrow.

[2020-03-31 14:00] richardbporter commented on #1279
The styled div could be rendered via JS instead of printing it all the time when empty.

I think the MVP for this should allow for one local alert textarea - just swap the no message for that. Anything beyond that could be customized for the site in question. Most likely, folks that need more advanced local alerts will want to integrate them with additional content types/taxonomies like services.

[2020-03-31 14:03] bspeare commented on #1279
Is there a list of alert levels that we can target?  I see the test version has `alert-danger` as a class.  What are the other levels?

[2020-03-31 14:03] joewhitsitt commented on #137
correct. we have tags on all content types for "internal organizing" and we thought about extending this to media to help organize it.

[2020-03-31 14:04] mjoneill commented on #1279
@pyrello Yeah, I think so.  I think it's a binary thing...  Either it's displaying the feed, or it's displaying a local, customized alert message.

^^ Perfectly willing to account accommodate other use cases and perspectives.  Just trying to reflect on the last time we needed to use this functionality.

[2020-03-31 14:11] pyrello commented on #137
So, this would mean adding a tags field to all the media types? And the user would be responsible for adding tags when they create the media item?

[2020-03-31 14:12] joewhitsitt commented on #137
Yes. optional but yes.

[2020-03-31 14:55] pyrello commented on #137
My concern with this is that people just wouldn't use it and so most media items would be "uncategorized".

[2020-03-31 15:25] pyrello opened #1303 "Github agile implementation thoughts"
* Stories are created as issues in the relevant repo and tagged with `story` label as well as any other labels that are appropriate.
* Stories are added to the board in the the column that best represents the current state of the work (e.g. if any of its tasks are in progress, the whole story moves to in progress).
* Stories are written as a checklist of sub-tasks. As issues are created to represe

[2020-03-31 16:37] joewhitsitt opened #1304 "Audit and create "diff" issues between SiteNow Paragraph Bundles and UIDS Components"
## Problem

Currently SiteNow Paragraph bundles and UIDS components are not one to one (e.g. SiteNow blockquote [implements the cite attribute](https://github.com/uiowa/uiowa/blob/master/docroot/themes/custom/uiowa_bootstrap/templates/paragraphs/paragraph--blockquote--default.html.twig#L51))

To plan for and adopt the UIDS, we need to audit where the two systems differ and account for those differ

[2020-03-31 17:16] joewhitsitt commented on #116
Based on the progress of this issue and the plan to adopt media library core #865, closing.

[2020-03-31 17:16] #116 closed, assigned to nobody

[2020-03-31 17:21] joewhitsitt commented on #141
@richardbporter can i get your thoughts on https://github.com/uiowa/uiowa/issues/141#issuecomment-514778331 ?

[2020-03-31 17:22] joewhitsitt commented on #371
Work has started to compare the differences between SiteNow paragraph bundles and existing UIDS components #1304

[2020-03-31 17:32] joewhitsitt commented on #463
Some of this is being done as part of the HP-Project. #1290

[2020-03-31 17:34] joewhitsitt commented on #661
This could be refactored/revisited now that the stat component for UIDS has been finalized and work towards #371 has been started. We should adopt the same fields since nothing has been deployed to PROD yet.

[2020-03-31 17:37] joewhitsitt commented on #798
Evaluation (sitenow.uiowa.edu) of the timeout cannot happen until a successful deployment of 2.4.6 on uiowa occurs.

[2020-03-31 17:41] joewhitsitt commented on #883
Browsing the issue queue for the module we would need to implement solutions for clearing file/media cache/purge when operations are triggered.

https://www.drupal.org/project/media_entity_file_replace/issues/3115477
https://www.drupal.org/project/media_entity_file_replace/issues/3109553

[2020-03-31 17:48] joewhitsitt commented on #1081
It could be argued that we would start removing default content instead of adding more now that more layout based sites will be added to the sitenow profile.

[2020-03-31 18:00] joewhitsitt commented on #137
I agree that a good number of sites won't use this functionality, but we identified the use-case for something like this back in D7. Larger sites like education implemented media browser plus to create "folders" for this type of media organization. This would offer the same organization paired with tag autocomplete filtering on the media overview and media library dialogs.

If you don't think this

[2020-03-31 18:08] joewhitsitt commented on #1303
To reiterate on what I said in standup, I think we are naturally moving this way for now. Long term (post launch), I feel like stories will be represented less in Github. As Rick mentioned, stories aren't common in the github space. I think stories are less technical and could be tracked elsewhere (still linking technical issues) as the the project/team transitions to a post-live development proce

[2020-03-31 18:12] richardbporter commented on #141
I think we should take action because we will need to update at some point. I don't think we should close it or mark as for reference. I'd have to investigate further on what specific action needs to taken.

[2020-03-31 18:19] richardbporter commented on #1281
Here is the output from `composer outdated drupal/*` - I think these Drupal projects should be evaluated and updated one-by-one and tested in isolation before attempting BLT + dependency updates.
[code]

[2020-03-31 18:40] bspeare opened #1305 "Investigate why ckeditor.js loads for public facing site"
# Problem
`<script src="/core/assets/vendor/ckeditor/ckeditor.js?v=4.14.0"></script>` loads for all sites even when logged out of the site.

# Proposed Solution

So far, I have enabled Stark as the theme and the file still appears.

[2020-03-31 18:51] bspeare opened #1306 "Move Font Awesome assets to be locally hosted"
# Problem

Currently the Font Awesome module (https://www.drupal.org/project/fontawesome) is configured to use the Font Awesome CDN at `/admin/config/content/fontawesome`.

# Proposed Solution

Download the zip file of assets at https://use.fontawesome.com/releases/v5.12.0/fontawesome-free-5.12.0-web.zip and install it locally at /libraries.

[2020-03-31 19:43] dnkemper commented on #661
@joewhitsitt I can quick do that!

[2020-03-31 21:08] pyrello commented on #137
I think that this is a good idea and I don't have another idea about how to make it work, so I'm for it :)

[2020-03-31 21:16] pyrello commented on #1303
I guess I was thinking that the role of the PR on the board is solely for being aware of what work needs to be done in terms of reviewing and testing. They wouldn't be placed on the board until they were at that point. I don't think that PR's need to have a relation to the stories of the tasks that spawned them outside of the issue linking which allows them to automatically close an issue. On the

[2020-04-01 01:18] richardbporter opened #1310 "InvalidArgumentException: The timestamp must be numeric."
https://diversity.uiowa.edu/news/feed/media-advisory-columbus-junction-students-visit-ui-explore-health-science-careers-april-10/all

InvalidArgumentException: The timestamp must be numeric. in Drupal\Component\Datetime\DateTimePlus::createFromTimestamp() (line 198 of .../docroot/core/lib/Drupal/Component/Datetime/DateTimePlus.php)

[2020-04-01 13:30] richardbporter opened #1311 "Site create/delete command does not indicate application in commit message."
There is no indication of which application a multisite is created/deleted on when `uiowa:multisite:create/delete` is executed.

Since multiple sites can be created/deleted in one PR, adding the `$app` variable to the individual commit messages seems logical.

https://github.com/uiowa/uiowa/blob/master/blt/src/Blt/Plugin/Commands/MultisiteCommands.php#L619

https://github.com/uiowa/uiowa/blob/mast

[2020-04-01 13:31] richardbporter commented on #1310
Noticed this in while log streaming in prod. Haven't fully investigated yet.

[2020-04-01 13:43] pyrello commented on #1303
As a follow-up to the idea of using a PR on the board to represent reviewing/testing work, I think that if you are the one reviewing a PR, you should assign it to yourself? Then it will show up on the board with your avatar in the lower right corner.

[2020-04-01 13:58] #1227 closed, assigned to nobody

[2020-04-01 14:52] richardbporter commented on #1249
Does redirecting via htaccess make this any easier?

[2020-04-01 16:59] bspeare opened #1312 "Change date format in uiowa_alerts module"
# Problem

 The current date format for the uiowa_alerts module is: `03-01-2020 7:35 am`

# Proposed Solution

Change to something more readable like: `March 1, 2020 - 7:35am`

[2020-04-01 17:08] richardbporter commented on #1289
@bspeare Any ideas on this one?

[2020-04-01 17:11] bspeare commented on #1289
@richardbporter I'll take a look!

[2020-04-01 18:31] inspector508 opened #1315 "Search field in uiowa.edu"
Guessing this goes to Ben S.??
When a user expands the search region, the actual search field is several tab stops backward. Can we send focus to the search form field on expand?

[2020-04-01 18:36] bspeare commented on #1315
@inspector508 I think that fix is coming in an update later today.  I'll ping you to verify when it is up on the stage site.

[2020-04-01 18:47] bspeare commented on #1289
@richardbporter Do you get the error locally? It might have something to do with the SourceMap path when it's on stage.   Do you see any options here that might help us move forward? https://blog.sentry.io/2018/10/18/4-reasons-why-your-source-maps-are-broken.

[2020-04-01 19:35] #1306 closed, assigned to richardbporter

[2020-04-01 20:49] richardbporter commented on #1289
I swear I have seen it locally but I can't reproduce consistently now.

[2020-04-01 21:49] mark-bennett-uiowa commented on #1249
This is a concern we have also moving forward. Our solution is to put htaccess redirects in for individual subdirectory sites to their new subdomain replacement, but not for individual pages. Architecture will change dramatically for our sites, as sites will be redesigned according to a more consistent structure. The sheer number of redirects that would be needed makes this undesired, especially t

[2020-04-01 21:53] bspeare commented on #1315
@inspector508 This fix should be up on stage now.

[2020-04-02 00:18] joewhitsitt commented on #1249
What made this difficult was distractions and some data massaging. This should be good now though it relies on an uncommitted patch. I'll watch the issue and the current homepage for new redirects and match redirects until go-live. I hope there isn't a lot of edits to existing redirects.

[2020-04-02 13:41] richardbporter commented on #1289
Looks like SASS maps get removed from the build artifact during deployment which is probably better for performance. They might not even work with aggregation anyway.

I think `blt frontend` should be refactored to run a production build and omit the SASS map comments, which would "fix" this. This is probably related to https://github.com/uiowa/uids/pull/73 and could potentially be done together.

[2020-04-02 14:54] #1305 closed, assigned to richardbporter

[2020-04-02 17:05] joewhitsitt opened #1322 "[Story] As a visitor to a drupal based website, I will see the BlockIowa wordmark/logo"
- [x] uiowa/uiowa_bar/pull/48 Merge for 7.x - 2.x uiowa_bar
- [x] uiowa/uiowa_bar/pull/57 Merge for 7.x - 3.x uiowa_bar
- [x] uiowa/uiowa/pull/1673 Merge/Deploy update for D8 uiowa_bar
- [x] merge uiowa_bar_wordmark_swap on 701-3 and deploy (same as 7.x-3.x)
- [x] Communicate to Drupal developers on campus that they should update their "rogue" implementations similar to uiowa/uiowa_bar/pull/48

[2020-04-02 17:14] joewhitsitt commented on #1322
I got uiowa_bar_wordmark_swap branches setup to merge on 701-3 applications now that the uiowa_bar has been updated and the applications have been converted to monorepos and no longer pull from the uiowa_bar repo.

[2020-04-02 17:21] pyrello opened #1323 "Refactor uiowa_alerts block to use dependency injection to avoid PHPCS warnings"
The uiowa_alerts module defines a custom block plugin that triggers a PHPCS warning:
[code]

Here is an article I have found describing how it would be done: https://drupal.stackexchange.com/questions/239783/how-to-use-dependency-injection-for-plugins-blocks-drupalformbuilder-and

[2020-04-02 17:32] joewhitsitt commented on #1322
Most of this issue is now blocked (merges at go-live, consumable uids version to replace static), but I am drafting a message to send to developers and working with Brian to get a list of emails to send to

[2020-04-02 23:46] dnkemper commented on #1304
# PARAGRAPH DISCREPANCIES
| *UIOWA BLOCKS NOT IN SITENOW*  | *SITENOW PARAGRAPHS NOT IN UIOWA*  |
|  -------------  |    -------------    |
|  Banner  |    Carousel (& Carousel Image)  |
|  CTA  |    Blockquote   |
|  Hero |    Accordion (& Accordion Item)  |
| Page Title Hero  |  Featured Content (Article, Page, Person) |
| Spacer/Separator  |  - |
|  Statistic  |    -   |
|  Vertical Video  |

[2020-04-03 03:40] pyrello commented on #1304
Wow! Nice work so far, @dnkemper!

[2020-04-03 03:45] pyrello opened #1324 "As a SiteNow developer, I can deploy a theme that uses UIDS with paragraphs"
# Next steps
- [x] #1465 Create story task for Events display to use event component styles
- [x] Article page design https://github.com/uiowa/uiowa/issues/1421
- [x] As a SiteNow user, I can view all uses of the card component as "done"  https://github.com/uiowa/uiowa/issues/1405
- [ ] #1373 Build generalized/abstract templates in uids_base for all UIDS components. @pyrello
- [x] #1397 Update Loc

[2020-04-03 13:27] mjoneill opened #1325 "[Task] Identify schemas to use/make available for various content types"
Look at the basic content types in coronavirus.uiowa.edu (Sitenow D8 standard site) and identify which schemas we want available for which content types.

- [ ] Basic Page (content description and featured image)
- [x] Article (article summary and featured image)
- [x] Person (short bio and featured image)
- [ ] /people
- [ ] /news

Parent: #1290

[2020-04-03 13:45] mjoneill opened #1326 "[Task] Implement Google Search Schema on new uiowa.edu home page"
Add Google Search schema to uiowa.edu.

- [x] @mjoneill to capture specification/code for search schema
- [ ] Developer add it to site

Parent: #1290

[2020-04-03 14:28] pyrello commented on #1276
I think this is a duplicate (essentially) of #1277

[2020-04-03 14:28] #1276 closed, assigned to nobody

[2020-04-03 14:31] pyrello commented on #1279
I think this task is captured in the other tasks in the #1275 story.

[2020-04-03 14:31] #1279 closed, assigned to nobody

[2020-04-03 14:56] pyrello commented on #1324
There is some overlap with this story and https://github.com/uiowa/uids/issues/79

[2020-04-03 15:37] joewhitsitt opened #1327 "[Story] As a visitor to sitenow based sites, I can see our new branded favicon."
- [x] Obtain new Block I in necessary sizes
- [x] update profile assets for SiteNow v2
- [x] update #1322 branch's uiowa_favicon module for 701-3.
- [x] Merge/Deploy #1337
- [x] Merge/Deploy `uiowa_bar_wordmark_swap` branches on 701-3

[2020-04-03 15:44] joewhitsitt opened #1328 "[Story] As a site owner, I see both the campus-wide GTM and a local GTM loaded"
Additionally, if I, the site owner, abuse the functionality, an administrator can turn it off without having access to the account.

- [x] Implement Campus-wide GTM in a uiowa_core module that all SiteNow profile have enabled.
- [x] Local GTM https://github.com/uiowa/uiowa/issues/1128
- [x] Feature branch update uiowa_bar to remove gtag stuff.
- [x] New release of uiowa_bar that is deployed at the

[2020-04-03 15:54] joewhitsitt commented on #1322
Contacted the drupal developers that are responsible for their implementations of the uiowa_bar.

[2020-04-03 16:10] #1249 closed, assigned to nobody

[2020-04-03 16:29] joewhitsitt commented on #1128
The plan is to move forward with this with the following adjustments:

- as part of uiowa_core module which is turned on for all sitenow sites.
- functionality kill/disabled switched by default. controlled by an administrator as part of a pilot project launch. see how it goes, refine and possibly turn it on by default after that.

[2020-04-03 16:33] #1291 closed, assigned to joewhitsitt

[2020-04-06 03:15] pyrello commented on #1324
@bspeare One thing that will need to be figured out as part of any transition from uiowa_bootstrap to uids_base is how to adapt column layouts from bootstrap into uids.

Currently, SiteNow uses a field attached to each paragraph type as a meta field that allows the user to select the the column width:
https://github.com/uiowa/uiowa/blob/d0c613d47f4eddfdb3a8f7b47d4abed5449a77e8/docroot/modules/cust

[2020-04-06 12:59] bspeare commented on #1324
@pyrello I'd like to set something up to use in UIDS that we can utilize within uids_base that accommodate those classes.

[2020-04-06 13:07] bspeare commented on #1324
Something like https://hacks.mozilla.org/2017/04/replace-bootstrap-layouts-with-css-grid/ looks like a good place to start.

[2020-04-06 14:43] bspeare opened #1335 "Responsive images are not applied when trying to update image media style in WSYIWYG"
# Problem

If you try to update the responsive image media style of an image in the WYSIWYG editor on uiowa.edu, the format will not save.

<img width="1252" alt="Screen Shot 2020-04-06 at 9 40 54 AM" src="https://user-images.githubusercontent.com/1036433/78570693-ebc79680-77ea-11ea-87ae-a35325f2ee80.png">

<img width="1329" alt="Screen Shot 2020-04-06 at 9 41 17 AM" src="https://user-images.githu

[2020-04-06 15:21] pyrello commented on #1304
Here is my own stab at making a comparison, with just the card component: https://gist.github.com/pyrello/c42d50b20d83c9840970af6950a87534

My comparison in intentionally stripped down with regard to the level of detail so that it can be focused on what choices need to be made about UIDS.

[2020-04-06 16:31] joewhitsitt commented on #1324
The video/description section on https://brand.prod.drupal.uiowa.edu/ is an example of the col-md(fluid)/col-md-4 but I think the problem I ran into earlier in trying to switch to CSS Grid was where the fluid could come at unexpected times (middle, end) and amongst a wrap. See the Trying to break things... section of this codepen: https://codepen.io/joewhitsitt/pen/yLNzOYE

[2020-04-06 16:59] pyrello commented on #1324
@joewhitsitt Thanks for the example! I was using the demo site to work against, but I think I'll start using the brand site, both for the reasons discussed in our meeting earlier and because of this.

[2020-04-06 18:24] mjoneill commented on #1326
FYI: This is what this about...

https://developers.google.com/search/docs/data-types/sitelinks-searchbox

Will furnish schema shortly...

[2020-04-06 18:44] richardbporter opened #1338 "Path alias %files does not work with Drush rsync"
[code]

[2020-04-06 19:22] bspeare opened #1340 "Change Text (plain, long) in uiowa_blocks to Text (formatted, long)"
# Problem

A few of the fields used in the uiowa_blocks are set to Text (plain, long) when they need to be Text (formatted, long).

**Card**
https://github.com/uiowa/uiowa/blob/master/docroot/profiles/custom/sitenow/config/sync/field.field.block_content.uiowa_card.field_uiowa_card_excerpt.yml

**Banner**
https://github.com/uiowa/uiowa/blob/master/docroot/profiles/custom/sitenow/config/sync/field.s

[2020-04-06 19:27] mjoneill commented on #1326
[uiowa-search-action-json.txt](https://github.com/uiowa/uiowa/files/4440428/uiowa-search-action-json.txt)

json in the attached file needs to be expressed in the <head> section of the front page (only) of the new uiowa.edu.

Preferably right before (or after) the CollegeorUniversity schema (#1291).

@joewhitsitt

[2020-04-06 19:50] joewhitsitt commented on #1326
To match this, we will need to try a patch for output that is to Google's liking: https://www.drupal.org/project/schema_metatag/issues/3055278

[2020-04-07 16:06] bspeare opened #1345 "Adjust uids_base admin styles to work with layout_builder_claro module"
# Problem

There are a few style tweaks that need to be addressed with the integration of the layout_builder_claro module.

# Proposed Solution

Add custom style overrides to admin.scss in uids_base to address the styles.

[2020-04-07 17:02] bspeare commented on #1324
@joewhitsitt I think this addresses the issue that you pointed out with CSS Grid: https://www.smashingmagazine.com/2017/09/css-grid-gotchas-stumbling-blocks/#should-grid-be-used-for-main-layout-and-flexbox-for-components.    After reading this, it sounds like your setup with SiteNow is geared toward Flex Layout and we should probably keep it that way - is that your impression?

[2020-04-07 17:28] joewhitsitt commented on #1324
Yes, leave it to smashing to articulate what I was trying to say. If we could stay _flex_ -ible and still adopt uids_base, I think that alleviates my concern surrounding the "fluid" option currently used across several sites.

The column width field on paragraph content blocks is the only place I think SiteNow is using the fluid option.

[2020-04-07 17:33] #1246 closed, assigned to nobody

[2020-04-07 18:36] bspeare commented on #1324
So maybe for a `POC` for SiteNow integration I will add a specific SiteNow layouts.scss file in uids_base that uses `bootstrap-grid.css` but updated with breakpoint variables and container widths from UIDS.   How does that sound?

[2020-04-07 18:46] joewhitsitt commented on #1324
`poc` sounds fine. i am fine with stripping out all of the bootstrap classes and framework dependencies as time allows and using uids_base mixins for flex where we can to continue to support these options

[2020-04-07 20:23] pyrello commented on #1304
@joewhitsitt I would like to suggest that we narrow the scope of this a little bit, as I think what has been produced as a result of it is a little overwhelming and that makes it hard to take away actionable tasks.

As a starting point, I think that the uiowa_blocks and sitenow paragraphs should be compared just in terms of which fields they have and what changes UIDS will need to make to accommod

[2020-04-07 20:26] dnkemper commented on #1304
@pyrello @joewhitsitt I can set that up real quick and remove the extra details!

[2020-04-07 20:54] joewhitsitt commented on #1304
Sorry, I have not been paying attention to this and have become lost across all of the related issues. I suggest @GaryRidgway and @dnkemper come to standup parking lot tomorrow morning so we can all get on the same page.

[2020-04-07 20:57] dnkemper commented on #1304
I'll focus on this for the rest of today... My boss has had me working on SiteNow. So I haven't had time. Sorry everyone!

[2020-04-08 04:09] pyrello opened #1347 "Investigate options for handling collections of items in LB"
Examples: accordion, tabs, carousel.

One idea is to use https://www.drupal.org/project/entity_browser_block and https://github.com/Lullabot/entity_browser_block_layout to make it possible to select custom block types via and entity browser interface with enhancements that help it work on Layout Builder.

This is something that came up at DrupalCon last year and I never managed to check it out the

[2020-04-08 13:31] mjoneill commented on #1326
@joewhitsitt This looks pretty solid.  I had a bit of confusion based on a change to how Google's testing tool/linter shows the results...but the source looks to be spot on.

I'd consider this accepted.

Only needs to be expressed on front page of the site.

[2020-04-08 13:35] mjoneill opened #1348 "Add schema for academic departments"
- [ ] @mjoneill to provide reference json, explanation, answer questions, etc.
- [ ] Implement schema in cms

Parent Story: #1290

[2020-04-08 13:35] mjoneill opened #1349 "Add schema for colleges"
- [x] @mjoneill to provide reference json, explanation, answer questions, etc.
- [ ] Implement schema in cms

Parent Story: #1290

[2020-04-08 13:36] mjoneill opened #1350 "Add FAQ Schema for Basic page and/or Accordion"
- [ ] @mjoneill to provide reference json, explanation, answer questions, etc.
- [ ] Implement schema in cms

Reference documentation or FAQ schema here:
* https://developers.google.com/search/docs/data-types/faqpage
* https://schema.org/FAQPage

Parent Story: #1290

[2020-04-08 13:40] mjoneill opened #1351 "Add schema for non-academic units/departments"
- [ ] @mjoneill to provide reference json, explanation, answer questions, etc.
- [ ] Implement schema in cms

Parent Story: #1290

[2020-04-08 13:40] mjoneill opened #1352 "Add Alert Schema"
- [ ] @mjoneill to provide reference json, explanation, answer questions, etc.
- [ ] Implement schema in cms

Reference material:
* https://schema.org/SpecialAnnouncement
* https://developers.google.com/search/docs/data-types/special-announcements. <--Covid specific info.  Not sure we need to do this....but it is worth noting that many of the elements here are directly applicable to us/our mission

[2020-04-08 14:55] bspeare commented on #1324
@joewhitsitt Do you have a list of the bootstrap classes that are being applied programmatically?  Is this the list: https://github.com/uiowa/uiowa/issues/260?

[2020-04-08 15:03] richardbporter commented on #1282
I think this story is complete. A few follow ups could be to lazy load the vertical video placeholder images. We may need to measure the pros/cons of so many HTTP requests for each of the components versus aggregating them.

[2020-04-08 15:03] #1282 closed, assigned to nobody

[2020-04-08 15:37] joewhitsitt opened #1354 "Deprovision iniworkshop.centerforconferences.uiowa.edu, i​niworkshop2019.centerforconferences.uiowa.edu"
There was a 6-month hold on these sites which expired April 8, 2020.

The domains for these have already been reclaimed by hostmaster, but the sites still live at the internal production domains.

Update the spreadsheet(s) so that they are not contacted about Drupal 8.

[2020-04-08 15:48] joewhitsitt commented on #1324
It is dated and incomplete. I will take some time and update that issue.

[2020-04-08 16:10] pyrello opened #1355 "Allow webmaster role to choose unpublished node as parent menu item"
What the webmaster sees:
<img width="469" alt="Screen Shot 2020-04-08 at 11 08 49 AM" src="https://user-images.githubusercontent.com/709009/78807217-5e6e7880-7989-11ea-91fc-2d9a73c343b5.png">

What the administrator sees:
<img width="466" alt="Screen Shot 2020-04-08 at 11 07 11 AM" src="https://user-images.githubusercontent.com/709009/78807248-66c6b380-7989-11ea-8a24-4512524a9d4a.png">

The admini

[2020-04-08 16:16] joewhitsitt commented on #1355
Concerns beyond the help text associated with that particular permissions? No. It does make me think about the future #748 issue and how it applies to the webmaster role. If this is a need now though, we can deal with issues related to that later.

[2020-04-08 16:42] joewhitsitt commented on #260
@bspeare I have gone through and updated the list for field data and programmatic attribute additions. I think existing custom sites are also accounted for.

[2020-04-08 17:04] pyrello commented on #1355
Yes, understanding there are potential security implications of giving that permission to any role, let's also consider the additional help text: *"View, edit and delete all content regardless of permission restrictions."* Are there use cases where we don't want webmasters to be able to have that level of access to all content on the site?

[2020-04-08 17:53] joewhitsitt commented on #1355
I can think of a couple webmasters out there, but I think moving forward with this is fine.

[2020-04-08 18:01] pyrello commented on #1355
@richardbporter @bspeare @briand44 Any concerns about this change?

The proposed change is adding the "Bypass content access control" to the webmaster role.

[2020-04-08 18:10] bspeare commented on #1355
No concerns here.

[2020-04-08 18:15] richardbporter commented on #1355
I'm not planning on creating content that I don't want a webmaster to have access to.

[2020-04-08 18:33] briand44 commented on #1355
To be honest, I don't love the idea of granting this permission. I can't think of any issues it would cause right now though but possibly in the future. I know in D7 we had content that was imported or something that we didn't allow webmasters to edit because it could break things.

[2020-04-08 18:39] joewhitsitt commented on #1355
In D7, we had use-cases where we would establish a piece of content (basic page as the front page) where we didn't want people to accidentally delete because of assumptions made on the node id. My understanding is that this would allow them to bypass that specific restriction.

In D8 Sitenow, we are preventing front page deletion until they assign a new page.
https://github.com/uiowa/uiowa/blob/ma

[2020-04-08 18:50] pyrello commented on #1355
If there is not consensus around implementing this at the SiteNow level, I can also add it to the Collegiate split or I can also implement a grad-specific split. I'm going to need this functionality on every site I build and at the moment I don't have time to chase down the reasons why this permission is the only way to make this functionality work.

@briand44 We can also implement this now as a s

[2020-04-08 18:51] GaryRidgway opened #1356 "As a site editor, I should be able to utilize any webform component available to me, and have it styled with the uids_base theme"
- [x] 1. Identify the necessary components that need styling for webforms
- [x] 2. Discuss aesthetic with team, decide on look and feel.
- [x] 3. Style components based on discussions had with team, keeping in mind they will be ported eventually to the UIDS.
- [x] 4. Request peer review of these components
- [x] 5. Repeat styling until satisfactory.
- [x] 6. Back-port and refactor component styles

[2020-04-08 18:58] joewhitsitt commented on #1355
I just confirmed that this permission does **not** let webmasters get around the front page deletion code in sitenow.profile

[2020-04-08 19:16] GaryRidgway opened #1357 "Webform UIDS Update - All fields"
All fields can have a Description, Help text, and More text, and need styles for each of these components.

[2020-04-08 19:21] briand44 commented on #1355
Since we are not aware of any issues this currently causes with SiteNow, it can be added there and moved later if it ever becomes an issue.

[2020-04-08 19:33] GaryRidgway opened #1358 "Webform UIDS Update - User addable components"
Many components Allow the user to add more of them. This can be limited, or unlimited based on the configuration given to the user. when this option is given to the user, the following things are displayed and need to be styled:

- [x] a set of draggable handles is presented to reorder their responses
- [ ] role weights are allowed as a secondary ordering system
- [x] +/- symbols are added to allo

[2020-04-08 21:46] pyrello opened #1361 "Configure meta tags for open graph"
I was just sending a link to the new uiowa.edu site and noticed that it doesn't have a preview image when sent over Apple messages:
<img width="211" alt="Screen Shot 2020-04-08 at 4 40 51 PM" src="https://user-images.githubusercontent.com/709009/78836706-42360000-79b8-11ea-9f62-fcd062d34ffb.png">

I also checked FB and its a similar situation:
<img width="502" alt="Screen Shot 2020-04-08 at 4 42 0

[2020-04-09 14:33] #1355 closed, assigned to nobody

[2020-04-09 14:35] pyrello commented on #748
This is functionality that I am interested in for at least the Graduate College site. We are using this on our D7 site to control page access by editorial group.

I'm not sure there is a use case for me on the rest of my sites as the teams that manage them are pretty small.

[2020-04-09 15:03] #1326 closed, assigned to joewhitsitt, mjoneill

[2020-04-09 16:58] #1354 closed, assigned to dnkemper

[2020-04-09 17:14] joewhitsitt commented on #1354
👍

[2020-04-09 17:24] bspeare commented on #1233
After looking at lb_claro a bit further, it might be worth postponing this and making a few adjustments to the `uids_base` admin.scss.

[2020-04-09 17:50] mjoneill opened #1364 "[Story] As a reviewer, I can follow a link from any page on the stage site and submit feedback"
- [x] Convert current mailto link to webform.

Can't happen until we are live and/or we go to production.

[2020-04-09 20:29] richardbporter commented on #1275
Do we want active Hawk Alerts to display while logged in? I would think, yes?

[2020-04-09 20:35] bspeare opened #1365 "Remove sticky header when editing layout builder pages"
# Problem

The sticky header creates overlap issues when you try to expand the layout builder edit tray.

<img width="1608" alt="Screen Shot 2020-04-09 at 3 31 50 PM" src="https://user-images.githubusercontent.com/1036433/78938274-8cca8180-7a77-11ea-92e4-91fdc832aef2.png">

# Proposed Solution

Remove  from sticky header on admin edit pages.

[2020-04-09 20:47] mjoneill commented on #1275
I vote yes..  that feels like the right answer, provided it doesn't expose a whole dimension of pain to make it do that.

^^^ also, not incredibly passionate about this.  So I'd defer to someone with a strong opinion, even if it's in the opposite direction.

[2020-04-09 20:56] #1284 closed, assigned to nobody

[2020-04-09 20:57] pyrello opened #1366 "Improve Layout Builder drag handle"
Layout builder has a hidden drag handle:
<img width="442" alt="Screen Shot 2020-04-09 at 4 21 02 PM" src="https://user-images.githubusercontent.com/709009/78942001-5f350680-7a7e-11ea-805b-6250ba080e6a.png">

It can be a very useful tool when it works right, but sometimes, when using it, the settings tray develops a gap on the right hand side that gets larger each subsequent time it gets moved.
<im

[2020-04-10 15:42] bspeare opened #1368 "Investigate adding critical_css module"
# Problem

We have a 2s page rendering block on uiowa.edu that slows down the page load on mobile.

# Proposed solution

Add https://github.com/addyosmani/critical to our gulp process so that we have the `critical.css` file ready to use with https://www.drupal.org/project/critical_css when the time comes.

[2020-04-13 13:32] mjoneill commented on #1349
[school-college-json.txt](https://github.com/uiowa/uiowa/files/4469676/school-college-json.txt)

The above schema should be on the front page (only) of colleges and school sites.  So:
* Law
* Education
* Business
etc...

It links to the UIowa.edu schema.  <--- this is an important mechanism to establish the semantic relationship and avoid duplication of data.

@joewhitsitt

[2020-04-13 16:02] #1311 closed, assigned to dnkemper

[2020-04-13 17:31] pyrello opened #1373 "Build generalized/abstract templates in uids_base for all UIDS components"
# Elements
- [x] Button
- [x] Link
- [x] Image
- [ ] List

# Items
- [x] Accordion item
- [x] Banner
- [x] Blockquote
- [x] Card
- [x] Slider item
- [ ] CTA
- [ ] Event
- [x] Hero
- [ ] Image
- [ ] Stat

# Collections
- [x] Slider
- [ ] Image gallery
- [ ] Event listing

[2020-04-13 18:06] mjoneill opened #1374 "[Story] Launch Day Checklist"
The following should be/need to be done on launch day.

UIowa.edu
- [x] Move uiowa.edu, www.uiowa.edu domain from uiowa701 to uiowa01.
- [x] Clear Varnish for uiowa.edu, www.uiowa.edu.
- [x] Remove uiowa.prod.drupal.uiowa.edu domain from uiowa01 prod env.
- [x] Sync uiowa.edu D7 database and files to dev environment.
- [x] Move uiowa dev domain to uiowa701 dev environment.
- [ ] Launch announcemen

[2020-04-13 18:21] mjoneill commented on #1348
[academic-department-json.txt](https://github.com/uiowa/uiowa/files/4471059/academic-department-json.txt)

This is the schema for an academic department within a school/college.

* The MakesOffer attribute...not sure if it belongs at the department or college (or both).  Room for further exploration and adding more attributes, as I'm pretty sure the specification has grown since first implemented.

[2020-04-13 18:22] mjoneill commented on #1348
<img width="688" alt="image" src="https://user-images.githubusercontent.com/7144234/79147607-cf4ad180-7d89-11ea-8098-f8cd568d5386.png">

FWIW ^^^ rich snippet related to Offer.

[2020-04-13 18:30] dnkemper commented on #545
Deprovisioned site.

[2020-04-13 18:30] #545 closed, assigned to nobody

[2020-04-13 18:34] mjoneill commented on #1351
[non-academic-depts-json.txt](https://github.com/uiowa/uiowa/files/4471141/non-academic-depts-json.txt)

Reference schema.  This one is type: Organization.  There is a lot of overlap between attributes here between Org, EducationalOrg, CollegeOrUniversity, etc.  It's probably worth implementing simlarly to how we've implemented Article and article subtypes (webmaster / site admins determines the t

[2020-04-13 18:43] mjoneill commented on #1350
Unless we were to create a new content type for FAQ questions and answers, I think this only becomes available as an option if/when accordions are used.  The schema is constructed by elements of the accordion...

Note: Not all accordions will be FAQs.

[2020-04-13 18:44] mjoneill commented on #1350
[faq-json.txt](https://github.com/uiowa/uiowa/files/4471198/faq-json.txt)

Reference file from Google.

@joewhitsitt

[2020-04-13 18:58] joewhitsitt opened #1375 "Docs - Document Site Specific Google Tag Manager"
As a follow up to #1328

- This is available for webmasters to configure, but they need ITS to turn it on so mention the help desk.
- There is wiki docs for developers related to this with a canned response about us having the right to shut it down that should be included. https://wiki.uiowa.edu/display/drupaldev/Google+Tag+Manager

[2020-04-13 19:00] mjoneill commented on #1352
[faq-json.txt](https://github.com/uiowa/uiowa/files/4471268/faq-json.txt)

Reference json...

[2020-04-13 19:08] mjoneill commented on #1290
@joewhitsitt I have a full person specification I've provided for the people directory integration.  Do we have a separate non-apr integration People content type for which that would be useful?

[2020-04-13 19:09] mjoneill commented on #1290
@joewhitsitt We've built JobListing and Event schema as well.  I'm assuming that there are no content types for either of those outside of the Event system and the HR Jobs system. Can you let me know if these are content types that are used elsewhere outside of those systems? If so, I can furnish schema.

[2020-04-13 19:18] bspeare opened #1376 "Investigate mapping sitenow article list to card component"
# Problem

In https://github.com/uiowa/uiowa/pull/1334 the article list default, grid, and masonry options are extending most of the card component styles.    The problem is that views markup doesn't reflect the structure of the card component templates.

<img width="1180" alt="Screen Shot 2020-04-13 at 2 16 52 PM" src="https://user-images.githubusercontent.com/1036433/79152237-741cdd00-7d91-11ea-

[2020-04-13 19:57] joewhitsitt commented on #1290
SiteNow v2 comes with:
- a non-APR content type for person. I am not aware of any D8 work being done for APR.
- events that are pulled dynamically from content.uiowa.edu and can be reworked to provide additional schema/metatag data based on the information coming from content.uiowa.edu

[2020-04-13 20:01] joewhitsitt commented on #1352
Should this be incorporated into #1275?

[2020-04-13 20:02] joewhitsitt commented on #1349
Should this be incorporated into https://github.com/uiowa/uiowa/issues/1272?

[2020-04-13 20:02] joewhitsitt commented on #1348
Should this be incorporated into https://github.com/uiowa/uiowa/issues/1272?

[2020-04-13 20:09] joewhitsitt commented on #1350
Given that accordions (like you said, not always FAQs) could be on any page (multiple sets even), the only way I can see effectively managing this is to provide a checkbox option on Accordion like "Is this a set of Frequently Asked Questions". If checked, we would programmatically turn the title/contents into schema and find a way to append this to the application/ld+json markup. Then this functio

[2020-04-13 21:13] mjoneill commented on #1348
@joewhitsitt @pyrello I can see a potential intersection there...  What type of site is this:

* College
* department
* Museum
* non-academic unit
* Library
* MedicalOrganization
* Other

Pretty sure there are schema types for all of those (except Other)...

Conversely, we don't necessarily have to couple #1272...

[2020-04-13 21:15] mjoneill commented on #1352
@joewhitsitt Yes, we can incorporate it...  if the opportunity is there and we want to pull it.  If it's going to add more uncertainty about getting it to done, I would be fine with pulling into a future sprint.

[2020-04-13 21:18] joewhitsitt commented on #1352
It looks like Rick is close on 1275 so, let's just plan to follow up on this one.

[2020-04-13 21:21] joewhitsitt commented on #1348
Let's hold off on trying to cram this into 1272, but I think we should be prepared to extend this form more to capture all of the necessary bits based on type.

[2020-04-14 14:03] mjoneill commented on #1349
I think we have flexibility as to when we should pull it in. Glad to defer to when it makes sense from a dev perspective.  Now/later...  whoever is closest to the work can inform this.

[2020-04-14 14:05] mjoneill commented on #1350
@joewhitsitt Yep.  I would be fine (for now) of having that limitation. If we learn through usage that this is inhibiting someone, we can look at it again.

Conversely, if you know right now that we need to extend this scope, speak up.

[2020-04-14 14:59] joewhitsitt opened #1378 "Preview link when editing returns server error 500"
## Problem
Customer reporting that they cannot use Preview link when editing content… it returns a 500 error.

## Notes
This might be another issue related to https://github.com/uiowa/uiowa/pull/1268

[2020-04-14 15:52] joewhitsitt opened #1379 "uiowa.edu - vertical video captions still show under overlay when paused"

[2020-04-14 16:22] bspeare commented on #1379
And the overlay shows on top of video when playing in Android.

[2020-04-14 18:03] #1378 closed, assigned to joewhitsitt

[2020-04-14 18:58] richardbporter opened #1382 "UMI fails randomly on uninstalled sites"
Similarly to https://github.com/uiowa/uiowa/issues/488, we should throw a `cache:rebuild` into UMI before invoking `blt drupal:install`.

https://github.com/uiowa/uiowa/blob/master/blt/src/Blt/Plugin/Commands/MultisiteCommands.php#L173

[2020-04-14 19:51] joewhitsitt commented on #1335
https://www.drupal.org/project/drupal/issues/3102249

[2020-04-14 19:58] joewhitsitt commented on #798
Closing for now. The spam has been reduced utilizing the timeout option

[2020-04-14 19:58] #798 closed, assigned to joewhitsitt

[2020-04-15 15:54] #1275 closed, assigned to pyrello, richardbporter

[2020-04-15 15:54] #1277 closed, assigned to nobody

[2020-04-15 15:54] #1278 closed, assigned to nobody

[2020-04-15 15:54] #1280 closed, assigned to nobody

[2020-04-15 15:54] #1312 closed, assigned to nobody

[2020-04-15 15:54] #1323 closed, assigned to nobody

[2020-04-15 18:06] joewhitsitt commented on #859
Something that came up today which may extend beyond the helpdesk, but SEO support could be extended with the same role. Particularly, Michael and other SEO trained folks could be invited into a website to setup proper schema organization information for the website front page.

[2020-04-15 19:36] #1335 closed, assigned to joewhitsitt

[2020-04-15 19:38] GaryRidgway opened #1386 "SSL cert - add advisingcenter.uiowa.edu"
uiowa01

[2020-04-16 15:50] joewhitsitt opened #1391 "[Story] As a site editor, I can see a similar Drupal 8 backend theme across campus"
## Problem
The backend experience is fragmented across D8 sites and relying on Adminimal to be ready for D9 is one more thing we have to think about later.

## Proposed Solution
Revisit adopting Claro for the base profile and switch all sites over to use it once we have ironed out a few issues that remain with the experimental theme as it relates to Paragraphs.

- [x] Port and adapt the space savi

[2020-04-16 15:59] joewhitsitt opened #1392 "People Paragraph Bundle"
## Problem
We didn't quite reach feature parity with SiteNow v1 when it comes to people. Site owners are requesting a way to create dynamic lists of filtered people on their sites. The current option is to either use the full people listing or to manually curate people via featured content.

## Proposed Solution
Similar to the Articles paragraph bundle, create one that handles people. Start with a

[2020-04-16 16:53] #1273 closed, assigned to nobody

[2020-04-16 16:53] #1328 closed, assigned to joewhitsitt

[2020-04-16 18:25] richardbporter opened #1393 "Webmasters on uiowa.edu do not have permission to administer uiowa_alerts"
I must have overlooked this when reverting the platform-wide change.

[2020-04-16 18:28] richardbporter opened #1394 "The uiowa_alerts module is not enabled for all sites."
We either need to replicate the styles in uiowa_bootstrap or wait for #371.

[2020-04-16 18:29] bspeare opened #1395 "Webmasters on uiowa.edu don't have permissions to upload video files"
# Problem

Webmasters are unable to upload remote video to uiowa.edu:

 <img width="1544" alt="screen_shot_2020-04-15_at_3 52 08_pm" src="https://user-images.githubusercontent.com/1036433/79492713-fbfb2500-7fe5-11ea-99fa-0bed74312b3f.png">

This is how it should appear:

<img width="1075" alt="Screen Shot 2020-04-16 at 1 28 25 PM" src="https://user-images.githubusercontent.com/1036433/79492857-38c

[2020-04-16 18:31] pyrello opened #1396 "Add some validation to parent org URL"
For example, should we enforce?
* Always using 'https://'
* Always adding or removing the trailing slash to/from the URL

[2020-04-16 18:40] #1382 closed, assigned to richardbporter

[2020-04-16 18:41] joewhitsitt opened #1397 "Brand - Update Lockup form to use UIDS"
## Problem

The form was styled using uiowa_bootstrap. Since there is a push to get brand on uids_base this should be done as well.

[2020-04-16 18:52] pyrello opened #1398 "Update uids_base.settings config through update hook"
Since `uids_base.settings` are ignored by config, the changes that happened in #1330 were not able to be propagated to all sites via the managed config process. There is a workaround to prevent issues with calling the correct header template in the `uids_base.theme`, but it would be nice to get the theme settings that are stored on all sites up-to-date with recent changes so that the workaround ca

[2020-04-16 19:04] richardbporter opened #1399 "Local video text transcript has wrong mime type"
Console error: `Resource interpreted as TextTrack but transferred with MIME type text/plain`

Can be seen in the console on the front page: https://uiowa.stage.drupal.uiowa.edu/

[code]

[2020-04-16 19:11] bspeare opened #1401 "Document potential changes by users for sitenow uids_base roll out"
- [ ] Section card alignments set to "none" if you want equal height cards
- [ ] Remove `<p>` or `<h2>` empty tags since padding has increased since `uiowa_bootstrap`
- [ ] Extra padding classes on sections might create a lot of extra padding
- [ ] `<p>` tags inside `<li>` tags will create extra spacing on list items
- [ ] Footer lockup logos removed and available at...? #1829
- [ ] Footer menus h

[2020-04-16 20:22] #1393 closed, assigned to nobody

[2020-04-16 20:24] #1272 closed, assigned to pyrello

[2020-04-16 20:31] pyrello opened #1402 "As a developer, I can figure out how to get started with contributing to UIDS/uids_base"
- [ ] Write **How to contribute** section of uids_base README
- [ ] Document additional coding standards

[2020-04-16 20:41] joewhitsitt opened #1403 "[Story] As a website visitor, I can see a finalized homepage video loop."
- [x] Finalize video compression
- [x] Need 1280 x 720 pixels preview image
- [x] Insert/Deploy

[2020-04-16 20:50] joewhitsitt opened #1404 "Media dialog opens when trying to navigate into collapsed Content Block"
## Problem
Editor is reporting an issue where they click into a content block but get the media library dialog instead. Doesn't happen all of the time. Closing the browser and re-opening resolves the issue temporarily. Editor mentioned that slower home connection might be related.

![bug](https://user-images.githubusercontent.com/4663676/79595748-03cdce80-80a5-11ea-8850-167a4ffdf547.gif)

[2020-04-16 20:53] bspeare opened #1405 "As a content editor I can add all variations of a card with UIDS styling"
# Variations:
- [x] No image
- [x] No link
- [x] Linked with faux button
- [x] Linked without faux button

# Non-card accommodations
- [x] Image only
- [x] Image + link

# UIDS Updates
- [x] https://github.com/uiowa/uids/issues/147
- [x] https://github.com/uiowa/uids/issues/146
- [x] https://github.com/uiowa/uids/issues/145
- [x] https://github.com/uiowa/uids/issues/144
- [x] https://github.com/ui

[2020-04-16 20:57] richardbporter opened #1406 "Console warning about lazy loaded image with no dimensions"
`[Intervention] An <img> element was lazyloaded with loading=lazy, but had no dimensions specified. Specifying dimensions improves performance.`

https://uiowa.stage.drupal.uiowa.edu/academics

[2020-04-16 21:01] richardbporter commented on #1406
@joewhitsitt Did you encounter this during your lazy load work?

[2020-04-16 21:03] richardbporter commented on #1399
@joewhitsitt Also interested in your take on this as well.

[2020-04-16 21:11] richardbporter opened #1407 "Console error when clicking play on homepage vertical video"
```Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause(). https://goo.gl/LdLk22```

[2020-04-16 21:18] joewhitsitt commented on #1406
Not that I recall. Could it be a webp addition that caused this? We can determine which image by pulling down and doing some elimination guess and check

[2020-04-16 21:23] joewhitsitt commented on #1399
This appears to be the solution: https://stackoverflow.com/questions/59828734/resource-interpreted-as-texttrack-but-transferred-with-mime-type-text-plain#answer-59828735

[2020-04-16 21:42] richardbporter commented on #1399
I thought there was a way to set the mime type for media types. Where is this file uploaded?

[2020-04-17 00:27] bspeare commented on #1406
Maybe it’s just referring to the new practice of adding dimensions to images for performance ? https://twitter.com/jensimmons/status/1173293500563165186

[2020-04-17 14:56] bspeare opened #1408 "Card link is broken in uids_base card component template"
# Problem

The SiteNow card link is broken in the current uids_base template: https://github.com/uiowa/uiowa/blob/feature_uids_base_sitenow/docroot/themes/custom/uids_base/templates/paragraphs/card/paragraph--card--default.html.twig

# Proposed Solution

Mimic the `card_link_url` usage in the block template: https://github.com/uiowa/uiowa/blob/f376f68cd77d74510409713d34fc571b60c2c0cf/docroot/theme

[2020-04-17 15:01] bspeare opened #1410 "Fix breakpoints on articles list in uids_base sitenow paragraph"
# Problem

The articles list on https://brand.local.drupal.uiowa.edu/ does not have a breakpoint set for mobile.

<img width="454" alt="Screen Shot 2020-04-17 at 10 00 27 AM" src="https://user-images.githubusercontent.com/1036433/79583475-c6604580-8092-11ea-9ff4-3455b8ac7c64.png">

# Proposed Solution

Add a breakpoint to the articles list paragraph css

[2020-04-17 15:03] bspeare opened #1411 "Adjust image alignment padding for mobile in uids_base sitenow integration"
# Problem

There isn't enough padding for images aligned left or right within a card component.

<img width="458" alt="Screen Shot 2020-04-17 at 10 01 49 AM" src="https://user-images.githubusercontent.com/1036433/79583370-a466c300-8092-11ea-925f-ec41880239c4.png">

# Proposed Solution

Adjust padding for mobile breakpoint on aligned images.

[2020-04-17 15:17] pyrello opened #1412 "Swap out link options with anchor_link module version"
The built in CKEditor link options are not as robust as Drupal 7, even with the addition of the editor_advanced_link module.

It looks like the anchor_link module (https://www.drupal.org/project/anchor_link) may provide additional options to allow selection of different types of links.

# Steps
- [ ] Investigate whether anchor_link is a drop in replacement for link with no loss of functionality an

[2020-04-17 15:33] bspeare opened #1413 "Hide on lists option for article authors is currently broken in uids_base"
# Problem

The "Hide on Lists" option within the article content type and the article paragaraph view is currently broken within the article list template.

<img width="1077" alt="Screen Shot 2020-04-17 at 10 29 28 AM" src="https://user-images.githubusercontent.com/1036433/79586347-99159680-8096-11ea-9420-167814a7e11d.png">

[2020-04-17 15:37] bspeare opened #1414 "Hide images option for article list settings needs to be adjusted in sitenow.scss"
# Problem

The "Hide Images" option for the Article List Settings on https://brand.dev.drupal.uiowa.edu/ is currently broken.

<img width="1029" alt="Screen Shot 2020-04-17 at 10 34 28 AM" src="https://user-images.githubusercontent.com/1036433/79586884-5d2f0100-8097-11ea-9442-83d95df50f8e.png">

# Proposed Solution

Adjust css to hide images when this setting is selected.

[2020-04-17 15:40] joewhitsitt commented on #1413
https://sitenow.uiowa.edu/documentation/person-content-type

This doesn't extend to articles, just the /people view page right now. In the future it will also pertain to #1392.

Unless I don't understand, I think this is a non-issue

[2020-04-17 15:42] joewhitsitt commented on #1412
SiteNow is using LinkIt for our link buttons. I haven't looked at this, but I'd be open to the anchor button, but I think we want to maintain internal path linking through LinkIt until something better comes along.

[2020-04-17 15:44] pyrello commented on #1412
@joewhitsitt Good call! I updated the steps to include compatibility with Linkit in the investigation.

[2020-04-17 15:44] #1289 closed, assigned to richardbporter

[2020-04-17 15:46] joewhitsitt commented on #1412
https://www.drupal.org/project/linkit/issues/3022261

[2020-04-17 15:53] joewhitsitt opened #1415 "Contact Us Webform Menu Link Default Content"
## Problem

People don't know that the contact form or generally that webforms exist and are just creating contact pages with an email link.

../form/contact

## Proposed Solution
Default menu link for the default contact form (paragraph/layout) compatible.

[2020-04-17 15:57] bspeare commented on #1413
@joewhitsitt Good! One less issue for now - thanks.

[2020-04-17 15:57] #1413 closed, assigned to nobody

[2020-04-17 15:58] joewhitsitt commented on #1157
Patch available for testing: https://www.drupal.org/files/issues/2020-04-20/2741877-48.patch

[2020-04-17 16:28] #1395 closed, assigned to joewhitsitt

[2020-04-17 17:22] joewhitsitt commented on #1404
So far I haven't been able to reproduce the issue in (Mac Chrome/Safari). Tried mimicking Slow 3G connection in Chrome to try to reproduce as well.

[2020-04-17 18:10] briand44 opened #1416 "remove pad.org.uiowa.edu"
This is on uiowa01. This was a subdirectory site that was going to transition and then it was decided it could go away.

[2020-04-17 18:10] bspeare opened #1417 "Fix section paragraph background image in uids_base"
# Problem

The current implementation of the section background image in uids_base needs to be adjusted to fill the space and adjust based on the section settings.

<img width="1859" alt="Screen Shot 2020-04-17 at 12 57 07 PM" src="https://user-images.githubusercontent.com/1036433/79600263-7bebc280-80ac-11ea-8fe5-3086eb017375.png">

[2020-04-17 18:14] briand44 commented on #1416
When this is completed we should update the notes on the site request submission and lock it as well.

[2020-04-17 18:16] briand44 commented on #1416
oh and we should notify hostmaster that they can reclaim pad.org.uiowa.edu.

[2020-04-17 18:16] bspeare opened #1418 "Show superfish toggle active-trail.menuparent indicator when on child pages"
# Problem

The superfish toggle menu on uiowa.edu does not reflect if the parent section is current/active unless you toggle open the active section.

<img width="801" alt="Screen Shot 2020-04-17 at 1 13 18 PM" src="https://user-images.githubusercontent.com/1036433/79600974-adb15900-80ad-11ea-8e12-4ec822f5c3d8.png">

# Proposed Solution

Set the superfish toggle active-trail.menuparent with a styl

[2020-04-17 18:39] bspeare commented on #1406
I wonder if something like this would help https://www.drupal.org/project/drupal/issues/3095126.  It would also help remove the Image Jank: https://developer.mozilla.org/en-US/docs/Web/Media/images/aspect_ratio_mapping.

[2020-04-17 18:51] #1407 closed, assigned to nobody

[2020-04-17 19:58] bspeare opened #1420 "Regression with site name in footer for uiowa.edu"
# Problem

The site name is appearing under the block Iowa logo in the uiowa.edu footer.

<img width="520" alt="Screen Shot 2020-04-17 at 2 52 15 PM" src="https://user-images.githubusercontent.com/1036433/79609140-d3ddf580-80bb-11ea-83f1-d1028c96eb46.png">

# Proposed Solution

Remove this for only uiowa.edu

[2020-04-17 20:25] bspeare opened #1421 "Establish article page design in uids_base"
# Problem

The `uids_base` page design for the article content type is quite different than https://sitenowdemo.dev.drupal.uiowa.edu/news/2020/04/lkjlkjlkj.

# Proposed Solution

Work on integrating the features that exist within the `uiowa_bootstrap` article page design into `uids_base`.

[2020-04-18 01:43] #1420 closed, assigned to nobody

[2020-04-18 15:36] pyrello opened #1425 "Basic page LB template doesn't account for all default fields"
And this causes a situation where LB "generates" a template which is a combination of the the defined template + every field which is not already defined getting dropped into the first section. Some even get defined twice, inexplicably.

This is observable in any new SiteNow site after the collegiate split is enabled and configuration is imported.

[2020-04-20 14:18] joewhitsitt opened #1428 "Article authors can't reference and save with non-published people"
## Problem
https://github.com/uiowa/uiowa/pull/1334#issuecomment-616568122

## Proposed Solution
Only allow published people references. Check to see if unpublished people can be added/saved on the fly. If not, set the published checkbox to true and disable it from being switched.

[2020-04-20 15:29] bspeare opened #1429 "Uncaught SyntaxError on brand.prod.drupal.uiowa.edu"
# Problem

There is a console error on brand.prod.drupal.uiowa.edu regarding the tag manager js in uiowa_core.

<img width="895" alt="Screen Shot 2020-04-20 at 10 25 14 AM" src="https://user-images.githubusercontent.com/1036433/79769447-bb572080-82f1-11ea-89c0-cefc2466d1dd.png">

<img width="1274" alt="Screen Shot 2020-04-20 at 10 27 08 AM" src="https://user-images.githubusercontent.com/1036433/79

[2020-04-20 15:32] pyrello commented on #1429
Not sure how, but this js file is actually an HTML file: https://github.com/uiowa/uiowa/blob/master/docroot/modules/custom/uiowa_core/js/tag-manager.js

@joewhitsitt ?

[2020-04-20 15:45] #1429 closed, assigned to nobody

[2020-04-20 17:38] joewhitsitt commented on #1406
I don't know if https://github.com/uiowa/uiowa/pull/1433 will solve the "image jank" unless the <img> which I believe is the fallback image is the same resolution as final loaded version AND the loaded version is reduced at all by the current device size and before the breakpoint.

[2020-04-20 17:45] bspeare commented on #1406
@joewhitsitt Are you still getting "image jank" with the patch?

[2020-04-20 18:08] joewhitsitt commented on #1406
yeah, i'll upload a mov to slack

[2020-04-20 19:36] joewhitsitt commented on #1428
@mjoneill Can you try to reproduce your issue in PROD https://github.com/uiowa/uiowa/pull/1334#issuecomment-616568122?

I can't replicate it locally with a database copy from PROD. I am starting to wonder if this was a temporary DEV issue.

[2020-04-20 21:36] briand44 opened #1434 "remove stemoutreach.org.uiowa.edu"
This is on uiowa. This was a subdirectory site that they decided they weren't going to transition right now. After we remove we should updated the notes on the request form submission, lock the submission and notify hostmaster they can reclaim the CNAME stemoutreach.org.uiowa.edu.

[2020-04-20 21:45] joewhitsitt commented on #1428
I wasn't testing with non-admin access...
There is an issue and a temporary contrib project for this.
https://www.drupal.org/project/drupal/issues/2845144

[2020-04-21 13:48] #1128 closed, assigned to joewhitsitt

[2020-04-21 13:57] joewhitsitt commented on #1421
I am not sure where this is, but I am open to a different design for articles. This is what we started with for HR (now forked): https://hr.uiowa.edu/development/learning-and-development/working-learning-and-leading-remotely/working-remotely-blog/mindfulness

We went big featured image in anticipation of the stories site... https://mnh.prod.drupal.uiowa.edu/news/2019/01/frank-russel-expedition

[2020-04-21 14:39] inspector508 opened #1437 "[Story] As a site owner, I can manage a site that is WCAG 2.1 conformant."
•	All content is located in uniquely-named landmarks
•	All interactions can be achieved using the keyboard
•	Landmarks observe role restrictions and requirements
•	Shared components use valid ARIA attributes and values
•	Sitewide components meet WCAG guidelines
•	Themes and styles meet WCAG guidelines for contrast, magnification, and focus
•	Authoring tools support the creation of accessible, WCAG

[2020-04-21 14:54] #1406 closed, assigned to joewhitsitt

[2020-04-21 14:58] joewhitsitt commented on #1399
I am not sure where to set that in D8. D7 it was file_entity that had that UI.

[2020-04-21 15:05] pyrello opened #1438 "Banner block contextual links not showing up - regression"

[2020-04-21 15:36] dnkemper commented on #1416
Completed all steps and opened PR

[2020-04-21 16:14] inspector508 commented on #1437
To clarify, this content was initially intended for the ITAccessibility website, when I realized that it might also reinforce some of our early conversations around accessibility for this project. My agile story skills remain clumsy, for which I apologize.

[2020-04-21 16:39] joewhitsitt opened #1441 "Adjust breadcrumbs for webforms"
## Problem

Webforms don't have to be placed via paragraphs or blocks, they can be standalone pages, but their breadrumbs seem to be based on where the webform is built: `Home Administration Structure Webforms` even though the URL alias might be /contact

## Proposed Solution

Look into establishing a logical default based on the default pattern /form/... and making sure that if placed in the menu

[2020-04-21 16:44] #1438 closed, assigned to pyrello

[2020-04-21 16:45] dnkemper commented on #1434
Updated webform submission and contacted hostmaster

[2020-04-21 16:48] joewhitsitt opened #1442 "Linkit can't link to webforms"
## Problem
Webforms can't be linked to through the linkit interface...

## Proposed Solution
 - [x] Test and see where this issue is going: https://www.drupal.org/project/linkit/issues/2946234
 - [x] Possibly write test that is keeping this from being merged in.
 - [x] Write combined patch, interdiff and MR and submit it
 - [x] Use patch for uiowa until merge

[2020-04-21 16:51] bspeare commented on #1421
No further work has been done on this yet so I appreciate you commenting and providing the examples!

[2020-04-21 17:04] joewhitsitt commented on #1441
I now see that logged out since I don't have access to that area of the site, the breadcrumb is reduced to `Home`

[2020-04-21 17:06] joewhitsitt commented on #1364
@mjoneill This is now available for review in STAGE. Link to the form is in the footer, and the feedback form consists of a intro paragraph and fields to capture name, email and a feedback textarea. I created a custom confirmation message and setup an email handler to deliver a notification to the site email address with the submission details.

[2020-04-21 17:37] bspeare opened #1443 "Remove alert styling from layout builder message on edit page"
# Problem

A giant alert message on each layout builder edit page announces a reminder about single page vs template page editing.

<img width="1443" alt="Screen Shot 2020-04-21 at 12 33 48 PM" src="https://user-images.githubusercontent.com/1036433/79895640-d0ed4880-83cc-11ea-8a68-8126bd8c54ac.png">

# Proposed Solution

In an effort to de-clutter the layout builder edit page screen, the message w

[2020-04-21 17:40] bspeare opened #1444 "Add claro dropbutton styling to uids_base admin.scss"
# Problem

The dropbutton on the layout builder edit screen is not styled.

<img width="839" alt="Screen Shot 2020-04-21 at 12 33 57 PM" src="https://user-images.githubusercontent.com/1036433/79895901-40633800-83cd-11ea-99dc-6a3121332c4c.png">

# Proposed Solution

Import Claro's `dropbutton.css` into `admin.scss` so that the layout builder edit screen has a styled dropbutton.

<img width="805" al

[2020-04-21 17:54] #937 closed, assigned to pyrello

[2020-04-21 18:11] mjoneill commented on #1364
@joewhitsitt Fantastic.  Added a file collector field.  Also, I seem to be getting an error on submit.  Related?

<img width="1474" alt="image" src="https://user-images.githubusercontent.com/7144234/79898844-87ebc300-83d1-11ea-986a-f64a9d70dca6.png">

[2020-04-21 18:18] joewhitsitt commented on #1364
@mjoneill This is because the site is in stage and we want to prevent site emails going out to site owners and such when testing/working in those environments. We can temporarily disable this functionality for uiowa.stage for a test, but it will get enabled again at the next deployment.

Looks like the importance of #1356 goes up with the file upload field.

I would suggest lowering the max file s

[2020-04-21 18:22] joewhitsitt commented on #1443
This happens for all system messages (e.g. webform submission confirmation, etc.)

[2020-04-21 18:23] mjoneill commented on #1364
@joewhitsitt Thanks for the explanation...

Hmmm...  My concern with the error message is that I suspect it will lead people who submit feedback to think there's an error/problem.  I'd like to avoid that if possible.

Alternative: turn the feedback link into a mailto: link to me?

Thoughts?

[2020-04-21 18:26] bspeare commented on #1443
I am mostly hoping to de-clutter the layout builder edit screen for now since this type of alert seems over-the-top for the message that it is conveying.  What do you think?

[2020-04-21 18:30] joewhitsitt commented on #1364
Ah, I thought this form was for after go-live and so the STAGE behavior wouldn't be a problem. I could delete the email handler and you could just periodically login and check for submissions? I believe this is also an issue with the contact form.

We _could_ split uiowa.edu with regard to this functionality and turn off the email prevention until after go-live.

If you want to abandon the webform

[2020-04-21 18:33] bspeare commented on #1443
I think this also brings up the need to possibly adjust the alert styles that was discussed here: https://iowaweb.slack.com/archives/GDK8S2VFE/p1587061139291100.

[2020-04-21 18:41] joewhitsitt commented on #1443
Gotcha. Disregard then. I think the styles are fine as-is. I do like the idea of conforming to industry norms with regard to status messages but that is based on assumptions that people have been trained to expect that (similar to the hambuger menu = navigation). With all the padding in Claro I think it matches.

[2020-04-21 19:12] #1416 closed, assigned to dnkemper

[2020-04-21 19:21] #1434 closed, assigned to dnkemper

[2020-04-21 19:21] mjoneill commented on #1364
@joewhitsitt OK.  I'd rather not ask for a split...it's just going to increase overhead and I'd rather not add that to anyone right now.  I'll take a look again later today and see if I'd rather tell people to ignore the error message for now or switch the link to mailto until launch (at which point, we can replace email with the form (sans error).

[2020-04-21 20:23] #1428 closed, assigned to joewhitsitt

[2020-04-21 20:52] joewhitsitt opened #1447 "button.vidbttn does not have an accessible name"
## Problem

The homepage vertical video buttons don't have an accessible name to identify it beyond "button."

## Proposed Solution
Set an aria-label based on the video being displayed: "Play/pause video about ___"?

[2020-04-21 21:04] pyrello opened #1448 "Update config exports with new layout builder restrictions schema"
When layout_builder_restrictions version was bumped in #1427, it included a database update that can cause collegiate split sites to fail config import.

[2020-04-21 21:09] pyrello opened #1449 "Review layout builder restrictions defaults for basic page (in collegiate split)"
With the update to the newest version of layout_builder_restrictions, there are new options with regard to how you can set restrictions. Specifically, they have introduced the idea of whitelists AND blacklists, as well as the ability to set (per content type) whether to automatically allow or disallow new blocks that are not current in the list.

We should go through all these settings for the bas

[2020-04-21 21:42] bspeare opened #1451 "Integrate new uids_base header into brand.uiowa.edu lockup generator"
# Problem

The lockup generator still has the uiowa_bootstrap header.

<img width="1612" alt="Screen Shot 2020-04-21 at 4 37 11 PM" src="https://user-images.githubusercontent.com/1036433/79916864-13278180-83ef-11ea-857e-2fa040488138.png">

# Proposed Solution

Adjust the generator to use the uids_base templates?

[2020-04-21 21:53] #1448 closed, assigned to nobody

[2020-04-22 02:40] bspeare opened #1454 "Possible regression with menu switching in uids_base"
# Problem

Switching the menu to horizontal or mega menu in `uids_base` creates an error on https://uiowa.local.drupal.uiowa.edu/: `User error: "0" is an invalid render array key in Drupal\Core\Render\Element::children() (line 97 of core/lib/Drupal/Core/Render/Element.php).`

As a result, the `nav_classes` in https://github.com/uiowa/uiowa/blob/d020d38e1f9e435420cc14b48645e9513b8c913a/docroot/them

[2020-04-22 13:29] bspeare opened #1455 "Safari bug for breadcrumbs and page title in uids_base"
# Problem

<img width="388" alt="Screen Shot 2020-04-22 at 8 27 59 AM" src="https://user-images.githubusercontent.com/1036433/79987662-51668480-8473-11ea-9c26-da1c2a7cc756.png">

[2020-04-22 13:40] mjoneill commented on #1364
@joewhitsitt I swapped the form link out for a mailto: link this morning.  I'd like to circle back to this after launch and make the form active, etc...

Let me know if you have any reservations or ideas!

[2020-04-22 13:53] joewhitsitt commented on #1364
Okay. I have "closed" the form and added the same mailto link to the message to visitors.

[2020-04-22 14:31] joewhitsitt commented on #1281
@richardbporter Is this being done in any particular order?

[2020-04-22 14:42] #1226 closed, assigned to nobody

[2020-04-22 14:55] joewhitsitt commented on #1399
This is hardcoded now in D8 and I guess it is failing to properly identify...
https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Core%21File%21MimeType%21ExtensionMimeTypeGuesser.php/property/ExtensionMimeTypeGuesser%3A%3AdefaultMapping/8.8.x

Contrib enters the room:
https://www.drupal.org/project/filemime

**BUT...**

It might be better to just wait for Core to handle captions and transcrip

[2020-04-22 16:28] #1454 closed, assigned to pyrello

[2020-04-22 16:41] joewhitsitt commented on #798
_if_ we need to investigate another solution. https://www.hcaptcha.com/ is a new service that prioritizes privacy more than reCAPTCHA. I don't think there is a contrib project yet for Drupal.

[2020-04-22 20:48] richardbporter commented on #1399
We now have this module as a result of the Imagemagick update: https://www.drupal.org/project/sophron

I haven't looked into it much but it includes a more robust "mime-type guesser" submodule than core provides.

[2020-04-22 21:05] bspeare opened #1457 "Adjust layout builder flexbox styles so that components will stack by default"
# Problem

Cards will not wrap if placed into the same layout column.

<img width="1034" alt="Screen Shot 2020-04-22 at 4 02 37 PM" src="https://user-images.githubusercontent.com/1036433/80033810-f6548200-84b2-11ea-98c5-b3011da5653f.png">

# Proposed Solution

Adjust container settings on layout for `flex-wrap`.

[2020-04-22 21:07] mark-bennett-uiowa commented on #1457
I encountered this yesterday. I assumed we had to enter a second row in another section. Should we be able to create a 3x2 grid in one section with this update?

[2020-04-22 21:08] bspeare commented on #1457
@mark-bennett-uiowa I might need a little more info about what you are trying to do for this one.  Screenshots?

[2020-04-22 21:11] mark-bennett-uiowa commented on #1457
@bspeare yeah, sorry. I was trying to create a 3 column by 2 row grid for the front page of the Policy site. When I used one section and entered them so that they looked correct on the preview, when saved it looked exactly like that top row in your problem image above. So I took the second row of three blocks and moved them into their own new section. My screenshots would look just like yours abov

[2020-04-22 21:26] bspeare opened #1458 "Add/move colorbox control image files from uiowa_bootstrap to uids_base"
# Problem

https://brand.prod.drupal.uiowa.edu/creative-strategy

<img width="1646" alt="Screen Shot 2020-04-22 at 4 23 43 PM" src="https://user-images.githubusercontent.com/1036433/80035534-d07cac80-84b5-11ea-99af-733eb5515d80.png">

[2020-04-22 21:28] bspeare commented on #1457
@mark-bennett-uiowa The 3x2 grid style is only for use on https://uiowa.github.io/uids/components/detail/stat-block.html.  Unfortunately, it's hard to know that since it is not documented anywhere yet.

[2020-04-22 21:31] mark-bennett-uiowa commented on #1457
@bspeare sounds good, thanks bud.

[2020-04-22 21:38] bspeare opened #1459 "As a brand site user, I can use a lockup generator that looks like the rest of the site"
# Problem
- [x] Add `margin-bottom: 15px;` for lockup page h1

<img width="1001" alt="Screen Shot 2020-04-30 at 12 21 32 PM" src="https://user-images.githubusercontent.com/1036433/80740090-2ae0c300-8add-11ea-9bff-43abb3fe0370.png">

- [x] Add `margin-bottom: 5px;` to step details
<img width="373" alt="Screen Shot 2020-04-30 at 12 13 53 PM" src="https://user-images.githubusercontent.com/1036433/807

[2020-04-22 21:47] bspeare opened #1460 "As a site owner, I can use all of the variations of the superfish menu."
- [x] Add hover background color instead of underline for horizontal dropdowns
- [x] Add more space below block logo for horizontal navigation
<img width="872" alt="Screen Shot 2020-04-22 at 4 41 39 PM" src="https://user-images.githubusercontent.com/1036433/80036941-526dd500-84b8-11ea-8a1d-373b3a510df5.png">

- [x] Change cursor style for `<nolink>` menu items https://brand.prod.drupal.uiowa.edu/

[2020-04-23 14:13] pyrello commented on #1281
I'm not completely sure, but I think we decided not to go with adding the lb_claro module in favor of rolling our own styles to mimic that experience. Maybe this was just intended as an temporary solution. @bspeare?

[2020-04-23 14:34] bspeare commented on #1457
@mark-bennett-uiowa I would just use two sections using three columns for each layout to accomplish that.

[2020-04-23 15:51] pyrello opened #1462 "Possible regression where toggle navigation shows instead of horizontal navigation"
<img width="1336" alt="Screen Shot 2020-04-23 at 10 46 44 AM" src="https://user-images.githubusercontent.com/709009/80120282-606f3480-8550-11ea-9e0b-d81f7aa19559.png">

[2020-04-23 19:51] #1293 closed, assigned to pyrello

[2020-04-23 19:51] #1425 closed, assigned to pyrello

[2020-04-23 20:22] pyrello opened #1463 "As a content editor, I can add a card with the following variants"
- [ ] Image (+ body) + link and full card is clickable as a link
- [ ] Image only?
- [ ] Any other combination of other fields + link and full card is clickable as a link
- [ ] Any other combination of other fields excluding link

[2020-04-23 20:48] richardbporter opened #1464 "Carousel paragraphs component broken"
It seems like the responsive img element is missing the required classes d-block and w-100 based on the docs: https://getbootstrap.com/docs/4.0/components/carousel/

[2020-04-23 21:14] pyrello commented on #1463
Duplicate of #1405

[2020-04-23 21:14] #1463 closed, assigned to nobody

[2020-04-23 21:19] pyrello opened #1465 "As a visitor I can view events with UIDS styling"

[2020-04-24 16:46] #1464 closed, assigned to nobody

[2020-04-24 21:00] #1379 closed, assigned to nobody

[2020-04-24 22:35] mark-bennett-uiowa commented on #1462
I was just trying to fix this in my config_split. By switching to Toggle Navigation and then back to Horizontal navigation in the UI, the cst showed it updated these two files:
[code]
Not sure if something in one of these files is causing it, but the navigation works when these are updated.

[2020-04-27 13:58] #1451 closed, assigned to joewhitsitt

[2020-04-27 14:37] pyrello commented on #1462
That makes me think that it is a config default value which is not being properly set. I haven't checked yet, but I'm pretty sure what changes in those block config files is the UUID.

[2020-04-27 16:58] richardbporter opened #1470 "No indication of multisite command execution on AH environments"
When a command is executed against all multisites via `uiowa:multisite:execute` on an application environment, there is no indication of when it starts and stops. This can be problematic in case another simultaneous command starts at the same time, for example cron.

We should extend the notifications sent in `uiowa:multisite:install`.

[2020-04-27 18:22] joewhitsitt commented on #1340
This might be a way to change the type without a new field:
https://www.drupal.org/project/drupal/issues/2843108#comment-12069958

[2020-04-27 18:34] joewhitsitt opened #1471 "Remove Adminimal Theme"
## Problem
Once Claro is adopted, no sites will be using the theme so there is no reason to keep it in the codebase.

Blocked until #1391 has been released.

- [x] uninstall/remove config
- [x] remove composer dependency

[2020-04-28 15:28] bspeare opened #1473 "Webmasters need editing rights to External Quick Links navigation"
# Problem

Webmasters can't edit the External Quick Links navigation.

# Proposed Solution

Update editing roles for Webmasters.

[2020-04-28 18:02] #1408 closed, assigned to nobody

[2020-04-28 19:19] pyrello opened #1476 "Lazy/WebP loaded images not respecting responsive rules when not containerized"
Here is an example page with this issue: https://uiowa.stage.drupal.uiowa.edu/test-page-2

The image that loads at the top of the page has the "Medium - no crop" view mode selected and once the image loads, it is not respecting that.

[2020-04-28 19:26] pyrello commented on #1476
FYI, this issue is preventing me from completing https://gradcogscilang-temp.prod.drupal.uiowa.edu, which is part of the process of removing all the Collegiate sites.

[2020-04-28 19:26] #1473 closed, assigned to nobody

[2020-04-28 19:43] pyrello opened #1477 "Post Collegiate clean-up"
- [x] Remove `docroot/profiles/custom/collegiate`.
- [x] Remove `docroot/themes/custom/collegiate_theme`.
- [x] Remove `collegiate_theme` entry from package.json workspaces.
- [x] Remove `Uiowa\Blt\Plugin\Commands\ReplaceCommand::replaceSetup` (https://github.com/uiowa/uiowa/blob/fc7fe6af7c60024677380f0da72e9b74257c6fac/blt/src/Blt/Plugin/Commands/ReplaceCommands.php#L74) to remove looping through

[2020-04-28 20:16] joewhitsitt commented on #1391
This is part of their meta issue: https://www.drupal.org/project/paragraphs/issues/3108997

[2020-04-28 20:17] joewhitsitt commented on #1391
I don't know if we want to create a bunch of overrides again and just see what improvements come with later releases.

[2020-04-28 22:20] pyrello commented on #1476
A couple notes from my initial investigation of this issue:
* The lazy module includes a CKEditor filter to lazy load images, which is not currently turned on in our setup. Turning this on for the appropriate text format did not resolve the issue. It may be that this filter is only for non-media images.
* There was a patch added in #1433 that adds `height` and `width` attributes to images and thes

[2020-04-29 14:15] pyrello opened #1479 "Replace views_tree module with something that is currently support and available via composer"
The views_tree module was embedded with the project because it is a dependency of the uiowa_book module and is not built in a way that supports inclusion by composer. It currently has deprecated code errors, so I think it is time to start looking for a new module to handle this functionality.

[2020-04-29 14:57] pyrello commented on #1479
@mark-bennett-uiowa If you could help detail what the views_tree module is being used for, I would be happy to help look for an alternative solution.

[2020-04-29 15:01] joewhitsitt commented on #1476
I am not positive, but I wonder if this has to do with an unknown height, without some extra js on the fly, maybe we will have to disable lazy load for no-crop view modes.

[2020-04-29 15:14] bspeare opened #1480 "Error when trying to view revisions with uids_base"
# Problem

Clicking on a revision link creates an error:

<img width="1307" alt="Screen Shot 2020-04-29 at 10 10 45 AM" src="https://user-images.githubusercontent.com/1036433/80612792-1380d780-8a02-11ea-810c-8548663aa2cc.png">

This is the message:

<img width="986" alt="Screen Shot 2020-04-29 at 10 10 30 AM" src="https://user-images.githubusercontent.com/1036433/80612840-1e3b6c80-8a02-11ea-83b7-e

[2020-04-29 15:17] mark-bennett-uiowa commented on #1479
The Views Tree module is only used for the Table of Contents view page and block.

The block was to be used in side-menu navigation to top level headings (basically depth=2 where depth=1 is the book itself). Moving forward, the side-menu block will most likely not be used as breadcrumbs is working to satisfy movement within the site.

The page is essential and the main "view" into the book itself

[2020-04-29 15:30] bspeare commented on #1476
@pyrello Have you tried uninstalling the `webp` module?  I just did and the small no-crop setting worked.

[2020-04-29 15:32] mark-bennett-uiowa commented on #1479
Switching the block to use a list format (HTML or unformatted) will still allow the block to work (if needed eventually). However, the page and its nested list feature doesn't work unless the Views_Tree module is used.

[2020-04-29 15:53] joewhitsitt commented on #1480
We have encountered something similar before. I will look into this.

[2020-04-29 16:21] joewhitsitt commented on #1137
Additionally blocked. Resources towards uiowa_bootstrap should be avoided at this time.

[2020-04-29 16:22] joewhitsitt commented on #1089
Resources towards uiowa_bootstrap should be avoided at this time.

[2020-04-29 16:22] joewhitsitt commented on #991
Resources towards uiowa_bootstrap should be avoided at this time.

[2020-04-29 16:37] joewhitsitt commented on #1476
i turned of webp and noticed the same, even with a new image upload. unfortunately webp looks to be a global thing...

[2020-04-29 16:45] pyrello commented on #1479
Noting this issue in the views_tree issue queue where adding a composer.json file is rejected: https://www.drupal.org/project/views_tree/issues/2772135#comment-13579021

[2020-04-29 16:58] pyrello commented on #1476
Since webp seems to introduce this bug, it seems like we should roll it back for now. I can try to figure out a summary of the issue and post it to the issue queue for the module.

[2020-04-29 17:06] pyrello commented on #1476
More precisely, this seems to be an issue of combining the webp + lazy modules together. When I uninstalled the lazy module and left webp installed, the image worked as expected.

<img width="1336" alt="Screen Shot 2020-04-29 at 12 04 57 PM" src="https://user-images.githubusercontent.com/709009/80624776-c60c6680-8a11-11ea-8050-7e84592ebcd3.png">

<img width="983" alt="Screen Shot 2020-04-29 at 12

[2020-04-29 17:07] bspeare commented on #1476
I vote that we keep the lazy module for performance gains.

[2020-04-29 17:14] joewhitsitt commented on #1476
WebP is @richardbporter 's baby. Any input?

[2020-04-29 17:21] bspeare opened #1482 "Investigate adding style options for uids_base accordion"
The brand.uiowa.edu team has requested gray, gold, and black variations of the accordion in UIDS.  Is it possible to add a styles field to the accordion paragraph settings?

<img width="1230" alt="Screen Shot 2020-04-29 at 12 18 45 PM" src="https://user-images.githubusercontent.com/1036433/80626330-e63d2500-8a13-11ea-8e51-eb7459810576.png">

[2020-04-29 17:24] pyrello commented on #1476
This is as far as I got in trying to summarize this issue in the most generic way possible:

Not sure whether this needs to be filed in the lazy or webp issue queues.

[2020-04-29 17:54] joewhitsitt commented on #1459
@bspeare did you say you had screenshots and/or additional info about these items?

[2020-04-29 17:56] joewhitsitt commented on #1459
Ah, download on the node full page:
<img width="439" alt="Screen Shot 2020-04-29 at 12 56 08 PM" src="https://user-images.githubusercontent.com/4663676/80629724-dc69f080-8a18-11ea-8836-b4e815389146.png">

[2020-04-29 18:13] bspeare commented on #1459
@joewhitsitt I just updated with additional/new screenshots and notes for all of the check boxes.

[2020-04-29 18:17] bspeare commented on #1459
It looks like we are also missing the field labels on the full node page due to `uids_base`

`uiowa_bootstrap`

<img width="1127" alt="Screen Shot 2020-04-29 at 1 15 44 PM" src="https://user-images.githubusercontent.com/1036433/80631694-c447a080-8a1b-11ea-9527-cef52c202eee.png">

`uids_base`

<img width="1131" alt="Screen Shot 2020-04-29 at 1 15 15 PM" src="https://user-images.githubusercontent.co

[2020-04-29 18:28] briand44 opened #1483 "IE11 alignment issue with featured content block"
https://university-shared-services.fo.uiowa.edu/uss-contacts-strategic-communications

They are displaying people in the featured content block and there is an alignment issue in IE.

[2020-04-29 18:29] bspeare commented on #1459
The label was missing from the field template.  I can add that back in.

[2020-04-29 18:32] mark-bennett-uiowa commented on #1479
Should this module be moved to a site-specific module for the policy.clas.uiowa.edu site? Would that lessen the impact on composer? Should the code issues be remedied in a patch we create?

[2020-04-29 18:36] bspeare opened #1484 "Change custom block type labels to hidden for uiowa_blocks"
# Problem

The labels for the custom block type fields used on uiowa.edu have not be set to  `-Hidden-` yet.

<img width="1934" alt="Screen Shot 2020-04-29 at 1 31 56 PM" src="https://user-images.githubusercontent.com/1036433/80633416-5cdf2000-8a1e-11ea-9183-f461fe79084b.png">

# Proposed Solution

Set all custom block labels to `-Hidden-`.

[2020-04-29 18:38] bspeare commented on #1459
It looks like https://github.com/uiowa/uiowa/issues/1484 will need to be done as well with this field template adjustment.

[2020-04-29 18:40] joewhitsitt commented on #1459
Do you want these fixes to be done as part of https://github.com/uiowa/uiowa/pull/1472 or start a new one?

[2020-04-29 18:42] bspeare commented on #1459
I'd be fine with putting them in #1472 unless you'd like to start a new one.

[2020-04-29 18:50] joewhitsitt commented on #1459
This was requested by the customer originally, so I have updated the text for now

[2020-04-29 19:00] bspeare commented on #1459
Those updated words are by the customer too, so we can go either way.  I think it would look better to remove the text.

[2020-04-29 19:01] joewhitsitt commented on #1459
it would be one less thing that is custom... I will remove it

[2020-04-29 19:11] joewhitsitt commented on #1483
Screenshot or it didn't happen...

[2020-04-29 19:14] briand44 commented on #1483
![Screen Shot 2020-04-29 at 2 12 47 PM](https://user-images.githubusercontent.com/1017022/80636855-b5fd8280-8a23-11ea-8164-039568cc0ba0.png)

[2020-04-29 20:26] joewhitsitt commented on #1482
The styles field already exists for each of the paragraph bundles, but we didn't have any 'dynamic' classes for accordion. If there are classes are ready in uids for this, we can use `uip_classes_allowed_values()`

https://github.com/uiowa/uiowa/blob/master/docroot/modules/custom/sitenow_paragraphs/sitenow_paragraphs.module#L237

and create a `hook_uip_classes_alter()` similar to

https://github.c

[2020-04-29 20:47] pyrello commented on #1484
Do we want to set all the labels to 'Hidden' or 'Visually hidden'?

[2020-04-29 20:52] bspeare commented on #1484
SiteNow has their labels set to 'Hidden' I believe.

[2020-04-29 21:35] joewhitsitt commented on #1459
Since this is an drupal core input button with the value property serving as the button text, I don't know off-hand how best to approach this. as far as I can tell pseudo before doesn't work on input submit, and it seems like a lot to try and get it in properly with JS.

`.views-exposed-form` inputs would be covered if uids form styles weren't scoped under `.uids-content`. Could we turn these UIDS

[2020-04-29 21:53] bspeare commented on #1459
@joewhitsitt  What's the best way to move forward with making the UIDS form styles into something more reusable for this use case? It looks like if we added the `.uids-content` class to that form it would get us closer to what we want but that might not be the best practice.

[2020-04-30 13:51] joewhitsitt commented on #1459
i guess I am wondering why form styles are scoped under that. is it to prevent those form styles from being used in the header/footer/other areas?

if we went with the "add class to views-exposed-form" route, we should probably do it everywhere by either bring the template local and overriding or processing views on the fly.
`template_preprocess_views_exposed_form()`

[2020-04-30 14:09] bspeare commented on #1459
Yeah, it was to avoid the header and footer areas.  I'm open to changing it if you think it would help streamline things.

[2020-04-30 14:27] bspeare opened #1499 "Convert image format for sitenow card to use responsive large widescreen view mode"
# Problem

SiteNow card image needs to be updated to use `Large - Widescreen` view mode for the brand site.

[2020-04-30 14:47] joewhitsitt commented on #1459
Looks like this is already implemented but restricted to certain views. Should we open this up to all views and have views opt-out instead?

https://github.com/uiowa/uiowa/blob/master/docroot/themes/custom/uids_base/uids_base.theme#L300

[2020-04-30 14:47] bspeare commented on #1459
Maybe we can use `template_preprocess_views_exposed_form()` for now and find a better solution for moving forward?

[2020-04-30 14:49] bspeare commented on #1459
We should probably open it up to all views for now.

[2020-04-30 14:51] pyrello commented on #1484
From an a11y perspective, do we want the labels to be there but be visually hidden? @joewhitsitt or @inspector508

[2020-04-30 14:58] joewhitsitt commented on #1484
Since you are asking me, IMO, it depends on the field. A lot of fields are named with the content editor in mind instead of the the site visitor. (put your content into this bucket).

[2020-04-30 15:00] #1480 closed, assigned to joewhitsitt

[2020-04-30 15:20] joewhitsitt commented on #1458
Is now the time to refactor how these are pulled in? https://github.com/uiowa/uiowa/issues/1200

[2020-04-30 15:27] #1257 closed, assigned to nobody

[2020-04-30 17:08] joewhitsitt commented on #1459
Now that the guidelines are gone I am seeing some squeeze here:
<img width="362" alt="Screen Shot 2020-04-30 at 12 07 32 PM" src="https://user-images.githubusercontent.com/4663676/80738898-41861a80-8adb-11ea-8ee8-2ddb014d6e9a.png">

[2020-04-30 17:22] bspeare commented on #1459
@joewhitsitt I just added a few more checkboxes at the top of this page to address this issue.

[2020-04-30 20:50] bspeare opened #1501 "As a brand site user, I can use variations of the hero component"
- [x] Page Featured Images as variant of https://uiowa.github.io/uids/components/detail/hero-block--hero-video-content-bottom.html?
- [x] Article Featured Images using https://uiowa.github.io/uids/components/detail/hero-block--left.html?
- [x] https://github.com/uiowa/uiowa/issues/1417

[2020-05-01 11:27] richardbporter commented on #1476
Is this limited to the WYSIWYG? If so, we could preprocess responsive image styles, much like webp is doing, and unset the webp src.

Filing an issue and further debugging to determine the cause would great.

[2020-05-01 13:01] richardbporter commented on #1476
I'm not sure I understand the problem and expected behavior here. Uninstalling webp locally doesn't change anything for me.

[2020-05-01 13:06] pyrello commented on #1476
@richardbporter Compare these two pages:
* https://cogscilang.grad.uiowa.edu/
* https://gradcogscilang-temp.prod.drupal.uiowa.edu/

They are both displaying the exact same image using the same settings via WYSIWYG. In the second case, the image is not respecting the responsive image settings.

[2020-05-01 15:10] pyrello opened #1503 "Iowa Superfund - Publication/citation entity type"
# Motivation
For the Iowa Superfund Research Program website, we need to create a Publication entity type (content or fragment).

Current example (not using structured data): https://iowasuperfund.uiowa.edu/publications

# Questions
- How can we account for different citations styles? (MLA, APA, etc)
- Can we specify certain fields or does it just need to be a generic text area?

[2020-05-01 15:36] richardbporter commented on #1476
I can't figure it out. I guess just uninstall it.

[2020-05-01 15:37] joewhitsitt commented on #1503
Are you planning on guiding folks through a citation style? MLA, APA, etc? We have used https://www.drupal.org/project/biblio on D7 and regretted it.

What seems to work best for folks is an open text area with minimal formatting options and then using css to properly indent, etc.

I definitely see the use-case for this on campus with some kind of footnotes capability, but we haven't had the time

[2020-05-01 15:41] pyrello commented on #1503
Its been long enough since I had to use a citation that I don't remember whether those style difference would result in different fields being present? Possibly try to create something that collects all the necessary info for all those styles and then let the user choose?

I guess I'm trying to resolve the fact that many of the citations on the page linked above do not seem to follow a consistent

[2020-05-01 15:42] pyrello commented on #1476
#sadface

[2020-05-01 15:49] pyrello commented on #1476
Another possibility is that we could still turn on WebP for the homepage, since we hadn't noticed any ill effects there. Ideally, I think we would like to get this turned back on for all sites eventually.

[2020-05-01 15:53] joewhitsitt commented on #1503
oh yeah, if you ever have used biblio, not only it is the citation style at which everything is ordered, formatted, displayed or omitted, but the type of source you start off with (article, webpage, video, journal, etc.).

people have definitely requested a reusable, reference from other content, link out to, bucket to put these in if they want to take the time to enter and maintain them.

other d

[2020-05-01 15:57] joewhitsitt commented on #1476
i vote for turning it off until we can fix it. it is a next gen format that has caused other issues (errors generating derivatives) that folks won't really notice when it is turned off/turned back on.

[2020-05-01 16:22] pyrello commented on #1503
@joewhitsitt Thanks for those examples. This looks like something that could benefit a variety of websites.

Is Citation the right thing to call it? Publication doesn't seem quite right to me.

[2020-05-01 16:28] richardbporter commented on #1476
Actually, checking prefer native lazy loading fixes this in Chrome so its probably an issue with the library or some other config we need to adjust.

![image](https://user-images.githubusercontent.com/1068523/80821711-e0277f80-8b9e-11ea-88f2-f385690aeef6.png)

[2020-05-01 17:15] joewhitsitt commented on #1499
Ugh. I just realized that this is not such an easy issue. We are programmatically rendering images instead of using view modes for these. I will try to think about a path forward.

[2020-05-01 17:48] richardbporter commented on #1476
I didn't get any further. :( I'm not sure what other configuration to change. The library says this about responsive images:

Lazysizes is built upon the Responsive image standard and extends it with additional functionality. For full cross browser responsive image support you must use either a full polyfill like picturefill or use the extreme lightweight partial respimg polyfill plugin or the res

[2020-05-01 17:50] pyrello commented on #1476
I guess I thought that responsive images always used the `<picture>` tag.

[2020-05-01 18:42] pyrello commented on #1476
@richardbporter I guess I'm not sure what you mean when you say that uninstalling webp doesn't "fix" the issue.

[2020-05-01 21:20] bspeare opened #1508 "Fix breadcrumbs/page title spacing on tertiary header using sticky header"
# Problem

The sticky header covers the breadcrumbs on https://uipress.prod.drupal.uiowa.edu/about.

<img width="1800" alt="Screen Shot 2020-05-01 at 4 18 48 PM" src="https://user-images.githubusercontent.com/1036433/80842600-a159ef80-8bc7-11ea-9f26-8c32e7bfdf17.png">

# Proposed Solution

Add fix to https://github.com/uiowa/uiowa/blob/master/docroot/themes/custom/uids_base/scss/components/templat

[2020-05-02 15:57] pyrello commented on #1509
This Lullabot module may provide some insights into how this can be altered: https://github.com/Lullabot/entity_browser_block_layout

[2020-05-02 16:08] pyrello commented on #2143
@mark-bennett-uiowa Do you want to keep this issue open? Or transfer it to uiowa/uiowa?

[2020-05-04 02:31] pyrello commented on #1517
Some modules that are trying to solve this same problem:
* https://www.drupal.org/project/layout_builder_kit
* https://www.drupal.org/project/lb_tabs
* https://www.drupal.org/project/layout_builder_tabs
* https://www.drupal.org/project/layout_kit

These module appear to all take the approach of creating a layout dedicated to a particular collection of items. The obvious downside to this approach i

[2020-05-04 03:10] pyrello commented on #1517
Correction: The first module implements tabs as a block type with a whole configuration setup to manage the different content items.

My intuition at this point is that it seems weird to manage tabs as a homespun configuration when we could just as easily have a block type called Tab Container which references another block type called Tabs (or something similar). I think that is where the things

[2020-05-04 03:14] pyrello commented on #1517
Adding these links here for further review later:
* https://git.drupalcode.org/sandbox/luken-3077035
* https://www.drupal.org/project/paragraph_blocks

[2020-05-04 12:33] pyrello opened #1523 "Lock header in LB for non-admin users"
Possibly using this module: https://www.drupal.org/project/layout_builder_lock

[2020-05-05 14:48] joewhitsitt opened #1532 "Tour and UIDS Header Z-Index Conflict"
## Problem
The uids header has a z-index of 400, while frontend tours have a z-index of 101.

<img width="708" alt="Screen Shot 2020-05-05 at 9 44 26 AM" src="https://user-images.githubusercontent.com/4663676/81079479-37866200-8eb5-11ea-8a03-854222f65669.png">

## Replicate:
/?tour=1 on any frontend page

## Proposed Solution
Check with @bspeare to see if there is a reason for such a high z-index

[2020-05-05 14:49] #1476 closed, assigned to pyrello, richardbporter

[2020-05-05 15:20] #1455 closed, assigned to bspeare

[2020-05-05 15:20] #1410 closed, assigned to nobody

[2020-05-05 15:33] bspeare opened #1533 "Investigate fixing lazy loading image jank / aspect ratio on cards"
# The Problem

@quamsta mentioned:

[code]

[2020-05-05 16:00] bspeare opened #1534 "Fix content spacing for pages not using layout builder in uids_base"
# The Problem

<img width="1472" alt="Screen Shot 2020-05-05 at 10 55 17 AM" src="https://user-images.githubusercontent.com/1036433/81087413-4f62e380-8ebf-11ea-9495-3b8a3e92c096.png">

https://icsa-temp.prod.drupal.uiowa.edu/projects/6th-judicial-drug-court-housing-first

# Proposed Solution

Add `margin-bottom: 3rem;` to `block-page-title-block`.

[2020-05-05 16:21] #1508 closed, assigned to nobody

[2020-05-05 16:46] pyrello opened #1536 "Featured image is displaying as width=1 height=1"
On the following page, if you inspect the source, you can see the image is there, but not showing up because it has `width="1"` and `height="1"`

https://iowasuperfund.prod.drupal.uiowa.edu/news/2019/05/releasing-our-data

[2020-05-05 18:10] pyrello commented on #1421
Noting the link to #1530 and #1536

[2020-05-05 18:13] pyrello commented on #1397
Was this completed in #1472?

[2020-05-05 18:22] #1536 closed, assigned to nobody

[2020-05-05 18:49] joewhitsitt commented on #1397
Yep

[2020-05-05 18:49] #1397 closed, assigned to nobody

[2020-05-05 19:34] #921 closed, assigned to nobody

[2020-05-05 19:34] #1281 closed, assigned to richardbporter, joewhitsitt

[2020-05-05 19:34] #1391 closed, assigned to joewhitsitt

[2020-05-05 19:34] #141 closed, assigned to nobody

[2020-05-05 19:34] #853 closed, assigned to nobody

[2020-05-05 19:34] #1238 closed, assigned to joewhitsitt

[2020-05-05 20:57] joewhitsitt commented on #1421
Regarding https://github.com/uiowa/uiowa/pull/1530, I trying to reduce scope for "part 1" in an effort to get something ready by the end of the sprint. Article/Page full featured image, Section Images and Carousel image use a responsive image styles already. Not opposed to switching it to one of the other ones later.

[2020-05-06 03:49] pyrello commented on #1421
No worries! Just wanted to establish the connection in case it was helpful in the future :)

[2020-05-06 12:48] briand44 opened #1541 "Accordian items are not rendering unique id value."
I tried creating an anchor to an accordian item and it is not working. Upon further inspection the id is not rendering at all.

[2020-05-06 12:49] briand44 commented on #1541
Modei is the customer who was having issues with this in case we roll out a fix, we should communicate that to him.

[2020-05-06 14:17] joewhitsitt commented on #1437
role=alert only for dynamic alerts, page loaded should be role=region with aria-label

[2020-05-06 15:31] joewhitsitt commented on #1499
Realized I used Full - Widescreen instead of Large - Widescreen...

[2020-05-06 19:28] richardbporter commented on #1368
I'm a bit confused on this. It looks like the libraries require specifying a URL to determine what is critical. Seems like that could change quite a bit from page to page. Are we only concerned with the front page?

[2020-05-06 19:30] richardbporter commented on #1368
Doing it manually is an option as well: https://www.advomatic.com/insights/eliminating-render-blocking-javascript-and-css-in-above-the-fold-content-in-drupal-sites

[2020-05-06 19:32] bspeare commented on #1368
Maybe start with a basic page like https://uiowa.stage.drupal.uiowa.edu/contact?  Hopefully, all we need are the header and menu styles.

[2020-05-06 20:58] richardbporter commented on #1368
We could probably do that without the library by compiling bar, header, menu styles into one critical.css file. I'm guessing that will break the conditional loading of those components though.

[2020-05-06 20:59] richardbporter commented on #1368
Or result in duplicate styles - some inline and some in corresponding component files.

[2020-05-06 21:01] bspeare commented on #1368
I think there will be duplication no matter what.  I thought that having the library target the site would also grab the module styles from Superfish that the site depends on as well.

[2020-05-07 13:56] #1533 closed, assigned to nobody

[2020-05-07 16:37] GaryRidgway commented on #1541
this should be solved in https://github.com/uiowa/uiowa/pull/1548, waiting on pr approval and then merging when we can.

[2020-05-07 17:30] #1499 closed, assigned to joewhitsitt

[2020-05-07 18:38] joewhitsitt opened #1549 "Google Custom Search Result Styles in UIDS_Base"

[2020-05-07 18:59] mark-bennett-uiowa opened #1550 "Program/Degree/Certificate block component for departmental sites"
My goal is to have a reusable component for adding program/degree/certificate to departmental sites under Undergraduate and Graduate Program pages. Majors, minors and certificates will be entered on these pages using this component.

<img width="1364" alt="Screen Shot 2020-05-07 at 1 42 51 PM" src="https://user-images.githubusercontent.com/3067017/81333283-f7b4ab80-9069-11ea-9088-13aa6bea148b.png"

[2020-05-07 19:23] joewhitsitt opened #1552 "Figure out the webform.webform.contact/config_ignore issue.."
## Problem
Deployment was plagued with issues, one of which was a config_ignore/missing config (renamed or deleted webform)

[code]

Had to recreate the contact form on the following sites to get a successful deployment:

- nightatthesciencelabs.conference.uiowa.edu
- iniworkshop.conference.uiowa.edu
- molcellcog.org
- pinyin.uiowa.edu
- uibio.org.uiowa.edu

[2020-05-07 19:37] mark-bennett-uiowa opened #1551 "Update UIowa Book module to match recent features"
- Adding styling for module specific fields now that UIDS have reached a production state: book_owner `{font-size: smaller; color: grey}`
- Fix A-Z list to working UIowa homepage version: [https://uiowa.stage.drupal.uiowa.edu/a-z](https://uiowa.stage.drupal.uiowa.edu/a-z)
- Remove search field from A-Z and Whats New view pages.

[2020-05-07 20:09] #1405 closed, assigned to nobody

[2020-05-07 20:09] #1459 closed, assigned to nobody

[2020-05-07 20:10] #1403 closed, assigned to nobody

[2020-05-07 20:17] pyrello opened #1553 "As a content editor/webmaster, I can create different categories of people content"
- [x] Add person type selection field
- [x] Add additional fields for students and faculty
- [x] Add logic to conditionally show fields based on person type selection.

[2020-05-07 20:22] richardbporter opened #1554 "Simplify environment split blacklists"
The environment split blacklists were calculated based on our old local environment where many extensions like memcache wouldn't work. This isn't necessary anymore. We should simplify these for easier management and faster BLT syncs.

[2020-05-07 20:26] #1443 closed, assigned to bspeare

[2020-05-07 20:26] pyrello opened #1555 "As a site builder, I can add collections of items via Layout Builder"
- [ ] Add block type for collection
- [ ] Add paragraph template for collection item
- [ ] Add block content template for accordion view mode
- [ ] Add block content template for tab view mode
- [ ] Clean up IEF embedded form in LB

[2020-05-07 20:27] #1414 closed, assigned to nobody

[2020-05-07 20:31] richardbporter opened #1556 "Change environment indicator colors to match brand"
These are hex values set in settings: https://github.com/uiowa/uiowa/blob/2557c1dfc2f289465e6363cf6c6951dd6560dab6/docroot/sites/settings/sitenow.settings.php#L15-L30

Multiple people have complained about them. We should change them to colors set in UIDS.

[2020-05-07 20:39] richardbporter commented on #1556
@bspeare have any colors in mind?

[2020-05-07 20:45] bspeare opened #1557 "[Story] As a brand site user, I can consider all elements in use as done."
brand.uiowa.edu
- [x] Mobile header https://github.com/uiowa/uids/issues
- [x] Line-height https://github.com/uiowa/uids/issues/187
- [x] https://github.com/uiowa/uids/issues/172
- [x] https://github.com/uiowa/uids/issues/170
- [x] https://github.com/uiowa/uids/issues/135
- [x] Spacing for pages not using layout builder https://github.com/uiowa/uiowa/issues/1534
- [x] https://github.com/uiowa/uiow

[2020-05-07 20:53] richardbporter commented on #1552
Could be related to the 8.8.5 update. Maybe we try the 3.x dev version of config_ignore first. Otherwise, could this be created through default content?

[2020-05-07 21:11] #1444 closed, assigned to bspeare

[2020-05-07 21:16] #1376 closed, assigned to pyrello

[2020-05-07 21:17] #1365 closed, assigned to bspeare

[2020-05-07 21:17] #1345 closed, assigned to bspeare

[2020-05-07 21:18] #1315 closed, assigned to bspeare

[2020-05-07 21:18] #1240 closed, assigned to nobody

[2020-05-07 21:19] #1233 closed, assigned to nobody

[2020-05-07 21:40] GaryRidgway commented on #1286
will this be a problem after all sites are using Claro? If not, maybe we don't need to worry about it?

[2020-05-07 23:37] joewhitsitt commented on #1286
SiteNow v1 is not getting claro. so this is still a problem on D7 sites with adminimal and paragraphs

[2020-05-08 13:50] joewhitsitt commented on #1552
https://www.drupal.org/project/drupal/issues/2925297 (i think the issue is scoped to config_translation, but I saw a comment about webform as well).

I don't think default_content covers webforms as I don't think they are entity based. We could probably programmatically create a webform as part of a provision process (check if already exists first). I think it is valuable to have a example webform

[2020-05-08 14:01] bspeare commented on #1556
I'll take a look today.

[2020-05-08 14:53] bspeare commented on #1556
If we are using the brand manual colors, I would probably use these as replacements.   What do you think?   What are the major complaints that you hear from people?

- local - Green -  #00664F
- dev - Blue - #00558C
- test - Gray - #63666A
- prod - Orange/red - #BD472A

[2020-05-08 15:02] richardbporter commented on #1552
The 3.x dev version of config_ignore does not seem to respect the `webform.webform.*` rule. :(

[2020-05-08 15:24] richardbporter commented on #1552
The patch in https://www.drupal.org/project/drupal/issues/3100712 works but what are the chances it gets committed? It was linked from a config_ignore issue: https://www.drupal.org/project/config_ignore/issues/3103674

The result is a warning but with a 0 exit code (what we want).
[code]

Stupid question but is it possible to turn off translation for this webform or all? If that is even the cause.

[2020-05-08 15:25] #1541 closed, assigned to nobody

[2020-05-08 15:30] joewhitsitt commented on #1552
IMO, since there is nothing stopping sites from deleting these and I at least see the value of a default form, I would like to see a band-aid fix. We can keep this issue open and follow-up as a better solution comes along.

[2020-05-08 16:33] mark-bennett-uiowa opened #1623 "Color full section background containing a fixed-width container in uids_base"
On the frontpage of [https://icsa-temp.prod.drupal.uiowa.edu/](https://icsa-temp.prod.drupal.uiowa.edu/) you will see the yellow background section with the link to NRCFCP. I want that to have an edge to edge yellow background, but condense the text and button link to a fixed-width container rather than having it expand to the full section width. If I set the style on that section to edge-to-edge

[2020-05-08 17:16] richardbporter commented on #1552
I'll patch it. This is a good summary: https://www.drupal.org/project/drupal/issues/3100712#comment-13525052 I'm sure this won't be the last instance of it with our setup. I don't think it has anything to do with translation. We should invest in seeing the patch through to completion.

[2020-05-08 17:47] #1552 closed, assigned to nobody

[2020-05-08 18:42] #1556 closed, assigned to nobody

[2020-05-08 18:48] joewhitsitt opened #1562 "Update Image Spec Docs"
We have pretty much switched up or are about to switch up the image styles we use so we need to update the documentation.

Since these are responsive image styles we should recommend images be uploaded at the largest dimension (compressed file size of course) and then emphasize the aspect ratio as all smaller images will maintain the same ratio.

https://sitenow.uiowa.edu/documentation/media/image

[2020-05-08 19:50] #1418 closed, assigned to nobody

[2020-05-08 20:12] richardbporter commented on #1368
@bspeare This is on dev now as part of #1563 if you want to take a look: https://uiowa.dev.drupal.uiowa.edu/.

[2020-05-08 21:26] joewhitsitt commented on #1552
@richardbporter if this is working should i remove those webforms i created from those sites?

[2020-05-09 14:58] pyrello commented on #1553
_Should this field be a static list? Or should it be a taxonomical list that can be augmented with additional types of people as the need arises?_

The problem with using a taxonomical list is that the taxonomy items would be content, we would have to provision default content for them, and then the conditional field logic would depend on content. Either the terms could be deleted or we would have

[2020-05-11 14:16] bspeare commented on #1368
@richardbporter The dev site loads weird for me. In particular how everything under the header loads initially.  I imagine that it's because we are messing with the css.   Looking at the lighthouse score it looks like we gain 2-3 points.

[2020-05-11 14:35] pyrello opened #1575 "Allow post deployment to proceed after failing config status check"
Should post deploy fail on the "config is different" check? This shows as an error both locally and in production, but is really a warning that config needs to be fixed. The only way to resolve it is to merge another PR and in the meantime, no sites that come after will get database updates or config updates as part  that release. It seems like this could potentially be just a notification instead

[2020-05-11 14:54] ethanstjohn opened #1577 "SSL cert - add cio.uiowa.edu"
On uiowa01

[2020-05-11 14:56] ethanstjohn opened #1578 "SSL cert - add itcommunities.uiowa.edu"
On uiowa01

[2020-05-11 16:32] joewhitsitt commented on #1532
Looks like @bspeare was addressing this here as well:
https://github.com/uiowa/uiowa/pull/1539

[2020-05-11 18:25] richardbporter commented on #1368
Not sure I'm following on the weird loading - can you be more specific?

I see a 10 pt gain on mobile with 1.4s reduction in first contentful paint. Desktop is only 4 points and .7s gain.

Stage
![image](https://user-images.githubusercontent.com/1068523/81597074-b8989a00-938a-11ea-8775-6403b9ec7450.png)

Dev
![image](https://user-images.githubusercontent.com/1068523/81597083-bdf5e480-938a-11ea-934

[2020-05-11 18:37] bspeare commented on #1532
As @joewhitsitt noted in https://github.com/uiowa/uiowa/pull/1539#pullrequestreview-408545282 it looks like the z-index for `.joyride-tip-guide` will need to be 502 to get past the admin bar and the superfish module css.

[2020-05-11 18:49] joewhitsitt commented on #1553
First off, just to pass on Todd's requests from the last week or so until a better issue is created to address the service wide additions:
- pronouns
- additional roles/[positions]

I had the same debate with myself when we were considering adding the person type back in for our feature parity sprint. I was leaning towards a taxonomy with protected defaults that align with the APR person types alo

[2020-05-11 18:51] bspeare commented on #1549
@joewhitsitt Here are some thoughts on the styling:

- Remove all of the padding and make results line up with Page title
- Remove borders, lines
- Change colors
- Add more spacing between each result
- Increase font size to something like 30px/25px/18px
- Change font to Roboto
- You could use the card mixins as a starting place: https://uiowa.github.io/uids/components/detail/card--no_image.html

[2020-05-11 19:12] richardbporter commented on #1368
I see it now on a hard refresh. Below the fold elements suffer from FOUC since they're not styled initially. Not sure how to handle that. There is an include option for selectors to add or we could expand the viewport height to include more of the page. Otherwise, I think this is how it works.

[2020-05-11 19:13] bspeare commented on #1549
- Black and gold search button (is possible).
- Increase line-height for results.

[2020-05-11 19:16] bspeare commented on #1549
- Increase search input and search button to match something closer to https://uiowa.github.io/uids/components/detail/search.html

[2020-05-11 19:19] richardbporter commented on #1368
I feel like lazy loading makes the FOUC more obvious. I'll play around with a few options.

[2020-05-11 20:16] joewhitsitt opened #1584 "Edit existing media from field reference widget"
## Problem
Nothing new but currently existing media placed via field cannot be edited (focal point, alt, global caption). The editor has to go to /admin/media to edit.

## Proposed Solutions:
Test one of the following solutions or find something better.

Core:
https://www.drupal.org/project/drupal/issues/2985168

Contrib:
https://www.drupal.org/project/media_library_edit
https://www.drupal.org/pro

[2020-05-11 20:40] bspeare commented on #1368
If I pull the branch down, how can I test the selectors to add?  Is there anything special to get this to run?

[2020-05-11 20:47] richardbporter commented on #1368
I added more details in #1563 and also pushed a change to dev. I can't seem to get rid of that uiowa-bar jank with the margins.

[2020-05-11 21:06] bspeare commented on #1368
It does seem to load better now - thanks!  Maybe all we need to figure out is a way to get rid of the uiowa-bar jank.

[2020-05-12 13:17] pyrello commented on #1584
It might also be worth testing this option as a temporary solution until this is added to core: https://www.drupal.org/project/drupal/issues/2985168#comment-13541249

[2020-05-12 13:24] ethanstjohn opened #1586 "Provision itcommunities.uiowa.edu"

[2020-05-12 14:00] richardbporter commented on #1477
I added some additional cleanup steps. This would greatly reduce the complexity of our setup. If sites need to use a different profile or export all configuration, that would still be possible.

[2020-05-12 14:15] bspeare commented on #1253
Related regression for tertiary option:

<img width="1524" alt="screen_shot_2020-05-12_at_8 59 04_am" src="https://user-images.githubusercontent.com/1036433/81702603-213a5200-9431-11ea-8884-dbe4e3a25bef.png">

[2020-05-12 14:51] pyrello commented on #1553
@joewhitsitt It sounds like you are saying, by deigning to discuss specific fields for the default install profile that you would prefer if I just add these to a split. I guess I'm not sure where a better place to start this discussion is. @mark-bennett-uiowa and I are going to be needing this functionality sooner rather than later, so I would prefer to get the process underway.

Here is a compari

[2020-05-12 14:52] pyrello commented on #1553
@mark-bennett-uiowa Can you speak to whether the person type you built maps to the field names in APR?

[2020-05-12 15:18] joewhitsitt commented on #1553
Yeah, i am interested in the APR comparison because i had been previously told that was the best chance at a campus wide solution.

[2020-05-12 15:18] bspeare commented on #1368
I'll test this locally further today to see if there are any solutions for the jank.

[2020-05-12 16:08] bspeare opened #1588 "Create unique id for card block component a11y"
# Problem

<img width="1202" alt="Screen Shot 2020-05-12 at 11 06 41 AM" src="https://user-images.githubusercontent.com/1036433/81717899-bf81e400-9440-11ea-8a5d-35cd10661d70.png">

# Proposed Solution

Create unique id variable based on card title

[2020-05-12 16:22] mark-bennett-uiowa commented on #1553
This is a discussion that may take extensive discussion outside of this board. To answer your question above @pyrello for the most part yes. However, there are some fields and field names that are slightly different in APR. The APR system changed quite a bit during the time I was working on it. If Suzanne and Denny have changed things since they have been working on it, I am unaware of changes to

[2020-05-12 17:13] pyrello commented on #1553
@mark-bennett-uiowa Thanks for this write-up. I think this helps illuminate the dimensions of what we are up against in this challenge very nicely.

How do we go about acquiring a list of the fields in APR?

Who is currently in charge of the APR implementation in Drupal? It seems to me that, as the people tasked with developing how people records from APR are shown in a Drupal site, that we should

[2020-05-12 17:24] GaryRidgway commented on #1286
This should be completed and ready for approval

[2020-05-12 17:24] joewhitsitt commented on #1286
I reviewed this on the current brand site where the problem was reported. It looks like it resolves the issue. Thanks.
👍

[2020-05-12 17:25] #1286 closed, assigned to GaryRidgway

[2020-05-12 20:05] richardbporter commented on #1300
The robotstxt file is cached for one month right now and could be longer in the future. Overriding this would require a cache clear and purge when a site goes live. I'm inclined to leave this as-is. The simpler solution is to stage in stage and split robotstxt temporarily for high profile sites.

[2020-05-12 20:16] joewhitsitt commented on #1532
This fix got merged in: https://github.com/uiowa/uiowa/pull/1539/commits/fb15aa54deb4eb2212399fbe7bc693f8ee7c8b5b

[2020-05-12 20:16] #1532 closed, assigned to dnkemper

[2020-05-12 20:24] bspeare commented on #1501
Closed via https://github.com/uiowa/uiowa/pull/1539.

[2020-05-12 20:24] #1501 closed, assigned to nobody

[2020-05-12 20:24] bspeare commented on #1460
Closed via #1507.

[2020-05-12 20:24] #1460 closed, assigned to nobody

[2020-05-12 20:26] bspeare commented on #1458
@joewhitsitt Did you still want to factor how these are pulled in?

[2020-05-12 20:27] bspeare commented on #1421
Do you think we can close this one for now as a result of https://github.com/uiowa/uiowa/pull/1539?

[2020-05-12 20:28] bspeare commented on #1417
Closed via https://github.com/uiowa/uiowa/pull/1539.

[2020-05-12 20:28] #1417 closed, assigned to nobody

[2020-05-12 20:31] bspeare commented on #956
@pyrello I just tried this on uiowa.local.drupal.uiowa.edu and I liked what they have implemented for UX improvements.

<img width="401" alt="Screen Shot 2020-05-12 at 9 38 10 AM" src="https://user-images.githubusercontent.com/1036433/81742290-7b550a80-9465-11ea-8270-0ffe318a3041.png">

There were also ajax errors when I tried to add a new layout section - can you verify this same issue on your en

[2020-05-12 20:42] joewhitsitt commented on #1421
Was this also the placeholder issue for converting the article content type to layouts? Is that still a thing or has it been captured elsewhere?

[2020-05-12 20:46] joewhitsitt commented on #1458
Looks like you fixed this similar to uiowa_bootstrap, so #1200 can stay open and I will note that we should resolve it for both themes.

[2020-05-12 20:47] joewhitsitt commented on #1200
This refactor would apply to both since they have the assets local.

[2020-05-12 21:18] bspeare commented on #1458
Closed via https://github.com/uiowa/uiowa/pull/1472.

[2020-05-12 21:18] #1458 closed, assigned to nobody

[2020-05-12 21:20] bspeare commented on #1421
Good point!   @pyrello What are your thoughts?  Create a new issue dedicated to creating a layout builder template?

[2020-05-12 21:34] bspeare opened #1590 "Adjust text on lockup generator page to remove "Live preview" and add "preview""
# Problem
- Delete "Live Preview" and add "preview" to "Horizontal lockup" and "Stacked lockup"

<img width="1384" alt="Screen Shot 2020-05-12 at 4 31 50 PM" src="https://user-images.githubusercontent.com/1036433/81747753-4305fa00-946e-11ea-9940-eaca387a5191.png">

# Proposed Solution

<img width="1266" alt="Screen Shot 2020-05-12 at 4 32 22 PM" src="https://user-images.githubusercontent.com/10364

[2020-05-12 21:38] bspeare opened #1591 "Add a "black background" option in uids_base in addition to of dark gray brand option"
# Problem

The brand team has requested to add a black background option.

<img width="2225" alt="Screen Shot 2020-05-12 at 4 35 06 PM" src="https://user-images.githubusercontent.com/1036433/81748120-e951ff80-946e-11ea-8f66-308d3373390e.png">

# Proposed Solution

- Add a `Black Background` option to use `$secondary` background color.
- Switch `Dark Background` to use PMS Cool Gray 10 `#63666A`.

[2020-05-12 21:46] joewhitsitt commented on #1591
Is there not supposed to be support for a dark gray anymore (PMS Cool Gray 10)? I would be more in favor of adjusting that and adding a black option.

https://brand.prod.drupal.uiowa.edu/color

[2020-05-12 21:52] bspeare commented on #1591
That is a good option too!

[2020-05-12 21:54] bspeare commented on #1591
@joewhitsitt I updated the issue to reflect your comment.

[2020-05-12 22:09] pyrello commented on #956
I can confirm the same issues when I test it.

I would be interested in figuring out how they did some of the things that are included in this module and bringing them in either via theming or via the layout_builder_custom module. I'm not sure if the whole experience is better.

[2020-05-13 14:21] joewhitsitt opened #1592 "uiowa.edu - Add A-Z View Page to Sitemap"

[2020-05-13 15:52] joewhitsitt commented on #371
Marking as blocked. Good info, but work is being done to just use uids_base instead of sub-theming

[2020-05-13 15:55] joewhitsitt commented on #463
Closing in favor of #1290

[2020-05-13 15:55] #463 closed, assigned to nobody

[2020-05-13 16:13] joewhitsitt commented on #661
This issue is largely outdated, but https://github.com/uiowa/uiowa/pull/749 is only blocked from merging in the current state. Work can be done to refactor to align with custom block type and build out a paragraphs compatible variant of the stat component in uids_base.

[2020-05-13 16:24] #1304 closed, assigned to dnkemper

[2020-05-13 16:25] dnkemper commented on #1584
Started - added the module and update hook but told to pause for now b/c budget

[2020-05-13 16:26] dnkemper commented on #1340
Started but computer had to be nuked/lost work.

[2020-05-13 16:30] dnkemper commented on #781
Lost work from environment issues.

[2020-05-13 16:33] dnkemper commented on #1392
Updated issue removing styles. Blocked for now

[2020-05-13 16:44] #1447 closed, assigned to joewhitsitt

[2020-05-13 17:34] joewhitsitt commented on #781
So, I think since "admin_views" is in core now, all that needs to happen is that we disable the current (core-provided) view, duplicate it, add the tags filter, maybe remove the language filter, enable the view and export.

[2020-05-13 17:36] briand44 commented on #781
or we could try to add it programmatically, that way we still get any new updates if there are any.

[2020-05-13 17:44] #992 closed, assigned to nobody

[2020-05-13 17:45] joewhitsitt commented on #1037
@mark-bennett-uiowa Is this still an issue if icsa is moving to the sitenow profile?

[2020-05-13 17:47] joewhitsitt commented on #1081
Marking as postponed until we have a better idea of the future of default content

[2020-05-13 18:04] joewhitsitt commented on #1245
https://www.drupal.org/project/menu_link_attributes

[2020-05-13 18:13] pyrello commented on #1245
When we discussed this a while back, I think that @mjoneill was indicating that having all external links open in a new page is no longer considered best practice.

[2020-05-13 18:17] joewhitsitt commented on #1245
This module provides attributes on a case-by-case basis. If that is no longer desired as well, I think this issue can be closed.

[2020-05-13 19:41] dnkemper opened #1598 "SSL for distance.uiowa.edu on uiowa01"
SSL for distance.uiowa.edu on uiowa01

[2020-05-13 19:41] dnkemper opened #1599 "SSL for uc.uiowa.edu on uiowa01"
SSL for uc.uiowa.edu on uiowa01

[2020-05-14 02:06] #1303 closed, assigned to nobody

[2020-05-14 02:09] pyrello commented on #1553
Related to #598

[2020-05-14 14:19] joewhitsitt opened #1606 "Convert HR's Article Featured Image to Responsive View Mode"
## Problem

HR's article featured image stuff is split and is still using the sitenow 16:9 image

## Proposed Solution
Switch the article full to use the same image settings as default sitenow.

If sitenow 16:9 gets deprecated then this will be mandatory.

[2020-05-14 14:43] joewhitsitt commented on #986
Linkit doesn't plan to do this and a contrib project is currently broken: https://www.drupal.org/project/linkit/issues/3038115

[2020-05-14 14:45] joewhitsitt commented on #986
https://www.drupal.org/project/linkit/issues/2828190

[2020-05-14 15:24] bspeare opened #1607 "Add all-day functionality to event date field on event block"
# Problem

There is no "all-day" option for the event date field on uiowa.edu

# Proposed solution

Add "all-day" module?

[2020-05-14 16:21] pyrello commented on #1575
Is it possible that we could use this module to notify us in the event that deployment results in config that is out of sync? @richardbporter

[2020-05-14 16:47] pyrello opened #1609 "Use layout builder content template for article content type"
Related to #1421

[2020-05-14 16:47] pyrello commented on #1421
Created a new issue.

[2020-05-14 17:00] bspeare opened #1610 "Align background image section text to the bottom on mobile instead of center"
# Problem

Image captions obscure the image by centering on mobile as set in the section settings.

<img width="486" alt="screen_shot_2020-04-16_at_4 55 23_pm" src="https://user-images.githubusercontent.com/1036433/81962994-225ab300-95da-11ea-9cb6-10cabb84e73c.png">

<img width="526" alt="Screen Shot 2020-05-14 at 11 56 54 AM" src="https://user-images.githubusercontent.com/1036433/81963157-57ff9c0

[2020-05-14 17:04] joewhitsitt opened #1611 "Migrate old footer menus to new footer menus"
## Problem
There are two sets of footer menus. SiteNow uiowa_bootstrap uses footer and footer-second while SiteNow uids_base uses footer-primary, footer-secondary, footer-tertiary.

## Proposed solution
Update hook to move footer to footer-primary and footer-second to footer-secondary. The deployment of such an update hook will be pretty intensive and slow things down.

If this is done before uids

[2020-05-14 17:42] joewhitsitt commented on #1610
I'd like to get more thoughts on this but I am resistant to adding "mobile" settings to things. I assume that the majority of our users aren't designers or knowledgable about responsive design (e.g. what a mobile breakpoint is) and I also don't want to overwhelm editors with options. We were originally worried about putting in all of those existing flex/alignment options. So far with customers, "s

[2020-05-14 17:46] joewhitsitt commented on #1610
If this is scoped only to brand.uiowa.edu as a custom site customer, I could see a section style option for this without adding an additional field that forks the paragraph bundle.

[2020-05-14 17:50] richardbporter commented on #1575
We may be able to catch any exceptions thrown when we invoke the `drupal:update` process and then exit with the appropriate code at the end of multisite loop. That would mark the job as a failure but continue on through each site. Hopefully.

https://github.com/uiowa/uiowa/blob/de654ddf1c8dffe8f6e7b35b703e1012701aa015/blt/src/Blt/Plugin/Commands/ReplaceCommands.php#L36

[2020-05-14 18:32] #1592 closed, assigned to joewhitsitt

[2020-05-14 18:36] dnkemper opened #1612 "Add SSL for blt itcommunities.uiowa.edu on uiowa01"
Add SSL for blt itcommunities.uiowa.edu on uiowa01

[2020-05-14 18:41] bspeare commented on #1610
@joewhitsitt No problem.  I just wanted to create an issue surrounding the question posted in Slack a few weeks ago to see what was possible.  I agree, it's hard to know how the other components would respond to this setting.

[2020-05-14 18:45] #1586 closed, assigned to dnkemper

[2020-05-14 18:57] joewhitsitt opened #1614 "Typo Card Link Field Label"
<img width="884" alt="Screen Shot 2020-05-14 at 1 54 20 PM" src="https://user-images.githubusercontent.com/4663676/81974126-bd5b8900-95ea-11ea-99f0-a6ddcc7a6a5d.png">

Capital I...

[2020-05-14 20:22] bspeare opened #1615 "Adjust paragraph card in uids_base to match fallback link strategy used in UIDS"
# Problem

A link will only be added to the paragraph card if the `card_title` exists.

# Proposed Solution

Adjust template to add a link to the card if `card_title` is empty: https://uiowa.github.io/uids/components/detail/card--default.html.

[2020-05-14 20:41] richardbporter opened #1616 "Add www, uiowa.edu to uiowa01 SSL certificate"

[2020-05-14 21:08] bspeare opened #1617 "Integrate menu-vertical style from uids with sidebar menus in uids_base"
# Problem

The sidebar menu in SiteNow is is unstyled in uids_base.

# Proposed Solution

<img width="1482" alt="Screen Shot 2020-05-14 at 4 07 25 PM" src="https://user-images.githubusercontent.com/1036433/81986217-0b798800-95fd-11ea-8567-2f6b2fc45fe0.png">

Add vertical menu styles from https://uiowa.github.io/uids/components/detail/main-menu--main-menu-secondary-vertical.html

[2020-05-14 21:52] joewhitsitt commented on #1361
A lot was left un-done with https://github.com/uiowa/uiowa/issues/351. Picking up from there.

[2020-05-15 13:57] bspeare opened #1619 "Add default footer spacing for pages not using layout builder or paragraphs in uids_base"
# Problem

<img width="1471" alt="Screen Shot 2020-05-15 at 8 55 33 AM" src="https://user-images.githubusercontent.com/1036433/82058204-0a426c80-968a-11ea-8e74-0a7dafd2c6dd.png">

# Proposed Solution

Target pages not using layout builder or paragraphs.

[2020-05-15 15:23] #1300 closed, assigned to nobody

[2020-05-15 15:23] #1554 closed, assigned to nobody

[2020-05-15 17:17] bspeare opened #1620 "Alert close button is not working in uids_base"
# Problem

You cannot close an alert in uids_base.

<img width="1544" alt="Screen Shot 2020-05-15 at 12 15 42 PM" src="https://user-images.githubusercontent.com/1036433/82078001-002e6700-96a6-11ea-82b2-3503ffbb9033.png">

# Proposed Solution

Investigate fixing the JS so that alerts can be dismissed.

[2020-05-15 17:50] mark-bennett-uiowa commented on #1550
This is to be a template for each program on the site. And these will only be used on the Undergraduate Programs and Graduate Programs pages. They will be stacked on top of each other in a “list” of sorts, one for each Major, one for each Minor, and one for each Certificate. So on the UG Programs page, it will be B.S. in X, B.S. in Y, B.A. in Z, Minor in X, Minor in Y, Certificate in Z, with each

[2020-05-15 18:14] richardbporter commented on #1620
The green X? I FWIW, I didn't think that was clickable. Thought it was just an icon. I must be used to close icons in the top right.

[2020-05-15 18:32] #1386 closed, assigned to nobody

[2020-05-15 18:32] #1577 closed, assigned to nobody

[2020-05-15 18:32] #1578 closed, assigned to nobody

[2020-05-15 18:32] #1598 closed, assigned to nobody

[2020-05-15 18:32] #1599 closed, assigned to nobody

[2020-05-15 18:32] #1612 closed, assigned to nobody

[2020-05-15 18:32] #1616 closed, assigned to nobody

[2020-05-15 18:37] bspeare commented on #1620
@richardbporter It looks like a remnant from `uiowa_bootstrap` where you had bootstrap `alert-dismissible` JS.  Anyone want to attach some JavaScript to the `<button>` for closing the alert? https://github.com/uiowa/uiowa/blob/551f4c4f7d27740522f3d9e7d2ab8c81e571429b/docroot/themes/custom/uids_base/templates/misc/status-messages.html.twig#L40

[2020-05-15 20:55] richardbporter commented on #1223
Git doesn't track directories so when someone else deprovisions a site, it persists for you after pulling. `git clean -fd docroot/sites/` should clean them up.

[2020-05-15 20:55] #1223 closed, assigned to nobody

[2020-05-15 20:55] richardbporter commented on #1059
Not gonna worry about this.

[2020-05-15 20:55] #1059 closed, assigned to nobody

[2020-05-18 13:33] #1549 closed, assigned to joewhitsitt

[2020-05-18 14:17] bspeare opened #1624 "Adjust layout builder background padding/margins to allow full screen color backgrounds"
# Problem

Setting a background color on a full-width section creates a whitespace border of `3 rem` margin on the left and right.

<img width="1707" alt="Screen Shot 2020-05-18 at 9 15 30 AM" src="https://user-images.githubusercontent.com/1036433/82223469-51c63400-98e8-11ea-9e13-5e5efb591304.png">

# Proposed Solution

Change margin to padding so that background color is full-width.

[2020-05-18 15:29] #1614 closed, assigned to dnkemper

[2020-05-18 15:33] #1368 closed, assigned to nobody

[2020-05-18 16:03] #1477 closed, assigned to nobody

[2020-05-18 16:03] #1247 closed, assigned to nobody

[2020-05-18 16:03] #1248 closed, assigned to nobody

[2020-05-18 16:24] #1575 closed, assigned to nobody

[2020-05-18 16:24] #1470 closed, assigned to nobody

[2020-05-18 16:42] joewhitsitt opened #1626 "Revisit split permissions configuration"
## Problem

We have entered into the growing-pains phase of split permissions. One little piece of config or functionality could trigger a split of permissions. As the number of roles increases and the number of sites splitting config we either need to figure out a better way of dealing with permission splits. Gone are the days where I was knowledgable about all of the custom sites on the service

[2020-05-18 16:56] #1283 closed, assigned to nobody

[2020-05-18 17:01] joewhitsitt commented on #1626
Another thought I just had, was to double down on the number of roles and create webmaster_base, editor_base, etc. Make those pretty stock and then let most splits (unique content type permissions, etc.) be site specific roles with site specific permissions. Two initial problems I see is the number of roles (max_input_vars) and making sure the weights don't affect the base role configuration so th

[2020-05-18 17:26] pyrello commented on #1626
Just dropping this here to review later: https://www.drupal.org/project/config_role_split

[2020-05-18 18:23] richardbporter commented on #1620
I can. I think we should still be using jQuery until/if we rip it out. AFAIK, it is still a hard dependency of Big Pipe.

[2020-05-18 18:35] richardbporter commented on #1620
Thoughts on if this should be a library specific for status-messages or something abstract in uids_base.js to make 'alert-dismissible' reusable?

[2020-05-18 19:05] bspeare commented on #1620
Abstract sounds preferable.   What do you prefer?

[2020-05-18 19:28] mark-bennett-uiowa opened #1628 "Footer menu confusion between Primary/Secondary Footer Links and Footer primary/secondary/tertiary?"
In the Basic site information screen, there is a section that links to these footer menus:
<img width="904" alt="Screen Shot 2020-05-18 at 2 22 12 PM" src="https://user-images.githubusercontent.com/3067017/82251617-23aa1980-9913-11ea-9368-645d500fe729.png">

Should these be changed to point to Footer primary, Footer secondary, and Footer tertiary menus instead?

[2020-05-18 19:41] richardbporter commented on #1620
Lets cross that bridge when we get there.

[2020-05-18 19:59] richardbporter commented on #1402
I was unclear on few things in #1629 - like what to name things and how to add the JS in assets/js in Git. These docs would be nice.

Additionally, it might be nice to clean up a few other things I noticed. Not sure if that belongs here or not but it seems easier complete both at once.

- I don't find the separate config.json for Gulp useful. I'd rather see the src/ and dest/ values inline.
- I do

[2020-05-18 20:19] joewhitsitt opened #1630 "Improve unique id functionality to actually do something useful"
## Problem

Customer pointed out that the unique id field is basically useless unless you are a power user. I had to write out the steps to successfully use the unique id field for an anchor link:

[code]

The main problem is, you can type anything in to the field (special characters, etc.) and it saves and displays to the editor as such. On render however, it could be a completely different value

[2020-05-18 21:35] bspeare opened #1633 "Adjust placement of search and top links in uids_base if not using toggle navigation"
# Problem

The top links and search bar does not adjust to display back within the container if the Toggle Navigation is not used.

<img width="1854" alt="Screen Shot 2020-05-18 at 4 23 05 PM" src="https://user-images.githubusercontent.com/1036433/82261608-f4040d00-9924-11ea-84b9-b2af4f8cce6f.png">

# Proposed Solution

Adjust Search button and top links to appear within the page container when th

[2020-05-18 21:58] bspeare opened #1634 "Adjust spacing on alert icon in uids_base"
# Problem

The alert icon is too close to the alert heading.

<img width="1359" alt="Screen Shot 2020-05-18 at 4 56 06 PM" src="https://user-images.githubusercontent.com/1036433/82263529-b903d880-9928-11ea-8eab-83a807342eb3.png">

# Proposed solution

Update spacing in uids_base or alerts module.

[2020-05-18 22:16] mark-bennett-uiowa commented on #1633
Yes, please! Thanks bud.

[2020-05-19 18:13] joewhitsitt commented on #1628
We are kind of in a middle ground here. I don't know if this is a bug. SiteNow still uses the old menus and uids_base theme sites use a different set, I will add this to the https://github.com/uiowa/uiowa/issues/1611 issue

[2020-05-19 18:16] joewhitsitt commented on #1404
Closing until this can be replicated consistently in Claro

[2020-05-19 18:16] #1404 closed, assigned to nobody

[2020-05-19 18:40] bspeare opened #1787 "Update spacing on card horizontal variant and ie11 issue"
# Problem

**IE11**

Uiowa site

<img width="1502" alt="Screen Shot 2020-05-19 at 1 26 58 PM" src="https://user-images.githubusercontent.com/1036433/82365401-389bb100-99d6-11ea-80a0-a2739275da7e.png">

Brand site

<img width="1082" alt="Screen Shot 2020-05-19 at 1 42 11 PM" src="https://user-images.githubusercontent.com/1036433/82365696-9cbe7500-99d6-11ea-9bb2-eb2046d20242.png">

[2020-05-19 20:16] dnkemper opened #1636 "SSL for itpmo.uiowa.edu on uiowa01"
SSL for itpmo.uiowa.edu on uiowa01

[2020-05-19 20:17] dnkemper opened #1637 "Update blt command to remove 'sitenow' when generating site provision command"
Update blt command to remove 'sitenow' when generating site provision command

[2020-05-19 20:48] joewhitsitt commented on #1322
Need to confirm that the finalized block iowa is used everywhere:

- [x] uiowa/uiowa_bar/pull/48, uiowa/uiowa_bar/pull/57
- [x] uiowa_bar_wordmark_swap on 701
- [x] uiowa_bar_wordmark_swap on 702
- [x] uiowa_bar_wordmark_swap on 703
- [x] uiowa/uiowa_bar/pull/56
- [x] https://github.com/uiowa/uiowa/blob/master/docroot/sites/brand.uiowa.edu/modules/brand_core/images/iowa.svg
- [x] https://github.co

[2020-05-20 14:00] joewhitsitt commented on #986
I was thinking about this last night. I am surprised this isn't more of an issue as people migrate and try to link up files.

So far the community has solved this with clunky workarounds that we might need to investigate adopting.

I suggest trying to separate out the file upload into a separate button on the wysiwyg with ample help text to guide them to upload the file here or thought the media a

[2020-05-20 14:29] #1361 closed, assigned to joewhitsitt

[2020-05-20 14:37] richardbporter commented on #1637
Are you referring to what the request form prints out? If so, that can be changed in the webform UI on prod. Webform config is no longer tracked in the sitenow.uiowa.edu split.

[2020-05-20 14:38] richardbporter commented on #1352
Do we need this for launch?

[2020-05-20 14:41] mjoneill commented on #1352
No. Nice to have. Not urgent.  I'm fine if this comes later/future.  Might even be worth having more convo about it.

[2020-05-20 14:43] dnkemper commented on #1637
@richardbporter Yes. I noticed that and changed it on prod but didn't want to close issue until I double checked. Thank you very much!

[2020-05-20 14:43] #1637 closed, assigned to dnkemper

[2020-05-20 14:44] richardbporter commented on #1637
Cool, thanks!

[2020-05-20 15:52] #1588 closed, assigned to joewhitsitt

[2020-05-20 15:52] #1615 closed, assigned to nobody

[2020-05-20 16:01] joewhitsitt opened #1640 "uiowa.edu - Change A-Z "Search" to "List""
During the a11y walk-through, our previous discussion was reaffirmed that the word "search" is not correct for an a-z filter list with no search box.

- [x] View page config
- [x] Menu links

[2020-05-20 16:15] joewhitsitt commented on #986
If sticking with the current setup, the at the very least, the following should be done:

- [ ] min-height: 490px; on #entity_browser_iframe_file_link_browser in the nested context to deal with Claro spacing
- [ ] help text to explain the workflow, upload file, close/reopen linkit and autocomplete the filename (not the media name).
- [ ] **Bonus**, some kind of ajax callback on upload to "retrigge

[2020-05-20 16:35] joewhitsitt opened #1642 "Update split permissions to allow management of new footer menus"
## Problem
While we wait for https://github.com/uiowa/uiowa/issues/1611 to extend to all, the brand site is using the footer menus in uids_base and already has split permissions.

## Proposed solution
Change their permissions to use the new footer menus

[2020-05-20 17:57] richardbporter commented on #1634
Spacing seems ok to me on stage/local.

![image](https://user-images.githubusercontent.com/1068523/82480421-64339f80-9a99-11ea-8b2b-ab257906e32e.png)

Where was this? What heading level?

[2020-05-20 17:58] richardbporter commented on #1634
Tested Chrome, Safari and FF on OSX.

[2020-05-20 17:59] #1642 closed, assigned to joewhitsitt

[2020-05-20 18:03] #1620 closed, assigned to nobody

[2020-05-20 18:42] richardbporter commented on #1634
Not able to reproduce this at the moment.

[2020-05-20 18:42] #1634 closed, assigned to nobody

[2020-05-20 19:38] briand44 commented on #1483
There is an email in its-web asking about the progress of this bug. When we have a fix in place we should communicate it out to them. Thanks

[2020-05-20 21:05] bspeare opened #1786 "Fix tertiary header for ie11"
# Problem

<img width="1648" alt="Screen Shot 2020-05-20 at 8 33 04 AM" src="https://user-images.githubusercontent.com/1036433/82493847-41f84c80-9aae-11ea-90cc-829e389f34d2.png">

# Proposed Solution

Target header with ie11 specific fixes.

[2020-05-20 21:12] richardbporter opened #1652 "Account notifications are currently enabled"
We should disable these as they a) contain the wrong information and b) will get annoying as we toggle users fairly frequently.

[2020-05-20 22:58] joewhitsitt opened #1654 "Cover paragraph bundles with section background colors"
## Problem

Section background color choices can have cascading affect on nested paragraph bundles resulting in a11y concerns.

## Proposed Solution

Check and address these cascading and white background issues appropriately similar to uiowa_boostrap but with a lighter footprint.

Recently, attention was given to articles, events, featured content, people. Apply the same solutions while accountin

[2020-05-21 13:47] #991 closed, assigned to nobody

[2020-05-21 13:47] #1411 closed, assigned to nobody

[2020-05-21 13:47] #1534 closed, assigned to bspeare

[2020-05-21 13:47] #1590 closed, assigned to nobody

[2020-05-21 13:54] cory-skeers opened #1656 "Social media embed overflow and sizing"
Social media post embeds overflow their parent containers. The "Display as" sizing doesn't appear to be applying, either--sizing constant for full, large, medium, and small.

![image](https://user-images.githubusercontent.com/49074566/82565395-fb533280-9b3f-11ea-812d-d79ef3adff1c.png)

Possibly related to discussions around #478

[2020-05-21 13:57] joewhitsitt commented on #1656
the embeds i found have specific min-widths (all different) which we can't control very well. we see about an overflow hidden on the drupal-entity/drupal-media wrapper or something similar.

[2020-05-21 15:48] richardbporter commented on #1628
Sounds like this can be closed in favor of #1611, which might be happening soon-ish.

[2020-05-21 15:48] #1628 closed, assigned to nobody

[2020-05-21 15:49] richardbporter commented on #1037
Seems to be displaying now on https://icsa.uiowa.edu/projects. Going to close this but please reopen if still an issue.

[2020-05-21 15:49] #1037 closed, assigned to pyrello

[2020-05-21 15:56] #1652 closed, assigned to nobody

[2020-05-21 16:34] #1624 closed, assigned to bspeare

[2020-05-21 19:50] #1421 closed, assigned to nobody

[2020-05-21 19:51] joewhitsitt opened #1660 "As a SiteNow developer, I can deploy a theme that uses UIDS with paragraphs (part two)"
Following up from https://github.com/uiowa/uiowa/issues/1324
- [x] #1654 Account for background color options with paragraph bundles
- [x] Maybe covered by 1654, but dark gray bg with yellow links fails contrast ratio.
- ~~Support for page title `sub_title` (e.g. Person credentials, etc.)~~ _With the person credentials accounted for, there currently isn't another use case for sub_title right now_

[2020-05-21 19:54] joewhitsitt commented on #371
Much of this is either done or will be handled later through their respective tasks. Marking for reference but closing. Further work is being done towards this in #1324 and #1660

[2020-05-21 19:54] #371 closed, assigned to nobody

[2020-05-21 19:58] richardbporter opened #1661 "Change login link text for improved a11y"
The current text, HawkID Login, could be confusing without any context. I think we should change it to Admin Login and possibly add additional attributes.

[2020-05-21 20:00] joewhitsitt opened #1662 "UIDS_Base WYSIWYG Styles"
## Problem
WYSIWYG text areas are currently unstyled and don't offer a "preview" of uids_base rendering.

## Proposed Solution
Load the theme styles similarly to how uiowa_bootstrap did.

[2020-05-21 20:03] joewhitsitt opened #1663 "Update permissions for uiowa.edu"
- [x] Navigation (e.g. search menu)
- [x] A-Z Terms

[2020-05-21 20:05] #1640 closed, assigned to joewhitsitt

[2020-05-21 20:09] #1551 closed, assigned to mark-bennett-uiowa

[2020-05-21 20:10] #1591 closed, assigned to nobody

[2020-05-21 20:11] #1557 closed, assigned to nobody

[2020-05-21 20:28] #1364 closed, assigned to nobody

[2020-05-21 20:38] joewhitsitt opened #1664 "Confirm Webform Settings regarding file uploads"
We are seeing some odd default extensions and file size defaults.

I thought we addressed this in https://github.com/uiowa/uiowa/issues/353

Wonder if there was a configuration regression when we update webform.

[2020-05-21 21:01] quamsta opened #1665 "Bouncy Top Bar on Mobile and Desktop Safari"
Hi all, I was playing around with the new homepage on some of my devices and I noticed that the sticky header that hides itself upon scrolling up gets a little "bouncy" if you use any kind of inertial scrolling on Safari and scroll quickly from the middle of the page to the top. It sort of slides down twice and sometimes a third time.

I'm attaching a video of this in action on desktop Safari, but

[2020-05-21 21:20] bspeare commented on #1665
Thanks @quamsta!

[2020-05-21 21:38] joewhitsitt commented on #1664
Added to the +1 of the homepage project, but if someone is able, work on this can happen sooner rather than later.

[2020-05-22 12:46] mjoneill opened #1667 "Audit homepage site for tags (GA, GTM, Twitter, FAcebook, etc...) and replicate. onstage site"
- [x] GTM-K7W3K5P
- [x] GTM-W77KGGZ
- [ ] UA-93022130-1 (Looks like this is implemented via GTM-K7W3K5P)
- [ ] UA-15402334-1 (Looks like this is implemented via GTM-W77KGGZ)
- [ ] Doubleclick
- [ ] Facebook pixel: 1649388325315299 (Looks like this is implemented via GTM-W77KGGZ)
- [ ] Twitter tag: nw1cb (Looks like this is implemented via GTM-W77KGGZ)
- [ ] CrazyEgg: Pretty sure this was implement

[2020-05-22 12:49] mjoneill commented on #1667
![image](https://user-images.githubusercontent.com/7144234/82669155-8ac01a80-9c00-11ea-8da6-15059c0856ce.png)
![image](https://user-images.githubusercontent.com/7144234/82669163-8f84ce80-9c00-11ea-9bf5-0a367d5d5aeb.png)
![image](https://user-images.githubusercontent.com/7144234/82669179-94e21900-9c00-11ea-95af-8a18ddbb284d.png)
![image](https://user-images.githubusercontent.com/7144234/82669185-99

[2020-05-22 13:00] mjoneill commented on #1667
@joewhitsitt So far, this doesn't seem like it's going to be that complex.  Most of what I saw is implemented via the two GTM containers.  There are a couple others that are implemented another way.

When you have a minute, can you take a look and see if you think we'll be able to get these on the new site (if they aren't already) for launch?

[2020-05-22 13:05] mjoneill commented on #1667
I also tried this for the first time.  Some of the graphics are from it, but if you click through on each tag on this page it shows you where it is implemented: https://app.taginspector.com/scan_results/share/2e07bdfdda61432ab0be12c9bf40ccb3?utm_source=taginspector&utm_medium=sharelink&utm_campaign=sharedlinksQsharedlinksQ2_2020

[2020-05-22 14:38] joewhitsitt opened #1669 "uids_base - Search Button Label"
## Problem
Mobile Lighthouse reports button aria-label on search button:

<img width="512" alt="Screen Shot 2020-05-22 at 9 36 02 AM" src="https://user-images.githubusercontent.com/4663676/82678765-c7474280-9c0f-11ea-8ac8-8870f33d9cd5.png">

[2020-05-22 15:15] richardbporter opened #1670 "Port D7 stories redirect"
There is currently a redirect for all stories content on the D7 codebase. We need to port this before launch.

[2020-05-22 15:24] joewhitsitt opened #1671 "Policy - custom theme development"
Need something for this

Could be an add-on to https://sitenow.uiowa.edu/policies#custom-engagements

[2020-05-22 15:49] joewhitsitt commented on #1671
@briand44 mentioned he has already sent emails with text that could be used for this

[2020-05-22 16:47] #1663 closed, assigned to richardbporter

[2020-05-22 16:47] #1661 closed, assigned to richardbporter

[2020-05-22 18:19] #1670 closed, assigned to richardbporter

[2020-05-22 18:34] richardbporter commented on #1664
The other issue says no action was needed. I think we set a default max upload size of 50 mb and remove a few extensions like dmg, jar and rar.

Another option would be to match exactly our media types but I don't think these file upload will be uploaded to the public file system and/or rendered for frontend users.

[2020-05-22 18:35] mark-bennett-uiowa opened #1674 "Dynamic refresh of menu item weights not working while adding custom link"
If I create a new node, and select Provide a menu link from the Menu tab, it will automatically refresh to show the menu item weights for that menu:
<img width="565" alt="Screen Shot 2020-05-22 at 1 26 00 PM" src="https://user-images.githubusercontent.com/3067017/82698523-86135a80-9c30-11ea-830d-8ac1fbc99e67.png">
However, when I am in Administration > Structure > Menus > Edit menu Main Navigation

[2020-05-22 20:02] #1664 closed, assigned to richardbporter

[2020-05-26 11:42] richardbporter commented on #1374
Had to run https://github.com/uiowa/uiowa/pull/1589#issuecomment-628173807 again to get robots.txt purged. Should probably document that.

[2020-05-26 13:38] #1327 closed, assigned to joewhitsitt

[2020-05-26 14:51] joewhitsitt opened #1678 "uids_base - node preview header and actions"
## Problem
<img width="544" alt="Screen Shot 2020-05-22 at 12 36 18 PM" src="https://user-images.githubusercontent.com/4663676/82915299-2a99e300-9f36-11ea-9111-2b4e750b429f.png">

## Proposed Solution
Port and refactor styles from uiowa_bootstrap:
<img width="508" alt="Screen Shot 2020-05-26 at 9 50 27 AM" src="https://user-images.githubusercontent.com/4663676/82915485-67fe7080-9f36-11ea-995e-5f50

[2020-05-26 17:16] #1322 closed, assigned to joewhitsitt

[2020-05-26 18:32] joewhitsitt opened #1680 "A11y adjustments for autoplay video loop"
# Proposed Solution

- [x]  Set `prefers-reduced-motion` in JavaScript.
- [x]  Set a cookie to remember whether pause was pressed? https://github.com/uiowa/uiowa/pull/1719
- [x]  Add aria label to play/pause button https://github.com/uiowa/uids/pull/228
- [x]  Move play/pause button top the bottom left of the video so that it can be paused https://github.com/uiowa/uids/pull/225

prefers-reduced-mo