[2021-08-18 19:04] dnkemper commented on #3707
From what I remember when we mobbed, we couldn't find a section without a sidebar present? I could be wrong though.

[2021-08-18 19:05] pyrello commented on #3707
We didn't find any examples of pages without sidebars, but its definitely possible that it could occur. I'd say it seems like something that can be fixed manually if/when those pages are found.

[2021-08-18 19:08] bspeare commented on #3707
Do all of the pages listed here look good now?  https://github.com/uiowa/uiowa/issues/2629#issuecomment-870057933

[2021-08-18 19:12] dnkemper commented on #3707
@bspeare  define good haha. I'm trying to fix a weird rendering things going on but can push up what I have in the mean time?

[2021-08-18 19:13] bspeare commented on #3707
Yeah, good is probably not the best term.   The pages are probably no longer broken because they have a contact sidebar.

[2021-08-18 19:34] dnkemper commented on #3707
They definitely look a lot better with the sidebar!

[2021-08-18 20:05] #3975 closed, assigned to richardbporter

[2021-08-18 20:43] richardbporter commented on #3974
I don't think it is feasible to run PHP compat checks on these codebases given the inconsistent organization. There are too many directories and files that need to be ignored, all named differently.

[2021-08-18 20:55] richardbporter commented on #3974
`Warning: file_put_contents(private:///.htaccess): failed to open stream: "DrupalPrivateStreamWrapper::stream_open" call failed in file_create_htaccess() (line 496 of /Users/.../acquia/uiowa703-dev/docroot/includes/file.inc).`

This is because the private files directory does not exist in `acquia-files/sites/`. Once that is created, it should go away. This was happening with PHP 7.3.

[2021-08-18 21:01] richardbporter commented on #3974
Updating rabbit_hole fixed that notice on ITS while working on #3683. They had a PHP 7.4-compat release. Has DB update.

[2021-08-18 21:08] richardbporter commented on #3974
Updated elysia_cron to  7.x-2.8 in #3683 to fix another notice. No DB update.

[2021-08-18 21:27] richardbporter commented on #3683
PHP doesn't do `a.m.` or `p.m.` with a date format so we can't just change the calendar view field date format. We'd have to manipulate the string somewhere in the theme. Still looking for where we might do that...

[2021-08-18 21:45] richardbporter commented on #3683
I think the best option is to change the Drupal "Alerts Digest" date format to use lowercase am/pm. Everywhere else seems to use lowercase so that would make it consistent.

The spacing before `am/pm` is inconsistent though. We could remove or add a space in other locations depending on their preference.

[2021-08-19 13:27] joewhitsitt commented on #3707
I unchecked `Convert FAQs to Accordions` because that is for HR to manually change their FAQ paragraphs instances to the Accordion paragraph on each page.

[2021-08-19 13:29] bspeare opened #4002 "Add `word-break: break-word` for text area `<a>` tags"
# Problem
<img width="713" alt="Screen Shot 2021-08-19 at 8 28 37 AM" src="https://user-images.githubusercontent.com/1036433/130077027-64ecf453-835c-4c69-9773-624d2873d991.png">

# Proposed solution
<img width="657" alt="Screen Shot 2021-08-19 at 8 27 18 AM" src="https://user-images.githubusercontent.com/1036433/130077061-a6f86614-a1ad-4e1d-979b-6b01ee7d22a8.png">

[2021-08-19 13:32] joewhitsitt commented on #4002
I feel like this has come up before for another component in uids_base. Is there a situation where we don't want this to happen? uiowa_bootstrap has this as a base style for `<a>`

[2021-08-19 13:41] bspeare commented on #4002
Yes, we should look into adding this globally.  We just need to test how it changes the behavior of other components.

[2021-08-19 13:43] bspeare commented on #4002
Closing this because https://github.com/uiowa/uiowa/issues/2325 already exists.

[2021-08-19 13:43] #4002 closed, assigned to nobody

[2021-08-19 13:43] bspeare commented on #2325
Adding the documentation here of the bug:

# Problem
<img width="713" alt="Screen Shot 2021-08-19 at 8 28 37 AM" src="https://user-images.githubusercontent.com/1036433/130077027-64ecf453-835c-4c69-9773-624d2873d991.png">

# Proposed solution
<img width="657" alt="Screen Shot 2021-08-19 at 8 27 18 AM" src="https://user-images.githubusercontent.com/1036433/130077061-a6f86614-a1ad-4e1d-979b-6b01ee7d2

[2021-08-19 14:09] #3946 closed, assigned to nobody

[2021-08-19 14:10] #3922 closed, assigned to dnkemper

[2021-08-19 15:22] bspeare opened #4003 "Link field with MyUI urls containing `.` are converted to `_`"
# Problem
MyUI urls used within link fields have `.` converted to `_`.

# Steps to reproduce
View the difference between the text area link and the card link field on: https://sandbox.prod.drupal.uiowa.edu/link-test

# Proposed solution
?

[2021-08-19 15:52] richardbporter commented on #3683
Just changed the "Alerts Digest" format in prod to use lowercase am/pm as that does not seem to be featurized.

[2021-08-19 16:02] GaryRidgway opened #4004 "Implement UIDS 4.x accordion changes"
## Stories
Implement the changes to the accordion component from UIDS 4

## Proposed solution
- Address uiowa/uids#961
- Update template
- Review any custom CSS related to accordions in SiteNow
- Search for instances of `'@uids_base/uids/accordion-item.html.twig'` to see where this is getting implemented. Review these to see if we need adjust our implementations.

<details>
<summary>Previous infor

[2021-08-19 17:00] mjoneill opened #4005 "Coronavirus Dashboard"
As a coronavirus site owner, My Covid by the Numbers dashboard gets updated automatically every Monday, Wed, Fri mornings at X:XXAM.

Some points we discussed today in planning:
- We build through pairing/swarming. I'd rather move slower and make the investment that multiple people have a high comfort level in working on this in case we get [hit with chaos](https://thinkinsights.net/wp-content/upl

[2021-08-19 17:03] mjoneill commented on #4005
Wasn't on my radar as of 5 minutes ago.  @richardbporter I'm glad we didn't ask 'em to turn off the API.

[2021-08-19 17:04] mjoneill commented on #4005
Not shown in the screen shot, I think we need some text that indicates when the data that is being displayed was last updated.

[2021-08-19 18:35] joewhitsitt opened #4006 "Audit and present current data that is being used on maps.uiowa.edu"
Epic: https://github.com/uiowa/uiowa/issues/3957

## Story

As the site owner, I can see what data is being used on maps.uiowa.edu and know how it is entered into the website.

## Proposed Solution

- Provide a report of what data is pulled from where as well as what content is maintained manually.
  - What is imported and updated by the Facilities SIMS database?
  - What content is managed by Ale

[2021-08-19 18:39] joewhitsitt commented on #3957
Finding smaller slices of this.

[2021-08-19 20:29] richardbporter commented on #4005
https://github.com/uiowa/uiowa/pull/2142

[2021-08-19 20:36] GaryRidgway opened #4008 "SPPA private permissions didn't stick"
# Story
As a user, i want the SPPA private page stuff to work as described in https://github.com/uiowa/uiowa/pull/3986

# Proposed Solution

- [x] Confirm marking a page as private now in PROD ([post permission rebuild](https://github.com/uiowa/uiowa/issues/4008#issuecomment-902280689)) now has the expected visibility for anonymous users.
- [ ] Update the display settings to [not show the private

[2021-08-19 20:41] mjoneill commented on #4005
Resurrect old code, see what we can do with what's already built.  O'Neill to ask if they _need_ approvals or not.  <-- O'Neill will try to sell them on not starting with approvals.

[2021-08-19 20:58] joewhitsitt opened #4010 "Extend event content type feature to provide Series Link and Directly link to Series functionality"
# Story

As an editor, I can provide a Series Link for event content that displays as a button on the event node but also provides and option to link directly to it from teasers and view titles.

# For reference

Look at sitenow_articles for functionality similar to this.

# Proposed Solution

- [x] Extend event content feature to provide a "Series Link" link field.
  - [x] Output the title/link a

[2021-08-19 21:02] bspeare opened #4011 "Review topic landing page pr and provide feedback"
Review https://github.com/uiowa/uiowa/pull/4009 and provide feedback to @quamsta

[2021-08-19 21:04] quamsta commented on #4011
Thanks @bspeare, thought about setting up an issue but sorta forgot while I was hunched over scribing my pull request. Appreciate it!

[2021-08-19 21:19] joewhitsitt commented on #4008
Increase in scope. This displays:
<img width="402" alt="Screen Shot 2021-08-19 at 4 18 47 PM" src="https://user-images.githubusercontent.com/4663676/130145637-87275f29-23af-46db-b63f-c526c8fae5b0.png">

each page that is being saved now has a public or private status above the title.

https://sppa.uiowa.edu/current-students/jobs-and-internships
https://sppa.uiowa.edu/about-us/welcome-director
http

[2021-08-19 21:50] dnkemper commented on #3707
@joewhitsitt @bspeare Alright. Believe this is ready to be looked over now 🤞

[2021-08-19 21:53] cory-skeers opened #4012 "Explore ways of stitching together user journeys"
# Story

As a continued followup to accessing Snowplow tracking data, we want to explore how thoroughly we can stitch together a user journey across different event types (dispatch, form submissions, page visits). Different events utilize different identifiers as well as provide different types of information with regards to the user journey, and further analysis will depend on how well these even

[2021-08-19 22:04] joewhitsitt commented on #4008
I ran a permissions rebuild for sppa which I think fixes this (admin/reports/status/rebuild or https://github.com/uiowa/uiowa/pull/3807/files).

[2021-08-19 22:10] joewhitsitt commented on #4008
Maybe @e-marie-w can confirm the permissions rebuild worked by marking a piece of content as private.

[2021-08-19 22:26] mjoneill commented on #4005
Added bullet points from retro discussion and Miro board.

[2021-08-20 13:09] e-marie-w commented on #4008
It's working for me, pages marked private give me 'access denied' if not logged in while pages with the public status are still visible.

[2021-08-20 14:34] richardbporter commented on #3974
`Deprecated: Array and string offset access syntax with curly braces is deprecated in docroot/profiles/sitenow/modules/contrib/views/handlers/views_handler_filter_string.inc on line 2951`

[2021-08-20 14:35] richardbporter commented on #3974
`Notice: Trying to access array offset on value of type null in font_awesome_field_requirements() (line 18 of docroot/profiles/sitenow/modules/custom/font_awesome_field/font_awesome_field.install).`

[2021-08-20 14:41] richardbporter commented on #4005
![image](https://user-images.githubusercontent.com/1068523/130250687-3bdf07f3-76bc-4231-abe2-c5ae7175e18c.png)

[2021-08-20 14:48] mjoneill commented on #4005
One thing that I didn't make explicitly clear or mention is that apparently there's a change in columns from when we last visited this issue to build the previous prototype.  The image Hayley shared is current/planned (as of today or next week) and represents what we should be going for.

[2021-08-20 14:56] GaryRidgway commented on #4008
this is a yee-haw moment.

[2021-08-20 15:13] richardbporter commented on #3649
Putting it in front of the `UPDATE:` label will only print if there are updates to the alert. I'm assuming that is always the case.

[2021-08-20 15:21] joewhitsitt commented on #3649
Can this be adjusted to not rely on the update being there?

[2021-08-20 15:38] GaryRidgway commented on #4005
@mjoneill Do you possibly know what they mean by "since august 23rd"? do they just want to calculate how many cases since that day? 2020? 2021? will it always be august 23rd? any clarification would be appreciated

[2021-08-20 15:41] mjoneill commented on #4005
My understanding is that 8t will remain the 23rd for a year….

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: GaryRidgway ***@***.***>
Sent: Friday, August 20, 2021 10:38:21 AM
To: uiowa/uiowa ***@***.***>
Cc: mjoneill ***@***.***>; Mention ***@***.***>
Subject: [External] Re: [uiowa/uiowa] Coronavirus Dashboard (#4005)

@mjoneill<https://github.com/mjoneill> Do

[2021-08-20 15:41] mjoneill commented on #4005
They are using the 23rd is the start of the semester in coming up totals for that

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: O'Neill, Michael J ***@***.***>
Sent: Friday, August 20, 2021 10:41:28 AM
To: uiowa/uiowa ***@***.***>; uiowa/uiowa ***@***.***>
Cc: mjoneill ***@***.***>; Mention ***@***.***>
Subject: Re: [External] Re: [uiowa/uiowa] Coronavirus Dash

[2021-08-20 16:04] richardbporter commented on #3974
`Deprecated function: implode(): Passing glue string after array is deprecated. Swap the parameters in ctools_component_features_export_render() (line 195 of docroot/profiles/sitenow/modules/contrib/features/includes/features.ctools.inc).`

[2021-08-20 16:05] richardbporter commented on #3974
`Notice: Trying to access array offset on value of type null in hs_menu_hierarchical_select_valid_item() (line 219 of docroot/profiles/sitenow/modules/contrib/hierarchical_select/modules/hs_menu.module).`

[2021-08-20 16:05] richardbporter commented on #3974
`Notice: Undefined index: #max_delta in field_collection_field_attach_form() (line 1432 of docroot/profiles/sitenow/modules/contrib/field_collection/field_collection.module).`

[2021-08-20 16:38] richardbporter commented on #3649
This is done but not deployed.

[2021-08-20 16:38] richardbporter commented on #3683
This is done but not deployed.

[2021-08-20 17:11] bspeare commented on #4010
@joewhitsitt Do we want the Series Link field to be a link for internal pages only or allow external as well?

[2021-08-20 17:24] joewhitsitt commented on #4010
I think it should allow both.

[2021-08-20 19:57] makurj commented on #3685
Feature branch: `its-alert-date`
In this file, sites/its.uiowa.edu/modules/custom/its_views/its_views.module, remove the switch case for "maintenance" and add the date formatter code to all alert types.
Also, added a comma after the year.

Big thanks goes to @GaryRidgway for pairing on this.

[2021-08-20 20:25] richardbporter commented on #3974
Reverted.

[2021-08-20 20:49] #3685 closed, assigned to makurj

[2021-08-20 20:49] #3649 closed, assigned to richardbporter

[2021-08-20 20:49] #3683 closed, assigned to richardbporter

[2021-08-23 13:45] bspeare opened #4018 "Create "Event series" content type"
# Story

As an editor, I can create an Event series page that pulls in published upcoming event content dates referencing it and is sorted chronologically.

# Proposed Solution

- Create "Event series" content type
  - [ ] Layout template that is similar to Hawkeye Visit Days content
  - [ ] I doubt we can reliably output the general time summary of all event instances, so providing a "Series sche

[2021-08-23 15:26] joewhitsitt commented on #3974
Going to test the branch locally on a couple websites

[2021-08-23 16:14] joewhitsitt commented on #3974
Are we opposed to modifying contrib modules to implement some fixes? This fixed a display issue I saw on the content overview of ITS.
https://www.drupal.org/project/views/issues/3117897

"broken"
<img width="963" alt="Screen Shot 2021-08-23 at 12 40 04 PM" src="https://user-images.githubusercontent.com/4663676/130492482-5d275dcb-4280-4ba9-b262-8fc3ac3d0b2b.png">
"fixed"
<img width="964" alt="Scree

[2021-08-23 16:51] #4008 closed, assigned to joewhitsitt

[2021-08-23 17:28] #4010 closed, assigned to bspeare

[2021-08-23 17:39] joewhitsitt commented on #3974
Beyond that, a lot of the custom noodle code I've written over the years is holding up. I am more in favor now of deploying

[2021-08-23 18:43] richardbporter commented on #3974
Prod switched.

[2021-08-23 18:52] joewhitsitt commented on #3973
For the most part 702 is like 701/703, but I am going to pull down and test content.uiowa.edu against PHP 7.4

I know this is out of scope, but it would be real swell if we could fix this on content.uiowa.edu locally:
`Cannot redeclare paragraphs_features_export_options()` (deleted local version of paragraphs module to move forward)

Update:
- Lots of warnings/notices about hierarchical select, sh

[2021-08-23 20:09] richardbporter commented on #3972
I flipped this one as well since we tested standard sites on #3974

[2021-08-23 20:32] pyrello opened #4021 "Add department field to genetics.grad.uiowa.edu site split"
# Motivation

The program field that is added to the person content type via `grad_person_extended` is not meeting the needs of the Genetics site. They would like a field that works similar to the Department field that I added to the person in the immuno.grad.uiowa.edu split.

# Proposed solution

- Copy the related config from the immuno.grad.uiowa.edu split to the genetics.grad.uiowa.edu split.

[2021-08-23 21:18] bspeare commented on #4018
@joewhitsitt If https://admissions.uiowa.edu/hawkeye-visit-days is our model for this do we need the fields listed below?

- Featured Image
- Intro text (Or just have them set this in the Body?)
- Body

Event details sidebar featuring:
  - Series schedule summary field
  - Link field for the "Register" button

[2021-08-23 21:23] joewhitsitt commented on #4018
Good question. I figured this content type would be a set layout capturing most of what they have here, but I have not confirmed if this is the look they want versus the solution they came up with based on the LB options available to them.

[2021-08-24 13:47] cory-skeers commented on #4003
Poked around at this a little, and wondering if https://www.drupal.org/project/redirect/issues/3153360 is related. Either `Url::fromUri()` in Core, or the more general `parse_str` method seems to be a common culprit. Haven't dug in to see where the difference in URL handling is that may include this.

[2021-08-24 13:49] bspeare commented on #4003
Nice find @cory-skeers !

[2021-08-24 15:01] joewhitsitt commented on #4018
Bit of a road bump. schema_metatag doesn't have an EventSeries type. The module recommends using metatags_alter to do altering but it fires before the json is created. This means we either need to repurpose existing event schema inputs or we might need to create an EventSeries sub module

Also should be noted that part of the reason EventSeries is not an available type is because it is still a pen

[2021-08-24 15:50] bspeare commented on #3401
Another thing we might want to do during this audit is split `admin.scss` into partials so we have better clarity and make editing those styles easier.

[2021-08-24 16:05] joewhitsitt commented on #4018
Capturing query work before I ran into the bump. This would be an alternative to the EVA module.
[code]

[2021-08-24 16:45] cory-skeers commented on #4003
The patches being worked on in https://www.drupal.org/project/drupal/issues/2984272 have the potential to be farther reaching, but there is also a limited-scope workaround.

Curious that the original issue doesn't appear to crop up when using the Source link and Link Directly to Source options for articles, and then viewing the article teaser. There may be a difference in filter settings or prepro

[2021-08-24 16:47] GaryRidgway commented on #4005
Just talked to ben and he said that he can add a "since" argument for us to use so that we can pass august 23rd as an argument and it will give us cases since then. waiting on a response with that to move forward.

[2021-08-24 17:41] joewhitsitt commented on #4006
## Imported from Facilities SIMS db via data.its.

`BuildingAbbreviation` serves as the unique id for this data.

[code]

- Country is also "captured" but is hardcoded as `US`
- Address is merged together for display

## Drupal Content

- Photos
- 360 degree panos
- Videos
- Links (title/url)
- Rich-text body
- Misc "extras" key value pairs
  - Point of interest
  - Housing
  - Dining
  - Recreati

[2021-08-24 17:52] briand44 commented on #3953
https://github.com/uiowa/uiowa/issues/3684

[2021-08-24 17:54] joewhitsitt commented on #4006
I think this is all that is needed to move forward with #3957. Closing

[2021-08-24 17:54] #4006 closed, assigned to joewhitsitt

[2021-08-24 17:56] #781 closed, assigned to nobody

[2021-08-24 18:10] richardbporter commented on #3933
I would start by duplicating the mazevo content pane and add/remove as necessary using the examples mentioned above as reference.

[2021-08-24 18:24] briand44 commented on #3837
Blocked until we get some feedback from Admissions

[2021-08-24 18:33] mjoneill commented on #3957
Can we add a checkbox/card to capture "Get CMS training roster identified"

[2021-08-24 18:58] briand44 commented on #4001
Use existing domain provision process. May need to make some tweaks

[2021-08-24 18:59] briand44 commented on #4001
review/update communications

[2021-08-24 18:59] briand44 commented on #4001
Potential future follow up to build in ability to override robotstxt per site

[2021-08-24 19:04] briand44 commented on #3933
Good opportunity to test upgrading signage php7.4

[2021-08-24 19:17] richardbporter commented on #3806
We do not want to do this.

[2021-08-24 19:42] joewhitsitt commented on #3725
I can't pin down the issue _i thought_ i saw about this, but I did see a Slack conversation that suggested writing a WYSIWYG filter to add additional classes where we need it to solve for the render

[2021-08-24 21:44] joewhitsitt commented on #3973
Switching 702 DEV to 7.4

[2021-08-25 13:07] richardbporter commented on #1977
Non-jQuery `drupal.once` in 9.2.0: https://www.drupal.org/node/3158256

[2021-08-25 13:40] joewhitsitt opened #4024 "Identify categories and sub-categories for initial Concept3D release"
Epic https://github.com/uiowa/uiowa/issues/3957

# Issue

Concept3D's CMS is structured similar to maps.uiowa.edu in that a user can select a category to filter map content. (point of interest, housing, parking construction projects, etc.)

<img width="356" alt="Screen Shot 2021-08-25 at 8 45 15 AM" src="https://user-images.githubusercontent.com/4663676/130802200-9146121b-a25b-4a2e-9659-06549146d5

[2021-08-25 13:48] joewhitsitt opened #4025 "Decide what data from Facilities should be pulled into Concept3D"
Epic https://github.com/uiowa/uiowa/issues/3957

# Issue

For MVP, Concept3D needs to know what initial data we want imported into the CMS.

# Proposed solution

- [x] Following up on https://github.com/uiowa/uiowa/issues/4006, and looking at the [Buildings_Schema.xlsx](https://github.com/uiowa/uiowa/files/7062843/Buildings_Schema.xlsx) file that Facilities provided, finalize what data we should i

[2021-08-25 14:16] richardbporter commented on #3972
Did not update elysia_cron as no schedule jobs seem to use it and it is not enabled by default on either profile.

[2021-08-25 14:20] #3972 closed, assigned to nobody

[2021-08-25 14:20] #3974 closed, assigned to richardbporter

[2021-08-25 14:57] richardbporter commented on #3957
Added a checkbox for v1 integrations.

[2021-08-25 15:18] #4003 closed, assigned to nobody

[2021-08-25 15:23] joewhitsitt commented on #3957
Reached out to Facilities to ask about a good unique id, an initial csv export of building info and whether there is data related to sharps disposal, etc. that we could pull from instead of manually maintain.

[2021-08-25 18:15] joewhitsitt opened #4028 "Hide allowed file extensions for webform file document component"
# Story

As a webform editor, since I can't modify allowed file extensions for my file component, I don't want to show all of the allowed extensions to users as it might be overwhelming or misleading.

<img width="1348" alt="Screen Shot 2021-08-25 at 1 11 41 PM" src="https://user-images.githubusercontent.com/4663676/130843826-8637fcda-9ef9-493e-92ec-63f25385813d.png">

# Background

We are disabli

[2021-08-25 18:24] joewhitsitt commented on #3837
Scott didn't seem interested in any of the new functionality. It will be easier in the long run to separate the base feature from Admissions than to keep the link going.

[2021-08-25 18:24] joewhitsitt commented on #3837
Admissions might be interested in what develops in this feature for grad.admissions but it sounds like they want that to be custom as well.

[2021-08-25 18:54] joewhitsitt commented on #3973
I am satisfied with testing against content.uiowa.edu. after changing the endpoints events, keywords, filters still get pulled in sitenow_events on v1 sites.

[2021-08-25 19:53] joewhitsitt commented on #3973
Rick poked around facilities and intranet.oneit

[2021-08-25 20:06] makurj commented on #3973
Not seeing anything other than this one on every single page:
![image](https://user-images.githubusercontent.com/52135878/130857448-29f10208-6204-474d-8c41-9824af0384fe.png)

[2021-08-25 20:25] joewhitsitt commented on #3973
Prior to PHP 8.0.0, if needle is not a string, it is converted to an integer and applied as the ordinal value of a character. This behavior is deprecated as of PHP 7.3.0, and relying on it is highly discouraged. Depending on the intended behavior, the needle should either be explicitly cast to string, or an explicit call to chr() should be performed. - https://www.php.net/manual/en/function.strpos

[2021-08-25 20:28] makurj commented on #3973
GTM, GA firing fine on prod so I'm on board with not updating the modules.

[2021-08-25 20:43] joewhitsitt commented on #3973
Switched to 7.4 for STAGE and PROD

[2021-08-25 20:46] dnkemper commented on #3867
Asking @pyrello if I can take a stab at this. 😇

[2021-08-26 11:19] pyrello commented on #3867
@dnkemper Sounds good to me. I added an account for you on https://iwp.uiowa.edu/whitmanweb, case that is helpful. I'm available for any questions that come up. I have hopefully done a better job than some previous issues of writing this one up :)

[2021-08-26 13:19] #3973 closed, assigned to joewhitsitt

[2021-08-26 13:23] dnkemper commented on #3867
@pyrello Haha hey now... I've learned a lot and am thankful for that 🤗 This seems greatly detailed and will work on keeping you posted. Thank you so much 🥳

[2021-08-26 16:05] #4018 closed, assigned to bspeare

[2021-08-26 16:39] #3993 closed, assigned to nobody

[2021-08-26 16:39] dnkemper commented on #3993
This is done

[2021-08-26 16:40] dnkemper commented on #3994
This is done

[2021-08-26 16:40] #3994 closed, assigned to nobody

[2021-08-26 16:53] joewhitsitt commented on #3761
Updated the issue summary. This issue can proceed through our normal workflow.

[2021-08-26 17:35] joewhitsitt commented on #3957
Jay from Facilities said `BuildingID` would be best for unique id, that he would help us get the initial csv dump and that DWProd has gender-inclusive restroom and lactation room data that we could pull from.

[2021-08-26 17:47] dnkemper commented on #3990
Done

[2021-08-26 17:47] #3990 closed, assigned to dnkemper

[2021-08-26 20:44] pyrello opened #4034 "Areas of Study: Create a clear split from admissions"
Continue within https://github.com/uiowa/uiowa/pull/3926
Move everything that Admissions needs over and eventually disable the feature split on Admissions

## Notes

The #3926 PR is currently adding the new stuff to Admissions but not placing the field on the content type nor providing permissions for the taxonomy vocabularies.

[2021-08-26 20:56] pyrello opened #4035 "Investigate partial splits in `config_split` 2.x"
# Motivation

Partial splits have been introduced to the 2.x branch of the `config_split` module. Partial splits will allow defining only what is different in a piece of config instead of requiring a complete copy of it. This idea could be revolutionary for our platform, allowing us to capture a lot less redundant configuration for our splits and simplifying the maintenance of things like permissi

[2021-08-26 20:58] pyrello commented on #4035
I'm definitely squatting on this. Kidding. Not kidding. Kidding...

[2021-08-26 21:14] joewhitsitt commented on #3934
I can easily disable as part of this work: https://github.com/uiowa/uiowa/issues/3933

[2021-08-26 21:20] mjoneill commented on #3837
I was able to reach out and hear back from Registrar.  Right now they are mostly confident that the label for "Learning Format" is actually "Delivery Mode".

They are trying to confirm with someone...

[2021-08-26 21:20] joewhitsitt commented on #3933
This is on the signage application `signage-outlook` for review. We need the [final endpoint](https://github.com/uiowa/uiowa/issues/3933#issuecomment-900633741). Disables the EMS widget as well.

[2021-08-26 21:21] joewhitsitt commented on #3934
This is on the signage application `signage-outlook` for review. It doesn't impact existing widgets, just prevents new ones from being added.

[2021-08-26 21:32] joewhitsitt commented on #3965
[code]

Otherwise, locally, I am able to work with the sign (have not tested all of the widgets).

[2021-08-27 07:15] kartagis commented on #3641
I'm on a Mac and I have both lando and DrupalVM. These days I tend to use DrupalVM because lando is so slow with everything (drush operations, website surfing) on my system. Drush operations can be faster though, if I ssh into the container. I agree with @pyrello though on lando being a viable alternative, considering it doesn't add another 4~ GB container to the filesystem.

[2021-08-27 13:50] richardbporter opened #4036 "As a site visitor using IE11, I can use a functional SNv2/3 website."
# Problem
We currently have some JS errors in IE 11:
<img width="449" alt="Screen Shot 2021-08-27 at 8 47 59 AM" src="https://user-images.githubusercontent.com/1068523/131137515-bce2dc8c-5115-408a-b4c4-4f57eedde17c.png">

If IE11 needs to be functional, some of the errors might indicate otherwise.

# Steps to reproduce
Spin up IE11 on BrowserStack and inspect all default and custom JS.

# Proposed

[2021-08-27 15:36] e-marie-w opened #4037 "Genetics - allow advisor field to contain multiple advisors"
# Motivation:
Some students on genetics.grad.uiowa.edu have multiple PhD advisors. Currently, the person content type only allows users to save one advisor in the advisor field.

## Story
As an editor/webmaster on a site with the `grad_person_extended`, I can set multiple advisors for a person of the student person type.

# Proposed solution
* `blt ds`
* `drush @default.local uli admin/config/deve

[2021-08-27 16:38] briand44 commented on #3968
Viki mentioned some concerns around this to me because they have lots of modules that aren't well maintained. Viki and Chuck would like to be notified when we have upgraded dev environment so they can help with testing and approving for prod.

[2021-08-27 20:15] richardbporter commented on #1977
I'm not so sure about this anymore. Given that we still need to support IE11 (#4036) coupled with the fact that jQuery is loaded on every page, it seems a heck of a lot easier to just use jQuery. I had a lot of trouble getting transpiled JS to work in #4013 whereas jQuery worked perfectly in IE11.

[2021-08-27 20:59] cory-skeers commented on #4034
Still more to do in #3926, but I think this part of it is done.

[2021-08-27 21:03] richardbporter commented on #3968
Just switched dev over to 7.4.

[2021-08-30 13:29] briand44 commented on #3968
Did you communicate with Viki and Chuck or would you like me to let them know?

[2021-08-30 13:45] richardbporter commented on #3933
I'll take a look at this.

[2021-08-30 13:46] richardbporter commented on #3968
I did not b/c it takes a while for the servers to switch over. Go ahead though, it should be good now.

[2021-08-30 13:56] briand44 commented on #3968
Can we sync the database and files so the dev site will more closely reflect prod before notifying them? It looks like it has been over two years since we have done that.

[2021-08-30 14:07] #3761 closed, assigned to makurj

[2021-08-30 14:48] richardbporter commented on #3933
Checked out in dev. Sent email to customer for review.

[2021-08-30 14:57] richardbporter commented on #3968
This needs to be deployed before switching prod.

[2021-08-30 15:14] quamsta commented on #3996
This may be a usability issue with the "anything goes" autocomplete link field that comes with Drupal. We had some rare issues with this sort of thing before, but a showing a specific "link to a page on this site" option first in our SilverStripe tinyMCE editor might have done a lot to mitigate this. No idea if there's anything like that for CKeditor/Drupal

<img width="547" alt="screen_shot_2021-

[2021-08-30 15:22] richardbporter commented on #3585
Adding/removing layouts from uids_base.layouts.yml seems to not take effect until plugin discovery happens. Running `drush cc plugin` will make changes visible in the UI, at least in my minimal testing.

I'd be curious if that command resolved the issue next time it happens, at least for authenticated requests. A Varnish purge may still be necessary if the page was cached incorrectly there.

If it

[2021-08-30 15:51] joewhitsitt opened #4038 "SSL - recserv.uiowa.edu on uiowa02"

[2021-08-30 15:56] richardbporter commented on #3968
I synced the database and files from prod. The files should absolutely be deleted after they are done testing. We may want to clear out stage as well if they were ever synced there in the past.

[2021-08-30 16:23] joewhitsitt commented on #3936
This is done. https://careers.prod.drupal.uiowa.edu/

Also, removed stage domain to reduce confusion.

[2021-08-30 16:23] #3936 closed, assigned to joewhitsitt

[2021-08-30 17:01] briand44 commented on #3968
I let Chuck and Viki know dev has been updated.

[2021-08-30 17:51] bspeare opened #4041 "Area of study: "Search" filter block similar to admissions.uiowa.edu that sends queries to URL specified in block config"
Create search block similar to the one displayed on the home page of admissions.uiowa.edu that sends queries to URL specified in block config:

<img width="1269" alt="Screen Shot 2021-08-30 at 12 52 27 PM" src="https://user-images.githubusercontent.com/1036433/131382823-c746c670-33a5-45ea-a6c1-f3ed858f8f19.png">

<details>
-  Moved functions related to `admissions_core` out of `uiowa_area_of_study

[2021-08-30 17:57] bspeare commented on #4034
Seeing this on `admissions.local`:

<img width="1275" alt="Screen Shot 2021-08-30 at 12 56 12 PM" src="https://user-images.githubusercontent.com/1036433/131383301-d76c7591-0f0a-4ccf-a834-e0e6066aaeb0.png">

Should this be a part of this issue or https://github.com/uiowa/uiowa/issues/4041?

[2021-08-30 18:11] bewoldt opened #4042 "Tags added within Relationship text input are hidden from view"
# Problem
When you have multiple tags added within a Relationship they end up being hidden if they are longer then the width of the text input field. It is hard to even add a new tag because you have to scroll all the way over to the right which is then covered up by the search icon.

<img width="480" alt="Screen Shot 2021-08-30 at 12 52 27 PM" src="https://user-images.githubusercontent.com/731952

[2021-08-30 18:18] joewhitsitt commented on #4042
I think long term it would be better to switch to the default field widget for this (single tag per input, drag handles to reorder, add another button)

<img width="669" alt="Screen Shot 2021-08-30 at 1 17 19 PM" src="https://user-images.githubusercontent.com/4663676/131385625-c265b2eb-8474-4482-aa74-0c0932602770.png">

[2021-08-30 18:19] joewhitsitt commented on #4025
Meeting scheduled with Michael and Alex for Thursday

[2021-08-30 18:38] dnkemper commented on #3867
@makurj and I are going to add screenshots to ask our questions.

1. Do we want the menu to be translatable?
2. Does the user interface for editing need to be translatable?
3. Will there be other languages added later?
4. How are they planning on editing both versions once the paid translators are gone?
5. How they want the selector to be displayed?

Here is what the current page translation looks

[2021-08-30 20:17] briand44 opened #4044 "Admission viewbook updates"
-------------

24 International Fulbright Scholars in 2020-21

21 NCAA Division I Teams

1316+ students studied abroad (remove “last year”)

Tuition table:
Iowa residents - $ 9,942
Nonresidents - $31,905*
Standard housing and meal plans - $11,780**

ACT and SAT Test Scores
The Iowa Board of Regents has waived the requirement for students needing to submit either an ACT or SAT in order to be admitt

[2021-08-30 20:22] briand44 commented on #4044
![viewbook-site](https://user-images.githubusercontent.com/1017022/131400244-5b8064d4-39bd-4bab-941c-500fb46f22b5.png)

[2021-08-30 20:37] richardbporter commented on #2359
Here is an example of a split named `site`: https://github.com/uiowa/uiowa/pull/4013/files#diff-2107cb765cb7d6f77d3aa84431a663e7ada1e664ec7bc5347d7827566beb7746 The description and folder still have the actual site name/URI in them but exporting uses the id: `site`.

[2021-08-30 21:47] joewhitsitt opened #4045 "SSL - studentspace.uiowa.edu on uiowa"

[2021-08-30 21:50] joewhitsitt opened #4046 "SSL - mentalhealth.uiowa.edu on uiowa"

[2021-08-31 13:00] mjoneill commented on #3837
Full answer from Registrar came in:

[2021-08-31 13:25] pyrello commented on #2359
I don't understand why we can't just get a list of all the site split names by scanning the folders and looking for a `config_split.config_split.*` file.

It may not actually end up being a problem, but it seems like this might be a little confusing when actually running imports and exports.

[2021-08-31 13:38] pyrello commented on #3867
1. Yes, the menu needs to be translatable.
2. The editing UI does not need to be translatable.
3. Yes. Currently a language is being added and another one is planned sometime in the next year.
4. I'm not sure I understand this question. The translators will only be providing translations. The content editors for the site will be responsible for actually entering and maintaining content over time.

[2021-08-31 13:46] joewhitsitt commented on #3837
Found this today https://github.com/uiowa/uiowa/issues/3347

Admissions wanted it to be a view block and to have the search block be configurable as well..

[2021-08-31 13:48] briand44 opened #4048 "Export all events on obermann.prod.drupal.uiowa.edu"
# Story

As an Obermann Center site owner, I would like a csv export of all events (past and future) so that we can refer to them as needed once our new site goes live.

# Additional Info

Fields in csv:
Title
Date - start and end
Description
Location
Type
Related Links

# Proposed solution

I believe we have used views data export for this type of thing in the past.

[2021-08-31 13:50] joewhitsitt commented on #1955
I think this was resolved in https://github.com/uiowa/uiowa/pull/3555

[2021-08-31 13:50] #1955 closed, assigned to nobody

[2021-08-31 13:52] richardbporter commented on #3965
Switched dev.

Needs to be deployed when prod is switched.

[2021-08-31 18:12] joewhitsitt opened #4049 "Signage - Use ImageMagick"
## Problem

Signage supports 4K but the GD image processing chokes...

Imagemagick is what we have switched to in the past for troublesome websites as it generally scales better in terms of memory consumption and is more performant.

## Proposed Solution

- [x] Add/configure ImageMagick to Signage and Healthcare Signage
- [x] Enable module and configure with correct path and quality.
- [x] Make su

[2021-08-31 18:19] richardbporter commented on #3953
The Dispatch template should be updated to ask at least one person to log in to the site. This indicates the site is still needed and prevents it from being flagged as inactive the next time we run the script.

https://apps.its.uiowa.edu/dispatch/templates/932493356

The same template/communication is used for both the first and all subsequent emails so it needs to be changed to account for that.

[2021-08-31 18:31] briand44 commented on #3996
This may be related https://github.com/uiowa/uiowa/issues/3373

[2021-08-31 18:49] briand44 commented on #3996
Let's learn some more about pathologic, find text and possible drush command to find and replace and we can weigh advantages and disadvantages.

[2021-08-31 19:20] joewhitsitt commented on #3800
Workaround is to move video to text area "block" instead. We have an issue to account for filtered_html cards in v2 to v3. https://github.com/uiowa/uiowa/issues/3878

[2021-08-31 19:20] #3800 closed, assigned to nobody

[2021-08-31 19:23] richardbporter commented on #3805
We decided as a team in grooming that this more of an enhancement than a bug.

[2021-08-31 20:11] joewhitsitt commented on #4041
The team thinks this is a good opportunity to create a generic search block that through block config captures the endpoint and a query parameter. Each block should allow unique config.

Admissions should continue to have their AoS search block and view page for now. Could the module be enabled but not the feature split? Bigger slice for another time.

[2021-08-31 20:44] richardbporter commented on #3966
Switched dev.

[2021-08-31 20:52] richardbporter commented on #3965
Just noting that adding an existing slide doesn't seem to work currently and is unrelated to upgrade.

<img width="919" alt="Screen Shot 2021-08-31 at 3 51 55 PM" src="https://user-images.githubusercontent.com/1068523/131574151-2ebb58ce-dac1-491c-a11e-ab921c989871.png">

[2021-08-31 21:02] richardbporter commented on #3965
Noting that Specialty -> ED Waitimes pane display seems off currently and unrelated to upgrade.

Also noting that Specialty -> USGS Earthquake map does not currently work.

[2021-08-31 21:47] joewhitsitt opened #4050 "Signage - Flexslider prevents full-width display of event widgets"
# Problem

There is a resolution issue with the following image and the devices in question are being adjusted, but the widgets are limited in how wide the tables grow.

<img width="640" alt="thumbnail_image001" src="https://user-images.githubusercontent.com/4663676/131579926-c53deac1-695a-4dbf-af4b-d8d996c610e3.png">

# Proposed solution

- [ ] Figure out a way to wrangle flexslider or consider t

[2021-09-01 13:37] #3965 closed, assigned to richardbporter

[2021-09-01 13:38] #3966 closed, assigned to richardbporter

[2021-09-01 14:06] richardbporter commented on #3933
Approved by customer. Future tweaks might be possible to room name. We may want to change the default API endpoint to prod URL when that is ready.

[2021-09-01 14:26] bspeare commented on #3855
There is a pr for this at https://github.com/uiowa/uiowa/pull/3861.   The majority of the work is complete, we just need to pull this into a sprint when we have capacity for testing.    Once we can pull this into the sprint, then the pr can be updated with testing instructions and moved out of draft state.

[2021-09-01 15:37] joewhitsitt opened #4051 "Deprovision - lynch.lab.uiowa.edu on uiowa01"
Site is no longer needed per Sayeh Sabbagh

[2021-09-01 16:48] bewoldt commented on #4050
Use display:table instead of display: block on the table inline styles. Or you could take off the display: block on the tables too.

[2021-09-01 17:26] #4045 closed, assigned to joewhitsitt

[2021-09-01 17:26] #4046 closed, assigned to joewhitsitt

[2021-09-01 18:00] #4051 closed, assigned to joewhitsitt

[2021-09-01 19:46] #4038 closed, assigned to joewhitsitt

[2021-09-01 20:05] makurj commented on #3867
Findings from today:
1. Any new language that's added to the Languages module will need to be added to the config split.
2. A new language's URL will need to be set.
3. Settings for Content translation module...
[Content language _ WhitmanWeb.pdf](https://github.com/uiowa/uiowa/files/7094051/Content.language._.WhitmanWeb.pdf)
[Languages - Detection and selection _ WhitmanWeb.pdf](https://github.co

[2021-09-01 20:43] joewhitsitt commented on #4050
Thanks for the suggestion @bewoldt. I will sneak this in with other in-progress Signage work.

[2021-09-01 20:53] joewhitsitt commented on #4050
Added to `signage-outlook` for UI Signage. See #3933.  Pushed to master for UI Healthcare Signage. Waiting for deployment.

[2021-09-01 20:53] #4050 closed, assigned to joewhitsitt

[2021-09-01 21:03] makurj commented on #3867
8. **_NEED HELP_**:
There are way too many files listed for config changes when trying to export, even for content blocks we've chosen not to translate in the module settings. View display of media is being changed, entity form display, etc.
[Synchronize _ WhitmanWeb.pdf](https://github.com/uiowa/uiowa/files/7094380/Synchronize._.WhitmanWeb.pdf)
Here are the config settings:
[Edit Whitman IWP _ Wh

[2021-09-01 21:22] joewhitsitt commented on #3867
If this functionality is changing for whitman web and it isn't supposed to be in the default config, then you need to add all of these to the site split and export.

[2021-09-01 21:24] dnkemper commented on #3867
woof. 157 files 😅. Thank you, @joewhitsitt

[2021-09-02 02:55] pyrello commented on #3867
Not necessarily. If there are common patterns for config files that get added en masse, then those can be done with wildcards.

However, we were planning on having a discussion to figure out to what degree we might want to bake this into the platform. Are there any other sites where we need translations? If so, then this should become a feature split. Based on how many files are involved, I defini

[2021-09-02 12:29] briand44 opened #4064 "Law Viewbook updates"
Update Law Viewbook according to email. Michael, Ben, Alan, Makur and myself have this email and can forward it to whoever needs it.

[2021-09-02 13:47] joewhitsitt commented on #3867
Sorry, yes, I assumed the config split documentation would be followed. https://github.com/uiowa/uiowa/blob/main/config/README.md

[2021-09-02 13:55] dnkemper commented on #3867
We just assumed it was weird that things we didn't want to touch were still getting changed 🤷🏼‍♀️

[2021-09-02 13:56] joewhitsitt commented on #3762
Happens on dining (703, paragraphs) as well

[2021-09-02 16:29] joewhitsitt commented on #4025
@mjoneill is going to ask Concept3D about how to capture additional data like Year Built and Gender-inclusive restroom information as it only looks like a description field is provided by default.

[2021-09-02 16:31] joewhitsitt commented on #4025
I am going to put together a list of data properties to for Jay to pull and provide a csv dump for. I am going to share that as a Google Doc in its-web. I am also going to look into merging in photo urls from the current maps site for initial import.

[2021-09-02 17:30] mjoneill commented on #3957
Followup re: custom fields

I asked today about custom fields.  Patrick said it's pretty easy. Should just be a matter of adding a column and making sure that everything is still tied to the uniqueID/buildingID.  He's going to check with the integration manager and follow up with an email and likely an invitation to discuss.

I'm not sure just adding the field means everything gets displayed as we

[2021-09-02 17:33] mjoneill commented on #3957
Followup re: CMS Training

In discussion with Patrick, it sounds like initial training audience should be the folks making decisions and working on building the initial site.  Future trainings can cast wider and wider nets.

Based on where we our now in our process and our journey, this would include:

- Some mix of folks on the web dev team
- TM W
- Scott F (optional)

[2021-09-02 17:36] mjoneill commented on #3957
Followup re: our current building pages

Currently most of our maps.uiowa.edu website traffic is around buildings.  It suggests that peope are searching for a specific building, then going to the building page (presumably to find out how to get there, where it is, etc....  Example building page: https://maps.uiowa.edu/mlh

Concept3d equivalent of these are what they call "Static Maps" (pages).  We

[2021-09-02 17:42] joewhitsitt commented on #4025
Additional data seems to be a thing: https://github.com/uiowa/uiowa/issues/3957#issuecomment-911907192

[2021-09-02 18:41] joewhitsitt opened #4065 "SSL - uiarc.uiowa.edu on uiowa"

[2021-09-02 19:58] #4012 closed, assigned to GaryRidgway, cory-skeers

[2021-09-02 20:33] makurj commented on #3867
Considering closed for now.

[2021-09-02 20:33] #3867 closed, assigned to dnkemper, makurj

[2021-09-02 20:45] richardbporter opened #4067 "Approve pending dev/stage wildcard certificates and install in every application dev/stage environment on the uiowa subscription except icgov."
Current dev/stage certs expire 9-9-2021.

These are different types of certs but the usual process should hold. They were auto-renewed which I think is not something we are supposed to check going forward. Once installed everywhere and activated, the old certs should be revoked in CM and removed from AC.

[2021-09-02 20:49] richardbporter commented on #3929
Our monthly articles would be easier if we had: As a SIteNow v3 user creating an article, I can choose to send a corresponding Dispatch communication.

[2021-09-02 20:52] cory-skeers opened #4068 "Run Education article migration in prod"
Education migration was recently run in dev, and is now ready to be run in prod.

# Proposed solution
Enable the education_migration split in prod
Complete the Sitenow Migrate configuration information pointing to the D7 education site
Run all migrations with `drush @education.prod mim --all`
If there are no errors, communicate to Ed team
Else, `drush @education.prod mr --all`, fix errors, and re-

[2021-09-02 20:54] makurj commented on #4064
EDITS TO SITE:

1. See Word Document for copy edits to content blocks.
-   These are highlighted in the document with notes for clarification.
-   Note a new section that needs to be added at the bottom. For reference, see the last spread of the [printed viewbook here](https://issuu.com/uiowa-osc/docs/law-jdviewbook-2021-final-forissuu).
![image](https://user-images.githubusercontent.com/52135878/

[2021-09-02 20:58] joewhitsitt opened #4069 "Recreate existing view page as a view block that can be placed on any layout builder page."
Epic: https://github.com/uiowa/uiowa/issues/3837
# Story

As an editor, I want to be able to place a view block of area of studies within a layout builder page.

# Proposed Solution

- [x] Recreate the existing areas of study view as a block display and package up in AoS feature split
- [x] Disable or remove the view page from the feature split.
- [x] Make sure the styles are scoped correctly
- [x

[2021-09-02 21:10] joewhitsitt opened #4070 "Show Canceled Info on Event Teaser (v2/v3)"
# Story

As an event attendee, I can see from an events listing whether a particular event has been cancelled.

# Background

- We have a "Canceled" badge on the single display (`event.canceled`).
- Customer was concerned that this information is not easy to see at a glance.

# Proposed solution

- [x] Find a way to incorporate `event.canceled` to the event teaser used by v2/v3.

[2021-09-02 21:12] bspeare commented on #4011
There's currently a draft converting this to layout builder: https://github.com/uiowa/uiowa/pull/4060.   During the next sprint (starting 9/2) I think we will need another working session with @quamsta to get that pr ready for review.

[2021-09-02 21:50] briand44 commented on #3971
Talked with Sam. Sounds like they are shooting for launching on D9 by end of Sept and other domains on that app will be reclaimed and Databases blown up. Which if that happens, no need to do this.

[2021-09-03 13:17] joewhitsitt commented on #3793
Updated data was provided. Assuming it is in the correct format, work can proceed on this.

[2021-09-03 13:20] joewhitsitt commented on #4024
There might be an accessibility layer in the future but for MVP, the plan is to work with these categories.

[2021-09-03 13:20] #4024 closed, assigned to nobody

[2021-09-03 13:22] joewhitsitt commented on #3957
Categories from https://github.com/uiowa/uiowa/issues/4024 will need to be manually added to buildings in the final csv. A building could have multiple categories

[2021-09-03 13:30] #4005 closed, assigned to richardbporter, GaryRidgway

[2021-09-03 14:49] joewhitsitt commented on #4069
This could be added to https://github.com/uiowa/uiowa/pull/3926

[2021-09-03 14:50] dnkemper commented on #4069
Crap. Okay!
________________________________
From: Joe Whitsitt ***@***.***>
Sent: Friday, September 3, 2021 9:49:37 AM
To: uiowa/uiowa ***@***.***>
Cc: Kemper, Danielle N ***@***.***>; Assign ***@***.***>
Subject: [External] Re: [uiowa/uiowa] Recreate existing view page as a view block that can be placed on any layout builder page. (#4069)

This could be added to #3926<https://github.com/uiowa/ui

[2021-09-03 14:53] pyrello opened #4071 "Investigate Autocomplete Deluxe module or alternative for entity reference tagging"
# Motivation

Tagging on our standard content types allows for multiple terms to be referenced and uses the "Autocomplete (tags)" form widget. However, this form widget can be confusing because you have to know to add a comma (and space) after the first tag. It is also prone to errors in the case of tags that include a comma. The Autocomplete Deluxe module might provide a compelling alternative UX

[2021-09-03 15:19] makurj commented on #4064
Checked with Laura and she said no need to add a new section at the bottom and we moved the stats above the "FIRST IOWA THEN ANYWHERE" section to avoid black background stats on black background footer.

[2021-09-03 15:21] bspeare commented on #4064
Let's also make sure to update this gold card text to grey so that it is accessible:

<img width="683" alt="Screen Shot 2021-09-03 at 10 21 07 AM" src="https://user-images.githubusercontent.com/1036433/132029294-375d1df4-d42b-4f4d-8974-4db9ef4f293a.png">

[2021-09-03 15:23] bspeare commented on #4064
For the overlay, you can use the gradient style that is used on the banners in `uids_base` if you want:

`.banner--gradient-bottom::after {
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.65) 70%);
}`

[2021-09-03 20:34] #3167 closed, assigned to richardbporter

[2021-09-07 13:59] joewhitsitt opened #4073 "AoS Synonyms field (associated terms)"
Epic: #3837

# Story

As a webmaster, I would like to associate other terms with my Area of Study so that visitors can easily find the "official" area of study through filtering.

# Proposed solution

- [x] plain long text field (not rendered to display)
- [x] Added to combine filter with title on the view block

[2021-09-07 14:06] GaryRidgway commented on #4037
I'm going to try and tackle this. I was told that this is a good place to make these changes, so i will use this branch and pr: (https://github.com/uiowa/uiowa/pull/4026)

[2021-09-07 14:20] joewhitsitt opened #4074 "AoS Delivery Mode field"
Epic: https://github.com/uiowa/uiowa/issues/3837

# Story

As a webmaster I want to assign delivery modes to a AoS and allow users to filter by it on the views block.

# Proposed Solution
- [x] field (e.g. Online, In Person, Hybrid) multiple select list?
- [ ] view block filter

[2021-09-07 14:24] cory-skeers commented on #4068
This has been completed.

[2021-09-07 14:24] #4068 closed, assigned to cory-skeers

[2021-09-07 14:41] #4034 closed, assigned to nobody

[2021-09-07 14:41] #4041 closed, assigned to nobody

[2021-09-07 15:53] GaryRidgway commented on #4037
this should be done!

[2021-09-07 16:06] bspeare commented on #3454
If we aren't able to fix this, we could prioritize https://github.com/uiowa/uiowa/issues/3273 as an alternative solution for sites that want to display 3rd level menus.

[2021-09-07 16:33] pyrello commented on #4037
Re-opening. We'll let the PR close this issue :)

[2021-09-07 16:50] joewhitsitt opened #4076 "Finalize Concept3D CSV Import"
Epic: https://github.com/uiowa/uiowa/issues/3957
Blocked by https://github.com/uiowa/uiowa/issues/4025

# Story

As the integration manager for Concept3D, I have received a finalized .csv document from the University of Iowa for initial import into the Concept3D CMS.

# Proposed solution

- [x] With the .csv data dump that Facilities provides, fill in the Bulk Upload spreadsheet that Concept3D pro

[2021-09-07 18:18] dnkemper commented on #3943
SQUATTING. DIBS. ME. MOI. PLEASE.

[2021-09-07 18:40] joewhitsitt opened #4077 "Investigate draggableviews context sort"
# Background

draggableviews was lacking when we launched v2 and we had to move forward with only providing one sort (SiteNow people). supposedly the sort issue has been fixed.

# Story

As a webmaster I want to maintain sorts of people by tag.

# Proposed Solution

- [x] Try to recreate draggableviews functionality that we previously had in v1 websites (taxonomy tag based sort page that can then

[2021-09-07 18:49] richardbporter commented on #2795
Example menu parent for SiteNow Articles: https://github.com/uiowa/uiowa/blob/main/docroot/modules/custom/sitenow_articles/sitenow_articles.links.menu.yml#L3

[2021-09-07 18:52] makurj commented on #3943
I would love to pair on this. Tippie D7 has something similar.

[2021-09-07 18:52] makurj commented on #3617
For my dev sprint.

[2021-09-07 18:54] joewhitsitt commented on #3943
quite a few contrib projects for this that might be worth looking at before creating a homegrown solution. there have been discussions in edudu and highedweb slack about what folks are doing for this.

[2021-09-07 18:55] makurj commented on #3814
I would love to pair on this.

[2021-09-07 18:57] makurj commented on #3923
For my dev sprint.

[2021-09-07 19:11] cory-skeers commented on #3373
Parking a few comments here.

- First slice, find text, with potential followup slices of replace text functionality
- There are two sides of this: The content editor looking to find specific text content on their site (links, mentions of content, etc), and developer looking for specific text content (links, inline classes, entity embeds, etc). For the latter, can see the desire for cli, on-site t

[2021-09-07 20:03] joewhitsitt commented on #4025
Waiting for response from Jay

[2021-09-07 21:58] #4069 closed, assigned to dnkemper

[2021-09-08 13:24] mjoneill opened #4078 "7 Day COVID Rolling Averages Chart"
As a visitor to the Covid By The Numbers page, I see a chart reflecting the Johnson County 7 day rolling average COVID-19 positivity rate vs. UI 7 day rolling average.

* Manual updates/screen capture is possible
* ~Is data in the BI data repository (could we automate this)?~ No.
* Can we get an informed mockup of how we would create the page on a dev site?

[2021-09-08 13:26] #4021 closed, assigned to cory-skeers

[2021-09-08 13:26] #4037 closed, assigned to nobody

[2021-09-08 13:26] mjoneill commented on #4078
Turned this into an issue. Getting pulled in as unplanned, etc...

@bspeare @briand44 @inspector508

[2021-09-08 13:29] mjoneill opened #4079 "Broken links message on Iowa Now"
As an editor of Iowa Now, I have a way to toggle a message at the top or at the bottom of old news articles.  Message says something like, "Links in this article are preserved for historical purposes, but the destination sources may have changed."

Iowa Now: a way to check if a link in a news article is broken and direct to an explainer page (the link you followed was correct when written and pres

[2021-09-08 13:31] mjoneill commented on #4079
Joe Sherlock is our partner on this issue.

[2021-09-08 13:36] bspeare commented on #2848
As mentioned in Slack, https://www.lullabot.com/articles/improve-editorial-experience-type-tray-and-page-templates could be another approach to pursue.

[2021-09-08 13:54] mjoneill commented on #4078
I think a first slice is a mockup on dev on what this could look like so we can understand the accessibility issues and have a conversation with partners on what it would take to maintain this on an ongoing basis.

[2021-09-08 14:02] makurj commented on #4067
Completed.

[2021-09-08 14:02] #4067 closed, assigned to makurj

[2021-09-08 14:21] richardbporter commented on #3498
Acquia Platform Email - Action Required before February 2022

_"Enhanced security, Improved email reputation, Encryption, Robustness"_

https://docs.acquia.com/cloud-platform/manage/platform-email/

https://support.acquia.com/hc/en-us/articles/4407528771095

[2021-09-08 14:40] bewoldt opened #4080 "Narrow container option doesn't work after removing sidenav"
# Problem
If you have a page that has sub-pages and you check the option to Remove sidebar regions to hide the side-nav, when you change the layout of the content container to use the Narrow option the css styles get overridden.

Example page:
https://mentalhealth.uiowa.edu/recovery
This page has sub-pages, is set to use the Narrow content container width, and has the side-nav turned off.

[2021-09-08 15:21] bspeare commented on #4080
# Proposed Solution

Update https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/global.scss#L205 with `sidebar-invisible` class:

[code]

[2021-09-08 15:37] joewhitsitt opened #4082 "Replace AoS Search Block on Admissions with uiowa_core SearchBlock"
## Issue

We made a search block in uiowa_core that does what the aos search block does on admissions. admissions is the only site using the AoS search block. Let's reduce that to one.

## Proposed solution

- [x]  Update content type description to stop referencing view page and instead mention the "Areas of Study" block.
- [x]   Now that the uiowa_core search block is available. remove the curre

[2021-09-08 18:17] richardbporter opened #4084 "As a SiteNow user creating an article, I can choose to send a corresponding Dispatch communication."
# Story

As a SIteNow user creating an article, I can choose to send a corresponding Dispatch communication (so that I do not have to re-type the article into Dispatch).

# Proposed solution

Leveraging SiteNow Dispatch, add configuration that lets webmasters connect articles to one (or more?) Dispatch campaign(s). Build a local task for articles that lets users of certain roles send a communicati

[2021-09-08 18:18] richardbporter commented on #3929
https://github.com/uiowa/uiowa/issues/4084

[2021-09-08 18:59] makurj opened #4085 "Events content overflowing in Safari"
# Problem
Events info is overflowing into the next event in the next event doesn't have an image in Safari (Version 14.1.2). It's fine in Chrome.

https://tippie.prod.drupal.uiowa.edu/events

Safari:
![image](https://user-images.githubusercontent.com/52135878/132568368-62d70575-ec64-4439-9e7a-9a6c8a53c358.png)
![image](https://user-images.githubusercontent.com/52135878/132568731-1cd3d54c-bc96-42d0

[2021-09-08 19:00] GaryRidgway commented on #4078
thought I'd take a look at some JS plotting ideas and this popped up as an option?

https://plotly.com/javascript/line-charts/

[2021-09-08 19:05] #3971 closed, assigned to nobody

[2021-09-08 20:16] richardbporter opened #4086 "Determine space savings of unused files directories for deleted multisites."
### Problem
Not much disk space left. :)

Multisite files directories are symlinked to another location, e.g. `docroot/sites/mysite.com/files` actually points to `/mnt/gfs/app.env/sites/mysite.com`. This means none of those files directories get removed when deleting multisites.

### Proposed solution
For each application environment, SSH in and run `diff /mnt/gfs/app.env/sites/ sites/` where `app

[2021-09-08 21:09] joewhitsitt commented on #4078
An accessibility workaround for most charts would be to just provide a properly formatted numeric table replicating the chart data, however PowerBI has previously not been able to provide us that kind of raw data.

[2021-09-08 21:26] mjoneill commented on #4078
This data is not coming in from PowerBI.

This is manually curated spreadsheet.  Maintainer of the spreadsheet has volunteered to get us an image of the chart every publication day (if that's part of the solution space).

[2021-09-08 21:30] #4073 closed, assigned to dnkemper, GaryRidgway

[2021-09-08 21:30] #4074 closed, assigned to dnkemper, GaryRidgway

[2021-09-08 21:30] mjoneill commented on #4078
Indeed.  Discussed with client, and they are particularly eager to see a visual representation of the data, even if it means an image (which we then have to describe, contextualize, etc...)

[2021-09-08 21:32] richardbporter opened #4087 "Investigate large D7 databases and reduce size if possible."
There are quite a few large D7 databases as posted in Slack.

- https://iowaweb.slack.com/archives/C8SM82ZFZ/p1631116101046400 (701)
  - no sites over 150 MB
- https://iowaweb.slack.com/archives/C8SM82ZFZ/p1631114232039100 (702)
  - content.uiowa.edu >> 631.98 MB - _nrd was not configured. configured to 10 for all content types. scfc enabled and configured every hour. - jwhitsit_
  - iowalakesidel

[2021-09-08 21:44] richardbporter opened #4088 "Utilize `$has_children` parameter in `ListBlock::blockForm` for table displays."
### Problem
As noted in https://github.com/uiowa/uiowa/pull/4081#issuecomment-915450999, the child heading size for the headline field does not make sense for all view blocks. For example, a table display that does not render headings in rows doesn't really need this.

There is now an optional parameter to `HeadlineHelper::getElement`, `$has_children`, that when set to FALSE will not return the ch

[2021-09-08 21:54] joewhitsitt commented on #4078
Beyond the daily image and with powerbi out of the way, we could host the file somewhere or pull from somewhere and do a js render like Alan mentioned or we could add the data to the site and use https://www.drupal.org/project/charts which has Google Charts or Highcharts compatibility out of the box.

[2021-09-08 22:45] dnkemper commented on #3943
https://www.drupal.org/project/eu_cookie_compliance

[2021-09-09 13:24] richardbporter commented on #4088
If table is the only view format where this is true, we could just check for that in `ListBlock::blockForm`.

[2021-09-09 14:01] joewhitsitt commented on #4025
Got the initial data dump from Facilities

[2021-09-09 14:01] #4025 closed, assigned to joewhitsitt

[2021-09-09 14:10] richardbporter commented on #4087
I did the first option for jacobsoninstitute.org and reduce DB size quite a bit.

[2021-09-09 14:22] joewhitsitt commented on #4085
As a short term step, we could create a known issue https://sitenow.uiowa.edu/known-issues with the workaround, "use list for best browser compatibility"

[2021-09-09 14:24] bspeare commented on #4085
This is an issue with Safari (https://stackoverflow.com/questions/30169301/undocumented-word-break-break-word-css-property) not respecting the current `word-wrap` property.   Fixing this we would need to make a change like this:

[code]

[2021-09-09 14:26] makurj commented on #4085
So should we do the fix or create a known issue now?

OR

Create a known issue for right now? And apply the fix when the bug gets prioritized?

[2021-09-09 14:28] bspeare commented on #4085
It should be a known issue when a long text string like a zoom link is included in the event description for Safari.

[2021-09-09 14:28] makurj commented on #4085
Sounds good. I'll create a known issue for it for now.

[2021-09-09 14:32] makurj commented on #4085
Known issue created. https://sitenow.uiowa.edu/known-issues

[2021-09-09 15:14] bspeare commented on #4011
Closed via https://github.com/uiowa/uiowa/pull/4060.

[2021-09-09 15:14] #4011 closed, assigned to nobody

[2021-09-09 16:03] #4088 closed, assigned to richardbporter

[2021-09-09 16:29] joewhitsitt commented on #3957
From what I saw, it doesn't look like it provides building pages but they do provide a map widget to place on a building page. This is good news for sitenow_map_panes but it sounds like we will be on our own for hosting/maintaining building pages going forward.

Example:
https://www.wpi.edu/about/locations/alumni-stadium

[2021-09-09 18:54] richardbporter commented on #2795
Further clarification on this example: I would change the title to just `Articles`, the `description` to `Configuration for article content.` and the `parent` to `system.admin_config_content` so that it appears under `Content authoring` as opposed to `System`.

[
<img width="1222" alt="Screen Shot 2021-09-09 at 1 53 09 PM" src="https://user-images.githubusercontent.com/1068523/132745893-ff9a4af7-5

[2021-09-09 18:55] richardbporter commented on #2795
Also, I think this is a good dev sprint candidate. :)

[2021-09-09 20:13] pyrello commented on #3970
Did this yesterday.

[2021-09-09 20:13] #3970 closed, assigned to nobody

[2021-09-09 20:26] mark-bennett-uiowa opened #4093 "As a developer, I can create a page to display past events from Content Hub on a site."
I was curious if a solution for this had already been created. Computer Science is interested in displaying their past events from Content Hub on a separate Past Events page.

Can this be done using the Events widget/plugin?

[2021-09-09 20:31] mark-bennett-uiowa opened #4094 "As a developer, I can import previous timeline items into the new Timeline feature."
Computer Science had a previous timeline feature with 1600+ lines of code in a .json file. Entering these one by one would be a major (and unnecessary) task. Would it be possible to somehow import these into the new Timeline feature somehow?

[2021-09-09 20:33] cory-skeers commented on #4094
Possibly...do you have a snippet of what the .json file looks like? Might take a bit of work, but I think it could be a possibility.

[2021-09-09 20:37] mark-bennett-uiowa commented on #4094
LOL, I was just trying to upload this @cory-skeers but the page was overwhelmed. Here is a shortened version:

[code]

[2021-09-09 20:43] cory-skeers commented on #4094
Ha! Cool. Initial thought is that this should be doable, either as a block content migration or through an update hook... Believe Feeds Importer would also be an option. Off the top of my head, not sure which would be the fastest/easiest, and if there's a way to do it that might be useful for other applications later.

[2021-09-09 20:48] cory-skeers commented on #4094
Also adding a note from planning discussion: There's a possibility that a timeline of this length may be too much for layout builder to handle. The `layout_builder__layout` table stores that info in a blob, so there's a technical limit on how much can be stored on a page. It's rather large, but this may push the limits.

[2021-09-09 20:53] joewhitsitt commented on #4094
I see an intersection with the need for charts. #4078

https://www.highcharts.com/docs/chart-and-series-types/timeline-series
https://developers.google.com/chart/interactive/docs/gallery/timeline
https://plotly.com/python/gantt/

[2021-09-09 21:07] joewhitsitt commented on #4093
This is already available https://sitenow.uiowa.edu/documentation/layout-builder/events-block "display past events"

[2021-09-09 21:07] #4093 closed, assigned to mark-bennett-uiowa

[2021-09-09 21:12] richardbporter opened #4095 "Identify and remove empty site split directories."
Split out from #2359. See https://github.com/uiowa/uiowa/issues/2359#issuecomment-765433672 and other comments for details.

[2021-09-09 21:13] richardbporter opened #4096 "Update site creation process to not create empty config directories."
Related to #4095. We don't want these created anymore when creating sites.

https://github.com/uiowa/uiowa/blob/a5ffdd11938c4707c66d5df6ce6dee2c9eb6a523/blt/src/Blt/Plugin/Commands/MultisiteCommands.php#L688-L692

[2021-09-09 21:16] bspeare opened #4097 "As a developer, I can extend the node--person--teaser template without duplicating the entire template"
# Story

As a developer, I can extend the node--person--teaser template without duplicating the entire template over and over again.

# Proposed solution

Change https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/templates/content/node--person--teaser.html.twig#L97 to use `'card_text': content | render` instead of the teaser.

- Update templates such as https://github.com/uio

[2021-09-09 21:18] richardbporter commented on #4096
Also need to update https://github.com/uiowa/uiowa/blob/f2e4d3c8fc9a77615eebb36531f8414782037e47/config/README.md#weight-90 to remove mention that they are created during site creation.

[2021-09-09 21:32] cory-skeers commented on #3373
Right off the bat, trying drupal/scanner led to a WSOD (specifically on a line that was attempt to add the message "There were some errors.")

Likely still a good reference, but looks like it'd need some patching to get working at minimum, as well as a custom plugin to work with layout builder. Currently works for direct node content fields and paragraphs.

[2021-09-09 22:05] pyrello commented on #4035
One thing you'll notice if you look at what happens to a [`config_split.patch.user.role.*.yml` file](https://github.com/uiowa/uiowa/pull/4091/commits/b2f9d8847917aff4ca62637fe1055fffa9311979) is that the current array diff procedure picks up on a lot of false negative because the keys don't match. The `config_split` maintainer created an issue to track this problem: https://www.drupal.org/project/

[2021-09-10 15:36] joewhitsitt commented on #3329
I would recommend the customer look into the privacy settings for these videos: https://vimeo.com/blog/post/video-privacy-explained/

Vimeo has a special "nowhere" and "anywhere" settings that makes video shareable externally.

[2021-09-10 16:58] richardbporter commented on #2359
I merged the removal of empty config directories into develop, deployed it and I'm not seeing the error mentioned in https://github.com/uiowa/uiowa/issues/2359#issuecomment-862657765. I think this is because we unset the vcs config directory after I reported it so AC is not checking for its existence.

Jun 2019: https://github.com/uiowa/uiowa/commit/09d6a61f8d9bf539719df570bff4ad7f61ca8aa3#diff-a2

[2021-09-10 17:26] pyrello commented on #4035
I have created an MR for the above issue. It seems like it solves the sequencing issue, but it breaks existing tests, so I'm waiting from some feedback from the maintainer before I can move forward with it.

[2021-09-10 19:29] joewhitsitt commented on #4077
First off... Issue 4077

![mash 4077](https://media.giphy.com/media/RysGoifDY9Ecw/giphy.gif?cid=ecf05e47238o5te4yk2wcj8z9eqeo6advelvjauyj620ywv0&rid=giphy.gif&ct=g)

[2021-09-10 19:34] joewhitsitt commented on #4077
Looks like all of this is working if we passed a tag in by contextual filter... which we are no longer doing in v3 people_list_block...

Want to go back to that for tags?

<img width="1051" alt="Screen Shot 2021-09-10 at 2 32 59 PM" src="https://user-images.githubusercontent.com/4663676/132907602-ea3e9d28-a9ed-4dc9-8f22-11a5d0eafb7e.png">

[2021-09-10 19:40] makurj commented on #4044
More copy updates requested:

  We just got a few stats update in (the past couple of days) that need to change. Once that’s done we should be good to go.
  We work together: #33 BEST PUBLIC UNIVERSITY BY U.S. NEWS & WORLD REPORT
  Student Outcomes: 93% OVERALL JOB/GRADUATE SCHOOL PLACEMENT RATE
  College of Education
  94%
  College of Engineering
  92%
  College of Liberal Arts & Sciences
  93%

[2021-09-10 20:03] #2356 closed, assigned to joewhitsitt

[2021-09-10 20:03] #2667 closed, assigned to nobody

[2021-09-10 20:03] #2720 closed, assigned to nobody

[2021-09-10 20:13] #4095 closed, assigned to richardbporter

[2021-09-10 20:13] #4096 closed, assigned to richardbporter

[2021-09-10 21:34] #3900 closed, assigned to nobody

[2021-09-10 21:34] #4097 closed, assigned to nobody

[2021-09-10 21:34] #3923 closed, assigned to nobody

[2021-09-10 21:39] richardbporter commented on #2359
Just noticed that the following sites have config splits with nothing in them (besides the split itself):

- africanamericanstudies.uiowa.edu
- americanstudies.uiowa.edu
- anthropology.uiowa.edu
- globalhealthstudies.uiowa.edu
- interdepartmentalstudies.uiowa.edu
- interdisciplinaryprograms.uiowa.edu
- internationalstudies.uiowa.edu
- latinamericanstudies.uiowa.edu
- latinxstudies.uiowa.edu
- nati

[2021-09-10 21:51] mark-bennett-uiowa commented on #2359
@richardbporter No, not at this time. I ended up creating them during the creation in case I did need them. At this point, they still dont have anything in them.

[2021-09-13 16:31] joewhitsitt commented on #4077
Options to move this forward:

- Add to v2 only
- **Figure out a way to wrangle people_list_block to pass tag filter value as contextual filter if draggable sort option is top sort.**
- Secondary limited use people block added to v3 just for this sort option.
- tag specific view pages of people

wrangling people_list_block seems like the preferred path for the service but also the most complicated

[2021-09-13 20:09] e-marie-w commented on #2795
- Some of the custom modules don't have a .links.menu.yml file, I assume that means they aren't a part of the menu?
- Is there a specific site that'd be good to test this on locally, or would any do?
- I was going to follow the example and use 'Configuration for module_name' as the basis for descriptions, unless someone had a better idea. I know some are set up as 'Configure module_name', if we wa

[2021-09-13 20:15] richardbporter commented on #2795
Yea, those can probably be ignored.

I would use default and then enable feature splits to see if those custom modules have a config page.

I was thinking we would omit the module name from the admin pages entirely. From a webmaster perspective, I don't think the module names are valuable and maybe add more confusion in terms of uiowa_ vs. sitenow_.

I think it'd be nice if the descriptions gave s

[2021-09-13 20:28] bewoldt opened #4113 "People search doesn't return results when there is an empty space in the search field"
# Problem
If you put an empty space in the beginning or end of the People search field it will not find any results.

# Steps to reproduce
1. Visit any site with a people search (https://engineering.uiowa.edu/people)
2. Input a person's name in the search field and put a space at the beginning or end "Ben Abbott "

Also does not find results when using the last name with a space "abbott "

[2021-09-13 20:44] joewhitsitt commented on #4082
This can actually cause an error if placed on a non-admissions site as the hardcoded view page used to send the search does not exist in the feature split.

<img width="283" alt="AoS-heads-up" src="https://user-images.githubusercontent.com/4663676/133153645-6956f4e7-a1ec-4ebe-bd98-ae269dd59b37.png">

[2021-09-13 21:06] briand44 opened #4114 "Export Education people to CSV"
Education would like to export people from their existing site into a csv to import into directory profiles.

Fields to be included:
- First Name
- Last Name
- Working Title
- Rank - Should only be exporting staff, graduate students, temporary staff
- Image - ideally they would prefer the actual files named <hawkid.jpg> but if we only have url's that will work.
- Bio
- Areas of Expertise
- Email
-

[2021-09-13 21:18] briand44 commented on #3837
Sounds like there is still an areas of study search block that can be deprecated as well as some documentation. Also, will this require dev to turn on or are we making this available to anyone?

[2021-09-13 21:32] joewhitsitt commented on #3837
Correct. https://github.com/uiowa/uiowa/issues/4082 is the left to do. Historically we have not created documentation for feature/site split functionality.

We could split out `link fields to maui and admissions equivalent to establish some kind of bridge if paths align in the future` into a separate card or issue and close this.

This is not on by default and I don't think it should be.

[2021-09-13 21:39] #2359 closed, assigned to richardbporter

[2021-09-14 02:55] pyrello commented on #4035
Another piece of feedback I had for the maintainer is that the way the `added` and `removed` keys are being used in the `config_split.patch.*` files is confusing because `added` is used to describe things that will not be there after the split patch is merged in and `removed` is used to describe things that will be there, which I found confusing. This issue/MR is an attempt to resolve that: https:

[2021-09-14 13:04] briand44 opened #4117 "Areas of Study - link fields to maui and Admissions equivalent"
link fields to maui and admissions equivalent to establish some kind of bridge if paths align in the future.

This is a follow up to https://github.com/uiowa/uiowa/issues/3837

[2021-09-14 13:07] briand44 commented on #3837
Created a follow up for future enhancement https://github.com/uiowa/uiowa/issues/4117

[2021-09-14 13:07] #3837 closed, assigned to nobody

[2021-09-14 13:13] briand44 commented on #4076
removed blocked label since #4025 is closed

[2021-09-14 13:26] richardbporter commented on #3498
With sendmail currently we get emails asking us to verify the message being sent for webforms, etc. Using a different method might send this confirmation message to the right address.

[2021-09-14 13:59] pyrello opened #4120 "SLIS - Export Alumni data from SLIS D7 site"
# Motivation

SLIS is not carrying forward their alumni listing feature with the launch of their SN3 site. However, they would still like to retain the data to feed back into their existing data about alumni.

# Proposed solution

Build a view to export the data as a CSV file.

or

Write a SQL query to export the data as a CSV file.

[2021-09-14 14:00] #3617 closed, assigned to makurj

[2021-09-14 14:01] makurj commented on #4064
Live. Closing this issue for now.

[2021-09-14 14:01] #4064 closed, assigned to makurj

[2021-09-14 14:12] pyrello commented on #3326
This is blocked until the customer decides how they want to handle display of Alumni in the future.

[2021-09-14 14:14] pyrello commented on #3305
I'm not sure how SLIS is going to handle displaying Alumni in the future, but in the meantime, I'm closing this because it is very unlikely to be a direct D7 => D9 migration.

[2021-09-14 14:14] #3305 closed, assigned to nobody

[2021-09-14 15:04] bspeare opened #4121 "Local tasks underline renders on pages without edit tabs"
# Problem

Local tasks underline renders on pages without edit tabs

<img width="1467" alt="Screen Shot 2021-09-14 at 10 00 37 AM" src="https://user-images.githubusercontent.com/1036433/133282543-237117a7-d695-4a8f-889e-ee3e133f2077.png">

# Proposed Solution

Adjust border to just appear on `.tabs li` so that the edit tab underline will not appear on pages without edit tabs.

**Before**

<img wid

[2021-09-14 15:05] #2674 closed, assigned to bspeare

[2021-09-14 16:06] e-marie-w commented on #2795
Should I still be general if the module only has one or two settings, or should I then be specific? For example, instead of 'Customize the display settings for pages' should the description be 'Set the default image display size for pages', since that's currently the only option upon clicking (SiteNow) Pages in the admin config menu.

[2021-09-14 17:55] joewhitsitt commented on #2795
I'd vote more general than not. We may add additional settings to these in the future.

I haven't tested the PR yet, but something to check is if the URL paths changes with these moves. I know we have documentation and reference the relative URL for these pages.

[2021-09-14 18:08] joewhitsitt commented on #4114
views data export should be able to do this

[2021-09-14 18:31] bspeare commented on #3929
Some Dispatch analytics for the past 3 articles:

<img width="1308" alt="Screen Shot 2021-09-14 at 1 27 39 PM" src="https://user-images.githubusercontent.com/1036433/133313793-ccec2135-6ca6-489f-b182-31f2b09cffd7.png">
<img width="1338" alt="Screen Shot 2021-09-14 at 1 28 04 PM" src="https://user-images.githubusercontent.com/1036433/133313795-3d6e1120-4062-49e3-9193-b6181a602cb2.png">
<img width="

[2021-09-14 18:42] richardbporter commented on #4086
This really only applies to large multisite applications like uiowa701/2/3. A potential first slice could be to get the diff of files directories that can go away and then use another bash script to get the amount of space that would be saved by deleting those.

Probably makes sense to do #3953 first.

[2021-09-14 18:45] richardbporter commented on #4121
ew

[2021-09-14 18:48] bspeare commented on #3898
This is now less of an issue now that the image alignment has shifted to the left as the default: https://uip.pharmacy.uiowa.edu/leadership-team.

[2021-09-14 18:51] briand44 commented on #3898
Closing based on Ben's comment.

[2021-09-14 18:51] #3898 closed, assigned to nobody

[2021-09-14 19:10] bspeare commented on #1253
The top links were introduced since this issue was created will also need to be fixed with this work:

<img width="1616" alt="Screen Shot 2021-09-14 at 2 08 56 PM" src="https://user-images.githubusercontent.com/1036433/133319236-fd686cf2-896b-4d88-8d79-08b03014036a.png">

[2021-09-14 19:11] briand44 commented on #4079
Ability to manually enable this message on individual articles

[2021-09-14 19:17] briand44 commented on #4079
Is there an easy way to manually add this message with proper styles?

[2021-09-14 19:21] joewhitsitt commented on #4079
I think it is import to capture that this is an omega theme (bootstrap alerts styles would an extra lift, getting the theme to compile is an even bigger lift)

[2021-09-14 19:26] e-marie-w commented on #2795
Okay awesome, I'll use general descriptions and check those URL paths.

[2021-09-14 21:03] e-marie-w commented on #2795
I moved `Articles`, `Events`, `Pages`, and `People` into the `Content Authoring` section and left `DCV`, `Dispatch`, `Migrate`, `Alerts`, `APR Integration`, `Core Settings`, `Entities`, `Profiles Directory`, and `Search` in `Settings` for now.

`Alerts` lets you create custom alerts so I'm wondering if it should be moved to `Content Authoring` or stay in `System`. I'll probably have the same quest

[2021-09-14 21:31] bspeare opened #4123 "Admissions area of study teasers card display are a little broken"
# Problem
It looks like the addition of the teaser template for the Areas of Study disrupted the cards on https://github.com/uiowa/uiowa/blob/84f376dffba781b1142635cbfb6cdd0f982ab7a1/docroot/modules/custom/uiowa_area_of_study/templates/node--area-of-study--teaser.html.twig.

<img width="1640" alt="Screen Shot 2021-09-14 at 4 27 45 PM" src="https://user-images.githubusercontent.com/1036433/13333652

[2021-09-14 21:47] joewhitsitt commented on #4123
Yikes. This should could also be solved if we can turn the module off on admissions. I think this block was the last piece https://github.com/uiowa/uiowa/issues/4082

[2021-09-14 21:56] #2706 closed, assigned to bspeare

[2021-09-14 21:56] #4121 closed, assigned to nobody

[2021-09-15 13:21] richardbporter commented on #2795
The `system.links.menu.yml` file defines those admin sections. You can open that file locally and see each one - `system.admin_config_search` is the search and metadata one.

Yes and yes.

[2021-09-15 13:25] richardbporter opened #4124 "AoS block only shows 10 items when view config is set to show all"
# Problem
The AoS block is limiting results to 10 items but the view config is set to display all items with no pager.

# Steps to reproduce
[code]

See that there are more than 10 results on https://desmoines.local.drupal.uiowa.edu/admin/structure/views/view/areas_of_study/edit/areas_of_study_block but that only 10 show up on https://desmoines.local.drupal.uiowa.edu/areas-study-program-finder.

#

[2021-09-15 14:22] bspeare commented on #4123
https://github.com/uiowa/uiowa/issues/4082 Sounds like a good plan.  Let's just make sure to test this page in that pr.

[2021-09-15 14:30] bspeare commented on #4124
I think this needs to change to:

<img width="611" alt="Screen Shot 2021-09-15 at 9 29 38 AM" src="https://user-images.githubusercontent.com/1036433/133452767-1b06fae4-2815-4b99-97d5-33c404adf900.png">

[2021-09-15 14:30] richardbporter commented on #3713
We'll have to snapshot what is available in CI which is the default site. I think we have two options there:

- default content
- content created via Behat

The first would be easier to start with but might not be as useful, unless we update the default content. The latter would provide functional test coverage to ensure blocks but would take longer to set up. We'd also have to ensure Percy ran af

[2021-09-15 15:12] #4124 closed, assigned to nobody

[2021-09-15 15:29] briand44 opened #4126 "Events list block"
Blocked until https://github.com/uiowa/uiowa/issues/4305

# Story

As an admissions editor, I would like the ability to dynamically display local event content within a page.

# Proposed Solution

_Build off the default site with event feature enabled first!_

- [x] Establish new view block in events split.
- [x] Add to card-related LB styles
- [x] Use generalized card list template and preprocess

[2021-09-15 15:48] briand44 opened #4127 "Thank You Program"
The College of Pharmacy would like to automate their thank you program similar to the existing OneIT thank you program.

Their existing manual process is:
User fills out webform to submit a thank you
Webform generates email to Pharmacy staff council
Pharmacy manually sends templated email (see below) to staff being thanked as well as to the staff members supervisor.

They would like the webform su

[2021-09-15 16:01] briand44 commented on #4127
![Screen Shot 2021-09-15 at 10 49 56 AM](https://user-images.githubusercontent.com/1017022/133468355-579b6055-5a93-47ba-85eb-7303a5abed0f.png)

[2021-09-15 16:07] e-marie-w commented on #2795
Thanks for the file name, that helped a ton! Also Sean went over how to do feature splits with me so I've successfully turned on the Migrate one and checked that it is in fact under Development now. I also turned on APR Integration and the Profiles Directory, which didn't need title or description changes but I'm wondering if we should move from System to Content Authoring or Development?

I'm sti

[2021-09-15 17:03] joewhitsitt commented on #1442
The matcher works as expected. Added a test, created an MR per the maintainer's comment to move the issue forward. Created an updated patch file to use locally as part of #4128.

[2021-09-15 17:07] bspeare commented on #2795
@richardbporter Thanks for pointing out this issue.   I know you've put a lot of work into this already but I guess I would rather see these items move to a separate "SiteNow" category so users don't have to scan each category looking for the feature they want to configure.  There is a simplicity to just having the "SiteNow Articles", etc listed in one scannable chunk.  For instance, does a webmas

[2021-09-15 17:09] #137 closed, assigned to joewhitsitt

[2021-09-15 17:12] e-marie-w commented on #2795
Okay I lied I did push since I had already pushed changes to those modules yesterday so if I need to make changes I need to make changes regardless of anything done today.

There were 3 modules without a menu link file that I could turn on and check weren't appearing in the admin config menu. That leaves 9 other custom modules without a menu link or ability to turn on and check, I'm going to assum

[2021-09-15 17:18] richardbporter commented on #2795
Good point. No, they won't know that, at least not initially. But by extension, why have categories at all then?

Not based on how the the menu links YAML files work. They live in each module and aren't active until the module is enabled. IDK if there some other way of doing it though.

[2021-09-15 17:22] richardbporter commented on #2795
Oh that one is provided by core which is why its under Web Services. We could have altered but its not really a SiteNow/UIowa thing.

Maybe step one is decide on naming things SiteNow vs. UIowa because I don't see how two naming conventions helps people.

[2021-09-15 17:24] joewhitsitt commented on #2795
Based on what a webmaster can see, I don't think that scanning the established "content authoring" and "system" categories is all that bad. It also helps distribute the page evenly.

Of all people, I could get behind a "SiteNow" or "University of Iowa" category but our module names are pretty mixed and it would be one long column after more things are turned on.

[2021-09-15 17:29] e-marie-w commented on #2795
I'm fine with either option, I just agree we shouldn't keep both SiteNow and UIowa because it is really confusing.

Also I'm out from 1-2, so if you have a huddle/zoom and come to a decision during that time just let me know somewhere.

[2021-09-15 17:39] bspeare commented on #2795
A "SiteNow" or "University of Iowa" category could be useful.  Removing categories might help too.   At least if it is very long list, users would know to scroll through it vs if "Search" is under Search and Metadata it might appear as a category buried at the bottom of the page.   Perhaps we could also add a class to "SiteNow" or "UIowa" modules to add a icon or gold background or something to hi

[2021-09-15 17:43] bspeare commented on #2795
That makes sense, but it might be useful to rename this one if we want it to be more accessible to the average user if we are taking the time to make some optimizations for admin UX.

[2021-09-15 17:45] bspeare commented on #2795
Or we could focus on switching admin themes that have a slightly better design like https://miro.medium.com/max/4800/1*_E7ROXHkuZqZImPnoGmtLQ.png

[2021-09-15 18:32] joewhitsitt commented on #3208
Done. https://sitenow.uiowa.edu/documentation/layout-builder/collection-block

[2021-09-15 18:32] #3208 closed, assigned to nobody

[2021-09-15 18:45] #1442 closed, assigned to joewhitsitt

[2021-09-15 18:53] joewhitsitt commented on #3941
Done. https://sitenow.uiowa.edu/documentation/layout-builder/timeline-block

[2021-09-15 18:53] #3941 closed, assigned to nobody

[2021-09-15 19:03] joewhitsitt commented on #3976
Done. https://sitenow.uiowa.edu/documentation/search-engine-optimization

[2021-09-15 19:03] #3976 closed, assigned to nobody

[2021-09-15 19:15] e-marie-w commented on #2795
So what I'm getting is that we want to keep SiteNow (or UIowa) in front of the module names, but we still need to decide if we want them to be their own category or mixed in existing categories or drop categories all together.

I'll get started on adding SiteNow back in front of the SiteNow and UIowa modules. Unsure if the category thing is something we want to discuss as an entire team or if we c

[2021-09-15 19:18] bspeare commented on #2795
@e-marie-w I don't think that has been decided yet, it might be a useful thing to discuss as a group.

[2021-09-15 21:14] briand44 commented on #4114
Got confirmation that we can just dump all this to one CSV with multi-valued fields just having a separator. We will want to share this with Suzanne Malo as soon as we have something so they can react to it.

[2021-09-16 14:43] makurj opened #4134 "GA does not appear to be working on viewbook.law.uiowa.edu. We can see the GTM code (GTM-TKS6TRC) on the page, but it's not recognized/seen by GTM Preview, other tools, etc..."
Note: I do not see GTM-TKS6TRC referenced in https://viewbook.law.uiowa.edu/assets/index.c99b41c2.js, but the campuswide tag (GTM-K7W3K5P) IS referenced there (as we'd expect).  See admissions viewbook .js for comparison: https://viewbook.admissions.uiowa.edu/assets/index.8fcf2fdf.js

[2021-09-16 16:37] pyrello commented on #4035
# Conclusions of Investigation

## Limitations
As of right now, there are some outstanding issues that would need to be resolved to allow us to move forward with Config Split 2.x:
- [Config sequences](https://www.drupal.org/docs/drupal-apis/configuration-api/configuration-schemametadata#s-sequence-definitions-) are not handled correctly in at least a couple critical cases: `user.role.*:permissions

[2021-09-16 17:26] quamsta commented on #4084
@richardbporter
Interested in helping with this, we had a student org ask about this exact scenario.

Have Dispatch API experience, will code 4 food

[2021-09-16 20:13] bspeare commented on #3943
It would be great to showcase and get feedback on the design of https://github.com/uiowa/uiowa/pull/4107 at the next design meeting on 10/6 with the brand team.

[2021-09-16 20:17] joewhitsitt commented on #4077
I consider this investigation done. Functional PR: https://github.com/uiowa/uiowa/pull/4133

I think a decision about moving forward with this for the platform should be considered in a follow-up issue. Having a better understanding of where ListBlock is going would give us a clearer picture about this functionality.

[2021-09-16 20:17] #4077 closed, assigned to joewhitsitt

[2021-09-16 20:44] bspeare commented on #2795
Just took a look at the latest update and the new category looks great!

- Is it possible to move the SiteNow category so that it appears first?
- Can we move "Basic site settings" to the SiteNow category? I know this core but it is a pretty key part of a SiteNow website.
- Are we able to move "Aggregator" to the SiteNow category?

<img width="1685" alt="Screen Shot 2021-09-16 at 3 41 44 PM" src="

[2021-09-16 20:50] joewhitsitt opened #4135 "Sort people list block by tag"
Follow-up from #4077
Related: https://github.com/uiowa/uiowa/pull/4133

# Story

As a webmaster I want to maintain sorts of people by tag.

# Proposed solution

- [ ] Decide if the experiment in #4133 is worth pursuing.
- [ ] If so (above), consider the interaction with ListBlock.
  - [ ] Get buy-in related to UX, pre_view function and optional contextual filter.
  - [ ] Test against ListBlock exp

[2021-09-16 20:55] joewhitsitt commented on #2795
I think this is where I differ. I don't think we should be moving links of other modules. We would be talking about route subscribers to alter these.

Is that the webmaster view above? Is Layout Builder Direct Add supposed to be showing to webmasters?

[2021-09-16 20:57] bspeare commented on #2795
@joewhitsitt That's the webmaster view.

[2021-09-16 21:01] bspeare commented on #2795
Changing from dropbutton to popover is not a huge deal if a webmaster prefers that.

[2021-09-16 21:03] bspeare commented on #2795
That's understandable, I do wish we had a better way to make people aware that they need to change their site name through the "Basic site settings".   Maybe we could redirect users to that setting when they login the first time :).

Edit: or change the Site Name into a QuickEdit field.

[2021-09-16 21:09] e-marie-w commented on #2795
Some good news, I got the SiteNow category appearing first in the list! (turns out weights work the opposite way of what I thought).

[2021-09-16 21:28] joewhitsitt commented on #2795
I agree that the site name seems to be an issue for many. I wonder if we could collect that on the site request form. I think there used to be a limitation before, but now that we are creating initial user with permission, that might be possible.

[2021-09-16 21:29] bspeare commented on #2795
@joewhitsitt the request form would be a great idea!

[2021-09-16 21:33] pyrello opened #4137 "Update to `config_split:2.0.x` and implement config changes"
# Motivation

Follow-up to #4035.

# Proposed solution
- [x] Update `config_split` to 2.0.x version.
- [x] Convert `config_split.config_split.*.yml` files to new format.
- [x] Apply necessary patches.
- [x] #4237
- [x] #4316
- [x] #4159
- [x] #4401
- [x] Convert feature splits ([instructions](https://github.com/uiowa/uiowa/pull/4091#issuecomment-919514590)):
  - [x] apr
  - [x] areas_of_study
  -

[2021-09-16 21:44] e-marie-w commented on #2795
Since this issue was just for changing how module names appear in the menu, not the actual module names themselves, I'm good to request review on the PR, correct? And we can create another issue if we want to fix the module names in other places like individual pages.

[2021-09-16 23:58] dnkemper commented on #3943
@bspeare That makes me happy and hesitantly optimistic. Sounds like a plan to me 🥳

[2021-09-17 14:23] pyrello commented on #4035
Closing this in favor of #4237

[2021-09-17 14:23] #4035 closed, assigned to pyrello

[2021-09-17 14:26] bspeare commented on #3373
Based on previous site launches, it seems like the majority of the hard-coded `.prod` links are used in link fields on cards and ctas.   Are we looking for this module to find these or we planning on using another solution?

[2021-09-17 15:06] bspeare commented on #4082
@joewhitsitt for "Sync changes (db) to stage/dev so we don't have missing block errors." before I do this, is there anything on the stage/dev that needs to be saved before they are overridden?

[2021-09-17 15:13] ABoston88 opened #4138 "Bug: Update Block button only visible after adjusting browser window size, configure menu size"
From Mallory Valentine at RecServ

So it appears that it does not matter the size of the browser.  Essentially when go to the layout tab and attempt to make an edit to a previously established content, the “update” button is not available – I cannot scroll past Background and the drop down menu.  The minute I adjust the size of the browser (either larger or smaller), the update button will come in

[2021-09-17 15:31] joewhitsitt commented on #4076
i'd like to at least help guide this work. others have expressed interest. i am willing to huddle and lay it out.

[2021-09-17 17:52] bspeare commented on #4082
We added an update hook in https://github.com/uiowa/uiowa/pull/4139 that just removes the block from the page revisions on admissions.uiowa.edu so the block would not be available if they wanted to revert the home page to a previous revision.  We need to check with the client to see if this would be OK.

[2021-09-17 18:08] richardbporter commented on #3933
There is a new test API URL that reflects changes that will be deployed to production once we give the go ahead. It is https://hours-test.iowa.uiowa.edu/api/Hours/signage/ The parameter format hasn't changed but some other things have:

- The start/end fields are now formatted using ISO 8601 dates (e.g., 2021-09-15T14:30:00Z instead of 1631714400, the integer Unix epoch).
- There is a bonus $id fi

[2021-09-17 18:39] richardbporter commented on #3933
If we went that route, it sounds like UHD and RecServ would need to be updated within one month, before the server switchover.

[2021-09-17 18:56] bspeare opened #4140 "As a SiteNow customer, I can enter my site name on the site request form"
# Story

As a SiteNow customer, I can enter my site name on the site request form so that I don't have to manually change it in the system settings.

# Proposed solution

Add a required Site Name field on https://sitenow.uiowa.edu/request-site that will set the `site_name` value on install.

[2021-09-17 19:14] dnkemper opened #4141 "Change Palliative Grad 'Research areas' field label to 'Practice areas'"
Change 'Research areas' default person field label to 'Practice areas' for pharmacy's palliative care grad person type

Change Research areas:
<img width="898" alt="Screen Shot 2021-09-17 at 2 32 16 PM" src="https://user-images.githubusercontent.com/16872949/133843841-d8d64640-df83-42b5-ad90-c0c973c3bce2.png">

To Practice areas:
<img width="732" alt="Screen Shot 2021-09-17 at 2 30 50 PM" src="htt

[2021-09-17 20:03] #4141 closed, assigned to dnkemper

[2021-09-17 20:04] joewhitsitt commented on #3624
I think with the change in https://github.com/uiowa/uiowa/pull/4142, this can be closed correct @briand44 and @dnkemper ?

[2021-09-17 20:04] joewhitsitt commented on #3624
Barbara has the permissions and the recent demonstration to place the blocks

[2021-09-17 20:05] dnkemper commented on #3624
Agreed! Can wait for @briand44's input though

[2021-09-17 20:19] briand44 commented on #3624
Agree! Nice work!

[2021-09-17 20:22] joewhitsitt commented on #4140
additional context: https://github.com/uiowa/uiowa/issues/2795#issuecomment-921265406

[2021-09-17 20:22] #3624 closed, assigned to nobody

[2021-09-17 20:42] richardbporter commented on #3953
I've added a contact line to the template. We talked about adding 1 week to the second email to ensure we use the same relative date for both communications. Example:

1. `drush @sites php-script drush/inactive.php --send-email '6 months ago'`
2. `drush @sites php-script drush/inactive.php --send-email '6 months 1 week ago'`

'6 months 1 week ago' appears to be valid based on https://www.php.net/m

[2021-09-17 20:51] joewhitsitt commented on #725
I am going to revise this a bit after thinking about it some.

- I think a good first slice would be to handle point data only. Establishing the field "type" but only allowing point for now would allow this feature to expand easily in the future.
- To eliminate map costs, it would be nice to find a stylized OSM base layer to serve as default and the first slice.

It would be considerable work to v

[2021-09-17 21:02] richardbporter commented on #3968
Done in dev, stage and prod. Waiting to hear back on deleting files in dev.

[2021-09-17 21:02] richardbporter commented on #3967
Done in dev and stage. Testing. Is the beat map gone?

[2021-09-20 13:26] joewhitsitt commented on #3967
https://www.icgov.org/community-policing

[2021-09-20 13:27] richardbporter commented on #3968
Files removed from dev.

[2021-09-20 13:27] #3968 closed, assigned to richardbporter

[2021-09-20 13:35] bspeare commented on #4138
Tested this locally on Browserstack and I was able to recreate.  Most likely being caused by https://github.com/uiowa/uiowa/pull/1965/files.    After removing those files, the issue with the update button was resolved.

[2021-09-20 13:43] #3967 closed, assigned to richardbporter

[2021-09-20 13:46] cory-skeers commented on #3373
This module is intended to check those as well, and already has code in place to handle link fields separately from how plain string fields are handled. If it's not currently catching those, then there's a bug(s) to be worked out 😬

[2021-09-20 13:56] bspeare commented on #3373
Thanks for the clarification @cory-skeers !

[2021-09-20 14:04] makurj commented on #4134
https://github.com/uiowa/viewbook-law/pull/22

[2021-09-20 14:04] #4134 closed, assigned to makurj

[2021-09-20 14:04] makurj commented on #4134
Thanks @bspeare!

[2021-09-20 14:42] dnkemper commented on #4114
If need to duplicate/do again, here is view file that resembles changes: [education_person_views.views_default.inc](https://iowa.sharepoint.com/:u:/r/sites/CSI-Drupal2/Shared%20Documents/General/education_person_views.views_default.inc?csf=1&web=1&e=UkS7xQ)

[2021-09-20 14:43] makurj commented on #4044
Completed. Live.

[2021-09-20 14:43] #4044 closed, assigned to makurj

[2021-09-20 15:40] #3675 closed, assigned to nobody

[2021-09-20 16:22] bspeare commented on #4082
Client is OK with losing the block from page revisions in the update hook, so I will move forward with getting the pr reviewed.

[2021-09-20 16:40] joewhitsitt commented on #4076
Ben, Marie and I pulled together a google spreadsheet (shared in email/slack). We will need help from @ABoston88  and @mjoneill to finalize the sheet before we send it to Concept3D.

[2021-09-20 16:43] joewhitsitt commented on #3675
![look at us](https://media.giphy.com/media/iHyVaHfEYXZos8qPX2/giphy.gif?cid=ecf05e47k0ejdq5bzl0lyl2cn77m63lvtkcctzng65ojbwx4&rid=giphy.gif&ct=g)

[2021-09-20 16:49] bspeare commented on #3793
@joewhitsitt where is the updated data?

[2021-09-20 16:56] joewhitsitt commented on #3793
Sorry, didn't realize we were moving through the sprint work so quickly!

[MyCountyData_Spring2021_Alumni.csv](https://github.com/uiowa/uiowa/files/7197376/MyCountyData_Spring2021_Alumni.csv)
[MyCountyData_Spring2021_EnrolledStudents.csv](https://github.com/uiowa/uiowa/files/7197377/MyCountyData_Spring2021_EnrolledStudents.csv)
[MyCountyData_Spring2021.xlsx](https://github.com/uiowa/uiowa/files/71

[2021-09-20 17:26] pyrello opened #4144 "AMCS - Build custom faculty listing"
# Motivation

AMCS has been waiting for functionality that was possibly going to be delivered in #3829, but that project has stalled out. In the meantime, they need something to get them through, so we will build them a custom faculty page similar to Genetics or Immunology.

[2021-09-20 18:30] #4082 closed, assigned to bspeare, e-marie-w

[2021-09-20 18:30] #4123 closed, assigned to nobody

[2021-09-20 18:45] cory-skeers opened #4146 "SSL Certs on uiowa02"
SSL certs need for:

imu.uiowa.edu on uiowa02
47things.uiowa.edu on uiowa02
counseling.uiowa.edu on uiowa02
rise.uiowa.edu on uiowa02
passport.uiowa.edu on uiowa02

[2021-09-20 18:48] bspeare opened #4147 "Timeline date positioning is off"
# Problem
Timeline date positioning is off and needs some CSS adjustments.

# Steps to reproduce
Go to https://175.prod.drupal.uiowa.edu/milestones-university-iowa-history.

<img width="1431" alt="Screen Shot 2021-09-20 at 1 46 33 PM" src="https://user-images.githubusercontent.com/1036433/134057405-e621df66-dbb6-46b1-ba87-903e001298f8.png">

# Proposed solution
Test with https://175.prod.drupal.ui

[2021-09-20 20:52] bspeare commented on #4001
Since this is close to the top of the backlog, can someone chime in on what we are updating in the proposed solution?

- Update provision instructions for "New Sites"?
  - Where are we denying robots for each new site?
- Update site created email.
  - Are we asking customers to contact us when they are ready to launch their site so we can remove the deny robots rule?

[2021-09-20 20:57] bewoldt opened #4149 "Hover, Focus effects for Pagination on background colors"
# Problem
When the pagination is displayed on different backgrounds some of the hover effects are not visible or the color contrast is not enough.

# Examples
https://sandbox.prod.drupal.uiowa.edu/pagination

[2021-09-20 20:58] briand44 commented on #4001
My understanding of the plan is just to use the internal prod domains for "new" sites rather than provisioning "new" sites using the final production url. So we need to update the internal docs accordingly and potentially updating the email that is sent to customers similar to the "existing site" template.

[2021-09-20 20:59] bspeare commented on #4001
@briand44 thanks!  Are robots blocked from all `*.prod.drupal.uiowa.edu` sites now?

[2021-09-20 21:00] briand44 commented on #4001
That is my understanding, yes.

[2021-09-20 21:02] bspeare commented on #4149
@bewoldt thanks for finding this!  You could make the updates for this at https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/components/pagination.scss.

[2021-09-20 21:11] mark-bennett-uiowa opened #4150 "Provision ten new sites for CLAS DWLLC"
Provisioning ten new sites for the Division of World Languages, Literatures, and Cultures in CLAS:

asl.uiowa.edu
asian-slavic.uiowa.edu
clcl.uiowa.edu
dwllc.uiowa.edu
flare.uiowa.edu
french-italian.uiowa.edu
german.uiowa.edu
linguistics.uiowa.edu
spanish-portuguese.uiowa.edu
translation.uiowa.edu

All 10 sites will be created simultaneously to avoid stagnant content/links on the remaining sites.

[2021-09-20 21:14] mark-bennett-uiowa opened #4151 "Updated uiowa01 SSL certificate to add 10 additional CLAS DWLLC sites"
Added SSL coverage for the following sites on the uiowa01 application:

asl.uiowa.edu
asian-slavic.uiowa.edu
clcl.uiowa.edu
dwllc.uiowa.edu
flare.uiowa.edu
french-italian.uiowa.edu
german.uiowa.edu
linguistics.uiowa.edu
spanish-portuguese.uiowa.edu
translation.uiowa.edu

Revoked old certificate once new certificate was properly in place.

[2021-09-20 21:14] #4151 closed, assigned to mark-bennett-uiowa

[2021-09-20 21:23] mark-bennett-uiowa opened #4152 "As an editor, I can add LaTeX code to the body of a basic page with MathJax module."
There is a need for the MathJax module to display LaTeX formulae within the body of several pages within the Physics and Astronomy, Mathematics, and Imaging the Universe website.

There is a beta release for D9 available at [https://www.drupal.org/project/mathjax](https://www.drupal.org/project/mathjax), updated at the end of 2020.

- Is there any need for this on additional sites?
- Can I investi

[2021-09-20 21:31] mark-bennett-uiowa opened #4153 "Consider moving all CLAS sites to a new uiowa0x application once one opens up?"
With uiowa01 reaching its SAN limit (thanks to the 10 new DWLLC sites), and nursing potentially reaching the point of its launch, would it be a potential option to move all CLAS collegiate and department sites to a newly "recovered" application? That way, the "high-maintenance" college can be off on its own and not disrupt the other applications. Would require new SSL certificates (easy enough), d

[2021-09-20 21:40] #2795 closed, assigned to e-marie-w

[2021-09-20 21:43] dnkemper commented on #4048
Emailed Jenna and waiting to hear back on csv export formatting. For now, here's the location of the view changes that were made to export the events content: https://iowa.sharepoint.com/:f:/r/sites/CSI-Drupal2/Shared%20Documents/General/obermann%20csv?csf=1&web=1&e=oEOnv3

[2021-09-20 22:08] dnkemper commented on #4001
Updated all docs to point to internal domain. Also changed emails so there's now a `Site Created Email - URL internal production` email and a `Site Launched Email`.

[2021-09-20 22:15] joewhitsitt commented on #3793
@makurj good news is that those errors you reported are a local only issue. relates to drupal_http_request() so I checked out the branch in 703 dev.

I don't think the numbers are lining up. For PROD the stat is `36,215 University of Iowa alumni live in Johnson County` whereas in DEV the stat is `4,631 University of Iowa alumni live in Johnson County` also, `154 Registered Advanced Nurse Practitio

[2021-09-20 22:36] mark-bennett-uiowa commented on #4150
Closing after PR merged.

[2021-09-20 22:36] #4150 closed, assigned to mark-bennett-uiowa

[2021-09-20 22:39] mark-bennett-uiowa opened #4157 "Emergency creation of a new SSL cert for uiclas application."
The old SSL certificate for the uiclas application expired on Sunday at 1pm. Not sure how warnings or mentions were missed prior to the certificate expiring, but a new one has been created and put into place.

[2021-09-20 22:39] mark-bennett-uiowa commented on #4157
SSL certificate created and installed. Closing issue.

[2021-09-20 22:39] #4157 closed, assigned to mark-bennett-uiowa

[2021-09-21 00:10] pyrello commented on #4153
Here is a theoretical idea for how this could work:
* You would need to create a temporary drush alias file for the site at the new server using the `.prod.drupal`. This will be necessary for syncing the database and files later.
* Set up the `.prod.drupal` domain on the new application.
* Create the database(s) for the site on the new application.
* Run the site install command on the new server

[2021-09-21 02:23] pyrello commented on #2378
Encouraged by @bspeare, I pushed up the work I did on this earlier in the year: #4155

[2021-09-21 02:46] pyrello opened #4158 "Decrease technical debt of ListBlock class"
# Motivation

The ListBlock class was created originally as a fork of the `ctools_views` [Block](https://git.drupalcode.org/project/ctools/-/blob/8.x-3.x/modules/ctools_views/src/Plugin/Display/Block.php) class. At the time this approach seemed the best because we could make it work exactly the way we wanted. The downside was always that we were duplicating a lot of code that is already maintained

[2021-09-21 02:51] pyrello commented on #4158
Related to #3501

[2021-09-21 02:56] pyrello opened #4159 "Config Split MR - Improve config patch and merge for sequences"
# Motivation

We would like to adopt Config Split 2.x in #4091, but first we need to get the outstanding MR for [this issue](https://www.drupal.org/project/config_split/issues/3232243) to a stable state.

# Proposed solution

Continue the work started in https://git.drupalcode.org/project/config_split/-/merge_requests/9 and work with the maintainer to get the code to a stable state where it is lik

[2021-09-21 02:58] pyrello opened #4160 "Config Split MR - Change keys of config patch to make reviewing config diffs easier"
# Motivation

We would like to adopt Config Split 2.x in #4091, but first we need to get the outstanding MR for [this issue](https://www.drupal.org/project/config_split/issues/3232243) to a stable state.

# Proposed solution

Continue the work started in https://git.drupalcode.org/project/config_split/-/merge_requests/10 and work with the maintainer to get the code to a stable state where it is li

[2021-09-21 13:34] makurj commented on #3793
Thanks, Joe. It looks like there are many more columns in the 2017-18.csv than there are in 2020-21.csv so I'll bring those over without the numbers and see if that works.

[2021-09-21 13:35] richardbporter commented on #4153
I agree with everything @pyrello said. Another thing to note is that the SAN limit is more a best practice for performance and not a hard technical limit (https://github.com/uiowa/uiowa/issues/3136#issuecomment-805247370).

I know what we have isn't perfect and needs improvement but this feels like a step backwards and doesn't seem to have any tangible benefits. It also creates an illusion that th

[2021-09-21 14:28] makurj commented on #3793
Here you go, Joe. [2020-21.csv](https://github.com/uiowa/uiowa/files/7203895/2020-21.csv)
[2020-21students.csv](https://github.com/uiowa/uiowa/files/7203896/2020-21students.csv)

[2021-09-21 14:35] mark-bennett-uiowa commented on #4153
Sounds good, and I appreciate the feedback. Closing this issue.

[2021-09-21 14:35] #4153 closed, assigned to mark-bennett-uiowa

[2021-09-21 14:41] pyrello commented on #4153
While I don't think it is a good idea to do this for moving CLAS sites specifically, we may want to create a process for moving sites in the future to streamline SSL cert management or for other reasons. I thought there was an issue in the backlog about it, but I couldn't find it. At least if we do want to do that at some point, we have the start of a process worked out.

[2021-09-21 14:47] bspeare commented on #3841
These seem like possibly useful links/issues:

**Bulk operations:**

Create a duplicate view of /areas-of-study/print-links and add node operations bulk field: https://www.drupal.org/docs/contributed-modules/entity-print/usage#s-create-your-own-view

**Issues with this method:**
- https://www.drupal.org/project/entity_print/issues/3168977
- https://www.drupal.org/project/entity_print/issues/322031

[2021-09-21 14:54] makurj commented on #3793
[2020-21.csv](https://github.com/uiowa/uiowa/files/7204126/2020-21.csv)

[2021-09-21 14:56] joewhitsitt commented on #4001
i will take a look

[2021-09-21 15:02] dnkemper commented on #3841
@bspeare FOR THE WIN!

[2021-09-21 15:38] joewhitsitt commented on #4001
sorry, i went wild. additional feedback is welcome otherwise i think this can be closed.

[2021-09-21 16:13] bspeare commented on #3585
Looks like we have another one: https://175.prod.drupal.uiowa.edu.

[2021-09-21 16:13] dnkemper commented on #3841
* Contacted Isaac about silent printing `--kiosk --kiosk-printing` in chrome. He said he will look into it further. Might need to test on one of their devices. There's an email in ITS-Web w/ more info
* There's an issue with pdf's running into each other when downloading multiple at a time
* Patch for [Render multiple entities separately and on separate pages](https://www.drupal.org/project/entity

[2021-09-21 16:24] #4144 closed, assigned to nobody

[2021-09-21 16:30] richardbporter commented on #3585
`drush cc plugin` seemed to work.

[2021-09-21 16:43] pyrello commented on #4137
This is blocked by #4160 and #4159

[2021-09-21 16:49] joewhitsitt commented on #4076
I was able to pull a list of lactation and gender inclusive restrooms but the data doesn't quite align with what we got going. I am going to see about cleaning it up for the initial import. This and similar data might be a periodic manual pull/groom process

[2021-09-21 16:55] makurj commented on #3793
Thanks so much @joewhitsitt! Completed. Joe will contact the user.

[2021-09-21 16:55] #3793 closed, assigned to makurj

[2021-09-21 17:01] joewhitsitt commented on #3793
Customer contacted

[2021-09-21 18:04] benlewzz commented on #2848
We would really love this... we have dozens of sites that would use this functionality, not only in starting up their site but as a regular function of maintaining their content.

[2021-09-21 18:14] makurj commented on #4158
I would like to pair on this.

[2021-09-21 18:14] briand44 opened #4163 "update core 9.2"
https://github.com/orgs/uiowa/projects/1#card-68865767

https://iowaweb.slack.com/archives/C8SM82ZFZ/p1631728709072600

https://github.com/uiowa/uiowa/pull/4130

[2021-09-21 18:15] briand44 commented on #4163
Want to review release notes or changelog to understand changes

[2021-09-21 18:22] richardbporter commented on #4086
### Proposed solution

- Determine how much total space each application filesystem is taking up with `ncdu`. Comment here.
- Get the unused multisite directories for each application using the `diff` command.
- Pipe the unused multisite directories into `du -sh --total dir1 dir2` to get the total. Comment here.

[2021-09-21 18:23] richardbporter commented on #4086
https://support.acquia.com/hc/en-us/articles/360005257274-Assessing-disk-space-usage-on-Acquia-Cloud-Classic

[2021-09-21 18:31] joewhitsitt commented on #3285
Is this issue necessary? https://github.com/uiowa/uiowa/issues/3929#issuecomment-919411576

[2021-09-21 18:35] dnkemper commented on #3841
Question: Has anyone looked into the entity print views module? It adds a 'print' action

[2021-09-21 18:40] briand44 commented on #3929
Combine August and September news article. Try and provide more text explanation on slide deck to easier translate to news article.

[2021-09-21 18:40] joewhitsitt commented on #3285
Closing

[2021-09-21 18:40] #3285 closed, assigned to nobody

[2021-09-21 18:41] briand44 commented on #3929
Continue monthly going forward

[2021-09-21 18:41] bspeare commented on #3841
@dnkemper Probably worth turning on and trying out, but the description doesn't sound like what we need: "With the Entity Print Views module enabled, a "Print" Global option can be added to the View's header or footer."

[2021-09-21 18:42] dnkemper commented on #3841
True. It also added a 'print' action to the bulk node operations bulk form? Need to resync site but might check it out after grooming?

[2021-09-21 18:45] briand44 commented on #4159
Helpful to read entire D.O issue linked in issue summary.

[2021-09-21 18:50] richardbporter opened #4164 "Set bot crawl-delay for Drupal 7 sites"
### Problem
Drupal 7 sites being scanned in SiteImprove do not reduce the crawl time from the default.

### Proposed solution
A follow up to #3346, we should set `crawl-delay: 1` on Drupal 7 sites that are being scanned by SiteImprove. I'm not sure if this all D7 sites or just certain ones - we should clarify that.

On sites using the robotstxt module, we would need to write an update hook to appe

[2021-09-21 19:07] richardbporter commented on #4086
@mark-bennett-uiowa and @pyrello: Are there any multisite directories on clas and grad that could be deleted now because they've relaunched in SNv3 (or gone away)? That would get them to show up as unused here (and reduce our misc. D7 site counts!).

If you proceed, don't forget to delete the corresponding database. :)

[2021-09-21 19:15] ABoston88 commented on #4076
Making progress on category section...have a few buildings highlighted that are pretty far off-site (Okoboji, MacBride). Curious if those should be included in the import. Does Concept3D range that far?

[2021-09-21 19:22] pyrello commented on #4086
@richardbporter We are identifying the sites that can be de-provisioned currently and will proceed with that in the coming weeks.

[2021-09-21 19:30] bspeare commented on #3401
We could also skip this work and just move to https://www.drupal.org/project/gin which now has 10,000 sites using it.   Perhaps we could talk https://github.com/uiowa/uiowa/pull/3370 at our next Drupal meeting.

[2021-09-21 19:41] joewhitsitt commented on #4076
@ABoston88 I don't think Concept3D extends renders to those from what I am seeing. I think we could still import but leave them as not visible/private. Ultimately this is an "active" building according to Facilities and would show up again on a later import/sync unless we find another db property to filter buildings by (e.g. combination of main campus, etc.)

I notice some of your categories do no

[2021-09-21 19:57] ABoston88 commented on #4076
Right, my bad. I was going back-and-forth on whether we should take this chance to be more specific. I'll work with what we have and we can revisit that later.

[2021-09-21 20:34] joewhitsitt commented on #4076
I got lactation rooms into the spreadsheet. I combined "lactation room, lactation and family lactation" together from the db and kept "staff lactation room" separate but included.

[2021-09-21 20:42] ABoston88 commented on #4076
Looking at this list, I think we will probably need two additional categories. I don't know how to categorize research centers/facilities with what we have now...or utility/service stuff. My fault for not remembering that these were part of the old map...but didn't need tagging in the old structure. Would those be difficult to add, at this point?

[2021-09-21 21:17] joewhitsitt commented on #4076
So these are what are currently in there. I don't think creating new categories is much trouble at all, just that it needs to be done before input.

<img width="211" alt="Screen Shot 2021-09-21 at 4 12 09 PM" src="https://user-images.githubusercontent.com/4663676/134248468-dc7e43e0-a950-473c-be90-e5e3bc5b07db.png">

Don't forget we can also do sub-categories. Also, categories can be changed for a

[2021-09-21 21:21] joewhitsitt commented on #4076
I got gender-inclusive restrooms added to the sheet as well. Limited the db query to just `RESTROOM - NEUTRAL SINGLE USER` which seemed aligned with a lot of the existing information on the maps.uiowa.edu however there are a few notable locations that no longer have one by that classification... This data varies in classification quite a bit and I am not sure which ones meet the definition for thi

[2021-09-21 21:32] #3855 closed, assigned to nobody

[2021-09-22 13:15] richardbporter commented on #2629
![its-happening](https://media.giphy.com/media/5mBE2MiMVFITS/giphy.gif?cid=ecf05e4774jdaeo2g2fh8vyh6qn1j4lhzouszs7fpxcytxzp&rid=giphy.gif&ct=g)

[2021-09-22 13:21] #1606 closed, assigned to nobody

[2021-09-22 13:21] #3707 closed, assigned to dnkemper

[2021-09-22 13:22] richardbporter commented on #2629
Removed block labels from this and related issues.

[2021-09-22 14:14] #4048 closed, assigned to dnkemper

[2021-09-22 14:17] richardbporter commented on #4153
Reminder to maybe extract this into another issue since it outlines the process of transferring sites between applications.

[2021-09-22 14:27] pyrello commented on #2629
It appears the changes to `sitenow_people` indicated in the checklist above have already happened.

[2021-09-22 14:27] bspeare commented on #3841
A few other considerations:

- Remove theme CSS so the page will not be impacted by theme changes (suggested by @pyrello)?
- Should we remove the header, nav, and footer so that this is just a table and print button?

[2021-09-22 14:29] pyrello commented on #2630
@richardbporter Since 2 is not strictly necessary for the post HR clean-up, I'm inclined to just make the changes in 1 above for now and leave 2 as future work.

[2021-09-22 14:30] richardbporter commented on #2630
Could we do 2 but without the release uploading? We have no use case for sharing this module with anyone at this point.

[2021-09-22 14:33] dnkemper commented on #3841
I did remove the footer. By header do you mean the title? Or am I misunderstanding

[2021-09-22 14:33] pyrello opened #4169 "Move sitenow-events/single-event library to uids_base and refactor."

[2021-09-22 14:36] pyrello commented on #4169
Created from #2629. Opening a new issue to allow for grooming and discussion to happen.

[2021-09-22 14:37] #4001 closed, assigned to dnkemper

[2021-09-22 14:39] pyrello commented on #2629
IMO, the tasks related to moving the `uiowa_auth` module into this repo and moving/refactoring the `single-events` library should not happen as part of the follow-up to getting HR onto UIDS. The first one requires introducing a new CI process. The second one is still not entirely clear to me why it is necessary or desirable so I created a separate issue to allow for better definition/grooming.

[2021-09-22 14:43] bspeare commented on #3841
Sorry, I meant header and footer of the website, not the view :)

[2021-09-22 14:44] dnkemper commented on #3841
@bspeare so DEFINITELY misunderstood haha. Thank you for clarifying 🙈

[2021-09-22 14:47] richardbporter commented on #2629
That makes sense.

[2021-09-22 14:52] richardbporter commented on #4169
I think the idea here is that most of our libraries exist in uids_base but sitenow-events/single-event could not be moved because HR needed it and was not on uids_base.

Having trouble finding info on the refactor but I wonder if the styles were written with HR in mind and could be updated now.

Sorry I didn't add more details at the time I created this.

[2021-09-22 15:19] pyrello commented on #3841
Just to be clear, I didn't meant that we should remove all theme CSS necessarily, but that we should consider removing anything that isn't strictly necessary to limit the chances that we unintentionally break the kiosk page with unrelated theme work.

[2021-09-22 15:21] pyrello opened #4173 "Genetics - Fix menu items on custom people pages."
Menu links keep resetting themselves to be top-level for all 3 custom people views on this site.

[2021-09-22 15:26] bewoldt opened #4174 "Rename Author field label in Card component"
# Problem
When making a Card component there is a field with the label "Author". I've personally used this field for many things other than an author name. Renaming it to a more generic label would remove confusion for site editors.

<img width="441" alt="Screen Shot 2021-09-22 at 10 25 00 AM" src="https://user-images.githubusercontent.com/731952/134373257-4a4746ed-28f9-42d3-88bd-935d195019e3.png"

[2021-09-22 16:13] #4146 closed, assigned to nobody

[2021-09-22 16:31] quamsta opened #4175 "Footer "socket" links get a bit scrunched up when there are columns of navigation items next to it."
# Problem
When links are added to the footer menus, the copyright and other statements get a bit squeezed into the first column.

Screenshot:

<img width="1152" alt="Screen Shot 2021-09-22 at 11 22 17 AM" src="https://user-images.githubusercontent.com/472923/134384151-f87dbf8f-dce0-40b9-a954-3202f8aa9386.png">

# Steps to reproduce
Add some links to the footer menus and you can see this pretty qui

[2021-09-22 16:40] joewhitsitt commented on #4076
Made an assumption that any building with a photo should be visible/not private in the CMS and marked those as such.

[2021-09-22 16:47] joewhitsitt commented on #4076
I brought over the only two quality descriptions from the maps.uiowa.edu site. (OC and UCC)

The one other one seem to duplicate lactation/restroom information (CB)

[2021-09-22 16:52] bewoldt commented on #4080
@bspeare Is the the expected result if you have a narrow container that has a sidebar region? If so, this will need a fix too.

<img width="1251" alt="Screen Shot 2021-09-22 at 11 35 48 AM" src="https://user-images.githubusercontent.com/731952/134387292-60c581aa-7b85-49fa-b6a2-f7c6e399f477.png">

[2021-09-22 17:13] richardbporter commented on #2629
I removed those from the this issue checklist.

[2021-09-22 17:55] pyrello commented on #2630
If we are not sharing the module, then I think that makes the most sense. It would certainly make the whole process easier.

[2021-09-22 18:33] richardbporter commented on #3713
I did not work on that since it was marked as postponed.

[2021-09-22 18:34] richardbporter commented on #3678
Just want to clarify that we don't want to target production sites for visual regression testing but rather what is available in the PR, which right now is default site with default content.

[2021-09-22 18:38] richardbporter commented on #3678
There may be some advantages to doing this issue along with #3713 in #4122. If that were to happen, we'd have to redo the articles piece of it after #3501 was complete? Is that accurate?

[2021-09-22 18:39] joewhitsitt commented on #3678
yes

[2021-09-22 19:42] ABoston88 commented on #4076
Categories are filled out. The addition of four categories would be really helpful for the import:

Research
Services
Residence
Academic Building

Any other adjustments are pretty small and can be made in Concept3D. Taking a look at private/visible now. Agree with assumption that anything with a photo can be marked as visible.

[2021-09-22 20:00] ABoston88 commented on #4076
Sorry, 4. Academic Building, as well. Added to list above.

[2021-09-22 20:09] ABoston88 commented on #4076
Visibility column is filled out.

There are a few duplicate columns highlighted in the spreadsheet. Can I delete the spare?

[2021-09-22 20:17] joewhitsitt commented on #4076
Yes! Good catch.

[2021-09-22 21:24] briand44 commented on #3953
Added blocked label until at least a week has passed since initial communication.

[2021-09-23 12:57] makurj commented on #4065
Completed.

[2021-09-23 12:57] #4065 closed, assigned to makurj

[2021-09-23 13:13] pyrello opened #4180 "Create a process for moving sites between servers"
Created from https://github.com/uiowa/uiowa/issues/4153#issuecomment-923452000.

Here is a theoretical idea for how this could work:
1. Release a code update to create a temporary drush alias file for the site at the new server using the `.prod.drupal`. This will be necessary for syncing the database and files later.
2. Set up the `.prod.drupal` domain on the new application.
3. Create the databas

[2021-09-23 13:14] pyrello commented on #4153
Done

[2021-09-23 13:24] mjoneill commented on #4078
Bug?

<img width="821" alt="image" src="https://user-images.githubusercontent.com/7144234/134514935-84fc9b59-7363-4068-bcfb-35a58495e0b8.png">

[2021-09-23 13:26] briand44 commented on #4180
Curious if this would just be to handle D9 sites or D7 sites as well? Assuming D9 but we've had conversations about having the ability to move sites between 701/2/3 as well to help free up an application. Interested in thoughts about D7.

[2021-09-23 13:28] pyrello commented on #4180
This was only intended for D9, but I'm guessing that the process would be similar. The constraint in D7 might be that the applications are different? I'm not as familiar with the 70x applications setup. But this definitely wouldn't work for moving a Grad site or a CLAS site.

Maybe @richardbporter can weigh in?

[2021-09-23 13:32] briand44 commented on #4180
The 70x applications are identical. Just not sure how much different the process would be and if it is worth the value.

[2021-09-23 13:47] pyrello commented on #4180
I think the process would actually be pretty much the same. The steps above are not able to take advantage of our automated provisioning process because of the problem with domain name conflicts. The format of the drush alias files is different, I believe, but they would be created manually.

lt may be a little bit time consuming. It requires 2-4 code deployments depending on whether the existing

[2021-09-23 14:00] #1907 closed, assigned to nobody

[2021-09-23 14:00] #1713 closed, assigned to nobody

[2021-09-23 14:00] #2629 closed, assigned to nobody

[2021-09-23 14:00] #3719 closed, assigned to nobody

[2021-09-23 14:39] pyrello commented on #4094
My best recollection of our conversation about this:

The timeline feature that was [deployed recently](https://github.com/uiowa/uiowa/pull/3928) uses Layout Builder and depends on a single block with a multiple value field. It sounded like the timelines that are being envisioned for importing have hundreds of data points. This is potentially problematic with the current implementation because it

[2021-09-23 15:00] #4114 closed, assigned to dnkemper

[2021-09-23 15:17] briand44 commented on #4180
Here is some info about moving sites on 70x applications https://github.com/uiowa/uiowa/issues/3136

[2021-09-23 16:03] briand44 commented on #3784
Can you provide a little context about where this data is coming from, how often this data is updated, how it is updated, etc. I would like to help come up with some options for this, just don't recall enough information about it.

[2021-09-23 16:11] pyrello commented on #3784
I believe that this is a list that we have curated, transformed into JSON and uploaded to our D7 Grad site via a custom module. It is updated maybe 1-2 times per year, if that. When it is updated, it would involve uploading a new file.

[2021-09-23 16:19] briand44 commented on #3784
Curious on if this could just be hosted on data.its? The issue there would be that it would involve developer interaction when it needs updated. Is that a deal breaker?

[2021-09-23 16:35] joewhitsitt commented on #4076
@mjoneill is going to reach out to Concept3D about the next step for this

[2021-09-23 16:41] joewhitsitt commented on #4149
Closed with merge of https://github.com/uiowa/uiowa/pull/4166

[2021-09-23 16:41] #4149 closed, assigned to nobody

[2021-09-23 16:47] #4175 closed, assigned to quamsta

[2021-09-23 17:59] richardbporter commented on #4086
TLDR;
I think there is about 60gb of files that could be deleted.

I'm working on a folder in O365 within CSI-Drupal that will detail more of this.

[2021-09-23 18:06] pyrello commented on #3784
Not necessarily. I'd need more details about how it would work to say for sure.

[2021-09-23 18:29] richardbporter commented on #4086
https://iowa.sharepoint.com/:f:/r/sites/CSI-Drupal2/Shared%20Documents/Acquia%20File%20Usage?csf=1&web=1&e=D1x6f7

[2021-09-23 18:52] joewhitsitt opened #4195 "Provide more information in Linkit Profile"
# Problem

Content of the same name is hard to distinguish (page/area-of-study)

# Proposed solution

Provide additional meta in the linkit autocomplete (default profile) (e.g. content type, author, last updated)

[2021-09-23 18:55] joewhitsitt commented on #3957
Added potential other data to the IS above (ADA, computer labs, study spaces)

[2021-09-23 20:02] #4078 closed, assigned to GaryRidgway

[2021-09-23 21:03] richardbporter commented on #4086
The assumption that these unused multisite files directories can be removed is based on:
1. the symlink to the corresponding files directory has not been changed.
  - Ex. docroot/sites/mysite.com/files -> /mnt/gfs/app/sites/someothersite.com
2. the public files path for the site has not been changed to another site.
  - Ex. mysite.com public files path is set to sites/someothersite.com/files

I do

[2021-09-23 21:04] #4086 closed, assigned to richardbporter

[2021-09-23 21:15] joewhitsitt commented on #4086
i don't know if this was back from on-prem days but i do recall ip.uiowa.edu/international.uiowa.edu kind of difference related to files.

[2021-09-23 21:20] quamsta commented on #3472
I'm going to close this since it arose from a misunderstanding of Layout Builder and how pages are built and rendered that I had early on.

[2021-09-23 21:20] #3472 closed, assigned to nobody

[2021-09-23 21:26] richardbporter commented on #4086
Yea thanks good call. I'm not sure we can easily check for those types of things. I would say we probably have to plan on backing up the files before deleting. :(

[2021-09-24 13:49] pyrello commented on #3641
Just noticed that Lando introduced experimental support for Apple Silicon: https://github.com/lando/lando/releases/tag/v3.3.0

[2021-09-24 13:57] e-marie-w commented on #3929
Since we only include enhancements/bug fixes for the default site profile, I'm skipping stuff like migrations and site-specific features, like the pharmacy map, admissions event series, or the concept3d map stuff. I'm also skipping any investigations like the snowplow analytics stuff and the privacy acknowledgment pop-up. (Let me know if any of that should actually be included.)

I'm a little conf

[2021-09-24 14:06] joewhitsitt commented on #3929
We have included "feature splits" in the past articles. So I think AoS, Topic, Graph can be included. Timeline is turned on for all.

[2021-09-24 14:12] joewhitsitt commented on #4158
ditto

[2021-09-24 14:14] e-marie-w commented on #3929
Oh awesome, that is a lot of cool work that is nice to make visible. Thank you @joewhitsitt!

[2021-09-24 14:29] joewhitsitt commented on #3641
DDEV supports M1 as well: https://ddev.readthedocs.io/en/stable/

[2021-09-24 15:23] joewhitsitt commented on #4076
The recent email from Concept3D is a bit disappointing. The additional fields (address, lactation rooms, gender-inclusive) are not neatly available in a feed. We might have to expand our existing data.its feed to massage this data into something Concept3D can consume.

Additionally, I think this confirms that the building common name is the unique identifier to align any data we want to sync. This

[2021-09-24 15:37] joewhitsitt commented on #4076
In a bit, I will remove the additional columns (preserve it elsewhere) so that we can move forward with the initial import.

I guess though I have one question. Would it be worth combining this information and appending it to the description field for MVP until we can figure out the sync later on? The cost of doing this would be removing the addition from each building later on when synced info is

[2021-09-24 15:39] joewhitsitt commented on #4158
ListBlock zoom huddle summary. We started combing line by line through ListBlock.php to remove anything that ctools_views is already providing. @makurj is going to push this initial work.

[2021-09-24 16:43] makurj opened #4197 "SSL cert for basicneeds.uiowa.edu on uiowa"

[2021-09-24 16:47] joewhitsitt commented on #4076
I made a copy of the spreadsheet in its-web's Drive and removed the additional columns from the spreadsheet we have been sharing around.

[2021-09-24 17:14] mark-bennett-uiowa commented on #4094
@pyrello Sure thing Sean. Let me finish up a few outstanding issues around here and I will update this as soon as possible.

[2021-09-24 18:28] mjoneill commented on #4076
I'm OK with this.

[2021-09-24 19:21] joewhitsitt commented on #4158
i tried to move forward with https://github.com/uiowa/uiowa/pull/4198 but hope that @pyrello will have a chance periodically to check in on this.

noticing some UX setbacks but so far things are still rendering...

[2021-09-24 19:32] pyrello commented on #4158
So far this looks good. If you are running into specific issues, I'm happy to step through them with you.

[2021-09-24 21:42] joewhitsitt commented on #4158
I feel like we haven't done that much gutting yet but switching from `Drupal\views\Plugin\views\display\Block` to `Drupal\ctools_views\Plugin\Display\Block` really changes things...

<img width="451" alt="Screen Shot 2021-09-24 at 4 41 05 PM" src="https://user-images.githubusercontent.com/4663676/134742747-65b28c96-d5aa-4463-8927-87a5df198ddf.png">

[2021-09-24 22:17] pyrello commented on #4158
It does. We were structuring things a bit differently. Part of this will be figuring out how to modify the existing structure to get it to look like we had it before.

[2021-09-26 14:46] #3169 closed, assigned to pyrello

[2021-09-26 15:08] pyrello commented on #3641
Here are some docs indicating how you can use DDEV and BLT together: https://dev.acquia.com/blog/blt-and-ddev-together

[2021-09-27 12:55] richardbporter commented on #4138
Is this happening in a specific version of Chrome?

[2021-09-27 13:20] bspeare commented on #4138
I didn't run through all the versions.   I tried the latest version of Chrome (93) for Windows on Browserstack.

[2021-09-27 13:53] #4163 closed, assigned to joewhitsitt

[2021-09-27 13:53] #4173 closed, assigned to nobody

[2021-09-27 13:53] #4195 closed, assigned to joewhitsitt

[2021-09-27 18:10] richardbporter commented on #4138
OIC. The drawer is like cut off. Seems like Windows only. Also happening on Edge/FF on Windows 10.

[2021-09-27 21:19] richardbporter commented on #3953
Updated template. Sent 2nd round to remaining sites. Set campaign back to test mode.

[2021-09-27 21:19] #3933 closed, assigned to richardbporter

[2021-09-28 13:53] richardbporter commented on #4138
Having trouble narrowing this down.

[2021-09-28 14:20] e-marie-w opened #4201 "Immunology - add Thesis Defense config split"
## Motivation: ##
As an Immunology site owner, I want the Thesis Defense content type and calendar available on my site.

## Proposed Solution: ##
Enable Thesis Defense config split for Immunology.

[2021-09-28 14:33] makurj opened #4202 "Sitenow reinstall for itcommunities.uiowa.edu"
Submitted on: Monday, September 27, 2021

What is the nature of your inquiry?
General

Customer
Existing Customer

Site URL
https://itcommunities.uiowa.edu

First Name
Brian

Last Name
Dickey

Email
brian-dickey@uiowa.edu

Question
Submitting this on behalf of Adrienne Coon. Adrienne would like to request a SiteNow v3 site to start transitioning the existing v2 site https://itcommunities.uiowa.edu

[2021-09-28 15:13] pyrello commented on #3401
I agree with @bspeare that we should consider moving to Gin instead of this. It may be the case that we still have to fix some of this stuff, but overall we may have to fix less.

[2021-09-28 15:32] pyrello opened #4204 "Switch to Gin admin theme"
# Motivation

[Gin](https://www.drupal.org/project/gin) is a contrib admin theme that offers enhancements over the current Admin theme and can work alongside some contrib modules to improve the site admin and editor UX. It is used by more than 10k sites currently and is actively being worked on (last release 09/27/2021).

# Proposal

- Switch out the current admin theme with Gin.
- Add any helper

[2021-09-28 15:50] bspeare commented on #4138
I can confirm that switching to the Gin theme makes the "Update" button visible.

[2021-09-28 15:56] joewhitsitt opened #4205 "Outreach County Map - Fix data for spaced counties"
# Story

As a site owner, I expect to see student data for counties like Black Hawk, Buena Vista, Des Moines.

See https://github.com/uiowa/uiowa/issues/3793 for previous details.

# Proposed solution

- [x] Fix 2020-21students.csv file to have hyphens instead of spaces.
- [x] Re-run the generator.
- [x] Check those output files to make sure data aligns.

[2021-09-28 16:00] makurj opened #4206 "https://lablimoli.prod.drupal.uiowa.edu - Help migrating content"
https://limoli.lab.uiowa.edu
https://lablimoli.prod.drupal.uiowa.edu

"I would like help moving the content from the current V1 site to V3. Thanks!" Dominique Limoli

[2021-09-28 16:02] makurj opened #4207 "Deactivate a site temporarily - https://uigearup.uiowa.edu/"
Submitted on: Tuesday, September 28, 2021

What is the nature of your inquiry?
General

Customer
Existing Customer

Site URL
https://uigearup.uiowa.edu/

First Name
Angie

Last Name
Lamb

Email
angela-lamb@uiowa.edu

Question
Our GEAR UP grant has ended and we no longer need this website to be live. We may need it again in the future, but the soonest would be around 2026. Can I deactivate it for n

[2021-09-28 16:10] joewhitsitt commented on #4207
Just remove the domain from Acquia cloud

[2021-09-28 16:10] joewhitsitt commented on #4207
Find a place to make a note about it though (site request submission?)

[2021-09-28 16:11] briand44 commented on #4207
I wonder if we could put them in touch with the digital archivist at the library and get the site archived and then we could completely remove it? It is a v2 site and not sure we want to be supporting a v2 site in 2026. There isn't a lot of content if it were needed again in 5 years.

[2021-09-28 16:11] makurj commented on #4207
So should I hold off on removing the domain?

[2021-09-28 16:14] briand44 commented on #4207
I would for now until we have a chance to discuss in PL. If it will be archived, we would still need the domain.

[2021-09-28 16:17] joewhitsitt commented on #4206
Like they want us to programmatically run migrations for them? I doubt a lab site will get prioritization any time soon. I would suggest that they request a site and go forth manually migrating it.

[2021-09-28 16:19] joewhitsitt commented on #4207
We should capture this process as part of our workflow.

[2021-09-28 16:20] makurj commented on #4206
Sounds good. I will provision this out later today and can edit the automated email to suggest the manual migration option.

[2021-09-28 16:21] joewhitsitt commented on #4206
Have them formally request a site so we can track the submission if they haven't already

[2021-09-28 16:21] makurj opened #4208 "As a webmaster, I would like to embed TikTok videos with a preview thumbnail"
"Is it possible to embed/post TikTok videos in our Drupal system? (With the preview thumbnail?)
I’m trying to do just that on this page and can’t quite get there: https://bam.sites.uiowa.edu/videos"

Robert R Cargill

[2021-09-28 17:08] joewhitsitt commented on #4076
I have updated the spreadsheet to combine our "custom fields" into using the description field.

Examples:

[code]

[code]

If this is okay, I think this sheet is ready to go.

[2021-09-28 17:53] bspeare commented on #4138
I've got a fix for this that I will push up later this afternoon.

[2021-09-28 18:04] briand44 opened #4209 "Delete files identified in #4086"
For:
- [x] uiowa701
- [x] uiowa702
- [x] uiowa703
- [x] uiowa
- [x] uiowa01
- [x] uiowa02
- [x] dentistry

SSH into each application dev, test and prod instance and:

- `drush @app.env ssh`
- `cd /mnt/gfs/app.env/sites`
- `rm -vrf SITE-LIST`

Where SITE-LIST is the space-delimited list of directories corresponding to the application in https://iowa.sharepoint.com/sites/CSI-Drupal2/Shared%20Documen

[2021-09-28 18:16] briand44 commented on #3142
will need applied to both Signage and HC Signage

[2021-09-28 18:27] briand44 opened #4212 "Identify all maps.uiowa.edu integrations on SiteNow v1."
Epic: https://github.com/uiowa/uiowa/issues/3957

## Usage/Integrations (701, 702, 703) as of 10/01/2021
- uiowa_maui/uiowa_maui_pane/course_deadlines
  - update uiowa_maui/uiowa_maui_pane/plugins/content_types/course_deadlines.inc#L362 to not link building abbreviation - link to facilities if we have that building number.
- registrar.uiowa.edu - (example: https://registrar.uiowa.edu/contact) Taxo

[2021-09-28 18:28] briand44 commented on #4212
SiteNow maps pane, ITS website pulling building data, etc

[2021-09-28 18:35] briand44 commented on #4212
Search codebase on 701/2/3 for `maps.uiowa.edu` and note usage in modules. Check for usage of those modules with `drush @sites pmi module_name` executed on prod env of uiowa701/2/3.

Also check whether sitenow_maps was enabled by default for standard and custom profiles.

[2021-09-28 18:39] briand44 opened #4213 "audit footers of sites to see if we can move to minimal text format"
- [x] Audit footers for media
  - [ ] Check for other things that is not allowed in minimal that may be allowed in filtered_html
- [x] Switch footer text format to minimal
- [x] Update default content to use minimal: https://github.com/uiowa/uiowa/blob/main/docroot/profiles/custom/sitenow/content/block_content/0c0c1f36-3804-48b0-b384-6284eed8c67e.yml#L23
- [x] Prevent editors from switching to Fil

[2021-09-28 18:40] briand44 commented on #4213
Identify if there are others with media in footer

[2021-09-28 18:42] briand44 commented on #4213
Can we use minimal text format?

[2021-09-28 18:43] joewhitsitt commented on #4213
Minimal allows ```<span role class="fa*">```

[2021-09-28 18:44] joewhitsitt commented on #4213
Will default content need to be updated?

[2021-09-28 18:47] briand44 commented on #4079
Message should be configurable for the site.

[2021-09-28 18:49] briand44 commented on #4079
Potentially use Drupal_set_message().

[2021-09-28 18:50] joewhitsitt commented on #4079
If using drupal set message, this would be the warning version of it.
<img width="1035" alt="Screen Shot 2021-09-28 at 1 52 56 PM" src="https://user-images.githubusercontent.com/4663676/135148308-15df589c-3529-47bc-acf6-5baecae4aff0.png">

[2021-09-28 18:55] briand44 commented on #3401
postponed until we discuss https://github.com/uiowa/uiowa/issues/4204

[2021-09-28 18:59] richardbporter commented on #4180
I don't think this would be required since we'd be sql:syncing over it.

[2021-09-28 19:09] richardbporter commented on #4180
Checking for SSL coverage on the destination would be another step.

[2021-09-28 19:18] richardbporter commented on #4212
Can we ignore links? For example, a site importing a feed from content.uiowa.edu with a venue_url set to https://maps.uiowa.edu/cpb. Will that just work after the switch?

[2021-09-28 19:23] bspeare commented on #2848
Adding this here: https://www.drupal.org/project/replicate.

[2021-09-28 19:33] bspeare commented on #2848
https://www.drupal.org/project/replicate
https://www.drupal.org/project/replicate_ui

Added the above modules, went to content overview and right-clicked on the operations dropbutton:

<img width="1869" alt="Screen Shot 2021-09-28 at 2 30 58 PM" src="https://user-images.githubusercontent.com/1036433/135153629-64a0024d-58a8-4e6d-84d9-52dba05721e2.png">

Next screen:

<img width="1164" alt="Screen S

[2021-09-28 19:33] joewhitsitt commented on #4212
As of now, there are not redirects setup and these pages don't existing in Concept3D.

I think so. Similar to a site launch we will probably consider redirects and communicate the change out to folks to update their sites.

"Redirects or replacement for building pages - See https://github.com/uiowa/uiowa/issues/3957#issuecomment-916253913"

[2021-09-28 19:35] richardbporter commented on #4212
There is a lot of code constructing links to maps.uiowa.edu/building that we'll need to fix then. The only API-related references to `maps.uiowa.edu/api` I'm seeing are in sitenow_maps. There is a reference to maps.uiowa.edu in aging.uiowa.edu/aging_maps we might want to investigate.

I'd recommend running `grep -R 'maps.uiowa.edu' .` or some variation of it above all your D7 docroots locally as a

[2021-09-28 19:40] richardbporter commented on #4087
Moved previous console output to O365: https://iowa.sharepoint.com/:f:/r/sites/CSI-Drupal2/Shared%20Documents/Acquia%20Database%20Usage?csf=1&web=1&e=0phl0q

[2021-09-28 19:41] joewhitsitt commented on #4212
Just looked at its.uiowa.edu. They are no longer pulling building data. HD Staff are manually maintaining now. They wanted to tailor building names for Alerts instead of using what was provided by BuildingCommonName.

[2021-09-28 19:41] briand44 commented on #4212
Aging site has been removed so we don't need to worry about that.

[2021-09-28 20:11] #3841 closed, assigned to dnkemper, GaryRidgway

[2021-09-28 20:32] briand44 commented on #3142
Reached out to Jessica about a communication channel and here is her response.

[2021-09-29 13:18] #4138 closed, assigned to bspeare

[2021-09-29 13:20] pyrello commented on #2848
See my comments here: https://github.com/uiowa/uiowa/pull/4214#issuecomment-929709156

[2021-09-29 13:30] pyrello commented on #2848
I believe that this issue should be split out into 2-3 issues:
* #4223  As a content editor/webmaster, I would like to be able to duplicate an entire page.
* (Possibly #2378) As a content editor/webmaster, I would like to be able to select from several template options when creating a new page for the first time.
* As a content editor/webmaster, I would like to reuse blocks/sections within my layo

[2021-09-29 13:59] pyrello commented on #4180
I think there could be an alternative set of steps for an automated process. Some assumptions:
* The site owner shouldn't need to check the site.
* The process probably needs to be broken up into a couple discrete steps.
* There are a few things that will still have to happen manually.

Here are the proposed process:
* (Manual) Add alt prod domain in the new server.
* (Manaul) Add database to new

[2021-09-29 14:32] makurj commented on #4202
Completed.

[2021-09-29 14:32] #4202 closed, assigned to nobody

[2021-09-29 14:32] makurj commented on #4206
Provisioned. Waiting for release to install.

[2021-09-29 14:33] makurj commented on #4206
Copy Sean on internal prod URL email so he can explain to the user about manually migrating content.

[2021-09-29 14:41] makurj commented on #4207
Emailed user letting them know to work with the digital archivist and once that is complete, to inform us, so we can deprovision the site.

[2021-09-29 15:26] makurj commented on #4207
User emailed saying they're okay with us deleting the current site and will request a new one in 2026.

[2021-09-29 15:50] makurj opened #4216 "Deprovision sites"
We have confirmation that aging.uiowa.edu, magazine.education.uiowa.edu and https://uigearup.uiowa.edu/ (#4207) can be removed.

[2021-09-29 16:04] joewhitsitt commented on #4158
Closing due to https://github.com/uiowa/uiowa/pull/4198

I imagine more work will be done to refine ListBlock but we are now using ctools_views.

[2021-09-29 16:04] #4158 closed, assigned to joewhitsitt

[2021-09-29 16:14] joewhitsitt commented on #4209
Given the possibility of user error with this, I'd be interested in pairing with someone on this so that there is a second set of eyes.

[2021-09-29 18:08] richardbporter commented on #4209
Removed files on uiowa703.dev as a test case. 👍🏻

[2021-09-29 18:09] richardbporter commented on #4209
I've added something to the D9 docs and the process is about the same for D7. Feel free to edit.

[2021-09-29 18:52] pyrello opened #4219 "Genetics - Research areas filter on Faculty page show options without corresponding faculty"
# Motivation

Genetics has reported that their new faculty page (https://genetics.grad.uiowa.edu/people/faculty) is showing research area options in the filter that don't correspond to any active faculty.

# Proposed solution

Investigate whether the research areas are showing up because they are selected for former faculty, which don't show up in the list. Figure out a solution for ensuring that

[2021-09-29 19:20] #3713 closed, assigned to richardbporter

[2021-09-29 20:03] makurj commented on #4216
All 3 deprovisioned. Waiting on release for uigearup. Hostmaster has been emailed to reclaim CNAMEs.

[2021-09-29 21:10] makurj commented on #4206
Provisioned. Email sent to user, Sean copied.

[2021-09-29 21:10] #4206 closed, assigned to makurj

[2021-09-29 21:43] briand44 opened #4223 "Ability to Duplicate Pages"
# Story

As a content editor/webmaster, I would like to be able to duplicate an entire page so that I don't have to recreate it from scratch to have a consistent look.

# Additional Info

Replicate and Replicate UI modules have been discussed as a potential way forward.

Some additional information and conversations have been captured https://github.com/uiowa/uiowa/issues/2848.

Some more thoughts

[2021-09-30 12:46] mjoneill commented on #4079
Would it be possible to show that at the bottom of the article?

[2021-09-30 13:23] quamsta opened #4224 "Establish default pager used on lists to be either mini or full"
# Problem

When viewing a taxonomy term (e.g. "/tags/food") if there is more than one page, the pagination links at the bottom aren't consistent with other pagination links in SiteNow.

Taxonomy term pagination:

<img width="370" alt="Screen Shot 2021-09-30 at 8 19 18 AM" src="https://user-images.githubusercontent.com/472923/135462651-6481cf24-c048-4691-a025-c273e96575a2.png">

vs

<img width="372

[2021-09-30 13:46] bspeare commented on #4224
@quamsta Taxonomy uses the mini pager and the other lists use the full pager.    Perhaps this issue could be changed to "Establish default pager used on lists to be either mini or full", I personally like the mini pager best.

[2021-09-30 13:48] joewhitsitt commented on #4079
Uh, yeah it would be possible but it (`drupal_set_message()`) would no longer be the easy solution.

If it must be bottom, I would probably approach it differently with a custom block below main content. We could see if we could mimic the markup to achieve the same styling if that is okay, otherwise we will probably have to create a local css file because of the theme situation.

[2021-09-30 13:48] joewhitsitt commented on #4224
I wouldn't call this a bug. Core is providing a view that just does it differently. admin/structure/views/view/taxonomy_term

[2021-09-30 14:01] #4147 closed, assigned to bspeare

[2021-09-30 14:10] bspeare commented on #3142
Do we want to pull a list of users (with hawkids) out of Drupal signage before we move forward with this communication?  If so, is there a herky drush command that does this?

[2021-09-30 14:25] bspeare commented on #4213
What's the best method to audit footers for media usage?

[2021-09-30 14:25] richardbporter commented on #3142
No herky commands on signage. :(

[2021-09-30 14:25] joewhitsitt commented on #4219
https://www.drupal.org/project/views_selective_filters was how we solved it in d7 but doesn't scale well.

[2021-09-30 14:35] makurj commented on #4216
CNAMEs reclaimed.

[2021-09-30 14:35] makurj commented on #4207
See #4216

[2021-09-30 14:35] #4207 closed, assigned to nobody

[2021-09-30 14:42] mjoneill commented on #4147
@bspeare, B.Hill just reached out with the following:

Do you think he's actually seeing the fix, or there's still an issue?

[2021-09-30 14:46] bspeare commented on #4147
@mjoneill that is good information!  I will revisit the bug fix to check.

[2021-09-30 14:50] makurj opened #4226 "Tippie: Profiles / Pivot Stories"
Profiles / Pivot Stories
We like the student profiles here, and the ability to look at more profiles once you’re reading one. It’d be nice if the grid of student pictures was actually more like a list of headlines with images. Or maybe a set of 3 cards at the bottom with stories that share the same tags as the stories currently being read. We’ll want to work with Nikki and Steph on this when we ge

[2021-09-30 14:51] makurj opened #4227 "Stats Enhancements"
Stats
There’s a strong pull for things that display stats. One would be something that displays graphical stats like we do in the tippie site, but fed from a source so they wouldn’t have to be updated. Another would be a map that shows stats, also drawn from a data source. It would be ok if each of them were just configurable and you plug numbers in vs. having it draw from a live source. This one’

[2021-09-30 14:51] makurj opened #4228 "Tippie: News (Content Hub)"
James is pretty interested in the way they did news functionality here, both for our News section, but also after the redesign some modification for _maybe_ doing a content hub. The content hub isn’t a done deal, but it’s some strategy I talk with different people a lot – much planning to do there before that becomes a reality. I’d love to see more ways people are doing content hubs if there’s any

[2021-09-30 14:52] makurj opened #4229 "Filters"
Filters
There are a lot of places we’d like to be able to filter things (news, programs, events, etc.) and some kind of filter/sort functionality like this would be super handy.
https://housing.uiowa.edu/communities

[2021-09-30 14:55] mjoneill commented on #4079
Gotcha. I worry that this feels to much like an error, so I'd push for below the article and a little toned down. Maybe the same thing without the exclam would feel better?

I recognize that I'm pulling us out of a solution that seems within easy reach, and I don't want to take that step lightly.  @bspeare thoughts?

If I'm the lone stick in the mud on this, we can loop in Joe and Tricia and get t

[2021-09-30 15:07] pyrello opened #4230 "Switch to `drupal/views_tree:^2.0@alpha` and remove temporary workaround"
# Motivation

The maintainers of the `views_tree` finally got around to accepting and merging some changes that were required for D9 compatibility. A new release has been created, so we no longer need my sandbox version of the module.

# Proposed solution

- Remove the entry in the `repositories` section of composer.json for `drupal-pyrello/views_tree`.
- `composer require drupal/views_tree:^2.0@a

[2021-09-30 15:26] makurj commented on #4197
Installed.

[2021-09-30 15:26] #4197 closed, assigned to makurj

[2021-09-30 16:00] makurj commented on #4216
uigearup gone.

[2021-09-30 16:00] #4216 closed, assigned to makurj

[2021-09-30 16:18] #3373 closed, assigned to nobody

[2021-09-30 16:23] bspeare commented on #4079
I think a custom block below the content makes more sense.   We could probably lose the icon and use the rest of the styles in Joe's screenshot.

[2021-09-30 16:39] joewhitsitt commented on #4076
Emailed Patrick (Concept3D) with the link to the spreadsheet

[2021-09-30 17:18] makurj opened #4233 "College of Pharmacy Intranet: Date on Individual News Articles"
# Story

Articles: https://intranet.pharmacy.uiowa.edu/articles
Individual News Article: https://intranet.pharmacy.uiowa.edu/articles/macgillivray-receives-american-chemical-society-midwest-award

From: Lauer, Holly J <holly-lauer@uiowa.edu>
Sent: Monday, September 20, 2021 10:59 AM
To: Gleeson, Kristina E <kristina-gleeson@uiowa.edu>; Kelley, Barbara <barbara-kelley@uiowa.edu>
Subject: Intranet R

[2021-09-30 17:40] joewhitsitt opened #4234 "Remove content id option from people_list_block"
# Problem
people_list_block makes it possible to "hide" Content: ID. This is not rendered and has no effect.

<img width="361" alt="Screen Shot 2021-09-30 at 8 55 10 AM" src="https://user-images.githubusercontent.com/4663676/135504181-c74fe121-8243-4711-be2b-c3649918e51f.png">

# Proposed solution

- [ ] Create an override to remove or hide the  Content: ID option.
- [ ] If this field is not neces

[2021-09-30 17:49] quamsta commented on #4224
I think the issue I have with the mini pager is that the double arrow thing (››) by itself is a bit too small and doesn't provide enough context to the user that there is more than one page.

I feel that having a link that says "Next Page" or an actual full listing of pages ("[1] [2]") is probably an important thing to see on results like this to provide context to how many results are being displ

[2021-09-30 18:52] cory-skeers commented on #4213
I feel like there's a better way, but generally, this should return the content in the footer.
[code]
The next step would be to look for content we don't want to allow. Media should be of the form `<drupal-media data-align="center" data-entity-type="media" data-entity-uuid="23cdfc8e-249b-4517-8f27-af890ab2bee5"></drupal-media>`
So...

[code]
^^ query should either return a result if there is media

[2021-09-30 18:58] joewhitsitt commented on #748
bumped at demo

[2021-09-30 19:00] bewoldt opened #4235 "Add link context to structure menu link search"
# Story

As an editor, I would like to be able to link content on block types as well as the menu management interface using the autocomplete functionality found in the WYSIWYG.

# Problem
Within a Structure > menu page, when you use the search to choose where to link the page to, it does not provide context on whether it is a page, article, or person.

<img width="666" alt="Screen Shot 2021-09-30

[2021-09-30 19:47] joewhitsitt opened #4236 "Nested accordions"
# Problem

# Steps to reproduce

- `<table>` within `<table>` within an accordion item seems to cause the issue.

# Proposed solution

- [x] Contact customer to have them remove the empty wrapping table from the markup.

[2021-09-30 19:53] joewhitsitt commented on #4235
Capturing what I responded with in email:

This is Drupal core default.

[2021-09-30 20:12] joewhitsitt commented on #4049
Temp workaround: images must be smaller than 3840 x 3840px and under 8 MB

[2021-09-30 20:15] briand44 commented on #4159
postponing until we can move forward with writing a test to help with this.

[2021-09-30 20:21] pyrello opened #4237 "CS2 - Write test that proves duplicate config is possible"
# Motivation

During the work on #4091 it has been observed that there are instances where a config element can end up being exported as both complete config and partial config in the split.

Possibly related to this issue: https://www.drupal.org/project/config_split/issues/3239366

# Proposed solution

Write a test that proves that config split 2 is capable of producing both partial and complete

[2021-09-30 20:24] richardbporter commented on #3953
The next run of `drush @sites php-script drush/inactive.php --send-email '6 months 2 weeks ago'` can happen on 10-4-2021.

[2021-09-30 20:53] richardbporter commented on #4180
I'll step through this and update as soon as I can.

[2021-09-30 21:06] joewhitsitt commented on #4236
Issue is related to a table within a table that is within an accordion item.

Mob programming has solved this issue. Credit to @bspeare @richardbporter @makurj @cory-skeers @e-marie-w

Going to contact the customer.

[2021-09-30 21:07] makurj commented on #4236
Fastest solution to a problem in history! Nicely done @joewhitsitt

[2021-09-30 21:37] GaryRidgway commented on #4236
i didnt even get to come back to help after my reboot Q_Q

[2021-09-30 21:39] richardbporter commented on #4180
Thanks for adding this @pyrello ! Just noting some thoughts before I forget.

I wouldn't think this would be necessary If the site owner or us do not need to visit the site in a browser. Drush can bootstrap the site without the domain actually existing on the application.

This could be automated. We're doing a bit of this in `Multisite::create()` and `Multisite::delete()`.

Verification of destin

[2021-09-30 22:36] pyrello opened #4238 "SiteNow Request Form - Should "Comment/Questions" be optional?"
I just noticed when looking at the SiteNow request form that the final Comments/Questions field is required. It is not clear why it is that way. I'm guessing that it forces people into writing messages that cause confusion when the site is being provisioned. Either we should be more clear about what we want people to write here or we should make it optional.

[2021-10-01 13:37] bspeare commented on #4238
Looks like it is only required if "seek approval for alternate domain" is selected unless someone adjusted the settings in the last 15 hours.

[2021-10-01 13:44] pyrello commented on #4238
Ah... good to know. Still might be nice to provide some context there because it isn't clear why it is required.

[2021-10-01 13:45] bspeare commented on #4238
The help text on the text box changes to "Please provide details about the requested domain to help expedite the approval process." when that option is selected.

[2021-10-01 14:26] joewhitsitt commented on #4205
Let me know when this is pushed and I can contact the customer

[2021-10-01 15:46] joewhitsitt commented on #4076
This is done, but manual follow-up work will be needed. I will add additional notes/findings from today's meeting to the epic.

<img width="494" alt="Screen Shot 2021-10-01 at 10 34 16 AM" src="https://user-images.githubusercontent.com/4663676/135648513-4b207c93-4b4b-4ed1-b072-2cbc37fe7010.png">

[2021-10-01 15:46] #4076 closed, assigned to joewhitsitt

[2021-10-01 16:27] makurj commented on #4205
Completed. User can be notified.

[2021-10-01 16:51] e-marie-w commented on #3929
Draft ready for review/suggestions!

[2021-10-01 16:54] e-marie-w opened #4239 "Neuroscience - add Thesis Defense config split"
Motivation:
As a Neuroscience site owner, I want the Thesis Defense content type and calendar available on my site.

Proposed Solution:
Enable Thesis Defense config split for Neuroscience.

[2021-10-01 17:01] briand44 commented on #129
closing this in favor of #4223

[2021-10-01 17:01] #129 closed, assigned to nobody

[2021-10-01 17:08] briand44 commented on #748
Registrar's Office, Dentistry, Nursing ~and Grad College~ are all folks who have expressed a desire for this.

[2021-10-01 17:09] mark-bennett-uiowa commented on #3142
I talked to Jessica last night about the communication to users. She thought that even though this was a required change due to branding, that we should alert all users prior to the change, even if requires no adjustments or input on their end. Healthcare should be unaffected, because they will continue to use their UI Healthcare logo in place of the UIowa logo. Im trying to verify that they dont

[2021-10-01 17:19] joewhitsitt commented on #4205
Thanks @makurj. Customer has checked it out and says that it is accurate (including Black Hawk).

[2021-10-01 17:19] #4205 closed, assigned to makurj

[2021-10-01 17:28] joewhitsitt commented on #3929
Update the article created date to today and it has my approval 👍 to publish and move on.

[2021-10-01 17:39] mark-bennett-uiowa commented on #3142
@GaryRidgway Here was my plan to tackle this:

### Notes

- Directly replace the old wordmark image with the new block logo image (using the same filename) so that we didnt have to find and replace the old path in the code. It doesnt matter either way, but it might be helpful to keep the old one around for historical purposes.
- The old logo is found at: [https://signage.uiowa.edu/sites/all/module

[2021-10-01 17:44] joewhitsitt commented on #3957
A couple notes/findings from the meeting with Concept3D.

- Their bulk upload functionality has changed (easier), the docs on their website haven't be updated yet. After initial import, this can be used for other data but can't be used as a way to update existing.
- The reference (BuildingID) column in the spreadsheet is the unique identifier so we don't have to rely on BuildingCommonName in the f

[2021-10-01 17:53] joewhitsitt commented on #4236
Customer is cleaning the markup. Closing

[2021-10-01 17:53] #4236 closed, assigned to joewhitsitt

[2021-10-01 18:06] richardbporter commented on #3957
Maybe https://www.facilities.uiowa.edu/buildings could work for that. I know that data is dynamically pulled and displayed from FM DB.

[2021-10-01 18:09] mark-bennett-uiowa commented on #3142
I have made these changes locally, and inspecting the page is showing the proper image, and proper styling, but no image. A cache clear did not fix this. Still testing.

[2021-10-01 18:25] briand44 opened #4240 "Hide Primary Media Option on Stories Site"
# Story

As a stories site content editor, I would like the ability to include a primary image that will be used for social media and teaser views but have the option to hide it from displaying on the full node so that more vertical oriented photos can be used in the body of the story.

# Additional Info

There may be some display issues if the primary media is not being displayed that will need a

[2021-10-01 18:28] e-marie-w commented on #3929
Awesome, thanks @joewhitsitt! Published it and emailed Dispatch about getting access.

[2021-10-01 18:28] joewhitsitt commented on #3957
I think I recall a previous concern over sending the wrong traffic there. Prospective students/visitors all of a sudden find themselves amongst building coordinator information and energy consumption data.

[2021-10-01 18:44] briand44 opened #4241 "Require Authentication to view all content on SiteNow site"
# Story

As a SiteNow v3 site owner, I would like to have all my content behind authentication so it is not available publicly.

# Additional Info
It would be nice if there was some sort of option or split that could be enabled that would automatically make it so authentication was required to view content. That same option or split would also turn on all of the related functionality in future sli

[2021-10-01 18:49] briand44 opened #4242 "When all content is private, store all files in private files system"
# Story

As an owner of a site where all content is private, I would like all my sites files to be private as well.

# Additional Info
Parent issue #4241

# Proposed solution
- Most of the work for this has already been done.
- [ ] Write test to check for private scheme patch version of config for every default public scheme: https://github.com/uiowa/uiowa/issues/4242#issuecomment-1013324907

[2021-10-01 18:53] briand44 opened #4243 "When all content is private, ability to assign access/role based on AD group"
# Story

As an owner of a site where all content is private, I would like the ability to grant site access based on AD group(s).

# Additional Info
Parent issue #4241

One or more AD groups should be able to be configured so that if a user is part of the specified AD group(s), an account will be created for that user with the mapped role.

If a user should be removed from an AD group, the next tim

[2021-10-01 18:56] briand44 opened #4244 "When all content is private, ability for users to search private content"
# Story

As an owner of a site where all content is private, I would like the ability for viewer roles and above to search private content.

# Additional Info

Parent Issue #4241

# Proposed solution

[2021-10-01 19:01] e-marie-w commented on #4079
Could I start working on this, or am I better off waiting to pair with someone on it?

[2021-10-01 19:03] briand44 commented on #4079
@e-marie-w if you feel like you understand how to move forward, I would say go for it.

[2021-10-01 19:09] mark-bennett-uiowa commented on #3142
@GaryRidgway found out that the SVG image that was being used was improperly formatted, which was causing the issue. This has been fixed. We also decided to update the image to 97px tall to give it more readability. Great call by the way Alan! Making same changes to healthcare signage even though they dont use the image. Pushing shortly.

[2021-10-01 19:17] e-marie-w commented on #4079
SHOOT did not realize it was v1. (It didn't look like normal v3 but it had the right icon in the browser tab I feel betrayed). Sorry for the false excitement, I still don't have d7 stuff set up so I guess I can't.

[2021-10-01 19:54] mark-bennett-uiowa commented on #3142
I think this is supposed to be UI-SignageList@iowa.uiowa.edu, the 'a' and 'n' got transposed.

[2021-10-01 20:18] mark-bennett-uiowa commented on #3142
Email sent out to ui-signagelist@iowa.uiowa.edu and verified that emails were received. Changes made to dev, stage (both tested), and now prod. Completed.

[2021-10-01 20:18] #3142 closed, assigned to GaryRidgway

[2021-10-01 20:42] joewhitsitt commented on #4212
Updated the IS with usage info. Less than I thought. I think we could make a change to maui, IRRC code and registrar help text then deprecate sitenow_map_pane and work with those sites to provide concept3d links or static maps.

For links that anyone could be using out there, it would be nice to put together a guide of replacement links for buildings and distribute as part of our communication pla

[2021-10-01 20:55] richardbporter commented on #3585
Sounds like this needs to be reopened unfortunately.

[2021-10-01 21:30] richardbporter commented on #3585
I see a few PHP errors like this but the last instance was July 2nd which doesn't really make sense. I might be looking in the wrong spot though.

[code]

There are other messages like that related to other templates and and layouts. I can dig further.

[2021-10-01 21:47] e-marie-w opened #4256 "SiteNow Updates News Article - October"
## Issue/Solution ##
Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  * See the previous month's article as an example.
  * Bulle

[2021-10-04 13:26] cory-skeers opened #4257 "SiteNow Find Text documentation"
# Story

As a content editor I want documentation on using the SiteNow Find Text module so that I am able to use the tool effectively.

# Proposed solution

Add documentation to sitenow.uiowa.edu. Docs may include basics on using it, limitations, and possibly reference to other resources on using regular expressions (up for discussion).

[2021-10-04 13:32] cory-skeers opened #4258 "Site-wide Find and Replace Text"
# Story

As an administrator I want the ability to find and replace text in all text fields so that I can complete site-wide tasks such as link replacement/update more easily.

# Proposed solution

Extend SiteNow Find Text with a Replace Text functionality.
Should be limited to administrator role.
Replacement should create new revisions of the page/block/paragraph it has updated.
Ideally, there sh

[2021-10-04 13:39] cory-skeers opened #4259 "Advanced SiteNow Find Text options"
# Story

As a content editor I want more advanced search options so that I can search my site content more effectively, limiting my results to only those most relevant.

# Proposed solution

Investigate adding new options to SiteNow Find Text.
https://www.drupal.org/project/scanner can be a good reference (they formerly did not support Layout Builder, as well as had some stability issues--if these

[2021-10-04 13:40] pyrello commented on #4238
Nevermind. I should have investigated this further before opening a ticket.

[2021-10-04 13:40] #4238 closed, assigned to nobody

[2021-10-04 13:46] joewhitsitt commented on #4212
Updated epic with next step. Closing. Marking as for reference.

[2021-10-04 13:46] #4212 closed, assigned to joewhitsitt

[2021-10-04 14:44] joewhitsitt commented on #4219
No idea how far @dnkemper got with this, but I am thinking about poking at this later.

I believe this is views working as designed, so an add-on solution is needed to achieve the expected results. Given the mix of filter types (e.g. config, entity ref, taxonomy, select) we have platform wide, this might just be a partial solution for taxonomy filters.

[2021-10-04 15:03] joewhitsitt commented on #3953
[code]

[2021-10-04 15:13] joewhitsitt commented on #3953
Going off the previous list of site identified, only theme.uiowa.edu returned back. @GaryRidgway logged into all of the previous sites to see that no one had logged in. Not sure why the script returned the way it did. Not sure how to move forward. Instructions unclear.

[2021-10-04 15:13] joewhitsitt commented on #3953
@briand44 knowing that folks haven't logged in, should we remove the domains for these sites?

[2021-10-04 15:15] briand44 commented on #3953
@joewhitsitt what sites other than theme.uiowa.edu?

[2021-10-04 15:17] joewhitsitt commented on #3953
The original list was:

[code]

[2021-10-04 15:19] briand44 commented on #3953
Not inspire, someone logged in. I'll create a card about that one because Michael made it sound like we may be able to remove now that it has been archived by the libraries.

[2021-10-04 15:19] joewhitsitt commented on #3953
we double-checked inspire and fa.fo. both had logins. we can proceed with removing the domain for theme.uiowa.edu

[2021-10-04 15:24] joewhitsitt commented on #3953
theme.uiowa.edu domain was removed from 703 PROD.

[2021-10-04 15:24] #3953 closed, assigned to joewhitsitt, GaryRidgway, makurj, e-marie-w

[2021-10-04 16:22] briand44 commented on #4233
Looks like we just need to add this to the article switch statement in node.inc
`case 'full':
          // Created date.
          $vars['title_prefix'][] = array(
            '#type' => 'html_tag',
            '#tag' => 'div',
            '#value' => format_date($vars['created'], 'custom', 'F j, Y'),
            '#attributes' => array(
              'class' => array(
                'small',

[2021-10-04 16:38] joewhitsitt commented on #4219
I ventured down a path of different modules that try to do this and arrived at https://www.drupal.org/project/selective_better_exposed_filters as the most promising. Tested and it seem to remove "Cell and Developmental Biology" from the options. Downside is that it is bloated with BEF module dependencies and might not work in all scenarios ([multiple filters](https://www.drupal.org/project/selecti

[2021-10-04 16:48] joewhitsitt commented on #4219
Alternatively, we could look at putting together some noodle code that would handle this for _all_ exposed filter options regardless of type. Performance could be a concern with this approach and we should probably identify if an opt-out use-case could ever be needed. This would provide platform consistency and reduce BEF dependencies.

[2021-10-04 16:59] joewhitsitt commented on #4213
Diff of what is allowed in filtered_html (left) vs minimal (right)
<img width="1223" alt="Screen Shot 2021-10-04 at 11 57 02 AM" src="https://user-images.githubusercontent.com/4663676/135892781-678ca8b4-5975-4660-a82b-ba4cc210a6dd.png">

[2021-10-04 17:06] pyrello commented on #4219
I'm open to the noodle code solution as a way to achieve this in a consistent way without introducing a lot of dependency overhead. I think the scope of this was originally focused on Genetics, but it would also be applicable to Immunology, Neuroscience, and possibly AMCS.

@briand44 Any thoughts about changing the scope of this to make it a platform-wide change?

[2021-10-04 17:33] pyrello opened #4260 "Neuroscience - Create article migration"
# Proposed solution
* Build migration for articles.
  * Add external link field.
* Build migration for creating redirects from old to new article paths.

These fields can be ignored:
* redirect
* xmlsitemap
* field_d8_migration_status

[2021-10-04 17:57] pyrello opened #4261 "List of articles by author"
# Story
As a SiteNow user, I would like to have the option to display articles on the authors person page so that visitors can see all the articles that an individual authored.

# Additional Info

Example https://uipress.uiowa.edu/people/matthew-j-c-clark

# Proposed solution

- Setting for default that can be turned on, linked to from other settings page
- Use article teaser default
- Output usin

[2021-10-04 18:01] joewhitsitt commented on #4261
Could this just be a slice of https://github.com/uiowa/uiowa/issues/3501?

[2021-10-04 18:41] pyrello commented on #4261
Potentially! Good call.

[2021-10-04 18:43] briand44 opened #4262 "Inactive Site Communications 701"
Related issues: #3953, #3625, #3684, #3153

The same template/communication is used for both the first and all subsequent emails so it needs to be changed to account for that. For example, we might want to add a final warning message before sending the second communication.

There is a higher chance of response earlier in the week, so avoid late in the week communciations.

Email template: https:/

[2021-10-04 20:15] makurj commented on #4213
Need more discussion on what specifically is not allowed by brand policy. For example, these elements below are not specifically disallowed by brand policy, but if we make this minimal format, they would be stripped out.

1. Lists (li, ul, ol)
2. Description list (dd, dt, dl)
3. Superscript
4. Subscript
5. Preformatted text
6. Horizontal line
7. Table
8. Caption
9. Drupal media
10. Highlighted tex

[2021-10-04 20:16] makurj commented on #4213
Thanks @joewhitsitt! The screenshot was really helpful!

[2021-10-04 20:28] GaryRidgway commented on #4223
Investigating entity_clone has left us in a much better place than the replicate module, but it REALLY clones things. So much so that we probably want to dial it back a little bit. a few things to need to have solved in order to be able to use this module would be:

- [x] Referencing media entities instead of making a copy of media entities.
- [ ] Creating a copy of view blocks instead of a new re

[2021-10-04 20:30] cory-skeers commented on #4223
Potential permissions patch: https://www.drupal.org/project/entity_clone/issues/2931143

[2021-10-04 20:44] joewhitsitt commented on #4213
So, I think a handful of queries could be run to find the big offenders (e.g drupal-media). Maybe communicate/interact with these sites directly. There _shouldn't_ be many iframes in footers because it is very limited in what the iframe can contain at the moment and is stripped if not valid. These other html elements, the content will still render but won't be formatted as originally written.

I t

[2021-10-05 13:42] joewhitsitt opened #4264 "Support additional filter_protocols"
# Story

As an editor I would like to link a text (sms) phone number or a fax number and have it behave appropriately when clicked.

Requested by @bewoldt and @mark-bennett-uiowa

Background: https://iowaweb.slack.com/archives/C0164FNN1PV/p1633383283331000

# Proposed solution

- [ ] Update https://github.com/uiowa/uiowa/blob/main/docroot/sites/default/default.services.yml#L142 with additional opt

[2021-10-05 14:10] bewoldt opened #4265 "Nested list item styling"
# Problem
1. When you have an Ordered list inside of an Unordered list, the list items are bullets instead of numbers
2. Nested lists bullets should be disc, circle, then square. Currently they are all disc.

Example page: https://sandbox.prod.drupal.uiowa.edu/lists

I would also like to second this issue by @bspeare about there being too much space on nested lists. https://github.com/uiowa/uids/i

[2021-10-05 14:26] e-marie-w commented on #4239
Turned on yesterday. Was not as complicated as I thought.

[2021-10-05 14:26] #4239 closed, assigned to nobody

[2021-10-05 14:41] pyrello commented on #4201
This is completed.

[2021-10-05 14:41] #4201 closed, assigned to nobody

[2021-10-05 14:57] makurj commented on #4213
Results for each application for the query above:
[uiowa.txt](https://github.com/uiowa/uiowa/files/7286870/uiowa.txt)
[uiowa01.txt](https://github.com/uiowa/uiowa/files/7286871/uiowa01.txt)
[uiowa02.txt](https://github.com/uiowa/uiowa/files/7286872/uiowa02.txt)

[2021-10-05 15:34] briand44 commented on #4219
I would be ok with this as a platform-wide change but I would like it to be optional. I'm not sure how much this increases scope. Willing to have a conversation about this.

[2021-10-05 15:36] e-marie-w commented on #3929
Emails sent!

[2021-10-05 15:36] #3929 closed, assigned to e-marie-w

[2021-10-05 15:59] GaryRidgway commented on #4223
We have found that entity_clone does not update the uuids in configuration for the entities that it clones. This leads to the scenario where layout builder block configuration will point to the `revision_id` for one block, but the `uuid` of a different block. This is obviously a problem, because no two things should ever have the same uuid (especially if they have different `entity_id` and `revisi

[2021-10-05 16:23] joewhitsitt commented on #4223
does replicate generate new uuids?

[2021-10-05 16:29] briand44 commented on #4223
I would be in favor of trying the page template module. It may be more overhead for a user to save a page as a template and then create a new page using that template but if it works nicely it would basically achieve the desired goal and may give us options in the future to programmatically create templates.

[2021-10-05 16:33] GaryRidgway commented on #4223
Replicate was not working for non-reusable blocks, but there is a patch for that that _should_ work, but in our original pass it didn't work for everything. I don't think we even got far enough to test the uuid issues with `replicate`.

[2021-10-05 16:55] joewhitsitt commented on #4219
Changed this to an enhancement from a bug as core views is working as designed here.

Talked to Brian about this/walked through. I said that https://www.drupal.org/project/selective_better_exposed_filters is the quick solution at the moment since BEF/dependencies are already in composer.json and that genetics is already split related to this. I said I hadn't given the wider solution much thought a

[2021-10-05 17:10] bspeare commented on #4223
@briand44 The page template module relies on the Replicate module.

[2021-10-05 17:50] bspeare commented on #4079
This has been deployed to the live site:

You can edit the custom link message here: https://now.uiowa.edu/admin/structure/block/manage/block/6/configure

On each "News Feature" there is a custom checkbox at the bottom of the page that will control the visibility of the expired links message:

<img width="1534" alt="Screen Shot 2021-10-05 at 12 47 36 PM" src="https://user-images.githubusercontent.

[2021-10-05 17:54] joewhitsitt commented on #1656
closing as this only relates to uiowa_bootstrap which is no longer

[2021-10-05 17:54] #1656 closed, assigned to nobody

[2021-10-05 18:02] e-marie-w opened #4266 "Neuroscience - Add Department field"
## Story ##
Neuroscience would like to use the Department field previously added to Genetics and Immunology.

#4021 and #4026 covered adding it to Genetics, process should be similar.

[2021-10-05 18:12] briand44 commented on #4262
Decided during grooming it would be good to document these steps in one place for future reference.

[2021-10-05 18:20] briand44 commented on #3501
Could potentially split this by doing everything above the update hook in the first slice but avoid delivering it until we are able to finish. We can revisit during planning to see if we have capacity to tackle it all in one sprint.

[2021-10-05 18:31] briand44 commented on #3944
Just planning on scoping this to what has been identified as the first pass. Webform that captures the info and emails it to the correct person.

Sounds like webform is not enabled yet on this site.

[2021-10-05 18:31] briand44 commented on #3944
hidden captcha likely needed for this form as well.

[2021-10-05 18:37] joewhitsitt commented on #4233
assuming it is a radix theme, you will follow the nvm/gulp steps: NVM, Node and NPM Oh My! - https://wiki.uiowa.edu/display/sitenow/Onboarding OR create a local css override.

[2021-10-05 18:38] briand44 commented on #4233
follow up with customer once it is deployed.

[2021-10-05 18:39] joewhitsitt commented on #4233
no customer review is necessary before deployment. follow-up after

[2021-10-05 18:52] briand44 commented on #4087
still need to identify a clear scope here. How many db's do we try and address?

[2021-10-05 18:55] briand44 commented on #3454
may be some superfish config that could potentially help?

[2021-10-05 19:09] bspeare commented on #3454
@joewhitsitt was right, you can adjust the width of the supersubs and it would probably fix this issue:

<img width="1351" alt="Screen Shot 2021-10-05 at 2 09 17 PM" src="https://user-images.githubusercontent.com/1036433/136087445-5b56a693-d341-4007-8c82-9a2224ffcf1b.png">

[2021-10-05 19:29] joewhitsitt commented on #4087
Ugh.. didn't see this. See issue summary for 150 MB+ dbs

[2021-10-05 20:40] joewhitsitt commented on #2109
Just tested again with the article block in v3. Multiple tags seem to be used as ORs in my test cases on sandbox.prod which is how they are strung together in code. This same code is being used for article paragraph and people paragraph (v2).

The help text is confusing:

Admissions requested ANDs for scholarships and a workaround was implemented: https://github.com/uiowa/uiowa/commit/6dd541be3b10

[2021-10-05 20:47] joewhitsitt opened #4267 "Duplicate views result with multiple arguments on people_list_block and article_list_block"
# Problem
If content has more than one taxonomy term reference and those same terms are used in the people list block and article list block as multiple arguments, view results display duplicates.

# Steps to reproduce

- Create a person node, add two tags
- Use those same two tags in a people_list_block
NOTE: do same with research areas - bug affects this filter as well

- Create an article node,

[2021-10-05 21:17] joewhitsitt commented on #2530
1. Image size options for the articles block will be added with #3501
2. The click functionality with the card template has been revisited https://github.com/uiowa/uiowa/issues/2277, https://github.com/uiowa/uids/issues/553
3. Full node featured image display control was added with https://github.com/uiowa/uiowa/pull/2711
4. SiteNow Articles views page has not yet addressed but is working as desig

[2021-10-06 13:33] #4209 closed, assigned to richardbporter

[2021-10-06 14:04] cory-skeers opened #4268 "Additional text content search in SiteNow Find Text"
# Story

As a content editor I want to search all text and/or link fields so that I can easily scan my site for content or link references.

# Proposed solution

Update SiteNow Find Text module to check additional areas, including menu links, re-usable block content (footer contact info), and potentially other areas (Article source link may not be getting seen? Uncertain.)

Part of this may be ext

[2021-10-06 14:18] bspeare commented on #4223
I think we should pursue https://github.com/uiowa/uiowa/issues/2378 before moving forward with the page template module.   There is already work started with that issue and it would possibly allow us to provide templates for the entire service on not just on a per site basis.

[2021-10-06 14:59] pyrello commented on #4213
I was not aware that you could use `blt ume` with an argument like this.

[2021-10-06 15:12] joewhitsitt commented on #4213
planning to continue helping with this today

[2021-10-06 15:19] bspeare commented on #4213
I think it makes sense to move to minimal and remove the items listed in 1-12 in https://github.com/uiowa/uiowa/issues/4213#issuecomment-933821134

[2021-10-06 15:20] briand44 commented on #4213
What is left to do here? I thought this was originally scoped to just an audit?

[2021-10-06 16:03] #4080 closed, assigned to nobody

[2021-10-06 17:14] joewhitsitt commented on #4213
Oops. Saw the checkboxes and @makurj and I kept moving forward. Draft PR which takes care of the non-audit checkboxes. Part of it was a working session with Makur to explain some things. Sorry.

We didn't see the value in checking each of the elements so we limited our queries to drupal-media. - https://github.com/uiowa/uiowa/issues/4213#issuecomment-934487734

The next step is to decide if we wan

[2021-10-06 18:59] briand44 commented on #4213
I agree we should do this as well, just wasn't sure if it was happening as part of this issue or a follow up.

[2021-10-06 19:03] joewhitsitt commented on #4213
I missed some of the design meeting discussion over this. sounds like there should be at least one more conversation. follow up issue would be fine with me.

[2021-10-06 19:16] dnkemper opened #4270 "Reorganize/Update SharePoint docs"
Our environment installation information is all over the place (https://wiki.uiowa.edu/pages/viewpage.action?pageId=276470718, https://wiki.uiowa.edu/display/drupaldev/Local+Development+Environment+-+DrupalVM, https://github.com/uiowa/uiowa. After the recent slack huddles, we should find a way to update and consolidate our information. Making it current and putting all info in one place to make it

[2021-10-06 20:07] pyrello commented on #4237
Some resources:
* The d.o issue where this test is being built: https://www.drupal.org/project/config_split/issues/3240272
* The d.o docs on config schema: https://www.drupal.org/docs/drupal-apis/configuration-api/configuration-schemametadata

[2021-10-06 21:38] briand44 opened #4271 "Update footer text area to use minimal html text format"
We will want to plan a communication around this as part of this issue as well.

Related to #4213

[2021-10-07 13:52] joewhitsitt commented on #4213
Closing in favor of https://github.com/uiowa/uiowa/issues/4271. Thanks for taking this on @makurj

[2021-10-07 13:52] #4213 closed, assigned to joewhitsitt, makurj

[2021-10-07 13:52] makurj commented on #4213
Thanks for getting it to done @joewhitsitt

[2021-10-07 13:58] dnkemper commented on #3454
Note: Gonna make a quick fix to this as well while I'm in here
![image](https://user-images.githubusercontent.com/16872949/136399408-022a4bf1-c504-4f02-98c8-a7829fb3f983.png)

[2021-10-07 14:09] joewhitsitt commented on #3454
Hope @bspeare or @pyrello could answer this: is it necessary to main the separate config for these menus in uids_base optional?