[2022-05-24 15:50] mark-bennett-uiowa opened #5308 "latham.uiowa.edu cert on uiowa03"
Add SSL coverage for latham.uiowa.edu on uiowa03.

[2022-05-24 18:49] briand44 commented on #5254
Grooming notes: Attempt to recreate the problem, verify if it happens always or certain instances, try clearing cache? is it a tempstore issue?

[2022-05-24 19:04] briand44 commented on #5250
Remove the validation and field for first name. Add GMT to timestamp. Add CHEA verbiage. 3 links need to be added.

[2022-05-24 20:06] briand44 commented on #5250
1.) Please add the “More about CeCredentials” section mentioned above to this page as well. You will swap out the Validation hyperlink with a hyperlink to your Overview page.
2.) Remove the need for the first two letters to validate.
3.) Add GMT to the time stamp when a credential is validated.
4.) We recently updated our logo to the one attached. Please update the “powered by CeCredential Trust”

[2022-05-24 20:07] briand44 commented on #5250
And this is the "More about CeCredentials" info mentioned:

-Validation (Will be hyperlinked to your validation page)
-Features (https://secure.cecredentialtrust.com/cecredential/overview/)
-FAQs (https://secure.cecredentialtrust.com/cecredential/faq/)

[2022-05-24 20:12] briand44 commented on #5250
I believe the way this is setup the customer has the ability to add content (currently above the validation) to this page. The "More about CeCredentials" info could possibly be handled by the customer or us in the body of the page rather than inside the module so we don't have to update code if this info needs to change. Would could also adjust the validator to show first on the page if this info

[2022-05-24 20:15] briand44 commented on #5250
The other option which may make the most sense is if the "More about CeCredentials" links use the menu system.

[2022-05-24 20:17] briand44 commented on #5250
Similar examples shared by vendor.
https://home.llu.edu/cecredential/validation
https://www.conncoll.edu/tp/certified-electronic-diplomas/cediploma-validation/

[2022-05-24 21:30] mark-bennett-uiowa commented on #5308
Updated SSL cert for uiowa03, installed into place. Tried several sites to test, but few of those vanity domain sites have been started. Only added latham.uiowa.edu as per usual method.

[2022-05-24 21:30] #5308 closed, assigned to mark-bennett-uiowa

[2022-05-25 17:20] briand44 commented on #5250
I removed the field for the first two letters of the first name as well as the validation related to that field.
Also, added "GMT" after timestamp.
Added updated logo.
Added chea logo/verbiage and more info text.

These changes have been deployed to dev. https://registrar.dev.drupal.uiowa.edu/credential-validation

I have not added the three links, I want to touch base with Josh to see if we shoul

[2022-05-25 19:33] bspeare commented on #5291
Here are the requests from today's meeting:

- Remove "RSS Feed" button from taxonomy term page.
  - Do we create an entirely new taxonomy view for this one thing or do we try to use the existing "Colleges (taxonomy term)" TVI?
- Set the breadcrumbs page to include the `2 plus 2` page on the community college pages.
  - Is there a way to set breadcrumbs to appear on taxonomy pages?
- If we can't s

[2022-05-25 19:58] bspeare commented on #5291
Perhaps we can switch the banner on the majors page to use a button instead of the pre-title?  Making that change might help clear up the ambiguity of whether the pre-title is meant as a breadcrumb.

Current version:

<img width="1702" alt="Screen Shot 2022-05-25 at 2 55 01 PM" src="https://user-images.githubusercontent.com/1036433/170356567-394686eb-6a3b-4ec0-9fd9-b434b96bbe72.png">

Proposed ver

[2022-05-25 20:26] bspeare commented on #5291
@pyrello brought up the point that the button acts as more of a forward prompt instead of a return action.   Here's a screenshot of the page using the breadcrumbs in the content area.   I think this could be a good solution, however it looks like there's a pattern/token issue.

<img width="1604" alt="Screen Shot 2022-05-25 at 3 24 18 PM" src="https://user-images.githubusercontent.com/1036433/17036

[2022-05-25 20:30] briand44 commented on #5291
I like ^^ better if we can get it to work

[2022-05-25 21:18] briand44 commented on #5250
Met with Josh and he is adding the additional links to the menu system in dev so we can share all the updates with the vendor via links and not have to meet again to demo these changes. https://registrar.dev.drupal.uiowa.edu/credential-validation

This is awaiting review from Vendor again.

[2022-05-26 17:43] pyrello opened #5312 "Can we remove `embed` module?"
As part of trying to understand what was changing in #5311, I think I may have discovered that we no longer need the `embed` module. We used to use it on V2 sites as a dependency for `entity_embed`, which allowed `<drupal-entity>` tags to be transformed via filter to their respective entities. This was the old method for embedding media objects in WYSIWYG text areas, but we changed that in V3 when

[2022-05-26 21:00] pyrello commented on #4403
We might want to consider pairing this work with work on the Banner component in UIDS 4

[2022-05-26 21:17] pyrello commented on #4952
I did this already, but I was able to find the PR right away.

[2022-05-26 21:17] #4952 closed, assigned to nobody

[2022-05-27 14:23] makurj opened #5313 "Create site split for students.tippie.uiowa.edu to set robots.txt for week up to launch."
Prevent Tippie Students from being indexed from May 31 to June 6 when Tippie goes live. After that remove the site split and let the site become a standard site again.

[2022-05-27 14:59] briand44 opened #5315 "Update PHP to 8.1 for D9 applications"
https://support-acquia.force.com/s/article/4415906788759-PHP-7-4-Retirement-FAQ

PHP.net is ending support for PHP 7.4 on 28 November 2022

After 3 October 2022, Acquia will remove PHP 7.4 from the Acquia Cloud platform and convert all remaining environments at that time to PHP 8.0

Acquia will be offering extended long-term support for PHP 7.4 for Cloud Platform Enterprise, Acquia Site Factory ap

[2022-05-27 16:19] #5313 closed, assigned to makurj

[2022-05-27 19:30] #5265 closed, assigned to nobody

[2022-05-27 19:58] GaryRidgway commented on #5221
After investigating it seems that the problem is the `highlight__wrapper" element overlaying the video controls on ipad width.
![2bfdea352ad0346a282f63758d6fa9d5](https://user-images.githubusercontent.com/23122142/170781443-d1397e45-d5ba-4157-b7ba-26b18ae28041.gif)
![b4940d95308f96b5d271ec0c24e9ceab](https://user-images.githubusercontent.com/23122142/170784881-e00c5b88-a1a0-4a97-b408-00c4cc17dbbe.

[2022-05-27 20:00] #5300 closed, assigned to nobody

[2022-05-31 13:27] #5227 closed, assigned to bspeare

[2022-05-31 15:44] bspeare commented on #5254
Running p2lb on nodes for hawkeyemarchingband.uiowa.edu, the converted version is available under "Latest Version".  That page needs to be moved out of Draft to Published to view the layout builder page.   Is that the expected behavior?  I imagine we want to set the latest version to be published after the conversion?

[2022-05-31 15:56] cory-skeers commented on #5254
Ahhh...I think the idea was that if this is being run in a prod site, we'd create a new draft to be reviewed before replacing the existing page just in case, but if it leads to confusion or seemingly weird extra steps, maybe it would be better to set it as the new published version. There would still be the previous revision to roll back to, if needed.

[2022-05-31 16:15] briand44 commented on #5250
I checked the master branch back out in dev, merged and deployed this code to prod, enabled the module in prod, added the pane to the page in prod, updated the endpoint to use the production endpoint and communicated with the customers. This should be done now but will wait for confirmation.

[2022-05-31 16:29] pyrello commented on #5254
We absolutely do not want these to be set to published upon completion of the action. That means that people will be publishing new versions of their pages without getting a chance to review them. I think that would be a dealbreaker for the brand site.

Here is an example of a page on sandbox where I have saved a new draft with changes to the layout: https://sandbox.prod.drupal.uiowa.edu/node/471/

[2022-05-31 16:57] bspeare commented on #5254
They way it is currently working seems correct.  If you convert a page, that v3 page is set as a draft and continues to display the v2 page until you publish the v3 page.  @pyrello what step are you looking for in between?

[2022-05-31 17:15] bspeare opened #5317 "Update all block default styles `_sitenow_p2lb_block_styles`."
# Problem

New defaults and new block styles have been added since `_sitenow_p2lb_block_styles` was created.

# Proposed solution

Update block styles in https://github.com/uiowa/uiowa/blob/39a060f31600e9c593b6ac0d9cb64098b77a9309/docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.module#L1099 and make sure that new and existing defaults are up to date.  Look for the existing defaults in https://git

[2022-05-31 17:42] bspeare commented on #5254
I think this is working as expected and this issue can be closed.   @pyrello had a suggestion below that we might want to consider to clear up confusion between the paragraphs and layout builder editing options:

I think we will want to have some logic that checks to see if the conversion is run (that a value has been set on the conversion tracking field) and disable the paragraphs field on the ed

[2022-05-31 18:02] bspeare commented on #5254
Looks like this still is an issue?  I synced this again and I'm seeing the problem now.

[2022-05-31 18:07] pyrello commented on #5254
Can you clarify what the problem actually is? As currently worded, the issue is a bit ambiguous. It was my best attempt at trying to explain it, but I did not do any actual investigation when I wrote it up.

[2022-05-31 18:11] bspeare commented on #5254
This issue I just encountered after converting a page:
- v2 version shows up as "Latest version" and publishing it keeps v2 version rendered
- v3 version is available under "Layout" but won't appear if you publish it.

To get it to work, I had to navigate to `/admin/structure/types/manage/page/display` and check the "Allow each content item to have its layout customized" checkbox.   Once that was

[2022-05-31 18:20] pyrello commented on #5254
So, we need to change the value in this line from `false` to `true`:
https://github.com/uiowa/uiowa/blob/3a6b55ab79d7a51f78d98f8352101e07f7945c1c/config/features/p2lb/core.entity_view_display.node.page.default.yml#L30

Then try again.

[2022-05-31 18:45] bspeare commented on #5254
Changing that to `true` seemed to fix the issue for me.

[2022-05-31 19:27] bspeare opened #5318 "Incorrect block title/headline values are being set after after P2LB conversion"
# Issue

Incorrect block title/headline values are being set after after P2LB conversion

- Events
  -  display/hide value of v3 headline set wrong (it displays if v2 title is set to hide and hides if v2 title set to display)
- People
  - display/hide value of v3 headline set wrong (it displays if v2 title is set to hide and hides if v2 title set to display)
- Featured Content:
  - display/hide va

[2022-05-31 19:53] cory-skeers commented on #5318
Made small changes in #5316 that works for the cases where the title is being captured but incorrectly set for display. Still need to account for those that aren't being captured.

[2022-05-31 20:23] briand44 commented on #5280
I communicated with the vendor that they can move forward with setting this up on their end and to reach out with any questions. Sean and Michael are on that thread as well.

[2022-05-31 21:25] bspeare commented on #3878
I've spent some time today testing and updating the tasks on this issue.  I moved all the headline related bugs into https://github.com/uiowa/uiowa/issues/5318 and I've tested out and added more detail to each task.

[2022-06-01 14:36] pyrello commented on #2653
From project board card: Community is currently recommending switching to google_tag module for D7 to indirectly support G- analytic IDs since the google_analytics module is struggling to support it.

[2022-06-01 15:00] bewoldt opened #5321 "Can't edit/replace images on new default homepage template"
# Problem
I can't edit/replace any of the images in the banner and card components on the new default homepage setup.

When you try to add a new field or choose an existing file and press the button "insert selected" you get the get the loader icon and then nothing happens.

Everything is fine if you create a new banner or card but does not work on existing components.

Current site we are editing

[2022-06-01 15:11] briand44 opened #5322 "Tippie launch 6/6/22:"
**Pre-launch**
- [x] who is handling this - Makur
- [x] agree on timing of launch with James: 8:30 AM
- [x] verify DNS and SSL - tippie.uiowa.edu and www.tippie.uiowa.edu pointing to Acquia. tippie.uiowa.edu and *.tippie.uiowa.edu covered in uiowa02 cert.
- [x] Check for .prod.drupal links
- [x] site name is not url
- [x] email is not admin@example.com

**Launch**
- [x] notify in Tippie Slack chan

[2022-06-01 17:03] quamsta commented on #5321
According to the developer console Network resources tab, the response header when attempting to submit the image field says:

`{"message":"Non-reusable blocks must set an access dependency for access control."}`

and the Javascript console error is:

[code]

[2022-06-02 16:06] bspeare commented on #5321
I tested a few recently provisioned sites for this and encountered the same bug.

[2022-06-02 16:52] bspeare opened #5332 "Update Photoswipe grouping patch in order to update Photoswipe to `3.1.4`"
# Problem

I'm trying to use Photoswipe on the residence hall content type for an image within a paragraph and I'm getting this error:
https://www.drupal.org/project/photoswipe/issues/3225905, it is fixed in `3.1.4`

We are currently stuck using `3.1.1` version of Photoswipe because of these two patches:

[code]

One issue is in progress:

https://www.drupal.org/project/photoswipe/issues/2625984

[2022-06-02 17:07] cory-skeers commented on #5321
Unrelated to the error, but documenting in case default content needs updating as part of this:

The button styles need to be updated on the banner block. Right now they are not set, and need to be set in order to re-save the block when editing.

[2022-06-02 18:04] cory-skeers commented on #5321
One workaround is to save the layout--after saving, re-editing the layout then allows for the media entities to be edited.

Found it from https://www.drupal.org/project/section_library/issues/3197589 (marked as duplicate of https://www.drupal.org/project/drupal/issues/3047022, which has a potential patch/mr), haven't dug further into the issue or ways around it, but I think this sheds light on whe

[2022-06-02 20:10] #5261 closed, assigned to pyrello

[2022-06-02 20:11] mark-bennett-uiowa opened #5333 "Provision cuwip.physics.uiowa.edu on uiowa01"
Provisioning cuwip.physics.uiowa.edu on uiowa01 as the SSL certificate already covers this domain.

[2022-06-02 20:22] mjoneill commented on #5283
Some of the RSS stuff:
- https://now.uiowa.edu/subscribe/rss-and-data-feeds
- https://now.uiowa.edu/experts-list

[2022-06-02 20:41] #5333 closed, assigned to mark-bennett-uiowa

[2022-06-03 13:08] e-marie-w opened #5336 "SiteNow updates news article - June"
## Issue/Solution ##
Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link
- [ ] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  * See the previous month's article as an example.
  * Bulle

[2022-06-03 13:14] e-marie-w commented on #5336
https://sitenow.uiowa.edu/news/2022/06/updates-june

[2022-06-03 14:04] cory-skeers commented on #5321
Update: Patches from here did not appear to fix the issue, and the workaround (re-saving the layout) is more complicated, and inconsistent, depending on a specific order of changes updated... The issues above still may be relevant--think the problem is a similar breaking of the access dependency chain in how the default content was added.

[2022-06-03 14:17] pyrello opened #5337 "Bounced and spam emails in Acquia Platform Email"
Per a support ticket opened in our Acquia support account:

[2022-06-03 14:38] pyrello commented on #5337
As @bspeare noted yesterday in slack, we can see in our Outlook Junk Email folder that we are getting some undeliverable email messages regarding addresses that apparently don't exist. The bulk of these are related to Content Hub and appear to be notices about new events they need to review sent to accounts for people that are no longer active in the U of I system. There are a few others that are

[2022-06-03 14:48] mjoneill commented on #5337
Probably worth asking Acquia if they can share more specifics about what they are seeing.  If it's internally focused email spam to (once) legitimate or mistyped uiowa addresses, that seems like a much lower priority than there's an active exploit using our service as a rouge mail transfer agent (or something similar)...

I'd be glad to chime in on the support ticket, but don't want to step on you

[2022-06-03 16:00] pyrello commented on #5337
At this point, I'm not seeing any indication (either from what I have seen or their email alerting us to the issue) that would seem to suggest that this is the problem we are facing. If that were the issue, I would expect that we would be receiving a high number of emails flagged as spam instead of "some emails are also being reported as spam".

[2022-06-03 16:18] pyrello commented on #5337
Some more updates:
- I have emailed a member of the UI email team to see what options we have. They requested copies of some bounced back emails, which I have provided.
- The vast majority of the bounced back emails appear to be for a single user on Content Hub that is no longer has an active UI email address.
- The other instances were for spam submissions on contact forms for a couple different

[2022-06-03 19:04] cory-skeers commented on #5263
@pyrello for the "Current" partners view--it looks like this was previously handled with a "current" boolean on the partner content type. Does that field need to get added, or is there a change to how a partner should be considered current?

[2022-06-03 19:11] pyrello commented on #5263
@cory-skeers I forgot that the customer decided to forgo the "Current" checkbox on the partner content type. You can skip that view. Thanks!

[2022-06-03 19:47] bspeare commented on #5195
@e-marie-w this looks good!

[2022-06-03 20:34] e-marie-w commented on #5195
Done!

[2022-06-03 20:34] #5195 closed, assigned to e-marie-w

[2022-06-06 14:05] makurj opened #5339 "Remove students.tippie site split"
Remove Students.tippie site split as it's no longer needed. It was blocking the site from getting indexed before Tippie went live and now that is complete.

[2022-06-06 14:08] makurj commented on #5322
Thanks @briand44 and @pyrello !!

[2022-06-06 14:18] #5322 closed, assigned to makurj

[2022-06-06 14:39] bspeare opened #5340 "SSL cert for its.uiowa.edu on uiowa03"
SSL cert for its.uiowa.edu on uiowa03

[2022-06-06 14:46] joewhitsitt commented on #5312
I think I added this as a part of https://github.com/uiowa/uiowa/issues/3752 just to be safe but if it is beginning to be a hassle to maintain, I understand the need to handle it sooner.

[2022-06-06 14:54] bspeare opened #5341 "SSL cert for *.music.uiowa.edu or just uisqrp.music.uiowa.edu on uiowa03"
SSL cert for `*.music.uiowa.edu` or just `uisqrp.music.uiowa.edu` on uiowa03

[2022-06-06 15:12] pyrello commented on #5298
I believe this was completed in #5258

[2022-06-06 15:12] #5298 closed, assigned to nobody

[2022-06-06 15:16] pyrello commented on #5315
I added a bullet point related to documenting the process for developer to update their local version of PHP so that we are running a compatible version locally also.

[2022-06-06 15:17] pyrello commented on #5315
I'm not sure if we have a game plan for getting `uiowa04` set up yet, but we might be able to use that application to test PHP 8 in a production setting without having to turn it on for one of our other applications.

[2022-06-06 15:35] pyrello commented on #1892
It seems that the impetus for this issue has faded over time. I suggest that we close it and, should it bubble up again, we can re-open it.

[2022-06-06 17:17] joewhitsitt commented on #5250
Thanks for picking up the work on this

[2022-06-06 18:43] joewhitsitt commented on #5337
For the content hub user, they should only be getting emails if they are still an event admin for a unit. As long as the account exists in the user table, that event admin reference field is going to grab the email address and send them an email for any event tagged with the unit(s). Shouldn't need to cancel their account over this issue

[2022-06-06 19:08] joewhitsitt commented on #5321
I might be adding potential noise until I can dive deeper here, but in the last round of default content updates we ran into issues that required patches that sort of sound similar to this issue:

https://github.com/uiowa/uiowa/pull/4999

https://www.drupal.org/project/paragraphs/issues/3090200
https://www.drupal.org/project/default_content/issues/3160146

[2022-06-06 20:25] bspeare opened #5344 "SSL cert for genome.uiowa.edu on uiowa"
SSL cert for `genome.uiowa.edu` on uiowa

[2022-06-06 20:50] joewhitsitt commented on #5265
As it relates to https://github.com/uiowa/uiowa/pull/5307#issuecomment-1136095685

I'd be curious to learn more about what happened here for future reference. `InvalidArgumentException: The URI '/people/robin-akers' is invalid. You must use a valid URI scheme.` just makes it seem like these needed to be absolute URLs since they aren't traditional internal drupal paths.

[2022-06-06 21:22] joewhitsitt commented on #5332
I think we can get away with removing https://www.drupal.org/project/photoswipe/issues/3115456

Like the maintainer says, the browser supported lazy attribute is present and seems to work, though it won't have the same lazy effect as the lazy module.

<img width="933" alt="Screen Shot 2022-06-06 at 4 21 30 PM" src="https://user-images.githubusercontent.com/4663676/172251384-b55a5cd0-4185-4bd5-bb0d

[2022-06-07 13:11] mjoneill opened #5345 "As a visitor to a sitenow website, I can have content served up to me at a given URI in my preferred language"
BEING GROOMED

~When a visitor comes to a page, the CMS serves up alternate language versions of existing content (if it exists) based on the visitor's language settings in their browser (OS?).~ This is no longer recommended.  Google seems to be endorsing locale specific URLs for page level (and site level)  versions.

* Add a way for visitors to switch between languages if an alternate language v

[2022-06-07 13:57] briand44 commented on #5280
Will this system function from our local environments? We are using Lando (https://lando.dev/) for local development, and the standard domain for the site is: "uihc.lndo.site". Is this something that can be configured for connection as well, even if it's not accessible externally?
Would you send us the necessary config overrides for us to place into the secrets.settings.php file? I'll need to writ

[2022-06-07 14:23] pyrello commented on #5345
Here is the related drupal.org guide: https://www.drupal.org/docs/multilingual-guide/enable-language-detection

[2022-06-07 14:35] makurj commented on #4788
Would this be for just admissions or the platform?

[2022-06-07 14:55] joewhitsitt commented on #4788
I think we should shoot for platform-wide on this to start

[2022-06-07 15:13] makurj commented on #4788
Would the changes be made here: `docroot/themes/custom/uids_base/templates/uids/card.html.twig` or `docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-card.html.twig?`

[2022-06-07 15:39] joewhitsitt commented on #4788
...templates/block.. remember the uids folder is not tracked it uiowa git but is imported from uids.

[2022-06-07 15:41] makurj commented on #4788
Perfect! The if statements in `docroot/themes/custom/uids_base/templates/uids/card.html.twig` were throwing me off. Thanks, Joe!

[2022-06-07 16:44] joewhitsitt commented on #5345
Also, here is an existing issue looking into different translation options: https://github.com/uiowa/uiowa/issues/3506

[2022-06-07 16:45] joewhitsitt commented on #3564
Since this functionality exists can we close or re-scope to a particular site that needs it @quamsta ?

[2022-06-07 16:51] joewhitsitt commented on #4270
Additionally, the wiki is vpn only currently due to a security vulnerability. Maybe we should move and work with a clean slate of sorts.

We could create a private repo within https://git.uiowa.edu/its-web and use the wiki feature (after confirming the feature will stick around with the ITS wiki folks)

[2022-06-07 17:17] joewhitsitt commented on #4632
Closing based on comments above

[2022-06-07 17:18] joewhitsitt commented on #3502
no longer blocked

[2022-06-07 18:08] makurj commented on #2764
I'd like to work/pair on this.

[2022-06-07 18:08] bspeare commented on #5344
This is done thanks to @makurj!

[2022-06-07 18:08] #5344 closed, assigned to nobody

[2022-06-07 18:19] briand44 commented on #4000
scope to a single role (editor) and test stories that a role should NOT be able to do.

[2022-06-07 18:23] briand44 commented on #5229
sitenow articles is an example of where this is working correctly.

[2022-06-07 18:31] pyrello commented on #5229
Just noting that we discussed that this would move us away from core's default view config for the term RSS feed. I don't believe that the core team provides update hooks for default views because that would potentially break lots of sites. Our option for keeping up-to-date with core changes is to periodically compare our views to theirs and see if there are changes we want to pull in.

[2022-06-07 18:32] briand44 commented on #2764
may need cache rebuild update hook on deployment?

[2022-06-07 18:38] briand44 commented on #4734
initially scope to a particular block type (text area?) but can expand to additional block types time permitting or in future.

[2022-06-07 18:47] pyrello commented on #4734
An idea for how this could work: Use the Form API to change the field type of the block title to the custom `headline` field that we created. We would need to provide the additional properties on the field that the field type expects. If we do that, it might "just work"!

This will need an update hook for any block definitions that get changed.

[2022-06-07 19:01] pyrello commented on #5282
If we are not able to immediately get this setup in the `find_text` module namespace, we could potentially release this as a sandbox module first.

I would suggest that our goal should be to get could into an external repo ASAP because it opens up the possibility of other community members getting involved sooner rather than later and that is ultimately one of the goals with this project.

[2022-06-07 19:20] joewhitsitt commented on #4070
example badge https://github.com/uiowa/uiowa/pull/1827

[2022-06-07 20:15] joewhitsitt commented on #4000
I see from the IS that Rick suggested behat. Does anyone recall why we got rid of our behat tests? https://github.com/uiowa/uiowa/blob/4fd2134d40da7c51ea1066108af5c2bea84f2035/tests/behat/features/Search.feature

[2022-06-08 13:49] briand44 commented on #5250
Going to close this as it is in production environment. We can create a follow up if anything else comes up.

[2022-06-08 13:49] #5250 closed, assigned to briand44

[2022-06-08 14:08] pyrello commented on #5280
I sent an email replying to the questions and suggesting that someone on our team could log in and set up the secrets. They are good with that.

[2022-06-08 14:20] pyrello commented on #4000
Not totally sure about this, but it seems like behat tests were a bit difficult to work with, since they use a completely different structure and syntax than everything else we are doing. Not opposed to revisiting these if they turn out to be easier to write or take less time to run.

[2022-06-08 14:23] mark-bennett-uiowa opened #5347 "As a developer, I can create a "template" site for quick migration of default content to new CLAS department sites."
I am currently using the communication studies department site as a default, clean (and empty) site for quick transfer of default settings and content from for newly provisioned CLAS department sites. Thoughts on me creating a template.clas.uiowa.edu site (or something similar) for this purpose instead.

[2022-06-08 14:59] pyrello commented on #4499
Relevant: https://www.drupal.org/node/3035096

[2022-06-08 15:30] mark-bennett-uiowa opened #5349 "As a developer, I can provide additional options for new 4th level domains when a client requests a new site."
As a followup to our domain name policy meeting this morning, I have suggestions for additional 4th-level domain options through the University. Just putting these out there for more discussion and feedback.

- ~*.center.uiowa.edu~ this has been added
- ~*.conference.uiowa.edu~ this already exists
- *.group.uiowa.edu
- *.institute.uiowa.edu
- *.program.uiowa.edu
- *.research.uiowa.edu
- *.scholar.

[2022-06-08 15:36] #5347 closed, assigned to nobody

[2022-06-08 18:35] briand44 opened #5350 "Residence Halls landing page with filters"
As a visitor to the housing website, I would like to be able to filter residence halls by specific categories so that I can find a residence hall that suits me without viewing all of them individually.

# Additional Info
Need to be able to display all residence halls similarly to how they are currently with the ability to filter on specific categories. https://housing.uiowa.edu/residence-halls

Sa

[2022-06-08 19:18] bspeare opened #5351 "As a site editor, I can no longer see the confusing grid options available under the "Styles" menu within each layout section"
# Story

As a site editor, I can no longer see the confusing grid options available under the "Styles" menu within each layout section.

The current grid layout options appear under the `Styles` menu for all layouts.   They are confusing and often misused because they only work on one column layouts with certain components that were meant for uiowa.edu.

<img width="323" alt="Screen Shot 2022-06-0

[2022-06-08 21:38] joewhitsitt commented on #5332
@bspeare when you get a chance could i get a list of steps to reproduce? on the residence hall content type photoswipe is configured for the images field. it isn't in a paragraph.

[2022-06-09 13:26] bspeare commented on #5332
@joewhitsitt go to https://housing.uiowa.ddev.site/admin/structure/paragraphs_type/housing_floor_plan/display and switch the image field to use Photoswipe.

[2022-06-09 13:37] briand44 commented on #5349
*.conference.uiowa.edu is already a pre-approved url pattern.
*.research.uiowa.edu is being used by OVPR

[2022-06-09 16:09] pyrello commented on #5337
Acquia responded and provided some additional information. There was not enough context to be able to tell timeframe or whether we were looking at partial results. I responded with some follow-up questions.

[2022-06-09 20:39] briand44 commented on #5153
may need to audit usage of imagecache_external to know if we can limit to uiowa.edu or not.

[2022-06-09 20:41] briand44 commented on #5153
sounds like turning off the validation seems like a good first step since this is developer implemented

[2022-06-09 21:48] joewhitsitt commented on #5229
This might cause https://github.com/uiowa/uiowa/issues/5025 to come up sooner than later. By specifying specific fields in this view, each content type that wants a description in their RSS feed item is going to have to use field_teaser or split and switch this to body.

[2022-06-10 13:37] e-marie-w commented on #4000
I _think_ I found an existing example in our code base: https://github.com/uiowa/uiowa/blob/main/docroot/profiles/custom/sitenow/tests/Kernel/PermissionsTest.php. We want to test different permissions and put the test somewhere other than the `docroot/profiles/`, but the hard part seems to already be figured out. The test passes normally, and when I added and removed permissions from `user.role.ed

[2022-06-10 13:48] pyrello commented on #4734
First issue that I am finding that I will need to work around: The core block label field is required and core handles whether to display it as a title or not by including a checkbox to hide it. The presumption is that you will always be setting a block label, but that you can still choose whether to display it our not. By contrast, our headline field operates under the assumption that it is eithe

[2022-06-10 13:58] briand44 commented on #5337
From account manager

[2022-06-10 14:36] bspeare opened #5354 "As a prospective student, I can view a virtual tour of my dorm room on housing.uiowa.edu"
# Story

As a prospective student, I can view a virtual tour of my dorm room on housing.uiowa.edu

# Problem

The previous housing.uiowa.edu used https://pannellum.org/.
 - There is a Drupal module https://www.drupal.org/project/virtual_tour with some issues:
   - The module hasn't been updated in 4 years and uses unsecure `2.3.2` version of pannellum that could be fixed by `libraries-override`

[2022-06-10 14:37] joewhitsitt commented on #5354
looks like a pretty simple “wrapper” module that is causing headaches. i think with what we learned with banner image/video, vertical videos and panopto, we could reproduce the functionality here.

[2022-06-10 14:38] bspeare commented on #5354
@joewhitsitt would that push us into a custom implementation or would we update the module to work with media?

[2022-06-10 14:43] joewhitsitt commented on #5354
I think the headaches extend beyond the media field so I would be more inclined to go custom here and if there is a better library in the future, it would be easier to pivot

[2022-06-10 18:35] briand44 commented on #5337
I believe these are webforms where bounced emails have originated. We should probably review each of these to confirm valid emails are being used or let the site owner know the email needs to be updated if it is not a valid email.

- [x] https://iniworkshop.conference.uiowa.edu/workshop-registration	46 - I believe this is good, the email handler with the invalid email address is disabled and there

[2022-06-10 18:54] joewhitsitt commented on #5337
this list seems to weird to me because we are offenders with our own forms on sitenow. https://sitenow.uiowa.edu/contact-us uses the site-email but has the user's email as the reply-to. as sean said, it would be hard to control that elsewhere if we aren't supposed to do that.

The request site submissions resend have valid addresses associated with them.

[2022-06-10 18:55] joewhitsitt commented on #5337
https://sitenow.uiowa.edu/request-site just to get to this form, the hawkid has to be valid

[2022-06-10 19:30] joewhitsitt commented on #4028
revisiting this functionality in general to see what the possible paths are at this point

[2022-06-10 20:28] briand44 commented on #5337
So I looked through all the webforms above and didn't notice any that were invalid email addresses. There is one I am unsure about but since it sounds like email bounces will not go to our junk folder anymore I am not really concerned about these and we can address them as part of our normal support rotation when these bounces show up in our support inbox.

Like previously mentioned there are some

[2022-06-10 21:05] briand44 commented on #5337
Not seeing Captcha on the forms for jacobsoninstitute. I used to add some code to enable Captcha on all webforms in D7.

[code]

Not sure if this is the best way to address this site or if there are other thoughts? My devdesktop isn't working so I need to troubleshoot that before I can test this on that site.

[2022-06-10 21:31] joewhitsitt commented on #4028
https://github.com/uiowa/uiowa/issues/4028#issuecomment-1099577079

Went with the validation route.

Benefits:

- Allows us to continue to control defaults
- Opens this setting up to editors to curate their list of allowed extensions. Prevents non-default extensions from being added.
- Users see accurate extensions list and relevant form errors.

[2022-06-10 21:34] briand44 commented on #5337
I'm back in business with devdesktop!! Looking at the logs and following the instructions actually worked. I will try the code above locally.

[2022-06-10 21:47] briand44 commented on #5337
I've pushed this to dev but haven't deployed to prod.

[2022-06-10 21:49] briand44 commented on #5337
Also, I worked with the site owner of CGRER to remove the webform that was sending to Pete Lower and Erin Corson since neither of them have worked here for years.

[2022-06-12 15:38] pyrello opened #5357 "UICB - Migration of student profiles to people"
Handle credential + year graduated via credentials field.

[2022-06-13 05:01] mcking65 commented on #4004
Ages ago there was the idea that tablist would be a way to build accordions. We discarded that idea when we built the APG accordion. tablist and accordion are usually incompatible because the element structure and reading order of a tabs pattern and an accordion are fundamentally different.

Tabs structure is:

[code]

Whereas an accordion structure is:
[code]

It just doesn't work if you try to g

[2022-06-13 13:33] briand44 commented on #5337
Deployed the spam protection for jacobsoninstitute

[2022-06-13 13:40] briand44 commented on #5337
I'd be ok with closing this issue and the support ticket. We've added spam protection to jacobsoninstitute, resolved some email bounces related to content hub and CGRER and future bounces should show in our support inbox so we can handle them as they come in. @mjoneill @pyrello thoughts?

[2022-06-13 13:48] joewhitsitt opened #5358 "Periodic site install failures"
# Issue

Periodically when running a site provision install, the installation errors out or hangs. Ideally we have a process that is more consistent.

[code]

# Workaround

- manually deleting the db in the acquia ui, recreating it and trying the install again 🤷

# Proposed Solution

TBD

[2022-06-13 13:51] joewhitsitt opened #5359 "Incorrect stage_file_proxy settings after site launch"
# Problem

Our BLT setup is supposed to set the stage_file_proxy origin URL to the site's prod. ~~Instead, new sites seem to be getting `default.prod.drupal.uiowa.edu` always~~ - _this was fixed_

Once a website goes live, the stage_file_proxy settings are not updated and are are overwritten each time the site provision command is run.

# Workaround

- Manually override the local.settings.php asso

[2022-06-13 14:00] pyrello commented on #5337
I concur.

[2022-06-13 14:29] makurj commented on #5349
Are we introducing more granularity for sites that cannot be provisioned out as *.sites? If so, would this solution not render them obsolete? Or would we continue to offer *.sites option as well?

[2022-06-13 14:39] joewhitsitt commented on #5349
Just keep in mind that hostmaster has pushed back previously on the number of pre-approved in the past so we will probably need to get their thoughts/approval early in the process.

Additionally, each pre-approved domain, if to be covered on all applications, will take up one SAN per application.

[2022-06-13 14:43] briand44 commented on #5349
I think we would continue to offer it. I believe this was intended to be used for personal academic sites as well. If we move away from MyWeb in the future there could be sites that move to SiteNow that would fit under this pattern.

[2022-06-13 14:44] briand44 commented on #5349
I can see the use case for *.center and *.program if the center or program doesn't fall under one particular college or department.

[2022-06-13 15:59] joewhitsitt commented on #4000
My expression that Michael mentioned in standup was because editor has the ability to add/edit and `override publish option` on the default content types, but they don't have the ability to move to the "publish" moderation state. This moderation functionality overrides that `override publish option` permission for the default content types

This may complicate the test if you want to test against

[2022-06-13 17:02] pyrello opened #5361 "PhD Program Data - Mockup of dashboard elements"
Create a mockup of dashboard elements for #5362

# References
- Current dashboard: https://grad.uiowa.edu/programs/phd-program-data
- U of Madison Tableau data: https://tableau.academicanalytics.com/views/AlumniInsightforWisconsin-Madison/CLASSIFICATIONSCNGLS?%3AisGuestRedirectFromVizportal=y&%3Aembed=y and https://tableau.academicanalytics.com/views/AlumniInsightforWisconsin-Madison/CLASSIFICATIO

[2022-06-13 17:17] pyrello opened #5362 "PhD Program Dashboard"
The Grad College currently has this PhD Program Data dashboard on its site: https://grad.uiowa.edu/programs/phd-program-data. The current dashboard is built in PowerBI, which has some known issues with usability, accessibility, and ability to be styled in line with brand guidelines. There is the also the desire on the part of programs to be able to display this information on their own site limite

[2022-06-13 20:56] briand44 commented on #5280
i've added the sensitive information to each environment on the Healthcare application

[2022-06-13 21:17] #5150 closed, assigned to joewhitsitt

[2022-06-13 21:17] #5153 closed, assigned to joewhitsitt

[2022-06-13 21:17] #5229 closed, assigned to joewhitsitt

[2022-06-13 21:18] #4070 closed, assigned to joewhitsitt

[2022-06-13 21:18] #4969 closed, assigned to joewhitsitt

[2022-06-13 21:18] #5156 closed, assigned to joewhitsitt

[2022-06-14 15:15] pyrello commented on #4788
I'm not sure I agree with the logic of the update hook to set the button to be active for all existing cards. The behavior before we introduced this feature is that no cards had the button. I don't think that we should assume that everyone wanted those cards to have the indicator link. I'm cool with setting new cards blocks to have this option by default, but I'm not sure that is the right move fo

[2022-06-14 15:23] joewhitsitt commented on #4788
@pyrello the buttons are on by default currently: https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-card.html.twig#L56

[2022-06-14 15:29] pyrello commented on #4788
Understood. But that condition might be viewed as a mistake that we made in rolling it out without allowing folks to opt out. We can't clearly interpret people's intentions at this point, so my argument is that we should fall back to the original condition and let people opt out moving forward.

[2022-06-14 15:41] bspeare commented on #5283
I adjusted the title so reflect that this is just a mockup of the faculty/staff home page.

[2022-06-14 15:42] joewhitsitt commented on #4788
I think I figured out the update hook if we are staying the course. Allowing people to opt-out going forward is the main purpose of this issue. By not updating existing, it is a flip-flop and we are causing a visual regression (percy too) that forces users to go in and modify existing content.

[2022-06-14 15:43] bspeare commented on #5354
We ended up implementing this in our theme and pulling in the library through `npm-asset/pannellum`: https://github.com/uiowa/uiowa/pull/5330/commits/bfb5d8a3341add03c02776c9b30f6a3339972278.

[2022-06-14 15:43] #5354 closed, assigned to nobody

[2022-06-14 15:49] bspeare opened #5366 "As a prospective student, I can view restroom galleries on each residence hall page on housing.uiowa.edu"
# Story

As a prospective student, I can view a restroom gallery on each residence hall page on housing.uiowa.edu

Previously, we were going to link out to extra pages for the bathroom galleries.  Now, it seems like it makes more sense to display these images on the content type.

# Proposed Solution

- Delete `field_residence_hall_bath_images` field and make sure that none of the pages on housing

[2022-06-14 15:58] bspeare opened #5367 "As a prospective student, I can view a residence hall map on housing.uiowa.edu"
# Story

As a prospective student, I can view a campus map on each residence hall page on housing.uiowa.edu

# Proposed Solution

- From grooming on 6/14/22 , it sounded like we thought moving forward with treating this as a media entity makes sense. There are some notes on the PR linked below about some things to keep in mind (lazy loading, etc)

work was started in https://github.com/uiowa/uiowa

[2022-06-14 16:25] makurj opened #5368 "As a content creator, I would like to enter/upload data and have it display as a chart"
# Story

As a content creator, I would like to enter data into fields or upload a CSV and have it display as pie charts so I don't have to upload a static image each time the data changes, and it's better for accessibility.
Example: https://tippie.uiowa.edu/iowa-mba/admissions/class-profile

![image](https://user-images.githubusercontent.com/52135878/173628214-be19a30c-321b-401b-8825-79eb52fdc34d.

[2022-06-14 16:35] joewhitsitt commented on #5368
Is this the same as https://github.com/uiowa/uiowa/issues/4787

[2022-06-14 16:40] makurj commented on #5368
#4787 is about pulling in from data feeds. This one is about uploading or enter data.

[2022-06-14 16:51] makurj opened #5370 "As a webmaster, I would like to have footer heading options"
As a webmaster, I would like to have footer heading options to have a list of items under a heading.

![image](https://user-images.githubusercontent.com/52135878/173632759-94b03a02-4a52-419d-b2ce-c00411932fb0.png)

[2022-06-14 16:54] makurj opened #5371 "As a mobile user, I don't want the Top Links to take up so much real estate"
# Story

As a mobile user, I don't want the Top Links to take up so much real estate. I would like to see them get collapsed into the main menu or somewhere else.

![image](https://user-images.githubusercontent.com/52135878/173633306-a8c052c1-1222-4067-b600-0baae2985572.png)

[2022-06-14 16:57] makurj opened #5372 "As a site user, when I click on the magnifying glass to search the site, I don't want to have to touch the search area to type."
# Story

As a site user (desktop and mobile), when I click/touch the magnifying glass to search the site, I don't want to have to click/touch the search area also to type. I would like touching the magnifying to activate my keyboard.

![image](https://user-images.githubusercontent.com/52135878/173633883-0a461c63-7070-4bde-937e-7e6ab183c8d5.png)

[2022-06-14 17:22] pyrello commented on #4788
We created a visual regression when we released this feature in the first place, but there was no way for users to go in and change it. Why would we assume that everyone was just cool with the change and that it represents what they want?

[2022-06-14 18:08] briand44 commented on #5366
We will want to test the grouping functionality of photoswipe. Make sure that when clicking on a single image you only see the properly grouped items?

[2022-06-14 18:10] briand44 commented on #5366
Remove data from the field before deleting the field

[2022-06-14 18:13] bspeare commented on #5283
The current page that they have put together is at https://now.prod.drupal.uiowa.edu/.  You can either clone this page to use a starting point or start something new.

[2022-06-14 18:23] briand44 commented on #5367
Potentially treat this as a media entity

[2022-06-14 18:31] briand44 commented on #5318
setup a page, turn xdebug on and figure out what isn't mapped correctly (specifically re: accordion and carousel/slider).

It may be a matter of mislabeled machine name, may be a more complicated issue with how data from child paragraphs is being handled.

[2022-06-14 18:40] briand44 commented on #5361
We may want to do this mockup in UIDS

[2022-06-14 18:49] briand44 commented on #5321
Could test if this problem exists on the showcase page... Cory thinks he checked but it's been awhile. Since this is a regression, we can review the changes to see if we notice anything that stands out.

[2022-06-14 18:50] briand44 commented on #5321
could use helper update function to fix once we identify the problem

[2022-06-14 18:52] briand44 commented on #5321
button styles not set in default content, could add those if makes sense or create a follow up issue if there is not one already

[2022-06-14 19:13] bspeare opened #5373 "Integrate UIDS accordion a11y changes into `uids_base`"
# Proposed solution

- Create a new release on https://github.com/uiowa/uids/commits/3.x
- Update templates to use `bg--white` class: https://github.com/uiowa/uids/blob/972fad8d4d8715a2e13427a7b55a1e558d541ec5/src/components/accordion/accordion.twig#L40

[2022-06-14 19:19] bspeare commented on #3401
We did refactor the admin styles into partials for better code organization in https://github.com/uiowa/uiowa/pull/4211/files.

[2022-06-14 21:35] joewhitsitt commented on #5129
I wonder if this is related to https://github.com/uiowa/uiowa/issues/2579.

[2022-06-14 22:12] joewhitsitt commented on #5131
I think this started happening when we adopted drupal 9. somewhere, we are still loading some stable theme stuff and this is applying: docroot/core/themes/stable/css/system/components/js.module.css

stable9 was introduced and doesn't have the `!important` on this css.

[2022-06-14 22:38] pyrello commented on #4734
Updates:
- I was able to use our `HeadlineHelper::getElement()` to wire up the block label field to have the `headline` render array necessary for it to display correctly.
- However, when I used xdebug to look at the `$formState` object in a form submit handler, I cannot find any of relevant values being passed through.
- I looked in a form validation handler and also could not find any of the dat

[2022-06-15 13:23] pyrello opened #5374 "Build Content Hub 2.0"
# Motivation

The current version of content hub is on D7 where we would like to not invest anything else into it. From a strategic standpoint, we would like to continue to have a university-wide event management system similar to what we have now and have had previously. Based on this, some sites have been moving all their events to Content Hub rather than building them out as local content type.

[2022-06-15 13:56] joewhitsitt commented on #4734
Outside looking in, but this slack thread from Higher-Ed Drupal makes it sound like it would be possible with an event subscriber and a custom base block template. Originally I didn't chime in on this thread because we weren't using the block title.

https://edudu.slack.com/archives/C19HGHTJR/p1629740140010500

[2022-06-15 14:26] bspeare commented on #4788
To recap, @joewhitsitt would like to keep the arrow set by default in the update hook and @pyrello is advocating for removing it?  I agree that setting it by default was a little heavy-handed and I like the idea of resetting that in the update hook.

[2022-06-15 14:38] cory-skeers commented on #4788
My main thoughts here are that while we did force the change on all cards previously, and it could have been viewed as a regression, we're in a similar spot now for anyone who may appreciate the additional arrow.

Defaulting to the arrow:

- Cards that didn't want the arrow were previously forced to have it, and will continue to have it but have the option to remove it
- At least some cards want t

[2022-06-15 14:39] joewhitsitt commented on #4788
not sure i am saying that. my only concern is changing an established pattern that is now six-months in.

[2022-06-15 14:43] makurj commented on #4788
I agree with not removing it by default as users have gotten used to it and this would maintain visual consistency.

[2022-06-15 14:44] GaryRidgway commented on #4788
While I personally, If i had a website, would want to have current arrows default to off, I think this comes down to a matter of users already getting used to it. I think rolling it back to default-off becomes less and less reasonable the further away from the release of the original arrow we get, so ultimately i think we should keep the arrows on. As much as it makes me grumbly.

[2022-06-15 15:20] pyrello commented on #4788
It seems like we are split, with more people favoring continuing the existing pattern as a the default. If that is the will of the group, I continue to disagree that that is the right approach, but I concur with moving ahead that way.

It is possible that there is a way to resolve this in a more satisfactory way, although it would involve increasing the scope and delaying its deployment.

Here is

[2022-06-15 15:40] bspeare commented on #4788
@pyrello I like this idea.   How would this integrate with the card arrows we are offering for articles list?

<img width="916" alt="Screen Shot 2022-06-15 at 10 38 59 AM" src="https://user-images.githubusercontent.com/1036433/173868812-afeb9282-60d7-4ef0-b0b8-5433c07ee23d.png">

[2022-06-15 15:47] GaryRidgway commented on #5302
Cert created

[2022-06-15 15:47] #5302 closed, assigned to nobody

[2022-06-15 16:03] pyrello commented on #4734
Thanks for the tip, @joewhitsitt! I looked into that. There were a couple things of note:
- Princeton is adding custom form fields for title settings using a form alter and then an event subscriber (`LayoutBuilderEvents::SECTION_COMPONENT_BUILD_RENDER_ARRAY`) to actually process the settings for use in rendering the block.
  ![Screen Shot 2021-08-26 at 8 32 42 AM](https://user-images.githubusercon

[2022-06-15 16:03] bspeare commented on #3401
We also fixed the details/summary toggles in the horizontal menu pr and added https://github.com/uiowa/uiowa/blob/349db34434cae24b7dcf4ab8ec03522174f6e662/docroot/themes/custom/uids_base/scss/admin/_off-canvas.scss#L124-L130.

[2022-06-15 16:09] bspeare commented on #3401
The line-height issue in https://github.com/uiowa/uiowa/issues/3401#issuecomment-870031333 was also fixed in https://github.com/uiowa/uiowa/pull/3926.

[2022-06-15 16:11] pyrello commented on #4788
I think it would be a separate setting. It seems reasonable that you could set different options for card blocks vs. article lists.

[2022-06-15 16:12] joewhitsitt commented on #4734
Thanks for poking at it and documenting this. Based on your findings, I agree that the benefit might not exist yet. Feel free to close.

[2022-06-15 16:13] #4734 closed, assigned to pyrello

[2022-06-15 16:13] bspeare commented on #3401
I think a lot of the problems that we were seeing may no longer be an issue after we have slowly made improvements on this over the past year.    The remaining work to do on this would be to possibly find one place to put the off-canvas styles.

We are currently placing them in two spots:

- https://github.com/uiowa/uiowa/blob/main/docroot/modules/custom/layout_builder_custom/css/layout_builder_cu

[2022-06-15 16:24] joewhitsitt commented on #4788
Yeah, since work was already done related to this for content card teasers, I can get behind this additional setting.

[2022-06-15 16:37] joewhitsitt opened #5375 "Admissions - Gold border on horizontal menu missing for first year visit options"
https://iowaweb.slack.com/archives/C019B2C8K8U/p1655228989494359

<img width="1538" alt="Screen Shot 2022-06-14 at 12 45 32 PM" src="https://user-images.githubusercontent.com/4663676/173880344-c6266c1e-d7f6-4ea0-a75b-80ff509ca32d.png">
<img width="1454" alt="Screen Shot 2022-06-14 at 12 45 59 PM" src="https://user-images.githubusercontent.com/4663676/173880364-2fad6fca-59b5-42bb-bcd6-ab00262bd6a9.

[2022-06-15 16:58] bspeare opened #5376 "As a site owner, I can create a card block that does not crop the image in a predefined format"
# Story

As a site owner, I can create a card that does not crop the image in a predefined format.

Currently you can only choose a square, widescreen, or circle image format.

# Proposed solution

Add a "no crop" option that allows the card to use the original image aspect ratio.   This would be especially useful for images like book covers.

<img width="1504" alt="Screen Shot 2022-06-15 at 11 57

[2022-06-15 17:02] joewhitsitt commented on #4000
I think adding `assertArrayHasKey` for `use editorial transition publish` for publisher and webmaster and the reverse for editors would be a valuable addition to this test as this is what most site owners are concerned about based on what roles they give folks.

[2022-06-15 18:19] makurj commented on #4788
Is the additional setting something we're doing in this PR or another one?

[2022-06-15 18:21] joewhitsitt commented on #4788
This would change the existing PR. Almost replaces the entire thing because we would be moving from a boolean to a select list

[2022-06-15 18:28] makurj commented on #4788
Got it! I switched it to draft and will start on the select list.

[2022-06-15 19:19] #4028 closed, assigned to joewhitsitt

[2022-06-15 19:29] joewhitsitt commented on #5375
Adding some of @bspeare's findings:

The parent and child menu links are the same. A nolink fixes this particular instance, but that there might have been changes to the CSS that affected scoping.

https://iowaweb.slack.com/archives/C0164FNN1PV/p1655311633393619

[2022-06-16 13:59] pyrello commented on #5376
This is very much needed. Also it is going to lead to a lot of very questionable looking cards ;)

[2022-06-16 14:21] cory-skeers commented on #5376
This is equally necessary and terrifying...

[2022-06-16 14:31] joewhitsitt commented on #5376
it'd be nice to do some kind of limit on this feature, like to prevent a 200x900 px image. http://www.placecage.com/c/200/900

[2022-06-16 14:42] makurj commented on #4788
Should I create a brand new module called sitenow_blocks with SettingsForm.php?

[2022-06-16 17:08] joewhitsitt opened #5378 "Taxonomy RSS feed permalink is missing /node/ path component"
# Problem

The `guid isPermaLink` is incorrect. I think it should either just be the id or the node URL.

[code]

# Proposed Solution

- Either change to `false` to indicate it is not a link or change to `https://sitename.uiowa.edu/node/nodeID`
- For the SiteNow articles views page feed, this needs to change existing via update hook along with setting a new default.

[2022-06-16 17:25] pyrello commented on #4788
I think we can put this in an existing module, possibly `layout_builder_custom`.

[2022-06-16 17:27] pyrello commented on #5376
I disagree with enforcing a limit because it adds complexity to the maintenance of the application for what are essentially edge cases. Getting people not to do things like the above should be the purview of good documentation and educational outreach, not code.

[2022-06-16 17:31] pyrello commented on #3401
Should we adapt this issue to be more specific to the issues that we know we still want to fix? Or create a new issue to document the changes suggested above and then let future issues bubble up and close this one?

[2022-06-16 18:39] joewhitsitt commented on #5378
Looks like this is an issue with the SiteNow Articles view page's feed as well. Going to see what it _should_ be

[2022-06-16 18:43] joewhitsitt commented on #5378
https://www.rssboard.org/rss-specification#ltguidgtSubelementOfLtitemgt

[2022-06-16 18:44] pyrello opened #5380 "Integrate Vue.js into SiteNow"
# Motivation

With the work going into UIDS 4, it is worth starting to think about the possibility of being able to directly consume the Vue components that are being built in SiteNow as a way of simplifying our theme and opening new possibilities for building reactive component blocks.

# Proposed solution
- [ ] Figure out how to attach a Vue app to our existing page template - Vue 3 changed the

[2022-06-16 18:45] joewhitsitt commented on #5378
By just setting this to false, it shouldn't mess with existing aggregators treating them as new items.

[2022-06-16 19:00] pyrello commented on #5380
I tried figuring out how to get a quick and dirty version of this done already. Here are a couple notes from that:
- I created a Vue app in `uids_base` using `npm init vue@latest`. This provisions the scaffolding for an example Vue application using Vite as the compiling engine.
- I removed the `App.vue` file in `uids_base/src` in favor of a directly passing an object as an argument to Vue's `crea

[2022-06-16 19:38] makurj commented on #2764
Not clear on the "modification" (https://github.com/uiowa/uiowa/blob/main/docroot/modules/custom/sitenow_articles/sitenow_articles.module#L268) requested.

[2022-06-16 19:47] joewhitsitt commented on #2764
Looks like the line numbers changed. https://github.com/uiowa/uiowa/blob/main/docroot/modules/custom/sitenow_articles/sitenow_articles.module#L345

[2022-06-16 20:08] #4000 closed, assigned to e-marie-w

[2022-06-17 13:53] cory-skeers opened #5383 "Clean up sitenow_find_text from the codebase, finish transition to find_text"
Blocked by #5363 (needs to be in a later deployment)

sitenow_find_text has moved to https://www.drupal.org/project/find_text. Because of order of operations in the build and deployment process, previous work disabled sitenow_find_text and enabled find_text, but sitenow_find_text still exists in the codebase.

# Proposed solution
Remove sitenow_find_text
Update gh sitenow_find_text label to find_t

[2022-06-17 15:01] #5378 closed, assigned to joewhitsitt

[2022-06-17 15:35] #5282 closed, assigned to cory-skeers

[2022-06-17 15:45] cory-skeers opened #5384 "Allow enter to execute Find Text search"
Tracking https://www.drupal.org/project/find_text/issues/3291150

[2022-06-17 16:23] joewhitsitt commented on #4788
Captured the proposed solution from https://github.com/uiowa/uiowa/issues/4788#issuecomment-1156609064

[2022-06-17 17:49] bspeare opened #5386 "As a site editor, I can select the type of aspect ratio to use in my image gallery block"
# Story

As a site editor, I can select the type of aspect ratio to use in my image gallery block.

# Proposed solution

- Add a layout builder style to choose between aspect ratios to add a modifier class to the image block wrapper.
  - Original/Default (no aspect ratio)
  - Square (1:1)
  - Widescreen (16:9)
  - Portrait (.5)
  - Masonry

https://codepen.io/bspeare/pen/rNvOVZY

[2022-06-17 20:15] #5375 closed, assigned to bspeare

[2022-06-17 20:30] joewhitsitt commented on #5374
Capturing thought: Of course the events.uiowa.edu url path ids don't align with the content hub ids so that would have to be accounted for if we retain past events in a new system.

https://content.uiowa.edu/node/89036/edit
https://events.uiowa.edu/58771

[2022-06-17 20:51] pyrello commented on #4788
Thanks for taking care of this, @joewhitsitt!

[2022-06-17 20:54] e-marie-w commented on #5366
Since we're making a specific field for each restroom type we can also remove the`field_residence_hall_bath_type` field too, right?

[2022-06-17 20:55] bspeare commented on #5366
@e-marie-w I think that field will be used for filters that we will be building at a later date.   It does not display on the page currently.

[2022-06-17 20:57] e-marie-w commented on #5366
Ahh okay, cool! Glad I asked first.

[2022-06-20 14:59] joewhitsitt commented on #5386
Just noticed in assisting a customer that allowing the "original/default" option would also be nice to have.

[2022-06-21 13:36] #2764 closed, assigned to makurj

[2022-06-21 18:07] bspeare commented on #5283
Use the outline in https://github.com/uiowa/uiowa/issues/5283#issuecomment-1130372781 for the page structure.

[2022-06-21 18:08] joewhitsitt commented on #5367
Panopto (UI Capture) is an example of a custom media entity within our codebase

[2022-06-21 18:35] joewhitsitt commented on #4767
- Concerns about taxonomy (tag) driven solution for this.
- This doesn't seem like it should fit within the normal layout interface since it is fixed bottom (needs to break out of main content container). Also how to prevent multiple?
- Mobile concerns (disappear, condense, only show first, etc.?)
- We do have a button block in our backlog but not necessarily a button row - https://github.com/uiow

[2022-06-21 18:39] cory-skeers commented on #4767
For this and other forms of CTA elements, would like to keep in mind future tracking efforts. Don't think any of the proposed solutions here yet make it more or less difficult (mostly JS-based solutions would be the most impactful), but in the future we'll want to make sure we can differentiate user journeys based on whether they use one of these buttons, a menu link, or on-page link.

[2022-06-21 20:01] #5339 closed, assigned to nobody

[2022-06-21 20:07] joewhitsitt commented on #4817
Capturing my thoughts after the meeting yesterday. Based on what I heard I see the following options:

- Keep existing content in page type, move forward with a separate content type to house structured content for filtering and custom teasers while providing a 301 source link redirect to the page display.
- Build a separate content type like above but go the extra mile to provide layout builder f

[2022-06-21 20:32] joewhitsitt opened #5389 "Update Drupal to 9.4.x"
https://www.drupal.org/project/drupal/releases/9.4.0

In Drupal 9.4 and higher, drupal/core-recommended allows patch-level vendor updates (e.g. Guzzle)

Drupal 9.3 (current) receives security coverage until the release of Drupal 9.5.0 in
December 2022

Update drupal/core-recommended as part of this

[2022-06-22 13:22] bspeare commented on #4817
Notes from the weekly Tippie check-in yesterday by @pyrello:

We discussed how to accomplish having an index page that has a filter that could potentially apply to multiple sections of content on the page. This is hard to do via layout builder because it is hard to track behavior of one block based on another. We would essentially have to set the behavior for the entire page. This suggests that we

[2022-06-22 19:19] bspeare opened #5392 "Refactor to use nullsafe operator when we switch to PHP 8+"
# Reference

PHP 8: https://stackoverflow.com/a/65044601.

Update the code here to use the nullsafe operator.

https://github.com/uiowa/uiowa/blob/2433a02fa42fb5613667b5732265683aff36a792/docroot/sites/housing.uiowa.edu/modules/housing_core/housing_core.module#L123

[2022-06-22 21:45] joewhitsitt commented on #5389
Here is a little taste of what is to come: https://github.com/uiowa/uiowa/pull/5391

[2022-06-23 14:59] bewoldt opened #5394 "Layout builder records unsaved changes"
# Problem
If you go to the layout builder tab (change nothing) and go anywhere else or just refresh the page and then come back to the layout builder tab, you get a notification that you have unsaved changes.

https://user-images.githubusercontent.com/731952/175330239-0e35a4ec-1ea9-4b17-bbb3-651eadb9c606.mov

[2022-06-23 15:00] #5221 closed, assigned to nobody

[2022-06-23 15:00] #5373 closed, assigned to nobody

[2022-06-23 15:35] #5294 closed, assigned to bspeare, e-marie-w

[2022-06-23 16:09] cory-skeers commented on #5394
Added the upstream label--issue tracking this: https://www.drupal.org/project/drupal/issues/3207875

[2022-06-23 16:31] joewhitsitt commented on #5121
Drupal's lazy loading doesn't work yet with responsive images https://www.drupal.org/project/drupal/issues/3192234

[2022-06-23 20:04] bspeare commented on #5366
Closed via https://github.com/uiowa/uiowa/pull/5330.

[2022-06-23 20:04] #5366 closed, assigned to e-marie-w

[2022-06-23 20:05] bspeare commented on #5291
Closed via https://github.com/uiowa/uiowa/pull/5306.

[2022-06-23 20:05] #5291 closed, assigned to nobody

[2022-06-23 20:06] bspeare commented on #2217
I think we can move this to done after https://github.com/uiowa/uiowa/pull/5306.

[2022-06-23 20:06] #2217 closed, assigned to nobody

[2022-06-24 17:55] joewhitsitt commented on #5283
Took a stab at this. So many revisions... https://now.prod.drupal.uiowa.edu/faculty-staff. I think the required bits are all there. Looking for team feedback before the meeting (when?).

[2022-06-24 18:19] bspeare commented on #5283
@joewhitsitt I like what you did there! I have a few suggestions below.

**Headlines section**
- Remove heading and just have the stories display?
- Remove card outline and background and maybe add a thumbnail to each small story?
- Newsletter sign-up - move to a separate section below?  Could we add a small embedded form like https://sandbox.prod.drupal.uiowa.edu/webform-layouts? Then headlines c

[2022-06-24 18:34] joewhitsitt commented on #5283
Thanks for the quick feedback. I will try some of these changes and probably add more dummy content to do so

[2022-06-24 18:54] joewhitsitt commented on #5283
Well, if I understood the notes, that was a relatively painless update.

[2022-06-24 19:02] joewhitsitt commented on #5283
Just heads up. I don't think achievements, inthenews (external) typically have a featured image

[2022-06-27 13:39] bspeare commented on #5283
Thanks @joewhitsitt, here are a few more suggestions:

- Move the featured headlines section to have the background color or pattern?  Use the same one from "Subscribe for future updates", or use a different one for both.   Or, move the section below back into a background color like it was initially and remove the background from the webform section.
- Remove thumbnail images if every item does n

[2022-06-27 14:18] #5337 closed, assigned to nobody

[2022-06-27 14:36] bspeare opened #5396 "Residence hall content type needs a layout fallback if video field is empty"
# Problem
https://housing.prod.drupal.uiowa.edu/stanley is the only residence hall without a video tour.   Without this video the layout has a large empty space.

<img width="1889" alt="Screen Shot 2022-06-27 at 9 31 48 AM" src="https://user-images.githubusercontent.com/1036433/175966729-256adcef-51d7-4871-83c1-137b62d1baa9.png">

# Proposed solution
Target the second column in the empty layout wi

[2022-06-27 15:08] joewhitsitt commented on #5283
From a technical standpoint I believe I have handled all of the above bullet points. I am understanding the alternating backgrounds, but don't have an eye on what the combinations should be.

When constructing the "featured headlines," I thought the headline, three col cards, followed by the card list/big card were all one "thing". Alternating backgrounds here breaks that up and the second area se

[2022-06-27 16:43] joewhitsitt commented on #5396
alternative solution: make a video for stanley or put a general iowa city type video in there?

[2022-06-27 16:49] joewhitsitt commented on #5321
Confirmed. It is occurring on the showcase page as well

[2022-06-27 17:57] bspeare opened #5398 "Events block has align button to the bottom style available when there is no button to align"
# Problem
Events block has align button to the bottom style available when there is no button to align

<img width="852" alt="Screen Shot 2022-06-27 at 12 55 21 PM" src="https://user-images.githubusercontent.com/1036433/176005397-19c3b2f4-9191-4932-a988-9173b5ed1546.png">

# Proposed solution
Remove the option from the styles available.

[2022-06-27 18:34] bspeare opened #5399 "Remove `last-child` bottom margin for cards using `card--list` modifier"
# Problem
Margins on the the `card--media-left` and `card--media-right` keep the `card--list` used on lists from stretching to fill the container to match the height of other elements.

<img width="1533" alt="Screen Shot 2022-06-27 at 1 30 19 PM" src="https://user-images.githubusercontent.com/1036433/176011243-8bab0772-da4d-4790-b114-b8aa254938a2.png">

# Proposed solution
- Add `card--list.card--

[2022-06-27 20:59] bspeare commented on #5396
@joewhitsitt good idea.  Going to go with general video here.

[2022-06-27 20:59] #5396 closed, assigned to nobody

[2022-06-27 21:58] JKurtzlebenUI commented on #4817
Some examples of sites that are doing this well:

https://www.zendesk.com/why-zendesk/customers/#americas – Has a nice filter under their feature story.

https://www.hootsuite.com/resources?tags%5B%5D=Case+Study – Looks more like a content hub, but a good example of this.

https://www.codecademy.com/learner-stories - We like how they use headlines to draw the reader in, rather than just listing na

[2022-06-27 22:02] JKurtzlebenUI commented on #4817
Filters with tags/term
[Tippie Filter Tags for Profile Stories.xlsx](https://github.com/uiowa/uiowa/files/8995873/Tippie.Filter.Tags.for.Profile.Stories.xlsx)
s

[2022-06-27 22:11] pyrello opened #5400 "UI Press - Create sale books page"
Original: https://www.uipress.uiowa.edu/sale-books

[2022-06-27 22:40] pyrello commented on #1503
This is bubbling up again because it is going to be the only custom functionality on the Iowa Superfund site. We have most of the rest of the content migrated for it, so this is now the main blocker for being able to launch the new version of the site.

I'm hoping we can try to solve this as a platform feature, or at least a feature split, but I guess if that doesn't happen, I may just need to add

[2022-06-28 14:02] briand44 commented on #5280
Going to go ahead and close this and we can re-open or create follow up issues if needed

[2022-06-28 14:02] #5280 closed, assigned to nobody

[2022-06-28 14:53] joewhitsitt commented on #5283
We delivered this as part of a meeting yesterday. Customers plan to review and provide feedback. Moving to blocked/waiting

[2022-06-28 15:00] pyrello commented on #4403
Some notes about what would be necessary to incorporate UIDS 4 banner updates into this:
- Finish banner component in UIDS 4.x to the point where it accounts for all options that are needed in SiteNow.
- In #5379, come up with a way to choose which components from 4.x we want to use. We could potentially update our gulp logic to copy 4.x components to a different location in `uids_base` and then u

[2022-06-28 15:14] briand44 opened #5403 "Iowa Now questions"
As a developer migrating Iowa Now to SiteNow v3, I have all the information needed to begin working on the migration.

# Additional Info
Identify questions for stakeholders so we can be in a position to start working on building the migration or other development needed prior to a migration.

https://github.com/uiowa/uiowa/issues/5335 may be a good place to start

# Questions

- Combine content ty

[2022-06-28 16:03] joewhitsitt commented on #5321
I found a provisioned site that still had the original lb default content. From there, I am going to re-trace steps to see where this went wrong.

[2022-06-28 16:45] makurj opened #5405 "As a content creator, I would like to be able to schedule publishing a section and/or block for a certain period of time"
# Story

As a content creator, I would like to be able to schedule publishing a section and/or block for a certain period of time. For example, Section 2 or card X of the page should go live on Wednesday, July 6, 2022 through Friday, July 8, 2022. It would automatically get unpublished on Friday, July 8, 2022. This will be used for deadlines, event-related content, etc.

[2022-06-28 17:57] cory-skeers commented on #5405
Progress on https://www.drupal.org/project/drupal/issues/3208766 would be good if this is based on section(s). As is, sections are only tracked by a delta, so if it were set to un/publish Section 2 on X date, any changes to the ordering or additions to sections at or before Section 2 would change which section is to be un/published.

Blocks already have a UUID, so that could be feasible.

Otherwis

[2022-06-28 17:59] pyrello opened #5406 "IISC - Display project deliverable file using human readable name"
# Motivation

On the current IISC site, when a deliverable is attached to a project, the user can set a human-readable name and that is what displays. On the new site, we figured out how to bring that human-readable name over in the migration, but I cannot figure out how to get it to display.

# Proposed solution

Figure out the appropriate configuration that will allow us to use the human-readabl

[2022-06-28 18:03] joewhitsitt commented on #5405
Something to keep in mind is that scheduling content in general has been an up-hill battle so far based on our stack https://github.com/uiowa/uiowa/issues/723

[2022-06-28 18:28] pyrello opened #5407 "Epic - Adopt banner component from UIDS 4"
# Proposed solution
- [x] #5408
- [x] #5409
- [x] uiowa/uids#721
- [x] #8506
- [ ] https://github.com/uiowa/uids/issues/958
- [x] #4403

[2022-06-28 18:28] pyrello opened #5408 "Investigate implementing a component from UIDS 4"
Investigate and build a proof of concept demonstrating how to:
- [x] Set up NPM dependencies for UIDS Base to allow for using both versions of UIDS simultaneously. This was started in #5379, so this investigation can make use of that PR for this work.
- [x] Modify gulpfile script to allow for selectively choosing which UIDS 4 components  to use in `uids_base`.
- [x] Account for differences in how

[2022-06-28 18:30] pyrello opened #5409 "Audit usages of the UIDS 3 banner component in SiteNow"
# Proposed solution
Generate a list of all instances where the `banner.html.twig` template is used in `uids_base`,  custom modules, and site modules.

[2022-06-28 18:32] briand44 commented on #5403
likely a question around photo galleries, google news

[2022-06-28 18:32] briand44 commented on #5403
combining content types

[2022-06-28 18:54] pyrello commented on #4403
Created an epic from https://github.com/uiowa/uiowa/issues/4403#issuecomment-1168839243: #5407.

[2022-06-28 19:00] pyrello commented on #5406
This may be slightly related: https://www.drupal.org/project/drupal/issues/3122051

[2022-06-28 19:07] joewhitsitt commented on #5358
If you encounter this, get a copy of your terminal activity so we can try and track this down. Due to sensitive contents, save to text and put in MS Teams

[2022-06-28 19:23] briand44 opened #5410 "Backup and deprovision international.prod.drupal.uiowa.edu"

[2022-06-28 19:55] briand44 opened #5411 "Transition College of Pharmacy from APR profiles to uiowa profiles"
As a College of Pharmacy site owner, I would like to display people on my website from Directory Profiles rather than APR Profiles, since APR is being phased out.

# Additional Info
This should happen on Monday, July 18th

The current directory lives at https://pharmacy.uiowa.edu/people. We should keep that directory path going forward.

A conversation is ongoing in regards to handling redirects f

[2022-06-29 14:30] cory-skeers commented on #5405
Another thought I wanted to get down:

Would the overall page need to be editable while going through this scheduled un/publishing, or would it be possible to "lock" the content (aside from the block/section that need to go up and down)? It could be dramatically easier to handle if there can be a content freeze during it, including being able to use section deltas instead of waiting on UUIDs.

[2022-06-29 16:45] joewhitsitt commented on #5321
Each of these test steps have gone through the process of `dcer` the content (node, media), updating the sitenow.info file, running `dcem` and doing a fresh install on sandbox (deleting files, dropping db, cr, drupal:install)

- Recovered an old version of the default_content layout builder to confirm it wasn't an issue with current versions/patches.
- Updated old default content to set blocks to

[2022-06-29 17:18] pyrello commented on #4767
@joewhitsitt Can you explain this a little bit more?

[2022-06-29 17:38] pyrello commented on #4767
After looking at this and thinking it through a little bit here is where I am at for how to set it up:
- Add a "Fixed bottom" region to our theme to handle the placement of this content.
- Need to determine what fallback placement looks like when there is not enough screen real estate, probably just on mobile. Should it be placed after the content before the prefooter region?
- Add a set of refere

[2022-06-29 17:52] joewhitsitt commented on #4767
Um. I think initially, there was a thought about using tags to determine where this fixed bottom would show. (e.g. all pages with iowa-mba). I was trying to capture the thoughts that I missed out on specific concerns.

[2022-06-29 18:19] joewhitsitt commented on #4767
Seems like the viewbook actually has this higher up in page for mobile. Is this where pre-content region with a fixed bottom option comes into play. pre-footer would also have a fixed bottom option and so the order on mobile would be content, footer, fixed pre-content, fixed pre-footer or pre-content, content, pre-footer, footer depending on what is set.

I say for MVP that isn't necessary but cou

[2022-06-29 18:34] bspeare commented on #4767
Thinking ahead with the work in https://github.com/uiowa/uiowa/issues/5371,  https://github.com/uiowa/uiowa/issues/4716 - is there a way we could show these on mobile through our menu toggle?   What if we want to use this for the home page actions of Apply, Visit, and Request Info?  These types of actions are often concealed within the mobile dropdown.

<img width="485" alt="Screen Shot 2022-06-29

[2022-06-29 19:35] joewhitsitt commented on #5321
- Tried deleting component showcase and making a new page with a banner image. Did not fix.
- Repurposing the component showcase as the "one" page with media layout builder content works. Did notice the footer contact block was missing. Not sure if that happened previously with this work, but will start to check that going forward.
- One thing that hasn't been tried yet is repurposing component sh

[2022-06-29 19:58] briand44 commented on #5410
Backup has been created, thanks Joe

[2022-06-29 20:54] briand44 commented on #5410
deprovisioned

[2022-06-29 20:54] #5410 closed, assigned to nobody

[2022-06-29 21:11] joewhitsitt commented on #5321
Repurposing the component showcase, reverting to defaults and populating it with the "new homepage" content provides a solution to move forward. Still don't know why.

[2022-06-29 21:44] joewhitsitt commented on #5367
Marie had started this work in https://github.com/uiowa/uiowa/pull/5390 but ran into hurdles and transitioned to support shift.

[2022-06-29 21:50] joewhitsitt commented on #5367
Our bad for not capturing this on the issue but we had quite a bit of Slack conversation on this. Starting with a fresh PR, avoiding "concept3d" in naming things (in case of a vendor switch later on), adding to sitenow_media_wysiwyg, defining schema (https://iowaweb.slack.com/archives/C0164FNN1PV/p1655903873980259),

https://iowaweb.slack.com/archives/C0164FNN1PV/p1655908943899629

[2022-06-30 14:29] pyrello commented on #4261
This is desired for the 91st Meridian site.

[2022-06-30 16:05] pyrello opened #5414 "Add translator field to article content type to platform?"
This would be a entity reference field set up like the author field.

[2022-06-30 17:26] pyrello commented on #5321
Not totally sure how this is helpful:
- The relevant details of this seem to be happening in `Drupal\block_content\BlockContentAccessControlHandler` in lines 75-80: https://git.drupalcode.org/project/drupal/-/blob/9.5.x/core/modules/block_content/src/BlockContentAccessControlHandler.php#L75-80
- This triggers the instantiation of `Drupal\block_content\Event\BlockContentGetDependencyEvent`: https:/

[2022-06-30 17:39] pyrello commented on #5321
It seems like @joewhitsitt may have found us a way out of this mess for the moment. However, I suspect that if we want to be able to make changes to default content in the future, it will require understanding why it didn't work quite right this time. I'm going to dig through the default content issue queue and potentially open an issue if I don't find anything.

[2022-06-30 19:20] pyrello commented on #2670
Seems like we might want to pair this with the introduction of container queries to UIDS 4. It seems like we might be able to set rules that account for the single column situation specifically.

[2022-06-30 19:31] joewhitsitt commented on #5321
@pyrello thanks for your investigation into this. Not sure where you found the time! I thought I was going crazy. Might still be.

[2022-06-30 21:20] mjoneill commented on #4767
Would an approach like that described above preclude our ability to do something like this (if we wanted to):

* buttons appear anchored on the side on initial page load (see image)
* on scroll down event, side buttons are replaced by the bottom button bar (see image)

I think this might help with some of the challenges moving to exposed menu for uiowa.edu (#4716) and seems to be a familiar intera

[2022-06-30 21:22] joewhitsitt opened #5415 "Signage - Switch to resourceAlias for room name"
# Issue

Customer requested an addition to the Outlook Hours API that Signage uses to provide an alternative resource name. This new property is always set and falls back to the original resource name if an alternative is not provided. `resourceAlias`

https://hours-test.iowa.uiowa.edu/api/Hours/signage/tr-hssb-0005

# Proposed Solution

- [x] Replace the $room variable in $events['data']['room'][

[2022-06-30 21:23] mjoneill commented on #4767
adding @meganyoder for visibility

[2022-06-30 21:26] pyrello commented on #4767
No, it would not.

@bspeare and I were just talking about some options for how to handle the fallback scenario (mobile) and I think the best idea is to produce some basic mockups to show what the various options would look like so we can get a sense of where were are actually going to put this region in the flow of the page.

[2022-06-30 21:29] mjoneill commented on #4767
OK.

Looks like Maryville went with a slightly different approach that seems to be trying to address to a similar opportunity...
Sharing without endorsement...just an example.
https://www.maryville.edu/bu/accounting

[2022-06-30 21:36] mjoneill commented on #4767
![](https://nmcdn.io/e186d21f8c7946a19faed23c3da2f0da/347bed083486499c98f1609efa95efbd/files/2--cal-sticky-cta-min.gif)

[2022-06-30 21:41] mjoneill commented on #4767
ASU with a similar convention...
CTA is actually a form embed.  once it scrolls off the page, a stickybar with a CTA appears at the bottom

https://start.asuonline.asu.edu/study/language-degrees/

[2022-06-30 21:51] joewhitsitt opened #5416 "Remove additional check if default_content changes or card display button field is refactored"
Coming from https://github.com/uiowa/uiowa/pull/5346#issuecomment-1171481671, https://github.com/uiowa/uiowa/pull/5346/commits/49146cafc4209feb0cb663df87262ae6cea5cbe5

# Reference
https://github.com/uiowa/uiowa/blob/49146cafc4209feb0cb663df87262ae6cea5cbe5/docroot/modules/custom/sitenow_pages/sitenow_pages.module#L22-L26

[2022-06-30 22:03] joewhitsitt commented on #5416
An update hook would be needed to touch any existing default content that be installed this way and never touched. Sites requested that didn't start staging content right away?

[2022-07-01 13:38] pyrello commented on #2670
Also, this seems like something that we would want in UIDS as part of expanded layout options.

[2022-07-01 13:38] pyrello commented on #4716
I think we could accomplish this by having the relevant blocks output in multiple regions on the page (and in the DOM) and then use utility classes to show and hide them at certain breakpoints to accomplish the right treatment.

[2022-07-01 13:41] pyrello commented on #4767
CTA is actually a form embed. once it scrolls off the page, a stickybar with a CTA appears at the bottom

I think the notable innovation here is that the action in the button is tied to an anchor on the page, rather than directing the user to another page.

[2022-07-01 13:58] pyrello commented on #5321
When we get to the point of considering alternatives:
- https://www.drupal.org/project/content_synchronizer
- Another idea discussed was to generate the content in code, although as pointed out by @joewhitsitt, this would require us to manually construct and make any changes based on feature updates.
- Another idea would be to create a migration module that gets installed that runs a migration bas

[2022-07-01 14:01] joewhitsitt commented on #5321
should we just go ahead and turn this into an issue "consider replacing default_content"?

[2022-07-01 14:28] pyrello opened #5418 "Consider alternatives to default content for new site demo content"
# Motivation

As part of investigating #5321, we discovered that our default content implementation is pretty brittle. Based on that, we may want to figure out a different path forward.

Here are some ideas that have been discussed:
- https://www.drupal.org/project/content_synchronizer
- Another idea discussed was to generate the content in code, although as pointed out by @joewhitsitt, this would

[2022-07-01 14:29] pyrello commented on #5321
Done.

[2022-07-01 14:34] joewhitsitt commented on #5414
Unless this becomes a bigger slice to incorporate more of https://schema.org/Article, IMO, this seems like site specific. Perhaps using the body to capture this and then making sure folks are trained to fill the SEO settings schema Article fields correctly if you don't think splitting off an additional field is worth it.

[2022-07-01 14:49] #4788 closed, assigned to makurj

[2022-07-01 14:54] pyrello commented on #5414
The reason this is being considered this way is because adding an additional field to the article content type will mean that the layout builder layout will be different and will require another full config split of `core.entity_view_display.node.article.default`. This is a maintenance burden for the team over time as we make changes to the article content type. This doesn't happen as much as with

[2022-07-01 15:20] pyrello commented on #4767
I want to add a little bit more context with regard to my thinking about the placement of a region that becomes a fixed (sticky) container:

This discussion is largely oriented towards thinking about where the region is displayed when it can't be displayed as fixed and the most likely case for this is on a mobile device below a certain breakpoint.

# Site chrome (spoiler: nope)

Everything in the

[2022-07-01 15:22] joewhitsitt commented on #5414
With CS2 this is a smaller burden than it used to be and the use-case for just a translator field doesn't fit the 80% in my opinion. If anything, providing a translation and wiring that up to supplement the article sounds more beneficial.

That said, the notable missing pieces I see that more folks would make use of are author and publisher which are captured with existing fields but not wired up

[2022-07-01 15:24] joewhitsitt commented on #4767
I forgot about how our layouts are structured. Nevermind

[2022-07-01 15:29] pyrello commented on #5414
CS2 does not make this particular case less of a burden. Otherwise, we wouldn't be having this conversation. This is one of the outlier cases that requires a full split of the config object because of sections not having UUIDs. We can't patch LB templates because they don't get merged together correctly.

I certainly can appreciate the 80% philosophy as a good starting point for thinking about whe

[2022-07-01 19:05] briand44 commented on #4825
@mjoneill I added another checkbox to the IS to make sure we don't forget about Signage. There is currently a Signage pane that allows embedding a live view of the Pentacrest. This will break if we don't account for it somehow.

It may be as simple as deprecating that widget and allowing folks to use the existing video pane functionality. We would likely need to communicate that out prior to creat

[2022-07-01 20:25] mjoneill opened #5426 "Transition stories.uiowa.edu to SiteNow v3"
As a reader of OSC stories, I can read content on a Sitenow v3 website.
-or-
As a dev team, I do not have to maintain the stories site on deprecated Drupal 7 codebase

[2022-07-01 20:27] mjoneill commented on #5426
Converted this note to an issue because @meganyoder recently interviewed Chris about the website and captures some info related to future site needs in a SNv3 migration.

Not urgent, not close work.

[2022-07-01 21:36] mkyoder commented on #5426
Met with Chris C. on 6/29 about stories.uiowa.edu. Would like similar functionality as what is on the current site.

Chris wants to keep:
- All the features of the story content type

Chris wants to keep the following brick types:
- Add text
- Add callout
- Add photo
- Add gallery
- Add quote
- Add related items
- Add touts
- Add video
- Add timeline
- Add detail list

Chris does not want to keep:

[2022-07-01 22:22] joewhitsitt commented on #5367
Made progress on this today. Initially followed media_entity_remote_image's formula, but starting to remember the downsides.

- [x] Capture zoom level - by referencing media_entity_remote_image and `$properties['zoom']` in #5268
- [x] Capture name on the wysiwyg add form (I think @e-marie-w showed this working with a recent commit)
- [x] Adjust formatter to be an image render that uses image view

[2022-07-03 18:21] mjoneill commented on #4825
Working on this today.

Note, Nick T from OSC shared these for embeds:

The YouTube stream he originally shared shared THAT WE SHOULD NOT USE is: `https://youtu.be/lGOSajRs2c4`

[2022-07-03 18:31] mjoneill commented on #4825
I have created the page on the OSC website that contains the Pentacrest livecam feed.

- Page exists at: https://osc.uiowa.edu/pentacrest-webcam
- I've asked Google to index this page via Search Console
- Page has a menu entry under Resources
- Meta Description added that optimizes for "Pentacrest Webcam".  I suspect it will take some time for search engines to catch up.
- I suspect there is somet

[2022-07-05 13:41] bspeare opened #5427 "Config Split export not working as expected"
# Problem

Pretty much since we adopted Config Split 2.0, there have been little issues that we have had to work around that usually involve deleting files that get exported that we don't want or manually editing files to add or remove sections that should or shouldn't be included in a config file. This issue is a place to collect examples so we can start to figure out how to address these issues.

[2022-07-05 14:16] pyrello opened #5428 "Tag listing page - Set global sorting options"
# Story

As a site owner, I can choose to have my tag pages display most recent content or content in alphabetical order (first listing sticky content in both cases) so that I can use the tag pages to reflect the intention behind the content.

# Motivation

There are cases, like on the Iowa Superfund website, where tags are just used as a way to show a list of content related to a topic and that c

[2022-07-05 15:24] pyrello opened #5429 "Update UIDS text modifier classes in configuration and code"
# Motivation

Based on https://github.com/uiowa/uiowa/pull/5402#issuecomment-1175183382, we will need to update our text modifier classes from UIDS. At some point in UIDS 3, we switched from using classes like `.uids-component--` to `.element--`. We are probably going to switch these classes again in UIDS 4 to use `.text--` as a prefix to indicate all classes that modify text output. When that hap

[2022-07-05 17:01] #5321 closed, assigned to joewhitsitt

[2022-07-05 17:36] bspeare commented on #4767
I put together an animated gif to illustrate the mobile collapse option outlined in https://github.com/uiowa/uiowa/issues/4767#issuecomment-1172458139.

 ![ezgif-4-4d4c24ed2e](https://user-images.githubusercontent.com/1036433/177384378-70db3cf7-d1fe-4bb1-bbbd-f80d357ccec3.gif)

[2022-07-05 18:34] briand44 commented on #4767
Grooming conversation - initial slice scoped to pre-pre-footer functionality that allows only button component. Second slice would add sticky functionality and design work.

[2022-07-05 18:41] bspeare commented on #4767
Example showing the first item only.

![ezgif-2-d3c3e2daef](https://user-images.githubusercontent.com/1036433/177394148-65ee5d0e-cf73-4a9d-a28c-12073db28689.gif)

[2022-07-05 19:08] pyrello commented on #4767
Because of how we are wanting to implement this, it is agreed that the best way to do it is via a dedicated button component. That mean that #2873 is a blocker for this issue.

[2022-07-05 19:11] briand44 commented on #2873
Sounds like we want to do this in 4.x of UIDS so https://github.com/uiowa/uiowa/issues/5408 should happen first.

[2022-07-05 19:12] pyrello commented on #2873
In grooming we discussed how to proceed with this this issue. The main issue is whether there is any reason to consider implementing this with the 3.x version of the UIDS button component. Implementing the 4.x version of the button requires us to figure out #5408 first, but doing the 3.x version of this now means that we are committing to changing it over later. The 4.x version of the button is mo

[2022-07-05 19:32] pyrello commented on #5408
This initial investigation is going to focus primarily on the UIDS 4 button component, as that is necessary for us to move forward with #2873

[2022-07-05 19:54] briand44 commented on #4825
Based on the recommendation to use permanent embed code rather than a YouTube embed, it is starting to look like it makes more sense to refactor the Pentacrest Webcam signage pane.

This likely needs to happen prior to a Vulture redirect and definitely before retiring the server.

[2022-07-05 20:11] bspeare commented on #5336
https://sitenow.uiowa.edu/news/2022/07/updates-june is ready for review.

[2022-07-05 20:33] pyrello commented on #5357
We are going to handle this via manual migration.

[2022-07-05 20:33] #5357 closed, assigned to nobody

[2022-07-06 14:21] joewhitsitt commented on #5336
i plan to take a look

[2022-07-06 15:14] bewoldt commented on #3614
What's the difference between Full and Original?

[2022-07-06 15:15] joewhitsitt commented on #3614
From the discussion, this is what I heard/thought:

- The original options were based on the available functionality at the time and might not be the best for what our platform has become or how it is being used.
- Survey our users to see what they use?
- Ask our collegiate group about how they approach wysiwyg images.
- Keep existing content markup in mind if we are retiring or repurposing option

[2022-07-06 15:20] joewhitsitt commented on #3614
Full scales down to 2592w and is still processed/responsive. That is less important now that our upload has a max allowed that scales down as well.

Original was need for animated gif support (no processing) for images uploaded under the max.

[2022-07-06 16:22] joewhitsitt commented on #5361
Time scale will change (10 years of data to start then switch to 5-year, 10-year, 15-year type segments)

[2022-07-06 16:58] pyrello opened #5432 "Consider dropping responsive image support?"
# Motivation

Based on this article (https://medium.com/@julienetienne/responsive-images-in-2020-vision-10caa8e9b993), it seems like responsive images may not be as useful as they once were, especially given the complexity and overhead of implementing and maintaining their usage. Focusing instead on using a technology like WebP might be a better use of our bandwidth ;)

# Proposed solution

- [ ]

[2022-07-06 17:01] pyrello commented on #5432
This seems relevant: https://gorannikolovski.com/blog/drupal-92-will-support-webp-images-out-box

[2022-07-06 21:27] joewhitsitt commented on #5336
- Should we capture https://github.com/uiowa/uiowa/issues/5375

Otherwise I think this looks fine.

[2022-07-06 22:11] pyrello commented on #3868
I just updated the IS to include a story that had become part of the work in #4643 but was not reflected here: _As a content editor, I can group pieces of writing together in a collection and control the order in which they display._

When I originally put this together, taxonomy seemed like the obvious option to use as a collection for pieces of writing. The taxonomy entity is field-able, so extr

[2022-07-07 13:24] mjoneill commented on #5414
Oy...  well, let's start with "translator".  To me, that seems like a good fit for an academic institution, as translation is a line of academic inquiry, etc.  While not every site will need to make use of that field, I could see that potential being important for comparative literature, classics, many literature-based programs, and certainly other disciplines.

Other terms that describe a person

[2022-07-07 13:29] mjoneill commented on #5414
Additional note: You can see the schema elements for Article here: https://schema.org/Article. There are more specific article types that may be appropriate:

- [AdvertiserContentArticle](https://schema.org/AdvertiserContentArticle)
- [NewsArticle](https://schema.org/NewsArticle)
- [Report](https://schema.org/Report)
- [SatiricalArticle](https://schema.org/SatiricalArticle)
- [ScholarlyArticle](ht

[2022-07-07 13:33] joewhitsitt commented on #2661
One thing to keep in mind with this, is that many of our customer views so far have needed custom styling. Maybe this could be paired with some general views styling.

[2022-07-07 13:54] joewhitsitt commented on #3868
Before reading your comment, it sounded like weight module (Admissions already has it). The multi-value method does sound painful for more than a couple items. As I read on, it started to sound like, dare I say it, the Book module (policy.clas already has it).

[2022-07-07 13:55] quamsta commented on #3868
@pyrello

Couple of approaches we've considered and actually used for this sort of collection/publication containing multiple pieces:

1. Is using Drupal's menu system an option for ordering pieces of writing "under" a collection page hierarchically? In our old SilverStripe system, for publications we'd just put pages under other pages in the order we'd like to see them. Screenshot below:
<img wid

[2022-07-07 14:23] joewhitsitt commented on #5428
This approach can be achieved using the work I did in https://github.com/uiowa/uiowa/pull/4133

[2022-07-07 14:25] joewhitsitt commented on #5414
@mjoneill thanks for responding. I had a feeling I was going to open something up big with my question so I edited my comment to try to limit it a bit by specifying Article. That didn't work. ;)

We have the schema article functionality turned on (nested within the Article's SEO Settings). I'd start there if you want to look around. There are many open-ended types to extend it.

I guess the point

[2022-07-07 14:33] pyrello commented on #5432
Lullabot has an article about webp where they seem to be indicating that they still believe in responsive images, although they don't go into much detail: https://www.lullabot.com/articles/speed-drupals-front-end-webp-images

They refer to their original 2017 article about responsive images: https://www.lullabot.com/articles/fundamentals-of-responsive-images

[2022-07-07 14:35] pyrello commented on #2661
Updated the IS and included a bullet point related to this.

[2022-07-07 14:41] mjoneill commented on #5414
Yep, I've had a look at that. Should I assume that what I can see there as an editor(webmaster) is the full extent of Schema available to us for the Article type?

[2022-07-07 14:57] joewhitsitt commented on #5414
Ah. Yes, the schema.org: article dropdown has been restricted. Missing for webmasters is:

- aggregateRating
- dateModified
- datePublished
- hasPart
- mainEntityOfPage
- publisher
- review
- speakable

Some of these have the types that you have mentioned to make it more specific.

https://git.drupalcode.org/project/schema_metatag/-/blob/8.x-2.x/schema_article/config/schema/schema_article.metatag_

[2022-07-07 15:18] joewhitsitt commented on #5128
Notes from the meeting:

- the date range _could_ be satisfied by semester based tagging to be paired with topic tag to filter on.
- private: not listed on main listings, but keyword displays on events.uiowa.edu?

[2022-07-07 15:19] pyrello opened #5433 "Remove "The Media library doesn't modify the 'media' view if installed in a profile" patch"
# Motivation

It looks like the related issue was closed: https://www.drupal.org/project/drupal/issues/2992056. So it seems like this patch is no longer needed.

# Proposed solution

- [ ] Remove the patch from composer.json
- [ ] `ddev composer update --lock`

[2022-07-07 16:19] pyrello commented on #5389
I was hoping that 9.4 might be the end of the line for some of our Drupal core patches, but alas only one can be removed: #5433 (looks like we could have removed it a while ago). The rest are all at "Needs work" or "Needs review"

[2022-07-07 16:51] bspeare commented on #5350
Here's a look at the page in https://github.com/uiowa/uiowa/pull/5430.

https://user-images.githubusercontent.com/1036433/177827759-b1a9a955-6b62-46d1-a2bd-41eab9f4f244.mov

[2022-07-07 18:43] joewhitsitt commented on #5403
I added a few questions to the IS. In terms of migration, I am mainly curious about what content is being moved over, how we plan to handle their custom wysiwyg formatting (image floats, typogrify) and if image galleries need to be inline with articles or linked to.

[2022-07-07 18:56] pyrello commented on #3868
_tl;dr: The book module is showing its age and makes for a clunky UI for managing the relationship I'm trying to create._

@joewhitsitt Your comment piqued my curiosity. At first I was thinking that the book module would probably be getting moved to contrib soon (like what's happening with the [aggregator](https://www.drupal.org/project/aggregator) and [forum](https://www.drupal.org/project/forum)

[2022-07-07 18:59] joewhitsitt commented on #3868
Here is the book -> contrib issue: https://www.drupal.org/project/ideas/issues/3265493

In D7, I recall doing some adjustments and applying a patch to get it to work better. I can try to dig that up to see how it relates to your comments

Update: We were doing all kinds of modifications for teach.its

- https://www.drupal.org/node/502430 - Allow the book outline functionality on non-book-enabled n

[2022-07-07 19:32] #5109 closed, assigned to nobody

[2022-07-07 19:32] #5263 closed, assigned to cory-skeers

[2022-07-07 19:32] #5399 closed, assigned to nobody

[2022-07-07 19:42] bspeare opened #5435 "SiteNow updates news article - July"
## Issue/Solution ##
Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  * See the previous month's article as an example.
  * Bulle

[2022-07-07 19:42] bspeare commented on #5435
https://sitenow.uiowa.edu/news/2022/07/updates-july

[2022-07-07 19:43] bspeare commented on #5336
This is complete.

[2022-07-07 19:43] #5336 closed, assigned to bspeare

[2022-07-07 20:05] #5350 closed, assigned to bspeare

[2022-07-07 20:18] bspeare commented on #4825
You could use something like https://codepen.io/djlad/pen/grdOrj for the responsive iframe.   Add that CSS to the custom OSC theme in 703.

[2022-07-07 21:21] joewhitsitt commented on #5415
Turns out we never implemented the outlook widget on uihealthcare signage. I keep forgetting. One line change here...

[2022-07-07 21:22] joewhitsitt commented on #5415
Before:
<img width="736" alt="Screen Shot 2022-07-07 at 4 11 31 PM" src="https://user-images.githubusercontent.com/4663676/177873570-d63c55be-3580-4410-b654-e7551dd39148.png">

After:
<img width="661" alt="Screen Shot 2022-07-07 at 4 11 05 PM" src="https://user-images.githubusercontent.com/4663676/177873566-b17edb7c-be40-43bd-b305-735ed294098c.png">

[2022-07-07 21:29] GaryRidgway commented on #4004
[I have made a code example here that uses our styles on an accordion made with the `<details>` tag.](https://codepen.io/purple_salmon/pen/VwXaLaw) I know it is a bit messy, but it is a proof of concept that this will work, and it will use a lot less JS.

[2022-07-07 21:32] pyrello commented on #3868
@quamsta This definitely seems like a possibility, although I need to play with it a bit to see how it would work.

We could potentially grab the menu entity and use the ordering that is built into it to get previous and next items, so that is potentially workable.

The site is question is one that I hope for the owners of it to be able to update on their own, so this type of approach would probab

[2022-07-07 21:44] #5415 closed, assigned to joewhitsitt

[2022-07-07 22:02] briand44 commented on #4825
I pushed a branch with some css provided by Ben. Can someone take a look at this before I deploy? To take a look:

- clone the OSC website locally on 703.
- Update the Pentacrest Webcam page (node/986) to use

`<div class="responsive-iframe"><iframe allowfullscreen="" src="https://camstreamer.com/embed/zf6BUqMXKquweRwKYXtwqJ8c0VRIkXq0KdvMZs4d"></iframe></div>`

- checkout the branch pentacrest_sty

[2022-07-07 22:57] pyrello commented on #5408
A few notes to get started:
- There is no generic button template in `uids_base` currently, so there is no central template to update as a starting point.
- Based on that, the best marker we have for where buttons are being implemented is the `bttn` class that we use as the base class for all buttons in UIDS 3: https://github.com/uiowa/uiowa/search?q=bttn
- As for getting an early look at the pote

[2022-07-08 13:53] joewhitsitt commented on #5406
Noticed this while poking around.

<img width="371" alt="Screen Shot 2022-07-08 at 8 45 49 AM" src="https://user-images.githubusercontent.com/4663676/178004427-b53411bd-92bf-4aed-9d53-d0bc72ddff81.png">

<img width="558" alt="Screen Shot 2022-07-08 at 8 52 30 AM" src="https://user-images.githubusercontent.com/4663676/178005526-ac417bd4-e6e2-4862-9ec1-e243f307ac03.png">

<img width="729" alt="Scree

[2022-07-08 13:55] joewhitsitt commented on #4825
I can test this

[2022-07-08 14:04] pyrello commented on #5406
Just noting that if we go this route, we will need to update the IISC project migration to set the human readable name to this description field.

[2022-07-08 14:34] makurj opened #5436 "Update Housing Links"
From: Yoder, Megan K <megan-yoder@uiowa.edu>
Sent: Friday, July 8, 2022 8:38 AM
To: ITS Help Desk <its-helpdesk@uiowa.edu>
Cc: Matthes, Anne E <anne-matthes@uiowa.edu>
Subject: Res hall pages sidebar

Hello!

Can we change the URLs that these res hall pages (https://housing.uiowa.edu/residence-halls/burge-hall) point to below? I believe these are hard coded throughout all res hall pages and broke

[2022-07-08 14:52] joewhitsitt commented on #4825
👍 Fills out nicely:

<img width="569" alt="Screen Shot 2022-07-08 at 9 51 50 AM" src="https://user-images.githubusercontent.com/4663676/178016772-b4fe0dd2-f446-40e3-b9a0-a86f85cc048d.png">

[2022-07-08 15:36] briand44 commented on #4825
Deployed, updated embed code to wrap in div and remove inline styles, cleared cache, purged that path. https://osc.uiowa.edu/pentacrest-webcam

[2022-07-08 15:43] briand44 opened #5437 "Signage solution for Pentacrest Webcam"
As a consumer of the Digital Signage service, I would like any existing Pentacrest webcam live streams to continue to work as well as any new Pentacrest webcam live stream panes once the server hosting https://webcam.iowa.uiowa.edu/live/ is retired.

# Additional Info
Work has been done in https://github.com/uiowa/uiowa/issues/4825 to transition the live stream to osc.uiowa.edu. We will likely nee

[2022-07-08 16:15] joewhitsitt opened #5438 "August Dependency Updates"
We should try to review and merge in dependency updates on a monthly basis. Until this is automated more, here is a guide:

- Issue summary should contain a list of the dependabot pulls in scope for reference, however, the actual work should be done in a single PR to minimize composer conflicts.
- Dependencies related to our frontend build tools (not executed on the websites) are usually safe to m

[2022-07-08 16:19] #5341 closed, assigned to makurj

[2022-07-08 16:44] briand44 commented on #5070
conversation with a partner, "Have you thought about building this as a basic page..." goal is to identify if there are any reasons why that couldn't work, and understand if they grok how to do it or they need a prototype from us to start
Verify that they DO NOT need filtering.

It was discussed with @meganyoder and it sounded like basic pages are a fine path forward as long as the requirements ca

[2022-07-08 17:03] briand44 commented on #5436
@meganyoder Does the subtitle text need to change for either of these as well or just the link?

`Become a member of the Associated Residence Hall.`
`Connect with Center for Student Involvement and Leadership.`

https://housing.uiowa.edu/residence-halls/burge-hall

[2022-07-08 17:10] mkyoder commented on #5436
@briand44 No. The subtitle text can stay the same. Just the link needs changed. Thank you so much!

[2022-07-08 18:09] cory-skeers commented on #5406
This is using the generic File field instead of Entity Reference, right @joewhitsitt? I think that would be okay overall, but the files then don't end up getting media entities created for them, and miss out on the benefits there. I was going to look into the preprocess route (limiting to IISC in scope), but wanted to make sure I wasn't missing anything, because otherwise using the description wor

[2022-07-08 18:13] joewhitsitt commented on #5406
No. This is using the entity reference media but the display settings formatter for the field on the media entity is "generic file" There would be no change to the field base with any of my proposed options.
docroot/core/modules/file/src/Plugin/Field/FieldFormatter/GenericFileFormatter.php

[2022-07-08 18:16] cory-skeers commented on #5406
Okay, thanks for the clarification! That looks like a much more appealing route than I'd thought.

[2022-07-08 19:06] briand44 commented on #5436
I've pushed the updated links and cleared caches and purged varnish. Closing this.

[2022-07-08 19:06] #5436 closed, assigned to briand44

[2022-07-08 19:11] makurj opened #5439 "IRRC (D7) reCAPTCHA v3 installation"
https://iowaweb.slack.com/archives/C0164FNN1PV/p1656622004305319

Emails from Sean Thompson in ITS Web Inbox.

[2022-07-08 19:28] mkyoder commented on #5436
Thanks so much! Looks great!

[2022-07-08 20:06] quamsta opened #5441 "Smooth scrolling behavior causes excessive bouncing when editing blocks in Layout Builder"
Related: https://github.com/uiowa/uiowa/issues/4647 and https://www.drupal.org/project/drupal/issues/3152561

# Problem
When performing some actions on a block (e.g., removing a block) in Layout Builder, an editor will occasionally get bounced around the page excessively. ~~This is likely due to the introduction of `scroll-behavior: smooth` in [https://github.com/uiowa/uiowa/issues/3688.](https://

[2022-07-08 20:13] cory-skeers commented on #5441
Possibly related to https://github.com/uiowa/uiowa/issues/4647? That's about the scroll-to-top behavior after removing a block, not the bouncing that might occur so it's a bit different, but could be some overlap.

[2022-07-08 20:19] quamsta commented on #5441
@cory-skeers Yeah, that seems similar! This issue in particular seems to occur not only when removing a block, but in other situations (like adding a section, which I'm going to edit my original comment and add a video for that scenario too)

[2022-07-08 20:28] joewhitsitt commented on #5441
I later mentioned when adding a block as well. https://github.com/uiowa/uiowa/issues/4647#issuecomment-1104271034

I don't think separate issues are needed. Since you have video demo on this one, can we just add the drupal.org issue to this and close the older one?

[2022-07-08 21:07] quamsta commented on #5441
@joewhitsitt Yeah, I'm now seeing this may be an upstream thing that's more like the issue you filed. I thought maybe it was our implementation of `scroll-behavior`, but after looking at that drupal.org issue and doing some minor testing in the inspector, this may be a more complicated than I originally thought. I'll add a link to your issue and the drupal.org one in the original post. Thank you!

[2022-07-08 21:13] quamsta commented on #5441
@joewhitsitt I edited the original issue, but I did note that if `scroll-behavior: smooth` is removed from our CSS, the bouncing is quite a bit less pronounced. The viewport still scrolls to the top jarringly, but there's less bouncing between the transition between scrolling to the top/bottom so I left my proposed solution as a way to partially resolve this.

[2022-07-08 21:49] joewhitsitt commented on #4647
Closing in favor of https://github.com/uiowa/uiowa/issues/5441

[2022-07-08 21:49] #4647 closed, assigned to nobody

[2022-07-11 14:34] makurj opened #5442 "As a content creator on Signage, I am unable to use the dropdowns to schedule a sign"
Potential Solutions:

1. Signage: Patch https://www.drupal.org/project/drupal/issues/3292211
2. Adminimal theme
3. Our own CSS

More details: https://iowaweb.slack.com/archives/C0164FNN1PV/p1657310435684399

[2022-07-11 16:06] pyrello commented on #5441
I said during standup that we had a separate CSS (SCSS) library for when Layout Builder is loaded, but I guess we actually hadn't implemented that yet and it was just something that had been talked about. I started a PR (#5444) to facilitate those changes.

[2022-07-11 16:43] #5400 closed, assigned to nobody

[2022-07-11 17:00] pyrello commented on #936
I have not yet encountered a case where I need something like this, so I'm going to close this issue.

[2022-07-11 17:00] #936 closed, assigned to nobody

[2022-07-11 17:02] pyrello commented on #1514
Since this is related to a content type that never got traction or usage, I'm going to close this.

[2022-07-11 17:02] #1514 closed, assigned to nobody

[2022-07-11 17:03] pyrello commented on #1881
The potential benefit of having something like this would be the ability to include relevant information in the report, which doesn't always happen otherwise.

[2022-07-11 17:05] pyrello commented on #723
Can we close this or #5405 as a duplicate? Also, it seems like this is not blocked anymore since we have drush cron in place.

[2022-07-11 17:08] pyrello commented on #725
If we are eventually going to have different map providers for inserting maps, we may want to change what we are calling the static map media entity being added in #5390 to clarify it as a U of I map embed vs. a generic map embed.

[2022-07-11 17:10] pyrello commented on #722
After avoiding comments for this long, I would love it if we could never turn them on. They are a vector for spam and often times don't age well. I would suggest that we close this and re-open it if we ever get real pressure to add them.

[2022-07-11 17:18] pyrello commented on #1671
Just to clarify, is a custom engagement an instance where a customer hires an outside vendor to do work on the platform? Or is it indicating that the customer can pay OSC to do stuff, which seem incorrect? @mjoneill you might want to take a look.

[2022-07-11 17:19] pyrello commented on #1905
Wondering if there is still any need for this? I don't think so from my end. I'm inclined to close it.

[2022-07-11 17:30] pyrello commented on #2342
Made a couple updates to the IS based on reviewing module descriptions again.

[2022-07-11 17:37] briand44 commented on #1905
I'm in favor of closing.

[2022-07-11 18:00] joewhitsitt commented on #1905
heads up we still have https://github.com/uiowa/uiowa/issues/859 and i do like the idea of moving away from webmaster when it aligns with other work (https://github.com/uiowa/uiowa/issues/1905#issuecomment-1040446018)

[2022-07-11 18:04] joewhitsitt commented on #723
I think scheduling content in this situation was things like publishing an article. I think #5405 is more specific to individual sections/blocks within layout builder pages

[2022-07-11 18:05] joewhitsitt commented on #722
Fair enough. I figured we would have run into it by now. This issue doesn't provide much value as-is.

[2022-07-11 18:05] #722 closed, assigned to nobody

[2022-07-11 18:41] pyrello commented on #723
Ah, yeah. I had not read the story closely enough.

[2022-07-11 18:46] briand44 commented on #859
Do we get a lot of user management support issues in D9? Seems like since webmasters have the ability to manage users we shouldn't be getting much. I could see value in this for V1 but does it make sense to put effort in v1 as we work to eliminate it?

[2022-07-11 19:03] joewhitsitt commented on #859
Rick scaled it back to user management at one point.

We get v3 support requests (how do i do X?) that is often in our documentation but requires some hand holding or logged-in inspection (page isn't showing up because it is not published or added to the menu system wrong).

As the platform ages, user management stuff will be more common (this person left, we need access). We also haven't eliminat

[2022-07-11 19:42] joewhitsitt commented on #725
This is more of a map "collection" of local map features on an interactive map (e.g. zoom, pan, click).

I think static map separates itself from that (just an image) and is vendor agnostic in case we want to add or replace sources. I think the label could be changed to "Static Map Image"

[code]

For this map collection, it would be neat to allow different base maps, but I imagine that will be li

[2022-07-11 19:53] makurj commented on #5439
@cory-skeers the secret and key in the email thread and on the site (https://iowareadingresearch.org/admin/config/people/captcha/recaptcha) are identical. Why was V3 suggested? Joe's advice for V1 is RCv2.

[2022-07-11 19:56] joewhitsitt commented on #5439
Related Slack conversations:

https://iowaweb.slack.com/archives/C0164FNN1PV/p1656513437152939

https://iowaweb.slack.com/archives/C0164FNN1PV/p1656622004305319

https://iowaweb.slack.com/archives/C0164FNN1PV/p1657567360599479

[2022-07-11 21:41] joewhitsitt commented on #5442
Since the apps are covered by RA and this might not get merged/released, I say we just load a simple css file with the solution using the uiowa_signage info file for both signage and healthcare signage https://www.drupal.org/docs/7/theming/working-with-css/adding-style-sheets-from-info-files

Adminimal solves this issue but could cause other issues

[2022-07-11 21:48] mjoneill opened #5446 "Privacy Acknowledgement Popup"
As a visitor to any uiowa.edu web experience, I acknowledge the link to the UI Privacy Statement.

- Acknowledgment will last for [6 months], after which time the acknowledgment will re-appear.
- Acknowledgement dismisses the popup experience.
- Acknowledgment granted on SiteA.uiowa.edu will be applicable to any site on *.uiowa.edu
- The experience should be platform agnostic (visitors to websites

[2022-07-11 21:50] pyrello commented on #5405
At first I was thinking about this in terms of trying to get scheduled workflows working for individual blocks, which seems pretty hard (see my original comments below). But it occurs to me that if we could limit the parameters on this to one set of changes to all blocks on a page that would be published on a date and revert back to another version on another date, that we don't have to get into a

[2022-07-11 21:58] mjoneill commented on #5446
I'd be curious to have a grooming conversation around what would be the best way to approach something like this (acknowledgement).  Build in UIDS4? Buy OneTrust for just Acknowledgement and make it available to all devs?

[2022-07-11 22:00] mjoneill commented on #5446
There was a desire to have acknowledgement trave with visitors to healthcare properties and vice versa.  I said that might not be possible (3rd party cookies?).

Also strikes me that if we go this route, we might have a collision with off-brand sites.

[2022-07-11 22:02] joewhitsitt commented on #5446
Does this replace https://github.com/uiowa/uiowa/issues/3943?

Oops. Read Joe: "This issue is connected to Strategy Epic: [Privacy/GDPR Consent Solution ](https://github.com/orgs/uiowa/projects/1#card-42012637)even though this story is NOT to implement cookie consent (just privacy acknowledgement)."

[2022-07-11 22:30] mjoneill commented on #5446
Thank you for the link to #3943!  Was trying to find that!

[2022-07-11 23:07] pyrello opened #5448 "Change names of administrator role to developer, webmaster role to administrator"
Per https://github.com/uiowa/uiowa/issues/1905#issuecomment-1040446018.

[2022-07-11 23:09] pyrello commented on #1905
I'm closing this in favor of #859 and #5448. Please re-open if you think this specific issue needs to stay open.

[2022-07-11 23:09] #1905 closed, assigned to nobody

[2022-07-12 13:31] cory-skeers commented on #5439
The secret and key they provided are for RCv3, and incompatible with v2. I wasn't aware of the issues with using rcv3 on v1, and thought we could still handle it with a module change, but we'll need to go back to the customer and have them update their account to v2 and provide those new keys.

[2022-07-12 13:32] makurj commented on #5439
Do they need to update the keys as they are already on the site or identical to the ones on the site?

[2022-07-12 13:34] briand44 commented on #5442
https://www.drupal.org/project/drupal/issues/3292211 is getting quite a bit of recent activity.  We may find out soon if this is going to get committed. Currently RTBC. I would be fine going with the patch if we have any issues with custom css.

[2022-07-12 13:36] cory-skeers commented on #5439
The keys that are currently on the site are the ones they provided--I put them in and from that found out they were v3 keys and incompatible. If they update the account to v2, they should get a new set of key/secret that will need to replace the ones entered on the site.

[2022-07-12 13:37] makurj commented on #5439
That makes sense. Joe and I were wondering if you had started work on this. I will reach out to the customer.

[2022-07-12 13:39] cory-skeers commented on #5439
Great! Sorry for all the confusion there.

[2022-07-12 13:42] cory-skeers commented on #5405
That's what I was hoping for with this, too. I think it could also be a lot easier if, in addition to limiting it to a full page's edits, if there could be a content freeze over the scheduled content updates. That would be a pretty big concession for editors to give, but then it would only need the standard set of revisions and the ability to mark two revisions to switch between on certain dates.

[2022-07-12 13:44] makurj commented on #5439
No worries :)

[2022-07-12 13:44] #5406 closed, assigned to cory-skeers

[2022-07-12 13:50] pyrello commented on #5405
Probably we should take some time to investigate this core module: https://www.drupal.org/docs/8/core/modules/workspace/overview

[2022-07-12 13:54] joewhitsitt commented on #5405
I haven't had time to really think about this, but was going to bring up Workspace before discussion went too far one way.
Another potential path https://www.drupal.org/project/smart_content which I found a while back when Michael was interested in A/B testing. I am wondering if there is a time based condition that could be leverage here.

Dealing with revisions sounds... Fun.

[2022-07-12 14:01] cory-skeers commented on #5405
I'm also very interested in A/B testing as an option sometime...and would be interested in checking both modules for this and other work.

Full transparency: Revisions was how a lot of embargoed content used to (may or may not still be the case) get handled on the other side of the river, and was where my mind went as an option. BUT the main reason that worked was there was no distributed authorsh

[2022-07-12 16:19] e-marie-w commented on #5367
Fixed a couple small things mentioned during standup. I will wait on any name change until we've decided on a path forward. I want to spend some time trying to fix the thing where an error message appears on every field of the compound field instead of just the affected one. If it isn't possible or simple I will pivot to investigating the dynamic map option.

[2022-07-12 18:05] briand44 commented on #5411
Need API Key for Directory Profiles

[2022-07-12 18:13] briand44 commented on #5070
Create mockup in housing.prod.drupal.uiowa.edu

[2022-07-12 18:26] joewhitsitt commented on #5437
Healthcare does have it. Not sure if it is in use though: uihealthcaresignage-dev/docroot/sites/all/modules/custom/uiowa_signage_modules/uiowa_signage_panes/plugins/content_types/pentacrestcam.inc

[2022-07-12 18:28] pyrello opened #5451 "Update `drupal/entity_print` dependency to stable version"
After #5452, we will need to update `entity_print` to a stable version again when one comes out. This is supposed happen later in the week (today is 07/13/2022).

<details>
Tracking issue for https://www.drupal.org/project/entity_print/issues/3295590
</details>

[2022-07-12 18:50] briand44 commented on #1503
See if Esploro is an option.

[2022-07-12 19:01] briand44 commented on #2873
Icon integration could be a future slice. Default to arrow.

[2022-07-12 19:04] briand44 commented on #2873
Yes, we should limit number of characters allowed for button. Number is up for debate.

[2022-07-12 19:16] briand44 commented on #5441
#5444 is being addressed. Upstream issue needs resolved to fully close this issue.

[2022-07-12 21:09] briand44 commented on #5411
I've updated proposed solution, feel free to edit/update if I got it incorrect. I will add any additional information after meeting on Thursday.

[2022-07-12 21:25] briand44 opened #5453 "Create mockup of an LLC page"
As a Housing site owner, I would like to see a mockup of an LLC page.

# Additional Info
Mockup using basic page

This will help us understand what can be done currently, if this needs to be structured, what additional development is needed and provide something to get feedback on.

# Requirements

They would like the ability to have some intro text explaining the LLC on each individual LLC.

They

[2022-07-12 21:34] joewhitsitt commented on #4767
After hearing the discussion in the Tippie meeting and assuming that whatever we develop will be restricted to buttons, I wonder if we are adding unnecessary complexity by trying to reuse a block component and place it via layout builder. I raised a question in Slack about whether or not we are able to limit the number of items within a section column. This would be another thing to workaround to

[2022-07-13 14:28] pyrello commented on #4767
@joewhitsitt Can you unpack this a bit more? I'm unclear what this actually looks like. It seems like this would require that we build a separate and parallel system to the pre-footer region admin UI we built. One of the benefits of the approach I laid out before was that we could hook into that existing system. And the improvements we make for this would also benefit the pre-footer.

Assuming tha

[2022-07-13 14:59] briand44 opened #5454 "A11y issues with Oembed pages"
SiteImprove is flagging Oembed pages for a couple accessibility issues. An example of an Oembed page is https://dentistry.uiowa.edu/media/oembed?url=https%3A%2F%2Fyoutu.be%2FZYryBApSHnY&max_width=0&max_height=0&hash=_BOtesPCR5PqFhOhBliziNlOTtESmzIKvrlDkL13Bqc

Page has no title - https://my2.siteimprove.com/Accessibility/998437/NextGen/Issue?ruleId=1&pageSegments=&issueKind=1&exceptTags=1,2&confor

[2022-07-13 15:17] joewhitsitt commented on #4767
That is why I asked before pitching this, though as I was seeing in the mobile mocks, there isn't a whole lot else that could fit. Three buttons already seemed complicated.

To unpack though:

- Region Settings could still be used.
  - Two buttons (Add region item, Add Button Thingamajig)
  - Sticky footer region entity reference allowing up to three thingamajig references (I think this would have

[2022-07-13 16:13] pyrello commented on #5441
So... to be clear, the real problem here is the jump to top that happens on certain actions in LB. The secondary scrolling that happens to put the highlighted block in the frame is necessary/desirable because most actions in LB open the settings tray, which changes the width of the main page container. The content re-flows and then the highlighting brings the block back into the center of the view

[2022-07-13 16:24] briand44 commented on #5403
Are there any custom feeds or API's that need to be accounted for on the new site so we are not breaking integrations with other campus sites?

[2022-07-13 16:36] bspeare commented on #5371
This is important real estate for the links on uiowa.edu and admissions.uiowa.edu and these sites would like to keep those links there and are not interested in https://github.com/uiowa/uiowa/issues/4767 as an alternative.   We either need a way for sites to choose the mobile placement of these links or repurpose a different menu like `external-quick-links` to collapse for mobile.

<img width="417

[2022-07-13 17:07] pyrello commented on #5441
I definitely went down a bit of rabbit hole on this :|

By stepping through what happens after the block removal form class gets called, I can definitively say that whatever is triggering the jump to top action does not happen until after the AJAX fragment for the form gets returned. The `transitionend` event listener in `layout-builder.js` doesn't cause this: Disabling it merely causes the page t

[2022-07-13 17:07] briand44 commented on #5437
Poked at the audit a bit but only briefly. Not sure if I am heading down the right track but ran this SQL query:
`SELECT pe.entity_id
FROM panelizer_entity pe, panels_pane pp
WHERE pp.did = pe.did
AND pp.type = 'pentacrestcam'`

15 results in prod but wanting to understand these more. Started looking at these entities but going to have to switch gears soon.

[2022-07-13 17:56] bspeare commented on #4767
Maybe we do want to leave the door open for this to be more than buttons in the future?  The comment from the meeting yesterday about turning this into a general mobile toggle has somewhat changed my mind on this.   Perhaps we would want to put something different in there for uiowa.edu or admissions.uiowa.edu in the future?

I would like to make sure that we can only add one item/block per layout

[2022-07-13 17:57] pyrello commented on #4767
That it is complicated as envisioned and would be more complicated with the introduction of other elements does not preclude that it will eventually happen.

After looking at this a bit more closely, I'll admit that this idea would not require as much duplication as I originally thought. I do believe that the UX is going to be confusing, specifically having the "Add button Thingamajig" button. It

[2022-07-13 18:03] #5451 closed, assigned to nobody

[2022-07-13 18:06] bspeare commented on #4767
Placing a CTA into a one-column layout might be useful in the future to have sticky on pages.  I prefer to only use the buttons to start, but future components might be useful in this region.

<img width="1728" alt="Screen Shot 2022-07-13 at 1 04 05 PM" src="https://user-images.githubusercontent.com/1036433/178800844-fc7e7eed-c786-46d6-9164-75db7ad76fc7.png">

[2022-07-13 18:13] joewhitsitt commented on #4767
Going with @pyrello's original suggestion just extends what we are already doing and would be easier to pivot from if we needed to change directions later (existing region items can fallback and just be assigned to prefooter). Because we can't rule out the possibility of this space being used for more than just buttons pokes serious holes in the suggested alternative.

[2022-07-13 18:39] makurj commented on #5439
V2 keys set up, default changed to reCAPTCHA.

[2022-07-13 18:39] #5439 closed, assigned to makurj

[2022-07-13 19:03] briand44 commented on #5437
Looked at these 15 entities and it looks like they are probably a mix of test signs and some that look like they are likely in use. Some examples that look like in use are:

- College of Public Health - IT - https://signage.uiowa.edu/node/73
- Collefe of Public Health - IT - Informatics? - https://signage.uiowa.edu/node/2017
- UIHC Hospital Administration - UCC - https://signage.uiowa.edu/node/111

[2022-07-13 19:07] joewhitsitt commented on #5437
Higher usage than I thought when I suggested doing away with it. Thanks for looking into it.

[2022-07-13 19:08] mjoneill commented on #5437
Sounds like you probed and learned its usage is non zero.

[2022-07-13 20:49] briand44 commented on #5189
Make sure users cannot pull an infinite amount of events at once.

[2022-07-13 20:57] briand44 commented on #5189
pager and limit should play nicely together

[2022-07-13 21:01] briand44 commented on #3809
Work to be done as part of https://github.com/uiowa/uiowa/issues/5189

[2022-07-13 21:01] #3809 closed, assigned to nobody

[2022-07-13 21:20] joewhitsitt commented on #5128
Brian brought up a good point about the summary request. We could start making use of it on SiteNow (extra "show summary" option), but for it to be used elsewhere (non-sitenow, events.uiowa.edu), coordination would have to happen.

[2022-07-13 21:31] joewhitsitt commented on #5403
Generally as it relates to the migration, I think the above is a good set of questions that allow us to start work on a migration. I do foresee more questions coming up as we work on it or depending on their answers to the above so it will likely take more than one-sprint to run in DEV.

I am calling this issue good. Let the migration work begin.

[2022-07-13 21:36] cory-skeers commented on #5318
This one's a little different. Our current webform blocks don't have a place to add a title (on the block--a webform might have a title or equivalent as an HTML element on the webform itself). Right now it's getting added as a label and being displayed through that, which isn't provided as an editable element.

The fix for the uneditable title is to not put it into the label field (and/or turn off

[2022-07-13 21:49] briand44 commented on #5437
I did not find any usage on Healthcare Signage but since the widget is available there, my opinion is we should update it there as well.

[2022-07-13 21:53] joewhitsitt commented on #5318
Is adding the headline field as simple as adding the unique id field? https://github.com/uiowa/uiowa/blob/main/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L150

Just want to point out that the webform block (provided by the contrib module) is different than our other blocks, including the views blocks which we forked/extended for other reasons.

[2022-07-14 13:53] cory-skeers commented on #5318
I could be off, but I'm pretty sure it'd be more complicated than that. We have the helper methods for processing the headline field in different contexts, but I think it'd still be some form of programmatically adding the field to the form, processing/storing it with the block, and building/rendering it. I think it's all stuff we're doing elsewhere, but still, non-trivial to add.

[2022-07-14 16:40] briand44 commented on #5411
Adding blocked label since we do not want to make this switch until Monday, July 18th.

[2022-07-14 16:46] briand44 commented on #5411
A few notes after meeting about this today:
- Confirmed this should happen on July 18th.
- API key is in an email in its-web

Directory Profiles config
- Title = Person Directory
- API Key - in its-web
- Path = /people
- Page size = 30
- Introduction text = Empty

[2022-07-14 17:48] joewhitsitt commented on #5454
I wonder if there is an upstream issue for this because there were steps previously taken to not have local media paths

[2022-07-14 18:05] joewhitsitt commented on #5318
without diving into it, i'd lean to the blank text area with headline filled out for p2lb. webform headline in the future (if it is possible without forking/extending like listblock)

[2022-07-14 20:18] cory-skeers opened #5460 "Add a headline field to webform block"
As a site editor, I would like to be able to include a headline directly with a webform added via layout builder.

# Proposed Solution
Form alter, validation/submit alter, and preprocess to add the field, store it in the block config, and render (if completed) for webforms, so that headlines can be added when webforms are added as a block via layout builder.

[2022-07-15 14:40] joewhitsitt opened #5461 "Panopto/Static Map thumbnails are not cleaned up when media entity is deleted"
# Problem
We are programmatically creating thumbnails for the Panopto and Static Map media entities, but when the entity is deleted, these thumbnails are not cleaned up.

# Steps to reproduce

- Create a panopto or static map that generates a thumbnail.
- Find the thumbnail in your site's files directory
- Delete the media entity, run cron. Note that the thumbnail still exists.

# Proposed solutio

[2022-07-15 16:40] joewhitsitt commented on #5189
Will be pushing initial progress up here shortly.

Notes:

- referencing aggregator pager for this.
- currently have it setup to get page 0 based on number of items to retrieve the total count. a second call is made if a pager request is made that is not page 0. This limits how much is queried at once. Each page query is cached.
- the number of results field is working correctly IMO (events block)

[2022-07-18 14:01] briand44 commented on #5411
This is no longer blocked.

[2022-07-18 14:27] makurj commented on #5442
Patch hasn't been committed as of right now. Going with CSS.

[2022-07-18 14:28] joewhitsitt commented on #5411
Page size doesn't seem to be accurate

Update: reported the issue to https://git.uiowa.edu/java/profiles/-/issues/529

[2022-07-18 15:07] joewhitsitt commented on #5411
Remaining issue activity here: https://iowaweb.slack.com/archives/C0164FNN1PV/p1658154647122949

Closing

[2022-07-18 15:07] #5411 closed, assigned to joewhitsitt

[2022-07-18 16:42] joewhitsitt commented on #5442
Once in PROD and solution confirmed, communicate/resolve the cherwell ticket 1437037

[2022-07-18 18:41] makurj commented on #5442
UI Signage working great. Deployed to Healthcare signage also. Someone on campus will need to test.

[2022-07-18 18:52] #5441 closed, assigned to nobody

[2022-07-18 21:02] joewhitsitt commented on #5403
One of the features that currently exists related to workflows is that when an article is no longer embargoed and published, it changes the created date to "now" before save. This came up recently with our Demo announcements where the article was published but the creation date was before the last time the RSS reader checked so it didn't pull it in on the next run.

[2022-07-18 21:04] joewhitsitt commented on #5453
As I go along on this, I am going to make some notes about how this could be easier:

- Allow residence halls to be selected through the featured content block (site-split)
- Allow Person reference via Blockquote block - Future slice: https://github.com/uiowa/uiowa/issues/2881
- Events keyword per learning community to start with
- Obviously a solution for pronouns would be helpful: https://github

[2022-07-18 22:00] joewhitsitt commented on #5453
Is this the blue info alert text or am I missing something else?

[2022-07-18 22:04] briand44 commented on #5453
Yes, it is. I believe there is some sort of paragraphs implementation on the existing site that allows for text or choosing a major (taxonomy)

[2022-07-19 14:04] #5442 closed, assigned to makurj

[2022-07-19 14:51] pyrello commented on #5438
Making a note that this PR is going to require extra work and testing: #5324. This is because the new version of the dependency changes a setting that introduces a lot more deprecation errors. Each of those errors will need to be fixed and we'll need to test that the corresponding functionality still works.

[2022-07-19 14:59] joewhitsitt commented on #5453
Staging work here: https://housing.prod.drupal.uiowa.edu/connect2biz

Feel free to review while in progress

[2022-07-19 16:09] joewhitsitt commented on #5453
I believe I have accounted for the elements specified in this issue. Reviewers, have at it.

[2022-07-19 16:32] mkyoder commented on #5453
This looks great so far! Here are some notes/questions at first glance:

**Related community experiences**
I know that this is not on these pages since we determined we are not doing the filtering for these like we did with the residence hall pages.

A related question I have to these is: since there is no filtering, do you recommend building out a basic page with some text at the top to tell abou

[2022-07-19 16:35] mkyoder commented on #5453
Also, if this is not the type of feedback you are looking for, please let me know. :)

[2022-07-19 16:54] bspeare commented on #5453
The page looks good!  I have a few suggestions on the first part of the mockup:

- Featured image: Use a banner instead of the featured image and move the "Apply" and "Explore" buttons into the banner? Use banner pre-title for "Living Learning Communities" and that would free up more room for the Community details block.
- Community details: center all of the headings and info in the community det

[2022-07-19 17:53] briand44 commented on #1503
Added blocked label until it is determined if Esploro is an option https://iro.uiowa.edu/esploro/research-units.

[2022-07-19 18:08] briand44 commented on #5438
Setting up initial list and PR is a good pairing opportunity.

[2022-07-19 18:09] pyrello commented on #1503
Sent a message about using Esploro to contacts at the library.

[2022-07-19 18:20] mkyoder commented on #5453
Reached out to housing this afternoon in order to get events for content.uiowa.edu. When I hear back from them with event information, I can add it into content.uiowa.edu.

[2022-07-19 18:52] briand44 commented on #5187
Probe to see how we can pull past and upcoming events events together and sort them.

[2022-07-19 21:49] joewhitsitt commented on #5453
@bspeare I tried some of your suggestions but I am not sure I pulled them off.

@mkyoder thanks for your comments. here are some responses:

- Ultimately think of these as a template you can start with to create consistency across your site but that you can modify (to the extent a page can) to fit the specifics of a particular LLC.
- I think consolidating pages for this content would work. Since t

[2022-07-20 00:13] briand44 commented on #5446
Grooming conversation determined that we should start an initial slice in UIDS while also reaching out to OneTrust. We should take advantage of any previous work in https://github.com/uiowa/uiowa/pull/4107 if possible as part of the UIDS work.

[2022-07-20 14:35] pyrello opened #5467 "Update mglaman/drupal-check to 1.4.0"
This update changes the settings for the `drupal-check` tool to enforce more strict standards for deprecated code. When running `blt tests:deprecated`, there are around 50 new errors that get generated that will need to be fixed and tested.

# Proposed solution
- Run `ddev blt tests:deprecated`.
- Review each error and fix it.
- Test changes.

[2022-07-20 14:58] pyrello opened #5468 "UI Press - Sale price logic is still not quite right"
Sale price should be showing up on this book but is not: https://uipress.prod.drupal.uiowa.edu/books/american-pipe-dream

[2022-07-20 14:59] pyrello opened #5469 "Dispatch correspondence feature for D9"
Similar to: https://registrar.uiowa.edu/correspondence?audience=student

[2022-07-20 15:03] bspeare commented on #5453
@joewhitsitt I think it looks good.   I made a couple of proposed design adjustments at https://housing.prod.drupal.uiowa.edu/node/556/latest.  Feel free to revert to the previous version if you disagree.   Notably, I moved the "Why LLCs" to a card and the events section to the bottom of the page since it sounds like those might not be populated that much.

[2022-07-20 15:28] mkyoder commented on #5453
I looked at this again and this looks great! I realized I was looking at it not from a functionality perspective before. So sorry about that! After going over this page again: https://housing.prod.drupal.uiowa.edu/connect2biz, I think this looks great and will definitely work for us functionality wise. Once it is in a spot where I am able to clone it and add in real content, I will let you know if

[2022-07-20 16:17] briand44 commented on #5453
@mkyoder , have you had a chance to look at https://housing.prod.drupal.uiowa.edu/node/556/latest? Ben made a few adjustments mentioned in https://github.com/uiowa/uiowa/issues/5453#issuecomment-1190401677. Curious if you prefer how it is or those new adjustments? I think once we decide on that we may be in a place where you could replicate this page and try creating another LLC.

[2022-07-20 16:26] briand44 commented on #5187
I had a conversation with Education today and they confirmed the need for displaying both past and upcoming together. They are also on board with choosing a start and end date since they said they have some that are semester based and others that may be year based. As far as sorting their preference would be defaulting to oldest to newest but having an option to sort newest to oldest. They said th

[2022-07-20 16:51] mkyoder commented on #5453
Yep! Sorry I was getting a ‘page not found’ when I clicked on that even after being logged into housing. But I can see it now. I'll take a look at it.

[2022-07-20 17:03] mkyoder commented on #5453
This looks great as well! However, I think I’d prefer how it was before. From a user perspective it makes sense to keep events and courses together in order to show a user the “package” so-to-speak of what they would get if they joined this LLC (e.g. courses and events to attend).

I think it makes sense to keep the CTA of “Why LLCs” of how it was previously as a separate call out piece since it w

[2022-07-20 17:27] bspeare commented on #5453
@mkyoder thanks for looking!  I have reverted it to the previous version.  I think this is ready to move on to the next step.

[2022-07-20 18:08] #5367 closed, assigned to e-marie-w

[2022-07-20 18:28] briand44 commented on #5087
Closing this. Pronouns are a nice to have for Housing and not a requirement for launch. They will take advantage of them once we have service wide integration.

[2022-07-20 18:28] #5087 closed, assigned to nobody

[2022-07-20 18:49] briand44 commented on #5453
Closing this. If any issues arise when @mkyoder replicates this for additional LLC's we can create follow up issues.

[2022-07-20 18:49] #5453 closed, assigned to joewhitsitt

[2022-07-20 20:28] #5254 closed, assigned to nobody

[2022-07-20 20:28] #5318 closed, assigned to cory-skeers

[2022-07-20 21:16] bspeare opened #5472 "Audit text format usage in blocks and figure out how to add `<ul>` to minimal"
# Story

As a site owner, I can add a `<ul>` within a card block so that I can showcase content with lists.

# Proposed solution

<img width="997" alt="Screen Shot 2022-07-20 at 4 08 09 PM" src="https://user-images.githubusercontent.com/1036433/180082689-f159996f-7302-4bee-924b-a0fba6539720.png">

- Audit existing block components with text areas to determine if there needs to be any additional fo

[2022-07-20 21:18] bspeare commented on #5472
@joewhitsitt mentioned in Slack that this could create visual problems with left/right aligned cards in four column layouts.  Here are some screenshots below.

I think left/right aligned cards in four column layout with images already look terrible so maybe this wouldn't change much?

Current:

<img width="1398" alt="Screen Shot 2022-07-20 at 4 14 23 PM" src="https://user-images.githubusercontent.

[2022-07-20 21:39] joewhitsitt commented on #5403
Notes from 7/20 meeting:

- Experiment combining content types, using type field to show/hide/require specific fields.
- Maintain related content (maintain existing references) (see HR. different than the tag based related content)
- Migrate photo gallery as basic page with image block link to the article using the related content. Maybe use first gallery image as the featured image for teaser ref

[2022-07-20 21:42] joewhitsitt commented on #5403
I wonder if we could tap into the current related content (tags) functionality and prioritize direct references from the content before falling back to similarly tagged content.

[2022-07-20 21:55] bspeare commented on #5403
Do we want to look into https://github.com/uiowa/uiowa/issues/4453 for Iowa Now photo galleries?

[2022-07-21 14:26] joewhitsitt commented on #5468
from Slack: "is the preprocess paragraph logic accounting for offset? should probably sprinkle in the cron cache tag too though"

[2022-07-21 14:27] joewhitsitt commented on #5469
I am curious to know more about what this is. Should this be a feature of dispatch?

[2022-07-21 14:48] joewhitsitt opened #5473 "Articles ListBlock more link settings link is wrong"
Links to: /admin/config/sitenow/sitenow-articles
Should be: /admin/config/sitenow/uiowa-articles

While working on this, check for other instances where our helpful links are not currently helpful.

<img width="463" alt="Screen Shot 2022-07-21 at 9 47 07 AM" src="https://user-images.githubusercontent.com/4663676/180243942-2fb84f78-12c8-46d3-b202-0a96a5340765.png">

[2022-07-21 15:06] briand44 opened #5474 "Transition Iowa Now to v3"
# Story

As an Iowa Now site owner, I would like to transition to SiteNow v3 and create a faculty/staff information hub so that we can share information on the latest SiteNow platform and serve as the go-to resource to for faculty/staff in addition to existing audience.

# Proposed solution

- [x] https://github.com/uiowa/uiowa/issues/5335
- [x] https://github.com/uiowa/uiowa/issues/5283
- [x] htt

[2022-07-21 15:08] briand44 commented on #5403
Closing this as we have come up with initial questions and discussed with Iowa Now partners.

[2022-07-21 15:08] #5403 closed, assigned to joewhitsitt

[2022-07-21 15:11] briand44 commented on #5283
@bspeare can this be closed as well? It looks like you incorporated the lates feedback.

[2022-07-21 15:13] bspeare commented on #5283
Yes! https://now.prod.drupal.uiowa.edu/news-faculty-and-staff is now updated.

[2022-07-21 15:13] #5283 closed, assigned to nobody

[2022-07-21 15:16] briand44 commented on #5283
Should https://now.prod.drupal.uiowa.edu/faculty-staff be removed?

[2022-07-21 15:18] bspeare commented on #5283
I archived it to avoid confusion.

[2022-07-21 15:41] pyrello commented on #5474
I think I have mentioned this before, but I am a fan of the idea of either a) changing the current field_image field on the article content type to allow multiple images or b) adding a new field for additional images. In either case, I would then present the additional images as a thumbnails under the featured image. When clicking the thumbnails, whatever our current lightbox solution is would pop

[2022-07-21 16:50] briand44 opened #5475 "70x security updates"
- [x] 701
- [x] 702
- [x] 703
- [x] Signage - RA
- [x] HC Signage - RA
- [x] Dentistry - RA
- [x] ICGOV - RA
- [ ] Grad?

[2022-07-21 20:00] bspeare commented on #5409
Do we need more than this for the audit?

# Templates

- https://github.com/uiowa/uiowa/search?l=Twig&q=banner

# Custom/Site modules

- https://github.com/uiowa/uiowa/blob/9876d09b7f65ce9290800381cf236ac5df600982/docroot/modules/custom/studentlife_topics/studentlife_topics.module
- https://github.com/uiowa/uiowa/blob/5781b81335f160b6ff1fd77f2317fe19c16bf1ba/docroot/modules/custom/layout_builder_c

[2022-07-21 20:13] bspeare commented on #5474
I'd like to see something done within the Articles page for a photo gallery as well.   Doing something like what @pyrello suggests above or turning on layout builder to use the image block seem like they would provide better value/UX.

[2022-07-21 20:17] briand44 opened #5476 "Ability to add a static map to residence halls"
Add a media field to the residence halls content type that allows only static map media type and render it. Discovery into display settings might be necessary.

[2022-07-21 21:35] #5476 closed, assigned to pyrello

[2022-07-21 22:04] joewhitsitt opened #5478 "Media reference allows more than the limit, prevents save."
# Problem

When adding new media through the Media Library, it's possible to add more than the allowed number of media items. This prevents the page from being saved and doesn't allow you to open the media library to fix the issue.

_Originally posted by @bspeare in https://github.com/uiowa/uiowa/pull/5477#issuecomment-1191955230_

# Steps to reproduce

- click to add media
- Add a new media in th

[2022-07-21 22:22] joewhitsitt commented on #5187
Essentially the `past` and `events` views displays of `event_instances_api` are sorts. They both take a mix of date ranges. `past` could be duplicated and named `reverse` or something and the checkbox on the block could be refactored to do that.

The block is still going to need to handle relative dates as it relates to `now` (especially existing blocks) but that an option could be selected to sho

[2022-07-21 23:22] pyrello commented on #5474
I would prefer a dedicated field or expanding the existing `image_field` over the layout builder approach is because I think it would be better to have a standard way of doing this. I can be persuaded otherwise, but I'm worried about a bunch of bespoke pages with image galleries implemented differently.

[2022-07-22 13:13] cory-skeers commented on #5474
I'd second this. I think there will still be a need for full layout builder articles as well in some cases, but the more that can be the exception, the better in my mind.

[2022-07-22 13:21] cory-skeers commented on #5468
Poking at this

[2022-07-22 13:40] mjoneill opened #5480 "Set up ClickCease for MBenning"
As a digital marketer, I have click-fraud prevention set up on my landing pages so that I'm not wasting money buying fraudulent clicks.

Install instructions
-  are in the ClickCease help center https://www.clickcease.com/
- I suspect we're going to implement through GTM...  2 local accounts based on landing pages identified (admissions and uiowa).  We would not want to implement this through the

[2022-07-22 13:45] mjoneill commented on #5480
Blocked while MB gets the account set up, etc...

[2022-07-22 15:00] cory-skeers commented on #5478
Was able to recreate this with the maps field:

1. click to add media
2. Add a new media in the modal, using a valid URL. Choose to "Save and Select"
3. Back at the main modal screen, click to add another new media
4. Add a new media in the modal, using a valid URL. Choose to "Save and Select" again.
5. Both newly created media items will be selected. Choose to "Insert Selected" and both will be a

[2022-07-22 15:13] cory-skeers commented on #5478
Can recreate on the Featured Image field using the steps above:

<img width="447" alt="image" src="https://user-images.githubusercontent.com/49074566/180469449-7762ee2e-f41a-4dd4-b369-ef8dd566b1c7.png">

It won't let the node save, erroring on the Featured Image field, but it also won't let me remove the excess media items or replace them with a different (single) item. Workaround then is to back

[2022-07-22 15:17] cory-skeers commented on #5478
Probable related issue: https://www.drupal.org/project/drupal/issues/3059955

[2022-07-22 15:52] pyrello commented on #5478
I don't understand how this has never come up before.

When I tried to replicate, I was using a node that I had already saved. It didn't not offer the "Add media" button in that case.

Thanks for looking into this, @cory-skeers!

[2022-07-22 16:45] briand44 commented on #5124
They shared this today https://iowa.sharepoint.com/:w:/s/vpr/comm/EVMj7xn2czNGolWrwcpkKuYBF-uLkGAXCf8LqIa7z1rrfQ?wdLOR=c38CCF83B-45DD-A642-B77F-70594C134444.

I will talk through it with them and provide addition details as we get closer to this work.

[2022-07-22 19:43] briand44 commented on #5124
The archive by date functionality included in that doc is referring to the ability to schedule unpublishing of pages on a certain date/time.

[2022-07-22 20:25] mkyoder commented on #5070
Hi!

I have all these built out now and populated with content and the functionality here works great! There are only two issues I encountered:

**Events**
I created a mock LLC event in content.uiowa.edu and set it as private so that it would not be discoverable on the events calendar but still pull into the site to test it. For some reason it is not pulling into the page. Attached is how I have s

[2022-07-22 20:25] mkyoder commented on #5070
![Screen Shot 2022-07-21 at 4 45 28 PM](https://user-images.githubusercontent.com/107870104/180543496-76f0bf73-4010-4e97-b719-af8d25a1052d.png)
![Screen Shot 2022-07-21 at 4 45 54 PM](https://user-images.githubusercontent.com/107870104/180543619-2f2d4a43-6fba-49
![Screen Shot 2022-07-22 at 3 13 12 PM](https://user-images.githubusercontent.com/107870104/180545414-50b47511-20d6-4f4a-8d13-525bead66f1

[2022-07-22 20:27] mkyoder commented on #5070
![Screen Shot 2022-07-22 at 3 15 17 PM](https://user-images.githubusercontent.com/107870104/180548127-5591d37b-c58f-4df2-808b-34e53f588cd6.png)
![Screen Shot 2022-07-22 at 3 16 02 PM](https://user-images.githubusercontent.com/107870104/180548158-05d1b3d1-8792-4476-ad66-8b165d072164.png)
![Screen Shot 2022-07-22 at 3 20 04 PM](https://user-images.githubusercontent.com/107870104/180548181-9e9e1984-b

[2022-07-22 21:15] briand44 commented on #5070
@mkyoder For the events issue, looking at the Arts LLC, it looks like you have the past events checkbox checked which limits the results to events in the past. Uncheck that and I think it should work.

[2022-07-22 21:21] briand44 commented on #5070
@mkyoder I updated the community details for the Arts LLC, is that what you are going for? I think you had a`&nbsp` after the text inside your `<span>`. I moved the `&nbsp` outside the `<span>`.

[2022-07-22 21:29] briand44 commented on #5475
Dentistry and ICGOV have been deployed to prod. I also ran updb in dev but there were no database updates. Signage RA is being goofy and I prefer doing Signage before HC Signage so I can test. Waiting to hear from support on what is up with RA for Signage.

[2022-07-25 13:21] briand44 opened #5482 "clone of vpma.jobs.uiowa.edu for search.csd.uiowa.edu"
# Proposed Solution
- [x] Determine domain name
- [x] submit site request on behalf of CLAS
- [x] provision site
- [x] sync vpma.jobs.uiowa.edu
- [x] SSL
- [x] data cleanup - webform submissions, user roles, etc.

[2022-07-25 14:44] briand44 commented on #5482
Michael's comment related to webforms...

Joe did that last time.

[2022-07-25 14:57] briand44 commented on #5437
I believe the url changed to https://camstreamer.com/embed/zf6BUqMXKquweRwKYXtwqJ8c0VRIkXq0KdvMZs4d

https://github.com/uiowa/uiowa/issues/4825#issuecomment-1178271562

[2022-07-25 15:06] mark-bennett-uiowa opened #5483 "Provision magidcenter.uiowa.edu on uiowa03 for migration to D9."
- [x] Update uiowa03 SSL certificate to cover this domain.
- [x] Provision site on uiowa03.
- [x] Prioritize this site for launch by the end of August or early September.

[2022-07-25 15:50] #5483 closed, assigned to mark-bennett-uiowa

[2022-07-25 16:33] joewhitsitt commented on #5475
I can help with 701-3 this afternoon

[2022-07-25 17:00] briand44 commented on #5071
Sounds like Housing is ok with using the collection component and manually adding this content. Since I don't believe there were any other existing needs for this functionality, I am going to close this. We can re-open if needed in the future.

[2022-07-25 17:00] #5071 closed, assigned to nobody

[2022-07-25 17:21] #5070 closed, assigned to nobody

[2022-07-25 18:48] joewhitsitt commented on #5475
701-3 are deploying or have been deployed.

[2022-07-25 19:25] briand44 opened #5485 "Article content type development to support migrating Iowa Now news"
As an Iowa Now website owner transitioning to SiteNow v3, I would like to use the article content type to support existing Iowa Now news related content types (In the News, News Feature and Achievements), so that all news related content can be managed in one place.

# Additional Info

Use type field to show/hide/require specific fields - types = in the news, news feature, achievement.
Locking to

[2022-07-25 19:55] joewhitsitt commented on #5437
Capturing Slack discussion: https://iowaweb.slack.com/archives/C0164FNN1PV/p1658773280902139

[2022-07-25 20:16] joewhitsitt commented on #5187
Been thinking about this for a bit:

- Duplicate `past` view display and name it `reverse`
- Create a select or radio that allows Sort to be set to Descending or Ascending (defaults to Ascending for upcoming)
- Add a boolean "Set specific dates" which if selected disables the relative text fields and shows the specific date field.
- Add relative start and end text fields
- Add a date field (collec

[2022-07-25 20:30] joewhitsitt commented on #5188
I think `\Drupal::cache('uievents')->set()` could be set with a longer duration based on whether the available`$params` `filters[startdate][value][date]` and `filters[enddate][value][date]` are both in the past. By checking to see both are true would handle instances where past and upcoming show in the same result.

[2022-07-25 20:56] briand44 commented on #5187
would like to chat through ^^ at some point

[2022-07-25 20:59] briand44 commented on #5482
csd.jobs.uiowa.edu was approved and CNAME created

[2022-07-25 21:22] GaryRidgway commented on #5482
https://github.com/uiowa/uiowa/pull/5486

[2022-07-26 14:45] joewhitsitt commented on #5187
Mid-sprint discussion summary:

- Suggested changing to a past/upcoming (default)/specific dates select instead of supporting separate relative date text fields.

[2022-07-26 18:04] joewhitsitt opened #5487 "Grad Admissions - Re-Export TVI related config"
tvi config on grad.admissions needs fixing for successful deployments on uiowa02

https://iowaweb.slack.com/archives/C8SM82ZFZ/p1658411501191969

[2022-07-26 18:07] joewhitsitt commented on #5487
make sure config that tvi touches is included in the site split and that the recent field_image related to tags is _not included_

[2022-07-26 18:43] joewhitsitt commented on #5485
I don't think the content lock is needed anymore. Might want to ask about the trigger that when it is published, the created date is updated to NOW.

[2022-07-26 18:47] briand44 commented on #5485
Let's scope a first slice to setting up site split, adding article types, showing/hiding/requiring fields based on type. Some fields that could be included in this slice... publication date, embargo, achievement category.

[2022-07-26 19:14] GaryRidgway commented on #5446
Sounds like we are splitting this in to two slices, and they will be as follows:

Slice 1: Do design of CTA that will be used for the acknowledgement. Construct in UIDS4 to see how we would add JS for this and offer options for this specific style of CTA. Then, implement this in to uids_base.

Slice 2: address what JAvascript actually needs to be added, and additionally hook in to cookies to save

[2022-07-26 19:20] joewhitsitt commented on #5487
See https://github.com/uiowa/uiowa/pull/5471 for similar type work

[2022-07-26 19:23] bspeare commented on #5409
@pyrello I think the GitHub search and the module files listed above give us enough information to move forward with the banner work.   Feel free to re-open this if you think there is more work left to be done.

[2022-07-26 19:23] #5409 closed, assigned to nobody

[2022-07-26 20:11] #5189 closed, assigned to joewhitsitt

[2022-07-26 20:41] briand44 commented on #5480
Added this to uiowa.edu... I'm using a trigger where `path equals /`. Not sure if this is the appropriate trigger to only fire on the home page? I'm not sure if this should fire if there was a campaign tracking id passed in as well? May need regex to handle that.

[2022-07-26 20:42] briand44 commented on #5480
Also, @mjoneill there was a workspace change where crazyegg was paused but that change hadn't been published. I abandoned that change in order to publish these changes.

[2022-07-26 20:44] joewhitsitt commented on #5187
Updated the issue summary to reflect our discussions at mid-sprint and grooming. The plan is to re-use this issue.

[2022-07-26 20:47] GaryRidgway commented on #5482
CSD is created, user not contacted.

https://jobscsd.prod.drupal.uiowa.edu/

[2022-07-26 21:00] joewhitsitt commented on #5437
https://iowaweb.slack.com/archives/C0164FNN1PV/p1658867688935519

Pulling down to test

[2022-07-26 21:10] joewhitsitt commented on #4613
This has come up a few times and could be causing issues for editors. I think we should stomp this out soon to reduce headaches later.

If folks want a friendlier path, they should use the redirect functionality (e.g. /admin/config/search/redirect) instead.

[2022-07-26 21:12] joewhitsitt commented on #4613
Labelling this as a bug since it can prevent editors from accessing the media edit form and require a developer to step in and fix.

[2022-07-26 21:17] joewhitsitt commented on #5437
Fun fact - There seems to be less delay with the new stream when comparing local and prod side-by-side. Also, it is darker/less washed out.

Seems to work for new and existing. hairline differences. Multiple also works fine.

APPROVED

[2022-07-26 21:24] briand44 commented on #5480
I updated the trigger to use `page path matches RegEx ^\/(\?(.*))?$` to account for campaigns and other query parameters.

[2022-07-26 21:30] briand44 commented on #5437
We still have the YouTube controls though right? If so, I may reach out to Nick or we may want to communicate this change if it will change appearance of existing signs?

[2022-07-26 21:43] joewhitsitt commented on #5437
YouTube chrome on load/reload yes. Hidden after moments. Based on the stackoverflow i posted in Slack, sounds like Youtube removed any control over of that stuff (i get why when i put on their shoes). Since it isn't crucial signage info, folks can remove if they don't like the change. is the signage listserv up to date?

[2022-07-26 21:57] briand44 commented on #5480
I did that on both UI Home Page and admissions.uiowa.edu containers.

[2022-07-26 21:58] briand44 commented on #5480
added to uiowa.edu, admissions.uiowa.edu, and admissions.uiowa.edu/first-year-visit-options

[2022-07-26 21:58] #5480 closed, assigned to nobody

[2022-07-27 13:48] joewhitsitt commented on #5187
going to poke a bit at the date field to see about collecting a start and end and how validation might be extended to check against min/max dates

[2022-07-27 14:05] makurj commented on #5437
So good to do this exact work on a feature branch for HC signage?

[2022-07-27 14:45] briand44 commented on #5475
signage and HC Signage are done... ran db updates in dev environments... no updates.

[2022-07-27 14:46] briand44 commented on #5475
Should we close this or move it to blocked waiting so Sean can have visibility to Grad College still needing updates?

[2022-07-27 16:06] briand44 opened #5490 "Iowa Now article types"
As an Iowa Now site owner, I would like to use SiteNow articles to manage different types of Iowa Now news and show/hide/require specific fields for each news type.

#Additional Information

#Proposed Solution

[2022-07-27 16:12] briand44 commented on #5490
Changed my mind and we will just use https://github.com/uiowa/uiowa/issues/5485

[2022-07-27 16:12] #5490 closed, assigned to nobody

[2022-07-27 16:14] #5487 closed, assigned to bspeare

[2022-07-27 17:40] GaryRidgway commented on #5482
Synced over the vpms.jobs site to this one, removed webform submissions, cleared old user roles, added mjcranston to users as webmaster
Resent email with extra info on changing old vpma data, sent to Mike Cranston, Ben Hill, and Mark Bennett

[2022-07-27 17:40] #5482 closed, assigned to nobody

[2022-07-27 18:57] joewhitsitt commented on #5187
By the looks of it, smart date range (date only) seems to do what we want. Makur pointed out that uipress sale date used separate core date fields but doesn't recall if there was a particular reason why. We can see how far we can get with smart date as that is the ideal going forward. https://github.com/uiowa/uiowa/issues/4320

`$block->get('field_uiowa_events_date_range')[0]->end_value` and `$blo

[2022-07-27 19:29] joewhitsitt commented on #5187
Should be able change the date picker limit by processing the form elements (value and end_value)

`$element["field_uiowa_events_date_range"]["widget"][0]["time_wrapper"]["value"]["#date_year_range"]`

However, additional form validation is needed to prevent submission of manually entered dates that extend beyond our min/max ideals.

[2022-07-27 20:02] #5408 closed, assigned to pyrello, bspeare

[2022-07-27 20:25] bspeare commented on #2873
I removed the blocked label now that https://github.com/uiowa/uiowa/pull/5379 is merged.

[2022-07-27 20:59] briand44 opened #5493 "Integrate Design Privacy Acknowledgement from UIDS4"
# Integrate Design Privacy Acknowledgement from UIDS4 into `uids_base`

- Implement https://github.com/uiowa/uids/issues/736 into `uids_base`.

[2022-07-27 21:01] briand44 opened #5494 "Implement js and cookies for privacy acknowledgement"
address what JAvascript actually needs to be added, and additionally hook in to cookies to save this for individual users as described at the top of this thread.

[2022-07-27 21:13] joewhitsitt opened #5495 "Events single page multiple-dates dropdown need more color contrast"
# Problem

https://www.w3.org/WAI/WCAG22/Understanding/contrast-minimum.html

Past dates on uiowa events single pages have insufficient color contrast.
~https://education.uiowa.edu/event/92671/0~
https://sandbox.prod.drupal.uiowa.edu/event/31316/21

Text color
 #999999 / rgb(153,153,153)
Background color
 #ffffff / rgb(255,255,255)
Contrast ratio
2.85 out of a required 4.5

WAVE shows a couple mor

[2022-07-27 21:23] bspeare commented on #5495
It might be worth doing https://github.com/uiowa/uiowa/issues/4916 with this work.

[2022-07-27 21:31] joewhitsitt commented on #4916
Is there a way this can be "used" but separate so that it doesn't muddy the line between local and dynamic events when we do https://github.com/uiowa/uiowa/issues/3458

[2022-07-28 13:54] joewhitsitt commented on #5315
For D9.4, 8.1.6 is recommended to position for D10 https://www.drupal.org/node/3295154

[2022-07-28 13:54] joewhitsitt commented on #5389
For D9.4, PHP 8.1.6 is recommended to position for D10 https://www.drupal.org/node/3295154

https://github.com/uiowa/uiowa/issues/5315

[2022-07-28 14:16] #5475 closed, assigned to nobody

[2022-07-28 14:59] #5468 closed, assigned to cory-skeers

[2022-07-28 19:48] briand44 commented on #5437
Blocked until we hear back from video team on if there are options to remove controls and info header.

[2022-07-28 19:53] bspeare opened #5498 "PHP error when creating a banner without a selected image/video or background color"
# Problem
Php error when creating a banner without a selected image/video or background color caused by https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/uids_base.theme#L683.

<img width="471" alt="Screen Shot 2022-07-28 at 2 50 29 PM" src="https://user-images.githubusercontent.com/1036433/181625052-55ef9859-fb6b-457e-a051-1c1c4077ebcd.png">

# Steps to reproduce

- Reporte

[2022-07-28 20:08] makurj commented on #5485
I would like to pair on this.

[2022-07-28 20:14] makurj commented on #5187
I'd like to continue pairing on this.

[2022-07-28 20:45] bspeare commented on #4916
@joewhitsitt do you mean a separate page design or are you referring to something else?

[2022-07-28 21:55] joewhitsitt commented on #4916
meaning that eventually, uiowa_events (ui events) will be split out from sitenow_events (local) and so if we define a event template it would live in sitenow_events or uids_base and get called into uiowa_events.

[2022-07-29 14:39] #5498 closed, assigned to nobody

[2022-08-01 14:30] joewhitsitt commented on #5435
Started to add a few bullets to the article. Please feel free to change if I didn't state the feature/fix correctly.

[2022-08-01 15:44] briand44 opened #5503 "Ability to control summary for events teaser"
# Story

As a College of Education event admin, I would like the ability to add a summary to events in content.uiowa.edu and have those summaries used as the teaser text on my website so that I have more control over what is output on event teasers.

# Proposed solution

- [x] Communicate in events-calendar Slack that we will be adding the summary option in Content Hub and making it available in t

[2022-08-01 16:08] bspeare opened #5505 "SSL certs for uiowa03"
# Certs for uiowa03

- *.its.uiowa.edu / its.uiowa.edu
- svp.uiowa.edu
- bijou.uiowa.edu
- scope.uiowa.edu
- dancemarathon.uiowa.edu
- lectures.uiowa.edu
- offcampus.uiowa.edu
- archaeology.uiowa.edu

[2022-08-01 16:32] bspeare opened #5507 "As a SiteNow editor, I can see the page title and featured image "stacked" for mobile"
# Story

As a Iowa Now editor, I can see the page title and featured image "stacked" for mobile so that the page title and featured image have better visibility.

Currently, article titles get a bit lengthy on mobile.

<img width="496" alt="Screen Shot 2022-08-01 at 11 15 43 AM" src="https://user-images.githubusercontent.com/1036433/182194717-cde1df8b-ffdc-4a17-98f4-c01fe61824d2.png">

# Proposed

[2022-08-01 17:21] briand44 commented on #5485
Updated the IS based on feedback.

- Types - In the News, News Feature, Achievement
- Will be migrating all articles
- Do not need to account for locking to prevent simultaneous editing
- Do not need to account for multiple sources - will migrate first source and url
- primary media will migrate to featured image, if a video append to body during migration - default to hiding featured image on art

[2022-08-01 18:47] bspeare commented on #5435
I added Stanley Museum to notable launches to make up for June.

[2022-08-01 19:43] e-marie-w commented on #3878
While working on the default styles, I noticed that for articles, events, and people, any custom paths (internal or external) for the Display More link are not captured when converted and instead the default Display More link for the block is used.

[2022-08-01 20:36] bspeare commented on #2670
I think we probably would want this to apply to all components stacked in any of the columns so I'm not sure we would need container queries for this.

To proceed, maybe we should:
- Add a `block-component` class to all blocks used in layout builder.
- Add a rule like:

[code]
- Add an option to remove the spacing through `Remove default component spacing` in the "Spacing" layout section options,

[2022-08-02 14:56] bspeare commented on #4767
Here are the mockups from Tippie:

<details>

![sticky_ctas_desktop (2)](https://user-images.githubusercontent.com/1036433/182405111-6eca75e0-324d-4859-802b-a66729be0f5c.jpg)
![sticky_ctas_mobile](https://user-images.githubusercontent.com/1036433/182405149-b87164d4-c5b5-40c1-ac4e-9dfecc6166c8.jpg)
![sticky_ctas_mobile_firstpreference](https://user-images.githubusercontent.com/1036433/182405150-ba6

[2022-08-02 15:23] briand44 commented on #4767
Adding needs grooming label again as there appear to be questions around the design of this.

[2022-08-02 15:28] joewhitsitt opened #5518 "Remove field_uiowa_events_past from v3 events block"
# Reference

https://github.com/uiowa/uiowa/pull/5497/files#diff-22455fd1cfa159b58a0289784a91064192c27738f06b23e252be3a46271afb4cR857-R861

# Proposed Solution

- [ ] Remove field/data from events block/db.
- [ ] Remove logic from layout_builder_custom module and sitenow_events preprocess block.
- [ ] Make sure sitenow_events_paragraph (v2) past functionality is not affected.

# Blocked

- Blocked

[2022-08-02 15:44] bspeare commented on #5505
I have updated this issue to be a general issue for new certs needed for uiowa03.

[2022-08-02 16:18] briand44 opened #5520 "Classrooms probe"
Potential first slice: build a proof of concept that involves creating the node type, adding a field to store the unique ID from MAUI, and pulling that data back to render it. Also figuring out what the MAUI ID will be.

[2022-08-02 16:19] joewhitsitt opened #5521 "Consider updating content hub api endpoints"
# Story

As a developer, I can use endpoints from the content hub api that are clear about what they are and do.

# Background

Originally to support past events on SiteNow, a new event_instances_api display, `past` was duplicated off the `events` display and the sort was reversed.

With https://github.com/uiowa/uiowa/pull/5497, the `past` and `events` displays are still used but as it relates to

[2022-08-02 16:27] briand44 commented on #5520
Would we be handling all of the classrooms information with one node type? https://github.com/uiowa/uiowa/issues/4966#issuecomment-1116334687

[2022-08-02 16:31] joewhitsitt commented on #5507
Not a direct intersection, but something to keep in mind when coming up with a solution: https://github.com/uiowa/uiowa/issues/3561 (article captions)

[2022-08-02 16:37] bspeare commented on #4767
Here are some screenshots of what the cta row looks like using the new button block aligned to the center and a layout region.  Open the details to view them.  The small button size looks a little weird in here and the container spacing also seems to wide.  Perhaps the narrow container would be a good default for this?

<details>

Some screenshots.  I don't think the container top and bottom spaci

[2022-08-02 16:39] joewhitsitt opened #5522 "Setup uiowa04"
Didn't see another issue. Keep forgetting it exists.

Possible intersection with PHP upgrade https://github.com/uiowa/uiowa/issues/5315#issuecomment-1147565179

# Proposed Solution

- [x] Follow docs here https://wiki.uiowa.edu/display/drupaldev/Acquia+Applications
- [x] Add uihealthcarecorp to metadata generator

[2022-08-02 16:48] bspeare commented on #4767
The narrow container looks a lot better for a row of buttons, but we would need to adjust the top and bottom container spacing.  The current default container spacing of `3rem` would take up too much space.   Perhaps we need to add a `Add small top spacing` and `Add small bottom spacing` options to our container settings?

<details>
**Default container spacing of `3rem`:**
<img width="1393" alt="S

[2022-08-02 17:07] joewhitsitt commented on #5438
Going to start looking at this later today. Will start huddle.

[2022-08-02 17:11] joewhitsitt opened #5523 "Update mglaman/drupal-check"
Making a note that this PR is going to require extra work and testing: #5324. This is because the new version of the dependency changes a setting that introduces a lot more deprecation errors. Each of those errors will need to be fixed and we'll need to test that the corresponding functionality still works.

_Originally posted by @pyrello in https://github.com/uiowa/uiowa/issues/5438#issuecomment-

[2022-08-02 17:42] pyrello commented on #5523
Duplicate of #5467

[2022-08-02 17:42] #5523 closed, assigned to nobody

[2022-08-02 17:58] joewhitsitt commented on #5523
oops and thx

[2022-08-02 18:05] briand44 opened #5524 "Article photo gallery"
As a sitenow editor, I would like to be able to add multiple images to an article and display them in an image gallery so that visitors can easily navigate all related photos without having to go to a separate page.

# Proposed Solution

- [ ] Create another image field in addition to the featured image that allows unlimited number of images
- [ ] Output the images below the article body using exi

[2022-08-02 18:08] briand44 commented on #5524
Separate image field on articles to support image gallery

[2022-08-02 18:26] briand44 commented on #5524
Larger thumbnail gallery at the bottom with a link to the anchor at the top would be ideal. We'll want to get feedback on placement from Iowa Now as well as community during demo.

[2022-08-02 18:29] bspeare commented on #5524
Aspect ratio choice would be nice to have with this: https://github.com/uiowa/uiowa/issues/5386

[2022-08-02 18:37] bspeare commented on #5524
Another aspect of the Iowa Now gallery design is that it is designed as if the thumbnails control a carousel.   The only thing missing are left and right arrows which a user might expect to show up on hover.

Screenshot from https://now.uiowa.edu/2022/03/nachte-raho-makes-thrilling-return-hancher-auditorium.

<img width="777" alt="Screen Shot 2022-08-02 at 1 33 19 PM" src="https://user-images.gith

[2022-08-02 19:05] briand44 commented on #4767
may need to make alterations to button block options available in these region? (full width - maybe this could stack?)

[2022-08-02 19:31] bspeare commented on #4767
As discussed in grooming, the idea of a one column flex layout was proposed for this.   Below I've added a few screenshots on why this might not be an ideal solution.

Flexbox approach with `bttn--full` class: `display:flex` on the parent container and with `flex-grow: 1;` on each button.  With this approach you lose on out equal columns.

<img width="1478" alt="Screen Shot 2022-08-02 at 2 24 02 P

[2022-08-02 20:08] bspeare commented on #4767
We huddled about this and discussed:
- Keeping this based in our grid layout builder solution instead of a full width flexbox layout.
   - Because it is a familiar and established UX pattern for editors and that we don't necessarily need the flex properties that a flex layout would provide.
   - Offer 2, 3, 4 column layouts with some custom container padding overrides for the pre-pre-footer region

[2022-08-02 20:16] briand44 opened #5525 "admissions.uiowa.edu search showing results for grad.admissions.uiowa.edu"
When searching admissions.uiowa.edu, results shown include pages from grad.admissions.uiowa.edu.

To reproduce: https://admissions.uiowa.edu/search?terms=cost%20and%20funding

Search settings are using default CSE ID but "limit custom search to this site" is checked.

[2022-08-02 20:25] joewhitsitt commented on #5332
I poked at this a bit and realized that we might not need this "grouping" patch after all. We are hardcoding photoswipe-gallery in the template instead of using this functionality. Oops.

<img width="562" alt="Screen Shot 2022-08-02 at 3 24 59 PM" src="https://user-images.githubusercontent.com/4663676/182466744-9b8f86ff-0522-4bbc-a6ad-9e01cac67a4c.png">

[2022-08-02 20:29] bspeare commented on #5332
@joewhitsitt nice find! :)

[2022-08-02 20:48] briand44 commented on #5437
Met with Nick and it doesn't seem like there are options to hide the controls or info bar. I have removed the blocked label.

[2022-08-02 20:54] makurj commented on #5437
Should I push this to prod? Or do we want to send out communication via listserv/email lists first?

[2022-08-02 20:59] briand44 commented on #5437
Personally, I am ok with rolling it out as long as it has passed team reviews. There doesn't seem to be a listserv for these types of announcements. There does seem to be an email address but I am not sure how/when/why folks get added to that so I don't know if it is even reaching the right users. We brought it up in demo and asked if there was concerns and nobody spoke up or reached out.

[2022-08-02 21:01] briand44 commented on #5437
also there have been security updates so if you are going to roll it out, make sure your branch has been updated.

[2022-08-02 21:02] makurj commented on #5437
Will do!

[2022-08-02 21:02] bspeare commented on #5524
Added a quick mockup on how https://github.com/uiowa/uiowa/issues/5524#issuecomment-1203072116 could work https://now.prod.drupal.uiowa.edu/community-celebrates-iowa-city-pride-2022.

[2022-08-02 21:04] joewhitsitt commented on #5332
However, I think this should wait till #5389 because the browser loading="lazy" was added in 9.4 which is the other patch that is keeping us from upgrading.

The update hook associated with the update will require configuration updates/exports for default image gallery view mode, housing res hall, uipress book and any others between now and then.

[2022-08-03 14:48] joewhitsitt commented on #5438
Waiting for a security update to allow merging babel bumps.

Going to continue adding to PR the rest of the updates

[2022-08-03 17:51] bspeare opened #5528 "As a prospective student, I can view the 2plus2 page content with a clear visual hierarchy and clear document outline"
# Story

As a prospective student, I can view the 2plus2 page content with a clear visual hierarchy and document outline

Example page where labels and bold font usage within the content areas are indistinguishable: https://admissions.uiowa.edu/academics/2plus2/economics-iowa-valley-community-college-district

# Proposed solution

Update field labels on Majors content type to use headings.

[2022-08-03 17:56] bspeare commented on #2305
We got a request today from International Programs to "make one of our pages for internal use only, could we make it password protected?".

[2022-08-03 20:57] briand44 commented on #5437
Closing this as it looks like this has been deployed to both applications. Thanks @makurj!

[2022-08-03 20:57] #5437 closed, assigned to makurj

[2022-08-03 21:26] bspeare commented on #3561
Here's how the banner handled the caption previously.  We revealed the caption on hover due to the markup of the banner.  There are some existing styles in https://github.com/uiowa/uiowa/blob/09ed2ad1c947325ccd3184dcf1a4565a1296baa7/docroot/themes/custom/uids_base/scss/components/caption.scss that you can uncomment to look like the screen capture below.

https://user-images.githubusercontent.com/1

[2022-08-03 21:32] pyrello commented on #1373
Closing.

[2022-08-03 21:32] #1373 closed, assigned to nobody

[2022-08-03 21:36] pyrello opened #5536 "Add very limited HTML markup options to blockquote block `field_uiowa_quote_content` and `field_uiowa_quote_footer` fields"
# Story

As a content editor I want to be able to italicize or bold text in the blockquote content or source fields so that have more control over how they look.

This is a request from UI Press.

# Proposed solution

- Maybe we need to consider a new text format in between plain text and minimal to add just the most basic styling options.
- Implement this new option on both fields in the blockquo

[2022-08-03 21:58] joewhitsitt opened #5537 "Revisit custom code related to menu_per_role"
# Story

As a developer I can confirm that recent menu_per_role configuration settings don't replace our custom code, however, if settings do provide the functionality we were providing, maybe switch it from code to settings

# Proposed solution

- [x] Audit the settings (admin/config/system/menu_per_role) with what what we are doing in code.

https://github.com/uiowa/uiowa/blob/main/docroot/modul

[2022-08-03 21:58] joewhitsitt commented on #5438
Related to the menu_per_role update, created an issue to see if we can leverage settings instead of custom code: https://github.com/uiowa/uiowa/issues/5537

[2022-08-04 14:14] cory-skeers commented on #5485
Followup work will continue in #5474 and related issues; rest of the custom fields should be able to be handled via migration mappings.

[2022-08-04 14:14] #5485 closed, assigned to nobody

[2022-08-04 14:31] joewhitsitt commented on #5537
To clarify, the changes in https://github.com/uiowa/uiowa/pull/5527 don't seem to affect our current functionality.

[2022-08-04 14:34] bspeare commented on #5536
Bold and italic seem like good starting points.  We could also use this on the Statistic block for the "Excerpt" and "Content" fields.

[2022-08-04 14:39] joewhitsitt commented on #5536
But the bigger question is what do we name it?! Serious suggestions this time:

- `basic`
- `simple`

[2022-08-04 14:52] joewhitsitt commented on #5503
In terms of the API task, the new field content will be added to `_return_event_for_api` within modules/custom/content_hub_core/inc/content_hub_core.data_feeds.inc and `_event_sync` within modules/custom/content_hub_core/inc/content_hub_core.event_sync.inc **if the CSI team is ready for it**

Not sure if extra stuff in _event_sync will mess with their setup.

In terms of the teaser, `docroot/modul

[2022-08-04 14:55] joewhitsitt commented on #5524
I believe IISC, SPPA, HR, Admissions, Now are all splitting Articles in some way and will need to be tested against.

[2022-08-04 15:04] joewhitsitt commented on #5438
Not sure #5511 can be upgraded without looking at upgrading https://www.drupal.org/project/fontawesome

[2022-08-04 16:42] joewhitsitt opened #5540 "Re-Export Topic Page Feature"
# Story

As a developer I can see that the topic feature is up-to-date and that configuration is captured accurately.

# Background

While working on https://github.com/uiowa/uiowa/pull/5527 there were several pieces of config that were exported that didn't relate to the dependency updates within the PR. It seems like either configuration wasn't fully captured before or enough changes to the defau

[2022-08-04 17:55] #2873 closed, assigned to GaryRidgway

[2022-08-04 18:27] pyrello opened #5541 "Iowa Superfund - Investigate using Esploro to display publications"
# Motivation
Possibly an alternative to #1503.

The Iowa Superfund site has a publications page that needs to be replaced here: https://iowasuperfund.uiowa.edu/publications

The current page is a manually curated list of publications that are relevant to the work of Iowa Superfund. It includes publications by people that are associated with Iowa Superfund, but I don't believe it includes all publi

[2022-08-04 18:43] joewhitsitt opened #5542 "SiteNow Articles Page Flex Adjustments"
# Story

As a visitor to a SiteNow Articles view page with a large monthly archive, I don't have to scroll all the way to the bottom to see the pager.

https://international.uiowa.edu/news

# Proposed solution

- [ ] Adjust the flex styles on this page.

[2022-08-04 18:48] joewhitsitt opened #5543 "Specifying language on News articles"
<meta http-equiv="content-language" content="en"/>

is the wrong language on

https://diversity.uiowa.edu/news/2022/06/isandra-martinez-marrero-nombrada-como-la-nueva-directora-de-participacion-cultural-y

## Proposed Solution

- Adjust the `Access Content Language in Advanced` permission which should make this available on a piece by piece basis. Default should be english.

[2022-08-04 18:49] bspeare commented on #4302
Related issue: https://github.com/uiowa/uids/issues/757.

[2022-08-04 19:47] pyrello opened #5544 "How to minimize support work to maximize developers spending their time developing?"
This is a place to discuss how we might optimize our system or shift support responsibilities to reduce the footprint of support work, so that we can have our developers developing more of the time.

[2022-08-04 19:48] joewhitsitt commented on #5544
https://github.com/uiowa/uiowa/issues/859

[2022-08-04 20:08] #4320 closed, assigned to nobody

[2022-08-04 20:08] #5187 closed, assigned to joewhitsitt

[2022-08-04 21:19] bspeare commented on #5544
As I noted in Slack (https://iowaweb.slack.com/archives/C0164FNN1PV/p1659645728397859), with regards to the support shift, it seems like we could be more efficient if we made some adjustments:

- Consider changing the expected work of the support person or removing the support shift entirely.
    - Redirect more Cherwell support tickets to the Help Desk.
    - Implement a once-a-week provision pro

[2022-08-04 21:34] pyrello commented on #5544
It might be good to do another working session on Cherwell, because I have no idea how to transfer a ticket to the Help Desk.

I like this idea. There is a lot of inefficiency in many smaller site provision PRs getting merged. Also the more PRs that get merged, the more times we have to re-run tests, merge main into other active PRs, etc. It could maybe be the standard practice to open a PR at the

[2022-08-04 21:42] pyrello commented on #3868
@joewhitsitt Thanks for adding your comments about this. It seems like, if there was a way to disable the nesting functionality for a book tree, that this might be workable.

Adding this here to look at later: https://www.drupal.org/project/entity_hierarchy

[2022-08-04 21:45] joewhitsitt commented on #5544
@bspeare I think you struck a chord worth diving more into. Thanks.

Capturing my thoughts from the Slack thread:

- A change in expectation about site requests needs to happen a step higher up (service agreement, policy) first. It can't just be a flipped switch.
  - It also needs to be flexible to work with and around our other processes (single deployment pipeline, higher priority unplanned and

[2022-08-04 21:58] cory-skeers commented on #5544
I wonder if it might still be useful to have a dedicated, rotating "owner" of support that could maintain the non-request support duties (leader of ceremonies, demo comms, handling the provisions if it's establishing and merging a weekly PR), as well as making sure that requests/issues get visibility as they come in. Not necessarily taking charge of completing the work, but in monitoring and ensur

[2022-08-04 22:05] joewhitsitt commented on #5438
I've updated but haven't looked too much into cshs, menu_link_weight and reroute_email yet.

[2022-08-05 13:24] bspeare commented on #5544
Columns on the board does sound a bit much.   Maybe just a "support" column to make the work visible.

[2022-08-05 13:47] briand44 commented on #4825
DNS updated, TTL still low in case issues arise. Suggested waiting a week before anyone moves forward with retiring anything.

[2022-08-05 14:41] bspeare commented on #5438
When this is ready for review, I wouldn't mind pairing with someone on testing this to learn the process.

[2022-08-05 17:09] joewhitsitt opened #5546 "Notices with list blocks"
# Problem

Notices are popping up when saving a people/article list block.

`Notice: Undefined index: #type in Drupal\layout_builder_custom\Plugin\Display\ListBlock->blockForm() (line 217 of /var/www/html/docroot/modules/custom/layout_builder_custom/src/Plugin/Display/ListBlock.php)`
`Notice: Undefined index: #default_value in _sitenow_people_process_people_block_filters() (line 178 of /var/www/ht

[2022-08-05 18:05] bspeare commented on #5544
With sites going down with today's release perhaps we should consider moving provisions and general code releases to once a week deployed after hours on vulture?  That would remove us from the guessing game each time on whether something should be after hours or not.

[2022-08-05 18:11] briand44 opened #5547 "cbe.engineering.uiowa.edu move to engineering.uiowa.edu"
# Story

As an owner of cbe.engineering.uiowa.edu, I would like to move this site to engineering.uiowa.edu and have all traffic going to cbe.engineering.uiowa.edu be redirected to engineering.uiowa.edu/cbe so visitors can find relevant information they are looking for.

# Additional Info
Currently planning to launch Oct 12th.

# Proposed solution

- [x] Request redirect be put in place on Vulture

[2022-08-05 18:12] briand44 commented on #5547
Added blocked label because there is still content work to be done and until we know specific dates when they are wanting to make the switch. Sounds like by the end of August.

[2022-08-05 18:22] cory-skeers opened #5548 "SiteNow updates news article - August"
## Issue/Solution ##
Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  * See the previous month's article as an example.
  * Bulle

[2022-08-05 18:23] briand44 opened #5549 "Support software download functionality for Engineering"
# Story

As an owner of https://www.iibi.uiowa.edu, I would like to be able to provide software downloads to visitors after submitting a particular webform.

# Additional Information

This is existing functionality that is preventing them from moving to SiteNow v3.

Currently, there are 2 different pieces of software that should be available for download, each with a specific webforms tied to the