[2020-05-26 19:07] joewhitsitt commented on #1562
Updated Article (Featured image), Carousel Image, Person, Square, SiteNow Card. Closing until next time..

[2020-05-26 19:07] #1562 closed, assigned to nobody

[2020-05-26 19:08] mark-bennett-uiowa opened #4487 "Reduce space between ::before icon and Admin Login link in footer"
Currently it is set to padding-right: 1.05rem. Could this be cut in half to more closely match the icon in a footer address?
<img width="333" alt="Screen Shot 2020-05-26 at 12 48 06 PM" src="https://user-images.githubusercontent.com/3067017/82940304-3d261380-9f5a-11ea-868e-d83adedbb576.png">

[2020-05-26 19:19] mark-bennett-uiowa opened #1682 "Anchor links possible with the current WYSIWYG?"
Outside of updating each and every spite split for CLAS sites, are anchor links possible inside WYSIWYG editors? If not, could we consider adding them?

[2020-05-26 19:22] joewhitsitt commented on #1682
We have started an issue over here: https://github.com/uiowa/uiowa/issues/1412.

There is no button solution yet if that is what you are asking. LinkIt allows #anchor-name additions to the autocomplete field.

[2020-05-26 20:18] joewhitsitt opened #1683 "Support Embedded Code Snippets"
## Problem

The sitenow site and the brand site would benefit from code snippets. I am sure there could be more use-cases. GitHub (gist) and GitLab (snippet) both support JS based embeds.

[2020-05-26 20:40] joewhitsitt opened #1684 "Update content overview to remove publish/unpublish"
## Problem

VBO, filtering, and column data still exists for published/unpublished states in the content overview even though content moderation is turned on for all of the default content types.

This is confusing to editors who think the "published" "unpublished" is still a thing.

Relates to https://github.com/uiowa/uiowa/issues/781, https://github.com/uiowa/uiowa/issues/696

## Proposed soluti

[2020-05-26 20:41] joewhitsitt commented on #1684
If adopted, documentation can be added to better illustrate moderation and the workflow.

[2020-05-26 21:31] joewhitsitt opened #1685 "Collaborator view their own content in /lockup-system"
## Problem
An editor could have multiple lockups and could be working with brand staff on adjustments where they need to see all and revisit the edit form.

## Proposed solution
Look into permissions related to seeing unpublished lockup content and displaying that in the lockup-system view. They **do not want** ALL collaborators to see ALL drafts.

[2020-05-26 21:36] joewhitsitt opened #1686 "Brand Lockup generator - Removing line break deletes text."
## Problem
If there are multiple lines and the editor tries to remove the line break, it deletes all of the text from the following line.

![out](https://user-images.githubusercontent.com/4663676/82952519-b9c2ed00-9f6e-11ea-9454-3b7fedb854b4.gif)

Not sure if this can be fixed given all of the validation and line length calculations.

[2020-05-27 13:39] joewhitsitt commented on #865
We should spend some time to review what we gain versus what we lose by switching at this point in time:

 -- phenaproxima

[2020-05-27 13:56] bspeare opened #1688 "Add default padding if background color is used in layout builder"
# Problem

No top or bottom padding is added when color is applied to a section.

<img width="2169" alt="Screen Shot 2020-05-22 at 11 25 49 AM" src="https://user-images.githubusercontent.com/1036433/83029157-f5ee6000-9ff7-11ea-8d99-3e77a0bc223d.png">

[2020-05-27 14:09] bspeare commented on #1437
UIOWA Bar: Search button doesn’t announce changes in aria-expanded value.
Recommend test to determine cause (Blockquotefocus moves to another element)

**Further details:**

I think the issues was that we thought the “expanded/collapsed” notification would toggle more like the Accordion widget.

In the first segment of the attached video (Home page): when the user returns to the Search button, the

[2020-05-27 16:25] briand44 opened #1689 "Embed Google Calendar"
Heidi Schmitt with the Honors Program (https://honors.uiowa.edu) requested this functionality. I am not sure if they would be willing to fund this but making note of it here in case we get other requests for this functionality.

Added discussion needed label as we will want to discuss if this is something we should support or if we are only supporting events that are added to the University Events

[2020-05-27 16:40] cory-skeers opened #1690 "Secondary nav for sibling pages"
## Problem

Request from David Gompper with Center for New Music to have the option of secondary sidebar navigation for sibling pages (similar to how it is currently available on a parent page for its children). This was an option with their previous D7 SiteNow site.

Not needed or desired for every site, but may be a request for more than just this one.

### Example

Parent with secondary nav for

[2020-05-27 19:36] joewhitsitt opened #1694 "Revise moderation documentation"
https://sitenow.uiowa.edu/documentation/content-moderation-and-workflow

Folks are getting confused that creating a new draft off existing published content does not "unpublish" the content.

A better wording of the following is needed:

Draft off existing published = A copy to work with while published version remains.
Create/Draft new content = An unpublished version.
Archived = Unpublished/Arch

[2020-05-28 08:27] mark-bennett-uiowa opened #1701 "Pathauto not creating proper nested path"
Assume we are placing all nodes under the Main Menu, and there exists the following structure:
Main Menu
 -- About (/about)
 -- People (/people)
 -- Undergraduate Programs (/undergraduate)
 -- Graduate Programs (/graduate)
 ---- Admissions (1)
 -- Resources

Note that the Undergraduate and Graduate Program pages have been given custom URL aliases . When a new node is added underneath one of them,

[2020-05-28 15:48] joewhitsitt opened #1704 "Brand - Moderation view filtering is confusing"
## Problem

https://brand.uiowa.edu/admin/content/lockups
https://brand.uiowa.edu/admin/content/moderated

The filters work, but filtering on approved can show "draft" state content because there is an approved (published) version out there, but the latest version is "draft". Maybe the column could be renamed to "latest version moderation state" or something.

[2020-05-28 16:15] joewhitsitt commented on #986
Removing myself again for now. Haven't had time to work on this

[2020-05-28 19:04] cory-skeers commented on #1694
Review revision is available; edits and comments welcome.

Also updated hierarchy to include an h2 for moderation states section and h3s for the various states.

[2020-05-28 20:19] #1667 closed, assigned to nobody

[2020-05-28 20:36] cory-skeers commented on #1656
There's an (old) open issue with media_entity_twitter for supporting Twitter API parameters: https://www.drupal.org/project/media_entity_twitter/issues/2939863.

If no width parameter is passed, defaults to 500px. Adding a width parameter helps some of the overlap range, and adds some responsiveness (394px to 500px), but it still stops above the min-width (220px).

FB has fewer available options.

[2020-05-29 04:34] pyrello commented on #1680
To test this, there is an option in Google Chrome console to emulate this setting: https://developers.google.com/web/updates/2019/10/devtools#userpreferences

[2020-05-29 13:53] joewhitsitt opened #1706 "Brand - Loss of key glyph/kern pair data from custom font files"
## Problem

Over the course of testing the lockup generator, we have had several different font files.
The original roboto files had glyphs for smart quotes, along with hundreds of other glyphs that are not in the current files. As recent as Mar 5, we had the original roboto files out there for testing. I think we currently have the Mar 11 version out there which had a slight kern tweak from the M

[2020-05-29 14:38] joewhitsitt opened #1708 "Update favicons with new padding, variants"
## Problem

Feedback regarding top/bottom padding and available file variants was received. Additionally, the precomposed variant is not the needed 180px square size.

## Proposed Solution

- Update favicons
- Expand variants
- Implement/Deploy

[2020-05-29 14:48] joewhitsitt commented on #986
This would be the entity_embed solution for inline files which would mean we could abandon linkit for files: https://www.drupal.org/project/entity_embed/issues/2640398. Core Media has mentioned inline files but so far has done very little to deal with it: https://www.drupal.org/project/drupal/issues/2801307

[2020-05-29 16:10] GaryRidgway commented on #1686
[This](https://github.com/uiowa/uiowa/tree/brand-validation-update) should solve this for forward deletes and backward deletes, but it creates another issue that appears here:

![out](https://i.gyazo.com/1cab89ddd1654fb9236a2cf5cc24fb1a.gif)

where the lines text will get truncated if it is longer than the maximum length allowed by the line. This leads me to believe there may be a need for an undo

[2020-05-29 17:12] cory-skeers commented on #1656
Culprit seems to be the <article> tag between the embed widget and the parent container added by media_entity with a width: 100%--with or without the width parameter in the embed API, if the embeds are added directly (not using media_entity_*), sizing is responsive and works appropriately. Direct embedding requires allowing <source> or work to attach the proper js, which is normally handled throug

[2020-05-29 20:25] cory-skeers commented on #1662
@joewhitsitt Is this just getting the current SiteNow styles (alerts and Lead) rendered in the editor, or also updating paragraphs styles to include uids styles (bold and light intro, etc.)?

[2020-05-29 20:43] joewhitsitt commented on #1662
At a basic level, we need theme css like we did in uiowa_bootstrap

docroot/themes/custom/uiowa_bootstrap/uiowa_bootstrap.info.yml:
[code]

The question is, is there one aggregated css file to use? uids_base uses on-demand css.

[2020-05-29 21:55] cory-skeers commented on #1662
Got a PR (#1712) open for current SiteNow styles.

Adding the additional uids styles would need new styles added to the text editor config list and additional css loads, with possibly a more robust method of adding them if we're anticipating more styles to be added to the uids.

[2020-06-01 13:55] joewhitsitt commented on #1694
Thanks for taking this on. Captures it. 👍

Bonus: remove all caps now that these are headers

Publish/close

[2020-06-01 14:05] cory-skeers commented on #1694
Edits published! Closing out.

[2020-06-01 14:05] #1694 closed, assigned to nobody

[2020-06-01 14:30] pyrello opened #1713 "Remove `uiowa_bar` from dependencies"
Blocked until uids_base is adopted by all SiteNow service sites.

- [x] https://github.com/uiowa/uiowa/issues/1939 - turn on uiowa_search, migrate config

[2020-06-01 14:49] joewhitsitt opened #1714 "UIDS_Base WYSIWYG Styles Aggregated CSS File"
Blocks #1662
Relates to #1660

- [x] Styles related to allowed html
- [x] Styles related to style dropdown
- [x] Button styles (bootstrap for now)
- [x] Styles related to other wywisyg buttons (e.g. table, drupal-media, drupal-entity)

When we have a list of individual scss partials that cover this, the uids_base can generate a aggregated css file to use for #1662.

As more, styles apply to the WY

[2020-06-01 19:40] cory-skeers commented on #1714
Got a base updated in the `i1662-wysiwyg-styles` branch, with the few partials previously identified and the single aggregate css linked in the info.yml.

## Style Dropdown
 - Lead: sitenow/sitenow.scss
 - Alerts (various): alrerts/alerts.scss (paragraphs styling adjustment, and imports _alerts.scss theming from uids)

## Button styles
 - sitenow/sitenow.scss*

## WYSIWYG editor buttons

Strikethr

[2020-06-01 21:46] dnkemper opened #1717 "Create SSL cert for csi.its.uiowa.edu on uiowa01"
Create SSL cert for csi.its.uiowa.edu on uiowa01

[2020-06-02 14:55] cory-skeers commented on #1714
Current allowable HTML tags are covered by the stylesheets imported for the style dropdown and wysiwyg editor buttons.

[2020-06-02 17:50] richardbporter opened #1720 "Nest uiowa_alerts.settings configuration as collection"
Not sure why I underscored it but it should be a collection:
[code]
Requires a DB update to migrate existing config.

[2020-06-02 18:27] richardbporter commented on #1720
Received confirmation that the ability to toggle Hawk Alert display should be removed and set to always on.

[2020-06-02 20:04] #1206 closed, assigned to nobody

[2020-06-02 20:23] pyrello opened #1721 "Patch to fix media library modal integration with Focal Point"
https://www.drupal.org/files/issues/2020-05-26/3094478-39.patch

[2020-06-03 14:30] #1483 closed, assigned to dnkemper

[2020-06-03 17:02] cory-skeers opened #1723 "SiteNow Migrate - paragraph text filter not applying"
## Problem
Paragraph text fields aren't recognizing the 'format' attribute and defaulting to NULL when they are created as part of the Basic page migration (d7_page).
<img width="654" alt="Screen Shot 2020-05-29 at 12 32 49 PM" src="https://user-images.githubusercontent.com/4663676/83288235-9e432680-a1a8-11ea-88ec-1ade7e68468f.png">

## Proposed Solution
Root out the bug causing the format attribu

[2020-06-03 17:50] joewhitsitt commented on #861
This is also becoming more important to track who manages each site. There are other web properties besides *.grad.uiowa.edu *.clas.uiowa.edu that we don't manage.

[2020-06-03 20:00] richardbporter commented on #1399
sophron_guesser does not solve this.

[2020-06-03 20:29] richardbporter commented on #1720
Related to #1394

[2020-06-03 22:03] joewhitsitt commented on #1721
Don't suppose this is in 8.8.7 that was released today?

[2020-06-03 22:05] pyrello commented on #1721
This is a patch to the focal_point module: https://www.drupal.org/project/focal_point/issues/3094478

[2020-06-03 22:06] joewhitsitt commented on #1721
🤦 sorry. tired. signing off for the day

[2020-06-03 22:07] pyrello commented on #1721
Lol. No worries!

[2020-06-04 01:44] richardbporter opened #1735 "Delete icsa-temp.uiowa.edu site."
I'm not sure if this is still needed but its failing on uiowa01 dev deployments.

[2020-06-04 01:51] richardbporter opened #1736 "Add tag removal to uiowa:git:clean command."
It would be fairly easy to accidentally check out an old tag in an environment. This could be disastrous. There's not a lot of benefit leaving old tags around, we could delete them periodically using ugc. We could start with keeping only the current major version.

[2020-06-04 13:53] richardbporter opened #1737 "Write FS test to ensure Drush alias files path matches host"
Its possible these could get goofed up which might make for disastrous rsyncs.

[2020-06-04 14:02] mark-bennett-uiowa commented on #1735
Yes, it can be deleted. Would you like me to take care of this quick?

[2020-06-04 14:03] richardbporter commented on #1735
Sure.

[2020-06-04 14:30] mark-bennett-uiowa commented on #1735
Should be fixed with commit #1738

[2020-06-04 14:56] #1735 closed, assigned to mark-bennett-uiowa

[2020-06-04 15:05] mark-bennett-uiowa opened #1739 "Problems with background color for section or blocks."
NOTE: This came from creating a temporary solution for a program block. Once program blocks are created, I will no longer be using this solution. Thought it would be helpful to catch these issues for the future though.
I hope this screenshot gives enough information as to the issues. The blue text represents a notice of behavior rather than an issue.
1: Section Padding: Top needs to be added to th

[2020-06-04 15:19] bspeare commented on #1739
A few notes on how this could be addressed:

- If a section has a background color applied, top and bottom padding should automatically be applied.
- Each section has default bottom margins applied to it.   If there are two consecutive sections with background colors these margins should be stripped out.
- Card currently has a white a default background color.   The card background should adjust b

[2020-06-04 15:23] mark-bennett-uiowa commented on #1739
@bspeare That all sounds great to me, but do we want/need to have a bunch of conditional logic on the styles? I dont want to cause problems with this if I'm just building something out incorrectly.

[2020-06-04 15:35] bspeare opened #1740 "Custom blocks created through block interface do not use inline block templates"
# Problem

Custom blocks created through block interface do not use inline block templates

For example, add a custom CTA block to the pre-footer block region in `uids_base`.

# Proposed Solution

Investigate way to map custom blocks placed through the block interface to use the inline block templates: https://www.drupal.org/forum/support/theme-development/2016-05-12/theming-custom-block-types.

[2020-06-04 15:37] bspeare commented on #1739
I think we want those in place so that it is easy for someone to design a section.   @pyrello do you have any thoughts on this?

[2020-06-04 15:44] #1706 closed, assigned to joewhitsitt

[2020-06-04 16:54] pyrello commented on #1739
I think ideally, we have sane default that make it easy to build this out without having to set a lot of overrides. If something outside of those defaults is desired, then that were the overrides come in.

Not sure if this helps clarify.

[2020-06-04 20:19] joewhitsitt commented on #1708
uiowa_favicon was updated in 701-3 and favicons were updated in the D8 sitenow profile

[2020-06-04 20:19] #1708 closed, assigned to joewhitsitt

[2020-06-04 20:39] bspeare opened #1742 "Adjust hero block component to disable video autoplay by default"
- [ ] Change markup in hero block template to disable autoplay by default and dynamically change based on block level override.
- [ ] Add override checkbox/field to hero block in layout builder tray to enable autoplay.
- [ ] If autoplay is enabled, add sufficient warning text about vestibular triggers

[2020-06-04 20:44] joewhitsitt commented on #1686
Sondra:

[2020-06-04 21:11] #1633 closed, assigned to nobody

[2020-06-05 13:20] pyrello commented on #1740
This seems related, at least tangentially, to https://github.com/uiowa/uiowa/pull/1529#issuecomment-624097007

[2020-06-05 13:40] pyrello opened #1747 "Move Drupal-specific form styles to uids_base from uids"
Related to #1356 and uiowa/uids#195.

When the above tasks were undertaken, a lot of style rules were placed in UIDS that is Drupal-specific. Unless we are planning on adopting `webform-*` class names as our standard for forms in UIDS, anything that is not generic enough to stand on its own in UIDS should be moved to uids_base.

[2020-06-05 13:40] pyrello commented on #1356
Follow-up issue: #1747

[2020-06-05 14:26] richardbporter opened #1748 "Investigate invalidating every site twig cache on deploy."

[2020-06-05 14:52] joewhitsitt commented on #1660
Unless someone has other ideas, I think the paragraph bundles events, featured content, people should all follow the same design pattern currently being implemented for paragraph articles in uids_base as they are all currently similar in uiowa_bootstrap. This is at least a short-term solution to speed up the adoption of uids_base until they can be revisited if needed.

[2020-06-05 14:55] joewhitsitt opened #1749 "UIDS_Base coverage for IGHN.International"
Relates to #1660

## Problem

ighn.international has some css overrides to account for their custom person content type and view. This needs to be revisited before adoption of uids_base.

## Proposed Solution

The current css overrides should only be loaded if the active theme is uiowa_bootstrap.

Create a yarn workspace for ighn to utilize UIDS components and extend/override to cover the custom f

[2020-06-05 14:59] bspeare commented on #1660
@joewhitsitt That sounds like a good plan.

[2020-06-05 15:04] bspeare commented on #1465
I did some initial work on https://github.com/uiowa/uiowa/blob/master/docroot/themes/custom/uids_base/templates/misc/sitenow-events-teaser.html.twig to follow the format of the events component, but that can easily be changed to follow the example of the article teaser using the card template: https://github.com/uiowa/uiowa/blob/master/docroot/themes/custom/uids_base/templates/content/node--articl

[2020-06-05 15:44] dnkemper opened #1750 "Create SSL cert for tracers.physics.uiowa.edu on uiowa01"
Create SSL cert for tracers.physics.uiowa.edu on uiowa01

[2020-06-05 18:53] #1717 closed, assigned to nobody

[2020-06-05 18:53] #1750 closed, assigned to nobody

[2020-06-08 19:46] bspeare opened #1756 "Reorganize sitenow scss partials folder within uids_base"
# Problem

The SiteNow styles currently sit within `components/sitenow` in `uids_base`.

# Proposed Solution

Reorganize scss partials into a new folder structure within `uids_base` to look more like:

[code]

[2020-06-09 13:58] GaryRidgway commented on #1686
PR #1743 closed this

[2020-06-09 13:58] #1686 closed, assigned to nobody

[2020-06-09 14:56] #1669 closed, assigned to joewhitsitt

[2020-06-09 15:43] #1619 closed, assigned to nobody

[2020-06-09 17:01] joewhitsitt commented on #1320
Currently, the role cannot be controlled with the markup we use to implement the icons. This is hardcoded with fontawesome svgs. There is an issue to work on this: https://github.com/FortAwesome/Font-Awesome/issues/14791

Since there is no guarantee that the solution will be implemented/controlled as the example in the issue suggests, I think we should hold off on this issue for now.

[2020-06-09 18:23] pyrello opened #1759 "Unique ID per hero video"

[2020-06-09 21:59] cory-skeers commented on #1245
For reference: https://www.w3.org/WAI/WCAG21/Techniques/general/G200

Generally, they recommend against it unless there is a context and/or security reason for doing so, and to ensure there are indicators prior to the link to being clicked. Looks like the menu_link_attributes would work fine for this, if there are enough use-cases to match the above guidelines.

[2020-06-10 14:30] #1680 closed, assigned to nobody

[2020-06-10 14:36] bspeare commented on #1756
Closed via https://github.com/uiowa/uiowa/issues/1756.

[2020-06-10 14:36] #1756 closed, assigned to bspeare

[2020-06-10 17:47] bspeare commented on #1740
@pyrello I just tested out https://github.com/swentel/block_content_template and it works well.  Did you get to test it yet?  I could set up a demo PR if you want to see how the templates work.   What are your thoughts on using this module?

[2020-06-10 17:50] pyrello commented on #1740
I'm willing to give it a shot. I just hadn't gotten around to testing it yet because I wasn't immediately a fan of creating a new template namespace.

[2020-06-10 18:01] #1737 closed, assigned to nobody

[2020-06-10 18:14] cory-skeers opened #1763 "Update references to migrated SiteNow footer menus"
## Problem
SiteNow footer menus updated in #1611 from `footer` and `footer-second` to `footer-primary` and `footer-secondary`. Intention was for a low-impact update migration, but several updates and some cleaning may be necessary as a result.

## To-do

- [x] Update docs
- [x] Update tours
- [x] Update uiowa_footer module form
- [x] permissions across all splits
- [x] update allowed menus for bas

[2020-06-10 18:19] bspeare commented on #1740
@pyrello I added a example pr here if you want to check it out: https://github.com/uiowa/uiowa/pull/1764.   I'm sure there are better ways to reduce the duplication of code since the only thing that changes is that the fields use `elements` instead of `content`.

[2020-06-10 18:52] richardbporter commented on #1748
The error from the last theme refactor was `  The "themes/custom/uids_base/uids/components/01 - elements/heading" directory does not exist ("/var/www/uiowa/docroot/themes/custom/uids_base/uids/components/01 - elements/heading").` I got that when trying to run any Drush commands except `drush cr`, which fixed the issue.

I tried replicating by deleting Twig files and directories locally but the err

[2020-06-10 21:10] richardbporter commented on #1748
Still can't reproduce locally. We may want to add this functionality regardless of whether it fixes the issue based on https://support.acquia.com/hc/en-us/articles/360005167754-Drupal-8-Twig-cache.

[2020-06-10 21:44] joewhitsitt commented on #1228
Resolved by https://github.com/uiowa/uiowa/pull/1719

[2020-06-10 21:44] #1228 closed, assigned to nobody

[2020-06-10 22:21] #1465 closed, assigned to dnkemper

[2020-06-11 12:55] #1662 closed, assigned to cory-skeers

[2020-06-11 14:06] cory-skeers commented on #1763
Docs are generic and don't need specific updating. uiowa_footer module form is based on the custom_menu and custom_menu_2 configs that are updated, so is good to go.

[2020-06-11 18:08] bspeare commented on #1665
@quamsta We deployed a change to the header on https://uiowa.edu/ that sets the scroll to start once the height of the header has been scrolled through.   Can you take a look at this on your iPad?

[2020-06-11 19:10] dnkemper opened #1774 "SSL cert for tutor.uiowa.edu on uiowa02"

[2020-06-11 19:17] cory-skeers commented on #1763
Files and update hook updated to set webmaster perms for the moved footer menus for the following:
- Default config
- hr config
- ignh config

[2020-06-11 19:25] cory-skeers commented on #1763
@joewhitsitt re: 'update allowed menus for basic page', would this be for the menu settings on the page, and adding it directly to the footer menu(s) from the basic page edit, or am I missing what the bottom checkbox is referring to?

[2020-06-11 19:40] joewhitsitt commented on #1763
admin/structure/types/manage/page "Menu settings" where you select the allowed menus

[2020-06-11 20:24] joewhitsitt commented on #1437
Closing this one for now. Going to create new one for future siteimprove a11y issues

[2020-06-11 20:24] #1437 closed, assigned to inspector508, mjoneill

[2020-06-11 20:52] #1356 closed, assigned to nobody

[2020-06-12 13:22] joewhitsitt commented on #1412
Going back to the anchor_link module. I remembered this yesterday when talking with Makur.

This module/button only finds anchors in the current wysiwyg field. not across multiple areas (e.g. paragraphs, layout blocks) in the page.
https://www.drupal.org/project/anchor_link/issues/3144982

[2020-06-12 14:10] cory-skeers commented on #1763
Updated basic page allowed menus, tours (links and menu labels), and removed the no longer used footer and footer-second from the breadcrumb config.

A grep on modules and config looks like these were the last references.

[2020-06-12 14:28] joewhitsitt opened #1775 "uids_base - SiteImprove A11y Fixes"
## Problem

SiteImprove is starting to scan for issues. Here are some of the issues from the results.

- [ ] https://github.com/uiowa/uiowa/issues/1320 - FontAwesome Icon Role
- [ ] https://github.com/uiowa/uiowa/issues/1119 - Reduce use of aria attributes that duplicate semantics of the HTML tag
- [x] https://github.com/uiowa/uids/issues/249 block iowa wordmark id is not unique (the same id is us

[2020-06-12 17:59] pyrello opened #1778 "Layout Builder feature maturity"
# Layout Builder feature maturity
- [x] #1994 Slider (carousel) component.
- [x] #1529 Layout Builder collections: Accordions, Tabs.
- [x] #1523 Provide a way to lock the header section.
- [x] #1789 View blocks for articles/people with a list display.
- [x] #2071 Custom events block
- [x] #1925 Replace homepage default content with Layout Builder version.

# Issues
- [x] #1783 Unable to edit custo

[2020-06-12 19:17] pyrello commented on #1347
I did eventually investigate this combination of modules as a possibility. I found the solution to be unwieldy and ultimately decided against it. Closing in favor of #1555

[2020-06-12 19:17] #1347 closed, assigned to nobody

[2020-06-12 19:19] pyrello commented on #1517
There is a newer issue related to this, #1555 and the work is being done in #1529. Closing in favor of those issues.

[2020-06-12 19:19] #1517 closed, assigned to nobody

[2020-06-12 19:24] pyrello opened #1779 "Moving to Layout Builder"
- [x] #1660 and #1806: Finish SiteNow UIDS integration - This is needed to provide some relief with regard to interest in the new branding and design options that have been repeatedly demoed as part of the home page redesign project.
- [x] #1807: Move current SiteNow (V2) Paragraph config into a split.
- [x] Build SiteNow V3 using Layout Builder
- [x] #1778: Layout Builder feature completeness
- [

[2020-06-12 20:15] bspeare opened #1780 "Update button @extends in uids_base to use @include instead."
# Problem

Button @extends in UIDS were creating an issue with selector chaining and cascading order within components.   This PR (https://github.com/uiowa/uids/pull/240) updates the button styles to be argument-less mixins to avoid issues.

# Proposed Solution

Update usage of `@extend %bttn` to `@include bttn` in `uids_base` with a new 2.0.4 UIDS release.

[2020-06-12 20:59] joewhitsitt commented on #1749
Started https://github.com/uiowa/uiowa/pull/1781 to play with the workspace idea. A lot of work to do. I think something might be wrong with the field groups used on the view modes.

`blt frontend` compiles the workspaces. probably want to ignore the assets going forward.

Not sure how to incorporate the old collapse behavior with the biography. https://uids.brand.uiowa.edu/components/detail/accor

[2020-06-12 21:02] #1678 closed, assigned to joewhitsitt

[2020-06-14 18:02] pyrello opened #1783 "Reverted nodes using LB and custom blocks trigger when editing the block"
# Steps to reproduce
* Create a "Draft" page on uiowa.edu and save.
* Click the Layout tab.
* Add a custom block (text area is fine) with some basic content.
* Save the layout updates.
* Edit the layout, change the custom block content, and save again.
* Click the Revisions tab.
* Revert to the previous revision.
* Click the Layout tab.
* Attempt to edit the contents of the custom block and you wi

[2020-06-15 14:10] #1783 closed, assigned to pyrello

[2020-06-15 14:47] joewhitsitt commented on #1779
A few thoughts. I am okay with transitioning to all new SiteNow sites using Layout Builder sooner than later with the "beta" label, letting customers know we are still working on it and the documentation/training that needs to be created. This will allow big sites to start putting content into the correct bucket. The feature parity might not yet be there, but we will communicate those changes as t

[2020-06-15 16:06] #1392 closed, assigned to dnkemper

[2020-06-15 18:18] quamsta commented on #1665
@bspeare Oops, I did test this, but forgot to reply. It seems to be fixed on all of my devices I was seeing it occur on. Thanks for looking at this, Ben!

[2020-06-15 18:55] #1471 closed, assigned to joewhitsitt

[2020-06-15 20:39] mjoneill commented on #1779
Please keep the conversation going.

I added a meeting to our calendars to discuss on Wed with the team.

I’d like to see if there’s a path forward we can all get behind and that allows us to:

1.	Tell clients just starting redesign work what type of site they should build on (paragraphs/layout builder/Gutenberg)
2.	Tell past clients who already migrated to D8 how they will be brought forward
3.	T

[2020-06-15 21:21] joewhitsitt commented on #1779
Honest question, beyond feature parity is the implementation of layouts stable enough to hand out to hundreds of customers or are there tasks that would need to be prioritized just to get more users working with it?

[2020-06-15 21:34] mjoneill commented on #1779
I'd like to hear the thinking behind this as well.

[2020-06-15 21:39] pyrello commented on #1779
I'm doing my best to document these considerations in #1778. It is by no means complete at this point, but meant to be an honest accounting of what it would take.

To some degree, we don't know what we don't know with regard to readiness. This is why I would love to have all the ITS developers give LB a serious test to see what we are missing.

[2020-06-16 15:08] joewhitsitt commented on #1779
Of course I am biased, but I am personally shifting towards layouts because it is in Drupal core, OSC marketing and because I think it is smart to unify Drupal on campus when possible, not because I have experience with it believe it to be the best method most of the time.

I have not worked with it yet as an editor so I honestly don't know a whole lot. All I have seen are demo experiences and the

[2020-06-16 15:21] joewhitsitt commented on #1320
This is showing up in SiteImprove results

[2020-06-16 15:29] bspeare commented on #955
Also related: https://www.drupal.org/docs/8/modules/layout-builder-restrictions/restricting-blocks-to-specific-layouts-regions

[2020-06-16 15:32] pyrello commented on #955
This is actually being used in #1622

[2020-06-16 15:33] bspeare commented on #958
Related modules to consider:

https://www.drupal.org/project/layout_builder_component_attributes
https://www.drupal.org/project/block_style_plugins
https://www.drupal.org/project/block_styles
https://www.drupal.org/project/block_class

[2020-06-16 15:38] bspeare opened #1789 "Create Articles/People functionality in layout builder using custom block types"
# Problem

Provide a way to add view of People, Articles.

# Proposed Solution

Recreate the paragraph bundles in v2 as custom block types in v3, keeping things to a list style only for now.

Create a separate issue offer more layout/style options to display articles, people and possibly events in the future.

[2020-06-16 16:05] pyrello commented on #1779
@joewhitsitt To your point earlier about figuring out how to have paragraphs at the same time as LB, I have already done this just to prove to myself that is is possible. In #1622, we are turning on layout builder for managing layout at the template level for pages and articles to allow for creating a standard header experience with a hero image behind the breadcrumb and title. In the page LB temp

[2020-06-16 17:09] joewhitsitt opened #1791 "SiteImprove Error Locally"
## Problem

I get the following each time I save a page locally:

## Proposed solution

Turn off siteimprove locally via env split

[2020-06-16 17:36] joewhitsitt commented on #1778
I added a few above, but I also have some other concerns to have further discussion about before deciding if it is an issue or not:

- Webmasters have block and block layout access (which I imagine is needed for layout builder) allowing changes to stuff tracked in configuration (Removing blocks, changing placement, modifying menu block settings, adding any block in the system to page). Is there a

[2020-06-16 17:54] pyrello commented on #1778
@joewhitsitt #1523 above is intended to address locking down the page header section to anyone except people with the right permissions. It looks increasingly like we are moving towards a standard-ish header for pages and articles using the hero image + breadcrumb + title layout. #1622 will be part of making that change. The header area should still be able to be overridden by site admins, or poss

[2020-06-17 03:05] bspeare opened #1793 "Fix extra space between content and footer when uids_base is viewed in IE11"
# Problem

A giant space is between the footer and the content area when `uids_base` sites are viewed in IE11.

# Proposed Solution

Add targeted css to resolve this extra space.

[2020-06-17 03:13] #1786 closed, assigned to bspeare

[2020-06-17 03:13] #1787 closed, assigned to bspeare

[2020-06-17 15:48] #1748 closed, assigned to richardbporter

[2020-06-17 16:37] richardbporter opened #1794 "[info] uiowa_core should have an extra.drush.services section in its composer.json."
Noticed this in cloud hook output. See http://docs.drush.org/en/master/commands/#specifying-the-services-file.

[2020-06-17 17:30] #1714 closed, assigned to cory-skeers

[2020-06-17 20:04] #1723 closed, assigned to cory-skeers

[2020-06-18 13:39] pyrello commented on #1791
@joewhitsitt I think that makes sense, since it isn't really meant as a development tool. If we needed to test it locally, we could turn it on manually, or test it in dev or stage.

[2020-06-18 13:41] pyrello commented on #1789
So, it looks like both of the listed module address how to display views in the formats listed, but not how to go about making them available to attach in LB. I think just creating a view blocks will make them show up?

[2020-06-18 14:21] #1232 closed, assigned to richardbporter

[2020-06-18 14:46] joewhitsitt commented on #1791
I haven't looked into the error much, but I wonder if this could be solved by covering the local domains and leaving it on. Michael just told me that that the number of domains is not an issue. This would also developers to deal with a11y issues before deploying!

[2020-06-18 14:47] joewhitsitt commented on #1789
You folks don't like my programmatic view renders?!

[2020-06-18 14:50] joewhitsitt opened #1800 "Add SiteImprove module to default config, remove from collegiate"
Blocked for now while SSO is investigated

- [x] Enable for all sites
- [x] Setup default config/permissions
- [x] Remove from collegiate split

[2020-06-18 15:06] #1794 closed, assigned to nobody

[2020-06-18 15:48] bspeare commented on #1789
I do like them! I just added the items above to start the conversation.

[2020-06-18 16:50] bspeare opened #1801 "Superfish menu parents not displaying full-width of toggle container in uids_base"
# Problem

<img width="1720" alt="Screen Shot 2020-06-18 at 11 46 46 AM" src="https://user-images.githubusercontent.com/1036433/85048861-87fe0a00-b159-11ea-8780-26f8f876fc46.png">

# Proposed Solution

Adjust https://github.com/uiowa/uiowa/blob/master/docroot/themes/custom/uids_base/scss/components/menus/superfish.scss to display menu item parents to display full-width of the toggle menu container

[2020-06-18 17:56] cory-skeers opened #1803 "Option for automated content move from Paragraphs to Layout Builder"
## Problem
Depending on timelines and methodology, possibility of an automated update to move content from paragraphs to layout builder could ease the transition.

### Update
Migration option is being built out in a custom module (sitenow_p2lb). Current functionality works (with some bugs) with text and card content blocks.

### Content types to account for from paragraphs
- [x] Text
- [x] Card
-

[2020-06-18 18:45] GaryRidgway opened #1805 "Headers on pages have scrollbar by default."
Page headers have `overflow-y: scroll` which automatically makes a scrollbar appear on the header.
![Screen Shot 2020-06-18 at 1 38 00 PM](https://user-images.githubusercontent.com/23122142/85059586-7de40780-b169-11ea-832c-eb3a6b894e40.png)

Proposed solution: change `overflow-y: scroll` to `overflow-y: auto` so that any overflow only creates a scrollbar when necessary.

![Screen Shot 2020-06-18 a

[2020-06-18 20:21] bspeare opened #1804 "As a developer, I can deploy a site that uses the latest UIDS 3.0 release in uids_base"
- [x] Create 3.0 Release for UIDS and update `uids_base` to use 3.0 release.
- [x] Refactor `uids_base` to use new Iowa Bar from UIDS: https://uids.brand.uiowa.edu/components/detail/prototype-iowa-bar--full.html
- [x] Refactor `uids_base` to use newly refactored footer.
- [x] Verify that new bar works in IE11.
- [x] https://github.com/uiowa/uiowa/issues/1780 Adjust button extends (in uiowa_paragra

[2020-06-18 20:47] bspeare commented on #1665
@quamsta Thanks for verifying!

[2020-06-18 20:47] #1665 closed, assigned to nobody

[2020-06-18 21:12] pyrello opened #1807 "Move SiteNow V2 Paragraphs-related config to a split"
- [x] Move the current Paragraphs-related config to a SiteNow V2 split.
- [x] Replace the base (default) config with pages based on layout builder, similar to config in the collegiate split.
- [x] Update hook (?) to enable the new split on all current SiteNow sites.

[2020-06-19 13:53] cory-skeers opened #1808 "Theming of <a> tags without hrefs"
## Problem
<a id="*"> tags have been used in content to serve anchor links. In uiowa_bootstrap, these appear unstyled.
![image](https://user-images.githubusercontent.com/49074566/85139473-17fb8c80-b20a-11ea-91c9-24edf2b1dbb9.png)

uids_base they appear styled as a functioning link:
![image](https://user-images.githubusercontent.com/49074566/85139544-2f3a7a00-b20a-11ea-98ce-8e8c338a28db.png)

[2020-06-19 14:40] joewhitsitt opened #1809 "SSL Cert Issue - cognitivecontrol.psychology.uiowa.edu on uiowa"
Got a browser warning message

[2020-06-19 15:15] cory-skeers opened #1810 "Theming of <div> text"
Relates to #1660

## Problem
In uiowa_bootstrap, there is some theming at the body{} level which carries forward to text in `<div>` tags.
![image](https://user-images.githubusercontent.com/49074566/85146836-a32d5000-b213-11ea-81ac-16fa6024b56d.png)

In uids_base, the `<div>` tags don't get the full theming, and the spacing is tight.
![image](https://user-images.githubusercontent.com/49074566/85146

[2020-06-19 16:11] pyrello opened #1811 "Footer logo appears smaller in SiteNow sites"
What the footer logo is supposed to look like:
<img width="467" alt="Screen Shot 2020-06-19 at 11 09 44 AM" src="https://user-images.githubusercontent.com/709009/85154730-6f572800-b21d-11ea-853d-2ab72411f047.png">
What it looks like on SiteNow sites:
<img width="515" alt="Screen Shot 2020-06-19 at 11 09 38 AM" src="https://user-images.githubusercontent.com/709009/85154727-6e25fb00-b21d-11ea-8482-0

[2020-06-19 16:38] joewhitsitt opened #1812 "Loss of top padding on some paragraphs"
Relates to #1660
https://diversity.uiowa.edu/about/division-units
<img width="285" alt="Screen Shot 2020-06-19 at 11 33 10 AM" src="https://user-images.githubusercontent.com/4663676/85157616-53ee1c00-b221-11ea-84ea-022a55398771.png">
<img width="231" alt="Screen Shot 2020-06-19 at 11 33 22 AM" src="https://user-images.githubusercontent.com/4663676/85157621-5486b280-b221-11ea-93cf-d48766eedc42.png"

[2020-06-19 17:18] joewhitsitt commented on #1394
Could this be done as part of #1660?

[2020-06-19 17:20] joewhitsitt commented on #1606
Need to check whether this is an current issue with the changes being done in https://github.com/uiowa/uiowa/pull/1622

[2020-06-19 17:21] joewhitsitt commented on #1656
Does this also affect uids_base @cory-skeers?

[2020-06-19 17:26] richardbporter commented on #1394
Yes I think so

[2020-06-19 18:41] #1484 closed, assigned to nobody

[2020-06-19 18:41] #1617 closed, assigned to pyrello, bspeare

[2020-06-19 18:41] #1805 closed, assigned to nobody

[2020-06-19 20:15] bspeare opened #1815 "Pager, row, and article link display issues in uids_base"
# Problem

The views row border hits against the articles pager:

<img width="746" alt="Screen Shot 2020-06-19 at 3 14 10 PM" src="https://user-images.githubusercontent.com/1036433/85176490-90c90b80-b23f-11ea-9415-c139bc1b07e9.png">

The articles pager is too close to the more button:

<img width="737" alt="Screen Shot 2020-06-19 at 3 14 13 PM" src="https://user-images.githubusercontent.com/103643

[2020-06-19 20:29] pyrello opened #1816 "Not enough space at the top of content when title is not shown"
<img width="1387" alt="Screen Shot 2020-06-19 at 3 28 18 PM" src="https://user-images.githubusercontent.com/709009/85177378-96bfec00-b241-11ea-97f3-a8f1b25ab812.png">

[2020-06-19 20:53] cory-skeers commented on #1656
~Updated the label--it does affect uids_base as well.~

Spoke to soon! The width is static, which is maybe not the prettiest/ideal solution, but it doesn't overflow in uids_base, so not a bug.

[2020-06-20 16:18] pyrello commented on #1550
Just adding some notes here:
@mark-bennett-uiowa and I talked about the possibility of using the Layout builder library module (https://www.drupal.org/project/layout_library), which allows admins to create multiple layout templates for a given entity/bundle. A content editor can select the layout type and it is applied to that node.

The way in which this module fails to be a good solution for the

[2020-06-20 18:57] pyrello commented on #1550
It turns out that the pre_render and prepare layout event do not overlap and therefore doesn't affect the LB Direct Add module after all.

[2020-06-22 13:22] cory-skeers opened #1817 "Migrate uiowa_bar quick links"
Relates to #1660

As part of the move to uids_base and from uiowa_bar to uiowa_search, look into programmatically migrating links currently in quick links, possibly to the Top Links menu.

[2020-06-22 13:50] joewhitsitt commented on #986
This just happened... https://www.drupal.org/project/linkit_media_library

[2020-06-22 16:11] #1812 closed, assigned to bspeare

[2020-06-22 16:11] #1815 closed, assigned to bspeare

[2020-06-22 16:11] #1816 closed, assigned to nobody

[2020-06-22 17:28] joewhitsitt commented on #1654
Constructing a few pages on default dev for testing. Pull locally (docroot/sites/default/blt.yml), turn on uids_base and go to:

https://default.local.drupal.uiowa.edu/kitchen-sink
https://default.local.drupal.uiowa.edu/kitchen-sink-webform
https://default.local.drupal.uiowa.edu/kitchen-sink-carousel

[2020-06-22 20:24] cory-skeers opened #1820 "Include 'Additional Information' from SiteNow footers in uids_base"
Relates to #1660

## Problem
'Additional Information' in basic site settings (admin/config/system/site-information) for SiteNow sites includes Title and textarea Details fields that can be included in the footer. This has been used for various content: contact details, site slogans, acknowledgement/attribution info.

### New home for existing content
Content already in place needs to be handled. C

[2020-06-22 21:02] joewhitsitt opened #1822 "Restrict non-homepage sites to two rendered top links"
## Problem

Top links are now controlled by a separate menu that has no restrictions. The brand team decided the max of two links still applies however except for the homepage.

## Proposed solution

Add logic to only print two menu links for non-homepage sites in the template.

Add menu guidelines explaining the logic and point to documentation where it is reinforced.

[2020-06-22 21:38] cory-skeers opened #1824 "Remove Additional Info, Brand Lockup, and Slogan options from Site Settings"
Site slogan, brand lockup, and additional info options are available in basic site settings of SiteNow sites. In uids_base, content from these fields is not used, and needs to be removed.

## Proposed solution

-  ~~Move content in Slogan to a suitable spot within uids_base (if necessary)~~
- [x] Remove Site Slogan from site settings options for uids_base theme, or add notice that it is deprecated

[2020-06-22 22:15] pyrello commented on #1550
Just discussed this with @mark-bennett-uiowa and I was misunderstanding the use case of this a bit. These are going to be listed on a page, but they don't really need to be content. In addition to the idea of a custom block, I also suggested taking a look at the [fragments](https://www.drupal.org/project/fragments) module. I've considered this module related to #1503.

[2020-06-23 14:10] #1740 closed, assigned to nobody

[2020-06-23 15:44] cory-skeers commented on #1820
Followup from parking lot discussion:
Contact info region in footer may be a better spot for it--move content into a block which can be placed here. Some cleanup may be necessary depending on the site, but this is likely a good catchall spot.

[2020-06-23 15:47] cory-skeers commented on #1824
Followup from parking lot discussion:
Brand lockup--remove the option in site settings, but maintain the file itself, possibly by moving it into the general managed files.

Site slogan--potentially hide on sites using uids_base theme where it isn't rendered, but leave in place overall for sites that may potentially use it still. However it gets handled has a potential for "where'd my slogan go?" t

[2020-06-23 18:30] #1808 closed, assigned to cory-skeers

[2020-06-23 20:28] cory-skeers commented on #1810
The `line-height: 1.15` is explicitly added in the uids `_base.scss`. Might not be anything to "fix" then, and simply a style difference.

[2020-06-23 20:35] bspeare commented on #1810
@cory-skeers What items usually appear in the `<div>` within the wysiwyg?

[2020-06-23 21:38] cory-skeers commented on #1810
https://cnm.uiowa.edu/concert-season-54/concert-3b-102719 was the example page from above. SiteNow service webmaster who regularly goes into the `source` to edit and arrange content.

Not sure that any items use `<div>` within the wysiwyg outside of someone putting them in directly. Content in tables use the `line-height: 1.15` as well, but that also gets a `font-size: 1.2rem`, so the spacing isn'

[2020-06-24 13:41] joewhitsitt opened #1828 "Update International Programs Footer to use Block Iowa Wordmark"
## Problem
They are currently using an outdated lockup and would like to start adopting the brand where possible.

See "Adding new lockup to International Programs footer" email in its-web for details.

<img width="493" alt="Screen Shot 2020-07-01 at 9 24 36 AM" src="https://user-images.githubusercontent.com/4663676/86255532-d5786f00-bb7c-11ea-98ab-81f6f6b9938c.png">

## Proposed Solution

Adopt t

[2020-06-24 13:50] joewhitsitt commented on #1820
Doesn't the footer content (uiowa_footer) just need to be migrated into block/1 (Footer Contact Info) and just delete the default content in that block (generic address and phone number)?

[2020-06-24 13:52] cory-skeers commented on #1820
@joewhitsitt -- We can certainly do that. I was under the impression that the generic info was part of the universal branding, but that could have been my misunderstanding.

[2020-06-24 13:54] joewhitsitt commented on #1820
@pyrello correct me if I am wrong but isn't the content in the contact info block just to serve as "default content"

[2020-06-24 13:56] pyrello commented on #1820
The content in the contact info block is just placeholder content by default. It is meant to be customized per site. As part of the update that introduced that block a while back, there was an update hook to populate the block on every site, so it should exist, even if it's not visible.

[2020-06-24 13:57] cory-skeers commented on #1820
Ahhh... Okay. Parking lot suggestions from 6/23 make a lot more sense now. Thanks @joewhitsitt and @pyrello!

[2020-06-24 14:09] #1801 closed, assigned to bspeare

[2020-06-24 14:21] pyrello commented on #1824
Lockup forms for the footer are provided by uiowa_footer module, I believe. As we are replacing all the functionality from that module, I think we can consider deprecating the module and removing it from the project.

[2020-06-24 14:35] #1340 closed, assigned to cory-skeers

[2020-06-24 14:51] cory-skeers opened #1829 "Migrate brand lockup image to managed files"
## Problem

Use of brand lockup images on websites is being removed. Move to uids_base will include the discontinued use of these images in the footer, and SiteNow users will not have access to their lockup image files.

## Proposed solution

Migrate brand lockup image into the managed files.
Potentially update the file updated date to place the file at the end of the list (with the intention of i

[2020-06-24 14:52] cory-skeers commented on #1824
Blocked by #1829

[2020-06-24 15:44] joewhitsitt opened #1830 "Possible regresssions with focal point/lazy/claro"
## Problem

Previously focal point wasn't perfect and we hid the preview functionality in adminimal. Supposedly, this got fixed, but now paired with claro and lazy, preview images are broken.

I believe this is separate from https://github.com/uiowa/uiowa/issues/1721.

## Proposed Solution

Hide the preview functionality again:
https://github.com/uiowa/uiowa/commit/39b64770ce020304f910dc185d0ae9ce

[2020-06-24 15:51] joewhitsitt opened #1831 "Set import to minimal and set default to minimal for new banner/card excerpts"
## Problem
Follow-up to https://github.com/uiowa/uiowa/pull/1790 we decided to import to minimal instead of filtered_html to avoid mis-use/display problems with rendering rich markup in these components.

## Proposed Solution
Update the import and set format default

[2020-06-24 16:58] joewhitsitt commented on #1749
@pyrello and @bspeare, looking to get your thoughts on this issue. Including a link https://internationalighn.prod.drupal.uiowa.edu/ to demonstrate the current biography collapse functionality. I think the original idea was that we would not send visitors to the full node to read biography information and instead send clicks to the available website/cv. This paired with the max-height, somewhat de

[2020-06-24 20:55] #1137 closed, assigned to joewhitsitt

[2020-06-25 01:28] pyrello opened #1838 "Change "master" branch to "main" or something else."
This sums it up nicely: https://tools.ietf.org/id/draft-knodel-terminology-00.html#master-slave

Here is a guide on how to make it happen: https://www.hanselman.com/blog/EasilyRenameYourGitDefaultBranchFromMasterToMain.aspx

[2020-06-25 13:19] bspeare opened #1844 "Regression with mobile card view of articles in uids_base"
# Problem

Recent updates removed the bottom border from the mobile view of the card list for paragraphs.

<img width="494" alt="Screen Shot 2020-06-24 at 3 51 40 PM" src="https://user-images.githubusercontent.com/1036433/85727347-8b931300-b6bc-11ea-9afc-0e86863b5d49.png">

# Proposed Solution

Update CSS so that bottom border is only removed at `sm` breakpoint.

[2020-06-25 13:34] pyrello commented on #1749
@joewhitsitt If you want to add these fields to one of the existing extendable twig blocks, you would be looking at one of these: https://github.com/uiowa/uiowa/blob/1e44c8be06e9b855a6134f4995d12559218e2cea/docroot/themes/custom/uids_base/templates/uids/card.html.twig#L67-L83

Here is an example of two of those blocks being overridden in the article teaser template: https://github.com/uiowa/uiowa/

[2020-06-25 14:59] #1831 closed, assigned to joewhitsitt

[2020-06-25 15:50] joewhitsitt opened #1848 "Carousel slide markers overflow"
## Problem

Too many slides and not enough width cause overflow. Also, it doesn't seem centered at larger widths.

<img width="621" alt="Screen Shot 2020-06-25 at 10 48 21 AM" src="https://user-images.githubusercontent.com/4663676/85753005-812f4400-b6d1-11ea-87a4-5eac5d1b5394.png">

## Proposed solution

Responsive sizing of markers

[2020-06-25 18:29] joewhitsitt opened #1849 "People paragraph docs"
Craft similar to articles
https://sitenow.uiowa.edu/documentation/content-blocks/articles

[2020-06-25 18:32] joewhitsitt opened #1850 "Remove linkit button quick links for unsupported button styles"
## Problem
Buttons beyond primary, secondary don't exist in uids_base (e.g. danger, warning, etc.).

## Proposed Solution
Remove those options for new content. Unrelated to #260
HR still needs these until they are off uiowa_bootstrap, so copy the logic and add the remaining to HR only.

[2020-06-25 21:40] #1822 closed, assigned to joewhitsitt

[2020-06-25 22:21] pyrello opened #1851 "Layout Builder highlight is showing while inline block is being edited"
<img width="1347" alt="Screen Shot 2020-06-25 at 5 13 50 PM" src="https://user-images.githubusercontent.com/709009/85801257-1e0cd400-b708-11ea-9fe2-c1a6d81bc9e9.png">

The image above is from production.

It seems to be caused by the following style:
[code]

The outline isn't a problem per se, but it is showing up on the title in addition to showing around the block.

[2020-06-26 13:37] bspeare opened #1853 "Remove aria-describedby on remaining sitenow card templates in uids_base"
# Problem

Templates like `node--article--teaser.html.twig` still use an older version of the card template.

# Proposed Solution

Update article teaser template and search for any others that remain.

[2020-06-26 14:24] #1264 closed, assigned to nobody

[2020-06-26 15:11] richardbporter opened #1854 "Change default branch from master to main"
We should change the default branch to main and delete master.

https://www.inputmag.com/culture/github-others-are-replacing-racist-terms-like-master-slave

[2020-06-26 15:11] #1854 closed, assigned to nobody

[2020-06-26 15:15] #1810 closed, assigned to bspeare

[2020-06-26 15:15] #1811 closed, assigned to bspeare

[2020-06-26 15:15] #1844 closed, assigned to bspeare

[2020-06-26 15:30] #1654 closed, assigned to nobody

[2020-06-26 18:13] cory-skeers commented on #1824
Lockup forms for the footer as well as additional info, both of which will be deprecated in uids_base, are provided by the uiowa_footer module. Parts of the update from uiowa_bootstrap to uids_base will move content from Additional Info into the Footer Contact Info block, and create a media entity for any existing brand lockup image, so the file is still accessible by users.

Following those updat

[2020-06-26 20:43] cory-skeers opened #1857 "uids_base accordion ids in markup"
Relates to #1775

## Problem

- [x] uids-accordion__heading id missing from markup. used for aria-labeledby.
- [x] accordion-No1 id doesn't line up with data-parent value.

[2020-06-29 19:00] #1853 closed, assigned to bspeare

[2020-06-29 19:54] richardbporter opened #1866 "Default site gets skipped during multisite iteration"
Which means cron, updates, etc. aren't running.

[2020-06-30 13:58] joewhitsitt opened #1867 "Files aren't being deleted"
## Problem

Media deletes a file, but it doesn't actually get removed from the server. All files are currently being marked as permanent and this doesn't change even if the file usage is 0. A change in 8.4 made this behavior the default to prevent unwanted data loss.

`make_unused_managed_files_temporary`

Additionally, revisions are also keeping the file_usage count up.

https://www.drupal.org/no

[2020-06-30 15:51] #1866 closed, assigned to nobody

[2020-06-30 16:04] #1857 closed, assigned to cory-skeers

[2020-06-30 18:40] richardbporter commented on #1838
I can tackle this after merging most of our open PRs. Mostly concerned with the dependabot ones.

[2020-06-30 19:18] pyrello commented on #1838
Thanks, @richardbporter!

[2020-06-30 20:43] #1848 closed, assigned to nobody

[2020-07-01 12:57] briand44 opened #1876 "SSL for techforum.uiowa.edu on uiowa01"

[2020-07-01 13:09] briand44 commented on #1809
this is on uiowa

[2020-07-01 13:55] #1838 closed, assigned to nobody

[2020-07-01 14:30] #1876 closed, assigned to briand44

[2020-07-01 14:30] #1636 closed, assigned to briand44

[2020-07-01 15:01] bspeare opened #1878 "Set heading style for footer links in uids_base"
# Problem

Footer link headings appear unstyled and in a flex column next to the footer links.

<img width="670" alt="Screen Shot 2020-07-01 at 9 54 14 AM" src="https://user-images.githubusercontent.com/1036433/86259601-d3fd7580-bb81-11ea-8757-7d581583fa06.png">

# Proposed Solution

Add a style to `footer.scss` component to set this style.

[2020-07-01 15:08] bspeare opened #1879 "Update footer contact info text area in uids_base footer to be minimal html format"
# Problem

The Additional Information area for SiteNow sites in the `uids_base` footer is currently set to allow filtered html.

# Proposed Solution

Change text format to minimal html and allow `<span>` tags for font icons.

[2020-07-01 21:55] joewhitsitt commented on #1879
Footer Contact Info is a text area block. Do we want to restrict the text area block to just minimal? Otherwise just restricting block/1 to minimal is a bit more complicated.

[2020-07-02 14:10] pyrello commented on #1879
We do not want to restrict text area block to minimal, since it is our catch-all block type that allows us to cover cases we can't cover with other components yet.

This would require an update hook instead of changing config.

[2020-07-02 14:15] bspeare opened #1889 "Investigate limiting available options in layout builder editing tray"
# Problem

The layout builder tray offers too many options when adding a new block when you select the "More..." option.

<img width="1663" alt="Screen Shot 2020-07-02 at 9 12 15 AM" src="https://user-images.githubusercontent.com/1036433/86369751-7d0ca480-bc44-11ea-9fa1-075054407b66.png">
<img width="323" alt="Screen Shot 2020-07-02 at 9 12 01 AM" src="https://user-images.githubusercontent.com/103

[2020-07-02 14:17] pyrello commented on #1889
You can set this in the content type manage display page by implementing block restrictions.

[2020-07-02 14:20] richardbporter commented on #1775
I can take a shot at the alerts tasks if nobody has started on those.

[2020-07-02 14:21] joewhitsitt commented on #1775
Quick note about "hawk alert needs a landmark" there are two. One is controlled by our JS, the other is the drupal announce region. There is an issue about that.

I would suggest role=region for the JS one and an aria-label to make it unique

[2020-07-02 14:31] bspeare commented on #1889
To set it on uiowa.edu, you would go to https://uiowa.edu/admin/structure/types/manage/page/display#edit-layout-layout-builder-restrictions-allowed-blocks.

[2020-07-02 15:03] bspeare commented on #1789
@GaryRidgway  It looks like these are the current views available via layout builder:

<img width="372" alt="Screen Shot 2020-07-02 at 10 01 20 AM" src="https://user-images.githubusercontent.com/1036433/86375446-4dad6600-bc4b-11ea-82bd-c6ba94b9147b.png">

- Is this the correct list of views?
- Do we need to add more or remove any?
- Do we want to provide style variants of these views?
- If so, wha

[2020-07-02 15:26] GaryRidgway commented on #1789
are there any sites with layout builder that actually have people or articles for me to test with? the three I pulled don't have any.

In addition, are the "who's online" and "recent Content" views useful? I don't think i have seen people use those. recent content maybe if we can filter with it but definitely not "Who's online"

[2020-07-02 15:31] joewhitsitt commented on #1789
Restricting blocks is in https://github.com/uiowa/uiowa/issues/1889

I am not sure we want to use these same views for articles/people unless we implement them via custom block types. These were crafted with paragraphs and view pages in mind.

[2020-07-02 17:35] joewhitsitt commented on #1828
`aaa8d32a4` in the release `tags/2020-07-02`

[2020-07-02 17:35] #1828 closed, assigned to joewhitsitt

[2020-07-02 17:54] joewhitsitt opened #1890 "Investigate granular block permissions"
## Problem

Currently block permissions are pretty limited and allow users a lot of control (configuring block settings, region placement, even deleting blocks currently captured in configuration). For SiteNow v2 to adopt layouts, or even allow editing of the footer content info block, more control is needed by default.

## Proposed solution

Remove the block access permission and use a contrib pr

[2020-07-02 18:44] joewhitsitt opened #1891 "Style change for education.uiowa.edu's superfish menu"

[2020-07-02 20:01] joewhitsitt commented on #1779
Is the collegiate split what should be default? permissions, text formats and other things come with it. It isn't just layouts.

One thing that stands out is local video.

[2020-07-02 21:13] richardbporter commented on #1401
The uiowa_alerts module will also be enabled so we'll need docs on that. I can help write those.

[2020-07-02 21:14] richardbporter commented on #1401
Like for download and/or historical purposes?

[2020-07-03 15:52] mjoneill commented on #1800
I'd like to revisit the conversation about adding the Siteimprove plugin to D7 Sitenow sites.  Seems like we might have clients on D7 longer than we knew a few weeks ago, and I'd like to see what we learn from D8 integration that could inform our conversation about D7 integration.

[2020-07-03 15:59] mjoneill opened #1892 "Investigate Asana github integration"
Investigate Asana github integration

[@mjoneill]

[2020-07-03 16:01] mjoneill commented on #1892
Moved this in to Parking Lot as we ran out of time in planning.

[2020-07-03 16:03] mjoneill commented on #1892
So, I poked around a bit and found a few possible routes to integrate.  The most feature rich right now seems to be the Unito product (not free): https://guide.unito.io/en/articles/3478406-asana-github-integration

@richardbporter I have a vague recollection that you once looked at integration options.  Do you recall if there was a native connector or something else you looked at?

[2020-07-06 15:46] #1891 closed, assigned to joewhitsitt

[2020-07-06 15:53] joewhitsitt commented on #1749
This was added to #1806

[2020-07-06 16:21] joewhitsitt opened #1895 "IGHN.International - Improper heading levels"
A visually-hidden h2 is needed to deal with the page title (h1) to person name (h3) jump.

[2020-07-06 18:02] joewhitsitt opened #1896 "Aria-labels on <nav> elements"
## Problem

Horizontal <nav> element needs an aria-label. This may affect other menu blocks as well in uids_base.

`<nav class="menu-horizontal nav--horizontal header--secondary horizontal">`

[2020-07-06 18:12] joewhitsitt opened #1898 "Hawk Alerts need a landmark"
## Problem
When rendered (see uiowa.edu stage site) there are two rendering of hawk alerts. One in the header and one in the drupal announce, both of which do not have an appropriate landmark. We should wait for a core solution for the Drupal Announce area (https://www.drupal.org/project/drupal/issues/3098857) but try and address the block version.

## Proposed solution

- [x] Update the JS block

[2020-07-06 18:13] joewhitsitt opened #1899 "Hawk Alert accessibility issues"
# Problem

Our Hawk Alert implementation has a couple problems with how we are inserting Hawk Alerts into Drupal's message system. First, a Siteimprove rule is be triggered for the `#drupal-live-announce` region: https://alfa.siteimprove.com/rules/sia-r54. The rule and subsequent testing seems to indicate that this might be getting triggered because we are inserting Hawk Alerts into the region wit

[2020-07-06 18:56] joewhitsitt opened #1900 "Nested heading issues"
## Problem

There are a few situations where the programmatic render of content is causing improper heading combinations.

## Proposed Solution

Fix by creating specific templates or setting heading level variable that is passed to template.

- [x] Articles (articles, featured content paragraphs = h3, view page  = h2)
- [x] People (people, featured content paragraphs = h3, view page  = h2)
- [x] B

[2020-07-06 19:41] richardbporter commented on #1899
I don't think we can add it to that element as the markup is generated by the Drupal messages API. I'm not seeing an option to pass it in.

[2020-07-06 20:00] pyrello opened #1901 "Additional testing after #1847 is merged"
This issue is a follow-up to #1847 to allow for additional testing against sites that are not currently using UIDS in production.

# To test

## Site header
- Test the following variations of the header:
  * Site name inline with toggle nav and sticky header
  * Site name inline with toggle nav without sticky header
  * Site name inline with horizontal nav and sticky header
  * Site name inline wi

[2020-07-06 20:06] richardbporter commented on #1898
Hawk Alerts are rendered via JS, the custom alert is rendered via a block: https://github.com/uiowa/uiowa/blob/af9f9f5a117fc7b309fc424f951d7c855918efb6/docroot/modules/custom/uiowa_alerts/src/Plugin/Block/AlertsBlock.php#L60 So updating the block render to include a region will partially solve this, is that correct?

[2020-07-07 14:25] pyrello opened #1904 "Add more details to docs about enabling collegiate split"
Visit _/admin/config/development/configuration/config-split_ and enable Collegiate split.

Run the following command to re-import configuration:
[code]

[2020-07-07 14:27] joewhitsitt commented on #1904
easy peasy!

[2020-07-07 14:53] pyrello opened #1905 "Permissions for a role between webmaster and administrator?"
This is to document permissions that may require an additional role for users who have a higher technical ability but are not considered developers.

- [ ] Global Metatags?
- [ ] Workbench Access
- [ ] Sitemap https://github.com/uiowa/uiowa/issues/1258

[2020-07-07 15:46] cory-skeers opened #1907 "Remove `uiowa_footer` from dependencies"
Blocked by #1824

[2020-07-07 15:59] #1736 closed, assigned to richardbporter

[2020-07-07 16:41] bspeare opened #1908 "Fix page title / featured image preview within layout builder edit screen"
# Problem

There are a few issues that need to be addressed:

- The layout builder edit screen for pages contains a page title / hero section that is vertically condensed due to the `vh` property set on the hero container.
- There are also multiple "Add Banner" options within the page title hero section - do we need to remove the ability to add blocks within this section?
- There is also no page t

[2020-07-07 21:06] #1611 closed, assigned to cory-skeers

[2020-07-07 21:16] richardbporter commented on #1907
Is this also blocked by HR still using uiowa_boostrap?

[2020-07-07 21:35] cory-skeers commented on #1907
@richardbporter I think without putting in workarounds or updating the split as well, HR using uiowa_bootstrap blocks #1824 too. Idea was to remove the uiowa_footer.settings and disable the module in that one, and remove it in this one. It's a little more tied up in things getting moved around/updated than I'd intended, though.

[2020-07-07 21:41] joewhitsitt commented on #1907
Uh, yes. HR is using all the things still. Nice catch.

[2020-07-08 16:52] richardbporter opened #1914 "Notices and warnings during site install"
### Steps to reproduce locally
- Drop the default site: `drush sql:drop`
- Run a fresh install on the default site: `blt drupal:install`
- See warnings.

Here is a running log of warnings/errors encountered.

[code]

[code]

[code]

[2020-07-08 16:55] richardbporter opened #1915 "WSOD on newly created site"
`Error: Call to a member function label() on null in template_preprocess_uiowa_footer() (line 274 of modules/uiowa/uiowa_footer/uiowa_footer.module).`

### Steps to reproduce locally on the default site (simulating site creation):
- `drush sql:drop`
- `blt drupal:install`
- Visit the front page.

I'm not sure if this belongs here or in the uiowa_footer repo. First reaction is we might be missing d

[2020-07-08 17:09] cory-skeers commented on #1915
Meant to test this, but forgot to get off the branch for #1903. On the plus side, that worked without a WSOD (works to unhook uiowa_footer, in prep for removing it competely.)

[2020-07-08 17:38] joewhitsitt commented on #661
This is no longer planned and already existing in layouts.

[2020-07-08 17:38] #661 closed, assigned to dnkemper

[2020-07-08 17:41] joewhitsitt commented on #140
Modified to capture idea for a possible block implementation

[2020-07-08 17:42] joewhitsitt commented on #655
Modified to capture idea for a possible block implementation

[2020-07-08 17:46] joewhitsitt commented on #725
Modified to capture idea for a possible block implementation

[2020-07-08 18:56] #1915 closed, assigned to nobody

[2020-07-08 20:17] joewhitsitt opened #1918 "Re-Organize SiteNow Documentation v2/v3 split"
## Problem

Our documentation is written with Paragraphs in mind. We need to split this stuff off and replace with layouts specific docs.

## Proposed Solution

- Identify documentation that is outdated or paragraphs only and establish a v2 section to house it. (e.g. https://sitenow.uiowa.edu/documentation/content-blocks)
- Try to account for unique id and url paths and create redirects to the new

[2020-07-08 20:19] #596 closed, assigned to cory-skeers

[2020-07-08 21:33] #1890 closed, assigned to joewhitsitt

[2020-07-08 21:38] pyrello opened #1920 "Further investigation of inline block/LB permissions"
As a follow-up to #1890, we should see what options exist in the contrib space to allow for greater control over LB or inline blocks.

[2020-07-08 21:50] joewhitsitt commented on #1152
**uids_base body example**

<img width="1120" alt="Screen Shot 2020-07-08 at 4 46 18 PM" src="https://user-images.githubusercontent.com/4663676/86973667-96c55480-c13a-11ea-8755-9a9feef13387.png">

So, uiowa_bootstrap is going away and uids_base incorporates underlined links in main content areas that aren't otherwise buttons.

Additionally, we are resolving SiteImprove flags related to https://www

[2020-07-08 21:50] #1152 closed, assigned to nobody

[2020-07-08 21:58] GaryRidgway opened #1922 "Hide Site Improve widget when editing a layout builder page."
When editing a Layout builder page and pulling in blocks from a side menu, the Site improve widget is by default open and blocks some of your view. This should be collapsed by default when editing a layout page.

[2020-07-08 22:21] mark-bennett-uiowa opened #4296 "Build solution for designable pre-footer region"
# Story

As a site owner, I would like to be able to add content to a pre-footer region that is persistent from page to page.

# Proposed solution

* Build a custom content entity type for region areas. Possibly with a bundle for region? Investigate whether we might want to use this module: https://www.drupal.org/project/storage or Fragments. Whichever entity type gets used, it won't have any fiel

[2020-07-09 01:22] pyrello opened #1925 "Layout Builder default content"
# Problem
To be able to fully switch over to Layout Builder, we need to be able to replace the default homepage provided in SiteNow with something built in Layout Builder.

The Default Content module currently doesn't provide this functionality, as it depends on the built-in REST API and that doesn't support exporting layouts or layout blocks yet.

# Proposed solution
There is an issue to add supp

[2020-07-09 13:23] pyrello opened #1926 "Should we keep the body field for basic pages?"
In the context of #1779, one question that needs to be sorted out is whether the body field should be brought over from the Collegiate split.

My argument would be that yes, you should allow a body field for basic pages that don't need all the trappings of Layout Builder. This would be in addition to other updates that would make it more obvious that creating a more advanced layout requires going

[2020-07-09 14:10] joewhitsitt commented on #1926
Agreed.

More important I think is what is the future/purpose of the body summary field when field_teaser exists.

[2020-07-09 15:03] joewhitsitt commented on #1879
We added span/class functionality to minimal and decided it wasn't worth the squeeze in trying to regulate the textarea format for a single block.

Should we close this one for now and wait to see what kind of policy comes from brand regarding footers?

[2020-07-09 15:04] pyrello commented on #1879
I concur.

[2020-07-09 15:09] #1780 closed, assigned to nobody

[2020-07-09 15:09] #1804 closed, assigned to bspeare

[2020-07-09 20:16] bspeare opened #1928 "Refactor hero component to have hero and banner styles"
# Problem

The Hero and Banner component share styles that can be refactored to offer one inline block component that will reduce the number of custom block options available.

# Proposed Solution

Once https://github.com/uiowa/uids/pull/268 is completed, the Banner inline block component and the Hero component will need to be adjusted to offer more variation while being a little more prescriptive

[2020-07-09 20:27] pyrello opened #1929 "Layout Builder Documentation"
- [ ] Images in Layout Builder https://github.com/uiowa/uiowa/issues/1256
- [x] Layout Builder Blocks  blocks/section styling https://github.com/uiowa/uiowa/issues/1961
- [x] Basic Page CT in Layout Builder https://github.com/uiowa/uiowa/issues/1992
    - Documentation or content type guidelines explaining the multi-step of creating initial content and then going to the layout tab.

[2020-07-09 20:29] #1889 closed, assigned to nobody

[2020-07-09 21:08] #1879 closed, assigned to nobody

[2020-07-09 22:07] pyrello opened #1931 "Let's have an image block"
Currently we do not have a custom block that is just used for inserting an image. If someone needs to insert an image, they are just supposed to use the text area and insert it via the WYSIWYG. This is a decision that was made a while back, but it occurs to me that we should revisit it now that Layout Builder is going to be the shared solution.

[2020-07-09 22:25] bspeare commented on #1931
I think it would be nice to have.   Would it just be an image field where you could select the image style and crop?

[2020-07-09 22:27] bspeare commented on #1931
And could we also upload `<svg>` icons through this block too?  A brand icon library would come in handy too.

[2020-07-09 22:28] pyrello commented on #1931
Yeah, just a media image button and image style selection.

I'm wondering if an icon library would require a separate block type? Because in the case of an image, you'd be selecting from other images or uploading, but with an icon, you'd always be choosing from an existing set of options.

[2020-07-10 13:08] cory-skeers commented on #1931
There's at least some anecdotal need for this--I've seen SiteNow webmasters using both cards and plain text areas with nothing but an image, in trying to arrange the image separately.

Re: icons: Healthcare has an icon library on uihc.org that is controlled through a taxonomy, that I think has worked well for them, and could see something like that being put to good use on this side of the river.

[2020-07-10 16:48] mark-bennett-uiowa opened #1934 "SSL for newly created CLAS sites on uiowa01"
Add the following domains to the SSL certificate on uiowa01:

- africanamericanstudies.uiowa.edu
- americanstudies.uiowa.edu
- nativeamericanstudies.uiowa.edu
- globalhealthstudies.uiowa.edu
- interdepartmentalstudies.uiowa.edu
- interdisciplinaryprograms.uiowa.edu
- internationalstudies.uiowa.edu
- latinamericanstudies.uiowa.edu
- latinxstudies.uiowa.edu
- socialwork.uiowa.edu

[2020-07-10 17:33] #1457 closed, assigned to bspeare

[2020-07-10 17:46] mark-bennett-uiowa commented on #1934
@richardbporter @briand44 @pyrello @bspeare This has been completed. The new SSL cert is in place and the old one (expiring 7-1-2021) has been deactivated. We may want to look at revoking old certs in Cert Manager as there will be at least two outdated ones still active. Also we need to look at removing the old CSRs from the Acquia Cloud interface, as they are not being removed once the CSR is ins

[2020-07-10 17:46] #1934 closed, assigned to mark-bennett-uiowa

[2020-07-10 18:22] pyrello opened #1935 "Investigate Theme Permission module"
# Problem
We would like to allow webmasters to control the settings for the current theme, but we don't want them to be able to do anything else related to theme permissions, but the current theme permissions only cover all of the above.

# Proposed solution
Use the https://www.drupal.org/project/theme_permission module
* Create a new feature branch
* `composer require 'drupal/theme_permission:^2.

[2020-07-10 19:11] #1660 closed, assigned to nobody

[2020-07-10 19:11] #1749 closed, assigned to joewhitsitt, dnkemper

[2020-07-10 19:11] #1817 closed, assigned to cory-skeers

[2020-07-10 19:11] #1394 closed, assigned to richardbporter

[2020-07-10 19:11] #1820 closed, assigned to cory-skeers

[2020-07-10 19:11] #1829 closed, assigned to cory-skeers

[2020-07-10 19:11] #1895 closed, assigned to joewhitsitt

[2020-07-10 19:11] #1824 closed, assigned to cory-skeers

[2020-07-10 20:13] joewhitsitt commented on #1925
OCD Joe: Don't delete node/1 and node/2. It would make me happy if we retained media/1 using #883 or something else.

It might be easier to remove default content completely, fresh install, new default content with node/1 as front.

[2020-07-10 20:16] pyrello commented on #1925
I started working on this. My plan was to replace the existing default content pages with versions built in Layout Builder, but keeping the same ID and UUID.

As an intermediate step, in #1932, I have just removed the content from the homepage.

[2020-07-10 20:20] joewhitsitt commented on #861
We also are going to have v2 and v3 sites, other splits

[2020-07-10 20:23] joewhitsitt commented on #1081
Closing in favor of #1925

[2020-07-10 20:23] #1081 closed, assigned to nobody

[2020-07-10 20:25] joewhitsitt commented on #1086
Is this still an issue @briand44, @pyrello?

[2020-07-10 20:27] joewhitsitt commented on #1089
Goodbye bootstrap. This isn't an issue on HR.

[2020-07-10 20:27] #1089 closed, assigned to nobody

[2020-07-10 20:27] pyrello commented on #1086
Good question. I would think not, since the collegiate profile is no more and the collegiate split that replaced it doesn't have any impact on the underlying update manager settings.

[2020-07-10 20:27] joewhitsitt commented on #1114
This was merged in.

[2020-07-10 20:27] #1114 closed, assigned to nobody

[2020-07-10 20:29] pyrello commented on #1925
Might be good to check in with @ABoston88 about this too, since it could ultimately support the university's path towards a more standard IA strategy.

[2020-07-10 20:30] briand44 commented on #1086
I haven't been seeing the emails coming through any more so as far as I am concerned this could be closed.

[2020-07-10 20:33] joewhitsitt commented on #1255
Is this still relevant @mjoneill ?

[2020-07-10 20:34] #1086 closed, assigned to pyrello, briand44

[2020-07-10 20:41] joewhitsitt opened #1938 "Better integration for remote assets"
## Problem

Local files have to be under 10 MB to be cached. We also have limited storage through our subscription.

## Proposed Solution

Look into ways to integrate with existing services for assets (OneDrive, Google Drive, Photoshelter, Brand's icon library).

Need to be concerned about data retention so we don't have broken assets on sites.

[2020-07-10 20:41] joewhitsitt commented on #1297
Closing this for now until:

https://github.com/uiowa/uiowa/issues/1938

[2020-07-10 20:41] #1297 closed, assigned to nobody

[2020-07-10 20:44] #1302 closed, assigned to pyrello

[2020-07-10 21:03] joewhitsitt commented on #1374
Can we call this one done @mjoneill ?

[2020-07-10 21:11] joewhitsitt commented on #1415
Closing in favor of https://github.com/uiowa/uiowa/issues/1925

[2020-07-10 21:11] #1415 closed, assigned to nobody

[2020-07-10 21:13] joewhitsitt commented on #1324
Closing!

[2020-07-10 21:13] #1324 closed, assigned to nobody

[2020-07-10 21:19] joewhitsitt commented on #1682
Closing in favor of #1412

[2020-07-10 21:19] #1682 closed, assigned to nobody

[2020-07-10 21:23] joewhitsitt commented on #1763
Closing, good work

[2020-07-10 21:23] #1763 closed, assigned to nobody

[2020-07-10 21:36] joewhitsitt commented on #1357
From the looks of #1356, this is done.

[2020-07-10 21:36] #1357 closed, assigned to nobody

[2020-07-10 21:36] joewhitsitt commented on #1358
From the looks of #1356 this is done.

[2020-07-10 21:36] #1358 closed, assigned to nobody

[2020-07-10 21:49] joewhitsitt opened #1939 "Turn on uiowa_search uids_base sites (not hr)"
## Problem

When deprecating uiowa_bar, uiowa_search needs to take over for search configuration

## Proposed Solution

need to turn on and update permissions to configure uiowa_search, split uiowa_bar for HR.

query any sites that have a custom search engine id or "search this site" setting and update those either manually or through an update hook.

[2020-07-11 14:24] mjoneill opened #1941 "Anyone know why I can't add a redirect for /athletics?"
This is the experience I get (see attached):

[@mjoneill]

[2020-07-11 14:26] mjoneill commented on #1941
![athletics-redirect (1)](https://user-images.githubusercontent.com/7144234/87226305-85599380-c358-11ea-91a4-d9c92c0284fb.gif)

[2020-07-11 14:27] mjoneill commented on #1941
PS: Tried adding other redirects, get the same experience.

[2020-07-13 00:58] mjoneill commented on #1374
I just checked and saw the robots.txt exclusion set up and configured correctly/as intended.  Looks good to me.

@joewhitsitt

[2020-07-13 13:51] joewhitsitt commented on #1941
This is the search interface. Click the add redirect button to go to the add form.

[2020-07-13 13:56] #1374 closed, assigned to nobody

[2020-07-13 13:57] mjoneill commented on #1941
D'oh!

[2020-07-13 13:59] #1941 closed, assigned to nobody

[2020-07-13 14:17] richardbporter commented on #1720
Not sure why this wasn't closed with #1806.

[2020-07-13 14:17] #1720 closed, assigned to richardbporter

[2020-07-13 14:58] richardbporter commented on #129
Will we still need this after #1779? I don't think the use case will be as strong since a default layout can be set for all pages.

[2020-07-13 15:01] pyrello commented on #129
We are still looking for a good solution to allow for different types of page templates, so if this might fill that role, I'd be interested in checking it out. I talked about this a little bit in this comment: https://github.com/uiowa/uiowa/issues/1550#issuecomment-647015619

[2020-07-13 15:03] richardbporter commented on #931
I'd be interested in working this in once the HR and UIowa Bootstrap workspaces are out of the build process.

[2020-07-13 15:04] bspeare opened #1942 "A11y question on theme header"
@inspector508 emailed this out on Friday:

Running through some additional heuristic checkpoints, I noted that all pages use a generic and non-visible `<h1>` that reads “Home”. Ideally, that top-level heading would be assigned to the name of the site, at least in SiteNow. I’m thinking the `<a>` object with the class “branding_name” would be best for this purpose. The link could still point to the

[2020-07-13 15:05] richardbporter commented on #1060
If we can use SI locally (#1791), do you think we still need this?

[2020-07-13 15:12] richardbporter commented on #1092
I moved this to the wiki: https://wiki.uiowa.edu/display/drupaldev/Example+Config+Workflow. I'm going to close for now but it is still available for reference by searching closed issues. Another good reference is the config README files: https://github.com/uiowa/uiowa/blob/main/config/README.md and https://github.com/uiowa/uiowa/blob/main/config/features/README.md

[2020-07-13 15:12] #1092 closed, assigned to nobody

[2020-07-13 15:12] richardbporter commented on #1148
I believe all collegiate sites have been transitioned.

[2020-07-13 15:12] #1148 closed, assigned to nobody

[2020-07-13 15:14] richardbporter commented on #1254
@mjoneill Just checking the status of this one.

[2020-07-13 15:15] richardbporter commented on #1255
I would say this seems done.

[2020-07-13 15:16] mjoneill commented on #1255
Done.

[2020-07-13 15:16] mjoneill commented on #1254
Done.

[2020-07-13 15:17] bspeare commented on #4296
Maybe we can also use this prefooter region for discrimination statements?

<img width="1634" alt="Screen Shot 2020-07-13 at 10 16 39 AM" src="https://user-images.githubusercontent.com/1036433/87321644-1dd74b80-c4f2-11ea-809a-9669ccc34f81.png">

[2020-07-13 15:19] richardbporter commented on #1258
How often it regenerates? That doesn't seem valuable for folks to change. We run cron hourly so thats the max.

[2020-07-13 15:20] #1254 closed, assigned to nobody

[2020-07-13 15:20] #1255 closed, assigned to nobody

[2020-07-13 15:23] richardbporter commented on #1398
I noticed what looked like duplicate config the other day when accessing the settings via Drush. Do the config items nested under the addtional uids_base key just need to be deleted?

https://github.com/uiowa/uiowa/pull/1330/files#diff-ee577aca5605039ffb0fe9e8cbb06372

[2020-07-13 15:25] richardbporter commented on #1401
Is anything more needed here since this is documented in the article?
https://sitenow.uiowa.edu/news/2020/07/sitenow-v2-websites-will-be-getting-new-look-and-feel

[2020-07-13 15:43] mark-bennett-uiowa commented on #4296
I like that idea also @bspeare

[2020-07-13 15:45] joewhitsitt commented on #1060
SI is a huge improvement since we are able to use the browser extension to test the same metric locally on a page by page basis. The SI module problem extends that.

I haven't tried devel_a11y but I am wondering how it could aid developers further as it relates to JAWS announcements, etc.

I would like to take the time to enable the module to see what it is about before closing this issue.

[2020-07-13 15:45] #1401 closed, assigned to nobody

[2020-07-13 15:50] joewhitsitt opened #1944 "Account for header content on view pages"
https://sitenow.uiowa.edu/admin/config/system/uiowa-articles
https://sitenow.uiowa.edu/admin/config/system/uiowa-people

<img width="1364" alt="Screen Shot 2020-07-13 at 10 49 44 AM" src="https://user-images.githubusercontent.com/4663676/87325063-96d8a200-c4f6-11ea-8f2a-1832489e8bd8.png">

[2020-07-13 16:04] joewhitsitt commented on #1942
@bspeare

The non-visible home is the page-title block and the default node/1 is called "Home." Folks can change this to be visible (if not completely removed from layout builder) and change the text to whatever they want.

Not sure this is an issue unless we want to high jack the label on the front page if not visibly displayed. This is the same for both uiowa_bootstrap and uids_base

https://sit

[2020-07-13 16:26] joewhitsitt opened #1946 "Update website identifiers"
## Problem
The help desk uses the console log to identify SiteNow sites. So if we are splitting v2 into v3, then we need to update the logic to differentiate.

<img width="534" alt="Screen Shot 2020-07-17 at 2 43 26 PM" src="https://user-images.githubusercontent.com/4663676/87825016-f5c25200-c83b-11ea-8d08-2b6bd6eb3f31.png">

## Proposed solution

Update console.log identifier to differentiate bet

[2020-07-13 16:34] #1944 closed, assigned to joewhitsitt

[2020-07-13 17:14] joewhitsitt commented on #1119
Looks like `<article role="article"` (node-full), `<nav role="navigation"` (nav blocks) come from deeper within drupal core.

docroot/core/modules/node/node.module:
[code]

docroot/core/modules/menu_ui/menu_ui.module:
[code]

[2020-07-13 17:35] joewhitsitt commented on #1119
Looks like Drupal has postponed this until IE11 is no longer supported which will be Drupal 10:

https://www.drupal.org/project/drupal/issues/2655794#comment-12161581

https://www.drupal.org/project/drupal/issues/3155358

[2020-07-13 18:03] pyrello commented on #1398
I believe that is outdated, so yes.

[2020-07-13 20:26] bspeare commented on #1607
@mark-bennett-uiowa Do you recall how to set an "All-day" option on the core date field?

[2020-07-13 20:55] mark-bennett-uiowa opened #1949 "Footer addresses have disappeared from existing sites after latest release"
if you look at the footer on the [https://americanstudies.prod.drupal.uiowa.edu/](https://americanstudies.prod.drupal.uiowa.edu/) site, youll see that the footer address is now missing. I did not remove this, but I also havent updated the site to use a new solution if the footer address block was removed.

[2020-07-13 21:05] richardbporter commented on #1922
It looks like if you collapse the widget, it is collapsed by default and saved in a cookie or local storage. I'm not sure how much of an issue this is or if it warrants the code in #1927 (which is cool BTW). :)

[2020-07-14 16:21] mark-bennett-uiowa commented on #1607
@bspeare It required an additional module, and I believe there were a couple to choose from: [https://www.drupal.org/project/smart_date](https://www.drupal.org/project/smart_date) and [https://www.drupal.org/project/date_all_day](https://www.drupal.org/project/date_all_day), but the date_all_day hasnt been updated in awhile.

[2020-07-14 17:46] #1688 closed, assigned to cory-skeers

[2020-07-14 21:25] richardbporter commented on #960
Do we still want to widen the tray a bit? Thats one of the first things I noticed when playing around with LB is that it seems too narrow most of the time.

[2020-07-14 21:35] bspeare commented on #960
I think we do!

[2020-07-14 21:36] richardbporter commented on #960
Thanks. I can take a shot at this as part of the research spike.

[2020-07-14 21:38] bspeare commented on #960
https://www.drupal.org/project/lb_claro has a nice tray width to check out.

[2020-07-14 21:47] bspeare commented on #1366
https://www.drupal.org/project/lb_ux also has a drag handle to make it more obvious:

<img width="353" alt="Screen Shot 2020-07-14 at 4 46 54 PM" src="https://user-images.githubusercontent.com/1036433/87479817-bf919200-c5f1-11ea-9dc2-1c162463790f.png">

[2020-07-14 21:48] bspeare commented on #960
@richardbporter You can check out https://github.com/uiowa/uiowa/issues/1366#issuecomment-658430504 for more tray discussion.

[2020-07-15 14:14] pyrello commented on #1366
@bspeare I think that it has the same problem in terms of the way that the padding on the right side gets bigger if you adjust the tray multiple times.

Just to be clear, I think we looked at lb_ux a while back and decided to incorporate some of their ideas into our theme, but not install the module. Is that your memory as well?

[2020-07-15 14:22] bspeare commented on #1366
Yes, I just wanted to point out the drag handle that they have.   It might be useful to have since it's not clear to users how to drag the window open.  I don't want to use the module.

[2020-07-15 20:23] joewhitsitt commented on #1949
Can you be more specific? Just this site?

<img width="544" alt="Screen Shot 2020-07-15 at 3 22 30 PM" src="https://user-images.githubusercontent.com/4663676/87592205-1a3cf380-c6af-11ea-9ce1-7401a4ee77f4.png">

[2020-07-15 20:31] mark-bennett-uiowa commented on #1949
I just added them back in to all of my department sites. You can look at [icsa.uiowa.edu](https://icsa.uiowa.edu) and [policy.clas.uiowa.edu](https://policy.clas.uiowa.edu) to see that the addresses are still missing. Its like the entire block was deleted and re-added as empty.

[2020-07-16 18:40] joewhitsitt opened #1952 "Noticable padding difference paragraph with background color"
## Problem

`.layout--page--paragraph .block-field-blocknodepagefield-page-content-block .field__item:first-child .paragraph--type--section .paragraph--type--text.col-md-12` has a padding-top: 0 and with a background color, visibly shows a padding difference between it and other items where text is right up against the top.

docroot/themes/custom/uids_base/scss/paragraphs/uiowa_paragraphs.scss:
[c

[2020-07-17 14:20] pyrello commented on #4296
My understanding is that if you created this, it is block content which would not be handled via config. I also think that we are ignoring block placement config settings, so moving a block to this location should also work without getting overwritten.

[2020-07-17 14:47] cory-skeers commented on #1949
@mark-bennett-uiowa Have you made any changes to the content since the release, in general or when adding these back in?

Looking into the issue that caused it now, and one option might be to roll the block back to a previous revision. If it's a blanket rollout, this would undo any changes made since then.

[2020-07-17 15:43] mark-bennett-uiowa commented on #1949
@cory-skeers I re-added the content back into these blocks for the three existing department sites, as well as the six new department sites. Looking at one of the previously existing sites, I can see how there is the Revision Information tab with the Create new revision checkbox checked, but no previous revisions to revert to.
<img width="651" alt="Screen Shot 2020-07-17 at 10 43 29 AM" src="https

[2020-07-17 17:44] joewhitsitt opened #1955 "Update basic page teaser template to use uids card"
## Problem

Of the three default content types, page is the only one not using the card component.

## Proposed Solution

- Change the twig markup to match the card component similar to article, person.
- Account for the styling changes based on the different markup for "featured content" list/grid/masonry and anywhere else a page teaser is called.

[2020-07-17 17:45] joewhitsitt commented on #1900
Seeing as the basic page teaser template is not using the card component, I have created https://github.com/uiowa/uiowa/issues/1955. Basic page is already an h3 where it is being called currently and is not an issue.

[2020-07-17 17:45] #1896 closed, assigned to joewhitsitt

[2020-07-17 17:47] #1900 closed, assigned to joewhitsitt

[2020-07-17 17:48] joewhitsitt commented on #1878
@bspeare not sure if you have additional plans for this beyond color contrast which was fixed in #1947

[2020-07-17 18:33] bspeare commented on #1878
@joewhitsitt, yes I need to set some sizing styles and flexbox adjustments for the headings.   Thanks for the reminder.

[2020-07-17 18:44] richardbporter commented on #1914
What is this protected_block config? Can't find docs on that.
https://github.com/uiowa/uiowa/blob/main/config/default/uiowa_core.protected.yml

[2020-07-17 18:55] joewhitsitt commented on #1914
i added tracked config for the block_content permissions stuff. https://github.com/uiowa/uiowa/pull/1894

[2020-07-17 19:01] richardbporter commented on #960
~~Do we still want to use lb_claro and/or lb_ux or just take ideas from them?~~

Nevermind.

[2020-07-17 19:10] #1949 closed, assigned to cory-skeers

[2020-07-17 19:20] richardbporter commented on #960
Is the original issue still happening? What block type was used? It looks ok to me on blocks with an image field.
![image](https://user-images.githubusercontent.com/1068523/87823315-ad556500-c838-11ea-9288-e6bcfe437984.png)

[2020-07-17 19:36] #1952 closed, assigned to bspeare

[2020-07-17 19:41] joewhitsitt commented on #1878
Sorry, I mis-understood what this issue was about..

[2020-07-17 19:45] bspeare commented on #1878
@joewhitsitt my description could have spelled it out better!

[2020-07-17 19:51] richardbporter commented on #960
I can't reproduce this. I don't know if something changed with the media widget used in LB blocks but maybe we should close this and do the tray UX improvements in #1366 .

Feel free to reopen if this still a problem.

[2020-07-17 19:51] #960 closed, assigned to nobody

[2020-07-17 19:54] #1878 closed, assigned to nobody

[2020-07-17 20:02] richardbporter commented on #1914
The footer block definitely exists after a fresh install. I'm not sure what these mean.

[2020-07-17 20:54] bspeare opened #1957 "Stat component regressions"
# Problem

- UIDS 3.0 refactor removed contextual links from Stat component on layout builder edit screen https://github.com/uiowa/uiowa/commit/d88064d4c8c3ff8e9586220c4cb7384f2fb1ca75
- Extra padding is being added to stat preview which is a remnant from HDS component in `admin.scss`

## Missing contextual links:
<img width="407" alt="Screen Shot 2020-07-17 at 3 42 44 PM" src="https://user-images

[2020-07-17 21:42] joewhitsitt opened #1959 "SSL cert for ace.uiowa.edu on uiowa02"

[2020-07-17 22:22] #1959 closed, assigned to joewhitsitt

[2020-07-17 22:32] #1774 closed, assigned to joewhitsitt

[2020-07-20 13:50] bspeare opened #1960 "Adjust font size of footer__site--name class in uids_base footer"
# Problem

The `footer__site--name` content migrated into the uids_base footer is using default `<h2>` styling.

<img width="627" alt="Screen Shot 2020-07-20 at 8 48 02 AM" src="https://user-images.githubusercontent.com/1036433/87945218-0e15b500-ca66-11ea-9a0b-889b049ece47.png">

# Proposed Solution

Update the class to use the same styles as the `parent-site-name` class in UIDS.

[2020-07-20 14:02] #1922 closed, assigned to nobody

[2020-07-20 14:09] dnkemper opened #1961 "Instructions for Layout Builder Blocks on uiowa.stage.drupal.uiowa.edu"
Go over different section options and blocks

# More... Options Block
`**wanted to bring this to top of page**`

## Content fields
- [x] **Authored by**
     - Render by entity ID necessary?
     - Rendered entity - View Modes:  User account, Token, Compact or Default..four view modes but all display the same
- [x] Body
- [ ] **Title**
     - Formatter: Instagram embed, twitter embed, Imagecache E

[2020-07-20 14:38] pyrello commented on #956
So, I think we can close this based on recent conversations.

[2020-07-20 14:38] #956 closed, assigned to pyrello, bspeare

[2020-07-20 15:56] bspeare opened #1962 "Fix one-col layout flex-basis"
# Problem

In the screenshot example below, an image floated within a one-col text area disrupts the section below it.

<img width="1550" alt="Screen Shot 2020-07-20 at 10 55 54 AM" src="https://user-images.githubusercontent.com/1036433/87958843-a4060b80-ca77-11ea-80c5-ab226fc579d4.png">

# Proposed Solution

- add `display:flex` to one-col container
- add `flex-basis: 100%` for components placed

[2020-07-20 17:00] joewhitsitt opened #1963 "SSL Cert - itprivacy.uiowa.edu on uiowa02"

[2020-07-20 18:28] #1963 closed, assigned to joewhitsitt

[2020-07-20 19:26] #1809 closed, assigned to joewhitsitt

[2020-07-21 16:08] joewhitsitt commented on #1920
- [x] Restrict vertical video to homepage.
- [ ] Restrict hero to collegiate. _being consolidated to banner_
- [x] Restrict separator to homepage only.
- [x] Remove Who's Online?
- [x] Remove Recently Updated?
- [x] Remove views until we are ready to let users place them.

[2020-07-21 20:06] joewhitsitt opened #1968 "Limit articles, events, people to positive integers for number of items"
## Problem

Site crash can happen say if -2 items are to be displayed... 😬

[code]

Proposed Solution

- Limit field values to 0 or greater for articles/people. 1 or greater for events.

[2020-07-21 20:20] joewhitsitt opened #1970 "Flex display issue with featured content grid and sidebar"
## Problem

The flex styles are not responding to having a sidebar on desktop.

https://iti.uiowa.edu/our-people/staff

<img width="964" alt="Screen Shot 2020-07-21 at 3 19 01 PM" src="https://user-images.githubusercontent.com/4663676/88102716-a3e43980-cb65-11ea-86eb-15b45ae7ccff.png">

[2020-07-21 20:26] #1968 closed, assigned to joewhitsitt

[2020-07-21 22:23] joewhitsitt opened #1973 "Update entity_usage to work with layout builder and media library"
## Problem

Entity usage is not being tracked for layout blocks, etc.

## Proposed Solution

Revisit module configuration to try and reveal usage content referenced by other entities.

[2020-07-21 22:25] joewhitsitt commented on #1973
We can only get so far right now as the host entity isn't what is tracked for layout blocks. Better than nothing though.

https://www.drupal.org/project/entity_usage/issues/3116499

[2020-07-22 13:53] pyrello opened #1974 "Add original view mode for small images"
# Problem
When transitioning pages to the new system, sometimes there is nothing to be done but use an existing small image. Setting it to "Small - no crop" still causes the image to be processed and the resulting image can be larger than the original with all the attendant problems that has.

# Proposed solution
Add a view mode that displays the original image.

[2020-07-22 13:57] pyrello opened #1975 "Make research area field available for all person types"
# Problem
Currently the "Research area" field provided by the person_extended feature split is only visible when editing faculty. However, it seems this field has application for other person types as well.

# Proposed solution
Create a new field that does not trigger the visibility settings for conditional people fields. Write an update hook to transition the existing field records to the new fie

[2020-07-22 16:13] bspeare commented on #1778
I wonder if we should limit the background color styles available to sections?  I could see only allowing the light gray and then shifting the gold, black, and brain patterns to be only used within components like the Hero or the CTA.

[2020-07-22 17:56] richardbporter opened #1977 "Standardize JavaScript and CSS implementations"
Related to #1151, #1402, #4036

We should follow Drupal's lead and start using ES6 syntax for all but the simplest JS. Transpiling is kind of annoying though, and I'd be interested to see if we could just write ES6 syntax without transpiling based on our browser support policy.

Working with project asset directories is confusing as described in #1151. It would be nice if every `assets` directory

[2020-07-22 18:21] mark-bennett-uiowa opened #2063 "Increase margin for basic pages after feature image"
Before the feature image for basic pages change was added a few days ago, the distance between the bottom of the section/page title hero block and the top of the main content was 3rem. Basic pages with a page title hero were created in a new section above the header, and the page title hero block was added to this section and styled in LB. The header had the title and breadcrumbs removed so that t

[2020-07-22 18:35] mark-bennett-uiowa opened #1978 "How to return to header+feature image after using section+page title hero blocks?"
Before the feature image for basic pages change was added a few days ago, the basic pages with a page title hero were created in a new section above the header, and the page title hero block was added to this section and styled in LB. The header had the title and breadcrumbs removed so that they would only appear in the new section with the page title hero block.
When these pages were switched ove

[2020-07-22 19:36] bspeare commented on #1778
Here are some further adjustments we could make to limit confusion with the current Layout Builder Styles:

**Section classes available:**

- Background: Gray
- Margin: Edge-to-Edge
- Margin: Bottom
- Margin: Extended Width Container
- Padding: Top Extra
- Padding: Bottom Extra

Changes to be made:
Remove default margins to sections using background colors so that they can be stacked.

**Section c

[2020-07-22 20:08] richardbporter commented on #1946
Somewhat related: I happened to notice a console error when a site is in maintenance mode and the formatting being off in IE11.

[2020-07-22 20:49] bspeare opened #1980 "Adjust site header to check for a character limit on site name to determine header type"
After today's design meeting it sounds like the next steps are:

- Determine character count for https://uids.brand.uiowa.edu/components/detail/iowa-bar--full.html
- Adjust mobile/tablet site name font size in `uids` for that new count.
- Change sites that meet the character count requirements to use https://uids.brand.uiowa.edu/components/detail/iowa-bar--full.html
- Possibly limit some sites to

[2020-07-22 20:57] richardbporter opened #1981 "Enhance LB off-canvas overrides cookie to remember section tray width"
A follow-up to #1965, it would be nice if the 'Add section' tray had a separate cookie to remember the width.

[2020-07-22 20:58] #1366 closed, assigned to richardbporter

[2020-07-22 21:44] dnkemper opened #1982 "Standardize Layout Builder Block Fields for Consistency"
**Huge S/O to Sean and Joe for explaining how to handle this**

Make field implementation consistent across blocks and remove unused fields

- [ ] 1. Consistent Display Title/Title field across blocks
- [ ] 2. Consistent Link Fields
- [ ] 3. Don't display the option to override styles if the block doesn't have any styles to apply

**1. Block Title Options**

- OPTION 1: Hide the block description

[2020-07-22 23:04] pyrello commented on #1978
What site are you have this trouble with?

[2020-07-23 15:01] #1975 closed, assigned to nobody

[2020-07-23 15:55] richardbporter commented on #1981
I tried to solve this elegantly the first time around but was having trouble. #1977 might make it easier.

Also, the domain set for the cookie probably means this won't work for vanity domains. We should fix that in this issue as well.

[2020-07-23 16:03] pyrello opened #1985 "In base profile, allow content editors to set URL alias"
# Problem
For the new Grad College site, I have a bunch of users that have the 'Content editor' role that are migrating content. As part of that process, I need for them to copy over the existing URL alias. Currently that role does not have access to that field.

# Proposed solution
Enable the 'Create and edit URL aliases' permission for the 'Content editor' role.

[2020-07-23 16:18] joewhitsitt commented on #1985
I would be more in favor of adding this to the publisher role than the editor role. I understand that a lot of students and such will be migrating content, but I don't want to lose the base restrictions of the editor role for the long term.

[2020-07-23 16:20] pyrello commented on #1985
Adding to the publisher role would work for me, although it doesn't really seem like a permission assignment that makes sense. The editor role seems like the appropriate place for this permission. This is basic stuff that everyone can do in Wordpress.

[2020-07-23 16:36] joewhitsitt commented on #1985
Whoa, pulling the wordpress card on me... unfair ;)

Most sites will want some kind of hierarchy of permissions. editor/publisher/webmaster was our attempt to offer that especially with moderation. Aliases was one of the things. Changes to aliases can affect other content, automatically creates redirects. Both of which affect SEO.

A user can have multiple roles to stack permissions and can be dem

[2020-07-23 18:28] bspeare opened #1987 "Allow card component to display in onecol layout as horizontal variant only"
# Problem

The regular card component is not meant to render within a onecol layout.  However, the horizontal variant does render well within the onecol layout: https://uids.brand.uiowa.edu/components/detail/card--horizontal.html.

# Proposed Solution

Force the `horizontal` style variant if card is placed within a onecol layout.

[2020-07-23 19:42] pyrello opened #1989 "Move to collegiate responsive image styles for default profile"

[2020-07-23 19:49] pyrello opened #1990 "Review and consolidate input formats for default, v2, and collegiate"

[2020-07-23 20:44] dnkemper opened #1992 "SiteNow v3 Basic Page Documentation"
Already unintentionally started on this but wanted to break up documentation a little bit for clarity

- [x] Update the new block documentation
- [x] Collection block documentation
- [x] Add anchor notes
- [x] Update the More... block
- [x] Add People Layout Builder block docs
- [x] Add Article Layout Builder block docs
- [x] Basic Page setup
- mainly want this documentation to let users know they

[2020-07-24 13:43] #1985 closed, assigned to nobody

[2020-07-24 13:48] pyrello opened #1994 "As a site builder, I can use the slider component when building pages in Layout Builder"
Partially replacing #1555

- [x] Create slider custom block type
- [x] Create slide paragraph type
- [x] Add library to uids_base
- [x] Add generic template and instance override templates

[2020-07-24 13:51] pyrello commented on #1555
Updated the original post to change the scope of work for this task.

[2020-07-24 14:30] bspeare commented on #1987
# Possible solutions

- Change "Add Card" name within onecol interface to "Add Card (Horizontal)" and style card to reflect horizontal variant.
- Create new "media" component that creates more flexibility for image position/size: https://philipwalton.github.io/solved-by-flexbox/demos/media-object/

[2020-07-27 13:58] #1960 closed, assigned to bspeare

[2020-07-27 13:58] #1962 closed, assigned to bspeare

[2020-07-27 16:18] #1970 closed, assigned to bspeare

[2020-07-28 16:30] joewhitsitt opened #1996 "max_input_vars strikes again!"
## Problem

Large drupal interfaces like menus and permission pages struggle with the server's max_input_vars limit. We solved this with Paragraphs by adding the experimental widget which collapses a nested item via ajax, reducing the amount of inputs on the form.

A site (though could be structured differently) recently ran into the max with their main menu system. As the platform grows and sites

[2020-07-28 17:00] joewhitsitt opened #1997 "color combo issue: bg-dark and referenced content detail links"
Relates to IR2298379

https://law.prod.drupal.uiowa.edu/
https://printmail.fo.uiowa.edu/contact-us

<img width="1373" alt="Screen Shot 2020-07-28 at 12 00 08 PM" src="https://user-images.githubusercontent.com/4663676/88697286-f673a780-d0c9-11ea-96f7-c67a5681d929.png">

[2020-07-28 17:02] joewhitsitt commented on #1996
we are already at 3000

[2020-07-28 17:41] joewhitsitt commented on #1996
Big menu seems to work. I haven't encountered any issues in the five minutes I have spent with it. Loads/saves are much quicker. No ajax spinner. Remembers your path after save. The one downside which is similar to the D7 module is that you can drag individual children from one parent to another in one save. All children would have to update their parent separately by editing the menu item.

<img

[2020-07-28 18:18] dnkemper opened #1999 "LB's More.. block 'Featured Image' content field errors"
## Error 1
In Layout Builder, when adding a 'Featured Image' Content Field (selected from the ‘More..’ block), if I choose a ‘Label', ‘Entity ID’ or 'Thumbnail' format, it errors out the page. I didn’t notice it until I actually uploaded a ‘Featured Image’ after adding the block to the page.

Granted, I don’t think anyone would want to display a featured image as a ‘Label’ or ‘Entity ID’… but just

[2020-07-28 19:09] joewhitsitt opened #2001 "Consistent heading variables"
## Problem

We are running up differences in naming conventions for certain variables. One in particular is the heading variable passed to components to use the correct heading size/level based on where the content is placed.

https://github.com/uiowa/uiowa/pull/1991/files#diff-40b912448b3d2fbe4db1b58449acf9fbR369
https://github.com/uiowa/uiowa/blob/main/docroot/modules/custom/sitenow_articles/sit

[2020-07-28 19:20] dnkemper opened #2002 "'Formatter' options don't all work for the 'Title' content field block (More... block option)"
For the ‘Title’ content field block (More… block option), the title doesn’t display with the following formats: ‘Twitter embed’, ‘Instagram embed’, ‘Imagecache External Image’ and ‘Imagecache External Responsive Image’

Suggestion: remove the formats since the title is a text field

[2020-07-28 19:58] #1807 closed, assigned to nobody

[2020-07-28 19:58] #1926 closed, assigned to nobody

[2020-07-28 19:58] #1973 closed, assigned to joewhitsitt

[2020-07-28 20:22] pyrello commented on #1994
Resolved by #1991

[2020-07-28 20:23] #1994 closed, assigned to nobody

[2020-07-28 20:52] pyrello commented on #1789
Here are my notes from investigating this:

* I think that an approach similar to what was done with the paragraph implementation (spaghetti code) is likely our best bet at this point.
* I also looked at the [EVA](https://www.drupal.org/project/eva) module as a possible way to solve this. EVA allows you to create a view that can be attached to an entity type. However when attached view is added, i

[2020-07-28 20:57] pyrello opened #2004 "Add additional fields to person_extended"
Need to add the following fields:
- Office room
- Office building
- Office phone
- Lab room
- Lab building
- Lab phone
- Department affiliation
- Advisor/Mentor - Student
- Program start date - Student
- Dissertation - Student
- Former student (toggle) - Student

[2020-07-29 13:36] cory-skeers commented on #1803
Note: As long as paragraphs module is enabled, paragraph tables remain in database, and field_page_content_block remains on the page, revisions work to revert back to paragraphs setup post-migration to layout builder.

Probably not worth the effort to make a specific 'rollback' option then, unless it's a simple revert to last revision (or maybe last revision which uses paragraphs). Wouldn't clear

[2020-07-29 15:18] joewhitsitt commented on #1996
This issue can be delayed a bit. The affected site that brought this up has been fixed by removing a bunch of duplicate menu items, but the issue still exists for the service.

[2020-07-29 16:16] joewhitsitt opened #2005 "Inaccessible footer styles"
## Problems
Customers are getting into trouble with their footer markup. Much of the filtered_html markup available has not been accounted for as well as common footer markup like `<address>`.

Until we have more guidance about what content should go into the footer area, we need to address the content that is already out there.

## Proposed Solution

Extend the same coverage as bg-black text para

[2020-07-29 18:20] bspeare commented on #1789
@joewhitsitt I think rolling our own implementation (spaghetti code) sounds good to me.   I just mentioned the modules above as possible enhancements like the Views layout.

@pyrello Is that a good thing?  Is there a way to expose a filter to select the displays for one view?

[2020-07-29 20:52] joewhitsitt commented on #1778
I don't think it is in scope for #1979, but I honestly think for the default config that we hide all "more" blocks until we can figure out a solution to the view mode selection mess. Danielle is uncovering all kinds of "not ready" bugs related to those blocks. Webform might be the exception/priority unless we create a custom block type for that instead.

[2020-07-29 21:00] joewhitsitt commented on #1789
Sounds like custom block types similar to the paragraph bundles without closing the door on incorporating views layout somehow?

We used https://www.drupal.org/project/viewfield in the past for D7. I think even with this module we had custom code to get it to work the way we wanted so for D8, I just decided to do all custom code.

I worry about maintaining a list of view displays. Right now as it

[2020-07-30 02:56] pyrello commented on #1901
Since we are now more than a week past when the UIDS updates were released, I'm going to close this.

[2020-07-30 02:56] #1901 closed, assigned to nobody

[2020-07-30 03:14] pyrello commented on #1789
@joewhitsitt I think this sounds like a good approach for now. Let's see what it turns up!

@bspeare I don't think that is a good thing. Ideally, how I think it would work is that the user would select the view block (articles view delivered through custom code attaching it to a custom block type for that purpose), then have a list of options for how it would display. Maybe this is done via LB sty

[2020-07-30 13:41] cory-skeers commented on #1957
This was closed via #1967

[2020-07-30 13:41] #1957 closed, assigned to bspeare

[2020-07-30 13:48] #1974 closed, assigned to pyrello

[2020-07-30 14:54] dnkemper opened #2007 "Filter visibility issue when searching for webform block"
When adding a webform, from the 'More...' block, It's hard to see the text/dropdown when filtering. It fades into the background and could be difficult for users to see.

[
<img width="558" alt="Screen Shot 2020-07-30 at 9 50 22 AM" src="https://user-images.githubusercontent.com/16872949/88938133-9f491080-d24a-11ea-8121-a2907e4e4fef.png">
](url)

[2020-07-30 14:58] pyrello opened #2008 "Investigate "Hold my Draft" module for editing last published version while maintaining current draft"
https://www.drupal.org/project/hold_my_draft

[2020-07-30 17:08] pyrello opened #2009 "Remove 'uiowa_blocks' module"
After #2000 is merged, all the functionality that was provided by the `uiowa_blocks` modules will have been moved to other places. The block definitions themselves are maintained as part of the default config for the codebase and are no longer tied to the module. I think this would be as simple as just removing the entry from the `core.extension.yml` file.

[2020-07-30 20:03] bspeare commented on #1987
@pyrello any thoughts on how we should move forward with this?

- Change "Add Card" name within onecol interface to "Add Card (Horizontal)" and style card to reflect horizontal variant.
- Remove "override styles" option from card block in one column.
- Add some custom styles to https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/layouts/onecol.scss to enforce the horizont

[2020-07-30 20:06] bspeare commented on #1987
The media object could also be used as an alternative to https://github.com/uiowa/uiowa/issues/1931.

[2020-07-30 20:18] pyrello commented on #1925
This is blocked by #1555, as the current default content contains accordions, which are not available yet.

[2020-07-31 14:12] bspeare opened #2010 "Article content type appears to be missing btn styles"
# Problem

Articles don't appear to be getting the `btn` styles.

<img width="1412" alt="Screen Shot 2020-07-31 at 9 09 41 AM" src="https://user-images.githubusercontent.com/1036433/89043307-e4824680-d30d-11ea-9943-92345e01a45d.png">

# Proposed solution

Investigate whether `sitenow.css` is being attached to the content type.

[2020-08-03 14:34] richardbporter opened #2021 "Improve search results page a11y"
# Problem

The search results page has misleading colors that creates confusion over which link to click on.

When you do any type of search, (take this https://uiowa.edu/google-search?search=search), search results are presented in a title, line break, URL, line break description format. However, the URL, despite being highlighted in a different color, isn't a hyperlink—only the page title is, wh

[2020-08-04 14:32] pyrello commented on #2004
In the site that I need these fields for, the office fields are used by a faculty content type and the lab fields are used for students.

The department (or department affiliation) seems to be attached to the Faculty type, but seems like it could used for all person types.

@mark-bennett-uiowa When we discussed this yesterday, it seemed like you were indicating that the office and lab fields would

[2020-08-04 15:22] cory-skeers opened #2023 "New site provisions not receiving default paragraphs content"
Following the SiteNow v2 split, new site provisions are not receiving their default paragraphs content. Pages, media, etc. are there--just the sections/paragraphs for the Home and About Us pages need to be reimplemented.

[2020-08-05 14:03] bspeare commented on #2010
Closed via https://github.com/uiowa/uiowa/pull/1893.

[2020-08-05 14:03] #2010 closed, assigned to nobody

[2020-08-06 14:21] richardbporter opened #2025 "UIDS broken SVG links in CSS files"
LinkChecker 9.3

LinkChecker comes with ABSOLUTELY NO WARRANTY! This is free software, and you are welcome to redistribute it under certain conditions. Look at the file `LICENSE' within this distribution.

Start checking at 2020-07-26 12:14:25-005

URL
`/themes/uids/assets/images/apply-01.svg'
Parent URL
https://university-shared-services.fo.uiowa.edu/sites/university-shared-services.fo.uiowa.edu/

[2020-08-06 16:44] pyrello opened #2026 "Padding group drop-down auto-focus when configuring section"
As reported in https://github.com/uiowa/uiowa/pull/2000#pullrequestreview-461806700, when configuring a section in Layout Builder, the padding (first) drop-down group has focus on it, so it displays as open. This doesn't prevent the form from working correctly, but is not ideal.

![Screen Shot 2020-08-06 at 11 43 30 AM](https://user-images.githubusercontent.com/709009/89558703-29a8eb80-d7da-11ea-9

[2020-08-06 18:59] #2025 closed, assigned to nobody

[2020-08-06 19:53] pyrello commented on #1925
Whenever #2028 is merged, this is unblocked.

[2020-08-06 20:01] pyrello opened #2029 "Refine Layout Builder "Preview""
Per some of the feedback from the retro we had after our research spike into Layout Builder, we should refine the way the preview looks when people are actually using the Layout Builder UI.

Some suggested steps:
- [x] Reduce or completely remove the padding inside regions and sections.
- [x] Remove or reduce the margin in between sections.
- [x] Make 'Add section' button and 'Add block' buttons l

[2020-08-06 20:08] pyrello commented on #2029
Here is partially what that could look like using the homepage homepage as an example:
![Screen Shot 2020-08-06 at 3 06 36 PM](https://user-images.githubusercontent.com/709009/89577585-86b29a80-d7f6-11ea-81a3-3488375b881c.png)
![Screen Shot 2020-08-06 at 3 06 53 PM](https://user-images.githubusercontent.com/709009/89577588-874b3100-d7f6-11ea-9332-61728a6da72e.png)
![Screen Shot 2020-08-06 at 3 07

[2020-08-06 21:08] pyrello commented on #2023
FYI, I started the process of creating a process for still provisioning the default content for V2 sites, but I forgot to add and enable it for the sitenow_v2 split: https://github.com/uiowa/uiowa/tree/main/docroot/modules/custom/sitenow_v2_default_content

[2020-08-06 23:38] pyrello opened #2030 "Investigate A11yFirst CKEditor plugin"
This came up at DrupalCon and I wanted to make sure that we gave it a look:
https://a11yfirst.gitlab.io/custom/a11yfirst.html

[2020-08-06 23:45] pyrello commented on #1987
With the merging of #1979, it will be necessary to update the block restrictions to allow for creating a card in the one column layout again.

[2020-08-07 13:43] joewhitsitt opened #2031 "Remove monthly RSS feed on SiteNow Articles"
## Problem
Based on the month of articles the user views, the RSS link changes to only show the current month's articles. Not particularly valuable.

## Proposed Solution
Change it so that is always the main RSS feed (link and text) or remove it completely from the monthly contextual display while maintaing the main feed. Beware: The path is dynamic based on site owner configuration.

[2020-08-07 14:00] joewhitsitt commented on #2030
We have investigated this idea before. Not opposed to following up with it but we should compare with others and get Todd's input.

https://www.drupal.org/project/ckeditor_accessibility_auditor
https://www.drupal.org/project/ckeditor_a11ychecker

[2020-08-07 17:33] richardbporter commented on #1987
So we don't want to allow this:
![Screen Shot 2020-08-07 at 12 31 25 PM](https://user-images.githubusercontent.com/1068523/89672355-24b36d00-d8aa-11ea-99e3-31bf602edd93.png)

We want to force this:
![Screen Shot 2020-08-07 at 12 32 09 PM](https://user-images.githubusercontent.com/1068523/89672333-1bc29b80-d8aa-11ea-8fd3-e3567a422326.png)

Is this correct?

[2020-08-07 17:36] richardbporter commented on #1987
I don't understand this because it seems like I'm able to create a card in a one-column layout.

[2020-08-07 17:46] bspeare commented on #1987
@richardbporter Yes, we want to force the horizontal variant.

[2020-08-07 18:50] joewhitsitt opened #2033 "Prepare External Quick Links menu for all"
## Problem

This menu is currently not available for us outside of the homepage/collegiate. Clear use-cases and context about what they should be used for in relation to the overall IA has not been finalized.

## Proposed solution

- Provide menu guidelines and warning about the limitations from the OSC Brand team.
- Limit external quick links to 3 similar to how the top links were done.
- Indicat

[2020-08-07 19:23] richardbporter commented on #1987
We need some indication on the form to inform users of this. I'm not sure how to tell if the layout that the block is placed in is one column. I'm looking in the layout_builder_custom form alter right now.

[2020-08-07 19:30] bspeare commented on #1987
Is it possible to adjust the label for the Card within the one column layout?

<img width="1364" alt="Screen Shot 2020-08-07 at 2 29 25 PM" src="https://user-images.githubusercontent.com/1036433/89681382-76fc8a00-d8ba-11ea-876d-5c98dae06b4b.png">

[2020-08-07 19:43] richardbporter commented on #1987
Not sure yet. I think I'm on to something with the form. Do we want to allow the Card: Border style be applied to cards in a one column layout?

[2020-08-07 19:57] bspeare commented on #1987
@richardbporter That would be nice to have that option to add the border.

[2020-08-07 20:16] richardbporter commented on #1987
Here is what I came up with to start with: https://github.com/uiowa/uiowa/pull/2034.

It might be possible to allow the border style but all I can think of is adding a custom form validation handler and returning an error if horizontal is removed. That might work. Doing it in JS would be cleaner. I'm not seeing any option with Chosen to make that happen. Also Chosen is deprecated. :(

[2020-08-07 20:19] richardbporter commented on #1791
This is driving me nuts!

[2020-08-07 20:24] joewhitsitt commented on #1791
can we turn off siteimprove locally via env splits?

[2020-08-07 20:25] richardbporter commented on #1791
Yes, if we don't want to use it locally.

[2020-08-07 20:25] richardbporter commented on #1791
Or if it can't be used locally.

[2020-08-07 21:22] bspeare commented on #1987
@richardbporter How soon do we have to remove Chosen?

[2020-08-10 16:30] #1987 closed, assigned to nobody

[2020-08-12 20:09] richardbporter commented on #1997
I started looking at this before and throwing a `color: #000` here seemed to work: https://github.com/uiowa/uiowa/blob/808bc633012a712f4b064229a20e760e4591116e/docroot/themes/custom/uids_base/scss/paragraphs/_uiowa_paragraphs_background_overrides.scss#L376

[2020-08-12 20:30] cory-skeers commented on #1997
@richardbporter When I started looking at it, it looked like it was an issue with all card bodies, and not just ones used in featured-content. Checking now, though, that doesn't look like the case. Think I made it a bit more involved than it needed to be in #2036

[2020-08-12 20:56] #1997 closed, assigned to cory-skeers

[2020-08-13 14:01] #1791 closed, assigned to nobody

[2020-08-13 14:48] bspeare commented on #1928
Related issue https://github.com/uiowa/uiowa/issues/1908.

[2020-08-13 16:35] cory-skeers opened #2038 "Minimal HTML as default for components over Filtered HTML"
Part of #1778

Change component text areas to use minimal_html by default or limit toolbar buttons to reduce kitchen sink.

~Without custom code, this is an all-or-nothing (ie setting it as default for all formatted text fields, including the Text Area block).~ Plan is to set Minimal HTML as the site-wide default, and hook_alter to set Text Area block's default to Filtered HTML.

[2020-08-13 16:37] richardbporter commented on #1523
This module works and allows admins to override things since they have the only permission. I'm seeing some wonkiness with lb_direct_add buttons in the locked section though.

[2020-08-13 17:50] mark-bennett-uiowa opened #2040 "Entity Types and sub modules cannot be enabled properly"
After uninstalling the Sitenow Articles and Sitenow People modules, and trying to enable the Entity Types, Entity Types Articles and Entity Types People modules (for testing purposes), I get the following error:
<img width="907" alt="Screen Shot 2020-08-13 at 12 46 50 PM" src="https://user-images.githubusercontent.com/3067017/90168938-7b65ee80-dd63-11ea-96d6-2aba9455941a.png">

[2020-08-13 18:00] richardbporter commented on #1523
What lock settings do we want? Here is what I set initially.

- [x] Do not allow updating default blocks
- [x] Do not allow deleting default blocks
- [x] Do not allow moving default blocks
- [x] Do not allow adding new blocks
- [ ] Do not allow configuring the section
- [x] Do not allow adding a new section before this section
- [ ] Do not allow adding a new section after this section
- [x] Do not

[2020-08-14 15:26] richardbporter commented on #1908
Should the featured image be showing in the layout builder edit screen when that field is set on the node? I'm not seeing it for some reason.

[2020-08-14 15:57] richardbporter commented on #2029
IMO it would be nice to show only one add block link per section. The first shows up in the middle of content and really clutters the interface.
![image](https://user-images.githubusercontent.com/1068523/90268648-f8a16a00-de1c-11ea-89d4-e9982b20f3c2.png)

[2020-08-14 16:01] richardbporter commented on #2029
It might also be nice to tone down the styling of the add block/ section links as they catch the eye and take up a lot of real estate.

[2020-08-14 16:51] richardbporter commented on #1908
I think this is working. Might be a local issue with lazy loading and/or stage file proxy.

[2020-08-14 16:59] joewhitsitt opened #2042 "SSL Cert - engagement.uiowa.edu on uiowa02"

[2020-08-14 17:31] #2042 closed, assigned to joewhitsitt

[2020-08-14 17:59] richardbporter commented on #1908
I'm not seeing that. Seems to appear regardless. The only time it doesn't show is on the frontpage but thats by design.

[2020-08-14 18:10] bspeare commented on #2029
@richardbporter what are you thinking for the styling on that?  Less padding?

[2020-08-14 19:33] bspeare commented on #2029
@richardbporter Where are you seeing the duplicate "Add Banner" blocks?

[2020-08-17 15:56] richardbporter commented on #2029
I'm not sure. I think that could probably wait until later as an additional enhancement. It'd be cool if it sort-of stayed out of the way but that might be hard for people to see.

Maybe something like:
![image](https://user-images.githubusercontent.com/1068523/90416563-4239c100-e078-11ea-9331-858f8b919045.png)

Like I said, doesn't have to happen now.

[2020-08-17 16:56] richardbporter commented on #2029
Sorry, there are no duplicate buttons. It just looked that way because the sidebar is not styled - its stacked on top of the other region which gives the appearance of a duplicate button.

[2020-08-17 17:46] richardbporter commented on #958
Seems like this was resolved with https://github.com/uiowa/uiowa/commit/5a693fe0ff325718ff11a37e37a4532c42f14ad5 unless its something different.

[2020-08-17 17:46] #958 closed, assigned to pyrello

[2020-08-17 18:19] richardbporter commented on #1778
Is this a thing still? Any more details for clarity?

[2020-08-17 18:29] bspeare commented on #1778
@richardbporter Is that related to https://github.com/uiowa/uiowa/pull/1986?

[2020-08-17 18:57] #2038 closed, assigned to cory-skeers

[2020-08-17 19:14] richardbporter commented on #1778
Yes, sounds like that is a non-issue anymore. Checked.

[2020-08-17 21:00] bspeare opened #2046 "CTA block layout builder override class is being passed to headline via attributes"
# Problem

Duplicate background patterns are appearing on uiowa.edu.

<img width="1192" alt="Screen Shot 2020-08-17 at 3 48 28 PM" src="https://user-images.githubusercontent.com/1036433/90443889-935eaa80-e0a2-11ea-8a5a-cd0fe545e14f.png">

# Proposed Solution:

Until this block is refactored, add `'attributes': attributes|without('class'),` to https://github.com/uiowa/uiowa/blob/main/docroot/themes

[2020-08-18 14:49] bspeare commented on #1928
Possible options for renaming this block:

- Superhero
- Voltron
- Heroic Banner
- Media Object
- Image/Text Panel
- Feature

[2020-08-18 18:19] bspeare commented on #2029
@pyrello Do we want the "Add Section" and "Add Block" options to look the same?  I think it is kind of confusing to style them the same.  Perhaps something like this would be better?

<img width="1312" alt="Screen Shot 2020-08-18 at 1 18 18 PM" src="https://user-images.githubusercontent.com/1036433/90550376-7df68880-e155-11ea-86ee-f67ccaae56db.png">

[2020-08-18 19:14] ethanstjohn opened #2047 "Address utility classes in uids base"
## Problem

After removal of the "ALLOWED CLASSES" paragraph https://sitenow.uiowa.edu/documentation/wysiwyg we now need updated docs on utility classes in UIDS Base.

The paragraph was as follows for reference:

ALLOWED CLASSES
To extend formatting of content within the WYSIWYG, certain HTML classes are allowed on the following elements: a, blockquote, p (text-align-* only), div, table, thead, tb

[2020-08-19 13:34] ethanstjohn commented on #1918
I have written the documentation and most of it lies within a test state on the page that represents it. I have some docs that are direct changes to old docs locally as well that I can implement after I share it with some people. I have handed this off to Joe at the moment to find the media icon and review the docs.

[2020-08-19 14:57] richardbporter commented on #1778
Anyone have more info on this one?

[2020-08-19 15:11] joewhitsitt commented on #1778
That's me. The only use-case so far for local video is the looping hero video and the vertical videos. We need to make sure roles can't upload/serve/files outside of those use-cases (add media, wysiwyg media, etc)

That is unless we are changing our local video policy now that everything is restricted to 10 MB or less, in which case we need to update the policy and make sure videos render well in

[2020-08-19 15:27] richardbporter commented on #1778
I don't see it as available in the WYSIWYG:

![image](https://user-images.githubusercontent.com/1068523/90654927-8d81da00-e206-11ea-8410-1859a8277e9e.png)

I also don't see a LB block that has a media field that allows video. Is there one?

[2020-08-19 15:28] joewhitsitt opened #2048 "Parent title field on certain block types"
## Problem

To provide accessible DOM order to all parts of a page, we should provide a consistent option across certain block types to allow a parent title to be added.

## Proposed Solution

Look into extending the headline field or creating our own combination field.

- slider, collections, articles, people, image gallery
- possibly text area block in the future?

Instead of using a textfield,

[2020-08-19 15:33] joewhitsitt commented on #1778
Maybe this is an non-issue. Not sure if the collegiate media library allows it but we will want to confirm that when switching from entity embed to media library.

Can webmasters/editors add media via content/media/add?

Hero has a video media field

[2020-08-19 16:05] richardbporter commented on #1778
Yes but local video is not an option.

[2020-08-19 16:52] joewhitsitt commented on #1375
Thanks @ethanstjohn
https://sitenow.uiowa.edu/documentation/google-tag-manager

[2020-08-19 16:52] #1375 closed, assigned to nobody

[2020-08-19 16:55] joewhitsitt commented on #1849
Thanks @ethanstjohn

[2020-08-19 16:55] #1849 closed, assigned to nobody

[2020-08-19 17:28] richardbporter opened #2049 "Ajax error when adding non-block components via layout builder"
[code]

This will be fixed by #1986 but it should be noted that the process callback runs twice: once when the off-canvas form is loaded and once on submit. We may want to figure out how to limit that to just the former.

[2020-08-19 17:32] richardbporter commented on #1999
I think "Featured image" should not be available for placement via Layout Builder. Thats one too many ways for working with it. Its confusing enough that it has to be added on the Edit form.

[2020-08-19 17:43] joewhitsitt commented on #1918
Thanks for your work on this @ethanstjohn. I made a few edits and added that media library icon

[2020-08-19 17:43] #1918 closed, assigned to ethanstjohn

[2020-08-19 17:56] joewhitsitt commented on #1928
Missed the conversation about why renaming the block is necessary but for D7 before "hero" became a thing, we were using "showcase" a lot. Bootstrap uses "jumbotron." Billboard is another idea.

[2020-08-19 18:13] dnkemper commented on #1999
@richardbporter I agree with you 100%

[2020-08-19 18:20] richardbporter commented on #1920
Remove Recently Updated?

I don't see these. Checked.

[2020-08-19 21:47] richardbporter commented on #2026
I spent some time digging into what core JS auto-focuses the first element in the off canvas dialog to no avail. Anyone know what does that and if its possible to disable/override?

[2020-08-20 12:51] richardbporter commented on #1999
@pyrello or @joewhitsitt thoughts on this? Somewhat related to https://github.com/uiowa/uiowa/pull/1979.

[2020-08-20 13:05] joewhitsitt commented on #1999
More related to https://github.com/uiowa/uiowa/issues/1920 I think since it isn't region specific.

I am all for locking down all of More... for v3 except for body until we can figure out how to restrict view modes for featured image, etc. and determine sound use cases. Keep in mind v3 is the default standard MVP, not the bells and whistles version.

[2020-08-20 13:06] richardbporter commented on #2002
I've no clue why those formatters are available or what controls them but this seems like another field that should not be available for placement. It renders as an h1 and messes up the heading structure of a page. Plus its visually hidden anyway so there is not much value for placing it.

[2020-08-20 13:09] dnkemper commented on #1999
Hahahaha NOOOOOOOOOOO!!!

[2020-08-20 13:21] dnkemper commented on #2002
Thank you for looking into this, @richardbporter

[2020-08-20 15:20] joewhitsitt commented on #2047
So this will be a bit more trick than last time as we aren't straight loading the whole bootstrap framework and all of the utility classes that come with it.

To update this documentation we need to split it off into minimal and filtered html sections as there are now two different editors available to users depending on the content they are trying to work with.

For each of those, you need to cap

[2020-08-20 17:30] joewhitsitt opened #2051 "align-center entity-embed oembed is not working"
## Problem
uids_base oembed video aligned center is left-aligned on render.

example: law.prod, relates to IR2317627

[2020-08-20 17:40] cory-skeers opened #2052 "Node body field should default to Filtered HTML in SNV3"
Followup to #2041.

Minimal HTML was set as the default format for all text fields, with an exception made to set Text Area block textfields to Filtered HTML. Similar exception should be made for node body fields.

[2020-08-20 18:02] bspeare opened #2053 "Default padding for sections with background color is not being applied if "extended width container" is selected"
# Problem

Selecting "Extended width container" in the layout builder styles removes the default padding for sections using a background color:

<img width="1917" alt="Screen Shot 2020-08-20 at 12 58 21 PM" src="https://user-images.githubusercontent.com/1036433/90808088-196a3380-e2e5-11ea-850d-5cba9784c17d.png">
<img width="1915" alt="Screen Shot 2020-08-20 at 12 48 51 PM" src="https://user-images

[2020-08-20 18:12] bspeare commented on #2063
We definitely need to increase this:

<img width="1557" alt="Screen Shot 2020-08-20 at 11 19 05 AM" src="https://user-images.githubusercontent.com/1036433/90809205-bd081380-e2e6-11ea-862c-22b4dbee5721.png">

[2020-08-20 18:21] bspeare opened #2054 "Add default padding to text area block if it is used with a background color"
# Problem

If you add a background color to the text area block, it will appear without default padding.

<img width="1496" alt="Screen Shot 2020-08-20 at 1 19 38 PM" src="https://user-images.githubusercontent.com/1036433/90809989-e5dcd880-e2e7-11ea-87cf-61cee63c8968.png">

# Proposed solution

Add default padding to text area block if it is used with a background color.

<img width="1598" alt="Sc

[2020-08-20 18:39] pyrello opened #2055 "Rename "CTA" block to "Call to action""

[2020-08-20 18:39] bspeare opened #2056 "Enhance usability of lb_direct_add by adding information on hover of each link"
# Problem

With the large amount of custom blocks available it would be nice to provide users an idea of how each block functions.

# Proposed Solution

Provide explanation or icon on hover of each block.

<img width="1834" alt="Screen Shot 2020-08-19 at 10 47 23 AM" src="https://user-images.githubusercontent.com/1036433/90811628-8c29dd80-e2ea-11ea-9fb4-a459b928394a.png">

[2020-08-20 20:05] pyrello commented on #2056
Created an issue for you: https://www.drupal.org/project/lb_direct_add/issues/3166438

[2020-08-20 20:33] joewhitsitt opened #2058 "Develop alternative layout/style options for articles/people"
## Problem
https://github.com/uiowa/uiowa/issues/1789 only went as far as getting the articles/people block functionality into layout builder as a list.

## Proposed solution

Decide how to provide other layout options within layout builder for this type of content.

- css class based styles?
- view mode switching?
- https://www.drupal.org/project/views_layout looked the most promising in a way to

[2020-08-20 20:40] bspeare opened #2059 "Adjust use of default margins in layout builder sections"
# Problem

Each section in layout builder is given default `margin-bottom: 3rem;` and to remove this default margin there is a layout builder style to remove it.  The default margin has been set to provide better spacing so that content editors don't create pages with components on top of each other.

<img width="786" alt="Screen Shot 2020-08-20 at 3 32 35 PM" src="https://user-images.githubuserco

[2020-08-20 20:50] bspeare opened #2060 "Allow minimal_html and filtered_html to have an <hr> with a class"
# Problem

With the removal of the spacer/separator block, we need the ability to add a spacing and clear option within the markup: https://github.com/uiowa/uids/issues/289

# Proposed solution

Allow `minimal_html` and `filtered_html` to use the `element--spacer-separator` class on `<hr>` tags.   Ideally, we could open up the `<hr>` class for future classes since I could see us developing differe

[2020-08-20 20:58] joewhitsitt opened #2061 "Update fontawesome icon library"
## Problem

We need tiktok?!

[2020-08-20 21:17] #2055 closed, assigned to nobody

[2020-08-21 13:18] bspeare commented on #2063
# Proposed Solution

This needs to be adjusted https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/layouts/onecol.scss#L15 and https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/layouts/page--left-sidebar.scss#L85 to `$desktop-width-gutter`.

[2020-08-21 13:47] joewhitsitt commented on #2060
Aka modify `<hr>` to `<hr class>` for both formats and export the changes. admin/config/content/formats

Could also document the html elements allowed in documentation as part of https://github.com/uiowa/uiowa/issues/2047

[2020-08-21 14:10] bspeare commented on #1928
@joewhitsitt Thinking about going with "Banner" since banner seems like it makes more sense to use within both larger and smaller spaces than "Hero" and it already exists within the system.

[2020-08-21 16:03] #1982 closed, assigned to dnkemper

[2020-08-21 16:03] #2049 closed, assigned to nobody

[2020-08-21 16:03] #2026 closed, assigned to nobody

[2020-08-21 17:45] joewhitsitt commented on #1996
Marking as postponed since no site is currently reporting the issue and because we don't exactly love the ux behavior in bigmenu to solve it now.

[2020-08-21 17:47] richardbporter commented on #2023
Closing in favor of https://github.com/uiowa/uiowa/issues/1925.

[2020-08-21 17:47] #2023 closed, assigned to nobody

[2020-08-21 18:41] #2052 closed, assigned to nobody

[2020-08-21 20:11] pyrello commented on #1925
FYI, I started a branch for this: https://github.com/uiowa/uiowa/tree/feature_lb_default_content

[2020-08-21 20:34] #1555 closed, assigned to cory-skeers

[2020-08-21 20:49] #1523 closed, assigned to richardbporter

[2020-08-21 20:49] #1908 closed, assigned to nobody

[2020-08-21 20:49] #2029 closed, assigned to nobody

[2020-08-21 20:49] #2046 closed, assigned to nobody

[2020-08-21 20:49] #2007 closed, assigned to nobody

[2020-08-21 20:52] cory-skeers commented on #2048
The start of a custom compound field is available in the block-headline-field branch. Basic schema/formatter/widget setup to build off of when it's time to work out the specifics.

[2020-08-21 20:56] joewhitsitt commented on #2048
Did you try extending off the existing headline field? Just curious. Not sure if it is wise to build so much off a contrib module.

[2020-08-21 21:06] cory-skeers commented on #2048
Nope--so far it's built on core fields, with a title text field, select list for size (so those two recreating the headline field, I think?) and a checkbox to visually hide the title.

Did it that way just so we'd have a good base for adding any sorts of field types, but I think I'd lean toward not building off a contrib module, if we're already in the position of needing to make a compound field.

[2020-08-21 22:03] bspeare commented on #4296
@mark-bennett-uiowa What are your thoughts on just using the cta-left version: https://uids.brand.uiowa.edu/branches/feature_lb_feature_maturity/components/detail/cta--black-left.html.  I know that is the current format of the donate buttons on CLAS sites (https://clas.uiowa.edu/hhp/).

<img width="1425" alt="Screen Shot 2020-08-21 at 5 02 54 PM" src="https://user-images.githubusercontent.com/1036

[2020-08-22 14:32] pyrello commented on #1925
This is now blocked until #2032 is merged.

[2020-08-24 13:57] richardbporter opened #2071 "Create custom events block for use in Layout Builder"
There are quite a few different options here. Considering there is already an event block built out, it could be confusing to have a separate events block for content hub integration if we plan on making the static event block generally available. Additionally, there has been talk of sites needing an event content type which further complicates things.

# Potential options
1. Create a separate eve

[2020-08-24 14:10] mark-bennett-uiowa commented on #4296
@bspeare I can definitely use this for now. I have switched all existing sites over to using the left-aligned styled version of the CTA block. This did not seem to work before when issue was created, but appears to have been fixed. Like the smaller margins/padding for sure. Would like a darker gray than what is in there now, but that can wait for now. Thanks bud. I can close this issue for now, or

[2020-08-24 14:13] mark-bennett-uiowa commented on #4296
@bspeare This still only works on the frontpage (or whatever other page) in which the section/block has been added to it. I am unaware of any solution in which this could be added by default on all pages in the site. Other interior pages need this same addition for now.

[2020-08-24 16:03] joewhitsitt opened #2072 "Fix superfish nav active menu link"
## Problem

Focus styles don't seem to work on an active menu item and is causing a focus error in SiteImprove.
<img width="389" alt="Screen Shot 2020-08-24 at 11 02 35 AM" src="https://user-images.githubusercontent.com/4663676/91068091-5beb8300-e5f9-11ea-852d-c7175e767c33.png">

[2020-08-24 16:04] joewhitsitt opened #2073 "Certain superfish options have a nav role within a nav role"
## Problem
AInspector is reporting a nested `<nav>` in `<nav>` issue provided by core's primary menu template and superfish's template. The same superfish template is being used in another situation where there isn't nesting.

# Proposed Solution
- [ ] Fork the primary menu template and update it to swap `nav` for `div` and creating a `role-"region"` and `aria-label="navigation wrapper"`.

[2020-08-24 16:06] joewhitsitt opened #2074 "Change footer block iowa link"
## Problem

The same block iowa is going to different places. the header goes to uiowa.edu, the footer links to the site being viewed.

## Proposed solution
Change the footer link to go to uiowa.edu and possibly link the site name below the block iowa instead.

[2020-08-24 16:08] joewhitsitt commented on #1119
This was brought up in the a11y meeting and Todd is going to ask the vendor what can be changed since this isn't interfering with a visitor's use of the site and instead is just a best practice for newer browsers.

[2020-08-24 16:08] joewhitsitt commented on #1320
Maybe consider switching from the svg implementation of fontawesome in order to try and control the markup more.

[2020-08-24 16:28] joewhitsitt commented on #2030
https://www.drupal.org/sandbox/jongund/3030129

[2020-08-24 19:30] bspeare commented on #2059
**Additional plans for this issue:**

Remove `Padding` and `Margin` style options on the Section and replace it with a `Container` Dropdown.
- Each section will have default padding added to it.
- Default margins will be removed from sections.

Options inside the `Container` dropdown:
- Edge to Edge container
- Extended width container
- Fixed width container (default)
- Remove default column spac

[2020-08-24 19:59] pyrello commented on #2059
And to clarify, this would mean removing all the existing Padding and Margin options that are not listed above.

@mark-bennett-uiowa Do you have sites with LB pages that are making use of the padding/margin options?

[2020-08-24 20:09] joewhitsitt opened #2077 "Collections Accordion ID Not Unique"
## Problem

There appears to be an issue with setting a unique id for each accordion item within a collection.

<img width="377" alt="Screen Shot 2020-08-24 at 3 07 33 PM" src="https://user-images.githubusercontent.com/4663676/91091139-c9a8a680-e61b-11ea-9dd9-4b297e62cda4.png">
<img width="438" alt="Screen Shot 2020-08-24 at 3 10 09 PM" src="https://user-images.githubusercontent.com/4663676/910912

[2020-08-24 20:14] bspeare opened #2078 "Adjust placement / use of moderation control"
# Problem

The "Main content" area is often empty if no Body content has been created.     Having this Main content area rendered within the page layout creates extra spacing due to the default spacing that we are adding to Sections.

<img width="1752" alt="Screen Shot 2020-08-24 at 3 07 52 PM" src="https://user-images.githubusercontent.com/1036433/91091269-fb217200-e61b-11ea-95a7-3501613b049e.png

[2020-08-24 20:18] #2051 closed, assigned to joewhitsitt

[2020-08-24 20:44] mark-bennett-uiowa commented on #2059
@pyrello yes, many are using the remove default margins, default padding, or adding top and bottom padding. Check any of the sites, and usually frontpage or undergraduate/graduate pages are using LB.

[2020-08-24 20:48] pyrello commented on #2059
@mark-bennett-uiowa Probably we are going to have to update these manually. I'm not sure if we can create a set of rules for creating an update hook, since in some cases, the solution will be to add padding to the section directly before the one being operated on. Also, I think the number of sites is still small enough that it would be more straightforward to just do it manually.

Can you provide

[2020-08-24 20:51] mark-bennett-uiowa commented on #2059
@pyrello https://globalhealthstudies.prod.drupal.uiowa.edu/undergraduate
https://globalhealthstudies.prod.drupal.uiowa.edu/graduate
https://americanstudies.prod.drupal.uiowa.edu/
https://americanstudies.prod.drupal.uiowa.edu/undergraduate
the list is quite long...

[2020-08-24 21:29] pyrello commented on #2059
So, here are the options that are being removed as part of the process and may require some adjustments:

**Padding**
* Top/bottom - vertical padding will be added by default
* Left and right - The most common use case for using these is together. We have the extended width container to provide a container that is slightly inset from the edges. If there is a need for something similar, but inset f

[2020-08-24 21:47] #2063 closed, assigned to nobody

[2020-08-24 21:49] dnkemper opened #2080 "Collection accordion styling issues"
Looks like the collection body for the accordion view mode and the headline and collection body for the detailed list view mode need a different background color to not clash with section background

<img width="1343" alt="Screen Shot 2020-08-24 at 4 39 08 PM" src="https://user-images.githubusercontent.com/16872949/91099901-c61c1c00-e629-11ea-9418-54aa3764e7ce.png">
<img width="977" alt="Screen Sh

[2020-08-24 22:02] joewhitsitt commented on #2080
I am addressing this in https://github.com/uiowa/uiowa/pull/2069

[2020-08-24 22:04] dnkemper commented on #2080
@joewhitsitt for the win!

[2020-08-25 00:11] mark-bennett-uiowa opened #2082 "Section background adds 1.25rem margin to Left/Right under 1300px wide"
This may already be a known issue or already posted as an issue, so I apologize for the addition if that is the case.

This can be seen on multiple sites, but the example below uses [https://interdisciplinaryprograms.prod.drupal.uiowa.edu/](https://interdisciplinaryprograms.prod.drupal.uiowa.edu/).

A single-column section with one CTA block placed within, adds a 1.25rem margin when the section is

[2020-08-25 13:28] bspeare commented on #2082
@mark-bennett-uiowa This is happening because you have specified "Fixed width container" in the layout builder styles.  I have removed that on https://americanstudies.prod.drupal.uiowa.edu/ and the spacing disappears.   Feel free to open this back up if this is still an issue.

Before:

<img width="1295" alt="Screen Shot 2020-08-25 at 8 26 11 AM" src="https://user-images.githubusercontent.com/1036

[2020-08-25 13:28] #2082 closed, assigned to nobody

[2020-08-25 13:43] bspeare commented on #4296
We need a method to apply the layout builder style classes to blocks when they are used outside of the layout builder system.  Should we add https://www.drupal.org/project/block_class or something similar so that we can apply classes to blocks within the block system? Any thoughts on this @pyrello?

[2020-08-25 13:51] #2077 closed, assigned to nobody

[2020-08-25 14:13] joewhitsitt commented on #955
Is this "done?" I was going to restrict more general non-layout specific blocks here: https://github.com/uiowa/uiowa/issues/1920

[2020-08-25 14:15] richardbporter commented on #955
I'm not sure. I thought it was initially but then read https://github.com/uiowa/uiowa/pull/1979#issuecomment-670245133 which maybe indicated it was not completely done?

[2020-08-25 14:16] richardbporter commented on #955
I would be in favor of closing this since #1920 represents the further investigation.

[2020-08-25 15:02] joewhitsitt opened #2083 "Restrict media library view modes per media type"
## Problem

When adding a oEmbed object all of the view modes are Responsive Image style view modes.

## Proposed Solution

https://www.drupal.org/project/drupal/issues/3097416
AND/OR
https://www.drupal.org/project/media_library_extras/issues/3108619

[2020-08-25 15:08] bspeare commented on #2071
I like option 2 if that scenario is possible.

[2020-08-25 15:16] bspeare opened #2084 "Add horizontal stat variant into stat block component"
# Proposed Solution

1.  Add "Horizontal" option in Override Style Options menu which adds `stat--horizontal` modifier class.
2. Add new field to custom stat block for `stat__content` that will appear under the `stat__description`.
3. Update stat block twig file with new `stat__content`.
4. View UIDS version here: https://uids.brand.uiowa.edu/branches/feature_lb_feature_maturity/components/detail/

[2020-08-25 15:35] joewhitsitt commented on #2071
Again, I wasn't at the discussion for this, so I don't know if some of these points have been expressed or are not relevant.

So the current block is a single instance in which you need to place multiple instances together to achieve the homepage look. To me then I see this as two blocks then. Though it presents multiple options in Layout Builder, it will be clearer what the editor will get out of

[2020-08-25 15:39] richardbporter commented on #2071
I like that approach @joewhitsitt, thanks.

The same can be said for a static event so I don't really see that as a problem necessarily.

[2020-08-25 15:45] joewhitsitt commented on #2071
As for the single event reference, if autocomplete by title, I think you will want to make sure other identifying information is included (event id, start date) because I know there are several events with the same name (e.g. ICON Training Session). The downside to event id is that content.uiowa.edu and events.uiowa.edu don't have the same id... which could be confusing to an editor on which one t

[2020-08-25 16:07] mark-bennett-uiowa commented on #2082
@bspeare thanks bud. I need to remember that by default those sections have a fixed width. I was putting that in to ensure they didnt try to stretch to full width. I have updated the remaining sites.

[2020-08-25 16:35] pyrello commented on #955
Sounds good to me.

[2020-08-25 16:35] #955 closed, assigned to pyrello

[2020-08-25 16:58] joewhitsitt commented on #2002
Pulling from a Slack conversation about this: "Unconfirmed but I think the page title block is necessary for the default template."

So we either need to confirm this or restrict what folks can do with it (restrict view modes and/or region placement)

[2020-08-25 17:13] richardbporter commented on #2002
It's necessary to place on the default template initially, which it already is. I think it could be restricted after that.

[2020-08-25 18:29] joewhitsitt opened #2085 "Error: Call to a member function bundle() on null in layout_builder_custom_form_alter line 84"
## Problem

As a webmaster I can't add any of the "More" blocks due to this console error.

[2020-08-25 18:32] joewhitsitt commented on #2085
I think this was recently introduced:
https://github.com/uiowa/uiowa/pull/1986/commits/0701d00a88b3d5de271bf80c3431e0ee092e69c1

[2020-08-25 18:33] bspeare commented on #2059
Here's what the Container section looks like at this point:

<img width="745" alt="Screen Shot 2020-08-25 at 1 27 51 PM" src="https://user-images.githubusercontent.com/1036433/91213221-e48c2100-e6d6-11ea-8180-795c8be57e0b.png">

**Edge to Edge Container:** used in Hero/Banner implementations

<img width="1776" alt="Screen Shot 2020-08-25 at 1 30 02 PM" src="https://user-images.githubusercontent.co

[2020-08-25 19:23] pyrello commented on #2059
@bspeare, thanks for putting this together. After seeing it, I think the "Container" group should only contain the following options:
* Edge-to-edge
* Extended width
* Full width

That way we can make it force it to be a single select group and the person can only select one option.

I'm not sure what the best label is for the remaining items, but maybe just calling it 'Padding', since that is wha

[2020-08-25 19:29] bspeare commented on #2059
@pyrello Should we call it "Spacing" since that is the terminology that we are using for the padding options?

[2020-08-25 19:36] pyrello commented on #2059
Sounds good to me.

[2020-08-25 20:32] #2085 closed, assigned to nobody

[2020-08-25 22:04] mark-bennett-uiowa opened #2088 "WSOD when editing layout on page after attempting to add Main content block in LB"
@pyrello @richardbporter Any thoughts on how to fix this?

Apparently Im not the only one having this issue: [https://www.drupal.org/project/layout_library/issues/3099195](https://www.drupal.org/project/layout_library/issues/3099195).

What I tried to do was create a new section (2 column, 75/25) in which I could put the Main page content block in the left (75%) column, and then stack two Statisti

[2020-08-26 08:50] mark-bennett-uiowa commented on #2088
I solved the WSOD by adding /discard-changes to the end of the URL: https://americanstudies.prod.drupal.uiowa.edu/node/123/layout/discard-changes. This got me out of the WSOD but the issue with adding the Main page content block still remains. A little research seems to suggest that 8.9.0 may have fixed this issue, but there are conflicting reports.

[2020-08-26 09:01] mark-bennett-uiowa commented on #2088
UPDATE: By adding the Body field it allows me to show the content that I need in that column, so my need has been taken care of. **In order to solve the WSOD issue, should be simply block the Main page content block from the available blocks?**

[2020-08-26 13:44] joewhitsitt commented on #2088
Funny you should say this. I am doing just that in https://github.com/uiowa/uiowa/pull/2089 because I don't think we have solved all the issues with most of these system blocks to have them available for use by any editor. I can extend this to the collegiate split with enough buy-in from existing sites.

[2020-08-26 15:01] bspeare commented on #4296
**Pre-footer notes:**

- Add ability to change region background class?
- Add ability to adjust font size or add `<small>` tag.

[2020-08-26 15:09] mark-bennett-uiowa commented on #2088
@joewhitsitt thanks so much Joe. Yes, I would buy into this for sure on the collegiate split (unless we are moving ourselves over to the SiteNow standard anyways).

[2020-08-26 16:24] #2004 closed, assigned to pyrello

[2020-08-26 17:55] pyrello opened #2091 "Enable search_api module for default platform to prevent need to re-export policy.clas.uiowa.edu config"
Currently, when new entities are added to the system or when existing entities are changed in the system, this sometimes results in needing to re-export the config for policy.clas.uiowa.edu. If we were to enable the search_api module platform wide, the entry that gets added to entity_view_display for each entity would be present for the whole platform and not need to be split for the policy site.

[2020-08-26 18:42] mark-bennett-uiowa commented on #2091
I fully support this. Are there are concerns with doing this for the whole system?

[2020-08-26 19:04] joewhitsitt commented on #2091
The possible performance hit to all sites for one site is my only concern. Not sure if it is an issue. I'd be okay with trying it and seeing. There is separate site specific configuration that has to be set to actually scan and store right?

[2020-08-26 19:23] pyrello commented on #2091
I don't imagine there will be much in the way of performance hit, other than that there is with enabling any module. To actually use the Search API module, you have to enable another module, such as Search API DB to have something it can index from. I don't think there is any additional processing when viewing a node, or if there is that it would be effectively negated by caching.

[2020-08-26 20:17] richardbporter commented on #2071
I'm wondering if we can shelve the other features here until we have the MVP of an events listing - basically what we can currently do in paragraphs. Or does it all need to be done up front? I'm guessing no but it would require an update hook later.

Also, looking for help on a couple things in #2086.

[2020-08-26 23:58] pyrello commented on #2002
This goes back to a conversation we had when we were talking about restriction on certain types of layouts. We have constructed a standard page header layout that uses the featured image field, the title block, and the breadcrumbs in a specialized layout that renders in the style of a hero (soon to be banner). Removing the ability to access these blocks shouldn't have any impact on that default la

[2020-08-27 00:22] pyrello commented on #2078
This is how this looks now:
![Screen Shot 2020-08-26 at 7 16 06 PM](https://user-images.githubusercontent.com/709009/91369155-a70bbe80-e7d0-11ea-9be8-1600c7614a04.png)

I'm cool with removing the "Links" because it doesn't seem like it ever gets used, at least so far.

I'm not sure about the rest of it. FWIW, this is the Coronavirus site, which splits `core.entity_view_display.node.page.default`,

[2020-08-27 13:50] cory-skeers commented on #2078
I worked on this some, but had mostly focused on changing how it appears on the editor side, and didn't get to a good resolution.

The main part that needs addressing is on the page, rendering the field w/out content leads to extra spacing. I've added sections above to draw attention to it:
![image](https://user-images.githubusercontent.com/49074566/91449115-5764db80-e840-11ea-9c99-5c5b4fbd7fe4.pn

[2020-08-27 15:12] mark-bennett-uiowa commented on #2078
I was curious about some of this also, as to (1) were fields like Links needed, etc., (2) is it possible to "hide visually" a section/block in LB, etc., and (3) to ensure that I could recreate the Main content section's default layout (Moderation control, Body, Links) if I moved to a different solution for certain pages and had to revert back.

I vote for removing the Links if we arent using it. A

[2020-08-27 15:20] joewhitsitt opened #2094 "SSL Cert - Admissions on uiowa02"

[2020-08-27 16:36] briand44 commented on #2094
This is done.

[2020-08-27 16:36] #2094 closed, assigned to briand44

[2020-08-27 18:51] joewhitsitt opened #2096 "Reusable content thingy"
## Story

As a site owner, I want to create/reuse bits of content across my website but don't think of them as full-detail content like nodes.

## Proposed Solution

- Dare I say custom content entity?
- Block type with inline entity form to create or select existing.
- Tagging for internal search-ability
- Usage information to track down placed instances.

### Custom Content Entity Approach

- Mo

[2020-08-27 18:53] pyrello commented on #2096
Broken record here: https://www.drupal.org/project/fragments

[2020-08-27 18:54] joewhitsitt commented on #2096
I want to see you do a demo on fragments to steer me away from going custom noodle code

[2020-08-27 18:55] mjoneill commented on #2096
This quickly gets into content variables territory...  which is unavoidable, usually...  but CCM is a necessary function for many websites.

I would be excited to see how we could fold something in to a future sprint.

[2020-08-27 18:55] mjoneill commented on #2096
Also, I might be able to pull up some in-the-wild examples at Tippie

We also know Brynne has some examples + Education has some needs

[2020-08-27 20:04] mark-bennett-uiowa opened #2097 "Center the e.uiowa.edu link in the Alerts?"
Just noticed this with the new COVID-19 alert that came through:
<img width="1442" alt="Screen Shot 2020-08-27 at 3 03 13 PM" src="https://user-images.githubusercontent.com/3067017/91489557-9f065a00-e876-11ea-904f-e3638877194f.png">

[2020-08-27 21:14] pyrello commented on #865
Here is a drupal.org issue with what seems to be a working patch to resolve the the issue with view modes displaying for media types that don't have them enabled: https://www.drupal.org/project/drupal/issues/3097416

[2020-08-27 21:36] mark-bennett-uiowa commented on #2097
Thanks @bspeare !

[2020-08-27 21:37] mark-bennett-uiowa commented on #2088
Thanks @joewhitsitt !

[2020-08-27 21:43] joewhitsitt opened #2099 "Adopt Core's Media Library for V3 default"
## Problem

One of the main differences between default v3 and the collegiate split is how media is handled within the WYSIWYG. Launching v3 with v2's media/wywisyg implementation increases our technical debt for when we finally do approach https://github.com/uiowa/uiowa/issues/865 and presents technical challenges in developing for two different solutions where everything else is pretty much alig

[2020-08-27 21:44] joewhitsitt commented on #865
Lifting a lot of weight off this issue as we have an opportunity to adopt Media Library for v3 without addressing v2 sites.
https://github.com/uiowa/uiowa/issues/2099

[2020-08-27 21:52] joewhitsitt commented on #2088
Actually, based on discussions @mark-bennett-uiowa, I was going to remove these restrictions for collegiate in the #2089. I suggest you talk to Sean or Ben about how to deal with this issue from happening again.

[2020-08-28 14:16] pyrello commented on #2078
Here is some clarification I would like to achieve for this issue:
* What changes are recommended for SN3? The main content section is part of the template that enforces the default layout preference for using a sidebar.
* What changes are recommended for the Customization Split? The main content section is part of a template that adds the body by default to accommodate the scenario where someone

[2020-08-28 14:23] pyrello commented on #2088
@mark-bennett-uiowa I think there are some things getting conflated here. There is a template section for the page content type called "Main content". That section contains Moderation control, Body, and Links. Separately, there also appears to be a "Main page content" block that allows for adding... I'm not sure what.

So, to restore the "Main content" section, you just need to create a section an

[2020-08-28 14:47] mark-bennett-uiowa commented on #2088
@pyrello Yes Sean, thank you. I did get this figured out and fixed already, and was able to get around the WSOD lock by the steps I mentioned above. I was leaving this in here, so that if we were restricting blocks to add, I was suggesting removing the Main page content block since it created that WSOD lock (the community seems to have this issue also - see link above).

[2020-08-28 14:48] mark-bennett-uiowa commented on #2088
If we are removing the "Main page content" block from the available options in #2089 , then we can close this issue.

[2020-08-28 14:51] mark-bennett-uiowa commented on #2078
@pyrello I fully support this. I was adding this Moderation control block back in to a custom section as to not lose the block, but would prefer it be placed directly below the Header section and locked down.

[2020-08-28 15:22] pyrello commented on #2088
FYI, the link posted above is in the Layout Builder Library module issue queue, which is a module we are not using yet.

[2020-08-28 15:26] mark-bennett-uiowa commented on #2088
Yes, but it is still an issue that exists with that block in our system, even without the additional module. It was just the best reference to the issue I could find quickly.

[2020-08-28 15:26] pyrello commented on #2078
The reason that I would place it before the header section is because the header section can be really tall (if there is a featured image) and I think the block is less useful if it isn't at the top of the page because people might assume that its not there.

[2020-08-28 16:27] bspeare commented on #2078
It could also be interesting to play around with how the block displays.  What if it was fixed to the bottom and only appear on hover and focus?  I've posted an example screenshot below that I imagine we could reduce the height on further.

<img width="1685" alt="Screen Shot 2020-08-28 at 11 25 34 AM" src="https://user-images.githubusercontent.com/1036433/91590666-535cba80-e921-11ea-8f0e-1013dc0b2

[2020-08-28 16:37] mark-bennett-uiowa commented on #2078
@bspeare I vote for THIS!!!! Beautiful, and exactly what I think I am looking for.

[2020-08-28 16:37] cory-skeers commented on #2078
Started a PR (#2102) for config changes removing the links field and moving the moderation control into a separate section. Right now it's placed above the header image, but we can use that as a sandbox to try out an approach like @bspeare

[2020-08-28 16:39] cory-skeers commented on #2078
And the extra margin that gets added if an empty body content field gets rendered still needs to get addressed 😬

[2020-08-28 17:19] pyrello opened #2103 "Update Drupal to 8.9.x"
By updating to the last minor series for Drupal 8 development, we set ourselves up both for the transition to Drupal 9 and additional options for patching. Most current patches are being written against 8.9 and 9.1 and many of them are not getting backported to 8.8.

[2020-08-28 18:14] pyrello opened #2104 "LB Collection enhancements"
# Problem
After the recent update to require at least one collection item, the collection now shows the add collection item form for the first item by default. This is a little confusing because it seems like the fields are related to the whole collection rather than the first item.
![Screen Shot 2020-08-28 at 12 57 57 PM](https://user-images.githubusercontent.com/709009/91601991-2fed3c00-e930-11e

[2020-08-28 18:16] pyrello commented on #2104
# To do
- [x] Add label and outline around collection item form.
- [x] Remove 'Collection' from 'Collection body' label for that field.
- [x] Rename 'Collection Items' to 'Items'.

[2020-08-28 18:43] mark-bennett-uiowa opened #2105 "Add a condensed-width section style to oppose the extended-width section style?"
Since we have the fixed-width section style, and the extended width section style, what are people's opinions on a condensed-width section style since the Left and Right padding styles are being removed in #2076. Here is a screenshot of an example that is used on the program blocks I currently have:
<img width="1647" alt="Screen Shot 2020-08-28 at 1 40 39 PM" src="https://user-images.githubusercon

[2020-08-28 18:52] cory-skeers commented on #2104
Another option could be to remove required from the config, and add a validation to check that at least one item has been added. Would keep it from auto-expanding an item field, but still serve to prevent an empty collections block from being created.

[2020-08-28 18:54] pyrello commented on #2104
I'm not opposed to having the form be expanded by default, as it is less clicks to get started.

[2020-08-28 19:02] mark-bennett-uiowa opened #2107 "Change all headers to the serif option by default?"
Personally, having h1's (page titles) as serif and then h2-h6 as the sans-serif option is causing some issues. Personally on the CLAS sites, I have been changing all h2-h6 to serif using the class="bold-headline bold-headline-serif" styling. It looks like there seems to be a push for this on the uiowa.edu site as well, between the "uids-component--bold-intro" class for paragraph intros and the cha

[2020-08-28 19:51] joewhitsitt opened #2109 "Views multiple contextual filters using ANDs does not work"
## Problem

The contextual filtering we use for articles blocks in both v2 and v3 doesn't work as expected when multiple arguments are given and we use the AND method of comma separating arguments.

You will notice the arguments don't work within the Views admin interface, so this isn't an issue with the custom code to build the view via paragraphs/blocks.

https://www.drupal.org/project/drupal/is

[2020-08-28 23:41] mark-bennett-uiowa opened #2113 "Statistics block with Flex row center, offset from center of column"
Here is a screenshot with three options for the statistics block; Flex row center style, flex row left, and last with no style overrides. All three are stacked on one another in the left column of a 33%/66% two column layout. Is it intended to center that flex row center statistic inside the column?
<img width="551" alt="Screen Shot 2020-08-28 at 6 11 09 PM" src="https://user-images.githubusercont

[2020-08-30 16:10] pyrello opened #2116 "Add patch for .htaccess to preserve redirects when updating drupal/core"
The process is described here: https://github.com/acquia/blt/issues/1135#issuecomment-623009389

This would allow us to both update `.htaccess` in case there are changes in `drupal/core` and preserve our redirects.

This is a follow-up to a more temporary solution in #2115.

[2020-09-01 13:42] joewhitsitt opened #2118 "Views table style scoping issue"
## Problem

The recent PR #2093 introduced table styles for all views. This is causing a border style issue with the People manual sort table `draggableviews-table-people-page-people-table`

Example: https://gis.sites.uiowa.edu/people

## Proposed Solution

- Create a :not(.draggableviews-table-people-page-people-table) exception on that style since I believe that is the only table affected.

[2020-09-01 16:03] #2005 closed, assigned to joewhitsitt

[2020-09-01 16:03] #2074 closed, assigned to joewhitsitt

[2020-09-01 16:03] #2080 closed, assigned to joewhitsitt

[2020-09-01 17:18] #2103 closed, assigned to nobody

[2020-09-01 18:09] pyrello commented on #1245
I'm going to close this for now. If we get requests for this functionality, we revisit this issue.

[2020-09-01 18:09] #1245 closed, assigned to nobody

[2020-09-01 18:16] pyrello commented on #2105
I was calling this a "narrow" container.

[2020-09-01 18:20] joewhitsitt opened #2119 "Brand Icongraphy Integration"
## Problem

We have these nice icons from the Brand team, but no easy way for editors to use them with their website. https://brand.uiowa.edu/graphic-elements

## Proposed Solution

Consider remote media implementation so they can be used similar to images on the site and that Brand team and update the icons and have them deploy to all sites.

https://www.drupal.org/project/remote_stream_wrapper o

[2020-09-01 18:21] mark-bennett-uiowa commented on #2105
@pyrello do we have any defined fields/blocks/etc currently that use a similar nomenclature? Im good with either, I just thought condensed sounded more professional; but it isnt apparently the antonym of extended, narrow is.

[2020-09-01 18:23] pyrello commented on #2105
I'm not sure off the top of my head. Narrow makes more sense to me as describing width. Condensed to me reads as shorter.

[2020-09-01 18:24] mark-bennett-uiowa commented on #2105
good call. if others are good with it too, Im good with it.

[2020-09-01 18:25] joewhitsitt opened #2120 "Add SiteImprove Module to Sitenow v1 Standard and Custom websites"
## Problem

v1 customers can't use the benefits of the Drupal module unless they have a developer implement it one-off.

## Proposed Solution

Add it to sites/all for both standard and custom and set configuration and permissions for all (taking note of sites that have non-webmaster type roles)

[2020-09-01 18:43] joewhitsitt commented on #1775
Closing this as https://github.com/uiowa/uiowa/labels/a11y lists all a11y related issues and this story is no longer a sprint priority currently.

[2020-09-01 18:43] #1775 closed, assigned to nobody

[2020-09-01 18:48] joewhitsitt opened #2121 "Update request form to automate additional site details (parent org, parent org link, site email)"
## Problem

We have new fields that we can easily populate for site owners to start their site off right.

Additionally, we have fields (e.g. site name and site email) that are often forgotten when a site goes live.

## Proposed Solution

- [ ] Create fields to capture parent org and link (optional)
- [ ] Capture site email, use requester's email if no email is provided (optional)

Look into autom

[2020-09-01 19:04] joewhitsitt commented on #1800
Here is the D7 (v1) task.
https://github.com/uiowa/uiowa/issues/2120

[2020-09-01 19:07] joewhitsitt commented on #2048
Might be a good issue to tackle in tandem: https://github.com/uiowa/uiowa/issues/2001

[2020-09-02 13:39] joewhitsitt commented on #2099
Working on using the view mode patch to set view modes per media type and making sure uids_base is setup to handle each media type.

Originally, I was going to get the add forms working for Instagram and Facebook but I realized that is more than I thought. Linked the two contrib issues that resolve the issue. Might test the patches, but I don't know if that is needed for MVP, it would just be cons

[2020-09-02 14:54] mark-bennett-uiowa commented on #2107
Let's see a hierarchy with h1, h2, maybe h3 in slab serif font, others in sans-serif?

[2020-09-02 18:33] mark-bennett-uiowa commented on #2054
This appears fixed with #2076.

[2020-09-02 18:34] mark-bennett-uiowa commented on #1739
This appears fixed (for the gray background) in #2076.

[2020-09-02 19:52] #1920 closed, assigned to joewhitsitt

[2020-09-02 19:52] #1999 closed, assigned to nobody

[2020-09-02 19:52] #2002 closed, assigned to nobody

[2020-09-02 21:40] #1789 closed, assigned to joewhitsitt

[2020-09-02 21:40] #2071 closed, assigned to nobody

[2020-09-03 15:41] joewhitsitt commented on #2047
Had a customer (power user) today ask about whether certain uids classes were available to use in v2. I said it was the same theme, but those classes might not be available on the paragraph bundle you are trying to use them. Without sacrificing our stylesheets on demand method, it would be nice to provide some guidance about which classes are available to use and where.

[2020-09-03 17:23] mark-bennett-uiowa opened #2131 "Administrative label field for 1- or 4-column sections is missing"
The Administrative label field is missing for 1- column, 4-column, and page w/ left sidebar sections:
<img width="517" alt="Screen Shot 2020-09-03 at 12 20 59 PM" src="https://user-images.githubusercontent.com/3067017/92147015-27897b00-ede0-11ea-8191-d6dbd5c0353e.png">
Here is a screenshot of the 2- and 3-column section settings:
<img width="512" alt="Screen Shot 2020-09-03 at 12 21 16 PM" src="ht

[2020-09-03 19:26] mark-bennett-uiowa opened #2134 "Moderation control block showing in various places"
I didnt see this behavior during testing, but on the various CLAS department sites, the Moderation control block is showing in one of three places:

- In its own section at the top of the page (as #2102 was handling).
- Directly underneath the title block in the Header section (see screenshot below):<img width="1555" alt="Screen Shot 2020-09-03 at 2 18 34 PM" src="https://user-images.githubusercon

[2020-09-03 19:34] cory-skeers commented on #2134
Are the ones that aren't the first case existing pages, and if you create a new page on that site, is it in the top spot?

I believe it's only applying to new pages or pages which haven't had their template adjusted at all.

[2020-09-03 19:38] mark-bennett-uiowa commented on #2134
It's weird @cory-skeers as two similar existing pages on two different sites can have it in different regions, and then there are existing pages with it in the correct spot based on your PR. New pages appear as though they are correct from what I have seen,; I have been creating pages on the International Studies site all morning and it has so far.

[2020-09-03 20:39] pyrello commented on #1373
This is related to uiowa/uids#309

[2020-09-03 20:48] richardbporter opened #2135 "Create BI integration proof-of-concept"
# Problem
We may need to integrate with BI data in different scenarios. Some scenarios may contain sensitive data that should not be publicly available. For example, the table on https://coronavirus.uiowa.edu/covid-19-numbers could be fed dynamically.

# Proposed solution
Create a custom block for placement in LB that grabs data from API. This block would exist only for  coronavirus.uiowa.edu. The

[2020-09-04 19:53] GaryRidgway opened #2137 "Integrate responsive tables from uids in to uids_base"
I would like to integrate these changes

https://github.com/uiowa/uids/issues/302
https://github.com/uiowa/uids/pull/306

in to uids_base

[2020-09-04 22:04] #2061 closed, assigned to joewhitsitt

[2020-09-08 13:22] #2097 closed, assigned to nobody

[2020-09-08 18:53] mjoneill commented on #1742
Story Points: 3

[2020-09-08 18:55] mjoneill commented on #1742
Can we have a conversation about any larger stories this may be a part of?  Waiting until @bspeare returns. Not urgent.

[2020-09-08 20:26] joewhitsitt commented on #2099
Removed "Monitor https://www.drupal.org/node/2657592 as key to focal point/media library integration" from the issue since there is little we can do right now in relation to #2099.

[2020-09-09 15:41] joewhitsitt commented on #1830
I haven't been able to replicate this as of late. They are lazy slow to load but not broken.

[2020-09-09 20:50] richardbporter commented on #1946
Although the console message styling is cool, we may want to drop it as it has no support in IE11 and spotty support in certain versions of other browsers.

### IE11
![image](https://user-images.githubusercontent.com/1068523/92653487-0b8c4a80-f2b4-11ea-984c-bdf093ddfa51.png)

### Latest Safari
![image](https://user-images.githubusercontent.com/1068523/92653218-a59fc300-f2b3-11ea-8cda-8e1fc18e69a0.

[2020-09-09 21:59] joewhitsitt opened #2147 "Fix twitter embed preview in ckeditor"
## Problem

Currently shows up as a small yellow dot (blockquote with no height/width). Other oEmbed objects either show blockquote content (facebook) or a preview placeholder (instagram).

<img width="1012" alt="Screen Shot 2021-10-05 at 4 22 25 PM" src="https://user-images.githubusercontent.com/4663676/136104881-9d0584e7-72b1-4106-8eb9-9396e2f0e285.png">

[2020-09-10 14:50] joewhitsitt opened #2148 "Fix "button classes" linkit functionality for layout builder"
## Problem

The preset options show but aren't functioning

[2020-09-10 15:06] #1946 closed, assigned to nobody

[2020-09-10 15:17] joewhitsitt opened #2149 "Update tours to handle v2/v3"
## Problem

Our tours right now are v2 specific. There are targets in layout builder/v3 that we can target to provide guidance on.

## Proposed Solution

- Update content overview to highlight layout edit operation if it exists.
- Target the layout tab on node page view.
- Layout Builder general tour

[2020-09-10 15:20] joewhitsitt opened #2150 "Record v3 training screencast"
## Problem

This has been a todo for a long time.

## Proposed Solution

- [ ] Once v3 reaches general availability, record a screencast of common editing situations.
- [ ] Make available on sitenow.uiowa.edu/documentation

[2020-09-10 16:04] #2148 closed, assigned to joewhitsitt

[2020-09-10 16:17] #1989 closed, assigned to nobody

[2020-09-10 16:17] #1990 closed, assigned to pyrello

[2020-09-10 16:17] #2060 closed, assigned to ethanstjohn

[2020-09-10 16:17] #2099 closed, assigned to pyrello

[2020-09-10 16:33] joewhitsitt commented on #1185
Resolved by #2110

[2020-09-10 16:33] #1185 closed, assigned to nobody

[2020-09-10 16:54] joewhitsitt opened #2151 "Limit access to Top Links menu when 'inline' header option is selected"
## Problem

A site with the gold bar site name option (Display inline with IOWA bar), doesn't display the top links.

## Proposed solution

When the 'inline' header option is selected, provide feedback to the user letting them know that the "Top Links" menu cannot be used.

[2020-09-10 20:44] joewhitsitt commented on #1830
focal point preview link on media library modal causes an ajax error. preview link works on /media/add interface.

[2020-09-10 21:24] joewhitsitt opened #2153 "Write internal docs about facebook/instagram api"
Document how the api works, how to administer it on the Facebook end, where the credentials are stored since they aren't stored in the repo config.

[2020-09-10 21:40] joewhitsitt commented on #1992
Decided to create separate issues for remaining docs and introduce them to parking lot as they are created

[2020-09-10 22:06] joewhitsitt commented on #1992
Actually, going to reopen this because it looks like a lot of the new documentation in the context of this issue is still unpublished. Let's work on getting those published.

[2020-09-10 22:10] pyrello opened #2154 "Need to be able to apply component styles to blocks outside of layout builder"
Related to https://github.com/uiowa/uids/issues/275#issuecomment-680033354

[2020-09-10 22:10] pyrello opened #2155 "Apply LB styles to non-LB blocks"
We are currently using the Layout Builder Styles module to add classes from UIDS to the custom blocks inside Layouts. Currently we have no way to similarly add those classes to blocks that are placed via the standard block admin UI.

This will require either changing out our current method to use a new module that allows for adding the classes to block regardless of being inside LB or not. Or we c

[2020-09-10 22:35] pyrello opened #2156 "Can 'flex__wrapper' be removed from layout--onecol.html.twig"
For at least 6 months, there has been a typo in the `layout--onecol.html.twig` template where `flex__wrapper` was accidentally changed to `flex__wra`. This is a commonly used template and it seems to have not caused any issues that I am aware of, so to me it stands to reason that the logic in the code that adds the `flex_wra` class (and containing div) is no longer needed.

@bspeare When you have

[2020-09-11 13:28] bspeare commented on #2156
Yes, please remove it!

[2020-09-11 14:04] pyrello commented on #2156
Does that mean it can be removed from all the layouts?

[2020-09-11 16:24] bspeare commented on #2156
It should be able to be removed from the `twocol` layout.   I can test it to be sure next week.

[2020-09-11 16:59] joewhitsitt opened #2158 "SSL Cert - pharmacy.uiowa.edu on uiowa02"

[2020-09-11 20:41] joewhitsitt opened #2162 "Events Block Documentation"
## Problem

The events block is unaccounted for in the sitenow documentation.

## Proposed Solution

Draw from style/structure of https://sitenow.uiowa.edu/node/371 and UI Events/Field info of https://sitenow.uiowa.edu/node/171 to create events documentation to place under the [Layout Builder section](https://sitenow.uiowa.edu/node/266)

Point to the single event block type https://sitenow.uiowa.e

[2020-09-11 21:28] joewhitsitt commented on #1992
Published several of these. Nice work @dnkemper

Added a separate issue for the events block https://github.com/uiowa/uiowa/issues/2162

The remaining drafts are:
- more (i feel like this can be simplified a bit)
- spacer (not available in default)
- hero (going away)
- banner (refactoring https://github.com/uiowa/uiowa/pull/2075)
- page title hero (not available in default)

I am okay with closin

[2020-09-14 14:35] bspeare opened #2167 "Featured image in IE11 is not using the correct CSS in uids_base"
# Problem

IE issue with https://iowaresearch.lab.uiowa.edu/. Email in its-web.

- Looks like this style isn't being applied for IE:

***
.paragraph--type--section > picture > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
***

# Proposed Solution

Investigate why IE is not using the Child combinator CSS: https://developer.mozilla.org/en-US/docs/Web/

[2020-09-14 17:39] joewhitsitt opened #2169 "Support Twitter Card Metatag"
## Problem

Despite all of the metatags we output, we are missing out on twitter card...

## Proposed Solution

Enable sub module, configure defaults for page/person/article

## Test

https://cards-dev.twitter.com/validator

There was a browser extension that validated the current page (locally) that was nice, but I forget what it was called. Also tested Facebook open graph as well.

[2020-09-14 18:07] #1479 closed, assigned to mark-bennett-uiowa

[2020-09-14 18:21] richardbporter commented on #1867
If we lower the temporary_maximum_age then this is less of an issue. Folks can delete the file through the UI and it should be deleted within 6 hours. Unless there is a contrib project that does this?

[2020-09-14 21:59] #2116 closed, assigned to nobody

[2020-09-14 22:12] joewhitsitt opened #2170 "Pull large version of event image from content.uiowa.edu"
## Problem

We are currently pulling the medium image size offered by the API which is 220px on the longest side. We are then scaling and cropping to a square 1:1 with the 385px image style. This is causing "pixelization" all of the time even if the source is a 1:1 aspect ratio.

## Proposed Solution

Regardless of what we plan to do with the event style in https://github.com/uiowa/uids/issues/309

[2020-09-14 23:00] mark-bennett-uiowa commented on #2170
@joewhitsitt Definitely support this solution to the image issue. To take a step further, do we need to include such a large image (385px) in the event list even after this update? Could we cut this down to something like 250 or 275px?
### **Current:**
<img width="1380" alt="Screen Shot 2020-09-14 at 5 58 59 PM" src="https://user-images.githubusercontent.com/3067017/93146306-082e0000-f6b4-11ea-8af

[2020-09-15 13:51] briand44 opened #2171 "Pharmacy people functionality"

[2020-09-15 14:36] richardbporter commented on #2170
I don't see an image style for 250 or 275px. We should probably match what articles/people are using. What are they using?

[2020-09-15 15:04] richardbporter commented on #2170
Never mind, got it!

[2020-09-15 16:00] joewhitsitt commented on #2153
https://wiki.uiowa.edu/pages/viewpage.action?pageId=276466961

[2020-09-15 16:00] #2153 closed, assigned to joewhitsitt

[2020-09-15 17:09] joewhitsitt opened #2173 "node--unpublished pink is covering up section background images in uids_base/v2"
## Problem
The pink bg color is covering the background images.

## Proposed Solution

Consider the same "fix" that was done in uiowa_bootstrap: docroot/themes/custom/uiowa_bootstrap/scss/partials/02_elements/_node.scss
[code]
since we are already displaying a moderation message that the content is not published.

[2020-09-15 18:33] cory-skeers commented on #2134
Note: This should only have affected existing sites, and not any new provisioned v3 sites.

[2020-09-15 18:43] joewhitsitt commented on #1931
Bringing my grooming comment here:

I definitely get the developer benefit of being able to style around a basic bare image without the bloat around wysiwyg markup. Though an editor will quickly identify "Image" block over Banner, Text Area and such to place an image, I think they would wonder what is different about this block versus just adding an image to the wysiwyg which is a fairly common pa

[2020-09-15 19:05] joewhitsitt opened #2174 "Finish "More..." Blocks Documentation"
## Problem

https://sitenow.uiowa.edu/node/336/edit is still in a draft state

[2020-09-15 19:07] joewhitsitt opened #2175 "Banner (refactored) Documentation"
## Problem

We need banner documentation. Blocked

## Proposed Solution

Revisit https://sitenow.uiowa.edu/node/356/edit once https://github.com/uiowa/uiowa/pull/2075 has been merged in and finalized

[2020-09-15 19:08] joewhitsitt commented on #1929
I am going to close this and #1961, #1992 and split remaining items into separate tasks:

Events: https://github.com/uiowa/uiowa/issues/2162
More Blocks: https://github.com/uiowa/uiowa/issues/2174
Banner (refactored): https://github.com/uiowa/uiowa/issues/2175

Going to leave #1256 open for uiowa.edu reference.

[2020-09-15 19:08] #1929 closed, assigned to nobody

[2020-09-15 19:08] joewhitsitt commented on #1992
I am going to close this and #1961, #1929 and split remaining items into separate tasks:

Events: https://github.com/uiowa/uiowa/issues/2162
More Blocks: https://github.com/uiowa/uiowa/issues/2174
Banner (refactored): https://github.com/uiowa/uiowa/issues/2175

[2020-09-15 19:08] #1992 closed, assigned to dnkemper

[2020-09-15 19:12] pyrello commented on #1931
After our recent discussion, I'm wondering if just having a "Media" block might make sense to allow for few options in the list. I would assume that we would allow them to still pick the image style they wanted to use.

People might wonder what the difference was, but if it was easier to do than placing an image via the WYSIWYG in text area, I don't think it would matter because they would just st

[2020-09-15 19:15] joewhitsitt commented on #1961
I am going to close this and #1929, #1992 and split remaining items into separate tasks:

Events: https://github.com/uiowa/uiowa/issues/2162
More Blocks: https://github.com/uiowa/uiowa/issues/2174
Banner (refactored): https://github.com/uiowa/uiowa/issues/2175

[2020-09-15 19:15] #1961 closed, assigned to dnkemper

[2020-09-15 19:37] joewhitsitt commented on #967
So v3 has sidebar layout by default with an active trail menu block in place if children items exist. Is this still an issue that will be handled differently in the collegiate split? If so, should this be labeled collegiate? If not, can we close?

[2020-09-15 19:40] joewhitsitt commented on #1290
Relates to https://github.com/uiowa/uiowa/issues/2169

[2020-09-15 19:45] joewhitsitt commented on #1510
@pyrello Is this done or obsolete?

[2020-09-15 19:46] joewhitsitt commented on #954
@pyrello Is this done or obsolete?

[2020-09-15 20:01] joewhitsitt commented on #1721
This patch was committed/fixed and we are using 1.5 https://www.drupal.org/project/focal_point/releases/8.x-1.5

[2020-09-15 20:01] #1721 closed, assigned to nobody

[2020-09-15 20:07] joewhitsitt commented on #1830
closing for now. can't reproduce consistently. there does seem to be an issue with focal point and media library as it relates to modals on top of each other: https://github.com/uiowa/uiowa/issues/1157

[2020-09-15 20:07] #1830 closed, assigned to nobody

[2020-09-15 20:07] pyrello commented on #954
I say it's obsolete.

[2020-09-15 20:07] #954 closed, assigned to nobody

[2020-09-15 20:10] pyrello commented on #1510
I think it might be related to or a duplicate of #966.

[2020-09-15 20:10] #1510 closed, assigned to nobody

[2020-09-15 20:12] pyrello commented on #967
@joewhitsitt I think this is solved going forward either by using V3 default or by replicating the way it is done in V3 default. @mark-bennett-uiowa Please re-open if you think this is still an issue and clarify why this does not resolve it for you.

[2020-09-15 20:12] #967 closed, assigned to nobody

[2020-09-15 20:18] pyrello commented on #1449
This was done as part of #1979 and #2089

[2020-09-15 20:18] #1449 closed, assigned to nobody

[2020-09-15 20:20] pyrello commented on #966
Moved this from the `collegiate split` label to the `SiteNow v3` label because of #2110

[2020-09-15 20:28] pyrello commented on #2134
@mark-bennett-uiowa Can you post some example links? It seems like this would only be the case with pages where you modified the layout. Depending on when the page was created and the modification made, it would show up wherever the moderation control in the default template when the layout of the page was modified.

To "fix" it, we would need to either manually update those pages to create a sect