[2021-01-25 22:43] cory-skeers opened #2928 "SSL Cert - basbls.uc.uiowa.edu on uiowa01"

[2021-01-25 23:13] mark-bennett-uiowa commented on #2928
@cory-skeers @briand44 I just created a new SSL cert for uiowa01, so make sure that whoever handles this uses the newest cert. It should be the active one. I left the old one Brian made in place until I was certain the new one was working, but it can be removed (labeled 12-28).

[2021-01-26 14:08] briand44 opened #2932 "As a site owner, I can place Careers & Outcomes and Student Opportunities text into the Area of Study content type and see it styled like the mockup"
# Story

As a site owner, I can place Careers & Outcomes and Student Opportunities text into the Area of Study content type and see it styled like the mockup

<img width="1452" alt="Screen Shot 2021-01-26 at 2 06 59 PM" src="https://user-images.githubusercontent.com/1036433/105903333-5c8fa780-5fe5-11eb-8774-e6963b5f0225.png">

https://admissions.prod.drupal.uiowa.edu/academics/accounting
https://a

[2021-01-26 14:11] briand44 opened #2933 "As a site owner, I can create a local text area for Admissions Requirements and view it styled like the mockup"
# Story

As a site owner, I can create a local text area for Admissions Requirements and view it styled like the mockup.

https://admissions.prod.drupal.uiowa.edu/academics/accounting
https://admissions.prod.drupal.uiowa.edu/academics/education

# Proposed solution

- [x] **Admission Requirements**: Text area in main column
- [x] **Custom field template for label:**  See template styling suggestio

[2021-01-26 14:17] briand44 opened #2934 "As a site owner, I can create Admissions Requirements with a separate content type and reference them in the Areas of Study content type and see them styled like the mockup"
# Story

As a site owner, I can create Admissions Requirements with a separate content type (https://github.com/uiowa/uiowa/blob/main/config/admissions.uiowa.edu/core.entity_view_display.node.admissions_requirement.default.yml) and reference them in the Areas of Study content type and see them styled like the mockup

https://admissions.prod.drupal.uiowa.edu/academics/accounting
https://admissions.

[2021-01-26 14:41] richardbporter commented on #2797
Additional notes:

- The `printable` and `pdf_using_mpdf` modules have much more usage than `entity_pdf`.
- `entity_pdf` might need a core patch.
- The `print` module for D7 had the ability to print an entire Book from the top-level page. I don't think this functionality exists for D8. @pyrello were you planning on using book? Either way, that might require something custom.

[2021-01-26 15:11] #2908 closed, assigned to nobody

[2021-01-26 15:12] bspeare commented on #2924
@quamsta I think if the centered is the default site-wide layout like with that medium blog, the medium example can make sense.  But when the site template jumps around from left aligned to centered, I think it is a more jarring user experience.  But even your medium example adds a sidebar once you scroll:

<img width="1646" alt="Screen Shot 2021-01-25 at 4 32 21 PM" src="https://user-images.githu

[2021-01-26 15:13] bspeare commented on #2751
I think we can close this specific issue.

[2021-01-26 15:13] #2751 closed, assigned to nobody

[2021-01-26 15:27] bspeare commented on #2924
Just adding a few links for future reference.  These sites do a nice job of setting the default centered width for the entire site: https://advanced.jhu.edu/academics/, https://www.msmc.edu/admissions-aid/military-admissions/, And an example of a left-aligned narrow column for the entire site: https://engineering.jhu.edu/partner-with-us/.

[2021-01-26 15:27] briand44 opened #2935 "Needs SSL - grad.uiowa.edu on uiowa01"

[2021-01-26 16:43] mark-bennett-uiowa commented on #2928
@cory-skeers This has been added to a new SSL certificate for uiowa01. Closing.

[2021-01-26 16:43] #2928 closed, assigned to nobody

[2021-01-26 16:44] mark-bennett-uiowa commented on #2935
@briand44 This has been added to a new SSL certificate for uiowa01. Closing.

[2021-01-26 16:44] #2935 closed, assigned to nobody

[2021-01-26 18:39] bspeare commented on #2934
Examples of admissions requirements content:

First Year: https://admissions.uiowa.edu/undergraduate-programs/first-year-admission-college-liberal-arts-and-sciences
Transfer students: https://admissions.uiowa.edu/future-students/transfer-admission-liberal-arts-sciences
International: https://admissions.uiowa.edu/apply/international-application-process

[2021-01-26 18:45] #2556 closed, assigned to dnkemper

[2021-01-26 18:50] pyrello opened #2938 "Create Alumni role and allow non-SSO login"
# Story

As a site owner I want to provide resources that are only available to Alumni because that is part of the value proposition that we are offering with completion of our program.

# Motivation

Both the SLIS and SPPA websites provide web portals where their alumni can log in to view resources that are not available to the public or to current students.

# Proposed solution

TBD

[2021-01-26 18:58] pyrello opened #2939 "Fix SROP mentor display"
# Problem
The images on this page don't look quite right:
![Screen Shot 2021-01-26 at 12 57 07 PM](https://user-images.githubusercontent.com/709009/105891319-1d0d8f00-5fd6-11eb-80ef-6836b8cecd46.png)

# Steps to reproduce
After the next build completes, this should be viewable at https://grad.prod.drupal.uiowa.edu/dei/srop/mentors

# Proposed solution
TBD

[2021-01-26 19:15] pyrello opened #2940 "Build job listing content type for SPPA"
# Motivation

SPPA has a database of 15k job listings in their current site. They offer this listing as a resource to alumni and possibly some current students. It is part of their value proposition.

# Proposed solution

Build a content type for listing jobs. Either scope it to just this site, or make it available as a feature split.

[2021-01-26 19:16] mjoneill opened #2941 "Remove brand bar from www.humanitiesiowa.org"
As a possible funding agency visiting www.humanitiesiowa.org, I have an experience that does not indicate this is a University of Iowa property.

---

Tasks:
- [x] Remove brand bar
- [x] Recreate a search experience using Google CSE

Noted: This doesn't appear to be a UI org, so not particularly concerned with branding on this.

5 points

[2021-01-26 19:30] #2561 closed, assigned to nobody

[2021-01-26 19:31] pyrello commented on #2561
This got created, but there was no associated PR.

[2021-01-26 20:03] bspeare commented on #2723
Related issue: https://github.com/uiowa/uiowa/issues/2927.

[2021-01-26 20:25] joewhitsitt opened #2942 "Admissions - Add entity reference fields for admissions requirements and application process"
# Proposed solution

* [x] Confirm with Scott how he wants to handle entering "Application Process" content.  Do they want to enter as pages similar to "Admission Requirements?"
* [ ] ~~If using a dedicated content type for "Application Process," add the content type. The fields/layout/etc. can be added in a follow-up task. If that is necessary, please create a the follow-up issue.~~
* [x] Remove

[2021-01-26 20:34] pyrello opened #2944 "Refactor the base field.html.twig"
# Motivation

Currently the `field.html.twig` defines a `field_items` block that can be overridden by an implementing template:
https://github.com/uiowa/uiowa/blob/23c0f10ae623fb1d911fce2516ec1828816c8387/docroot/themes/custom/uids_base/templates/field/field.html.twig#L83-L87

However, there are `if, else` conditions in the template that could result in this block never getting called, so relying

[2021-01-26 21:21] joewhitsitt commented on #2918
It seems to either be browser cache or maybe something with the temporary file system. Continually clicking save will eventually remedy the problem and fetch the latest versions, but that is not ideal. Rick offered to take a look at this.

There is a separate but related issue tied to this that though the purge module is now enabled locally, something in the related code is not available which cau

[2021-01-26 21:40] bspeare commented on #2939
The template is fine, you just need to set an image style on the view to use a `1:1` aspect ratio.

[2021-01-26 21:47] bspeare commented on #2939
It is using the node teaser template, so the image style needs to be set on the teaser:

<img width="1569" alt="Screen Shot 2021-01-26 at 3 46 14 PM" src="https://user-images.githubusercontent.com/1036433/105909923-c4e28700-5fed-11eb-96e7-f7250bbd5974.png">

[2021-01-26 21:52] bspeare commented on #2939
Also this view could be updated to use the existing card fields like the thesis defense list: https://github.com/uiowa/uiowa/blob/main/docroot/modules/custom/grad_custom/templates/node--thesis-defense--teaser.html.twig#L89-L107 (https://grad.prod.drupal.uiowa.edu/academics/thesis-defenses/list).

[2021-01-26 22:27] #2474 closed, assigned to nobody

[2021-01-26 22:27] #2593 closed, assigned to ethanstjohn

[2021-01-26 22:27] #2793 closed, assigned to richardbporter

[2021-01-26 22:27] #2910 closed, assigned to richardbporter

[2021-01-27 15:05] pyrello commented on #2812
@GaryRidgway Can this be closed?

[2021-01-27 15:08] #2918 closed, assigned to joewhitsitt

[2021-01-27 15:34] richardbporter commented on #2592
Should we rename this issue to be more of "Update to Drupal 9" with subtasks, one of which could be bigpipe 2?

[2021-01-27 15:37] pyrello commented on #2592
Maybe create a new issue and make this a sub-task?

[2021-01-27 15:38] pyrello commented on #2592
Also this: https://support.acquia.com/hc/en-us/articles/360045796154-Upgrading-from-BLT-11-to-BLT-12

[2021-01-27 16:15] #2815 closed, assigned to dnkemper

[2021-01-27 16:31] bspeare commented on #2349
@mark-bennett-uiowa Are you still interested in pursuing an option to preserve the banner image aspect ratio beyond the fixed heights?

[2021-01-27 17:21] richardbporter commented on #2797
More notes:

Printable
- Adds print links to every node by default.
- Does not have separate permissions for accessing print pages vs PDFs.
- Not many docs. Not seeing much in terms of API and template overrides.
- PDFs include usual print-module stuff: logos, breadcrumbs, links
- Requires pdf_api which has not been touched in 5 years.

pdf_using_mpdf
- Seeing an error after PDF generation. Coming

[2021-01-27 17:35] mark-bennett-uiowa commented on #2349
@bspeare I would like to see/know if its possible. Some images look badly distorted as we stretch the width, or cut off important parts of the images.

[2021-01-27 17:59] pyrello opened #2948 "Manual sort for people blocks?"
# Motivation

The Grad College staff directory uses sections to list people who belong to different areas within the Grad College: https://grad.prod.drupal.uiowa.edu/staff

As you can see, the order does not match the original list: https://www.grad.uiowa.edu/gc-contacts

What I have created in the first link is as close as I can get to the second link using the 'sticky' option. However, I need to

[2021-01-27 18:08] joewhitsitt commented on #2948
so we used to have contextual sorts in d7 with draggableviews. it was grand.

draggableviews in d8 has been a hot mess and I don't think this has been solved. https://www.drupal.org/project/draggableviews

tag based sorts has been an early request that we have not been able to deliver on. i haven't checked the module recently or know of other modules that accomplish this functionality.

[2021-01-27 18:14] mark-bennett-uiowa commented on #2948
@pyrello This has been requested on numerous CLAS sites also. The grouping feature (Faculty, then Staff, then Students) as well as a way to filter based on person type (show only Faculty or Emeritus, etc). I would be interested in a better solution here also. This list page for the People view needs some love.

[2021-01-27 18:15] bspeare opened #3221 "Add top margin for adjacent paragraphs within a card"
# Problem

Multiple paragraphs in a card do not have a margin top.

<img width="504" alt="Screen Shot 2021-01-27 at 12 13 09 PM" src="https://user-images.githubusercontent.com/1036433/106035034-3c212500-6099-11eb-9a83-7ba2b282ece3.png">

# Proposed Solution

Add paragraph adjacent selector to add margin top in for paragraphs.

[2021-01-27 18:20] pyrello commented on #2948
It looks like the timeline for the next version of draggableviews that might resolve these issues is up in the air: https://www.drupal.org/project/draggableviews/issues/2906059. Most of the issues attached to that issue have stable patches, it appears. However, there are 4 of them, so it seems like it might take some tinkering to get them all working together.

Based on what I am seeing here, I th

[2021-01-27 18:23] joewhitsitt commented on #2941
Marking as blocked. It was my understanding that contact with the site owners had to happen first.

[2021-01-27 18:54] richardbporter commented on #2797
entity_pdf is very bare-bones and its doing something weird with a tmp directory in the docroot.

I was wrong about entity_print: only the D7 version requires wkhtmltopdf. The D8 version supports other engines. That would be my vote based on usage and what appears to be the best documentation.

[2021-01-27 20:38] #2845 closed, assigned to ethanstjohn

[2021-01-27 20:48] richardbporter commented on #2797
Wow nevermind. I cannot for the life of me get that module working.

[2021-01-27 21:03] briand44 opened #2953 "uiowa702 site removals"
The following sites can be removed from uiowa702 after Feb. 1st at 8:00am. I've added the blocked label until then.

Deleting a multisite documentation - https://wiki.uiowa.edu/pages/viewpage.action?pageId=259624476

- [x] https://120thcelebration.centerforconferences.uiowa.edu/
- [x] https://aasog2019.centerforconferences.uiowa.edu/
- [x] https://b1gchiefsanddirectors.centerforconferences.uiowa.e

[2021-01-27 21:05] joewhitsitt commented on #2953
yay

[2021-01-27 22:18] richardbporter commented on #2797
Finally got it working - it was an issue with a specific version of the dompdf depedency. The module allows for other PDF generation engines if that one gives us trouble with updating.

I'm gonna say entity_print is still the way to go. It has the best docs, usage and seems to be actively maintained. It should work for AOS based on the CSS and template options I saw. It includes a bulk operation f

[2021-01-27 22:18] #2797 closed, assigned to richardbporter

[2021-01-27 22:22] richardbporter commented on #2500
I'd be happy to keep working on PDFs since I'm so deep into it. It would also help validate my decision in #2797 to go further.

I'm confused on the difference between this issue and #2563. Are they duplicates?

[2021-01-27 22:39] cory-skeers commented on #2500
I think the idea is that by the end of this issue, counselors would be able to get _a_ printed version of the page, and #2563 would be the followup to work with them on customizing it (changing the layout, possibly hiding fields, or adding design elements to make it nicer as a printout). Depending on how flexible things are in getting the PDF working, that layout/customization work could go in her

[2021-01-27 23:07] #2939 closed, assigned to joewhitsitt

[2021-01-27 23:24] pyrello commented on #2797
We are not using book. I'm assuming that it would need be custom functionality. This is the section of this site: https://grad.prod.drupal.uiowa.edu/academics/manual

[2021-01-28 02:44] pyrello opened #2956 "Remove metatags for 'delete-form', 'edit-form', 'latest-version' from Taxonomy term pages"
# Problem
SiteImprove appears to be picking up some links that it thinks are broken links and seem to actually be metatags:
![Screen Shot 2021-01-27 at 8 40 37 PM](https://user-images.githubusercontent.com/709009/106082391-3c90de80-60e0-11eb-960d-ff2a0d69660f.png)

# Steps to reproduce
View source on this page and search for `taxonomy/term/291/`: https://grad.prod.drupal.uiowa.edu/tags/2020-3mt-fi

[2021-01-28 03:09] pyrello opened #2957 "Fix GC programs view links"
# Problem
Some of the longer links in the GC programs view block are getting truncated to something like this:
`https://cee.engineering.uiowa.edu/graduate-program/sustainable-water-developmen...`

# Steps to reproduce
View https://grad.prod.drupal.uiowa.edu/academics/manual/academic-program/section-viii-advanced-programs-offered-graduate-college and click on "Sustainable Water Development."

# Pro

[2021-01-28 04:10] pyrello commented on #2942
After discussing this content type with Scott earlier, I'm realizing that I must have gotten the wrong idea about how this would work more broadly. Instead of creating Requirements pages with the admissions requirement content type that was created in #2905, they have already created these pages using the page content type. So, likely we will need to replace this entity reference field with an ent

[2021-01-28 04:12] #2920 closed, assigned to nobody

[2021-01-28 14:26] pyrello commented on #2942
D7 Admission Requirements page example: https://admissions.uiowa.edu/academics/first-year-admission-business

D8 Admission Requirements pages: https://admissions.prod.drupal.uiowa.edu/admin/content?title=admission&type=All&status=All&langcode=All

D7 Application Process page example: https://admissions.uiowa.edu/apply/first-year-student-application-process

D8 Application Process pages: https://ad

[2021-01-28 14:44] bspeare opened #2960 "As a site owner, I can use the remaining headline styles in the text area headline field"
# Story

As a site owner, I can use the remaining headline styles in the text area headline field so that I don't have to copy and paste classes from https://uids.brand.uiowa.edu/components/detail/headlines.html.

# Proposed solution

- [ ] Add remaining headline styles to the text area headline field: https://uids.brand.uiowa.edu/components/detail/headlines.html.
- [x] Also fix incorrect naming o

[2021-01-28 16:02] #2957 closed, assigned to nobody

[2021-01-28 16:49] briand44 opened #2964 "As a site owner, I can enter Scholarship Information in the Area of Study content type and see it styled in the sidebar"
# Story

As a site owner, I can enter Scholarship Information in the Area of Study content type and see it styled in the sidebar.

https://admissions.prod.drupal.uiowa.edu/academics/accounting
https://admissions.prod.drupal.uiowa.edu/academics/education

# Proposed solution
- [ ] Place in sidebar according to mockup
- [ ] Create custom template block for theming: `<h2 class="headline headline--ser

[2021-01-28 16:53] briand44 opened #2965 "As a site owner, I can enter Stories in the Area of Study content type and see them styled like the mockup."
# Story

As a site owner, I can enter Stories in the Area of Study content type and see them styled like the mockup.

https://admissions.prod.drupal.uiowa.edu/academics/accounting
https://admissions.prod.drupal.uiowa.edu/academics/education

# Proposed solution

- [x] Placed in one-column layout using gray background
- [x] Styled through using card template
- [x] Alternate left/right alignment per

[2021-01-28 17:06] briand44 opened #2966 "As a site owner, I can enter Related Links in the Area of Study content type and see them styled like the mockup"
# Story

As a site owner, I can enter Related Links in the Area of Study content type and see them styled like the mockup.

https://admissions.prod.drupal.uiowa.edu/academics/accounting
https://admissions.prod.drupal.uiowa.edu/academics/education

# Proposed solution

- [ ] Add a custom template block for theming:

[code]
- [ ] Placed in sidebar under Information block

<img width="523" alt="Scree

[2021-01-28 17:11] #2877 closed, assigned to nobody

[2021-01-28 17:27] briand44 opened #2967 "As a site owner, I can enter Program type information in the Area of Study content type and see it styled in the sidebar like the mockup"
# Story

As a site owner, I can enter Program type information in the Area of Study content type and see it styled in the sidebar like the mockup.

https://admissions.prod.drupal.uiowa.edu/academics/accounting
https://admissions.prod.drupal.uiowa.edu/academics/education

# Proposed solution

- [ ] Use all fields in "Program types" fieldset
- [ ] Custom view block template
- [ ] Placed in sidebar u

[2021-01-28 17:30] briand44 opened #2968 "As a site owner, I can expect to see Apply Now and Request Info buttons at the top of every Area of Study page"
# Story

As a site owner, I can expect to see Apply Now and Request Info buttons at the top of every Area of Study page.

https://admissions.prod.drupal.uiowa.edu/academics/accounting
https://admissions.prod.drupal.uiowa.edu/academics/education

# Proposed solution

- [x] Both links are placed in sidebar at top of the page
- [ ] **Request Info** link:  Dynamically place major name into link text?

[2021-01-28 17:34] briand44 commented on #2441
Closing this in favor of all the individual stories that were outlined on this issue #2515

[2021-01-28 17:34] #2441 closed, assigned to nobody

[2021-01-28 18:35] pyrello commented on #2948
@mark-bennett-uiowa This is not a blocker for launching the GC site tomorrow, so we are going to revisit this issue after that. I'm open to ideas about how this gets done. I don't have a clear idea of how to move forward with it.

[2021-01-28 20:29] pyrello commented on #2813
Wanted to also drop a couple things here. Lauren had wondered about being able to add blocks to an article sidebar for related news and/or recent articles.

[2021-01-28 20:49] mjoneill commented on #2941
I just got clarification on Site Owner.  Pete forwarded a convo from Heather Plucar that suggests we can reach out to her.

[2021-01-28 20:55] bspeare opened #2969 "Integrate horizontal nav changes from uids into uids_base"
- [x] Integrate UIDS update https://github.com/uiowa/uids/issues/466 into uids_base.

[2021-01-28 20:57] #2913 closed, assigned to cory-skeers

[2021-01-28 20:59] #2812 closed, assigned to GaryRidgway

[2021-01-28 23:17] mark-bennett-uiowa opened #2971 "Webform Basic HTML field cannot use text formats, so uids styling is broken"
# Problem
The only option for an HTML markup field in webforms is the Basic HTML field. This field does not use a text format and does not allow p tags, which is causing styling issues (see below). Is this something worth fixing? The following screenshot can be found at [https://socialwork.prod.drupal.uiowa.edu/undergraduate/ba-social-work/information-sessions/iowa-city](https://socialwork.prod.dr

[2021-01-29 14:23] briand44 commented on #2941
I reached out to Heather and got approval to move forward on this. The scope is to remove the branding bar but keep site search functionality. Not urgent, can be planned for sprint 52.

[2021-01-29 14:31] joewhitsitt commented on #1320
We can upgrade to 5.8.2 and update our implementations to override the default:

https://github.com/FortAwesome/Font-Awesome/issues/14791#issuecomment-769838446

[2021-01-29 14:43] pyrello opened #2972 "Long URL in events block breaks container"
# Problem
An event with a very long embedded URL will visually break the container it is in:
![Screen Shot 2021-01-29 at 8 39 51 AM](https://user-images.githubusercontent.com/709009/106288602-e02bdd00-620d-11eb-974e-7eea871418ae.png)

# Steps to reproduce
Viewable here: https://grad.uiowa.edu/

# Proposed solution
Apply an overall word-wrap rule on the card.

[2021-01-29 14:48] joewhitsitt commented on #2972
Can we think of an instance where we don't want a link to wrap if it is too long? https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uiowa_bootstrap/scss/partials/03_components/regions/_body.scss#L6

[2021-01-29 14:52] mjoneill commented on #2941
Sounds good.  Let's pull it to the top of +1 in case we start raiding the backlog and are looking for new work.  Otherwise, I think we have a plan!

TY

[2021-01-29 15:09] dnkemper opened #2974 "SSL for osc.uiowa.edu on uiowa01"

[2021-01-29 15:13] richardbporter opened #2975 "Multisite create command relates every subdomain to uiowa.edu"
# Problem
Any subdomain off uiowa.edu is "related" to uiowa.edu and it appears that the site should go on uiowa01. However, we can't cover *.uiowa.edu.

# Steps to reproduce
- blt umc foo.uiowa.edu --simulate --no-commit
- See uiowa01 is marked as having a related domain.

# Proposed solution
Add a hard-coded exclusion for uiowa.edu to the UMC command.

[2021-01-29 15:16] joewhitsitt opened #2976 "IRRC - Updates"
## Blog content type purge rules

Blog updates not appearing for sometime on the website. Needs better clearing than the 6-hour worst case.

- [x] Just in the db, not features, set the blog content type purge rules to clear any places where blog content is displayed. (e.g. front page, blog landing page, etc.)

30 min estimate.

## Footer Updates

- [x] Need to have a button or linked text that wou

[2021-01-29 15:22] dnkemper opened #2977 "Provisions - 1/29-2/4"
- 1/29 -[ osc.uiowa.edu ](https://github.com/uiowa/uiowa/pull/new/provision-Jan-29)
- 2/1 - [peate.lab.uiowa.edu & anunsettledbody.sites.uiowa.edu](https://github.com/uiowa/uiowa/pull/new/provisions-2-1)
    -  [aadr.dentistry.uiowa.edu ](https://github.com/uiowa/uiowa/pull/2989#pullrequestreview-580718113)
    -  [uppu.lab.uiowa.edu](https://github.com/uiowa/uiowa/pull/2993)
- 2/2 [windschitl.lab

[2021-01-29 16:46] pyrello opened #2978 "og:image meta tag is not being populated for Grad homepage"
# Problem
The `og:image` metatag is not being populated for https://grad.uiowa.edu/.

# Steps to reproduce
View source and confirm or use the FB scraping debug tool: https://developers.facebook.com/tools/debug/?q=grad.uiowa.edu

# Proposed solution
TBD

[2021-01-29 17:56] richardbporter commented on #2184
Some follow-up notes after #2714 and a meeting:

- Should we add a subject to change disclaimer? Should it be optional?
- How should we use the new reviewed field?
  - Mark dates where reviewed does not equal TRUE as tentative.
- Automatic session rollover
  - Do we need to extend rollover beyond the session end date? Some academic dates extend beyond the end of a session.
  - How far out should s

[2021-01-29 18:33] richardbporter commented on #2184
A module README documenting the business logic would also be helpful as a reference we could point people at.

[2021-01-29 18:55] quamsta opened #2979 "Ansible + PIP issue - Bump drupal-vm when its next release is out (6.0.3?)"
Hi, I'm sure dependabot will let you know about the next release of drupal-vm, so this is just a reminder/info. I was rebuilding my VM yesterday due to a separate issue and I ran across a recent problem with Ansible described here:

https://github.com/geerlingguy/drupal-vm/issues/2138

Ansible was unable to be downloaded + installed and vagrant up failed due to PIP 2 being used to fetch a script o

[2021-01-29 21:33] joewhitsitt commented on #2816
Can't seem to get this right. Hoping @bspeare can fix it

[2021-01-29 21:33] bspeare opened #2980 "As a site owner, I can create an Area of Study page that has all of the remaining fields"
# Story

As a site owner, I can create an Area of Study page that has all of the defined fields because a few were not on the initial requirements list.

# Proposed solution

## Add remaining fields to Areas of Study content type.

- [x] Course Work - Text (formatted, long, with summary)
- [x] Scholarships - Text (formatted, long, with summary)

[2021-01-29 21:35] bspeare commented on #2816
I'll check it out.

[2021-01-29 22:10] joewhitsitt commented on #2974
This is done.

[2021-01-29 22:10] #2974 closed, assigned to joewhitsitt

[2021-01-29 22:17] bspeare commented on #2816
@joewhitsitt The image is now appearing.  Was that the issue you were having?

[2021-01-29 22:24] joewhitsitt commented on #2816
Yes! Thanks. Added the span for the yellow highlight. Not related to this issue per say, but the container issue for the whole node is still hard left with space on the right.

[2021-01-29 23:15] dnkemper commented on #2974
Thank you, @joewhitsitt!

[2021-02-01 15:21] joewhitsitt opened #2984 "Sidebar Navigation Docs"
Explain the "follows the active trail and displays children of the active item" setup on the basic page content type and how to reset v3 page to reimplement the sidebar layout with menu.

I'd say put it here: https://sitenow.uiowa.edu/documentation/managing-menus with links from the page content type.

[2021-02-01 16:31] briand44 opened #2986 "linking to files from cards"
# Story

As a SiteNow v3 user, I want to be able to link to files from the card component using autocomplete functionality similar to linking to nodes so that when my site goes live I don't have links with "stage.drupal" or "prod.drupal" in the url.

# Proposed solution

[2021-02-01 16:46] briand44 opened #2987 "Pharmacy news migration"
# Story

As a College of Pharmacy website owner, I would like news articles migrated from our existing website (https://pharmacy.uiowa.edu") to our new website (https://pharmacy.prod.drupal.uiowa.edu), so that site visitors can see past Pharmacy related news without the College of Pharmacy having to manually create hundreds of old news articles manually.

# Additional Info

We need to create redir

[2021-02-01 16:53] richardbporter commented on #2938
I'm really not in favor of allowing non-SSO logins on our platform. I'd be curious to know if alumni HawkIDs stay active after graduation, this seems to indicate yes: https://its.uiowa.edu/support/article/101541 If not, would guest accounts work for this? https://its.uiowa.edu/support/article/114826

If you have a HawkID of an alumni, I may be able to inspect it for details. Send it on Slack.

[2021-02-01 17:12] joewhitsitt commented on #2986
This should also be considered when working on https://github.com/uiowa/uiowa/issues/2873

[2021-02-01 17:22] pyrello commented on #2938
Could you unpack this a bit? It is not immediately obvious what the problem with doing this is.

Currently, a person can request an alumni account, which then gets approved by a site admin. I'm not sure how we could create a workflow incorporating the link above in a way that wouldn't make the process much more onerous for the person doing the account approval and provisioning. I'm open to suggest

[2021-02-01 20:35] #2816 closed, assigned to nobody

[2021-02-01 20:35] #2925 closed, assigned to joewhitsitt

[2021-02-01 20:35] #2927 closed, assigned to joewhitsitt

[2021-02-01 20:35] #2932 closed, assigned to joewhitsitt

[2021-02-01 20:35] #2933 closed, assigned to joewhitsitt

[2021-02-01 20:35] #2926 closed, assigned to dnkemper

[2021-02-01 20:35] #2980 closed, assigned to joewhitsitt

[2021-02-01 20:37] joewhitsitt commented on #1320
Oops. Looks like we already have this but need to update our markup
https://github.com/uiowa/uiowa/pull/2991

[2021-02-01 21:58] richardbporter opened #2996 "APR split missing sitenow pages permission"
# Problem
Enabling the APR split and importing config removes the  'administer sitenow pages' permission from webmasters.

# Steps to reproduce
- Enable APR split.
- Import config.

# Proposed solution
Export permission to apr split.

[2021-02-01 23:09] pyrello commented on #2862
This is on hold temporarily, pending some upcoming meetings that will decide the fate of this feature for the Grad College.

[2021-02-02 14:01] #2801 closed, assigned to cory-skeers

[2021-02-02 14:17] richardbporter opened #2998 "As a visitor to arts.uiowa.edu, I can see past events so I can find virtual dates and times."
# Story

As a visitor to arts.uiowa.edu, I can see past events so I can find virtual dates and times.

# Proposed solution

- Change arts_events cron job to keep events for a longer period of time.
- Allow backwards navigation in the date picker
- Add past events views to the category pages
- Investigate options for long-running events with irregular date repeat rules on content.uiowa.edu and advi

[2021-02-02 14:22] richardbporter opened #2999 "As a visitor to pharmacy.uiowa.edu, I can get redirected from old directory person pages to new directory person pages."
# Story

As a visitor to pharmacy.uiowa.edu, I can get redirected from old directory person pages to new directory person pages.

# Problem
The current pharmacy directory nests person pages under /directory/person/{slug} while the new APR directory only nests them under whatever is configured as the the directory path. Webmasters could create redirects for each person but that would tedious. We co

[2021-02-02 14:36] mjoneill commented on #2731
@briand44 and @richardbporter: I was able to get to this.  Some edits that link to the U's domain name policy and lean into the prohibitions against off uiowa.edu domain names a bit more.  Warning: Still working on my first coffee, so a second set of eyes is appreciated.  If you see anything that doesn't look right, holler.  If it's clean, I think we can publish.

[2021-02-02 14:37] #2967 closed, assigned to bspeare

[2021-02-02 15:39] bspeare opened #3001 "As a site owner, I can add additional details within the program types AoS section"
# Story

As a site owner, I can add additional details within the program types AoS section so that it matches the options available on the D7 site.

# Proposed solution

Add the additional checkbox fields to the "Program Types" section on the AoS content type:
- [x] **Teaching Licensure** - If checked, show text field.
- [x] **Honors Courses** - If checked, show text field.
- [x] **Four-Year Grad

[2021-02-02 15:49] joewhitsitt commented on #2942
@pyrello how is this going? can i help with this at all?

[2021-02-02 16:12] #2996 closed, assigned to nobody

[2021-02-02 16:36] joewhitsitt commented on #2515
https://github.com/uiowa/uiowa/issues/2942 (Admissions requirements) is being revisited

[2021-02-02 16:42] bspeare commented on #2515
@joewhitsitt Do we need to remove or alter https://github.com/uiowa/uiowa/issues/2934?

[2021-02-02 16:46] joewhitsitt commented on #2515
We could salvage the info from #2934 and move it to #2942. Waiting to hear back from @pyrello about where all this is at

[2021-02-02 17:14] #2731 closed, assigned to mjoneill

[2021-02-02 17:25] joewhitsitt opened #3002 "SiteNow Updates News Article - February"
## Issue/Solution

Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link.
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  - See https://sitenow.uiowa.edu/news/2021/02/updates-january

[2021-02-02 17:26] joewhitsitt commented on #2828
Published article, scheduled dispatch at 11:30

[2021-02-02 17:26] #2828 closed, assigned to joewhitsitt

[2021-02-02 17:42] joewhitsitt commented on #2968
Where should the links point to for MVP? Is this a custom block that will be placed in Layout?

[2021-02-02 18:07] pyrello commented on #2942
@joewhitsitt If you want to touch base with Scott about the first point, that would be great.

[2021-02-02 18:21] cory-skeers opened #3004 "Update academic unit (college) fields that weren't migrated for grad.uiowa.edu"
# Problem

The `College` field for Mentors was broken at the time of migration, and values were not brought in from the old database.

Followup to #2961 -- needs to wait until this is merged and deployed.

# Proposed Solution

Manually update the values, as they're rather limited.

Pulled from the old database and the migration mapping:

| Old NID | Value | New NID |
| -------- | -----------------

[2021-02-02 18:22] bspeare commented on #2968
I added the links to the proposed solution.  @pyrello any thoughts on how we should add these button links to the sidebar layout?

[2021-02-02 18:43] pyrello commented on #2968
Not sure if we have done this before, but I was just thinking it could be a text area added to the layout template. Alternately, we could create a block plugin class, which just displays those link buttons and place that via the LB template.

[2021-02-02 18:47] dnkemper opened #3006 "SSL for education.uiowa.edu on uiowa02"

[2021-02-02 19:54] cory-skeers commented on #2563
Depending on the level of formatting needed, probably would be more involved than is necessary to get it working, but could be worth checking out https://www.latex-project.org/. Predominantly used for formatting academic papers, or print-ready materials that need special formatting like mathematical equations, but it is very useful when formatting PDFs in general.

https://www.drupal.org/project/l

[2021-02-02 20:29] joewhitsitt commented on #2942
From Scott:

_I guess it comes down to how they will be displayed in that new combined section (Process + Requirements) per student. We can likely work with just a title and link for both of them, but I don’t if you’re still going in the direction of having those as buttons like in the current design mock-up, or if buttons will even work for every scenario (longer text possibilities)._

_I think w

[2021-02-02 21:28] #2500 closed, assigned to richardbporter

[2021-02-02 22:56] #2953 closed, assigned to nobody

[2021-02-03 13:48] richardbporter opened #3009 "As site visitor to grad.uiowa.edu/academics/manual, I can download a PDF of the entire manual."
# Story

As site visitor to https://grad.uiowa.edu/academics/manual, I can download a PDF of the entire manual.

# Proposed solution

Leveraging entity_print, create a download link on the top level page that gets all the child pages and generates a PDF document with everything in it. The entity_print module does this on the content overview page when selecting multiple pieces of content. We shoul

[2021-02-03 13:48] richardbporter commented on #3009
@pyrello Creating this issue before I forget about it.

[2021-02-03 14:01] pyrello opened #3010 "Drawer menu getting cut off on shorter screen height"
# Problem
This issue was reported on the Graduate College site:

<img width="959" alt="Drop Down Menu" src="https://user-images.githubusercontent.com/709009/106757079-92401c00-65f5-11eb-978f-c59cc631d763.png">

As can be seen in the image, the links at the bottom are cut off and inaccessible despite being scrolled all the way down.

# Steps to reproduce
Visit https://grad.uiowa.edu and resize wind

[2021-02-03 14:08] pyrello opened #3011 "Create Transfer Tips content type for Admissions website"
# Story

As an Admissions Site owner I want to be able to create Transfer Tips so that that information is available to prospective Transfer students.

An example of this can be seen by visiting this page: https://admissions.uiowa.edu/academics/accounting; scroll down to the Admissions Requirements section, then click on the Transfer Students tab.

# Proposed solution

- [x] Separate content type

[2021-02-03 14:39] #2965 closed, assigned to joewhitsitt

[2021-02-03 14:51] cory-skeers commented on #2893
Including some of the correspondence on the migration here--quotes are questions asked of Bill, and following texts are his responses.

I'm pretty sure these can be ignored. I think some were just part of the last migration from the 2016 redesign.

Yes, whatever you recommend on these is fine. A generic author is totally fine.

Yes, the department and audience would probably work best as taxonomy

[2021-02-03 16:55] richardbporter commented on #2563
Thanks but I think we're too deep into dompdf at this point. I also don't know of LateX would run on AC depending on the requirements.

[2021-02-03 18:07] joewhitsitt opened #3012 "Admissions - Stat Fragment - Tweaks"
- [x] Admin title (add title back to form and rename)
- [x] Remove presave title generation stuff
- [x] Always show the additional stat content (remove hover effect)
- [x] Make sure title is hidden from display
- [x] Follow-up add help text for the admissions requirements stuff
_"If references to content weren't provided the button won't show"?_

[2021-02-03 18:18] joewhitsitt opened #3013 "Investigate "content section" url paths without content being part of the menu system."
# Story

As a webmaster I want to quickly assign a page to a specific parent url path without the page being visible in the menu system.

Admissions' D7 website has a taxonomy controlled "content type" field that editors select from that determines the url path of the content without adding it to the menu system. The taxonomy and menu structure are not in sync with this solution.

Law's D7 site ha

[2021-02-03 19:14] richardbporter opened #3014 "Incorrect version of uids installed under certain conditions"
# Problem
The version specified in the yarn.lock file of uiowa/uids is ignored under certain conditions. This seems to happen when a new release is available due to the odd version constraint in the uiowa_apr workspace.

# Steps to reproduce
- `git fetch`
- `git checkout 3.3.25`
- `rm -rf node_modules`
- `cat yarn.lock | grep -C 5 '@uiowa/uids'`
  -  Note that uiowa/uids is locked at 3.1.10.
- `bl

[2021-02-03 19:30] joewhitsitt commented on #2479
This was moved to done back in November. Closing.

[2021-02-03 19:30] #2479 closed, assigned to dnkemper

[2021-02-03 19:38] #3001 closed, assigned to bspeare

[2021-02-03 22:24] GaryRidgway commented on #2790
After the communication today, and with some discussion afterword, I believe it may be useful to have this be a block that can be configurable by a user for JW player (Picking from a predetermined list of channels that we provide), or a configurable youtube livestream. I tested whether we could embed a youtube livestream with OEmbed and it seems to error out and not allow livestreams, so I think t

[2021-02-04 14:59] #2942 closed, assigned to joewhitsitt

[2021-02-04 15:23] richardbporter opened #3020 "Communicate retirement of assets.uiowa.edu"
# Motivation

We are no longer using assets.uiowa.edu since we have retired/transitioned all of our D7 sites. We should retire assets.uiowa.edu so we are not paying for hosting this.

# Additional Info

ITS Cloud Hosting group may be able to help with AWS side of things - its-cloud-services@iowa.uiowa.edu.

Do we need to communicate to campus? Are others using assets.uiowa.edu? Rick had drafted so

[2021-02-04 16:36] richardbporter commented on #3014
Since uids 3.2.1 was released that will probably be the version installed now instead of 3.2.0 mentioned above.

[2021-02-04 16:40] joewhitsitt opened #3022 "SSL - nursing.uiowa.edu on uiowa02"

[2021-02-04 16:51] bspeare commented on #2968
Adding text area blocks to the layout template creates this error if you try to export the config and install and edit the layout page template: `Error: Call to a member function getEntityTypeId() on null in Drupal\layout_builder\Plugin\Block\InlineBlock->build()`.   Which sounds similar to this issue: https://www.drupal.org/project/drupal/issues/3049332#comment-13848037.

Is it worth creating lin

[2021-02-04 16:59] joewhitsitt commented on #2968
If these are always the same links and might have dynamic labels, can we just make a custom block for admissions to do this?

[2021-02-04 17:11] #2964 closed, assigned to bspeare

[2021-02-04 17:11] #2966 closed, assigned to bspeare

[2021-02-04 17:21] bspeare commented on #2968
@joewhitsitt I'm not clear how we do that and add it to the config if you have thoughts on that part.

[2021-02-04 17:24] joewhitsitt commented on #2968
Create a block like https://github.com/uiowa/uiowa/blob/main/docroot/profiles/custom/sitenow/src/Plugin/Block/SiteNowBlock.php in admissions_core. It should be available to place via layout builder via the "Site custom" block category. Put it in another block category that isn't allowed in layout builder if you don't want them placing it on pages.

Export config once placed.

[2021-02-04 17:28] #3012 closed, assigned to joewhitsitt

[2021-02-04 18:02] #3014 closed, assigned to nobody

[2021-02-04 20:25] joewhitsitt commented on #3022
This is done.

[2021-02-04 20:25] #3022 closed, assigned to joewhitsitt

[2021-02-04 20:25] joewhitsitt commented on #3006
This is done.

[2021-02-04 20:25] #3006 closed, assigned to joewhitsitt

[2021-02-04 21:19] pyrello commented on #2358
Site owner has requested that we notify them before taking the next step, which is removing all the old revisions from each piece of content. They have also requested that this work only happen on Tuesdays and Thursdays.

[2021-02-04 21:19] dnkemper opened #3026 "SSL for teachonline.uiowa.edu on uiowa02"

[2021-02-04 21:44] dnkemper commented on #3006
Thank you so much, @joewhitsitt 😃

[2021-02-05 01:37] mattlt commented on #2470
Hello, I just received the same error. Navigated away from the page, and went back and the page loaded as expected. Not sure what happened, but thought I'd report in case it helped your investigation.

Thanks,

•• matt

[2021-02-05 15:47] #2934 closed, assigned to bspeare

[2021-02-05 17:31] cory-skeers commented on #2792
@pyrello

I didn't see an existing category field--did these need a default tag added as they're migrated in?

The PR #3028 is also currently set up to import the featured image, create media, and such. Did we specifically want to drop the featured image, or was it just not a must-have?

[2021-02-05 17:50] bspeare opened #3030 "Error for Webform: Memcache API and Integration 2.2"
# Problem
As @makurj reported, sites are showing this error on the status report page:

`Memcache API and Integration 2.2 is causing unexpected regressions for the Webform module. Please consider downgrading to Memcache API and Integration 2.1 and following Issue #3176519: Uploaded files not linking correctly in emails sent through Webform module after upgrading to memcache 2.2.`

# Steps to repro

[2021-02-05 17:51] #2968 closed, assigned to joewhitsitt

[2021-02-05 17:56] bspeare commented on #2515
I think we can finally close this epic story split.

[2021-02-05 17:56] #2515 closed, assigned to nobody

[2021-02-05 17:58] bspeare commented on #2349
@mark-bennett-uiowa can you check your sites and see if we can close this with the latest updates that we implemented?

[2021-02-05 18:01] bspeare commented on #2321
I am going to close this in favor of tracking these issues in https://github.com/orgs/uiowa/projects/3.

[2021-02-05 18:01] #2321 closed, assigned to nobody

[2021-02-05 18:01] joewhitsitt commented on #3030
Related:
https://iowaweb.slack.com/archives/C8SM82ZFZ/p1611247118003800
https://www.drupal.org/project/memcache/issues/3176519
https://www.drupal.org/project/webform/issues/3175525

I think the solution is to upgrade to https://www.drupal.org/project/webform/releases/6.0.1 which has the fix from 3175525

[2021-02-05 18:04] bspeare commented on #2969
This is complete.

[2021-02-05 18:04] #2969 closed, assigned to nobody

[2021-02-05 18:07] bspeare commented on #2808
I think this is done.

[2021-02-05 18:07] #2808 closed, assigned to GaryRidgway

[2021-02-05 18:07] bspeare commented on #2818
This is done as well.

[2021-02-05 18:07] #2818 closed, assigned to GaryRidgway

[2021-02-05 18:12] bspeare commented on #2444
Is this considered done with https://admissions.prod.drupal.uiowa.edu/areas-of-study in place or does it still need more work?

[2021-02-05 19:29] cory-skeers commented on #2792
#3028 has been merged in, and has a sample log output for warnings (mostly the `array_flip()`, with a few like `A non-numeric value encountered PelIfd.php:611` that should be able to be safely ignored).

There is also the basis for a redirect migration that can be run following the blog entries. Hasn't been tested beyond that it runs and appears to create some redirects.

# Next steps
Check that t

[2021-02-05 21:49] briand44 opened #3033 "Manually move sitenow.uiowa.edu to v3"
# Story

As an owner of sitenow.uiowa.edu, I want to be on SiteNow v3 because it is amazing and so that we can provide better examples of v3 components in our v3 documentation.

# Some Thoughts
I believe there is some custom functionality as part of our webforms that we will need to account for.

Not sure if these are in scope but eventually we would like to provide a portfolio of v3 sites for pot

[2021-02-05 22:23] GaryRidgway commented on #2941
Okay, there has been a lot to unpack with this issue. First, upon pulling it down after some lengthy D7 setup, i learned that this is a Standard site, not a custom. this means that it is very hard to decouple the uiowa bar from other modules that require it.

From there, we looked at other Search options and wanted to see how we were implementing those, and it seems like they are made with custom

[2021-02-08 14:36] mjoneill commented on #2790
The script that runs the players referenced here (http://osc.uiowa.edu/live) are copy and pasted from the JWPlayer service.

The livestreaming service is one provided to campus via OSC.  JWPlayer is necessary in some instances for some streams, including those that might include music with copyright, etc...

[2021-02-08 15:59] #2895 closed, assigned to dnkemper

[2021-02-08 20:50] briand44 opened #3034 "Ability to choose url path for basic pages."
# Story

As an Admissions content editor, I would like the ability to choose a url pattern for basic pages, so that each editor doesn't have to manually override the url alias for each basic page.

# Additional Info

The list of options are based on the top level menu links but it sounds like we may want to use a taxonomy or other method that could allow webmasters the ability to control this list

[2021-02-08 20:59] joewhitsitt commented on #3034
I created this one to investigate solutions: https://github.com/uiowa/uiowa/issues/3013

[2021-02-08 21:05] cory-skeers commented on #2792
~Source blogs that have an inline image which weren't able to be created as part of the migration. Checking to see if it was an issue for me locally, as I didn't see any reason in the few that I spot checked for why they shouldn't have been downloaded and processed.~

~`select sourceid1 from migrate_map_d7_writinguniversity_blog where destid1 in (select entity_id from node__body where body_value l

[2021-02-08 21:22] joewhitsitt commented on #2358
Reached out to Hayley about starting revision remove tomorrow (Feb 9th) with Brian, Michael and Danielle cc'd. Hayley gave approval and told us to reach out if we needed anything

[2021-02-08 21:36] briand44 opened #3035 "Provide branding recommendations for admissions application"
# Story

As a developer of the Admissions Application, I would like some feedback on branding recommendations, so that we can make sure we are meeting University Brand guidelines and have a consistent feel for users coming from University websites such as uiowa.edu and admissions.prod.drupal.uiowa.edu.

# Additional Info

https://test.its.uiowa.edu/admissions/

I think we also would like to unders

[2021-02-08 21:40] briand44 commented on #3034
Adding the blocked label until we investigate https://github.com/uiowa/uiowa/issues/3013

[2021-02-09 16:32] briand44 opened #3039 "Investigate reported downtime."
# Story

As a member of the web team, I would like to understand what caused the reported downtime, so we can avoid future downtime.

# Additional Info
https://insight.acquia.com/support/tickets/1128014

# Proposed solution

- [x] dig into New Relic a bit more to see if we can isolate these external calls.

[2021-02-09 18:28] joewhitsitt commented on #2358
So, I went through all the pages and removed empty paragraph items and the items from the archived pages. Then I cleaned up revisions again. Syncing down though however, I am still seeing paragraph items. Going to look into where they are coming from.

[2021-02-09 19:05] joewhitsitt commented on #3030
Webform settings are split across a couple sites

[2021-02-09 19:34] bspeare opened #3042 "Investigate using text area for video and making it look like a card."

[2021-02-09 20:25] pyrello opened #3043 "Filtering at the top of person page"
## Story

As a site owner, I can opt-in to views filtering on the SiteNow People view page.

## Proposed Solution

- [x] Locally establish all the filtering that should be made available on the "Default" Master display. Do not expose the filters.
  - [x] Name, Title or Position (first name/last name, title/position contains) - filter query name = `search`
  - [x] Person Type (preferably a dropdown

[2021-02-10 14:32] joewhitsitt commented on #3043
This could be related to the issue I was having with the configuration entity dropdown for person types: https://www.drupal.org/node/2429699

[2021-02-10 14:42] joewhitsitt commented on #2358
So, there was a corrupted section paragraph item that was preventing the cleanup of itself and 4 others. I manually corrected the corrupted rows. When the current deployment is done, cron and delete orphans needs to run twice.

Update: Done in Prod

[2021-02-10 14:48] joewhitsitt opened #3045 "oEmbed Instagram Endpoint Change/Order"
# Problem
oEmbed providers list/Instagram have change the endpoints and the order they come over in. This is preventing Instagram posts from rendering? and being added.

# Steps to reproduce

- Try to add an Instagram post.
- Find an existing post and see if it renders correctly.

# Proposed solution

- I submitted a fix that hasn't be merged in. There is a patch to use with composer. I suggest we

[2021-02-10 15:08] pyrello commented on #3043
Do we want to tackle all of these filters in one go? It sounded like the most critical one is the person type filter.

[2021-02-10 15:56] joewhitsitt commented on #2358
So without an update hook, I think the go-live process is:

Content freeze. We don't want new paragraphs created when visiting/saving node/add/page.
Disable v2 split in prod. Switches everything to active db config.
Make sure no new pages have paragraph items created by default. Gut. Save. Clear revisions.
Make sure none of the layouts for pages have the v2 content block field placed. Remove. Save

[2021-02-10 16:08] joewhitsitt commented on #3043
It should be fairly easy to add name, position. I like the idea that the site owner can choose which ones they want in the end

[2021-02-10 16:21] pyrello commented on #2358
Do be clear, are you just planning on turning off the v2 split, but not running `drush @coronavirus.prod cim`?

Is there a reason that you want to keep the Coronavirus site split?

[2021-02-10 17:23] joewhitsitt opened #3046 "Change AoS Study path pattern"
academics/[node:title]

[2021-02-10 17:26] joewhitsitt opened #3047 "Admissions - AoS - Refactor Admissions Requirement Paragraph/Render to use link fields"
## Proposed solution

- [ ] remove the text and entity reference fields for application process and admissions requirement
- [ ] create two link fields, fallback label like it currently works

[2021-02-10 17:46] joewhitsitt commented on #2358
Correct. The plan is to let the deployment do the import.

I figured this was one of those follow-up in the next deployment situations.

[2021-02-10 17:50] joewhitsitt commented on #2358
Based on https://github.com/uiowa/uiowa/pull/3044#issuecomment-776812029, I think for our next available window we need to remove the v2 content blocks from the layouts of each existing page or this needs to be done programmatically with an update hook.

[2021-02-10 17:52] pyrello commented on #2358
@joewhitsitt I'm not sure if it needs to be removed in a follow-up step. I don't remember why I wrote it out that way.

[2021-02-10 18:42] pyrello commented on #2358
Just did a test:
* @joewhitsitt synced prod > stage
* On stage, disabled SiteNow V2 split and Coronavirus site split.
* Ran `drush @coronavirus.test cim`

That all worked successfully. However, I just realized there is another piece to this that I didn't consider. The V2 WYSIWYG uses the `<drupal-entity>` inline embed syntax, while in V3 it uses `<drupal-media>`. I think that means that, to finish

[2021-02-10 18:52] joewhitsitt commented on #2358
And deal with the left over layout builder placements of the field_page_content_block within existing pages. Just saving this page, causes a white screen: https://coronavirus.stage.drupal.uiowa.edu/node/556/edit

Should we polish off https://github.com/uiowa/uiowa/issues/865 for v2 as a part of this?

[2021-02-10 19:24] pyrello commented on #865
My idea for an update hook would utilize a similar approach to something we came up with working on migrations:
https://github.com/uiowa/uiowa/blob/3ca5397d977c03a819cbe5d4be54ef7d292b650d/docroot/modules/custom/sitenow_migrate/src/Plugin/migrate/source/ProcessMediaTrait.php#L300-L399

This uses Drupal's utility wrapper around DOMDocument to parse text area content for images and ultimately replac

[2021-02-10 20:30] cory-skeers commented on #2792
@pyrello I believe this is ready to go using the `writinguniversity_migrate` module that just got merged into main. The main followup will be wanting to do something with the youtube embeds above.

One last thing--it looks like there are no summaries. Right now the migration's leaving them blank (like w/grad migration), but we can change that to fill them in with truncated body text if desired. Ch

[2021-02-10 21:03] joewhitsitt commented on #2358
Got approval for 2/10:

[2021-02-10 23:10] joewhitsitt commented on #2358
Looks like the attributes that matter aren't one-to-one: drupal-media has `data-view-mode="large__no_crop"` while drupal-entity has `data-entity-embed-display="view_mode:media.image_large"`

I think I have familiarized myself with the new way of doing a sql update in case we decide to go that route. https://gist.github.com/joewhitsitt/f14d1ec6218cf2c4b4e6facf33755998

[2021-02-10 23:53] pyrello commented on #2358
#3048 has the code I was working on for this. I had already started it in a separate PR, so I just left it there, since we'll eventually need this for #865. We can adapt that to this issue as needed.

[2021-02-11 00:03] pyrello commented on #865
I think that this is outdated. Instead we would just remove the relevant format overrides from the `sitenow_v2` split.

Would be good to get some more details on this.

I think this could be removed from here in favor of #2358

[2021-02-11 16:46] joewhitsitt commented on #2358
@dnkemper went through the PROD site this morning to resolve https://github.com/uiowa/uiowa/issues/2358#issuecomment-777033961

We will want to check for any new pages before go live but the bulk has been dealt with.

[2021-02-11 16:46] #3046 closed, assigned to joewhitsitt

[2021-02-11 16:46] #3047 closed, assigned to joewhitsitt

[2021-02-11 18:54] #2792 closed, assigned to nobody

[2021-02-11 18:56] cory-skeers opened #3052 "Blog entry migration followup"
Followup to #2792 -- pull in categories, allow `<pre>` tags and update content.

# Proposed solution

Categories didn't get pulled in, but we have a mapping of all old nids to new nids. Create a followup migration to create tags and add them to the proper nodes.
Allow `<pre>` in `filtered_html`, then update nodes that used it previously.

[2021-02-11 20:44] cory-skeers commented on #2791
Related to #3052

[2021-02-11 21:26] cory-skeers commented on #3052
Looks like only 12 nodes used `<pre>` on the old site, so likely easiest to manually update once that tag is allowed.

Edit: And it looks like the tags are preserved, so once they're allowed those 12 nodes will be up-to-date.

[2021-02-11 21:44] joewhitsitt commented on #3030
This should roll into to and be tested with https://github.com/uiowa/uiowa/pull/2983

[2021-02-11 21:47] pyrello opened #3054 "Add JWPlayer remote video embed option"
# Story

As a site owner I want be able to embed JWPlayer livestreams so that I can share livestreams on my website.

# Proposed solution

Add a remote video media option for JWPlayer embed URL.

[2021-02-11 21:49] joewhitsitt commented on #2790
Though we are waiting for a response from folks involved, we think we should move forward with a solution to allow webmasters to add these themselves.

[2021-02-11 21:49] #2790 closed, assigned to nobody

[2021-02-11 21:53] joewhitsitt commented on #2790
See https://github.com/uiowa/uiowa/issues/3054

[2021-02-11 22:55] joewhitsitt commented on #3030
I believe updating the module resolves the issue. It at least removes the error message from the status report.

[2021-02-12 14:14] richardbporter commented on #2592
This seems to work fine on dev. 👍🏻

[2021-02-12 14:23] richardbporter commented on #1977
Making a note here that we should replace our usage of jquery.cookie with js-cookie as part of this: https://www.drupal.org/node/3104677

[2021-02-12 14:41] richardbporter opened #3056 "Implement UIDS styles on APR profile pages"
# Problem
APR font sizing seems to be off. I think this is because heading elements are used. However, I don't think we can change that.

# Steps to reproduce
https://pharmacy.prod.drupal.uiowa.edu/people/aliasger-k-salem
https://pharmacy.prod.drupal.uiowa.edu/people/jay-d-currie

# Proposed solution
Would it be possible to match the heading font sizes a little more closely with the sizes used for

[2021-02-12 15:17] GaryRidgway commented on #2941
from michael:

It appears we have a problem with humanitiesiowa.com

Content exists at both the following URLS:
* https://www.humanitiesiowa.org/council-conducted-partnerships-and-public-programs
* https://humanitiesiowa.org/council-conducted-partnerships-and-public-programs

Search console account exists for non-www site

Search results (in google) exist for www version

I suspect CSE was set up

[2021-02-12 15:20] joewhitsitt opened #3057 "Fix SEO/Crawler issues with the Admin Login link"
## Issue

The Admin Login link (saml/login) is showing up in search results. We can't control the destination, but we can do some things to prevent Google doesn't show this in search results.

Update:
This has recently been identified as a path that is abused by SiteImprove and other crawlers.

## Proposed Solution

- ~~Update robots.txt to cover saml/login and any paths off of it (e.g. https://si

[2021-02-12 16:19] richardbporter commented on #3039
The external calls to content.uiowa.edu were a red flag to me initially but digging deeper thats only because the response time was slow not the amount of calls made.

[2021-02-12 16:30] #931 closed, assigned to nobody

[2021-02-12 16:30] #2193 closed, assigned to nobody

[2021-02-12 16:30] #2592 closed, assigned to richardbporter

[2021-02-12 17:23] richardbporter commented on #1310
Seeing this again while investigating #3039. We should fix it.

[2021-02-12 17:25] richardbporter commented on #1310
Ex. URL from logs: https://baran.lab.uiowa.edu/news/feed/2020/all

[2021-02-12 17:36] richardbporter commented on #3039
I contacted ISPO for helping parsing Splunk.

Looking through the logs myself, it seems like a perfect storm of bots, siteimprove linkcheck, cron, autodiscover and another MS-related active-sync entry.

[2021-02-12 18:28] joewhitsitt commented on #1310
Related? https://github.com/uiowa/uiowa/issues/2031

[2021-02-12 18:29] richardbporter opened #3059 "As a developer, I can run cron jobs without consuming too many resources."
# Story

As a developer, I can run cron jobs without consuming too many resources.

# Proposed solution

Split up cron tasks ran every time using a contrib module like ultimate_cron. See https://befused.com/drupal/ultimate-cron for reference.

[2021-02-12 18:31] richardbporter commented on #3039
I'm going to close this so we don't spend too much time on it, especially considering it was ephemeral and did not trigger any Acquia monitoring.

I think #1310 and #3059 are more concrete issues that we can follow this up with.

[2021-02-12 18:31] #3039 closed, assigned to nobody

[2021-02-12 21:26] GaryRidgway opened #3060 "As an admissions user, I want to be able to configure accordions."
# Story

As an admissions user, I want to be able to configure which accordions open or close automatically, and configure accordions so that only one is open at a time, so that pages with many accordions are clean and intuitive.

# Proposed solution

Add configuration to collections for accordions that allows this functionality

[2021-02-12 23:29] pyrello opened #3061 "[Grad College] Mentor pages are showing credentials twice"
# Problem
On mentor pages, the person's credentials are showing twice. I changed the way mentor page titles are generated to use the mentor's credentials, which is different than how other person type content types are handled.

# Steps to reproduce
https://grad.uiowa.edu/dei/srop/mentors/gordon-buchanan-md-phd

# Proposed solution
TBD

[2021-02-12 23:32] pyrello opened #3062 "SROP Scholar list image display issue"
# Problem
Similar to #2939, the images are showing on the SROP scholar listing pages as an oval.

# Steps to reproduce
https://grad.uiowa.edu/dei/srop/past-scholars/2019

# Proposed solution
Review #2939 and implement a similar fix here.

[2021-02-12 23:48] pyrello opened #3063 "Add Committee content type for GSS"
# Story

As a GSS site owner I want display information about committees to make that information available

# Proposed solution

Create a GSS site split and create a content type called Committee with the following fields:
* Name (title)
* Description (body) - text area
* Chair(s) - Entity reference to person content type
* Vice-chair - Entity reference to person content type
* Member(s) - Entity

[2021-02-13 17:10] pyrello opened #3064 "9.1 Claro node form does not scale well"
# Problem
9.1 introduced this change: https://www.drupal.org/project/drupal/issues/3158854. While the effort was well intentioned, it ultimately seems to have not been tested thoroughly on larger monitors. It specifically creates issues for working with Paragraphs.

# Steps to reproduce
Visit the following page: https://coronavirus.dev.drupal.uiowa.edu/node/556/edit (login required).

# Proposed s

[2021-02-13 17:18] pyrello opened #3066 "Remove temporary claro node form CSS"
# Motivation

#3065 introduced a temporary CSS override to "fix" an issue that was introduced in 9.1 with the node form in Claro. There are open issues to address this issue:
* https://www.drupal.org/project/drupal/issues/3184667
* https://www.drupal.org/project/drupal/issues/3181964
* https://www.drupal.org/project/drupal/issues/3076820

# Proposed solution

Whenever a workable fix drops via the

[2021-02-14 22:17] pyrello commented on #2848
After spending a little time exploring `layout_library` as an option again, now that is is unblocked by our move to Drupal 9.1, I am realizing that it will have some significant limitations in terms of what we can provide. Similar to how we were not able to add a text area block to the Admissions Area of Study content type layout to handle displaying buttons at the top of the page, we are also goi

[2021-02-15 04:03] pyrello commented on #3043
This article may provide a way forward if the related issue doesn't: https://atendesigngroup.com/articles/drupal-8-views-entity-reference-exposed-filter-select-list

Another alternative option: https://www.drupal.org/project/entityreference_filter

[2021-02-15 13:45] pyrello opened #3067 "D9 Upgrade seems to have broken horizontal card style"
# Problem
Horizontal card style appears to have a visual regression after the D9 upgrade:

![Screen Shot 2021-02-15 at 7 41 51 AM](https://user-images.githubusercontent.com/709009/107953973-788dc580-6f61-11eb-9d15-aabae936b3e5.png)
![Screen Shot 2021-02-15 at 7 43 41 AM](https://user-images.githubusercontent.com/709009/107954019-8cd1c280-6f61-11eb-850a-fd928e77a4b6.png)

It seems like there might

[2021-02-15 13:46] richardbporter commented on #2470
Thanks. Yea it doesn't seem to cause any noticeable issues and goes away after saving like you mentioned.

[2021-02-15 13:46] #3064 closed, assigned to nobody

[2021-02-15 13:56] richardbporter commented on #1310
The example links I provided are no longer throwing an error. Maybe this was fixed with #2983 ?

[2021-02-15 14:21] richardbporter commented on #3066
I know this is temporary but I forgot when reviewing this that the sitenow profile also includes admin CSS styles. Just making a note of that here.

https://github.com/uiowa/uiowa/blob/main/docroot/profiles/custom/sitenow/css/admin-overrides.css

[2021-02-15 14:23] pyrello commented on #3066
Good call. We might want to consider moving these to `uiowa_core`.

[2021-02-15 14:24] pyrello commented on #3067
The cause of this seems to be a change in the value of the following line has changed from the actual LBS classes to the IDs:

https://github.com/uiowa/uiowa/blob/197537c6711eea5bfa5a236bf97a274b7eb14f05/docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-card.html.twig#L28

Probably this should be redone using a preprocess function.

[2021-02-15 14:51] #3067 closed, assigned to nobody

[2021-02-15 15:47] GaryRidgway commented on #2941
An Issue that has popped up for us is that there are now ads on the humanities site search. Further investigation is needed to look in to the possibility of removal for these ads.

Sadly, I cannot see these ads on any browser, with or without adblock, so my capacity to assist with this is minimal. For that reason I am going to go ahead and un-assign myself.

[2021-02-15 17:06] richardbporter commented on #2031
Should we also remove the icon from the "year displays" as well? Or just month?

[2021-02-15 17:13] joewhitsitt commented on #2031
probably. there should really only be the one feed...

[2021-02-15 17:16] richardbporter commented on #2031
I would say at that point the arguments could just be removed from the view but people may be using these. I could see a use case for creating aggregator blocks for "2020 Articles" and so maybe we just leave it for now.

[2021-02-15 17:18] joewhitsitt commented on #2358
Got approval for 2/15 to freeze content (they will check with us if they need to change something).

[2021-02-15 17:28] joewhitsitt commented on #2031
i wouldn't worry too much about that. the whole point of the feed is supposed to be new/updated, not an peek into an archive. i say we just make a note that these were never supported, unintentional and are now gone.

[2021-02-15 18:04] richardbporter commented on #2941
I got this to work by changing the config back to use the UI Search CSE ID and updating the UI Search CSE to add the www.humanitiesiowa.org domain. This is what other vanity domains are doing including neuronext.org and iowamade.org. I don't think those custom CSE are in use and can probably be deleted. I'm guessing they were setup initially but never cleaned up. I deleted the humanitiesiowa.org C

[2021-02-15 18:04] #2941 closed, assigned to richardbporter

[2021-02-15 18:06] richardbporter commented on #2941
Also, considering the above, it might not be necessary to create a separate module for this depending on the design requirements. The uiowa_bar functionality should work for these.

[2021-02-15 18:16] #1310 closed, assigned to richardbporter

[2021-02-15 18:16] #2031 closed, assigned to richardbporter

[2021-02-15 19:26] #2791 closed, assigned to cory-skeers

[2021-02-15 19:36] dnkemper commented on #3010
Note: Chrome looks/works as should. Can reproduce in Firefox.

[2021-02-15 19:40] joewhitsitt opened #3074 "Illegal offset type in Drupal\schema_metatag\SchemaMetatagClient->objectInfo()"
# Problem
Big "error" appears to admins related to schema_metatag.

# Steps to reproduce
Normal node backend operations

# Proposed solution
Update when new stable release is available: https://www.drupal.org/project/schema_metatag/issues/3174103

[2021-02-15 19:47] briand44 opened #3075 "Site Provisions - 2/12 - 2/18"
- [x] https://iddrc.uiowa.edu
- [x] https://cdd.uiowa.edu
- [x] https://facultyhonors.clas.uiowa.edu
- [x] https://hr.fo.uiowa.edu
- [x] https://umallik.lab.uiowa.edu
- [x] https://itaccessibility.uiowa.edu
- [x] https://iisc.uiowa.edu
- [x] https://deroo.lab.uiowa.edu

[2021-02-15 19:52] dnkemper commented on #3010
Update: Chrome looks/works as should locally. Can produce bug in prod if have browser window full width, open menu and expand one of the menu sections, then scale window down to a smaller size. (shoutout to Sean for the step order)

[2021-02-15 19:58] bspeare commented on #3010
@dnkemper playing around with the dev tools, this seems to help:

[code]

[2021-02-15 20:01] dnkemper commented on #3010
@bspeare YOU. ROCK. THANK YOU THANK YOU THANK YOU!

[2021-02-15 21:09] briand44 opened #3077 "Make featured image required for Area of Studies"
# Story

As an Admissions site owner, I want to require a featured image on areas of study so that they all have a consistent look and feel.

# Proposed solution

Make the field required?

[2021-02-15 21:25] ethanstjohn opened #3078 "Button style not appearing in v3 text area block"
# Problem
Buttons don't appear to work in SiteNow v3 text area blocks. I found this bug when moving the SiteNow website from v2 to v3.

# Steps to reproduce
Go to a text area block on a SiteNow v3 website and style in a button.

# Proposed solution

- [ ] Update the Linkit modal overrides in docroot/modules/custom/sitenow_media_wysiwyg/js/button_style.js to be UIDS specific.
- [ ] Programmatically

[2021-02-15 21:36] briand44 opened #3079 "Add field for Tracks/Subprograms to areas of study and style output"
Areas of studies can have subprograms, which are lists of related areas. These related areas are referred to differently by individual departments, so there is a subprogram type field that allows choosing from a specified list of items to refer to these as. The subprogram type that is chosen is used as the label for the subprograms on the display. These should be output under the program types in

[2021-02-15 21:42] joewhitsitt commented on #3078
Either we can update the modal to use uids syntax and use what have learned with https://github.com/uiowa/uiowa/pull/3048 to update all existing or we need to add the same btn* coverage to v3 text areas.

[2021-02-15 21:43] pyrello commented on #3052
@cory-skeers Is this issue closed by #3055 and #3058?

[2021-02-15 21:48] bspeare opened #3080 "Toggle navigation is not aligning right below container breakpoint"
# Problem
If a site is using the toggle menu without links in the header, the right alignment disappears below the container breakpoint.

<img width="1260" alt="Screen Shot 2021-02-15 at 3 42 51 PM" src="https://user-images.githubusercontent.com/1036433/107996094-2d95a180-6fa5-11eb-9902-f2dcfb4a3437.png">

# Steps to reproduce
Collapse browser on https://org-writinguniversity.prod.drupal.uiowa.edu

[2021-02-15 21:51] briand44 opened #3081 "College link on Areas of Study should link to a page with other areas of study for that college."
The existing admissions website has a taxonomy for Colleges that contains additional information about the college including title, text, photo, link to college website and areas of study for that college. They would like something similar on their new site. The link to the College page can be output as the first item of the related links section.

https://admissions.uiowa.edu/colleges/college-lib

[2021-02-15 21:51] cory-skeers commented on #3052
@pyrello I need to run the migration and sync it up to prod yet before it'll be fully ready to close.

[2021-02-16 13:53] briand44 opened #3083 "SSL Cert - hr.fo.uiowa.edu"

[2021-02-16 13:55] briand44 opened #3084 "SSL Cert - facultyhonors.clas.uiowa.edu"

[2021-02-16 13:56] briand44 opened #3085 "SSL Cert - cdd.uiowa.edu"
uiowa02

[2021-02-16 13:56] briand44 opened #3086 "SSL cert - iddrc.uiowa.edu"
uiowa02

[2021-02-16 14:24] briand44 commented on #3083
I believe *.fo.uiowa.edu is covered on uiowa. closing this

[2021-02-16 14:24] #3083 closed, assigned to nobody

[2021-02-16 14:28] briand44 commented on #3084
*.clas is covered on uiowa01. closing

[2021-02-16 14:28] #3084 closed, assigned to nobody

[2021-02-16 14:58] joewhitsitt commented on #2358
I went through the recently updated and didn't see evidence of new paragraphs or continued placement of the field_page_content_block on layout builder. Going to sync db to dev and try https://github.com/uiowa/uiowa/pull/3048 there

[2021-02-16 15:09] #3042 closed, assigned to nobody

[2021-02-16 16:11] bspeare commented on #3078
Here's a live site with the `btn` not working: https://coronavirus.uiowa.edu/returning-work/signage-flyers-and-communication-guides.   Perhaps we should move the `btn` styles to https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/components/button.scss?

[2021-02-16 16:56] briand44 commented on #3086
This is done.

[2021-02-16 16:56] #3086 closed, assigned to nobody

[2021-02-16 16:56] briand44 commented on #3085
This is done.

[2021-02-16 16:56] #3085 closed, assigned to nobody

[2021-02-16 16:57] briand44 commented on #3026
This is done.

[2021-02-16 16:57] #3026 closed, assigned to nobody

[2021-02-16 17:07] #865 closed, assigned to nobody

[2021-02-16 17:07] #2358 closed, assigned to joewhitsitt, dnkemper

[2021-02-16 17:20] joewhitsitt opened #3088 "sitenow.uiowa.edu - Update resend emails to use site email for replyto"
Replyto is now a required field in core's mail which webform uses. we have "default" set for replyto which is supposed to pull from the "from" field which we have the site email token set for. this isn't working.

## Proposed solution

update the resend email templates (active db) to use the site email dropdown option. If that doesn't work try a custom value with the same site email token used for

[2021-02-16 17:57] dnkemper commented on #3026
Thank you, @briand44

[2021-02-16 18:22] GaryRidgway opened #3090 "Card template incorrectly printing card description."
# Problem
[As shown here](https://github.com/uiowa/uiowa/blob/a1b887d0cd14bbd4c2492d747155de1aaa11e25b/docroot/themes/custom/uids_base/templates/uids/card.html.twig#L99), Cards assume card text to be able to be placed in a `<p>` tag. As the card description field is a WYSIWYG field, it has wrapping html tags. `<p>` tags, by design, can only contain inline elements, and none with wrapping tags. Bec

[2021-02-16 18:31] GaryRidgway commented on #2807
I've been working on taking a look at all that is currently changing with this update, and I think we may need to add more areas that change to serif when the site has it set as the Font family. These being the following:

- [x] Card Body
- [x] Articles
    - [x] Listing
    - [x] Page
- [x] People
    - [x] Listing
    - [x] Page
- [x] Events
    - [x] Listing
    - [x] Page
- [ ] Banner Text

Ad

[2021-02-16 18:45] #2979 closed, assigned to richardbporter

[2021-02-16 18:51] bspeare opened #3092 "As a site owner, I can add content to an area of study page and expect only the sections containing content to display"
# Story

As a site owner, I can add content to an area of study page on admissions and have sections render only if there is content entered in each field.

Currently, the view block and the "Admission Process" section display if there is not content in each section.

<img width="1739" alt="Screen Shot 2021-02-16 at 12 47 05 PM" src="https://user-images.githubusercontent.com/1036433/108107829-5ffe

[2021-02-16 19:36] pyrello opened #3095 "Investigate College Config Entity Listing pages for referencing entities"
Investigate options for handling college config entity lists related to request from Admissions for taxonomy like pages listing references to it.

Examples of these pages on the current Admissions site:
* https://admissions.uiowa.edu/colleges/tippie-college-business
* https://admissions.uiowa.edu/colleges/college-liberal-arts-sciences

[2021-02-16 19:43] GaryRidgway commented on #3090
Look at the uids implementation and map this to how that template is printing

[2021-02-16 19:45] pyrello commented on #3063
This is going to be handled via webforms embedded on pages.

[2021-02-16 19:45] #3063 closed, assigned to nobody

[2021-02-16 19:52] bspeare commented on #3090
I don't think we are using that class anymore.    The class is not used on https://github.com/uiowa/uids/blob/main/src/components/card/card.scss or https://github.com/uiowa/uids/blob/main/src/components/card/_card-mixins.scss.

It is in use here in `uids_base` which might be something that we didn't remove at the time:

- https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scs

[2021-02-16 20:06] joewhitsitt commented on #3062
https://github.com/uiowa/uiowa/pull/2949

[2021-02-16 20:07] GaryRidgway commented on #2807
It is also possible that we may want to add the Font Family to the WYSIWYG as well because it currently is not showing lora in it, and that could be confusing to the user?

[2021-02-16 20:15] bspeare commented on #3078
The kitchen sink page: https://sandbox.prod.drupal.uiowa.edu/kitchen-sink will be good for testing this.  We could add all of the `btn` variations to each section for testing.   Do we know what class variations we need to use?

[2021-02-16 20:18] bspeare commented on #3078
Most of the button background color overrides are in https://github.com/uiowa/uids/blob/main/src/components/button/button.scss.

[2021-02-16 20:55] pyrello commented on #2807
Discussed in a call that we would scope the font change to `main.content__container` because that is the element that contains the content. Any higher up the DOM and it starts to affect the site's chrome.

[2021-02-16 21:10] #3077 closed, assigned to dnkemper

[2021-02-16 21:14] GaryRidgway commented on #2807
@pyrello Upon further review, i think it might be better to scope it to `body.text--serif main` because on listing pages instead of `body.text--serif main.content__container` the class structure is `body.text--serif main.page__container`. With just `body.text--serif main` it catches both. Does that seem alright?

[2021-02-16 21:24] pyrello commented on #2807
I think I'm good with that. I'm interested in hearing @bspeare's thoughts when he is able to chime in.

[2021-02-16 21:37] bspeare commented on #2807
I think going with `main` is a good idea.

[2021-02-16 21:49] pyrello opened #3099 "Streamline process for site provisioning"
# Idea

The local provision process is almost entirely automated and therefore we have a high degree of confidence in PR's that generated from provisions. I think most of these PR's are approved by scanning the list of files to make sure that there are the right number have the right details. Or less. There is a lot of overhead that goes into validating most PRs that is probably unnecessary. I'm w

[2021-02-16 21:52] pyrello opened #3100 "Add git push command to output after site provision"
# Idea

Add the following to the output that is shown at the end of the `uiowa:multisite:create` command:
` * git push --set-upstream origin branch_name`

[2021-02-16 22:01] bspeare commented on #2807
After taking a look at the example site that @GaryRidgway has put together, I think I would prefer to only target areas of text like https://org-writinguniversity.prod.drupal.uiowa.edu/teaching-research/first-year-seminars and https://org-writinguniversity.prod.drupal.uiowa.edu/about-us/writing-iowa#history.  As they note on https://brand.uiowa.edu/fonts, Lora is best used for "Long-form body text

[2021-02-16 22:38] #2563 closed, assigned to richardbporter

[2021-02-16 23:10] joewhitsitt commented on #3078
This was noticed during the coronavirus conversion to v3. Now that those sitenow v2 styles aren't loaded there are a lot of broken buttons. They plan to workaround them for now so I don't know if changes priority.

<img width="1150" alt="Screen Shot 2021-02-16 at 5 09 17 PM" src="https://user-images.githubusercontent.com/4663676/108133205-ceee2780-7079-11eb-8a7f-7f0c3a2beec4.png">

[2021-02-17 14:45] briand44 opened #3101 "Remove OneIT@Iowa logo and replace with text"
Jalessa Hohensee

﻿https://oneit.uiowa.edu/

[2021-02-17 14:57] #3010 closed, assigned to bspeare, dnkemper

[2021-02-17 15:31] cory-skeers opened #3103 "Writing University Blog Entry migration"
Followup to #2792.

Request for migration of the standard `blog` content type after the `blog_entry_image_large` content type.

[2021-02-17 16:11] richardbporter commented on #3059
https://support.acquia.com/hc/en-us/articles/360005840573-Elysia-Cron-on-Acquia-Cloud

[2021-02-17 16:13] richardbporter commented on #3059
Looking at New Relic, I think we could start with running AC Insight cron overnight and probably leave everything else as-is. Then we can make future adjustments after monitoring metrics.

[2021-02-17 16:42] GaryRidgway opened #3104 "WYSIWYG Styles dropdown is anchored to page, not the WYSIWYG itself."
# Problem
Shown here, there is a problem with the anchoring of the Styles dropdown of the WYSIWYG:
![353c26638d9ba9e390b974d66343dfd7](https://user-images.githubusercontent.com/23122142/108235905-f261b280-710b-11eb-86fa-0ee195205d83.gif)
<img width="1031" alt="Screen Shot 2022-01-31 at 10 18 41 AM" src="https://user-images.githubusercontent.com/16872949/151845553-5a749233-21d2-4896-b86c-cfb380ecd4

[2021-02-17 20:31] #1338 closed, assigned to richardbporter

[2021-02-17 22:39] cory-skeers commented on #3052
Migration (categories followup) completed 🚀

[2021-02-17 22:39] #3052 closed, assigned to cory-skeers

[2021-02-18 15:25] joewhitsitt commented on #3104
I think this should be reported to the Drupal project issue queue. These are both in core and should work together.

[2021-02-18 15:58] mjoneill commented on #2378
Dentistry is planning a redesign and asked about this functionality.  Tight deadline, multiple participants who will be creating pages, etc... the lead wants to know how to help avoid blank page syndrome...

@ABoston88

[2021-02-18 16:46] briand44 opened #3108 "Adjust field order on Areas of Study"
# Story

As an admissions content editor, when adding or editing an area of study I want the fields on the areas of study content type to be in a specific order.

https://iowa-my.sharepoint.com/:w:/r/personal/katmills_uiowa_edu/_layouts/15/guestaccess.aspx?e=Lb4ntV&share=Eb9_hdBSvPlAkrhCusVmIb4B5w5b7piPg_iqhL7RB7gJRg

# Proposed solution

[2021-02-18 17:15] briand44 commented on #3081
Added blocked label for investigation issue #3095

[2021-02-18 18:09] briand44 opened #3110 "Academic Groups for areas of study"
# Story

As an admissions site owner, I want to have academic groups so that users can optionally navigate areas of study by first choosing the academic group they are interested in.

# Additional Info
* Taxonomy or similar functionality to create list of academic groups.
* Each academic group should be able to have a title, photo, description and video.
* Ability to reference multiple groups from

[2021-02-18 19:32] pyrello commented on #2378
I started working on a proof of concept/demo PR for the Layout Library. I could get something pushed to dev before too long to see how we might use that.

[2021-02-18 20:38] mjoneill commented on #2378
Sure. We did not commit to moving this up in the prioritization queue.  Just making it visible...

[2021-02-19 15:21] richardbporter opened #3112 "UI bar config page throws WSOD on at least one site"
# Problem
The UI bar config page is throwing a WSOD on https://icfm2020.org/. The error is `Call to undefined function _acquia_purge_service() in uiowa_bar_config_form()` which is very strange because that function definitely exists. We've oddities like this in the past which could be related to two profiles with identical code and a possible opcache issue.

# Proposed solution
The code referencin

[2021-02-19 15:26] richardbporter commented on #3112
Tried to RR but no dice. That has worked in the past for these types of errors.

[2021-02-19 18:11] GaryRidgway opened #3114 "Mobile Horizontal/Mega Menu "Menu" button target not filling the entire bar"
# Problem
Horizontal main menu and super menu when collapsed should have a button that spans the entire bar that users can click on with either their left or right hand, like the toggle menu has. Currently however, the button is only as wide as the “menu” text.
`Toggle navigation` button size:
![Screen Shot 2021-02-19 at 11 16 22 AM](https://user-images.githubusercontent.com/23122142/108543388-a30

[2021-02-19 18:30] joewhitsitt commented on #3092
This is part of the problem with the AoS information view block: https://www.drupal.org/project/drupal/issues/953034

Also, thinking ahead, if transfer tips are supposed to render in the transfer card then this adds a bit more complexity to the visibility of the admissions requirement region.

[2021-02-19 19:42] pyrello opened #3115 "Views block pager issue"
# Problem
As identified in #2730, there is a problem when passing block styles to the view and clicking on a pager link in a views block. On the second page of results, any styles that were passed through to the view are lost. I'm putting this separate issue together to make it easier to see the relevant information to try to resolve this.

# Steps to reproduce
The easiest way to see this issue is

[2021-02-19 20:07] joewhitsitt commented on #3115
Wonder if we could store these classes on the view another way and have that called since the display_handler stuff doesn't seem to? hidden header or footer?

[2021-02-19 20:40] pyrello commented on #3115
In testing this a bit more, part of the problem seems to be that `HOOK_preprocess_block()` never gets called when the view is loaded via AJAX. So, it follows that our processing there is just not populating the correct classes in the view for rendering.

[2021-02-19 21:58] richardbporter commented on #3061
It looks like this is being done in multiple places:

- https://github.com/uiowa/uiowa/blob/1c254b98137cd3cf835ad36bb374fe96188f3ae8/docroot/modules/custom/layout_builder_custom/src/EventSubscriber/SectionComponentSubscriber.php#L60
- https://github.com/uiowa/uiowa/blob/39f7dc098efa125fb459ca69a48e2a58fe1ee661/docroot/sites/grad.uiowa.edu/modules/grad_core/grad_core.module#L15-L26

Let me know whi

[2021-02-19 22:01] pyrello commented on #3115
I also tested this by adding the following functions and adding breakpoints to them to see if the AJAX view triggered either of them to be fired: `sitenow_people_block_view_alter` and `sitenow_people_block_content_view_alter`. Neither one seems to get triggered as part of the AJAX view generation.

[2021-02-19 22:32] pyrello commented on #3061
In the first case, I think we are changing the output prior to display. In the second, we are changing the value of the title of the node prior to saving.

I think the first method is the better method of handling it. But changing the logic in the second one require an update hook to re-save all the mentor nodes.

If anyone else has any thoughts on whether it is preferable to store the credentials

[2021-02-19 22:39] briand44 commented on #3061
I would avoid storing the credentials with the title, I would be in favor of just displaying them together on output.

[2021-02-19 22:46] joewhitsitt commented on #3061
so the first applies only to layout builder. what about teasers? I think displaying them together in a preprocess (node/layout/etc) or in template markup makes it more flexible based on the condition.

[2021-02-19 22:54] richardbporter commented on #3061
Another thing to note is here I spent quite a bit of time debugging this and did not realize there was code in layout_builder_custom affecting it. Putting all kinds of code in there makes it a little harder to debug things especially for site-specific issues.

Removing the LBC code "fixes" this pretty quickly... :)

[2021-02-19 22:57] joewhitsitt commented on #3061
FYI, we are using this for the main person content type, etc.

[2021-02-19 23:00] pyrello commented on #3061
Thanks for the feedback. I think based on that, I would go with the route of removing the addition of credentials to the title prior to saving the node in `grad_core.module`. And the update hook 😐

[2021-02-20 00:53] pyrello opened #3117 "Build a views query plugin for events.uiowa.edu feed"
# Motivation

A views query plugin essentially acts as a translator for Views to understand how to consume and display data from a source other than a SQL database. This allows you to manipulate the data via the established Views UI and, more importantly, export the logic around how that data should be displayed into configuration.

This would allow us to treat events consistently with the way we

[2021-02-20 20:11] pyrello commented on #3115
Okay... I think I may have finally wrapped my brain around why this is an issue:

In a normal page load scenario, as we build the page, we build each block. Each block that contains a view in turn triggers that view to be rendered. In that process, information can be passed between the block instance and the view. When paging occurs as an AJAX request, what is being requested is the updated View w

[2021-02-22 14:08] pyrello opened #3118 "Person extended adjustments"
# Motivation

The `person_extended` config split was initially developed prior to making a lot of changes to the person content type and has not kept pace with those changes. Some of the fields that have been added to it can be handled via other mechanisms.

# Proposed solution
- [x] Migrate field values for 'Office' and 'Lab' fields into Contact information.
- [x] Move Department field into Immun

[2021-02-22 14:18] pyrello opened #3119 "IOWA bar header disappears when editing blocks in LB"
# Problem
After clicking any button that causes the settings tray to show (e.g. "Configure" for a block), the IOWA bar disappears.

![Screen Shot 2021-02-22 at 8 12 09 AM](https://user-images.githubusercontent.com/709009/108720447-6faf6d80-74e6-11eb-9aab-ba5505dedebc.png)

# Steps to reproduce
Visit https://grad.uiowa.edu/ and login. Visit the homepage and click the "Layout" tab. Click an action l

[2021-02-22 14:27] richardbporter commented on #3061
Can you point me to that?

[2021-02-22 14:29] pyrello commented on #3061
@richardbporter In the first snippet you provided above, that is affecting the person content type. Any content type with credentials field, actually.

[2021-02-22 14:35] bspeare commented on #3119
@pyrello this was intentional functionality since the Iowa bar doesn't play well with the tray and all the media queries set up for the elements in the header.   I'd probably change this to a story about getting all header variants to work with the tray.

[2021-02-22 14:42] pyrello commented on #3119
I was not aware that we had introduced this.

[2021-02-22 14:42] #3119 closed, assigned to nobody

[2021-02-22 14:58] joewhitsitt commented on #3115
You got further than me. I was investigating actually making a proper views plugin for heading_size and lb_parent_styles as well as trying to stick the classes to a views core bucket like header area or css_class. While I did learn how to make a DisplayExtenderPlugin none of my attempts stuck to a pager ajax operation.

Turning off AJAX for these works but all of the pagers on the page advance as

[2021-02-22 15:07] pyrello commented on #3115
Even if you were able to set it up so that the settings came from the view, the settings that would be in play would be the block instance configuration, so that editors could set different settings per block. And we would run into the same issues.

[2021-02-22 15:11] #2309 closed, assigned to joewhitsitt

[2021-02-22 19:25] pyrello commented on #3095
One idea for how to handle this on Admissions specifically is to create a custom view block that filters by the selected college and lists the Areas of Study related to it. Then create static pages for each one and place the block with the correct argument on it. This could potentially build on the work in #2702.

[2021-02-22 19:47] #3061 closed, assigned to richardbporter

[2021-02-22 20:13] joewhitsitt commented on #2582
Could this be an allowed options type deal (multiple checkboxes) where the options are populated by the allowed person types? Trying to think of the most flexible route as the number of person types fluctuates.

[2021-02-22 20:52] pyrello commented on #2582
To make sure I understand, would it be something like, if they select a person type, then there is a corresponding checkbox to mark whether they are a "former {person type}"?

[2021-02-22 21:09] #3079 closed, assigned to joewhitsitt

[2021-02-22 21:09] #3092 closed, assigned to joewhitsitt

[2021-02-22 21:15] #2863 closed, assigned to nobody

[2021-02-22 21:16] joewhitsitt commented on #2582
It wouldn't be that smart I don't think. The allowed options function for the field would just check which person types are enabled for the site and create former/current options based on those. All would be visible and available unless you want to take it a step further and create some visibility states based on it. I don't know how to show hide individual options based on the selection of anothe

[2021-02-22 21:18] joewhitsitt opened #3124 "Docs - Block grid options"
## Issue

Our docs don't include block grid documentation from https://github.com/uiowa/uiowa/pull/2676

## Proposed Solution

Update the block documentation pages with these new options.

[2021-02-22 21:51] joewhitsitt commented on #2976
In DEV for client review

[2021-02-22 21:55] joewhitsitt commented on #3095
I think given the circumstances, this would be the easiest path forward while retaining what we have built for all sites to use. Are there additional fields of content that would be placed on these pages or would this all be covered with the views block on a page?

[2021-02-22 21:57] pyrello commented on #2863
Grad College is going to use the Handshake system for job listings going forward.

[2021-02-22 21:58] pyrello commented on #2862
Grad College is going to use Handshake for jobs, so this is no longer necessary.

[2021-02-22 21:58] #2862 closed, assigned to nobody

[2021-02-22 21:59] pyrello commented on #2864
Grad is going to use Handshake to handle job listings.

[2021-02-22 21:59] #2864 closed, assigned to nobody

[2021-02-22 22:00] pyrello commented on #2940
It is likely that this is going to be moved to using Handshake, so may not be necessary.

[2021-02-22 22:01] joewhitsitt commented on #723
Does https://github.com/uiowa/uiowa/pull/3123 open this up again?

[2021-02-22 22:05] richardbporter commented on #723
Yea hopefully down the line it'll be possible.

[2021-02-23 14:10] #3103 closed, assigned to nobody

[2021-02-23 15:02] pyrello opened #3125 "Add programs of study field to person content type in person_extended"
# Motivation

The Graduate Student Senate is made of of senators from different programs. It is considered important to display the program of study as part of their record.

# Proposed resolution

Instead of the original plan, as part of #3337, I'm repurposing the `person_extended` split to be grad-specific and adding this field there.

[2021-02-23 15:35] bspeare opened #3126 "D9 Webform datepicker not working in Safari and IE"
# Problem

Datepicker does not appear on IE and Safari and manual date entry does not work either on: https://designcenter.uiowa.edu/form/submit-job-request.

# Proposed Solution
- https://www.drupal.org/project/webform/issues/3027747#comment-14002223
- Remove datepicker?

[2021-02-23 15:52] pyrello commented on #2851
I think this has been resolved.

[2021-02-23 15:52] #2851 closed, assigned to nobody

[2021-02-23 16:10] GaryRidgway commented on #2582
To reduce fields so we don't have to create a "Current/Former" option for each Person type, would it be easier to just have select boxes instead of checkboxes? like so?

![fc4a2b490381ae2d544ab14fe2225358](https://user-images.githubusercontent.com/23122142/108871885-3991ec80-75bf-11eb-8a66-aa5566e5e56c.gif)

That was you can cut down on the amount of chaff and it is clear to the user what person t

[2021-02-23 16:15] #3080 closed, assigned to nobody

[2021-02-23 16:20] joewhitsitt commented on #2582
so i added "current", but i am not sure that is the scope and might just be implied by selecting a person type. former is really what we are after here, but I could see other options besides former. i do think there are use-cases where multiple person types are selected (staff/student). this suggestion still might work though as a combination field and that maps the combined value to the allowed o

[2021-02-23 19:15] mark-bennett-uiowa opened #3129 "Slider block has lost internal padding on overlay text"
# Problem
As the screenshot shows, the internal padding around the overlay text has lost the padding it had about a week ago.
<img width="1457" alt="Screen Shot 2021-02-23 at 1 11 29 PM" src="https://user-images.githubusercontent.com/3067017/108895195-e6c52e80-75d8-11eb-8411-f4f0ae2f9f87.png">

# Steps to reproduce
Add a slider block to a section, add overlay text and a description, with a backgro

[2021-02-23 19:59] pyrello opened #3130 "Create "Create your own path" page for Admissions"
# Story

As a prospective student I can view a list of academic groups as a starting point to exploring things I might study. Follow up to #3110

# Proposed solution

Create a view to list terms in the Academic Groups vocabulary similar to https://admissions.uiowa.edu/academics/groups.

[2021-02-23 20:03] bspeare commented on #3035
Closing this in favor of https://github.com/uiowa/uids/issues/486.

[2021-02-23 20:12] bspeare commented on #3056
Maybe this isn't a bug?  I think we just need to plan time to invest in making the profile to use some styles and headings from UIDS.

[2021-02-23 20:30] mark-bennett-uiowa commented on #2739
I would use it, activate it on all sites, as long as we could pull from Content Hub, I would want to continue avoiding local events. I will have sites that have a massive amount of events, so setting a limit to the past year would be great. So yes, paging becomes an issue. It follows with CLAS’s decision to limit historical entries to 2-3 years on news, etc. 1 year would be fine on events as long

[2021-02-23 20:34] pyrello opened #3131 "Investigate how to handle displaying past events"
As a first step to potentially displaying past event, we need to understand what is involved in doing that.

[2021-02-23 20:54] #3062 closed, assigned to GaryRidgway

[2021-02-23 21:47] #3129 closed, assigned to nobody

[2021-02-24 08:54] mark-bennett-uiowa opened #3133 "HTML Markup field in forms are not styled / Preferred method for instructional text above form?"
# Problem
When creating a form for an information session to reproduce this page: [https://clas.uiowa.edu/socialwork/undergraduate-program/ba-programs/iowa-city-ba-program/information-sessions](https://clas.uiowa.edu/socialwork/undergraduate-program/ba-programs/iowa-city-ba-program/information-sessions), what is the preferred method moving forward in Drupal 8? Attach the form as a block in a basic

[2021-02-24 13:53] pyrello commented on #2582
I agree that "current" would be implied unless another option is chosen, but that adding it to the field as the default would make sense. I'm not sure how you would adjust the above UI example to allow for multiple entries, which is, for better or worse, where we are currently at with person types.

[2021-02-24 14:00] pyrello commented on #3115
I took a stab at creating the core patch that I think would be a requisite first step to being able to make this work to pass data from block to view: https://git.drupalcode.org/issue/drupal-3200029/-/compare/9.2.x...3200029-views-block-display-prebuild-event. That combined with the patch above, along with some additional custom code in a PreBlockBuild event subscriber to get the block information

[2021-02-24 14:52] joewhitsitt commented on #3131
In D7 we have past events option, profiles/sitenow/modules/custom/uiowa_events/uiowa_events_page, but like I said in grooming, it is limited in how many are displayed. Not sure a dynamic display makes sense as the number of events goes up. Local events are coming. Maybe the sites that need the past events should get the local events content type.

I know you can view past events on events.uiowa.ed

[2021-02-24 14:56] joewhitsitt commented on #2976
Reviewed and deployed.

[2021-02-24 14:56] #2976 closed, assigned to joewhitsitt

[2021-02-24 15:09] pyrello commented on #3131
The specific requirement for one of my site is to display every event for the past year, so it would not just be every past event.

@joewhitsitt Is your suggestion that sites that need to display past events would only use the local event type? And not use events.uiowa.edu? I would reiterate that we already moved a year's worth of past events to events.uiowa.edu for AMCS because we already told th

[2021-02-24 15:10] joewhitsitt commented on #3131
without saying it, i was hinting at importing :drupal_cry:

[2021-02-24 15:30] joewhitsitt commented on #3133
We can update these default webform settings to be more inline with the allowed minimal text format:

<img width="697" alt="Screen Shot 2021-02-24 at 9 29 02 AM" src="https://user-images.githubusercontent.com/4663676/109024001-e4b7aa00-7682-11eb-94e0-6bb8207d23dc.png">
<img width="374" alt="Screen Shot 2021-02-24 at 9 29 18 AM" src="https://user-images.githubusercontent.com/4663676/109024005-e5504

[2021-02-24 17:59] bspeare commented on #2724
Closing this for now.  We can reopen if this is requested in the future.

[2021-02-24 19:56] briand44 opened #3136 "Move commencement.uiowa.edu from 702 to 703"
# Story

As an ITS/OSC web team member,  I want to move commencement.uiowa.edu from uiowa702 to uiowa703 so that we can start to free up another application for Drupal 9.

# Additional Info

We want to document all steps involved in this process for future reference and to help determine if/how much of this we could automate.

Once this gets planned, we will need to reach out to Josh to schedule a

[2021-02-24 20:30] #3059 closed, assigned to richardbporter

[2021-02-24 20:53] joewhitsitt commented on #2582
If we wanted to do it like the above example, I imagine a multi-value compound field type similar to the headline field. Otherwise, we could start off small if we just wanted to capture former of a few default person types. I don't think you can be a former emeritus?

[2021-02-25 14:49] richardbporter commented on #723
I timed uiowa again and it took 6m23s with 158 databases.

[2021-02-25 14:53] joewhitsitt commented on #3124
This are available for review:
https://sitenow.uiowa.edu/node/371/latest
https://sitenow.uiowa.edu/node/381/latest
https://sitenow.uiowa.edu/node/366/latest
https://sitenow.uiowa.edu/node/396/latest

[2021-02-25 14:58] joewhitsitt commented on #723
Progress! So maybe the idea of 15 or 30 min windows of scheduling content is a possibility that can scale.

[2021-02-25 15:24] #3095 closed, assigned to nobody

[2021-02-25 16:41] mjoneill commented on #2169
BTW: Laura K of Law is making this visible to us. We'll want to close the loop with her when finishing this, etc.  She'd be a great partner if we need to test and/or get feedback, etc...

[2021-02-25 17:35] joewhitsitt commented on #2393
Updated based on testing and understanding of the current functionality

[2021-02-25 17:35] #2393 closed, assigned to joewhitsitt

[2021-02-25 18:39] richardbporter commented on #3112
Good lord. Purge was disabled.

+1 for D8 CM.

[2021-02-25 18:39] #3112 closed, assigned to nobody

[2021-02-25 19:36] joewhitsitt commented on #3124
Published with the idea that edits can be made later if necessary.

[2021-02-25 19:36] #3124 closed, assigned to joewhitsitt

[2021-02-25 19:45] dnkemper opened #3138 "Fix Admissions Student Profiles block"
# Problem

https://iowaweb.slack.com/archives/C0164FNN1PV/p1614281335067900
The student profile block still displays even if there is no content to fill it.

The student profile block also doesn't display profiles at random.

# Steps to reproduce

https://admissions.prod.drupal.uiowa.edu/student-profiles/aasthika-das
# Proposed solution

Could potentially follow Joe's fix?!
 - if no data, don't di

[2021-02-25 19:52] richardbporter commented on #1231
Issue fixed.

[2021-02-25 19:52] #1231 closed, assigned to nobody

[2021-02-25 19:55] pyrello commented on #3115
The previous link I posted leads to a hot mess (tl;dr I got mixed up between `drupal/drupal` and `drupal/core`). I finally got a properly formatted patch attached to the issue: https://www.drupal.org/project/drupal/issues/3200029#comment-14011712

[2021-02-25 21:20] bspeare opened #3139 "As an admissions site owner, I can see each area of study fit within two pages of a PDF"
# Story

As an admissions site owner, I can see all areas of study content fit within two pages of a PDF.

# Proposed solution

- Reduce top header space between block Iowa logo and area of study name - try to put on same line?
- Print out locally and look for font reduction opportunities
- Remove checkbox from certificates and add field label instead
- Add `hide from print` class
- Add class for

[2021-02-25 21:51] joewhitsitt opened #3140 "Padding on Events grid"
The block grid option revealed a style bug related to background padding that causes the cards to mis-align across.

## Steps to reproduce

- Single column, events block (white bg), display as grid (3col)

<img width="863" alt="Screen Shot 2021-02-25 at 12 11 10 PM" src="https://user-images.githubusercontent.com/4663676/109224166-32b2d780-7781-11eb-9141-78d32bea22ad.png">

[2021-02-25 22:04] bspeare opened #3141 "As a site owner, I can place blocks within a one column section and make them appear in a grid"
# Story

As a site owner, I can place blocks within a one column section and make them appear in a grid.

Currently, we have some grid styles available in the one column section that were built for stat grid on https://uiowa.edu:

- https://github.com/uiowa/uiowa/blob/08873b11a1ea804e41ab6ce2937471476716c4f9/config/default/layout_builder_styles.style.section_layout_grid_3x2.yml
- https://github.co

[2021-02-25 22:22] pyrello commented on #3081
It occurred me that the the plan that was articulated above isn't fully fleshed out. We have to figure out how to get a link on the Areas of Study page that links to the corresponding College page that will be created. This can't be done by just adding the college field to the AoS content type, as there will be no connection between the college page that is created and the college field that is se

[2021-02-25 22:23] pyrello commented on #2582
We are going to discuss this during the next backlog grooming.

[2021-02-25 22:43] mark-bennett-uiowa commented on #3133
@joewhitsitt I followed your lead here; I unchecked Tidy HTML markup (to prevent it from stripping paragraph tags, I changed the Element text format to Filtered HTML, and tried turning on the Advanced HTML/Text element type option.

By changing the Element text format to Filtered HTML, it immediately fixed the issue. By using the Advanced HTML/Text, this also fixed it, but it raised two alerts and

[2021-02-25 23:13] joewhitsitt commented on #2582
Talked to @pyrello about this a bit after planning. Here is, I hope, a better description of what I am thinking as a solution:

- [ ] Person type configuration entity gets a new boolean "Allow status"
- [ ] Person content type gets a new list checkboxes allowed values function field, "Person status"

- The default allowed values function checks which person types are available and if they have the

[2021-02-25 23:18] joewhitsitt commented on #3133
Hey @mark-bennett-uiowa, unless you somehow changed this on the specific form, this is tracked as configuration for our webform settings and I believe will have to be address in a PR or it will revert on the next deploy.

[2021-02-26 14:20] richardbporter opened #3142 "Signage is using formal wordmark instead of block Iowa"
Signs have the ability to place a "UI Nameplate" widget which uses the formal wordmark instead of the block Iowa. Should it be switched?

Ex. https://signage.uiowa.edu/registrar/office-registrar

[2021-02-26 14:30] richardbporter opened #3143 "As an UCC sign operator, I can display room schedules on signs in the building."
# Story

As an UCC sign operator, I can display room schedules on signs in the building.

The EMS Event Listing widget was previously used for this but ITS UCC folks have switched to using Outlook. I’m not seeing any existing Outlook widgets on signage.

# Proposed solution

That would mean that we’d need to have the AppDev team build the feed of data first, once a general workflow was agreed on,

[2021-02-26 15:14] richardbporter commented on #3143
There is nothing scheduled other than one event until June 7th so this can wait until then.

[2021-02-26 15:22] bspeare opened #3145 "List grid styles disappear within Page w/ left sidebar layout with an adjacent empty column"
# Problem
If have an empty column within a two column layout while using the list grid styles, the grid appears within the layout preview but not when the page is saved because the empty column markup does not render on save.

# Steps to reproduce

Place a list grid into a Page w/ left sidebar layout.

**Layout preview:**

<img width="1761" alt="Screen Shot 2021-02-26 at 8 50 35 AM" src="https://u

[2021-02-26 15:29] pyrello commented on #2582
I updated the original post to provide some examples of what this functionality would be used for.

[2021-02-26 20:42] pyrello opened #3147 "Find a better solution for shared taxonomies"
# Motivation

Since taxonomy is content and we don't have a system in place to share content that stays in sync, we have gotten around this by building config entities that allow us to provide items that can be referenced from content and that we can control via configuration management. Examples would be person types and colleges/academic units. The downside to this approach is that we have lost

[2021-02-26 20:44] pyrello commented on #3004
This was handled via updating content on the new site.

[2021-02-26 20:44] #3004 closed, assigned to pyrello

[2021-02-26 21:30] richardbporter commented on #3126
Wow. I was going to suggest manually entering the date or switching to the date list element, however, getting the format right is a pain. When you consider webmasters can't see what format the date should be in to add help text, I would vote for a non-jQuery polyfill if one exists.

[2021-02-26 21:48] richardbporter commented on #3126
I'm actually not seeing many. Sounds like Safari will support this in the next release and IE is IE 👎🏻 .

I kinda like this idea of setting a placeholder equal to the format which would only show for browsers that don't support the HTML `date` element: https://stackoverflow.com/a/56577624 I think we could do that in code.

[2021-02-26 22:32] richardbporter commented on #3126
I would say this is a browser issue. Removing bug label.

[2021-02-27 19:26] pyrello commented on #3115
I have figured out a path forward on this in #2702 that I think is fairly robust, which depends on the patch in https://www.drupal.org/project/drupal/issues/2605218. That patch allows the `preBuildBlock` method to run even when the views is built via AJAX. The headline field being part of the views block means that it is fairly trivial to pass the `child_heading_size` setting through. The Layout B

[2021-02-28 23:35] pyrello opened #3149 "Remove drupal/core PDO patch when upgrading to 9.1.5"
Per this [change record](https://www.drupal.org/node/3133150), the corresponding patch we are using will no longer be necessary when we upgrade to 9.1.5.

[2021-03-01 14:46] pyrello opened #3150 "Allow setting default people list display options in SiteNow People settings"
# Story

As a site owner I want to be able to choose a default style for my people lists so that they look consistent everywhere without having to re-select those options each time.

# Proposed solution

Add settings to SiteNow People settings page that mimics the Layout Builder card style options. Setting these options controls how the people page looks as well as the default settings for people

[2021-03-01 14:57] pyrello opened #3151 "Replace SiteNow People view page with content page"
# Story

As a site owner I want manage my People listing page in the same way I manage other pages so that I can define a complex layout and use all the options that are built into the People list block.

# Proposed solution

- [ ] Write an update hook that creates a page node to serve as the People list page.
- [ ] Place the people list block on that page in the main content section.
- [ ] Set th

[2021-03-01 15:22] pyrello opened #3152 "Investigation: Automate as much of site provision process as possible."
# Related

* #3099
* #3100

[2021-03-01 15:23] richardbporter opened #3153 "Get a list of inactive SiteNow v1/2/3 sites."
Many people request sites and then never really do anything with them. Every site we have creates overhead for us in terms of maintenance. It would be nice to be able to get a list of inactive sites periodically and then contact site owners to see if they are still needed.

In D7, we did this by running the `drush users:list` command with a last-login filter of 6 months. Then we took the output an

[2021-03-01 21:18] dependabot-preview[bot] opened #3156 "Dependabot couldn't fetch the branch/reference for drupal/lb_direct_add"
Your dependency file specified a branch or reference for `drupal/lb_direct_add`, but Dependabot couldn't find it at the project's source. Has it been removed?

[View the update logs](https://app.dependabot.com/accounts/uiowa/update-logs/70054319).

[2021-03-01 21:32] pyrello commented on #3147
#3081 is an example of why this is important.

[2021-03-01 21:35] richardbporter commented on #3030
A customer reported that although the error message is gone, the regression with the file links in emails remains. Others are reporting this on https://www.drupal.org/node/3175525.

[2021-03-01 21:45] #2807 closed, assigned to GaryRidgway

[2021-03-01 21:57] pyrello commented on #3081
I updated the plan for this. Basically, we are just going to skip using the Colleges field that we developed in favor of just creating and referencing pages.

[2021-03-01 22:10] richardbporter commented on #3030
I can reproduce this on dev but not locally.

[2021-03-01 22:25] richardbporter commented on #3030
I'm not sure downgrading memcache is an option looking at the diff. I can reproduce this locally now.

[2021-03-01 22:42] #2893 closed, assigned to cory-skeers

[2021-03-02 14:18] #3140 closed, assigned to bspeare

[2021-03-02 14:18] #3145 closed, assigned to bspeare

[2021-03-02 14:58] joewhitsitt commented on #3030
sry 😞

[2021-03-02 16:10] joewhitsitt commented on #3151
SiteNow People view page can be disabled so I don't really understand why people can't just do this on their own without the complexities of deletion prevention, moderation, etc.? I would imagine that if this was considered, it should wait till v2 is gone. Then I wonder where SiteNow Articles' view page fits in to this with the attachment displays (monthly archive, feed). Right now, the view pages

[2021-03-02 16:22] pyrello opened #3167 "Malformed HTML causes WSOD"
*I keep getting this error on one particular page when trying to save the Layout:
"Temporarily Unavailable
The website that you're trying to reach is having technical difficulties and is currently unavailable.
We are aware of the issue and are working hard to fix it. Thank you for your patience."*

*This is the page:
https://writinguniversity.org/node/116/layout*

*I am able to save the page throu

[2021-03-02 18:49] pyrello opened #3169 "SLIS: Build article migration"
# Motivation

The School of Library & Information Science website has about 300+ news articles on it. As part of the process of moving their site to D9, I would like to build a migration for this content and a migration to set up URL redirects from the old path to the new auto-generated one.

# Proposed solution

- [ ] Build News => Article migration to handle the following:
  - Body field with in

[2021-03-02 19:22] joewhitsitt commented on #2396
Going to split this epic out

[2021-03-02 19:53] joewhitsitt commented on #995
https://www.drupal.org/project/drupal/issues/3109650 has a patch now...

I think this would extend to comment fields, webform elements, crowd-sourced content? Not sure I am comfortable with that idea yet. I know we don't have that issue too much/if at all yet, but I know in D7 there were anonymous text areas with a minimal editor, etc.

[2021-03-02 20:01] richardbporter commented on #2727
This would probably be for local events only. Maybe.

[2021-03-02 20:08] joewhitsitt commented on #2582
Example of the configuration entity lookup might be academic units field widget

[2021-03-02 20:09] richardbporter commented on #2582
Nice to have: update hook to take care of sites that are already using person_extended current student field to move those values into this.

[2021-03-03 13:54] richardbporter commented on #3167
This is being caused by some malformed HTML in the Juan Felipe Herrera text area block:
[code]

The anchor has some data- attributes that it shouldn't. Removing those data-entity-* attributes seems to allow saving the layout.

I don't know how this happened or if we need to investigate. I'm guessing some dragging and dropping in the WYSIWYG?

[2021-03-03 14:13] #3126 closed, assigned to richardbporter

[2021-03-03 14:26] #3108 closed, assigned to bspeare

[2021-03-03 14:42] #2975 closed, assigned to nobody

[2021-03-03 14:46] joewhitsitt opened #3170 "Local Event Content Type Feature Split"
Split from #2396

# Story

As a developer, there is a base local event content type that I can start working with.

# Proposed solution

## Event Feature Split

### Content Type

- [x] Title
- [x] When (date/time) - (use Smart Date which handles complex date situations like repeating dates)
- [x] Description (body)
- [x] Short Description (field_teaser, default meta description)
- [x] Featured Ima

[2021-03-03 14:50] joewhitsitt opened #3171 "SiteNow Events view page"
Split from #2396
Follow-up to #3170
Blocked by #3458

# Story

As a site owner with the local events content type split enabled, I would like to modify aspects of the view without asking a developer.

The problem right now with providing this solution is that being a feature split and not part of the default, the view needs to be imported when the feature is enabled but ignored when the configurat

[2021-03-03 14:52] joewhitsitt opened #3172 "Auto Archive Local Event Content"
Split from https://github.com/uiowa/uiowa/issues/2396
Follow-up to #3170

# Story

As a site owner when creating local events with my local event content type feature split turned on, I can select to have the event auto-archive after the event passes.

# Proposed solution

## Events feature split

### Auto Archive

- [ ] "Archive after event concludes" type boolean on content type.
- [ ]  Periodic

[2021-03-03 14:55] joewhitsitt opened #3173 "Admissions - Extend local event content type feature split"
Split from https://github.com/uiowa/uiowa/issues/2396
Follow-up to #3170

# Story

As a site owner of Admissions, I can use extended features off of the local event content type feature split

# Proposed solution

## Admissions Split

### Content Type

- [x] Virtual Event designation? Could the logic just look for Virtual Event link?
- [x] Virtual Featured event? Could this just be "Sticky"?
- [ ]

[2021-03-03 15:20] joewhitsitt commented on #3172
A nice way to do this would be to leverage a view to check for results. This is how we "auto close" alerts on the ITS website. Otherwise an entity query works as well.

[2021-03-03 18:26] joewhitsitt commented on #3011
Based on the Admissions meeting, we might need to move the reference to the transfer tip and reference the AoS to get all of this other stuff wired up (title, back link, meta, view listing). This will of course change how we find/get the transfer tip on the Transfer Admissions Requirement Card

[2021-03-03 19:40] #3156 closed, assigned to nobody

[2021-03-03 19:55] #3139 closed, assigned to bspeare

[2021-03-03 20:04] #3081 closed, assigned to bspeare

[2021-03-03 20:18] richardbporter commented on #3167
@pyrello Do you want me to do any more digging or just relay this to the customer and move on?

[2021-03-03 20:42] richardbporter commented on #3167
I think this is the issue we're having: https://www.drupal.org/project/linkit/issues/3201405 I can replicate it at least.

[2021-03-03 21:04] richardbporter commented on #3167
I guess a short-term fix would be to use the unlink button to remove the link and then relink it.

[2021-03-03 21:41] joewhitsitt commented on #3011
Updated issue summary. This should be re-pointed for accuracy of the work left to do.

[2021-03-03 21:54] dnkemper commented on #3011
Thank you so so much for all of your help, @joewhitsitt

[2021-03-03 22:04] richardbporter opened #3176 "Sitenow request form URL trailing slash error message is misleading"
# Problem
The error message when submitting a URL with a trailing slash is not great:
![image](https://user-images.githubusercontent.com/1068523/109878420-deed3600-7c39-11eb-81ba-51b6f67bbb22.png)

# Steps to reproduce
- Enter a valid URL with a trailing slash.
- See error related to path.

# Proposed solution
Trim any trailing slash automatically before running validation.

https://www.php.net/ma

[2021-03-03 22:09] bspeare commented on #3056
Denny is working on updating the page styles to look like UIDS.   Maybe we don't need this issue and we should just wait for that update?

[2021-03-03 22:27] richardbporter commented on #3167
The weird thing is the href is set on that link so the referenced issue may not be exactly what happened here.

[2021-03-03 22:47] mark-bennett-uiowa commented on #3133
You're exactly right @joewhitsitt. Just submitted a PR (#3178) with this small change included to add this feature.

[2021-03-04 14:49] joewhitsitt commented on #2750
Admissions shared a doc with the following embed providers:

Update: Top 3 are higher priority than video stuff.

- ScheduleOnce (oncehub)
- Net price calculator - https://admissions.prod.drupal.uiowa.edu/finances/net-price-calculator - admissions.uiowa.edu/npc
- Google Maps
- UI Capture
- Video option that isn't blocked in China (YouTube and UI Capture are blocked) - Kaltura/Mediaspace?

[2021-03-04 15:33] joewhitsitt commented on #2748
**Correction from the Admissions meeting**, it appears that Full HTML does not strip the styles attribute because it doesn't have the "Limit allowed HTML tags and correct faulty HTML" feature selected. That and table resize works. With that in mind, full html access can technically be handled with just a permission change (site by site), but I still don't think this is something we want to do for

[2021-03-04 15:36] joewhitsitt commented on #3002
https://sitenow.uiowa.edu/node/436/edit

[2021-03-04 16:01] richardbporter commented on #3176
https://github.com/uiowa/uiowa/blob/main/docroot/sites/sitenow.uiowa.edu/modules/sitenow_core/src/Validate/RequestASiteUriConstraint.php

[2021-03-04 16:39] laurenhaldeman commented on #3167
Could this have happened because I tried to make the image a link? I highlighted the image and clicked the link symbol in the WYSIWYG.

[2021-03-04 16:50] joewhitsitt commented on #3167
Possibly. I think the only way to link an image right now is to follow these steps: https://sitenow.uiowa.edu/documentation/media/images-and-files#link-image

[2021-03-04 17:09] richardbporter opened #3179 "Uninstall jsonapi, remove webmasters view and delete corresponding dispatch communications"
I noticed quite a few MySQL slow queries related to the router table. Over half the entries in that table are from the jsonapi module which is only used for the webmasters API, as far as I know. It creates routes per CRUD operation per field per entity, I think, and we have a lot of those :). Considering how infrequently we use this API, it seems like overkill to enable this on every site.

Also,

[2021-03-04 17:16] laurenhaldeman commented on #3167
Update: I removed the data- attributes from the anchor, as well as the id, rel and title, and the page layout saved. Thanks all!
From:
`<a data-entity-substitution="" data-entity-type="" data-entity-uuid="" href="http://litcity.lib.uiowa.edu/person/juan-felipe-herrera/" id="" rel="" target="" title="">`
to
`<a href="http://litcity.lib.uiowa.edu/person/juan-felipe-herrera/">`

[2021-03-04 17:19] briand44 opened #3180 "Additional PDF pages"
# Story

As an Admissions site owner, I want to convert additional pages to a PDF so that these pages can print consistently between browsers.

# Additional Info

There are some additional pages that are not areas of study that also need to be converted to PDFs to print. These should be listed at the bottom of the list of print links. These will be more than two pages.

The additional pages can be

[2021-03-04 17:30] #3133 closed, assigned to mark-bennett-uiowa

[2021-03-04 17:56] joewhitsitt opened #3181 "SiteNow Updates News Article - March"
## Issue/Solution

Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link.
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  - See https://sitenow.uiowa.edu/news/2021/02/updates-january

[2021-03-04 17:59] richardbporter commented on #3056
This is still a thing that we will need to do.

[2021-03-04 18:00] joewhitsitt commented on #3002
Article published and dispatch sent at 12pm.

[2021-03-04 18:00] #3002 closed, assigned to joewhitsitt

[2021-03-04 22:19] briand44 opened #3182 "Enable remote post handler for Pharmacy webforms"
# Story

As a College of Pharmacy website owner, I want the ability to post my webform submissions to my CRM, so that we don't have to download and/or re-enter the data manually.

# Proposed solution

[2021-03-05 14:51] bspeare commented on #3110
We pointed this but I don't see a proposed solution.   Is there anything to add there?

[2021-03-05 15:11] pyrello commented on #3110
I think this is the best way to handle this:
* Build a new content type called Academic Groups with the following fields: Name, Description, Featured image, Video, and an entity reference field to the Areas of Study content type.
* There is also a Profile field, but the example I am looking at doesn't have a value for it, so maybe it's not used? Probably check that with Scott.
* Style the referenc

[2021-03-05 19:07] joewhitsitt commented on #3181
Draft created: https://sitenow.uiowa.edu/node/441/edit

[2021-03-05 19:18] mark-bennett-uiowa opened #3188 "As a developer I can hide specific menu items without disabling them"
# Story

As a developer I can hide specific menu items without disabling them. I need to hide one menu item from the main navigation, but still show its children in a side menu.

This all stems from a specific need I have for the Social Work site, specifically for the Field Education section. This Field Education section contains information for both undergraduate and graduate students. On their e

[2021-03-05 19:28] joewhitsitt opened #3189 "Wipe/Re-Install bme.engineering.uiowa.edu as v3 on uiowa"
Never went live. They want all department sites on v3.

[2021-03-05 19:46] joewhitsitt commented on #3182
@briand44 requested I take a look at this as a support task.

[2021-03-05 21:31] pyrello commented on #3110
Alternately, this could just be done by adding a taxonomy for Academic groups and an entity reference field to the Area of Study content type that references it.

@bspeare raised the concern about whether the first approach I laid out would allow for us to use Academic groups as a filter on the Areas of Study search page. I think that it is possible, but would require adding a relationship with a

[2021-03-05 21:36] bspeare opened #3191 "Unused video.css is loading on pages using banner video block"
# Problem

Sites like https://nads.uiowa.edu/ are loading https://nads.uiowa.edu/themes/custom/uids_base/assets/css/components/video/video.css as a 404 error.

# Proposed Solution

Remove library attachment and reference:

- https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/uids_base.libraries.yml#L102
- https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_bas

[2021-03-05 21:53] joewhitsitt opened #3192 "SSL - vote.uiowa.edu on uiowa02"

[2021-03-05 21:55] joewhitsitt opened #3194 "SSL - inclusionteam.uiowa.edu on uiowa02"

[2021-03-05 21:57] joewhitsitt opened #3195 "SSL - csw.uiowa.edu on uiowa02"

[2021-03-05 21:58] joewhitsitt opened #3196 "SSL - studentsuccess.uiowa.edu on uiowa02"

[2021-03-05 22:00] joewhitsitt opened #3197 "SSL - getinvolved.uiowa.edu on uiowa02"

[2021-03-05 22:56] joewhitsitt commented on #3189
Ran into an install error related to cshs.

`Error: Unsupported operand types in cshs_config_schema_info_alter() (line 63 of /mnt/www/html/uiowa/docroot/modules/contrib/cshs/cshs.module`

Going to look into updating this module.

[2021-03-08 14:27] #3176 closed, assigned to joewhitsitt

[2021-03-08 14:49] bspeare opened #3200 "Epic: Menu block improvements"
# Motivation

We have gotten several requests for different types of improvements to the menu system. This is a spot to collect and track them all.

# Tasks
* [x] #4703
* [x] #4701
* [x] #4823
* [ ] #4711
* [x] #4544
* [ ] #4712
* [ ] https://github.com/uiowa/uiowa/issues/4764
* [ ] https://github.com/uiowa/uiowa/issues/7092
* [ ] https://github.com/uiowa/uiowa/issues/7764
* [ ] https://github.com

[2021-03-08 15:49] joewhitsitt opened #3201 "Re-Install itaccessibility.uiowa.edu as v3 in STAGE on uiowa"
Site owner will move content manually from v2 website.

[2021-03-08 15:56] richardbporter commented on #3189
I'm not getting that error - you got this after running `blt drupal:install --site bme.engineering.uiowa.edu`?

[2021-03-08 15:59] joewhitsitt commented on #3189
`./vendor/bin/blt drupal:install --site=bme.engineering.uiowa.edu` on PROD. not local.

[2021-03-08 16:00] richardbporter commented on #3189
I didn't get it on dev either. Not sure what the difference would be...

[2021-03-08 16:01] richardbporter commented on #3189
cr after drop?

[2021-03-08 16:08] joewhitsitt commented on #3201
Waiting for 3.5.5 to deploy.

[2021-03-08 17:26] joewhitsitt commented on #3201
This was done a while back.

[2021-03-08 17:26] #3201 closed, assigned to joewhitsitt

[2021-03-08 17:49] bspeare opened #3203 "As an prospective student, I can use a set of filters to sort through the Areas of Study and see detailed results"
# Story

As an Admissions website user, I can use a set of filters to sort through the Areas of Study and see Majors and Subprograms listed in the results.

# Additional Info
https://iowa-my.sharepoint.com/:w:/g/personal/sfiddelk_uiowa_edu/EUCW5mYgGHVHklicgfev3e8BGLGl34GtPMN2-U6xfsWeAA?e=UPhayh

A core patch is needed if entity reference (node) filtering is used: https://www.drupal.org/project/dru

[2021-03-08 17:57] joewhitsitt opened #3204 "Consider adding entity print stuff to default config (but off)"
## Issue

Anytime default entity view config is changed and Admissions hasn't been updated, configuration imports fail.

https://github.com/uiowa/uiowa/pull/3048#issuecomment-779490809
https://github.com/uiowa/uiowa/pull/3154
https://github.com/uiowa/uiowa/pull/3331#issuecomment-814432897
https://github.com/uiowa/uiowa/pull/3928#issuecomment-896994724
https://github.com/uiowa/uiowa/pull/4111

## P

[2021-03-08 18:21] bspeare commented on #2444
Closing this in favor of https://github.com/uiowa/uiowa/issues/3203.

[2021-03-08 18:21] #2444 closed, assigned to nobody

[2021-03-08 19:35] joewhitsitt commented on #3189
This worked after deleting the database from Acquia Cloud and recreating. Then installing using the general `blt uiowa:multisite:install` command

[2021-03-08 19:35] #3189 closed, assigned to joewhitsitt

[2021-03-08 19:46] joewhitsitt commented on #3167
This is happening on csomaycenter with link wrapped images.

Update: resolved the same way.

[2021-03-08 19:51] bspeare commented on #3200
Here are a few creative examples of sites trying to create their own "menus" that could benefit from the ability to set the initial visibility level to "Active menu item" to display a sidebar navigation or a horizontal menu:

<img width="1474" alt="Screen Shot 2021-03-08 at 1 47 14 PM" src="https://user-images.githubusercontent.com/1036433/110373364-07e44100-8015-11eb-85fe-42a7352eb81c.png">

<img

[2021-03-08 20:30] joewhitsitt commented on #3182
Closing this issue for now.

https://github.com/uiowa/uiowa/pull/3190#issuecomment-793044195

[2021-03-08 20:30] #3182 closed, assigned to joewhitsitt

[2021-03-08 21:47] briand44 commented on #2211
Closing this issue since it seems there isn't any development needed for this.

[2021-03-08 21:47] #2211 closed, assigned to nobody

[2021-03-08 21:55] joewhitsitt opened #3208 "Docs - Collection Block - New Accordion Functionality"
https://github.com/uiowa/uiowa/pull/3154

https://sitenow.uiowa.edu/documentation/layout-builder/collection-block

[2021-03-08 22:16] joewhitsitt commented on #3167
Added a known issue: https://sitenow.uiowa.edu/known-issues#uiowa-issue-3167

[2021-03-08 22:29] joewhitsitt commented on #2206
Blocked until #859 is actually a thing.

[2021-03-08 22:49] joewhitsitt commented on #3013
Adding admissions label due to #3034

[2021-03-09 14:35] bspeare commented on #3035
Adding some comments and screenshots here to provide specific feedback for the application form.

**1. Remove bulleted list and left margin from sidebar:**
<details>
<img width="277" alt="Screen Shot 2021-03-08 at 4 05 00 PM" src="https://user-images.githubusercontent.com/1036433/110387991-0bcd8e80-8028-11eb-8f3b-efb754db3e76.png"></details>

**2. Change form name to use `Zilla`:**

<details><img

[2021-03-09 14:43] #3110 closed, assigned to bspeare

[2021-03-09 14:43] #3130 closed, assigned to bspeare

[2021-03-09 15:37] joewhitsitt opened #3209 "Signage - 4K image support"
## Issue

## Proposed Solution

Increase the maximum resolution (3840 x 3840) and up file size limits to 10 MB for all image fields on signage. There are both horizontal and vertical displays

[2021-03-09 15:59] bspeare commented on #3200
After discussion:

- Allow changing active or children with explanations that make more sense?
- Button block allow multiple, display as menu?

[2021-03-09 16:03] bspeare commented on #3203
Inspirational links from: https://github.com/uiowa/uiowa/issues/2218.

- https://und.edu/programs/index.html?search=&locations=on-campus,offcampus,online
- https://admissions.wvu.edu/

[2021-03-09 16:03] bspeare commented on #2218
Closing this in favor of https://github.com/uiowa/uiowa/issues/3203.

[2021-03-09 16:03] #2218 closed, assigned to nobody

[2021-03-09 16:17] joewhitsitt commented on #2873
A possible extension of this functionality would be to allow multiple (button group) and/or "display as vertical menu," "display as horizontal menu"

https://github.com/uiowa/uiowa/issues/3200?#issuecomment-794086415

[2021-03-09 16:21] joewhitsitt commented on #3188
Worse case solution idea: an additional "unlisted" menu in default that folks can create navigational hierarchies/breadcrumbs for the menu system items that don't fit in the main menu structure.

- Resources referenced by separate pages across the main menu system
- Audience based navigation

[2021-03-09 16:53] pyrello commented on #3188
I haven't had a chance to fully look this over yet, but it seemed potentially relevant: https://www.drupal.org/project/menu_position

[2021-03-09 17:02] joewhitsitt commented on #3188
We used menu_position on its.uiowa.edu to deal with breadcrumbs for news articles and info centers (non-menu content types). https://its.uiowa.edu/news/top-10-linkedin-learning-videos

[2021-03-09 18:58] pyrello opened #3211 "SPPA: Build opportunity resource content type"
# Story

As an SPPA site owner I want post records of resources for finding opportunities (Jobs, Internships, and Fellowships) so that they can be displayed to appropriate site visitors.

I don't love the name "opportunity resource," so if anyone has any better ideas, let me know.

# Proposed solution

- [x] Create a opportunity resource content type with the following fields:
  - [x] Name (title)

[2021-03-09 19:46] joewhitsitt commented on #2195
Though I think this could still be helpful, particular as it relates to #2826, I think we can utilize the styles dropdown more to create element specific presets. Unfortunately these do not "stack" meaning, selecting one will remove/replace any existing classes on the element.

table.is-striped|Striped Table

It was mentioned in the table discussion that we should look into these further for other

[2021-03-09 19:57] pyrello commented on #2305
SPPA also needs something like this. In that case, viewing access for a custom content type and some view listing pages would need to be limited to only users of a certain role or roles.

It seems like, at a minimum, this would require custom code or a contrib module like https://www.drupal.org/project/node_view_published_override to allow setting the "View published content" permissions per conte

[2021-03-09 19:57] joewhitsitt commented on #995
https://github.com/uiowa/uiowa/issues/2748#issuecomment-790704095

Full_html is not affected by this, so though this is valuable issue to reference, it sounds like we may address the limitations of filtered_html through utility classes and that we won't be solving this issue for filtered_html.

Closing.

[2021-03-09 19:57] #995 closed, assigned to nobody

[2021-03-09 20:03] joewhitsitt opened #3212 "More WYSIWYG style dropdown options"
# Story

As an editor, I want an easier way to apply available uids_base style classes to my WYSIWYG content.

# Proposed solution

- [ ] Compile a list and combinations of classes that can be applied to inline and block html elements that are available in filtered_html
  - [ ] Table classes https://github.com/uiowa/uiowa/issues/2748, https://github.com/uiowa/uids/issues/468#issuecomment-790666700

[2021-03-09 20:10] joewhitsitt commented on #3212
Closing in favor of existing issue #2532

[2021-03-09 20:15] #3212 closed, assigned to nobody

[2021-03-09 20:15] joewhitsitt commented on #2532
This is what I kind of demonstrated in the tables discussion today, using the styles dropdown for block and inline elements instead of the paragraph dropdown. I think the paragraph dropdown would be used for `<small>` but everything else in the original issue description would be a style class applied based on element selected.

Unfortunately, the styles dropdown doesn't append to but removes/repl

[2021-03-09 20:19] mjoneill commented on #3138
Question: How do we add a block of student profiles to an existing page.

"We need the ability to put a block of student profiles on any page, and have it filtered by (taxonomy)?  Ex: Show me a collection of student profiles for international students..."

Scott has some recollection of evaluating comps/designs of how this would appear. Thinks it was Photo|Student Name?

@dnkemper any recollection

[2021-03-09 20:26] dnkemper commented on #3138
@mjoneill I don't believe we created the view filters to do that yet. At least it wasn't part of the issues we've worked on so far. We created the full node/teaser node displays of the student profiles that have a block built into the content type, but not an individual block that can be placed on a page. That part (adding the view block to the page) will be easy as pie, we will just need to work

[2021-03-09 21:32] bspeare commented on #3203
The D7 site had a "Program Type" field with help text "Select each type of program affiliated with this area of study and this record. This is used for sorting/filtering results in the A-Z list."

[2021-03-09 22:08] briand44 commented on #2750
https://iowa-my.sharepoint.com/:w:/g/personal/katmills_uiowa_edu/Ea2Pp75OZIVDh5PVo4pt0W0BCClNhh87XVFDSN_lBeZkLA?e=4P5mNb

[2021-03-09 22:42] quamsta commented on #2305
We definitely need at least HawkID authentication for viewing some pages at Student Life. We have some clients that rely on this feature pretty heavily.

[2021-03-09 23:13] pyrello opened #3213 "Add alternate name field to Areas of Study"
# Story

As a prospective student I want to be able to find areas of study by searching for more common terms so that I can find them without having to know what they are called.

# Proposed solution

Add an Alternate name text field to the Area of Study content type. This field will be used for building the Area of Study listing.

[2021-03-10 14:45] joewhitsitt commented on #3088
This is done.

[2021-03-10 14:45] #3088 closed, assigned to nobody

[2021-03-10 15:12] #3060 closed, assigned to nobody

[2021-03-10 15:55] #3011 closed, assigned to dnkemper

[2021-03-10 16:39] dnkemper opened #3215 "Add SEO settings for Area of Study CT"
Setup basic SEO settings for the aos content type. Meta description and the related SEO description fields should have a default "[Area of Study Reference Label Token] at Iowa" that can be overridden by webmasters at least. Identify this new configuration and admissions split it.

[2021-03-10 16:43] dnkemper opened #3216 "SEO settings for Admissions"
# Story

As an admissions user, I want to be able to configure the SEO settings for the available custom content types

# Proposed solution

Setup basic SEO settings for custom admission content types. Meta description and the related SEO description fields should have a default "[Admissions Label Token] at Iowa" that can be overridden by webmasters at least. Identify this new configuration and ad

[2021-03-10 16:44] dnkemper opened #3217 "Add SEO settings for the Scholarship CT"
Setup basic SEO settings for the scholarship content type. Meta description and the related SEO description fields should have a default "[Scholarship Reference Label Token] at Iowa" that can be overridden by webmasters at least. Identify this new configuration and admissions split it.

[2021-03-10 16:46] dnkemper opened #3218 "Add SEO settings for the Student Profile CT"
Setup basic SEO settings for the student profile content type. Meta description and the related SEO description fields should have a default "[Student Profile Reference Label Token] at Iowa" that can be overridden by webmasters at least. Identify this new configuration and admissions split it.

[2021-03-10 16:53] joewhitsitt commented on #3217
For this one, I think this should be in the scholarships feature split and not be admissions specific

- [ ] Using the default site, turn on the scholarships split.
- [ ] Make changes and export to feature split.
- [ ] Sync admissions and make sure it imports correctly and doesn't export changes.

[2021-03-10 16:58] joewhitsitt opened #3219 "Re-Install tutor.uiowa.edu as v3 in STAGE on uiowa02"
Site owner will move content manually from v2 website which has not yet gone live.

Add smrussel as webmaster

no v2 flag to remove

[2021-03-10 19:16] #3219 closed, assigned to joewhitsitt

[2021-03-10 19:59] joewhitsitt opened #3223 "Admissions - AoS College Reference Field limited to just Colleges, not all basic pages"
# Story

As an editor when filling out the AoS I only want want to see auto results for Colleges, not all basic pages on the website.

# Proposed solution

- [x] Refactor as a taxonomy vocabulary "Colleges"
- [x] Add fields to vocabulary that allows Admissions to use the taxonomy as a replacement
- [x] Use a layout builder template for term rendering
- [x] Update the AoS content type to reference

[2021-03-10 20:00] joewhitsitt commented on #3223
This might not need to happen for MVP if the migration populates this field correctly.

[2021-03-10 20:23] bspeare commented on #3223
Should we just change the field to be a taxonomy field instead? That would probably help with https://github.com/uiowa/uiowa/issues/3203.  I know that we decided against taxonomy initially for a faster solution but there will be a lot of extra work with this and getting it to work with search.

[2021-03-10 20:45] joewhitsitt commented on #3223
Didn't think about #3203 but just changing it to a taxonomy doesn't solve it all right? Didn't they want layout builder for this content? Or is it just that they already stubbed this content out.

Changing it would also mess up the migration work.

For the view, we have altered these filters before and there is https://www.drupal.org/project/selective_better_exposed_filters to only show filter ite

[2021-03-10 20:49] bspeare commented on #3223
Taxonomy could solve a good portion of it.   I just wanted to throw that out as a possibility since the Academic Groups were set up as taxonomy.  I think we can create a decent layout with layout builder in taxonomy.

[2021-03-10 20:55] joewhitsitt commented on #3203
I think this issue is going to have the same reference filtering issue as https://github.com/uiowa/uiowa/issues/3043 there are possible solutions in the comments.

[2021-03-10 20:56] dnkemper commented on #3203
Thank you so so much, @joewhitsitt

[2021-03-10 21:25] mjoneill commented on #2169
Unblocking as we've heard back from law and validated that it's not working with existing features.

[2021-03-10 21:34] bspeare opened #3224 "Articles and events list block edit form does not display selected layout builder styles after saving page"
# Problem
Articles and events list blocks do not display selected layout builder styles after saving page.

# Steps to reproduce
Edit the first articles block on http://sandbox.local.drupal.uiowa.edu/articles.    Hide the images and description and save the page.   Edit the page again and try to adjust the same styles and it should appear empty:

<img width="691" alt="Screen Shot 2021-03-10 at 3 3

[2021-03-10 21:35] joewhitsitt commented on #3043
The latest core patch appears to work and works similar to the reference field itself where you can filter bundles, provide entity reference view for filtering:
https://github.com/uiowa/uiowa/issues/3043#issuecomment-776747593

[2021-03-10 21:52] joewhitsitt commented on #3203
I think this is only blocked until we decide how to move forward with https://github.com/uiowa/uiowa/issues/3223

Did @pyrello a possible conflict with the search box placed elsewhere on the website? I don't see that information in the IS.

[2021-03-10 21:54] joewhitsitt commented on #3223
Summary from Slack:

Joe Whitsitt Today at 3:04 PM
So, the “limit the colleges field” on AoS is bringing up some good questions about how all this is working together. Ben suggested this be changed to a taxonomy and these pages are turned into terms/designed. Additionally, the same filtering challenges of the people view page are probably going to play out for the AoS study search issue regardless

[2021-03-11 00:02] GaryRidgway commented on #2748
I am going to hijack this issue (at the permission of Ben) to be the home of these changes:

- [ ] Add visible outline to cells of table when initially created in the WYSIWYG.
- [ ] Add caption styles to put a caption above tables that can be edited
- [ ] Investigate options for using multiple style options in the Styles dropdown of the wysiwyg, or adding common configurations to it.
- [ ] Verify

[2021-03-11 05:06] mark-bennett-uiowa commented on #3188
### Information Gathering
I first tried the drupal/menu_per_role module. Simple installation, no additional requirements, no errors during setup, admin, or while in place. Can only "show" or "hide" menu under Edit menu for Main Navigation, not at the node level under Menu settings.

### Screenshots
![Screen Shot 2021-03-10 at 10 52 10 PM](https://user-images.githubusercontent.com/3067017/110738124

[2021-03-11 05:49] mark-bennett-uiowa commented on #3188
### Information Gathering
I next tried the drupal/menu_item_role_access module. Simple installation, no additional requirements, no errors during setup, admin. Can only "allow" menu under Edit menu for Main Navigation, not at the node level under Menu settings.

### Screenshots
Only gives checkboxes for allowing access to the menu, not selectively hiding like menu_per_role does.

![Screen Shot 202

[2021-03-11 14:06] pyrello commented on #2501
With the inclusion of #3229, there is a change in the logic of how the Pretty (alternate) title is being used. Previously, the alternate title was used for display on the details page and the PDF page and was always filled in. In the D9 implementation, the regular title will be used for display on the details page and the PDF and the pretty title field is optional. The implications for this migrat

[2021-03-11 14:31] pyrello commented on #3203
This may be blocked from being completed, but someone could certainly start working on it prior to completion of #3223.

The search block on the home page is implemented via a custom block plugin which pulls in the `area_of_study` view and renders the exposed form:

https://github.com/uiowa/uiowa/blob/2d8c0765fae784d4e6239d7e968dbc6a45f56aee/docroot/modules/custom/uiowa_area_of_study/src/Plugin/Bl

[2021-03-11 14:35] pyrello commented on #3188
Is it possible that clearing the varnish cache is necessary to see the change after logging out?

[2021-03-11 14:48] joewhitsitt commented on #3224
Is this just articles and events? I saw this on events when I was preparing for demo and forgot to turn it into an issue.

[2021-03-11 14:53] pyrello opened #3230 "Responsive images based on container width"
# Story

As a site visitor I want to only load images that are appropriately sized to the container and screen resolution so that I'm not wasting bandwidth on larger images.

# Proposed solution

See if the Javascript based solution for checking container widths in this article would work for us and implement it: https://medium.com/geekculture/responsive-image-optimization-with-media-in-drupal-9-6

[2021-03-11 14:56] bspeare commented on #3224
Those are just the two that I found immediately.   More testing could reveal further impact.

[2021-03-11 15:16] bspeare commented on #3180
Do we only want this to function with the `body` field on the page content type?  I think we should scope it to only work with the `body` field.

[2021-03-11 15:34] mark-bennett-uiowa commented on #3188
I didn't check that, but I did use two separate branches to test this rather than just one, because I didn't want one module affecting the other. I could try this again, but if a varnish clear was necessary to get one module to work properly, Id rather go with the working module that doesn't require an additional varnish clear every time something is changed in the menu visibility.

[2021-03-11 15:43] joewhitsitt commented on #3223
Updated the IS to reflect refactoring as a taxonomy.

[2021-03-11 15:53] mark-bennett-uiowa commented on #2349
Yes, sorry, this seems to definitely be working now. I should have commented and closed this long ago. Thanks for the work on this all!

[2021-03-11 15:53] #2349 closed, assigned to nobody

[2021-03-11 16:13] briand44 opened #3232 "Admissions Student Profiles Block with Filters"
# Story

As an Admissions content editor, I want the ability to place a filtered student profile block on any page.

# Additional Info

Need the ability to filter by the following fields:
- Gender
- Student Attributes
- State
- Country if Not US

They would also like the ability to determine how many items are displayed.

They would also like the ability to control the title. It can default to Stu

[2021-03-11 16:27] #3192 closed, assigned to joewhitsitt

[2021-03-11 16:27] #3194 closed, assigned to joewhitsitt

[2021-03-11 16:27] #3195 closed, assigned to joewhitsitt

[2021-03-11 16:27] #3196 closed, assigned to joewhitsitt

[2021-03-11 16:27] #3197 closed, assigned to joewhitsitt

[2021-03-11 16:34] briand44 opened #3233 "Facebook domain validation context..."
# Story

As a site owner displaying adds on Facebook, I want to be able to validate my domain with Facebook so that my ads continue to display once Facebook makes this a requirement.

# Additional Comments from Michael

Plan for next sprint if we can. I got into our FB Business Manager account and the ads are still running. We have a window to get the domain validation stuff up.

# Proposed soluti

[2021-03-11 17:24] #3213 closed, assigned to nobody

[2021-03-11 17:35] joewhitsitt commented on #3138
@mjoneill are you suggesting we increase the scope of this issue beyond the block visibility bug or should a separate issue be created?

[2021-03-11 17:38] mjoneill commented on #3138
Please don't let me scope creep. I was following up on a comment Scott mentioned where he indicated he saw and approved comps for this at some point, but never saw it built.

I'll let you and @briand44 determine whether we have a means to meet the client need, and handling that in an appropriate story.

[2021-03-11 18:08] briand44 commented on #3138
Sorry, I already have another issue created https://github.com/uiowa/uiowa/issues/3232. I just got requirements from Scott so I will be working on grooming that issue prior to planning. Sorry, if I wasn't clear on this before or if I didn't make it visible.

[2021-03-11 18:09] briand44 commented on #3138
But that issue may affect how we address this.

[2021-03-11 18:58] dnkemper commented on #3138
@briand44 I will fix the description of this. This is for the 'student profile' block that displays on a student profile full node. It has nothing to do with the individual student block that Scott wants to be able to place on a page! This is implemented in the layout builder display.

[2021-03-11 19:13] pyrello commented on #3167
It seems like we don't actually have a path forward on this right now? I forget what work we pointed this 5 points for. Is it just the investigation that Rick already did?

[2021-03-11 19:29] dnkemper commented on #3180
@bspeare I mean, that would definitely make this easier for sure! Only problem is that it doesn't include all information on the page if only focusing on body field... they could keep things current and move what's in the body field to a text block? Then what they want downloaded in pdf = display in body field and then remove the body field block in lb? Because here's what happens when downloading

[2021-03-11 19:40] dnkemper commented on #3180
It works great when we move block content to body field though.. just need some styling tweaks:
[Advanced Placement Program AP.pdf](https://github.com/uiowa/uiowa/files/6125549/Advanced.Placement.Program.AP.pdf)

[2021-03-11 19:49] briand44 opened #3235 "Student profiles short profile blurb bug"
When editing a student profile, there is not a text format set on the short profile blurb so that content is not editable by content editors.

An example can be seen on https://admissions.prod.drupal.uiowa.edu/node/946/edit.

[2021-03-11 21:15] bspeare commented on #3235
I manually updated these and they will work fine on creation moving forward for any new profiles created.

[2021-03-11 21:15] #3235 closed, assigned to nobody

[2021-03-11 21:15] bspeare commented on #3180
We should probably try to work towards this example for the styling the tables:
[AP.pdf](https://github.com/uiowa/uiowa/files/6125834/AP.pdf)

I updated https://admissions.prod.drupal.uiowa.edu/academics/ap for local testing.

[2021-03-11 21:19] bspeare commented on #3035
Closing this for now and sharing the feedback with Adam Pyatt.

[2021-03-11 21:19] #3035 closed, assigned to nobody

[2021-03-11 22:02] dnkemper commented on #3180
Thank you so much, @bspeare

[2021-03-12 15:14] joewhitsitt commented on #3232
On a separate issue somewhere I saw something about a mockup of this. @briand44 or @bspeare do you know what that refers to.

[2021-03-12 15:19] pyrello opened #3238 "Add config split guidelines to config README"
# Motivation

I think we are all doing config splits a little differently. I would like to attempt to get us all on the same page about how they should be structured.

# Proposed solution

I will write up some guidelines and add them to the config README file to lay out how I think they should be handled as a way to start a discussion, if one needs to be had, about how this should be handled in th

[2021-03-12 15:21] bspeare commented on #3232
@joewhitsitt where did you see that somewhere?

[2021-03-12 15:21] joewhitsitt commented on #3232
@bspeare https://github.com/uiowa/uiowa/issues/3138#issuecomment-794401995

I see this:

But just wanted to make sure I didn't miss anything.

[2021-03-12 15:25] bspeare commented on #3232
I don't recall any mockups.  Maybe we need clarity on whether this block is a block like https://admissions.prod.drupal.uiowa.edu/student-profiles or a sidebar block like https://admissions.prod.drupal.uiowa.edu/student-profiles/aasthika-das?

[2021-03-12 15:29] briand44 commented on #3232
similar to sidebar block. Scott mentioned he thought he saw a mockup. Not sure if I ever did or where that would be.

[2021-03-12 16:21] joewhitsitt commented on #3138
Getting a lay of the land with #3232, I am wondering if the same block can be used for both. If someone picks this up before me, check in with me.

[2021-03-12 16:31] bspeare commented on #3138
@joewhitsitt that's probably a great idea.

[2021-03-12 16:52] briand44 commented on #3138
@joewhitsitt the same block could be used for both. I first discussed that with Scott but then thought it might be better to go with two separate so they aren't required to manually add the block to every student profile.

[2021-03-12 17:36] joewhitsitt commented on #3232
This got complicated because views block filtering isn't there yet.

@pyrello is going to hook me up the working bits of https://github.com/uiowa/uiowa/pull/2702 to provide filtering on the views block.

[2021-03-12 17:42] GaryRidgway opened #3240 "Needs SSL - nlp.uiowa.edu"
provisioning on uiowa02

[2021-03-12 18:38] quamsta opened #3244 ""Add Articles" dropdown-like button is unclear"
As I've worked with layout builder recently, I've found myself (and some others I've talked to) getting lost when I'm adding blocks into sections when I see a button simply labeled "Add Articles." I often overlook the arrow that provides more options.

<img width="567" alt="Screen Shot 2021-03-12 at 12 00 42 PM" src="https://user-images.githubusercontent.com/472923/110982575-4e47e180-832e-11eb-840

[2021-03-12 18:52] bspeare commented on #3233
It looks like the site verification field can either be added to the metatag defaults for the SEO section on the edit form for pages in (https://github.com/uiowa/uiowa/blob/main/config/default/metatag.settings.yml) or in code for (https://github.com/uiowa/uiowa/blob/main/config/uiowa.edu/metatag.metatag_defaults.front.yml).  It looks like the only way a webmaster can access those settings is if `s

[2021-03-12 19:05] joewhitsitt commented on #3233
okay, if i understand correctly, i think it is safe to enable site verification in the default and get the id from Michael to update uiowa.edu's front config. In this case the permission is not needed?

[2021-03-12 19:32] bspeare commented on #3233
@joewhitsitt Thanks!

[2021-03-12 20:02] joewhitsitt commented on #3233
Sorry for sending you down the permission path initially. I forgot I was the one making changes to frontpage for Michael.

[2021-03-12 21:05] bspeare commented on #3244
@quamsta It looks like there is some work being done that might help this here: https://www.drupal.org/project/lb_direct_add/issues/3157440.

[2021-03-12 21:11] pyrello commented on #3244
@quamsta To add a little more clarification here, this is a feature of a contrib module that I built that we utilize in the `uiowa/uiowa` project. The idea behind it is that the drop-button is fewer clicks than clicking "Add block" and waiting for the whole settings tray to come up.

It looks like the patch @bspeare linked to has been tested by someone else, so I'll try to get it tested and merged

[2021-03-12 21:40] joewhitsitt commented on #2960
I could use this on https://github.com/uiowa/uiowa/issues/3232... How many points do you think this would be @bspeare ?

[2021-03-12 21:42] cory-skeers commented on #3224
#3237 fixes the logs notice and an underlying missing headline description issue, but is unrelated here.

It looks like the problem is with saving multiple layout builder style values, and those multiple values not getting loaded back into the form. The same issue appears when adding a section (Spacing and Styles both allow multiple values.

Haven't tracked anything down that I can tell would be i

[2021-03-12 21:43] bspeare commented on #2960
`5`?  Might be worth pulling in if this would help.

[2021-03-12 21:55] joewhitsitt commented on #2960
I've gone down a rabbit hole and can get by with some scss includes for now. If this turns out to be the only problem I can bring it up in parking lot.

[2021-03-12 22:06] #3233 closed, assigned to bspeare

[2021-03-12 23:03] joewhitsitt commented on #3138
The work with #3232 is causing me to work on this as well.

[2021-03-14 23:51] pyrello commented on #3149
[9.1.5 was released](https://www.drupal.org/project/drupal/releases/9.1.5) on 03/04/2021.

[2021-03-15 14:14] joewhitsitt commented on #3224
Have you tried disabling chosen temporarily to see if that is affecting things?

[2021-03-15 14:16] cory-skeers commented on #3224
I've not...will try and check that out today!

[2021-03-15 15:32] bspeare commented on #3224
Maybe we lost the functionality when we updated the `layout_builder_styles` patch? https://github.com/uiowa/uiowa/pull/2983/files#diff-d2ab9925cad7eac58e0ff4cc0d251a937ecf49e4b6bf57f8b95aab76648a9d34R255.   I removed the patch and I was able to apply multiple styles without them disappearing after saving the page.   The Chosen functionality still worked as well.

[2021-03-15 16:04] bspeare opened #3247 "As an Admissions site owner, I can see a styled version of the "find your major" section on the admissions site"
# Story

As an Admissions site owner, I can see a styled version of the "find your major" section on the admissions site.

# Proposed solution

- [x] Add new layout builder style Icon pattern background with class `bg--white--pattern--community`.
- [ ] Adjust styles for `block-uiowa-area-of-study-search` to remove background color, border, padding to match screenshot below.
- [x] Add placeholder t

[2021-03-15 16:52] bspeare commented on #3224
I tested this out on https://simplytest.me/ and I can confirm **8.x-1.0-beta4** with latest patch https://www.drupal.org/files/issues/2021-01-20/style_groups_for_layout_builder_styles-3075502--beta4.patch has the same problem with multiple styles being applied while **8.x-1.0-beta2** with https://www.drupal.org/files/issues/2020-06-22/style_groups_for_layout_builder_styles-3075502--beta2.patch wor

[2021-03-15 19:07] joewhitsitt opened #3248 "Notice: Uninitialized string offset: 0 in sitenow_preprocess_node()"
# Problem
sitenow_preprocess_node() assumes moderation. we now have custom content types without moderation which causes this notice `Notice: Uninitialized string offset: 0 in sitenow_preprocess_node() (line 791 of profiles/custom/sitenow/sitenow.profile).`

# Steps to reproduce
- Unpublish a student profile on admissions and view it.

# Proposed solution
- Update logic to check for moderation_sta

[2021-03-15 19:10] bspeare commented on #3224
Also, removing lines 207-215 from the module after https://www.drupal.org/files/issues/2021-01-20/style_groups_for_layout_builder_styles-3075502--beta4.patch has been applied also fixed the issue.

[code]

[2021-03-15 19:46] joewhitsitt commented on #3240
Done

[2021-03-15 19:46] #3240 closed, assigned to joewhitsitt

[2021-03-16 14:16] bspeare commented on #3224
@cory-skeers, any thoughts on how we should proceed with fixing this problem?  @pyrello suggested that we could add our own patch to https://www.drupal.org/project/layout_builder_styles/issues/3075502 to use.

[2021-03-16 16:47] #3180 closed, assigned to dnkemper

[2021-03-16 18:00] pyrello commented on #3224
Dropping this here for future reference: https://git.drupalcode.org/project/layout_builder_styles/-/commit/370ade3ae5329862ac982777c61360a784c86f7a

This is the commit that added the functionality that @bspeare [pointed out](https://github.com/uiowa/uiowa/issues/3224#issuecomment-799681211) seems to be problematic.

[2021-03-16 18:12] joewhitsitt commented on #2526
Closing in favor of https://github.com/uiowa/uiowa/issues/3043

[2021-03-16 18:12] #2526 closed, assigned to nobody

[2021-03-16 19:05] joewhitsitt commented on #3171
There is a separate issue related to this that would tackle these differently going forward. https://github.com/uiowa/uiowa/issues/3151

IMO, I think we should keep with these dedicated view pages that can be disabled by the webmaster.

[2021-03-16 20:15] cory-skeers commented on #3224
Ahhhhh....

`    if ($config && $config->get('multiselect' === 'single')) {`
^- This should always be equivalent to true even when it's a multiselect, which then leads to the case where it sets the default value to `null` as a way to unset it, thinking that there are multiple values in a single-select form field.

Moving an end parenthesis should fix it.

Probably good to submit a patch. Not famil

[2021-03-16 20:37] pyrello commented on #3224
This seems like it should evaluate to `$config->get(FALSE)`, since  would think that the `'multiselect' === 'single'` section should be evaluated first. Its an equivalent comparison between two strings which are different. Or am I reading this wrong?

[2021-03-16 20:38] pyrello commented on #3224
Nevermind my last comment. I'm just now getting what you were saying:

[2021-03-16 21:14] joewhitsitt commented on #3203
Looked at the current website and see that the program type is based on the actual types, not the content of those types (aka the field values of how it was built on the new site)

<img width="531" alt="Screen Shot 2021-03-16 at 4 03 51 PM" src="https://user-images.githubusercontent.com/4663676/111380551-7eff8200-8672-11eb-830b-188e47b33c68.png">

[2021-03-16 21:26] #3223 closed, assigned to nobody

[2021-03-16 22:02] cory-skeers commented on #3224
Have a new issue with a patch in it: https://www.drupal.org/project/layout_builder_styles/issues/3203931

Unfortunately, patching as a new issue conflicts with the patch we're using from https://www.drupal.org/project/layout_builder_styles/issues/3075502, so we need to either wait for one, the other, or both to be completed, or add the change to that issue in addition to the separate, new issue.

[2021-03-17 03:01] pyrello commented on #3224
I added [a patch](https://www.drupal.org/project/layout_builder_styles/issues/3075502#comment-14032178) that combines the two patches we are using that are incompatible. The patch applies and seems to resolve the issue.

[2021-03-17 13:38] pyrello opened #3251 "Add defaults to Areas of Study fields"
# Motivation

Per conversation with Admissions, they would like to add some default values to Areas of Study fields.

# Proposed solution

Add the following default content to fields:

**Student Opportunities**
In addition to having nearly 500 Student Organizations, Iowa students choose from multiple Living-Learning Communities, Study Abroad Programs, and Undergraduate Research Opportunities.

**C

[2021-03-17 13:41] #3224 closed, assigned to cory-skeers

[2021-03-17 14:17] pyrello commented on #3203
I think we may want to write a views filter plugin to make this work: https://api.drupal.org/api/drupal/core%21modules%21views%21src%21Plugin%21views%21filter%21FilterPluginBase.php/group/views_filter_handlers/9.1.x

[2021-03-17 14:50] #3090 closed, assigned to bspeare

[2021-03-17 14:50] #3221 closed, assigned to bspeare

[2021-03-17 15:50] #3138 closed, assigned to joewhitsitt

[2021-03-17 15:50] #3232 closed, assigned to joewhitsitt

[2021-03-17 16:42] richardbporter commented on #2501
Some content cannot be imported or has been deemed unnecessary by client.
- Academic Groups
  - Image field
  - Video field
- Colleges
  - Image field
- Areas of Study
  - Some degree abbreviations could not be determined.

[2021-03-17 16:48] joewhitsitt commented on #3203
Scott is okay with adding an additional field of checkboxes that when checked make the related field visible for input. This field could then be targeted in the view filter.

[2021-03-17 16:59] pyrello opened #3252 "Admissions: Update AoS Pretty title field to be called Short title (for A-Z list)"
And update the field help text to say:
Use the _short title_ only in cases where you need to present a shorter or more easy to read version of the title for listing pages. This is not shown on the details page.

[2021-03-17 17:27] joewhitsitt commented on #3203
Waiting on https://github.com/uiowa/uiowa/pull/3253 to move this forward.

[2021-03-17 17:29] joewhitsitt commented on #2501
Program Types field, if approved/merged will need to be accounted for in the migration. Key mapping as they have changed.

https://github.com/uiowa/uiowa/pull/3253

[2021-03-17 17:53] bspeare commented on #3247
I think we will also want to rename the labels with this update:

[code]

[2021-03-17 18:48] joewhitsitt commented on #3203
I am thinking a view mode would help with pulling together a single table column of all this data:

title linked, preprocess or extra field that combines the values (what i assume are program type values, etc.) into a comma-separated list that has different styles.

<img width="361" alt="Screen Shot 2021-03-17 at 1 45 21 PM" src="https://user-images.githubusercontent.com/4663676/111521388-17efd500

[2021-03-17 19:40] joewhitsitt commented on #3203
Never mind on the view mode. Going a different route closer to views and with less configuration.

[2021-03-17 21:04] joewhitsitt commented on #3203
Not sure I have the correct information here. Stringing together unique degree abbreviations and printing the text values of minors, certs, preprofessional, online/off-campus. Previously was alternative description text. Anyone more familiar with the content, please chime in.

<img width="1055" alt="Screen Shot 2021-03-17 at 4 02 03 PM" src="https://user-images.githubusercontent.com/4663676/111538

[2021-03-17 21:27] briand44 commented on #3203
Does this help? https://iowa-my.sharepoint.com/:w:/g/personal/sfiddelk_uiowa_edu/EUCW5mYgGHVHklicgfev3e8BGLGl34GtPMN2-U6xfsWeAA?e=UPhayh

[2021-03-17 21:34] briand44 opened #3255 "Design/Style College taxonomy term page for Admissions"
# Story

As an admissions website owner, I would like to see a more visually appealing College taxonomy term page.

# Additional Info

Here is a link to a current example of a college term in the dev environment https://admissions.dev.drupal.uiowa.edu/colleges/college-liberal-arts-sciences-0

The customer is fine with us making our best judgment on how to design these term pages.

# Proposed solut

[2021-03-18 13:09] richardbporter commented on #2501
The D7 alt title is a multi-value field. Should we just use the first value?

[2021-03-18 13:13] pyrello commented on #2501
Yes

[2021-03-18 13:55] joewhitsitt commented on #3203
I think I need to talk this out because that confuses me more. Subprograms is in the IS above, but not in the file. College is in the file but not in the IS.

[2021-03-18 14:53] #3252 closed, assigned to nobody

[2021-03-18 15:20] richardbporter commented on #2501
I added this to the PR. Thanks.

[2021-03-18 18:44] joewhitsitt commented on #3203
Comma separated list of what is available:

[2021-03-18 20:42] pyrello commented on #3255
Some ideas for style updates:
* Add the serif highlight headline style to the "Areas of Study" title. Will probably have to be done via template. The title is created by adding the content type as a hidden field on the view and then adding a grouping based on that field.
* Alphabetize the Areas of Study list.
* Have the list of items display without so much space.

[2021-03-18 21:38] joewhitsitt commented on #3136
One thing I just thought about. Don't we have a hard limit of 100 SANs per application? 703 has 96 by my count.

[2021-03-18 21:42] briand44 commented on #3136
I am not sure if we know if that is a hard limit or not? We have never ran into it. @richardbporter thoughts? Also, I am assuming there are some entries that could be removed. We probably haven't done a great job of cleaning those up as sites move.

[2021-03-18 21:48] briand44 commented on #3136
@joewhitsitt it is a good point to bring up though because I think a lot of 702 sites are non uiowa domains.

[2021-03-19 13:46] #3215 closed, assigned to nobody

[2021-03-19 13:46] #3216 closed, assigned to pyrello

[2021-03-19 13:46] #3217 closed, assigned to nobody

[2021-03-19 13:46] #3218 closed, assigned to nobody

[2021-03-19 14:13] #3203 closed, assigned to joewhitsitt

[2021-03-19 14:18] joewhitsitt opened #3258 "Admissions - AoS Listing/Search Improvements"
## Issue

https://github.com/uiowa/uiowa/pull/3249 made things functional, but improvements can be made.

## Proposed Improvements
- [x] I think we are going to need to work on the design a bit. When I added a college, the "Search" button was pushed to a new line, making the whole box very big.
- [x] I think we should consider adding a reset button. The form is somewhat hard to use without it.
- [

[2021-03-19 14:33] joewhitsitt commented on #3258
Last time I used BEF it didn't announce the autosubmit so there is an a11y concern with going this route and removing the search button.

[2021-03-19 14:48] joewhitsitt commented on #3136
I will push this forward to establish some steps in the IS but additional input is strongly encouraged.

[2021-03-19 15:06] bspeare commented on #3258
It looks like the home page search block is inheriting the same filters as noted in https://github.com/uiowa/uiowa/issues/3203#issuecomment-796778508

<img width="1289" alt="screen_shot_2021-03-19_at_9 56 40_am" src="https://user-images.githubusercontent.com/1036433/111801047-8ef9aa80-889a-11eb-820b-797f6c7849da.png">

@pyrello do you have any suggested fixes before you leave?

[2021-03-19 15:07] joewhitsitt commented on #3258
I will work with the suggestion here: https://github.com/uiowa/uiowa/issues/3203#issuecomment-796778508

[2021-03-19 15:09] pyrello commented on #3258
Regarding the issue first mentioned [here](https://github.com/uiowa/uiowa/issues/3203#issuecomment-796778508) and illustrated by the above image, here are some ideas for workarounds:
* New display which creates an exposed filter that is limited to the combined search field introduced in #3249. This would require some updates to the logic in the custom block plugin.
* New view which essentially doe

[2021-03-19 16:59] joewhitsitt commented on #3131
I think this needs to be addressed on content.uiowa.edu by creating a separate API endpoint to pull from that is reverse sorted. The solution we have in profiles/sitenow/modules/custom/uiowa_events/uiowa_events_page requires paging and the result is funky. page 0 shows the oldest results then sorts newest to oldest. the last page shows the most recent past events, newest to oldest.

That still onl

[2021-03-19 18:41] briand44 commented on #2750
I embedded the map on https://admissions.prod.drupal.uiowa.edu/visit-campus/parking-guide and have embedded the net price calculator on https://admissions.prod.drupal.uiowa.edu/finances/net-price-calculator

[2021-03-19 19:43] bspeare commented on #3258
We discussed the filters at today's meeting:

- Is it possible to have auto-submit functionality like D7 site: https://admissions.uiowa.edu/academics/undergraduate-areas-of-study?
- Could we have one search bar across the top of the page with Program Type, Academic Group, and College filters as selects/checkboxes in a sidebar for further filtering?  https://www.arizona.edu/degree-search/majors and

[2021-03-19 19:51] briand44 commented on #3258
It was also requested that we only have two columns for the results (Name and College) and having the other column of information display under the name similar to how it is on their existing site.

[2021-03-19 20:11] briand44 opened #3262 "Remove entire card link on Areas of Study Admission Process"
It was brought up during the Admissions design meeting that they don't like how the entire card is a link on the Areas of Study Admissions Process cards since there are multiple links.

An example was on an Area of Study page (https://admissions.prod.drupal.uiowa.edu/academics/biology).

![Screen Shot 2021-03-19 at 3 08 22 PM](https://user-images.githubusercontent.com/1017022/111837012-3c81b380-88

[2021-03-19 20:52] briand44 opened #3264 "Migrate articles for Parking and Transportation"
# Story

As a Parking and Transportation site owner, I would like articles migrated from the Parking and Transportation Drupal 7 site (https://transportation.uiowa.edu) to https://transportation.prod.drupal.uiowa.edu so that users will be able to view all of the past news articles.

# Additional Info
They would like us to map tags according to the following screenshot.

![Screen Shot 2021-03-19 at

[2021-03-22 14:28] joewhitsitt commented on #3136
I will do an audit on the SANs to see what the actual numbers are like.

update: looks like 5, maybe 6 of the 96 can be removed from 703 before commencement is added

- diversity.uiowa.edu
- hr.uiowa.edu
- *.sports.uiowa.edu?
- pathforward.uiowa.edu
- transfer.uiowa.edu
- uiventures.uiowa.edu

2 can be removed from the 37 that 701 has. lynda, sitenow however there is still 300+ dbs on that applica

[2021-03-22 15:55] joewhitsitt commented on #2286
@makurj

[2021-03-22 15:55] #2286 closed, assigned to nobody

[2021-03-22 18:54] dnkemper opened #3266 "Provisions 3-19-21 to 3-25-21"
- [x] hot.lab.uiowa.edu
- [x] historyoftechnology.lab.uiowa.edu

[2021-03-22 19:39] #3255 closed, assigned to bspeare

[2021-03-22 20:20] joewhitsitt commented on #2978
Working on https://github.com/uiowa/uiowa/issues/2169 I noticed this doesn't seem to be the issue anymore.

<img width="913" alt="Screen Shot 2021-03-22 at 3 19 02 PM" src="https://user-images.githubusercontent.com/4663676/112053242-19a00b00-8b22-11eb-9e3f-cd1eed156968.png">

[2021-03-22 20:45] richardbporter commented on #2987
I think this is blocked by #3205. I've almost got that to a point where it can be merged.

[2021-03-22 20:47] richardbporter commented on #2987
Sorry - poor planning on my part. There is a decent refactor of sitenow_migrate going on there.

[2021-03-22 21:04] joewhitsitt commented on #2169
yeah, this isn't so simple...

[2021-03-23 14:33] briand44 opened #3268 "Strategic Plan url change from https://strategicplan.sites.uiowa.edu to https://strategicplan.uiowa.edu."
The Office of the Provost has requested a url change for the Strategic Plan website from https://strategicplan.sites.uiowa.edu to https://strategicplan.uiowa.edu.

If we do not have this process documented, we should take this opportunity to document these steps. I've outlined some possible steps below.

- [x] Have Hostmaster setup CNAME
- [x] SSL on uiowa02
- [x] provision strategicplan.uiowa.edu

[2021-03-23 15:51] joewhitsitt commented on #3043
Patch was applied to https://github.com/uiowa/uiowa/pull/3249 so this should be ready to work with.

[2021-03-23 15:56] #2748 closed, assigned to nobody

[2021-03-23 17:52] #2501 closed, assigned to richardbporter, cory-skeers

[2021-03-23 18:00] richardbporter commented on #3136
I think Acquia handles that.

The private path is relative from the docroot so I don't think that needs to be changed.

I wouldn't think this would be necessary.

If we also create a temporary "old" alias then syncing remote-to-remote should work. Syncing locally outside Linux could cause case-insensitive file loss.

[2021-03-23 18:23] mjoneill commented on #3268
This will be a site move in Google Search Console. I can help/manage that once they move to the new URL.  Google Analytics should move with the domain, but worth checking when it does and I can do some checking, etc....

[2021-03-23 19:26] joewhitsitt commented on #3262
My thought is to create an opt-out class for the card link functionality within UIDS. Then preprocess add the class if multiple links exist.

The requested hover effect is documented here: https://github.com/uiowa/uids/issues/460

[2021-03-23 19:47] richardbporter commented on #2987
Here are the fields on their D7 article content type:

- Title
- Body
- Image
- Migrated
- Custom Person Directory
- Department
- Audience
- Category
- Person
- Title for Gallery
- Gallery

Only image, title and body have a direct destination. The term reference could maybe migrate to tags. I'm not sure about the others. Migrating images is a little tricky since we're not importing all images.

An

[2021-03-23 20:53] richardbporter commented on #3136
Based on the SSL audit, it sounds like this and other sites should probably be moved uiowa701.

However, I was able to generate a cert with all the SANs from 702 and 703 so it doesn't appear to be a hard limit. Whether or not the browser is able to load the certificate is another question. The site badssl.com has a 1000 SAN cert that seems to load: https://1000-sans.badssl.com/ I'm not saying 1000

[2021-03-23 21:02] briand44 commented on #3136
If there isn't a hard limit than I am not sure 701 is a better option.

I do think it would be worth a conversation. Maybe we should not move them anywhere. Buy more applications? Clear up another app?

[2021-03-23 21:26] briand44 commented on #2987
I will get clarification. My assumptions are we can ignore the following fields:

- Migrated
- Custom Person Directory
- Title for Gallery
- Gallery

I will ask about the reference fields:

- Department
- Audience
- Category
- Person

My understanding was unlink it but leave the text.

[2021-03-23 21:53] richardbporter commented on #3136
I'm leaning towards just moving them to 703 as it doesn't seem like that much of an increase. It seems like ~100 sites per app/cert is still a good target.

[2021-03-24 15:28] richardbporter commented on #3136
I updated the issue summary.

[2021-03-24 17:50] joewhitsitt commented on #3043
The patch to allow entity reference filtering https://github.com/uiowa/uiowa/issues/3043#issuecomment-776747593 doesn't work as I thought it did so I moved forward with https://github.com/uiowa/uiowa/issues/3043#issuecomment-778922375 and committed https://github.com/uiowa/uiowa/pull/3269/commits/69f03a199be112de0d832d34118f9b7ef6f58667

@GaryRidgway  ran into the issue that combine filter needs t

[2021-03-24 21:27] bspeare commented on #3188
I tested out `menu_per_role` module and as @mark-bennett-uiowa said, it allows you to hide a section from being listed in the dropdown, yet preserve the page navigation and breadcrumbs.  The screenshot below shows the horizontal page navigation showing up but the page not appearing the "Resources" dropdown.

<img width="1582" alt="Screen Shot 2021-03-24 at 4 10 03 PM" src="https://user-images.gith

[2021-03-25 14:29] bspeare opened #3272 "As a site editor, I can hide the date on the articles teaser list"
# Story

As a site editor, I can hide the date on an articles teaser list so that older dates at the top of the teaser list are not visible.

# Proposed solution

- Replace articles list with exposed filters available in https://github.com/uiowa/uiowa/pull/2702?

[2021-03-25 16:41] #3247 closed, assigned to dnkemper

[2021-03-25 16:51] bewoldt opened #3273 "Add option on Mega Menu to show 3rd level items"
As I understand it, the Mega Menu navigation option only shows the 2nd level menu items and displays them horizontally across the full width dropdown. I'd like a way to show 3rd level navigation items so that they are stacked in columns underneath their parent.

# Proposed solution

![Screen-Shot-2021-03-25](https://user-images.githubusercontent.com/731952/112510626-9835bc00-8d5f-11eb-9426-74c597f

[2021-03-25 17:36] bewoldt opened #3274 "As a site editor I can choose how images are displayed on event pages"
# Story

As a site editor I can choose how images are displayed on event pages so that my images are not scaled up and pixelated.

One the Events list component I can configure how images are displayed by choosing Circle, Square, or 16:9 but once I click into the event detail page I no longer have options on how to display the event featured image. It defaults to a square regardless of the origina

[2021-03-25 20:16] richardbporter opened #3275 "Replace broken links in admissions AOS miration postImportProcess."
There are 1500+ broken links in the AOS migration.

The report is happening in the `postImportProcess` method now. I think we can stick with that and expand it. We can replace some using the migration map and others using a manual map of source -> destination NIDs that admissions created.

We should double check all fields are being scanned that need to be.

[2021-03-25 20:18] mjoneill opened #3276 "Service Outage Comms Playbook"
As a campus partner, I receive timely notifications when there is a service outage affecting Acquia Hosting/Our Web Service

Possible comms channels
- Dispatch to Sitenow service subscribers
- UI Web Announcements listserv
- #Drupal slack channel in UI Web Community
- #General in OSC channel
- ITS' service outage distribution service
- ITS' Twitter account
- #webteam slack channel on UI Web Commun

[2021-03-25 20:50] dnkemper commented on #3251
this looks like a nice brain break after the support week I had. I'll start this/assign myself after planning

[2021-03-25 20:59] richardbporter commented on #2999
Update: htaccess and be done with it.

[2021-03-25 21:03] joewhitsitt commented on #3101
- [x] Toggle logo in theme settings
- [x] Remove element invisible or whatever on site-name in styles
<img width="865" alt="Screen Shot 2021-03-25 at 4 03 39 PM" src="https://user-images.githubusercontent.com/4663676/112543406-b31a2780-8d83-11eb-84af-92de8d4ababe.png">

[2021-03-26 15:41] richardbporter commented on #2999
I was able to write a migration for this in #3190 which was pretty easy. It imported 1700+ redirects. Anyone have thoughts on if that approach is ok?

[2021-03-26 16:22] joewhitsitt commented on #2999
my only concern if it is able to find and reduce duplicates. if duplicates, does it cause problems

[2021-03-26 17:20] joewhitsitt commented on #3276
Additional option/piece. We can directly subscribe to SiteNow alerts on ITS: https://its.uiowa.edu/alerts/feed/all/all/100028/all

The feed URL can be customized to only show certain severities: https://its.uiowa.edu/alerts/generator

This can feed into the uiweb slack channels, v3 website, etc.

Long term as a developer, I don't know the post-D7 its website and offerings is going to look like. Th

[2021-03-26 17:24] mjoneill commented on #3276
I like this. Whatever we can do to make it easy to communicate timely info with minimal overhead I think is worth solid consideration.  I'd like to see what makes sense, especially if there are things we can learn from today's experience...

[2021-03-26 18:00] richardbporter commented on #2999
Cut it in half by filtering people to published at the source. I wouldn't expect duplicates as the path alias would be -0 or something.

[2021-03-26 19:30] joewhitsitt commented on #3258
Not working on this yet, but I will push a branch with the tweaks I made for Thursday's demo as a step forward

[2021-03-26 20:59] bspeare opened #3281 "Articles pager is possibly broken in V3"
# Problem
The articles pager seems to be broken in V3.

# Steps to reproduce
Go to https://sandbox.prod.drupal.uiowa.edu/test-articles-pager-list and try to use the pager.

# Proposed solution
?

[2021-03-26 21:02] joewhitsitt commented on #3281
Looking into this

[2021-03-26 21:07] dnkemper opened #3283 "Provisions 3/26 - 4/1"
* pediatricaudiology.lab.uiowa.edu - done- emailed user
* psycholinguistics.lab.uiowa.edu - done - emailed user
*  pennathur.lab.uiowa.edu - done - emailed user

[2021-03-26 21:09] #2169 closed, assigned to joewhitsitt

[2021-03-26 21:09] #2978 closed, assigned to nobody

[2021-03-26 21:09] #3074 closed, assigned to nobody

[2021-03-29 13:58] richardbporter commented on #3030
Email file link regression might be fixed by https://www.drupal.org/project/memcache/releases/8.x-2.3. I can test it out locally as time allows.

[2021-03-29 14:28] joewhitsitt opened #3285 "Look into analytics about SiteNow Monthly Update Articles"
Are people reading these or are demos enough? Should we keep doing them?

## Proposed solution

- [ ] Look into article viewing stats and how they align with the dispatch emails. Compare to normal viewing stats.
- [ ] Other analysis?

[2021-03-29 14:58] joewhitsitt commented on #3152
My memory is fuzzy regarding using Workflow for this and how we could use it for brand and hostmaster approval for vanity and top-level domains

[2021-03-29 15:43] #3281 closed, assigned to joewhitsitt

[2021-03-29 16:19] briand44 opened #3286 "Directory Profiles Integration"
# Story

As a SiteNow site owner, I would like the ability to integrate with the campus Directory Profiles solution, so that I can have information about faculty/staff/etc visible on my website without having to manually create them.

# Additional Info

This should be similar to the existing APR integration that the College of Pharmacy is using on SiteNow v3.

Denny provided some initial informati

[2021-03-30 13:36] briand44 opened #3289 "Digital Viewbook for College of Law"
# Story

As a prospective law student evaluating law schools, I can view a digital viewbook for Iowa Law that helps me understand why Iowa might be the right choice for me.

Campaign is launching in August.

# Domain

- [x] Request from hostmaster CNAME viewbook.law.uiowa.edu pointed at at uiowa.github.io.
- [x] Add a CNAME file like https://github.com/uiowa/uids/blob/main/CNAME

# Content outline

[2021-03-30 14:09] joewhitsitt commented on #3258
So, heads up. The Issue description is a collection of similar/conflicting items. Based on the discussion last Wednesday Sidebar filters and autosubmit seem to be the main deliverables and will be reviewed.

[2021-03-30 14:10] dnkemper commented on #3258
@joewhitsitt thank you so much, Joe!

[2021-03-30 14:16] joewhitsitt commented on #3258
Also, SiteNow Articles view page is an example of a single view doing sidebar type layout. I think that uses bootstrap classes though so you might need to find the uids_base equivalents.

[2021-03-30 18:36] richardbporter commented on #3276
Any AC ticket should use the base application uiowa. I think that includes the most collaborators.

[2021-03-30 18:59] joewhitsitt commented on #3013
Closing in favor of #3034

[2021-03-30 18:59] #3013 closed, assigned to nobody

[2021-03-30 19:01] joewhitsitt commented on #3034
Captured thoughts from #3013:

My thought is to keep it part of the menu system but to hide the menu item from being rendered.

[2021-03-30 19:22] pyrello opened #3292 "Create article view block that can be placed via Layout Builder"
Follow-up to #2702.

# Proposed solution

* Create view block display with allowed options turned on to replace the current articles custom block.
* Write update hook to replace block instances of articles custom block with articles view block.

[2021-03-30 20:57] joewhitsitt commented on #3268
Planning to do this 3/31 AM

[2021-03-30 21:34] joewhitsitt commented on #3268
Just tried a test run. Not feeling so good about this:

[code]

[2021-03-30 21:59] joewhitsitt commented on #3268
Rick had me delete and recreate the strategicplan_uiowa_edu db. Getting farther but now:

[code]
Truncated the db name.

`drush @sitesstrategicplan.prod rsync @self @strategicplan.prod` seems scary like it is going to do files instead of the db.

[2021-03-31 00:36] richardbporter commented on #3268
Thats just an example. Just append `:%files` to the aliases.

[2021-03-31 13:28] joewhitsitt commented on #3268
I don't want to sync files yet. I want to sync the database. Sorry, I should have included the line that got me there..

`drush sql-sync @sitesstrategicplan.prod @strategicplan.prod`

[2021-03-31 13:41] bspeare opened #3296 "Set a small breakpoint for areas of study stats"
# Problem
We missed adding a `sm` breakpoint on the stats.

# Steps to reproduce

<img width="604" alt="Screen Shot 2021-03-31 at 8 38 43 AM" src="https://user-images.githubusercontent.com/1036433/113153498-c5b9b400-91fc-11eb-8c56-525f58c62758.png">

# Proposed solution
Wrap this line in a `sm` breakpoint: https://github.com/uiowa/uiowa/blob/main/docroot/sites/admissions.uiowa.edu/modules/admissio

[2021-03-31 13:45] bspeare opened #3297 "Block margin bottom and top disappear for mobile display"
# Problem
There is a breakpoint set on block margin top and bottom that removes them below the `sm` breakpoint.

# Steps to reproduce
<img width="710" alt="Screen Shot 2021-03-31 at 8 44 24 AM" src="https://user-images.githubusercontent.com/1036433/113154118-4f698180-91fd-11eb-9c07-1eee7cf22d4e.png">

# Proposed solution
Move/adjust margin top and bottom outside of `sm` breakpoint: https://github.

[2021-03-31 14:05] bspeare opened #3298 "Remove fixed headline size for block headlines"
# Problem
With the clampage introduced in https://github.com/uiowa/uiowa/pull/3294, the fixed headline sizes in https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/components/typography/headings.scss#L24-L28 need to be removed and tested because they now appear larger than the `h1` on the page.

# Steps to reproduce
<img width="752" alt="Screen Shot 2021-03-31 at 9 01 38

[2021-03-31 14:31] bspeare commented on #2554
Closing this in favor of https://github.com/uiowa/uiowa/issues/2554 which is already pointed.

[2021-03-31 14:31] #2554 closed, assigned to nobody

[2021-03-31 14:52] bspeare opened #3299 "Safari card overflow on area of study page"
# Problem
A flexbox declaration on the area of study page is causing it to break on mobile safari.

<img width="707" alt="Screen Shot 2021-03-31 at 9 47 03 AM" src="https://user-images.githubusercontent.com/1036433/113164516-c8b9a200-9206-11eb-99bf-4a162c413601.png">

# Steps to reproduce
Open http://admissions.local.drupal.uiowa.edu/academics/accounting-0 on mobile safari.

# Proposed solution
Ad

[2021-03-31 15:18] #3030 closed, assigned to richardbporter

[2021-03-31 15:23] briand44 opened #3302 "Signup for Dispatch Communications"
# Story

As a SiteNow site owner, I would like the ability to have users sign up to dispatch communications from my website so that users can receive newsletters and other dispatch communications.

# Additional Info

Charlie Taylor would like this functionality on diversity.uiowa.edu.

Our SiteNow site is probably a good test site to use while working on this.

~`Michael Alberhasky has some initia

[2021-03-31 15:27] joewhitsitt commented on #3268
This was the winning combination by the way. Thanks Rick.

`drush @sitesstrategicplan.prod sql-sync @self @strategicplan.prod`
`drush @sitesstrategicplan.prod rsync @self:%files @strategicplan.prod:%files`

[2021-03-31 15:30] joewhitsitt commented on #3268
Created a doc for this: https://wiki.uiowa.edu/display/drupaldev/Domain+Changes+within+SiteNow

[2021-03-31 16:05] #3056 closed, assigned to nobody

[2021-03-31 16:36] richardbporter commented on #3251
Not sure where the text came from in the proposed resolution but it was mentioned today in the meeting that there should be links within those blurbs.

Here is a raw copy/paste from the D7 site that can be compared/cleaned up:

Student Opportunities
[code]

Careers and Outcomes
[code]

Scholarships
[code]