[2021-03-31 18:18] joewhitsitt opened #3303 "Deprovision strategicplan.sites.uiowa.edu from uiowa02"
Domain has been removed and reclaim email to hostmaster has already been sent.

[2021-03-31 18:20] joewhitsitt commented on #3268
Except for a possible reversal on the redirect, this issue is done.

[2021-03-31 18:20] #3268 closed, assigned to joewhitsitt

[2021-03-31 18:43] dnkemper commented on #3251
Okay! Thank you!

[2021-03-31 18:47] richardbporter commented on #3251
Maybe there is updated text provided by them in a O365 doc or something?

[2021-03-31 18:50] dnkemper commented on #3251
So should I not move forward with this? Because might have kinda sorta started haha. Should I move forward with what you put above then ask in Friday's meeting?

[2021-03-31 19:04] richardbporter commented on #3251
I think that will work but any internal links need to be updated for the new site. I think only scholarship text has one.

[2021-03-31 19:07] dnkemper commented on #3251
Ah, okay! Looks like that node doesn't exist. I'll create one in a draft state in the prod site then sync down and fix that. Thank you so much!

[2021-03-31 19:10] richardbporter commented on #3251
node/79 on the D7 site is https://admissions.uiowa.edu/finances/scholarships. I'm assuming that is https://admissions.prod.drupal.uiowa.edu/finances/scholarships on the new site.

[2021-03-31 19:11] dnkemper commented on #3251
Haha I was just checking that out, thank you so much!

[2021-03-31 19:41] pyrello opened #3305 "SLIS: Create alumni profiles migration"
# Motivation

The SLIS website has an alumni profile content type, which needs to be transitioned into the person content type.

# Proposed solution

* Create a site split for SLIS.
* Add additional fields (TBD) to person content type.
* Add changes to the site split.
* Build migration to migrate alumni content.

[2021-03-31 19:43] #3251 closed, assigned to dnkemper

[2021-03-31 19:44] joewhitsitt opened #3306 "Sort Person Types Alphabetically"
## Issue

The weights of the person types are not in any kind of logical order. https://github.com/uiowa/uiowa/pull/3269#issuecomment-811374550

## Proposed Solution

See if this can be updated via config so that the person node form shows them alphabetically and person type filter drop downs do the same.

A manual alpha sort on the dropdown might have to be done depending on how https://github.co

[2021-03-31 20:36] #3043 closed, assigned to joewhitsitt

[2021-03-31 21:00] bspeare opened #3308 "As a site owner, I can control whether my superfish menu items appear as expanded in the main navigation"
# Story

As a site owner, I can control whether my superfish menu items appear as expanded.

Superfish sets all menu items to be expanded by default so that the "show as expanded" option provided by Drupal is overridden.

<img width="1069" alt="Screen Shot 2021-03-31 at 3 57 39 PM" src="https://user-images.githubusercontent.com/1036433/113210588-01bf3a00-923a-11eb-8a3d-dac97d691f4d.png">

# Propos

[2021-03-31 21:55] mark-bennett-uiowa opened #3309 "As a content editor, I can create a person list filtered by Person Type(s) instead of just Relationships (Tags)."
# Story

As a content editor, I can create a person list filtered by Person Type(s) as another option other than Relationships (Tags). That way I can create separate Faculty, Staff, Student, etc pages without having to add Relationships (tags) that duplicate the Person Types.

For instance, lets say I want to create the following structure within all CLAS sites:
<img width="464" alt="Screen Shot 2

[2021-03-31 21:58] mark-bennett-uiowa opened #3310 "Add additional types as default options in Person Types"
I anticipate that we will all have one-off examples of person types that we may run across around campus. However, Alumni seems to be an option that would be campus-wide, whether it is used or not for a particular site.

UPDATE: Adding the following as additional types:
Alumni
Adjunct Faculty
Visiting Faculty (may be combined with Adjunct Faculty)
Postdoc (or Postdoctoral Researcher)

Would this b

[2021-04-01 13:34] joewhitsitt commented on #3310
Wondering how this intersects with https://github.com/uiowa/uiowa/issues/2582 if at all. We originally based our person types off what the provost/apr was doing. I am open to this option if we can figure out the bigger picture.

[2021-04-01 13:35] joewhitsitt commented on #3309
Thank you for creating this issue. This has been on my mind for a while.

[2021-04-01 13:37] joewhitsitt commented on #3308
Should we disable or remove access to the menu item option if it is overridden anyway?

[2021-04-01 13:47] joewhitsitt opened #3311 "Anchors: A Love Story"
# Epic

As an editor, I want and easy way to add anchors to my content and to be able to find existing anchors to use and link to.

Currently in v3, anchors are an afterthought and can only be added to the HTML markup manually on `<a>` and `<h*>` tags using the `id` attribute.

# Additional information

Requested by IMU, CLAS, ITI, Law. Captured from https://wiki.uiowa.edu/display/drupaldev/Custom

[2021-04-01 14:08] bspeare commented on #3308
@joewhitsitt What part would we remove access to? This part?

<img width="1112" alt="Screen Shot 2021-04-01 at 9 07 18 AM" src="https://user-images.githubusercontent.com/1036433/113306498-c66c4c00-92c9-11eb-8da5-a1287737df17.png">

[2021-04-01 14:21] joewhitsitt commented on #3308
Yes, since this will have no effect why show it to users.

[2021-04-01 14:34] joewhitsitt commented on #3309
Ah. @briand44 was right, this issue already exists. https://github.com/uiowa/uiowa/issues/2524 Can we close and consolidate?

[2021-04-01 14:45] bspeare commented on #3308
Ah, once the changes in this issue are made then it will work.    Currently, it doesn't have any effect if checked.

[2021-04-01 14:55] mark-bennett-uiowa commented on #2524
Adding this from the duplicate issue I created recently:
For instance, lets say I want to create the following structure within all CLAS sites:
<img width="464" alt="Screen Shot 2021-03-31 at 4 39 22 PM" src="https://user-images.githubusercontent.com/3067017/113214859-adb75400-923f-11eb-979c-9d9739c2dfd2.png">

I could create a site split specific to the site, and add additional person types for P

[2021-04-01 14:55] mark-bennett-uiowa commented on #3309
@joewhitsitt Absolutely. Closing this issue in favor of #2524. Adding my text above as a comment there.

[2021-04-01 14:55] #3309 closed, assigned to nobody

[2021-04-01 15:07] briand44 opened #3312 "Admissions menu structure"
Create menu structure for Apply, Admitted Students and Visit Campus in the Admissions Prod environment.

Visit Campus - page that redirects to node/296. No visible children displayed in main menu. When click visit campus the secondary navigation should display first year visit options (active page) and transfer visit options.

Apply - page that redirects to node/21. Visible children displayed in m

[2021-04-01 15:08] briand44 commented on #3312
Blocked by #3308

[2021-04-01 16:04] richardbporter commented on #2987
Some additional tasks to be done in #3190

- [x] Debug ~~and fix~~ obscure errors on import.
- [x] Double check sticky setting is migrating correctly. First article listed on /news is old.
- [x] Set an image style on body images - too big.
- [x] Fix teaser markup characters still being printed on some articles.
- [x] Report internal links

[2021-04-01 16:37] bspeare opened #3313 "As a site owner, I can use a variant of the card component w/ larger font sizes"
As a site owner, I can use a variant of the card component w/ larger font sizes

# Proposed Solution
- Add card left/right large variant
- Create a separate feature block component
- Enhance layout builder section controls to create a feature block through layout builder

[2021-04-01 16:51] bspeare opened #3314 "As a site owner, I can build a timeline layout with layout builder"
# Story

As a site owner, I can build a timeline layout with layout builder

# Proposed solution

- Create a separate timeline block with paragraph items for each timeline entry
  - Technical details
    - Block will need to be created programmatically in order to place in the "More" block section
    - Media field that allows image or video
    - Font awesome Icon picker field
    - Title
    - D

[2021-04-01 16:53] mark-bennett-uiowa commented on #3314
@bspeare I would love this, especially to solve the issues of embedding a JS timeline like these two sites: [https://cs.uiowa.edu/alumni/timeline](https://cs.uiowa.edu/alumni/timeline) and Journalism's (which you cant see anymore).

[2021-04-01 17:12] briand44 commented on #2750
To Do:
Create pages and embed html video player on the new site from existing pages outlined in https://iowa-my.sharepoint.com/:w:/g/personal/katmills_uiowa_edu/Ea2Pp75OZIVDh5PVo4pt0W0BCClNhh87XVFDSN_lBeZkLA?e=4P5mNb. Looks like there are about six pages.

Embed Once Hub scripts. Some scripts are outlined in the file linked above as well but it is not clear at this point which pages on the new sit

[2021-04-01 17:33] joewhitsitt commented on #3314
#655

[2021-04-01 18:05] bspeare commented on #655
@joewhitsitt mind if we close this in favor of https://github.com/uiowa/uiowa/issues/3314?  I added your idea to the proposed solution.

[2021-04-01 18:36] joewhitsitt commented on #655
Closing in favor of #3314

[2021-04-01 18:36] #655 closed, assigned to nobody

[2021-04-01 20:04] #3283 closed, assigned to cory-skeers

[2021-04-01 20:25] joewhitsitt commented on #3308
If touching all menu links, I would batch and then do a menu rebuild after.
Batch update example: https://github.com/uiowa/uiowa/blob/main/docroot/profiles/custom/sitenow/sitenow.install#L181

[2021-04-01 20:25] joewhitsitt commented on #3308
Test to make sure it doesn't break HR

[2021-04-02 13:58] pyrello opened #3326 "SLIS - Create alumni listing page"
# Story

As a SLIS visitor I want to see a searchable list of alumni so that I can get a sense of what people in the program have gone on to do.

Page would be a replacement for https://www.slis.uiowa.edu/alumni

Probably easiest to test this after #3305

# Proposed solution

Build a specialized view that displays alumni with the ability to search/filter by the same parameters as the current page.

[2021-04-02 14:04] #3244 closed, assigned to nobody

[2021-04-02 14:27] joewhitsitt opened #3327 "File replace caching"
## Issue

Varnish for the file is not purged when replaced.

-- https://www.drupal.org/project/media_entity_file_replace

## Proposed Solution

Any or some of these would make an improvement

- If you can, configure your web server to emit an ETag cache header for static file assets instead of a max-age header.
- Set a short max-age header for static file assets. Drupal's default .htaccess file (w

[2021-04-02 15:04] joewhitsitt opened #3328 "SiteNow Updates News Article - April"
## Issue/Solution

Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link.
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  - See https://sitenow.uiowa.edu/news/2021/02/updates-january

[2021-04-02 15:04] joewhitsitt commented on #3181
- Published https://sitenow.uiowa.edu/news/2021/04/updates-march
- Email scheduled for 10:30A
- April issue created https://github.com/uiowa/uiowa/issues/3328

[2021-04-02 15:04] #3181 closed, assigned to joewhitsitt

[2021-04-02 16:18] #3275 closed, assigned to richardbporter

[2021-04-02 16:20] cory-skeers commented on #2987
Only one article (original node 10636) was marked sticky, and was an old one. I just removed `sticky` from the mapping, assuming we should default all nodes to `0` for sticky if this one shouldn't appear first.

[2021-04-02 17:02] pyrello opened #3329 "Vimeo embed error"
The issue was first reported on iwp.prod.drupal.uiowa.edu, but I was able to reproduce on sandbox.prod.drupal.uiowa.edu. The issue does not appear to affect existing Vimeo embeds: https://media.journalism.uiowa.edu/alumni-stories

# Steps to reproduce
1. Visit https://sandbox.prod.drupal.uiowa.edu/node/1/layout
2. Add a text area block and add a media library element to it.
3. Select Remote video,

[2021-04-02 18:12] joewhitsitt commented on #3329
I think it is something with this or other videos of this account. I tried this version of the video as well: https://vimeo.com/225310021

Historically it has something to do with a Vimeo privacy setting on the video.

I was able to add one of the videos (first one, from different account) from https://media.journalism.uiowa.edu/alumni-stories and previously that one from yesterday. I also have no

[2021-04-02 18:31] GaryRidgway opened #3330 "Implement UIDS table changes, strip table classes from text areas, update table JS"
Part of the [507 Responsive Tables](https://github.com/uiowa/uids/issues/507) epic.

As a tables user, after https://github.com/uiowa/uids/issues/509 and https://github.com/uiowa/uids/issues/510 are completed the `table--static` and `table--is-striped` classes will no longer be relevant.

# Proposed solution
- [ ] Implement UIDS table default styles and responsive solution updates.
- [ ] Iterate t

[2021-04-02 18:51] bspeare commented on #2892
Related or the same request: https://github.com/uiowa/uiowa/issues/1607.

[2021-04-02 18:57] joewhitsitt commented on #2892
Nice catch.

[2021-04-02 18:57] #2892 closed, assigned to nobody

[2021-04-02 19:08] GaryRidgway opened #3332 "dd accessibility processing to wysiwyg during content entry"
Part of the [507 Responsive Tables](https://github.com/uiowa/uids/issues/507) epic.

After removing accessibility enhancements from the Tables JS to streamline it, there is a need to process tables and add the accessibility enhancements that were previously being added to the JS. this would hopefully be done in the WYSIWYG so that it is saved in the DB.

# Proposed solution

1. Find a way to proce

[2021-04-02 19:11] GaryRidgway opened #3333 "Communicate to users that responsive behavior is changing"
Part of the [507 Responsive Tables](https://github.com/uiowa/uids/issues/507) epic.

Users need to be told that the default tables and responsive tables behavior is changing. This should be communicated to them.

# Proposed solution

1. Talk with team about what should be conveyed.
2. Possibly email all webmasters that the behavior is changing and make an announcement on all Demo material includin

[2021-04-02 19:32] pyrello commented on #3308
@joewhitsitt Just took a look at HR. Since it is using a different menu block in a different theme, should we just skip that site? We could run this same migration on that site whenever they move to UIDS Base.

[2021-04-02 19:36] pyrello commented on #3308
Alternately, we could let the update hook run on HR, since I don't think it will change the behavior on the current menu block because it is using the same setting that we are changing in UIDS base.

[2021-04-02 19:48] bspeare opened #3334 "As an site owner, I can use the event block with teaser text and all day date functionality"
# Story

As an site owner, I can use the event block with teaser text and all day date functionality

# Proposed solution
- [ ] Add text area for adding a description
- [ ] Create an all-day option for the date field https://github.com/uiowa/uiowa/issues/1607

[2021-04-02 19:55] pyrello opened #3335 "Add collapsed mobile design for views filters"
# Motivation

Recent updates to the People page and to the Admissions Areas of Study page added filters or the option to show filters. However, those filters take up a lot of space on mobile screens.

# Proposed solution

Style the filters in a collapsed box in mobile similar to the menu.

![Screen Shot 2021-04-01 at 1 20 46 PM](https://user-images.githubusercontent.com/709009/113449440-71acfc00-9

[2021-04-02 20:17] joewhitsitt commented on #3308
If HR tests well with the update hook, I'd let it. One less thing to do later.

[2021-04-05 13:23] mjoneill commented on #3264
Comments from Janet on April 2:

[Articles - Mode of Transport - Tag Mapping.xlsx](https://github.com/uiowa/uiowa/files/6258326/Articles.-.Mode.of.Transport.-.Tag.Mapping.xlsx)

[2021-04-05 13:56] richardbporter opened #3338 "Migrate events fire multiple times"
# Problem
All of our event subscribers for MigrateEvents fire multiple times. This is not the desired behavior as code running in those subscribers could have negative effects. For example, a PostImport event to replace internal links could run again and replace the links again, resulting in broken links.

# Steps to reproduce
Set a breakpoint or log some output in any MigrateEvents event subscrib

[2021-04-05 15:17] #3299 closed, assigned to nobody

[2021-04-05 15:17] #3296 closed, assigned to nobody

[2021-04-05 15:17] #3297 closed, assigned to nobody

[2021-04-05 15:17] #3298 closed, assigned to bspeare

[2021-04-05 15:55] ethanstjohn commented on #3033
This website is ready to be reviewed.
https://sitenow.stage.drupal.uiowa.edu/

[2021-04-05 15:57] #3258 closed, assigned to dnkemper

[2021-04-05 17:00] joewhitsitt commented on #3033
@ethanstjohn thanks for working on this. I haven't done a full review, but a few things:

- There has been new content/edits that haven't been captured on the new site. I would look at the content overview of the current site to find these. Updates from March (new), Known Issues ([edit](https://sitenow.uiowa.edu/node/196/revisions)). We didn't know if we were in a content freeze period.
- The news

[2021-04-05 18:53] cory-skeers commented on #2750
From Slack:

[code]

[code]

[2021-04-05 19:26] richardbporter commented on #2987
I fixed the link replacement functionality for links before 2016 which was not working and am now logging out internal links. I reverted the file_get_contents error suppression commit for now as well but hope to get back to it because the file paths seem wrong.

[2021-04-05 19:26] richardbporter commented on #2987
I'm now going to look at setting an image style for those inline images.

[2021-04-05 20:01] joewhitsitt commented on #1412
I propose using anchor_link but only implementing the "anchor" button for now.

[2021-04-05 20:06] joewhitsitt commented on #3311
I think using anchor_link's anchor button and adding an anchor name field to the headline field should be the next steps. Discoverability is still an issue, but if we implement the headline field similar to v2's solution, editors will at least be able to go into the block and see what they are without inspecting the source.

[2021-04-05 20:31] cory-skeers commented on #2750
Video embed updates:
https://admissions.uiowa.edu/future-students/international-students/about-iowa/international-experience -> https://admissions.prod.drupal.uiowa.edu/node/3961/latest

https://admissions.uiowa.edu/international-students/about-iowa/you-are-welcome-here -> https://admissions.prod.drupal.uiowa.edu/you-are-welcome-here

https://admissions.uiowa.edu/connecting-iowa-world -> https://a

[2021-04-05 20:40] #3131 closed, assigned to joewhitsitt

[2021-04-05 21:32] bspeare opened #3340 "Lb direct add list not visible from within main region"
# Problem
The lb direct add list not visible from within main region

# Steps to reproduce
Try clicking on "Add component" from within the layout area with the Body field.

<img width="1111" alt="Screen Shot 2021-04-05 at 4 30 10 PM" src="https://user-images.githubusercontent.com/1036433/113629786-7e805880-962c-11eb-8bad-6f966fc76500.png">

# Proposed solution
Change `overflow:auto` state in `admi

[2021-04-05 22:00] pyrello commented on #2987
@cory-skeers and @richardbporter Can I be of any assistance on this issue?

[2021-04-05 22:01] #3149 closed, assigned to nobody

[2021-04-06 13:24] richardbporter commented on #2987
I think the `Unkown format` errors can be safely ignored as they do not seem to be memory related. It happens when the the file entity is saved only with certain images. I'm not sure what causes it, maybe imagemagick or something, but the file seems to be saved correctly and displays fine.

I think all thats left is the image styles for inline images. I'm working on that now and I'm looking to cre

[2021-04-06 13:29] pyrello commented on #2987
I think the approach for setting the image style in this comment is still the right way to go: https://github.com/uiowa/uiowa/pull/3190#issuecomment-812667642

There may be something wrong about the implementation, but that is roughly what needs to be done just by looking at the output of how the image is represented in one of our D9 sites.

By selecting a view mode that maps to a responsive style

[2021-04-06 13:35] richardbporter commented on #2987
I don't think I'm using that `replaceInlineImages` method though. I'm using the regex with `entityReplace` since there are files, docs, etc.

[2021-04-06 13:39] pyrello commented on #2987
That's going to require adding a similar `data-view-mode` attribute to the `constructInlineEntity` function:

https://github.com/uiowa/uiowa/blob/c05630523a8d365227edb66a78d40195da167a2e/docroot/modules/custom/sitenow_migrate/src/Plugin/migrate/source/ProcessMediaTrait.php#L108-L118

[2021-04-06 14:32] joewhitsitt opened #3341 "Pull Kaltura/MediaSpace usage stats on v1-v3"
## Issue

ITS is doing a service review on Kaltura/MediaSpace and was curious how much the embeds are used on our sites.

## Proposed Solution

- [x] `./vendor/bin/blt ume "sqlq \"SELECT * FROM media__field_media_oembed_video WHERE field_media_oembed_video_value LIKE '%https://mediaspace%'\""` **ssh'd in** PROD uiowa, uiowa01, uiowa02.
- [x] `drush @sites sqlq "SELECT * FROM file_managed WHERE uri

[2021-04-06 14:48] joewhitsitt commented on #3078
I worry about this method as we found return characters in content afterwards. We didn't pin it on #3048 but we didn't rule it out. I wonder if a db update would be faster/easier

[2021-04-06 15:33] #3340 closed, assigned to nobody

[2021-04-06 15:46] bspeare commented on #3101
@joewhitsitt are the theme settings set in config?

[2021-04-06 16:11] joewhitsitt commented on #3101
i don't think so. you would deploy the style change and manually change prod

[2021-04-06 16:49] richardbporter commented on #2987
Think I finally figured that out. Thanks.

[2021-04-06 17:32] pyrello commented on #2938
Based on additional conversations on this topic, I think this can be closed. To work around this limitation, we are going to create webforms to allow Alumni to request access to protected resources and the site owner will request guest HawkIDs for them.

[2021-04-06 17:32] #2938 closed, assigned to nobody

[2021-04-06 18:00] pyrello opened #3343 "SPPA: Build article migration"
# Proposed solution

- [x] Create SPPA migration module.
- [x] Add article migration.
  - [x] First delta of `field_image_attach` can become the featured image. Any other deltas can be ignored.
- [x] Add article redirect migration.

The following fields can be ignored:
* `field_d8_migration_status`
* `field_multi_public_file`
* `field_newsstory_caption`

[2021-04-06 18:50] joewhitsitt commented on #3330
It would be nice to coordinate this with https://github.com/uiowa/uiowa/issues/3078 so we are only passing through sites once.

[2021-04-06 20:16] bspeare commented on #3101
Removed the logo and live text is now displaying on https://oneit.uiowa.edu/.

[2021-04-06 20:25] cory-skeers commented on #2750
OnceHub scheduling embeds:
https://admissions.uiowa.edu/visit-campus/meet-admission-counselors-and-academic-departments -> (existing) https://admissions.prod.drupal.uiowa.edu/visit-campus/meet-admission-counselors-and-academic-departments

[2021-04-06 20:32] bspeare opened #3344 "SSL cert - *.physics.uiowa.edu"
SSL cert - *.physics.uiowa.edu on uiowa01.   There is currently coverage for tracers.physics.uiowa.edu on uiowa01, but @mark-bennett-uiowa says that along with vanallen.physics.uiowa.edu, there are more coming.

[2021-04-06 20:34] cory-skeers commented on #2750
There may be additional updates needed, or further OnceHub embeds, but at this time all the listed embeds have been created on the prod site.

[2021-04-06 20:34] #2750 closed, assigned to nobody

[2021-04-06 20:50] joewhitsitt commented on #2998
Started a feature branch on 703 `arts_past`

arts_core handles this currently. deletes everything not in the year feed. past events are present until their last instance is past. now this is checking whether the end date has past today by 365 days and deletes. I'd like to monitor locally for a few days to see if it is really working by adjusting the expiration to -1 day.

done

added a new argumen

[2021-04-06 21:15] mark-bennett-uiowa commented on #3344
Updated SSL certificate for uiowa01 by removing the tracers.physics.uiowa.edu entry and replacing it with *.physics.uiowa.edu in order to cover additional subdomains for physics.uiowa.edu. Certificate in place, previous certificate disabled. Just waiting on verification via browser that new certificate is active.

[2021-04-06 21:16] #3344 closed, assigned to mark-bennett-uiowa

[2021-04-07 14:45] joewhitsitt commented on #1412
This requires https://ckeditor.com/cke4/addon/link and https://ckeditor.com/cke4/addon/fakeobjects in the libraries folder and I don't think there is a composer/bower option...

[2021-04-07 15:47] #3308 closed, assigned to pyrello

[2021-04-07 17:24] #2956 closed, assigned to nobody

[2021-04-07 18:05] joewhitsitt opened #3347 "Areas of Study Listing Path"
## Issue

What path should AoS views listing within feature split (not admissions) be. Currently /areas-of-study

Content strategy type question since other units could be using this.

## Proposed Solution

- [ ] Decide on default path for this view - https://github.com/orgs/uiowa/projects/1#card-58560237
- [ ] Make the views page path change based on the above decision.

## Future

- [ ] Change t

[2021-04-07 18:14] pyrello commented on #2582
@joewhitsitt I started working on this in #3337. I added a property to the person type class and a corresponding field to the person type form. However, when I save the form, the value doesn't save. I'm not seeing anything in the current setup that would seem to indicate that special handling is necessary for this new property. Any ideas?

[2021-04-07 18:24] richardbporter opened #3348 "Adjust APR styles"

[2021-04-07 18:41] richardbporter commented on #2987
@cory-skeers I have an example of the alignment not working in `processMediaTrait::entityReplace`. I was hoping you could take a look to see if finding the alignment is working correctly in general and this is maybe just an outlier.

The source node 10916 (https://pharmacy.uiowa.edu/article/distinguished-alumni-award-recipients-announced-0) has an image aligned left but the regex isn't finding it.

[2021-04-07 18:43] joewhitsitt commented on #2582
Hmm. Does the schema file need to be updated and imported?

[2021-04-07 18:47] pyrello commented on #2582
Nevermind... I think I figured it out.

[2021-04-07 18:51] richardbporter commented on #2987
Actually, that looks like JSON. I don't know if it always is but maybe we could try to decode it into an array and check to see if a key/property is set?

[2021-04-07 19:03] cory-skeers commented on #2987
I think that should always be the case. Pretty sure the initial pass at looking for alignment was a quick fix for standard v1 sites. Decoding into an array should work--might have to check for a few different patterns, but that would be a lot easier to do with an array than a convoluted (but fun?) regex.

[2021-04-07 20:03] cory-skeers commented on #2987
Took a stab at it, and at least for the example provided (source node 10916) alignments seem to work. Need to check if we can always pull alignment from there, or if we need to check different spots.

It also depends on the (I believe correct...) assumption that the format is always `[[{JSON}]]`, but that should be what the original regex is looking for, so if that's false...I think we have bigger

[2021-04-07 20:15] pyrello commented on #2582
I don't think the `#states` behavior can be achieved with the field widgets as structured. While `#states` can be applied to individual `checkbox` fields, there is no way to apply different `#states` to each checkbox in a `checkboxes` field. My best way of how to achieve a better UI is to hide the existing fields and build a set of pseudo fields that behave as desired. Then populate the values cor

[2021-04-07 20:26] cory-skeers commented on #2987
https://pharmacy.uiowa.edu/node/13161 picked up an image as a plain, left-aligned inline image where the source has it inside a right-aligned block quote.

@richardbporter any expectations on dealing with quotes, captions, or the like, or is bringing it in as a simple image adequate?

[2021-04-07 20:34] joewhitsitt commented on #2582
i can't give this the attention it deserves at the moment but what about trying an ajax callback or show/hide via css?

[2021-04-07 20:50] joewhitsitt commented on #2998
@richardbporter can I get you to review this?

## To Test

- on uiowa703 locally, checkout `arts-past`
- sync arts.uiowa.edu and do all of that crazy d7 setup stuff (rr, /tmp, hloc)
- date pickers can now go into the past to select a date (max 1 year)
- there is a past button that takes you to a reverse sorted display of past events
- if you replace `$noexist` on line 88 of docroot/sites/arts.uiow

[2021-04-08 13:00] richardbporter commented on #2987
No, just the image. Thanks for doing that! I'll check it out with my last change (hopefully).

[2021-04-08 13:14] richardbporter commented on #2998
Yea I'll check this out today.

[2021-04-08 14:41] richardbporter commented on #2998
I was thinking only the "past" button would be 100% width. Otherwise it adds some extra spacing under the featured image:

![image](https://user-images.githubusercontent.com/1068523/114038761-c202de80-9847-11eb-81b6-ad1fc1ebc6d8.png)

Probably. I'm curious about their thoughts on a few things like the reverse order of past events.

Not sure I understand this change. Maybe we could talk in person.

[2021-04-08 14:46] joewhitsitt commented on #2998
The buttons weren't flexed before and I didn't want to try to get the theme to compile. I took a short cut and made a one line change in three places... are you sure the spacing is from the buttons or the long featured title overflowing?

I can walk you through the expiration testing via call. It was a pain to test otherwise

[2021-04-08 18:17] quamsta commented on #3244
Just recently saw this was updated. Thanks all!

[2021-04-08 18:47] bewoldt opened #3352 "Long text in sidenav breaks layout"
# Problem
If you have a long page name with no breaking spaces in it the side navigation will grow to a point where it breaks the layout and the main content area wraps underneath the sidenav.

# Steps to reproduce
You can see it in action here. https://stanleymuseum.prod.drupal.uiowa.edu/about. The page title of "Employment/Opportunities" is breaking the layout.

# Proposed solution
You could for

[2021-04-08 18:51] bspeare commented on #3352
@bewoldt Can you provide a screenshot?

[2021-04-08 18:56] bewoldt commented on #3352
<img width="1186" alt="Screen Shot 2021-04-08 at 1 55 08 PM" src="https://user-images.githubusercontent.com/731952/114081400-2175e400-9872-11eb-9087-8d41e5d4868a.png">

[2021-04-08 20:17] bspeare commented on #3035
Additional notes on https://test.its.uiowa.edu/admissions:

# Desktop Notes

**1. Change site name text and size to `1.3rem`.  The current text is too small.**
<details>
<img width="649" alt="Screen Shot 2021-04-13 at 8 45 06 AM" src="https://user-images.githubusercontent.com/1036433/114562990-a0816880-9c34-11eb-8a6c-abd1bdd5b6b9.png"></details>

**2.  Change "Application Status" section to just s

[2021-04-08 21:23] #2365 closed, assigned to nobody

[2021-04-08 21:30] richardbporter commented on #3179
Came across https://www.drupal.org/docs/core-modules-and-themes/core-modules/jsonapi-module/security-considerations which confirms this is probably the right thing to do until we can think about it more.

[2021-04-08 21:33] richardbporter commented on #3179
Also trying to understand metrics before/after this change.

https://docs.newrelic.com/docs/apm/apm-ui-pages/monitoring/view-slow-query-details/
https://support.acquia.com/hc/en-us/articles/360005256514-How-to-fix-slow-queries

[2021-04-08 21:40] mark-bennett-uiowa commented on #3314
As a mentioned above, I now have several sites that would be replacing custom JS timelines with this and they love the idea and the look. I would definitely like to be part of the discussion into this and see this take some priority if possible.

Thoughts:
(1) Is this going to have its own, new, custom Content Type for entry?
(2) Is this going to have us tag News items with a new custom field in S

[2021-04-08 22:11] pyrello commented on #3348
Probably should have chimed in on this before it it got pointed, but should we adjust the design of the APR pages to be more in line with the way the person page looks? I think that the new People Directory is going to be more modeled after that, so it seems like we should probably have this be consistent.

[2021-04-09 13:46] joewhitsitt commented on #3348
Isn't this solution just a stop gap solution until the new thing which will be different markup, etc.? If so, I would do the quick solution for now.

[2021-04-09 13:47] richardbporter opened #3354 "Post-migrate areas of study content issues"
Multiple issues were found after running the AOS migration.

- Almost every AOS contains a broken link to http://uiowa.orgsync.com/ in the student opportunities field. It should point to https://uiowa.campuslabs.com/engage. A redirect is not possible.
- This broken link also exists in the default value for the student opportunities field.
- The degree abbreviations seem to contain an extra space i

[2021-04-09 13:47] pyrello commented on #3348
How long are we going to have it as a stop gap?

[2021-04-09 13:52] joewhitsitt commented on #3348
🤷 good question

[2021-04-09 13:56] richardbporter commented on #3348
Yea I don't know either. I do know they are not going to make any changes to the markup because this new solution is coming at some point. So any attempts to match it up to our person pages would have to all be done in CSS.

[2021-04-09 14:25] bspeare opened #3355 "Update education.uiowa.edu to use brand gold"
# Proposed solution

Update radix theme variable to use brand gold primary hex color on https://uids.brand.uiowa.edu/components/detail/colors.html.

[2021-04-09 14:47] bspeare commented on #3354
I just checked the extra space on the parentheses and it doesn't appear to be `CSS` related.

[2021-04-09 14:48] bspeare commented on #3348
Should we remove the "Back" link on profile pages too?  That link only works if you navigate to the page from the directory.

[2021-04-09 16:28] richardbporter commented on #3179
Some endpoints to test with that I was not aware of:

- https://hr.uiowa.edu/jsonapi/user/user
- https://hr.uiowa.edu/jsonapi/paragraph/section
- https://presidentialsearch.uiowa.edu/jsonapi/google_tag_container/google_tag_container

It respects permissions of course but if those change unintentionally by us or contrib... That could also expose draft content https://www.drupal.org/docs/core-module

[2021-04-09 19:11] richardbporter commented on #3354
I thought it was maybe migrated with that extra space but this is an options field and those values don't seem to have whitespace before/after. I'm not sure where its coming from...

[2021-04-09 19:57] bspeare commented on #3354
OK, maybe it is `CSS` then.  I'll take another look.

[2021-04-09 20:20] mark-bennett-uiowa opened #3357 "Build Computer Science news migration"
# Background

Computer Science news entries (News and Announcements, machine name 'article') have the following fields:

- Title (machine name: title)
- Section (will not be used, workbench access is no longer needed)
- Date (machine name: field_event_date)
- Body (machine name: body)
- Image (machine name: field_image)
- Image Gallery (machine name: field_image_gallery)
- External Link (machine n

[2021-04-09 21:06] #3179 closed, assigned to richardbporter

[2021-04-09 21:17] #3352 closed, assigned to nobody

[2021-04-12 14:31] joewhitsitt opened #3358 "Taxonomy Term Styling"
## Issue

Taxonomy term pages (e.g. tags) include teasers that are un-styled and publicly viewable.

## Proposed Solution

Extend the card styling for the default content type teasers. It is the responsibility of the developer to extend similar styles to each custom content type that can reference a publicly viewable taxonomy.

- [ ] https://github.com/uiowa/uiowa/issues/1955 Page Teasers

[2021-04-12 16:32] joewhitsitt opened #3360 "SSL - *.sports.uiowa.edu on uiowa02"
Coverage for dei.sports.uiowa.edu and future .sports sites

[2021-04-12 19:45] joewhitsitt commented on #3360
Done.

[2021-04-12 19:45] #3360 closed, assigned to joewhitsitt

[2021-04-12 20:07] GaryRidgway commented on #3330
After talking with @pyrello we should probably wrap all tables with a scroller div in this hook as well, as described in uiowa/uids#510.

[2021-04-13 14:34] #3354 closed, assigned to richardbporter

[2021-04-13 15:56] briand44 commented on #3264
They said they will manually migrate the alerts mentioned in item 2 above, so we can ignore that.

[2021-04-13 18:59] #3118 closed, assigned to nobody

[2021-04-13 18:59] #3125 closed, assigned to pyrello

[2021-04-13 18:59] #2582 closed, assigned to nobody

[2021-04-13 19:31] #2987 closed, assigned to richardbporter

[2021-04-13 19:31] #2999 closed, assigned to richardbporter

[2021-04-13 20:31] mjoneill commented on #3302
@imuben BTW: looping you in to an issue we had discussed previously. we'll keep you posted as opportunities surface for future conversations.

[2021-04-13 20:33] cory-skeers opened #3364 "SSL - sim-ia.uiowa.edu on uiowa01"
Coverage for sim-ia.uiowa.edu on uiowa01

[2021-04-14 13:49] joewhitsitt commented on #3364
Done

[2021-04-14 13:49] #3364 closed, assigned to joewhitsitt

[2021-04-14 15:13] briand44 opened #3367 "Re-provision dei.sports.uiowa.edu as dei.athletics.uiowa.edu"
I heard back from Athletics and they would prefer going with dei.athletics.uiowa.edu.

Remove dei.sports.uiowa.edu
Request domain/reclaim dei.sports
Provision dei.athletics.uiowa.edu

Remove *.sports.uiowa.edu
Cover *.athletics.uiowa.edu

We should communicate with Wendy and Eddie Etsey once provisioned.

[2021-04-14 19:52] mark-bennett-uiowa opened #3369 "Build Physics and Astronomy news migration"
# Background

Physics and Astronomy news entries (News, machine name 'clas_news') have the following fields:

- Title (machine name: title)
- News Tags (machine name: field_clas_news_tags; a taxonomy-ish term reference field to tag entries as Space Physics, Plasma Physics, etc news)
- News Date (machine name: field_clas_news_date)
- News Description (machine name: field_clas_news_description)
- Ne

[2021-04-14 20:31] joewhitsitt commented on #3355
Branch `education-brand-gold` on 703

[2021-04-15 13:30] briand44 commented on #3312
The Visit Campus menu is complete.

Still need to address Admitted Students page.

Still need to address Transfer Admissions, International Admissions and Additional Admission Options. The Secondary Menu doesn't exist on those pages.

[2021-04-15 14:07] joewhitsitt commented on #3355
<img width="628" alt="Screen Shot 2021-04-15 at 9 06 48 AM" src="https://user-images.githubusercontent.com/4663676/114882813-f50a1c80-9dc9-11eb-951b-11880257bfc0.png">

Done

[2021-04-15 14:07] #3355 closed, assigned to joewhitsitt

[2021-04-15 14:38] joewhitsitt opened #3371 "SSL Cert - *.athletics.uiowa.edu on uiowa02"
Relates to #3367

Remove *.sports.uiowa.edu in the same process

[2021-04-15 16:13] briand44 opened #3372 "List of print links missing test links"
The current list of print links at https://admissions.prod.drupal.uiowa.edu/areas-of-study/print-links is missing the test links. It appears the test links are appearing at https://admissions.prod.drupal.uiowa.edu/iowa-print. These all should be displayed on at https://admissions.prod.drupal.uiowa.edu/areas-of-study/print-links similar to the existing site https://admissions.uiowa.edu/at-iowa-prin

[2021-04-15 16:41] briand44 opened #3373 "Search and replace strings of text"
# Story

As a site webmaster, I would like the ability to search for a string and replace all instances of it so that I don't have to make the change in every instance it is used.

# Additional Information

We have a custom module "Find Text" in use on SiteNow v1 sites.

https://www.drupal.org/project/scanner was also mentioned as a module that has been used for this type of functionality.

Probab

[2021-04-15 17:35] #3303 closed, assigned to joewhitsitt

[2021-04-15 19:40] briand44 opened #3375 "Migrate news articles for International Programs"
# Story

As an International Programs site owner, I would like articles migrated from the International Programs Drupal 7 site (https://international.uiowa.edu) to https://international.prod.drupal.uiowa.edu so that users will be able to view all of the past news articles.

# Additional Info

Need  to get additional info in regards to:
- when they hope to launch - end of August(ish)
- migrating ta

[2021-04-16 13:31] briand44 commented on #3371
Done

[2021-04-16 13:31] #3371 closed, assigned to briand44

[2021-04-16 16:11] joewhitsitt commented on #3367
Site created emails went out. @briand44 is more communication beyond that needed?

[2021-04-16 16:41] briand44 commented on #3367
Was Eddie included on those or just Wendy?

[2021-04-16 16:45] briand44 commented on #3367
Nevermind, looks like just Wendy, I'll let Eddie know as well. Thanks!

[2021-04-16 16:50] briand44 commented on #3367
Can this be closed?

[2021-04-16 16:53] #3367 closed, assigned to joewhitsitt

[2021-04-16 18:39] joewhitsitt commented on #3341
As of 2021-04-16 (111 videos):

- folland.lab.uiowa.edu | 1
- hr.uiowa.edu | 90
- iti.uiowa.edu | 2
- sandbox.uiowa.edu | 1
- teach.its.uiowa.edu | 1
- teach.uiowa.edu | 6
- teachonline.uiowa.edu | 1
- thelightbox.radiology.uiowa.edu | 9

[2021-04-16 18:39] #3341 closed, assigned to joewhitsitt

[2021-04-16 19:17] joewhitsitt opened #3376 "arts.uiowa.edu - Contextually aware quick date range buttons"
A follow-up request to https://github.com/uiowa/uiowa/issues/2998

## Issue

When viewing one of the arts.uiowa.edu focus areas (e.g. dance) and the user clicks one of the date range quick buttons (e.g. tomorrow, this weekend, past) the are take away from the focus area and instead shown the "all" filter based on the date range.

## Proposed Solution

- [ ] When creating the buttons, check the cur

[2021-04-16 19:19] joewhitsitt commented on #2998
Customer approved. Deployed with `tags/2021-04-16`

[2021-04-16 19:54] briand44 commented on #2213
Closing as Scott said this is no longer needed.

[2021-04-16 19:54] #2213 closed, assigned to nobody

[2021-04-16 19:56] briand44 commented on #2212
Closing this epic since there is a separate issue for that last remaining item.

[2021-04-16 19:56] #2212 closed, assigned to nobody

[2021-04-16 21:25] joewhitsitt commented on #3078
I tried to get rid of the linkit button presets stuff and just use the ckeditor style dropdown, but it doesn't seem to like:
[code]
Instead it works if it is:
[code]

So, I think it has to do with how the style is represented in the CSS file.

[2021-04-18 22:08] pyrello opened #3380 "Admissions - Allow un-publishing of Area of Study"
# Story

As an Admissions site editor, I would like the ability to unpublish and republish areas of study content so that we can accommodate programs that pause or are removed and then start up again.

# Additional Info

It appears this is just a permissions issue.
![Screen Shot 2021-04-20 at 1 12 28 PM](https://user-images.githubusercontent.com/1017022/115444796-a8b04980-a1da-11eb-9ffb-f31479d9e1

[2021-04-18 22:15] pyrello opened #3381 "Admissions - Webmaster content permissions don't appear to match what is available"
# Problem

In attempting to look into #3380, I noticed something weird. Looking at Webmaster role permissions, it would seem that they shouldn't even be able to create an Area of Study item. However when I masquerade as someone with the Webmaster role, I can see the link to add an Area of Study. I did not see the same behavior for an Editor.

Really not sure what is going on here, but I'm pretty s

[2021-04-19 13:30] bspeare commented on #3262
@joewhitsitt should we just add the opt-out class to all of the areas of study admission process cards? It seems weird that some cards might retain the linked behavior and some not.

[2021-04-19 13:40] joewhitsitt commented on #3262
looking back on my comment, I am not exactly sure what I was thinking. opt-out class on all aos admissions process cards sounds like the immediate path forward.

[2021-04-19 13:49] #3372 closed, assigned to bspeare

[2021-04-19 13:52] bspeare commented on #3262
@joewhitsitt thanks for taking a look!

[2021-04-19 14:05] pyrello commented on #3312
@briand44 Can you take a look at the Admitted section now and help me to understand what, if anything, still needs to be done?

[2021-04-19 17:37] joewhitsitt commented on #3078
https://github.com/uiowa/uiowa/issues/3078#issuecomment-821572405

Update: classes needed to be in alphabetical order... 🤷

[2021-04-19 17:39] joewhitsitt commented on #3078
Moving forward with the styles dropdown in CKEditor instead of relying on the LinkIt workaround. Need to split for HR and provide the same but for bootstrap.

[2021-04-19 18:32] GaryRidgway commented on #3348
@bspeare I think we should. If it is not functioning correctly then it should be removed.

Also, in order to fix the 'Phone' issue without adding HTML, I've added a Pseudo element that adds a similar title to how the other titles are listed, as such.

![Screen Shot 2021-04-19 at 1 32 21 PM](https://user-images.githubusercontent.com/23122142/115285658-bd75da00-a113-11eb-8dc9-a9d51029b9dc.png)

Hope

[2021-04-20 13:22] briand44 commented on #3101
This should say OneIT (all one word, no space between One and IT) and remove the “at Iowa”.

[2021-04-20 13:31] briand44 commented on #3101
I've made the update.

[2021-04-20 13:31] #3101 closed, assigned to bspeare

[2021-04-20 13:47] briand44 commented on #3312
@pyrello it looks like the correct items are appearing when clicking on admitted students but when you click on "admitted transfer students" or "admitted international students" the menu does not show on those pages. It looks like this similar issue was fixed on the apply page.

[2021-04-20 14:01] #3348 closed, assigned to nobody

[2021-04-20 14:10] pyrello commented on #3312
I think this is done now. Please re-open if I missed anything.

[2021-04-20 14:20] joewhitsitt commented on #2971
Is this still an issue @mark-bennett-uiowa? Did this https://github.com/uiowa/uiowa/pull/3178 solve this?

[2021-04-20 14:29] joewhitsitt opened #3387 "Articles Monthly Archive block showing links where no content exist"
## Issue

As I understand it, the year pages for articles exist (e.g. https://law.uiowa.edu/news/2021). The monthly archive block if enabled is displayed on these pages. If someone clicks a month link from a different year, the link is relative and breaks.

## Notes

Law is not using SiteNow Articles for /news. It is a basic page, but the view page is still enabled.

## Proposed Solution

- Revisi

[2021-04-20 14:32] mark-bennett-uiowa commented on #2971
@joewhitsitt Yes, #3178 did solve this. Thank you! Closing issue.

[2021-04-20 14:32] #2971 closed, assigned to nobody

[2021-04-20 14:34] joewhitsitt opened #3388 "Revisit Article Breadcrumbs"
## Issue

Current article pattern is /{sitenow-articles-path}/YYYY/MM/[node:title] but because of the contextual filters, for YYYY/MM, the breadcrumbs don't show these paths as an option. There was some simplification done for reasons I don't recall.

https://www.drupal.org/project/drupal/issues/2966004
https://www.drupal.org/project/drupal/issues/2787051

## Proposed Solution

- [ ] Revisit the b

[2021-04-20 14:36] joewhitsitt opened #3389 "Articles Year Block"
## Issue

## Proposed Solution

- [ ] Create a article years block similar to the existing monthly block
- [ ] Allow the block to be toggled via SiteNow Articles configuration.

[2021-04-20 14:42] briand44 commented on #3312
Admitted Students looks good.

When clicking the following links on the apply page, "Transfer Admissions", "International Admissions" and "Additional Admissions Options", the menu does not show. I thought this was just working but I may have been looking at the dev site.

[2021-04-20 15:00] mark-bennett-uiowa commented on #2823
@pyrello Did we have this on hold or another issue replacing it? Spotlights or a featured person blocks would be great on a few of my sites.

[2021-04-20 15:03] bspeare commented on #2823
I'd like to see this use a vertical version of the banner.   Something like this:

<img width="595" alt="Screen Shot 2021-04-20 at 10 07 22 AM" src="https://user-images.githubusercontent.com/1036433/115419822-40546e80-a1c0-11eb-9336-b831a290c6dd.png">

[2021-04-20 15:52] pyrello commented on #2823
I figured out another way of handling this in the case where I was thinking about using it. I still think it would be valuable. Still probably need to define the use case a bit more clearly.

[2021-04-20 16:05] pyrello commented on #3312
I fixed those pages as well.

[2021-04-20 16:05] #3312 closed, assigned to pyrello

[2021-04-20 18:18] briand44 opened #3390 "Allow unpublishing an area of study"
# Story

As an Admissions site editor, I would like the ability to unpublish and republish areas of study content so that we can accommodate programs that pause or are removed and then start up again.

# Additional Info

It appears this is just a permissions issue.
![Screen Shot 2021-04-20 at 1 12 28 PM](https://user-images.githubusercontent.com/1017022/115444796-a8b04980-a1da-11eb-9ffb-f31479d9e1

[2021-04-20 18:43] briand44 commented on #3390
Just realized there was already an issue created related to this. Closing.

[2021-04-20 18:43] #3390 closed, assigned to nobody

[2021-04-20 19:10] briand44 opened #3392 "Embed UICapture/Panopto videos"
# Story

As a SiteNow content editor, I would like the ability to embed UICapture/Panopto videos on my website similar to YouTube and Vimeo.

Panopto does not provide an oEmbed option.

# Proposed solution

- From what we learned with https://github.com/uiowa/uiowa/issues/3450, create a generic iframe or Panopto media type where an editor provides a share URL and the url is parsed into a rendered

[2021-04-20 19:57] joewhitsitt opened #3393 "Consider iFrame Title Filter"
## Issue

SiteImprove and other a11y tools have has previously flagged our embeds for not having a "title." Since we don't directly control the iframe markup this has been out of reach.

## Proposed Solution

- [x] Audit our current embed options for title attributes and see if there are SiteImprove issues (local extension).
- [x] Install and configure https://www.drupal.org/project/iframe_title_f

[2021-04-21 13:40] richardbporter opened #3394 "APR fax phone field display"
# Problem
The APR fax phone field is not displaying on its own line.

# Steps to reproduce
https://pharmacy.prod.drupal.uiowa.edu/people/gary-milavetz

# Proposed solution
Change the display.

[2021-04-21 14:11] bspeare commented on #3389
@joewhitsitt would this block be available to be placed via layout builder?

[2021-04-21 14:46] joewhitsitt commented on #3389
I think we would have to create a separate block. The way the monthly block works is it is always attached to the view page, but then is toggled enabled/disabled through the settings form. That would happen globally where ever it was placed.

[2021-04-21 16:14] richardbporter opened #3395 "Admissions authenticated users lacking print permissions"
# Problem
Webmasters and other roles get an access denied message when visiting test print pages.

# Steps to reproduce
Masquerade as a non-admin and click the links at https://admissions.prod.drupal.uiowa.edu/areas-of-study/print-links.

# Proposed solution
Grant `Page: Use all print engines` to the authenticated use role. Export config, commit, push.

[2021-04-21 16:34] cory-skeers opened #3396 "Investigate Editoria11y and other a11y checkers"
# Story

As a content editor, I want creating and maintaining accessible content easy, and with in-platform help, so that I can provide quality, accessible content with minimal time and effort.

# Proposed solution

Take a look at Editoria11y (https://www.drupal.org/project/editoria11y), which aims to be the "spellcheck" of accessible web content creation. Test out the module on our system as a po

[2021-04-22 13:45] richardbporter commented on #3338
While digging into this, I noticed a couple interfaces provided by migrate that could be helpful for our BaseNodeSource to implement.

`docroot/core/modules/migrate/src/Event/ImportAwareInterface.php` provides `preImport` and `postImport` methods that are called automatically. We are not currently implementing this.

`docroot/core/modules/migrate/src/Event/RollbackAwareInterface.php` provides `pre

[2021-04-22 13:49] cory-skeers commented on #3338
That would be great. I'll look at adding that into #3366, and we should be able to get rid of the `postImport` listener completely then.

[2021-04-22 13:59] GaryRidgway opened #3400 "Webform styles additions."
# Story

As a webform creator I want to have more styled components in my webforms so that they feel more cohesive and on brand.

A while ago in https://github.com/uiowa/uiowa/pull/3053 there was an attempt to make new style updates to webform components. This all somehow got rearranged and removed, and I think we should eventually make a pass at adding some nice webform styles back in.

# Propose

[2021-04-22 16:30] cory-skeers commented on #3357
Notes from discussion re: image gallery.

Think we're good with appending these in the body at the end of the article. Likely use the `fetchMultiField` to grab the images, create media entities, and append these to the body using either the `replaceInlineFiles` or DOM method.

[2021-04-22 16:33] joewhitsitt opened #3401 "Audit Layout Builder Off-Canvas Styles"
# Problem

[With 9.1.7](https://github.com/uiowa/uiowa/pull/3397), a patch we had been using no longer applied that the merged solution differed greatly from what we were doing. This has resulted in regressions to our layout builder settings tray styles. Some of which were temporarily fixed in order to move forward with the security release.

# Proposed solution

- With the new reset, we should au

[2021-04-22 17:32] #3394 closed, assigned to nobody

[2021-04-22 21:23] bspeare opened #3402 "As a developer, I can use Drupal's drupal.tableheader library for sticky table headers"
# Story

As a developer, I can use Drupal's core `drupal.tableheader` library for sticky table headers so that I can utilize functionality that is already in core.

This sticky table header is already in use in views such as https://admissions.prod.drupal.uiowa.edu/areas-of-study/print-links.

<img width="815" alt="Screen Shot 2021-04-22 at 3 52 59 PM" src="https://user-images.githubusercontent.co

[2021-04-22 22:40] joewhitsitt opened #3403 "IRRC - Youtube"
## Issue

Media: YouTube is enabled on the site, tied to features and is conflicting with our SiteNow oEmbed implementation. Don't know how this wasn't a problem before. Maybe it was just discovered.

## Proposed Solution

The module needs to be removed from features and needs to be properly uninstalled from the website. I have contacted the user to find out if short-term developer placed embeds a

[2021-04-22 23:00] joewhitsitt opened #3404 "arts.uiowa.edu - past events issue..."
## Issue
The fancy reverse sort I added to docroot/sites/arts.uiowa.edu/modules/custom/arts_views/arts_views.module, does not play nicely with the events grouping.

## Proposed Solution
Remove `arts_views_views_post_execute` and what it does from the module.
(1 point)

[2021-04-23 14:30] #3403 closed, assigned to joewhitsitt

[2021-04-23 14:38] pyrello opened #3405 "Promoted search results for HawkShop"
# From the email request:
I’m hoping for those search terms to bring up the bookstore url as a result.

The urls that would be good for these terms are:

BOOKS - https://www.bkstr.com/iowastore/home
CLOTHING - https://www.bkstr.com/iowastore/shop/clothing-accessories
T-SHIRTS - https://www.bkstr.com/iowastore/search/keyword/tshirts
SUPPLIES - https://www.bkstr.com/iowastore/shop/school-supplies/sc

[2021-04-23 15:04] richardbporter commented on #3405
Plan
- Log in to Google CSE admin interface using its-web credentials in esaccess
- Edit the CSE in use on the home page
- Find promoted search terms somewhere in the interface and add the terms above

[2021-04-23 15:54] mjoneill commented on #3405
OK. Instructions indicated something about uploading text files (I assumed to root of a domain).  If it's all driven through the interface, maybe it's something I can do.

[2021-04-23 16:07] #3404 closed, assigned to richardbporter

[2021-04-23 16:56] richardbporter commented on #3209
After talking with folks, only the image slide field was updated to 4k on signage and healthcare signage. I think that should be enough.

[2021-04-23 16:56] #3209 closed, assigned to richardbporter

[2021-04-23 17:21] richardbporter commented on #2998
Sorry but I overlooked how important deleted events are to this site. The context for the feed importer is `/result/events/item/event/event_instances/item/event_instance` so it relies on deleting events from the source to "update" events when times change because each event_instance maps to different node. When times change, an event instance is removed and a new one added so its not possible to k

[2021-04-23 19:01] richardbporter commented on #2998
Rolled back for now.

[2021-04-23 19:23] richardbporter commented on #3405
Is someone working on this? I just assigned myself but can stop if so.

[2021-04-23 19:24] pyrello commented on #3405
Nope. Go for it!

[2021-04-23 20:37] richardbporter commented on #3405
None of these are showing currently (ex. https://uiowa.edu/search?terms=title%20ix) because the homepage search results are limited to only that site (even though the CSE config includes other domains). That limit is set through the module config which in turn sets the as_sitesearch attribute on the CSE. It seems like we would need to remove that constraint to get these to show up unless there is

[2021-04-23 20:40] richardbporter commented on #3405
I noticed some internal search results being returned as well: https://uiowa.edu/search?terms=icfm This is because D7 apps lost dynamic robots writing so nothing is denying those domains. We could exclude a pattern in the CSE config, maybe *.drupal.uiowa.edu?

[2021-04-23 20:41] richardbporter commented on #3405
I think these are the docs for the CSE: https://developers.google.com/custom-search/docs/element

[2021-04-26 17:54] joewhitsitt opened #3406 "As a site visitor I don't see phantom arrows on the menu for hidden sub-menu items"
# Story

Follow-up from https://github.com/uiowa/uiowa/pull/3271

As a site visitor I don't see phantom arrows on the menu for hidden sub-menu items

If all children menu items of a parent menu item are hidden, the arrows in Superfish still show and toggle on hover.

# Proposed solution
- Wait for the next superfish release containing https://www.drupal.org/project/superfish/issues/3048722.

[2021-04-26 18:20] #3188 closed, assigned to mark-bennett-uiowa

[2021-04-26 18:58] richardbporter commented on #3405
The *.drupal.uiowa.edu domain exclusion seems to have fixed this.

[2021-04-26 20:22] richardbporter opened #3409 "As a user of search, I can get directed to search.uiowa.edu if it provides value, i.e. additional results."
# Story

As a user of search, I can get directed to search.uiowa.edu if it provides value, i.e. additional results.

Unfortunately, it does not in every context. It is displayed all the time and provides no value if a site is configured to use the default CSE and not limit to the current domain.

# Proposed solution

~~Hide the link if a site is using the default CSE ID and not limiting the scope

[2021-04-26 21:12] pyrello opened #3412 "SSL Cert - gvillarini.iihr.uiowa.edu"

[2021-04-26 22:25] joewhitsitt commented on #3381
<img width="1036" alt="Screen Shot 2021-04-26 at 5 20 36 PM" src="https://user-images.githubusercontent.com/4663676/116158183-d5210580-a6b3-11eb-9e27-297452352ce7.png">

Looks like we are allow webmasters to work with all node content within the default config. https://github.com/uiowa/uiowa/issues/1355

[2021-04-27 12:48] pyrello opened #3415 "SoundCloud embed"
# Story

As a site owner I want to embed SoundCloud audio so that people can listen to it directly on my site.

# Proposed solution

If this module works with core media, use it: https://www.drupal.org/project/media_entity_soundcloud

[2021-04-27 12:52] pyrello commented on #3381
Ah ha! Thanks, @joewhitsitt. I thought I was going a little crazy. I think this is probably resolved then.

[2021-04-27 13:57] joewhitsitt commented on #3381
Closing. "Works as designed"

[2021-04-27 13:57] #3381 closed, assigned to nobody

[2021-04-27 17:13] bspeare opened #3416 "As a developer, I can integrate card style changes from UIDS and see them work in all `v2` and `v3` sites"
# Story

As a developer, I can integrate card style changes from UIDS (https://github.com/uiowa/uids/pull/533) and see them work in all `v2` and `v3` sites

# Proposed solution

Test and integrate changes from https://github.com/uiowa/uids/pull/533 on `v2` and `v3` sites.

[2021-04-27 17:41] joewhitsitt commented on #3415
we ruled out sound cloud initially for v2 based on v1 usage and offered audio instead. if there demand, so be it but with all of the talk about different embeds, maybe we need to revisit our approach.

[2021-04-27 17:47] pyrello opened #3417 "toxicology.grad.uiowa.edu - Add people list pages"
# Motivation

Human toxicology needs a set of different pages for displaying people similar to what Immunology has:
* https://immuno.grad.uiowa.edu/people/faculty
* https://immuno.grad.uiowa.edu/people/students
* https://immuno.grad.uiowa.edu/people/students/former

After #2524 is complete, this can be handled via the new people list view block.

# Proposed solution
* Create pages and add the pers

[2021-04-27 17:51] pyrello opened #3418 "amcs.uiowa.edu - Create people list pages"
# Motivation

AMCS needs a set of different pages for displaying people similar to what Immunology has:
* https://immuno.grad.uiowa.edu/people/faculty
* https://immuno.grad.uiowa.edu/people/students
* https://immuno.grad.uiowa.edu/people/students/former

After #2524 is complete, this can be handled via people list block.

# Proposed solution
* Create a person list page for:
  * [x] Faculty
  * [x]

[2021-04-27 18:05] richardbporter commented on #2998
I think the structure of the site would have to change. We'd probably need to adapt whatever structure other D7 sites with feed importers are using. I'm guessing that is moving away from the separate node-per-instance model into one event with a multi-value date field. The representative node views would need to be rebuilt. I'm sure there is other work that I can't think of right now.

[2021-04-27 18:06] bspeare commented on #3402
Closing this because this can be done via `CSS` with the `position: sticky` attribute.

[2021-04-27 18:06] #3402 closed, assigned to nobody

[2021-04-27 18:53] joewhitsitt opened #3419 "Admissions - Report of Long Text Full_HTML fields"
## Issue

We suspect that during migration, fields with full_html on the old site were migrated over to the new site the same way where editors don't have access. Additionally, fields have been marked full_html intentionally by developers to provide embeds.

## Proposed Solution

- [x] Query the admissions site for long text and long text summary fields with the full_html format. Provide the entit

[2021-04-27 19:28] mark-bennett-uiowa commented on #3358
@joewhitsitt Here are some links to the Table of Contents styling I mentioned in planning:

[https://uiowa.edu/a-z](https://uiowa.edu/a-z)
[https://policy.clas.uiowa.edu/table-of-contents](https://policy.clas.uiowa.edu/table-of-contents)
[https://policy.clas.uiowa.edu/a-z](https://policy.clas.uiowa.edu/a-z)

[2021-04-27 19:50] joewhitsitt commented on #3358
i like the clean look of titles only, but Rick mentioned folks are using the RSS feeds with these vocabs as well so having teasers display as well would help fill out those feeds.

[2021-04-27 19:55] joewhitsitt opened #3420 "Consider rabbit hole for "tags" vocabulary"
## Issue

Originally tags were pitched as an internal form of organization for use in finding content and creating filtered views. Though the appearance of content will be addressed in https://github.com/uiowa/uiowa/issues/3358, many don't know that these pages exist and think these pages should not be public. However, as it stands now, some site owners do know about them and are using the feeds t

[2021-04-27 23:04] pyrello commented on #137
I'm wondering how this intersects with providing tools for users to provide lists of embedded videos without having to specifically curate the list every time. The use case has come up where IWP would like to have a bunch of videos posted to a page on their site that represents a series. Individually posting each video on the page is hard to manage and doesn't scale very well. It would be nice to

[2021-04-28 18:35] joewhitsitt commented on #3343
Sorry but which site in the grad d7 application does this align with? I don't see the same acronym.

[2021-04-28 18:47] pyrello commented on #3343
`urban`

[2021-04-28 19:13] richardbporter commented on #3409
Hiding it automatically seems to cover all the use-cases except if down the road there is a site that:

- has a university brand exception (regents tri-funded)
- has their own cse id
- wants to limit search to their site

Maybe it should be a config option. I think that would be the easiest long term instead of dealing with politics down the road. On by default, turned off for the homepage. Let we

[2021-04-28 21:36] #3405 closed, assigned to richardbporter

[2021-04-29 13:09] #3078 closed, assigned to joewhitsitt

[2021-04-29 13:09] #3262 closed, assigned to bspeare

[2021-04-29 13:09] #3330 closed, assigned to pyrello

[2021-04-29 13:09] #3395 closed, assigned to bspeare

[2021-04-29 17:50] joewhitsitt commented on #3328
Rick created https://sitenow.uiowa.edu/node/446/edit

[2021-04-29 18:00] joewhitsitt commented on #1120
Semi-related https://github.com/uiowa/uiowa/issues/3406

[2021-04-29 19:14] quamsta commented on #696
+1  on this, we often have content campaigns that need to be bulk unpublished/published and we rely on this heavily on our current platform.

[2021-04-29 20:24] joewhitsitt commented on #2524
Ideally we would make progress with https://github.com/uiowa/uiowa/pull/2702 before adding additional functionality to the existing solution

[2021-04-29 20:29] mark-bennett-uiowa commented on #3369
This should be available to test if you get a chance @cory-skeers . I can explain what I was trying to do with the tags next week.

[2021-04-29 21:09] joewhitsitt commented on #3328
i'd be willing to help on this but purposely trying to not do it this time so that others learn the process.

[2021-04-29 21:28] joewhitsitt commented on #3419
Forgot to bring this up for grooming/planning.

[2021-04-29 22:12] joewhitsitt commented on #3170
https://github.com/uiowa/uiowa/issues/3358 would be nice for this new events category vocabulary which I think should be public viewable

[2021-04-29 22:25] joewhitsitt commented on #3170
What should the default path pattern be?

Update: Moving forward with event/[node:title] for now with the pattern locked. Since a developer turns on the split, they can go custom if they want a different path. I think for consistency compared to articles and people which can be used differently, an event is an event.

[2021-04-30 12:53] pyrello opened #3433 "Deprovision gsab.org.uiowa.edu"
The customer has requested that their site be moved from gsab.org.uiowa.edu to cgsa.org.uiowa.edu.

[2021-04-30 19:08] GaryRidgway commented on #3433
Is this a possible opportunity to have them move to v3 as well?

[2021-04-30 19:12] pyrello commented on #3433
It seems like an opportunity for that. I guess it would be up to the customer whether they have the capacity to go through that effort at the moment.

[2021-04-30 20:46] briand44 opened #3434 "Port Cost Calculator to D9 for Parking and Transportation"
# Story

As a Parking and Transportation website owner, I would like to have a cost calculator so that commuters can compare costs based on different modes of transportation.

# Additional Info
  Current cost calculator -> https://transportation.uiowa.edu/cost-calculator
  Desired location on new site -> https://transportation.prod.drupal.uiowa.edu/cost-calculator

Currently is a custom D7 module.

[2021-05-03 15:05] richardbporter commented on #3409
Whoops.

[2021-05-03 16:45] bspeare commented on #3035
**1. Safari fonts for Zilla appear to not be loading.**

<details>
<img width="1233" alt="Screen Shot 2021-05-03 at 11 41 35 AM" src="https://user-images.githubusercontent.com/1036433/116905398-89ff7900-ac04-11eb-8e01-ea40fd09d657.png">
</details>

**2.  Adjust font of majors field to match other input fields?**

<details>
<img width="1279" alt="Screen Shot 2021-05-03 at 11 38 31 AM" src="https://

[2021-05-03 16:47] joewhitsitt commented on #2739
This should be updated to state the additional requirements for past events. Currently there is a 1 year past range and a max of 50 events displayed.

[2021-05-03 16:49] mark-bennett-uiowa opened #3443 "Provision iowasummerwritingfestival.uiowa.edu and create previous functionality from iowasummerwritingfestival.org"
# Solution

- [x] Create new iowasummerwritingfestival.uiowa.edu v3 custom site.
- [ ] Migrate existing content from iowasummerwritingfestival.org to new domain.
- [x] Work with @GaryRidgway to implement existing custom workshop functionality for return to in-person workshops.
- [ ] Implement redirect from iowasummerwritingfestival.org to iowasummerwritingfestival.uiowa.edu through Hostmaster (?).

[2021-05-03 16:49] joewhitsitt commented on #971
@mark-bennett-uiowa I am working on the local event content type and was wondering what the path should be. Did you ever reach a conclusion? The event content type also has multi-dates and repeats.

PR: https://github.com/uiowa/uiowa/pull/2765
Issue/Question: https://github.com/uiowa/uiowa/issues/3170#issuecomment-829635036

[2021-05-03 17:02] joewhitsitt commented on #971
I am seeing a lot of examples of just using the event/[node:title] pattern. Of course, events of the same name get the -0, -1, treatment, but is that a bad thing in this case? The benefit of multi and repeat dates is that they can use the one event and it will house all of the instances. If the instances are unique enough that they are separate nodes, I don't think the -0, -1, is that bad.
https:/

[2021-05-03 17:19] mark-bennett-uiowa commented on #971
@joewhitsitt I dont believe we ever reached a conclusion. Current events pulled from Content Hub get paths like: [https://socialwork.uiowa.edu/event/63481/0](https://socialwork.uiowa.edu/event/63481/0) or [https://socialwork.uiowa.edu/event/63536/3](https://socialwork.uiowa.edu/event/63536/3). It appears that the /3 comes from a repeating date in Content Hub. We dont seem to use the date in the pa

[2021-05-03 17:43] richardbporter commented on #3433
Unfortunately, this requires a new provision, deployment and file/db sync. We've talked about actually supporting renaming in the past but haven't got there yet.

[2021-05-03 17:46] richardbporter commented on #3433
The rename process would at least involve:

- Removing the filesystem test that checks each site.
- Renaming the site directory.
- Updating the sites.php file.
- Updating the site's blt.yml file.
- Deploying a release.
- Renaming the site's files directory.

Creating new sites, syncing them and deleting the old ones might actually be the cleaner option.

[2021-05-03 18:39] joewhitsitt commented on #971
@mark-bennett-uiowa I might have caused some confusion by commenting here. content.uiowa.edu events don't have that pattern. We are dynamically doing that based on content.uiowa.edu events instances API that is offered. events.uiowa.edu creates a different id for each instance. This local content type feature, AFAIK, won't have those dynamic instance pages. Users click and see the all-encompassing

[2021-05-03 19:42] #3248 closed, assigned to nobody

[2021-05-03 19:42] #3380 closed, assigned to joewhitsitt

[2021-05-03 19:45] #3328 closed, assigned to bspeare

[2021-05-03 19:46] bspeare opened #3444 "SiteNow Updates News Article - May"
## Issue/Solution

Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link (https://sitenow.uiowa.edu/node/451/edit)
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  - See https://siten

[2021-05-03 20:11] richardbporter commented on #3136
Ran into an issue where the old site .gitignore prevented the site settings.php file from being committed.

[2021-05-03 21:06] richardbporter commented on #3136
I can't seem to get the site to show up in DD. I'm not sure if that is a requirement or not. I added it to the checklist because it seems like it to me.

[2021-05-03 21:07] richardbporter commented on #3136
We might need to create the site in DD first, then copy in assets like themes, modules, etc.

[2021-05-03 21:11] bspeare opened #3445 "Layout builder columns do not correctly render if adjacent columns are empty"
# Problem
Layout builder columns do not correctly render if adjacent columns are empty

# Steps to reproduce
As reported by @bewoldt, you can view the issue at https://stanleymuseum.prod.drupal.uiowa.edu/giving.

<details>
<img width="1471" alt="Screen Shot 2021-05-03 at 3 58 59 PM" src="https://user-images.githubusercontent.com/1036433/116932938-854cbc00-ac28-11eb-9e19-72be53259695.png">
<img wid

[2021-05-03 21:31] bspeare opened #3446 "Site name and uiowa logo are not clickable on larger monitors"
# Problem
The Iowa Bar site name link and uiowa logo are not clickable on larger monitors

# Steps to reproduce
As reported by @pyrello, try to open https://grad.uiowa.edu/ on a large monitor full screen and try clicking on the site name.

# Proposed solution
Add a z-index solution for `site-name` to bring it above the search toggle wrapper that is blocking the link: https://github.com/uiowa/uiowa

[2021-05-03 21:40] GaryRidgway commented on #3433
Talked to Lucas today and he seems generally on board with migrating to V3. I explained to him the process once he response I will comment with an update. This might turn out to be as easy as a site provision. **Fingers crossed**

[2021-05-03 22:52] pyrello opened #3447 "`table` classes were broken in table update"
# Problem
Classes starting with `table--` had the `table` part removed as part of the update hook in #3379.

# Proposed solution
Update hook to match the remaining classes that were affected and to replace them with the correct version.

[code]

[2021-05-04 13:40] richardbporter commented on #3136
Had to hack the datamodel to get in DD. Also had to copy a uiowa702 version of the Drush alias to sync.

[2021-05-04 13:41] richardbporter commented on #2735
Just noticed that DD does not have PHP 7.4 and 7.3 is EOL later this year.

[2021-05-04 13:48] joewhitsitt commented on #2735
:drupal_cry:

[2021-05-04 13:48] richardbporter commented on #3136
The rsync is a little awkward but works: `drush @commencement.dev rsync @commencement-uiowa702.prod:%files @self:%files`

[2021-05-04 13:51] richardbporter commented on #3136
This was already updated after syncing.

[2021-05-04 13:57] richardbporter commented on #3153
We can still do that for D7. For D9, it'd be nice to automate the entire process run it every few months.

[2021-05-04 15:06] richardbporter commented on #3412
I added the domain to uiowa02 as well.

[2021-05-04 15:06] #3412 closed, assigned to richardbporter

[2021-05-04 15:52] richardbporter commented on #3136
I had to run cc all, rr, cron a few times to get rid of Missing Feeds plugin FeedsExJsonPath error.

[2021-05-04 18:54] joewhitsitt opened #3449 "Transportation - Cost Calculator Configuration Form"
Follow-up to https://github.com/uiowa/uiowa/issues/3434

# Story

As a webmaster, I can update the transportation cost calculator with the necessary variables and have it feed the calculator similar to the D7 website.

# Proposed solution

- [x] Create configuration form to handle the calculator variables.
- [x] Wire up form config to calculator
- [x] Update transportation's permissions to allow w

[2021-05-04 19:17] briand44 opened #3450 "Investigate using media_iframe for UICapture/Panopto Embeds"
# Story
As a site owner, I can embed a UICapture or Panopto video in my site so that I can share those videos with visitors.

# Motivation
UICapture/Panopto embeds do not use OEmbed, which is necessary for the remote video media type that we are currently using. We need another solution for this type of embed.

# Proposed solution
- Investigate whether we can use the [media_iframe](https://www.dru

[2021-05-04 19:19] briand44 commented on #3450
look into https://www.drupal.org/project/media_iframe

Ideally the first slice of this is entering a url and outputting a id using a media object.

[2021-05-04 19:32] GaryRidgway commented on #3433
They have agreed to migrate to v3. This is now to deprovision after migrated.

[2021-05-04 19:33] pyrello commented on #3419
This is going to be slightly more difficult than I was originally thinking because of text areas in blocks in Layout Builder. The entity ID in the field table is for the block and so we can't provide it to the client like we can with a node ID.

[2021-05-04 19:36] bspeare opened #3451 "Remove `page__container` class from the `Normal` option in the layout builder container styles"
# Problem
Selecting `Normal` for a layout container adds extra margins on smaller breakpoints.

# Steps to reproduce
As reported by @bewoldt, try to add a background color to a `Normal` section and move the browser to a smaller breakpoint and notice that extra margins are added.

# Proposed solution
- Remove `page__container` class from https://github.com/uiowa/uiowa/blob/c05630523a8d365227edb66a7

[2021-05-04 19:45] joewhitsitt commented on #3419
Changed the IS to show an earlier version of the MEGA update hook where it went through each db table instead where the entity id is available

[2021-05-04 19:52] #3136 closed, assigned to richardbporter

[2021-05-04 19:54] joewhitsitt commented on #3136
Easy peasy? open the floodgates to more moves?

[2021-05-04 20:13] pyrello commented on #3419
The entity ID is the block content ID, which isn't helpful unless you know which node ID they correspond to.

[2021-05-04 20:15] joewhitsitt commented on #3419
ah

[2021-05-04 20:17] cory-skeers commented on #3419
Get the list of full html block IDs, then check the `layout_builder__layout` field for instances of any of the block IDs in the blob text?

[2021-05-05 13:09] pyrello opened #3453 "Create media collections"
# Motivation
IWP wants to create a page listing 150 videos (and counting) posted on Vimeo as part of a series. Additionally they want to curate pages with smaller collections based on topic. I discouraged them from using the article for this and am wondering how we would propose someone handle something like this?

# Proposed solution
* Implement #137.
* Create a view block for media collections w

[2021-05-05 13:37] pyrello commented on #2739
Updated the story and proposed solution to reflect what has been done and what is still being requested.

[2021-05-05 13:59] joewhitsitt commented on #3170
Need to figure out how to wrangle multiple dates, repeats for teaser card. (e.g. "Multiple dates from May 5, 2021 to August 1, 2021")

[2021-05-05 15:11] bewoldt opened #3454 "superfish 3rd level menus show offscreen"
# Problem
The Horizontal navigation style will sometimes show 3rd level menu items off-screen when the text is too long.

<img width="934" alt="Screen Shot 2021-05-05 at 9 58 23 AM" src="https://user-images.githubusercontent.com/731952/117164001-d1634200-ad89-11eb-93dd-2c2a18424f79.png">

<img width="922" alt="Screen Shot 2021-05-05 at 9 58 08 AM" src="https://user-images.githubusercontent.com/731

[2021-05-05 15:45] richardbporter commented on #3153
I think the D9 automated task should be split from this. It is currently possible to get a list by running Drush commands on each application and then formatting the output a bit. I think this issue should be renamed to _get_ a list.

SNv1
`drush @sites herky-list-users --last-login='6 months ago'`

Sites that return the error `No users found` have no users that logged in within the last 6 months.

[2021-05-05 15:52] joewhitsitt commented on #3170
I think multiple dates/repeating is a nice feature for editors but goes against the future of the web from an SEO perspective. An event is a single instance that can be part of a series or "schedule."
https://developers.google.com/search/docs/data-types/event
https://schema.org/eventSchedule

[2021-05-05 15:55] richardbporter opened #3455 "As a developer, I can receive automated emails of inactive sites."
# Story

As a developer, I can receive automated emails of inactive sites. This automated task should run every _blank_ months and notify the team of sites where nobody has logged in for over 6 months.

It could email the site webmasters directly and CC the team to start the conversation of seeing if the site is still needed.

# Proposed solution

Create a ~BLT~ or Drush command that could be run

[2021-05-05 15:56] richardbporter commented on #3153
Related #3455

[2021-05-05 15:59] richardbporter opened #3456 "As an Arts Iowa site owner, I can view a proof of concept of the site built in SNv3."
# Story

As an Arts Iowa site owner, I can view a proof of concept of the site built in SNv3.

# Proposed solution

Use an empty site in dev or stage to stub out the basic IA of the current arts.uiowa.edu. Each category page would need a sidebar nav and the events block placed filtering by the corresponding tags/keywords. The past events feature could be added as well to demo that.

Front page TBD

[2021-05-05 16:22] richardbporter commented on #723
Blocked by #3383

[2021-05-05 16:29] richardbporter opened #3457 "Remove unused scheduled tasks from all applications."
Cron memory utilization is still pretty high. Each application stack metrics page is showing the entire subscription rather than just that application. Some applications have cron tasks that could probably be deleted.

It would be good to audit all production scheduled tasks for all applications on the uiowa subscription and remove unnecessary ones.

I removed as many as I could from uiowa701/2/3.

[2021-05-05 17:01] briand44 opened #3485 "Additional pdf page for Admissions"
# Story

As an Admissions site owner, I want to convert the Global Assessment Certificate Program (GAC) to a PDF so that this pages can print consistently between browsers.

# Additional Info
Should be listed at the bottom of https://admissions.uiowa.edu/at-iowa-print

Here is the existing page on the new site.
https://admissions.prod.drupal.uiowa.edu/academics/gac

# Proposed solution
- [x] Updat

[2021-05-05 17:08] briand44 opened #3486 "Webform fields don't respect field width settings"
# Story

As SiteNow webform creator, I would like my form fields to respect the width I set, so that we don't have very large fields when the input only accepts a small number of characters.

# Additional Info
An example of this https://admissions.prod.drupal.uiowa.edu/biomedical-sciences-supplemental-application. The ACT and SAT fields have a size of 15 defined but are showing as 100% width.

# P

[2021-05-05 17:10] briand44 commented on #3419
Update: Scott mentioned in today's meeting that he expects all of the Areas of Study fields currently using full html, don't need to be (no embeds or anything currently in these). Likely all items listed in report will need fixed.

[2021-05-05 17:40] #3447 closed, assigned to nobody

[2021-05-05 17:50] joewhitsitt opened #3458 "Move UI Events functionality to uiowa_events"
## Story

As a sprint demo attending customer, I can expect speedy development of my [event](https://github.com/uiowa/uiowa/labels/uiowa_events) [feature](https://github.com/uiowa/uiowa/labels/sitenow_events) knowing the foundation and organization of the functionality has been we thought out and architected to accomodate the variety of event-like features on the SiteNow v2 and v3 platform.

## Is

[2021-05-05 18:13] #3343 closed, assigned to joewhitsitt

[2021-05-05 18:14] bewoldt opened #3459 "Component headings not consistent"
# Problem
When adding multiple components horizontally across a section, the headings don't align to the top. It looks like the events component has an extra margin applied to it whereas the People and Articles components do not have this.

`.block-inline-blockuiowa-events {
    margin-top: 1.25rem;
}`

<img width="1034" alt="Screen Shot 2021-05-05 at 1 09 32 PM" src="https://user-images.githubuse

[2021-05-05 18:17] pyrello commented on #3419
Does this mean he is requesting that we update the field format in addition to identifying it?

If so, we can maybe put some basic parameters around it (such as limiting it to Areas of Study content items), but beyond that, it is pretty much going to be all or nothing. That means if they did happen to have any content that is not compatible with the limited HTML format, it will get wiped out the n

[2021-05-05 18:29] briand44 commented on #3419
asking in the admissions slack channel to clarify. Depending on Scott's response could we possibly update all areas of study fields to use the appropriate text format but just provide the list for non areas of study?

[2021-05-05 18:39] bewoldt opened #3461 "Article Featured Image caption breaking page layout"
# Problem
When you add a caption to the Featured Image in an article, the caption wrapper is visibly hidden but has a width of 100% and is breaking the page.

<img width="1082" alt="Screen Shot 2021-05-05 at 1 29 30 PM" src="https://user-images.githubusercontent.com/731952/117192235-1649a180-ada7-11eb-95cc-ea56353a8aa7.png">

<img width="1088" alt="Screen Shot 2021-05-05 at 1 27 09 PM" src="https:

[2021-05-05 18:50] cory-skeers opened #3462 "Can't remove collections items"
Looks like the "extra actions" dropdown has fallen off, making it impossible to remove individual collection items.

# How to recreate

Add a Collections block with a few items.
Try to remove an item.

# Proposed solution

~Check that the delete option is available in the dropdown~ Checked this, and it is. The dropdown toggle button is just inaccessible.
Adjust CSS so that the dropdown options are

[2021-05-05 18:54] joewhitsitt commented on #2040
Is this issue still needed @mark-bennett-uiowa ?

[2021-05-05 18:54] pyrello commented on #3419
I think so.

[2021-05-05 18:54] joewhitsitt commented on #2150
Wondering if @ABoston88 is planning on doing this?

[2021-05-05 18:55] joewhitsitt commented on #2171
@briand44 is this different than what we just delivered?

[2021-05-05 18:58] briand44 commented on #2171
No, this can be closed. Thanks for digging it up.

[2021-05-05 18:58] #2171 closed, assigned to nobody

[2021-05-05 19:00] joewhitsitt commented on #2256
@mark-bennett-uiowa with the recent table adjustments, is this still an issue?

[2021-05-05 19:01] #3264 closed, assigned to cory-skeers

[2021-05-05 19:02] joewhitsitt commented on #2298
We have fullcalendar in the codebase (grad thesis defense calendar) and should probably be used for most use-cases. Care if I close this?

[2021-05-05 19:02] joewhitsitt commented on #2347
Closing in favor of #3358

[2021-05-05 19:02] #2347 closed, assigned to nobody

[2021-05-05 19:03] bspeare opened #3464 "Update table styles for `view-people` after recent tables update"
# Problem(s)
- The recent tables update added the striped row design everywhere where it is not necessary on the people tables built in views.
- The `display:table` property on the https://journalism.uiowa.edu/people table is creating browser overflow because it is interfering with `flex-direction: row-reverse;` set on the card.

# Steps to reproduce
- Go to https://americanstudies.uiowa.edu/peopl

[2021-05-05 19:05] joewhitsitt commented on #2390
Closing. This is done. Thanks @dnkemper

[2021-05-05 19:05] #2390 closed, assigned to dnkemper

[2021-05-05 19:06] dnkemper commented on #2390
CRUD. SORRY AND THANK YOU @joewhitsitt

[2021-05-05 19:17] GaryRidgway opened #3465 "SSL Cert - *.iwp.uiowa.edu on uiowa02"
This is on uiowa02

[2021-05-05 20:05] joewhitsitt commented on #3276
I've looked at what has been written and I am wonder something similar to what Danielle hinted at in Slack. We have several possible communication methods, but which ones do we _need_ to do? We don't want to spend a lot of time on this stuff as it happens.

Did the help desk say what their preferences were regarding this when they came to us with concerns? For the rest of our community which list

[2021-05-05 20:12] mark-bennett-uiowa opened #3467 "SSL Cert for iowasummerwritingfestival.uiowa.edu on uiowa01"
Updating uiowa01 SSL certificate to include coverage for iowasummerwritingfestival.uiowa.edu

[2021-05-05 20:13] joewhitsitt commented on #2433
Can this be closed? I don't see a top border anymore
<img width="1181" alt="Screen Shot 2021-05-05 at 3 13 05 PM" src="https://user-images.githubusercontent.com/4663676/117203278-72ff8900-adb4-11eb-9d4d-14e937009d07.png">

https://americanstudies.uiowa.edu/news

[2021-05-05 20:25] dnkemper commented on #3276
@joewhitsitt THIS ^^^ 👏 👏 👏

[2021-05-05 20:25] joewhitsitt commented on #2572
I think this was covered by https://github.com/uiowa/uids/issues/480

Can you confirm @mark-bennett-uiowa

[2021-05-05 20:27] joewhitsitt commented on #3045
This is no longer an issue: https://www.drupal.org/project/media_entity_instagram/issues/3190830#comment-14000275

[2021-05-05 20:27] #3045 closed, assigned to nobody

[2021-05-05 20:31] dnkemper commented on #3276
Added the [#3276 (comment)](https://github.com/uiowa/uiowa/issues/3276#issuecomment-810487548)

Added to only tweet if catastrophic and have to?

BUT still questions I don't feel comfortable answering on my own...

Definitely wasn't comfortable w/ this issue 😬

[2021-05-05 20:32] joewhitsitt commented on #3276
@briand44 are you comfortable with answering some of these questions? https://github.com/uiowa/uiowa/issues/3276#issuecomment-832971820

[2021-05-05 21:02] mark-bennett-uiowa commented on #3467
This certificate has been created and is now in place on uiowa01. Closing.

[2021-05-05 21:02] #3467 closed, assigned to mark-bennett-uiowa

[2021-05-05 21:11] #3416 closed, assigned to bspeare

[2021-05-05 21:21] bspeare opened #3470 "As a developer, I can use the card styles defined in the `card--person` styles outside of the person content type"
# Story

As a developer, I can use the styles defined in the `card--person` styles outside of the person content type.

# Proposed solution

- [x] Refactor and rename `card--person` styles to be used in https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/content/person.scss#L62-L121 and move to https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/

[2021-05-05 21:22] mark-bennett-uiowa commented on #3465
Created and installed a new SSL certificate for uiowa02 covering *.iwp.uiowa.edu. Revoked old outdated certificate from Certificate Manager, removed unnecessary CSR, and deactivated previous certificate for uiowa02.

[2021-05-05 21:22] #3465 closed, assigned to mark-bennett-uiowa

[2021-05-05 21:36] #3170 closed, assigned to joewhitsitt

[2021-05-05 21:39] joewhitsitt commented on #3172
@richardbporter would you say this is blocked by https://github.com/uiowa/uiowa/pull/3383 or do you think a poor cron task can run regularly for this?

[2021-05-06 13:21] quamsta opened #3472 "Images need to be resampled before being rendered to templates"
# Story

As a developer and user of the CMS I want to be able to upload images to components in such a way so that they can be resampled or limited to a maximum resolution automatically by SiteNow so that loading times are reduced, bandwidth is reduced, and that images don't have to be resized manually.

Users of the SiteNow platform will likely have uploaded extremely large images (think: 10MB st

[2021-05-06 13:25] quamsta opened #3473 "Ability to provision a "reduced" or "light" version of a site without default homepage components and sections"
# Story

As a developer, I need to provision many sites and needing to remove default example pages, example components and sections on the home page is time consuming and frustrating

# Proposed solution

Allow an option for "no default content" when requesting a site provision with a separate database dump that doesn't contain a lot of example content.

[2021-05-06 13:27] richardbporter commented on #3172
It should run once a day at least which seems like it'd be enough, right? This doesn't seem as critical to be down to the minute like publish/unpublish.

[2021-05-06 13:33] quamsta opened #3474 ""Sibling" or other pages in a section are not shown in the side navigation"
# Story

As a user of SiteNow, I'd expect to see what current "section" of the site I'm in via the side navigation, but currently the side navigation only shows "children" or pages under the current site:

Example:

On the page "Jean Jew Award," we see that page's menu children, which is correct:

<img width="514" alt="Screen Shot 2021-05-06 at 8 29 15 AM" src="https://user-images.githubuserconten

[2021-05-06 13:33] joewhitsitt commented on #3472
We are currently using responsive image, lazy loading for almost every image. Additionally everything should be cached pretty heavily to reduce load times. We had webp turned on but there was a conflict and we [had to turn it off](https://github.com/uiowa/uiowa/issues/1476). Can you be more specific with where you think there could be improvement?

[2021-05-06 13:35] pyrello commented on #3472
It sounds like this is a request to initially resize the image when it is uploaded so that the source image is not enormous. Can you confirm @quamsta?

[2021-05-06 13:35] #2762 closed, assigned to nobody

[2021-05-06 13:36] joewhitsitt commented on #3474
I wouldn't call this a bug. It is working as we designed it. We also have issues already that work to make this an enhancement.

https://github.com/uiowa/uids/issues/453
https://github.com/uiowa/uiowa/issues/3200

[2021-05-06 13:37] pyrello commented on #3474
@quamsta One layer of complexity in this is that we are currently using the same menu blocks to provide horizontal and vertical menus, so any solution like this is going to need to account for both form factors.

[2021-05-06 13:38] joewhitsitt commented on #3172
Correct. I imagine someone will be impatient depending on the event, but they can manually archive them.

[2021-05-06 13:38] #3306 closed, assigned to joewhitsitt

[2021-05-06 13:42] joewhitsitt commented on #2533
@mjoneill can this issue be closed since it was moved to "Done?"

[2021-05-06 13:43] joewhitsitt commented on #2587
Relates to https://github.com/uiowa/uiowa/issues/3418 and https://github.com/uiowa/uiowa/issues/3417

[2021-05-06 13:43] mjoneill commented on #2533
Yes.

[2021-05-06 13:44] #2533 closed, assigned to nobody

[2021-05-06 13:44] joewhitsitt commented on #2597
This is available via #2396. Renamed to relate to lb event block

[2021-05-06 13:45] bspeare commented on #2143
Going to close this one for now :)

[2021-05-06 13:45] #2143 closed, assigned to nobody

[2021-05-06 13:58] joewhitsitt commented on #2924
Can we move the guts of this issue over to https://github.com/uiowa/uiowa/issues/2784 where it is already pointed?

[2021-05-06 13:59] joewhitsitt commented on #3459
Can we close this issue in favor of https://github.com/uiowa/uiowa/issues/2871 which addresses the headings among other things?

[2021-05-06 14:12] #2977 closed, assigned to dnkemper

[2021-05-06 14:12] joewhitsitt commented on #2960
FYI, element--light-intro/element--bold-intro was added as a WYSIWYG style dropdown item recently. Not sure if that changes the scope of this issue.

[2021-05-06 14:15] bspeare commented on #2960
@joewhitsitt good point. I updated the solution.

[2021-05-06 14:20] bspeare commented on #2056
Closing this for now after UX improvements were made in https://github.com/uiowa/uiowa/pull/3245.

[2021-05-06 14:23] pyrello commented on #2587
I think this can be closed in favor of #2524

[2021-05-06 14:23] #2587 closed, assigned to nobody

[2021-05-06 14:25] bspeare commented on #2247
Closing this now that it is very outdated and mostly complete.  https://github.com/uiowa/uiowa/issues/2722 is still relevant, but doesn't seem necessary to be a part of an epic.

[2021-05-06 14:25] #2247 closed, assigned to nobody

[2021-05-06 14:28] pyrello commented on #2524
The work in #2702 should allow doing this via the view directly, at least for V3. I think that it will still need to be added to V2 using the steps outlined above.

- Enable the Person block list view.
- Add the person types and person types status fields to the view filters and expose them.
- Need to figure out a way to generalize the solution that was put in place to improve the UX of the person

[2021-05-06 14:39] pyrello commented on #3369
@mark-bennett-uiowa If this is going to be closed by a PR, then our standard practice is to put it into the Blocked column until the PR merges.

[2021-05-06 14:42] mark-bennett-uiowa commented on #3369
@pyrello Sorry, I thought that the PR had already been merged and we were waiting for closer to launch to actually run the migration. Ill move this back to Blocked/Waiting.

[2021-05-06 14:44] richardbporter commented on #2241
We talked about this today and were wondering if it was still needed. Another potential option is to pick an existing v2 site without a site split and treat that as the "default" v2 site. For example, https://hawkeyemarchingband.uiowa.edu/ has been used extensively to test v2 changes and content. We could all agree to use that and then close this.

If that won't work or isn't a good idea, we may n

[2021-05-06 14:46] pyrello commented on #2241
I'm not sure this is actually needed anymore. A real life site is probably fine.

[2021-05-06 14:46] #2241 closed, assigned to nobody

[2021-05-06 14:52] pyrello commented on #3333
I think that we handled this with the April update email and dispatch communication.

[2021-05-06 14:52] #3333 closed, assigned to nobody

[2021-05-06 14:57] joewhitsitt commented on #2056
I am not against closing issues, but the improvements didn't include the block descriptions which this issue and the d.o issue are about. Thoughts?

[2021-05-06 14:58] joewhitsitt commented on #3462
Relates to #3401

[2021-05-06 15:19] bspeare commented on #2056
I think the d.o. issue might be sufficient enough documentation for the improvements?  I'm not sure how having this duplicate issue here helps.   @pyrello what do you think?  It seems like https://github.com/uiowa/uiowa/issues/2722 is a more relevant issue for the platform.

[2021-05-06 15:20] bspeare commented on #2727
# Additional page layout possibilities

- Calendar icon next to the body content
- Separate the date and time on new lines in the card

<img width="1488" alt="Screen Shot 2021-05-07 at 10 40 27 AM" src="https://user-images.githubusercontent.com/1036433/117474660-c2fb5e80-af20-11eb-8cf6-7ab95ff746da.png">

[2021-05-06 15:35] briand44 commented on #3142
We should communicate with Jessica Richardson once this is planned and when it will be rolling out so she can communicate the change with users.

[2021-05-06 15:40] pyrello commented on #2056
It is not uncommon for us to create local issues to track things that we are waiting for in the community. It is a local artifact for us to occasionally review and be reminded of. We are probably never going to pull work from the drupal.org issue queue, so having a local representation can be helpful.

I agree that #2722 is probably something that will happen sooner.

[2021-05-06 15:45] bspeare commented on #2056
Added some new labels and reopened.  I don't think this issue is as as useful after the changes made in https://github.com/uiowa/uiowa/pull/3245 and the idea in https://github.com/uiowa/uiowa/issues/2722 sounds more relevant.

[2021-05-06 16:00] dnkemper opened #3475 "Deprovision lungimaging.sites.uiowa.edu on uiowa701"
Deprovision lungimaging.sites.uiowa.edu on uiowa701

[2021-05-06 16:34] dnkemper commented on #3276
https://wiki.uiowa.edu/display/drupaldev/Communication+Plan+for+Service+Outage

[2021-05-06 16:42] briand44 commented on #3276
Attempting to answer questions from above.

Yes, I think those values are good. The most important is to have the urgency as critical when there is an outage. Last time I had the Type as Acquia Platform/Services mainly because I was aware Acquia was having issues.

[2021-05-06 16:50] briand44 commented on #3276
No, they were mostly asking what they should do in the event they are notified of an outage off hours. Who do they contact on our team and how?

I would say we use the SiteNow announcements list and the UIWeb list as the main channels and we can also mention it in Slack . Those are really the only two email lists we currently do anything with so I think that is where we start. This can evolve as n

[2021-05-06 17:14] mark-bennett-uiowa opened #3484 "As an "internal" user, I can see non-public node(s) without having editing access to the site"
# Story

An issue what brought up today about giving Dean's Office staff (without editing access to the site) access to view certain "internal" nodes that are not visible to the public.

I could easily see adding this small handful of people as "Viewers" for the site, but I was curious if we had a solution for how to "hide" the node from public view without archiving or unpublishing the node.

[2021-05-06 17:58] richardbporter commented on #3485
Should this be in uiowa/uiowa?

[2021-05-06 18:34] bspeare commented on #3485
Yes

[2021-05-06 19:45] #3369 closed, assigned to mark-bennett-uiowa

[2021-05-06 20:26] #3115 closed, assigned to nobody

[2021-05-06 20:27] #3357 closed, assigned to nobody

[2021-05-06 20:38] richardbporter commented on #3238
Hm. Did #3256 resolve this?

[2021-05-06 20:43] richardbporter commented on #3167
Probably but maybe we should remove the point label and move this to the backlog until we know more about a proposed solution?

[2021-05-06 20:57] pyrello opened #3489 "Add LB style options to people list block"
# Story

As a site owner I use card styles with the people list block created in #2702 to take advantage of all the card options that have been developed.

# Proposed solution

- [x] Enable the Person block list view.
- [x] Provide layout builder style options related to card (background, image position, image format, content alignment, image size, card border)
- [x] Default styles for new instanc

[2021-05-06 20:59] quamsta commented on #3472
@pyrello @joewhitsitt

I might have been confused by a discussion we had during a web community meeting about resampling images. There was some talk of manually resizing images via external services like https://compressor.io so I was under the impression that images were always being served at their original size. That freaked me out a bit.

Good to know about the responsive images thing, thank y

[2021-05-06 21:06] bspeare commented on #3462
A hotfix for this would be to update https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/admin.scss#L891-L894:
[code]

[2021-05-06 21:11] pyrello commented on #2524
This is now blocked by #3489.

[2021-05-06 21:20] joewhitsitt commented on #3472
Not sure if this is up-to-date but the link below shows what are the "max" dimensions that would be loaded if the display called it. In most cases it never pulls those though. The biggest is person photo for some reason (2592×2592). We use ImageMagick but it is still set at 95% quality so it doesn't compress as much as compressor.io, etc.

https://sitenow.uiowa.edu/documentation/media/images-and-f

[2021-05-06 21:35] joewhitsitt commented on #3484
If using the view role/unpublished content is not a solution for you @mark-bennett-uiowa, can we close this in favor of this existing issue? https://github.com/uiowa/uiowa/issues/2305

[2021-05-06 21:37] joewhitsitt commented on #2305
Could the viewer role be repurposed and redefined if this ends up as a feature split instead of default?

[2021-05-07 13:42] bspeare commented on #2727
Updated calendar date format list style:

![calendar-list](https://user-images.githubusercontent.com/1036433/117458545-06999c80-af10-11eb-9c1e-e3e6afeda6b6.png)

[2021-05-07 14:18] bspeare commented on #3171
I don't know whether this is in the scope of this particular issue, but we might want to look into styling this view of events like the screenshot here: https://github.com/uiowa/uiowa/issues/2727#issuecomment-834403434.

[2021-05-07 14:19] richardbporter commented on #3456
The downside of using an empty site in dev/stage is that if they want to move forward with this then we have redo the content work after creating the actual site. Would a better option be to just provision the site out and do the work there?

[2021-05-07 14:27] #2824 closed, assigned to nobody

[2021-05-07 14:31] #3485 closed, assigned to dnkemper

[2021-05-07 14:51] pyrello commented on #3167
Sounds good to me.

[2021-05-07 14:53] pyrello commented on #3238
Yes

[2021-05-07 14:53] #3238 closed, assigned to nobody

[2021-05-07 17:00] joewhitsitt opened #3498 "As a site owner, I want generated emails sent reliably without risk of being filtered."
## Issue

There is very little we can do as developers to deal with emails that come from our websites. Our websites are increasingly using webform to create workflows for their organizations and expect email delivery to just work.

There is also a disconnect between emails coming from Acquia and how Office365 processes them causing developers to converse both with Acquia and ITS Email when issues

[2021-05-07 17:12] cory-skeers commented on #3401
Checked through the collections and slider forms as part of #3479 bug fix, and the dropdown-toggle/remove bug looks to be the only issue there.

There's still a possibility of cleanup and consolidation, but the overall updates to fix the bug were fairly light.

Other block forms could still use auditing.

[2021-05-07 18:18] briand44 opened #3499 "Career Center Video Embeds"
# Story

As a content editor for the Career Center, I would like to be able to embed Candid Career videos so that students can have access to career educational videos directly on our site.

# Additional Info
This request if for their SiteNow v3 site that currently exists at https://careers.stage.drupal.uiowa.edu/.

I created a test page with an example of an embedded video using full html at http

[2021-05-07 18:28] pyrello commented on #3419
@bspeare brought up during our update hook session that we can probably exclude block content from the report since we didn't migrate any content into the page content type. So, the existing `full_html` fields related to block content should be all intentional. Does that seem right? @richardbporter and/or @cory-skeers?

[2021-05-07 18:33] cory-skeers commented on #3419
That...is a very good point, and I think a fair assumption. The full_html blocks should only be the embeds we've added on various pages then. And if we can update all AoS fields, then that simplifies things quite a bit, doesn't it?

[2021-05-07 19:01] joewhitsitt opened #3501 "Replace article custom block with views-based alternative"
# Story

As a site owner I want to use a views block with new functionality from #2702 to build my article lists so that I can make use of the enhanced functionality.

# Reference

https://github.com/uiowa/uiowa/pull/2702 and related follow-up PRs (hotfixes, orphans)
https://github.com/uiowa/uiowa/issues/4267

# Proposed solution

- [x] Create the Article list view block similar to the People list

[2021-05-07 19:06] joewhitsitt opened #3502 "Clean up uids_base after replacement articles and people blocks are created"
There might be leftover styles related to the SiteNow Articles/People block types that should be cleaned up after the new ListBlocks have been created and pushed.

## Created from

https://github.com/uiowa/uiowa/issues/2351

## Blocked by

https://github.com/uiowa/uiowa/issues/3501
https://github.com/uiowa/uiowa/issues/3489

[2021-05-07 19:07] joewhitsitt commented on #2351
Closing in favor of new issues to create ListBlock replacements that can implement the card styles as part of the deliverable as well as a clean up task for unused styles that remain in uids_base.

https://github.com/uiowa/uiowa/issues/3489
https://github.com/uiowa/uiowa/issues/3501
https://github.com/uiowa/uiowa/issues/3502

[2021-05-07 19:07] #2351 closed, assigned to dnkemper

[2021-05-07 20:09] richardbporter commented on #3419
Yea I think that makes sense. We only migrated AOS data.

[2021-05-07 20:37] #3462 closed, assigned to cory-skeers

[2021-05-07 20:43] bspeare opened #3503 "As a site user, I can see a link to land acknowledgment to footer of all sites"
- "UI Indigenous Land Acknowledgement"
- https://nativeamericancouncil.org.uiowa.edu

(2 points)

[2021-05-07 20:54] #3434 closed, assigned to richardbporter, GaryRidgway

[2021-05-07 21:04] briand44 opened #3506 "Investigate localization/translation options"
We've heard the need for translation widgets on sites using the SiteNow service. I'd like us to better understand should/if/how we can meet this need for folks.

- Do browsers handle this? Just Chrome?
- Translation widgets? Status of Google Translate other free widgets?
- Could widgets be managed through GTM or would we need to be involved?
- Actual content localization?
- What should we be recom

[2021-05-07 21:18] joewhitsitt commented on #2899
Looks like smart_date 3.2.0 cleans up the end date label now with https://www.drupal.org/project/smart_date/issues/3208136

<img width="567" alt="Screen Shot 2021-05-07 at 4 17 00 PM" src="https://user-images.githubusercontent.com/4663676/117509432-da9e0b80-af4f-11eb-8168-810878fe1006.png">

[2021-05-07 21:25] #3503 closed, assigned to bspeare

[2021-05-10 13:34] quamsta opened #3508 "Differentiate actions (especially destructive actions) in the Drupal editor menu by icon or color"
<img width="653" alt="Screen Shot 2021-05-10 at 8 21 23 AM" src="https://user-images.githubusercontent.com/472923/117665688-b79a7400-b168-11eb-8081-f47aebe2a7df.png">

# Story

As a content editor, I find myself accidentally clicking "Delete" too often when I really want to click "Edit" or "Layout" Does the "Delete" button need to be nestled in between "Edit" and "Layout" in the top navigation in

[2021-05-10 13:49] pyrello commented on #3419
Preliminary runs seem to suggest that we are going to update some items that are AoS's and Transfer Tips (because they were created from the original AoS) and we will have one other page, which I'm assuming is an embed we did for them.

[2021-05-10 14:17] richardbporter commented on #3498
Assigning myself to update this with relevant info.

[2021-05-10 14:24] joewhitsitt commented on #3506
Related for Grad: https://github.com/orgs/uiowa/projects/1#card-60495860

[2021-05-10 14:46] richardbporter commented on #3498
Tried to update the story. Restarted that thread for some more info. I think it should stay in our shared inbox.

[2021-05-10 15:13] pyrello commented on #3450
Updated the description.

[2021-05-10 15:56] bspeare commented on #3450
@joewhitsitt when you have a moment, could you take a look at https://github.com/uiowa/uiowa/pull/3509 and evaluate the module's functionality?

[2021-05-10 17:19] joewhitsitt commented on #3450
My initial thoughts are that this looks promising for Panopto being stored as a media entity instead of as a CKEditor object but I see some fundamental things that should probably change which _might_ warrant us forking or writing our own version of media_iframe (not the iframe module).

- I think the labels that the editor sees are misleading and should be changed. As a user, if I click to add an

[2021-05-10 18:37] bspeare opened #3512 "People page filter wrapping to two lines in some browsers"
# Problem
The People page filter wrapping to two lines in some browsers due to the very long character count of some Research Areas.

# Steps to reproduce

View https://anthropology.uiowa.edu/people in chrome, safari, and firefox.
<img width="1371" alt="Screen Shot 2021-05-10 at 1 33 47 PM" src="https://user-images.githubusercontent.com/1036433/117707872-b97a2c80-b194-11eb-9b7e-53243ca5d659.png">

[2021-05-10 18:39] mark-bennett-uiowa commented on #3512
Im guessing this has to do with the length of some of the Research Areas, if not the sheer volume they have. This was due to get cleaned-up post launch, but thank you for noticing this issue @bspeare!

[2021-05-10 18:41] bspeare commented on #3512
@mark-bennett-uiowa Yes, your Research Area length has helped expose this!

[2021-05-10 20:05] #3358 closed, assigned to bspeare

[2021-05-10 20:14] quamsta commented on #2924
@joewhitsitt Totally fine to mark this as a duplicate as that issue (is that something you all do?) I didn't see that original issue, which is similar. I'll comment on the original issue too.

[2021-05-10 20:16] joewhitsitt commented on #3171
I think the custom path requirement should be removed. I had troubles with ignoring this path at the feature split level which is different than the default article/person paths. That and I think _if_ local events are used, they should have consistent paths. A developer implementing the feature split can split the path config if changes are needed.

[2021-05-10 20:19] joewhitsitt commented on #2924
@quamsta thanks! trying to keep the backlog manageable by consolidating where possible. We usually just say "closing in favor of #X" which links to and back.

[2021-05-10 20:19] quamsta commented on #2784
Might have made a duplicate issue here: https://github.com/uiowa/uiowa/issues/2924

But in general, this is something we'd like to see before migrating some Student Life sites with longform text/articles/posts. Ensuring readability by limiting the line length is something we think is really important across the board and all websites could benefit from it.

Providing an option to do this seems lik

[2021-05-10 21:01] quamsta commented on #2924
Duplicate of #2784

[2021-05-10 21:01] quamsta commented on #2924
Closing in favor of #2784

[2021-05-10 21:01] #2924 closed, assigned to nobody

[2021-05-11 07:52] mark-bennett-uiowa commented on #2305
@joewhitsitt I think this would work for my needs in #3484 as long as we could accomplish this without giving these users editing rights. Closing that issue in favor of this solution.

[2021-05-11 07:53] mark-bennett-uiowa commented on #3484
Closing in favor of #2305.

[2021-05-11 07:53] #3484 closed, assigned to nobody

[2021-05-11 13:44] bspeare commented on #1609
@pyrello is this issue still needed?

[2021-05-11 13:49] pyrello commented on #1609
It looks like we accomplished this at some point :)

[2021-05-11 13:49] #1609 closed, assigned to nobody

[2021-05-11 13:59] joewhitsitt opened #3515 "Deprovision lab sites on 701"
The owners of these websites are no longer with the university.

Related to ticket 1048267

- kwitek.lab.uiowa.edu
- adams.lab.uiowa.edu
- attanasio.lab.uiowa.edu

contact Lori Strommer with any questions

update sites spreadsheet after

[2021-05-11 14:26] #3419 closed, assigned to nobody

[2021-05-11 15:49] joewhitsitt commented on #3171
Based on the conversation at the Drupal meeting I think the view should be hardcoded as config within the feature split. Admissions should then site split the view for their needs.

We then need to prioritize https://github.com/uiowa/uiowa/issues/3458 so that the feature split can be served by a dedicated module that will handle the custom functionality better.

[2021-05-11 15:52] joewhitsitt commented on #3171
https://github.com/uiowa/uiowa/issues/3151 is still something to consider but has other problems to solve.

[2021-05-11 18:05] mjoneill opened #3516 "Refactor Admissions Main Landing Page"
Partner indicated that they are open to iteration on the main Apply page for admissions.  Current prototype page exists here https://admissions.prod.drupal.uiowa.edu/apply-now and is functionally modeled on http://admissions.uiowa.edu/apply/apply.

Some problems/opportunities:

- The page is called "apply" and the CTAs are currently not about applying...
- Grad college application disambiguation i

[2021-05-11 18:18] cory-skeers commented on #2030
Potentially related to #3396 (explore https://www.drupal.org/project/editoria11y) as an alternative.

[2021-05-11 18:29] bspeare commented on #1120
Related Drupal.org issue: https://www.drupal.org/project/superfish/issues/3107671.

[2021-05-11 18:35] joewhitsitt opened #3517 "Superfish Keyboard Navigation Improvements"
Split from https://github.com/uiowa/uiowa/issues/1120
## Issue

- User becomes lost in sub-menu—keyboard pattern?
- Keyboard pattern? Can these elements be focusable by tab; child elements by directionals?

[2021-05-11 18:38] joewhitsitt commented on #1120
Keyboard navigation items have been split off here: https://github.com/uiowa/uiowa/issues/3517

[2021-05-11 19:27] pyrello opened #3518 "Update people blocks instances to people list view blocks."
# Story
As a site owner, all my existing people blocks will use the new list view created in #2702 so that I can use all the new functionality.

Split from #3489

# Proposed solution
- [ ] Update hook to:
  - [ ] Query existing instances of the `uiowa_people` block in LB sections.
  - [ ] Unserialize the section into its class structure.
  - [ ] Loop through components and find the `uiowa_people`

[2021-05-11 19:28] pyrello opened #3519 "Clean up people block config, noodle code, etc."
# Motivation

After completing #3518, the `uiowa_people` block type and any noodle code, configuration, or specific styles that were necessary to support it can be removed.

# Proposed solution

- [x] Replace preprocess_block logic in SiteNow People related to people block.
- [x] Remove People block content type.
- [x] Remove fields that are unique to People block content type.
- [x] Re-export con

[2021-05-11 20:27] joewhitsitt commented on #3171
So even though #3513 was closed, I would like to hijack this issue and update it for when we can tackle and provide this functionality.

[2021-05-11 20:35] mjoneill commented on #2924
Is there a slice through this that would be suitable for an accessibility sprint?

[2021-05-11 20:42] joewhitsitt commented on #3173
Did we need to talk events with Admissions again before starting this? Seemed like the definition of event changed a bit when we told them what we were building.

[2021-05-11 20:45] bspeare commented on #3173
In last week's meeting, Scott mentioned that he wanted to talk about it this week.

[2021-05-11 20:49] joewhitsitt commented on #3475
@dnkemper Re: parking lot -  is this blocked for any reason? Brian wondered.

[2021-05-11 20:50] dnkemper commented on #3475
@joewhitsitt @briand44 nope. Wasn't on support last week.

[2021-05-11 20:53] briand44 commented on #3475
@joewhitsitt I believe this issue was the one I was concerned about https://github.com/uiowa/uiowa/issues/3433. Doesn't look like it has the deprovision label though.

[2021-05-11 20:55] dnkemper commented on #3475
lol didn't even know we had a deprovision label

[2021-05-11 20:58] pyrello commented on #1320
Suggested method of resolution: Add an `icon.html.twig` file that takes in the icon class as an argument an replace all the instances of the icon in other templates with that template.

[2021-05-11 21:02] joewhitsitt commented on #2073
This might be hard to address if we aren't the ones adding the role=navigation. Similar to https://github.com/uiowa/uiowa/issues/1119

[2021-05-11 21:31] #3515 closed, assigned to joewhitsitt

[2021-05-11 21:31] #3475 closed, assigned to joewhitsitt

[2021-05-12 14:12] pyrello commented on #3276
Can this be closed?

[2021-05-12 14:13] dnkemper commented on #3276
CRAP! Thank you Sean!

[2021-05-12 14:13] #3276 closed, assigned to dnkemper

[2021-05-12 15:15] mjoneill opened #3520 "Embed covid BI dashboard on coronavirus website"
Story: As a coronavirus site owner, I can have the data update on https://coronavirus.uiowa.edu/covid-19-numbers via an embedded BI dashboard that refreshes every wednesday, is accessible, and does not require site editor time to keep current.

Value:
* Health/safety
* Reduced overhead for content curation

Proposed tasks (preliminary):

- Create a duplicate, unpublished page and embed the test da

[2021-05-12 15:25] mjoneill commented on #3520
@briand44 this is emergent work from this morning.  I captured a loose story that can likely be curated, etc...  Where are there questions/where can I add clarification?

[2021-05-12 16:53] mjoneill commented on #3520
Removed the previous "note" that was duplicative of this (and less defined)

[2021-05-12 16:58] briand44 commented on #3520
Thanks @mjoneill. I think there is enough clarification here to get a start on this. My only concern was accessibility/brand going the route of the embed vs api. I think we can learn from this fairly quickly though. I see you just added a be aware section that share these concerns.

[2021-05-12 17:05] joewhitsitt commented on #2396
I updated the IS with a few thoughts around the "landing page" event or as I have it, "Series." Admissions said that these would be unlisted on their site (robots no follow). I think with each of the options, that should be an override and not a default.

[2021-05-12 17:05] briand44 opened #3521 "Secondary menu on tuition and estimated costs page"
# Story

As an admissions site owner, I would like to be able to have a secondary menu on the tuition and estimated costs page so that it is easier for international students and part time students to find their relevant costs.

# Additional Info

The following link is the page where the secondary menu is desired.
https://admissions.prod.drupal.uiowa.edu/finances/estimated-costs-attendance

We nee

[2021-05-12 17:07] joewhitsitt commented on #3173
I don't think the discussion at the Admissions meeting blocks or changes this work.

[2021-05-12 19:08] richardbporter commented on #3450
I don't see a way of doing that in the module code.

The module code is very minimal. Using it as template for a more restricted Panopto widget of our own seems viable.

[2021-05-12 19:49] bspeare opened #3523 "Troubleshoot and fix formatting issues on for areas of study and test PDFs"
# Problem

## Areas of Study
Some Areas of study PDFs are breaking to the second page immediately after the "Course Work" heading:
- https://admissions.prod.drupal.uiowa.edu/print/pdf/node/3406
- https://admissions.prod.drupal.uiowa.edu/print/pdf/node/3381

## Tests
There are some styles that might not be covered in the test print styles:

**A few examples:**

- https://admissions.prod.drupal.uiow

[2021-05-12 21:22] #3449 closed, assigned to richardbporter, GaryRidgway

[2021-05-13 13:31] pyrello commented on #3450
I don't think that we can accomplish everything that we need for this to work with this module. Either we utilize it and then build additional custom code to build upon it (my favored approach since it is community supported and has a very light footprint) or we build something that approximately duplicates this and add our custom logic to that. Doing the second will make it harder to potentially

[2021-05-13 18:28] bewoldt opened #3525 "Handling images in the WYSIWYG editor"
# Problem
When you add a large image in the WYSIWYG editor it will create a horizontal scrollbar. If the image is floated, the edit button appears offscreen and is not clickable.

<img width="687" alt="Screen Shot 2021-05-13 at 1 26 26 PM" src="https://user-images.githubusercontent.com/731952/118169689-d90c9180-b3ee-11eb-9032-c152e372baba.png">

# Proposed solution
add a max-width: 100% to images

[2021-05-14 13:46] #3489 closed, assigned to pyrello

[2021-05-14 14:49] richardbporter commented on #3520
We've embedded this on on the stage site for evaluation: https://coronavirus.stage.drupal.uiowa.edu/power-bi-test

[2021-05-14 15:09] richardbporter commented on #3520
Waiting on review from TM.

[2021-05-14 16:38] bspeare commented on #3508
@quamsta One thing that I wonder about this is if all the icons on each local task create more visual clutter to an already busy interface.   What if we reserved the icons for a few important actions?  I've added a screenshot below as an example.

<img width="1494" alt="Screen Shot 2021-05-14 at 11 35 17 AM" src="https://user-images.githubusercontent.com/1036433/118301568-d8d0cc80-b4a8-11eb-9a10-e

[2021-05-14 17:53] cory-skeers opened #3528 "Deprovision felder.lab.uiowa.edu on uiowa701"
V3 site has been provisioned and launched. D7 site is ready to be deprovisioned on uiowa701.

[2021-05-14 18:42] briand44 commented on #3528
removed

[2021-05-14 18:42] #3528 closed, assigned to nobody

[2021-05-14 20:52] pyrello commented on #3508
Usage doesn't seem appropriate to have as a button, IMO. I'm wondering if, after the conversation regarding people's concerns about deleting content whether it might not be better to just remove the "Delete" tab altogether?

[2021-05-14 20:55] richardbporter commented on #3517
It seems like SF does not clone menu parents on tab events which means keyboard users cannot get to the actual link. We attempted to fix this in #3527 but then realized this issue was split out. We started with 1ae499413d27787b5d2bc06c2428ff671daf5f57 but it needs more thought/testing.

[2021-05-14 21:00] GaryRidgway commented on #3517
With this as well, when tabbing in to the menu we should probably only scope the click event to fire if the menu is not already open.

[2021-05-14 21:22] #1120 closed, assigned to bspeare

[2021-05-17 13:51] quamsta commented on #3508
@pyrello , yeah I could see us totally removing "Delete" from that spot all together, I think that would be good

@bspeare

I like this idea! I still want to push for some iconography or some way to visually distinguish the three actions, "View," "Edit," "Layout." Here's my reasoning:

### Reason 1:
 In my opinion, those three actions are the "big three" actions that users do when managing and edi

[2021-05-17 16:25] cory-skeers opened #3533 "SSL coverage for obermann.uiowa.edu on uiowa01"

[2021-05-17 16:50] cory-skeers commented on #3508
Another request that had been made had been to either change the Save button on the Edit screen or add an additional button for "Save and Edit Layout." Similar request due to the confusion between Edit and Layout, and this might be a good time to consider as part of a "let's make this less confusing" effort.

[2021-05-17 17:25] richardbporter commented on #3533
OIC

[2021-05-17 17:34] richardbporter commented on #3533
Installed.

[2021-05-17 17:34] #3533 closed, assigned to richardbporter

[2021-05-17 18:15] joewhitsitt commented on #3523
Caption doesn't seem to apply any styles we give it (even `!important`). Debug works. We suggest for this particular instance that the caption be shortened. CLAS instead of the full college name for example

[2021-05-17 19:07] richardbporter commented on #3523
Similar to caption, multiple rowspan issues exist in dompdf: https://github.com/dompdf/dompdf/issues?q=is%3Aissue+is%3Aopen+rowspan+

We may not be able to fix the display issues caused by rowspans occuring at page breaks. The only solution may be to not use rowspans and duplicate the rows where that is ocurring.

[2021-05-17 19:29] joewhitsitt commented on #3523
This one seems the most current with a circular path linking back to it: https://github.com/dompdf/dompdf/issues/1388

[2021-05-17 20:40] richardbporter commented on #1899
We can add this in our JS but I'm wondering if we actually need it. Alerts are added/removed in their entirety and not individual parts of it - time, description, etc. I actually don't see existing alerts being updated on the same page without a refresh happening.

[2021-05-17 20:44] joewhitsitt commented on #3523
Though the solution may not be ideal, I believe we have remedied all of the reported issues with fixes and workarounds in #3529

[2021-05-17 20:46] quamsta opened #3534 "SiteNow email receipt could have the requested site URL or something indicating which site was requested"
# Story

As a requester of a SiteNow site, it'd be nice to see in the email receipt which domain was requested. I thought I requested six sites, but I have five receipts. Not sure if this is because the receipt emails didn't make it to my inbox (see: https://github.com/uiowa/uiowa/issues/3498) or if I missed one. And if I missed one, I can't tell which one I didn't submit.

Attached is the current

[2021-05-17 20:50] richardbporter commented on #1898
Custom alerts already have the `role=region` attribute and `aria-label`:

![image](https://user-images.githubusercontent.com/1068523/118554757-7802f780-b727-11eb-81a3-cfa51e79514d.png)

Do they also need `aria-labelledby`?

[2021-05-17 21:00] joewhitsitt commented on #1898
not the custom alert message, the hawk alert?

[2021-05-18 13:44] pyrello commented on #3508
There is a PR open (#3370) to test drive Gin, which is a newer Admin theme. I'd be interested to see what, if anything, we can learn from that theme.

[2021-05-18 13:46] cory-skeers opened #3537 "SSL Certs on uiowa01"
Cert coverage for:

- endingviolence.uiowa.edu
- speakout.uiowa.edu

on uiowa01

[2021-05-18 13:47] cory-skeers opened #3538 "SSL Certs on uiowa02"
Cert coverage for:

- youth.dance.uiowa.edu (*.dance.uiowa.edu)
- legal.studentlife.uiowa.edu (*.studentlife.uiowa.edu)
- parents.uiowa.edu
- executive.jobs.uiowa.edu (*.jobs.uiowa.edu)
- wkrajewski.iihr.uiowa.edu multisite (*.iihr.uiowa.edu)

on uiowa02

[2021-05-18 16:36] joewhitsitt commented on #2073
@inspector508 we looked into this more and realized that it isn't roles that are nested but html nav elements. This is also only reported by AInspector and not our other tools (SiteImprove, WebAIM, Lighthouse). Should this still be remedied?

You can see the issue here: https://sandbox.prod.drupal.uiowa.edu/about

[2021-05-18 18:18] #3516 closed, assigned to nobody

[2021-05-19 13:37] pyrello commented on #2256
@mark-bennett-uiowa Nudge about whether this is still an issue. I don't think this should be labeled a bug since it was working as intended.

There is a `table--gray-borders` class available for adding borders: https://sitenow.uiowa.edu/documentation/wysiwyg

[2021-05-19 13:42] pyrello commented on #3418
Blocked by #2524

[2021-05-19 13:45] pyrello commented on #3417
This is blocked by #2524.

[2021-05-19 15:04] pyrello commented on #2259
As a first slice through this, we are going to create:
* A new custom block type
* with a multi-value entity reference field that can reference articles and people
* that relies on existing teaser displays for styling children
* with a Headline field
* that affects the h size of the children in the collection
* with permissions for Editors and Webmasters
* and allowed to be placed in Layout Builde

[2021-05-19 15:06] richardbporter commented on #1899
I don't think we need this as alerts are not updated dynamically - they are only added or removed from a wrapper div. See https://default.dev.drupal.uiowa.edu/ as an example.

@inspector508  can you confirm this?

[2021-05-19 15:13] richardbporter commented on #1899
Some more info: incoming alerts have `role=alert` which I think implies `aria-live`. In previous in testing, they were announced on creation. I'm not sure if removals are announced or not. We talked about maybe putting `aria-live` on the wrapper div with `aria-relevant=removals` to maybe cover that.

[2021-05-19 15:15] #1898 closed, assigned to nobody

[2021-05-19 16:25] #2277 closed, assigned to nobody

[2021-05-19 17:14] joewhitsitt commented on #2259
Thought about providing a more link similar to the other "collection" blocks, but not necessarily as part of the current MMF

[2021-05-19 19:07] bspeare commented on #3464
I have updated the scope of this to focus only on the draggable view table and added an additional bug that is happening with this table.

[2021-05-19 19:35] joewhitsitt commented on #3520
Meeting with Keith from SiteImprove, the PowerBI embed was navigable using JAWS but the table was not in the proper structure. Keith was unable to tell which number statistic related to what. Using NVDA, Keith was able to enter the embed using a non-standard combination of keys but then was not able to hear the inner table results.

Keith recommended that navigation aside, the table should be prop

[2021-05-19 19:42] richardbporter commented on #2259
Headline/children field is set up but we don't know of a way to get at the relationship between the block and node.

[2021-05-19 20:04] #3523 closed, assigned to nobody

[2021-05-19 20:06] bspeare commented on #3508
Gin adds this toolbar at the top of the layout edit screen:

<img width="1626" alt="Screen Shot 2021-05-19 at 3 02 21 PM" src="https://user-images.githubusercontent.com/1036433/118877041-939b0900-b8b3-11eb-8386-ac8003831dd6.png">

Maybe we could move the edit tools into this top bar?

<img width="1633" alt="Screen Shot 2021-05-19 at 3 00 04 PM" src="https://user-images.githubusercontent.com/103643

[2021-05-19 20:12] mark-bennett-uiowa commented on #3508
@bspeare I like the idea of a edit toolbar like your second screenshot. Very nice!

Does the Discard Changes button and Revert to Default buttons get removed from LB?

[2021-05-19 20:50] bspeare commented on #3508
@mark-bennett-uiowa those actions are under the gear toggle in that header but there's a pop-up that tells you there's unsaved changes.

[2021-05-19 21:04] joewhitsitt commented on #2259
Before this issue is closed, a follow-up task for page support should be created

[2021-05-19 21:07] joewhitsitt opened #3546 "Docs - Featured Content Block Type"
https://sitenow.uiowa.edu/documentation/layout-builder

Proposed Solution

- Document the block type similar to the other block types. IMO, this should document which content types are available for selection.

[2021-05-19 21:10] pyrello commented on #3546
https://sitenow.uiowa.edu/documentation/layout-builder/featured-content-block

[2021-05-19 23:50] mjoneill commented on #3520
Thanks for making this investment, Joe. We're not going to use this on the site.

I found the discussion about asterisks to be informative and insightful.

[2021-05-20 13:36] mjoneill commented on #3520
Unblocking this. Our campus partner has revised the dashboard and has asked us to re-evaluate the accessibility experience.

I'd like our team's take on it and @inspector508 if he can help.

If we want Keith's investment, we can set that up again.

[2021-05-20 13:38] quamsta commented on #3508
@bspeare
That Gin Admin theme is sweet, really slick looking 👍. I dig it.

I wonder how we're going to roll it out since a new admin theme like that is going to completely change the way the editors work in the sites. I worry it might be a big shift that we'd have to make for training, etc.

Is it possible to do this in phases where we introduce the icons and then provide a custom admin theme (tha

[2021-05-20 13:39] pyrello commented on #2259
I'm not sure we should close this issue without articulating all the things that we didn't do for the first pass at this feature.

[2021-05-20 14:36] joewhitsitt commented on #1803
Are permissions accounted for in this? Split perms will need to be updated so editors can use blocks, etc.?

[2021-05-20 14:43] cory-skeers commented on #1803
Added it as another bullet in the "improved options." Think we have a general idea of the path for updating perms like when we updated coronavirus, but we do need to make sure it doesn't get overlooked, whether that's a manual split change or scripted.

[2021-05-20 15:44] bspeare commented on #3521
Closed an approved by the client: https://admissions.prod.drupal.uiowa.edu/finances/estimated-costs-attendance.

[2021-05-20 15:44] #3521 closed, assigned to nobody

[2021-05-20 16:06] joewhitsitt commented on #3520
Looks like it was switched to a non-table presentation which on the surface looks more accessible but the confusion about how to enter the embed to begin with still remains.
<img width="660" alt="Screen Shot 2021-05-20 at 11 05 09 AM" src="https://user-images.githubusercontent.com/4663676/119012159-643fd700-b95b-11eb-8655-3b3e092fb2a0.png">

Update: Using VoiceOver, I am able to navigate into the

[2021-05-20 17:33] joewhitsitt commented on #2826
Following guidelines here: https://webaim.org/techniques/tables/data

I couldn't find an accessible use-case besides serving as an anchor for allowing more granular id capabilities so I left that off for this pass.

[2021-05-20 17:43] richardbporter commented on #2259
In honor of a11y day, I gave the headline issue a shot in #3552.

[2021-05-20 19:03] #2826 closed, assigned to joewhitsitt

[2021-05-20 20:17] joewhitsitt commented on #3534
This should be done now for new requests. Maybe we should consider limiting how many sites a user can request in a span of time. 😉

[2021-05-20 20:17] #3534 closed, assigned to nobody

[2021-05-21 14:51] briand44 opened #3899 "Migrate news articles for College of Education"
Will get more details when we get closer to tackling this.

## Proposed solution

- Migrate all existing articles.
- Maintain published/unpublished status
- Tags, Affiliations are migrated to Tags. (Might have a list of consolidation for us to map)
- Source Title -> Organization
- Source Link -> Source Link
- Image -> Featured Image (site-wide default)
- Caption -> stripped and truncated to captio

[2021-05-21 16:17] joewhitsitt commented on #1320
curious @pyrello what the icon template would look like. trying to understand if the juice is worth the squeeze if the majority of the markup is specifying the classes. I see the benefit of making mass changes, but I doubt this would change much.

`<span role="presentation" class="fas fa-user"></span>`

[2021-05-21 20:20] quamsta commented on #3534
Haha thanks for this @joewhitsitt . Just tested this with a new request and it worked great :)

[2021-05-21 21:08] joewhitsitt commented on #3461
so the caption is supposed to be shown on the full node if the image is set to display, so I think we can scope this a bit better.

[2021-05-21 21:17] joewhitsitt commented on #3461
...which appears to no longer be working.

update: going to see if i can get this working again and remove it from the teaser.

[2021-05-24 13:44] #3525 closed, assigned to nobody

[2021-05-24 13:48] richardbporter commented on #657
Outdated.

[2021-05-24 13:48] #657 closed, assigned to nobody

[2021-05-24 13:48] richardbporter commented on #1981
I think this is done.

[2021-05-24 13:48] #1981 closed, assigned to nobody

[2021-05-24 13:50] richardbporter commented on #2272
Outdated.

[2021-05-24 13:50] #2272 closed, assigned to nobody

[2021-05-24 13:52] richardbporter commented on #3457
I'm not sure this needs to be an actionable item as long as we all have an understanding to remove scheduled tasks from D7 applications for sites that have migrated to D9 or been deleted.

[2021-05-24 13:52] #3457 closed, assigned to nobody

[2021-05-24 13:53] #3266 closed, assigned to dnkemper

[2021-05-24 15:31] richardbporter opened #3558 "Node teaser heading size is set incorrectly on first cached render"
# Problem
The node teaser heading size is set incorrectly on first cached render for bundles that implement the headline field.

# Steps to reproduce
Add the Articles block to a page and enter a title and set the heading size to h3 for example. Inspect the LB edit page markup and see that child elements are set to h4 which is correct. Save the page and inspect the same markup and see that the chil

[2021-05-24 19:33] briand44 opened #3559 "Adjust delete permissions"
# Story

As a site owner, I would like to limit delete rights so that content is not accidentally or mistakenly deleted since it cannot be easily recovered.

# Additional Info

Only allow editors to delete content they "own". I think this could be done the same for publishers as well since they do have the ability to archive content but would like to get feedback on the team if this should be done

[2021-05-24 20:30] richardbporter commented on #325
Would this still be necessary if v2 goes away?

[2021-05-24 20:32] richardbporter commented on #722
I'd be inclined to wait for a more concrete use case on this one.

[2021-05-24 20:34] richardbporter commented on #1881
This seems like more a site-owner responsibility to me. Many sites already have contact info in the branded footer.

[2021-05-24 20:39] richardbporter commented on #726
I think we should stick with the current login redirect destination.

I feel like the announcements subscription plus RSS feeds kinda covers this.

This is already in the toolbar.

Have we been keeping up with tours? 😬

[2021-05-24 20:44] richardbporter commented on #861
Seems like we all manage things together now. :)

[2021-05-24 20:45] joewhitsitt commented on #325
nope

[2021-05-24 20:46] richardbporter commented on #1141
I'm curious if this still happening.

[2021-05-24 20:47] richardbporter commented on #1258
We now run request-based cron every 3 hours so this is even less valuable.

[2021-05-24 20:50] richardbporter commented on #1606
I'm assuming this would be necessary for v3 conversion?

[2021-05-24 20:51] richardbporter commented on #1671
I feel like that kinda covers it in a nutshell. All of those policies probably need to be revisited.

[2021-05-24 20:53] richardbporter commented on #1689
These would not be on-brand. 👎🏻

[2021-05-24 20:54] richardbporter commented on #1892
I do not. I have not used Asana that much. I know other team members are not huge fans of it.

[2021-05-24 20:57] richardbporter commented on #2040
I don't think this module is in the codebase anymore.

[2021-05-24 20:57] #2040 closed, assigned to mark-bennett-uiowa

[2021-05-24 20:59] richardbporter commented on #2120
I don't think this is worth doing.

[2021-05-24 21:00] #325 closed, assigned to nobody

[2021-05-24 21:01] briand44 commented on #1258
@richardbporter I think the idea at the time was for webmasters to have the ability to change these settings.
![Screen Shot 2021-05-24 at 4 00 29 PM](https://user-images.githubusercontent.com/1017022/119407039-464edb00-bca9-11eb-9ab8-d02f463cc2bf.png)

[2021-05-24 21:01] richardbporter commented on #859
I'm not sure this worth doing for SiteNow v1, at least not custom sites as they vary widely with user management setups.

[2021-05-24 21:04] richardbporter commented on #2150
I wonder if the workshops make this unnecessary?

[2021-05-24 21:10] #1320 closed, assigned to joewhitsitt

[2021-05-25 13:40] #3464 closed, assigned to nobody

[2021-05-25 13:40] #3512 closed, assigned to nobody

[2021-05-25 15:19] joewhitsitt opened #3561 "Make Article Featured Image Caption Render Again"
With https://github.com/uiowa/uiowa/pull/3550 we are sweeping a regression under the rug until we can reimagine how a caption on an article should render for all devices or decide to deprecate and remove the caption functionality.

Before we decide to remove/deprecate the caption functionality, keep in mind there is a global caption field and that there have been requests to provide better attribu

[2021-05-25 16:44] quamsta opened #3564 "CMS User Permissions by AD Group? Is this possible?"
# Story

As a supervisor who supervises student employees who manage content on a variety of sites, on our current platform we have an Active Directory group that we can remove/add people to that dictates their permissions on our sites, which allows us to blanket grant access to our websites or revoke access to all of them if needed.

# Proposed solution

It would be a great enhancement to have, s

[2021-05-25 16:55] joewhitsitt commented on #3564
A site can split and set these up similar to [sitenow.uiowa.edu](https://github.com/uiowa/uiowa/blob/main/config/sitenow.uiowa.edu/uiowa_auth.settings.yml) and [brand.uiowa.edu](https://github.com/uiowa/uiowa/blob/main/config/brand.uiowa.edu/uiowa_auth.settings.yml)

[2021-05-25 16:59] joewhitsitt commented on #3559
I think adding this to just the editor role makes sense to me. We gave editors more permissions initial because we didn't have publisher and we didn't want sites to just make everyone a webmaster. We can rely on the publisher role more to give a step up in access without warranting promotion to webmaster.

[2021-05-25 18:04] briand44 commented on #3520
Closing this for now as there is no action items for our team. Will reopen if needed at a later date.

[2021-05-25 18:04] #3520 closed, assigned to nobody

[2021-05-25 18:27] bspeare commented on #3450
Closing this since our investigation into the module is complete.

[2021-05-25 18:27] #3450 closed, assigned to bspeare

[2021-05-25 18:47] #3100 closed, assigned to dnkemper

[2021-05-25 19:26] joewhitsitt commented on #3538
Done

[2021-05-25 19:26] #3538 closed, assigned to joewhitsitt

[2021-05-25 19:27] cory-skeers commented on #696
https://www.drupal.org/project/workbench_moderation_actions was a no-go, but a good reference. Started an exploratory PR, but more digging could be done for other pre-existing solutions.

[2021-05-25 19:38] joewhitsitt commented on #3537
Done.

[2021-05-25 19:38] #3537 closed, assigned to joewhitsitt

[2021-05-25 19:46] cory-skeers commented on #696
Patch https://www.drupal.org/project/drupal/issues/2797583#comment-13235791 and module https://www.drupal.org/project/moderated_content_bulk_publish available for some of this. Needs some testing, but off the bat, there's some confusion because the default publish and unpublish actions remain available, leading to multiple publish, publish latest revision, etc. actions that are similar, may or may

[2021-05-26 14:10] pyrello opened #3567 "Add ID field to all block types"
Epic https://github.com/uiowa/uiowa/issues/3311

# Story

As a V3 SiteNow site owner I want to be able to set a unique id on my blocks so that I can take advantage of functionality that existed in V2.

# Proposed solution
- [x] Review https://github.com/uiowa/uiowa/issues/3567#issuecomment-1103864040 below. Determine whether patch from https://www.drupal.org/project/drupal/issues/3015152 will be n

[2021-05-26 14:11] pyrello commented on #2259
Follow up issue: #3567

[2021-05-26 14:11] #2259 closed, assigned to nobody

[2021-05-26 14:15] pyrello opened #3568 "Next steps for p2lb"
Determine next steps to get #1803 moving again.

Proposed next steps: https://github.com/uiowa/uiowa/issues/3568#issuecomment-857177504

[2021-05-26 16:20] dnkemper opened #3569 "Update pdf styles for admissions"
- [x] Fix the css styles so it doesn't break before a table
- [x] Update row span -> separated rows and updated thead vs tbody so consistent and distinguishes the table headers from the content associated with them. A majority of the tables had text above it for the title - so made all tables do that, and applied the header style to title instead of using a p tag to make it known that it's the tit

[2021-05-26 18:43] #3518 closed, assigned to nobody

[2021-05-26 19:57] #696 closed, assigned to nobody

[2021-05-26 21:11] bspeare opened #3571 "Cards within layouts need `flex-basis:100%`"
# Problem
The layout preview and actual page display a different view of the card.

# Steps to reproduce
https://jobsexecutive.prod.drupal.uiowa.edu/about-university

<img width="1607" alt="Screen Shot 2021-05-26 at 3 44 44 PM" src="https://user-images.githubusercontent.com/1036433/119731747-ec7f1a00-be3c-11eb-981e-fa19ada52a35.png">

<img width="1495" alt="Screen Shot 2021-05-26 at 4 10 56 PM" sr

[2021-05-26 21:14] #3461 closed, assigned to nobody

[2021-05-27 14:16] pyrello opened #3573 "Docs - Update people block page"
@pyrello

[2021-05-27 16:18] briand44 opened #3575 "Make Degree abbreviation field not required on Area of Study"
# Story

As an admissions site editor, I want to be able to add a degree for an area of study without choosing a degree abbreviation so I can accommodate open majors.

# Proposed solution

[2021-05-27 20:13] pyrello commented on #3546
I feel like this is good enough for now.

[2021-05-27 20:14] pyrello commented on #3573
I think we can call this good for now.

[2021-05-27 20:14] #3573 closed, assigned to nobody

[2021-05-27 20:16] #3546 closed, assigned to nobody

[2021-05-27 20:23] pyrello commented on #1803
This is blocked by #3568

[2021-05-27 20:53] pyrello commented on #2524
This is no longer blocked. Also changed the scope of this to not include adding it to V2, since we are no longer adding new features there and doing so would add additional time and complication.

[2021-05-27 20:57] pyrello opened #3576 "Drupal sticky headers scroll sync experiment"
Create an experimental implementation with using Drupal sticky headers to create responsive sticky headers that scroll vertically and horizontally for basic tables only. **This does not need to account for sticky first column or tables with `colspan`s.**

[2021-05-27 21:00] bspeare commented on #3576
Here's some instructions on how to use the Drupal library: https://github.com/uiowa/uiowa/issues/3402

[2021-05-27 21:08] bspeare opened #3577 "Empty results text and button are overlapping on most blocks with empty results and view more links"
# Problem
Empty results text and button are overlapping on events block.

# Steps to reproduce
https://cinematicarts.uiowa.edu and view the empty results.

<img width="769" alt="Screen Shot 2021-05-27 at 4 05 08 PM" src="https://user-images.githubusercontent.com/1036433/119897116-932eed80-bf05-11eb-9fb7-065c8b6d7ff4.png">

# Proposed solution
- Fix for events and check other empty results page blo

[2021-05-27 21:14] richardbporter commented on #3153
Writing a quick [Drush script](https://www.drush.org/latest/examples/helloworld.script/) to return a boolean whether any non-admins have logged in with 6 months would be easy and save time parsing the output.

[2021-05-27 21:42] briand44 opened #3579 "Investigate Digital Signage integration with Mazevo"
# Story

As an IMU Digital Signage user I would like a widget similar to the EMS Event Listing widget that integrates with Mazevo so that we can display meeting information on signs in the IMU.

# Additional Info

This may need to be sliced into a smaller probe.

API Documentation     [Using the Mazévo API](https://www.gomazevo.com/help/using-the-mazevo-api)
API URL: https://api-east.mymazevo.com/

[2021-05-28 16:31] #3575 closed, assigned to dnkemper

[2021-05-28 19:51] #3569 closed, assigned to dnkemper

[2021-05-28 20:49] bspeare opened #3584 "SSL Certs on uiowa02"
Cert coverage for:

    enrollment.uiowa.edu
    engage.uiowa.edu
    uichr.uiowa.edu

on uiowa02

[2021-05-28 21:24] pyrello commented on #2524
I'm starting to work on this.

[2021-06-01 12:49] richardbporter commented on #3153
I think this would need to return a list of webmaster emails for inactive sites so we can send notifications.

[2021-06-01 14:34] bspeare opened #3585 "Some sites are randomly missing layout options and content."
# Problem
Some sites report that their layout options are missing a two-column layout option and content is missing.
- Content is also missing on the page that was placed in a two-column layout
- The option to create a two-column layout is missing from the add content page

 # two-col layout history:
- https://tippie.prod.drupal.uiowa.edu/testing-page-parent/testing-page-3  - 5/27/21
- https://job

[2021-06-01 15:47] pyrello commented on #2524
Started working on this in #3587 and ran into a snag with generalizing the approach that was taken to change the filter widget in #3269. The problem is that the views exposed form alter doesn't trigger with the block form. Also, in `HOOK_form_alter` the form ID is too general and there is nothing to allow us to limit the modifications we would make to just the view block. I started down the path o

[2021-06-01 18:33] richardbporter opened #3589 "As a team communicating provisions and progress on deprovisioning old sites, we can run scripts every week that spits out:"
* \# of Sitenow v1 sites
* \# of Sitenow v2 sites
* \# of Sitenow v3 sites
* (\# or number of D7, D8, D9 sites)
...and incorporate this information in demo every week + give us visibility into sites we are hosting.

[2021-06-01 18:35] richardbporter commented on #3589
Because there are different versions of Drupal/Drush in play here, we'll need a couple slightly different scripts. Since we don't have a centralized dashboard to run these on, I think running them manually to get CSV output or similar is our quickest option. Sounds like passing along the CSV data to whoever and formatting it for demo would suffice.

[2021-06-01 18:52] richardbporter commented on #3589
Here is my proposed resolution:

SiteNow v1
- For a list of sites, SSH into uiowa701/2/3 and run `drush herky-list-sites --ignore`.
- For a count of sites, I think we should a `--count` option to the above command to just return the number of sites. That is quick and easy compared to counting the line breaks in the list output.

SiteNow v2/3
- SSH into uiowa/01/02 and run `blt uiowa:multisite:exec

[2021-06-01 18:57] mark-bennett-uiowa commented on #2871
@bspeare Just took a look at recent developments in regards to this issue, as well as #2730 completion. The below are things I noticed on the new [https://globalhealthstudies.uiowa.edu/](https://globalhealthstudies.uiowa.edu/) site on the frontpage.

![Screen Shot 2021-06-01 at 1 12 16 PM](https://user-images.githubusercontent.com/3067017/120371142-01dfc280-c2db-11eb-8d6d-1872cc565c86.png)

### St

[2021-06-01 19:00] richardbporter commented on #3286
Sounds like duplicating the uiowa_apr module and modifying as needed would work. Plus, we'll need to keep uiowa_apr for unknown amount of time until Pharmacy can move away from it.

[2021-06-01 19:07] mark-bennett-uiowa commented on #2871
This can be seen on [https://physics.prod.drupal.uiowa.edu/](https://physics.prod.drupal.uiowa.edu/):

![Screen Shot 2021-06-01 at 1 59 42 PM](https://user-images.githubusercontent.com/3067017/120379268-2476d900-c2e5-11eb-8ebb-72826fab9a44.png)

Can also get this floating button issue:
![Screen Shot 2021-06-01 at 2 57 21 PM](https://user-images.githubusercontent.com/3067017/120382922-d9ab9000-c2e9

[2021-06-01 19:11] richardbporter commented on #3579
If this is not replacing EMS, I would propose that we copy the EMS widget and refactor to work with the Mazevo system. Seems like it would be ok to replicate styles, JS, etc.

[2021-06-01 19:24] mark-bennett-uiowa commented on #2871
This can be seen on https://physics.prod.drupal.uiowa.edu/ as well, but have to remove the news to get the empty results to show [https://physics.prod.drupal.uiowa.edu/](https://physics.prod.drupal.uiowa.edu/):

![Screen Shot 2021-06-01 at 2 18 02 PM](https://user-images.githubusercontent.com/3067017/120379312-322c5e80-c2e5-11eb-9c3d-c22c4c1564d5.png)

### Grid Layout:
These seem to be the exact s

[2021-06-01 20:10] #3577 closed, assigned to dnkemper

[2021-06-01 20:41] #3571 closed, assigned to dnkemper

[2021-06-01 21:31] e-marie-w commented on #3033
Finished going over the site, these are the pages with differences/things to update that I noticed:
  - Home - add newsletter sign-up form
  - News - add March, April, May (once published) Update articles, also update dates on articles to match original publish date
  - Known Issues - some styling differences
  - FAQs - update text and a few links
  - Policies - some styling differences
  - WYSIWY

[2021-06-01 22:58] dnkemper commented on #3033
@e-marie-w NICE 👏 👏 👏

[2021-06-02 14:20] pyrello opened #3607 "Re-run people block update and remove the block"
# Motivation

With the people block update hook, we didn't remove access to the old block instance, so folks could have been placing them since we ran the update.

# Proposed solution

Create a new update hook with the same logic as before. And also remove access to the block this time.

[2021-06-02 14:56] e-marie-w commented on #3033
Just want to check I understand what to change regarding headings. For pages like https://sitenow.uiowa.edu/documentation/basic-page-content-type I would turn the bold/all caps text into a non-bolded, title case heading 3 (since heading 2 already in use). So, it ends up looking like this https://sitenow.stage.drupal.uiowa.edu/documentation/basic-page-content-type.
Also, anchor ids - do I only add

[2021-06-02 15:14] joewhitsitt commented on #3033
Thanks for working on this @e-marie-w

Using headings allow screen readers to tab through content easier and are easier to target if styles change. It also allows us to use bold within a paragraph and have it stand out from the other text. So yes, I think that is a change we want to make if possible.

I would only make sure existing ids are captured as we have linked to those. If you think there i

[2021-06-02 15:17] richardbporter commented on #3153
I've changed the HLU option on uiowa701 to the inverse - no-roles - and will copy the changes to to the other applications and run the report.

[2021-06-02 15:28] richardbporter commented on #3153
uiowa701
[code]

[2021-06-02 15:40] richardbporter commented on #3153
uiowa702
[code]

[2021-06-02 15:41] richardbporter commented on #3153
uiowa703
[code]

[2021-06-02 15:41] richardbporter commented on #3153
@briand44 I didn't get emails for these ⬆️ but can they be plugged into the existing D7 spreadsheet somehow since that already has emails?

[2021-06-02 15:49] e-marie-w commented on #3033
Thanks @joewhitsitt! I think I get it now. So something like the [Card Block page](https://sitenow.uiowa.edu/documentation/layout-builder/card-block) would keep the bolded choices under Display Options as-is, since they're part of paragraphs with normal text. It's only when the bolded text is on its own line that it should become a heading.

[2021-06-02 15:49] briand44 commented on #3153
@richardbporter They could be plugged into the spreadsheet. Not sure how accurate the emails are in the spreadsheet though.

[2021-06-02 15:56] joewhitsitt commented on #3033
technically, those could become headings as well, but I don't think it is necessary to go that granular when it comes across as an unordered list of information.

[2021-06-02 16:49] richardbporter commented on #3444
I looked over what is there currently. Can't think of anything else we are missing.

[2021-06-02 16:51] joewhitsitt commented on #3444
i am updating the intro

[2021-06-02 16:54] richardbporter commented on #3444
So am I...

[2021-06-02 16:54] joewhitsitt commented on #3444
Is anyone "assigned" to this or should I help get this out today?

[2021-06-02 16:55] richardbporter commented on #3444
Go for it! You wrote pretty much what I did so I trashed mine.

[2021-06-02 17:05] joewhitsitt opened #3608 "SiteNow Updates News Article - June"
## Issue/Solution

Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link (https://sitenow.uiowa.edu/node/396/edit)
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  - See https://siten

[2021-06-02 17:12] joewhitsitt commented on #3444
Scheduled for 12:15
June Issue - https://github.com/uiowa/uiowa/issues/3608

[2021-06-02 17:12] #3444 closed, assigned to joewhitsitt

[2021-06-02 18:18] #3451 closed, assigned to nobody

[2021-06-02 18:23] richardbporter commented on #3153
uiowa
[code]

[2021-06-02 18:37] richardbporter commented on #3153
uiowa01
[code]

[2021-06-02 18:41] richardbporter commented on #3153
uiowa02

[code]

[2021-06-02 19:09] mark-bennett-uiowa commented on #2478
Closing this issue until we decide to do this university wide.

[2021-06-02 19:09] #2478 closed, assigned to nobody

[2021-06-02 19:14] mark-bennett-uiowa commented on #2305
Moving this back to the top of Parking Lot because I now need this for both the iowamommoodbooster.org site and the policy.clas.uiowa.edu site.

Could we possibly investigate using one of these modules for protecting pages behind a password without giving them authenticated permissions??

[https://www.drupal.org/project/protected_pages](https://www.drupal.org/project/protected_pages)
**This seems

[2021-06-02 19:17] richardbporter commented on #3153
Well, this is the list. Obviously, we need to do something with it but I'm going to close this for now.

[2021-06-02 19:17] #3153 closed, assigned to richardbporter

[2021-06-02 19:48] richardbporter commented on #3568
A confirmation before the Magic button proceeds might be nice. :)

[2021-06-02 19:50] cory-skeers commented on #3568
I don't know...maybe, as long as it's still magical.

"Are you ready to be amazed? Yes or No."

[2021-06-02 19:56] richardbporter commented on #3568
I go with "Yes" or "Ok".

[2021-06-02 20:15] joewhitsitt commented on #3576
I feel like an outsider looking in on this issue, but from what I have seen and then talked about with @GaryRidgway, I don't know how much the footprint would be reduced by this approach compared to what was removed from UIDS.

[2021-06-02 20:21] richardbporter commented on #3568
Looks like there is an issue processing carousel image captions. I'm working on that now.

[2021-06-02 20:42] joewhitsitt commented on #2305
Part of this issue is to understand what exactly customers need from this. A big issue I see that customers might not understand is that while they block a node or a path on an otherwise public website, it doesn't necessarily block access to files uploaded to the website or the referenced content that make up the content of the page. Usually it is private documents and such people want to upload t

[2021-06-02 20:51] mark-bennett-uiowa commented on #3310
Reopening this conversation. We are discovering the need for multiple additions to this Person Types list, on a multitude of sites. Would it be possible to add the following to the default, system-wide list of Person Types, available to all sites:

Alumni (it looks like Alumni as a type is needed here: #3305)
Adjunct Faculty
Visiting Faculty (this may or may not fall under Adjunct, depending on po

[2021-06-02 20:52] cory-skeers commented on #3568
Ran into an execution max runtime error when magicking cnm.uiowa.edu (463 pages to process, some of them quite large), but it technically _worked_. Hitting the button a second time finished things up.

[2021-06-02 21:19] richardbporter commented on #3568
Seeing errors related to processing empty sections. Working on it.

[2021-06-03 12:54] richardbporter commented on #3589
Nevermind. We can just pipe the output of herky-list-sites through wc like so: `drush hls --ignore --fields=site --pipe | wc -l`.

[2021-06-03 12:59] richardbporter commented on #3589
SiteNow v1 (standard and custom)

`drush @uiowa70x.prod ssh 'drush hls --ignore --fields=site --pipe | wc -l'`
| Application | Count |
| ----------- | ------ |
| uiowa701    | 365    |
| uiowa702   | 40       |
| uiowa703   | 106     |
| ---------- | ------- |
| Total          | 511   |

[2021-06-03 13:20] briand44 commented on #2305
https://www.drupal.org/project/content_access is a module that has been used in the past. I don't love the module but just listing it as a possible option.

[2021-06-03 13:31] richardbporter commented on #3589
SiteNow v3
`drush @uiowa0x.prod ssh '../vendor/bin/blt ume "cget config_split.config_split.sitenow_v2 status" | grep ": false" | wc -l`

| Application | Count |
| ----------  | ------ |
| uiowa         |   18     |
| uiowa01     |   84    |
| uiowa02    |   130    |
| ---------   | -----   |
| Total          |  232   |

[2021-06-03 13:43] richardbporter commented on #3589
SiteNow v2
`drush @uiowa0x.prod ssh '../vendor/bin/blt ume "cget config_split.config_split.sitenow_v2 status" | grep ": true" | wc -l`

| Application | Count |
| ----------  | ------ |
| uiowa         |   138   |
| uiowa01     |    60    |
| uiowa02    |   17      |
| ---------   | -----   |
| Total          |  215    |

[2021-06-03 13:48] richardbporter commented on #3589
Misc. D7
`drush @app.prod ssh 'ls -ld sites/*/ | grep -v 'all' | wc -l`

| Application | Count |
| ----------  | ------ |
| dentistry            |   1   |
| city            |   2   |
| nursing     |    6    |
| signage    |   1      |
| healthcare signage    |   1      |
| grad    |   24   |
| clas    |      100   |
| ---------   | -----   |
| Total          |  135   |

[2021-06-03 14:12] richardbporter commented on #3589
CLAS and/or grad might be inflating the misc. D7 numbers. @mark-bennett-uiowa and @pyrello have you been removing D7 site directories when they are moved to D9?

[2021-06-03 14:18] richardbporter commented on #3589
We can discuss outside of this issue. I think the initial commands/counts provide a blueprint for doing this in the short term. I think D9 reporting commands would make this easier in the long term for that platform and we can add those when we get around to other related reporting tasks.

[2021-06-03 14:18] #3589 closed, assigned to richardbporter

[2021-06-03 14:22] mjoneill opened #3609 "Add chat feature to admissions site"
As an admissions site visitor, I can use the embedded live chat feature on the new website so that I can connect with and talk with a real human who can answer questions.

[2021-06-03 14:24] mjoneill commented on #3609
Partner is unable to add the code to template himself. Pulling this to try (first) via GTM.  If that's not going to work, we need to discover quickly so that we can pivot in time for their site launch.

Embed code should be on all pages.  Partner added the code snippet to slack channel.

[2021-06-03 15:29] briand44 opened #3610 "Ability to bulk unpublish/publish"
Admissions said they can't unpublish scholarships.

I believe the bulk operation for unpublishing may not work on any sites based on perms.

The below screenshot is from default.prod.drupal.uiowa.edu

![Screen Shot 2021-06-03 at 10 30 24 AM](https://user-images.githubusercontent.com/1017022/120671244-cff36b00-c456-11eb-885a-9bc18422cd48.png)

[2021-06-03 15:32] richardbporter commented on #3568
If you process one node from the select list, should it be removed from the select list when complete? I'm thinking no and this relates to:

from the original issue. I would vote for that.

Also, a confirmation message or  some sort of output would be nice after processing.

[2021-06-03 15:33] briand44 opened #3611 "Provide content/design recommendations to Parking and Transportation"
- [x] Check for content containers using edge-to-edge containers and provide recommendation to use "normal" or "wide" for accessibility line-length.
- [x] Check for stat component being used for text areas instead of numbers.
- [x] Check for CTAs using "edge to edge" and recommend using the "normal" option for users on larger screens.
- [x] Check for extra whitespace at top of page or bottom, and

[2021-06-03 15:36] richardbporter commented on #3568
I guess if the update hook is being considered some of my comments are not applicable. Still trying to familiarize myself with this. :)

[2021-06-03 15:45] bspeare commented on #3584
Thanks @mark-bennett-uiowa !

[2021-06-03 15:45] #3584 closed, assigned to nobody

[2021-06-03 17:58] joewhitsitt commented on #3610
VBO aside, they can archive a published scholarship which is the moderation equivalent. Scholarship is using the same moderation transitions as the default content types

<img width="410" alt="Screen Shot 2021-06-03 at 12 55 43 PM" src="https://user-images.githubusercontent.com/4663676/120690741-36828400-c46b-11eb-974e-7df23e6a5c31.png">

[2021-06-03 18:43] bspeare commented on #3508
Here are some screenshots of the latest version in the pr.

<img width="1602" alt="Screen Shot 2021-06-03 at 9 25 47 AM" src="https://user-images.githubusercontent.com/1036433/120695875-7c424b00-c471-11eb-9978-38016e36315a.png">

<img width="1561" alt="Screen Shot 2021-06-03 at 1 41 20 PM" src="https://user-images.githubusercontent.com/1036433/120695918-882e0d00-c471-11eb-9202-30d6c71b0002.png">

[2021-06-03 18:45] dnkemper commented on #3392
if I don't get to this issue, would love to pair/ be a fly on the wall with the person that works on this because last/only time I've ever created a media type was for audio files over a year ago/before the homepage project 🙏

[2021-06-03 20:13] richardbporter opened #3613 "As a team communicating provisions and progress on deprovisioning old sites, we can get weekly emails containing the number of v1/2/3 sites."
# Story

As a team communicating provisions and progress on deprovisioning old sites, we can get weekly emails containing the number of v1/2/3 sites.

# Proposed solution

Modify the scripts from #3589 to take the output and send it in an email. Drop the scripts into production cron jobs that run weekly on Thursday mornings. They won't be aggregated - it will be per-application but we can just add

[2021-06-03 20:22] richardbporter commented on #3613
Example for v1:
[code]

[2021-06-03 20:36] bspeare commented on #2670
I wonder if the proposed solution should be to add the "Spacing" layout builder styles to all blocks and set the default value to `-None-` and allow site owners to "Add extra top spacing" and "Add extra bottom spacing" to each layout builder block.

<img width="623" alt="Screen Shot 2021-06-03 at 3 36 13 PM" src="https://user-images.githubusercontent.com/1036433/120708661-7a808380-c481-11eb-84e6-8

[2021-06-03 21:03] joewhitsitt commented on #3609
advisingcenter.uiowa.edu has implemented this chat feature similarly. it can be tough to test because they are setup to only be visible when someone is on the other end to respond.

here is the old issue where i tried to style an off hours widget... https://github.com/uiowa/uiowa/issues/2328

[2021-06-03 21:06] dnkemper commented on #3609
Thank you so much, @joewhitsitt 🥳

[2021-06-03 22:19] bewoldt opened #3614 "Image editing functionality in CKEditor fix"
# Problem
When you edit an image in the wysiwyg editor you get a certain amount of options in the Display dropdown. It's not clear to the user what these options mean. When I pick small, I get a 100px wide image. When I pick Small - Square I would expect to get a 100px wide square image but instead I could (based on screen width) get a 2592x2592px image with a width="768" set on it.

The "Small -

[2021-06-04 13:24] richardbporter commented on #3327
I assume you already found https://www.drupal.org/project/media_entity_file_replace/issues/3115477 but just adding it here in case.

[2021-06-04 13:29] e-marie-w commented on #3033
Broken Links (v2 site linked here, do we want to update them for just the v3 site or here as well?):

- [Policies ](https://sitenow.uiowa.edu/policies)page links to https://www.flickr.com/photos/uinews/. Assuming there's no replacement flickr account I'll just remove it from the resource list.
- [Policies ](https://sitenow.uiowa.edu/policies)also links to https://itaccessibility.uiowa.edu/web. Do

[2021-06-04 13:40] joewhitsitt commented on #3327
I hadn't seen the recent comments on that but yes. We could do something similar to what we are doing for brand lockup files: docroot/sites/brand.uiowa.edu/modules/brand_core/brand_core.module

[2021-06-04 13:47] joewhitsitt commented on #3033
To replace flickr, https://brand.uiowa.edu/imagery could be a useful resource but I think Photoshelter is the only pool of photos now.

I'd vote https://itaccessibility.uiowa.edu/web-standards

Correct about the articles and people blocks.

For the tokens, i'd unlink and say: "You may use tokens. See _Browse Available Tokens_ below for more information"

[2021-06-04 14:02] joewhitsitt commented on #3392
This will be more involved that the audio media type which ships with core and will require us lifting a mediasource plugin from another module or creating our own.

If I was to take this up (maybe later), I would see about using the javascript api panopto provides (resources above) instead of constructing the iframe.

media_entity_panopto exists but i don't think it works or is being maintained.

[2021-06-04 14:04] joewhitsitt commented on #3609
"custom html tag, trigger all pages"

[2021-06-04 14:20] bspeare opened #3615 "Migrate Obermann files to v3"
https://obermann.uiowa.edu -> https://obermann.prod.drupal.uiowa.edu/

[2021-06-04 15:08] pyrello opened #3616 "Add flux capacitor icon to Revision/History tab"
# Story

As a content editor I can see a [flux capacitor icon](https://fontawesome.com/v5.15/icons/flux-capacitor) next to the Revision History tab so that I can enjoy the subtle *Back to the Future* reference

Follow-up to #3524

[2021-06-04 15:15] joewhitsitt commented on #3616
i'd vote easter egg hover effect

[2021-06-04 15:29] pyrello commented on #3616
That might be trickier if the icons are not the same dimensions

[2021-06-04 15:35] cory-skeers opened #3617 "LB Styles renames"
"Normal (Default)" section container setting was mentioned as possibly confusing, and difficult to describe what "normal" means. Has been some discussion, with both "Default" and "Standard" two preferred options.

"I’ve had trouble explaining the different options because a “normal” width is hard to describe. Standard would be my preference." <- Alex

May want to look through other styles, and hav

[2021-06-04 16:17] joewhitsitt opened #3619 "uiowa_people block type permissions clean-up"
after https://github.com/uiowa/uiowa/pull/3587 is deployed there will be orphan permissions scattered throughout our permission configuration (default/splits).

## Proposed Solution

- look into find/replace to remove permissions related to the uiowa_people block type.

[2021-06-04 16:47] joewhitsitt commented on #3611
who is the contact for delivering these recommendations.

captured these for future use: https://wiki.uiowa.edu/display/drupaldev/Content+Design+Best+Practices

[2021-06-04 16:53] briand44 commented on #3611
We had discussed communicating these recommendations with April Wells.

[2021-06-04 18:49] briand44 opened #3620 "Migrate files for Shaw Group"
Migrate files from https://shawgroup.lab.uiowa.edu/ to https://labshawgroup.prod.drupal.uiowa.edu/

Would like them by ~ July 1 so can meet a launch date of ~Aug 1

[2021-06-04 20:32] richardbporter commented on #2735
Cloud IDE thoughts:

- 2 across both orgs does not seem like enough. Unless healthcare isn't planning on using any. Since D7 is maintenance only, 2 for us might work with the support rotation using them. They are app-specific though and can't be shared.
- There is a decent amount of setup time per IDE. Switching apps, setting up keys, etc. Ran into some timeouts here but things seemed to work.
- N

[2021-06-07 13:52] pyrello commented on #3327
My comment from Slack:

[2021-06-07 14:11] #3433 closed, assigned to richardbporter

[2021-06-07 14:25] richardbporter commented on #2629
The checklist above is not an exhaustive list, more just noting things than need/can be done in conjunction with this.

[2021-06-07 16:29] #3508 closed, assigned to quamsta

[2021-06-07 16:31] GaryRidgway commented on #3610
Should this perm be going to webmasters, publishers, and editors? or just webmasters and publishers? or something in between?

[2021-06-07 16:51] richardbporter commented on #3613
I have all these in place except for the following as they won't change often:

city: 2
dentistry: 1
signage: 1
healthcaresignage: 1

[2021-06-07 16:53] joewhitsitt commented on #3610
i'd say webmasters/publishers for now. bulk operations doesn't seem very editor-like

[2021-06-07 18:48] e-marie-w commented on #3033
On pages like https://sitenow.uiowa.edu/documentation/basic-page-content-type, should some of the extra whitespace be preserved? Visually it might look better but will it cause issues with screen readers or anything? Changing the caps/bold to h3 and h4 helps but keeping the extra blank line before a new h2 section still looks nice: https://sitenow.stage.drupal.uiowa.edu/documentation/basic-page-co

[2021-06-07 19:02] joewhitsitt commented on #3033
Screen readers will navigate over blank markup but ideally typography spacing between headlines and paragraphs should be handled in the design system for all sites. If you have specific spacing suggestions, you could create an issue in https://github.com/uiowa/uids. I wouldn't add blank paragraphs _just_ to create separation.

[2021-06-07 20:17] e-marie-w commented on #3033
Thanks Joe, that answers my questions perfectly!  I'll take out the blank paragraphs on that page and any others. The current spacing system looks fine to me, seeing the repeated blank lines just made me wonder if it was on purpose/wanted.

[2021-06-07 20:39] #3613 closed, assigned to richardbporter

[2021-06-07 21:22] briand44 opened #3624 "Pharmacy map of Palliative Care Graduates"
# Story

As a Pharmacy website owner, I would like the ability for site users to be able to view a map of palliative care graduates in the US to showcase that program and help with recruitment.

# Additional Info

They like https://admissions.prod.drupal.uiowa.edu/counselors but would want some way to designate that there is a graduate in a state vs states with no graduate. Discussed a different c

[2021-06-08 13:59] richardbporter opened #3625 "Pilot inactive site deprovision process on uiowa702"
The uiowa702 app only has a few inactive sites. We can use that as a probe to try out a deprovision process and adjust for other applications.

Process
- Create an ad-hoc Dispatch communication templated with a placeholder for site URL.
- For each site, get all non-admin user emails and send the communication to them, replacing the site URL.
- Ask them to respond within two weeks indicating whethe

[2021-06-08 14:03] #3610 closed, assigned to nobody

[2021-06-08 14:32] pyrello opened #3626 "Add rich text options to short bio"
# Story

As a content editor I want to add rich text options to the short biography field so that I can italicize book titles.

This is based on a request via the ITS web inbox.

# Proposed solution

Allow minimal HTML on short bio field.

[2021-06-08 14:35] cory-skeers commented on #3373
Also interested in potentially using this to search for instances of *.prod/stage/dev/local links that have been hardcoded as a pre-launch check. This would potentially increase the scope, where link fields would need to be checked as well, but might be needed anyway (could see the use case of looking for any links to a particular site, 3rd party source, etc).

Think would want to use the Drupal A

[2021-06-08 15:26] joewhitsitt commented on #2305
A few thoughts captured from the developer meeting:

- We should avoid "secure" type words. Private/restricted/hidden might be better.
- What are we providing that another campus tool doesn't (qualtrics, office365, wiki.uiowa.edu)?
- "Private Page" or "Hidden Page" content type with minimal text format body and related files private upload.  - Prevents referenced content that is public and creates

[2021-06-08 16:15] briand44 opened #3627 "Link to full url in Admissions PDF's"
Is there a way in the PDF's to point to the full path for a URL vs the relative path? You can see in the engineering example (https://admissions.prod.drupal.uiowa.edu/print/pdf/node/2716) the bulleted majors at the top point to /node/xxx or the relative path /academics/xxx. Since these will only be seen in print these need to be the full URL.

[2021-06-08 16:19] joewhitsitt commented on #3627
on the surface, i think it prints whatever the wysiwyg has. internal links with linkit show the relative path. so there is a content solution to this at the risk of creating broken links down the road.

[2021-06-08 16:37] #2524 closed, assigned to pyrello

[2021-06-08 16:37] #3519 closed, assigned to nobody

[2021-06-08 16:37] #3607 closed, assigned to nobody

[2021-06-08 17:10] joewhitsitt commented on #3392
I think for MVP and a replacement to Kaltura, we should just take in the regular video format and validate against it to prevent saving other types. The playlist/department options, while easy to look for/switch have different display considerations (e.g. aspect ratio) as well as additional a11y navigation concerns..

[2021-06-08 18:01] cory-skeers commented on #3568
Can discuss more, but wonder if one option for this could be to run it for all V2 sites on dev (adds complexity of not all sites having dev domains), but would give an option to give all V2 users a chance to review and either make updates or give the go ahead to switch to V3. (Could also do a form of this in waves, or a per-site basis).

[2021-06-08 18:11] GaryRidgway commented on #3627
It may be possible to use a css selector using an [attribute begins with selector](https://www.w3schools.com/css/css_attribute_selectors.asp#:~:text=The%20%5Battribute%5E%3D%22value,to%20be%20a%20whole%20word!). this would allow us to determine if it is an internal link (Starts with a `/`) or an external link (Starts with an `h` or a `w`). With this, we could prepend `admissions.uiowa.edu` to the

[2021-06-08 18:19] mark-bennett-uiowa commented on #3142
The current University logo is found at [https://signage.uiowa.edu/sites/all/modules/custom/uiowa_signage_modules/uiowa_signage_panes/uiowa_nameplate_gold.svg](https://signage.uiowa.edu/sites/all/modules/custom/uiowa_signage_modules/uiowa_signage_panes/uiowa_nameplate_gold.svg) but is using some styling to set the size system wide. I created a RGB mode SVG that we can replace this with, and then w

[2021-06-08 18:33] mark-bennett-uiowa commented on #3142
[block_iowa_gold.svg.zip](https://github.com/uiowa/uiowa/files/6618851/block_iowa_gold.svg.zip)

[2021-06-08 18:46] pyrello commented on #3458
This has been marked blocked for now pending a meeting to discuss how we want to move forward generally with events on the platform. There is the potential to use an event content type as a replacement for the event custom block type and to allow people to place listings of events on pages using a view block similar to the people block developed in #2702.

[2021-06-08 18:51] cory-skeers commented on #3615
Wki page with instructions for `sitenow_migrate`: https://wiki.uiowa.edu/display/drupaldev/Using+SiteNow+Migrate

Doesn't need any custom code--general process is to enable the sitenow migrate config split, complete the Sitenow Migrate config page, and run the `d7_file` migration.

Previous process involved running the migration locally, disabling the split, and syncing files/db up to prod. Update

[2021-06-08 20:51] joewhitsitt commented on #3568
investigate how big the db grows if we keep both (paragraphs/blocks) for a bit.

[2021-06-08 21:07] joewhitsitt commented on #3568
advanced notice for certain clients to plan for (hr, brand, law)

[2021-06-08 21:36] pyrello commented on #3568
General game plan:
- Finish functionality to allow for a site owner to convert one or many pages into a new draft revision of the page. This would allow them to make additional changes before the page goes live.
- We allow for a period of time where people can go through the process of converting their pages like this by themselves, possibly 2-3 months.
- At the end of that time, we introduce an u

[2021-06-09 12:08] pyrello opened #3628 "Orphaned people blocks after updates to convert them"
# Problem
Running the update hook in #3587 results in the following error message on the pharmacy site:
[code]

The update hook shows the following, indicating no updates are being made:
[code]

This seems to indicate that there are orphaned people blocks.

# Proposed solution

Modify `sitenow_update_9011()` as follows:
[code]

Thanks to @richardbporter for discovering the issue and @joewhitsitt f

[2021-06-09 13:57] richardbporter commented on #3568
I think https://github.com/uiowa/uiowa/issues/3568#issuecomment-857177504 summarizes this perfectly. I feel like this issue is probably done pending team and PO discussion.

[2021-06-09 14:02] bspeare commented on #3611
Sent these on to April yesterday.

[2021-06-09 14:02] #3611 closed, assigned to bspeare

[2021-06-09 14:03] #3609 closed, assigned to dnkemper, makurj

[2021-06-09 14:58] joewhitsitt commented on #2735
Based on this and our conversation this morning, I'd vote for D7 DrupalVM using what we know and keeping this in our back pocket for now for M1 computers going forward.

[2021-06-09 15:05] joewhitsitt commented on #3624
This is setup this way, Admissions just has counselor coverage for all polygons. Some counselors cover an entire region.

https://international.uiowa.edu/global-network used to be a non-powerbi map but didn't have a UI to update content.

I think we can easily establish base functionality for these types of maps, but each one will need custom tweaks based on the content.

I have big ideas about ma

[2021-06-09 15:08] richardbporter commented on #2735
Why don't we have another person try out a Cloud IDE instead of experimenting with more intensive things like DDev or Lando. I took those off the issue description. I agree that setting up DrupalVM for D7 might be easiest but probing that could give us more info.

Another limitation of Cloud IDE, as far as I know, is that you can really only work with one multisite at a time because there is only

[2021-06-09 15:09] joewhitsitt commented on #3626
There was previous talk about eventually moving back to the body's summary field which doesn't have rich text, so just something to keep in mind.

[2021-06-09 17:08] #3628 closed, assigned to nobody

[2021-06-09 17:48] bspeare opened #3630 "Remove default left/right banner padding if specific background and section colors are selected"
# Problem

Selecting a banner background color adds extra padding that is unnecessary when banner is sitting within a section container with the same background color.

# Steps to reproduce

Go to https://sandbox.prod.drupal.uiowa.edu/banner-examples-0.

<img width="1510" alt="Screen Shot 2021-06-09 at 12 43 24 PM" src="https://user-images.githubusercontent.com/1036433/121403676-c23f5900-c920-11eb

[2021-06-09 18:45] richardbporter commented on #1977
Now that https://its.uiowa.edu/news/microsoft-ending-office-365-support-internet-explorer, can we update our browser support policy to drop IE11 support? https://sitenow.uiowa.edu/policies#browser-support

[2021-06-10 13:48] richardbporter commented on #3392
It seems like creating the iFrame markup ourselves would have been easier than using the Javascript embed API.

[2021-06-10 13:50] richardbporter commented on #3392
I'm not seeing any attributes available in the link, for example the title and thumbnail image. The media_entity_panopto module was querying the API for that data using the ID in the URL. The ID is the only thing available in the URL.

[2021-06-10 15:12] richardbporter commented on #3392
Hm. On the UICapture site, I'm seeing thumbnails created by a redirect URL. For example, on https://uicapture.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=a4bfc444-ad63-42f2-bef3-7ad4905ab649 the #splashScreen div has a background pointing at `/Panopto/Services/FrameGrabber.svc/FrameRedirect?objectId=a4bfc444-ad63-42f2-bef3-7ad4905ab649&mode=Delivery&random=0.304899272650899&usePng=False`. That

[2021-06-10 18:46] bspeare opened #3635 "Grids with a more-link do not have a margin to create separation from grid item"
# Problem
Grids with a more-link do not have a margin to create separation from grid item

# Steps to reproduce
Go to Events Grid with more button and view "Events Grid with more button" section on https://sandbox.prod.drupal.uiowa.edu/list-and-heading-bugs.

<img width="1564" alt="Screen Shot 2021-06-10 at 1 44 11 PM" src="https://user-images.githubusercontent.com/1036433/121580281-2da52b80-c9f2-

[2021-06-10 18:49] bspeare opened #3636 "Events heading is not displaying if there are no results listed in the events block"
# Problem
The events heading is not displaying if there are no results listed in the events block

# Steps to reproduce
Go to https://sandbox.prod.drupal.uiowa.edu/list-and-heading-bugs and check out the "Events Heading" section.

<img width="621" alt="Screen Shot 2021-06-10 at 1 48 37 PM" src="https://user-images.githubusercontent.com/1036433/121580623-912f5900-c9f2-11eb-9f60-11351f042e44.png">

[2021-06-10 18:51] bspeare opened #3637 "Events and Aggregator no results blocks are applying card styles to the block wrapper"
# Problem
Events and Aggregator no results blocks are applying card styles to the block wrapper creating issues with background colors and alignment.

# Steps to reproduce
View the no results sections on https://sandbox.prod.drupal.uiowa.edu/list-and-heading-bugs.

<img width="580" alt="Screen Shot 2021-06-10 at 1 50 39 PM" src="https://user-images.githubusercontent.com/1036433/121580867-d94e7b80-

[2021-06-10 19:02] #3627 closed, assigned to bspeare

[2021-06-10 20:31] bspeare commented on #3615
I'm hitting the "I'm interested" button on this one.

[2021-06-10 20:35] richardbporter commented on #3579
Investigation: can we leverage the Mazevo API to replicate the EMS custom content pane? Is it the right data structure?

[2021-06-10 20:36] richardbporter commented on #3579
Perhaps not all of the team has access to the uisignage application on AC.

[2021-06-10 21:28] bspeare opened #3640 "People list block has extra top margin due to `views-element-container` spacing"
# Problem
People list block has extra top margin due to `views-element-container` spacing

# Steps to reproduce
Go to https://sandbox.prod.drupal.uiowa.edu/list-and-heading-bugs and view how the people block is not aligned at the top.

<img width="1045" alt="Screen Shot 2021-06-10 at 4 27 01 PM" src="https://user-images.githubusercontent.com/1036433/121599558-d52d5880-ca08-11eb-885a-552f6a898e0d.p

[2021-06-10 22:55] pyrello opened #3641 "Move on from Drupal VM?"
There is a conversation going on about the future of Drupal VM: https://github.com/geerlingguy/drupal-vm/issues/2164

It doesn't seem, based on the conversation so far, that there is a clear path forward for Drupal VM. Jeff Geerling has committed to only minimal maintenance until he can't handle that anymore and then he's going to deprecate it.

While moving to a different virtualization paradigm

[2021-06-11 12:37] pyrello opened #3642 "Add ability to select people who are NOT of a type status (e.g. NOT former faculty)"
# Story

As a content editor I want to be able to filter people lists by people who are NOT of a particular type status (e.g. NOT former faculty) so that I can create lists that exclude these people.

As part of #3587 we introduced filtered based on person type and person type status. However, those updates only allow people to create lists of people that are formerly of a type, not to list people

[2021-06-11 13:41] bspeare opened #3643 "New people list block is missing `block__headline` class that adds extra bottom margin"
# Problem
New people list block is missing `block__headline` class that adds extra bottom margin

# Steps to reproduce
https://sandbox.prod.drupal.uiowa.edu/list-and-heading-bugs

<img width="997" alt="Screen Shot 2021-06-11 at 8 39 22 AM" src="https://user-images.githubusercontent.com/1036433/121695546-c38f9380-ca90-11eb-9d37-2840c91fe2a9.png">

# Proposed solution
Add the `block__headline` class

[2021-06-11 13:56] mjoneill commented on #3568
I like the thinking behind this and think it has the potential to be a great step forward.  I'm curious, what would make a good next step?  Do we need to identify 1 or 2 sites to help through this process before we turn it over to partners to do on their own?

Off the top of my head, brand.uiowa.edu is a v2 site (I think) and we have good working relationships with the owners.  Law has expressed a

[2021-06-11 13:58] mjoneill commented on #3568
This is very much an option.  But I think we need some sizing metrics first.  Can we take a site (or two), "clone it" and run it through this process to see how much more space it consumes during this process?  We might then be able to understand the expected impact.

@briand44 what do we need to explore this option with Alex?

[2021-06-11 16:43] #3310 closed, assigned to mark-bennett-uiowa

[2021-06-11 19:56] bspeare commented on #3620
File migration is complete and I have emailed the customer.

[2021-06-11 19:56] #3620 closed, assigned to bspeare

[2021-06-11 19:56] bspeare commented on #3615
File migration is complete and I have emailed the customer.

[2021-06-11 19:56] #3615 closed, assigned to bspeare

[2021-06-11 20:43] mark-bennett-uiowa commented on #2871
This looks like its working properly now with #3638. Tested font sizes, font families, and consistency on blocks as well as pages. Outside of the small date difference (already been mentioned, new issue coming soon) and the extra padding at the top of the articles list page (aware of the issue, currently fixing), we can close this issue. Thanks so much Ben!!
![Screen Shot 2021-06-11 at 3 27 26 PM]

[2021-06-11 20:48] mark-bennett-uiowa commented on #2871
Extra padding at top of Articles list page has been fixed now too. Can close this issue. Thanks Ben!

[2021-06-11 20:56] bspeare commented on #2566
I think this was resolved in https://github.com/uiowa/uids/pull/416.  Please reopen if that is not the case!

[2021-06-11 20:56] #2566 closed, assigned to dnkemper

[2021-06-11 20:56] #2871 closed, assigned to nobody

[2021-06-11 20:56] #3459 closed, assigned to nobody

[2021-06-11 20:56] #3635 closed, assigned to bspeare

[2021-06-11 20:56] #3636 closed, assigned to bspeare

[2021-06-11 20:56] #3637 closed, assigned to bspeare

[2021-06-11 20:56] #3640 closed, assigned to nobody

[2021-06-11 20:56] #2433 closed, assigned to nobody

[2021-06-11 20:56] #3643 closed, assigned to nobody

[2021-06-11 21:17] mark-bennett-uiowa commented on #2572
Tested this using all 16 available background options using the SSW site's [https://socialwork.uiowa.edu/resources/national-nursing-home-social-work-network](https://socialwork.uiowa.edu/resources/national-nursing-home-social-work-network) page. This is now fixed. Closing. Thanks all.

[2021-06-11 21:17] #2572 closed, assigned to nobody

[2021-06-11 21:44] pyrello commented on #3642
To investigate this, I tried allowing the person type status operator to be exposed as well as the filter to see if that just worked. It shows up on the form correctly, but even after adjusting the code logic to reflect the fact that there is an added wrapper layer in the form, it does not save correctly.

I suspect that the approach that I came up with for storing the filters in the `ListBlock` c

[2021-06-14 13:40] briand44 opened #3646 "Import OneIT Intranet projects more frequently"
The OneIT Intranet imports projects from data.its to display on the Intranet. Data.its if getting these projects from Workflow. The request is to have this import happen more frequently. My understanding is that data.its is getting these from Workflow once a day.

[2021-06-14 16:23] briand44 opened #3648 "IRRC - Ability to link to Google Scholar and ResearchGate with supporting icons"
# Story

As an owner of iowareadingresearch.org, I would like to have the ability to add links to Google Scholar and ResearchGate with supporting icons for people teasers and profiles.

# Additional Info

Icons to appear on  https://iowareadingresearch.org/people similar to http://readerbench.com/people but displaying below names on teaser display.

# Proposed solution

There is an existing links

[2021-06-14 16:34] briand44 opened #3649 "Add "[Closed]" text to the body of closed alert emails for ITS alerts"
![Screen Shot 2021-06-18 at 8 54 26 AM](https://user-images.githubusercontent.com/1017022/122576214-103a1800-d017-11eb-8242-7b4bef343aad.png)

@joewhitsitt thought we may run into some accessibility issues with the red font and it may be difficult to align the "[closed]" text with the "Update" header.

@adriennecoon said the text can be black and it should be fine if the "[closed]" text appears ab

[2021-06-15 14:22] bspeare opened #3652 "Unused page with left sidebar layout builder sections render with empty space on pages"
# Problem
Unused "Page with left sidebar" layout builder section render with empty space on pages.

# Steps to reproduce
https://sandbox.prod.drupal.uiowa.edu/empty-sections-page

# Proposed solution
- [ ] Update template to use simplified include method: https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/templates/layouts/twocol/layout--twocol.html.twig#L19-L21.  Keep lines

[2021-06-15 15:13] bspeare opened #3653 "Text area blocks lose the contextual edit link if they are empty"
# Problem
Text area blocks lose the contextual edit link if they are empty

# Steps to reproduce
Try adding a text area with a few line breaks to a layout and then try to edit the block after saving.

# Proposed solution
- In `admin.scss` add a `min-height: 10px` or greater rule for text area blocks.

[2021-06-15 15:20] bspeare opened #3654 "As a site editor, I can choose to have a left or right sidebar layout"
# Story

As a site editor, I can choose to have a left or right sidebar layout so that I can have flexibility over where my sidebar content is placed.

# Proposed solution

- Update the `Page w/left sidebar` layout to be a `Page w/ sidebar` layout where a site editor can choose "Left" or "Right" options in the settings tray
- Create "Left (Default)" and "Right" sidebar options in the settings tray

[2021-06-15 15:50] makurj commented on #2735
Correction for the last bullet point: It's www in ` ls /var/www/site-php/`

[2021-06-15 18:07] briand44 commented on #3375
Pharmacy would be a good site to look at.

[2021-06-15 18:21] briand44 commented on #3559
We decided to scope this to the editor role only. Publishers will continue to be able to delete any content but editors will only be able to delete content they own.

[2021-06-15 18:24] briand44 commented on #3289
Need to figure out what domain they want

[2021-06-15 18:25] briand44 commented on #3289
Want to list a few student profiles so there may be additional work needed here

[2021-06-15 18:27] #3075 closed, assigned to nobody

[2021-06-15 18:43] bspeare commented on #3289
Confirmed: they want https://viewbook.law.uiowa.edu/ as the domain.