[2021-10-07 14:10] dnkemper commented on #3454
Yeah. Went towards being more on the consistent side of things and felt like I'd rather be safe than sorry but 🤷🏼‍♀️

[2021-10-07 14:24] joewhitsitt commented on #3641
would be nice to have a spare computer to test with instead of risking our current machines

[2021-10-07 14:27] joewhitsitt opened #4274 "Update deprovision docs with web archivist information"

[2021-10-07 14:29] pyrello commented on #4267
I updated the OP to include an option to investigate using "reduce duplicates" on the individual filters that support that option.

[2021-10-07 15:31] joewhitsitt commented on #3454
I did the same thing way back when. Not sure if it is needed.

[2021-10-07 15:32] dnkemper opened #4276 "When <nolink> is used, nested superfish menu links w/ children overlap the dropdown arrow in tablet and smaller breakpoints"
# Problem

If a child of a menu link has children (grandchild of top level menu link?) the dropdown arrow overlaps the text in tablet and smaller breakpoints - only happens when `<nolink>` is used

# Steps to reproduce

Go to africanamericanstudies.uiowa.edu or cinematicarts.uiowa.edu and minimize window to tablet breakpoint and/or smaller
- In africanamericanstudies, expand Graduate Programs menu

[2021-10-07 15:43] makurj commented on #3944
Should any of these form components be required? For example, name, affiliation, description, website/URL?

![image](https://user-images.githubusercontent.com/52135878/136418543-7a8cc6ac-3976-4692-b106-7ae81c49014e.png)

[2021-10-07 16:44] bspeare commented on #4204
Adding some pros and cons here after our discussion today:

# Pros

- Fixed left navigation makes editor UX more consistent and would require us to have less custom CSS to make our Iowa bar header options work with top and left-hand navigation (we are currently hiding the Iowa bar during editing the layout edit screen).
- Layout builder editor screen is less cluttered, and save button is moved to

[2021-10-07 18:36] makurj commented on #3944
Also, I tried to use textarea for description and quote but it doesn't allow for a character limit. Only textfield does. Is that okay?

What is the character limit they want? Right now, I have it set to 500.

[2021-10-07 18:36] makurj commented on #3944
For standup tomorrow (I'm out):

Locally:
- Enabled webform, CAPTCHA, hidden CAPTCHA modules
- Created webform (have some questions about the fields)
- Enabled hidden CAPTCHA on the form

I can create this on prod upon my return.

[2021-10-07 18:49] pyrello commented on #3454
I don't believe so. To check for sure, we could try removing them and then install a new site locally.

[2021-10-07 18:50] joewhitsitt commented on #4235
Long time issue to bring linkit to the link field. https://www.drupal.org/project/linkit/issues/2712951

[2021-10-07 19:01] bspeare commented on #4204
A lot of the layout builder editor tray bugs that we saw this morning have been fixed.  I forgot to include some updates that I had made a while back when I was resolving a merge conflict earlier this week.

[2021-10-07 20:10] bspeare commented on #4276
Looks like this issue was also filed by @bewoldt in UIDS.  Let's make sure to close https://github.com/uiowa/uids/issues/588 when we fix this issue.

[2021-10-07 20:19] bspeare commented on #4079
Met with Tricia and Joe this morning to demo the feature.  I added this field to the "Achievement" and "News Feature" and it is now live on now.uiowa.edu.  Closing this issue for now.

[2021-10-07 20:19] #4079 closed, assigned to bspeare

[2021-10-07 20:23] richardbporter commented on #4180
We could initially sync sites to another environment like stage to begin working on this. Another thing to keep in mind is duplicating database/files will increase usage and we'll want to clean up after testing.

[2021-10-07 20:24] richardbporter commented on #4180
I would scope this to D9 first.

[2021-10-07 20:43] bspeare opened #4281 "Review education.prod.drupal.uiowa.edu from a content and design perspective"
# Review process

Work with @ABoston88 and put together a two-column spreadsheet.  In the first column provide the page name and url and in the second column provide notes/comments/suggestions.

## Example
<table border="0">
 <tr>
    <td><b style="font-size:30px">Page</b></td>
    <td><b style="font-size:30px">Notes</b></td>
 </tr>
 <tr>
    <td>Areas of Study: https://education.prod.drupal.uiowa

[2021-10-07 21:02] briand44 commented on #3784
Lets try adding json to the doc file type and see if this renders correctly and meets the need.

[2021-10-07 21:20] dnkemper commented on #4276
@bspeare good catch! Sorry about that!

[2021-10-07 21:44] joewhitsitt commented on #4262
is this the same, "wait till Monday" type task?

[2021-10-07 22:22] bspeare commented on #4281
I added a checklist of criteria above to check when reviewing the site.   I'd be happy to pair with anyone to help clarify the criteria if anyone is interested in this work.

[2021-10-08 13:22] joewhitsitt opened #4284 "Update CKEditor Library and Acquia Connector for SiteNow v1"
- Original issue awareness: https://www.drupal.org/sa-core-2021-005
  - Update CKEditor library for D7 XSS vulnerability (build-config.js) https://ckeditor.com/blog/ckeditor-4.16.2-with-browser-improvements-and-security-fixes. Probably mitigated for most sites. I think we should at least do it for uiowa701/2/3 to cover any public facing WYSIWYGs.
- Acquia Connector updates D7

- Tippie/Education m

[2021-10-08 13:25] briand44 commented on #4262
I don't think it needs to wait till Monday but I would prefer not sending out late afternoon on Friday.

[2021-10-08 14:35] joewhitsitt opened #4285 "Special HR transition tasks for v2 -> v3"
Relates to https://github.com/uiowa/uiowa/issues/3752

**1/23/2025: If picking up this issue, please consult https://github.com/uiowa/uiowa/pull/8393#issuecomment-2610495261 for next steps.**

- [x] FAQs either need to transition to v2 accordions or FAQs content type needs to be accounted for in v3.
- [x] Content in Related Content field needs to be moved out so we can remove the field entirely. I

[2021-10-08 15:23] joewhitsitt commented on #4284
Created branches `update-dependencies-2021-10` for 701, 2, 3.

[code]

[2021-10-08 15:48] joewhitsitt commented on #4284
Need to test against tippie (need permission from @makurj) and education (dev is d9). Syncing ITS to DEV for now. Going to test education locally (media browser plus, styles dropdown).

[2021-10-08 15:55] joewhitsitt commented on #4284
`No database updates required`

[2021-10-08 16:04] joewhitsitt commented on #4284
I don't see any acquia_connector issues in DEV. Subscription badge is present and status report is clean. 🤷

[2021-10-08 16:08] joewhitsitt commented on #4284
No noticeable issues using media browser plus on education. The functionality is pretty separate from CKEditor actually.

[2021-10-08 16:31] joewhitsitt commented on #4284
Very _brief_ testing on tippie locally. it seems ckeditor module is picking up the updated library. i don't recall why tippie is using this setup instead of the standard sitenow_wysiwyg setup.

[2021-10-08 18:00] pyrello commented on #3501
To add the token, here are relevant pieces of code from when we did this for people:

https://github.com/uiowa/uiowa/blob/bed3a121ad35801f33991805e25bcaa74f957b5a/docroot/modules/custom/sitenow_people/sitenow_people.module#L140-L145

https://github.com/uiowa/uiowa/blob/bed3a121ad35801f33991805e25bcaa74f957b5a/docroot/modules/custom/sitenow_people/sitenow_people.module#L370-L371

https://github.com

[2021-10-08 19:09] #4276 closed, assigned to nobody

[2021-10-08 19:09] #3454 closed, assigned to dnkemper

[2021-10-08 19:16] dnkemper commented on #4233
Updated full article to display date. Deployed code and sent an email. Waiting for approval before closing issue.

[2021-10-08 21:22] bspeare opened #4290 "Integrate the brand icons into the card component"
# Story

As a site builder, I can select brand icons to use as card images so that I don't have to repeatedly upload different and outdated icon files that are cropped too close to work with the image crop settings in the card block.

# Proposed solution

Like the banner block has a "Background" select option, we would create a "Media" option on the card block that would allow users to select Icon

[2021-10-11 14:40] #3784 closed, assigned to dnkemper

[2021-10-11 14:43] briand44 commented on #3781
May be able to use views data export. There are a lot of records. I've had to do multiple exports in the past when a large number of records. If times out, try exporting half records in one and then run the other half.

[2021-10-11 14:44] briand44 commented on #3785
Views data export may be a good path forward.

[2021-10-11 14:46] pyrello commented on #3781
On other sites we have had very mixed success with views data export. It is basically unusable for large record sets. I think anything over 2-3k records is going to bomb out. Because of those issues, I don't really trust the tool and it actually seems like more work to get it done and to verify that it worked.

[2021-10-11 14:52] joewhitsitt commented on #3781
Did you try sequel pro last time? I thought I had recommended that for an issue with larger data

[2021-10-11 15:01] briand44 commented on #3781
This is good to know. I wasn't sure how many records before it would start choking.

[2021-10-11 15:34] joewhitsitt commented on #4284
These updates have been deployed.

[2021-10-11 15:34] #4284 closed, assigned to joewhitsitt

[2021-10-11 16:16] pyrello commented on #3781
Nope. That is what this issue is about.

[2021-10-11 16:17] joewhitsitt commented on #4262
Updated IS with consolidated instructions. Had Rick review them for accuracy.

[2021-10-11 16:28] joewhitsitt commented on #4262
No instances of domain or database issues in initial run.

[2021-10-11 16:49] joewhitsitt commented on #4262
Emails moved to "responses" folder its-web > inactive
Can be removed, authorized by:

- [x] edoncampus.org.uiowa.edu - bdlewis
- [x] fiedorowicz.lab.uiowa.edu - fwilliamson
- [x] slingala.lab.uiowa.edu - sajangoud-lingala@uiowa.edu
- [x] uienvironmentalcoalition.org.uiowa.edu - bdlewis
- [x] uiphotography.org.uiowa.edu - bdlewis
- [x] onefinance.uiowa.edu - deborah-zumbach@uiowa.edu, dagwang
- [x]

[2021-10-11 17:08] joewhitsitt opened #4292 "Re-Install labroman.prod.drupal.uiowa.edu on uiowa01 as v3"
Per its-web (roman.lab.uiowa.edu)

[2021-10-11 17:10] joewhitsitt commented on #4262
Not sure if it is related to the inactive, but a request came in for a v3 upgrade for https://roman.lab.uiowa.edu/ which has a v2 site already https://labroman.prod.drupal.uiowa.edu/. Created #4292

[2021-10-11 18:39] joewhitsitt commented on #4262
Captured the initial rush of responses. Not sure how to address the email from Tina at Pathology. I can assist with deprovisions but otherwise I am going to remove my assignment from this for now.

[2021-10-11 20:55] #4233 closed, assigned to dnkemper

[2021-10-11 21:18] dnkemper opened #4295 "SSL cert for humanitiesiowa.org on uiowa02"
https://sitenow.uiowa.edu/admin/structure/webform/manage/request_a_site/submission/12706

[2021-10-12 14:07] makurj commented on #3944
First pass webform on prod done: https://now.uiowa.edu/grant-awards-intake-form. Should I reach out to Richard?

[2021-10-12 14:50] makurj commented on #4284
Tested Tippie prod WYSIWYG (filtered and full HTML), create new text area, edit an old one, save, create links, etc. It all seems to be working fine.

[2021-10-12 16:59] joewhitsitt commented on #3501
Should https://github.com/uiowa/uiowa/issues/3501#issuecomment-874905664 (custom more link label) be part of the scope or a separate issue?

[2021-10-12 18:10] briand44 commented on #4087
Start with largest and work through them. If we need to turn on Node Revision Delete, 10 is a good number of revisions to keep.

[2021-10-12 18:13] briand44 commented on #4087
jacobsoninstitute and inrc.law are examples of where a cron job has been setup to clear the cache but that might not be needed for most.

[2021-10-12 18:38] joewhitsitt commented on #4296
Just capturing my thoughts once @pyrello mentioned custom entity... INRC has these "global asides" where aside is the custom entity and these are assigned to pre-defined regions (e.g. pre-footer). Alternatively, an individual page can override the global set ones.

<img width="889" alt="Screen Shot 2021-10-12 at 1 32 27 PM" src="https://user-images.githubusercontent.com/4663676/137010403-fe5afee8-

[2021-10-12 18:38] briand44 commented on #2155
Postponing to see how #4296 progresses

[2021-10-12 18:49] cory-skeers commented on #4296
I'm especially interested in randomized functionality and/or on-platform A/B testing. A/B testing would need plenty more discussion and planning, but this seems like a good base for enhancements like that.

[2021-10-12 18:54] briand44 commented on #4127
Could we potentially combine the dispatch templates into one or use an existing branded template?

[2021-10-12 18:58] briand44 commented on #4127
Would Workflow be a better option?

[2021-10-12 19:00] briand44 commented on #4127
Marking this as blocked until we learn more about if Workflow is a better option.

[2021-10-12 19:05] richardbporter commented on #3327
Seconded. Look for core/contrib patch/option that does this first then custom code.

[2021-10-12 19:12] briand44 commented on #4084
Prevent from user sending multiple unintentionally

[2021-10-12 19:20] briand44 commented on #4084
Restrict by permissions to only allow administrators for us to use and test before making it available to others. Michael mentioned he would be more comfortable with publishing to draft if this was more generally available.

[2021-10-12 19:29] bspeare commented on #3585
@richardbporter This probably went away after you made the changes in https://github.com/uiowa/uiowa/pull/3714/files?

[2021-10-12 19:34] bspeare commented on #3585
I wonder if it is worth removing the two-col and three-col class dependencies on core?   Since those are the only two layouts using `\Drupal\layout_builder\Plugin\Layout\` class: https://github.com/uiowa/uiowa/pull/3714/files

If we did, we could add these files to `layout_builder_custom` or a custom `uids_layouts` module:

- https://git.drupalcode.org/project/drupal/-/blob/9.5.x/core/modules/layo

[2021-10-12 19:41] joewhitsitt commented on #3585
Just saw https://github.com/uiowa/uiowa/issues/3585#issuecomment-941351453 and thought the error looked familar. Separate person asking about this in #twig Drupal slack:

https://drupal.slack.com/archives/C2YEAPQ7R/p1634059095061500

[2021-10-12 19:44] pyrello commented on #4296
Updated issue summary based on most recent planning meeting discussion.

[2021-10-12 20:13] briand44 commented on #4127
Reached out to the OneIT website folks about why we didn't use Workflow previously.

We definitely did not want Workflow, and yes we talked about it a great deal back then.  Our reason: Workflow requires approvers.  We did not think it was something that needed anyone’s approval, and that it would just create more work for HR and supervisors, without real benefit.  We like how the thank you progra

[2021-10-12 20:20] cory-skeers commented on #4257
Draft started here: https://sitenow.uiowa.edu/site-text-search

[2021-10-12 21:09] briand44 commented on #4127
There is some additional info about the API contacts on the Wiki https://wiki.uiowa.edu/display/drupaldev/On-premise+server+ACL

[2021-10-12 21:10] briand44 commented on #4127
Reilly Williams is the contact for Pharmacy who is asking for this.

[2021-10-12 21:22] briand44 commented on #3501
I think this is a feature others will ask for. We could default it to "View More News" but allow it to be changed.

I don't know how much this increases scope. I would say if it could delay this or other planned work from getting done, we should create a follow up issue.

[2021-10-13 13:06] cory-skeers commented on #4257
Page published https://sitenow.uiowa.edu/site-text-search

[2021-10-13 13:06] #4257 closed, assigned to cory-skeers

[2021-10-13 13:15] briand44 commented on #4227
Admissions is also looking for reusable stats and/or stats that can be fed from a source (US News & World Report).

[2021-10-13 13:46] pyrello commented on #3501
This is not really relevant to this particular work. It is going to be additional work to modify our ListBlock class to add this option to the view and the block configuration.

[2021-10-13 13:56] briand44 opened #4299 "Review international.prod.drupal.uiowa.edu from a content and design perspective."
# Review process

Work with @ABoston88 and put together a two-column spreadsheet.  In the first column provide the page name and url and in the second column provide notes/comments/suggestions.

## Example
<table border="0">
 <tr>
    <td><b style="font-size:30px">Page</b></td>
    <td><b style="font-size:30px">Notes</b></td>
 </tr>
 <tr>
    <td>Areas of Study: https://education.prod.drupal.uiowa

[2021-10-13 14:34] joewhitsitt commented on #4234
said Sean by way of Ben in Slack

[2021-10-13 14:37] joewhitsitt commented on #4281
i'd sit in on this

[2021-10-13 14:39] ABoston88 commented on #4281
Likewise.

[2021-10-13 14:39] bspeare commented on #4281
I'll start a huddle on this at 1 for those that are interested.   Let me know if that time works!

[2021-10-13 14:40] ABoston88 commented on #4281
I have SiteNow training from 1 - 2:30. If we can delay a bit, cool. If not, no worries. I'll catch up when training ends if this is still happening.

[2021-10-13 14:41] bspeare commented on #4281
Good to know! How about 3?

[2021-10-13 14:42] ABoston88 commented on #4281
That's perfect. Thanks!

[2021-10-13 15:37] mjoneill opened #4302 "People directory pager styling"
Feels...different.

https://education.prod.drupal.uiowa.edu/directory

[2021-10-13 15:38] mjoneill commented on #4302
<img width="781" alt="image" src="https://user-images.githubusercontent.com/7144234/137166713-118a2f44-0232-42b9-a1b2-9b21a95610d6.png">

[2021-10-13 15:39] mjoneill commented on #4302
Just capturing this. Seems wonky. Might just be my cold meds...

[2021-10-13 17:17] richardbporter commented on #3585
At this point, anything is worth a shot but don't they need that to function?

[2021-10-13 17:20] bspeare commented on #3585
They do need that function, so we would need to move/duplicate that functionality to our theme or our custom layout builder module.

[2021-10-13 17:47] joewhitsitt opened #4305 "Custom more link label via ListBlock"
# Story

As a site editor I would like to add a more link to my people/articles/events (local) views block and choose to use a default label or provide a custom label.

# Background

https://github.com/uiowa/uiowa/issues/3501

https://github.com/uiowa/uiowa/issues/3501#issuecomment-874905664 was decided it should be a separate follow-up task.

# Proposed solution

- [x] Similar to the more link pa

[2021-10-13 17:47] joewhitsitt commented on #3501
Created a separate issue to address the request. https://github.com/uiowa/uiowa/issues/4305

[2021-10-13 18:25] #4265 closed, assigned to nobody

[2021-10-13 18:33] joewhitsitt commented on #2325
Reopening due to education bug https://iowaweb.slack.com/archives/C01LA6Y2XGV/p1634148982063800

[2021-10-13 18:34] joewhitsitt commented on #2325
<img width="1096" alt="Screen Shot 2021-10-13 at 1 33 52 PM" src="https://user-images.githubusercontent.com/4663676/137192731-279557d8-6918-46af-b879-2ccfffe20bab.png">

[2021-10-13 18:44] briand44 commented on #4223
After replicating the home page and publishing the new page, I deleted the new page and got the following error:
`The website encountered an unexpected error. Please try again later.`

[2021-10-13 18:47] joewhitsitt commented on #4223
ruh roh

[2021-10-13 18:50] briand44 commented on #4223
this is on default.stage if we want to check logs. I am going to continue testing to see if it happens with any page or if this is because it is home page or default content.

[2021-10-13 18:52] joewhitsitt commented on #4223
might want to get @richardbporter to provide thoughts about cherry picking the branch out of main so we have more time to work on it

[2021-10-13 18:56] joewhitsitt commented on #4223
`Drupal\Component\Plugin\Exception\PluginNotFoundException: The "" entity type does not exist. in Drupal\Core\Entity\EntityTypeManager->getDefinition() (line 143 of core/lib/Drupal/Core/Entity/EntityTypeManager.php).`

is what i got on sandbox local homepage (copy) when deleting

[2021-10-13 18:56] cory-skeers commented on #4223
On a local copy of main, I tried just creating a new page (not replicate), publish, and delete, and get the same error.

[2021-10-13 19:09] cory-skeers commented on #4223
It looks like it's occurring after any page has been replicated, but after that, whenever any page is deleted...I think.

[2021-10-13 19:16] joewhitsitt commented on #4223
Talked to Rick. So, we can't undo this from main. There are sites being staged and the removal would cause errors.

What we can do is either update permissions again to now allow OR set the `replicate_allowed` to empty on all sites. Our checks would then prevent replicate from taking place (even for admins)

[2021-10-13 19:23] joewhitsitt commented on #4223
https://github.com/uiowa/uiowa/pull/4306

[2021-10-13 20:43] joewhitsitt commented on #4223
Replicate is still enabled on sites but is preventing users from triggering the functionality.

Cory did some digging and it seems to be an issue with slider/collection where replicate is duplicating referenced paragraph items.

[2021-10-13 21:37] cory-skeers commented on #4223
Steps to reproduce:

- Replicate a page which uses either sliders or accordions (blocks w/ nested paragraphs)
- Publish the replicant page
- Delete the replicant page
- Attempt to view the original page, and get a WSOD

Looking at the `entity_usage` table, or loading in the paragraph and checking `->getParentEntity()` both seem to point to that new paragraphs are being created (so the original sho

[2021-10-13 22:17] joewhitsitt commented on #3957
Capturing thoughts from multiple emails:

Jay clarified that while there is accessibility data available (e.g. https://maps.facilities.uiowa.edu/accessibility/), it would be premature to say it could just be wired up to Concept3D.

Patrick mentioned in an early email if TM had a comprehensive list of all the ADA routes through campus. That and the entrances to buildings would help them get started

[2021-10-14 13:23] mjoneill commented on #3957
OK.  Thanks for sharing all this.  Thinking through the comments, it sounds like these are next steps:
1- we need to have a conversation with Jay or site stakeholder to learn if there are concerns with having the facilities building pages as the canonical source for building information.
2- Ask Patrick for an example/template of ADA routes and entrances
3- Future conversation with Jay once we get

[2021-10-14 13:24] joewhitsitt opened #4309 "Install labmorl.stage.drupal.uiowa.edu on uiowa01 as v3"
Customer has a v1 (live) and a v2 (.prod) and wants to transition completely to v3 by referencing content on both sites.

[2021-10-14 13:28] quamsta opened #4310 ""Add Link" form in Structure -> Menus drops the user back to the menu list instead of the current menu"
# Problem
When the user adds a menu link to a menu via the Structure -> Menus section in Drupal, they get dropped back into the list of menus instead of the last menu they added a link to.

More details and steps to reproduce here:

https://www.drupal.org/project/drupal/issues/2957953

# Proposed solution
Possibly backport a fix made for 9.3, outlined in the above link, or apply another patch in o

[2021-10-14 13:37] quamsta commented on #4310
Possible patch for 9.2.x?

https://www.drupal.org/project/drupal/issues/2957953#comment-14208221

[2021-10-14 14:08] bspeare commented on #4281
We looked through the site yesterday and made some general notes and suggestions.  After seeing how many notes we were making for each page, we decided it might be better to focus on providing some overall strategies to focus on and walk through a few of their page layouts with them at a future meeting.

We are waiting to get a sample page that they consider "done" and we might create an alternati

[2021-10-14 14:59] joewhitsitt commented on #2569
Closing. Team decided this is not the way to go. not available on all blocks, placement not always at the scroll point folks want. See https://github.com/uiowa/uiowa/issues/3311

[2021-10-14 14:59] #2569 closed, assigned to nobody

[2021-10-14 15:03] bspeare commented on #4302
I added this as an issue in https://git.uiowa.edu/java/profiles/-/issues/395 and I'm going to close this issue since we do not control these styles.

[2021-10-14 15:03] #4302 closed, assigned to nobody

[2021-10-14 15:05] #2325 closed, assigned to nobody

[2021-10-14 15:49] briand44 commented on #4295
This is no longer needed.

[2021-10-14 15:49] #4295 closed, assigned to nobody

[2021-10-14 16:06] dnkemper commented on #3979
had a few minutes to spare. Haven't added patch in a hundred years. Sawwy. BTW @joewhitsitt's suggestion of using no.22 worked swell. Nice job, guys!

[2021-10-14 16:10] richardbporter opened #4314 "As a developer deleting a D9 site, I can delete files through an automated process."
# Story

As a developer deleting a D9 site, I can delete files through an automated process.

Right now, this is a manual and error prone process.

# Proposed solution

Copy the automation added in #4283 and add to the `uiowa:multisite:delete` command for each application environment.

[2021-10-14 17:23] joewhitsitt commented on #4292
reinstalled, tweaked email sent through original form submission

[2021-10-14 17:23] #4292 closed, assigned to nobody

[2021-10-14 17:35] joewhitsitt commented on #3501
re: limit views block hide fields

I think @pyrello brought this possibility up originally, but I am leaning towards moving some of the source/org/direct logic to each field within a `preprocess_field`. Direct link to source will still replace the card link but, the mash up of source link and org can happen in the org field preprocess (help text on the field would still be correct). on the views b

[2021-10-14 17:42] pyrello commented on #3501
If we need to display the actual source link URL and allow it to be hidden, then I suggest that doesn't change whether or not the card is linked. By setting a source link and checking the link to directly to source box, users have indicated that the source link should override the link in all cases where the teaser for the article is displayed. This means that if those conditions are met, the card

[2021-10-14 17:53] joewhitsitt commented on #3501
agreed. just wasn't sure if hiding the field disrupted any of the in-place logic to link up the card.

[2021-10-14 17:54] pyrello commented on #3501
I think we can access the value of the field via `getFieldValue` regardless of whether it is showing or not. But we might want to validate that idea.

[2021-10-14 18:51] pyrello commented on #4237
I think this is completed because I was able to create a failing test that demonstrates the issue we are having:https://www.drupal.org/pift-ci-job/2207458

And I came up with a code change the resolves the test failures:
https://www.drupal.org/pift-ci-job/2207461

[2021-10-14 18:51] #4237 closed, assigned to pyrello

[2021-10-14 18:55] pyrello commented on #4137
I would consider #4160 to be a "nice to have" instead of necessary for this moving forward.

[2021-10-14 18:55] pyrello opened #4316 "Fix failing test in #4237"

[2021-10-14 18:56] #4316 closed, assigned to nobody

[2021-10-14 19:01] pyrello commented on #4159
I believe at this point the solution is mostly in place. We just need to account for a sorting issue that is causing the test to fail.

[2021-10-14 20:08] pyrello commented on #4159
I think that we have what we need here to be able to move forward: https://www.drupal.org/pift-ci-job/2207527

[2021-10-14 20:08] #4159 closed, assigned to pyrello

[2021-10-14 20:32] richardbporter commented on #4087
There is a script in each application that can be run on one site or all sites with Drush to get database size info:
`drush -l mysite.uiowa.edu php-script ../drush/dbsize.php`
`drush @sites php-script ../drush/dbsize.php`

[2021-10-14 21:02] richardbporter commented on #4127
I'm not sure how the original form works exactly but I'd be curious if the webform remote POST handler could work for this.

[2021-10-14 21:32] joewhitsitt commented on #4309
labmorl.stage has been created. emailed user with tweaked email.

[2021-10-14 21:32] #4309 closed, assigned to nobody

[2021-10-15 13:16] briand44 commented on #4314
Would this just be scoped to D9 then?

[2021-10-15 13:27] bspeare opened #4317 "Provide grid layout options per layout region"
# Story

As a site builder I can set grid layout options per region so that I can create a grid of block components.

Currently we have a couple of grid styles within the "styles" options for one column sections that we built for the stat grids on the home page:

<img width="505" alt="Screen Shot 2021-10-15 at 8 24 49 AM" src="https://user-images.githubusercontent.com/1036433/137494243-943b9bb0-4e

[2021-10-15 14:05] pyrello commented on #4137
As I started working on re-exporting the admissions site split, I encountered the following issue: https://www.drupal.org/project/config_split/issues/3240272#comment-14258004

[2021-10-15 14:25] richardbporter opened #4318 "Delete humanitiesiowa.org"
It would be useful to do this in combination with #4314. Postponing until that is prioritized.

[2021-10-15 15:24] #4180 closed, assigned to richardbporter

[2021-10-15 16:01] makurj commented on #3944
The font size was too small so added some styling to make it more readable.

[2021-10-15 16:13] pyrello commented on #1513
I think that this issue is related to modules that no longer exist.

[2021-10-15 16:13] #1513 closed, assigned to nobody

[2021-10-15 16:26] pyrello opened #4320 "Add smart date module to default platform"
# Motivation

We have smart date as a dependency for multiple feature splits. This means that we have multiple copies of the smart date formats that are used in those feature splits. Adding this module to the default platform would allow us to deduplicate those formats and prevent possible configuration collisions between different features.

# Proposed solution

* Enable smart date module
* Updat

[2021-10-15 18:49] makurj commented on #4084
I'd like to pair on this.

[2021-10-15 18:50] makurj commented on #4240
I'd like to pair on this.

[2021-10-15 18:51] makurj commented on #3200
I'd like to pair on this.

[2021-10-15 19:15] briand44 commented on #4127
I reached out to HR to see if they would entertain a campus wide solution and if not if the API we use is open to more than just OneIT staff/supervisors.

[2021-10-15 19:53] richardbporter commented on #3327
Brand lockup example: https://github.com/uiowa/uiowa/blob/14f7d298b109e1642774285477b274e2f4e9c830/docroot/sites/brand.uiowa.edu/modules/brand_core/brand_core.module#L391-L424

[2021-10-15 19:54] dnkemper commented on #3327
THANK YOU, @richardbporter 🥳

[2021-10-15 19:57] richardbporter commented on #3327
sitenow_media_wysiwyg might be a good place for this.

[2021-10-15 21:00] briand44 commented on #4271
Blocked, waiting for #4296 so folks have a potential alternate solution when we restrict what they are currently doing.

[2021-10-18 14:23] #3996 closed, assigned to nobody

[2021-10-18 14:23] #3694 closed, assigned to mark-bennett-uiowa

[2021-10-18 14:23] #3756 closed, assigned to nobody

[2021-10-18 14:29] joewhitsitt commented on #3756
Recserv came to us with a list of customizations they want to preserve. No longer our responsibility.

[2021-10-18 16:17] joewhitsitt commented on #4262
Secondary run done. Next up 10/25 run/domain removal

[2021-10-18 16:42] bspeare commented on #2665
As we briefly discussed this morning, this would be a great issue to move forward to help build future viewbook landing pages.

[2021-10-18 19:40] richardbporter commented on #3327
#4322 is working great for files. Are we concerned about other media types - audio, image, social media post, etc.? Have those been reported as problematic? I've only heard about files. Other types could be trickier, for example images would need to include derivative regeneration and purging.

[2021-10-18 19:43] dnkemper commented on #3327
^^tested and same. Could I checkout https://www.drupal.org/project/purge/issues/2920332 or are you wanting a custom solution for this too? Also, what about that patch that updated the thumbnail image?

[2021-10-18 19:53] richardbporter commented on #3327
I'd vote to keep this limited in scope to files specifically since that seems to be most common and not worry about images, video, etc. for now.

[2021-10-18 19:54] dnkemper commented on #3327
@richardbporter AWESOME! Sold!

[2021-10-18 20:01] makurj commented on #3944
Met with Chris and Richard. Here are the new requests:

- [x] Make all fields except the quote required.
- [x] Add an email field.
- [x] Don't show previous submission information.
- [x] Remove $ as default value for Award amount.
- [x] Add "500 character limit" to description and quote labels
- [x] Replace Richard's email with osc-researchrequest@uiowa.edu for submissions.

[2021-10-18 20:05] joewhitsitt commented on #3327
I was referencing the "file" entity when writing this issue which is what media_entity_file_replace covers. Is it a big lift to also handle file entities like images, audio, local video?

[2021-10-18 20:08] #3979 closed, assigned to dnkemper

[2021-10-18 20:20] pyrello opened #4328 "UI Press - create Book content type"
This will replace UI Press Book content type currently used on their d7 site.

General layout - customer would like something similar to an amazon book page, with the book cover on the left, text about the book in the middle, and buying options on the right. Book cover image needs to be larger than it is on current site.

Fields & their current formats, with some possible changes:
- Title - text f

[2021-10-18 20:20] pyrello opened #4329 "UI Press - Investigate using Person content type for creating Authors"
# Motivation

UI Press needs a Person content type to handle authors, illustrators, etc that contribute to a book but aren't part of their staff. In D7 they used a separate Author content type. The different roles could be added to our existing Person Types, but since there's about a dozen it might be easier to keep them separate and create a custom Person type.

Fields needed:
- First Name
- Last

[2021-10-18 20:28] GaryRidgway commented on #4296
As an update for this, I thought I would put some progress here:
- I started with fragments, as they were already installed and easily usable
- There were some easy ways to manipulate the default layout builder options to make it so users could not add any more sections, and only got the one on the fragments
- I thought it was a good idea to be able to let users make multiple pre-footers and then

[2021-10-18 20:35] pyrello commented on #2622
Closing this because I'm not sure it is actually important.

[2021-10-18 20:35] #2622 closed, assigned to nobody

[2021-10-19 13:45] richardbporter opened #4330 "Undefined index in UiowaHeadlineWidget"
# Problem
[code]

# Steps to reproduce
TBD

# Proposed solution
TBD

[2021-10-19 15:40] makurj commented on #3944
Set up https://www.drupal.org/project/webform_validation and changed description and quote fields to textareas with 500 character limit.

[2021-10-19 15:52] e-marie-w commented on #3501
Differences between article block default content so far: author styled differently, difference in view more button ('View More' vs. 'View More Articles')

[2021-10-19 16:21] #4266 closed, assigned to nobody

[2021-10-19 18:11] joewhitsitt commented on #4268
SiteNow Articles and People header content text areas? Ignored view config stored in active db

/admin/config/sitenow/sitenow-people
/admin/config/sitenow/sitenow-articles

<img width="698" alt="Screen Shot 2021-10-19 at 1 14 20 PM" src="https://user-images.githubusercontent.com/4663676/137967456-160d5e11-ffa7-4836-809c-c89a17db8a59.png">

[2021-10-19 18:25] briand44 commented on #3781
database name is "urban"

[2021-10-19 18:25] briand44 commented on #3785
database name is "urban"

[2021-10-19 18:28] briand44 commented on #4126
Establish new view block in events split. Account for styling, etc.

[2021-10-19 18:28] briand44 commented on #4126
possibly generalize template more?

[2021-10-19 18:32] briand44 commented on #4126
Part of feature split for all as well as Admissions.

[2021-10-19 19:08] richardbporter commented on #4314
Yes. Updated.

[2021-10-19 20:02] pyrello commented on #3781
Here is the SQL query:

[code]

[2021-10-19 20:38] #4174 closed, assigned to nobody

[2021-10-19 21:16] joewhitsitt commented on #3957
- Got buy-in to move forward with facilities building pages serving as the canonical source.
  - Put together a list of redirects from maps.uiowa.edu, consider other in-site redirects to help non-building number queries.
  - Account for "explore" and "things here" info that would be lost during redirect period.
  - See if "explore" and "things here" info can be maintained and pulled in along side

[2021-10-20 13:49] pyrello commented on #748
I'm not sure that we need this anymore. We have been rolling for 6+ months without it and I have yet to encounter any issues related to not having it.

[2021-10-20 14:02] makurj commented on #3944
First pass complete.

[2021-10-20 15:45] richardbporter commented on #3327
For whatever reason, browsers don't seem to hold on to documents (txt, pdf, etc) as long as audio and images. #4322 definitely works well for documents and there is an obvious use case for people sending out links to documents in emails and other communications.

I see less of a use case for audio and images. Not replacing audio and especially images, actually works better for caching. New image s

[2021-10-20 15:46] #4223 closed, assigned to cory-skeers

[2021-10-20 16:05] joewhitsitt commented on #3327
I am okay with:
- unchecking `Overwrite original file` for images/audio. i could also be persuaded to remove editor access to the checkbox for these two media types.
- i think a message on all replace media types would be helpful "there are potential caching issues with file replacement"

I don't think removal of the functionality all together is a good idea. the big benefit is to upload a replace

[2021-10-20 16:49] briand44 opened #4335 "Embed Group Fitness Schedule"
# Story

As a Rec Services site owner, I would like to display our group fitness schedule from Fusion so that end users can know when and where these activities are taking place without us having to manually enter this content in multiple places.

# Additional Info

Link on current live site https://recserv.uiowa.edu/programs/fitness/group-fitness/group-fitness-schedule
Link to where this should e

[2021-10-20 17:00] briand44 opened #4336 "Embed Intramural Sports Offerings"
# Story

As a Rec Services site owner, I would like to display our intramural sports offerings from our 3rd party so that end users can find this information without us having to manually enter this content in multiple places.

# Additional Info

Link on current live site https://recserv.uiowa.edu/intramural-sports
Link to where this should exist on new site https://recserv.prod.drupal.uiowa.edu/i

[2021-10-20 17:18] richardbporter commented on #3327
I guess I assumed old files were deleted based on https://github.com/uiowa/uiowa/pull/2165. I can double check though by lowering temp file time to like 60 seconds.

[2021-10-20 17:33] joewhitsitt commented on #3327
Though grouped together in #2165 they had two different goals at the time. Offer replace functionality and delete files marked for deletion (including backlog files pre-8.4). I don't recall thinking a whole lot about the relationship between the two.

[2021-10-20 17:47] richardbporter commented on #3327
I'm not seeing file_usage changes or the status of the old file set to 0 in file_managed. :(

[2021-10-20 18:07] pyrello commented on #3781
I think this is done, although I am waiting for confirmation from the customer. I ended up using TablePlus to export this because it seemed to do a better job of creating non-broken CSV exports. I had to change the UTF encoding to prevent smart quotes from being rendered as weird symbols.

Here is the SQL query I used for the most recent version of the export:
[code]

[2021-10-20 18:11] richardbporter commented on #3327
I think this is due to media revisions which apparently are a thing without a UI. I enabled https://www.drupal.org/project/media_revisions_ui, deleted all past revisions for one media entity and saw one old file removed. A couple others persisted for some odd reason. Looking in the database, I see 3 revisions for the media I'm working with and none in the UI. That must be why.

[2021-10-20 18:14] richardbporter commented on #3327
I was leaning this way. I'm ok with leaving access to editors in case someone does have a use case for sending out links to images/audio.

[2021-10-20 18:31] richardbporter commented on #3327
Talked with @joewhitsitt. Maybe to avoid risking creating orphaned files, we should merge #4322 as-is and dig deeper into media revisions in a follow-up. We are purging all we can in #4322.

[2021-10-20 18:37] joewhitsitt opened #4338 "Media Revisions and Orphaned Files"
Follow-up from https://github.com/uiowa/uiowa/issues/3327

## Problem

Media revisions are turned on but don't have a UI and we aren't limiting them similar to node revision delete. As it relates to media_entity_file_replace, if a file is replaced (new file name), the old file continues to have usage due to revisions and is not cleaned up.

This is also affecting redirects. If the file still exist

[2021-10-20 18:41] #3327 closed, assigned to richardbporter, dnkemper

[2021-10-20 19:06] richardbporter commented on #4338
There is a contrib project to view/revert/delete media revisions that I briefly interacted with in #3327: https://www.drupal.org/project/media_revisions_ui.

[2021-10-20 19:21] joewhitsitt commented on #3641
https://blog.lando.dev/2021/03/03/acquia-lando-integration/

[2021-10-20 19:22] joewhitsitt commented on #4087
Going to start looking at a few. Folks are welcome to join

[2021-10-20 19:26] pyrello commented on #3641
For this to be desirable, Lando would need to perform significantly better than it does when I am using https://github.com/thinktandem/drupal-contributions, which is extremely slow and makes my computer hum whenever it is running.

[2021-10-20 19:31] pyrello commented on #3781
Ugh. Getting this to output correctly was a character encoding nightmare! The export looked fine when directly viewing the file contents in a program like VS Code. It also looked fine in Numbers. But when opened in Excel (both the online and desktop versions) it was replacing smart quotes with various symbols. I ended up having to export from Numbers into an Excel spreadsheet format, then open in

[2021-10-20 19:31] #3781 closed, assigned to pyrello

[2021-10-20 19:36] joewhitsitt commented on #3641
i just started poking around again because edudu slack is talking about lando moving away from docker.

[2021-10-20 19:38] pyrello commented on #3641
It is also possible that the experience with Lando I've been having is somehow unique to that project.

[2021-10-21 13:19] mjoneill opened #4343 "Governance plan document for uiowa.edu"
As a campus leader, I can look at a governance plan for uiowa.edu and understand when the site gets updated, on what cadence, and by who:

Examples of content types:
* Sparkle facts and claims
* Links
* Banner video(s)
* Events
* Vertical videos
* News articles
* Photos and imagery

[2021-10-21 15:11] joewhitsitt commented on #4087
Took the opportunity to also purge orphans on some big v2 sites:

law: Paragraph: Deleted 122 orphan revisions
brand: Paragraph: Deleted 434 orphan revisions
hr: Paragraph: Deleted 127 orphan revisions

might be worth considering running this periodically on sites now that the drush command has been created and [released](https://www.drupal.org/project/entity_reference_revisions/releases/8.x-1.9).

[2021-10-21 15:37] joewhitsitt commented on #4087
Configured node_revision_delete for most of the IS's websites. now.uiowa.edu has quite a few candidates. watching for a dip. If it doesn't dip, might need to manually batch run it off-hours.

Used the 300 MB+ as the base line for safe cache form clear to be enabled and configured.

Going to wait and see how these change db sizes and if there are new big offenders that need attention.

[2021-10-21 16:02] joewhitsitt commented on #4087
Manually cleared cache_form on:

inrc.law = 1518.64 to 118.51
dsp.research = 777.99 to 131.11
iowalakesidelab 383.55 to 31.39
engineering 456.33 to 250.25

hoping scfc can keep up now, but if inrc is any indication (running every minute), we will have to watch some of these and manually truncate.

[2021-10-21 16:14] briand44 commented on #3944
I think we could probably close this issue now that the first pass is complete. We can let the customers begin using this form and get feedback on if it is working well for them and how urgent any future enhancements would be. Ideally, the future enhancements could be part of the larger redesign and move to SiteNow v3. We can re-open if there is any more urgent feedback.

[2021-10-21 16:14] #3944 closed, assigned to makurj

[2021-10-21 17:07] briand44 opened #4344 "As a SNv3 site owner leveraging Exchange to manage resource hours, I would like to be able to display those hours on my website."
# Story

As a SNv3 site owner leveraging https://hours.iowa.uiowa.edu to manage location hours, I would like to be able to display those hours on my website so that end users know when our locations are open/closed and this information can be maintained in one place.

# Proposed solution

Create a block that takes an location identifier (Exchange resource name, ex. RES-foo-200) as an input and pas

[2021-10-21 17:15] joewhitsitt commented on #4087
manually running nrd on now.uiowa.edu via drush

[2021-10-21 17:35] richardbporter commented on #4344
I think this could be built in a such a way that it could work for Housing & Dining location hours or other sites that might have a use case. I will fill in details later.

[2021-10-21 20:06] joewhitsitt commented on #4087
now.uiowa.edu got bigger... 🤦

1620.94 to 1819.68

for all of the revisions that nrd got rid of does it keep a record of greater size?

+600 MB in field_body_revision table alone

This site also has search api and is indexing a bunch of stuff. Not sure if that feature is needed.

[2021-10-21 20:18] quamsta opened #4346 "Replicate button confirmation dialog may need to be adjusted for our use case"
![image](https://user-images.githubusercontent.com/472923/138350182-19788318-57f9-43da-b87a-68fce69180ec.png)

We were exploring the "Replicate" functionality this afternoon. It's amazing. One minor thing that we noticed is that there's some inconsistency in the terms used in the default confirmation dialog before replicating a page.

For instance, there's several references to "labels" when curre

[2021-10-21 20:46] makurj commented on #4126
I'd like to work/pair on this.

[2021-10-22 14:37] cory-skeers commented on #4127
Followup notes:

Plan is to have the thank you form be placeable as a block (similar to the transportation calculator), allowing for it to be added to an otherwise fully customizable page. This would allow for the option to place multiple blocks throughout a site, but all blocks will be tied to the same base configuration (ie user won't have the option to have one page with a thank you that goes t

[2021-10-22 14:44] quamsta commented on #4127
Few notes/ideas for a future slice based on some things we learned/needed while doing a similar project for the DSL Intranet:

- Ability for site editor to adjust the terminology of "Thank You," since other units may want to send things like "High Five," etc
- Ability to optionally publicly display a list of Thank Yous
- Option to not do the supervisor notification and send a Thank You directly, o

[2021-10-22 14:47] pyrello opened #4348 "SiteNow Find Text UX improvements"
# Motivation

The Find Text feature is a tool rather than a configuration setting, so placing it in the context of the SiteNow configuration menu doesn't make a lot of sense, since you are not changing configuration when you use it. Also, I think we are a little over the top in wanting to name things branded with "SiteNow" and that this tool could just be called "Find Text" instead of "SiteNow Fin

[2021-10-22 14:50] cory-skeers commented on #4348
Maybe we can work these changes alongside #4268

[2021-10-22 15:21] briand44 opened #4350 "Update Canonical url for buildings"
# Story

As an owner of the maps website, I would like to have the canonical url for each building point to the corresponding building page on the Facilities website, in preparation for redirecting those pages in the future.

# Additional Info

https://maps.uiowa.edu/sh - current canonical url shows `<link rel="canonical" href="https://maps.uiowa.edu/sh" />`

It should be `<link rel="canonical" hr

[2021-10-22 15:29] briand44 opened #4351 "Audit building information"
# Story

As a maps site owner, I would like to understand what building information is currently available that would be lost if we redirect these building pages to Facilities, so that we can understand what if anything needs to be accounted for on Facilities, prior to redirecting.

# Additional Info

Things like "explore" and "things here".

Example of a maps building - https://maps.uiowa.edu/sh

[2021-10-22 15:32] joewhitsitt commented on #4350
The data.its endpoint that currently populates maps has building number available. Could get that data into a csv, do some spliting/curating into a source/destination list that we can add to the redirects table.

Might be nice to rabbit hole redirect in case authenticated still needed to get to the building page.

[2021-10-22 15:33] joewhitsitt commented on #4351
Extras = Explore

https://maps.uiowa.edu/admin/structure/taxonomy/extras

[2021-10-22 16:43] briand44 commented on #2739
Obermann would like to show past events that are greater than 365 days old.

[2021-10-25 13:32] #4346 closed, assigned to quamsta

[2021-10-25 14:13] joewhitsitt commented on #4262
Ping Brian with list of sites before domain removal

[2021-10-25 14:29] makurj opened #4353 "JPEC News Article Migration (no launch date yet)"
Step 1: Review fields on current JPEC site and compare with D9 fields to see if a one-to-one news article migration is possible. Make notes of findings below.

Step 2: If migration is possible, work with Darren Miller to schedule it before they go live (no launch date yet)

[2021-10-25 14:32] joewhitsitt commented on #4351
See the comments here: https://github.com/uiowa/uiowa/issues/4006

[2021-10-25 15:09] dnkemper commented on #4262
701

- [x] UPDATE [ok] does not mean "okay"
- [x] 3ddesign.org.uiowa.edu
- [x] acce.org.uiowa.edu
- [x] actonhealth.lab.uiowa.edu
- [x] amy-lee.lab.uiowa.edu
- [x] arabstudentsassociation.org.uiowa.edu
- [x] bassukferguson.lab.uiowa.edu
- [x] cinema1968.lab.uiowa.edu
- [x] cognitive-brain.lab.uiowa.edu
- [x] deltachapterdst.org.uiowa.edu
- [x] ghs.org.uiowa.edu
- [x] gilbertson-white.lab.uiowa.edu

[2021-10-25 15:39] briand44 commented on #4262
so my understanding is only 701 is in scope here. We should not deactivate Hawktools. Otherwise, I am fine with moving forward with this as planned. Not sure if @mjoneill wants to review or has any concerns.

[2021-10-25 15:41] dnkemper commented on #4262
Got excited I guess 🙈

[2021-10-25 15:44] briand44 commented on #4235
We will want to provide this context to other component link fields as well (cards, call to action, etc.)

[2021-10-25 15:52] mjoneill commented on #4262
No concerns providing there's still a possible undo if necessary. :P

[2021-10-25 16:37] joewhitsitt commented on #4087
Updated https://iowa.sharepoint.com/:f:/r/sites/CSI-Drupal2/Shared%20Documents/Acquia%20Database%20Usage?csf=1&web=1&e=0phl0q with refreshed db size info for 701-3.

I think we should periodically check some of these dbs just in case there is a runaway cache_form table, but closing this issue for now. For example, inrc.law jumped up again.

[2021-10-25 16:37] #4087 closed, assigned to joewhitsitt

[2021-10-25 18:41] dnkemper commented on #4262
701 site domains removed and documented in spreadsheet. Highlighted yellow.

[2021-10-25 20:52] dnkemper opened #4359 "SSL for www.iowajpec.org and iowajpec.org on uiowa02"

[2021-10-26 14:30] joewhitsitt commented on #4262
Moved the issue summary to https://wiki.uiowa.edu/display/sitenow/Inactive+websites

[2021-10-26 14:59] joewhitsitt commented on #3957
@mjoneill, Jay says that while there is entrance data, it is not tied to the buildings (BuildingID) and there is no designation of a main/primary entrance. This data could start to be captured, but that we probably don't have the right data for what is needed right now for way finding.

[2021-10-26 15:42] joewhitsitt commented on #2724
Any idea if card.js will have to be adjusted to handle clicks on this object?

[2021-10-26 15:47] joewhitsitt commented on #2881
Should this start in UIDS to account for images?

[2021-10-26 15:49] bspeare commented on #2724
@joewhitsitt I don't think so, tried it out locally and clicks are working fine.

[2021-10-26 15:50] bspeare commented on #2881
I think we can backport the solution to UIDS based on what the final product looks like with this block.

[2021-10-26 18:07] briand44 commented on #4350
Potentially preprocess into meta tag since building id exists on maps site?

[2021-10-26 18:12] joewhitsitt commented on #4350
The full building number is available

[code]

[2021-10-26 18:16] briand44 commented on #2724
This would need the update hook or possibly check if config is set?

[2021-10-26 18:18] pyrello commented on #2724
I would like to pair on this.

[2021-10-26 18:21] briand44 commented on #2724
Scope this to remote video only, which means it differs a bit from how the banner works.

[2021-10-26 18:29] makurj commented on #2881
Blockquote example on Tippie D7: https://tippie.uiowa.edu/stories/phaedra-strohmaier-mba

![image](https://user-images.githubusercontent.com/52135878/138939284-c323d1ae-75bd-458c-8053-a376b0c75754.png)

[2021-10-26 18:29] mjoneill commented on #2881
An example from the stories site of _a_ story with a blockquote : https://stories.uiowa.edu/improving-outcomes-children-hearing-loss

There may be other/additional types of block quotes in play on that site.

[2021-10-26 18:30] makurj commented on #2881
I would like to work/pair on this.

[2021-10-26 18:39] briand44 commented on #2755
off by default, only show after scrolling down page

[2021-10-26 18:40] cory-skeers commented on #2755
Was curious about this, and pulled up https://www.nngroup.com/articles/back-to-top/. Haven't gone through it all myself, so not sure how useful, but may be a good resource to check out.

[2021-10-26 18:43] dnkemper commented on #2755
awesome! Thank you, @cory-skeers! Will definitely check that out!

[2021-10-26 18:49] mjoneill commented on #4351
If automating the aggregation of the info in the Proposed Solution section is not possible, we can likely invest in a manual audit.

[2021-10-26 18:53] briand44 commented on #4335
Other option would be to allow iframes from this source?

[2021-10-26 18:56] briand44 commented on #4335
Don't let the look/brand hold this up but would be good to understand how much control CSI has.

[2021-10-26 19:09] briand44 commented on #4241
Doesn't need to be a checkbox to enable this, it could be a manual process that needs to happen. If so, we should document the process.

[2021-10-26 19:17] briand44 commented on #4241
Want to avoid the possibility of this accidentally getting turned off/on and causing issues or displaying content that should not be public.

[2021-10-26 19:20] mjoneill commented on #4241
For consideration for sites that require authentication to view content:

* We need a search solution that doesn't rely on Google indexing public pages
* robots.txt should likely be disallow all bots and agents
* Sitemap.xml should NOT disclose pages that are not accessible without authentication.
* Each page should have the meta noindex, nofollow tag set in the meta.  <--- extra layer of protecti

[2021-10-26 19:20] briand44 commented on #4267
Likely be an issue with articles once that rolls out as well.

[2021-10-26 19:29] #3678 closed, assigned to nobody

[2021-10-26 19:29] #3272 closed, assigned to nobody

[2021-10-26 19:29] #3501 closed, assigned to joewhitsitt, e-marie-w

[2021-10-26 20:10] richardbporter commented on #4127
The template.html file in the D7 oneit_thankyou module looks to be very similar to what is in the _OneIT Thank You Recipient_ email template on Dispatch. I'm guessing it was just versioned in the repo and copied/pasted. It is slightly different though, so I think we can ignore that file and just use what is in the Dispatch UI.

https://apps.its.uiowa.edu/dispatch/templates/586370992

[2021-10-26 20:12] richardbporter commented on #4127
Just noting that all applications in prod are on the same hardware so no modifications to the ACL should be needed.

[2021-10-26 20:23] richardbporter commented on #4127
I'm taking this to mean that any site that wants this feature would use the same HR API credentials. If that is true, I think we could store those credentials in [the secrets file](https://docs.acquia.com/resource/secrets/#secrets-settings-php-file) instead of settings form config.

[2021-10-26 20:46] richardbporter commented on #4127
I think so, yes. We could set up a new, generic campaign/template/etc. for D9 and we'd select that in the module config when setting this up on new sites. Using an on-brand template in Dispatch seems like a good idea.

The current module config would allow for this just by selecting different campaign/templates/etc.

[2021-10-26 21:50] cory-skeers commented on #4127
As long as the templates use the same `toName`, `toAddress`, and `message` variables, any campaign/template can be used. Looks like this would cover the use cases we've seen so far, but a future slice could open this up to more customizability with more/different inputs if needed.

[2021-10-27 13:29] joewhitsitt opened #4362 "Docs - Update v3 Articles Block"
https://github.com/uiowa/uiowa/pull/4286

[2021-10-27 13:32] joewhitsitt commented on #2183
I think this is more or less done. https://wiki.uiowa.edu/pages/viewpage.action?spaceKey=drupaldev&title=Backing+up+a+site+before+deletion

[2021-10-27 13:32] #2183 closed, assigned to nobody

[2021-10-27 13:44] joewhitsitt opened #4363 "Final removal of inactive sites"
Follow-up from https://github.com/uiowa/uiowa/issues/4262

Related issues: #3953, #3625, #3684, #3153, #4262

If application retirement is not on the immediate horizon, this can be taken on.

I want to say there was a task to define the period of time and process more, so please enlighten this issue if you have knowledge of that work.

## Proposed Solution

- [x] backup db's, files, site directory

[2021-10-27 13:44] joewhitsitt commented on #4262
Created https://github.com/uiowa/uiowa/issues/4363 so we can close this issue.

[2021-10-27 13:44] #4262 closed, assigned to nobody

[2021-10-27 13:52] richardbporter commented on #4127
Found the pharmacy form which has a couple extra fields but is essentially the same thing: https://pharmacy.uiowa.edu/form/thank-you-program

[2021-10-27 14:39] dnkemper opened #4364 "Launch https://itcommunities.stage.drupal.uiowa.edu/ 10/28/21"
Location: uiowa01

Webform request URL: https://sitenow.uiowa.edu/admin/structure/webform/manage/request_a_site/submission/10511/edit?destination=/admin/structure/webform/manage/request_a_site/results/submissions%3Fsearch%3Dcommunities

[2021-10-27 19:32] makurj commented on #4240
Waiting on user's testing and feedback to figure out if they would like to manually migrate the videos over to the new field in stories and provide thumbnails for them for the teaser view.

[2021-10-27 21:10] e-marie-w commented on #4362
[Draft of update](https://sitenow.uiowa.edu/node/271/latest) vs [Original](https://sitenow.uiowa.edu/documentation/layout-builder/articles-block)

Sorry, I was between things and it seemed easier to do this while the changes were still fresh in memory. Then I mostly just used the People block page as a template anyways and just added or removed options and sections as needed.

[2021-10-28 13:37] richardbporter commented on #4127
There is currently an issue with certain placeholders on the UI 1 row x 1 col - Version 2 template. Dispatch support is working to resolve.

[2021-10-28 13:38] richardbporter commented on #4127
I think we should use data its for a shim to make this easier to develop. The shim can store the HR credentials but require an access token to use.

[2021-10-28 13:46] richardbporter commented on #4127
Todo:

- [x] Determine and add [additional placeholders](https://apps.its.uiowa.edu/dispatch/help/curatedtemplate/UI%201%20row%20x%201%20col%20-%20Version%202) to settings form and update Dispatch template to use variable names.
- [x] Create data.its API shim to query HR data.
- [x] Remove HR creds from settings form and replace with check for access token. Access token should be set in secrets fi

[2021-10-28 14:30] makurj commented on #2724
I would like to pair on this.

[2021-10-28 15:30] richardbporter commented on #4127
@cory-skeers Would you mind if we move this block and form into sitenow_dispatch actually?

[2021-10-28 15:32] cory-skeers commented on #4127
Not at all!

[2021-10-28 16:08] cory-skeers commented on #4127
Additional placeholder: Image header. Potentially add a file field to the settings form, and that can be used to pass the image url into the template.

[2021-10-28 20:17] bspeare opened #4370 "As a webmaster, I can use the built-in webform flex layout and expect my form elements to be aligned"
# Story

As a webmaster, I can use the built-in webform flex layout and expect my form elements to display

This will come in handy if we want to allow forms in the prefooter region.

# Proposed solution

Investigate if the webform "Layouts" will work for our forms.   If they do, make design adjustments as needed.

<img width="1575" alt="Screen Shot 2021-10-28 at 3 09 13 PM" src="https://user-imag

[2021-10-28 21:30] quamsta opened #4372 "Add a visual indicator to article teasers that there is more content upon clicking/tapping the article"
Similar to https://github.com/uiowa/uids/issues/460, but more specific to articles and article teasers.
# Story

As a user I want to be able to see that an article is clickable and has more content than what the teaser is showing so that I don't miss important details in a longer article.
<details>

![image_from_ios](https://user-images.githubusercontent.com/472923/139934552-8b7a5b33-9def-4ce9-aeb

[2021-10-29 14:08] pyrello commented on #4260
Apparently there is an external link field that I missed before. I updated the solution to reflect this.

[2021-10-29 16:10] pyrello commented on #2724
When media element is present and the type of media is video, then "Image format" should be set to widescreen and be hidden.

[2021-10-29 17:11] mjoneill opened #4374 "Walking 175th anniversary tour on Concept3d"
As a visitor interested in the 175th anniversary of Iowa, I can go to a maps.uiowa.edu/* url for a curated walking tour of historical locations on campus.

Tour can be staged before go-live.

This tour is powered by Concept3d, and needs to be up and running by the end of February.

Similar to Penn State's walking tour.  The goal is not to have people walking around on campus in Feb, but clicking t

[2021-10-29 17:11] makurj commented on #2724
Adding a video for the first time: If the video is not already added and you click into the block form and then you add the video, it doesn't hide the image format option.

[2021-10-29 17:52] mjoneill commented on #3957
New related issue @ #4374

[2021-10-29 19:19] joewhitsitt commented on #3957
Added a note to lower TTL for moving the domain and to clean up the CMS representation

[2021-11-01 12:53] makurj commented on #4240
Completed. Thanks, @joewhitsitt!

[2021-11-01 12:53] #4240 closed, assigned to makurj

[2021-11-01 14:47] richardbporter commented on #4127
Talked in standup about pumping the brakes on this one until the Dispatch issue is resolved with placeholders in curated templates.

Additional things we can do before moving this to blocked/waiting:

- [x] Implement headline field on block (@richardbporter)
- [x] Make CC supervisors optional via config (@cory-skeers)
- [x] Make Dispatch service more similar to uiowa_maui/MauiApi (@richardbporter)

[2021-11-01 14:54] makurj commented on #2724
Update: It's working as expected. The "image format" option is being hidden when adding a remote video to a card for the first time. It's being displayed as soon as the video is removed. It's visible again when the video is re-added.

https://user-images.githubusercontent.com/52135878/139691450-2fc2aa56-20cc-4d1d-82d5-5f5e11abcc84.mp4

https://user-images.githubusercontent.com/52135878/139691488-2

[2021-11-01 17:48] #4310 closed, assigned to dnkemper

[2021-11-01 19:28] joewhitsitt commented on #805
Hide page title hides the breadcrumbs as well for uids_base. This must have been a uiowa_bootstrap issue. Closing

[2021-11-01 19:28] #805 closed, assigned to nobody

[2021-11-01 19:43] cory-skeers opened #4385 "Webform description text not adapting to section background"
# Problem
Field descriptions in webforms are not adapting to section backgrounds, leading to possible accessibility issues (eg black description text on a black background.

![image](https://user-images.githubusercontent.com/49074566/139731158-8120a23e-53c8-4732-b6ae-86390c379ce9.png)

# Steps to reproduce

Create a new webform, or edit an existing webform to add a description.
Add the webform to

[2021-11-01 20:50] joewhitsitt commented on #4140
Related https://github.com/uiowa/uiowa/issues/2121

[2021-11-01 21:08] cory-skeers opened #4387 "Change submit button scoping"
# Story

As a developer I want form submit button styling to apply to any id, so that I don't need to rely on manually updating the button id to receive proper styling, as this have unintended consequences.

Example encountered while working on the Thank You forms:
![image](https://user-images.githubusercontent.com/49074566/139848675-19ea6b8d-7480-45d5-a6e6-df38a0dc931f.png)

# Proposed solution

[2021-11-01 22:44] pyrello commented on #1626
@joewhitsitt Do you think this is effectively handled by #4137?

[2021-11-01 23:30] pyrello commented on #4160
This issue was fixed: https://www.drupal.org/project/config_split/issues/3232667#comment-14271811

[2021-11-01 23:30] #4160 closed, assigned to nobody

[2021-11-02 13:25] joewhitsitt commented on #1626
@pyrello from what I have seen, yes. Additionally, the work done to remove empty config directories also provides more visibility into what sites are not default.

[2021-11-02 14:36] #4385 closed, assigned to nobody

[2021-11-02 14:39] joewhitsitt commented on #3762
Recently happened on ITS and Education. These historically haven't been troublesome but are radix/paragraphs/703 sites

[2021-11-02 14:50] joewhitsitt commented on #4338
I poked at this a bit as it relates to the old brand file as I wanted to better understand what is going on. https://iowaweb.slack.com/archives/C0164FNN1PV/p1635471287135600

Replacing a file more often than not creates a new revision (checked by default). The file_usage remains. When a media entity is deleted and there is no recorded usage for that latest revision, it gets marked as temporary and

[2021-11-02 15:54] joewhitsitt commented on #4338
To avoid using the module, Rick helped me construct this gem to be run using `drush php`:

`\Drupal::service('entity_type.manager')->getStorage('media')->deleteRevision(6556);` where "6556" is the revision `vid` in question. This will delete the media revision and kick off the necessary "mark as temporary" workflow and the file will eventually/safely get deleted from the server in six hours.

Find

[2021-11-02 16:35] joewhitsitt commented on #4338
Based on https://www.drupal.org/project/drupal/issues/1239558, I think it would be in our best interest to move forward with "disabling" revisions for media and removing all revisions except for the latest version.

[2021-11-02 17:05] makurj opened #4388 "Webform "Add element" button: Insufficient Contrast"
# Problem
![image](https://user-images.githubusercontent.com/52135878/139911946-5fb56857-2b8c-4199-ae65-b4ac31003b4a.png)
Contrast looks okay on hover.

# Steps to reproduce
Create a webform and add an element.

# Proposed solution
https://www.drupal.org/project/drupal/issues/3225151

[2021-11-02 18:07] richardbporter commented on #4338
Should we consider lowering the 6 hours config as part of this?

[2021-11-02 18:08] joewhitsitt commented on #4374
Where is this content coming from, is it ready?

Update: 175th committee is working on it. Not ready

[2021-11-02 18:14] joewhitsitt commented on #4374
Training was recorded for this functionality to share with others

[2021-11-02 18:24] bspeare opened #4389 "As a webmaster, I can include embedded forms in prefooter"
Related issue: https://github.com/uiowa/uiowa/issues/4370

## Proposed Solution
- [x] Update related config to include webform
- [x] Account for any style issues different from normal page placement

[2021-11-02 18:51] richardbporter commented on #3661
Investigate opening bug in ctools_views project to potentially address there.

[2021-11-02 18:57] pyrello commented on #4372
Is there a way that we could add an icon to headlines that are links? Not sure what that would look like, but maybe that could be a replacement for the link being underlined.

Another idea for this would be to add a button with the text "Read " and the title of the article, but have the article title in a `.sr-only` class so that it would be read in screen readers, but not show up for sighted user

[2021-11-02 18:58] pyrello commented on #4372
This article has several ideas about how to add text like "Read more" in an accessible way: https://www.visionaustralia.org/services/digital-access/blog/how-to-make-read-more-links-accessible

[2021-11-02 19:26] quamsta commented on #4372
Added a screenshot to give some more context to this

[2021-11-02 19:28] bspeare commented on #4372
Since cards already have the ability to add a button to clarify that there is a link attached to the card, I think it would make more sense to add an option to toggle a "continue reading" button in the list blocks to add that as a display option that is turned off by default.   UIDS does have a minimal button option (see below) that would work well with lists and not add that much visual clutter.

[2021-11-02 19:40] richardbporter commented on #4387
Just want to mention that changing a form input ID is not advised as that can break things like unique ID creation, AJAX, etc.

[2021-11-02 20:10] joewhitsitt commented on #861
I am going to close this unless someone objects. We have been getting by tracking v1 in a spreadsheet. We are no longer tied to ITS CSI. We have been using webmasters as a way to contact individuals about a site and work is being done to provide information about custom functionality here: https://github.com/uiowa/uiowa/pull/4091

[2021-11-02 20:10] #861 closed, assigned to nobody

[2021-11-02 20:28] quamsta commented on #4372
Also, to add some more context and examples from publications and blogs:

When we simply have a headline, byline, and maybe an image, I think it's easily inferred that those items are clickable. It's only when there's a longer content description that this becomes an actual issue.

Examples:

The Onion, small headline and image: no ellipsis or continue reading button
![Screen Shot 2021-11-02 at 3

[2021-11-02 20:33] bewoldt opened #4390 "Image gallery configuration panel. Images with long names cause layout bug"
# Problem
When you add an image to the Image Gallery component with a very long name, the side panel gets stretched out.

<img width="502" alt="Screen Shot 2021-11-02 at 3 13 07 PM" src="https://user-images.githubusercontent.com/731952/139945437-b6453751-2085-4b71-bfe4-53e9bd332d89.png">

# Steps to reproduce
Download this image and add to a new or existing Image Gallery component.
https://digital

[2021-11-02 20:36] bspeare commented on #4372
@quamsta Thanks for the examples but we could also post screenshots of major publications and universities that don't provide that link either such as  nytimes.com below.

<img width="880" alt="Screen Shot 2021-11-02 at 3 35 53 PM" src="https://user-images.githubusercontent.com/1036433/139947916-039fbfb8-ae26-4f73-96fc-ca8dcc352b06.png">

[2021-11-02 21:36] joewhitsitt commented on #4338
We would have to setup our own to go lower:
<img width="391" alt="Screen Shot 2021-11-02 at 4 36 04 PM" src="https://user-images.githubusercontent.com/4663676/139955217-95193c1d-4bf9-4d87-8593-e30ef96bb745.png">

[2021-11-02 21:48] quamsta commented on #4372
@bspeare  Totally fair!

However, in that NYT example, the teaser is still visually distinguished from normal body text by being gray instead of black. Currently our teasers are the same color and typeface as the rest of the body text on the page, which may lead to some confusion as to whether "that's it" when there are longer teasers entered by the editor.

I still think there should be some kind

[2021-11-02 22:11] bspeare commented on #4372
@quamsta Great point about the gray text! Perhaps that's another possible solution.

[2021-11-03 13:41] joewhitsitt commented on #1584
https://www.drupal.org/project/media_library_media_modify was created by chr.fritsch until a solution for core can be decided on.

[2021-11-03 13:51] makurj commented on #2724
Intended behavior for image: if image position is stacked, and circle is image format, image size shows up. Image size doesn’t show up for square and widescreen. If left is selected for position. With left for image position, no matter the image format, image size is always visible. Same with right image position.

Intended behavior for remote video: Image size and image format should not be visib

[2021-11-03 15:14] joewhitsitt commented on #4372
So should a linked static card should have some visual distinction too? Should https://github.com/uiowa/uids/issues/460 be expanded to offer that distinction without hover/focus as well?

[2021-11-03 15:17] joewhitsitt commented on #4372
education, if linked the icon shows and is part of the hover/focus effect (invert colors):

<img width="811" alt="Screen Shot 2021-11-03 at 10 15 14 AM" src="https://user-images.githubusercontent.com/4663676/140088611-c501fd66-8cbd-4ea3-92d2-1081eb06ffd5.png">

[2021-11-03 15:21] bspeare commented on #4372
Since cards have the ability to add a faux button, I would prefer to not add an extra icon just to distinguish if the card is linked.   I think some users will use the faux button if they want to reinforce that the card contains a link, and others will want to not clutter up the UX with more visual information to scan.  In your example above @joewhitsitt, the first or second thing you see is the s

[2021-11-03 15:34] joewhitsitt commented on #4372
okay so to @quamsta's point, the article teasers are not wired up to show the faux button or provide the option to toggle.

good point. agreed that education's example is very link over content focused. it was just to show an non-eplisis, read more version. i have seen examples of a little ghostly faded link icon in a corner of a card that becomes more visible on hover.

[2021-11-03 15:40] bewoldt opened #4391 "Menu active trail disappears when unchecking Show as Expanded"
# Problem
When you uncheck Show as expanded on the 1st level menu items, the active trail identifier doesn't show up when on that menu's sub pages.

**Example page**
https://homecoming.uiowa.edu/homecoming-parade/parade-guidelines
The Parade top level menu link no longer has the gray bottom border.

Looks like the identifier is based on menuparent instead of on active-trail.

[2021-11-03 15:42] bspeare commented on #4372
Yes, so for articles/lists it sounds like we could implement these items for a solution:

- Add a toggle to show the faux button under each item with "Continue Reading" text
- Make the teaser content gray
- Get better hover/focus styling: https://github.com/uiowa/uids/issues/460

[2021-11-03 16:34] joewhitsitt commented on #2217
Scott said that one-to-one redirects (/something.html to /something) will not be part of this work.

[2021-11-03 16:50] pyrello commented on #4372
I kind of like that example of the button with no text that @joewhitsitt shared above. Not sure how it would work in tandem with the option to show text also, but I enjoy the visual indicator without unnecessary extra text.

[2021-11-03 17:03] joewhitsitt opened #4392 "Deprovision - shared-governance.sites.uiowa.edu on uiowa701"
site re-launched on v3

[2021-11-03 17:26] joewhitsitt commented on #4392
commit 69483679318d4bf96144635bcd927e4c2dd934b4

spreadsheet updated

[2021-11-03 17:26] #4392 closed, assigned to joewhitsitt

[2021-11-03 17:44] joewhitsitt opened #4393 "Provide print.css for general browser printing"
# Story

As a site visitor I want to be able to print a page on SiteNow v3 and have that output be fairly clean and readable.

Though entity print has been made available for certain content, a general print style can serve most other content.

# Proposed solution

- [ ] Establish print.css to be available on all pages.
- [ ] Style certain content to have a decent print style fallback. (header, fo

[2021-11-03 20:01] richardbporter commented on #4350
This is done. Pages will update as caches expire naturally.

[2021-11-03 20:01] #4350 closed, assigned to richardbporter

[2021-11-03 21:02] ABoston88 commented on #4343
Link to draft document for reference: https://iowa-my.sharepoint.com/:w:/g/personal/bosto_uiowa_edu/EbIu-RFeeZZIkj2GQ5OykWgBGcjuH1T3UZR5GfuAaaoeWA?e=HmdREA

[2021-11-03 21:10] bewoldt opened #4394 "Increase the number of links show when linking to a page"
# Problem
When adding a link to a page the dropdown menu will show 10 available options. I'm currently trying to add a link to the Support page in https://rvap.prod.drupal.uiowa.edu but there are more than 10 pages or articles that contain the words Support rvap so the page I'm trying to find doesn't even show up in the dropdown making it impossible to link to.

<img width="342" alt="Screen Shot 2

[2021-11-04 13:32] joewhitsitt opened #4395 "Deprovision - cpl.lab.uiowa.edu on uiowa701"

[2021-11-04 13:35] joewhitsitt opened #4396 "Consider Redirect Metrics Module"
# Story

As a site owner, I want to see redirect activity on my site so that I can clean up redirects that aren't getting a lot of usage.

# Proposed solution

- [ ] Evaluate https://www.drupal.org/project/redirect_metrics and see it if would be valued on SiteNow
- [ ] Consider creating a sub module that cleans up non-permanent redirects that are older and don't have usage.

[2021-11-04 13:47] joewhitsitt commented on #4395
commit 38e0fb4af1c1fcdb18041d689d24f927512c0f04

spreadsheet updated

[2021-11-04 13:47] #4395 closed, assigned to joewhitsitt

[2021-11-04 14:55] e-marie-w commented on #4256
https://sitenow.uiowa.edu/news/2021/10/updates-october I've kept it updated as the month went on so it should be pretty close to done already, for whoever pulls it in.

[2021-11-04 15:25] richardbporter commented on #4364
Is this done? :)

[2021-11-04 15:37] joewhitsitt commented on #4362
I approve and published. Thanks @e-marie-w

[2021-11-04 15:37] #4362 closed, assigned to e-marie-w

[2021-11-04 15:40] joewhitsitt commented on #3934
This was done a while ago and then re-done by @richardbporter later on.

[2021-11-04 15:40] #3934 closed, assigned to joewhitsitt

[2021-11-04 15:41] richardbporter commented on #4344
One caveat to the block approach is it probably makes it more difficult to show all location hours on one page. RecServ does not need this anymore because they are using `<nolink>` to drive people to individual pages. UHD has a similar page: https://dining.uiowa.edu/locations with additional features like a map, filtering, etc. Perhaps that might not be needed for a v3 transition. If it is, we mig

[2021-11-04 15:44] #3143 closed, assigned to nobody

[2021-11-04 15:51] dnkemper commented on #4364
@richardbporter you're saving me today. Yes. Sorry about that!

[2021-11-04 15:51] #4364 closed, assigned to dnkemper

[2021-11-04 16:08] richardbporter commented on #4330
Can't reproduce.

[2021-11-04 16:22] #2724 closed, assigned to makurj

[2021-11-04 16:32] dnkemper opened #4397 "Add back to top button documentation"
relates to #2755

Ready for review: https://sitenow.uiowa.edu/node/196/revisions/3481/view

[2021-11-04 16:44] #2755 closed, assigned to dnkemper

[2021-11-04 16:59] joewhitsitt commented on #3908
Reopening. https://github.com/uiowa/uiowa/pull/4286 caused a regression related to this. College of Law reports that they are comma separated again.

[2021-11-04 17:55] #3908 closed, assigned to richardbporter

[2021-11-04 18:26] joewhitsitt opened #4399 "Siteimprove is flagging 175th footer link as having the same text alternative"
Related Cherwell Ticket 1213547

## Proposed Solution

Change the text associated with the footer svg.

[2021-11-04 18:28] joewhitsitt commented on #4256
Shout out to @e-marie-w for putting this together during the month and not all at the end.

[2021-11-04 19:13] pyrello opened #4401 "Fix issue that causes some config to be patched AND completely split"
Tracking https://www.drupal.org/project/config_split/issues/3247757

[2021-11-04 20:34] makurj commented on #4305
I would like to work/pair on this.

[2021-11-04 20:39] joewhitsitt commented on #4126
Part of our strategy to consolidate event functionality https://github.com/orgs/uiowa/projects/1#card-63850273

[2021-11-04 20:48] makurj commented on #4370
I would like to pair on this.

[2021-11-04 20:49] makurj commented on #4389
I would like to work/pair on this.

[2021-11-04 20:53] bspeare opened #4402 "As a site owner, I can align my block headline to the left or center"
# Story

As a site owner, I can align my block headline to the left or center so that site owners don't have to create separate text areas to center their headings.

Currently, I'm seeing a lot of site owners create separate text areas just to center a headline style.  Adding an alignment option to the Headline would help us reduce the technical debt of having custom text areas with custom headlin

[2021-11-04 20:55] cory-skeers commented on #4402
This would be for the block itself, and not the section, right? So in the case of wanting a headline over a 3-col layout would still be some form of another block in a 1-col above the 3-col section?

[2021-11-04 20:57] bspeare commented on #4402
Yes, just the block but a section headline would come in handy for reducing all of the custom text areas used for that as well!

[2021-11-04 21:16] #4399 closed, assigned to nobody

[2021-11-04 21:27] bspeare opened #4403 "As a site owner, I can set my banner block to align vertically to the top"
# Story

As a site owner, I can set my banner block to align vertically to the top so that I can use my banner block in multi-column layouts without having them look uneven.

<img width="1574" alt="Screen Shot 2021-10-28 at 9 34 38 AM" src="https://user-images.githubusercontent.com/1036433/140421584-15e933bf-68de-447c-b831-b3cf5ff34487.png">

# Proposed solution

Introduce `Left-aligned horizontal

[2021-11-05 14:01] joewhitsitt commented on #2302
Here is some of the potential:

![sandbox local drupal uiowa edu_node_586_revisions_view_4166_4216_visual_inline](https://user-images.githubusercontent.com/4663676/140522418-46839ebc-f3c2-49cf-a69b-bdc458e93e2f.png)

[2021-11-05 14:33] joewhitsitt commented on #4397
Looks good to me except can `UIDS_Base` be changed to match other instances in the same page?

[2021-11-05 14:35] dnkemper commented on #4397
@joewhitsitt  good thinking! Sure thing!

[2021-11-05 14:37] #4397 closed, assigned to dnkemper

[2021-11-05 14:58] pyrello commented on #2302
Based on the screenshot above, it seems to me that there is a lot of information in that that isn't really useful and is potentially confusing the content editor looking at it. It is indicating that there are changes based on that the articles being shown was changed, but that isn't really the relevant information when making a change to a dynamic block like the article list. We instead would want

[2021-11-05 15:59] dnkemper opened #4405 "Create a sidebar menu of the Article tags that will display on the 'News' page so users can filter articles by their “tag/topic”"
# Story
As a site visitor, I want to be able to filter articles by their “tag/topic”.

For instance, if I want to view the SiteNow monthly update articles, I can choose the tag in the sidebar menu to view all of the related articles that reference this tag/topic.

# Proposed solution

- [ ] Look into the ‘Topics’ implementation and see if can utilize existing code to implement this - #4011  https:

[2021-11-05 17:16] pyrello commented on #4267
Is this an issue with article lists as well? @dnkemper Might be worth fixing in #4406 too if so.

[2021-11-05 17:18] dnkemper commented on #4267
GOOD question! Will look into it! Thank you so much, @pyrello

[2021-11-05 17:19] dnkemper commented on #4370
Going to add #4388 fix to this too

[2021-11-05 17:30] dnkemper commented on #4267
@pyrello glad you brought this up... same problem. YAY! I GET TO FIX TWO BUGS! Thank you for making my day :)

[2021-11-05 17:38] pyrello commented on #4401
This was fixed in a different issue: https://www.drupal.org/project/config_split/issues/3246688

[2021-11-05 17:38] #4401 closed, assigned to nobody

[2021-11-05 17:43] bspeare commented on #4372
I think the arrow icon next to the title could be cool, but it would set up inconsistent UX for link visual indicators since we are already attaching buttons below the card content as our main visual indicator.  If this is something that we decide to move forward with, what if we just add an arrow icon in place of the button as the visual indicator if no button text is provided?  I've added a scre

[2021-11-05 17:44] dnkemper commented on #4267
@pyrello is it bad that I'm bummed that both views just needed to reduce duplicates on the filters? Ready for review🙈

[2021-11-05 17:45] pyrello commented on #4267
@dnkemper Take the easy wins when they happen. I'm dealing with the other extreme where you can't quite ever seem to get a project to done because you keep finding issues that need to be resolved. That gets old.

[2021-11-05 17:46] dnkemper commented on #4267
@pyrello okay, that is an excellent point. Now I feel terrible and I'm sorry  🥺

[2021-11-05 17:48] pyrello commented on #4267
No need to feel terrible :)

[2021-11-05 20:23] joewhitsitt commented on #4028
It should be noted that we have limited extensions on form components for customers before. Just don't add new ones.

[2021-11-08 16:27] richardbporter commented on #4260
It doesn't appear that the D7 site links directly to external URLs if that field is set so I set it up to import without checking the "Link directly to source" boolean in #4371 . I see a few examples of text that says "Read more here..." if the external link field is set. However, we could process that boolean as TRUE if the external link field is set. Any preference?

D7
https://neuroscience.grad

[2021-11-08 16:45] dnkemper opened #4411 "Update Drupal version to 9.3"
Blocked until December 8, 2021

Currently unavailable,  [9.3.0 alpha version](https://www.drupal.org/project/drupal/releases/9.3.0-alpha1) is available is not recommended for production sites. Wanted to bring attention to this since a lot of patches I looked at use version 9.3

# Proposed Solution

Wanted to add this as a reminder. Might need Rick to add more since he's the master of this.

- [x]

[2021-11-08 17:00] bspeare commented on #3641
DDEV + Mutagen: https://twitter.com/stephencross/status/1456987443161305093

[2021-11-08 17:03] e-marie-w opened #4413 "Broken URL redirects for files with special characters"
## Problem: ##
When adding a URL redirect for a file, some characters some as spaces and parentheses get double-encoded (" " becomes "%20%20", for example). This leads to broken redirects.

[Possibly related Drupal.org issue](https://www.drupal.org/project/redirect/issues/3194561)

## Current workaround: ##
Manually edit redirect to remove extra encoding

## Solution: ##
??

[2021-11-08 17:27] #4267 closed, assigned to dnkemper

[2021-11-08 18:27] e-marie-w commented on #4256
Added a link to updated documentation, going to say this is ready for review. One question: are we including .org and .lab type sites in our Notable Launches list or should I remove that org one I added?

[2021-11-08 20:14] e-marie-w opened #4415 "SiteNow Updates News Article - November"
## Issue/Solution ##
Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  * See the previous month's article as an example.
  * Bulle

[2021-11-08 20:17] e-marie-w commented on #4415
https://sitenow.uiowa.edu/news/2021/11/updates-november

[2021-11-08 22:08] #4388 closed, assigned to dnkemper

[2021-11-08 22:26] dnkemper commented on #4370
Update: moved #4388 to its own PR - Ben made the excellent executive decision to keep them separate. Thank goodness for that too 🥳

[2021-11-09 15:25] pyrello commented on #4411
Looks like mid-December is the earliest we would want to do this based on the release schedule: https://www.drupal.org/about/core/policies/core-release-cycles/schedule#current-development-cycle

We'll need to check that our dependencies are compatible before we can go ahead.

[2021-11-09 15:47] joewhitsitt opened #4416 "Education launch"
- [x] screaming frog
- [x] design review
- [x] copy review
- [x] Dev volunteer for go-live
- [x] Confirm certs (bare, www)
- [x] Assist with post-go-live (analytics, seo)

what time?

[2021-11-09 15:59] joewhitsitt commented on #2302
An alternative route to this issue is to see if any more block config diff can be displayed to actually provide a diff. Changing headline size, adding more link, etc.

[2021-11-09 16:33] richardbporter commented on #4260
Sorry, the screenshots are a bad example. That is actually set in the body. Looking into it a bit further.

[2021-11-09 16:56] bspeare commented on #4370
We changed the user story of this issue after doing some investigation into the default layouts that the webform module provides.  The work surrounding this issue was mostly to make some small tweaks to our form styles to make them look good using webform's layout options.

[2021-11-09 17:50] bspeare commented on #2881
I've updated the proposed solution to suggest using the UIDS code from https://github.com/uiowa/uids/pull/603.

[2021-11-09 17:51] #4260 closed, assigned to richardbporter

[2021-11-09 19:14] richardbporter commented on #4416
The www domain is not in the uiowa02 cert but I will update that later.

[2021-11-09 19:17] richardbporter commented on #4416
I will launch it tomorrow between 8-9am.

[2021-11-09 19:22] richardbporter commented on #4271
Comms plan: send an email a week in advance advising people to move content to pre-footer if necessary.

[2021-11-09 19:24] richardbporter commented on #2716
We should confirm that this is a problem in a standard D9 install to make sure it isn't caused by something else on our platform. If it is, we should open an issue on d.o.

[2021-11-09 19:25] joewhitsitt commented on #2716
https://simplytest.me/ would be an easy way to test.

[2021-11-09 20:14] richardbporter commented on #2147
Potentially look at SNv1 as an example of a placeholder image.

[2021-11-09 20:15] bspeare commented on #3200
I've updated the proposed solution to reflect our grooming discussion today.

[2021-11-09 20:20] richardbporter commented on #2173
Once published, the image is visible.

[2021-11-09 20:20] #2173 closed, assigned to nobody

[2021-11-09 20:22] joewhitsitt commented on #2173
Team decided that priority should instead go to getting sites to v3.

[2021-11-09 20:23] richardbporter commented on #2470
Look for d.o issue related to this.

[2021-11-09 20:35] joewhitsitt commented on #2470
https://www.drupal.org/project/drupal/issues/2960714#comment-12570257

[2021-11-09 20:56] pyrello commented on #2470
Also potentially related: https://www.drupal.org/project/drupal/issues/3208480

I would argue that we should close this as `wontfix` since this is an issue that only affects us as developers. Even if there was a patch for it, I'm not sure that it would be worth the time implementing it. I'd be fine waiting for the fix to make it into core and not continuing to track it in an open issue.

[2021-11-09 21:06] richardbporter commented on #4416
Updated cert.

[2021-11-09 23:05] joewhitsitt commented on #3957
Capturing some contrast issues related to link color:

<img width="168" alt="Screen Shot 2021-11-09 at 5 03 15 PM" src="https://user-images.githubusercontent.com/4663676/141019600-9afeeb4d-15bd-429c-9a55-11ab5e3a24b2.png">
<img width="504" alt="Screen Shot 2021-11-09 at 5 04 22 PM" src="https://user-images.githubusercontent.com/4663676/141019604-285c635a-8b8d-4956-800f-d7aa8c27636a.png">

UPDATE:

[2021-11-10 14:20] bspeare commented on #4372
@quamsta and I talked about this some more yesterday and discussed:

- Changing the circle to a square so that it matches the "Read More" button style.
- Adding a toggle option to list blocks that add the arrow and the option to set "Continue Reading" custom text for the button.

<img width="1610" alt="Screen Shot 2021-11-10 at 8 14 44 AM" src="https://user-images.githubusercontent.com/1036433/141

[2021-11-10 14:47] cory-skeers commented on #2302
Little hiccup with working with deleted content and how it appears.

Inserted content appears to get added in with the proper classes, but deleted content ends up lumped within other content classes (eg pictured here, a deleted CTA's content gets displayed within the Collection that should appear below it, and the cta container classes are missing.

![image](https://user-images.githubusercontent.c

[2021-11-10 15:08] makurj commented on #4372
I would like to pair on this.

[2021-11-10 15:08] #4416 closed, assigned to richardbporter

[2021-11-10 15:14] bspeare commented on #4281
This is complete.

[2021-11-10 15:14] #4281 closed, assigned to bspeare

[2021-11-10 15:17] #4296 closed, assigned to GaryRidgway

[2021-11-10 15:22] richardbporter opened #4423 "Add Dispatch docs for SNv3"
Add a high level overview of the sitenow_dispatch module configuration page and the one block we have for it: Dispatch Signup Form.

These docs could go on https://sitenow.uiowa.edu/documentation/layout-builder/more-blocks

The admin/config/sitenow/sitenow-dispatch form has some text we could probably copy/paste for docs.

[2021-11-10 15:33] joewhitsitt opened #4424 "Update content moderation/workflow documentation and provide a link from the moderation dropdown for editors to reference"
## Story

As a site owner, I want to be linked to more details about the moderation workflow and the transitions between states.

Since certain states can only transition to specific states, users get confused. The idea that you can only archive something from a published state is not explained to the user except through available options.

<img width="1218" alt="Screen Shot 2021-11-09 at 4 31 21

[2021-11-10 15:37] #4423 closed, assigned to richardbporter

[2021-11-10 16:04] #4370 closed, assigned to dnkemper

[2021-11-10 20:00] cory-skeers commented on #2302
In addition to some elements missing classes (and others not), it looks like templates aren't called at all. Looking into whether this is an issue in them needing to be attached, related to the wrapper classes not being added and so not being recognized as their respective elements, or something else.

Also looking into including `layout_section` fields in the non-visual, field-split revision view

[2021-11-10 20:16] joewhitsitt commented on #2302
I didn't mean for this to be a big lift. If you don't see easy wins, I am okay with throwing in the towel until the module matures a bit more.

[2021-11-10 22:24] cory-skeers commented on #2302
Took a bit of a detour in looking at this, and there's a non-visual approach if we wanted to continue. Reveals section and block changes in the split/unified field revision views. It wouldn't show false positives like changing articles or aggregator feeds, but it also can be difficult to understand and/or needs some work on getting it into something an editor would be able to recognize and use.

!

[2021-11-10 22:56] quamsta commented on #4372
@bspeare I’m sort of coming around to the circle + arrow..

[2021-11-11 03:44] pyrello commented on #4372
@quamsta Me too

[2021-11-11 14:30] mjoneill commented on #3957
Thanks for this investment, @joewhitsitt.

Based on this, it looks like the following can happen concurrently (the first two, anyways), and should get started:

- Build categories/front end experience (currently planned)
- Audit building information #4351
- Ask Facilities to invest in getting the info identified in 4351 to a consumable state (likely blocked by previous)

Let me know if I'm missing

[2021-11-11 15:08] cory-skeers commented on #4256
Looked over the draft, and it looks great!

I was hesitant about the org, because it had launched with some incomplete content, but it looks like it's since been updated. I think generally .org and .lab sites are less "notable," but there's also nothing saying that they couldn't or shouldn't be included. Mostly, I think we'll drop them off if we get to too long a list.

So...I'd say it's good to p

[2021-11-11 18:54] e-marie-w commented on #4256
Thanks again for reviewing this @cory-skeers! Dispatch went out at 12:45, closing this.

[2021-11-11 18:54] #4256 closed, assigned to nobody

[2021-11-11 20:19] mark-bennett-uiowa opened #4429 "News block and Events block have different spacing when empty; Add <p> wrapper to fix."
# Problem
This is best noticed at: https://german.prod.drupal.uiowa.edu/ as this site does not have news or events currently.
![Screen Shot 2021-11-10 at 6 33 57 PM](https://user-images.githubusercontent.com/3067017/141356523-647798a5-92ca-4501-92ab-1b2a4ca57864.png)

News block has this structure:
[code]

Events block has this structure:
[code]

When news and event items are present, this appears

[2021-11-11 20:19] mark-bennett-uiowa opened #4430 "News and Events have different styling for dates (simple fix)"
# Problem
This is best seen at [https://flare.prod.drupal.uiowa.edu/](https://flare.prod.drupal.uiowa.edu/):
![Screen Shot 2021-11-11 at 1 19 44 PM](https://user-images.githubusercontent.com/3067017/141357353-059c1381-cea2-433b-b163-4053122f6c68.png)

I created an issue about this quite some time ago in #2871, that mentioned this would be fixed in #2730. Both of these issues are closed.

# Propose

[2021-11-11 20:20] mark-bennett-uiowa opened #4431 "News and Events card titles have different bottom margins (simple fix)"
# Problem
This can be seen at [https://flare.prod.drupal.uiowa.edu/](https://flare.prod.drupal.uiowa.edu/):
![Screen Shot 2021-11-11 at 1 55 33 PM](https://user-images.githubusercontent.com/3067017/141360587-1d8c33f1-1539-490a-b6fa-ed6e0e08e554.png)

It appears that the class="card__title headline" headings have different bottom margins, which is offsetting the rest of the content.

In the article

[2021-11-11 21:30] mjoneill commented on #3641
1) Provide a list of possible alternatives for M1 support
2) Check in with team, figure out next step(s)

[2021-11-11 21:32] richardbporter commented on #3641
We should ensure that BLT works as well. Probably worth checking Acquia/BLT docs.

[2021-11-12 15:39] e-marie-w opened #4433 "Concept3D categories probe - Housing"
Epic #3957

- [x] Create list of differences between new and current Housing category
- [x] Reach parity with current maps site
- [x] create list of differences for other categories?
- [ ] order categories like current site, figure where to order new categories
- [x] add old icons to categories as placeholders until new images

[2021-11-12 16:08] e-marie-w commented on #4433
## Housing ##
Parklawn Hall and Woolf Avenue Court Apartments - in Housing red on current site but do not have marker.
On new site Parklawn Hall is set as Invisible and Private, so I assume the marker will not show up on live site?
Woolf Avenue Court Apartments does not currently have any restrictions, should that be set as Invisible and Private as well to match current site?

[2021-11-12 16:28] e-marie-w commented on #4433
## Dining ##
Concept3D doesn't have any buildings in this category

## Libraries ##
Missing from Concept3D:
- Art Library (in Art Building West)
- Law Library (in Boyd Law Building)
- Marvin A. Pomerantz Business Library (in Pappajohn Business Building)
- Lichtenberger Engineering Library (in Seamans Center)
- Rita Benton Music Library (in Voxman Music Building)

On Concept3d but not found on orig

[2021-11-12 17:28] makurj commented on #4389
Once this is set up, test and make sure remote post continues to work for Tippie webforms.

[2021-11-12 18:03] e-marie-w commented on #4433
So besides the 8 original categories, we now additionally have:
- 360 Panoramas
- Academic building
- Athletics
- Events venue
- Historical building
- Research
- Residence
- Services

There are also the Building Labels and Concept3D categories that I'm not counting/seem to already be set up.

~~There are also a few default-seeming categories that are empty/we already have equivalents to:~~ I have

[2021-11-12 18:05] joewhitsitt commented on #3641
Just setup ddev + mutagen fairly painlessly (updating docker took the longest) following [these steps](https://ddev.readthedocs.io/en/stable/users/cli-usage/#drupal-9-composer-setup-example) and modifying

`ddev config --project-type=drupal9 --docroot=web --create-docroot`

to include

`--mutagen-enabled`

[code]

Caveats about mutagen - https://ddev.readthedocs.io/en/stable/users/performance/#cav

[2021-11-12 18:18] mark-bennett-uiowa opened #4435 "Boring "Subscribe to News" link on SiteNow Articles page."
# Problem
The Subscribe to News link at the bottom of the SiteNow Articles page is an just a standard link. Compared to the View More Events button link or the View More button created on an Articles block, it could use some styling:
![Screen Shot 2021-11-12 at 12 08 39 PM](https://user-images.githubusercontent.com/3067017/141515227-e73e7e49-87bf-406c-8db4-696229d9cd0c.png)

# Steps to reproduce
C

[2021-11-12 20:11] cory-skeers opened #4436 "Revisit multi-file upload"
As a site manager I would like the option to bulk upload files (and have media entities created for them) so that I may save time when building sites.

Context: a user is looking to include meeting minutes, which are contained in PDFs, and means there are 24 PDFs per year for 20+ years. They are looking to build minutes out in HTML in the future, but to get started, would like a bulk upload option

[2021-11-12 20:19] makurj commented on #4389
@bspeare Webforms and inline webforms are working. However, the submit button for the inline webform is not getting the right color.
<details>
<summary>Screenshot here:</summary><img src="https://user-images.githubusercontent.com/52135878/141529721-a84391de-e2a0-463a-8e72-af0f66ee1447.png">
</details>

[2021-11-12 20:23] cory-skeers commented on #4389
I think this is related to #4387. The CSS is scoped to the ID, but only the first webform will have that exact id.

[2021-11-12 20:28] makurj commented on #4389
Just tested again and it seems that it changes based on whether it's a customized button or not. For example, if you set the button's text as something other than "submit", which is the default, and save, then it appears correctly.

<details>
<summary>Screenshot here:</summary><img src="https://user-images.githubusercontent.com/52135878/141530346-c3543c37-32c1-448e-9c4a-d849ecf271af.png">
</detail

[2021-11-12 20:47] GaryRidgway commented on #4389
Upon further investigation, @cory-skeers is completely correct and we are adding `edit-submit` to the style rules and that should cover our issues.

[2021-11-12 20:50] makurj commented on #4389
Our newest commit should resolve #4387

[2021-11-12 21:41] #4389 closed, assigned to makurj

[2021-11-12 21:41] #4387 closed, assigned to nobody

[2021-11-12 21:54] e-marie-w commented on #4433
Went through and added the Dining places as new locations and will do the same for other places listed on current site but not new. Note: I'm only adding the location name, setting the category, and placing a map pin. I figure deciding what information to capture in the description for these can be part of the audit in #4351.

[2021-11-15 14:49] bspeare opened #4438 "Directory profiles style bugs"
# Problem
- Breadcrumbs in Safari are not displaying inline
- Page title sitting on top of page filters
- Container has `tab-index: 0` creating blue border - is this tab index necessary?

<img width="609" alt="Screen Shot 2021-11-15 at 8 49 06 AM" src="https://user-images.githubusercontent.com/1036433/141802087-fd0985c0-8fd8-40e4-9b39-8ff8b294f795.png">

<img width="259" alt="Screen Shot 2021-11-1

[2021-11-15 15:24] dnkemper commented on #2147
NOTE: in D7, look at sitenow_media.module file on line 60 (wish could link directly to it haha)

Looks like we're rendering a default image on our D7 platform. Not sure if we want to do that for D8/9 ?

`$path = drupal_get_path('module', 'sitenow_media') . '/assets/thumbnails/twitter_thumbnail.png';`

[2021-11-15 15:29] #4305 closed, assigned to makurj

[2021-11-15 15:31] joewhitsitt commented on #4436
The community seemed to be torn between pupload and dropzone js. Not sure if this has become more clear which one to adopt or if there is a new solution out there. This add/media upload field functionality is separate from the the multi-upload option within the media reference field that image gallery uses.

[2021-11-15 15:38] joewhitsitt commented on #4436
Need to think about our file deletion strategy with this. Unused media gets cleaned up.

[2021-11-15 17:45] mjoneill commented on #4317
Seems like this continues to vex at least one partner, and they struggle to remember (or implement) the workaround.  @bspeare, does it seem like this would help clarify and/or is there something bigger we should do?

@briand44 for visibility (welcome back!) :P

[2021-11-15 17:47] bspeare commented on #4317
There is now a known issue for this at https://sitenow.uiowa.edu/known-issues#uiowa-issue-4975.  We need to move forward with the proposed solution on this issue if we want to provide clarity for our site owners.

[2021-11-15 19:07] e-marie-w commented on #4433
Every location under an 'Explore' category on the current maps site is now on the new one. I'm assuming all the new locations imported correctly and don't need to be checked against the spreadsheet. Since there's so many new categories I'm leaving everything in alphabetical order for now. Someone who better knows what should be highlighted should pick the order.

[2021-11-15 20:48] e-marie-w commented on #4351
Do we know yet if this needs to be manual or if it can be automated?

[2021-11-15 20:59] joewhitsitt commented on #4351
Should be able to construct something using views_data_export module

[2021-11-15 21:32] dnkemper commented on #2716
Can't duplicate this bug. Feel like a despicable human being for being bummed, but hey... at least I wasn't crazy? Like Cory said in meeting, must have been fixed... it has been a year!

[2021-11-15 22:29] GaryRidgway commented on #4271
Comms have been sent out and stated that this update will happen on Monday, Nov 21 2021. We should merge  and release then.

[2021-11-15 22:41] joewhitsitt commented on #3641
Progress:

<img width="636" alt="Screen Shot 2021-11-15 at 4 40 38 PM" src="https://user-images.githubusercontent.com/4663676/141864174-d5b27b1a-4d17-4582-8045-1fd3bf3ed385.png">

[2021-11-16 00:02] mark-bennett-uiowa opened #4440 "LB display off for :not :first-child headings before save"
# Problem
In messing with layout builder to remove the temporary pre-footer region, I noticed this on some of the sites:
![Screen Shot 2021-11-15 at 5 43 07 PM](https://user-images.githubusercontent.com/3067017/141870067-dd196aeb-5faf-4073-a1e0-122a5a9dd8b7.png)
![Screen Shot 2021-11-15 at 5 59 38 PM](https://user-images.githubusercontent.com/3067017/141871485-b7b27d9f-a0df-47a0-8f0b-e355971dc605.

[2021-11-16 14:35] bspeare opened #4441 "Image size resets to large when editing a remote video on a card set to medium image size"
# Problem
Image size resets to large when editing a remote video in a card set to medium image size

# Steps to reproduce

Try editing the block on https://sandbox.prod.drupal.uiowa.edu/node/616/layout and note that the current image size is "Medium" but the block will reset to "Large" when you edit the block.

# Proposed solution
Revisit https://github.com/uiowa/uiowa/blob/main/docroot/modules/cu

[2021-11-16 14:56] #4433 closed, assigned to e-marie-w

[2021-11-16 15:27] bspeare commented on #2716
I think https://www.drupal.org/project/drupal/issues/3160785 partially describes our issue.

[2021-11-16 15:29] dnkemper commented on #2716
Slightly worried that after talking, I still can't replicate it. I'll do my best 😅

[2021-11-16 15:46] joewhitsitt commented on #3641
To answer the issue's question:

I believe to support M1 macs, we are looking at docker for mac based solutions. Docksal, Lando, DDEV. They all support Acquia BLT. Lando and DDEV both have issues to get away from Docker licensing by providing an alternative foundation but I think that is still just in the discussion phase.

Lando and DDEV both have experimental support for Mutagen which syncs (dou

[2021-11-16 16:34] bspeare commented on #2716
I was able to replicate this on https://simplytest.me/ after creating a layout on a page with:

- Custom text area
- System Breadcrumbs

After adding those to the page, try moving and editing each block.  This could be related to this recent comment: https://www.drupal.org/project/drupal/issues/3160785#comment-14272498.

[2021-11-16 16:49] bspeare commented on #4372
I updated the proposed solution with some ideas of where we might want to start working on this issue.

[2021-11-16 16:52] pyrello opened #4443 "WhitmanWeb - Initial setup"
# Story

As a WhitmanWeb site owner I can publish writings in multiple languages.

# Proposed solution

* Create site split.
* Turn on translation.
* Add a "Writing" content type. Don't worry about fields besides body for now.
* Add and export all config changes to site split.

[2021-11-16 16:55] makurj opened #4444 "DCV"
Clear site cache for V2 and possibly V3 to hit the .txt URL.

- [x] iowalakesidelab.org (11/30/2021 00:00 GMT)
- [x] www.iowalakesidelab.org (11/30/2021 00:00 GMT)
- [x] writinguniversity.org (11/30/2021 00:00 GMT)
- [x] marce2020.com (11/30/2021 00:00 GMT)
- [x] www.marce2020.com (11/30/2021 00:00 GMT)
- [x] molcellcog.org (11/30/2021 00:00 GMT)
- ~[ ] www.molcellcog.org (11/30/2021 00:00 GMT) -

[2021-11-16 18:49] briand44 commented on #4444
@mark-bennett-uiowa I think iowamommoodbooster.org and iywp.org are CLAS sites you will need to validate.

[2021-11-16 19:07] joewhitsitt commented on #3641
This looks interesting... https://ddev.com/ddev-local/sharing-a-ddev-local-project-with-other-collaborators/

[2021-11-16 19:15] briand44 commented on #4443
Added blocked label to have conversation with customer before moving forward.

[2021-11-16 19:30] briand44 commented on #4268
Scope this next slice to main menu links and any supporting documentation related to that.

[2021-11-16 19:31] joewhitsitt opened #4445 "SiteNow Find Text - Main Menu links support"
Epic: https://github.com/uiowa/uiowa/issues/4268

This is the next _first_ slice of extending SiteNow Find Text functionality

## Proposed Solution

- [ ] Working off the existing code, extend to provide search support to menu link titles and path to catch the common *.prod.drupal.uiowa.edu menu items.

[2021-11-16 19:33] makurj commented on #4445
I would like to pair on this.

[2021-11-16 19:33] makurj commented on #4268
I would like to pair on this.

[2021-11-16 19:38] briand44 commented on #4372
Scope to card block for first slice

[2021-11-16 19:46] briand44 opened #4446 "AoS Feature - Consider Rabbit Hole node redirect for unauthenticated when linked directly to source (pre-save)."
https://iowaweb.slack.com/archives/C0164FNN1PV/p1636558112346600

## Proposed Solution

- [x] Enable rabbit hole node (already a composer dependency. HR is using for taxonomy) and configure for AoS content type with display node set as default with per node override set. Make sure all of this is captured in the AoS split.
- [x] On pre-save, if source link and direct to source are set, change the r

[2021-11-16 20:14] pyrello commented on #4317
Comments from backlog grooming:
* Part of what makes this complex is that we'll be switching from core Layout classes to our own.
* If we want to split this story, we could work on switching over to the new class. Work could be done on the form and storage aspects of the new feature, but if this isn't ready in a single sprint, it could be hidden for deployment. If this takes more than one sprint,

[2021-11-16 20:16] makurj commented on #4441
I would like to work/pair on this.

[2021-11-16 20:18] pyrello commented on #4446
Some thoughts about this:
* It would be nice to figure out how to incorporate the source link into Rabbit Hole settings per node to allow that to be used as a redirect.
* We should probably select the return code (e.g. 301, 404) for the user and hide the option if that shows on the form

[2021-11-16 20:22] bewoldt commented on #4391
<img width="1049" alt="142059820-96ec286f-fb4a-4e5b-973c-039da8176ae1" src="https://user-images.githubusercontent.com/1036433/142061010-d8cb670f-21b0-4838-b09d-8cb624d3b4ac.png">

[2021-11-16 20:29] #1626 closed, assigned to nobody

[2021-11-16 20:29] #4137 closed, assigned to pyrello, richardbporter, joewhitsitt

[2021-11-16 20:29] #3871 closed, assigned to nobody

[2021-11-16 20:57] e-marie-w commented on #4351
I don't know how to use the views_data_export module so I'd like to pair with whoever takes this on.

[2021-11-16 21:01] richardbporter commented on #2428
The admissions site which I know uses aggregator has the following database table sizes related to aggregator:
[code]

I'd be ok with expanding this but maybe not right now with our storage issue.

[2021-11-16 21:03] #478 closed, assigned to nobody

[2021-11-16 21:05] bspeare opened #4449 "As a site owner, I can filter by "UICapture" in the /admin/content/media list"
# Story

As a site owner, I can filter by "UICapture" in the /admin/content/media list so that I can find my UICapture media.

<img width="1533" alt="Screen Shot 2021-11-16 at 2 53 04 PM" src="https://user-images.githubusercontent.com/1036433/142065546-c9c10455-cde9-4eda-a0cc-9726c4d1019b.png">

# Proposed solution

- Update admin/structure/views/view/media/edit/media_page_list View to include UIC

[2021-11-16 21:08] richardbporter commented on #1399
I can't reproduce this on uiowa.edu.

[2021-11-16 21:08] #1399 closed, assigned to nobody

[2021-11-16 21:14] briand44 commented on #4444
I reached out to iowamade and icfm2020 to find out what is going on with those sites

[2021-11-16 21:46] #2881 closed, assigned to dnkemper

[2021-11-16 22:16] GaryRidgway commented on #4351
Hey all, working with @e-marie-w on this, [does this meet the criteria for what we are looking for?](https://teams.microsoft.com/l/file/9512A873-121C-4FB5-A00A-3E50894D8C6A?tenantId=1bc44595-9aba-4fc3-b8ec-7b94a5586fdc&fileType=csv&objectUrl=https%3A%2F%2Fiowa.sharepoint.com%2Fsites%2FCSI-Drupal2%2FShared%20Documents%2FGeneral%2Fbuildings-data-export-maps-site.csv&baseUrl=https%3A%2F%2Fiowa.sharep

[2021-11-16 22:24] briand44 commented on #4351
I am not seeing anything in the Explore column and I guess I assumed there would be. Am I missing something?

[2021-11-16 22:32] GaryRidgway commented on #4351
good catch, there were things there before but perhaps the export did not like them, I will investigate

[2021-11-17 15:12] pyrello opened #4452 "Add config split support for Layout Builder templates"
# Motivation

As part of #4091 we had to settle for something less than completely moving away from keeping complete splits of overridden config, specifically with regard to `core.entity_view_display.node.*.default` config where Layout Builder is turned on and used for templating. Any split that includes alterations to the Layout Builder template for a content type (such as adding a field or other

[2021-11-17 15:15] #4343 closed, assigned to nobody

[2021-11-17 15:36] pyrello opened #4453 "Turn on Layout Builder for articles"
Request was made for ability to use visual layout editing for building articles.

[2021-11-17 15:55] joewhitsitt commented on #3204
Strikes again: https://github.com/uiowa/uiowa/pull/4451

[2021-11-17 16:00] joewhitsitt commented on #4453
Just want to capture a few things:

- To clarify, layout builder is the foundation of this content type but that webmasters/etc do not have the ability to customize/override on a per node basis. IMO, we would be restrictive of what section layouts/blocks would be available for placement.
- The stories site was mentioned as related to this which is currently a top-down single level of paragraphs bl

[2021-11-17 16:27] pyrello commented on #3641
To test out lando, I went back to our old `.lando.yml` setup: https://github.com/uiowa/uiowa/commit/14d3704d2c822b8b78603c61d9a710ea48c69d99

It needs some tinkering to get it to work (ahem @richardbporter), but when running the `lando rebuild -y` command, it is significantly faster than when using the `drupal-contributions` project. My computer is also not humming as much, although it is humming

[2021-11-17 17:34] pyrello commented on #4453
If I understand our current setup correctly, `field_teaser` is already important for this reason because we don't generate teaser snippets from the `body` field.

I may not be understanding the intention here, but it seems like we would lose some reusability with existing blocks if we did a paragraphs implementation for the stories site.

[2021-11-17 17:54] bspeare commented on #4453
It seems like if we updated Articles to use a "Page w/ left sidebar" layout users could:
- Utilize the sidebar to display meta information like in this screenshot: https://github.com/uiowa/uiowa/issues/2813#issuecomment-767109876
  - Date
  - Author
  - Share links
- Continue to use the previous wide layout if they don't want to have metadata listed in the sidebar (Page w/ left sidebar defaults to

[2021-11-17 19:29] briand44 commented on #4444
iowamade is working again and I validated it

[2021-11-17 19:29] briand44 commented on #4444
icfm2020 can go away so we will not need to validate.

[2021-11-17 19:53] GaryRidgway commented on #4351
[okay, tried this again, added in highlighting for things.](https://teams.microsoft.com/l/file/9BD0F56C-108D-486A-850A-53449D445B52?tenantId=1bc44595-9aba-4fc3-b8ec-7b94a5586fdc&fileType=xlsx&objectUrl=https%3A%2F%2Fiowa.sharepoint.com%2Fsites%2FCSI-Drupal2%2FShared%20Documents%2FGeneral%2Fbuildings-data-export-maps.xlsx&baseUrl=https%3A%2F%2Fiowa.sharepoint.com%2Fsites%2FCSI-Drupal2&serviceName=t

[2021-11-17 20:02] #4429 closed, assigned to nobody

[2021-11-17 20:02] #4430 closed, assigned to nobody

[2021-11-17 20:02] #4431 closed, assigned to nobody

[2021-11-17 20:02] #4440 closed, assigned to nobody

[2021-11-17 21:06] cory-skeers commented on #4445
Adding a few notes for this since I'd missed grooming.

We can either update this to not skip over `menu_link_content`, and set it up to use the existing queries that are entity-based:
https://github.com/uiowa/uiowa/blob/76377f455800203d9311dece113ea2ada0d4b8c9/docroot/modules/custom/sitenow_find_text/sitenow_find_text.module#L45-L47

Or we can do separate queries outside of the existing query loo

[2021-11-17 21:26] bspeare opened #4455 "Figcaption color does not work with section backgrounds"
# Problem
Figcaption has a set color that doesn't adjust to section backgrounds in layout builder.

# Steps to reproduce

- https://sandbox.prod.drupal.uiowa.edu/image-captions

# Proposed solution

- Find usages of `figcaption` in uids_base and remove color property and adjust opacity to .7.

[2021-11-17 22:51] joewhitsitt opened #4457 "HR - Unit Contact Information - Separate multiple values"
## Problem

More than one phone number and possibly other unit fields don't wrap nicely when more than one value is provided.

## Example
https://hr.uiowa.edu/support/workers-compensation/workers-compensation-resources
![thumbnail_image007](https://user-images.githubusercontent.com/4663676/142294940-ed67ceb5-5e79-4fa4-a100-4fe7621ea15b.jpeg)

## Proposed Solution

- [ ] Adjust the field templates

[2021-11-18 14:32] joewhitsitt commented on #3641
Started a DDEV PR that folks can try elsewhere on their computer. https://github.com/uiowa/uiowa/pull/4458

[2021-11-18 14:38] pyrello commented on #4241
I haven't read this yet, but it may be relevant: https://robertroose.com/blog/drupal/how-create-groups-within-drupal-which-can-share-nodes-and-files-privately

[2021-11-18 15:29] makurj opened #4459 "V3 Articles View Block: Edit tags logic"
Original IS:

Captured IS from #4494:

# Story

Currently we can only filter article list blocks by tags that the articles have, but because we've imported some "non-newsy" content (our topics for topic collections for example), articles that aren't really "news" are showing up in article list blocks. See the campus resource "ASD Support Group" showing up in the Recent News section on the in-progr

[2021-11-18 16:34] GaryRidgway commented on #4438
After discussion and looking at [this article](https://www.a11yproject.com/posts/2021-01-28-how-to-use-the-tabindex-attribute/), it seems like we should solve the first two problems with CSS, and message Denny about the third. we should remove the `tabindex=0` because it is non-interactable, and it will make stuff actually MORE confusing for Assistive technology users

[2021-11-18 17:15] dcrall commented on #4438
I am fine with removing the `tabindex`. Do we have an `aria-live` attribute around the profiles content? I can potentially add that on my side.

[2021-11-18 17:20] GaryRidgway commented on #4438
looks like there is already an `aria-live="polite"` on the `#uiprof` element, if that's what you mean

[2021-11-18 17:50] pyrello opened #4463 "Layout Builder UX improvements"
# Motivation

Layout Builder is a great tool but creates some confusing paradigms, such as having to understand the difference between the edit and layout screens. It was always our intention to eventually come back to trying to address some of these issues to make the experience more intuitive and seamless.

This is an epic to house different tasks related to improve the UX of Layout Builder.

#

[2021-11-18 20:45] pyrello opened #4464 "Write a test class for HR"
# Motivation

When #4091 deployed, there were issues with a field that was removed and re-installed and data loss occurred. An automated test covering all the custom functionality of that site could have helped prevent this.

# Proposed solution

Write a test class that tests each piece of custom functionality for the HR site split.
Setup:
- Load the HR split.

Tests:
- [ ] Test `field_reference`

[2021-11-18 20:58] pyrello commented on #4464
This could be the basis for writing test cases for all of our splits, which would dramatically improve our ability to roll out new features with confidence that we aren't breaking existing functionality.

[2021-11-18 21:21] pyrello commented on #4459
Is this related to the Views blocks? Or on the articles page?

[2021-11-18 21:26] makurj commented on #4459
I think views block.

![image](https://user-images.githubusercontent.com/52135878/142499231-136931e0-ce5e-48c6-8768-5dadc26a751f.png)

[2021-11-18 21:28] joewhitsitt commented on #4459
If this work is done, I'd love to keep it scoped to v3 only.

[2021-11-18 21:33] pyrello commented on #4459
If its the `article_list_block`, then changes there shouldn't affect V2.

[2021-11-18 21:43] cory-skeers opened #4465 "Split diff plugin for revisions"
Start of PR in #4422

There's a diff plugin in `layout_builder_custom` for use in split/unified diffs. The primary functionality works (but could probably use some cleanup). Otherwise, the primary goal of this slice would be to focus on the formatting of the output, and getting it into a more user-readable state.

Example of the initial output:
![image](https://user-images.githubusercontent.com/49

[2021-11-19 14:06] #4441 closed, assigned to nobody

[2021-11-19 14:26] richardbporter opened #4468 "Convert aggregator blocks to ListBlock and improve no results behavior."
In reviewing https://github.com/uiowa/uiowa/pull/4106, it seems like that work would be much easier if the block was provided programmatically. We didn't do that initially because we didn't have a way to use the headline field in code - now we do. This has the added benefit of moving the RSS Feeds out of the LB 'Add Component' dropdown and into the More... category.

### Proposed solution
Recreate

[2021-11-19 14:51] joewhitsitt commented on #4351
This seems to contain what needs to be considered when moving forward with content on Facilities and Concept3D

[2021-11-19 14:55] briand44 commented on #4351
It may be useful to have the distinct list of https://maps.uiowa.edu/admin/structure/taxonomy/extras in a separate sheet of the excel file unless they are already handy somewhere to be shared with stakeholders?

[2021-11-19 16:40] briand44 opened #4471 "Add Help Desk role and perms to Signage/HC Signage"
# Story

As a ITS Help Desk staff member, I would like to be able to access the Signage services so we can be the first level of support for this service.

# Additional Information
The ITS Help Desk is going to begin being the first level of support for Signage. Once they have the ability to access Signage, the plan is to setup an auto reply from the ui-signage email letting folks know the support

[2021-11-19 19:59] briand44 opened #4473 "Grad Admissions Areas of Study"
Grad Admissions would like an Areas of Study content type that has similar fields to the existing Grad Admissions site (https://iowa.sharepoint.com/:w:/r/sites/CSI-Drupal2/_layouts/15/Doc.aspx?sourcedoc=%7B611D3AB0-35BC-4BB4-A703-71548F2D1778%7D&file=AoS_Fields.docx&action=default&mobileredirect=true).

Grad Admissions would like to display the Areas of Studies similarly to the main admissions sit

[2021-11-19 20:01] #4438 closed, assigned to GaryRidgway

[2021-11-19 21:01] briand44 opened #4475 "Grad Admissions Cost Estimate"
- [x] Estimated costs for domestic and international students for Graduate Programs. Tied to an area of study. Similar fields to existing Grad Admissions site (year and cost estimate for US as well as year and cost estimate for international).
- [x] Multiple grad areas of study could reference a single cost estimate.
- [x] The cost estimates would be rendered as links on the grad area of study (no

[2021-11-19 21:03] briand44 opened #4476 "Grad Admissions Colleges taxonomy"
Each Area of Study would have the ability to reference one or more Colleges (similar to main Admissions site), and those Colleges would be output as a link on the Area of Study. The Colleges should also be able to contain information such as an image, description, link and display list of referenced areas of study.

[2021-11-19 21:17] bspeare opened #4477 "As a site owner, I can display an events list with teaser text that allows `<a>` tags"
# Story

As a site owner, I can display an events list from events.uiowa.edu with teaser text that allows `<a>` tags so that site visitors can click on register and zoom links without clicking through to the next page.

# Proposed solution

- Update docroot/modules/custom/sitenow_events/includes/sitenow_events.teaser.inc to allow `<a>` tags by updating `Xss::filter` to include an allowed list or s

[2021-11-19 21:19] joewhitsitt commented on #3641
I can't seem to get Lando to a working point with multisite and the frontend stuff (node/nvm/yarn).

ssh keys seem to work with composer install as it relates to uiowa_auth (private repo), but not with `blt ds`. Lando says they are auto passed in and I see it in the logs but it still doesn't seem to be happy.

[2021-11-19 22:03] bspeare commented on #3141
I think we can close this in favor of https://github.com/uiowa/uiowa/issues/4317.

[2021-11-19 22:03] #3141 closed, assigned to nobody

[2021-11-19 22:05] bspeare commented on #2887
I think we do have the ability to do this mostly now, so I don't think issue is still needed.  Closing for now.

[2021-11-19 22:05] #2887 closed, assigned to nobody

[2021-11-19 22:07] bspeare commented on #2860
I think the current solution is fine and we don't need to move forward with this.  Closing for now.

[2021-11-19 22:07] #2860 closed, assigned to nobody

[2021-11-19 22:13] bspeare commented on #2813
Do we still want to consider providing the ability to change the placement of the featured image or should we close this in favor of #4453.

[2021-11-19 22:16] bspeare commented on #2516
Since we are moving forward to changing the footer text format to minimal in https://github.com/uiowa/uiowa/pull/4269, I think we can close this since the limited WYSIWYG formatting will help the footer follow the brand guidelines.

[2021-11-19 22:16] #2516 closed, assigned to nobody

[2021-11-19 22:21] bspeare commented on #2427
Looks like we still need to work on this at some point: https://github.com/uiowa/uiowa/search?q=bold-headline.

[2021-11-22 15:21] joewhitsitt commented on #4477
Do we have link wrapping ready for this?

[2021-11-22 15:33] bspeare commented on #4477
It's ready!

[2021-11-22 15:36] bspeare commented on #4477
This work will help us close this issue: https://github.com/uiowa/uiowa/issues/4085.

[2021-11-22 15:39] joewhitsitt commented on #3661
There might be pager id issue here. We got a separate ticket saying a pager wasn't even displaying. The difference is there is another block where the pager is not set.

Might be worth checking into what the pager id is set to and if it conflicts with another block on the page.

[2021-11-22 16:10] bspeare opened #4480 "As a site owner, I can show tags and related content at the bottom of every article"
# Story

As a site owner, I can show tags and related content at the bottom of every article content type to help direct readers to related content.

# Proposed solution

<img width="1858" alt="Screen Shot 2021-11-22 at 10 00 54 AM" src="https://user-images.githubusercontent.com/1036433/142894810-98edf87e-a66d-4111-98f0-847d10df644a.png">

@dnkemper brought this up recently, and if we used the vie

[2021-11-22 16:13] bspeare commented on #4480
Related issues:
- https://github.com/uiowa/uiowa/issues/3420

[2021-11-22 16:46] bspeare opened #4481 "Top spacing styles are broken for pre-footer"
# Problem
Remove top spacing and add extra top spacing are broken in pre-footer layouts.

<img width="2147" alt="Screen Shot 2021-11-22 at 10 39 48 AM" src="https://user-images.githubusercontent.com/1036433/142900478-29134588-e496-41aa-9087-d5351efcf722.png">

# Steps to reproduce
- Try adjusting the top spacing in a prefooter layout.

# Proposed solution

- Adjust first-child rule with an overrid

[2021-11-22 17:26] #4271 closed, assigned to GaryRidgway

[2021-11-22 21:25] #4351 closed, assigned to GaryRidgway

[2021-11-23 14:29] joewhitsitt commented on #3661
Pager ID takes integer, and ideally we would supply something unique which our ListBlock submit doesn't seem to have access to.

Drupal 10 plans to make this dynamic https://www.drupal.org/project/drupal/issues/3225987

A ListBlock specific hack would be to set a block config value `rand(10, 1000)` update the pager id on preBuild. Still a collision possibility but less so. Views would have to be r

[2021-11-23 15:03] pyrello commented on #3661
I may have accidentally stumbled on to a fix for this. Going to test today.

[2021-11-23 16:27] richardbporter commented on #3585
This might be worth looking into: https://support.acquia.com/hc/en-us/articles/360054634014-How-to-set-a-unique-hash-salt-for-an-individual-site-in-Site-Factory

[2021-11-23 16:32] pyrello commented on #3661
This did not pan out as I had hoped. I had just not constructed the right case for testing the issue.

[2021-11-23 16:58] bspeare commented on #4487
I transferred this from `uids`.   This still seems like a good idea to adjust the login icon size and padding to match the icons in the footer address.

Adjust spacing here: https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/components/footer.scss#L30-L39.

[2021-11-23 17:22] bspeare commented on #4488
Just found this in `uids`, is it still needed? :)

[2021-11-23 17:26] bspeare commented on #3332
Is this still an issue?  Do we need to process in accessibility enhancements?

[2021-11-23 18:39] e-marie-w commented on #3910
[Draft here, only added 'Show as Expanded' bullet point.](https://sitenow.uiowa.edu/node/211/latest) Didn't want to start something huge or difficult on such a short week so I went rogue for a little while. Also there was a Slack conversation about this the other week so it seemed useful to do. I mostly used suggestions from that conversation.

I was going to add something about how it only works

[2021-11-23 18:43] pyrello commented on #3661
I worked on trying to adapt a patch using the code in this comment: https://www.drupal.org/project/drupal/issues/3225987#comment-14177968

This caused the pager to render correctly on first load, but broke the behavior when first clicking a page link. This would cause the first item to reload. Subsequent clicks after that worked correctly.

I like the approach of doing this dynamically and not get

[2021-11-23 19:09] joewhitsitt commented on #4477
Updated IS with more specifics

[2021-11-23 19:16] joewhitsitt commented on #4446
Updated IS with proposed solution

[2021-11-23 19:48] mjoneill opened #4489 "Banner images recycler"
As a site owner, I can have multiple banner images and have a "randomizer" feature that shows one of the alternate images on each page reload.

Why
- This would purport to keep the site "fresh" and give an experience that is constantly evolving.

How many images?
- Not sure we can answer this beyond our openness to constraints/caps if there are practical limitations here.

On each page reload?
- Y

[2021-11-23 19:50] mjoneill commented on #4489
Captured this as a request from BAM group.

I will add, that this has come up occasionally before, including planning for uiowa.edu, where we discussed having multiple banner videos that would play on each reload...

[2021-11-23 19:52] mjoneill commented on #4489
I have some concerns with caching (at various levels) if we do anything like this.  If we invest in it, we'll want to understand the consequences and communicate them with partners.

(esp. IRT experience on mobile)

[2021-11-23 20:03] mjoneill opened #4490 "Dynamic content promotion"
As a site owner, I can dynamically promote related content at the bottom of articles.

Why
- Often times articles are content dead ends, and we would like the ability to cross promote "related" articles at the bottom of an existing article.

Mechanisms of selecting promoted articles
- We likely have options here, and don't need to start with the most complex one for an MVP

Visual Treatment
-  The

[2021-11-23 20:06] mjoneill commented on #4490
This request came in from BAM recently, but it's one we've heard before (and perhaps even developed custom solutions for in the past).

Applicable to Iowa Now, Stories, and other content wells...

[2021-11-24 18:27] #4481 closed, assigned to nobody

[2021-11-24 19:42] briand44 commented on #4444
ok, so we had to validate all of these again because of the change with file upload based DCV. I have validated all except www.marce2020.com (needs added to cert manager), www.molcellcog.org (needs added to cert manager) and molcellcog.org (validate button not appearing).

I also did not validate iowastem.org again. I worked with UNI to validate this last week but am planning on finding out if we

[2021-11-24 22:08] briand44 commented on #2217
There aren't a lot of details in this IS so it would be nice if we could add questions we have in comments here for us to discuss during a future Admissions weekly meeting.

[2021-11-29 14:34] bspeare commented on #2217
Could we use the area of study content type to display the majors (https://admissions.uiowa.edu/node/add/area_of_study) and the colleges taxonomy (https://admissions.uiowa.edu/admin/structure/taxonomy/manage/colleges/overview) to display community colleges?  If they used the area of study content type, perhaps we could include a "Hide on Lists" checkbox so that the 2plus2 areas of study would not

[2021-11-29 15:19] makurj opened #4492 "Delete dentistrycallctr.prod.drupal.uiowa.edu"
Like #4318, it would be useful to do this in combination with #4314.

[2021-11-29 15:30] richardbporter commented on #3641
Having the same issue.

DDev is working really well for me. I wonder if other people can try it to see if they have any issues with it. That might inform whether we put more effort into #4470 or:

DDev is working with @e-marie-w's M1.

[2021-11-29 15:35] richardbporter commented on #4314
https://github.com/uiowa/uiowa/blob/028bb73cb09d68d666e5ffcb9db8013a232d271d/blt/src/Blt/Plugin/Commands/MultisiteCommands.php#L970-L979

[2021-11-29 16:02] #4465 closed, assigned to cory-skeers

[2021-11-29 16:43] makurj opened #4493 "Question: "Why is only one 175-related event showing up on the 175 anniversary site?" (https://175.uiowa.edu)"
Can you tell me if there's a technical problem or a workflow problem (or possibly both)?

Here's an example of another event that should be there: https://events.uiowa.edu/56010

[2021-11-29 16:43] makurj commented on #4493
Found only this in Slack:
https://iowaweb.slack.com/archives/C02GA7SEYFP/p1633449419027700
https://iowaweb.slack.com/archives/C02GA7SEYFP/p1633471504038600

[2021-11-29 16:44] bspeare commented on #4336
I added this to https://recserv.prod.drupal.uiowa.edu/intramural-sports.   The tag labels using green and orange for the background colors fail a11y checks.   Should we request that those be updated to accessible colors before embedding this content?

<img width="1356" alt="Screen Shot 2021-11-29 at 10 43 22 AM" src="https://user-images.githubusercontent.com/1036433/143908025-0c2bae04-5e75-4198-af

[2021-11-29 16:47] makurj commented on #4493
Email chain in ITS-Web:

From: ITS Web Technology Services <its-web@uiowa.edu>
Date: Friday, October 29, 2021 at 12:35 PM
To: "Remesh Ranjini, Raaj" <remeshranjini-raaj@uiowa.edu>, "Mills, Brandon T" <brandon-mills@uiowa.edu>, "Rinner, Andrew L" <andrew-rinner@uiowa.edu>
Subject: Re: events.uiowa.edu prolems

Raaj,

The original issue seemed to be that events tagged with this event type were not s

[2021-11-29 16:47] makurj commented on #4493
Another one:

From: ITS Web Technology Services <its-web@uiowa.edu>
Date: Friday, October 29, 2021 at 9:50 AM
To: "Clair, Christopher W" <christopher-clair@uiowa.edu>
Cc: "Mills, Brandon T" <brandon-mills@uiowa.edu>
Subject: Re: Events approved but not showing up

Hi Chris,

I am not sure if someone responded to this email. We reached out to Brandon Mills and the team that handles the events.uiowa

[2021-11-29 16:50] bspeare commented on #4335
I've added this to https://recserv.prod.drupal.uiowa.edu/groupfit.

Edit: I have reached out to Raaj in CSI app dev and requested that they remove the `background-color: gold` from this table:

Before:

<img width="1197" alt="Screen Shot 2021-11-29 at 10 48 08 AM" src="https://user-images.githubusercontent.com/1036433/143908942-4da57eb7-04d7-431d-80b2-379bce4ed10f.png">

After:

<img width="1225"

[2021-11-29 16:51] briand44 commented on #4336
I would just embed it, since it already exists on current site, then reach out and make them aware of the accessibility issues and see if they can work with their vendor to resolve. As part of that conversation, it would be good to find out how much design control is allowed in case it could be more UI branded.

[2021-11-29 17:02] quamsta opened #4494 ""None of" or "exclude this tag" filter for article list block"
# Story

Currently we can only filter article list blocks by tags that the articles have, but because we've imported some "non-newsy" content (our topics for topic collections for example), articles that aren't really "news" are showing up in article list blocks. See the campus resource "ASD Support Group" showing up in the Recent News section on the in-progress Student Disability Services site:

[2021-11-29 18:29] bspeare commented on #3585
As noted in Slack this morning, https://studentlifesds.prod.drupal.uiowa.edu/students has the two-column layout missing.  And https://studentlifesds.prod.drupal.uiowa.edu/ has an articles block that is set to display in a grid that is not styled because the `onecol.css` file is not loading.

**Edit:**  looks like the grid is not styled on the home page because the `onecol.css` file is not loading.

[2021-11-29 19:28] briand44 commented on #4444
The plan is to continue using the file upload method for validation. Because of recent changes with the file upload validation method, we now will need to validate www and any other subdomains in addition to the FQDN. Warren is going to provide a export of all of the domains for us to verify which are using www or wildcards, etc. so we only include the domains in cert manager that we are covering

[2021-11-29 22:05] richardbporter commented on #3585
Customer said it looked ok around 8am and then not so much around 8:30am. There was no code deployment at that time. We should probably update the issue title so we aren't so focused on code deployments.

Checking the logs for today, drupal-watchdog.log entries show some updates to unrelated pages on that site. The php-error.log entries are all seemingly unrelated as well. They reference the teach

[2021-11-30 17:02] #4444 closed, assigned to nobody

[2021-11-30 19:06] briand44 opened #4498 "https://recserv.prod.drupal.uiowa.edu/ content and design review?"
# Review process

Work with @ABoston88 and put together a two-column spreadsheet.  In the first column provide the page name and url and in the second column provide notes/comments/suggestions.

## Example
<table border="0">
 <tr>
    <td><b style="font-size:30px">Page</b></td>
    <td><b style="font-size:30px">Notes</b></td>
 </tr>
 <tr>
    <td>Areas of Study: https://education.prod.drupal.uiowa

[2021-11-30 19:19] briand44 commented on #4299
Use this as a guide but we don't necessarily need to have the checkboxes and complete each one.

[2021-11-30 19:23] bspeare commented on #4498
I updated the review process above that can be used as a guide but we don't necessarily need to have checkboxes and complete each one.

[2021-11-30 19:26] briand44 commented on #4317
First slice may be investigating extending similar to https://git.drupalcode.org/project/lb_tabs/-/blob/3.0.x/src/Plugin/Layout/LbTabsLayoutBase.php

[2021-11-30 19:34] pyrello opened #4499 "Investigate using a Layout override class to provide grid settings per region"
# Motivation

As a precursor to #4317, we need to determine whether we can use a Layout class override to provide the settings form to store grid settings per region.

# Proposed solution

Using https://git.drupalcode.org/project/lb_tabs/-/blob/3.0.x/src/Plugin/Layout/LbTabsLayoutBase.php as an example, build a proof of concept that allow for setting a region setting and demonstrating that we can

[2021-11-30 19:39] bspeare commented on #4499
Does this work need to be done in https://github.com/uiowa/uiowa/pull/4450?

[2021-11-30 19:41] pyrello commented on #4499
It could be done there. It is a departure from what was started there, but we could copy/paste the existing code to the new location in that PR

[2021-11-30 19:43] pyrello commented on #3842
A question that came up in grooming: Is there any opportunity to use the existing generic Areas of Study feature (not the Admissions one) and extend it? Or do we want to just forgo that because it ended up making the previous Admissions Areas of Study work more difficult and we ended up splitting them apart anyways?

[2021-11-30 20:10] pyrello commented on #3585
The two watchdog entries above both appear to be bugs that we should try to resolve, but it isn't clear to me how either of them would be related to this issue.

[2021-11-30 20:13] pyrello commented on #3585
I think this is related to #2716 (and https://www.drupal.org/project/drupal/issues/3160785)

[2021-11-30 20:15] pyrello opened #4500 "Fix "PanoptoURL" plugin does not exist bug"
# Problem
We are seeing instances of the following watchdog errors:
```https://teachonline.prod.drupal.uiowa.edu/media-library?_wrapper_format=drupal_ajax&ajax_form=1&hash=XXX&media_library_allowed_types%5B0%5D=image&media_library_allowed_types%5Baudio%5D=audio&media_library_allowed_types%5Bfacebook%5D=facebook&media_library_allowed_types%5Binstagram%5D=instagram&media_library_allowed_types%5Bpano

[2021-11-30 20:18] pyrello commented on #3585
I created #4500 to address the other watchdog entry above.

[2021-11-30 20:39] quamsta commented on #4494
Closing this because I realized we aren't including our former "topics" as articles, we just imported some older blog posts that looked like resources. D'oh. Not needed for now.

[2021-11-30 20:39] #4494 closed, assigned to nobody

[2021-11-30 21:47] dnkemper commented on #3661
NOTE:

Load page
Hover over pager #’s: https://sandbox.local.drupal.uiowa.edu/people-directory?block_config_key=72Wnq25U6UiG7BFE-WftmKAKa6vpX-MEMdx597rxaAE&page=0%2C0%2C0%2C0%2C1%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0%2C0

https://sandbox.local.drupal.uiowa.edu/people-directory?block_config_key=72Wnq25U6UiG7BFE-WftmKAKa6vpX-MEMdx597rxaAE&pag

[2021-12-01 14:17] richardbporter commented on #4500
It would probably be a good idea to output some APCu stats in the administrative interface before and after making this change, if we do it, to compare. Reading through https://www.drupal.org/project/drupal/issues/2984232 would be wise as well. One comment asks whether per-multsite APCu caches is worth doing at all.

[2021-12-01 14:24] richardbporter commented on #3585
Yea its a total guess. The only lead we got on this issue in Slack was that it might be cache related, possibly memcache, which seems possible given how hard it is to replicate. The Acquia APCu knowledge articles mentions sharing an APCu cache:

I'm wondering if when this happens a site can't retrieve the layouts from APCu cache for some reason. /shrug

[2021-12-01 14:37] joewhitsitt commented on #4494
Related issue: https://github.com/uiowa/uiowa/issues/4459

[2021-12-01 14:49] joewhitsitt commented on #3641
Based on the usage/support I have seen, I am less excited about docksal.

[2021-12-01 14:52] joewhitsitt commented on #4493
The event listed in the IS is not using the same tag used to filter events on 175.uiowa.edu

https://events.uiowa.edu/56010
https://content.uiowa.edu/installation-barbara-j-wilson-university-iowas-22nd-president-0

[2021-12-01 14:52] richardbporter commented on #4344
Thinking about this again, building it for RecServ in a way that works for Dining would be overly complicated. Dining also has a map on that page and many more fields on their locations. They will probably need something custom for that page or their own location content type.

[2021-12-01 15:55] joewhitsitt commented on #3661
The problem with the initial load is that `setCurrentPage` runs first before `updatePageInfo` where the dynamic id is set. After that, it works because it re-runs and has the updated id.

Setting the id in `preBlockBuild` works because it runs before either of these. The downside is that it is unaware of the dom position at this point, and there is very little in terms of a unique id to latch on t

[2021-12-01 16:31] benlewzz commented on #4498
What's the best way for SLC to be involved in the review? We have a few content-related things we'd like to bring up.

[2021-12-01 16:55] briand44 commented on #4498
@benlewzz we will share a link to the document once it is created here and then SLC can contribute feedback in the document if that works?

[2021-12-01 17:10] richardbporter commented on #3641
Some ddev/lando thoughts:

- ddev auth ssh asks for SSH key password once and then SSH commands just work after that. Lando asks every time - might require additional work. (`https://github.com/lando/lando/issues/478`)
- ddev loads SSL cert into system so browsers trust it. Lando doesn't.
- ddev ships with yarn and has special integration with it for more performant FS changes. Lando doesn't.
- dd

[2021-12-01 17:23] ABoston88 commented on #4498
@benlewzz The feedback document can be accessed here: https://iowa-my.sharepoint.com/:w:/g/personal/bosto_uiowa_edu/Ea5hxcIbFNRGi3qjA9tcVI8BppS0_dAnDbbOkjCYD5gUBA?e=Vgltse

If you'd like to meet to quickly discuss feedback or if there's anything that requires a more direct discussion with Rec Services, let us know. Otherwise, feel free to add notes to the doc. We'll do the same and deliver shared

[2021-12-01 17:29] joewhitsitt commented on #3842
So the ideal view display has a single row per area of study taxonomy term which the content type references (potentially multiple going forward), the `See also` information will move from the content type to the taxonomy. The migration will also have to account for the `See also` information moving from content to taxonomy.

I don't see a way around having a separate AoS taxonomy for this content

[2021-12-01 17:36] joewhitsitt commented on #3842
The previous Admissions AoS has been completely split off from the feature. I see more similarities with the grad admissions stuff and the AoS feature. It might be a good starting point, but we might find ourselves down the same path where we ultimately break away completely to make maintaining the AoS feature easier for simpler sites (education, distance).

[2021-12-01 17:43] bewoldt opened #4502 "Spacing with accordions"
# Problem

Accordions have a margin top to space them out but no margin bottom so when you add a block directly after an accordion there isn't any space between them.

<img width="1033" alt="Screen Shot 2021-12-01 at 11 25 23 AM" src="https://user-images.githubusercontent.com/731952/144285144-2f9c9d14-8cc2-4664-bad6-d51656e5906b.png">

Example page
https://recserv.prod.drupal.uiowa.edu/climbing-wa

[2021-12-01 18:04] richardbporter commented on #3641
Trying to install Docksal, I get:
[code]

Initializing a docksal project results it:
[code]
for a file that it generated. Fixing up the file and then restarting resulted in even more errors. Tried setting up an acquia project, got more errors.

Can we scratch docksal?

[2021-12-01 18:34] joewhitsitt commented on #3641
+1

[2021-12-01 18:36] joewhitsitt commented on #3641
This isn't weighted high enough IMO.

Maybe we can just use these as inspiration when crafting our custom commands

[2021-12-01 20:29] bspeare commented on #4502
I've noticed this too.  Could we just add the "Margin" styles to this block to create extra spacing as needed?

<img width="666" alt="Screen Shot 2021-12-01 at 12 02 00 PM" src="https://user-images.githubusercontent.com/1036433/144308927-b14d1595-05b5-4ebb-8ad7-ba72648f4759.png">

[2021-12-01 20:45] joewhitsitt commented on #3661
In a bit, I am going to let the debugger take me away on this and see where it goes because at some point the current page seems to change and the pager ids seem to be the same.

[2021-12-01 20:48] dnkemper commented on #3661
Would be nice to eliminate list block as part of this if we could set up the same conditions but for generic views blocks and see it it also happens 😜 **cough cough ** @pyrello with your lando environment possibly?

[2021-12-01 21:02] pyrello commented on #3661
FWIW, I think we should all have a method for confirming or disproving bugs as coming from outside our platform via setting up a standard install, @dnkemper. I can look into this, but not immediately.

[2021-12-01 21:07] dnkemper commented on #3661
@pyrello 100% agree. With new laptop I'll be all over it! I can try to set it up in the mean time on this one though... just would like to apologize in advance for how my laptop handles it 😂🙈

[2021-12-01 22:12] #4348 closed, assigned to cory-skeers

[2021-12-01 22:12] #4445 closed, assigned to cory-skeers

[2021-12-01 23:56] pyrello commented on #3661
Best case scenario here is that we write a failing test. Then the fix just fixes the test. Also more likely to get reviewed sooner by a maintainer if it has a passing test.

[2021-12-02 15:03] #4085 closed, assigned to nobody

[2021-12-02 15:03] #4477 closed, assigned to bspeare

[2021-12-02 15:25] makurj opened #4516 "Domain changes policy needs updating"
If we aren't billing as a way to dissuade folks, maybe we should be more transparent with, "we would prefer you to request a replacement site unless you can convince us otherwise."

https://sitenow.uiowa.edu/policies

[2021-12-02 15:25] makurj opened #4517 "Query string with search parameters for Find Text results"
Including a query string with search parameters could add additional functionality, like

- Allow option of hitting back and seeing results re-populate
- share links to results
- maybe some other stuff?

[2021-12-02 15:30] makurj opened #4518 "Curious about indexnow service for Drupal"
Concerns, something better, overhead, feasability?

Background: https://www.indexnow.org/

Example module: https://www.drupal.org/project/index_now

[2021-12-02 15:31] makurj opened #4519 "Ability to add "nofollow" attribute to menu links"
_Related: we closed an issue for target blank, but maybe the module referenced there would have this nofollow attribute: https://github.com/uiowa/uiowa/issues/1245 - jwhitsit_

[2021-12-02 16:05] briand44 commented on #4519
https://drupal.org/project/menu_link_attributes should be investigated to see if that will allow adding a "nofollow" attribute.

[2021-12-02 16:06] briand44 commented on #4519
Use case is adding a link in footer to an Intranet (Dentistry)

[2021-12-02 16:28] briand44 commented on #4493
As far as the 175 anniversary events go, I am not seeing any issues. There is only one event in content hub tagged with that event type (https://content.uiowa.edu/event-types/175th-anniversary). There is one event showing on events.uiowa.edu (https://events.uiowa.edu/?f=12506). There is one event showing on 175.uiowa.edu (https://175.uiowa.edu/). The only thing that I can see that should possibly

[2021-12-02 16:44] dnkemper opened #4520 "Try starting with the AoS feature split (leveraging the degree types taxonomy)"
Grad Admissions would like to display the Areas of Studies similarly to the main admissions site (https://admissions.uiowa.edu/areas-of-study). One catch here is that each Area of Study can have one or more degree options that may contain the same or different information. Could look at Admissions transfer tips for inspiration

[2021-12-02 17:34] joewhitsitt commented on #4500
Site editor is experiencing this issue first-hand and unable to add a video. Temporarily unavailable message.

https://iowaweb.slack.com/archives/C02F85V53/p1638464241026200

[2021-12-02 17:49] dnkemper opened #4521 "Establish grad admissions site split for future aos work"
Create site split for grad.admissions.uiowa.edu for epic work.
Make sure users will have aos feature split perms and make sure it's turned on for following epic issues

[2021-12-02 17:55] pyrello opened #4522 "UI Press - Book node design"
# Motivation

In preparation for #4328, it would be useful to define how the book page is going to look so that when that work is being done, we can just follow the design.

# Proposed solution

Provide layout builder page on https://uipress.prod.drupal.uiowa.edu to guide development of the layout of the Book node type when it is created.

Existing page example: https://www.uipress.uiowa.edu/books

[2021-12-02 19:57] dnkemper commented on #4344
Questions:

1. Feature split or site split (was working towards feature split if other sites might utilize hours.uiowa.edu info)
2. To make sure on right path, add a block with 1 field that will be used to gather the exchange resource name (ex. RES-foo-200) - make unlimited so can enter however many location hours want to display on site then display it like a card that shows if open or closed (di

[2021-12-02 20:01] richardbporter commented on #4344
1. Feature split, yes.
2. I think single value only. A toggle to choose to display a status indicator to show open/closed and another one to toggle Pickadate functionality like on https://recserv.uiowa.edu/facilities/campus-recreation-wellness-center.

[2021-12-02 20:37] dnkemper commented on #4344
@richardbporter THANK YOU SO MUCH! Also... ninja response skills
![PARKOUR](https://user-images.githubusercontent.com/16872949/144499031-df61eec2-7723-4b84-9ed1-1ef42a62d243.GIF)

[2021-12-02 22:37] briand44 commented on #4493
All events tagged with 175th Anniversary event type are now appearing on events.uiowa.edu. They are not all appearing on the 175th website because of the Audience filter is set to "Everybody" but that is excluding events tagged with 175th Anniversary that have an audience that is not set to "Everybody". I let the site owner know this. Closing this.

[2021-12-02 22:37] #4493 closed, assigned to nobody

[2021-12-02 23:06] mjoneill commented on #4518
I can't edit the issue details, so I'll add some context here.  First off, thanks for adding the links to the issue,  @makurj !  The indexnow.org site does a good job of explaining the "why".  If content is the fuel for the marketing engine, search engines are the fire.  Getting search engines to understand new/updated/changed content as soon as possible can drive business value, and marketers nat

[2021-12-02 23:33] joewhitsitt commented on #3661
Finally made a step forward. Page render builds out `pagerElements` but then that is lost when the first ajax paging is called. The first block on the page still works because it uses the same pager id "0". Any others on the page have to go through the process of being established again in the pagerElements array. That is why it works again after the second pager click on the block.

[2021-12-03 14:37] joewhitsitt opened #4527 "Class ReplicatorEvents not found in layout_builder_custom EventSubscriber"
# Problem

Acquia cloud tasks spit out an error related to Replicate:

[code]

# Steps to reproduce

- Inspect an acquia cloud task (e.g. deployment, db sync, etc.) right after `drush @self sql-sanitize`

# Proposed solution

?

[2021-12-03 14:52] joewhitsitt commented on #4500
Waiting to hear back from Acquia about the proposed solution in #4524

[2021-12-03 15:15] bspeare commented on #4336
We have embedded the calendar and suggested new colors to fix the bootstrap badge colors.

[2021-12-03 15:15] #4336 closed, assigned to bspeare

[2021-12-03 16:42] joewhitsitt opened #4528 "Regression - Admissions Student Profiles Grid Block is missing filtering options"
Probably caused by recent ListBlock refactor.

https://iowaweb.slack.com/archives/C019B2C8K8U/p1638396543026100

## Proposed Solution

- I _think_ these fields need to be "enabled" again on the view config.

[2021-12-03 18:20] makurj commented on #4471
Do these permissions for the HD role look good?
![image](https://user-images.githubusercontent.com/52135878/144653108-7aa0b739-7fbb-4be7-addb-b5e009310c5e.png)

[2021-12-03 18:20] makurj commented on #4471
Also, can we create a duplicate issue for the Healthcare part of this which has to be done on campus?

[2021-12-03 18:20] joewhitsitt commented on #3661
I think I got it... using shared temp store. Might be one of these patches that never gets committed though...

This does fill in the key_value_expire table and things like a `cr` will generate new dom ids. The default sharedtempstore holds items for 7 days. Might be a "growing" problem as-is.

https://git.drupalcode.org/project/drupal/-/commit/c2ec77f515f778362a8e1afd8a3eef9c8e5b2fa3

#4501 shoul

[2021-12-03 18:30] joewhitsitt commented on #4471
Hard to visualize these permissions without comparing them to another role.

Are permissions featurized? If so, it is my understanding that this can be replicated and deployed for healthcare and that is is possibility running a feature revert while on campus.

[2021-12-03 18:35] makurj commented on #4471
I copied some from webmaster. I can do a screen recording of both side-by-side.

None of the features looked overridden once I made these changes locally, and working tree was clean also. So I'm thinking this will need to be done directly on prod for both signage.uiowa and signage.healthcare.

[2021-12-03 18:39] makurj commented on #4471
https://user-images.githubusercontent.com/52135878/144655390-177fb409-443e-4c4e-a786-be0a5bd1aa64.mp4

[2021-12-03 18:54] makurj commented on #4471
"Assign HD role if member of ITS-HD-Staff" does this mean go through the AD group and assign the new HD role to all the folks in that group, or is this about setting up logic somewhere to check against the AD group automatically?

[2021-12-03 19:00] joewhitsitt commented on #4471
There is functionality here: admin/config/people/simplesamlphp_auth/sync to auto map an AD group to a particular role id. The its.uiowa.edu website does this for the ITS-HD-Staff AD group and can be used as a reference. The role id will probably be different. Not sure if this is tracked in features or would have to be another live change. We would ultimately need someone from that AD group to try

[2021-12-03 19:05] joewhitsitt commented on #4471
Thanks for the side-by-side diff of permissions. I don't know what all we expect this role to be able to do, but I did notice some gaps that a webmaster can do that hd staff can't do. It will be hard for them to support a webmaster if they can't equally do the same operations. Additionally, I am sure there are certain permissions they need to stand in for an administrator. If you can masquerade as

[2021-12-03 19:16] bspeare opened #4530 "As a SiteNow user, I can create a mega menu through layout builder"
# Story

As a SiteNow user, I can create a mega menu through layout builder so that I can place a card or custom text area alongside of a menu.

As requested by the brand team, they would love to be able to create a mega menu like: https://identity.unc.edu/

<img width="1761" alt="Screen Shot 2021-12-03 at 1 11 37 PM" src="https://user-images.githubusercontent.com/1036433/144659487-5392f95a-5941-4

[2021-12-03 19:18] quamsta commented on #4372
Stanley Museum is also interested in this feature!

[2021-12-03 19:24] bspeare opened #4531 "Remove banner gradient overlay if page title is hidden"
# Problem
If the page title is set to "Visually hide title" on the featured image, the overlay gradient meant to provide accessible color contrast ratios still appears.

<img width="876" alt="Screen Shot 2021-12-03 at 1 20 15 PM" src="https://user-images.githubusercontent.com/1036433/144660564-db360f0a-1cc7-4ee0-a474-28cf156a81a4.png">

# Steps to reproduce
Add a featured image to a Page and hide

[2021-12-03 19:26] bspeare commented on #4531
This is needed for a series of landing pages being built on admissions.uiowa.edu.

[2021-12-03 19:29] dnkemper commented on #4344
Okay... I apologize in advance if I'm off base here...

1. Should I follow the facilities content type and add 'Major closure', 'Hours - Today', or 'Hours Timeline' extra fields to the block?
2. For the 'toggle to choose to display a status indicator to show open/closed and another one to toggle Pickadate functionality'...  Only physical/editable field in block form display= resource (where they e

[2021-12-03 20:00] joewhitsitt commented on #4520
I don't think this needs to be a separate slice. I added it as a note to the Epic's IS as something to probe. "Could look at Admissions transfer tips for inspiration" has to do with the estimated costs not the AoS content.

I will add this to https://github.com/uiowa/uiowa/pull/4523 where the AoS split is being turned on.

[2021-12-06 14:57] joewhitsitt commented on #4344
Outside looking in, but saw your comment about fullcalendar_view in Slack. When I think of a date picker and what is currently on recserv, I think of pickadate.js which now has a non-jQuery version: https://github.com/amsul/pickadate.js/releases/tag/v5.0.0-alpha.3. If the idea is to have a calendar display instead of a list again, then fullcalendar_view is IMO the best option currently.

I don't u

[2021-12-06 15:36] joewhitsitt opened #4533 "Remove Kaltura support"
after 12/28? - Confirm with OTLT

[2021-12-06 16:25] briand44 opened #4534 "Update International Programs map"
Update https://international.uiowa.edu/about/stats/isss/map with 2021 numbers.

_See: international.uiowa.edu/modules/custom/ip_maps/README.md_

[2021-12-06 16:32] makurj commented on #4471
Made my account on https://signage-dev.uiowa.edu/ an HD role one and I can edit people, edit groups, add signs, add slides but I cannot masquerade. The option is not available, even with “masquerade as user” and “masquerade as any user” checked for the HD role. Anyone have any thoughts on how to make this work?

[2021-12-06 16:49] #3641 closed, assigned to richardbporter

[2021-12-06 16:53] makurj opened #4535 "Signage: Contrast on select and textarea"
# Problem
When I'm logged in as an HD role person or masquerade as someone with the helpdesk role, the color contrast on select options and textarea is not enough. It seems it's the color: inherit property for select and textarea.

![image](https://user-images.githubusercontent.com/52135878/144887811-bb7c62d5-16ed-4bfa-a18d-790878eedf77.png)

# Steps to reproduce
Masquerade as someone with the hel

[2021-12-06 17:01] joewhitsitt commented on #4535
I think if the user has permissions for administration and help pages, it will use the correct theme for this route.

[2021-12-06 17:04] joewhitsitt opened #4536 "Scan for administrator role on SiteNow v1"
## Problem

There seems to be more issues involving users who should not have the admin role being assigned the admin role.

## Proposed Solution

- [ ] Construct a query to list out admins per site
- [ ] Run on all sites per docroot and look over results

[2021-12-06 17:05] bspeare opened #4537 "Adjust link color for text areas using white or gray background colors"
# Problem
Our background.scss component sets `color: inherit;` to make sure links have accessible color contrast when used with background colors.  However, it would be ideal if the link color on gray or white backgrounds could have the same blue color used on default text areas: `#00558c`.

# Steps to reproduce
Notice the differences on https://international.prod.drupal.uiowa.edu/ISSS/internation

[2021-12-06 17:10] makurj commented on #4535
Tried that. Didn't help.
![image](https://user-images.githubusercontent.com/52135878/144890523-b2acb3b6-7335-45af-9920-aa3907680a19.png)

[2021-12-06 17:12] makurj commented on #4535
Adding "View the administration them" helped.

[2021-12-06 17:12] #4535 closed, assigned to makurj

[2021-12-06 17:18] makurj commented on #4471
Allowing HD role to use the administration theme also allowed for masquerade to show up.

[2021-12-06 17:48] joewhitsitt commented on #4344
Also, we have jquery_ui_datepicker in our composer file to support webform. AFAIK, webform doesn't have a replacement for several jquery ui dependencies yet. https://www.drupal.org/project/webform/issues/3174099

[2021-12-06 18:01] e-marie-w commented on #4471
Okay, I've tested:
- creating a user account (& changing status from pending to active)
- creating a signage group
- adding & removing user from a signage group
- adding/editing a sign
- adding & removing slide from a sign
- masquerading as a user

Am I forgetting something that should be tested? Otherwise I'll remove my added sign & signage group as a last check.

[2021-12-06 18:25] makurj commented on #4471
Thanks @e-marie-w! I think that should be it.

[2021-12-06 18:28] e-marie-w commented on #4471
One thing I noticed: helpdesk role can't specify what roles others have. When you add people they are given the editor role automatically. Is this enough or should helpdesk be able to add the webmaster role?

[2021-12-06 18:33] makurj commented on #4471
I'll let @briand44 weigh in on that.

[2021-12-06 18:34] bspeare commented on #4335
Raaj has updated the styles and this issue can be closed now.

[2021-12-06 18:34] #4335 closed, assigned to bspeare

[2021-12-06 18:59] briand44 commented on #4471
It looks like there are only a handful of users that have the webmaster role and those users were all created in the last few months. I'm wondering if folks are even supposed to have the level of access? We may need to remove the webmaster role from those folks if that is the case.

[2021-12-06 19:00] makurj commented on #4471
Sounds good. I'll check with Jessica.

[2021-12-06 22:20] pyrello opened #4538 "`blt tests:drupal` broken after switch to DDev"
# Problem
When I attempted to run `blt tests:drupal` after #4458 was merged in, I encountered this error:
[code]
I ran the `composer require se/selenium-server-standalone` command and after that and got the following error:
[code]

# Steps to reproduce
See problem description

# Proposed solution
Add new testing dependency and figure out why it is timing out.

[2021-12-06 23:03] #4500 closed, assigned to nobody

[2021-12-07 14:32] joewhitsitt commented on #4500
Didn't mean to close this, but the #4524 PR seems to have solved teachonline's immediate issue of adding panopto videos.

[2021-12-07 14:35] #4528 closed, assigned to joewhitsitt

[2021-12-07 14:58] joewhitsitt commented on #3661
Wondering if hook_views_pre_build() could house a temp solution until the core solution gets more traction. It runs before SqlBase and has the dom_id available.

[2021-12-07 15:39] bspeare commented on #4522
Does the "Get Permissions" need to be an image button?

<img width="449" alt="Screen Shot 2021-12-07 at 9 18 24 AM" src="https://user-images.githubusercontent.com/1036433/145056146-8380998e-4805-4caa-9f8a-6ed8536aa9a5.png">

There are some better looking search forms listed on https://developers.google.com/books/branding.

[2021-12-07 16:06] pyrello commented on #4522
I don't think that "Get Permissions" needs to be an image button. I'm guessing that the link is what's important.

I'm open to whatever search box seems to fit the best :)

[2021-12-07 16:13] bspeare commented on #4522
Are these actions necessary since it doesn't really add anything to a cart?  Seems like one "Buy Now" button would make more sense and create less UX confusion.   The "View Cart" and "Checkout" options seems like they should reside on the shop website.

<img width="425" alt="Screen Shot 2021-12-07 at 10 12 21 AM" src="https://user-images.githubusercontent.com/1036433/145065169-1bf5edd6-4884-4088-9

[2021-12-07 16:26] bspeare commented on #4522
It also looks like the "Search this book" code needs to be updated because it doesn't seem to work and asks you to try the new version.

[2021-12-07 16:33] joewhitsitt opened #4539 "DDEV - Default site syncing to wrong db"
# Problem

Even with a recreated local.settings.php file the default site seems to try and sync to uiowa_edu instead of uiowa causing a config diff error.

`You will destroy data in uiowa_edu and replace with data from ....`

If you delete the uiowa_edu db, the sync errors with `Could not look up database name for @self`

# Proposed solution

?

[2021-12-07 16:37] bspeare commented on #4522
@pyrello Are there higher resolution sizes available of these book covers?  https://www.uipress.uiowa.edu/sites/uipress/files/styles/thumbnail/public/attached_images/9781609387488.jpg 150 x 225 is pretty small.

[2021-12-07 18:37] briand44 commented on #4344
For the hours search portion of this the customer is hoping we can autosubmit after choosing a date so users don't have to click submit.

[2021-12-07 19:10] bspeare commented on #4522
Building out a mockup using layout builder using existing styles is probably the best way to start this design.

[2021-12-07 19:16] briand44 opened #4541 "Finalize/consolidate top-level categories and sub-categories and how they are navigated"
## Problem

Currently concept3d has a mix of default categories and imported categories.

https://cms.concept3d.com/map/cms/?id=1890
https://map.concept3d.com/?id=1890#!

Marie has already made a great pass at this work with https://github.com/uiowa/uiowa/issues/4433

## Proposed Solution

- [x] Consolidate Parking categories, others.
- [x] Hide categories that don't have content.
- [x] Assign cer

[2021-12-07 19:17] briand44 opened #4542 "Work with brand team to create and upload category icons"
## Issue

We are currently moving forward with icons from Concept3D's library, but would ultimately like to be "on brand" by adopting brand team approved icons.

## Proposed Solution

- [x] Coordinate with brand team to develop and update the category icons and their colors in Concept3D.
- [x] [See support doc](https://help.concept3d.com/hc/en-us/articles/360018974513-Icons)

![information_list_gr

[2021-12-07 19:28] briand44 commented on #4534
either data entry or some sort of script to update numbers/info in existing json

[2021-12-07 19:29] briand44 commented on #4534
<200 countries with data

[2021-12-07 19:29] briand44 commented on #4534
timestamp query to Google - ask Joe

[2021-12-07 19:46] briand44 commented on #4516
Update docs - remove cost recovery language - we do this as support and may take us some time to get to this -

[2021-12-07 19:56] mjoneill commented on #4516
Revision points:
- REMOVE copy about charging for domain name changes (because we are not cost recovery)
- ADD Make it clear that initial domain name selection should be planned and considered carefully. We are here to consult if they want to discuss prior to requesting a site.
- ADD We do not have a magic button that just changes a domain name. It takes a significant investment from the dev team

[2021-12-07 20:03] briand44 commented on #3498
Better understand Acquia email solution and then determine how best to handle each application whether using Acquia or Office365.

[2021-12-07 20:10] makurj opened #4543 "Featured image adjustments"
# Story

As a designer/webmaster, I would like to be able to do the following for the featured image:

1. Center text horizontally and vertically
2. Add secondary line of text
3. Ability to add CTA buttons

[2021-12-07 20:11] makurj opened #4544 "Secondary Navigation: Visual Adjustments"
# Story

As a designer, I want the ability to make adjustments to the secondary navigation style to be more visually appealing.

[2021-12-07 20:12] makurj opened #4545 "Text area: Add option to center headline text"
# Story

As a site editor, I would like to be able to center the headline for the text area content block.

[2021-12-07 20:27] bspeare commented on #4545
@makurj can we close this issue since https://github.com/uiowa/uiowa/issues/4402 already exists?

[2021-12-07 20:28] makurj commented on #4545
Sure!

[2021-12-07 20:28] #4545 closed, assigned to nobody

[2021-12-07 20:36] bspeare commented on #4544
@makurj Do you know what sort of visual adjustments you are looking for?  There is currently a pull request open in https://github.com/uiowa/uids/pull/477 that updates the secondary navigation appearance.

<img width="435" alt="Screen Shot 2021-12-07 at 2 34 40 PM" src="https://user-images.githubusercontent.com/1036433/145102428-bd5260c6-c4f6-4f0f-a0bf-e367e3bc72aa.png">

[2021-12-07 20:39] pyrello commented on #4538
I thought this might be related to the fact that I was trying to run a Functional test, but I had the same issue ("Could not find Selenium") for a Kernal and a Unit test.

[2021-12-07 20:39] pyrello commented on #4538
Related: acquia/blt-drupal-test#7

[2021-12-07 21:34] pyrello commented on #4538
The solution to this is to make sure that your `local.blt.yml` `tests` section is set up correctly per the instructions in https://github.com/uiowa/uiowa/blob/main/tests/README.md#run-tests

[2021-12-07 21:34] #4538 closed, assigned to richardbporter

[2021-12-07 21:44] #4539 closed, assigned to nobody

[2021-12-07 21:46] e-marie-w opened #4548 "SiteNow Updates News Article - December"
## Issue/Solution ##
Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  * See the previous month's article as an example.
  * Bulle

[2021-12-07 21:55] bspeare commented on #4522
I built a mockup locally to get this issue moving:

<img width="1577" alt="1" src="https://user-images.githubusercontent.com/1036433/145111995-b90d243e-2291-4579-a52d-294633782922.png">

[2021-12-07 22:00] e-marie-w commented on #4548
https://sitenow.uiowa.edu/news/2021/12/updates-december

[2021-12-08 13:22] mjoneill commented on #4516
I have some draft copy ready for review, thoughts, edits, opinions. Make it bleed & add comments, edits, etc...

https://docs.google.com/document/d/1noEeRqKjY_7G3frbbcGwOOjBa2yx3DoZ2xobq8wJo68/edit?usp=sharing

[2021-12-08 14:14] briand44 commented on #4516
I think it looks good. The only thing I would possibly add is for the customer to add a comment on the site request letting us know what site it will be replacing.

^^ don't love my language here but I think it would be good to understand the intention from the site request so we know to make sure we remove the old site when it is finished and in case hostmaster needs to know this in order to appr

[2021-12-08 14:39] joewhitsitt commented on #4344
Danielle DM'd me this morning with some details about the work in progress. I plan to take a look at this today.

[2021-12-08 14:41] briand44 commented on #4344
We meet with Rec Services today at 4pm. If anyone is working on this and has questions for them let me know and I can extend the invite.

[2021-12-08 15:15] briand44 commented on #4498
@benlewzz We are meeting this afternoon at 4pm with Rec Services to go over the feedback in the document. If you have feedback please add it to the document or if you would like I can extend the meeting invite to you or whoever would like to be in that conversation.

[2021-12-08 15:17] joewhitsitt commented on #4415
taking a look

[2021-12-08 15:26] joewhitsitt commented on #4415
looks good. updated the created date which changes the URL: https://sitenow.uiowa.edu/news/2021/12/updates-november

[2021-12-08 17:51] e-marie-w commented on #4415
Thanks @joewhitsitt! Article now successfully dispatched!

[2021-12-08 17:51] #4415 closed, assigned to e-marie-w

[2021-12-08 19:32] bspeare commented on #3200
Added a pharmacy tag because they were also interested in this functionality.

[2021-12-08 20:05] bspeare opened #4552 "Word-break style on card titles creates too much word breaking"
# Problem
Word-break style on card titles creates too much word breaking

<img width="1468" alt="Screen Shot 2021-12-08 at 1 53 30 PM" src="https://user-images.githubusercontent.com/1036433/145276562-70d75701-c6fe-45d9-ac2e-1d67f6ce1667.png">

# Steps to reproduce
https://pharmacy.uiowa.edu/student/pharmd_resources

# Proposed solution
Unset the `word-break` property for `.headline` styles.

[2021-12-09 14:46] #4552 closed, assigned to nobody

[2021-12-09 14:57] makurj commented on #4471
Confirmation from Jessica. It's all working well on signage.uiowa.edu. This can be done on Healthcare once someone is on campus. Set up the HD role and its permissions, which can be copied from https://signage.uiowa.edu/admin/people/permissions/6

Add the HD AD group here: https://signage-dev.uiowa.edu/admin/config/people/simplesamlphp_auth/sync
|8:urn:oid:2.5.4.31,=,"CN=ITS-HD-Staff,OU=Groups,OU=

[2021-12-09 15:08] #4498 closed, assigned to GaryRidgway

[2021-12-09 17:00] pyrello commented on #4543
This is how I thought we might accomplish this:
* Currently, we use a specialized layout for the featured image/title/breadcrumbs.
* We would add a custom Layout class
* This would allow us to add options to the layout form and storage that would control some of these settings.

[2021-12-09 17:42] bspeare commented on #4543
One of the issues with this is that the breadcrumbs visibility will be greatly reduced if this change is made.   If we move forward with this change we need to consider adding a transparency overlay to the entire image to ensure color contrast against the image or adjust the direction of the gradient based on the alignment selection.

Left aligned option with our current gradient:

<img width="190

[2021-12-09 18:03] bspeare commented on #4543
It could be useful to just add a region above the page title and allow users to add banners to that region.

<img width="1601" alt="Screen Shot 2021-12-09 at 9 03 29 AM" src="https://user-images.githubusercontent.com/1036433/145450804-013be8ab-bae2-4698-a8ff-15bafeff5d22.png">

[2021-12-09 21:21] joewhitsitt commented on #4521
I think this is done but shouldn't be closed by merge.

[2021-12-09 21:21] #4521 closed, assigned to nobody

[2021-12-09 21:21] richardbporter commented on #4531
I'd be interested to see if we could write a test for this. It'd be nice if we could write a failing test first, then fix it.

[2021-12-09 21:22] joewhitsitt commented on #4520
I think it makes sense to start with the AoS feature split. This IMO is done in #4523 but shouldn't be merged yet

[2021-12-09 21:22] #4520 closed, assigned to nobody

[2021-12-09 21:25] joewhitsitt commented on #4475
This should be added to https://github.com/uiowa/uiowa/pull/4523

[2021-12-09 21:43] pyrello commented on #4543
I like this last idea the best! Probably less work than what I was suggesting too.

[2021-12-10 16:25] joewhitsitt opened #4556 "ITS - [HD] 1241127 - Place staff menu"
## Issue

ITS has used the web admin role to create a new menu called staff. They would like that menu to display and render on https://its.uiowa.edu/it-services-staff

## Proposed Solution

- Edit the basic page content type to allow placing menu links in this menu (currently restricted)
- Get Current menu (levels 1+) menu to render in sidebar region for /it-services-staff similar to how node/122

[2021-12-10 16:26] joewhitsitt commented on #4556
I think the other part of the ticket (adding order-form-process-faq to the software menu) is because that menu is also restricted.

[2021-12-10 20:31] makurj commented on #4471
Done on healthcare signage and added the whole web team as admins.

[2021-12-10 20:31] #4471 closed, assigned to makurj

[2021-12-10 22:08] dnkemper commented on #4475
Question. Could we utilize the 'tab' field groups in 'manage display'?

Here's how it looks after adding a tabs field group to entire content type, then adding two separate tab field groups to domestic and international
<img width="885" alt="Screen Shot 2021-12-10 at 3 41 19 PM" src="https://user-images.githubusercontent.com/16872949/145647586-85915951-249b-4f1e-be4c-ac73321553a9.png">

[2021-12-10 22:09] dnkemper commented on #4475
Second question: is there a desired URL path we need to setup?

[2021-12-10 22:34] joewhitsitt commented on #4556
Was able to work around restrictions to place the new menu and to add the other menu to the new page. Responded to the ticket saying if they expect more edits/work around these/others we can plan to open this up more.

[2021-12-10 22:34] #4556 closed, assigned to nobody

[2021-12-13 13:58] briand44 commented on #4475
I just asked Scott in the redesign-admissions slack channel.

[2021-12-13 14:21] dnkemper commented on #4475
thank you, @briand44!

[2021-12-13 16:30] joewhitsitt opened #4558 "Create Webform Predefined List Options"
As a site editor, I'd like to setup a webform with a select list of predefined options that should be standardized/available across campus (e.g. academic units, programs, departments).

## Proposed Solution

- Is there a way to just maintain the "Academic Unit" config entity and have it supplied to Webform?
- Import and capture in default config some other lists of options site editors can use. (a

[2021-12-13 16:33] joewhitsitt opened #4559 "ITS - Repackage features"
## Issue

This site is sticking around a bit longer. Some changes have only been made in active db and could be overwritten.

## Examples

- Allowing editors to assign content to staff/student menus.

## Proposed Solution

- [ ] Take the time to review and repackage site features to get back to a default state.

[2021-12-13 16:47] joewhitsitt commented on #4556
Made a couple db changes to make the staff menu available to folks to add content to directly. Going to create a follow up issue to package this up in features to prevent it from being overridden. https://github.com/uiowa/uiowa/issues/4559

[2021-12-13 18:08] bspeare commented on #4317
This will be useful for Tippie because they plan on using the "Page w/left Sidebar" layout using the side navigation, and this feature would allow them to create more interesting layouts than just placing text content in the main content region.

<img width="1696" alt="Screen Shot 2021-12-13 at 12 07 37 PM" src="https://user-images.githubusercontent.com/1036433/145865245-17219217-e16a-42d5-a885-b6

[2021-12-13 21:34] pyrello opened #4562 "Upgrade to Drupal 9.3.x"
# Motivation
Drupal 9.3.0 is out: https://www.drupal.org/project/drupal/releases/9.3.0

# Proposed solution

- [ ] Upgrade to Drupal 9.3.x
- [ ] Review the changes at the link above and figure out what is going to need to change and add it here
- [ ] Other stuff

[2021-12-13 22:41] richardbporter commented on #4468
https://github.com/uiowa/uiowa/pull/4561 made me realize we're duplicating a lot of functionality in ListBlock implementations. The aggregator block was built before ListBlock and could probably be converted now.

[2021-12-14 14:33] pyrello commented on #4261
This site may not get built on SiteNow. I think this is still potentially a good feature, but I don't need it for that until I get confirmation of that.

[2021-12-14 14:44] cory-skeers commented on #4558
This was my first thought when I saw the user story.

For one-offs, we could use a hook to provide the select options, but that's dependent on having a webform (and specific webform elements) in place already.
https://www.drupal.org/docs/8/modules/webform/webform-cookbook/how-to-use-options-from-an-external-webservice

Otherwise, this sounds like adding a WebformElement plugin to the `uiowa_entiti

[2021-12-14 15:33] dnkemper commented on #2716
Looks like there's a potential patch. FINGERS CROSSED. https://www.drupal.org/project/drupal/issues/3160785#comment-14328285

[2021-12-14 15:34] joewhitsitt commented on #3585
_And on a different note, it appears the two column section option is gone again – just a heads up._ -  RecServ

https://recserv.dev.drupal.uiowa.edu/wellness-center

[2021-12-14 15:43] pyrello opened #4563 "Update LB styles grouping solution"
# Motivation

Since we implemented the [patch to allow for LB style groups](https://www.drupal.org/project/layout_builder_styles/issues/3075502#comment-14032178), there has been quite a bit more work on that issue and the solution has evolved to the point where, I believe, it is incompatible with the solution we adopted. Because the original solution was never adopted by the module, there will be

[2021-12-14 16:01] richardbporter commented on #4127
Customer feedback:
- Stock image is ok for now but needs to be customizable in the future. This is blocked for now.
- [x] Adjust thank you email to note that a copy is being sent to supervisor if config is set.
- [x] Add config option to send copies to additional arbitrary email addresses.
- [ ] ~~Adjust thank you form to disclose to end user that a copy is being sent to supervisor and/or addition

[2021-12-14 16:28] cory-skeers commented on #4127
I think we could append a note listing the supervisor to the additional emails fairly easily, as long as it's always included in the additional emails (assuming the supervisor copy is being sent), and always with the same note (no option to configure, just if it's being sent to additional emails and a supervisor copy is used, the same message of "This was sent to XX@XX supervisor" appended. Anythi

[2021-12-14 17:02] #2716 closed, assigned to dnkemper

[2021-12-14 17:06] joewhitsitt commented on #4541
Going to work with Alex to assign points to additional categories, etc.

[2021-12-14 18:12] pyrello commented on #4562
There is a known issue for 9.3.0 that may affect our platform: https://www.drupal.org/project/drupal/issues/3253568

Based on that, it might make sense to wait for 9.3.1 as it is likely to be released soon to fix that bug.

[2021-12-14 18:44] briand44 opened #4565 "Timeline indicator to scroll for content"
As a visitor to a timeline on a webpage (https://175.uiowa.edu/milestones-university-iowa-history), I can see some sort of indication that I should scroll down so that I know there's content there.  Perhaps draw the first element by default?  something else?

[2021-12-14 19:02] joewhitsitt commented on #4542
Talked with Michael about this. Blocking until https://github.com/uiowa/uiowa/issues/4541 because categories might change. Michael plans to let the Brand team know that this work is still coming but not yet.

[2021-12-14 19:04] briand44 commented on #4299
Landing page example for a study abroad page and a sub page

[2021-12-14 19:04] briand44 commented on #4299
Share previous feedback to customer through email since we didn't touch on everything.

[2021-12-14 19:16] briand44 commented on #4127
Lets finish the items in the checkboxes and we can revisit the logging dashboard and exporting in a future slice.

[2021-12-14 19:19] briand44 opened #4566 "Review branding on Concept3D website"
Take screenshots ahead of meeting for them to review before drive-through

- [ ] Look for contrast ratio issues
- [ ] Expected branding

[2021-12-14 19:20] briand44 opened #4567 "Decide on top-bar links for Concept3D."

[2021-12-14 19:25] briand44 commented on #4566
schedule time with Jess and Sondra to get feedback on design.

[2021-12-14 19:25] briand44 commented on #4566
If we have specifics, share screenshots, etc beforehand.

[2021-12-14 19:27] briand44 commented on #4567
Michael to discuss with TM and Scott F. Possible request info link? Possible Accessibility related link?

[2021-12-14 19:32] briand44 opened #4568 "Grad Admissions Areas of Study taxonomy"
Areas of Study taxonomy (holds `see also` info and allows multiple pieces of content to show up as one row on the view display)

[2021-12-14 19:48] briand44 commented on #3498
test the Acquia Platform Email on a application with more than one site, possibly icgov. We may need to go this route for D7 sites as well?

[2021-12-14 20:01] briand44 commented on #4565
Possibly remove line prior to first item and display first item by default.

[2021-12-14 20:12] briand44 commented on #3811
Provide test account credentials for Pardot.

[2021-12-14 20:17] briand44 commented on #3811
We likely will want an investigation slice to figure out best path forward here.

[2021-12-14 20:59] makurj commented on #3811
https://www.youtube.com/watch?v=i3I4LDV67p0

[2021-12-14 21:17] makurj commented on #3811
https://help.salesforce.com/s/articleView?id=sf.pardot_prospects.htm&type=5
**Anonymous Visitors**
An anonymous visitor is someone who has visited a page with your Pardot tracking code on it, but hasn’t converted to a prospect yet. Prospects are visitors who have an associated email address in Pardot.

https://help.salesforce.com/s/articleView?id=sf.pardot_converting_visitors_to_prospects.htm&type

[2021-12-14 21:19] bspeare commented on #3104
Just tested on simplytest.me and this is easy to reproduce.    Perhaps we just need to find the drupal.org issue where this has already been reported?

Steps to reproduce:

1. Install Drupal 9 site on simplytest.me
2. Turn on layout builder at /admin/modules
3. Adjust basic page to use layout builder /admin/structure/types/manage/page/display
4. Create a new basic page and add a "custom block" to

[2021-12-14 21:20] joewhitsitt commented on #4541
Alex is going to take a first pass through the buildings to re-assign, consolidate

[2021-12-14 22:10] joewhitsitt commented on #3811
I thought this was already being done with webform remote post. With browser trackers allowed I see the pardot stuff including a user id:
<img width="610" alt="Screen Shot 2021-12-14 at 3 48 04 PM" src="https://user-images.githubusercontent.com/4663676/146085189-ff7a7c62-437f-46ef-804f-93fc07ce1b63.png">

So then _if_ configured correctly, the remote post here https://tippie.prod.drupal.uiowa.edu/

[2021-12-15 14:35] richardbporter commented on #3585
Based on the screenshot in the ticket, layout_twocol was not available because it was not listed and allowed in the Layout Builder Restrictions configuration under admin/structure/types/manage/page/display. After clearing the cache, the layout_twocol configuration appeared as expected, resolving the issue. Maybe not much of a lead, but better than nothing.

[2021-12-15 14:53] makurj commented on #3811
Based on my reading yesterday, I would agree with you that we need the JS above with the post. Does that mean I should add that script to the "updated" field of remote post?

[2021-12-15 15:01] joewhitsitt commented on #3811
I would ask whoever maintains `https://go.tippie.uiowa.edu` what the expected POST format should be for that URL in the remote post settings. Once we know that we can determine what should be included with that and how to go about it.

[2021-12-15 15:59] richardbporter commented on #4562
This seems like a duplicate of https://github.com/uiowa/uiowa/issues/4411.

[2021-12-15 16:14] joewhitsitt commented on #4411
Also blocked until 9.3.1 based on https://github.com/uiowa/uiowa/issues/4562#issuecomment-993846550

[2021-12-15 16:49] GaryRidgway opened #4569 "Suppress US in office address fields"
Users have reported that when they create an address for an office that they would like to remove the United states from it. The current workaround is that they are using the phone number field to list their office

example here:
https://org-iowajpec.prod.drupal.uiowa.edu/node/21/edit

## Proposed solution

Enable the [address display module](https://www.drupal.org/project/address_display) and use

[2021-12-15 17:37] joewhitsitt opened #4570 "Hours Block Enhancements"
- [ ] Handle multiple resources in the same block
- [ ] Style options (e.g. background color) using ListBlock type implementation
- [ ] Add block config to allow displaying event categories as badges (cool gray?)
- [ ] Add (module or block?) configuration to color-code categories, e.g. Open -> Green, Closed -> Orange

[2021-12-15 17:53] joewhitsitt commented on #4570
We would need to know what styles they want. Background color if implemented properly, provides padding. It would split the layout builder styles config to add certain styles to the block. Then getLayoutBuilderStyles() needs to be used similar to ListBlock to get the form data and pass it through to the block config.

As mentioned here https://github.com/uiowa/uiowa/pull/4549#issuecomment-99387586

[2021-12-15 18:29] bspeare commented on #4570
Do we need to add the background colors?  It seems like it might be useful to not to have to add those options available in every listblock.

[2021-12-15 18:33] bspeare commented on #4543
It sounds like Tippie would like to hide the page title and use an `<h1>` in the banner if we opened up the region above the page title.   So we would have the potential for multiple `<h1>` in the document outline.

Should we go back to pursuing the Featured Image enhancements instead?

[2021-12-15 19:03] joewhitsitt commented on #4570
This hours block is not a list block. This is what they are running into. I gave them a workaround, but this is their ideal.
<img width="472" alt="Screen Shot 2021-12-15 at 1 02 30 PM" src="https://user-images.githubusercontent.com/4663676/146248852-29c1fb62-c42e-4795-b1a4-2af8a365ba71.png">

[2021-12-15 19:46] joewhitsitt commented on #3393
I think this should be re-opened. with #3838 we are only allowing a few sources and that functionality does not extend to our oEmbed objects.

This just came up in the SiteImprove presentation today

[2021-12-15 20:16] richardbporter commented on #4127
I've added a single value field for right now as Drupal does not yet support the `#multiple` attribute for `email` inputs. A single additional email might be enough though based on our meeting the other day.

[2021-12-15 20:36] dnkemper commented on #4475
Messaged Brian and Michael, but adding this here for visibility too.

Discussed how to move forward with the estimated costs content type. The team thought it would be best to remove the custom content type all together and reference individual pages (filter by an “estimated cost” tag). Then provide a way to relate two pages to provide a tabbed like implementation like: https://admissions.uiowa.ed

[2021-12-15 20:46] briand44 commented on #4475
Thanks. I am a little confused by this:

So will each domestic and international cost estimate page need to be added to the menu system or will this happen dynamically based on relating two pages?

[2021-12-15 20:47] richardbporter commented on #4127
Seems odd to disclose the additional email address to the public. I'm not going to do this one.

[2021-12-15 20:50] dnkemper commented on #4475
Ah, yes. Provide a way to relate domestic and international estimated cost pages to produce the tab like menu. From my understanding, there’s a way to implement this without having to display them in the actual main navigation menu. Like make international page rely on domestic page? @pyrello please correct me if I'm butchering this.. slightly fried

[2021-12-15 20:53] joewhitsitt commented on #4543
I feel like we are getting boxed in based on the list of requirements. Does it make sense to push back on any of these?

- Center text horizontally and vertically
- Add secondary line of text (hopefully max length)
- Ability to add CTA buttons
- Must be an h1 (why?)
- Breadcrumbs must display

At the same time we need to:
- Ensure contrast coverage
- Ensure a page title is provided
- Work with all