[2020-09-15 20:44] joewhitsitt commented on #1850
Oops. https://github.com/uiowa/uiowa/pull/2146/commits/f2fec8b080b505e239d9eb1274e439fb756492b0

The classes still work in uiowa_bootstrap and uids_base, but you now need to be a power user/copy-paster to utilize.

[2020-09-15 20:44] #1850 closed, assigned to nobody

[2020-09-15 21:22] #969 closed, assigned to joewhitsitt

[2020-09-16 13:39] #986 closed, assigned to nobody

[2020-09-16 13:40] joewhitsitt commented on #966
Wonder if this can be closed or rewritten based on https://github.com/uiowa/uiowa/pull/2177

[2020-09-16 13:42] joewhitsitt opened #2179 "Update File Linking in WYSIWYG docs"
## Problem

We have updated the functionality around Linkit and Files. https://github.com/uiowa/uiowa/pull/2177

## Proposed Solution

Update "Links" on https://sitenow.uiowa.edu/documentation/wysiwyg

[2020-09-16 14:07] pyrello commented on #966
@mark-bennett-uiowa Can you confirm that your issue is fixed by #2177?

[2020-09-16 14:35] joewhitsitt commented on #966
https://github.com/uiowa/uiowa/pull/2177#issuecomment-693446833

[2020-09-16 14:35] #966 closed, assigned to pyrello

[2020-09-16 15:48] mark-bennett-uiowa commented on #2134
@pyrello Here is some examples:
[https://internationalstudies.prod.drupal.uiowa.edu/research](https://internationalstudies.prod.drupal.uiowa.edu/research),
[https://internationalstudies.prod.drupal.uiowa.edu/undergraduate](https://internationalstudies.prod.drupal.uiowa.edu/undergraduate), and
[https://internationalstudies.prod.drupal.uiowa.edu/undergraduate/tracks](https://internationalstudies.pro

[2020-09-16 18:30] joewhitsitt opened #2180 "Update media docs with file replace functionality"
## Problem
We are adding media_entity_file_replace which provides file replace functionality to v2/v3 websites. We need to document this so that editors can understand how to use it.

## Proposed Solution

https://sitenow.uiowa.edu/documentation/media

Write documentation that explains the replace functionality on audio/file/image. Especially the checkbox that allows overwriting existing file so t

[2020-09-16 18:36] #883 closed, assigned to joewhitsitt

[2020-09-16 18:36] #1867 closed, assigned to joewhitsitt

[2020-09-16 20:36] #2170 closed, assigned to nobody

[2020-09-16 21:07] joewhitsitt commented on #2180
https://sitenow.uiowa.edu/documentation/media

[2020-09-16 21:07] #2180 closed, assigned to joewhitsitt

[2020-09-16 21:14] joewhitsitt commented on #2179
https://sitenow.uiowa.edu/documentation/wysiwyg

[2020-09-16 21:14] #2179 closed, assigned to joewhitsitt

[2020-09-16 21:35] joewhitsitt commented on #2174
https://sitenow.uiowa.edu/documentation/layout-builder-sitenow-v3-only/more-blocks

[2020-09-16 21:35] #2174 closed, assigned to joewhitsitt

[2020-09-17 03:07] pyrello commented on #2134
@mark-bennett-uiowa Ideally there would be some way of having individual sections being reset to default, but that doesn't exist yet.

Created a feature request on drupal.org: https://www.drupal.org/project/drupal/issues/3171452. To be clear though, this is likely a far future thing and probably your best option is to manually reset this block on any pages affected.

[2020-09-17 03:16] mark-bennett-uiowa commented on #2134
@pyrello No worries Sean, and thank you for posting the request at d.org. I figured it would take some manual intervention, and in the end, is not really that big of a deal. I will make the manual updates to the pages I can find, and revert the others that dont really have true LB layout changes. We can close this now if that works for everyone.

[2020-09-17 03:17] #2134 closed, assigned to nobody

[2020-09-17 14:21] ethanstjohn commented on #2162
Documentation has been written here https://sitenow.uiowa.edu/documentation/layout-builder-sitenow-v3-only/events-block. It is in review state at the moment, I believe it is ready for others to review.

[2020-09-17 14:27] joewhitsitt commented on #2151
This is working as originally designed. There are technical hurdles with this and discussion with the brand team needs to happen before any changes are made.

[2020-09-17 14:36] joewhitsitt commented on #2151
If no changes are made, the help text on the top links menu page should be updated to explain this to the webmaster.

[2020-09-17 15:20] joewhitsitt commented on #2162
Made some edits. Published

[2020-09-17 15:20] #2162 closed, assigned to ethanstjohn

[2020-09-17 17:53] pyrello opened #2182 "Consolidate `.lb__container` and `.layout__region` divs in layout template"
# Problem
After #2076 is merged, we will have a structure inside our layout templates like so:
`div.layout__container` > `div.lb__container` > `div.layout__region`

We need to have 2 levels to properly handle margins, but 3 levels is unnecessary.

# Proposed solution
Refactor layout templates and SCSS files to remove the middle level. For the SCSS rules, this means converting all instances of `.lb

[2020-09-17 19:55] joewhitsitt opened #2183 "Establish internal documentation about D7 "backups" after D8 launch."
- using internal prod domain with robots config overridden.

[2020-09-17 20:05] richardbporter opened #2184 "Port uiowa_maui D7 module to D8."
The uiowa_maui module is in use on a few D7 sites, notably registrar.uiowa.edu. It will need to be ported to D8 using Layout Builder blocks.

- [x] Port base functionality - API helper methods, etc.
- [x] Upcoming dates by session (#2714)
- [x] #4935
- [x] #5072
- [x] #4936
- [x] #4937
- [x] #4943
- [x] #4958
- [x] Astra room schedule
- [x] Astra room room data (previously feeds driven for classro

[2020-09-17 20:25] joewhitsitt opened #2185 "Drupal 7 Core Update"
- [x] icgov
- [x] signage
- [x] healthcaresignage
- [x] uiowa701
- [x] uiowa702
- [x] uiowa703
- [x] dentistry
- [ ] ~~nursing~~
- [x] gradcollege
- [x] clas

[2020-09-17 20:30] joewhitsitt opened #2186 "Revisit spam submissions again"
## Problem
Seeing an uptick in spam submissions coming into its-web.

## Proposed Solution
Revisit timeout or check in on newer/better solutions?

[2020-09-17 20:50] richardbporter opened #2188 "Provision https://avclub.org.uiowa.edu"

[2020-09-17 20:50] richardbporter opened #2189 "Provision https://appliedphys.lab.uiowa.edu."

[2020-09-17 20:56] richardbporter opened #2190 "Events with start dates in the past but end dates in the future are excluded from content.uiowa.edu API results."
https://iowaweb.slack.com/archives/C0KMREKNU/p1598388040000200

[2020-09-17 21:03] #2091 closed, assigned to nobody

[2020-09-17 21:10] joewhitsitt opened #2191 "international.uiowa.edu - remove extra spacing function from single event"

[2020-09-17 21:41] joewhitsitt commented on #2191
commit 88ddeec839c0c8edd8290e5304976a443065b273

[2020-09-17 21:41] #2191 closed, assigned to joewhitsitt

[2020-09-18 14:05] #2188 closed, assigned to joewhitsitt

[2020-09-18 14:05] #2189 closed, assigned to joewhitsitt

[2020-09-18 14:10] #2182 closed, assigned to nobody

[2020-09-18 14:20] pyrello commented on #2182
After investigating this (again), I discovered that all the levels in this structure are needed. I added comments to the base layout template in #2076.

To summarize:
* The outer container (`div.layout__container`) allows us to have a background treatment that spans the entire width of the viewport.
* The inner container (`div.lb__container`) allows us to have a fixed width container inside the ba

[2020-09-18 14:43] pyrello opened #2193 "Remove unused modules and config"
# Problem
There are still some custom modules that date back to the days of having two platforms.

# Proposed solution
Remove unused modules and config that originated with the Collegiate profile.
- [ ] entity_types modules
- [ ] media_core module

Investigate removing dependencies of the above modules if nothing else is using them.
- [ ] views_ical

[2020-09-18 14:50] joewhitsitt opened #2195 "CKEditor Table Wizard Options"
## Problem

There are UIDS table style options that require adding classes to table markup which can be difficult for users to know about/implement.

## Proposed Solution

- Consider forking the CKEditor table plugin and adding style options to the wizard so that editors can easily add/remove style classes to their tables within the WYSIWYG.

<img width="347" alt="Screen Shot 2020-09-18 at 9 57 08

[2020-09-18 14:51] pyrello opened #2196 "Add Layout Builder tour"

[2020-09-18 14:53] joewhitsitt commented on #2196
Duplicate of https://github.com/uiowa/uiowa/issues/2149

[2020-09-18 14:53] pyrello commented on #2196
Closed in favor of #2149

[2020-09-18 14:53] #2196 closed, assigned to nobody

[2020-09-18 16:06] mark-bennett-uiowa commented on #2185
uiclas was updated to drupal core 7.73 on Wednesday afternoon. Crossing that off the list above.

[2020-09-18 18:13] dnkemper commented on #2149
YAY! I love tours! Once we discuss how to move forward with this, I call dibs, please!

[2020-09-21 08:37] mark-bennett-uiowa opened #2198 "Provision CLAS sites"
Provision the following CLAS sites:
hr.clas.uiowa.edu
finance.clas.uiowa.edu
cinematicarts.uiowa.edu
classics.uiowa.edu

[2020-09-21 14:24] joewhitsitt opened #2201 "Webmaster role not able to edit footer text area?"
## Problem
When the footer is empty the block does not display and doesn't show the contextual link. That is currently the only way we are allowing editors to navigate to the block to edit.

The block ID is not always the same to make it a bit more complicated.

## Proposed Solution

Need to figure out an identifier since the block id is not always the same.

Create a link somewhere that we can re

[2020-09-21 15:31] joewhitsitt commented on #2198
https://github.com/uiowa/uiowa/pull/2199

[2020-09-21 15:35] joewhitsitt opened #2202 "Establish internal doc for responding to security issues"
## Problem

We have shared knowledge about steps to take, but no internal documentation to reference when someone is out/sick.

## Proposed Solution

Provide internal wiki page with common steps (each security issue is different) to get started with addressing security issues that come up.

- Who to contact
- Common commands to run to truncate certain db tables
- Block users/ip
- Restore from back

[2020-09-21 15:38] joewhitsitt commented on #2186
https://github.com/uiowa/uiowa/issues/798#issuecomment-617894471, https://www.drupal.org/project/antibot, https://www.drupal.org/project/recaptcha

limit submissions per day

relates to https://github.com/uiowa/uiowa/issues/2200, https://github.com/uiowa/uiowa/issues/798

[2020-09-21 16:09] pyrello opened #2203 "Alert behat test failing"
https://travis-ci.com/github/uiowa/uiowa/builds/185666940#L3196

[2020-09-21 18:13] #2203 closed, assigned to nobody

[2020-09-21 23:52] mark-bennett-uiowa commented on #2198
Closed. Sites have been provisioned.

[2020-09-21 23:52] #2198 closed, assigned to nobody

[2020-09-22 14:15] richardbporter commented on #2135
Proof!

[2020-09-22 14:15] #2135 closed, assigned to nobody

[2020-09-22 17:41] briand44 opened #2205 "Person Content Type Additions/Updates"
- [x] Make title/position field allow multiples (Professor of ..., chair of ...)
- [x] Add a multi valued link field with required title for person to list websites (link to cv, google scholar, pubmed, etc)
- [x] Add multi valued field for Education
- [x] Add multi valued field for Research Interests
- [ ] Styling updates

Here is a link to a profile page of a person to give an idea of what type o

[2020-09-22 18:44] pyrello commented on #4296
I updated the title to attempt to reflect the actual work that would need to be done to accomplish this.

[2020-09-22 18:59] richardbporter commented on #859
The D7 purge module included a block to purge individual pages. Not sure if that exists for D8 but that might be useful as well. We do get a decent amount of purge requests.

[2020-09-22 19:07] pyrello opened #2206 "Write documentation for "Support" role"
Follow-up issue to #859

After the new support role is created, the people at the help desk using it will need documentation explaining how to handle the tasks they are able to perform.

** To do: Define topics that need documentation. **

[2020-09-22 19:31] pyrello commented on #2151
Updated OP to clarify the scope of the task.

[2020-09-22 19:39] pyrello opened #2207 "Post V3 tasks"
- [x] #865
- [x] #3878
- [x] #3880
- [x] Adopt media library wysiwyg for coronavirus.uiowa.edu

# More LB tasks

- [x] https://github.com/uiowa/uids/issues/242 Make components accessible when using all background color options possibly using this solution https://github.com/uiowa/uids/issues/262.
- [x] #2881
- [x] #1607
- [x] What design components are missing that you would expect?
- [x] #2182 Co

[2020-09-22 19:40] pyrello commented on #1779
Created a follow-up issue defining tasks for after we have moved to V3: #2207. Moved relevant items from this list to that one.

[2020-09-22 19:55] bspeare opened #2208 "Apply static event styling to dynamic events"
# Problem

The events block currently uses the card style instead of the style designed for static events.

# Proposed Solution
Apply styling from https://uids.brand.uiowa.edu/components/detail/events-block to https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/templates/misc/sitenow-events-teaser.html.twig

**Additional enhancements:**
- [x] Add layout builder overrides style

[2020-09-22 21:21] bspeare opened #2209 "Update content-templates in uids_base to use the latest template files"
# Problem

Some recent `uids_base` refactoring has made the `content-templates` templates to become outdated: https://github.com/uiowa/uiowa/tree/main/docroot/themes/custom/uids_base/templates/block/content-templates.

This will be a necessary task once https://github.com/uiowa/uiowa/issues/2155 is completed.

# Proposed solution

Update the templates to reflect the latest refactoring.

[2020-09-22 23:29] mjoneill opened #2210 "Content migration conversation. How do we migrate existing areas of study content?"
* What are the content types we want to migrate, and what are our migration options?
* https://admissions.uiowa.edu/academics/undergraduate-areas-of-study

[2020-09-22 23:30] mjoneill commented on #2210
@cory-skeers @briand44 (and others): Do you think there's an automated path forward (that is worth investing in), or do we need a gaggle of student workers?

[2020-09-22 23:52] mjoneill opened #2211 "[Admissions Redesign - Core] International Landing Page"
* Front door to international content

[2020-09-22 23:53] mjoneill opened #2212 "[Admissions Redesign - Core] Epic - Counselors Page/Functionality"
Unique fields specific the the "Counselor" person type along with several different displays.

Counselors Landing Page – https://admissions.uiowa.edu/counselors
Counselors Teritory Page - https://admissions.uiowa.edu/counselor/IA
Example Counselor Profile - https://admissions.uiowa.edu/counselor/jessica-klein

# Stories

- ~~Extend person content type to hold counselor information #2484~~
- ~~Inve

[2020-09-22 23:54] mjoneill opened #2213 "[Admissions Redesign - Core] Why Iowa - Visually similar to new viewbook site? - storytelling"
Why Iowa - Visually similar to new viewbook site?  - storytelling

[2020-09-22 23:56] mjoneill opened #2214 "[Admissions Redesign - Core] Scholarships"
Scholarship content type and display (search?)

[2020-09-23 00:00] mjoneill opened #2215 "[Admissions Redesign - Core] - Majors, Minors, Certificates listing pages"
Majors, Minors, Certificates listing pages - custom view/display

* Filtering (AZ, UND)
* RFI on each area of study - (UALR and UND)
* At Iowa print PDF’s

[2020-09-23 13:32] cory-skeers commented on #2210
It looks like this is very structured content, which would lend itself great to an automated path. We also have a lot of the initial structure built out in our sitenow_migrate module, which helps (it's outdated, but there are some gotchas like connecting between Dev Desktop and DrupalVM that have been solved already with it).

The interlinking pages concern me a little bit. I'd done some work on t

[2020-09-23 13:44] mjoneill opened #2217 "Admissions 2plus2 plan"
# Story

As an admissions site owner, I would like to display information about the 2plus2 plan on the existing Admissions website, so that students interested in this plan can get the information they need in one place without having to visit an outdated website.

# Additional Information

Admissions would like users to be able to browse from a list of all participating community colleges and the

[2020-09-23 13:49] mjoneill opened #2218 "[Admissions Redesign - Core] How to Apply Experience"
How to Apply - Ways to switch between application/audience

Example: UT Austin (tabs) -
* https://und.edu/programs/index.html?search=&locations=on-campus,offcampus,online
* https://admissions.wvu.edu/

[2020-09-23 13:51] mjoneill opened #2219 "[Admissions Redesign - Core] - Type-ahead search/autocomplete for Areas of Study"
Areas of Study type-ahead search (search box specific to majors, with access to show by college/group/type, etc)

MyMajors?

* https://admissions.wvu.edu
* https://und.edu/programs/index.html?search=&locations=on-campus,offcampus,online
* https://admissions.wvu.edu/

[2020-09-23 13:53] mjoneill opened #2220 "[Admissions Redesign - Core] - Blog and Video Feed from existing WordPress Site"
Blogger/Video new posts (pulls from feeds, shows student images and media)

[2020-09-23 14:06] #1553 closed, assigned to nobody

[2020-09-23 14:27] #2185 closed, assigned to nobody

[2020-09-23 15:27] pyrello opened #2222 "Disable access to global theme settings"
In looking into #1935, it seems that the theme_permission module alone will not be enough to lock down theme settings enough. We will also need some custom code to accomplish the following:

1. Disable access to the Global settings tab:
  ![Screen Shot 2020-09-23 at 10 23 17 AM](https://user-images.githubusercontent.com/709009/94034143-4a77d100-fd87-11ea-827d-e453c8d97e84.png)
2. And we need to di

[2020-09-23 16:41] bspeare commented on #2219
**Additional notes:**

- Core functionality for exposed filters like on https://admissions.uiowa.edu/academics/undergraduate-areas-of-study.
- Autocomplete search block for majors
- Faceted search using Acquia Solr?

**Additional fields for Undergraduate Areas of Study content type:**
- Sort by Academic Groups?
- Sort by Careers and Outcomes?

[2020-09-23 16:45] mjoneill commented on #2220
* http://blog.admissions.uiowa.edu/natalie/2020/09/masks-necessary-and-fun/ this is the source of the content
* Client does NOT need the content to live on admissions.uiowa.edu. It is fine for it to live on the blog site for now.  So first pass is that the content index view (three pieces of content that live elsewhere) are shown on this site.

[2020-09-23 16:50] mjoneill commented on #2211
Better page for international to use.

This might no longer be needed as a separate feature/story.  Layout builder might solve for this.

[2020-09-23 16:52] mjoneill commented on #2211
https://international.admissions.uiowa.edu

[2020-09-23 16:54] mark-bennett-uiowa commented on #2219
@bspeare search_api_autocomplete module is being used on policy.clas.uiowa.edu frontpage for this autocomplete feature. May want to see if this module will fill the needs here.

[2020-09-23 16:55] mjoneill commented on #2213
Senior communications plan leans heavily on the theme of "Why Iowa".  List of things that make UI unique, combined together no other schools can offer these, etc...

A piece of Why Iowa is baked into the site...  not sure if there's a second brochure site necessary, etc...

Not sure if this is a technical ask, or something we can solve as content / site building exercise using existing tools.

[2020-09-23 16:56] bspeare commented on #2220
**Additional notes:**

- Blog feed listed here is a view of "Blog teasers" created from Feeds Importer: https://admissions.uiowa.edu/#block-views-student-blogs-blogs
- Additional feeds listed are listed at https://admissions.uiowa.edu/admin/config/services/aggregator
- XML feed example: http://blog.admissions.uiowa.edu/adam/feed/
- D7 site uses core Aggregator module and D8 still has this module.

[2020-09-23 18:49] mark-bennett-uiowa opened #2225 "Updated SSL certificate on uiowa01 to include new CLAS sites"
Updating the uiowa01 SSL certificate to include anthropology.uiowa.edu and classics.uiowa.edu. The other two domains (hr.clas.uiowa.edu and finance.clas.uiowa.edu) are already covered by the wildcard *.clas.uiowa.edu.

[2020-09-23 19:14] joewhitsitt opened #2226 "Update layout builder docs to reflect new style names"
## Problem

Label name changes/options done in https://github.com/uiowa/uiowa/pull/2076 need to be accounted for on https://sitenow.uiowa.edu/documentation/layout-builder

[2020-09-23 19:22] #2059 closed, assigned to bspeare

[2020-09-23 19:22] #2053 closed, assigned to nobody

[2020-09-23 19:22] #2054 closed, assigned to nobody

[2020-09-23 19:22] #2156 closed, assigned to nobody

[2020-09-23 19:22] #1739 closed, assigned to nobody

[2020-09-23 19:26] bspeare opened #2227 "Fix padding around images for card lists in uids_base"
# Problem

#2076 may have created some padding regressions with card lists where media images are right up against the border on v3.

<img width="1429" alt="94057836-cbde5c00-fda5-11ea-8c5b-2a30053bb228" src="https://user-images.githubusercontent.com/1036433/94059530-2c6e9880-fda8-11ea-8395-262d38baf1e3.png">

# Proposed Solution

Adjust card list padding to create space for media images.

[2020-09-23 19:35] mark-bennett-uiowa commented on #2225
CSR generated, SSL certificate created, and activated on uiowa01. Closing issue.

[2020-09-23 19:35] #2225 closed, assigned to mark-bennett-uiowa

[2020-09-23 20:55] mark-bennett-uiowa opened #2228 "Featured image altered in LB IPE before save after layout edit, works as intended after save"
After the latest 3.0.6 release, I started noticing this:
**Immediately after entering Edit Layout LB IPE:**
<img width="1596" alt="Screen Shot 2020-09-23 at 3 52 11 PM" src="https://user-images.githubusercontent.com/3067017/94068553-f552b400-fdb4-11ea-991a-5a83a3dd3baf.png">

**After editing anything on the page in layout builder, prior to save:**
<img width="1599" alt="Screen Shot 2020-09-23 at 3

[2020-09-24 14:22] joewhitsitt commented on #2222
Easy peasy: https://github.com/uiowa/uiowa/blob/main/docroot/modules/custom/uiowa_core/src/Routing/UiowaCoreRouteSubscriber.php#L25

[2020-09-24 14:45] joewhitsitt opened #2232 "Remove webform file upload button access"
## Problem

Webforms with file upload fields expose an ajax upload button once a file is selected from the computer. This allows files to be temporarily uploaded before the submission is checked against any spam protection in place.

## Proposed Solution
Take what was implemented for inrc.law and handle this for all webforms in D7 (SiteNow v1) by inserting the following in the standard and custom

[2020-09-24 15:01] mark-bennett-uiowa opened #2233 "Add cinematicarts.uiowa.edu to uiowa01 SSL certificate on next update."
I added anthropology.uiowa.edu to the certificate, since the site was already provisioned, but forgot to add cinematicarts.uiowa.edu. This isnt critical at this point, and can be added later when another site needs to be added.

[2020-09-24 15:51] joewhitsitt commented on #2232
Actually, we may be stuck with this because of multi page forms... Need to think about this more.

[2020-09-24 15:55] #2104 closed, assigned to nobody

[2020-09-24 16:34] briand44 opened #2234 "Add person pronoun fields"

[2020-09-24 16:35] briand44 commented on #2234
Here is a list I found in myUI

![Screen Shot 2020-09-24 at 11 32 41 AM](https://user-images.githubusercontent.com/1017022/94173713-f12ca200-fe59-11ea-946a-4d4588ed1002.png)

[2020-09-24 20:03] joewhitsitt opened #2237 "Remove v2 flag from sitenow provision blt command"
## Problem

v3 is default, you should have to add v2 flag for a v2 site.

## Proposed solution

update command for new submissions. this is an admin "field" on the form tracked through the sitenow site config split. make the change locally, export the config change.

[2020-09-24 20:12] pyrello commented on #2105
This was completed with #2076

[2020-09-24 20:12] pyrello commented on #959
I think that this was resolved in #2076

[2020-09-24 20:12] #959 closed, assigned to pyrello

[2020-09-24 20:13] pyrello commented on #2167
Was this fixed by #2197 ?

[2020-09-24 20:16] GaryRidgway commented on #2167
yes, my apologies for not closing

[2020-09-24 20:16] #2167 closed, assigned to nobody

[2020-09-24 20:22] pyrello commented on #1462
@mark-bennett-uiowa Do you recall if you have encountered this again? I'm wondering if we fixed this?

[2020-09-24 20:26] pyrello commented on #1623
I'm not completely sure, but I feel like this is now the default behavior. Any section background will span the entire width of the page, regardless of how wide the container is.

@mark-bennett-uiowa @bspeare Does this seem right?

[2020-09-24 20:26] joewhitsitt opened #2238 "Establish criteria for addressing IE issues"
- internal doc listing out common IE issues we encounter and whether or not we should spend time fixing them. If we are fixing them, how "good" do we need to make it?

[2020-09-24 20:29] bspeare commented on #1623
This should be fixed now.

[2020-09-24 20:35] bspeare commented on #1623
Closing this for now.

[2020-09-24 20:35] #1623 closed, assigned to nobody

[2020-09-24 20:37] bspeare commented on #2238
Also, how should it be tested?
- BrowserStack
- `dev` branch
- Local machine

[2020-09-24 21:07] bspeare commented on #2078
There is now even more space surrounding this with the latest style updates:

<img width="1516" alt="Screen Shot 2020-09-24 at 4 00 59 PM" src="https://user-images.githubusercontent.com/1036433/94200395-f866a680-fe7f-11ea-9175-a0c387f65696.png">

[2020-09-24 21:16] pyrello commented on #2078
lol... /sigh

[2020-09-24 21:17] bspeare opened #2240 "Improve usability of prefix/suffix fields on stat component"
# Problem

The purpose of the prefix and suffix fields are not exactly clear with how they are arranged on the edit form.

# Proposed Solution

Rearrange the fields on the LB form so that the fields appear more connected.

<img width="1067" alt="Screen Shot 2020-09-24 at 4 14 16 PM" src="https://user-images.githubusercontent.com/1036433/94201380-8beca700-fe81-11ea-85d4-710473c487f1.png">
<img widt

[2020-09-24 21:18] richardbporter commented on #859
So they need to see the status of content without being able to edit content?

[2020-09-24 21:19] richardbporter commented on #859
A standard debug procedure before escalating could be:

- clear cache
- run cron
- purge page

[2020-09-24 21:25] mark-bennett-uiowa commented on #1462
@pyrello Im pretty sure this can be removed. It hasnt happened since April, so I think its been fixed. Closing issue.

[2020-09-24 21:25] #1462 closed, assigned to nobody

[2020-09-24 21:31] joewhitsitt commented on #859
Nice idea, but not necessary. I know the viewer role can see unpublished content but can't add/edit

[2020-09-24 21:54] pyrello opened #2241 "Move current version of demo site to v2demo.sitenow.uiowa.edu"
As we make the transition to rolling out SiteNow V3, we will likewise want to transition to using a V3 site as our default site. I think it would be a good idea to keep the v2 sitenow demo site around until we are able to migrate all the V2 sites to V3, as it is good for testing and being able to update config in the sitenow_v2 split.

[2020-09-24 21:57] pyrello opened #2242 "Create a V3 version of the default/sitenow demo site"
After we transition to provisioning all new sites in SiteNow V3, we are going to want to have a demo site to use to test changes against and to be able export updates to the default config.

[2020-09-25 13:22] mjoneill opened #2243 "[Admissions Redesign - Other] - Iowa Scholarship Portal"
Iowa Scholarship Portal – pull together all scholarship info at Iowa

[2020-09-25 13:25] mjoneill opened #2244 "[Admissions Redesign - Other] - Redesign ASIST site"
ASIST site – “alumni seeking iowa students”
* Current Wordpress site
* https://asist.admissions.uiowa.edu/about/

[2020-09-25 14:16] pyrello opened #2245 "Remove all instances of Spacer/Separator block"
**Note: this is a post V3 GA clean-up task**

# Problem
We have effectively deprecated the spacer/separator component, but it has become a zombie that we can't quite kill.

# Proposed solution
Write an update hook to remove all instances of this block from LB pages that use it. Optionally, we could potentially set an extra top padding LB style on the section immediately following the block instanc

[2020-09-25 14:38] pyrello opened #2246 "Improve field labels for LB blocks"
# Problem
Field help text is not always as helpful as it could be.

[2020-09-25 14:39] pyrello commented on #2246
@ABoston88 This would be a good place to document feedback about how we could improve the block forms for Layout Builder blocks.

[2020-09-25 14:52] bspeare commented on #1793
@joewhitsitt maybe we can close this issue once the new criteria is developed?

[2020-09-25 14:53] bspeare commented on #1610
@joewhitsitt can we mark this as closed, won't fix?

[2020-09-25 14:54] bspeare opened #2247 "Layout Builder UX Improvements"
- [x] Improve field labels: https://github.com/uiowa/uiowa/issues/2246
- [x] Improve usability of stat component: https://github.com/uiowa/uiowa/issues/2240
- [x] Improve design of moderation controls: https://github.com/uiowa/uiowa/issues/2078
- [x] Improve usability of lb_direct_add module: https://github.com/uiowa/uiowa/issues/2056
- [x] Add best practice tips to v3 documentation?
- [x] Double

[2020-09-25 15:02] mark-bennett-uiowa opened #2248 "Narrow container adding additional (unneeded) padding on sides for non-mobile breakpoint"
So this was the observation I had about the narrow container, and why it looked "too" narrow. Digging through the styling, it looks like the narrow region is adding a padding-left:1.875rem and padding-right:1.875rem so that the text doesnt run against the side of the container (`<div class="layout__spacing_container">`), even when it doesnt need to (for non-mobile widths):
[code]
The normal sectio

[2020-09-25 15:04] mark-bennett-uiowa commented on #2105
I see this is still in planned, so I am linking an issue I just added this morning concerning additional, unneeded padding being added to the narrow container: #2248 .

[2020-09-25 15:05] joewhitsitt commented on #1610
Yes!

[2020-09-25 15:05] #1610 closed, assigned to nobody

[2020-09-25 15:05] GaryRidgway commented on #2118
So, i think this is a little more complicated than originally stated. because of the  way that styles are being applied i think it would be more effective if there was an option per table view for something like `no-styles` and that would not apply the `is-striped` styles on the table. this would be a more everlasting solution but it will almost definitively change the point value of the card.

[2020-09-25 15:06] joewhitsitt commented on #1793
Relates to https://github.com/uiowa/uiowa/issues/2238

Sure. I don't recall this issue.

[2020-09-25 15:06] #1793 closed, assigned to nobody

[2020-09-25 15:12] bspeare commented on #1942
@joewhitsitt Can we close this one?

[2020-09-25 15:15] bspeare commented on #1256
@joewhitsitt Is there a better place to put this?  Maybe I can make an archive of this locally and move it somewhere if it is needed if the v3 documentation doesn't cover some of this.

[2020-09-25 15:53] joewhitsitt commented on #1942
IMO, yes

[2020-09-25 15:53] #1942 closed, assigned to nobody

[2020-09-25 15:55] joewhitsitt commented on #1256
Does @ABoston88 still reference this? I didn't see it as an actionable issue, and it is more specific than our documentation usually goes into.

I am okay with closing if it isn't being used internally anymore

[2020-09-25 16:03] #1256 closed, assigned to nobody

[2020-09-25 16:30] pyrello commented on #2247
* Add descriptions for all blocks (necessary for #2056) with links to related SiteNow documentation.
* Show block description at the top of the form.

[2020-09-25 16:53] pyrello commented on #2105
This issue was moved to done yesterday. I added your new issue to Parking Lot, so you can introduce it in standup on Monday.

[2020-09-25 16:53] #2105 closed, assigned to nobody

[2020-09-25 17:11] joewhitsitt commented on #2118
we realized that we could just target draggableviews view tables for now instead of create a custom class, adding that to default view config, writing an update hook to add it to existing (ignored config), and then logic to see if class exists

so still a round about 1-2 pointer

[2020-09-25 17:41] pyrello opened #2250 "Remove "Layout options" from UIDS Base theme settings"
Follow-up to #2221

# Problem
A long time ago, we envisioned the possibility of having multiple options for what the default container of the site was (e.g. an entire site could be full width by default). However, we have not kept up with the options that were originally provided in terms of our theme development. At this point, those options are essentially non-functional and can only serve to br

[2020-09-25 17:42] pyrello commented on #2250
Added 3 point label as that is my best guess on the level of difficulty.

[2020-09-25 17:59] #2118 closed, assigned to joewhitsitt, GaryRidgway

[2020-09-25 19:41] #2084 closed, assigned to nobody

[2020-09-25 21:57] #1935 closed, assigned to joewhitsitt, ethanstjohn

[2020-09-25 21:57] #2222 closed, assigned to joewhitsitt

[2020-09-28 13:19] briand44 opened #2251 "provision v3 beta https://biomonitoring.shl.uiowa.edu"

[2020-09-28 13:23] briand44 commented on #2251
This should go on uiowa01 since we are already covering *.shl.uiowa.edu there.

[2020-09-28 15:28] #2251 closed, assigned to joewhitsitt

[2020-09-28 19:14] richardbporter commented on #2190
Works as designed.

[2020-09-28 19:14] #2190 closed, assigned to nobody

[2020-09-28 21:23] joewhitsitt commented on #2237
I think @ethanstjohn was going to work on this, but hasn't assigned it

[2020-09-28 23:44] mark-bennett-uiowa opened #2256 "New tables PR causing CSS issue with borders and table text"
After the new responsive table PR went into place, I noticed a few issues with styling. The first has to do with borders. I originally had no styling on the tables except for borders=1 placed in the table directly (source). After the PR was merged, this happened:
<img width="1376" alt="Screen Shot 2020-09-28 at 6 09 04 PM" src="https://user-images.githubusercontent.com/3067017/94496287-8e206f80-01

[2020-09-29 13:18] ethanstjohn commented on #2237
Yeah, I forgot to assign it to me. I got busy with another task on my Mac.

[2020-09-29 13:58] joewhitsitt commented on #2205
Can we get that link @briand44 ?

[2020-09-29 14:29] bspeare commented on #1931
An image block with access to an icon library could also be helpful if we want to use this a a replacement for a Blockquote block so the user could have access to upload images or utilize an icon in their blockquotes.

[2020-09-29 14:32] bspeare commented on #1931
Possible fields:

- Image/Icon
  - Use similar strategy with new banner block: have a select list to use either an image or icon.
- Text Area

[2020-09-29 15:19] ethanstjohn commented on #2237
This is done on prod now.

[2020-09-29 15:19] #2237 closed, assigned to ethanstjohn

[2020-09-29 15:52] briand44 commented on #2205
Sorry, here is a link to the profile that was used as an example https://stat.uiowa.edu/people/joseph-lang. I think there is still a brand component of this that needs to happen in regards to layout and design but this should give an idea of the data for those new fields.

[2020-09-29 16:07] joewhitsitt commented on #2237
Turns out this is no longer tracked in config. Updates to the form happen directly in PROD now.

[2020-09-29 17:16] mark-bennett-uiowa commented on #2205
Here is a link to the uiowa_person D8 module I wrote over a year ago: [https://github.com/uiowa/uiowa_person](https://github.com/uiowa/uiowa_person). It includes some fields. Also, should we consider:

- Additional address and contact info (some have more than two or three addresses on campus; lab, office, admin office)
- Appointments (read from feed)
- Education background (read from feed)
- Area

[2020-09-29 18:17] bspeare commented on #2240
- Set fields to align 20 - 60 - 20
- Set HTML placeholder text on prefix to show `$ or # ` as a suggestion.
- Set HTML placeholder text on suffix to show `% ` as a suggestion.
- Set character limit for prefix and suffix.

[2020-09-29 19:06] richardbporter commented on #2209
Blocked by #2155

[2020-09-29 19:08] bspeare commented on #1980
- In theme settings lock down "Header Type" completely now that it is determined by character count?
- Remove configuration for "Parent Site" that is determining header type and set help text explaining the parent site settings instead?
- Allow admins to override?

[2020-09-29 19:23] richardbporter commented on #859
Let's scale this back to user management initially. I've updated the title.

[2020-09-29 19:38] joewhitsitt opened #2258 "Add prefix/suffix maxlength validation to Statistic Block"
## Problem
The stat component design can't handle the field 255 character limits available in the prefix/suffix fields.

## Proposed Solution

Look into custom validation function off form_alter to limit prefix and suffix to a TBD character limit. This will affect block saves going forward, but not existing blocks (grandfathered in until next save).

- Update help text to notify editors of limits.

[2020-09-29 19:40] briand44 commented on #2205
Thanks @mark-bennett-uiowa. We are trying to figure out the additional address and contact information and I do think that will be added soon in another issue. Appts, Education and Research Interests should all be handled with this issue. From my understanding the other items you mentioned (awards, performances/publications) are being considered but haven't been approved by ADF's and Provost Offic

[2020-09-29 19:47] joewhitsitt commented on #1980
Additional thoughts from grooming:

Sites are provisioned with the site's domain which can be long by default. I would suggest that v3 default to the site name below option to reduce validation requirements on provision.

Help text could be added to explain that parent organization/quick links only show with certain options. https://github.com/uiowa/uiowa/issues/2151

Validation needs to happen bo

[2020-09-29 19:57] joewhitsitt opened #2259 "V3 version of V2's featured content"
## Problem

Several v2 websites are using Featured Content to reference existing content in a manually curated way and currently extends beyond article and person to include basic page as well. This type of functionality doesn't exist in v3.

This is commonly used to highlight a featured article, a manual sort of people, basic page content quick/related links.

Something to port over to will be ne

[2020-09-29 20:03] mark-bennett-uiowa commented on #2205
Sounds awesome @briand44, thanks for the update! I did get a chance to talk to @mjoneill about this too, and would love to stay in the loop and help contribute in anyway possible.

[2020-09-30 13:39] joewhitsitt opened #2260 "Provision engineering.uiowa.edu as default v3 on uiowa"
uiowa is already covered by a *.engineering cert

[2020-09-30 13:47] joewhitsitt commented on #2186
Closing for now. New spam protection deployed. Now we wait...

[2020-09-30 13:47] #2186 closed, assigned to joewhitsitt

[2020-09-30 14:22] richardbporter opened #2261 "Slides in slider block not editable after initial creation."

[2020-09-30 14:47] joewhitsitt opened #2262 "Consider requiring event image on content.uiowa.edu"
## Problem

No image events are tough to style around.

## Proposed Solution

- [x] Reach out to Chris Clair about any possible reasons why event images are not a required field on content.uiowa.edu
- [ ] If not blocked by Chris, move forward with requiring the event image
- [ ] Add help text referencing the media library, photoshelter.

[2020-09-30 15:07] richardbporter opened #2263 "Enable 2FA"
### Problem
Currently, no SiteNow platform requires 2FA despite being required in other campus services.

### Proposed Solution
Contact the IAM team to see what it would take to set this up for v1 and v2/3 while taking guest accounts into consideration.

[2020-09-30 15:12] richardbporter commented on #2232
Is there a specific captcha for file upload fields? I'm not seeing anything.

[2020-09-30 15:12] joewhitsitt commented on #2262
Remember, when working with content.uiowa.edu locally, you may have to temporarily remove the site-specific paragraphs module in order to get a successful `drush rr`

[2020-09-30 15:14] joewhitsitt commented on #2232
Nope

[2020-09-30 15:19] GaryRidgway commented on #2262
I just emailed Chris, I will add any details here if he tells me this would be a bad idea.

[2020-09-30 15:57] richardbporter opened #2264 "Consider enabling ClamAV module for all file upload fields"
### Problem
Currently, file uploads are not passed through an AV scanner.

### Proposed Solution
Acquia has the ClamAV executable available for use on our platform and documents this process: https://docs.acquia.com/cloud-platform/manage/antivirus/. The project page notes that the executable is considerably slower than the daemon which is not available. Also, we need to verify this works for webfo

[2020-09-30 16:19] bspeare commented on #2219
- Walk through the areas of study content type and get a list of all the places that it is feeding.
- Can this content type be shared across Colleges?

[2020-09-30 16:47] mjoneill commented on #2212
https://admissions.uiowa.edu/counselors - The map...

[2020-09-30 16:58] bspeare commented on #2220
List of current feeds:

- http://blog.admissions.uiowa.edu/andre/feed/
- http://blog.admissions.uiowa.edu/cori/feed/
- http://blog.admissions.uiowa.edu/ethan/feed/
- http://blog.admissions.uiowa.edu/faith/feed/
- http://blog.admissions.uiowa.edu/grace/feed/
- http://blog.admissions.uiowa.edu/kelsey/feed/
- http://blog.admissions.uiowa.edu/natalie/feed/
- http://blog.admissions.uiowa.edu/riya/feed/

[2020-09-30 17:25] joewhitsitt commented on #2261
This is a gap created by layout builder restrictions and block_content_permissions

[2020-09-30 17:28] joewhitsitt opened #2266 "Provision folland.lab.uiowa.edu default v3"

[2020-09-30 17:33] joewhitsitt commented on #2266
waiting for response from requestor

[2020-09-30 19:22] joewhitsitt opened #2267 "SSL Cert - engineering.uiowa.edu on uiowa"
the main domain is not covered by the existing *.engineering.uiowa.edu cert.

https://github.com/uiowa/uiowa/issues/2260

[2020-09-30 19:47] #2260 closed, assigned to joewhitsitt

[2020-09-30 19:47] #2266 closed, assigned to joewhitsitt

[2020-09-30 20:23] #2261 closed, assigned to joewhitsitt

[2020-09-30 20:46] richardbporter opened #2269 "Non-admins can configure custom header blocks but receive access denied"
https://www.drupal.org/project/layout_builder_lock/issues/3165130

[2020-09-30 21:04] #2201 closed, assigned to joewhitsitt

[2020-09-30 21:37] #2269 closed, assigned to nobody

[2020-09-30 21:39] bspeare opened #2271 "Allow webmasters to edit collection items after they have been created"
# Problem

Webmasters are unable to edit Collections once they have been created.  Masquerade as a Webmaster on https://admissions.prod.drupal.uiowa.edu/how-apply/transfer-admissions and try to edit the accordions.

<img width="1650" alt="Screen Shot 2020-09-30 at 4 32 06 PM" src="https://user-images.githubusercontent.com/1036433/94742538-75d85e00-033b-11eb-82e9-d46ff7cfbfd0.png">

# Proposed Solu

[2020-10-01 13:31] richardbporter opened #2272 "Set up one site to use Acquia Platform CDN as POC for widespread or select usage."
Ref ticket #1009041

[2020-10-01 13:36] briand44 commented on #2220
Fields that need displayed:

- Author Image - This currently is not in the feed. It is a content type on the admissions site. If we don't import these as entities we would need some way of grabbing an image from a specified file path.
- Title of blog
- Teaser - This is being truncated to a 100 characters.
- Author - only using first name, could be an issue in future.

[2020-10-01 14:36] bspeare opened #2274 "Hitting update while in source editor doesn't save changes done in HTML."
# Problem

Changes to markup are lost if you hit "update" to a text area block in source view.

<img width="795" alt="Screen Shot 2020-10-01 at 9 38 49 AM" src="https://user-images.githubusercontent.com/1036433/94823930-09f10680-03ca-11eb-9500-96ba87d1b9e5.png">

# Proposed Solution

?

[2020-10-01 14:57] joewhitsitt opened #2275 "Update docs for theme settings and parent organization"
## Problem
Functionality that is now exposed to webmasters through updated permissions.

## Proposed Solution

Write docs.
@joewhitsitt

[2020-10-01 14:58] #2275 closed, assigned to joewhitsitt

[2020-10-01 15:01] joewhitsitt commented on #2274
Are we sure it is just the collegiate split or does it also apply to v3 default?

[2020-10-01 15:05] dnkemper opened #2276 "Typo in Google Tag Manager alert message"
<img width="1265" alt="Screen Shot 2020-10-01 at 9 59 46 AM" src="https://user-images.githubusercontent.com/16872949/94827033-9650f880-03cd-11eb-9b79-44362286aa32.png">

[2020-10-01 15:15] bspeare commented on #2274
Upon further testing, it looks like it applies to both.

[2020-10-01 15:16] #2271 closed, assigned to nobody

[2020-10-01 16:01] joewhitsitt opened #2277 "Anchor links in linked cards/banners go to the card/banner link instead of anchor"
## Problem

While testing the banner refactor https://github.com/uiowa/uiowa/pull/2075, I noticed that an anchor link in one of these linked clickable component ultimately send the user to the card/banner link, not the anchor.

## Proposed Solution

Adjust `card.js` to allow anchor links in Excerpt area.

[2020-10-01 16:17] bspeare commented on #2277
Can you post a screenshot of what this looks like?

[2020-10-01 16:49] joewhitsitt opened #2278 "Lower honeypot minimum time"
## Problem

I believe the timer starts when the user starts interacting with the form. The minimum is currently 15 seconds which is a long time if the form is only collecting a few fields (newsletter signup name, email). This is causing poor ux for real users.

## Proposed Solution

With javascript required added-on now to prevent spam, maybe we can lower this limit a bit.

[2020-10-01 16:56] joewhitsitt commented on #2277
<img width="463" alt="Screen Shot 2020-10-01 at 11 54 29 AM" src="https://user-images.githubusercontent.com/4663676/94839704-f9965700-03dc-11eb-84bb-82aa854cbaa2.png">
<img width="401" alt="Screen Shot 2020-10-01 at 11 54 56 AM" src="https://user-images.githubusercontent.com/4663676/94839709-fb601a80-03dc-11eb-956e-a8cda3ad74e3.png">

So in this case, clicking "anchor link" scrolls me down the pag

[2020-10-01 17:22] richardbporter commented on #2227
Would adding right margin to `card-media-horizontal-right` in UIDS work? Or should each block implementing card lists (events, articles, people) adjust `card__media`?

[2020-10-01 17:51] richardbporter commented on #2227
Gave it a shot in #2279. Feel free to comment there.

[2020-10-01 18:50] joewhitsitt opened #2280 "Unique ID logic needs to be changed"
## Problem
We have been using `Html::getUniqueID` for this. https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Component%21Utility%21Html.php/function/Html%3A%3AgetUniqueId/8.8.x

This is causing even more confusion with editors because anchors are getting a --2 appended to it.

https://github.com/uiowa/uiowa/search?q=Html%3A%3AgetUniqueId%28%24paragraph-%3Efield_uip_id-%3Evalue

## Proposed

[2020-10-01 19:44] joewhitsitt commented on #2280
This can/will break a lot of existing ids..

[2020-10-01 20:07] bspeare commented on #2277
@joewhitsitt is this the js that you are referring to?

https://github.com/uiowa/uiowa/blob/main/docroot/modules/custom/sitenow_paragraphs/modules/sitenow_card/js/card-link.behavior.js

[2020-10-01 20:08] joewhitsitt commented on #2277
yes

[2020-10-01 20:37] richardbporter opened #2283 "Re-install international.uiowa.edu as SiteNow v3."
Looks like its on uiowa.prod: https://international.prod.drupal.uiowa.edu/

Just needs an sql:drop and a re-install via BLT.

[2020-10-01 20:57] bspeare commented on #2220
Research spike:

- Investigate feed options
- Investigate ability to attach author via javascript
- Investigate front end / back end integration with Drupal
- Set config split for admissions.uiowa.edu

[2020-10-01 21:54] joewhitsitt opened #2285 "SSL Cert - international.uiowa.edu on uiowa"
Relates to https://github.com/uiowa/uiowa/issues/2283

[2020-10-01 21:55] joewhitsitt commented on #2285
Nevermind. It is already covered *.international.uiowa.edu and international.uiowa.edu on uiowa

[2020-10-01 21:55] #2285 closed, assigned to nobody

[2020-10-01 21:58] richardbporter commented on #2220
I was able to place a feed without issue. I wonder if we could expose aggregator settings and blocks for webmasters. The block lets you select a feed that you added to be displayed on a page.
<img width="1051" alt="Screen Shot 2020-10-01 at 4 58 29 PM" src="https://user-images.githubusercontent.com/1068523/94867706-5a3a8980-0407-11eb-903c-beb872a5e1d7.png">

[2020-10-01 22:06] joewhitsitt commented on #2283
files deleted, database dropped, v3 install, varnish cleared, added Katie, sent modified site created email via sitenow.uiowa.edu. ssl cert was already covered on uiowa.

[2020-10-01 22:06] #2283 closed, assigned to joewhitsitt

[2020-10-02 14:30] joewhitsitt opened #2286 "Tippie - Troubleshoot uiowa_events implementation"
## Problem

[2020-10-02 14:31] joewhitsitt opened #2287 "IRRC - New People Grouping View Display"
## Problem

https://iowareadingresearch.org/people - request for new grouping display

[2020-10-02 17:56] joewhitsitt opened #2291 "Person Types"
# Issue

Brian asked me to create this issue for discussion in parking lot.

In working on #2205, I noticed the person_extended work that has been done and also recall a conversation with the APR team back in 2019 about their PersonType. For v2, we moved away from the idea only because we were unsure where APR was going and that to simplify the service initially, we went with one tagging taxonomy

[2020-10-02 18:06] mark-bennett-uiowa commented on #2291
@joewhitsitt I think this would be great, but I worry about the size of the list. To cover all areas of campus, it would need to include alot more. This may be something to discuss with the APR team next week to see what their list was and then go from there.

[2020-10-05 13:32] #2227 closed, assigned to nobody

[2020-10-05 14:34] pyrello opened #2293 "Convert person content type to use Layout Builder for content type template"
# Problem
We use Layout Builder for other content type templates, but not the person type.

# Proposed solution
Enable Layout Builder to manage the layout for the Person content type and re-export configuration. This will need to be done for any split instances of `core.entity_view_display.node.person.default` that exists in config.

[2020-10-05 14:35] bspeare commented on #2277
Related issue https://github.com/uiowa/uiowa/issues/2292.

[2020-10-05 15:49] #1630 closed, assigned to joewhitsitt

[2020-10-05 15:49] #2276 closed, assigned to joewhitsitt

[2020-10-05 15:49] #2278 closed, assigned to joewhitsitt

[2020-10-05 15:49] #2280 closed, assigned to joewhitsitt

[2020-10-05 15:59] joewhitsitt opened #2295 "Improve documentation for anchors"
## Issue

Following up from #2284, we should improve the anchor documentation https://sitenow.uiowa.edu/documentation/basic-page-content-type, however, a lot of this is now v2 specific so it should probably be split into two (content blocks docs and wysiwyg).

[2020-10-05 21:38] briand44 opened #2297 "Person contact information"
We need to be able to store and display contact information for a person. This includes the ability to list multiple office addresses.

![Screen Shot 2020-10-05 at 4 40 46 PM](https://user-images.githubusercontent.com/1017022/95135663-633e9a00-072a-11eb-8a5e-09fd6dd339cb.png)

[2020-10-05 21:51] briand44 commented on #2297
This is how the contact info is structured in APR database tables:

UPDATED_TS: TIMESTAMP(6) NOT NULL
UPDATED_BY: VARCHAR2(128) NOT NULL
PROFILE_ID: NUMBER(22) NULL
CONTACT_TYPE: VARCHAR2(1024) NULL
BUILDING: VARCHAR2(4000) NULL
ROOM: VARCHAR2(4000) NULL
PHONE_NUMBER: VARCHAR2(50) NULL
ADDRESS: VARCHAR2(1000) NULL
CITY: VARCHAR2(250) NULL
STATE: VARCHAR2(100) NULL
ZIP: VARCHAR2(25) NULL
STAFF_CONT

[2020-10-05 21:57] briand44 commented on #2297
And here is what has been reviewed and approved by ADFs:

![Screen Shot 2020-10-05 at 4 54 58 PM](https://user-images.githubusercontent.com/1017022/95228352-d4cb2680-07c4-11eb-95cf-94aeff61f737.png)

[2020-10-06 14:17] mark-bennett-uiowa opened #2298 "Investigate Calendar feature for events/seminars?"
Investigate Calendar feature options for events/seminars.

[2020-10-06 14:18] mark-bennett-uiowa opened #2299 "Investigate Jobs listing feature pulled from jobs.uiowa.edu?"
Investigate Jobs listing feature options pulled from jobs.uiowa.edu.

[2020-10-06 14:23] joewhitsitt commented on #2298
I'd throw a vote towards https://www.drupal.org/project/fullcalendar with the clarification I haven't tested the D8/9 version

[2020-10-06 14:50] ABoston88 commented on #2246
https://iowa-my.sharepoint.com/:w:/g/personal/bosto_uiowa_edu/EdT6rVJcC1RMvehPTciCd1cBuhQMZcxFWszt-2IPfkCqnA?e=f3HXA7

Here's some "What is this" text for each form field and that could help with this as a supplement to Danielle's tour content and the documentation. Added some for the component types, as well. Feel free to edit if anything is incorrect.

I'm currently going through and highlightin

[2020-10-06 15:17] mark-bennett-uiowa commented on #2298
Nice! Ill check this out. Thanks @joewhitsitt

[2020-10-06 16:35] joewhitsitt commented on #129
Another issue that might affect our solution (slider/collection paragraphs within a block within a page) -  https://www.drupal.org/project/entity_clone/issues/3050027

Might also be worth giving a look: https://www.drupal.org/project/quick_node_clone (mentioned in the above issue)

[2020-10-06 17:46] scottfi commented on #2214
- Title (title)
- Short Description - (Body/Summary)
- Value - value of the scholarship - (text area short - will list an amount of money $X,000 - X,000 or $X,000)
- Minimum Requirements - minimum requirements that need to be met to qualify - (text area)
- Application - Information on how to apply or if no application is needed - (text area)
- Deadline - Information regarding deadlines - (text are

[2020-10-06 20:29] #1925 closed, assigned to nobody

[2020-10-06 20:57] joewhitsitt commented on #2295
Done.

[2020-10-06 20:57] #2295 closed, assigned to joewhitsitt

[2020-10-06 21:15] joewhitsitt opened #2302 "Visual Inline Diff is not correctly configured for layout builder/content blocks"
## Problem

Revision and diff information is available for v2 paragraph content blocks but doesn't seem to be configured correctly for v3 layout builder. Most revisions show "no visible changes"

<img width="831" alt="Screen Shot 2021-11-02 at 12 57 00 PM" src="https://user-images.githubusercontent.com/4663676/139919902-5b75cc47-9964-48e8-a8b4-8ef2539e8d63.png">

## Proposed Solution

Revisit diff

[2020-10-07 14:00] pyrello opened #2304 "Default content follow-up"
# Problem
When #1925 was completed, the paragraph entities that needed to exist for the slider content weren't included.

# Proposed solution
Re-create and re-export those entities.

[2020-10-07 14:48] joewhitsitt opened #2305 "Drupal secure content for authenticated users"
## Issue

It has been requested by a couple customers to have some content on their public website be viewable to authenticated users, or this idea of "password protected content."

## Proposed Solution

- Investigate what type of content is in scope. Reach out to customers about what they had in mind.
  - brand
  - law
  - studentlife
  - iowamommoodbooster.org
  - policy.clas.uiowa.edu
- Decide

[2020-10-07 15:44] briand44 commented on #2234
I tested selecting each of these options in MyUI and there were not any additional fields that became visible with any of these options. I did not click the update button on any of these options to see if that made any other options visible. I will reach out to DEI.

[2020-10-07 17:48] pyrello opened #2306 "Implement card option updates from UIDS"
In UIDS, events are just going to be one more thing that can be created with a card component. This means that cards will now support the variations that are currently limited to events. To support this change, we need to make the following changes
* Add LB style options for:
  - Image styles: rectangular (default) or round
  - Image size (when a card is in horizontal orientation): small, medium (

[2020-10-07 21:23] joewhitsitt commented on #2238
Took a first stab at this. Trying to get local env testing to work.

https://wiki.uiowa.edu/x/_ah6E

[2020-10-07 21:23] #2238 closed, assigned to joewhitsitt

[2020-10-08 13:22] joewhitsitt commented on #696
This might be a solution forward and could be done in conjunction with #781
https://www.droptica.com/blog/custom-actions-views-bulk-operations-module-drupal-8

[2020-10-08 13:44] briand44 commented on #2214
On the scholarships page, at a minimum, they need the ability to have an image and editable text on that page. Their preference would be after choosing a student type and resident/non-resident (if First-year) that it takes you to a separate page to display the results. The reason for this is to provide somewhat of a barrier for a specific student type to view scholarships available for other stude

[2020-10-08 14:47] bspeare commented on #2306
Display options for events like https://github.com/uiowa/uiowa/pull/2296#issuecomment-705612534 will also need to be considered in this refactor.

[2020-10-08 14:56] #2304 closed, assigned to nobody

[2020-10-08 15:16] bspeare opened #2309 "Create display options for lists, views and feeds in uids_base"
# Problem

All of the v3 views and feed displays currently default to a list view within layout builder.    There is currently not a way to switch a display to a grid listing.

# Proposed Solution

Create a "Display options" layout builder style that offers the ability to switch a view or feed to display as:

- Grid centered
- Grid left-aligned
- Grid 3-col
- Grid 2-col
- Grid 30-40-30?
- List sty

[2020-10-08 15:37] pyrello commented on #2309
Bringing my comment over from the thread this started on: https://github.com/uiowa/uiowa/pull/2296#issuecomment-705640786

I would consolidate this down to the following:

**Display list as**
* List (default)
* Grid

**Content orientation**
* Left-aligned (default)
* Centered

**Grid columns** (only shown if *Grid* is selected above)
* 3 columns 33-34-33 (default?)
* 3 columns 30-40-30?
* 2 column

[2020-10-08 15:55] richardbporter opened #2311 "Disabling layout builder style overrides does not remove styles"
### Problem
If a block has style override classes applied, unchecking the "Override style options" and saving the the block does not remove said classes.

![cap](https://user-images.githubusercontent.com/1068523/95483387-c4e24c80-0954-11eb-9466-9bef5f6559e8.gif)

### Proposed solution
Update our layout_builder_custom code to remove styles if the box is not checked. Using states might be an option

[2020-10-08 16:15] joewhitsitt opened #2313 "People Manual Sort doesn't work in v3"
## Issue

The recent addition of responsive tables is causing a conflict with the draggableviews table that is implemented via the SiteNow People manual sort option. As a result, the drag/drop doesn't work and there are table markup being displayed that shouldn't be.

V3: Non-functioning drag handles, non-hidden table markup.
<img width="612" alt="Screen Shot 2020-10-08 at 11 11 19 AM" src="https:

[2020-10-08 16:17] briand44 commented on #2212
They would like the ability to search for counselors by state (map) and having the ability to view all counselors. They currently have a select list along with the map to search by state for an accessible alternative to the map. When using these options it takes you to a teaser view of the counselors for that state and allows you to click their name to see everything about them.

They are fine wit

[2020-10-08 16:38] briand44 commented on #2212
Structure: There may need to be a conversation on whether this should be a separate content type of if we customize the person content type to work for counselors.

There can be multiple counselors per state as well as a single counselor can cover multiple states.

- Name - currently using title field - needs to be a text field
- Job Title - currently text field
- Email - email field
- Degree(s) -

[2020-10-08 16:45] briand44 commented on #2212
The only other thing worth mentioning is that they would like to be able to relate a counselor to some events. I didn't find an example of this on their existing site but maybe @scottfi can share an example.

[2020-10-08 16:49] scottfi commented on #2212
Event with Counselor connected/listed: https://admissions.uiowa.edu/calendar/rockhurst-high-school-college-fair
(this isn't currently published on the site since it is from a while back so you'll need to be logged in to see it)

[2020-10-08 17:49] joewhitsitt commented on #2313
Removing the responsive tables library solves the v3 issue. Since header content (wysiwyg) can be place above this table view, I think we need some more disable functionality beyond the table--static class

[2020-10-08 19:51] pyrello opened #2315 "Demo site for testing all the things"
# Problem
Currently we use existing sites, including the demo site to test things. This is useful insofar as that we are able to see if existing content or functionality is broken, but doesn't help us for testing hypothetical scenarios or edge cases in a consistent way. We have repeatedly needed to create "kitchen sink" pages for testing various combinations of background treatments, block types,

[2020-10-08 19:51] richardbporter opened #2316 "Document that article summary is used for RSS feed description"
https://coronavirus.uiowa.edu/news

[2020-10-08 20:39] richardbporter opened #2317 "Determine if using person content type or separate content type for counselors."
Relates to https://github.com/uiowa/uiowa/issues/2212

[2020-10-08 20:44] richardbporter opened #2318 "Investigate event ticket price not showing up on events.uiowa.edu and arts.uiowa.edu."

[2020-10-08 20:59] bspeare opened #2319 "Update aggregator feed design to use the event template list design that #2255 is using"
# Problem

Using https://github.com/uiowa/uiowa/pull/2255, map the aggregator template created in https://github.com/uiowa/uiowa/pull/2296 to use the new event template list styles in that PR.

Related to https://github.com/uiowa/uiowa/issues/2220.

[2020-10-08 21:35] joewhitsitt commented on #2317
So, I think we can move faster with the original requirements if this is a separate content type, but I think long term, this content will come back to the person content type as a person type term we target #2289. We went separate content type for IGHN because of their special fields and the fact that they had view filtering around those.

I also think we should push back on some of these fields.

[2020-10-09 13:34] joewhitsitt commented on #2316
This is a non-issue. Working as designed. The recent articles don't have summaries which is what is used for teasers/RSS.

<img width="492" alt="Screen Shot 2020-10-09 at 8 33 54 AM" src="https://user-images.githubusercontent.com/4663676/95589358-434cf600-0a0a-11eb-96a0-10e677936662.png">

[2020-10-09 13:36] richardbporter commented on #2316
Isn't there a way to use the summary if set, otherwise fall back to a trimmed description?

[2020-10-09 13:38] richardbporter commented on #2316
That seems like a better experience for people. I thought we did that a lot in D7.

[2020-10-09 13:39] bspeare commented on #2317
I think it does make sense to keep this within the person content type.   I agree with @joewhitsitt that a lot of the info could go in the biography field.  Perhaps we might want to develop a dynamic layout template that could have options for how to display the profile suitable for academics and counselors.

[2020-10-09 13:46] joewhitsitt commented on #2316
We've talked about bringing back the body/summary combo which is what was used commonly in D7 but early on we started with field_teaser (Article Summary) instead of body for all of this. Separate fields and will require noodle code to achieve this.

Psst! I wanted to keep the body field originally...

[2020-10-09 13:49] richardbporter commented on #2316
For the RSS view specifically, this could be a simple field rewrite no?

[2020-10-09 13:51] joewhitsitt commented on #2316
why wouldn't we do this across the board for teasers and meta descriptions as well? i know rss is this week's hot trend, but facebook/twitter/teaser display meta is more visible/used

[2020-10-09 13:54] richardbporter commented on #2316
Because the view is using fields, not a view mode.

[2020-10-09 13:56] richardbporter commented on #2316
I agree the concept is shared and would be very useful across the board but the implementation is not (I don't think).

[2020-10-09 13:58] joewhitsitt commented on #2316
not following the fields/view mode point. meta description is a field taking in token value from another field (field_teaser).

[2020-10-09 13:59] richardbporter commented on #2299
To my knowledge, there is no API for this data.

[2020-10-09 14:00] #2318 closed, assigned to nobody

[2020-10-09 14:30] joewhitsitt opened #2320 "Person layout/design changes"
# Story

As a brand team design member or person content type stakeholder, I have seen and given approval for all the changes being made to the default person content type layout/design changes.

# Proposed Solution

As we develop how the _default_ person profile look going forward for SiteNow v3 and accounted for all the new fields we plan to add to the content type. We should seek guidance/appro

[2020-10-09 14:58] bspeare opened #2321 "As an admissions stakeholder, I can request design changes and view the status of these requests"
**Home Page**

- [ ] Prototype home page design

**Areas of Study page**

- [x] Prototype a page design

**Brand Icons**

- [ ] Provide best practice for integrating/sizing brand icons
  - [x] https://github.com/uiowa/uiowa/issues/6978
  - [ ] https://github.com/uiowa/uiowa/issues/1931

**Banner**

- [x] Add video loop option within banner block or create separate video block: https://github.com/u

[2020-10-09 15:26] #2149 closed, assigned to dnkemper

[2020-10-09 15:43] briand44 opened #2322 "Provision Sitenow v3 site for dentistry."
There is currently a SiteNow v2 site already living at https://dentistry.prod.drupal.uiowa.edu on the uiowa application. They are fine with blowing this away and making it a v3 site. I don't think there is a site request for this and we won't be able to submit one since there is already a site. We will want to give Chuck McBrearty (mcbrearty) webmaster access and notify him when the site is availa

[2020-10-09 15:45] briand44 commented on #2322
*.dentistry.uiowa.edu is covered on uiowa but there is not an entry for dentistry.uiowa.edu.

[2020-10-09 17:53] joewhitsitt commented on #2214
I forgot that I am out today. Pushing up what I have.

I am unsure though on now best to proceed with the [jump menu](https://admissions.uiowa.edu/finances/scholarships) and the [view displays](https://admissions.uiowa.edu/finances/scholarships-first-year-students). Thought about a text area block full HTML (content) that has a one-off jump form to user created pages.

The existing site has separa

[2020-10-09 18:28] bspeare opened #2324 "Regressions from layout builder styles vertical spacing updates"
# Problem

The LB Styles refactor (https://github.com/uiowa/uiowa/pull/2076) has produced a few spacing regressions.

**Admissions site with hidden page title:**

<img width="1791" alt="Screen Shot 2020-10-09 at 1 04 26 PM" src="https://user-images.githubusercontent.com/1036433/95618430-a8b4dd00-0a32-11eb-85fa-91d9e00117ae.png">

**Diversity site two column sidebar layout:**

<img width="1760" alt

[2020-10-09 18:34] pyrello opened #2325 "Add global rule for text area links to break"
Add a CSS rule to uids_base for links contained in text areas:
[code]

This might be able to be applied more broadly, but we would have to think through potential ways this could break existing links.

[2020-10-09 19:19] bspeare commented on #1931
If you look at https://admissions.prod.drupal.uiowa.edu/how-apply/transfer-admissions you will see that the site editor is using the image gallery block to insert singular images into the page layout.   I think that having an image block would really provide clarity for users so that we can avoid placing singular lightbox images into page layouts.

<img width="1609" alt="Screen Shot 2020-10-09 at

[2020-10-09 20:42] #2009 closed, assigned to ethanstjohn

[2020-10-12 14:19] bspeare commented on #2208
Closing this and moving the work to https://github.com/uiowa/uiowa/issues/2306

[2020-10-12 14:19] #2208 closed, assigned to nobody

[2020-10-12 14:37] pyrello opened #2327 "Document VSCode format setup"

[2020-10-12 14:42] mark-bennett-uiowa commented on #2327
Here is the list I use, that seems to work for me. Not sure if they are the best extensions, or the most widely used, but they work okay.
<img width="323" alt="Screen Shot 2020-10-12 at 9 38 46 AM" src="https://user-images.githubusercontent.com/3067017/95759327-2a914a00-0c6f-11eb-9fb9-96447c08cec0.png">
<img width="332" alt="Screen Shot 2020-10-12 at 9 38 58 AM" src="https://user-images.githubuser

[2020-10-12 14:48] mjoneill opened #2328 "Advising Center - Add Live Chat Feature -"
- [x] Create new GTM container and add it to the prod site
- [x] Give the snippet to the client to place in their own container and update the site.
- [x] Provide on-brand image for use in all PHP Live Chat snippets. - Split to https://github.com/uiowa/uids/issues/423
- [ ] Figure out where chat service back end should be hosted (optional)

[2020-10-12 15:07] richardbporter commented on #2316
Team consensus was "works as designed" - I wonder if we can just update the field description to inform users that this is used for RSS feed descriptions?

[2020-10-12 15:20] #2258 closed, assigned to cory-skeers

[2020-10-12 15:24] bspeare commented on #1931
Would we want to adjust the "Image Gallery" block to be an "Image" block?   We could set it so that single images are not treated as colorbox galleries and add the ability to adjust the image style?

[2020-10-12 15:55] richardbporter commented on #2322
I ran the install in prod but encountered errors. The default content is not exactly what it should be but its a v3 site!

[2020-10-12 15:58] pyrello opened #2330 "Default content - Import homepage as nid 1"
# Problem
When default content is created, we don't seem to have any control over which piece of content get nid 1. The is problematic because the homepage has logic attached to it that doesn't allow the user to delete it unless it is set to a different piece of content. Currently, the homepage is being imported as nid 2 during local development and nid 6 when installed in production. This means t

[2020-10-12 16:04] pyrello opened #2331 "Default content - Slider on homepage is un-editable after import"
# Problem
After default content is created, the slider on the homepage cannot be edited via Layout Builder. It literally doesn't appear in the UI.

[2020-10-12 16:07] #2267 closed, assigned to nobody

[2020-10-12 16:14] richardbporter commented on #2322
Added chuck. Recreated SSL cert. Contacted chuck.

[2020-10-12 16:14] #2322 closed, assigned to nobody

[2020-10-12 16:15] #2316 closed, assigned to nobody

[2020-10-12 20:13] bspeare commented on #2324
The issue with admissions is being caused by https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/global.scss#L72.
[code]
We added this so that we could have some default padding set for nodes that hide their page titles like:

<img width="1516" alt="Screen Shot 2020-10-12 at 3 10 59 PM" src="https://user-images.githubusercontent.com/1036433/95786459-37c52d80-0c9d-11eb-8db

[2020-10-12 20:34] #2240 closed, assigned to cory-skeers

[2020-10-12 20:46] GaryRidgway commented on #2262
Chris and I emailed back, and he agreed to these three steps:

1. Make the image field mandatory in the events system.
2. Add better help text so that if people see that it is mandatory, that we then say to them “It is suggested that you upload a picture without any text that is a relatively relevant picture to your event. if you don’t want to upload a picture, you can pick one from the library of

[2020-10-12 22:08] cory-skeers commented on #2214
This would be my gut-check choice, being the most easily flexible within the world of admissions.

In trying to think more through the lens of possible Drupal contributions, I'm intrigued by taking a more abstract plugin approach to giving a role-restrictable way to embed a pre-filtered view via inline block (if I understood your description accurately).

[2020-10-13 13:35] pyrello opened #2334 "[Grad College] Build article migration"
The Grad College has about 450 pieces of article content, so ideally I would like to write a migration script to handle moving it.

[2020-10-13 13:37] #2311 closed, assigned to nobody

[2020-10-13 13:53] pyrello commented on #2324
I think the first example, in the OP of the admissions site with the extra spacing is correct. I'm assuming that the item displaying below the header is a banner. In the case of a banner being a first item, you would not want any space before it. However, if you were starting the page with a block of text, then you would. I think the second case should be the presumed default and that people shoul

[2020-10-13 14:20] pyrello commented on #2330
This might be a way of resolving this: https://www.drupal.org/project/default_content/issues/3175870

[2020-10-13 15:09] ethanstjohn commented on #2226
Additions:
Narrow to Margin docs

Updates:
Bottom, Edge-to-Edge, Wide, Normal, Full width (has side margins), Remove default vertical spacing, and Top to Margin docs
Add extra bottom spacing, Bottom, Remove bottom spacing, Remove top spacing, Remove default column spacing, Restore default spacing, Add extra top spacing to Padding docs

[2020-10-13 15:09] #2226 closed, assigned to ethanstjohn

[2020-10-13 19:26] pyrello commented on #2317
Here is what I would recommend as a solution for this:

Use person content type for this:
Name - currently using title field - needs to be a text field
Job Title - currently text field
Email - email field
Degree(s) - text field
Profile Image - image with focal point

Add a content type called Counselor profile to contain these fields:
Hometown - text field
What would people be surprised to know ab

[2020-10-13 20:09] richardbporter commented on #2330
There is warning during install I just noticed. No clue if it is related.

`[info] Undefined offset: 1 ContentEntityNormalizer.php:262`

[2020-10-13 20:11] richardbporter commented on #2330
Also https://github.com/uiowa/uiowa/issues/1914

[2020-10-13 20:16] richardbporter commented on #2330
The comments above are meant for #2331. Sorry.

[2020-10-13 20:17] #2330 closed, assigned to pyrello

[2020-10-13 20:25] cory-skeers commented on #2274
Related issue: https://www.drupal.org/project/drupal/issues/3095304

Create custom block
Edit text in body field
Save block
Edit block
Switch body field to ckeditor source mode
Edit text
Save
Changes are NOT saved!
Once I changed back to non-source mode before saving the changes are saved properly.

[2020-10-13 20:31] joewhitsitt commented on #2267
Can this be moved to Done @richardbporter ?

[2020-10-13 21:43] bspeare commented on #2214
How important is having this in a select list or jump menu?  Do we want to create more of a designed experience with expanding cards decision tree or just have the user use a select list?

![screenshot-01](https://user-images.githubusercontent.com/1036433/95919420-277f8200-0d73-11eb-8c3b-96fb60f15a75.png)

[2020-10-13 21:51] scottfi commented on #2214
I'm OK with a more designed experience. While what we want to do is a bit anti-user, we'd like to make sure that a student is getting dropped on the right page when they make it through the selections. We're trying to prevent a student from easily selecting all student types and residency and easily jumping around comparing scholarships for different types/residency. I know it's impossible to tota

[2020-10-13 22:41] bspeare commented on #2214
My thought would be that clicking or hovering on the first year student card would reveal options to click on "From Iowa" or "Outside Iowa" within the card drawer.   But you are right, the jump menu would slow the user down more from comparing each of them.

[2020-10-14 00:52] briand44 commented on #2234
Both DEI and MAUI folks confirmed the list above but collecting and displaying pronouns was discouraged by MAUI folks. It sounds like this currently is only a feature for students and only used in specific situations. There is additional work on the MAUI end to allow students to choose when to display pronouns but that is not ready yet. I am closing this issue until there is a central solution tha

[2020-10-14 14:05] #2205 closed, assigned to joewhitsitt

[2020-10-14 14:23] joewhitsitt commented on #1907
To be clear, this is blocked now because it can't just be removed without accounting for HR because this is still used as part of their uiowa_bootstrap dependency. HR would have to split this module off, update permissions across splits.

[2020-10-14 14:56] #2324 closed, assigned to bspeare

[2020-10-14 15:10] briand44 opened #2336 "Remove links in University of Iowa Branding Bar configuration"
Related:
https://github.com/uiowa/uiowa/issues/2151
https://github.com/uiowa/uiowa/issues/1980

I noticed there is a top links menu. Should customers be using this instead. Lots of confusion here.

[2020-10-14 15:14] briand44 commented on #2336
I think it was discussed that this should be removed in favor of the top links menu.

[2020-10-14 15:16] joewhitsitt commented on #2320
Thoughts from the design meeting. Let me know if I forgot some stuff, I am sure I did.

Good examples: [Tippie](https://tippie.uiowa.edu/people), [Harvard Library](https://library.harvard.edu/staff)

- Image placement, see Harvard, if no image, doesn't disrupt the flow of the rest of the content.
- Title below image.
- Consider if no sidebar content, the region collapses making the main full-width

[2020-10-14 16:16] joewhitsitt commented on #2214
So far, I am constructing it like this:
<img width="695" alt="Screen Shot 2020-10-13 at 8 47 24 PM" src="https://user-images.githubusercontent.com/4663676/96016298-349d7f00-0e0e-11eb-9487-9edfc0e6c310.png">

I think what @bspeare suggested looks nice and I wouldn't be opposed to pursuing it further beyond this issue. I am using the Forms API to construct this now, so for my own sanity and accessib

[2020-10-14 17:59] #1928 closed, assigned to bspeare

[2020-10-14 20:13] #2274 closed, assigned to nobody

[2020-10-14 20:53] pyrello opened #2339 "Update metatag patch to be compatible with future versions"
# Problem
In working on #2160, I was updating all the dependencies and discovered that the dev version of `metatag` that we were upgraded to was no longer compatible with the patch we were applying to that module. I found a newer version of the patch, which applies: https://www.drupal.org/files/issues/2020-01-17/metatag-n2782797-25.patch. However, in between the patch we were using and the new one

[2020-10-15 04:10] pyrello opened #2342 "Config scaling notes"
Did a little bit of research on config-related contrib projects and here are a few that are worth taking a look at:

* ~https://www.drupal.org/project/multiline_config~ - Part of core from 9.3 on.
* https://www.drupal.org/project/config_split_ignore
* https://www.drupal.org/project/config_patch
* ~https://www.drupal.org/project/config_partial_export~ - Doesn't really seem helpful because it expose

[2020-10-15 12:59] briand44 opened #2343 "Campus IP restrictions for a page on ehs.research.uiowa.edu"

[2020-10-15 13:05] briand44 commented on #2343
After some discussions it sounds like we could possibly use this module https://www.drupal.org/project/restrict_page_ip. We would need to use APE to disable caching for the particular page as well. I am not sure of the list of IP ranges we need to allow but there is some info https://itsecurity.uiowa.edu/network-and-airspace.

[2020-10-15 13:32] joewhitsitt commented on #2169
Blocked until we hear back from Law to see if they have resolved their twitter card issue using options already available.

@mjoneill ^^

[2020-10-15 14:03] mjoneill commented on #2169
Yep, I've investigated and reached out, but they have been radio silent. I would consider this a feature add and unblocked, as twitter card markup is really the only reliable way to do what they want.

@briand44 @joewhitsitt can we scope adding this module (is it a module)? I've seen twitter card functionality available before.

[2020-10-15 15:30] joewhitsitt commented on #2169
If the current options work (which I thought they did via open graph), then I worry about adding more SEO fields for people to configure to get the same result. Can you check to see if uiowa.edu, coronavirus or brand are successful with twitter cards before we take this on?

Yes, this would be turning on a module and configuring it (permissions, content types) and then confirming that is solves th

[2020-10-15 17:00] joewhitsitt opened #2346 "Inconsistent Entity Usage with Media in block content"
## Issue

The entity usage UI table doesn't seem to be getting usage correct for block content. I am seeing usage (sometimes) for text area block media references. I thought I recently fixed this.

Example: This image is being used in more places than this one recorded usage.
https://sandbox.prod.drupal.uiowa.edu/media/36/edit/usage
https://sandbox.prod.drupal.uiowa.edu/cards

## Proposed Solution

[2020-10-15 18:21] joewhitsitt opened #2347 "Figure out what to do with research area term pages"
## Issue

Just realized these term paths are public (e.g. /research-areas/[term:name]) and the look is not lovely.

<img width="989" alt="Screen Shot 2020-10-15 at 1 18 49 PM" src="https://user-images.githubusercontent.com/4663676/96170288-05a80b80-0ee9-11eb-9dea-27959c6d435b.png">

## Proposed Solutions

- Rabbit hole these pages.
- Update to display teasers correctly.

[2020-10-15 18:51] richardbporter opened #2348 "Use consistent page title metatag separators"
### Problem
The metatag config for page title separates the page title with a pipe but then the site name and "University of Iowa" is separated by a dash. Example: https://engineering.prod.drupal.uiowa.edu/college

### Proposed solution
Update the global metatag config to use a consistent separator. I would vote pipe.

[2020-10-15 18:58] pyrello commented on #2320
It sounds to me like we may want to create a custom layout to handle this, which would allow us to accomplish the 3rd and 4th points above.

In this case, by title, are we talking about the person's name?

[2020-10-15 19:31] pyrello commented on #2331
I think this was resolved by #2345

[2020-10-15 19:31] #2331 closed, assigned to dnkemper

[2020-10-15 19:40] pyrello commented on #1779
With #2345, I think we have accomplished all the tasks for this Epic!

[2020-10-15 19:40] #1779 closed, assigned to nobody

[2020-10-15 19:41] pyrello commented on #2259
Are we okay with not considering this a blocker to V3 GA?

[2020-10-15 19:44] pyrello commented on #2207
Taking over the remainder of the tasks from #1778

[2020-10-15 19:44] pyrello commented on #1778
I moved the rest of the tasks to #2207 and I think we can consider this closed.

[2020-10-15 19:44] #1778 closed, assigned to nobody

[2020-10-15 20:43] mark-bennett-uiowa opened #2349 "New height style of hero images distorts images at wide resolutions"
Something I was unaware of that was added to the hero image block was the height (small, medium, and large) styling. If you inspect an internal page with a Featured image, the featured image will show the pre-PR state (a large image that I was uploading 3000x1286px images into). This was working for responsiveness, even on large, widescreen displays. Now, the hero images are being cropped and once

[2020-10-15 20:54] bspeare commented on #2349
We would probably need to add a fourth option to let image size determine the height.  The current implementation uses the image as background image to fill the container height at the three current sizes.  This fourth version would need to rewrite the implementation to place the text absolutely on the image.  This type of implementation is less responsive, but maintains the image size.

[2020-10-15 20:56] mark-bennett-uiowa commented on #2349
@bspeare sounds good, and thanks for the details about the height/text implementation!

[2020-10-15 21:13] pyrello opened #2350 "Add ability to change headline style for cards"
# Proposed solution
Implement the new headline field from #2152 in the card block.

[2020-10-15 21:14] pyrello commented on #2350
Brought over from #2306

[2020-10-15 21:16] pyrello opened #2351 "Allow all card styles to be added to remaining list type blocks"
# Story

As a webmaster, I want the ability to add recent card style options to my list blocks and single event blocks.

# Proposed Solution

This was recently done in https://github.com/uiowa/uiowa/pull/2644 and https://github.com/uiowa/uiowa/pull/2683 that set a foundation for this, but that must be extended to the other types as well as adapted based on how they are rendered (view, external eve

[2020-10-15 21:16] pyrello commented on #2351
Brought over from #2306

[2020-10-15 21:38] pyrello commented on #2349
@mark-bennett-uiowa Just as some context, we changed the way that the container is being sized so that we could set a `min-height` to allow for people putting too much content into a banner, which was previously causing it to break. In the implementation you tested, the 'large' option essentially worked in the way that @bspeare is describing above, but that actually made it inconsistent with the i

[2020-10-15 21:40] #2339 closed, assigned to nobody

[2020-10-15 21:42] joewhitsitt commented on #2259
Not a blocker.

[2020-10-15 21:55] dnkemper opened #2353 "SiteNow v3 provisions"
### Included in recent release
- [x] ishla.org.uiowa.edu - created internal domain
- [x] kawai.lab.uiowa.edu
- [x] cerebrovascular.lab.uiowa.edu
- [x] success.course.uiowa.edu
- [x] ofirl.lab.uiowa.edu
- [x] uisps.org.uiowa.edu
- [x] pinnaro.lab.uiowa.edu

## In progress
- [x] andersen.lab.uiowa.edu
- [x] messingham.lab.uiowa.edu
- [x] dietrich.lab.uiowa.edu
- [x] gaine.lab.uiowa.edu
- [x] car.lab

[2020-10-15 22:52] dnkemper opened #2355 "Create SSL on uiowa02 for csomaycenter.uiowa.edu"

[2020-10-16 13:42] joewhitsitt commented on #2083
We are applying the core patch from https://www.drupal.org/project/drupal/issues/3097416

[2020-10-16 13:42] #2083 closed, assigned to nobody

[2020-10-16 13:45] joewhitsitt opened #2356 "Switch from "wontfix" core patch to oembed_providers module"
## Issue
hook_oembed_providers_alter() is going to be marked as #wontfix by core.

Patch from:
https://www.drupal.org/project/drupal/issues/3008119

## Proposed Solution

- [x] Need to switch to https://www.drupal.org/project/oembed_providers which now has the alter as of 1.1.0
- [x] Remove patch from composer.json
- [x] Remove/replace sitenow_media_wysiwyg_oembed_providers_alter() and sitenow_med

[2020-10-16 13:53] richardbporter opened #2357 "Override layout builder style checkbox is back!"
### Problem
The banner block refactor reintroduced this checkbox which was removed in https://github.com/uiowa/uiowa/pull/2332.

https://github.com/uiowa/uiowa/commit/1fd282c7e025f8184b14493024b6b1f3c7230b5b#diff-22455fd1cfa159b58a0289784a91064192c27738f06b23e252be3a46271afb4c

### Solution
Remove it again! There is a todo comment about adding a fieldset that always shows as well.

[2020-10-16 13:57] pyrello opened #2358 "Transition Coronavirus site to V3"
# Problem
The Coronavirus site remains in a weird state where it is still a V2 site, but has Layout Builder enabled. This makes it a bit of a wildcard for some updates. Since the site is mostly (or completely?) transitioned to Layout Builder, it would be nice to finish that process and make that site a standard V3 site.

# Proposed solution
- [x] Confirm with client that it is okay to remove any r

[2020-10-16 13:59] richardbporter opened #2359 "Standardize multisite config split machine names"
### Problem
We cannot execute Drush/BLT commands targeting all multisite config splits because the machine names are all different. We (I) documented that multisite splits should be named the same as the URI. In hindsight, having them all be the same would be useful.

Ideally, we would be able to do something like this:
`blt uiowa:multisite:execute 'config-split:export site'`

### Proposed Solutio

[2020-10-16 14:05] pyrello opened #2360 "Remove instances of Spacer/Separator and remove from platform"
# Problem
Spacer/Separator should not be used anymore and we would like to completely remove it from our platform. However it is still in use on some sites. To be able to remove it, we need to deal with existing usages of it.

# Proposed solution
- [ ] Remove all current instances of this block type. This could be done manually or programmatically. We'll need to talk about how to handle older revi

[2020-10-16 14:30] joewhitsitt opened #2361 "Facebook Post oEmbed (v2/v3) is going to break 10/24"
## Issue

New and existing facebook post embeds will respond with a bad request.

## Proposed Solution
Wait for https://www.drupal.org/project/media_entity_facebook/issues/3176739

OR

Try implementing this https://www.drupal.org/project/drupal/issues/3176978#comment-13860046 using our existing core patch or via #2356

[2020-10-16 14:34] pyrello opened #2362 "Convert remaining instance of Page Title Hero to use feature image instead and remove block"
# Problem
We have a new solution to handle creating a standard page header with title, breadcrumb and a large background image. However there are still many instances of the Page Title Hero in use. To promote consistency and best practices, it would be nice to remove these and switch over to using the new standard way of handling this.

# Proposed solution
- [ ] Replace all current instances of Pa

[2020-10-16 18:48] #2048 closed, assigned to nobody

[2020-10-16 22:59] pyrello commented on #2297
The first question I see here is whether we want the label for each contact information section to be selected from a list of pre-determined options, set as a text field, or using a combination select/or text solution? My preference would be for the third option because it allows for commonly used options without the hassles of taxonomy tagging, but still allows for edge cases where people need to

[2020-10-19 13:57] joewhitsitt commented on #2286
Check with @makurj before taking this on to make sure it is still an issue.

[2020-10-19 14:01] cory-skeers commented on #2001
Closed by #2152

[2020-10-19 14:01] #2001 closed, assigned to cory-skeers

[2020-10-19 14:50] joewhitsitt commented on #2313
Added a known issue: https://sitenow.uiowa.edu/known-issues#uiowa-issues-2313

[2020-10-19 15:28] joewhitsitt commented on #2336
hr.uiowa.edu needs to be accounted when doing this. splitting off the uiowa_bar functionality to the hr split.

related: https://github.com/uiowa/uiowa/issues/1907

[2020-10-19 15:36] joewhitsitt opened #2364 "SiteNow People Manual Sort Styles"
## Issue:

Splitting this issue off from https://github.com/uiowa/uiowa/issues/2313 as they are unrelated and is less important. With the manual sort option of SiteNow People, the table drag styles have an abrupt cut off.

<img width="515" alt="Screen Shot 2020-10-08 at 11 14 14 AM" src="https://user-images.githubusercontent.com/4663676/95485554-87cb8980-0957-11eb-9fae-89a3c08ef0cb.png">

Steps to

[2020-10-19 15:41] pyrello commented on #2315
`test.prod.drupal.uiowa.edu`?
`testing.prod.drupal.uiowa.edu`?
`webdevtest.prod.drupal.uiowa.edu`?

To note, since we will only be using the internal prod domain, the drush alias file will need to be updated to point at the internal prod domain instead of what would be the production domain (e.g. `test.uiowa.edu`).

[2020-10-19 15:43] joewhitsitt commented on #2315
sandbox

[2020-10-19 15:45] richardbporter commented on #2315
I would vote to avoid `test` or `testing` - `sandbox` works for me.

[2020-10-19 15:48] mark-bennett-uiowa commented on #2315
Also vote sandbox.

[2020-10-19 16:15] joewhitsitt commented on #2297
So if I understand this correctly, the "other" option would have all of the contact fields available either as a "show all and leave them empty as optional" or the al a carte/pick and choose you described previously with paragraphs? The predetermined set would either have less fields and/or just act as a consistent label across the site.

I worry the predefined set would not get used unless it was

[2020-10-19 16:24] briand44 opened #2365 "Epic: Areas of Study pages and related functionality for Admissions"
# Motivation
The current Admissions website has a section where students can browse, search, and filter a list of areas of study. An area of study can include majors, minors, certificates, preprofessional programs, and online/off-campus programs. The student should be able to search by title and filter by type, college, academic group. The student can select an item from the list and view a page w

[2020-10-19 16:25] mark-bennett-uiowa commented on #2233
Added to SSL certificate for uiowa01 with latest update. Closing issue.

[2020-10-19 16:25] #2233 closed, assigned to mark-bennett-uiowa

[2020-10-19 16:27] mark-bennett-uiowa opened #2366 "Update SSL certificate on uiowa01 to include journalism.uiowa.edu and *.journalism.uiowa.edu for new media.journalism.uiowa.edu site."
Update SSL certificate on uiowa01 to include journalism.uiowa.edu and *.journalism.uiowa.edu for new media.journalism.uiowa.edu site.

[2020-10-19 16:28] mark-bennett-uiowa commented on #2366
Updated SSL certificate on uiowa01. Closing.

[2020-10-19 16:28] #2366 closed, assigned to mark-bennett-uiowa

[2020-10-19 16:47] mark-bennett-uiowa commented on #2349
@bspeare @pyrello So interior pages will remain the larger height? Pages such as:
[https://uiowa.edu/academics/areas-study](https://uiowa.edu/academics/areas-study)
[https://uiowa.edu/academics/leading-programs](https://uiowa.edu/academics/leading-programs)
[https://anthropology.prod.drupal.uiowa.edu/graduate](https://anthropology.prod.drupal.uiowa.edu/graduate)
On the frontpage of the uiowa.edu s

[2020-10-19 16:52] briand44 commented on #2297
My thoughts on this are if there is a way to keep this simple by just using https://www.drupal.org/project/address then I would be for that. Not sure if there is a text field component here that we could use as our Address Type?

Maybe:
Family Name = Address Type (Primary Office, Lab, etc) - Just a text field for a user to enter anything
Organization = Location Name (200A Eckstein Medical Research

[2020-10-19 16:56] bspeare commented on #2349
@mark-bennett-uiowa those are still using the "Hero" styles.   I imagine that moving forward we want to replace those with the new banner styles and put any future work into the banner component.

[2020-10-19 18:35] richardbporter commented on #2357
I don't think we can/should nest these form elements under a fieldset. The layout_builder_styles module has code that expects these form elements to only be one level deep.

[code]

This does not appear to be alterable either.

[2020-10-19 18:39] bspeare opened #2369 "Update layout-onecol--background template to use updated banner.html.twig template"
# Problem

The one column background template is still using the `hero.html.twig` template: https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/templates/layouts/onecol--background/layout--onecol--background.html.twig#L27.

# Proposed Solution

Update the template to use the `banner.html.twig` template and styles.

[2020-10-19 19:10] dnkemper commented on #2315
sandbox it is. Provisioned and merged into master!

[2020-10-20 13:24] cory-skeers opened #2374 "Reorder Collection block fields"
Headline is appearing below the collections paragraphs.

![image](https://user-images.githubusercontent.com/49074566/96591953-7797a080-12ad-11eb-9481-b56e71d94d94.png)

# Proposed solution

Reorder the fields, export the config.

[2020-10-20 13:54] pyrello commented on #2297
@joewhitsitt I think you may be getting ahead of my question. I was only asking about the label for a contact section and was not saying anything about how that would affect the rest of how it would be built. To me, how the label gets built is a little bit of a sticking point, whereas the rest of it could easily be a common set of fields that get filled out or not depending on whether they were ne

[2020-10-20 14:07] #2250 closed, assigned to cory-skeers

[2020-10-20 14:13] #2315 closed, assigned to dnkemper

[2020-10-20 14:50] #2374 closed, assigned to nobody

[2020-10-20 14:51] joewhitsitt commented on #2297
Sorry if I am jumping ahead. If the label is entirely separate and has no downstream functionality, I would lean towards the "pre-defined select or other" option. If there are downstream effects (e.g. availability/required), then yes, I would like to think ahead.

[2020-10-20 14:56] pyrello commented on #2297
I'm leaning towards a field collection (paragraph) that contains the label field and either a.) an address field, or b.) a set of comparable fields that can be used or not depending on the relevancy. These fields could be exposed through a further entity reference (e.g. Add an address, Add a phone number) or just be contained directly on the child paragraph entity. Either way, I wasn't imagining t

[2020-10-20 14:57] mark-bennett-uiowa opened #2376 "New banner style "gradient" overlay appears over entire image below 1350px wide"
On the frontpage image on [https://anthropology.prod.drupal.uiowa.edu/](https://anthropology.prod.drupal.uiowa.edu/) the banner image appears to have an overlay with no gradient (covers entire image uniformly) when under 1350px wide. You can see this more clearly when changing the overlay color to light, rather than dark:
<img width="1304" alt="Screen Shot 2020-10-20 at 9 47 08 AM" src="https://us

[2020-10-20 15:18] #2357 closed, assigned to nobody

[2020-10-20 16:05] dnkemper commented on #2242
Decided on sandbox.uiowa.edu

[2020-10-20 16:05] #2242 closed, assigned to dnkemper

[2020-10-20 16:23] joewhitsitt commented on #2287
Thanks for picking this up @dnkemper. I will forward the original email to you.

[2020-10-20 16:24] dnkemper commented on #2287
@joewhitsitt thank you so much!

[2020-10-20 16:38] cory-skeers opened #2377 "Rescope minimal/filtered html defaults"
# Problem
Default text format needs to be set site-wide, and exceptions handled through hooks. Originally, this was set for text areas to default to minimal, with filtered the exception. The addition of the scholarships content type has raised this as potentially opposite what it should be, with filtered the default and minimal the exception.

# Proposed solution
Config update to set ckeditor defa

[2020-10-20 16:56] pyrello opened #2378 "Adopt layout library to allow for providing multiple templates per content type"
# Motivation
Layout Library - https://www.drupal.org/project/layout_library - is a module that allows for multiple layout templates to be created per content type. A user can then select that layout as the starting point for the page instead of the default layout template. Currently, the way that the module works is counterintuitive - it only allows for selecting a layout template, but not for ove

[2020-10-20 17:21] joewhitsitt commented on #2328
I "enabled" the Google Tag container functionality on the v2 site (advisingcenter.prod).

[2020-10-20 17:49] joewhitsitt commented on #2328
Google tag manager method works (custom html tag, trigger all pages), but the element is un-styled and not-clickable as 0x0px.

<img width="834" alt="Screen Shot 2020-10-20 at 12 37 09 PM" src="https://user-images.githubusercontent.com/4663676/96623451-0669e480-12d1-11eb-8bf6-714b2f8d8c22.png">

So I guess the next step would be to have them setup a Google Tag account for this and for us to design

[2020-10-20 18:22] pyrello opened #2379 "Investigate integration with MAUI for Areas of Study"

[2020-10-20 18:23] pyrello opened #2380 "Investigate shared use case for Areas of Study"
# Motivation
As part of #2365, there is going to be a content type created for the Admissions website for an Area of Study. This task would be to investigate whether we can use some of these fields for a shared use content type of the same name.

[2020-10-20 18:54] richardbporter commented on #2263
Given the deprecated status of our D7 metadata generator application and the fact that it has endpoints for other sites outside our service, I think it makes sense to only do this for SiteNow v2/3.

We should enable it in the staging metadata first to test it out ourselves.

[2020-10-20 19:40] pyrello opened #2381 "Switch over to uiowa_search module"
# Problem
As part of the process of deprecating and eventually fully removing `uiowa_bar`, we need to switch to using `uiowa_search` to handle the search settings portion of what `uiowa_bar` was doing.

# Proposed solution
I think this will have to be solved in two PRs:
**First PR**
* Add `uiowa_search` to `core.extension.yml`
* Write update hook that sets the `uiowa_search` settings based on the

[2020-10-20 19:40] pyrello commented on #2381
Related to #2336

[2020-10-20 19:43] pyrello commented on #2336
I created a new issue to resolve the branding bar interface causing confusing: #2381. I'm not sure whether that means this issue can be closed in favor of that, or whether there is other work here that needs to be done.

[2020-10-20 20:11] joewhitsitt commented on #2328
This is barebones how I would alter this chat element to work. Ideally the before could be replaced with a fontawesome icon. Ultimately, I think it is not very accessible. It creates a clone element in the DOM as well. Anything between the `<span>` is stripped so I don't know how text can be added to this beyond pseudo elements. Also elements like UIDS' badge won't work without content within the

[2020-10-20 21:14] #2287 closed, assigned to dnkemper

[2020-10-21 14:11] richardbporter opened #2385 "Config split admin page not rendering select lists with Chosen"
### Problem
The config split admin UI is no longer rendering multiple select lists with Chosen. This makes it difficult to find config entities and mark them for a complete or conditional split.

### Proposed solution
Investigate why this happening now and if it is affecting other admin UI select lists. Refactor our sitenow chosen library to fix it. This may be a good time to investigate a chosen.

[2020-10-21 15:02] bspeare commented on #2328
**Notes from design meeting**

- What are the technical implementations of styling the chat button?
- Place on top of the content and disrupt or have it sit on the side with extra space?
- Style like a UIDS button to include text and icon?
- Current admissions chat button has animated gif to grab attention.

[2020-10-21 18:54] joewhitsitt commented on #2109
This came up as I am working on Admissions scholarships. Multiple values for multiple arguments. Though the views help text says I can pass them as comma separated to achieve ANDs, I get the same sql query for both methods:
<img width="560" alt="Screen Shot 2020-10-21 at 1 52 16 PM" src="https://user-images.githubusercontent.com/4663676/96769464-ca07b880-13a4-11eb-8bea-309fa718c659.png">
<img widt

[2020-10-21 19:21] bspeare opened #2386 "Add background color and padding adjustments to text area block"
# Problem

There is no way to recreate the two column layouts from the admissions viewbook site with the current text area.

<img width="1843" alt="Screen Shot 2020-10-21 at 2 18 17 PM" src="https://user-images.githubusercontent.com/1036433/96772147-55367d80-13a8-11eb-9efd-a1693ed10674.png">

# Proposed Solution

Add `Light` background color option in the "Background" setting and an `All sides lar

[2020-10-21 19:25] bspeare opened #2387 "Add additional background color options for banner block"
# Problem

There is not an option to set `Light` or `Gray` background options for the banner block.

# Proposed Solution

Add `Light` and `Gray` background options for the banner block.

<img width="1180" alt="Screen Shot 2020-10-21 at 2 10 17 PM" src="https://user-images.githubusercontent.com/1036433/96772707-25d44080-13a9-11eb-81d1-24de6a3730ec.png">

[2020-10-21 20:32] joewhitsitt commented on #2297
Field collection works for me, but I think it should be something like Contact Information > Contact Item (contact label and contact info fields where all the fields are there but optional). I am imagining a student migrating content over and they just want to start pasting values in instead more clicks to pick fields and arrange them consistently. I don't know if I understand the separate entity

[2020-10-21 20:48] dnkemper opened #4488 ".tippie.uiowa.edu SSL cert on uiowa02"

[2020-10-21 21:06] mark-bennett-uiowa commented on #2297
I believe I used the address module for the D8 version of people I wrote in the entity_types modules. Seemed to work pretty good, but that was months ago and Im not sure where current development or issues have gone with that. I liked the way it worked, but thought there were unnecessary fields included even in that module.

[2020-10-21 22:19] joewhitsitt commented on #2328
**Responses to design meeting notes**

More than normal. Anything between the <span> is stripped so I don't know how text can be added to this beyond pseudo elements.

Not sure where the extra space would come from. This won't belong on every site and uids_base wasn't built to pad out for things like this.

It would have to be done via pseudo elements for the text. Would it still float? This is de

[2020-10-22 13:44] ethanstjohn commented on #2175
Update: The documentation here is ready to be reviewed and is in a reviewed state.
https://sitenow.uiowa.edu/documentation/layout-builder-sitenow-v3-only/banner-block

[2020-10-22 13:46] bspeare commented on #2387
Map the `Light` option to `bg--light` and the `Gray` option should already be a defined style.

[2020-10-22 13:47] joewhitsitt commented on #2328
Fun fact, the button supplied by php live works via Google Tag manager works as-is. I dropped Admission's snippet into gtag and pulled into advisingcenter.local and the button displays. I suspect that the button shows/hides based on chat availability and that nobody is at the other end of AdvisingCenter's yet.
<img width="201" alt="Screen Shot 2020-10-22 at 8 46 14 AM" src="https://user-images.git

[2020-10-22 13:51] bspeare commented on #2386
- Map the `Light` option to `bg--light`.
- The `All sides large` option should added here https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/global.scss#L212 and be set to `6rem`

[2020-10-22 14:29] joewhitsitt opened #2390 "Promote Training Sessions in Site Create Email Templates"
Add to the site created emails in sitenow.uiowa.edu request-site webform (linked text).

Attend a SiteNow v3 Tutorial/Workshop Session (https://hpproject.sites.uiowa.edu/forms/sitenow-v3-session-signup)

[2020-10-22 14:37] joewhitsitt commented on #2328
I have added the advising center snippet to a new container within the uiowa gtag and added the container to the advising center's new site. The code is there, but the button doesn't show. Waiting for confirmation from Scott about whether or not this shows/hide based on staff availability.

[2020-10-22 15:47] #2220 closed, assigned to nobody

[2020-10-22 15:47] #2319 closed, assigned to nobody

[2020-10-22 18:09] joewhitsitt opened #2391 "Aggregator Documentation"
New functionality: https://github.com/uiowa/uiowa/pull/2296

[2020-10-22 18:39] joewhitsitt commented on #2313
This issue has also come up with the PHP Live Chat (text version) that we tried to implement for advisingcenter. The JS for that pulls into the website some table markup (layout purposes, not data). We can't control this markup to apply any opt-out classes.

I think we need to revisit the scoping of the responsive table functionality.

[2020-10-22 20:17] joewhitsitt commented on #2328
Waiting for client to establish their own GTAG container.

[2020-10-22 20:55] joewhitsitt opened #2392 "Parent Title Field Docs"
New functionality: https://github.com/uiowa/uiowa/pull/2152

[2020-10-22 20:55] joewhitsitt opened #2393 "Changes to Revisions Behavior Docs"
Recent changes to node_revision_delete appear to not count draft items towards the max count. Some testing with revisions (all published, mix of states, all drafts) should be done to confirm this behavior.

https://sitenow.uiowa.edu/documentation/content-moderation-and-workflow

[2020-10-22 21:02] joewhitsitt opened #2394 "News Article - Sprint 10/15-10/29"
## Issue/Solution

Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Write article with "release notes"
  - Bullet points from demo stories slide
  - Check recent "done" items and finished docs tasks.
- [x] Dispatch email with link to article.
- [x] Create the next sprint's issue and copy all this bullet list into

[2020-10-22 21:30] richardbporter commented on #2343
I had some issues with the module. I think an htaccess rule would work in combination with APE. I'll start on that.

[2020-10-22 21:35] briand44 commented on #2343
One benefit of the module I thought was that it would allow a customized message. What will people see with this restriction in place if they are off campus and off VPN? The 403 access denied?

[2020-10-22 21:36] richardbporter commented on #2343
Yes, a 403.

[2020-10-23 12:46] briand44 opened #2396 "Event content type"
This issue has been re-written based on recent discussions.

Building upon #3170, the idea is to extend the event content type for Admissions and create a separate content type for "Event Series".

## Proposed Solution

As a webmaster I can create an Event Series piece of content for marketing purposes that provides a general overview and pulls together related event instances without sacrificing

[2020-10-23 12:52] briand44 commented on #2396
@scottfi - I am curious about the Virtual featured event field. Is this currently being used and is this something you would like to continue to exist? If so, can you explain how this functions?

Also, there currently is the ability to upload image(s) that would then appear in a slideshow at the top of the page. Is this functionality needed or is there any need for the ability to add images outsid

[2020-10-23 13:37] joewhitsitt opened #2397 "Update lazy to 3.6"
## Issue

We lost the fade-in effect in https://github.com/uiowa/uiowa/pull/2160, https://github.com/uiowa/uiowa/pull/2160#issuecomment-710357346

## Proposed Solution

Evaluate the latest 3.6 version if this is fixed
https://www.drupal.org/project/lazy/issues/3171723

In testing, make sure images are locally loading and not supplied by stage_file_proxy.

[2020-10-23 13:39] joewhitsitt commented on #2361
Going to try this patch: https://www.drupal.org/project/media_entity_facebook/issues/3176739#comment-13880282

[2020-10-23 14:00] scottfi commented on #2396
The virtual and featured event fields are something we added when we moved all our visit events to virtual/zoom last spring. I think the answer to whether it is needed or not depends on when our new site rolls out (and if we're still offering virtual only  events). We've switched this content type around several times over the past 4-5 months to adjust for the types of events we've been offering.

[2020-10-23 15:21] richardbporter commented on #2391
Drafted: https://sitenow.uiowa.edu/documentation/layout-builder-sitenow-v3-only/rss-feeds Please make changes there if anyone thinks of something. Otherwise, I'll probably publish and close this later today.

[2020-10-23 15:22] richardbporter commented on #2391
Actually, it references the parent title docs so we'll need those first. https://github.com/uiowa/uiowa/issues/2392

[2020-10-23 15:27] joewhitsitt commented on #2175
Thanks. Published

[2020-10-23 15:27] #2175 closed, assigned to ethanstjohn

[2020-10-23 15:45] joewhitsitt commented on #2317
Another use-case was mentioned where using person for counselors would be beneficial. There will be a local event content type in the future (#2396) and Admissions needs to be able to relate a counselor to an event. If this event functionality grows in usage, it would be easier to offer that relationship piece using a content type every site already has.

[2020-10-23 20:25] cory-skeers commented on #2385
Couple things:

It looks like the specific issue is related to a change in config_split, which is set to automatically switch to a checkbox form unless drupal/chosen or drupal/select2_all is installed. This check can be overridden in a state variable `\Drupal::state()->get('config_split_use_select')`, which is annoying, because it's a state variable and not config.

Quick fix could be something to

[2020-10-26 19:27] bspeare opened #2403 "Add background video loop functionality to banner block"
# Problem

The current banner block does not allow for a video loop to be uploaded into the block.

# Proposed Solution

Create a "Video" option within the "Background" options of the banner block where users can upload local video files.

## Next steps

- [ ] Integrate UIDS work from uids#394

## Accessibility fixes

- [ ] Change markup in hero block template to disable autoplay by default and dy

[2020-10-26 19:35] bspeare opened #2404 "Change banner link field settings to allow for 3 links to be added for button rows"
# Problem

The current banner block only allows for one banner link button to be placed within the block.

# Proposed Solution

Change the banner link field to allow up to 3 links to be placed within a banner block.

## Next steps

- Change banner_link field to allow multiple links
- Adjust banner template in `uids_base`
- If necessary, adjust UIDS component to allow for a button row: https://uids

[2020-10-26 19:45] bspeare opened #2405 "Change featured image field to allow users to set different heights"
# Problem

Users have requested the ability to set different heights on their featured images in order to reduce page scrolling.

<img width="1842" alt="Screen Shot 2020-10-26 at 2 41 32 PM" src="https://user-images.githubusercontent.com/1036433/97220427-77aa0b80-1799-11eb-92b2-45d952a3f600.png">

# Proposed Solution

Utilize the banner block refactor sizes to allow for users to set a small, mediu

[2020-10-26 20:04] bspeare opened #2406 "Add ability to position card button at the bottom of the card"
# Problem

Card buttons are positioned immediately below the card title and body.

# Proposed Solution

Add a layout builder style option to the card to position a button at the bottom of a card.

<img width="1781" alt="Screen Shot 2020-10-21 at 12 13 50 PM" src="https://user-images.githubusercontent.com/1036433/97222451-6e6e6e00-179c-11eb-9422-d7d007ce0403.png">

# Next steps

<img width="276" al

[2020-10-26 20:18] bspeare opened #2407 "Allow users to add a class or icon to the last item in their main menus"
# Problem

There is a lack of CTA options within the current website header.

# Proposed Solution

Allow users to add a class and/or icon to the last item in their main menu in order to create a button style for important links.

<img width="1267" alt="Screen Shot 2020-10-21 at 12 16 17 PM" src="https://user-images.githubusercontent.com/1036433/97223934-729b8b00-179e-11eb-922d-6532c89c80ec.png">

[2020-10-26 21:58] briand44 opened #2409 "As a prospective student, I can view detailed profiles of current students on the admissions website"
# Request
Admissions would like to have a page for teasers of student profiles (https://admissions.uiowa.edu/student-profiles). These teasers consist of a first name, photo, major and a quote and links to the students full profile. The full profile consists of a photo, first name only (they don't show last name of students), quote, major, hometown, bio and a videos if they exist.

They need the ab

[2020-10-27 17:02] joewhitsitt opened #2410 "SSL Cert - *.tippie.uiowa.edu, tippie.uiowa.edu on uiowa02"
## Issue

italymba.tippie was provisioned on uiowa02, but is not covered by a cert. The domain is already mapped and content is being staged. Assuming, tippie is also provisioned, it should live on uiowa02 as well.

https://github.com/uiowa/uiowa/pull/2388

[2020-10-27 18:14] pyrello commented on #2298
Possibly related to #2396

[2020-10-27 18:15] pyrello commented on #2396
@mark-bennett-uiowa Wanted to check in with you about how you intend to use local events on your sites and how that might intersect with this.

[2020-10-27 18:32] joewhitsitt opened #2411 "Tippie - ImageAPI Optimize configuration"
## Issue

Tippie is trying to implement the ImageAPI Optimize module with http://resmush.it/ but is having issues with the default setup that allows uploading to the private file system.

## Proposed Solution

Checkout the feature branch and test the functionality. If the private option can be removed safely, form alter and remove access/disable to allow the form to be successfully submitted. The

[2020-10-27 18:52] joewhitsitt commented on #2403
If placeholder image still exists, I suggest using the existing image field for that and creating a separate video field. This will ease any logic about the media type

[2020-10-27 19:15] pyrello commented on #2407
Here are some ideas that were discussed for how to handle this:
* We could enable a module such as https://www.drupal.org/project/menu_link_attributes, set the permissions so that only Admins are able to add a class. This would allow us to limit usage. This could be done pretty rapidly and allow us to meet the request for Admissions without having to figure out a more complicated solution right aw

[2020-10-27 19:57] #2385 closed, assigned to cory-skeers

[2020-10-27 20:03] cory-skeers opened #2412 "Upgrade from deprecated Chosen for select lists"
# Problem

We're currently using the Chosen jQuery library (https://github.com/harvesthq/chosen) to make select lists more user friendly, which has since been deprecated. It is currently functional, but support and updates are no longer being offered.

# Where it is used

**Authenticated:**
- SiteNow node edit forms
- Layout builder styles

**Anonymous:**
- Wellbeing filters
- Academic calendar

#

[2020-10-27 20:50] pyrello opened #2413 "Add background.scss to uids_base to accommodate changes to UIDS."

[2020-10-27 21:05] mark-bennett-uiowa commented on #2396
@pyrello I have preferred that departments and other university units in CLAS use the event system. They have the ability to post events on content hub and mark them as private if they dont want the events showing up on events.uiowa.edu. However, there is the possibility that a center (e.g. The Sloan Center) either doesnt have the ability or the tagging capabilities of doing this. So, in the rare

[2020-10-27 21:39] joewhitsitt commented on #2317
Hearing no objections, as it relates to #2212, extending the person content type for Admissions' Counselor is the step forward. How it is implemented on the person content type should be addressed in #2212 and special consideration for #2291  should be taken.

[2020-10-27 21:39] #2317 closed, assigned to nobody

[2020-10-27 21:40] joewhitsitt commented on #2212
No longer blocked by https://github.com/uiowa/uiowa/issues/2317. Extending the person content via #2291  is the current approach.

[2020-10-28 13:32] #2348 closed, assigned to ethanstjohn

[2020-10-28 13:38] joewhitsitt commented on #2291
@pyrello i think you mentioned that if given the chance, you would do the person type differently. Could you elaborate?

I noticed this is a taxonomy based field currently and the show/hide of fields depends on a partial term name match to the field machine name. What happens if fields are shared between certain types?

[2020-10-28 15:24] marcelovani commented on #488
If you have memcached enabled, you better clear it before you reinstall a site

[2020-10-28 15:34] joewhitsitt opened #2416 "SiteNow People Show Row Weights Not Working"
## Issue

This is an old issue since before v2 MVP, and I think we are going to hide the button in the short term, but it should be addressed.

## Proposed Solution

- Investigate updating draggableviews to the latest version, because this appears to have been fixed.
- If resolved, update known issue: https://sitenow.uiowa.edu/known-issues#uiowa-issues-467

https://www.drupal.org/project/draggable

[2020-10-28 15:35] joewhitsitt commented on #2416
Related: Known Issue Docs https://github.com/uiowa/uiowa/issues/467

[2020-10-28 16:45] richardbporter commented on #2379
There is not much information in MAUI besides basic info like name, department, etc. The current admissions site areas of study is much more than that. Leveraging MAUI would either be:

- a one time import
- continuous import
- something dynamic with augmented local data

A desired starting point for the new site is the current site and _not_ MAUI.  Leveraging MAUI might be useful for automating a

[2020-10-28 16:45] #2379 closed, assigned to nobody

[2020-10-28 20:40] dnkemper opened #2417 "Add 'no results' display to RSS feeds block dropdown field & webform block"
The feeds displays as a blank dropdown when there are no feeds available, and the arrow is unclickable (bc nothing to select since nothing exists). Thought it would be smart to display 'No feeds available' instead of a blank dropdown box. Also, for the webform block. If there are no webforms available, let the user know
![image](https://user-images.githubusercontent.com/16872949/97494169-f0dd6600-

[2020-10-28 20:42] dnkemper opened #2418 "Fix webform block submit button color with gray section background"
<img width="1064" alt="Screen Shot 2020-10-28 at 3 19 47 PM" src="https://user-images.githubusercontent.com/16872949/97494289-1b2f2380-1934-11eb-9356-608b64f5668f.png">

[2020-10-28 20:45] dnkemper opened #2419 "Fix/add headline styling for image gallery block"
Either fix or add headline styling for the image gallery block to display it above block instead of next to it. Looks especially wonky when the bold, highlighted styling is selected
![image](https://user-images.githubusercontent.com/16872949/97494543-6ba68100-1934-11eb-8940-ecd98e5f7b0e.png)

With `flex basis: 100%`

![image](https://user-images.githubusercontent.com/16872949/97494629-8bd64000-193

[2020-10-28 21:06] joewhitsitt opened #2421 "Node/1 Tours Conflict"
## Issue

tour.tour.getting-started.yml is conflicting with tour.tour.current-page.yml and is inflating the tour tips count.

## Proposed Solution

Salvage the good of getting-started and move it into current-page. Delete getting-started.

[2020-10-28 21:40] pyrello commented on #2291
@joewhitsitt That is an excellent question. Right now, the functionality that I built would not accommodate a field that is shared between two person types. So, the presumption at this point is that if it is shared, it is shared with all person types.

I think that if I was redoing this, I would possibly use some type of configuration entity that would allow a mapping between a person type and a s

[2020-10-28 21:42] dnkemper opened #2423 "Add SSL for transportation.uiowa.edu on uiowa02"

[2020-10-29 13:35] #2421 closed, assigned to dnkemper

[2020-10-29 13:37] bspeare opened #2425 "Implement and test card template refactor for event, events, aggregator, articles, people"
# Issue

Now that the card option updates from UIDS have been implemented in https://github.com/uiowa/uiowa/issues/2306, additional work is necessary to implement and test these updates with the `v2` and `v3` custom blocks, paragraphs, feeds, and content types that use the card template for their displays.

## Template updates

- [x] Update event template to implement updated card template.
- [x]

[2020-10-29 13:54] #2377 closed, assigned to nobody

[2020-10-29 13:57] joewhitsitt commented on #2291
I could get behind the config entity if there was more than a select option being added, but config entities (e.g. image styles, layout builder style options) aren't designed to hold content or present additional fields (where would the field values be stored?). Do you have an example where another module is doing what you describe? If the desire is for less noodle code, I am not sure that will be

[2020-10-29 14:01] bspeare opened #2426 "Implement card background color options and test card template refactor for a11y"
# Issue

We are moving the events and aggregator template to use the updated card template and this issue will need to be completed so that each event and aggregator item on the Admissions website will render without a fixed white background.

Add color background options for white, black, gray, and gold for the card component and test them with various background combinations.
- [x] Adjust LBS bl

[2020-10-29 14:04] bspeare opened #2427 "Implement headline refactor from UIDS into uids_base"
# UIDS Headline refactor

A headline refactor and background component was added in https://github.com/uiowa/uids/pull/392 and these changes will need to be implemented into `uids_base`.

- [x] Update references to LBS background color names in component `scss` files.
- [x] Update class names to remove legacy classes like `bold-headline`.
- [x] Update Headline template to reflect class name refact

[2020-10-29 14:16] #2361 closed, assigned to joewhitsitt

[2020-10-29 14:16] #2397 closed, assigned to joewhitsitt

[2020-10-29 14:19] #2343 closed, assigned to nobody

[2020-10-29 14:30] #2214 closed, assigned to joewhitsitt

[2020-10-29 15:14] joewhitsitt opened #2428 "Allow feed items beyond the 6 month/25 max limit"
## Issue

Some feeds contain an archive of content that extends beyond the 6 month limit. This would help avoid importing this type of content.

Example Newsletter Archive
https://apps.its.uiowa.edu/dispatch/archives/past/--iowa-law---september-25-lxj144j

https://careers.prod.drupal.uiowa.edu/gaining-experience

## Proposed Solution

Special consideration should be given to database sizes and que

[2020-10-29 15:54] bspeare commented on #2387
@ethanstjohn, a small correction on this.    The `Light` option should be `White` and map to the class `bg--white`.

[2020-10-29 16:12] #2392 closed, assigned to dnkemper

[2020-10-29 16:22] dnkemper commented on #2391
@richardbporter since the parent title docs are finished, this can be published!

[2020-10-29 16:43] #2416 closed, assigned to joewhitsitt

[2020-10-29 17:01] ethanstjohn commented on #2387
Good to know! thank you

[2020-10-29 17:20] #2355 closed, assigned to nobody

[2020-10-29 17:20] #2410 closed, assigned to nobody

[2020-10-29 17:20] #2423 closed, assigned to nobody

[2020-10-29 17:22] richardbporter commented on #2391
Thanks. For some reason, I'm having trouble finding them. Could you point me to them?

[2020-10-29 18:41] richardbporter commented on #2391
Oh it looks like it was added to each block documentation. I was thinking we would split that out and link to it so we don't duplicate docs. Maybe we can do that at a later point. Thanks!

[2020-10-29 18:41] #2391 closed, assigned to nobody

[2020-10-29 18:59] richardbporter commented on #2428
I didn't really think about this at first but maybe unlimited feed items is a custom engagement? The aggregator config could be split for a site and changed. It is fairly simple config. This might be a short-term fix and we could look to increase the standard limit later on.

Unfortunately, the config sets all feeds import and clear durations. Maybe we could override this somehow if desired.

~~We

[2020-10-29 21:05] pyrello commented on #2413
Closed in favor of #2426

[2020-10-29 21:05] #2413 closed, assigned to nobody

[2020-10-29 22:04] joewhitsitt commented on #2394
Draft: https://sitenow.uiowa.edu/node/401

[2020-10-29 22:06] joewhitsitt opened #2432 "SiteNow Updates News Article - November"
## Issue/Solution

Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Draft an article with "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  - See https://sitenow.uiowa.edu/news/2020/10/updates-october-15-29th as an example.
  - Bullet points from demo

[2020-10-30 13:55] joewhitsitt commented on #2394
Scheduled for 9 AM

[2020-10-30 13:55] #2394 closed, assigned to joewhitsitt

[2020-10-30 15:11] mark-bennett-uiowa opened #2433 "Adjust CSS for top entry on news block"
As can be seen on this page: [https://americanstudies.prod.drupal.uiowa.edu/news](https://americanstudies.prod.drupal.uiowa.edu/news), the top border still appears on the first news entry for the listing block.
<img width="1333" alt="Screen Shot 2020-10-30 at 9 57 51 AM" src="https://user-images.githubusercontent.com/3067017/97720878-c9eb7500-1a96-11eb-8f29-cf3e0ef34e95.png">

Setting the followin

[2020-10-30 16:15] dnkemper opened #2434 "SSL for 3mlearning.uiowa.edu on uiowa02"

[2020-10-30 16:46] joewhitsitt commented on #2428
Honestly, not sure if the unlimited listing is required if the source can still be linked to (more link). Going to mark this as postponed for now. Law requested this, but doesn't have a v3 website yet.

[2020-10-30 16:58] richardbporter commented on #2380
I don't have a lot of experience building areas of study for D7 sites so I'd like to hear from others but a shared use case for this seems difficult for a few reasons:

- Highly specific, custom requirements.
- Customer preference for migrating content from existing site.
- Time/budget (?).

Also, building specifically for admissions does not preclude us from sharing later on.

I mentioned in #237

[2020-10-30 16:58] joewhitsitt commented on #2409
Per @briand44, Content Type might not be needed for this. Instead an alias pattern would used instead.

[2020-10-30 17:10] joewhitsitt opened #2436 "Add weight module"
# Story

## Display
Alternate sorting options in view displays
As a site visitor,
I want to view a list of scholarships which has been pre-sorted
so that I can quickly and easily find the scholarships that are most important to me.
## Backend UI
Weight module to set priority content
As a site owner
I need to be able to organize my scholarship content individually
so that I can prioritize the end u

[2020-10-30 18:29] dnkemper commented on #2391
@richardbporter oops sorry! I figured this way it would focus on the specific block they're needing help with instead of being redirected to a new page? Since the documentation is currently set up that way?

[2020-10-30 18:43] richardbporter commented on #2380
Another option would be to build this out for admissions and then leverage JSON API to "feed" the content out to other websites that want to display it. Maybe even with department filters and such. That way, we don't have to worry about the the complexities of CM but we're still able to "share" the functionality.

[2020-10-30 18:55] GaryRidgway commented on #2407
My preference would be to option two, so that users(with high perms potentially) can perform the function if they desire and we don't have to do any work after the functionality is created. I think it would be valuable to make it as hands off as possible.

[2020-10-30 18:59] GaryRidgway commented on #2405
I think this should be implemented on the edit screen just under the featured image so that it is not confusing to find all of the functionality for the featured image. Keeping it in the same place that the featured image is selected drives home the functionality and purpose of the option, and makes sure users know exactly what it relates to.

[2020-10-30 20:14] pyrello commented on #2380
@richardbporter Thanks for your thoughts on this.

To clarify, I wanted to see how much overlap there was between what we would build for admissions (which is highly specific to their use case) and for other sites that might want to display this type of information, but probably only need a handful of fields. I'm not sure, but I think that @mark-bennett-uiowa had expressed that this would be usefu

[2020-10-30 20:19] pyrello commented on #2380
Here are a few examples I could find:
* https://clas.uiowa.edu/departments-and-divisions/majors-minors
* https://uiowa.edu/academics/areas-study
* https://grad.admissions.uiowa.edu/graduate-areas-of-study

[2020-10-30 20:44] joewhitsitt opened #2437 "SiteNow People weight values showing to public"
## Issue

<img width="676" alt="Screen Shot 2020-10-30 at 3 43 37 PM" src="https://user-images.githubusercontent.com/4663676/97755184-b48e3f00-1ac6-11eb-9808-3227282dca39.png">

## Proposed Solution

Figure out how these are hidden for the drag handles and do the same. Check the module issue queue for solution.

[2020-10-30 20:47] pyrello opened #2438 "Build the base Area of Study content type"
# Motivation

As part of #2365, we need individual pages to show information related to Areas of Study.

# Story

As a site visitor I want to be able to search for information about Areas of Study.

# Proposed solution

- [x] Build a base Area of Study content type that consists of the shared fields that are needed for both the Admissions and Grad Admissions sites.
- [x] Create an Area of Study fe

[2020-10-30 20:56] mark-bennett-uiowa commented on #2380
@pyrello nailed this for the main use case for CLAS. I could also see this being used in a Person type for tying people to areas of research or creative work, but that opens up a slightly different use case. In D7, we created a separate content type called Research, and entity referenced it from a field in the person content type. That way we could display the areas of research under a Person, as

[2020-10-30 21:06] pyrello opened #2439 "Investigate how to handle theming for an Area of Study page"
# Problem/motivation

An Area of Study page on the current Admissions site has a lot of structured information that is displayed in a very specific way: https://admissions.uiowa.edu/academics/accounting. In the new version of the site, there is going to be a need for this type of page as well. There are different options for how this can be handled in Drupal 8. This can be accomplished by either c

[2020-10-30 21:11] mark-bennett-uiowa commented on #2380
@pyrello @richardbporter Im envisioning something simple to start, such as:

- **Area of Study** (Name)
- **Degree(s) Offered** (the same list Sean has on the Grad Admissions site, just include the Undergraduate degrees; BA, BS, BSc, etc)
- **Description**
- **Category** (this comes into play with groups (see [https://uiowa.edu/academics/areas-study](https://uiowa.edu/academics/areas-study) and [h

[2020-10-30 21:14] pyrello commented on #2439
As I'm thinking about it, one consideration is that the layout template route would allow for defining a separate template for the content type for both a base use case (#2380) and admissions more fleshed out version of the content type.

[2020-10-30 21:36] pyrello opened #2441 "As an Admissions site owner, I can view a fully styled version of an Area of Study page"
# Motivation

As part of #2364, we need to theme the Area of Study page.

# Proposed solution

Tasks should be defined here once #2439 is completed.

[2020-10-30 21:54] #2437 closed, assigned to joewhitsitt

[2020-10-31 14:33] pyrello opened #2442 "Add slis.uiowa.edu site split and enable Migrate UI module"
# Motivation

SLIS has an idea for being able to migrate their content using Migrate UI and a database server than can be exposed for access from an Acquia Cloud container.

# Proposed solution

- [ ] Locally sync slis.uiowa.edu: `blt ds --site=slis.uiowa.edu`
- [ ] Create a site split for slis.uiowa.edu (named `site_slis_uiowa_edu`)
- [ ] Enable Migrate and Migrate UI modules
- [ ] Add related co

[2020-10-31 14:43] pyrello opened #2443 "As a prospective student, I can start an Areas of Study search on the Admissions homepage"
# Motivation

As part of #2365, Admissions would like a search block that can be placed on their homepage that will allow a prospective student to start a search for an Area of Study. The search block doesn't need to have any functionality other than being a form that will initiate a search on the Areas of Study page. Given the example given (see below), it seems like this feature is pretty straig

[2020-10-31 14:46] pyrello opened #2444 "As a prospective student, I can search and filter a page listing Areas of Study on the Admissions site"
# Motivation

As part of #2365, we need to build a search page for Areas of Study that allows filtering by terms that are associated with the Area of Study content type.

# Proposed solution

- [ ] Build a view of Areas of Study content type
- [ ] Build exposed filter that allows searching and filtering by associated terms
- [ ] Implement autocomplete on exposed search field

Additional tasks may

[2020-10-31 14:55] pyrello opened #2445 "Investigate using Acquia Search to build Areas of Study search page"
# Motivation

In discussing the Areas of Study search page with Admissions, they provided an example of search functionality that they like: https://www.arizona.edu/degree-search/majors?search=art. Creating a page like this may be facilitated by using a search backend for Search API like Apache Solr. I believe we have access the Acquia Search product as part of our subscription to their service.

[2020-10-31 15:10] pyrello opened #2446 "As Admissions staff, I can access a printable version of an Area of Study page"
# Motivation

Admissions staff currently have the ability to access a printable PDF version of Areas of Study pages that is generated directly from the content on their website. These PDFs are formatted differently than their associated page. The generation is handled in Drupal 7 via the print module.

# Proposed solution

Expose a printable PDF version of Areas of Study page.

## Example
[Account

[2020-10-31 18:19] pyrello opened #2447 "Epic: Grad College Programs and Certificates"
# Motivation

The Graduate College has listing pages of programs and certificates:
https://www.grad.uiowa.edu/programs/alphabetically
https://www.grad.uiowa.edu/programs/by-discipline
https://www.grad.uiowa.edu/programs/interdisciplinary-graduate-programs
https://www.grad.uiowa.edu/programs/graduate-certificate-programs

The listings link off to associate program pages on the relevant website. The

[2020-11-02 14:26] bspeare commented on #2409
Updated the issue with a user story section.

[2020-11-02 14:39] #2434 closed, assigned to joewhitsitt

[2020-11-02 14:39] #2158 closed, assigned to joewhitsitt

[2020-11-02 15:07] bspeare opened #2457 "As a prospective student, I can view a student profile page on the admissions dev website"
Story split from epic: https://github.com/uiowa/uiowa/issues/2409

**Investigate and create content type:**
  - Can we use the profile content type as a base for the content type/design or is this a completely new content type?
  - What part (if any) can be used in the default profile vs what goes in a split?
  - If this is new, can it be used for other colleges?
    - The fields look like standar

[2020-11-02 15:08] bspeare opened #2458 "As a prospective student, I can view teasers of the student profiles on an overview page"
Story split from epic: https://github.com/uiowa/uiowa/issues/2409

**Deliver basic overview views page and a custom block:**
- Create a /student-profiles page in views and map to card template for initial theming.
- Can we use the existing people view/block?
	- If so, can we add in the ability to filter based on state, country, and other attributes?

*Acceptance Criteria* :  A /student-profiles vi

[2020-11-02 15:16] joewhitsitt opened #2459 "Reinstall classrooms.prod.drupal.uiowa.edu as v3"
## Issue

Customer wants to start fresh with a v3 site. classrooms is located on `uiowa`

## Proposed Solution

- Confirm classrooms' blt.yml file does not include `split: sitenow_v2`. If it does, remove/commit/deploy all the way to PROD before continuing.
- `drush @classrooms.prod sql-drop`
- `drush @uiowa.prod ssh`, `cd ../acquia-files/sites/classrooms.uiowa.edu/files`
- `mkdir ../delete`, `mv *

[2020-11-02 17:08] #2306 closed, assigned to pyrello

[2020-11-02 17:20] joewhitsitt commented on #2459
Install done.

Added wiki: https://wiki.uiowa.edu/display/drupaldev/Re-Install+SiteNow+Website

[2020-11-02 17:20] #2459 closed, assigned to joewhitsitt

[2020-11-02 17:47] #2297 closed, assigned to joewhitsitt

[2020-11-02 18:00] joewhitsitt commented on #2425
Is there a consumable diff somewhere that illustrates the types of changes needed here? Also, is this blocked by anything?

[2020-11-02 18:07] bspeare commented on #2425
I think we updated the templates that I checked off above in the previous PR and this is not blocked by anything.

[2020-11-02 18:09] GaryRidgway commented on #2425
I've got a branch started for this, give me a moment and I will push it up so we can all work on it together
https://github.com/uiowa/uiowa/pull/2461 is the PR,
`i2425-card-template-rafactor` is the branch name

[2020-11-02 20:26] joewhitsitt commented on #726
fyi, this is now easier with Aggregator on v3.

[2020-11-02 20:29] richardbporter commented on #2380
So just a list field of these options? Where are those?

[2020-11-02 20:54] briand44 opened #2463 "Port Drupal 7 APR module to Drupal 8"
Remaining issues:

- [x] Get directory introduction to show up
- [x] Add form validation for config page routes and paths
  - Otherwise the returned HTML does not output correctly if routes are bad, conflicting, etc.
- [x] Fix double slashes in sitemap controller output
- [x] Theme everything

[2020-11-02 21:26] richardbporter commented on #2380
All of the areas of study on https://clas.uiowa.edu/departments-and-divisions/majors-minors link to the general catalog (which kinda goes back to my previous comments). It looks like we'll need a link field as well.

[2020-11-02 22:21] briand44 opened #2464 "Review transportation.uiowa.edu and let them know what may need to be custom development"
cost calculator
facilities and mapping
translations

Dagong Wang is the person asking for this. April Wells, Erin Shane and Chik-Lun Woo (Janet) were also in the meeting where this was requested.

[2020-11-02 22:31] mark-bennett-uiowa commented on #2380
@richardbporter A link field, absolutely. However, are you envisioning a link field for each degree? All the CLAS degrees are separate pages. For instance, the area of study is Anthropology. The degree options are PhD in Anthro, MA in Anthro, BA in Anthro, BS in Anthro, Minor in Anthro, Museum Studies Certificate. Each have their own link.

[2020-11-03 04:12] ethanstjohn commented on #2387
I have been working on this and I believe I got the gray part to work, however, the white part seems to show as transparent when I look at my default site. I may need some backup.

[2020-11-03 15:23] joewhitsitt opened #2467 "IRRC - New People Grouping Display"
## Issue

https://iowareadingresearch.org/people - request for new grouping display

The new category we need is: Postdoctoral Research Staff
ALSO change view display of all people views for their page

## Proposed Solution

Same but different: #2287

[2020-11-03 15:58] richardbporter commented on #2463
If we want to own this module then we'll probably want to move it alongside our other repos if not just part of uiowa/uiowa.

https://git.uiowa.edu/java/uiowa-apr-d7/
https://git.uiowa.edu/java/uiowa-apr-d7/-/issues/15

[2020-11-03 15:59] richardbporter commented on #2463
If anyone cannot access the above links, please contact me.

[2020-11-03 16:33] richardbporter opened #2470 "PHP warning on basic page manage display settings admin page"
# Problem
There is a PHP warning showing when administering display settings for basic page:
[code]

# Steps to reproduce
 - As an admin locally, go to admin/structure/types/manage/page/display.
- See warning.

# Proposed solution
Investigate cause and fix! Didn't do much digging yet...

[2020-11-03 17:55] joewhitsitt commented on #2425
event -> card, one thing i have noticed is that the event was transparent. (e.g. uiowa.edu event items are white on gold after making the change). each of these block types don't have the style selection options currently and I am not sure if that is in scope for this issue.

[2020-11-03 18:09] bspeare commented on #2425
@joewhitsitt https://github.com/uiowa/uiowa/pull/2462 is bringing in the background color updates.   We might need to move this work over to that pr once you and Alan have the templates finished for complete `a11y` tests.

[2020-11-03 18:55] joewhitsitt commented on #2464
cost calculator looks fairly d8/d9 port friendly

[2020-11-03 18:57] joewhitsitt commented on #2427
broken link in description. https://github.com/uiowa/uids/blob/main/src/components/headline/headline.twig

[2020-11-03 19:55] bspeare commented on #2458
Planning notes:
- MVP is a student profiles view and custom block (with exposed filters?) within one views display.

[2020-11-03 20:21] joewhitsitt commented on #2411
@makurj is this still an issue?

[2020-11-03 20:23] makurj commented on #2411
@joewhitsitt not sure yet. I'll update this once I know one way or the other.

[2020-11-04 14:35] joewhitsitt commented on #2291
This came up in grooming yesterday as a blocker to some other issues. @pyrello can you elaborate on the config entity route (pros, cons, how the fields portion would work, example of something similar), and/or are you willing see a PR proof of concept for the "allowed values" approach in order to get this initially pointed and moving along?

It sounds like we agree that the taxonomy approach might

[2020-11-04 17:15] #2387 closed, assigned to ethanstjohn

[2020-11-04 21:41] pyrello commented on #2291
@joewhitsitt I think that we could use something like this: https://git.drupalcode.org/project/config_terms/-/blob/8.x-1.x/config/schema/config_terms.schema.yml. Either the module itself, or a stripped down version of it. I think this module provides a pretty complete vision for a path forward.

Definitely interested in a proof of concept PR to get something working.

I struggled with wanting to m

[2020-11-04 22:15] joewhitsitt commented on #2291
Okay, pair your comment with our Slack conversation just now and I think I understand now. I think the configuration entity for person types is fine and makes sense based on how we are trying to structure things going forward. I will update the IS so that we have a better idea of how to point.

[2020-11-04 23:51] dnkemper opened #2473 "SSL for fys.uiowa.edu on uiowa02"

[2020-11-05 03:15] pyrello opened #2474 "Epic: Prepare platform for upgrade to Drupal 9"
# Motivation

To stay current with the most recent version of Drupal

# Proposed solution

The following updates will allow us to update to Drupal 9.0.x. Some issues may require checking the warnings generated in the Upgrade Status report available on a site when viewing it locally.

- [x] uiowa/uiowa_bar#59: Update uiowa_bar module to be D9 compatible.
- [x] ~~#2592 Bump `drupal/big_pipe_sessionl

[2020-11-05 14:21] bspeare opened #2475 "As a website owner, I can set small, medium, and large image sizes within a card and have them use corresponding Drupal image styles"
# Story

As a website owner I want to be able to set small, medium, and large image sizes within the card block and have them use corresponding image styles.

# Proposed solution

Update the card to use small, medium, and large image styles based on the image size selection.

[2020-11-05 14:37] joewhitsitt commented on #2291
I was curious and may have gotten ahead of myself: https://github.com/uiowa/uiowa/pull/2476

[2020-11-05 14:59] joewhitsitt commented on #2212
Blocked by #2291

[2020-11-05 14:59] joewhitsitt commented on #2457
Blocked by #2291

[2020-11-05 15:06] pyrello opened #2477 "When advisor field points to person with "Hidden on lists" checked, do not link to that profile page."

[2020-11-05 16:01] joewhitsitt commented on #2473
Done.

[2020-11-05 16:01] #2473 closed, assigned to joewhitsitt

[2020-11-05 16:13] dnkemper commented on #2473
THANK YOU, @joewhitsitt

[2020-11-05 16:25] mark-bennett-uiowa opened #2478 "As an end user, I can view a styled 404 page if my desired page is not found."
# Story

As an end user, I can view a styled 404 page if my desired page is not found.

Do we have any more thoughts on 404 pages? I know at one point this was discussed, but not sure where this left off.

# Proposed solution

As a temporary solution, I have been creating a new page "404" (see [https://americanstudies.prod.drupal.uiowa.edu/404](https://americanstudies.prod.drupal.uiowa.edu/404)).

[2020-11-05 16:42] joewhitsitt opened #2479 "Docs - Update Documentation"
Update Card docs: https://sitenow.uiowa.edu/node/271 as it relates to https://github.com/uiowa/uiowa/pull/2462

Fix Banner block doc errors - ie says title displayed above block when it displays inside of it, said headline styling affected all text when it only affects the title

Update changes made across all blocks - ie changed 'override block styles' with display options and updated block restr

[2020-11-05 17:15] joewhitsitt commented on #2478
A question I have is what would the behavior be if the default 404 is deleted? Do we need to account for it the same way we did the front page. If the page is deleted, the reference on Basic site settings might confuse webmasters when the value there no longer exists.

Also, is the default 404 not doing what it is supposed to do? All of the links/menu are still available on the page providing mult

[2020-11-05 17:54] joewhitsitt opened #2480 "Tour Button Text Contrast SiteNow v2"
# Problem

Button contrast issue on tour buttons.

<img width="270" alt="Screen Shot 2020-11-05 at 11 52 44 AM" src="https://user-images.githubusercontent.com/4663676/98277891-7cbb4780-1f5d-11eb-9b0b-f31e26ee8b13.png">

<img width="525" alt="Screen Shot 2020-11-16 at 9 26 53 AM" src="https://user-images.githubusercontent.com/4663676/99273138-3df38000-27ee-11eb-92f7-6a149736cf07.png">

# Proposed s

[2020-11-05 17:56] joewhitsitt commented on #2432
https://sitenow.uiowa.edu/node/406/edit

[2020-11-05 18:01] mark-bennett-uiowa commented on #2478
I would guess that the 404 would need to be protected in the same way as the frontpage (as well as any other non-removable pages).

The default 404 page is "working" but its awfully boring:
<img width="1629" alt="Screen Shot 2020-11-05 at 11 59 05 AM" src="https://user-images.githubusercontent.com/3067017/98278669-8beec500-1f5e-11eb-8672-2037d5b415cd.png">

[2020-11-05 18:58] dnkemper opened #2482 "SSL for *.pharmacy.uiowa.edu on uiowa02"

[2020-11-05 19:00] richardbporter commented on #2478
I'm ok with boring because that equals lightweight and we get a lot of 404s!

[2020-11-05 20:56] bspeare opened #2537 "As a site owner, I can place important cta links in the header"
# Story

As a Site Owner, I want to place a few call to action links in the website header so that users can directly interact with important website actions.

Without a good way to place call to action links in the `uids_base` header, site owners are finding creative ways to place calls to action near the website header.

# Proposed Solution

Investigate design concepts for the uiowa header beyon

[2020-11-05 22:19] joewhitsitt opened #2484 "Extend person content type to hold counselor information"
# Epic

https://github.com/uiowa/uiowa/issues/2212

# Story

As a webmaster, I want to add information about my counselors within the Admissions’ website via the person content type so that the counselors can be referenced and displayed in various ways throughout the website.

# Proposed solution

- [x] Establish “Counselor” person type configuration
- [x] Show/hide fields based on "Counselor" sel

[2020-11-05 22:22] joewhitsitt opened #2485 "Counselor Map"
# Epic
https://github.com/uiowa/uiowa/issues/2212

# Story

As site visitor, I can view counselors with a map page so that I can easily find the right counselor to contact based on my location.

# Proposed solution
- Assumes mapping solution investigation is complete. #2499
- [x] Build Map display based on the Counselor Person Territory field. https://admissions.uiowa.edu/counselors (blocked by ht

[2020-11-05 22:23] joewhitsitt opened #2486 "Counselor Listing Displays"
# Epic
https://github.com/uiowa/uiowa/issues/2212

# Story

As a site visitor, I can view counselors on a list page so that I can view the counselors outside of the map interface.

# Proposed solution

- [x] Overall list below map https://admissions.uiowa.edu/counselors
- [x] Territory listing https://admissions.uiowa.edu/counselor/IA

[2020-11-05 22:27] joewhitsitt commented on #2309
Could Accordion be another display option? Might relate to https://github.com/uiowa/uiowa/issues/2486

[2020-11-05 22:42] joewhitsitt opened #2487 "Attach person to local event"
# Epic
https://github.com/uiowa/uiowa/issues/2212

# Story

As a site editor, I want to be able to relate a counselor (person) to one or more events on my website. This allows site visitors identify with specific counselors based on the event they are viewing.

# Proposed solution

- Blocked by https://github.com/uiowa/uiowa/issues/2484 and https://github.com/uiowa/uiowa/issues/2396

[2020-11-05 22:59] joewhitsitt commented on #2484
I wonder if a "AMA" question/answer or key/value field collection could be used for the question fields. Didn't wordpress have this key/value thing at one point? If the desire is some kind of template so that they aren't typing the same questions again, we could setup site defaults that a webmaster could write. Then on node/add, these defaults could create initial buckets on the form.

The stories

[2020-11-06 14:40] richardbporter opened #2489 "Upgrade to Composer 2"
We need to upgrade to Composer 2 because Composer 1 is EOL.

- [x] Revert #2488
- [x] Remove hirak/prestissimo from CI, DrupalVM
  - [x] #2454
- [x] Upgrade acquia/blt to 11.6.0
  - https://github.com/acquia/blt/releases/tag/11.6.0
- [x] Upgrade the following packages:
  - dealerdirect/phpcodesniffer-composer-installer
  - grasmash/drupal-security-warning
  - oomphinc/composer-installers-extender

[2020-11-06 14:53] richardbporter opened #2490 "Customer cannot request v3 site for distance.uiowa.edu"
### Problem
Customer cannot request a v3 site since it already exists as v2.

### Solution
Customer stated that current v2 site content is not needed. Reinstall as per https://wiki.uiowa.edu/pages/viewpage.action?spaceKey=drupaldev&title=Re-Install+SiteNow+Website

[2020-11-06 15:06] pyrello commented on #1503
I'm looking back at some work I started on a publication/citation content fragment. In that version, I added an author field, which is a multi-value plain text field.

However, since one of the intended use cases is referencing a publication from a person, I'm wondering how best to handle this? Should the authors field have any connection to people, or should it be static?

[2020-11-06 15:28] bspeare commented on #2351
We need this option for:

- Aggregator
- Events
- Event
- People
- Articles

Are we able to use the existing layout builder styles on the custom block views listed above?  Or will it have to be recreated for each list type block?  Is there a list type not listed above that we are missing?

<img width="464" alt="Screen Shot 2020-11-06 at 9 27 10 AM" src="https://user-images.githubusercontent.com/10

[2020-11-06 15:31] bspeare commented on #2351
This functionality is needed on the admissions site so that they can adjust the display configuration of their blog feeds, counselors, and student profiles.

[2020-11-06 15:53] joewhitsitt commented on #1503
Are you breaking up all the components of a citation into separate fields? Sounds like a slippery slope unless we adopt https://www.drupal.org/project/bibcite.

My suggestion is to create a long text minimal format (or even more minimal format (bold, italic, underline, link, indent, sub/super, bullet/order list, special character, clear formatting)) where the entire citation lives. allows easy cop

[2020-11-06 16:21] bspeare opened #2491 "Banner background image is not covering full background height"
# Problem
A `height:auto` rule set in `media--type--image.scss` is conflicting with the banner background image.

<img width="1702" alt="Screen Shot 2020-11-06 at 10 16 26 AM" src="https://user-images.githubusercontent.com/1036433/98389422-a3d74f00-2019-11eb-9eb7-a63eb9681deb.png">

# Steps to reproduce
Add a banner block like on https://presidentialsearch.prod.drupal.uiowa.edu/ and adjust the wid

[2020-11-06 16:28] bspeare opened #2492 "As a site owner, I can place a webform block within a layout column and adjust padding and background color"
# Story

As a site owner, I want to place a webform block within a layout column and be able to adjust padding, margin, and background color.

<img width="1704" alt="Screen Shot 2020-11-06 at 10 13 22 AM" src="https://user-images.githubusercontent.com/1036433/98390313-cb7ae700-201a-11eb-880a-ab7278f21dca.png">

# Proposed solution

Allow webform blocks to use the same settings available for **Text

[2020-11-06 16:36] #2490 closed, assigned to richardbporter

[2020-11-06 18:11] dnkemper opened #2496 "SSL for *.law.uiowa.edu on uiowa"

[2020-11-06 18:20] joewhitsitt commented on #2496
law.uiowa.edu is on uiowa. this wildcard should probably be on the same application

[2020-11-06 18:21] dnkemper commented on #2496
@joewhitsitt dang. The blt command told me there wasn't any ssl coverage on any app

[2020-11-06 18:22] joewhitsitt commented on #2496
there technically isn't, it isn't smart enough to catch relationships like this.

[2020-11-06 18:27] dnkemper commented on #2496
@joewhitsitt hahaha relatable 🥇

[2020-11-06 18:47] pyrello commented on #1503
@joewhitsitt I guess my concern with one long text field is that it would invite inconsistencies and limit search-ability. In the link I posted at the beginning, you can see that there is a lot of inconsistency in how the publications are posted, since the user is not sticking to the same format. Also, we wouldn't be able to build any sort of views filters around different fields.

Maybe there is

[2020-11-06 19:04] pyrello opened #2498 "Add "link to publications" to person content type for Faculty"
# Story

As a faculty member I want to be able to add a link to a list of publications to my profile on a website so that prospective students can see that I am actively publishing.

# Proposed solution

Add a "link to publications" field to the person content type, limited to the faculty person type.

[2020-11-06 19:16] pyrello commented on #2498
While clarifying the requirements for being able to list faculty publications on the https://immuno.grad.uiowa.edu, it was suggested by the site owner that in addition to adding up to 5 publications to be directly listed on the faculty profile, that they would also like to be able to link off to a more complete list.

Adding this field to the base person content type will be blocked until #2476 is

[2020-11-06 19:44] joewhitsitt opened #2499 "Investigate Mapping Solutions in Drupal 8/9"
# Epic

#2212

# Story

As a developer I know what the best practice for mapping should be in Drupal 8/9 so that I can quickly build mapping solutions for customers.

# Proposed solution

- Check in on geofield, geocoder, leaflet etc drupal contrib modules.
- Select a base map based on pricing/functionality (Google Maps, Mapbox, Open Streetmap, SVG VECTORS?)

[2020-11-06 19:52] joewhitsitt commented on #2486
Should ask if it is okay to separate tag people with territories so that we can make use of the people view block functionality that already exists and just update the person teaser template to display fields that are needed.

[2020-11-06 20:30] joewhitsitt commented on #1503
Can you post your current field list for this. That might help me understand

[2020-11-06 21:41] cory-skeers opened #2500 "Areas of Study PDFs"
# Motivation
As part of #2365, "The area of study pages also have carefully designed PDFs that are generated and used internally by Admissions to provide print copies of this information. (https://admissions.uiowa.edu/at-iowa-print)."

# Story

As an authenticated user on the Admissions site,
I want access to a carefully designed PDF version of Areas of Study
so that I can print well-structured, o

[2020-11-06 21:47] cory-skeers opened #2501 "Migrate Areas of Study content"
# Motivation
As part of #2365, "Migrate areas of study content from existing site into new site."

# Story

As a site owner of the Admissions site,
I want an automated migration solution to move existing Areas of Study content into the new website
so that the new content is available with minimal chance of human error that may otherwise occur during a manual migration.

# Proposed solution

Invest

[2020-11-09 15:13] pyrello commented on #1503
* Title of article - plain text field
* Author(s) - unlimited plain text field
* Publication link - link field
* Publication details (title, volume, issue) - plain text field
* Publication date - date field

Fields that I would also be adding to Iowa Superfund:
* DOI - plain text field
* DOI link - link field
* Additional information - text area field
* PMC number - plain text field

I'm not sure

[2020-11-09 15:49] joewhitsitt opened #2504 "Collection Item Presets"
# Story

As a webmaster, I am able to create a set of collection item presets so that when creating content, I can quickly auto fill collection items with data.

This functionality would allow a website to craft common collection items for "All about me" person question/answers and other common title/content combinations on other content types (e.g. scholarships, programs, events, people) without

[2020-11-09 15:52] richardbporter commented on #2489
BLT 11.6.0 removes drupal-check, which I thought was valuable for us to run in CI. :( We'll have to dig as to why and how to add it back if desired.

[2020-11-09 16:15] joewhitsitt commented on #1503
Okay, I worry that though this might work for the short term, to handle this for the 80% we are going to need something like bibcite in the future. From my experience, "publication" could be any number of mediums which all have different fields that need to be captured. I wonder how other institutions are handling this?

<img width="215" alt="Screen Shot 2020-11-09 at 10 10 11 AM" src="https://use

[2020-11-09 17:35] joewhitsitt commented on #2485
US States + DC geojson polygon and centroid point data: https://gist.github.com/joewhitsitt/5f5215e4f9bd742b9f4d864c83a2ea5d

[2020-11-09 17:45] #2491 closed, assigned to nobody

[2020-11-09 17:55] #2386 closed, assigned to nobody

[2020-11-09 17:55] #2492 closed, assigned to nobody

[2020-11-09 18:46] joewhitsitt commented on #2482
done.

[2020-11-09 18:46] #2482 closed, assigned to joewhitsitt

[2020-11-09 18:49] joewhitsitt commented on #2496
This cert still needs to be created, but instead on uiowa.

[2020-11-09 19:07] joewhitsitt commented on #2496
this is done.

[2020-11-09 19:07] #2496 closed, assigned to joewhitsitt

[2020-11-09 21:17] joewhitsitt commented on #2499
Not much has changed in terms of Drupal contrib except that Geocoder has been rewritten, which I hope means it is better than the D7 version which had a lot of issues.

On the surface, pricing seems cheaper for large scale with Mapbox currently, but we get more free coverage if we split our usage between the two to make use of the the free-tier. Google Maps is better when it comes to adding in way

[2020-11-09 21:22] #2436 closed, assigned to nobody

[2020-11-09 21:31] cory-skeers opened #2510 "Easier way to rearrange list content"
# Story
Followup to #2511

As a site owner, I can order content in relation to each other (e.g. see weights for other content, drag and drop, or other option) so that prioritizing content is faster and has less room for human error.

# Proposed solution

Create a page, table, etc. specifically for ordering list content, or a view or context indicator on the form where referencing other content wei

[2020-11-09 21:36] cory-skeers opened #2511 "Apply Weights module to more content"
# Story

- As a site visitor, I want to view lists of content which have been pre-sorted so that I can quickly and easily find the content that is most important to me.

As a site owner, I can weight content which appears in list views in ways other than automatic sorting, so that I can prioritize displays for criteria which is not based on data within the system.

# Proposed solution

Weight modu

[2020-11-09 21:52] joewhitsitt commented on #2510
Was this requested by Scott? If not, the admissions label shouldn't be added and this should be scoped with the the 80% solution in mind https://github.com/uiowa/uiowa/issues/2511

[2020-11-09 21:59] joewhitsitt commented on #2511
Would this replace the draggableviews SiteNow people functionality?

[2020-11-09 21:59] cory-skeers commented on #2510
Good catch, @joewhitsitt. Not a specific request--got the issue updated.

[2020-11-09 22:21] cory-skeers commented on #2511
@joewhitsitt It could replace the people draggableviews, or it could go in addition to that view (use draggableviews to set the page's ordering, and set the individual content weight fields based on that, so that the same ordering can be used for sorting in the people block as well).

It seems a little excessive to use both, but I think draggableviews gives a better ordering experience (#2510), bu

[2020-11-09 22:45] joewhitsitt commented on #2511
Honestly, draggableviews was used to reach feature parity. Draggableviews is supposed to eventually support context-based sorts (e.g. Separate sort per tag or person type) which is something we did before in D7 but wasn't working yet in D8. https://www.drupal.org/project/draggableviews/issues/2903567

If Weight has better ordering experience and we decide to only support the global weight order, I

[2020-11-09 23:03] #2291 closed, assigned to joewhitsitt

[2020-11-10 14:42] richardbporter opened #2512 "Investigate why X-Drupal-Dynamic-Cache is set to UNCACHEABLE for all page requests"
# Problem
Every page request, anonymous or authenticated, seems to return an X-Drupal-Dynamic-Cache response header of UNCACHEABLE. This could be problematic as it is another layer of caching that could improve performance.

# Steps to reproduce
Visit a SiteNow v3 site while logged in/out with the console open. Inspect the response headers of the document under then network tab. See the header in

[2020-11-10 15:11] #2477 closed, assigned to pyrello

[2020-11-10 15:23] mjoneill commented on #2464
Client reached out yesterday wondering what we've learned.  I told them that this work is likely to be pulled next sprint.

[2020-11-10 17:28] #2425 closed, assigned to GaryRidgway

[2020-11-10 17:28] #2426 closed, assigned to nobody

[2020-11-10 17:28] #2418 closed, assigned to nobody

[2020-11-10 17:28] joewhitsitt commented on #2499
With mapbox, it is important that we make our own tilesets, uploading and having Mapbox process and host tilesets gets to be expensive.

[2020-11-10 19:04] ethanstjohn commented on #2246
![Screen Shot 2020-11-10 at 1 03 14 PM](https://user-images.githubusercontent.com/42824212/98719267-27b07480-2355-11eb-9d8c-16770ca3bdf1.png)
I was wondering, on this document of suggested help text given above, there are many more help text options than listed in the settings on the right for all of the given blocks. Should I just write documentation for the ones already created on the right? If

[2020-11-10 19:31] joewhitsitt commented on #2485
Need to ask to what extent this needs to be.

[2020-11-10 20:07] pyrello opened #2514 "Allow card options to be applied to aggregator feed"
# Story

As a site owner I want to be able to style my aggregator feed block with all the options that are available to cards so that I can have control over consistency in my design.

Related to #2351

# Proposed solution

* For each card LB style option that is available, see if it can be reused for the aggregator feed block. If not, create a new LB style for lists.
* Add the aggregator block ty

[2020-11-10 20:59] richardbporter commented on #2137
Is this done?

[2020-11-10 21:00] richardbporter commented on #2313
Is this done?

[2020-11-11 03:50] pyrello opened #2515 "Build full Admissions version of Area of Study"
# Story

As an Admissions site owner I can view a minimally styled version of an Area of Study Page.

Follow up to #2438

# Proposed solution

- Using the admissions site, add all additional fields that are needed for that site specifically to the content type.
- Config split these additional fields and any other needed config into the Admissions site split.
View layout and styles used in the mock

[2020-11-11 03:55] pyrello commented on #2438
FYI, I updated this story to reflect the way the work is going to be split and added a new issue to capture the follow-up work at #2515.

[2020-11-11 05:05] pyrello commented on #2334
Note to self: migrations cannot be added to the grad college site split because they need the `sitenow_migrate` split to be active to work.

[2020-11-11 14:40] joewhitsitt commented on #2246
If I understand correctly, title and size pertain to the field_uiowa_cta_title field, URL and link text pertain to field_uiowa_cta_link. Not sure if help text can be added to the layout builder style options without custom code.

I would combine for now where you can and make notes about what you are able to do through the UI.

[2020-11-11 14:45] ethanstjohn commented on #2246
Thank you.

[2020-11-11 14:59] joewhitsitt commented on #2486
Ideally, this would be a view page that can take a territory contextual filter /counselors/% (e.g. /counselors/ia, /counselors/intl)

The person teaser needs to display the territory field values.

Based on the path change (to unify view), redirects might need to be setup.

[2020-11-11 15:27] ethanstjohn commented on #2246
So a possible further look is required to add in help text for every field on every LB block. I'll post the notes on which fields were not in the UI after I finish up adding the help text for what is there.

[2020-11-11 15:59] bspeare opened #2516 "As a site owner, I can update my footer contact information through an address field instead of a text area"
# Story

As a site owner, I can update my footer contact information through an address field instead of a text area so that my footer follows brand guidelines for footers.

# Proposed solution

- [ ] Update footer text area to use address field
- [ ] Send out a message to existing users about the change

[2020-11-11 16:10] pyrello opened #2517 "Remove collegiate split"
# Story

As a developer I want to remove the collegiate split to reduce complexity in managing the codebase and considerations for testing.

# Proposed solution

- [x] Investigate how removing Collegiate split from a site like uiowa.edu affects the ability to manage existing pages.
- [x] If necessary based on previous investigation, audit usage of blocks that are available in collegiate split and

[2020-11-11 16:38] ethanstjohn commented on #2246
![Screen Shot 2020-11-11 at 10 37 48 AM](https://user-images.githubusercontent.com/42824212/98838541-08275380-240a-11eb-8a5a-1bb8eb632ac8.png)

[2020-11-11 17:23] joewhitsitt commented on #2484
Admissions dropped the requirement for separate fields for the questions. The existing biography should be sufficient for now and maybe https://github.com/uiowa/uiowa/issues/2504 in the future.

[2020-11-11 17:26] joewhitsitt commented on #2485
Admissions expressed interest in moving away from the image map but that a map with just the states would be focused. Admissions could be using Google's driving directions in the future, but might not directly relate to this particular map.

[2020-11-11 17:28] joewhitsitt commented on #2486
Admissions is willing to consolidate these to a single view with filtering capabilities (no ajax) to allow direct linking to a particular territory.

[2020-11-11 18:37] pyrello commented on #1800
This is done.

[2020-11-11 18:37] #1800 closed, assigned to nobody

[2020-11-12 15:13] pyrello commented on #2334
The current way that I am attacking this is to create a standalone split that copies over the elements that are necessary from the `sitenow_migrate` split. The new split is enabled on its own (without `sitenow_migrate`).

[2020-11-12 15:40] joewhitsitt opened #2522 "DCV iowastem.org"
BEFORE 11/25

Involves UNI communication. More complicated than a normal DCV process.

[2020-11-12 16:04] joewhitsitt commented on #1200
So, I started to do this in https://github.com/uiowa/uiowa/pull/2521 and have created a fork with patch of the repo https://github.com/joewhitsitt/colorbox, but I am getting a composer error when I try to use it/update the lock file.

`No valid composer.json was found in any branch or tag of git@github.com:joewhitsitt/colorbox, could not load a package from it.`

I revisited because I didn't want

[2020-11-12 16:13] joewhitsitt commented on #2499
Alright, here is what I am thinking. As we have already learned with Admissions, there is no one map solution for every situation. When possible, I think we should use Leaflet paired with Mapbox basemaps. We should look into utilizing the same (or copy for billing purposes) basemap as concept3d will use for the replacement maps solution.

There will be a time and a place for a Google Map. Leaflet

[2020-11-12 16:13] #2499 closed, assigned to joewhitsitt

[2020-11-12 16:18] joewhitsitt commented on #2499
Tweaked, moved: https://wiki.uiowa.edu/display/drupaldev/Mapping

[2020-11-12 16:31] joewhitsitt opened #2523 "Expand Person Type Config to handle field groups"
# Story

As a developer I want to be able to define/allow field groups within the person type config so that I can organize custom person type fields better within the node form and not have the field group show if the related person type is not selected. This will help create a cleaner node form for certain person types.

# Proposed solution

- [ ] Expand the configuration entity to pull in and a

[2020-11-12 16:36] joewhitsitt opened #2524 "Allow person type/former filtering on People View Block"
# Story

As a webmaster, I want to be able to filter people by person type/statuses when creating my pages with paragraphs or layout block content.

# Proposed solution

- [ ] Add the person types and person types status fields to the Person list view filters and expose them.
- [ ] Need to figure out a way to generalize the solution that was put in place to improve the UX of the person types field

[2020-11-12 16:36] briand44 opened #2525 "re-provision electronicmusic.studio.uiowa.edu as a SiteNow v3 site"
The customer wants a student to manually migrate content from http://theremin.music.uiowa.edu/ to https://electronicmusic.studio.uiowa.edu. The new site is currently v2 so we will first want to provision this as a v3 site before starting to manually migrate content.

[2020-11-12 16:42] joewhitsitt opened #2526 "Create exposed filters option (filtering) for SiteNow People view page."
# Story

As a webmaster, I want the option to be able to show filtering controls on my SiteNow people page to allow users to filter by name (title) and by person type. For a site with a lot of people, this will allow visitors to quickly find an individual within the site.

# Proposed solution

- [ ] Establish exposed filter on the People view displays (off by default)
- [ ] Present an option withi

[2020-11-12 19:00] joewhitsitt opened #2529 "Provide a table display for SiteNow People view page"
# Story

As a webmaster I want the option to change the SiteNow People display from a list to a table display containing common person information and the ability sort columns.

# Proposed solution

- [ ] Establish a select list to change the display of the people listing with a table option. list is default.
- [ ] I think separate view table displays will be needed to handle the columns (instead

[2020-11-12 21:27] mark-bennett-uiowa commented on #2088
Closing this issue. Not fixed. The issue still exists, and the System > Main page content block is still available under the More... option in the LB list. Not sure if this will be fixed at any point, but it can be used as a warning to avoid this option.

[2020-11-12 21:27] #2088 closed, assigned to nobody

[2020-11-12 21:31] mark-bennett-uiowa commented on #2131
Still an issue, would be nice to have this added so that content editors can label their sections.

[2020-11-12 21:38] #2442 closed, assigned to nobody

[2020-11-12 21:44] #2380 closed, assigned to nobody

[2020-11-12 22:03] mark-bennett-uiowa opened #2530 "Image issues with Articles news aggregator block and individual article content"
# Problem
The best way to describe this issue is to show it. These are examples from the [https://americanstudies.prod.drupal.uiowa.edu](https://americanstudies.prod.drupal.uiowa.edu) site. The first image is the Articles block news aggregator on the frontpage:
<img width="1361" alt="Screen Shot 2020-11-12 at 3 45 08 PM" src="https://user-images.githubusercontent.com/3067017/99000300-a85ea480-24fe

[2020-11-12 22:40] mark-bennett-uiowa opened #2531 "CTA Button link text hidden in edit LB admin screen"
# Problem
The text of a CTA link button is hidden against the background in the edit LB admin screen:
<img width="1607" alt="Screen Shot 2020-11-12 at 4 34 58 PM" src="https://user-images.githubusercontent.com/3067017/99004737-3473ca80-2505-11eb-9bfc-146d82adf27a.png">

There is also a similar issue in uids: [https://github.com/uiowa/uids/issues/411](https://github.com/uiowa/uids/issues/411) to re

[2020-11-12 22:52] mark-bennett-uiowa opened #2532 "As a content editor, I can set Zilla headings and Zilla underline styles in the WYSIWYG toolbar rather than in HTML source"
# Story

As a content editor, I can set Zilla headings and Zilla underline styles in the WYSIWYG toolbar rather than in HTML source

Previous solution:

<details>
As a content editor, I can adjust font styling in WYSIWYG toolbar rather than in HTML source.

Could we get font styles or options to set font to the following options:

- [ ] Smaller text
- [ ] Headline text in Serif font
- [ ] Headline

[2020-11-13 00:05] mark-bennett-uiowa commented on #1701
@pyrello @bspeare @joewhitsitt @richardbporter Should this be set to [node:menu-link:parent:url:path]/[node:title] instead? The token as it is now is not taking into account pathauto generated paths for parents. Therefore, for any nodes under a custom path, I need to continue to create custom paths, even if I dont need to.

Say we have this structure:
Undergraduate Programs (/undergraduate)
 -- Ma

[2020-11-13 00:14] mark-bennett-uiowa commented on #2113
This has been fixed with a previous PR. Still some minor bugs with the edit screen and mouseover of statistics with additional content, but not deal-breaking.

[2020-11-13 00:14] #2113 closed, assigned to nobody

[2020-11-13 00:19] mark-bennett-uiowa commented on #2107
Discussed this with the design team. No final decision was made, but there was some discussion about possibly making h2 serif by default. I still vote for at least h1 through h3. We could leave h4 through h6. Could possibly deal with this if we had a solution from #2532 but that still doesn't mean content editors are going to want the same thing or remember to do so.

[2020-11-13 00:21] mark-bennett-uiowa commented on #1674
Closing this for now. Does not appear to be fixable, at least currently. This works properly when adding content, but does not work when adding a menu link.

[2020-11-13 00:21] #1674 closed, assigned to mark-bennett-uiowa

[2020-11-13 00:23] mark-bennett-uiowa commented on #1978
Closing this issue. Went through and manually returned these pages to the new default layout.

[2020-11-13 00:23] #1978 closed, assigned to mark-bennett-uiowa

[2020-11-13 03:09] mjoneill opened #2533 "As a member of the Presidential Search team, I can review updated on-site content per most recent notes"
- [x] About the Position page hidden for launch
- [x] Links to Shared Governance groups from About Iowa
- [x] BoR/Search committee role explanation added to Search Process page
- [x] Link to presidential search "Best practices" doc from Search Process page
- [x] Consent to being contacted checkbox or disclaimer on Feedback form
- [x] Making fields in feedback form optional
- [x] Form comments limi

[2020-11-13 14:49] joewhitsitt commented on #1701
@mark-bennett-uiowa thanks for providing these examples. I will have to jog my memory on this, but if I recall, I wasn't super happy with this pattern when I originally set this and ~~I feel like the the tokens were limited when Pathauto first reached a stable release~~ (just saw the drupal issue you linked to... 🤦 ). We also weren't accounting for <nolink> menu items when we hit v2 MVP.

I think

[2020-11-13 14:59] joewhitsitt commented on #2467
IRRC requested in addition that all the images related to this view be sized down. Not sure if there is a smaller square image style to choose from in the display settings or additional work would need to be done in the theme (i think it is based off radix which is thankfully node/npm based). Also, with the bootstrap grid, I suspect these images fill the width of the column.

[2020-11-13 15:02] dnkemper commented on #2467
@joewhitsitt i was going to create a new issue since I already started working on it. Sorry about that! I can just reopen this one though.

[2020-11-13 15:03] dnkemper commented on #2467
P.S. they do fill the width of the column. The css style I saw that affected the images was the max-width

[2020-11-13 16:29] ABoston88 commented on #2533
Everything should be addressed aside from:
-Images in articles (I can do this)
-linking to best practices document @mjoneill Were we sent a copy of that? Having trouble tracking it down, now.

@bspeare If you have time to do one last styling look at About Iowa and Search Process, that'd be great. If not, no big deal.

[2020-11-13 17:24] mjoneill commented on #2533
@aboston88 yes, we were emailed a link to the best practices doc

[2020-11-13 17:26] mjoneill commented on #2533
@ABoston88 forwarded the email referenced above ^^^

[2020-11-13 20:08] pyrello commented on #1701
Should we create redirects for existing pages as part of this update or just put the pattern in place for any pages that are created going forward? In any cases where people used custom URLs instead of the auto-generated ones for this reason, then those are going to have to be updated manually since I don't think we can put together a system for trying to guess which ones were intended to be custo

[2020-11-13 20:33] mark-bennett-uiowa commented on #1701
@joewhitsitt I should be able to whip up something if I get a chance in the next few days. I agree with @pyrello though that it may just need the pattern update. I wouldn't want to assume what users are expecting for paths, so I prefer avoiding any scripts to change existing custom paths. We could build in a script to update the url alias of all page content (avoid media items and articles/people)

[2020-11-16 03:14] dnkemper opened #2535 "Site Provisions 11/12-11/19"
## Site Provisions 11/12-11/19
* reno.sites.uiowa.edu [PR](https://github.com/uiowa/uiowa/pull/2534)
* afpcc.org.uiowa.edu - **IR2393717** [PR](https://github.com/uiowa/uiowa/pull/2534)

## Re-provisions
* electronicmusic.studio.uiowa.edu #2525
* centerforconferenceshrandbusiness.prod.drupal.uiowa.edu #2570

[2020-11-16 03:21] dnkemper commented on #2467
@joewhitsitt to not interfere with the archived done column from the last sprint, I'm going to create a new issue and link it to this one so can point it. Hope that's okay!

[2020-11-16 03:21] dnkemper opened #2536 "IRRC requested to make people view images smaller"
IRRC requested in addition that all the images related to this view be sized down. Not sure if there is a smaller square image style to choose from in the display settings or additional work would need to be done in the theme (i think it is based off radix which is thankfully node/npm based). Also, with the bootstrap grid, I suspect these images fill the width of the column.

_Originally posted by

[2020-11-16 14:27] joewhitsitt commented on #1701
I am pretty sure, redirects will happen on next save. I am just wanting to make sure (test) before we push this to live.

[2020-11-16 14:57] #2484 closed, assigned to nobody

[2020-11-16 14:57] #2486 closed, assigned to joewhitsitt

[2020-11-16 14:59] joewhitsitt commented on #2320
Admissions now has a layout based person full node which can serve as inspiration or "merge to default"

[2020-11-16 15:03] joewhitsitt commented on #2293
Admissions now has a layout based person full node which can serve as inspiration or "merge to default"

[2020-11-16 15:21] richardbporter opened #2539 "Prep presidentialsearch.uiowa.edu for launch."
- [x] DNS
- [x] SSL
- [x] Domain
- [x] Toggle uiowa_core gtag
- [x] CR + Purge for robots, gtag

[2020-11-16 15:27] joewhitsitt commented on #2480
Seeing this on a v2 "standard" site

[2020-11-16 15:29] joewhitsitt commented on #2480
Looks like v3 handles this with an outline button.
<img width="165" alt="Screen Shot 2020-11-16 at 9 28 47 AM" src="https://user-images.githubusercontent.com/4663676/99273088-2d430a00-27ee-11eb-9ced-f7126e7675af.png">

[2020-11-16 15:29] pyrello opened #2540 "[Grad College] Migrate Thesis Defense content"
# Story

As a Grad College website maintainer I want to be able to batch migrate thesis defense content because there is a lot of it.

# Proposed solution

- [ ] Add a Thesis Defense migrate source plugin class.
- [ ] Add a Thesis Defense migration configuration.
- [ ] Testing

[2020-11-16 15:49] #2531 closed, assigned to nobody

[2020-11-16 16:48] joewhitsitt commented on #1200
@richardbporter since you helped with my easysvg fork, I was wondering if you knew how to get around this one?

[2020-11-16 16:52] joewhitsitt commented on #2536
<img width="908" alt="Screen Shot 2020-11-16 at 10 51 59 AM" src="https://user-images.githubusercontent.com/4663676/99282804-cb889d00-27f9-11eb-8421-3b706b527b29.png">

Can you just update the views bootstrap grid settings to be 4 column instead of three?

[2020-11-16 16:54] dnkemper commented on #2536
Good idea! I'll try that out! Thank you so much!

[2020-11-16 19:25] richardbporter commented on #1402
I'm not sure if this is still a thing but I feel like some of these bullet points have already been addressed.

[2020-11-16 19:49] richardbporter commented on #1200
Yea - I'm curious what exactly was patched with it though as there may be another option. Was it only jackmoore#753 and jackmoore#765?

[2020-11-16 20:00] joewhitsitt commented on #1200
This is the pull that has everything I think: https://github.com/jackmoore/colorbox/pull/832

[2020-11-16 21:27] pyrello opened #2544 "Epic: Grad College SROP person type and profiles"
# Motivation

The Summer Research Opportunities Program shows lists of mentors and past students: https://www.grad.uiowa.edu/diversity/SROP. Currently there are two content types on the Grad College site to account for each of these types of people. Each type contains some non-standard fields that need to be accounted for. Current mentors are listed on one page. Past students are listed on pages b

[2020-11-16 22:04] richardbporter commented on #1200
I gave this a shot in https://github.com/uiowa/uiowa/pull/2521/commits/8d26e81d90ab0caf2fbc90525d36d8f935bc1d65. This approach would not require you to fork the repo. That was goofy anyway as this package is not available on Packagist.

Can you verify this works as expected? Any other thoughts?

Also, it would seem we may want to start thinking about a better supported lightbox solution for the fu

[2020-11-16 22:35] joewhitsitt commented on #1200
I will give this a shot in a bit. Consumed by another bug on that branch.

[2020-11-16 22:50] pyrello commented on #2403
@joewhitsitt I was actually thinking that this would be easier if we adapted the existing field to allow for image or video, then added a thumbnail (placeholder) image field to the video media entity.

Can you clarify why you think a separate field would ease logic about the media type?

[2020-11-16 23:03] joewhitsitt commented on #2403
Template or preprocessing logic, i imagine to do different things based on the media type, is easier when you can just look to see if video field has value instead digging further in to a share field to see what kind of media type it is. The placeholder image should do similar things as a regular banner image if only temporarily during load or error.

Just a suggestion. I defer those actually impl

[2020-11-16 23:17] pyrello commented on #2403
I guess that my assumption is that if we end up implementing a video with placeholder in multiple entities eventually, then it would be better to figure out how to do it at the media entity level, so we wouldn't have to add the same set of fields to multiple blocks. I have, however, not tested this out as a possible solution, so I'm not sure what sort of gotchas we might run into.

Thanks for the

[2020-11-16 23:30] joewhitsitt commented on #1200
I think it worked, unfortunately, I don't think the a11y fixes in that branch are doing everything I want them to now that I am revisiting it...

[2020-11-17 03:37] #2536 closed, assigned to dnkemper

[2020-11-17 14:20] #2480 closed, assigned to dnkemper

[2020-11-17 16:06] pyrello opened #2549 "Create workbench access feature split"
# Story

As a custom site owner I want the ability to limit editorial access to content based on association with a term or group.

# Proposed solution

Building on the work started in #748, build a feature split to allow for sites to turn on workbench access.

[2020-11-17 16:19] pyrello opened #2550 "Create Grad College Mentor content type"
# Story

As a [SROP Scholar](https://www.grad.uiowa.edu/ogi/srop/past-scholars) I want to be able to view a page that describes a mentor and the research opportunity that is available in working with them so that I can learn about my choices.

# Proposed solution

In the grad.uiowa.edu split:
- [x] Create a Mentor person type
- [x] Either: Add mentor fields to person content type and add them all

[2020-11-17 16:22] cory-skeers opened #2551 "Create college config entities"
# Story

As a site visitor, I want to see information on colleges which are related to the content I'm viewing, so that I can understand the full context of the content, as well as choose to learn more about the college from their webpages.

As a site owner I want a field list from which to select individual colleges so that I can easily connect content to relevant colleges.

As a SiteNow administ

[2020-11-17 16:34] pyrello opened #2552 "Create Grad College SROP Scholar content type"
# Story

As a Grad College [SROP](https://www.grad.uiowa.edu/diversity/SROP) administrator I want display pages of information about past scholars to help generate interest for future participants and as a record of what the program has accomplished.

Example page: https://www.grad.uiowa.edu/ogi/srop/scholars/latoya-branch

# Proposed solution

In the grad.uiowa.edu split:
- [x] Create a Scholar (

[2020-11-17 16:42] #2467 closed, assigned to dnkemper

[2020-11-17 16:42] pyrello commented on #2403
Adding some notes based on discussion in standup to clarify what is being proposed:
- Adding a placeholder/thumbnail image field to the local video media entity
- Implementing a module like https://www.drupal.org/project/media_thumbnails_video to handle auto-generation of still image from the video.
- Adding an autoplay video checkbox (defaulted to off) to the local video media entity
- Adding loc

[2020-11-17 16:47] joewhitsitt opened #2553 "Deprovision livingwellstudy.sites.uiowa.edu on uiowa01"
Relates to IR2390789

[2020-11-17 16:47] cory-skeers commented on #2551
@pyrello I'm wondering about namespacing for this, and where a good home for it could be.

The current setup in the AoS split has it in a `sitenow_area_of_study` module, with the entities as `sitenow_area_of_study.college.*`. Wondering if it should be something like `sitenow_colleges` and `sitenow_colleges.college.*`, or if there's a good middle-ground to move into an existing module.

[2020-11-17 16:54] dnkemper opened #2554 "Stacked cards need a bottom margin"
# Problem

When you stack two cards in a column, there isn't a clear separation between the two separate cards
<img width="416" alt="Screen Shot 2020-11-17 at 10 52 03 AM" src="https://user-images.githubusercontent.com/16872949/99420588-01458880-28c3-11eb-8cff-46c3c482a001.png">

# Steps to reproduce

Add a card to a column and then add another card below it - boom

# Proposed solution

Going to a

[2020-11-17 16:59] #1701 closed, assigned to mark-bennett-uiowa

[2020-11-17 17:10] pyrello opened #2555 "Add view to display Grad College SROP Scholars by year"
# Story

As a visitor or prospective SROP Scholar I want view lists of past SROP participants so that I can get an idea of what to expect.

Example: https://www.grad.uiowa.edu/ogi/srop/past-scholars

# Proposed solution

- [x] Build a view listing SROP scholars with a contextual filter to limit them to a certain year.
- [x] Add a summary display that shows each year if a contextual argument is not

[2020-11-17 17:11] pyrello commented on #2555
Blocked by #2552

[2020-11-17 17:15] joewhitsitt commented on #2551
Can this be expanded to "Colleges and Units"? I see a great use for capturing these beyond AoS as defined by the provost https://provost.uiowa.edu/organization

I see this being available to all sites to tap into some day (person content type for one) so a separate module makes sense to me and makes it easier to install the entity in the first place (oops with person types). I'd also like to leave

[2020-11-17 17:15] pyrello opened #2556 "Add a view to display Grad College SROP available mentors"
# Story

As a [SROP Scholar](https://www.grad.uiowa.edu/ogi/srop/past-scholars) I want view a list of mentors so that I can learn about available opportunities to work with them.

Example: https://www.grad.uiowa.edu/ogi/srop/available-mentors

# Proposed solution

- [x] Build a view that lists Mentor content items split into groups by Department.
- [x] Add the view to the grad.uiowa.edu split and

[2020-11-17 17:17] pyrello commented on #2556
Blocked by #2550

[2020-11-17 17:18] pyrello commented on #2544
Closing this in favor of the following individual stories:
* #2552
* #2550
* #2555
* #2556

[2020-11-17 17:18] #2544 closed, assigned to nobody

[2020-11-17 17:25] pyrello opened #2557 "Investigate how to structure Grad College Programs and Certificates entities"
# Motivation

As part of #2447, it is necessary to determine whether [Certificates](https://www.grad.uiowa.edu/programs/graduate-certificate-programs) and [Programs](https://www.grad.uiowa.edu/programs/alphabetically) need separate entity types to store data that seem pretty similar. Also, is it necessary to use a content entity to capture this data and display it or could we use something like a

[2020-11-17 17:29] cory-skeers commented on #2551
Interesting--I think including units along with colleges makes a lot of sense. We could include a marker to differentiate colleges from units.

The quick(ish) and dirty solution to a unit going away can be to it to disabled, and make sure any field displays, views, etc are conditioned on the entity being enabled. Past that, more thorough cleanup = update hook?

[2020-11-17 17:32] #2419 closed, assigned to dnkemper

[2020-11-17 17:33] pyrello commented on #2551
I don't have a problem with expanding this, although so far, I haven't seen any fields that referenced the non-collegiate units. Maybe we can figure out a way to exclude them from the field per site or per feature?

I'm not sure about `uiowa_units`. Its not a bad place to put them, but I'm wondering if we need a better overall warehouse of available stuff not broken out into individual pieces. I d

[2020-11-17 17:52] pyrello opened #2558 "Create migration for Grad College SROP mentors"
# Story

As a Grad College site owner I want to migrate SROP mentors via a migration process because the content type has a lot of fields and is more prone to human error.

# Proposed solution

- [ ] Develop a migration that can be used to migrate SROP mentors for the Grad College site.

[2020-11-17 17:55] pyrello opened #2559 "Create a migration for Grad College SROP Scholars"
# Story

As a Grad College site owner I want to migrate SROP scholars via a migration process because there are 420 of them and that would save a lot of time for the people migrating our content manually.

# Proposed solution

Build a migration to handle migrating SROP scholars for the Grad Colllege.

[2020-11-17 17:56] cory-skeers commented on #2551
One option could be one step back for a `uiowa_entities`, starting with `uiowa_entities.college.*` and `uiowa_entities.academic_unit.*` as starters, based on the provost organization.

A plus for separate modules would be the option to turn on some, but not all, based on split--but not sure that that's desirable or necessary, as on any site either a) they're available and needed for a field or b)

[2020-11-17 17:57] pyrello commented on #2558
Blocked by #2550

[2020-11-17 17:57] pyrello commented on #2559
Blocked by #2552

[2020-11-17 18:10] #2553 closed, assigned to joewhitsitt

[2020-11-17 18:58] pyrello opened #2561 "Build Grad College contacts (staff) page"
# Story

As a Grad College website visitor I want view a staff directory so that I can find contact information for anyone who works there.

Example: https://www.grad.uiowa.edu/gc-contacts

# Proposed solution

- [ ] Possibly add an additional field to the person content type, such as Department.
- [ ] Create a view that groups results (with duplicates) by Department (or another field).
- [ ] Add

[2020-11-17 19:44] pyrello opened #2563 "Style print/PDF version of Area of Study page."
# Story

As an Admissions staff member I want to be able to print (or download a PDF of) a styled version of Areas of Study pages so that they look beautiful when they are sent to a prospective student.

# Proposed solution

Based on the results of #2500, implement some way of outputting specific fields in a specific format for an Area of Study page when viewed as a printable page or PDF.

Todo: