[2022-02-04 20:42] bspeare commented on #4748
To fix this, we will need to revisit this line in https://github.com/uiowa/uids/blob/main/src/components/card/card.scss#L291-L292.

[2022-02-04 21:50] briand44 commented on #4363
First slice all done.

[2022-02-04 22:00] cory-skeers commented on #4685
If the migration runs after upgrading to 9.3, we may be able to switch to https://api.drupal.org/api/drupal/core%21modules%21file%21src%21FileRepositoryInterface.php/function/FileRepositoryInterface%3A%3AwriteData/9.3.x in place of `file_save_data` in the ProcessMedia trait, which might help or solve the memory issues that require this to be run in multiple batches.

[2022-02-05 18:04] mjoneill commented on #4657
Yes, keep it in the same window unless there's a risk of data loss (data loss is defined kind of broadly here).

[2022-02-07 14:31] bspeare opened #4767 "As a site owner, I can have a row of buttons that appears fixed to the bottom of the browser"
# Story

As a site owner, I can have a row of buttons that appears fixed to the bottom of the browser when scrolled

As seen on https://viewbook.admissions.uiowa.edu/.

<img width="1730" alt="Screen Shot 2022-02-07 at 8 29 09 AM" src="https://user-images.githubusercontent.com/1036433/152807179-a57a2b9b-f664-4b61-8960-e3c786257793.png">

# Proposed solution

## First slice
- [x] Blocker: #2873
- [x

[2022-02-07 14:38] #4680 closed, assigned to makurj

[2022-02-07 15:52] briand44 opened #4768 "SiteNow Updates News Article - February"
## Issue/Solution ##
Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  * See the previous month's article as an example.
  * Bulle

[2022-02-07 15:58] briand44 commented on #4768
https://sitenow.uiowa.edu/news/2022/02/updates-february

[2022-02-07 16:12] briand44 commented on #1689
Closing this as it currently isn't something we plan to support at this time. If we need to revisit this at a later date we can open it back up.

[2022-02-07 16:12] #1689 closed, assigned to nobody

[2022-02-07 16:34] #4685 closed, assigned to cory-skeers

[2022-02-07 16:39] pyrello opened #4769 "UI Press - Add content moderation to book content type"
# Proposed solution
Refer to how content moderation is setup for the page content type and recreate that for the book type.

[2022-02-07 16:39] pyrello commented on #4657
Moved the content moderation work to a new task: #4769

[2022-02-07 16:40] makurj commented on #3811
Next steps:

- [x] Add config to add per handler endpoint URL
- [x] Investigate dynamically adding webform values
- [x] Put it on dev to have user test it.
- [ ] ~~Investigate alternative confirmation options (for example, URL) before the iframe gets inserted~~
- [x] Shift "Edit" under operations.
![image](https://user-images.githubusercontent.com/52135878/153028189-fa5945ea-39d4-48ed-bfae-c2020c9

[2022-02-07 17:43] briand44 commented on #4363
It looks like the dev and stage domains were removed but the prod domain must have been missed. I went ahead and removed the prod domain since there still had not been any log in activity on that site. Will remove the site with the others as planned.

[2022-02-07 18:37] bspeare opened #4771 "Adjust `blt frontend` to upgrade the `uiowa/uids` package"
# Problem
`blt frontend` is not updating UIDS properly when run locally.   We've been using workarounds like `rm -rf ./node_modules` and
`yarn cache clean` to make sure it updates properly and removes the previous version.

# Proposed solution
Investigate `blt frontend` process and find out why `node_modules/@uiowa/@uids` is either not updating or is still cached after running `blt frontend`.

[2022-02-07 22:06] richardbporter commented on #4771
I'm not sure this is a bug, at least the way its currently titled, because `blt frontend` isn't supposed to update anything, just install what is in the lock file. I think to update uids, we need to run some flavor of [yarn upgrade](https://classic.yarnpkg.com/lang/en/docs/cli/upgrade/) for the `uiowa/uids` package and commit the lock file changes. It might be that there is some issue with yarn up

[2022-02-07 22:08] bspeare commented on #4771
Thanks @richardbporter I'll update the title.

[2022-02-07 22:37] dnkemper opened #4772 "Remove colorbox composer dependency"
Blocked on https://github.com/uiowa/uiowa/pull/4708. Once that PR is deployed, we will need to completely remove colorbox from composer.

[2022-02-07 22:55] richardbporter commented on #4771
I think I can replicate this issue for #4667 which should upgrade uids from c30bf80 to 3666964 with steps:

[code]

*I'm using the addition of this file: https://github.com/uiowa/uids/compare/c30bf80...3666964#diff-273a3b9a9c25e6d4241f7001dfca0614b64ca82753b0cb891b701fe3fb39afbe

Those steps should install a new version of uids using this SHA: https://github.com/uiowa/uiowa/pull/4667/files#diff-51

[2022-02-08 14:07] richardbporter commented on #4771
I reverted [52cea3d](https://github.com/uiowa/uiowa/pull/4667/commits/52cea3d2d3e64e4c7d52a8787ed0334ec70820ef) for now because I think we'll want to test it more. I don't want it to lead to https://github.com/uiowa/uiowa/issues/3014 again.

[2022-02-08 15:13] dnkemper commented on #4569
Disregard the steps. This is blocked.

[2022-02-08 15:47] dnkemper opened #4774 "Adding a link to an image global caption is broken"
Adding a link to image's global caption errors out.

## Steps to reproduce
1. add image
2. go to add a global caption
3. try to add a link to the global caption
4. try to save after adding link

[2022-02-08 16:00] dnkemper commented on #4774
When working on https://github.com/uiowa/uiowa/pull/4708, I found this bug. Double checked on prod so know it's not a photoswipe issue. Also not a text area block/body field etc bug, just a global caption issue.

[2022-02-08 16:52] dnkemper opened #4775 "Setup uiowa03"
https://wiki.uiowa.edu/display/drupaldev/Acquia+Applications

Log forwarding?
Platform email

[2022-02-08 17:25] makurj commented on #3811
Going to move tippie.dev.drupal.uiowa.edu from 703 to uiowa02.
May need a new container for tippie.dev.drupal.uiowa.edu created in GTM as the Pardot JS is not firing on each page locally.

[2022-02-08 18:37] #3695 closed, assigned to nobody

[2022-02-08 18:37] #4669 closed, assigned to bspeare, dnkemper

[2022-02-08 18:37] #4744 closed, assigned to nobody

[2022-02-08 18:38] dnkemper opened #4777 "Upgrade to PhotoSwipe 5.x for additional a11y improvements"
waiting for TM's approval. Creating as followup issue to https://github.com/uiowa/uiowa/pull/4708

Capturing some additional improvements:

- font-size change for mobile captions
- consider https://github.com/dimsemenov/photoswipe-dynamic-caption-plugin
[code]

[2022-02-08 18:46] joewhitsitt commented on #3811
Instead, we are providing handler guidelines on the assumptions we made and I wrapped our processConfirmation code in some validation with a log message if iframe isn't being rendered.

[2022-02-08 18:59] mjoneill commented on #4758
Thanks to everyone who has touched this so far (on the team and off).

Jeneane really likes what she is seeing.  The next step is to swap lorem ipsum copy for our best take on it.  Is this something @ABoston88 can pick up?  Once we get this to potentially shippable, we can turn it back to Jeneane and they can edit/revise as necessary.

[2022-02-08 19:13] ABoston88 commented on #4758
I can take a look. Do we have any info on the context of the photos? I can do some digging, if not. Would help make the copy more specific.

[2022-02-08 19:13] pyrello commented on #4771
To be clear, we do not want `blt frontend` to update our dependencies, only to install the versions that are present in the yarn.lock file. We want `blt frontend` to be a reliable way that we can use in test instructions for people other than those actually doing the work to be able to get their frontend dependencies correctly installed.

[2022-02-08 19:14] mjoneill commented on #4758
Yep...it should all be in the image exif info/metadata.  If it's not there, we can help sort through it.  Kirk has it.

[2022-02-08 19:46] richardbporter commented on #4640
I wonder if the "Access Denied" page should actually return a 403? Currently returns 200.

[2022-02-08 19:56] briand44 commented on #4640
Let's probe the items listed in the IS and determine what makes sense to address in additional slices.

[2022-02-08 19:59] richardbporter commented on #4640
The current login link in the footer sets the destination parameter to redirect back to the access denied page which is really odd UX.

[2022-02-08 20:21] #4774 closed, assigned to nobody

[2022-02-08 20:33] joewhitsitt commented on #4640
This is because it isn't showing the /about 403, it is redirecting to another path so when you click the login link, that is the destination.

I think we would need to alter restrict_ip's code to capture the page that is being accessed and then add that as a destination param for the login link. It might reveal real paths to unauthenticated users if they want to play the guessing game (e.g. /artic

[2022-02-08 20:38] joewhitsitt commented on #4689
I am a bit confused on the proposed solution. Would it be to provide style options to hide icon and to display like /student-profiles?

[2022-02-08 20:41] joewhitsitt commented on #4777
noticed that exiting the gallery switches the tab back to the top of the page. the user would need to re-tab down and/or skip to main content to get back to the gallery. this is different than what we had for colorbox.

photoswipe is working on a v5 that supposedly has some other a11y improvements but v4 is currently what ships with the drupal module. https://www.drupal.org/project/photoswipe/issu

[2022-02-08 20:44] joewhitsitt commented on #4691
https://github.com/uiowa/uiowa/issues/4691#issuecomment-1018656724

Was this caused by a file migration bypassing our file size restriction?

[2022-02-08 20:46] dnkemper commented on #4775
Looks like this requires special permissions that only admins have

[2022-02-08 20:48] richardbporter commented on #4640
Yea maybe we could just remove the footer login link in the intranet split somehow? Or if we decide to just hide the footer entirely, its a non-issue.

[2022-02-08 20:53] joewhitsitt opened #4779 "grantwood.uiowa.edu footer update (d7)"
Remove the "Outreach" specific information from the footer template (social links, unit name, email, newsletter) and make sure the layout doesn't break for desktop/mobile.

[2022-02-08 20:54] joewhitsitt commented on #4779
<img width="312" alt="Screen Shot 2022-02-08 at 2 54 06 PM" src="https://user-images.githubusercontent.com/4663676/153073877-96e3bf8c-0440-4aef-8f49-c26369881c27.png">

[2022-02-08 21:09] cory-skeers commented on #4691
Possibly... The node migrations that pull files in if they're used should respect any restrictions when using the file api, but the old files-only migration saved files directly and then created media entities, so it could have missed restrictions.

[2022-02-08 21:37] joewhitsitt commented on #4691
Upstream issue: https://www.drupal.org/project/paragraphs/issues/3095945

Changes the error message to something more helpful. Won't be merged until tests are updated.

`The referenced entity (media: 37) does not exist. (UIowa Timeline Items » Timeline Item [1] » Media [1])`

[2022-02-08 21:46] joewhitsitt commented on #3811
I can help get this code to DEV once the site is there and waiting with pardot js

[2022-02-08 22:09] joewhitsitt commented on #4779
nevermind. this was a separate block that could just be removed from the region in the UI.

[2022-02-08 22:09] #4779 closed, assigned to nobody

[2022-02-09 14:56] dnkemper commented on #4777
you're a wizard, Harry

[2022-02-09 14:58] #4772 closed, assigned to dnkemper

[2022-02-09 15:10] #4720 closed, assigned to nobody

[2022-02-09 15:13] joewhitsitt commented on #4774
Related #1157

[2022-02-09 15:14] dnkemper commented on #4774
THANK YOU, JOE!

[2022-02-09 15:42] makurj commented on #3811
Tippie Dev ready on uiowa02 dev. GTM Pardot tag not firing. Troubleshooting.

[2022-02-09 17:13] pyrello commented on #4703
We may want to consider adding these items to the Proposed solution: https://github.com/uiowa/uiowa/pull/4667#issuecomment-1033994395

[2022-02-09 17:16] joewhitsitt commented on #4689
Scott said "name and major" should be shown when most room is available.

[2022-02-09 17:33] GaryRidgway commented on #4691
Currently in this issue, I have created "Media error" pills to notify people of media errors in their timelines. They currently look like this, and only work for timeline elements:
<img width="654" alt="Screen Shot 2022-02-09 at 11 25 36 AM" src="https://user-images.githubusercontent.com/23122142/153255888-db69945f-50d5-4b4c-95b6-bf124c8b0d96.png">

@joewhitsitt sugested instead [utilizing this pa

[2022-02-09 17:47] cory-skeers commented on #4691
I think the media error pills are a great addition to the patch, particularly if there is a decent number of timeline entries to sort through (thinking 10+, and trying to look for specific ones if the validation message gave a delta). Could be persuaded based on the complexity of maintaining it, but generally think it's a really useful addition.

[2022-02-09 17:53] joewhitsitt commented on #4691
This might be difficult because they can be reordered and lose meaning quickly. The issue says that the form is not reloaded during validation so what would update the numbers?

[2022-02-09 17:58] briand44 commented on #4638
Removed blocked label as Admissions gave us approval to run this.

[2022-02-09 18:03] joewhitsitt commented on #4691
This issue worries me in that we have gone from trying to fix the immediate issue (afaik, stanley museum hasn't been fixed yet) to making it look better in this one silo of content when the whole platform has this issue (e.g admission_card, v2).

[2022-02-09 18:34] dnkemper opened #4783 "Lazy load - photoswipe"
Find a way to implement lazy load for image gallery photoswipe images. Even though it says 'lazy' it's in fact not lazy - relatable 💁🏼‍♀️

[2022-02-09 19:08] #4775 closed, assigned to richardbporter, dnkemper

[2022-02-09 19:09] makurj commented on #3811
Tested it on dev and it appears to be working as expected. Will have user test it when they're back next week.

[2022-02-09 19:59] joewhitsitt commented on #4615
Scheduled for 2:15 (prod mode on!)

Brian already created Feb:
https://github.com/uiowa/uiowa/issues/4768

[2022-02-09 20:15] #4615 closed, assigned to joewhitsitt

[2022-02-09 21:00] richardbporter opened #4786 "Create custom cache tag for sitenow_events block render"
First slice of #4651. Should be investigated first to make sure it is doable.

https://www.drupal.org/docs/drupal-apis/cache-api/cache-tags

### Proposed solution
Add `time:hours_3` cache tag in `sitenow_events_preprocess_block` to block render. Push to dev and test Varnish cache is cleared when tag is purged manually with `drush @mysite.dev pinv tag time:hours_3` for pages that the events view is

[2022-02-09 21:05] GaryRidgway commented on #4691
Talked with Brian on this, and we determined that the current proposed solution would be this:

## Proposed solution:
1. Finish up media error code.
2. Apply patch
3. review code
4. notify Stanley museum to fix the broken media elements themselves with our ways to identify them.
5. Create a follow up issue for any trailing thoughts or necessities coming off of this one.

[2022-02-09 21:43] bspeare opened #4787 "As a Tippie site owner, I can display dynamic charts on my site"
# Story

As a Tippie site owner, I can display dynamic charts on my site.

# Proposed solution

Investigate using the Drupal Charts module so that donut pie charts like https://tippie.uiowa.edu/future-graduate-students/mba-programs/iowa-mba/class-profile and other charts listed below can be added to pages.

- Map: https://international.uiowa.edu/global-network
- Stats from a source table: https://

[2022-02-09 22:02] bspeare opened #4788 "As a site editor, I can choose to hide the circle arrow button on the card block"
# Story

As a site editor, I can choose to hide the arrow button on the card block if I don't want to have an arrow display below the card.

Scott has mentioned that the arrows are useful, but it would be handy to turn them of in some situations.  Like on this "Contact Us" page: https://admissions.uiowa.edu/contact-us.

<img width="1502" alt="Screen Shot 2022-02-09 at 4 01 42 PM" src="https://user

[2022-02-09 22:19] #4363 closed, assigned to nobody

[2022-02-09 23:08] joewhitsitt commented on #4446
I think this looks good. Supposedly, there is `hook_rabbit_hole_values_alter()` in the module that could be used to set these on the fly, but I couldn't get it to work and it was firing more often than I wanted it to...

So, webmasters can't see the rabbit hole settings based on permissions so I don't think all of the form #states logic is necessary for this. I pushed up a change that just disable

[2022-02-10 00:23] dnkemper commented on #4446
Thank you so so much, Joe! You rock!

[2022-02-10 14:31] bspeare commented on #4244
I found a few relevant links for `search_api` and layout builder:

https://www.drupal.org/project/search_api/issues/3038591
https://www.drupal.org/project/layoutbuilder_search_api

It doesn't look like there is a quick and easy solution that we could add to https://github.com/uiowa/uiowa/pull/4770.

[2022-02-10 14:32] richardbporter opened #4789 "Upgrade to Drush 11"
Second slice of #4651 for events option 2.

### Proposed solution
Check release notes: https://github.com/drush-ops/drush/releases and issue queues for any gotchas. BLT issue queue as well.

Try requiring it in Composer and see what needs updating also. This probably needs updating: https://github.com/richardbporter/drush-users-commands Our custom commands might as well in https://github.com/uiowa

[2022-02-10 15:23] #4691 closed, assigned to GaryRidgway

[2022-02-10 16:00] #4638 closed, assigned to joewhitsitt

[2022-02-10 18:17] pyrello opened #4791 "Create SSL for grantwood.uiowa.edu uiowa02"

[2022-02-10 21:11] #3842 closed, assigned to nobody

[2022-02-10 21:14] richardbporter opened #4792 "WSOD on https://education.uiowa.edu/beateacher"
`Error: Call to a member function getFileUri() on null in docroot/modules/contrib/photoswipe/src/ImageDTO.php on line 11`

[2022-02-10 21:14] richardbporter opened #4793 "Fix SSL for https://iexplorestem.org"

[2022-02-10 21:18] briand44 commented on #4786
Start with every 3 hours and we can lower if still an issue.

[2022-02-10 21:18] briand44 commented on #4786
May be a blog post referenced in the epic that could be useful.

[2022-02-10 21:20] briand44 commented on #4786
cache tag name ideas welcome

[2022-02-10 21:32] bspeare commented on #4771
There are a lot of `uids` changes that we are introducing in https://github.com/uiowa/uids/commit/3666964eb91737e6db6f944fb34883e760b28212 for https://github.com/uiowa/uiowa/pull/4667, so we might want to use that same pr to pull in the `imagemin` removal https://github.com/uiowa/uids/commit/08ffb06fd884a123631eddd5bd4803cf0e6a47b1.

[2022-02-10 21:43] dnkemper commented on #4792
Note: Had to install colorbox to sync this down locally 🤔

[2022-02-10 21:46] bspeare opened #4794 "Re-organize menu_block settings to make them easier to understand"
# Proposed solution

Continue the work in https://github.com/uiowa/uiowa/pull/4667, and make these changes:

-  [x] Find a way to unset the "Fixed parent item" if "Make the initial visibility level follow the active menu item" is checked when the block is saved.
-  [x] Find a way to reset the "Initial Visibility" level to `2` if "Make the initial visibility level follow the active menu item" is ch

[2022-02-10 21:51] dnkemper commented on #4792
Once I ran 'composer require drupal/colorbox' and synced the site, that page displays without errors.

[2022-02-10 21:51] mark-bennett-uiowa opened #4795 "Image Gallery does not respect focal point of images"
The image gallery widget does not respect image focal points when used with Masonry style. Masonry style displays images properly (as they are not cropped), but still has the column-first approach rather than row-first approach, but will be a separate issue. You can see the issue on the frontpage of the [https://facultyhonors.clas.uiowa.edu/](https://facultyhonors.clas.uiowa.edu/) site.
<img width

[2022-02-10 21:53] mark-bennett-uiowa commented on #4795
@dnkemper here ya go! :)

[2022-02-10 21:55] richardbporter opened #4796 "Remove colorbox from GA config"
Colorbox was removed and does not need to be in:
https://github.com/uiowa/uiowa/blob/0cc4a2456dff8659354efb067fc98ea44413d5c4/config/default/google_analytics.settings.yml#L22

[2022-02-10 21:56] richardbporter commented on #4792
Tried that but no dice for me.

[2022-02-10 22:00] bspeare opened #4797 "UI Press - Create "view cart" button to appear in the top nav or top links"
# Story

As a UI Press customer, I can see a persistent "View cart" button in the top navigation.

<img width="1473" alt="Screen Shot 2022-02-10 at 3 58 58 PM" src="https://user-images.githubusercontent.com/1036433/153503673-a8825ddd-7b3f-41e3-bc24-d8c232a90509.png">

# Proposed solution

- https://github.com/uiowa/uiowa/issues/2873?
- Create custom block for uipress_core?
- Add the ability to sel

[2022-02-10 22:06] dnkemper commented on #4792
OOOHHH! I'm on lazy branch? https://github.com/uiowa/uiowa/pull/4781
1. git checkout photoswipe-lazy
2. composer require drupal/colorbox
3. add this to photoswipe patches for fun "sdfsd": "https://git.drupalcode.org/project/photoswipe/-/merge_requests/18.diff"
3a. Was issue you pointed to during planning
4. composer install
5. blt ds --site=education.uiowa.edu

[2022-02-10 22:14] dnkemper commented on #4795
thank you, @mark-bennett-uiowa 🥳

[2022-02-10 22:44] #4783 closed, assigned to nobody

[2022-02-10 22:44] #4792 closed, assigned to nobody

[2022-02-11 14:13] briand44 commented on #4793
This should be resolved now for both www and non www.

[2022-02-11 14:13] #4793 closed, assigned to nobody

[2022-02-11 15:16] joewhitsitt commented on #4797
was top-link not an option?

[2022-02-11 15:18] bspeare commented on #4797
Top link could be a good location too.

[2022-02-11 15:41] joewhitsitt commented on #4795
Little background before we pursue a change here:

- Focal point wasn't originally supported on these since we were changing styles in css between grid/masonry (https://github.com/uiowa/uiowa/pull/877#issuecomment-587005674):

<img width="372" alt="Screen Shot 2022-02-11 at 9 30 37 AM" src="https://user-images.githubusercontent.com/4663676/153620823-bb66d102-1e0f-40a1-ba54-d0c9a6c08036.png">

http

[2022-02-11 16:32] bspeare opened #4801 "Timeline block attributes are not being set on the block"
# Problem
The timeline block attributes are not being set which would allow the block to appear full-width within a container.  The missing classes are the default `block block-layout-builder` classes.

<img width="1346" alt="Screen Shot 2022-02-11 at 10 31 49 AM" src="https://user-images.githubusercontent.com/1036433/153630438-433bc980-7779-407d-8355-1c76b7a68f97.png">

# Steps to reproduce
https

[2022-02-11 17:59] bspeare commented on #4797
Asked the brand team their preference on this and they thought that it will be more visible if it is in the main navigation region.

[2022-02-11 18:14] richardbporter commented on #4411
There are a few update hooks and one removes non-existent permissions from roles:
[code]

More details in https://www.drupal.org/project/drupal/releases/9.3.0 but we might to double check these.

[2022-02-11 18:16] richardbporter commented on #4411
Sounds like most of these are probably just not defined in the corresponding module.permissions.yml file: https://www.drupal.org/node/3193348

[2022-02-11 19:03] joewhitsitt commented on #4411
That is a cool feature and these most of these look like permissions of the past.

Remember Adam's linkit file browser feature or my wild entity inception events/event feed/block stuff?

[2022-02-11 19:36] richardbporter commented on #4411
Something is deleting this and I'm not sure what: https://github.com/uiowa/uiowa/pull/4741/commits/713246f643addd5b45573ccd9b7196ae03db15f5

Interesting that the media_embed filter has status disable though....

[2022-02-11 19:52] richardbporter commented on #4411
Might need some help with this change record: https://www.drupal.org/node/3043840

[2022-02-11 19:57] bspeare commented on #4411
I can take a look at that - is this something that we need to manually check or is there a report that will point out where it is an issue?

[2022-02-11 19:59] richardbporter commented on #4411
I think its a manual check. The record says:

I can't find any instances of that hook in our code so maybe there is nothing to update? I'm not sure, TBH.

[2022-02-11 20:10] joewhitsitt commented on #4638
Done. Notified Scott in Slack and provided remaining broken links report.

[2022-02-11 20:34] cory-skeers commented on #4794
Checked out the issue queue, and didn't see any current issues re: organizing the form.

[2022-02-11 20:40] GaryRidgway commented on #4791
on uiowa02

[2022-02-11 21:11] GaryRidgway commented on #4791
ISSUE RESOLVED

[2022-02-11 21:11] #4791 closed, assigned to nobody

[2022-02-11 21:49] joewhitsitt commented on #4794
I believe the reason we adopted menu_block in the first place was for it to follow the children and is the defaultConfiguration for the module https://git.drupalcode.org/project/menu_block/-/blob/8.x-1.x/src/Plugin/Block/MenuBlock.php#L369

[2022-02-11 21:58] richardbporter commented on #3498
clas is done

[2022-02-11 22:08] bspeare commented on #2597
Since this is available in the event content type and the plan is to transition the event block to https://github.com/uiowa/uiowa/issues/4765, I think we can close this.

[2022-02-11 22:08] #2597 closed, assigned to nobody

[2022-02-11 22:09] bspeare commented on #2598
Since this is available in the event content type and the plan is to transition the event block to https://github.com/uiowa/uiowa/issues/4765, I think we can close this.

[2022-02-11 22:09] #2598 closed, assigned to nobody

[2022-02-11 22:12] bspeare commented on #2723
Closing this in favor of https://github.com/uiowa/uiowa/issues/4499.

[2022-02-11 22:12] #2723 closed, assigned to nobody

[2022-02-11 22:21] bspeare commented on #3334
Since this is available in the event content type and the plan is to transition the event block to https://github.com/uiowa/uiowa/issues/4765, I think we can close this.

[2022-02-11 22:21] #3334 closed, assigned to nobody

[2022-02-11 22:33] ABoston88 commented on #4758
Draft content is in place. I learned enough from meta-data to stay broad but if we need more, let me know.

[2022-02-11 22:34] mjoneill commented on #4758
@ABoston88 thx!  I'll take a look.

Aside: I just pushed out the 175 article.

[2022-02-11 22:53] mjoneill commented on #4758
@ABoston88

General: Not what I was expecting, but I really like the path you took with this.  Nicely done!

Can you check the padding/space in between section heading and image in:
- 1896 Section
- 1915 Section

Still chewing on this.  Feels like we wouldn't want to own "we weren't sophisticated".

The copy would suggest that one of the photos was about med and one was about hydroscience.  Feels

[2022-02-14 15:43] briand44 opened #4803 "Update url for mbhd2020.centerforconferences.uiowa.edu"
This is a SiteNow v1 site. The conference is in May 2022 and the site will be able to be removed in June 2022. Wanting to update the url to represent 2022 rather than 2020.

Sounds like we don't have a v1 provision process anymore so we likely will just route the new url manually rather than provisioning a new site and syncing db and files.

[2022-02-14 15:45] briand44 commented on #4803
This is blocked while we wait to hear back on some url questions.

[2022-02-14 15:46] #4244 closed, assigned to bspeare

[2022-02-14 15:46] ABoston88 commented on #4758
Copy changed. I think the spacing change between text and image might be because of the background pattern. Seems to only be happening in those sections.

[2022-02-14 16:06] briand44 commented on #4803
This is no longer blocked. The customer would like to move forward with mbhd.conference.uiowa.edu.

Also, they want to send mass communication about this at the end of the week so they are hoping this can get done this week.

[2022-02-14 16:27] briand44 commented on #4803
We should communicate with them before we begin this process.

[2022-02-14 16:32] joewhitsitt commented on #4411
@dnkemper do you recall the idea behind these?

Is it just to change to the 9.3 version of the patch and test that it still resolves the button contrast issue? https://www.drupal.org/files/issues/2021-11-06/drupal-suppress_css_from_deprecated_libraries-3195764-16.patch

[2022-02-14 16:34] dnkemper commented on #4411
@joewhitsitt not at laptop rn but wondering if there was a regression with webforms that was fixed for 9.3... I remember when you add a webform and go to add an element to it, in 9.2 the button contrast was whack. So if we remove the webform contrast patch, hopefully 9.3 fixes that bug?

[2022-02-14 17:11] bspeare commented on #4794
I'm currently looking into the second checkbox on this issue.

[2022-02-14 17:30] briand44 commented on #4803
CNAME has been requested.

[2022-02-14 17:57] bspeare commented on #4794
After testing this on a few sites, I don't think "Make the initial visibility level follow the active menu item" overrides the other settings.  Adjusting the "Fixed parent item" seems to cause the most havoc which I have documented below in a `<details>`.    Based on the details below, I would recommend that we completely hide the "Fixed parent item" section.  I'll provide a follow-up comment on i

[2022-02-14 18:01] briand44 commented on #4803
CNAME has been created

[2022-02-14 19:01] bspeare commented on #4794
The "make the initial visibility level follow the active menu item" does seem to override or do the same thing as the "Initial visibility level."  Because of this, I think we should hide the initial visibility level for all options, and set to `2` by default.   Setting initial visibility level is useful for the "Fixed parent item" but it appears that you can accomplish the same through using "Chil

[2022-02-14 19:05] dnkemper commented on #4411
@joewhitsitt removed ✅. It fixed the contrast issue. YAY TO UPGRADING!

[2022-02-14 20:05] #4446 closed, assigned to joewhitsitt

[2022-02-14 21:02] dnkemper commented on #4786
have free time on my hands, feel like everyone is busy doing their own thing. I learn how to do new things through google (excellent tool) and def can't decipher this without working on events before. My brain is trying to apply this to sitenow_events_load instead of sitenow_events_preprocess_block? Gonna take step back and focus on others things.

[2022-02-14 21:11] benlewzz commented on #4042
As a team with multiple sites and hundreds of pages that will be using this, I hope we can keep this to a large, comma-separated text field for ease of pasting and editing.

[2022-02-14 21:55] benlewzz commented on #4042
Edited a few more pages, realizing that either of these would work great.

[2022-02-14 22:12] bspeare commented on #4794
For some reason, the default radio is not being set.  This is an issue outside of the work happening in https://github.com/uiowa/uiowa/pull/4667.   You can test it out by adding a new page and then editing the navigation block through layout builder.

[2022-02-14 22:17] benlewzz commented on #4480
I wonder if the scope of this could include pages. I am hoping to list tags in a flexible way on the mental health site, and others. This is how we've done it on some previous sites, at the bottom of the page:

<img width="637" alt="Screen Shot 2022-02-14 at 4 16 18 PM" src="https://user-images.githubusercontent.com/2752004/153955757-ff2f79b8-5836-4372-928c-db66faa19bd6.png">

[2022-02-14 22:27] joewhitsitt commented on #4794
I wonder if the schema for it wasn't updated at the time we saved those blocks to config. https://www.drupal.org/project/menu_block/issues/3022011

I wonder what would happen if those blocks were resaved now that we are on 1.7 https://github.com/uiowa/uiowa/pull/4667/commits/8471e544d474f2711ff59c7722caf88d1afa11ce

[2022-02-15 15:28] richardbporter commented on #1905
It might make sense to rename administrator to developer to denote that access to all features and functionality require knowledge of the application workflow and participation in our team. If that was done, administrator might fit between webmaster and developer.

[2022-02-15 15:52] joewhitsitt commented on #1905
should webmaster become "administrator" and administrator become "developer" so we can make a move away from the term webmaster?

[2022-02-15 15:57] joewhitsitt commented on #4480
I want to resurface https://github.com/uiowa/uiowa/issues/3420 where we are wondering if tags should be visible at all. Seems like there are two camps and this might shape if/how we approach this.

We have configuration settings for each default content type where we could include a checkbox to opt-in to this site-wide but that checkbox would be dependent on whether or not the tags public.

[2022-02-15 15:59] bspeare commented on #4794
It looks like Nursing is using every option that we are looking to hide, does that mean we add an access check and continue to allow all admins access to these fields?

<details>
<img width="629" alt="Screen Shot 2022-02-15 at 9 57 35 AM" src="https://user-images.githubusercontent.com/1036433/154099433-46d67ca4-0fdd-401f-87bd-08440d0d614f.png">
</details>

[2022-02-15 16:00] dnkemper commented on #4480
@benlewzz I'm a big fan of that idea! A cool way to let people view content of a specific topic. IMO this feels important but I'm clearly biased 🤷🏼‍♀️

[2022-02-15 16:05] joewhitsitt commented on #4042
I think converting this to a textarea with wrapping is not possible (more than one row). Looks like there was an issue long ago to add this, but it was shut down and I don't think there is a contributed project that does this.

https://www.drupal.org/node/90329

[2022-02-15 16:09] joewhitsitt commented on #4794
I can start an email thread to understand the use-cases

[2022-02-15 16:12] bspeare commented on #4794
Sounds good, I think they can accomplish they same thing through the settings we will be offering.   Do we need to offer to go in and adjust every page?

[2022-02-15 17:18] dnkemper opened #4807 "SSL cert for facilities.uiowa.edu on uiowa03"

[2022-02-15 17:19] joewhitsitt opened #4808 "Admissions - Migration caused some fields to be uneditable"
# Problem

Migration caused some fields to receive the wrong format and editors don't have access to them.

- Estimated Cost of Attendance
- Application Deadlines

# Proposed solution

Loop through and re-save the fields with the correct filter format?

Some are marked as full_html (node__field_area_of_study_deadlines).

[2022-02-15 17:42] makurj commented on #4544
Not needed by tippie.prod.drupal.uiowa.edu anymore, only for https://tippiestudents.prod.drupal.uiowa.edu/

[2022-02-15 19:02] #4657 closed, assigned to pyrello, GaryRidgway, e-marie-w

[2022-02-15 19:11] briand44 commented on #4797
Use menu item, scope it to UI Press only

[2022-02-15 19:19] briand44 commented on #4689
List and Grid style option, list would display name and major. Need to get feedback on this from Admissions.

[2022-02-15 19:25] briand44 commented on #4771
See if we can figure this out without publishing on NPM first.

[2022-02-15 19:30] inspector508 commented on #4657
Hi Dani,

Wanted to let you know that this got caught in my Clutter box—if I owed you something, I apologize for not catching it earlier.

TMW

From: Dani Wisnousky ***@***.***>
Sent: Tuesday, February 15, 2022 1:03 PM
To: uiowa/uiowa ***@***.***>
Cc: Weissenberger, T M ***@***.***>; Mention ***@***.***>
Subject: [External] Re: [uiowa/uiowa] UI Press - Implement layout and design for book content

[2022-02-15 19:37] briand44 commented on #4808
May be some example code in undergrad Admissions migration if needed.

[2022-02-15 19:41] briand44 commented on #4042
Move forward with https://github.com/uiowa/uiowa/issues/4042#issuecomment-908575764

[2022-02-15 19:42] briand44 commented on #4042
articles, people and pages

[2022-02-15 19:48] briand44 commented on #4480
Opt in per content type on config pages. Articles, Pages, People.

[2022-02-15 19:58] dnkemper commented on #4480
So add tag at bottom of content through config. If tag button is clicked, show all pieces of content that relate to specific tag -> Create view that shows a list of all content with related tag.

[2022-02-15 19:58] joewhitsitt commented on #3420
Leaning towards an opt-in rabbit hole, but not sure where to provide site owners control to toggle this functionality and have it set rabbit hole on the vocab

[2022-02-15 20:02] joewhitsitt commented on #3420
sounds like eventual "double" validation as it relates to #4480

"tags are displayed on the following content types: article, ... please hide those before making this change"

"tags are hidden from visitors. please make these visible before displaying them on this content type"

[2022-02-15 20:07] briand44 commented on #3614
small, medium, large came from v2 and were kept for video.

[2022-02-15 20:10] briand44 commented on #3614
investigate to see if a bug was introduced here.

[2022-02-15 20:14] joewhitsitt commented on #3614
Might be a bad config regression here related to the small/medium/large options being available to images. Unfortunately, I think to fix (remove) those options for images (admin/structure/media/manage/image/display) textarea markup will have to be updated to switch to a replacement similar to the v2 merge.

[2022-02-15 20:18] richardbporter commented on #1905
Something else to consider, which may be better suited for a separate issue but wanted to jot down before forgetting, is whether or not the administrator role should be available for manual assignment. That is, do we want to only grant the administrator role to those in the appropriate AD group?

[2022-02-15 20:45] richardbporter commented on #4803
The site is now available at https://mbhd.conference.uiowa.edu. The old URL https://mbhd2020.centerforconferences.uiowa.edu is now redirecting. The D7 metadata has been updated but might take a while to regenerate.

Reopen for any follow-up work.

[2022-02-15 20:45] #4803 closed, assigned to richardbporter

[2022-02-15 20:46] GaryRidgway opened #4810 "Stop users from being able to delete media items that are in use"
Users can currently delete media items that are referenced in other blocks (e.g Timeline referencing a deleted image). We should find a way to remove this as a possibility.

[2022-02-15 21:11] joewhitsitt commented on #4810
entity usage has a warning message (that no longer appears to be configured) that we could latch on to disable the delete button or something. we currently don't allow bulk delete of media.

<img width="699" alt="Screen Shot 2022-02-15 at 3 03 42 PM" src="https://user-images.githubusercontent.com/4663676/154149281-75b5e71d-38b9-4b17-bba1-455ed234b329.png">

however, until we clean up media revisio

[2022-02-15 21:13] joewhitsitt opened #4811 "Clean up media revisions"
Epic #4338

# Story

When a media entity is deleted from the website, as a site editor I expect the underlying file to be removed from the server so it no longer shows up in search results.

# Proposed Solution

Update hook to remove non-current media revisions and set the related files' status to 0 so that garbage collection can remove them.

- [x] query the media table for all `mid/vid`. Then in

[2022-02-15 21:21] briand44 opened #4812 "Run news migration for International Programs"
- [x] Setup dev environment for v3 site
- [x] Run migration in dev and provide broken links report
- [x] Update migration to bring keywords into tags
- [x] Update migration with image styles/default styling
- [x] Update manualLookup with client-provided mappings
- [x] Test run in dev for a final sign-off on some of the updates, such as image styling
- [x] Run migration in prod once we get approval

[2022-02-15 22:26] briand44 opened #4814 "Add Heatmap code to icgov.org"
We received a request to add some tag manager code to icgov.org for a heatmap. This is to assist them and their new development team as they transition off of our platform.

Tag Manager is currently not enabled, do we enable it or just add the code through the template?

I forwarded the email that contains the code to its-web for reference.

[2022-02-15 22:32] bspeare commented on #2532
After talking with the brand team about this, I think we should move forward with offering Zilla as a heading style for the WYSIWYG.   There are mixins for most of the headline styles (https://github.com/uiowa/uids/blob/main/src/components/headline/_headline-mixins.scss) so we shouldn't be limited by trying to apply the multiple `headline headline--serif` classes at once if that is a blocker for i

[2022-02-15 22:37] bspeare commented on #4794
We met with Sam today and it looks like they have a need for the "Fixed parent item" functionality.  So for now we are going to allow access to that for the admin role only.    In a `<details>` below, here's how the form will appear for webmaster and editors:

<details>
**Vertical**

<img width="483" alt="Screen Shot 2022-02-15 at 4 36 20 PM" src="https://user-images.githubusercontent.com/1036433/

[2022-02-16 15:11] bspeare commented on #4794
@joewhitsitt I forgot that will still need to figure out https://github.com/uiowa/uiowa/issues/4794#issuecomment-1039636009.   Do you have time to look at that today?

[2022-02-16 16:08] #4411 closed, assigned to richardbporter

[2022-02-16 16:09] joewhitsitt commented on #3957
I _think_ this is done for now.

[2022-02-16 16:14] joewhitsitt commented on #4794
Yeah, I can pull it down and see if I can make it stick

[2022-02-16 16:42] joewhitsitt commented on #4794
@bspeare does that look correct to you or did I mess it up? https://github.com/uiowa/uiowa/pull/4667/files#diff-c9334b7b9603dd84a065e5bc14db7aed09f961a74b411c0c4a00d50c9dfe43ad

update: looks like i messed it up. working on fixing it

[2022-02-16 17:28] bspeare opened #4817 "Tippie student profile epic"
# Stories within this epic

- As a Tippie site owner, I can create a student profile using layout builder that I can tag with multiple taxonomies (Program, People Type, Location) for filtering.
- As a Tippie site owner, I can create a page with exposed filters to search for student profiles displayed in grid displayed as cards like https://tippie.uiowa.edu/program-finder.
- As a Tippie site owner,

[2022-02-16 17:29] briand44 commented on #4689
We are good to move forward with adding the list style option that would display name and major. Once we have something for Admissions to see, we should reach out for their feedback.

[2022-02-16 17:29] bspeare commented on #4817
@makurj I think https://github.com/uiowa/uiowa/issues/4226 is the same issue.   Should we merge the two?

[2022-02-16 17:40] joewhitsitt commented on #4786
going to start looking at this. will start a huddle for those interested

[2022-02-16 18:18] bspeare commented on #4794
@joewhitsitt It looks you fixed it, thanks!

[2022-02-16 18:38] makurj commented on #4817
@bspeare Sure. Thanks.

[2022-02-16 18:47] joewhitsitt commented on #4786
Might see about creating some events for web community (e.g. demo), getting a block cached in dev, updating the event, triggering invalidation and seeing what happens.

[2022-02-16 19:47] richardbporter commented on #4786
You could also override the sitenow_events.settings endpoint config to point at the dev or stage content hub site.

[2022-02-16 20:12] joewhitsitt commented on #4786
So I think something is missing from this. Created an event (thanks Digital Signage unit). Got it pulled into https://default.dev.drupal.uiowa.edu/ as cached. Change the title to just be `Web Team Sprint Demo` instead of prefixed with OSC. I ran `drush @default.dev pinv tag time:hours_3` and didn't see a change.

Originally, I thought the custom cache tag on the block would be more of flag to then

[2022-02-16 20:16] richardbporter commented on #4786
Did you do all that in under 5 minutes? :)
https://github.com/uiowa/uiowa/blob/de472bd53e4a95b3b4932ed58a99de61fd3c781c/docroot/modules/custom/sitenow_events/sitenow_events.module#L301-L305

[2022-02-16 20:21] joewhitsitt commented on #4786
D'oh!

Update: changed the title again. Going to sit for a bit.

[2022-02-16 20:32] makurj commented on #3811
Met with Lydia and here is some further work that needs to be done on this:

1. Lydia would like to capture data from other fields in addition to firstname, lastname and email. She is compiling a list and will send them to me. Not all forms have all the fields.
2. She would like to revert the field keys to Drupal's default of first_name, last_name instead of firstname, lastname. She says she can c

[2022-02-16 20:42] joewhitsitt commented on #4786
Welp. It gets varnish to miss but looks like drupal cache is still a hit with this.

<img width="904" alt="Screen Shot 2022-02-16 at 2 30 40 PM" src="https://user-images.githubusercontent.com/4663676/154353592-f8006cc1-08bf-49c1-bd08-82972f739730.png">
<img width="997" alt="Screen Shot 2022-02-16 at 2 31 26 PM" src="https://user-images.githubusercontent.com/4663676/154353604-a94afe58-c677-431a-907

[2022-02-16 20:53] richardbporter commented on #4786
Hm. Yea I can replicate this locally...

[2022-02-16 21:14] bspeare opened #4822 "Finish design for "Mega" block menu option."

[2022-02-16 21:15] bspeare commented on #4822
Closing this and replacing it with a new issue.

[2022-02-16 21:15] #4822 closed, assigned to nobody

[2022-02-16 21:23] bspeare opened #4823 "As a site owner, I can use a "Horizontal" version of the menu block that displays the menu depth in dropdown menus"
# Story

As a site owner, I can use a "Horizontal" version of the menu block that displays the menu depth in dropdown menus

# Proposed solution

View my latest comment below for progress notes.

[2022-02-16 21:25] bspeare commented on #4701
Tippie has decided to go with https://github.com/uiowa/uiowa/issues/4823, and we will need to update this issue with a new proposed solution once we have groomed #4823.

[2022-02-16 21:27] joewhitsitt commented on #4786
Between content.uiowa.edu (10 min) and the query cache (5 min), we are looking at about 15 minutes. Going to sit for a bit longer and test again.

[2022-02-16 21:37] #4807 closed, assigned to nobody

[2022-02-16 22:15] joewhitsitt commented on #4786
Bummer. As-is, waiting longer didn't work. Something else is wrong with this block's caching. Trying some things locally since drupal cache seems to be in the way

[2022-02-17 13:18] mjoneill opened #4825 "Move pentacrest webcam experience to osc.uiowa.edu"
As a visitor to osc.uiowa.edu/webcams/pentacrest I see the pentacrest webcam currently at https://webcam.iowa.uiowa.edu/live/ so that ITS can retire the server/ownership of this piece of infrastructure

- [x] Understand if this is possible/what blockers exist if any
- [x] Understand if there are other cams/services on webcam.iowa.uiowa.edu
- [x] Embed feed on site?
- [x] #5437
- [x] Add a vulture

[2022-02-17 13:26] mjoneill commented on #4825
One concern I have is that this is more complex than embedding a feed and that the camera might need a server application running somewhere.  First step is likely a grooming step to try to understand this better.

[2022-02-17 14:33] joewhitsitt commented on #4518
https://gbyte.dev/blog/index-drupal-9-pages-indexnow-using-simple-xml-sitemap (hey, we use simple xml sitemap. this sounds simple)

[2022-02-17 14:36] bspeare commented on #4226
Added this information to https://github.com/uiowa/uiowa/issues/4817 and closing this one.

[2022-02-17 14:36] #4226 closed, assigned to nobody

[2022-02-17 14:36] joewhitsitt commented on #4786
i want to say that throwing a max-age 0 in there as well has solved our problems... but at what cost?

[2022-02-17 14:53] joewhitsitt commented on #4786
i wonder if single event (docroot/modules/custom/sitenow_events/src/Controller/EventsController.php) will need this too

[2022-02-17 15:08] #4808 closed, assigned to cory-skeers

[2022-02-17 15:11] bspeare commented on #4794
Added the blocked label until we hear back from Nursing on their custom menu implementation.

[2022-02-17 16:24] joewhitsitt opened #4827 "Image gallery image style regression"
# Problem
https://github.com/uiowa/uiowa/pull/4781 caused a regression where the image gallery view mode and the original image got swapped. the original image is now being loaded for the grid/masonry and the image gallery style (max of 768 or whatever) is loaded in the viewbox. Depending on the size of the monitor original image in the light box it should expand to fill the space and not be cappe

[2022-02-17 16:59] joewhitsitt commented on #3935
Not an issue solver, but core has made per instance alternative text a thing now. It uses the required global alt text by default, but provides a text input to change in the context the image is placed. https://github.com/uiowa/uiowa/pull/4741#issuecomment-1041778026

[2022-02-17 17:46] bspeare commented on #4735
Closing this one in favor of the recently updated https://github.com/uiowa/uiowa/issues/4823.

[2022-02-17 17:46] #4735 closed, assigned to nobody

[2022-02-17 17:54] dnkemper commented on #4827
actually this wasn't possible with photoswipe and had to be swapped to use a photoswipe 'responsive' image to be able to implement lazyload instead of just using the original photoswipe image (which was what was set originally). So at the moment it's going to be one or the other - lazy or this. OR will require a custom patch
<img width="1136" alt="Screen Shot 2022-02-17 at 11 58 05 AM" src="https:

[2022-02-17 18:22] richardbporter commented on #4786
So I'm seeing updates to events without the `max-age` change in #4818 - I commented out/removed those just for now. I'm wondering if someone can try this locally:

- Sync a site and change the sitenow_events endpoint to dev `drush @mysite.local cset sitenow_events.settings base_endpoint 'https://content.dev.drupal.uiowa.edu/api/v1/'`.
- Create a page with an Events block filtering by Digital Signa

[2022-02-17 18:27] joewhitsitt commented on #4827
Okay, yeah, image gallery isn't a responsive style. Instead we should use small or medium no crop then and sunset the image gallery image style.

[2022-02-17 18:30] joewhitsitt commented on #4827
changing this will probably have to be an off-hours release again to clear caches and get the gallery to re-trigger the image style generation

[2022-02-17 18:35] joewhitsitt commented on #4786
i can try this. thanks for continuing to poke at this. might as well assign yourself ;)

[2022-02-17 18:49] joewhitsitt commented on #4786
Locally that worked

[2022-02-17 19:15] richardbporter commented on #4786
Great, thanks for confirming. I'd be interested in seeing if that then works in combo with the cache tag purge in dev. Looks like that is on its way...

[2022-02-17 20:23] richardbporter commented on #4786
Saw the update very quickly while logged in. Did not see it after purging cache tag, URL or full domain via AC. I had to purge tag and cc render to get it to show. :(

[2022-02-17 21:23] bspeare commented on #4794
After learning about the menu direction that Tippie would like to pursue, it seems like there are three types of menus that a webmaster might want to create with the menu settings.  I've documented the three types below in a `<details>` below for reference.

<details>

**1. Persistent/fixed menu**
- This is the type of menu that Tippie would like for their site.
- Every page in a section sets a fi

[2022-02-17 21:31] briand44 commented on #4814
Sounds like adding the GTM module is the preferred path forward here. We will want to explain that it is added to all pages and they can limit on their end.

[2022-02-17 21:45] richardbporter commented on #4786
Not working with max-age 60, at least not for me. I'm not sure why that wouldn't work and max-age 0 would. Maybe because there still is nothing to invalidate the render cache and max-age 0 prevents the render cache in the first place? I guess lets roll with max-age 0 if that worked and page cache is still set.

[2022-02-17 21:50] joewhitsitt commented on #4786
Did you re-save the block after pushing that up?

[2022-02-17 21:52] richardbporter commented on #4786
No

[2022-02-17 22:12] richardbporter commented on #4786
I have reduced the content hub prod page cache time to 5 minutes.

[2022-02-17 22:16] bspeare commented on #4689
I've updated the proposed solution with more details.

[2022-02-17 22:21] quamsta commented on #4480
Hi all, just trying to get a good sense of how I should approach this pretty widereaching issue. Hoping I didn't bite off more than I could chew in this sprint, but I'm willing to take a stab at it.

Here are my thoughts so far:

## In Drupal:
- Showing tags on Articles, Pages, and People content types requires a setting checkbox for displaying tags on these content types
- Articles and People = e

[2022-02-17 22:23] joewhitsitt commented on #4480
I wonder if it can just be in the established "prefooter region" just above the "prefooter block"

[2022-02-17 22:45] quamsta commented on #4480
This is exactly the sort of efficiency I'm looking for in this large issue I've wrapped myself up in, Joe. 😄

[2022-02-18 14:37] bspeare commented on #4480
The related content list (https://user-images.githubusercontent.com/1036433/142894810-98edf87e-a66d-4111-98f0-847d10df644a.png) would be most useful for Articles.  Can we have an option to toggle between the two display options?

[2022-02-18 14:43] briand44 commented on #4814
I got another email about this. Blocking until I can get some further clarification.

[2022-02-18 14:45] bspeare commented on #2530
@mark-bennett-uiowa can this be closed?  It looks like we have fixed this issues based on the ones listed in @joewhitsitt comment above: https://github.com/uiowa/uiowa/issues/2530#issuecomment-934856820.

[2022-02-18 14:46] bspeare commented on #2107
@mark-bennett-uiowa can we close this one in favor of https://github.com/uiowa/uiowa/issues/2532#issuecomment-1040864388?

[2022-02-18 15:00] quamsta commented on #4480
The examples there are pages, not articles, but I can see uses for both versions of showing tags like that. That one seems good if there's a substantial amount of content that's been tagged. I can attempt to make a toggle to determine how they're shown

[2022-02-18 15:52] quamsta commented on #4480
This is what I'm thinking right now:
<img width="608" alt="Screen Shot 2022-02-18 at 9 50 07 AM" src="https://user-images.githubusercontent.com/472923/154716072-e6bc211d-9623-4b41-a2fa-509b097ad987.png">

[2022-02-18 15:57] bspeare commented on #4480
@quamsta I like that!

[2022-02-18 18:03] joewhitsitt commented on #3614
Looked into this. When we switched v2 over to media library, small/medium/large core image styles (not responsive) came with it.

We originally re-mapped them but the difference between small and small-no-crop was big as mentioned on this issue. So we just continued to support them and all we did was update entity-browser-isms to media-library-isms. https://github.com/uiowa/uiowa/pull/3048#issueco

[2022-02-18 18:20] #4797 closed, assigned to dnkemper

[2022-02-18 19:23] #4786 closed, assigned to richardbporter, joewhitsitt

[2022-02-18 19:27] makurj commented on #3811
@joewhitsitt @richardbporter Do we need to wait for Lydia to give us the keys to start work on this?

[2022-02-18 20:35] ABoston88 opened #4835 "UIowa.edu - Q1 Site Content Refresh"
**Overview**
UIowa.edu will have been live for two years in May of 2022. I'd like to start a review of UIowa.edu focused on learning what we can from analytics while revisiting/refreshing layout, imagery, and content.

**Goals**
- To surface and address:
- Unclear site navigation
- Out-of-date or low-quality content
- Inconsistent or aging messaging
- Stale imagery
- Featured content needs (either

[2022-02-18 21:10] briand44 commented on #4814
Ok, it now seems like we just need to add the Heatmap code (email in its-web) to the homepage for icgov.org. Tag Manager is no longer in scope.

[2022-02-19 03:09] mjoneill opened #4837 "Education People Directory Google Search Issue"
CoE faculty member identified that his profile is no longer appearing in site search.  It is also not appearing in Google search (not surprising, since it's the same engine).

[2022-02-19 03:10] mjoneill commented on #4837
People directory sitemap is submitted, all the profiles are crawlable.  Google isn't having trouble finding the content.  It is, however, _choosing_ not to display it in serps.

[2022-02-19 03:13] mjoneill commented on #4837
I do notice that prior to this, their directory was set up at the following path:

https://education.uiowa.edu/people/

Now it is https://education.uiowa.edu/directory/

Yet the root https://education.uiowa.edu/people/ page still exists and is accessible (with no content on it).  Seems weird, and makes me wonder if this is expected, or there might be more components of the old directory at play.

[2022-02-19 03:50] mjoneill commented on #4837
Noticing something a bit weird. Screamingfrog is reporting that profile pages are not indexable because they are canonicalized, and that there's a canonical reference to the profile that exists on Directory Profiles main site for each profile on education.uiowa.edu.

Can someone more familiar with how the module is working and what is doing take a look for the canonical to profiles.uiowa.edu/peopl

[2022-02-20 17:51] mjoneill commented on #4837
Seeing similar behavior in search for dentistry and education.  @briand44 I suspect we're going to want to push a change out to the module for whatever canonical reference is pointing back at another website.

I notice both these sites are also using /directory/ for the path. Seems like that's just coincidental to whatever is going on, but I am making note of it just in case that's meaningful.

Le

[2022-02-20 18:20] mjoneill commented on #4758
JB reached out this weekend and asked when this would be ready.  I published the page so she could see it and share the link with her stakeholders + invited feedback on copy, etc.

I also shared that:

- This is published, but not promoted on the site
- If the URL changes, we will add redirects (she is likely sharing the URL now to get feedback)
- [ ] We have yet to add it to site navigation
- [ ]

[2022-02-21 14:40] bspeare commented on #4758
I went in this morning and updated the spacing between text and image and added an image banner to the top of the page.

[2022-02-21 17:04] richardbporter commented on #4771
I'm playing around with this in #4833 and I'm noticing a delay or inability to delete `node_modules/@uiowa` either from my host or the ddev container. I seem to have to SSH into the container and rm -rf it there and then wait a bit for the change to show on my host. Frustrating.

[2022-02-21 17:21] richardbporter opened #4839 "Set per-site Drush cache config"
Blocked by #4789

Create a new PR using #3383 as a guide.

The PR should:
- [x] Remove env variables being set in BLT tasks [591f8f9](https://github.com/uiowa/uiowa/pull/3383/commits/591f8f9b6bb717731ed287d56e9484269f7c6915)
- ~~Create a BLT update hook to set site-specific config for all multisites [91788d9](https://github.com/uiowa/uiowa/pull/3383/commits/91788d9bad7a66d7ce0fb4f370a5aeea6b18eadb

[2022-02-21 17:29] cory-skeers opened #4840 "More robust Find Text error catching"
# Story

Followup to #4836

As a developer I want more robust error catching in SiteNow Find Text so that I can add new fields and field types with confidence they won't break Find Text functionality.

# Proposed solution

Remove the `@todo` filtering for `rh_` field names in the Find Text module.
Add check(s) prior to database queries to catch and remove potentially problematic queries before the

[2022-02-21 17:33] richardbporter opened #4841 "Create and document staggered scheduled task to run cron on all sites"
~~Blocked by #4839.~~

This was actually only blocked by #4789.

Read docs:
https://docs.acquia.com/cloud-platform/manage/cron/
https://docs.acquia.com/cloud-platform/manage/cron/drush-cron-cpe/

Disable automated cron via config.

For each application environment, create an hourly scheduled task to run cron on all sites via `blt uiowa:multisite:execute`. Stagger the execution of the command by 10

[2022-02-21 17:34] richardbporter opened #4842 "Create hook_cron to invalidate and purge custom cache tag used in sitenow_events"
Blocked by #4841.

### Proposed solution
Rename sitenow_events cache tag created in #4818 from `time:hours_3` to `time:hourly`.

Implement `hook_cron()` in uiowa_core.module. Check for existence of of [State API](https://www.drupal.org/docs/8/api/state-api/overview) key called `uiowa_core_hourly_last` or similar. If set, subtract the value from the request time. If that is greater or equal to an h

[2022-02-21 17:35] cory-skeers opened #4843 "Address Find Text response when lots of results"
# Story

Question: "At what point do we say 'too many results' or time out.

Try searching for something like "programs" or "about" on education.uiowa.edu, and there are lots and lots of results, and other searches could have even more.

Is there a point where there are "too many" results?
Is there an amount of time where the search can be determined to have taken too long?
Can/should the results

[2022-02-21 18:24] bspeare commented on #4713
Since Tippie wants this "pre-title" field to function as a breadcrumb path for each page, is it worth considering this instead as an adjustment to the featured image instead of the banner block?

We would need to add this functionality to the featured image:

- Ability to center the page title on the featured image
- Ability to adjust headline styles of featured image
- Ability to set the "Active

[2022-02-21 18:34] bspeare commented on #4750
If we remove the requirement from the banner block for the title, this turns the banner block into a background image and text area.   Examples below.

<img width="1835" alt="Screen Shot 2022-02-21 at 12 28 55 PM" src="https://user-images.githubusercontent.com/1036433/155009905-21a1be08-3b30-4c48-8b32-b925a8e9e9f8.png">

<img width="1876" alt="Screen Shot 2022-02-21 at 12 28 04 PM" src="https://us

[2022-02-21 18:59] joewhitsitt commented on #4713
The more it is a part of the node, breadcrumb, the less it seems likely that banner will handle this. That said, placing all of this alongside the featured image doesn't sound right to me. Pre-title is starting to sound like a field that should work regardless of whether a featured image exists.

[2022-02-21 19:29] richardbporter commented on #4789
Blocked by https://github.com/acquia/blt/pull/4465

[2022-02-21 19:55] mark-bennett-uiowa opened #4844 "As an editor, I can upload .tex LaTeX files through the file upload feature."
On the Physics and Astronomy site, they post LaTeX files for their students to use as templates for research submissions. This will also be the case in Mathematics (and potentially CS in the future). Hoping this could be added to the list of available filetypes for the file upload feature.

Currently we have been wrapping these files inside of ZIP files in order to upload them to the site ([https:

[2022-02-21 20:02] bspeare commented on #4713
Seems like the page title alignment is something the stories site could use if that helps inform our decision here at all:

- Centered: https://stories.uiowa.edu/grant-day-arm-injury-serving-country-and-county
- Right aligned: https://stories.uiowa.edu/andy-spurgin-pharmacy-grad-practicing-estherville
- Left aligned: https://stories.uiowa.edu/husband-wife-hearing-world-around-them-better
- Top rig

[2022-02-21 20:09] briand44 opened #4845 "Prohibit manual assignment of administrator role"
Admin access should only be granted by AD group. Developer permissions are needed to be granted admin access. This can be managed through https://iam.uiowa.edu/access.

# Proposed Solution

[2022-02-21 20:10] briand44 commented on #1905
Created a separate issue for ^^. https://github.com/uiowa/uiowa/issues/4845

[2022-02-21 21:01] richardbporter commented on #4789
Actually, there is some other work to be done here.

[2022-02-21 21:08] e-marie-w commented on #4402
Quick update on where this is at: Collection, Events, Text Area, and RSS Feeds blocks all working fine. Alignment options appear but do not work for Image Gallery, Slider, Timeline, Articles List, and People List blocks.

For Image Gallery, Slider, and Timeline selecting the center option adds the `headline--center` class fine, but it won't visually change. The list blocks don't work at all curren

[2022-02-22 14:01] quamsta commented on #4480
Working on this issue this week, will probably pull you both in @joewhitsitt, @bspeare for assistance/making sure I'm on the right track, but have made some progress.

[2022-02-22 14:48] cory-skeers commented on #4812
The migration has been run on dev, 1848 articles migrated over along with redirects created from old alias pattern to the new.

Attached is the possible broken links report (migrated articles which had `/node/` style links within their body).

[Possible broken links report.xlsx](https://github.com/uiowa/uiowa/files/8117536/Possible.broken.links.report.xlsx)

[2022-02-22 15:29] bspeare commented on #3762
This happened again with: https://oneit.uiowa.edu/year-review-2019/examining-etexts.  Clearing cache fixes the solution.  Note from Jalessa: "It’s all of the pages with this content type YIR Stories, here is just one example page that’s currently published and displaying.[ https://oneit.uiowa.edu/year-review-2019/examining-etexts](https://oneit.uiowa.edu/year-review-2019/examining-etexts)."

[2022-02-22 16:12] joewhitsitt commented on #4844
Just heads up, I read that .tex files can hold nasty things. and that we might want to implement https://github.com/uiowa/uiowa/issues/2264 before allowing more file types. https://www.usenix.org/system/files/login/articles/73506-checkoway.pdf

Also, would this replace #4152 or be in addition to?

[2022-02-22 17:15] mark-bennett-uiowa commented on #4844
@joewhitsitt I completely understand the concern, and support the AV check implementation prior to this being added.

In regards to #4152, they are two different things. #4152 allows an editor to create something like this inside a text region (see [https://math.uiowa.edu/resources/latex-tex-information](https://math.uiowa.edu/resources/latex-tex-information)):
<img width="821" alt="Screen Shot 20

[2022-02-22 17:16] mark-bennett-uiowa commented on #4152
Here is an example of a page on mathematics that uses MathJax within a text region, see [https://math.uiowa.edu/resources/latex-tex-information](https://math.uiowa.edu/resources/latex-tex-information).
<img width="821" alt="Screen Shot 2022-02-22 at 11 14 08 AM" src="https://user-images.githubusercontent.com/3067017/155183790-92d5d9a5-5455-4b1e-9cef-b5f53bbe39a7.png">

[2022-02-22 17:28] joewhitsitt commented on #4844
Yeah, I was just curious if having an easier way to include .tex as a download would eliminate the need to input the formulas again in a different medium. The one thing I recall from working with LaTeX before is the less you have to replicate/maintain the better.

[2022-02-22 18:29] bspeare commented on #4713
I also have concerns that the "pre-title" field would be used for large chunks of text like we have seen with the Prefix and Suffix fields in the Statistic block which is why turning the "pre-title" field into some sort of breadcrumb path is appealing.

[2022-02-22 18:33] bspeare opened #4848 "maps.uiowa.edu clear search button has invalid color contrast ratio"
# Problem
Maps.uiowa.edu clear search button has invalid color contrast

<img width="457" alt="Screen Shot 2022-02-18 at 12 54 49 PM" src="https://user-images.githubusercontent.com/1036433/155196362-db6ab44f-c561-4240-b744-c556ccda6163.png">

**Hover:**

<img width="449" alt="Screen Shot 2022-02-18 at 12 54 54 PM" src="https://user-images.githubusercontent.com/1036433/155196379-cea4f79e-4d88-4203-

[2022-02-22 19:26] richardbporter commented on #4814
I need to deploy a release for icgov so I can probably wrap this up into it.

[2022-02-22 19:40] bspeare commented on #4794
After grooming this today we discussed that:
- Move forward with the current configuration in https://github.com/uiowa/uiowa/pull/4667.
- Find a way to unset the "Fixed parent item" if "Make the initial visibility level follow the active menu item" is checked when the block is saved.
- Find a way to reset the "Initial Visibility" level to `2` if "Make the initial visibility level follow the active

[2022-02-22 19:53] briand44 commented on #4811
Don't delete "latest"

[2022-02-22 20:12] bspeare commented on #4489
Would it be easier to integrate this into the featured image field?

[2022-02-22 20:13] joewhitsitt commented on #4759
My mention of using collections as a base in grooming might be old news and not the best practice anymore. We did this for a few accordion implementations. https://github.com/uiowa/uiowa/search?l=Twig&q=collection--accordion

[2022-02-22 20:30] joewhitsitt commented on #4811
Untested but query the `media` table for all `mid`/`vid`. Then in `media_revision` get all `mid`/`vid` that don't intersect and safely delete using `\Drupal::service('entity_type.manager')->getStorage('media')->deleteRevision({vid});`?

[2022-02-22 20:48] joewhitsitt commented on #4811
not sure what to do to trigger entity usage to update their counts though (this is usually done with UI media operations)

[2022-02-22 20:48] bspeare opened #4849 "As a site owner, I can use the default home page install as a starting point for my site design instead of a showcase of components"
# Story

As a site owner, I can use the default home page install as a starting point for my site design instead of a showcase of components.

# Problem
- The current installed home page (https://default.dev.drupal.uiowa.edu/) is a kitchen sink of component and text areas.
- Customers cannot use the "Featured image" field since the template does not allow it.

# Proposed solution
- [x] Initial sli

[2022-02-22 20:56] joewhitsitt commented on #4849
Semi-related to https://github.com/uiowa/uiowa/issues/3473 also by removing some media items, there are less public stored images that would interfere with an Intranet split.

[2022-02-22 21:38] #4814 closed, assigned to richardbporter

[2022-02-22 22:35] #3498 closed, assigned to richardbporter

[2022-02-23 15:10] joewhitsitt commented on #4689
@bspeare can you confirm that we are supposed to be displaying year instead of major?

[2022-02-23 16:22] ABoston88 commented on #4758
Added link to top menu and featured in the front page news feed. Does that push this over the line into done?

[2022-02-23 16:44] bspeare commented on #4689
@joewhitsitt I think I just typed the wrong thing there.  Good catch!

[2022-02-23 16:58] joewhitsitt commented on #4689
darn. year would have been easier...

[2022-02-23 19:44] bspeare opened #4852 "SSL for prc.public-health.uiowa.edu on uiowa03"
I checked with Patrick and Christopher at Public Health and they said that setting up the cert to cover `*.public-health.uiowa.edu` makes sense to them as long as:

 "It doesn’t affect my ability to request a certificate for the same in the InCommon certificate manager.  Our SSL certificate used by our on-prem sites and WordPress sites in AWS also covers *.public-health.uiowa.edu."

[2022-02-23 20:04] richardbporter commented on #4771
We tested this out in https://github.com/uiowa/uiowa/pull/4853.

First we changed how uids is specified in uids_base/package.json as a dependency:

`ddev yarn workspace uids_base add https://github.com/uiowa/uids.git#v3.4.6`

Then we committed the changes and did two things to upgrade:
- Manually update the tag version in uids_base/package.json
- `ddev yarn workspace uids_base upgrade @uiowa/uids`

[2022-02-23 21:28] joewhitsitt commented on #4689
For the different classes per display type, we will have to leverage `hook_preprocess_views_view_unformatted()` similar to what is being done in layout_builder_custom making sure that the admissions module is not overtaken by the logic there.

[2022-02-23 21:36] makurj commented on #3811
URL Parameters discussion summary: Lydia can use the Pardot API. In that scenario, Drupal and Pardot never actually connect so OSC wouldn’t need to build anything, as long as we can pass the prospect ID to her (fill a hidden field on the form with the prospect ID from the browser, so it can be passed to Pardot through the form handler). She can make the visitor id and prospect id connection in the

[2022-02-23 22:01] #4771 closed, assigned to nobody

[2022-02-23 22:43] richardbporter commented on #4640
These don't seem to be displaying on the access denied page for some reason, which is good but I haven't figured out why yet.

[2022-02-24 14:47] e-marie-w commented on #2739
The Center for the Book is also interested in showing past events more than a year old.

[2022-02-24 15:04] #4758 closed, assigned to ABoston88

[2022-02-24 15:16] bewoldt opened #4856 "square image showing instead of widescreen on card block"
# Problem
A card block has the image format set as Widescreen but is displaying as Square after saving.

site: https://stanleymuseum.prod.drupal.uiowa.edu
<img width="657" alt="Screen Shot 2022-02-24 at 9 13 48 AM" src="https://user-images.githubusercontent.com/731952/155552079-88cab2ed-2393-4f31-bf5b-7d1181c0d492.png">

<img width="475" alt="Screen Shot 2022-02-24 at 9 14 10 AM" src="https://user

[2022-02-24 15:28] makurj commented on #3811
https://developer.salesforce.com/docs/marketing/pardot/guide/version5overview.html

[2022-02-24 15:57] joewhitsitt commented on #3811
So the d8/9 version of pardot with the webform patch is setup this way: https://www.drupal.org/project/pardot. [we stopped going this route because of the of the authentication piece](https://github.com/uiowa/uiowa/issues/3811#issuecomment-1015799122),  but also because even with the contact form (not webform), the module is having troubles passing that data to pardot: https://www.drupal.org/proje

[2022-02-24 15:57] bspeare commented on #4701
We need to discuss the pros and cons of this with James and Nikki, @makurj and I have a meeting with them set for 3/3.  The question is whether they need the `core.entity_view_display.node.page.default` if they are designing templates that they plan on replicating for use throughout the site.

[2022-02-24 16:36] cory-skeers commented on #4812
Couple notes from the client:

- They are going to review the broken links and provide a mapping for those pages which have been built in the new site, as well as some known links that can be stripped (eg links to programs that no longer exist)
- They will like all tags to be brought over for the articles, which was not set up originally, but has been handled in other existing migrations
  - Check

[2022-02-24 17:12] richardbporter commented on #4640
Disable or redirect search result page
Remove xml feeds (sitenow articles, taxonomy terms)?
Additional disallow entries to the robots.txt
Remove SEO Settings per content type and/or set meta noindex, nofollow tag set in the meta

I remember discussing it might not be worth doing all this since none of it is accessible to anonymous users, i.e. SEO bots and we can't uninstall default modules (simple

[2022-02-24 17:13] richardbporter commented on #4640
restrict_ip ships with a hook_block_access() implementation that is taking care of the footer and top links blocks. It is not necessary for us to unset.

[2022-02-24 17:15] bspeare commented on #4849
This screenshot is a good example of the confusion that the default home page install creates for users:

![Screenshot 2022-02-24 at 11-13-27 iowajpec org The University of Iowa](https://user-images.githubusercontent.com/1036433/155573808-975e83a8-13f9-415b-8dea-5cf01ca77152.png)

[2022-02-24 17:49] makurj commented on #4827
Where do I go to get to the page in Dani's screenshot? I've looked at multiple image gallery and image display pages, but no luck so far.

[2022-02-24 17:50] richardbporter commented on #4640
I've been trying to remove the admin login link from the footer but not sure exactly how to do that. I don't think its necessary to show it there, especially since it is setting the destination parameter. The destination parameter for sitenow_intranet will always be the access denied page which already includes a login link.

[2022-02-24 17:51] bspeare opened #4857 "Slider using one slide needs `position:relative` to prevent overflow"
# Problem
Slider using one slide in edge-to-edge container needs `position:relative` to prevent overflow.

<img width="1817" alt="Screen Shot 2022-02-24 at 11 44 09 AM" src="https://user-images.githubusercontent.com/1036433/155578951-14869fcc-7022-4f01-99ea-ec348767a287.png">

# Steps to reproduce
Add only one slider slide with a lot of headline text.

# Proposed solution
- Add `position:relative`

[2022-02-24 17:56] bspeare commented on #4640
What methods have you tried?  Can you just unset https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/templates/layout/footer.html.twig#L47-L53 in a preprocess function or something?

[2022-02-24 18:56] pyrello commented on #4823
Is this intended to be a separate option in the menu type selection? Or options within the "Horizontal" menu type?

[2022-02-24 19:02] bspeare commented on #4823
My hope is that if we exposed the "number of levels to display" within the "Horizontal" option, then those levels would appear as dropdowns in the rendered menu.

<img width="520" alt="Screen Shot 2022-02-24 at 1 00 09 PM" src="https://user-images.githubusercontent.com/1036433/155589979-8a45816a-bee4-4325-8d22-a3dd24dedfd8.png">

So, not a separate option but an option within the "Horizontal" menu

[2022-02-24 19:57] joewhitsitt commented on #4827
I think it is `Media Type Image > Display Settings > Image Gallery view mode`

[2022-02-24 21:09] joewhitsitt commented on #4689
Capturing some todo:

- [x] Move link from around image to around card
- [x] See about mobile grid modifier only if hide details is in play (admissions specific)
- [x] card--enclosed if grid and title/major are shown?

[2022-02-25 15:07] pyrello commented on #4794
I'm interested in working on this if it gets pulled in before I get a chance to do it myself.

[2022-02-25 15:16] pyrello commented on #4794
Chatted with @bspeare a little bit about this yesterday. Here were a couple salient points:

We don't need to do this in the form. We can just set the appropriate values in the form submit handler.

Ben also indicated that the default settings in a new menu block don't match our defaults when a new page is created. Defaults when a new page is created are what we want. These changes will be handled

[2022-02-25 15:30] joewhitsitt commented on #4856
I wonder if this is an issue with the image itself. We have file size and dimension restrictions because the server chokes on processing images past a certain point. Looks like this image is over our width restriction.

@bewoldt can you try swapping it with an under 10 MB, under 2000 px image?

@quamsta said that some images might have been migrated in on this site which would bypass those restric

[2022-02-25 15:33] joewhitsitt commented on #4856
We noticed while working on the https://github.com/uiowa/uiowa/issues/4691#issuecomment-1018656724 that some images were too big

[2022-02-25 15:37] e-marie-w opened #4859 "Default headline style applied twice to some layout builder blocks"
The default headline style `headline block__headline` is applied twice to the Collection, Events, Featured Content, Image Gallery, RSS Feed, Slider, Text Area, and Timeline blocks.

[2022-02-25 15:52] briand44 commented on #4640
Test - assert access denied for anonymous users

[2022-02-25 16:07] bewoldt commented on #4856
@joewhitsitt the image in question is only 5mb. https://stanleymuseum.prod.drupal.uiowa.edu/media/image/766

[2022-02-25 16:07] bewoldt commented on #4856
@joewhitsitt the image was uploaded by the client and not migrated.

[2022-02-25 16:15] quamsta commented on #4856
@joewhitsitt  Yeah, I also just did a dive into the file migration for Stanley that we did back in October and the maximum image size we migrated was 300kb, so we resampled the images before migration. This may just be a consequence of a user really enjoying uploading ~5mb and above images.

We always try to ensure that we're not uploading giant images during our migrations to be mindful of space

[2022-02-25 16:16] joewhitsitt commented on #4856
You are right but the original image is over 5000px wide. Looks like we are restricting images to 10Mb or less but aren't restricting dimensions. We probably should as we run into problems in this area.

In the past we haven't recommended over 3840 x 3840px.

Can't hurt to try swapping out to see if it is related to the image.

[2022-02-25 16:30] bewoldt commented on #4856
The original image was 5568 x 3712px. I resized to to 2200px and uploaded a new image and that fixed the issue. If there are image dimension requirements they need to be clearly stated or maybe disallowed during upload.

[2022-02-25 16:34] e-marie-w opened #4860 "AMCS - switch content under Research Areas to Departments"
## Story

As an AMCS site owner, I want the terms under the Research Area taxonomy moved to the Department taxonomy, as that better describes them.

## Solution

Write an update hook that removes the terms from Research Areas taxonomy and adds them to the Department taxonomy. It also needs to remove any items in the Research Areas field for the person content type and add the appropriate equivalen

[2022-02-25 16:42] e-marie-w opened #4861 "AMCS - update Faculty view"
Once #4860 is done, the faculty view on AMCS needs to be updated.

## Solution
Change url from amcs.uiowa.edu/faculty-research to amcs.uiowa.edu/faculty-information
Update the view to use the Department field instead of the Research Areas field - change this in the display and the search box

[2022-02-25 16:52] cory-skeers commented on #4812
PR #4862 has the keyword->tags updates in it.

[2022-02-25 16:58] joewhitsitt opened #4863 "Set max image dimensions restriction on image fields"
## Problem

Though we currently limit file uploads to under 10 MB, our image processing still seems to choke on larger dimension images. From D7, this max seemed to be around 3840px and our image docs state that our largest processed image style is 2952px wide.

## Proposed solution

- For the image media type, restrict max dimensions to a sensible limit. May need to test rendering in DEV to know

[2022-02-25 16:59] joewhitsitt commented on #4856
I have created an issue to set restrictions and update documentation. https://github.com/uiowa/uiowa/issues/4863

Glad this wasn't an issue with our card logic especially after the 9.3.5 update.

[2022-02-25 17:02] joewhitsitt commented on #4863
Quick google search:

to prevent any possible scaling with our image styles though, maybe 2952px makes more sense.

[2022-02-25 18:28] joewhitsitt commented on #4856
Closing in favor of https://github.com/uiowa/uiowa/issues/4863

[2022-02-25 18:28] #4856 closed, assigned to nobody

[2022-02-25 18:58] e-marie-w opened #4864 "Apostrophe displaying as encoding in slide headlines"
Grad site having issues with adding apostrophes to slide headlines on slider blocks. I was able to reproduce on sandbox.

![apostraphe bug](https://user-images.githubusercontent.com/68179015/155772265-d3824546-b3a9-4a21-8a2d-4c247baca854.png)

Update: this also happens with double quotes and ampersands.

[2022-02-25 20:08] cory-skeers commented on #4812
Default fallback image styles have been implemented. The styles weren't being translated because on the existing site they are in the form of wrapping divs with e.g. "image-right-350" classes.

May want to add some cleanup to the migration to remove these. They don't create direct issues, but when the article gets edited/re-saved, they get emptied out and turned into `<p>&nbsp;</p>` creating extra

[2022-02-25 22:32] pyrello commented on #1350
https://www.morpht.com/blog/boost-drupal-seo-faqpages

[2022-02-25 23:08] dnkemper opened #4866 "Pharmacy palliative grad map updates"
https://pharmacy.uiowa.edu/palliative-care-graduates

- [x] Change the term territory to state
- [x] The lower right-hand corner of the map:  State Information and Hover over a state.  How and can we change Hover over a state to Click once on any state ?

[2022-02-28 14:57] makurj commented on #4827
/admin/structure/media/manage/image/display Choose one of these?
![image](https://user-images.githubusercontent.com/52135878/156004824-25b5db09-a2b7-446a-bd52-8f488081a179.png)

[2022-02-28 15:01] joewhitsitt commented on #4827
Did you change the image formatter? It should stay responsive and you should select small or medium no crop for the image style and original for the viewbox.

[2022-02-28 15:03] makurj commented on #4827
I did not change anything. I pulled `default` down on Thursday and started a fresh branch off the latest `main`.

[2022-02-28 15:08] joewhitsitt commented on #4827
are you here: /admin/structure/media/manage/image/display/image_gallery ?

[2022-02-28 15:10] makurj commented on #4827
On that page but `default` was selected at the by default so I didn't change it and scrolled down to image. I see the options once `image gallery` has been clicked at the top.

[2022-02-28 15:17] makurj commented on #4827
Like so?
![image](https://user-images.githubusercontent.com/52135878/156008283-70d27f3d-3d9d-4976-82a2-92056a9dfa57.png)

[2022-02-28 15:20] joewhitsitt commented on #3762
Saving the page and using the "refresh this page" method on INRC.LAW **does not** do the trick.

[2022-02-28 16:34] richardbporter commented on #4640
This seems doable now with a webmaster-accessible admin form.

This might be better left alone until issues like #4849 and #3473 are resolved. In the meantime, we can provision sites as per usual and then `drush entity:delete` everything afterwards.

I agree this could lead to information disclosure and we shouldn't do it. Another reason to unset the footer login link. The plan for that is to crea

[2022-02-28 16:39] joewhitsitt commented on #4837
Going to look into this issue

[2022-02-28 16:46] #4866 closed, assigned to nobody

[2022-02-28 17:48] joewhitsitt commented on #4837
Waiting on the directory profiles team to update allowed URLs to include our new DDEV local url pattern for local testing.

[2022-02-28 19:00] pyrello opened #4872 "Plan for archived site redirects"
# Motivation
The following sites are being transitioned from Drupal 7 to the U of I Libraries' archival system:
* iwp.uiowa.edu/publishing-gallery
* iwp.uiowa.edu/shse
* iwp.uiowa.edu/silkroutes
* rio.urban.uiowa.edu

I believe there will be an exact one-to-one correlation between the old sites and new sites. We will need to create .htaccess redirects for each of them.

# Additional Info

There wi

[2022-02-28 19:06] richardbporter commented on #4640
Thinking about robots.txt more, should this actually be accessible to bots but configured to disallow all? Is that better than an access denied?

[2022-02-28 19:10] cory-skeers commented on #4812
A method of cleanup (and application of original alignment options, but not size) has been added to the PR. Leaving it open until the manualLookup task can be completed. Can then test all the updates together.

Blocked until we receive feedback from the client.

[2022-02-28 19:12] joewhitsitt commented on #4837
Without being able to step through this [for now](https://github.com/uiowa/uiowa/issues/4837#issuecomment-1054508983), it appears the JS is grabbing metadata from a profiles endpoint (https://profiles.uiowa.edu/api/people/{person name}/metadata?apiKey=...) and changing the canonical link (just in time?) based on whatever is returned back which my guess is set as `https://profiles.uiowa.edu/people/

[2022-02-28 20:02] joewhitsitt commented on #4837
Do we have access to the profiles backend to see if canonical_url is something editors can set?

[2022-02-28 20:56] mjoneill commented on #4837
I don't think anyone on this team does, but Denny should be able to tell you if that's possible.  He's been responsive on slack if you want to ask him.  I don't see him in GitHub

[2022-02-28 20:59] joewhitsitt commented on #4837
@mjoneill

According to Rick, we were going to allow canonical path to be set on the website per api key (not per-profile), but that it was ripped out. I imagine because that canonical path should be set on a per person basis.

So either these individuals need to be updated to have https://education.uiowa.edu/directory/person-name as their canonical url. Not sure if this would solve the issue but,

[2022-02-28 21:39] dnkemper opened #4874 "SSL cert for uicb.uiowa.edu on uiowa03"

[2022-02-28 22:41] #4827 closed, assigned to makurj

[2022-03-01 14:43] joewhitsitt commented on #4789
Not sure what other issues were blocking this but it looks like some issues were resolved and a new release was created: https://github.com/acquia/blt/releases/tag/13.3.0

[2022-03-01 15:03] joewhitsitt commented on #4640
Asked @mjoneill in stand up and it sounds like yes, we should do that if possible

[2022-03-01 16:06] quamsta commented on #4208
@mjoneill, here's my exploration on this in the PR:

https://github.com/uiowa/uiowa/pull/4784

[2022-03-01 18:27] joewhitsitt commented on #3811
Poked at this a bit more this morning. Tried to pull out just a piece of the patch here https://www.drupal.org/project/pardot/issues/3176074 as it relates to getting the cookie to pass in.

[code]

In my attempts, no cookies were being returned which led me to https://drupal.stackexchange.com/questions/199519/how-can-i-check-in-drupal-8-an-externally-set-cookie where it says if they aren't the sam

[2022-03-01 19:18] pyrello commented on #4789
We discussed this in grooming and would like to get @richardbporter's take on this issue before moving forward with it.

[2022-03-01 19:26] joewhitsitt commented on #2737
@dnkemper mentioned this issue as "support issue of choice". Moving back to parking lot

[2022-03-01 19:31] pyrello commented on #4849
Ideas for future iterations:
* Move the current showcase of blocks to a new demo content page.
* Redesign the about page to use the default content layout.

[2022-03-01 19:44] makurj commented on #2737
I would like to pair on this, if possible.

[2022-03-01 19:45] dnkemper commented on #2737
YAS QUEEN YAAASSSSSS

[2022-03-01 19:46] makurj commented on #2737
Woohoo!

[2022-03-01 21:30] makurj commented on #3811
![image](https://user-images.githubusercontent.com/52135878/156252064-8f9e6090-254b-403d-b5fe-3933c38ea8ca.png)

[2022-03-01 22:41] cory-skeers commented on #4663
Starting to look into this part of things... Only about a quarter of the files have dimensions data in the original database, so that only gets so far. I think the next steps would be to either look at the file data to pull out the dimensions and/or basing it on file size which can be misleading.

[2022-03-01 22:41] joewhitsitt commented on #3811
Based on Lydia's suggestion, we could do a pure JS approach (bypassing the structures of Drupal, remote post would still be needed to send the values) assuming the webform field component exists however there are still issues with not getting _all_ the cookies added to the page:

The browser shows these cookies:
<img width="1107" alt="Screen Shot 2022-03-01 at 4 35 40 PM" src="https://user-images.

[2022-03-01 22:48] pyrello commented on #4663
I guess I was thinking pulling the dimensions from the file would be the way we would have to do it. I didn't realize that the dimensions got stored some of the time.

[2022-03-02 14:39] quamsta opened #4882 "The Topic Collection page itself shows up in the taxonomy view when filtering by a term"
# Problem
We and our partners have noticed that when a user clicks on a tag from the Topic Collection, the Topic Collection page itself is either the first or last item in the list. For example, the Topic Collection "Find Resources" shows up in the filtered view after clicking on it from the Topic Collection itself:

<img width="648" alt="Screen Shot 2022-03-02 at 8 31 04 AM" src="https://user-ima

[2022-03-02 14:59] joewhitsitt commented on #4882
So, we have a "hide on lists" boolean for node content (person content currently uses) that could be used for this and set by default (disabled to editors if you don't want them to change it)

[2022-03-02 15:06] quamsta commented on #4882
Nice!! That could be an easy solution for this

[2022-03-02 15:32] dnkemper opened #4883 "Careers -BI embeds"
Investigate Powerbi embeds - console is spitting out a bunch of errors related to https://careers.uiowa.edu/about/hiring-data-annual-reports (default chrome browser, no extensions, blockers) `TypeError: Cannot read properties of undefined (reading 'options')` compared to https://dsp.research.uiowa.edu/contract-metrics. Comparing the load times of the first view provided by powerbi, careers has a l

[2022-03-02 15:34] dnkemper opened #4884 "Deprovision labshawgroup.prod.drupal.uiowa.edu on uiowa701"
Check with customer

[2022-03-02 15:35] dnkemper opened #4885 "Replace registrar.prod.drupal.uiowa.edu v2 site with a v3 site."
The v2 site isn't needed.

[2022-03-02 15:38] dnkemper commented on #4884
Sent Colleen an email - waiting to hear back

[2022-03-02 16:36] joewhitsitt commented on #4837
This is done. Denny also sent an education test key to use locally.

Locally, I have disabled the canonical url functionality we are doing on our end but that doesn't appear to be needed anymore as the canonical base has been set for Education from the Profiles side of things. This should resolve any issue with Education and the canonical url.

Google search results still seem incomplete though ac

[2022-03-02 16:37] joewhitsitt commented on #4837
Conversation is happening in the Java gitlab: https://git.uiowa.edu/java/profiles/-/issues/486/

[2022-03-02 16:48] joewhitsitt commented on #4883
Possible solution from our end to offer up: display only one per page.

They referenced an example on v1 which is also having problems (multiple embeds): https://international.uiowa.edu/global-network

<img width="1072" alt="Screen Shot 2022-03-02 at 10 47 32 AM" src="https://user-images.githubusercontent.com/4663676/156408257-81de817f-b169-4bfc-8345-3656e2f3a47e.png">

[2022-03-02 17:14] joewhitsitt commented on #4208
marking as blocked, needs discussion on whether we pursue this further based on https://github.com/uiowa/uiowa/pull/4784#issuecomment-1054709426

[2022-03-02 17:31] quamsta commented on #4882
@joewhitsitt

Couple of questions:

1. If I go this route of adding the Hide on Lists field to this content type, do you think I should I reuse the one that's on the Person content type or create a new one specific to this content type?
2. Either way, how do I ensure that this checkbox field is in "Page Options" accordion in the edit node form. that seems to be eluding me at the moment

[2022-03-02 17:53] joewhitsitt commented on #4882
Ah darn. My mention of this has made things sticky. Sorry. I thought it was a global field like field_image or title_hidden that could be reused... I also realize that we aren't hiding people on taxonomy pages that have this checked...

At this point, if it were me, I would create a `hide_on_lists` type field in default that we could possibly migrate person functionality to later.

We could then c

[2022-03-02 17:56] cory-skeers commented on #4663
Got this set up for the author photo, and currently set to 180x180 as the minimum (if either dimension is smaller, it won't be pulled over). Was a completely arbitrary decision on the minimum dimensions...Preferences on the minimum, @pyrello?

Also, currently if it doesn't reach the minimum it won't be pulled in, but that can be updated if the idea was to keep the smaller image but list it as one

[2022-03-02 18:05] joewhitsitt commented on #4663
Should it be >= to the smallest variant of the responsive image view mode that it is being migrated into?

[2022-03-02 18:14] pyrello commented on #4663
Hmm... looks like the image wasn't set up as responsive. Need to look into that quick. My initial idea would be nothing with a width below 300px (height shouldn't matter because any width that meets that requirement should be fine on height).

I think we want it to pull the image for now and generate a list for follow-up afterwards. Otherwise they can't launch until that clean-up work is done.

[2022-03-02 18:50] dnkemper commented on #4885
reinstalled site. Emailed Josh.

[2022-03-02 18:50] #4885 closed, assigned to dnkemper

[2022-03-02 19:23] dnkemper commented on #4874
This is done

[2022-03-02 19:23] #4874 closed, assigned to nobody

[2022-03-02 19:24] dnkemper commented on #4852
Wrapped this with https://github.com/uiowa/uiowa/issues/4874

[2022-03-02 19:24] #4852 closed, assigned to dnkemper

[2022-03-02 20:02] joewhitsitt commented on #4837
Sounds like the Directory Profiles team is going to move forward with providing meta description information for us to consume and handle similarly to the canonical_url. I imagine this is blocked until we know what that new value looks like and what the recent canonical_url change upstream does for Google search results.

[2022-03-02 20:08] #4689 closed, assigned to joewhitsitt

[2022-03-02 20:30] richardbporter commented on #4837
This functionality existed in APR but not Profiles so it was removed from our module port. I can probably find a commit...

[2022-03-02 20:37] richardbporter commented on #4837
Maybe not. Looks like APR had a title callback setting the page title and canonical. I'm guessing we'll do something different for profiles.

[2022-03-02 22:45] cory-skeers commented on #4663
Updated it to still pull the image, but give a post-migrate log of node: image that can be used for follow-up. I also set it to use 300 pixels as the threshold for width, and to not care about height. Since the threshold is used for informational purposes only, the exact pixel value isn't as crucial, so I think the 300 initial thought is adequate (though it's a minor update if needed).

I'd also s

[2022-03-02 22:53] #4402 closed, assigned to e-marie-w

[2022-03-02 22:53] pyrello commented on #4663
Perfect. We just forgot to include it in the details.

[2022-03-02 22:53] #2427 closed, assigned to nobody

[2022-03-03 15:16] joewhitsitt opened #4889 "Add meta description to uiowa_profiles"
Follow-up from https://github.com/uiowa/uiowa/issues/4837

# Story

As a site owner, I expect meta description to be provided for directory profiles using the uiowa_profiles feature.

# Proposed solution

- [ ] Wait for profiles team to provide meta description value via metadata endpoint
- [ ] Assuming it is similar to canonical_url, wire this up to set the meta description for the page.

[2022-03-03 15:47] richardbporter commented on #4640
Another thing I just thought of is SiteImprove - it doesn't work without access to the pages. I'm trying this on default dev now and the UI just shows an error. Not sure if there is a way to "disable" it for intranets but I only see it as an admin. Was that taken care of already?

[2022-03-03 15:55] richardbporter commented on #4640
OIC. Permissions only exist in the prod split: https://github.com/uiowa/uiowa/search?q=siteimprove

I think this is something we'd want to address.

[2022-03-03 16:33] richardbporter commented on #4640
Removing the perms via the intranet split didn't seem to work.

[2022-03-03 17:09] #4748 closed, assigned to nobody

[2022-03-03 17:11] briand44 commented on #4883
I let them know they may want to just link out directly to the PowerBI reports temporarily until we can understand if there is an issue on our end.

[2022-03-03 17:12] briand44 commented on #4883
Also, I was running into some issues just loaded the PowerBI link directly. https://iowaweb.slack.com/archives/C0164FNN1PV/p1646256239488099

[2022-03-03 17:12] joewhitsitt opened #4891 "Remove non-responsive image_gallery image style"
Now that photoswipe is using a responsive image view mode, I don't think image_gallery image style **(not the view mode)** is being used anymore.

## Proposed Solution

- Look for any possible usage of the image style (config, custom code image renders). If none, remove it.

- It shouldn't be in wysiwyg content but it might be nice to check on a couple early v2 websites like hr, brand, hawkeyemarc

[2022-03-03 17:35] briand44 commented on #4825
@mjoneill were we waiting for something here? Was Nick T. going to get us a youTube link or something? I think we also wanted to consider how this affects Signage.

[2022-03-03 21:29] pyrello commented on #4794
My proposed list of test for menu block:
[code]
I suggest that for this first implementation, we implement a test that checks that fields are not rendered where `'#access' => FALSE` has been set.

[2022-03-03 21:44] richardbporter commented on #4839
This might not be possible: https://github.com/uiowa/uiowa/pull/3383#issue-861508526

[2022-03-03 21:52] bspeare commented on #4701
Tippie is OK with using the replicate function so I don't think they need this work done.

[2022-03-03 21:52] #4701 closed, assigned to makurj

[2022-03-03 21:54] quamsta commented on #4883
I was able to recreate this issue with the embeds, but it may be related to trackers not loading due to browser adblocking extensions or capabilities. I tried in a private browsing window with extensions disabled in Chrome and the embed appeared to work fine. Can you try testing with adblockers turned off?

[2022-03-03 21:58] #4882 closed, assigned to nobody

[2022-03-03 22:29] joewhitsitt commented on #3811
Updated the proposed solution

[2022-03-03 22:31] bspeare commented on #4823
I've updated the proposed solution and issue title.

[2022-03-03 22:33] joewhitsitt commented on #4811
Updated proposed solution

[2022-03-03 22:35] joewhitsitt commented on #3811
Need to know the machine name of the hidden field Lydia plans on using to capture the visitor id so we can target it.

[2022-03-04 13:27] makurj commented on #3811
Wrote her to get the machine name.

[2022-03-04 14:14] briand44 opened #4893 "SiteNow Updates News Article - March"
## Issue/Solution ##
Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  * See the previous month's article as an example.
  * Bulle

[2022-03-04 14:19] briand44 commented on #4893
https://sitenow.uiowa.edu/news/2022/03/updates-march

[2022-03-04 14:53] joewhitsitt opened #4894 "Concept3D - Base layer edits"
Keeping a list of additions/edits/removals to pass on to Concept3D periodically to handle in batches

- [x] Hancher Footbridge is mislabeled as "Hatcher Footbridge"
- [x] Removed 118 S Clinton St - lease expired.
- [x] Pappajohn Business Building is mislabeled as "Papajohn Business Building"
- [x] Change the name of the building “Old Museum of Art” to “Performing Arts Annex”
- [x] Building label f

[2022-03-04 17:33] joewhitsitt opened #4897 "Webform Select Component - Limit JS enhancements, style"
## Problem

Our webform select component allows "Choices" or "Select2" to be added to enhance the UX. Both are un-styled and out of the box.

<img width="338" alt="Screen Shot 2022-03-04 at 11 30 28 AM" src="https://user-images.githubusercontent.com/4663676/156813175-c0d8460e-c2ce-4b7f-befe-3579b93368f5.png">

## Proposed Solution

- [ ] Disable "choices" in favor of [select2](https://github.com/u

[2022-03-04 17:48] joewhitsitt opened #4898 "Deprovision grumbach.lab.uiowa.edu on uiowa701"
v3 launched on uiowa01

[2022-03-04 19:30] briand44 commented on #4883
I am still having issues directly loading the link to PowerBI in Chrome, Safari and Firefox using private browsing windows. Seeing console errors as well.

[2022-03-04 22:09] richardbporter commented on #3811
Is that number after `id` always the same, `visitor_id683163`? I see the same thing.

[2022-03-04 22:12] joewhitsitt commented on #3811
I wouldn't hardcode it and instead match against it

untested: `preg_match('/visitor_id\d+$/', $cookie_name)` like in https://github.com/uiowa/uiowa/issues/3811#issuecomment-1055732486

or

https://github.com/uiowa/uiowa/issues/3811#issuecomment-1055931872

[2022-03-07 13:44] #4640 closed, assigned to richardbporter

[2022-03-07 14:50] #4391 closed, assigned to nobody

[2022-03-07 15:47] joewhitsitt commented on #4679
Done

[2022-03-07 15:47] #4679 closed, assigned to joewhitsitt

[2022-03-07 15:47] joewhitsitt commented on #4738
Done

[2022-03-07 15:47] #4738 closed, assigned to joewhitsitt

[2022-03-07 16:25] #4789 closed, assigned to richardbporter

[2022-03-07 17:00] briand44 commented on #4898
Removed from 701

[2022-03-07 17:00] #4898 closed, assigned to nobody

[2022-03-07 17:03] e-marie-w opened #4901 "UICB - Build migration for News Item content type"
Need a script to migrate the 130 News Items as Articles for the Center for the Book. Fields are pretty straightforward, there is a file upload field but only [one article](https://book.grad.uiowa.edu/news/2017-10-22/faculty-news-emily-martin-speaks-university-northern-iowa-and-octavo-fest-cleveland) uses it, so the file could just be added manually if needed.

One possible hiccup is the image fiel

[2022-03-07 17:48] briand44 opened #4903 "Run UIPress Migrations in Prod"
- [x] Run UIPress author migration
- [x] Run UIPress book migration
- [x] Delete unpublished book stubs
- [x] Fix Ed Folsom and Doug Henderson person pages
- [x] [Add additional aliases with accented characters](https://github.com/uiowa/uiowa/pull/4873#issuecomment-1060746588)
- [x] Fix MP3 links on Poems From Guantanamo: https://uipress.prod.drupal.uiowa.edu/books/poems-guantanamo

Blocked until

[2022-03-07 18:58] joewhitsitt commented on #4359
Done

[2022-03-07 18:58] #4359 closed, assigned to joewhitsitt

[2022-03-07 19:03] #4663 closed, assigned to cory-skeers

[2022-03-07 19:04] makurj commented on #3811
Machine name for the hidden field on forms will be "visitorid".

[2022-03-07 19:32] richardbporter commented on #3811
This is essentially done but done via PHP and not JS. JS wasn't working on dev. I got cookies working locally by adding a FQDN under `tippie.uiowa.edu` to ddev. This gets cookies working for subdomains and they are submitted with every request.

[2022-03-07 19:42] joewhitsitt commented on #4811
Not sure if we still need to manually re-trigger a recount but https://www.drupal.org/project/entity_usage/issues/3240349 is baked into the next version of entity_usage https://github.com/uiowa/uiowa/pull/4902

[2022-03-07 20:03] bspeare opened #4904 "Minimum height set for text area blocks needs to be scoped for layout builder page only"
# Problem
Minimum height set for text area blocks needs to be scoped for layout builder page only

# Steps to reproduce
View https://tippiestudents.prod.drupal.uiowa.edu/undergraduates/global-experiences/locations while logged in and logged out.

# Proposed solution
Adjust https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/admin.scss to include `.layout-builder-block` cl

[2022-03-07 20:06] richardbporter opened #4905 "As a developer, I want to be able to work with uiowa.edu cookies locally."
# Story

As a developer, I want to be able to work with uiowa.edu cookies locally.

This is currently not possible because our local domains are `*.uiowa.ddev.site`. Cookies set on uiowa.edu domains will only persist across subdomains.

# Proposed solution

TBD.

## Workaround
Add a FQDN for a subdomain of the cookie domain you need to work with: https://ddev.readthedocs.io/en/stable/users/extend/

[2022-03-07 20:10] bspeare opened #4906 "As a site editor, I can add extra margin to the top or bottom of a text area and collections block"
# Story

As a site editor, I can add extra margin to the top or bottom of a text area block that provides more spacing than the current margin top and bottom style.

Currently, we only provide one option for setting a top and bottom margin on a text area block.  This solution would add a "Top margin extra" and "Bottom margin extra" option to the text area block.

# Proposed solution

- Create layo

[2022-03-07 21:47] quamsta opened #4909 "As a user, I can see more than one day of hours on Rec"
# Story

As a user, I can see more than one day of hours on a Rec Services page. While it's understandable to show one day at a time in some contexts (departmentwide hours pages like the homepage: https://recserv.uiowa.edu ), it would be useful if there's a way to plan a trip to, say, the Climbing Wall without selecting an individual day, seeing the hours, selecting another individual day, and so

[2022-03-07 21:54] bspeare commented on #4801
This was fixed by @e-marie-w in https://github.com/uiowa/uiowa/pull/4834.  Thanks @e-marie-w!

[2022-03-07 21:54] #4801 closed, assigned to nobody

[2022-03-08 14:29] briand44 commented on #2219
Closing in favor of https://github.com/uiowa/uiowa/issues/2715

[2022-03-08 14:29] #2219 closed, assigned to nobody

[2022-03-08 14:46] joewhitsitt commented on #4839
@richardbporter should I start holding on site provisions?

[2022-03-08 14:52] richardbporter commented on #4839
No. These files might not be necessary at all. Go ahead.

[2022-03-08 14:53] #3811 closed, assigned to makurj

[2022-03-08 14:53] makurj commented on #3811
Thanks so much @joewhitsitt and @richardbporter!

[2022-03-08 15:23] makurj commented on #4904
I would like to pair on this.

[2022-03-08 15:24] makurj commented on #4906
I would like to pair on this.

[2022-03-08 15:54] joewhitsitt commented on #4884
Got the go-ahead from the customer to remove

[2022-03-08 15:58] joewhitsitt commented on #4883
@pyrello responded via its-web today and referenced the codepen: https://codepen.io/joewhitsitt/pen/rNYQzOO

[2022-03-08 16:05] briand44 opened #4913 "Remove law-old.dev.drupal.uiowa.edu"
Followed up again and they wanted to keep until Spring if possible but didn't think they would likely need it much if at all. I responded letting them know that that site has been indexed by archive-it.org to see if that could be a possible alternative way of referencing this site.

Waiting for response to ^^

[2022-03-08 16:06] briand44 commented on #4913
Marking this as blocked until Law launches their v3 site.

[2022-03-08 16:21] bspeare commented on #4849
Here is the current favorite if anyone has feedback on this version: https://sandbox.prod.drupal.uiowa.edu/homepage-example-4.

[2022-03-08 16:26] bspeare commented on #3473
@quamsta can we close this one since we are working on https://github.com/uiowa/uiowa/issues/4849 and there's also the "restore to defaults" option?

[2022-03-08 16:26] joewhitsitt commented on #4849
I like https://sandbox.prod.drupal.uiowa.edu/homepage-example-2 because it doesn't have video or icons. Change up some of the photos to be more "general university" so there is more potential for them being used for other content.

[2022-03-08 16:28] bspeare commented on #4849
@joewhitsitt good point.  Maybe we can blend the two a bit.

[2022-03-08 16:39] briand44 commented on #4884
This site has been removed.

[2022-03-08 16:39] #4884 closed, assigned to nobody

[2022-03-08 17:23] #4480 closed, assigned to quamsta

[2022-03-08 17:36] joewhitsitt commented on #2899
This has cropped again with updating smart_date. They refactored the JS and this is no longer being hidden. https://github.com/uiowa/uiowa/pull/4902#issuecomment-1061103499

[2022-03-08 17:43] joewhitsitt opened #4914 "SSL - cab.uiowa.edu on uiowa03"
Related provision: https://github.com/uiowa/uiowa/pull/4915

[2022-03-08 18:20] bspeare opened #4916 "As a site owner, I can use the sitenow-events page with the updated event page design"
# Story

As a site owner, I can use the `sitenow-events` page with the updated event page design.

We created a new page design for events in https://github.com/uiowa/uiowa/pull/2765 and it would be great to update the sitenow-events page to use the same design.

# Proposed solution

- Move sitenow-events into a template/design similar to https://github.com/uiowa/uiowa/blob/main/config/features/ev

[2022-03-08 18:21] bspeare commented on #4916
Related issues:

- https://github.com/uiowa/uiowa/issues/4169
- https://github.com/uiowa/uiowa/issues/3274

[2022-03-08 18:31] #2737 closed, assigned to dnkemper

[2022-03-08 19:29] briand44 commented on #4842
save a last run time - compare against current time - if >= then purge

[2022-03-08 19:29] briand44 commented on #4842
shared temp storage?

[2022-03-08 19:30] briand44 commented on #4842
state API?

[2022-03-08 19:31] briand44 commented on #4842
invalidate cache tag, purge request for cache tag. Rick to add drush commands here.

[2022-03-08 19:43] richardbporter commented on #4839
Since we don't need to create site-specific config files anymore, I don't think its necessary to do this. For the record, BLT makes an exception for Lando so if we want to set AH env vars locally while still having EnvironmentDetector consider it local, see [7ec4f99](https://github.com/uiowa/uiowa/pull/4910/commits/7ec4f9956b39221690610cb40e3319b17dbc183a). Otherwise we have to override almost eve

[2022-03-08 19:44] bspeare commented on #4906
At grooming it was suggested that we put together a set of layout builder styles defaults that we want to provide to all blocks.

- Padding
- Margin
- Background colors

I'll create a follow-up issue so that we can collect the next steps for that slice.

[2022-03-08 19:54] briand44 commented on #4825
Update Signage to allow embed of YouTube stream in favor of current approach.

[2022-03-08 19:55] briand44 commented on #4825
Send Communication ahead of time in case others are using that we are not aware of.

[2022-03-08 19:55] mjoneill commented on #4825
@mjoneill needs to followup with Hayley B to see if Public Safety has requirements

[2022-03-08 19:59] briand44 commented on #4737
Seeing if this is possible on the GTM side as first step.

[2022-03-08 20:28] bspeare opened #4917 "As a developer, I can apply a default set of layout builder styles to any field or custom block"
# Story

As a developer, I can apply a default set of layout builder styles to any new or existing block so that I can add margin, padding, and background colors.

# Proposed solution
- Allow style options to be added for all field blocks and custom blocks.
  - Exclude for existing layout builder page inline blocks
    - Our text area block's styles are a good example for possible defaults to offe

[2022-03-08 20:31] bspeare commented on #4917
Related issue: https://github.com/uiowa/uiowa/issues/4906.

[2022-03-08 22:26] bspeare opened #4918 "As a site editor, I can view an unpublished page with limited pink background color so that I can get an accurate preview of the draft layout"
# Story

As a site editor, I can view an unpublished page with limited pink background color so that I can get an accurate preview of the draft layout.

Currently, the node-unpublished pink background covers the entire background of the draft page.

# Proposed solution

Limit the pink background to the moderation state block on each page?

**Current solution:**

<img width="1980" alt="Screen Shot

[2022-03-08 22:34] bspeare opened #4919 "As a site owner, I can view a banner on a mobile device with the content separated from the image"
# Story

As a site owner, I can view a banner on a mobile device with the content separated from the image so that the content and image are both readable/usable in the small space.

# Proposed solution

- Add an option to the banner component block so that banner content is not absolutely positioned on top of the banner image for mobile.
- Use https://github.com/uiowa/uids/pull/652 as the startin

[2022-03-08 22:38] mjoneill commented on #4825
I did so. Got the all clear from DSP.  They do not have any concerns or needs that intersect this work.

[2022-03-08 22:57] pyrello commented on #4918
What about a subtle repeating background of the word "DRAFT"? It could be tuned to just darken whatever color is behind it.

[2022-03-09 14:46] bspeare commented on #4849
We've created https://sandbox.prod.drupal.uiowa.edu/homepage-example-4-alt that removes the icons.  There's also no videos on this version either.

[2022-03-09 14:58] richardbporter commented on #4841
Looks like the AC cron wrapper script requires passing the site URI which we can't do easily with our `ume` command. I'm also seeing some warnings in the log output for the initial run and then nothing after that. I think using Drush cron directly will be easier.

[2022-03-09 16:00] richardbporter commented on #4841
Cron timing offsets will need to be adjusted as we get more D9 applications.

[2022-03-09 16:03] #4811 closed, assigned to cory-skeers

[2022-03-09 16:07] GaryRidgway commented on #4849
I really like the new alt! The only thing i can think of is possibly putting these cards in a grey section?
<img width="1435" alt="Screen Shot 2022-03-09 at 10 02 35 AM" src="https://user-images.githubusercontent.com/23122142/157480349-cd28d93a-55d2-4655-8cb1-2e7ed3a7d472.png">

My instinct comes from this:

As i was learning with Alex about content creation, he often suggested to me that breaking

[2022-03-09 16:11] pyrello commented on #3804
The patch at https://www.drupal.org/project/drupal/issues/3163299 seems to resolve the issues related to exposed filters triggering the wrong block when multiple blocks are set on the page. The only outstanding issue I am seeing here is that when paging is turned on, "Items per page" and "Offset" show up in the exposed filter. This happens regardless of whether another filter exposed or not.

[2022-03-09 16:17] joewhitsitt commented on #3804
We have those `hook_form_views_exposed_form_alter` in articles and people setting this to hidden if you wanted a quick fix. The logic could be adjust to check on whether they should be exposed or not.

[2022-03-09 16:40] joewhitsitt opened #4922 "SSL - housing.uiowa.edu on uiowa03"
Related provision PR: https://github.com/uiowa/uiowa/pull/4923

[2022-03-09 16:57] bspeare commented on #4227
Related issue: https://github.com/uiowa/uiowa/issues/4787.

[2022-03-09 17:45] briand44 opened #4924 "SSL for *.admissions.uiowa.edu on uiowa02"
we are covering admissions.uiowa.edu and www.admissions.uiowa.edu but not covering grad.admissions.uiowa.edu. Can we add *.admissions.uiowa.edu and remove www.admissions.uiowa.edu?

[2022-03-09 17:48] briand44 commented on #4924
@richardbporter I ask you this about once a month. Can you confirm if we can remove www.admissions.uiowa.edu if we add *.admissions.uiowa.edu? Thanks!

[2022-03-09 17:52] joewhitsitt commented on #2899
Adding a bit of css to deal with this for now: https://github.com/uiowa/uiowa/pull/4902/commits/5ef6b2ec50f112015169e4625343479fc992c2a5

There is a core issue to change the datetime element (https://www.drupal.org/project/drupal/issues/3078334) which might make working with it easier than targeting with `nth` stuff

[2022-03-09 18:05] joewhitsitt commented on #4883
PowerBI team is opening a ticket with Microsoft. @briand44 moved this to done. Closing.

[2022-03-09 18:05] #4883 closed, assigned to nobody

[2022-03-09 18:06] briand44 commented on #4883
thanks!

[2022-03-09 18:16] #4839 closed, assigned to richardbporter

[2022-03-09 18:16] #4841 closed, assigned to richardbporter

[2022-03-09 18:37] richardbporter commented on #4924
Yes

[2022-03-09 20:03] joewhitsitt commented on #4922
Done

[2022-03-09 20:03] #4922 closed, assigned to joewhitsitt

[2022-03-09 20:03] joewhitsitt commented on #4914
Done

[2022-03-09 20:03] #4914 closed, assigned to joewhitsitt

[2022-03-09 20:58] bspeare commented on #4849
Thanks for the feedback @GaryRidgway. I tend to want to see those in a background too, but I think Brandon is trying to create a cohesive content chunk/grouping by combining intro text area with cards.  The images and smaller font size in the cards help set some contrast/hierarchy against the text area above.   @ABoston88 what do you think?

[2022-03-09 21:10] bspeare commented on #4750
Here's an example of how Tippie wants to use the banner block without the headline.  It looks pretty good just using the blockquote in this example:

<img width="2101" alt="Screen Shot 2022-03-09 at 3 08 43 PM" src="https://user-images.githubusercontent.com/1036433/157536435-91594e09-44b4-4bb1-99cb-fc3105fb8933.png">

[2022-03-09 21:27] ABoston88 commented on #4849
The body copy and the cards definitely read as grouped together to me, which is kind of hard to picture a use-case for. That single paragraph has to introduce the unit, do a little messaging work, and provide a natural lead-in to what those links are. But maybe if you had some core services or pages that'd be a good way to immediately surface them?

If we're aiming towards creating a usable starti

[2022-03-09 21:39] bspeare commented on #4849
@ABoston88 good point about the collection.   Maybe we can just put a text area there.

<img width="687" alt="Screen Shot 2022-03-09 at 3 38 14 PM" src="https://user-images.githubusercontent.com/1036433/157540626-a77bc141-e013-47e9-9256-762ceaae228f.png">

[2022-03-09 22:01] briand44 opened #4926 "Title search for Grad Admissions Areas of Study"
We need to add a title exposed filter to https://admissionsgrad.prod.drupal.uiowa.edu/areas-of-study so that other search blocks (https://admissionsgrad.prod.drupal.uiowa.edu, https://admissionsgrad.prod.drupal.uiowa.edu/academics, https://admissionsgrad.prod.drupal.uiowa.edu/new-students) can correctly filter Areas of Study results. We will also need to make sure those search blocks are configure

[2022-03-09 22:03] joewhitsitt commented on #4926
As I explained to @briand44 this might be a bit tricky given how the views relationships are setup to filter on the content type and not the taxonomy. So the results should filter on the _hidden_ content which might not match the first column name (taxonomy term)

[2022-03-09 22:08] briand44 commented on #4889
I think we want to move forward with a simple meta description for now until the directory profiles team is able to provide a better meta description. `<meta name="description" content="Name - University of Iowa" />`

[2022-03-09 22:19] richardbporter commented on #4842
If it isn't set, I assume the cache tag should be invalidated and a purge queued, then set the State key.

[2022-03-09 22:46] joewhitsitt opened #4928 "Signage - Rewrite meeting with organizerName value if IsPrivate"
## Issue

The CSI AppDev team plans to make a change to the Hours API related to private events and a customer is requesting that a new `organizerName` value be used as the meeting name when the event is marked as private `isPrivate`.

See its-web email from Chris Dibbern

## Proposed Solution

- [x] Wait for the change to happen on the test server
- [x] Within the outlook pane, change the endpoin

[2022-03-09 22:56] joewhitsitt commented on #2217
Dumping my notes from the meeting:

- There will be a 2plus2 landing page on the Admissions website that lists 2plus2 majors and community colleges.
- Each AoS will have a link off from the Transfer Tips section that links to the corresponding 2plus2 major if said content exists.
- Each 2plus2 major landing has a links to community colleges, each with specific set of information related that major

[2022-03-10 14:47] richardbporter opened #4929 "Too many Slack messages for AC cron start/stops"
### Problem
Now that cron is running is AC prod via `blt ume`, we get notifications every time it starts/stops. This is multiple times per hour. The messages clutter the drupal-status channel and have lost their value.

### Proposed resolution
Change `blt ume` from notifying start/stop to only if a site encounters an error running the specified command.

[2022-03-10 14:51] richardbporter opened #4930 "BLT Detector::isDrupalInstalled is now misleading"
### Problem
A change in BLT's Detector::isDrupalInstalled will now return FALSE if the site is installed but actually just throwing an error preventing it from bootstrapping. This problematic for a few reasons including:
- our install command could then return that site to be re-installed.
- our override of `blt auda`, which runs on AC code deployments, skips sites that are not installed to reduce

[2022-03-10 14:52] richardbporter commented on #4929
Should our install command be changed as well? Initially, these were set up to notify other devs that commands were running. I'm leaning towards leaving install alone.

[2022-03-10 14:53] joewhitsitt commented on #4924
Done. www.admissions.uiowa.edu still works

[2022-03-10 14:53] #4924 closed, assigned to joewhitsitt

[2022-03-10 15:00] richardbporter commented on #4929
Also looks like our Slack integration is deprecated. Looking into replacing that as well.

[2022-03-10 15:30] briand44 commented on #4837
Closing this as the issue with canonicals has been resolved. Meta description work can happen in https://github.com/uiowa/uiowa/issues/4889

[2022-03-10 15:30] #4837 closed, assigned to nobody

[2022-03-10 15:32] briand44 commented on #4889
Update from Denny:

[2022-03-10 15:47] quamsta opened #4932 "Topic collection shows up in related content under a tag heading"
# Problem
Very similar to: https://github.com/uiowa/uiowa/issues/4882

I'd like to exclude Topic Collections from "related content" views, since the Topic Collection is usually a jumping off point for this content, and Topic Collection is "tagged" with terms that it's leading into.

<img width="475" alt="Screen Shot 2022-03-10 at 9 41 46 AM" src="https://user-images.githubusercontent.com/472923/15

[2022-03-10 16:13] #4537 closed, assigned to bspeare

[2022-03-10 16:43] pyrello commented on #4929
This is probably too much for now, but I think it would be nice to be able to decide which `blt ume` commands report back on error or every time. We could set a variable in our blt.yml file and then read that if it existed.

[2022-03-10 16:44] bspeare commented on #4801
Here's a preview of the page after the fix:

<img width="1697" alt="Screen Shot 2022-03-10 at 10 43 29 AM" src="https://user-images.githubusercontent.com/1036433/157712168-3cd3e045-39d8-4b38-b510-44639b6650c9.png">

[2022-03-10 17:06] #4929 closed, assigned to richardbporter

[2022-03-10 17:06] #4930 closed, assigned to richardbporter

[2022-03-10 17:18] briand44 opened #4935 "Ability to expose session filter and category filter for upcoming dates by session"
As a visitor to the Registrar's site I would like the ability to filter upcoming dates by session and/or filter by category so I can easily find the upcoming dates relevant to me.

# Additional Info
Ability to see upcoming dates by session was completed as part of https://github.com/uiowa/uiowa/issues/2714 and can be seen in action on https://grad.uiowa.edu/academics/deadlines.

This is just an en

[2022-03-10 17:19] joewhitsitt commented on #4842
I missed the bit where we are scoping this just to sitenow_events. Wasn't the idea to go generic so that other things can be tied to this in the future if needed? `sitenow_cron:hourly` and put it in the profile?

[2022-03-10 17:22] richardbporter commented on #4842
Ah yea, thats a good idea. I was thinking we didn't want multiple hook_cron implementations running and doing the same thing. Good call.

[2022-03-10 17:28] briand44 opened #4936 "Academic calendar (skeuomorphic calendar display)"
As a Registrar site owner, I would like the ability to display a calendar view of academic dates by month so that users can easily view important academic dates.

# Additional Info
They are happy with the existing D7 implementation which is using an outdated version of Full Calendar https://registrar.uiowa.edu/academic-calendar.

Need ability to filter by categories.

Need option to display subses

[2022-03-10 17:37] bspeare commented on #4932
Closed via https://github.com/uiowa/uiowa/pull/4933.

[2022-03-10 17:37] #4932 closed, assigned to nobody

[2022-03-10 17:37] briand44 opened #4937 "Academic calendar list"
As a Registrar site owner, I would like the ability to display academic dates in a list format for better usability and accessibility.

# Additional Info

Epic https://github.com/uiowa/uiowa/issues/7257

They would like to have both #4936 and list display but also brought up accessibility and want to make sure this is an accessible solution. Joe asked if we could do away with the calendar display

[2022-03-10 17:39] ABoston88 commented on #4849
Do we want a demo prefooter to be part of the default content? Could be helpful...and they're pretty simple to alter or delete. Adding a CTA to every page is a good habit to encourage, too.

[2022-03-10 17:43] #4703 closed, assigned to nobody

[2022-03-10 17:43] #4544 closed, assigned to nobody

[2022-03-10 17:43] #4563 closed, assigned to nobody

[2022-03-10 17:43] #4794 closed, assigned to pyrello

[2022-03-10 17:48] briand44 opened #4943 "Five-year academic calendar"
As a Registrar site owner, I would like the ability to display the five-year calendar.

# Additional Info

Existing D7 implementation https://registrar.uiowa.edu/five-year-calendar.

API should have some sort of "Five Year Date" flag in MAUI (also should be "reviewed = true" and "printDate = true")

Dates should be grouped by academic year/session rather than by month.

Ability to filter by academ

[2022-03-10 17:54] bspeare commented on #4849
@ABoston88 I think for this page design we want a CTA at the bottom.   I'm not sure if we can integrate that into the prefooter for the default install, but let's add a CTA at the bottom of this page design through layout builder for now.

[2022-03-10 18:08] ABoston88 commented on #4849
Will do. The rest of the draft content is in place. Just need to make the CTA.

Edit: CTA made. Open to any notes on copy.

[2022-03-10 21:26] pyrello opened #4947 "Upstream: Person type status field getting reset to 'All' as default value during block form build"
# Problem
When the block form gets built for the people list block, the person type status filter field is getting reset to `'#default_value' => 'All'`. This is happening in the core `Drupal\views\Plugin\views\filter\FilterBasePlugin` class: https://git.drupalcode.org/project/drupal/-/blob/9.4.x/core/modules/views/src/Plugin/views/filter/FilterPluginBase.php#L1305. As far as I can tell, that class

[2022-03-10 21:28] pyrello commented on #2576
Here is an example of how I think this should go: https://github.com/uiowa/uiowa/pull/4479/commits/185cc2f704a6f930871812ba4f030bda606fda65

[2022-03-10 21:31] richardbporter commented on #4937
This checkbox was actually in reference to a custom content pane called academic_dates_list:
<img width="315" alt="image" src="https://user-images.githubusercontent.com/1068523/157758042-99e06f79-8d12-430b-9f39-ebd7ffc1fe2a.png">

The list view on https://registrar.uiowa.edu/academic-calendar is functionality provided by FullCalendar and would probably just be done in #4936.

I'm not sure who is u

[2022-03-10 21:32] richardbporter commented on #4889
I'm assuming this will need to be done via JS to cover the SPA "load" - just like canonical.

[2022-03-10 21:53] pyrello opened #4948 "Remove `sitenow_v2` config split"
Once there are no sites left using the `sitenow_v2` config split, we should remove it.

- [ ] v2 specific code removal

https://github.com/uiowa/uiowa/blob/c7f732daffcc7c43137870888fb40f706bbe4a39/docroot/themes/custom/uids_base/uids_base.theme#L275-L292

https://github.com/uiowa/uiowa/blob/c7f732daffcc7c43137870888fb40f706bbe4a39/docroot/themes/custom/uids_base/uids_base.theme#L568-L577

https://

[2022-03-10 21:55] richardbporter commented on #4842
Updated issue description.

[2022-03-10 22:11] joewhitsitt commented on #4928
The change has been added to https://hours-test.iowa.uiowa.edu/api/Hours/signage/ (e.g. https://hours-test.iowa.uiowa.edu/api/Hours/signage/res-CPHB-c212?start=03-11-2022&end=03-18-2022)

Need to reach out to Chris Grycki about surfacing some example private events.

Asked and waiting to hear back if this expected functionality should extend to other implementations like fusionrecserv

[2022-03-10 22:20] e-marie-w commented on #4768
Article published and emails sent out!

[2022-03-10 22:20] #4768 closed, assigned to e-marie-w

[2022-03-11 14:56] pyrello commented on #4926
I updated https://admissionsgrad.prod.drupal.uiowa.edu/academics and https://admissionsgrad.prod.drupal.uiowa.edu/new-students to have the search box point to the correct endpoint as they were not already.

[2022-03-11 14:58] joewhitsitt commented on #4926
If you are working on this @pyrello, I can unassign and work on something else.

[2022-03-11 14:59] pyrello commented on #4926
I think you have a better idea of how to get this done.

[2022-03-11 15:26] bspeare opened #4949 "Some events blocks are requiring a grid selection due to the recent layout builder styles update"
# Problem

On https://education.uiowa.edu/student-experience/baker-teacher-leader-center/upcoming-btlc-events:

The layout builder group for grid columns is showing `-select-` on https://education.uiowa.edu/student-experience/baker-teacher-leader-center/upcoming-btlc-events:

<img width="542" alt="Screen Shot 2022-03-11 at 9 23 26 AM" src="https://user-images.githubusercontent.com/1036433/15789669

[2022-03-11 16:57] briand44 commented on #4937
@richardbporter I think the academic dates list in D7 is being used for the homepage of registrar.uiowa.edu. That is no longer needed. I doubt others are using this if that is what it is so I am going to assume that this functionality you are referring to is not needed. I am going to keep this as it is in case we don't go with full calendar and need a separate solution for the list view. If it mak

[2022-03-11 17:43] bspeare commented on #4849
I think https://sandbox.prod.drupal.uiowa.edu/homepage-example-4 is ready for the team to review.  I'll add a card to prs ahoy to make that visible.

[2022-03-11 17:44] joewhitsitt commented on #4949
Big shout out to @pyrello for helping with this

[2022-03-11 17:51] joewhitsitt commented on #4849
I like it. We will need to up the amount of default articles though with this change (showing 3 instead of our 1). Start generating those copy ideas!

[2022-03-11 18:30] pyrello opened #4952 "Remove `sitenow_update_80xx` functions from `sitenow.install`"
# Motivation

Since we don't operate a distributed system where it is possible that some older sites haven't run an update hook that existed during their lifetime, all our old update hooks will never run again. As such, we should clean up the `sitenow.install` file by remove all the `sitenow_update_80xx` update functions.

# Proposed solution
* Remove all `sitenow_update_80xx` functions from `site

[2022-03-11 18:30] #4949 closed, assigned to joewhitsitt

[2022-03-11 18:40] bspeare opened #4953 "List blocks are adding `grid--threecol--33-34-33` class even if "List" is selected"
# Problem
List blocks are adding `grid--threecol--33-34-33` class even if "List" is selected

# Steps to reproduce
Inspect the markup on the lists https://sandbox.prod.drupal.uiowa.edu/articles.

# Proposed solution
- Remove `grid--threecol--33-34-33` class even if "List" is selected
- Revisit if these style are necessary https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scs

[2022-03-11 19:14] bspeare opened #4954 "As a site owner, I can create webforms that have better typography hierarchy and spacing"
# Story

As a site owner, I can create webforms that have better font sizes and spacing so that my forms are more aesthetically pleasing.

# Proposed solution

- Create [spacing and typography updates](https://tippiestudents.prod.drupal.uiowa.edu/undergraduates/get-involved/tippie-top-21/submit-tippie-top-21-nomination) suggested in https://user-images.githubusercontent.com/1036433/157935745-73d09

[2022-03-11 19:16] bspeare commented on #4954
Possibly related https://github.com/uiowa/uiowa/issues/3400

[2022-03-11 19:19] bspeare commented on #1747
I think this was done a while ago.  We have https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/components/form/forms.scss.  Can we close this issue?

[2022-03-11 22:42] bspeare commented on #4823
I started https://github.com/uiowa/uiowa/pull/4956.  I'll be out on Monday if anyone wants to work on this, here's a few tasks that could be worked on:

Edit: this is outdated.

<details>
- [ ] Attach `horizontal.js` only if layout builder style is selected on the menu block
- [ ] Move new CSS created in https://github.com/uiowa/uiowa/pull/4956 into the media queries above in the `todo` so they de

[2022-03-14 15:13] briand44 opened #4958 "Course deadlines"
As a Registrar site owner, I would like the ability to display course deadlines so that students can be aware of upcoming deadlines related to their courses.

# Additional Info
Ability to filter by Session, Department, Course and Session to find deadlines for specific course.
They are happy with existing D7 functionality https://registrar.uiowa.edu/course-deadlines
They would like the ability to e

[2022-03-14 15:28] briand44 opened #4960 "GPA Calculator"
# Story

As a Registrar site owner, I would like the ability for students to calculate their GPA so that they can predict their future GPA based on credit hours earned and anticipated course grades.

# Additional Info

If there is already a University GPA Calculator on Admissions or elsewhere, the Registrar's Office is happy to use an existing University GPA Calculator.
Happy with existing calcula

[2022-03-14 15:38] #4926 closed, assigned to joewhitsitt

[2022-03-14 15:46] briand44 opened #4962 "Glossary of terms"
# Story

As a Registrar site owner, I would like to have a Glossary of terms so that users can understand the University meaning of certain terms used within the context of their website.

# Additional Info
Ability to create a list of terms with their description/meaning
A way for users to link directly to or popup the description/meaning when users encounter a glossary term.
Were pretty happy wit

[2022-03-14 16:10] briand44 opened #4964 "PDF file archive"
# Story

As a Registrar site owner, I would like the ability for users to easily find and view archived versions of PDF files so that they can reference past census reports, commencement programs, tuition and fees, etc. in PDF format.

# Additional Info
Registrar's Office retains lots of old PDF's for reference and don't want a bunch of giant lists of PDF's displayed on pages.
Happy with D7 soluti

[2022-03-14 16:41] briand44 opened #4965 "Display Registrar Correspondence in table"
# Story

As a Registrar site owner, I would like to publicly display some Dispatch email correspondence so that our students, faculty and staff can catch up on communications that have been sent.

# Additional Info

D7 example https://registrar.uiowa.edu/correspondence

Current code in `uiowa703/docroot/sites/registrar.uiowa.edu/modules/custom/registrar_core/registrar_core.module`

Their current d

[2022-03-14 16:44] joewhitsitt commented on #4964
This could be solved by https://github.com/uiowa/uiowa/issues/3453 (tagging media, view display)

[2022-03-14 17:00] briand44 opened #4966 "University Classrooms and Specialty Spaces"
# Story

As Classrooms and Registrar site owners, I would like to display University classrooms and specialty spaces on the Classrooms website so users can find detailed information about these rooms.

# Additional Info
Data is managed in Adastra and fed into MAUI. MAUI is our source to retrieve data.
The logic to pull classroom information is slightly different that the logic to pull ucr/sps spac

[2022-03-14 17:05] briand44 opened #4967 "Final Exam Schedule Block Plugin"
# Story

As a Registrar site owner, I would like to be able to display final exam schedules so students can stay up to date about times and locations of exams.

# Additional Info

They seem happy with current functionality explained below https://github.com/uiowa/uiowa/issues/4967#issuecomment-2313262121 - https://registrar.uiowa.edu/final-exam-schedules

Need the ability to search the final exam

[2022-03-14 18:56] #4042 closed, assigned to dnkemper

[2022-03-14 18:59] joewhitsitt opened #4969 "Consistent field_tags widget across platform"
Follow up from https://github.com/uiowa/uiowa/issues/4042

For consistency, other field_tags fields should be updated.

- All media types
- https://github.com/uiowa/uiowa/blob/main/config/features/event/field.field.node.event.field_tags.yml
- https://github.com/uiowa/uiowa/blob/main/config/features/topic_page/field.field.node.topic_collection.field_topic_collection_tags.yml
- Grad - https://github

[2022-03-14 19:18] joewhitsitt commented on #4965
If there are shared dispatch campaigns among them, then I believe they can all be entered once and the aggregator block has multi-feed capability to pull these in.

[2022-03-14 19:40] briand44 commented on #4889
It looks like the directory profiles team has added `directoryTitle` to the endpoint. I think we will want to setup the meta descriptions to be ```<meta name="description" content="Name - directoryTitle - The University of Iowa" />```. So for https://education.uiowa.edu/directory/john-achrazoglou the meta description would be ```<meta name="description" content="John G. Achrazoglou - Clinical Asso

[2022-03-14 19:41] briand44 commented on #4889
@mjoneill ^^ Does that work for you?

[2022-03-14 19:44] mjoneill commented on #4889
Absolutely.  Thanks @briand44 !

[2022-03-14 20:06] GaryRidgway commented on #4889
Thanks for the updates all! appreciate ya!

[2022-03-14 20:08] GaryRidgway commented on #4889
I might need a bit of a refresher, do we have separate API keys for profiles to work locally?

edit: i found one that Denny shared with me a while ago.

[2022-03-14 20:43] GaryRidgway commented on #4889
@mjoneill should there be a description for the listing pages as well?

[2022-03-14 20:45] mjoneill commented on #4889
Ideally, yes...but not critical for this story. If it's right there and makes sense to do it now, I'm down with it provided it is really low additional effort and @briand44 gives thumbs-up.  Otherwise, it can wait...  The actual profiles are where the value is.

[2022-03-14 20:48] GaryRidgway commented on #4889
I think it would be incredibly easy for me to do right now, because it would most likely be a static string. An example of what it might look like would be helpful if possible.

The reason it would be useful to do it now is because i will have to delete the description every time they go back to the listing anyways, so it would be roughly the same amount of work to just set it to a default descrip

[2022-03-15 13:32] bspeare opened #4971 "Home page vertical video captions are not showing up on mobile"
# Problem
Home page vertical video captions are not showing up on mobile devices.

# Steps to reproduce
Watch a vertical video from uiowa.edu on your phone.

<img width="353" alt="Screen Shot 2022-03-15 at 8 31 43 AM" src="https://user-images.githubusercontent.com/1036433/158388614-b9d532e4-2080-4a36-b263-00a70e297851.png">

# Proposed solution
?

[2022-03-15 13:58] mjoneill commented on #4889
Sorry I missed this.  @ABoston88 can help in my absence.  In general, something like:

`<meta name="description" content="Explore the people of the College of Education.">`

Of course, "College of Education" would have to change depending on site/unit, and that might mean the preceding sent. structure would have to be adjusted depending on Unit Name (what happens if the unit includes "the" or it's

[2022-03-15 15:09] joewhitsitt opened #4973 "Consider moving away from Superfish"
Follow-up from https://github.com/uiowa/uiowa/issues/3757

# Story

As a developer and a steward of UIDS on campus, I don't want our platform and design library to rely on Superfish. There are several issues with it.

# Proposed Solution

- Investigate lightweight and accessible alternatives to implement for our navigation and to back port to UIDS for community use.

[2022-03-15 15:19] briand44 commented on #4889
We discussed setting the directory listing meta description temporarily to use `Site name - Directory title` and then have conversations with the Directory Profiles team if we should be handling this long term or should they. This would result in a meta description like ```meta name="description" content="College of Education - People.">``` for Education and ```meta name="description" content="Col

[2022-03-15 15:56] mjoneill commented on #4889
@briand44 I like this.  Let's roll this direction if it's doable.

[2022-03-15 18:09] briand44 commented on #2217
Scope first slice to creating the Community Colleges taxonomy and view block.

[2022-03-15 18:21] briand44 commented on #4769
duplicate settings used for other content types for moderation on the book content type for UI Press.

[2022-03-15 18:33] makurj commented on #4750
I would like to pair on this.

[2022-03-15 18:52] makurj commented on #4713
I would like to pair on this.

[2022-03-15 18:53] bspeare commented on #4750
After grooming this we decided to remove the requirement from the title field.

[2022-03-15 18:55] bspeare commented on #4713
After grooming this we decided to add the pre-title field to the banner block and add help text below the field to say something like "The pre-title will not appear on the page if the title field is empty."

[2022-03-15 19:10] briand44 commented on #4645
No update hook to change existing content. Update help text

[2022-03-15 19:41] briand44 commented on #4812
Removing blocked label since Katie provided the updates to the broken links report we were waiting on. I will prioritize this work for an upcoming sprint.

[2022-03-15 19:43] briand44 opened #4976 "Create community colleges taxonomy and view block"
- Term Name - this will be the official name of the Community College
- Locations - Not sure what we want to call this but my understanding is the District name is likely the official name but we will want a place to store/list specific CC's in that district (e.g. Eastern Iowa Community College District would be official name but Clinton Community College, Muscatine Community College and Scott Com

[2022-03-15 19:56] briand44 commented on #4976
Would we want to store contact info with the college taxonomy term? It looks like the existing pages have some generic text and a link others have individual contact info.

https://2plus2.admissions.uiowa.edu/majors/western.htm - individual contact info
https://2plus2.admissions.uiowa.edu/majors/dmacc.htm - link

[2022-03-15 20:15] briand44 commented on #4976
Reached out to Scott with some additional questions related to District name, College abbreviation, Contact info, etc.

[2022-03-15 20:23] pyrello commented on #3329
I sent en email to the customer to see if they are still encountering this error.

[2022-03-15 20:42] joewhitsitt opened #4977 "Node Revision Delete no longer works with core 9.3"
# Problem
[code]

# Steps to reproduce
- Try deleting a revision through the UI while looking at teh logs

# Proposed solution
- [ ] See if latest patch works: https://www.drupal.org/project/node_revision_delete/issues/3249493

[2022-03-15 21:29] bspeare commented on #4823
After our discussion this morning in the mid-sprint review and a thread in webteam Slack, here is a recap of where things are right now:

- I looked into using the Olivero dropdowns provided in core, but they are a bit tied to the Olivero theme (https://github.com/mherchel/olivero-subtheme/blob/main/readme.md) and also hover-based instead of toggle.
- I did find a versioned library that tracks the

[2022-03-15 21:34] joewhitsitt commented on #4823
thanks for writing this all out!

[2022-03-15 21:35] pyrello commented on #4769
For reference: https://wiki.uiowa.edu/display/drupaldev/Content+type+creation+notes

[2022-03-15 21:44] joewhitsitt opened #4979 "Change Travis back to using Xenial"
Follow-up from https://github.com/uiowa/uiowa/pull/4978

When https://travis-ci.community/t/php-7-4-is-broken-error-while-loading-shared-libraries-libargon2-so-1/12804 is no longer an issue.

[2022-03-16 01:50] pyrello commented on #4662
@dnkemper, @e-marie-w, and @makurj, I'm wondering if you can give me any insight into what the intention was with the following fields. I can't seem to figure out how or to what they should map.
* `field_book_art`
* `field_book_file_uploads`
* `field_book_pages`
* `field_book_trim_size`

[2022-03-16 13:24] briand44 opened #4981 "backup and remove grad.admissions.uiowa.edu D7 site"
Backup and deprovision grad.admissions.uiowa.edu from Graduate College application.

Info on backup process https://wiki.uiowa.edu/pages/viewpage.action?spaceKey=sitenow&title=Backing+up+a+site+before+deletion

[2022-03-16 13:48] briand44 opened #4983 "Backup and remove maps.prod.drupal.uiowa.edu"
Blocking until we discuss as a team

[2022-03-16 14:44] #4889 closed, assigned to GaryRidgway

[2022-03-16 15:20] briand44 commented on #4976
Adding Scott's responses to some of my questions for visibility.

Do we need District Name? (e.g. Clinton Community College also displays Eastern Iowa Community College District. Marshalltown Community College also displays Iowa Valley Community College District)

Do we need College abbreviation? (North Iowa Area Community College as NIACC)

It appears each college has some sort of contact informa

[2022-03-16 18:17] joewhitsitt commented on #2899
For visibility, I am communicating/testing upstream

[2022-03-16 19:32] joewhitsitt commented on #2899
It is recommended from the maintainer that we try the other widget for this functionality. I don't recall the particulars about this content type/field so I think this should wait for @pyrello to chime in on. https://www.drupal.org/project/smart_date/issues/3261072#comment-14446977

[2022-03-16 20:11] #4904 closed, assigned to makurj

[2022-03-16 20:11] #4906 closed, assigned to makurj

[2022-03-16 21:23] bspeare commented on #4823
Here's a screen capture of the menu in progress.  I'm wondering if we can display the third level of menus on the initial click to avoid a third level flyout?

https://user-images.githubusercontent.com/1036433/158693070-f3d97962-732c-4a4e-92bf-3278f677d56d.mov

[2022-03-16 21:26] bspeare commented on #4849
Good point about the articles @joewhitsitt!

@ABoston88 can you think of some default articles that would be good to include in the default install?  Here's a look at the one article that installs with all sites: https://default.dev.drupal.uiowa.edu/news.

[2022-03-16 21:29] bspeare commented on #4849
Next steps on this:

- [ ] Possibly add two more default articles to the site install
- [ ] Move current home page install to a new page so we can still track changes with Percy - what do we want to call it?
- [ ] Convert https://sandbox.prod.drupal.uiowa.edu/homepage-example-4 into default content.

Are there any other steps we should consider?

[2022-03-17 13:35] joewhitsitt commented on #4823
Not sure I understand. So all of the concentration links' children would be exposed at once? Like a mega menu?

[2022-03-17 13:36] bspeare commented on #4823
Yes, all the child links would be exposed like in the "curriculum" example above.

[2022-03-17 13:45] joewhitsitt commented on #4823
Oh gosh. I didn't notice that the concentration links were another level. I think that is fine. A lot of links will cause the user to scroll but that can happen with our main menu currently.

[2022-03-17 13:55] joewhitsitt commented on #4849
"Component showcase," "Everything but the kitchen sink," "Component examples," "Hall of Bill Murray," "Elements," "Rich content examples"

[2022-03-17 15:28] #4842 closed, assigned to richardbporter, joewhitsitt

[2022-03-17 15:54] briand44 opened #4986 "Expired content notifications"
Feature request: Assign content to owner and send notifications to content owners about outdated content? Similar to what ITS website is doing in D7. Are there other tools (SiteImprove) or workflows to help with this without developing this as part of the service? IT Security asking for this.

[2022-03-17 16:06] joewhitsitt commented on #4662
going to see if i can push this forward

[2022-03-17 16:13] briand44 commented on #4986
https://iowaweb.slack.com/archives/C0164FNN1PV/p1647527647249259

<img width="702" alt="Image" src="https://github.com/user-attachments/assets/58782bde-6797-45c6-b64c-1d73ca58038c" />

[2022-03-17 16:25] e-marie-w commented on #4662
- `field_book_art` = part of the `PP., plates, indices` field on d7 site
- `field_book_file_uploads` - new field they requested, nothing to map from old site
- `field_book_pages` - also part of the `PP., plates, indices` field on d7 site
- `field_book_trim_size` - also part of `PP., plates, indices` field on d7 site

...I did not think ahead to how difficult it might make migration when they asked

[2022-03-17 16:35] e-marie-w commented on #4662
Annnnd there's 1124 books, okay great. Uhhh we could try something where commas are the delimiter, and then if it has 'pages' the content goes to pages, 'inches' to trim size, and everything else to art? And something similar to how we output a list of everything with a small image size. Except this time make a list of every book that doesn't have any commas in that field so we know which will nee

[2022-03-17 16:38] joewhitsitt commented on #4662
![huge mistake](https://media.giphy.com/media/A0FGCbbooHe1y/giphy.gif)

Update: avoiding PP., plates, indices right now and trying to work on the book type stuff.

Update update: I think I got the initial book type stuff working. Since type and isbn are required I got those wired up. There is a lot of if/else gotchas with some of the other fields like ebook perpetual vs 120 day.

[2022-03-17 20:55] GaryRidgway commented on #2576
I went through and `Find in files`'d each of the folders referenced and got the following counts:

## docroot/modules/custom
89

## docroot/profiles/custom/sitenow
11

## docroot/sites
20

## docroot/themes/custom/uids_base
92

[2022-03-18 15:40] bspeare commented on #4750
Based on @dnkemper comment on https://github.com/uiowa/uiowa/pull/4989#issuecomment-1072468290, I guess we would either need to do one of the following things:

- Add help text under link saying that link field won't work without link title if title is empty
- Refactor banner.js to include this scenario
- Pursue a different background image approach (https://www.drupal.org/project/layout_bg)

I th

[2022-03-18 15:43] dnkemper commented on #4750
Thank you, @bspeare!

[2022-03-18 15:50] briand44 commented on #4928
Some test data was added and some additional context in email in its-web. The test data may expire prior to us planning this work though.

[2022-03-18 16:36] #4769 closed, assigned to dnkemper

[2022-03-18 16:54] briand44 commented on #4983
Backup created and site removed.

[2022-03-18 16:54] #4983 closed, assigned to nobody

[2022-03-18 17:12] ABoston88 commented on #4849
FWIW, I think "component showcase" captures the current (soon-to-be previous) default home page well.

On the articles, I could just throw together a "Welcome" article that has some key contacts and introductory info. Maybe the second could be a very quick "Getting started" guide that links to the Web Community Site and training stuff? I know we don't want to update this very frequently but that a

[2022-03-18 17:51] bspeare commented on #4849
@ABoston88 I think those articles sound like good ideas!

[2022-03-18 20:35] #4455 closed, assigned to nobody

[2022-03-21 13:30] joewhitsitt commented on #4662
Going to keep trying to move book type forward

[2022-03-21 13:52] joewhitsitt commented on #4662
Unrelated but wanted to capture: The book type has a sale start/end date that is evaluated whether to show or not during a preprocess. This is going to need the same 1 hour cache tag that we developed for https://github.com/uiowa/uiowa/pull/4934 or the editor is going to have to "refresh" this content the day of the start and end.

[2022-03-21 14:41] joewhitsitt commented on #4928
Not seeing isPrivate results for either link in that email thread.

[2022-03-21 14:52] pyrello commented on #4662
Nice catch!

[2022-03-21 15:31] joewhitsitt commented on #4928
Got an example:

<img width="704" alt="Screen Shot 2022-03-21 at 10 29 28 AM" src="https://user-images.githubusercontent.com/4663676/159295189-fd37a170-f8ef-4a72-a41d-0394b7987a08.png">

[code]

[2022-03-21 15:46] pyrello commented on #4849
🤣

[2022-03-21 16:02] GaryRidgway opened #4993 "Upstream - Possibly remove redundant code in `SectionComponentSubscriber` when upstream issue is resolved"
[This @todo references moving its code to blockbase](https://github.com/uiowa/uiowa/blame/main/docroot/modules/custom/layout_builder_custom/src/EventSubscriber/SectionComponentSubscriber.php#L64).

[So does this one](https://github.com/uiowa/uiowa/blob/68325126adc6d9be0b338b9c74fb074442422eff/docroot/sites/admissions.uiowa.edu/modules/admissions_core/src/EventSubscriber/SectionComponentSubscriber.

[2022-03-21 16:10] pyrello commented on #4662
A few more questions for you @e-marie-w:
* Can you confirm that all of the ISBN 10 fields are no longer needed and we don't need to capture that information anywhere?
* On the old site, there is one ebook sale price. Do you know if that applies to both the 120 day license and the perpetual license? Or just one of those?

[2022-03-21 16:18] e-marie-w commented on #4662
That is a good question. I can email the customer.

I can confirm that they don't need to be migrated, while I'm emailing I'll check that it doesn't need to be captured at all.

Update: sent email and cc'd everyone currently assigned to this.

[2022-03-21 16:29] pyrello opened #4994 "Investigate (and remove) older migrations"
# Motivation
We have older migrations that are no longer of much value in terms of code examples as our best practices have changed over time. Pruning out those older migrations would reduce our code footprint and also reduce the likelihood that someone picks an outdated best practice when looking for copy/paste examples.

# Proposed resolution
Identify the oldest migrations and make recommendatio

[2022-03-21 16:57] pyrello commented on #4823
I'm curious what this would look like.

[2022-03-21 17:02] bspeare commented on #4823
@pyrello here's what it looks like.  The items under "Concentrations" indented with discs in the dropdown are the third level.

https://user-images.githubusercontent.com/1036433/159324544-00109b1c-1a4b-4f06-87ef-bd53954c7e65.mov

[2022-03-21 17:18] pyrello commented on #4823
This seems like an entirely new UX pattern for this menu and I'm not sure if I like having a divergence with our existing menu UX pattern. It seems like we should be doing our best to try to make the multiple menu implementations as similar as possible in terms of UX.

[2022-03-21 17:20] bspeare commented on #4823
@pyrello are you mainly referring to the 3rd level?

[2022-03-21 17:21] pyrello commented on #4823
@bspeare Yes, sorry for not being more clear.

[2022-03-21 17:57] joewhitsitt commented on #4662
@pyrello can you be more specific here? I have converted them to blockquote elements. The wysiwyg implementation of blockquote is different than the blockquote block (alignment, etc.) and the attribution seems a bit inconsistent unless we look for `—` and get it along with everything after and wrap it in something `<cite>`:

`—Elizabeth Taylor, “Editor's Choice,” <em>Chicago Tribune</em>`

`—<em>L

[2022-03-21 18:07] pyrello commented on #4662
@joewhitsitt When I wrote that up, I only looked at a few examples, so it may be the case that what I was hoping for is not possible based on the actual data. If at a minimum we can parse out the various quotes into using `<blockquote>` tags, then that is good enough for me.

[2022-03-21 18:11] pyrello commented on #2899
I'm fine with switching to a different widget. The way it was set up at the time is just the best way I could figure out to do it at that point. There is never an end date with these.

[2022-03-21 18:48] pyrello commented on #1747
Yeah, looks like this can be closed.

[2022-03-21 18:48] #1747 closed, assigned to nobody

[2022-03-21 19:24] briand44 commented on #4812
Once we run the migration, Katie is hoping to get another report of broken links for articles that have been created since the first report we provided so she can manually update.

Also, she had a question about existing links on the new site that are linking to articles on the old site. Will those need to be manually updated or will they work after the migration?

[2022-03-22 13:20] cory-skeers commented on #4812
Can do--updated issue description to include this.

I believe she is using absolute links when linking to articles on the old site, and those links will continue to work after the migration, as there will be redirects in place to direct to the new alias pattern.

[2022-03-22 13:50] quamsta opened #4997 "Topic Collection "Browse By" item counts are incorrect"
# Problem
Related to the fix I made for: https://github.com/uiowa/uiowa/issues/4882

The counts on the tag/category boxes are incorrect, example: "Education (2)"

<img width="354" alt="Screen Shot 2022-03-22 at 8 34 16 AM" src="https://user-images.githubusercontent.com/472923/159493568-ffc08f79-8fef-4b97-b7f3-c7e368bfef57.png">

Upon clicking, there's only one result, not two:

<img width="553" al

[2022-03-22 14:26] cory-skeers commented on #4994
Engineering migrate should be removed--it has several examples of outdated practices that could be detrimental trying to implement in new migrations.

[2022-03-22 16:59] joewhitsitt commented on #4662
doing a full migration run over lunch and then plan to review series mapping

Update: migration ran completely. the series wasn't being mapped appropriately because the field was limited to 1 value. Pushed a small update there.

[2022-03-22 18:24] briand44 commented on #4928
could output "Private event" if organizer is null and isprivate?

[2022-03-22 18:26] bewoldt opened #5000 "increase font size on form labels"
# Problem
Form field labels are currently set at .8rem and are output as 12.8px. I'd like to increase the font size to be more readable.

# Proposed solution

https://github.com/uiowa/uiowa/blob/d30dbaf0b5e7e071e1bd0fa4775a0c836ea3bfe7/docroot/themes/custom/uids_base/scss/components/form/forms.scss#L267-L272

Use the base font size variable instead of the small variable. This will bump it up to 16

[2022-03-22 18:29] bspeare commented on #5000
Related issue: https://github.com/uiowa/uiowa/issues/4954

[2022-03-22 18:38] richardbporter commented on #4577
5.7.36 is what is in prod now and being updated in dev/test.

[2022-03-22 18:41] joewhitsitt commented on #4901
is this the `book` database on the grad application?

[2022-03-22 18:42] briand44 commented on #4901
See if customer has thoughts on how they would prefer to handle the multiple images.

[2022-03-22 18:56] bewoldt opened #5001 "Relationship tag fields are extending off page"
# Problem
The new relationship tags are extending off screen.

<img width="460" alt="Screen Shot 2022-03-22 at 1 54 26 PM" src="https://user-images.githubusercontent.com/731952/159555105-74ef7292-ae7e-4444-a1c2-e2d712c08b64.png">

<img width="452" alt="Screen Shot 2022-03-22 at 1 55 53 PM" src="https://user-images.githubusercontent.com/731952/159555294-906845be-3891-440e-9f23-b260f4b430ed.png">

[2022-03-22 19:21] bspeare opened #5002 "Re-scope submit button CSS selector to avoid namespace collisions for webform fields"
# Problem
Targeting the id of `form_submit` in our `forms.scss` can create issues if a webform field key contains the word "submit"

# Steps to reproduce
Create a text field on a webform with the name "Submitter name"

# Proposed solution
Update the scope of the CSS selector in `forms.scss` so that it will only apply to `type="submit"`

[2022-03-22 20:09] briand44 opened #5003 "Create structure to capture checkpoints specific to a community college and major."
As a 2plus2 transfer student, I would like to be able to see what specific checkpoints and courses I need to complete at my community college to meet the University of Iowa requirements for that major.

# Additional Information
Here are examples of the requirements needed for an American Studies major through Eastern Iowa Community College compared to an American Studies major through Des Moines A

[2022-03-22 20:48] briand44 opened #5004 "meta description bugs?"
Grad Admissions Areas of Study aren't rendering any meta descriptions.
It looks like they are setup to use [node:body:value]. Should this just be [node:body]?

[2022-03-22 21:00] joewhitsitt commented on #5004
If so, we have a few instances to check/fix:

config/features/scholarship/metatag.metatag_defaults.node__scholarship.yml
config/sites/admissions.uiowa.edu/metatag.metatag_defaults.node__student_profile.yml
config/sites/grad.admissions.uiowa.edu/metatag.metatag_defaults.node__area_of_study.yml
config/sites/admissions.uiowa.edu/metatag.metatag_defaults.node__area_of_study.yml

[2022-03-22 21:00] #4230 closed, assigned to joewhitsitt

[2022-03-22 21:19] briand44 commented on #5004
Yeah, not sure that is the issue but I am getting even more confused about some meta descriptions after poking around a bit. Not sure how https://admissions.uiowa.edu/node/731 is working?

[2022-03-22 21:19] briand44 commented on #5004
I am not seeing meta descriptions on Admissions site for Scholarships content or Area of study content or student profiles

[2022-03-22 21:28] joewhitsitt commented on #5004
https://admissions.uiowa.edu/admin/config/search/metatag/node__student_profile?destination=/admin/config/search/metatag has `[node:body:value]`

731 has `[node:field_teaser:value]` as an override, but the field_teaser value itself is blank so it is reverting back to the meta tag default and grabbing the body value.

[2022-03-22 21:35] briand44 commented on #5004
According to ^^ that would suggest [node:body:value] is an acceptable meta tag token then.

[2022-03-22 21:37] briand44 commented on #5004
https://admissions.uiowa.edu/node/731 is a "Person" not a student profile... It looks like it is setup to use [node:field_teaser:value] https://admissions.uiowa.edu/admin/config/search/metatag/node__person?destination=/admin/config/search/metatag

But there is no teaser so why is it outputting the body for the meta tag description?

[2022-03-22 21:45] joewhitsitt commented on #5004
Ah. Sorry. https://github.com/uiowa/uiowa/blob/main/docroot/profiles/custom/sitenow/sitenow.profile#L1074

[2022-03-22 22:00] joewhitsitt commented on #4662
I _think_ this is just waiting on a response regarding `PP., plates, indices`

[2022-03-23 13:18] mjoneill opened #5007 "[Spike] As a developer, I can articulate a desirable path forward for how we can solve for an off-brand theme."
The off-brand theme will be:
- turned on by the web team (not enabled/adjusted by site owner)
- maintainable by web team with minimal overhead
- provides logo swap capability
- provide a fixed set of non-UI colors

Deliverables:
- Recommendations for how we could move forward

# Investigation outcomes
## Customizations needed
- Color changes
- Logo swap
- Search change

[2022-03-23 14:07] #4997 closed, assigned to nobody

[2022-03-23 14:19] pyrello commented on #5007
In trying to understand @GaryRidgway's suggestion about using `:root` variables in CSS, I came across this article which helped me grok the concept better: https://css-tricks.com/breaking-css-custom-properties-out-of-root-might-be-a-good-idea/. Also might specifically be helpful because of how our CSS is built in a modular fashion.

[2022-03-23 15:38] GaryRidgway opened #5009 "Determine if smart_date hides wrapper label"
Remove if smart_date hides this datetime wrapper label. See
https://github.com/uiowa/uiowa/blob/431392814f38fcdbdfb6d5d595505dfec23cbf66/docroot/modules/custom/grad_custom/grad_thesis_defense/grad_thesis_defense.module#L53

[2022-03-23 15:45] GaryRidgway opened #5010 "Write/implement patch for `layout_builder_styles` module to add default values"
# Motivation
We currently have custom code that allows for setting default values for our layout builder style groups:
https://github.com/uiowa/uiowa/blob/431392814f38fcdbdfb6d5d595505dfec23cbf66/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L48-L110

Ideally this is functionality that the module would provide.

# Proposed solution
Track whether this issue gets picked u

[2022-03-23 15:47] joewhitsitt commented on #5009
Related issue: https://github.com/uiowa/uiowa/issues/2899

[2022-03-23 15:57] makurj commented on #4849
Waiting for articles from @ABoston88 to proceed.

[2022-03-23 16:09] GaryRidgway opened #5012 "Add feedback and validation for image uploads for banner"
Add feedback and validation for image uploads for banner. See

https://github.com/uiowa/uiowa/blob/431392814f38fcdbdfb6d5d595505dfec23cbf66/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L503

[2022-03-23 16:11] GaryRidgway opened #5013 "Implement a way to do file cleanup."
Find a way to implement file cleanup if a file is not used. See

https://github.com/uiowa/uiowa/blob/431392814f38fcdbdfb6d5d595505dfec23cbf66/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L513

[2022-03-23 16:32] joewhitsitt commented on #4976
Waiting to hear back on whether our solution is adequate for the college/district relationship. Currently we have it setup that the district would be the representing content in the community colleges list with the related locations part of the listing.

<img width="537" alt="Screen Shot 2022-03-23 at 11 33 25 AM" src="https://user-images.githubusercontent.com/4663676/159749660-1ebcc5c8-73c5-44dc-

[2022-03-23 16:40] briand44 commented on #5003
Scott said he would provide a list of fields needed here. Also mentioned that they are fine with each section being a field and copying static content for each node rather than trying to store some information on a taxonomy term or elsewhere.

[2022-03-23 17:43] bspeare commented on #4823
Scott provided some useful feedback this morning on the current dropdown menu functionality.   He thought that it is potentially confusing to present an additional dropdown menu with a different interaction pattern than what we are providing with the Superfish menus.

I was looking through https://github.com/w3c/aria-practices/issues/ yesterday and found https://github.com/w3c/aria-practices/issue

[2022-03-23 18:58] #2899 closed, assigned to nobody

[2022-03-23 18:58] #5009 closed, assigned to nobody

[2022-03-23 19:05] joewhitsitt commented on #2691
Is this still an issue then @pyrello as it relates to https://github.com/uiowa/uiowa/pull/5014?

[2022-03-23 19:08] joewhitsitt commented on #1515
Now that we have move forward with smart_date and are considering https://github.com/uiowa/uiowa/issues/4320, is this issue still needed?

[2022-03-23 19:10] pyrello commented on #1515
Nah

[2022-03-23 19:10] #1515 closed, assigned to nobody

[2022-03-23 19:11] pyrello commented on #2691
I don't think it is framed correctly, but it is tracking an issue that is still open and is actually still an issue. Should we ever decide to adopt smart date for other things, we may need to fix it. Currently it only seems to affect Grad College.

[2022-03-23 19:51] joewhitsitt commented on #2576
Looking to jump in on this, but recall @GaryRidgway talking about a stepping on toes avoidance workflow. Could I get some details?

[2022-03-23 20:02] joewhitsitt commented on #2396
Just want to capture this. Got an eventbrite email not too long ago.

For those unfamiliar with Eventbrite, you can create a single event or an event with recurring dates, but note, the recurring dates don't have separate URLs and "Event details and ticket types will apply to all instances."

But the email highlighted a new feature called "Collections" which allows you to reference individual even

[2022-03-23 20:18] joewhitsitt commented on #5004
Long story short. Yes. Pushing a fix for all shortly.

[2022-03-23 20:19] JKurtzlebenUI commented on #4823
Regarding bringing the hover back, as long as that hover also works as a click. One of the things we really liked that Ben's menu fixed was that it avoided a child with the same name as a parent so that the content of the unclickable parent was available.

[2022-03-23 20:23] briand44 commented on #5004
Curious on if [node:teaser:value] is acceptable or not? Saw mixed usage related to this as well. Not trying to increase scope here though.

[2022-03-23 20:29] joewhitsitt commented on #5004
It is an acceptable token but it would be nice to be consistent at some point and remove that extra logic.

<img width="529" alt="Screen Shot 2022-03-23 at 3 27 07 PM" src="https://user-images.githubusercontent.com/4663676/159789800-eac79c10-5a2d-44be-9d3f-68b4d8e7f0b3.png">

There was talk about moving back to a body/summary field setup but I don't think an issue was created.

[2022-03-23 20:48] richardbporter commented on #4979
I can try this out: https://travis-ci.community/t/php-7-4-is-broken-error-while-loading-shared-libraries-libargon2-so-1/12804/20

Xenial is what AC is so yea just confirming we want to replicate that.

[2022-03-23 20:50] pyrello commented on #4919
Is this something that we want to offer as an option instead of forcing this change on everyone? Are there cases where people would prefer the current behavior?

[2022-03-23 21:22] #4759 closed, assigned to nobody

[2022-03-23 22:08] pyrello commented on #4823
Long term, I believe that it is our goal to get rid of Superfish: https://github.com/uiowa/uiowa/issues/4973. We have discussed using the development of these new secondary menu options as a first step towards testing out and proving an alternative to Superfish. This would give us a higher degree of confidence that we could eventually replace our main navigation system with this new system.

[2022-03-23 22:10] pyrello commented on #4823
Someone needs to demonstrate what a mousetrap is to me because I'm not sure that I understand what we are trying to avoid.

[2022-03-23 23:15] #4979 closed, assigned to richardbporter

[2022-03-24 13:15] bspeare commented on #4919
I think it might be a good idea to offer it as an option.

[2022-03-24 13:45] joewhitsitt commented on #4823
I think I originally raised the mousetrap issue and if nobody else is concerned about it I will hush up. It doesn't always happen to me, but it seems to occur more when i am using my trackpad (imprecise mouse movements/pauses on the screen) where my mouse temporarily lands on the menu instead of the breadcrumb or a link right below the menu where I actually want to go. I scroll down the page, don'

[2022-03-24 13:50] bspeare commented on #4823
I'm fine with continuing to use the new UX pattern to click to expand on these internal page menus.   It appears that additional hover functionality is on the "next steps" project board for this pattern as you can see here (https://github.com/w3c/aria-practices/projects/14#card-77394141) so it could be an enhancement that we introduce once it becomes available if we decide to pursue the `accessibl

[2022-03-24 14:06] JKurtzlebenUI commented on #4823
Will we still be able to avoid the situation of needing a child with the same name as a parent so that the content of the unclickable parent is available?

[2022-03-24 14:08] bspeare commented on #4823
@JKurtzlebenUI Yes, if you look at https://www.davidmacd.com/widgets/menu/tutorial-ar/wcag-tutorial-add-hover-invisible.html you can see that the hover and click on the top level link works.     That is what the future enhancement would likely look like.

[2022-03-24 14:23] bspeare commented on #4750
Here are a few thoughts suggested in Slack and standup this morning:

- Require link text if title is empty
- Add circle button
- Possibly wrap banner with link
- Pursue https://www.drupal.org/project/layout_builder_backgrounds which would could be a better approach for our blockquote component
  - Would need a specialized one column layout with options to:
    - Add and require overlay or gradien

[2022-03-24 14:33] richardbporter commented on #2576
Looks like there is a GitHub app that auto-creates issues for todo items: https://github.com/apps/todo

Anyone have thoughts on if that might be worth testing out after we go through all existing todos?

[2022-03-24 14:35] joewhitsitt commented on #2576
Robots are taking our jobs!

[2022-03-24 14:37] JKurtzlebenUI commented on #4823
Most excellent, thanks!

[2022-03-24 14:44] GaryRidgway commented on #2576
I'm open to experimenting with that, it might be cool!

[2022-03-24 14:50] bspeare opened #5019 "As a site owner, I can create a collection of banners and cycle through them with a pager"
# Story

As a site owner, I can create a collection of banners and cycle through them with a pager so that prospective students can review all student profiles created for a program.

![rotator_btns](https://user-images.githubusercontent.com/1036433/159942738-99c24159-0e5e-4318-8600-4d9c28cb643f.jpg)

# Proposed solution

- Bring back carousels
- Use views AJAX pager
- Add an additional display op

[2022-03-24 15:02] GaryRidgway commented on #4994
(all of these have todos)
Do we still need the itu physics migrate module?
Or admissions migrate?
Or Grad admissions migrate?
Or uipress migrate?

[2022-03-24 15:03] joewhitsitt commented on #5019
👎

[2022-03-24 15:09] joewhitsitt opened #5021 "Enhance SiteNow version console message with details about enabled splits"
Follow-up from #4991

https://github.com/uiowa/uiowa/blob/4ea004233d545f88a0aa5329a2d83b34735fdfb5/docroot/profiles/custom/sitenow/sitenow.profile#L985-L1001

[2022-03-24 15:44] joewhitsitt opened #5023 "Refactor our query interaction with administerusersbyrole"
Follow-up from https://github.com/uiowa/uiowa/pull/4991

https://github.com/uiowa/uiowa/blob/319f82a78c705ae310afd2584bd42c7bd9075cf2/docroot/profiles/custom/sitenow/sitenow.profile#L108-L118

[2022-03-24 15:55] joewhitsitt opened #5024 "Make body field meta description length configurable"
Follow-up from https://github.com/uiowa/uiowa/pull/4991

https://github.com/uiowa/uiowa/blob/d121ad897e9b45cd3cda38d65b52fd3c2d5ec377/docroot/profiles/custom/sitenow/sitenow.profile#L1096-L1099

[2022-03-24 16:06] e-marie-w commented on #4901
So I added the filter, turns out only 4 articles have more than one image.

It seemed like more, but sometimes what looks like multiple images are all part of only one, like [https://uicb.uiowa.edu/news/2019-02-18/uicb-codex-2019](https://uicb.uiowa.edu/news/2019-02-18/uicb-codex-2019).

[2022-03-24 16:12] briand44 commented on #4901
Based on ^^ I would say we just migrate the first image and the additional images could be added manually within the article body? Thoughts?? We also got some feedback from Iowa Now folks that they would like to be able to have a photo gallery on news articles so that is a feature we will likely be discussing in the near future but not sure if it is worth holding this up.

[2022-03-24 16:26] joewhitsitt opened #5025 "Utilize body summary field on v3 page."
# Issue

The v3 page body field has a summary field which is not being used for anything. This can be confusing to users.

We have code that uses the body value if field_teaser is not filled out.
https://github.com/uiowa/uiowa/blob/d121ad897e9b45cd3cda38d65b52fd3c2d5ec377/docroot/profiles/custom/sitenow/sitenow.profile#L1083-L1101

# Proposed solution

- Audit to check for filled summary fields? I

[2022-03-24 16:30] briand44 commented on #2121
Another addition would be to have a designation to request a private site (intranet). Right now folks would need to specify that in the comments. Doesn't need to be included in this scope, just wanted to capture the thought somewhere.

[2022-03-24 17:49] #5004 closed, assigned to joewhitsitt

[2022-03-24 18:43] joewhitsitt commented on #5003
Is this is blocked until we know the basic organization of https://github.com/uiowa/uiowa/issues/4976?

[2022-03-24 18:47] joewhitsitt commented on #414
Closing as a won't do since this functionality is only on v2. v3 is just using a normal entity reference field.

[2022-03-24 18:47] #414 closed, assigned to nobody

[2022-03-24 18:50] joewhitsitt commented on #718
This feature was brought up to IowaNow/Stories staff and they don't see an immediate need for this. The social media team crafts posts from articles/stories and that is often what is "shared" through likes and re-tweet/posting

[2022-03-24 18:52] briand44 commented on #5003
I didn't think it was blocked because of that issue. It could be blocked until we get the list of fields from Scott but I assumed we could move forward without the CC taxonomy. I had bumped it down the priority list a bit because we didn't have that list yet from Scott.

[2022-03-24 19:47] ABoston88 commented on #4849
Articles drafted here:
https://sandbox.prod.drupal.uiowa.edu/news/2022/03/welcome-sitenow-v3
https://sandbox.prod.drupal.uiowa.edu/news/2022/03/quick-start-guide-sitenow

Would adding images pose any issues on a default install? The second article could do with some illustrations but could live without, if need be.

[2022-03-24 20:20] joewhitsitt commented on #4750
Team is planning on discussing this before moving forward

[2022-03-24 20:33] bspeare opened #5027 "Update dompdf/dompdf to latest version"
As noted in [dompdf/dompdf](https://github.com/uiowa/uiowa/pull/4447), there are some issues with the admission PDFs when we update `dompdf/dompdf` to the latest version.

# Problem

-  Links render multiple times and the margin/spacing is slightly different.
-  It is also adding `-` to random words nearby links as well.

# Proposed solution

Use the dependabot issue https://github.com/uiowa/uiowa

[2022-03-24 20:34] richardbporter commented on #4140
I think this could work similarly to the requester where it is an option set for the `blt uiowa:multisite:create` command, set in the site's blt.yml file and then parsed and set via Drush after the site is installed.

https://github.com/uiowa/uiowa/blob/ba6a026cf40f7683a7749f95337582eeb5b64115/blt/src/Blt/Plugin/Commands/MultisiteCommands.php#L400-L421

https://github.com/uiowa/uiowa/blob/ba6a026c

[2022-03-24 21:18] richardbporter commented on #2576
I'm thinking this already-run update hook todo can be removed?
https://github.com/uiowa/uiowa/blob/1f9ac86cceee1764b30d6710079bfff2d6e917ca/docroot/profiles/custom/sitenow/sitenow.install#L1167-L1181

[2022-03-24 21:34] richardbporter commented on #2576
Updated issue description with a list of todos - file path, line number, first line.

[2022-03-25 13:42] joewhitsitt commented on #2576
Maybe all of the sitenow.install update hook ones could just be changed to a "note for next time"?

[2022-03-25 13:43] richardbporter opened #5028 "Replace sitenow_events option functions with an API endpoint that outputs an entire vocabulary tree."
The helper methods in docroot/modules/custom/sitenow_events/sitenow_events.module:552 and docroot/modules/custom/sitenow_events/sitenow_events.module:582 are extremely slow. it would be nice if the content hub API provided a nested options tree instead of recalculating this every time the block interface is loaded.

### Proposed solution
Create a new API endpoint that returns an entire vocabulary

[2022-03-25 14:23] GaryRidgway commented on #5019
👎

[2022-03-25 14:37] quamsta commented on #5025
With our old SilverStripe sites, the default behavior was to use the equivalent "summary field" to populate both the meta description and the shortened teaser that would appear on list-like pages if it was filled out, otherwise we'd try to pull in some truncated body text for these purposes.

The two separate fields in SiteNow ("Content description" and "Summary") confuse me a bit. Is it possible

[2022-03-25 14:41] richardbporter opened #5029 "Get a better default Panopto media name."
docroot/modules/custom/sitenow_media_wysiwyg/src/Plugin/media/Source/Panopto.php:138

# Problem
When Panopto media is created, it gets a hash value for the media name. This can make it difficult to identify media in the media library. It'd be nice if the name of the item in UICapture could somehow be used.

# Proposed solution
Leverage the API or another mechanism to get a better name. Details TBD

[2022-03-25 14:54] pyrello commented on #2576
I feel like there is no reason we couldn't pull this in: https://github.com/uiowa/uiowa/issues/4952

(edit) Is it really more desirable to go through them and individually remove todos?

[2022-03-25 15:28] joewhitsitt commented on #3762
I think previously we added in a cache clear to happen post deployment that didn't work but I do sense that at least part of this issue lies with deployments. 703 was deployed yesterday and INRC.LAW had the issue this morning. I wonder if we can be proactive and run cache clear/varnish and then hit the site after a deployment has been completed. Only ask right now is to continue to announce 703 de

[2022-03-25 15:41] joewhitsitt commented on #5025
That is kind of what I was getting at with the future slices. Ultimately removing field_teaser.

[2022-03-25 15:42] e-marie-w opened #5031 "IISC - Create content type for migrating Partner content."
## Story

As an IISC editor/webmaster, I want to display information about our Project Partners.

## Solution

Create a Partner content type with the following fields:
- Title (text)
- Photo (image)
- Description (text, long)
- Related links (URL field)
- References section
- - Related individuals (reference People content)
- - Iowa county (currently a checkbox list of all 99, open to suggestions)

[2022-03-25 16:36] richardbporter opened #5032 "Allow for new account email notification."
# Problem
We are disabling access to the account notify option when creating a new account. This is because the template in admin/config/people/accounts was never updated. It could provide useful information though like login link, docs, etc. Webmasters could have the option to notify people as a they create them.

# Proposed solution
Talk about whether this is something we want to do. If so, remo

[2022-03-25 17:42] joewhitsitt opened #5033 "Remove sitenow_card/card-link-js from paragraph card when no longer needed"
// If the sitenow card link js file has been added, remove it. Remove this when it is no longer necessary.

https://github.com/uiowa/uiowa/blob/e20450ab29d5eb234c959e3a9bb9ab0b3f0b9991/docroot/themes/custom/uids_base/uids_base.theme#L767-L780

[2022-03-25 17:57] joewhitsitt commented on #5033
Might be related to #4948 if this is only v2.

[2022-03-25 18:09] richardbporter opened #5034 "Remove uiowa_core hook_config_schema_info_alter implementation"
This was needed to ensure the same export order.

Blocked by https://www.drupal.org/project/drupal/issues/2855675.

[docroot/modules/custom/uiowa_core/uiowa_core.module:25](https://github.com/uiowa/uiowa/blob/bba45460a6924a278b748d0599fc8e81bc7ce3fd/docroot/modules/custom/uiowa_core/uiowa_core.module#L17-L26)

[2022-03-25 18:19] richardbporter commented on #2576
I think I've quickly scanned these and hit the ones I was familiar with.

[2022-03-25 19:13] GaryRidgway opened #5035 "Investigate whether code can be added to ListBlock"
Potentially move code to listblock

https://github.com/uiowa/uiowa/blob/ddc641899bfe152b31a63f70d1d84f396add4d0d/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L120-L124

[2022-03-25 19:20] joewhitsitt commented on #2576
Added a proposed update to the working agreement: https://wiki.uiowa.edu/display/drupaldev/Working+agreements

[2022-03-25 19:33] GaryRidgway opened #5036 "Create message to let the user know image size was changed?"
See

https://github.com/uiowa/uiowa/blob/ddc641899bfe152b31a63f70d1d84f396add4d0d/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L537-L538

[2022-03-25 19:41] joewhitsitt commented on #5036
~~Ha. I think enough time has passed on this one...~~

Misunderstood the todo thinking this was a change to the platform default that we should communicate to folks. Disregard

[2022-03-25 19:44] e-marie-w opened #5037 "IISC - Customize Article content type"
## Story
As an IISC editor/webmaster, I want to associate articles with the people, partners, and projects mentioned in them. This allows me to display relevant news on the person, partner, or project page.

## Solution

- Add 'Related Partners' field that allows users to add existing Partners
- Add 'Related Projects' field that allows users to add existing Projects
- Add 'Related Individuals' fie

[2022-03-25 20:17] GaryRidgway opened #5038 "Investigate if code should be scoped on layout_builder_styles"
See

https://github.com/uiowa/uiowa/blob/bba45460a6924a278b748d0599fc8e81bc7ce3fd/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L599-L600

[2022-03-25 20:19] GaryRidgway opened #5039 "Conditionally require media field when 'background_options' is set to 'image'"
See
https://github.com/uiowa/uiowa/blob/bba45460a6924a278b748d0599fc8e81bc7ce3fd/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L640-L641

[2022-03-25 20:20] pyrello commented on #2576
@bspeare Any idea what this is referring to?
https://github.com/uiowa/uiowa/blob/bba45460a6924a278b748d0599fc8e81bc7ce3fd/docroot/themes/custom/uids_base/scss/admin/_lb-direct-add.scss#L59-L62

I'm not seeing an open issue in the `lb_direct_add` module, at least as far as I can tell.

[2022-03-25 20:23] GaryRidgway opened #5040 "investigate whether layout_builder_custom_theme() is needed anymore"
Mentioned first in

https://github.com/uiowa/uiowa/pull/4834#issuecomment-1057411820

See
https://github.com/uiowa/uiowa/blob/bba45460a6924a278b748d0599fc8e81bc7ce3fd/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L810-L826

[2022-03-25 20:24] GaryRidgway opened #5041 "Investigate whether `layout_builder_custom_preprocess_views_view_unformatted` needs to be scoped to specific views or displays"
See

https://github.com/uiowa/uiowa/blob/bba45460a6924a278b748d0599fc8e81bc7ce3fd/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L987-L990

[2022-03-25 20:28] bspeare commented on #2576
Maybe we just keep it as our own modification and remove the todo?

[2022-03-25 20:32] GaryRidgway opened #5042 "Move processing of media classes to preprocess function from templates"
See:
https://github.com/uiowa/uiowa/blob/bba45460a6924a278b748d0599fc8e81bc7ce3fd/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L1022-L1025

[2022-03-25 20:34] GaryRidgway opened #5043 "Add media element classes to a separate variable."
See

https://github.com/uiowa/uiowa/blob/bba45460a6924a278b748d0599fc8e81bc7ce3fd/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L1029-L1030

[2022-03-25 20:36] GaryRidgway opened #5044 "Consolidate views list block templates into one template"
See

https://github.com/uiowa/uiowa/blob/bba45460a6924a278b748d0599fc8e81bc7ce3fd/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L1035-L1041

[2022-03-25 20:43] GaryRidgway opened #5045 "Allow view config to override page id"
See

https://github.com/uiowa/uiowa/blob/bba45460a6924a278b748d0599fc8e81bc7ce3fd/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L1109-L1110

[2022-03-25 20:43] pyrello opened #5046 "Remove `main-menu.scss` workaround when container query polyfill issue is resolved"
Issue to track: https://github.com/GoogleChromeLabs/container-query-polyfill/issues/23 is resolved.

[2022-03-25 20:44] GaryRidgway opened #5047 "Remove this exception when these view displays are removed."
See

https://github.com/uiowa/uiowa/blob/bba45460a6924a278b748d0599fc8e81bc7ce3fd/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L1131-L1137

[2022-03-25 21:19] joewhitsitt commented on #4140
Started to capture this information on the form in PROD:

<img width="567" alt="Screen Shot 2022-03-25 at 4 17 45 PM" src="https://user-images.githubusercontent.com/4663676/160202090-188254a9-71cf-4e91-b2a0-ebecdda5ba43.png">
<img width="747" alt="Screen Shot 2022-03-25 at 4 18 22 PM" src="https://user-images.githubusercontent.com/4663676/160202092-33214996-fd49-4159-8a61-dd8550cee105.png">
<img w

[2022-03-28 13:44] pyrello commented on #4823
The maintainer of the library we are interested in using has created a PR to implement the menu type we want to use for these menus: https://github.com/NickDJM/accessible-menu/pull/168.

[2022-03-28 14:02] bspeare commented on #4849
@ABoston88 Images shouldn't be a problem.  I think we mostly just need featured images for each article.    Should we just add a couple of campus images?  Or we could also just reuse the block Iowa logo for each article.

[2022-03-28 15:21] ABoston88 commented on #4849
Campus shots should work fine. I'll add some of those and a screenshot or two to the quick-start guide.

[2022-03-28 15:40] makurj commented on #4849
@ABoston88 Here is what I have so far. Could you review the images on the page, especially the Recreational Services ones? Are they a good representation of campus?
![image](https://user-images.githubusercontent.com/52135878/160435549-adc591fd-e955-4223-829f-7c126c47e537.png)

[2022-03-28 16:02] GaryRidgway commented on #5042
We are doing some processing in a template: [https://github.com/uiowa/uiowa/blob/bba45460a6924a278b748d0599fc8e81bc7ce3fd/docro[…]ase/templates/views/views-view-unformatted--list-card.html.twig](https://github.com/uiowa/uiowa/blob/bba45460a6924a278b748d0599fc8e81bc7ce3fd/docroot/themes/custom/uids_base/templates/views/views-view-unformatted--list-card.html.twig#L36-L42)

If we moved it to the prep

[2022-03-28 16:06] ABoston88 commented on #4849
This looks good to me. We'll probably want to take a look at that third article in the news feed, renaming to something like "Demo article", which I've done on the sandbox site. That suits the purpose of these a bit more explicitly. Otherwise, I think we're good.

[2022-03-28 16:23] e-marie-w opened #5049 "IISC - Customize Person content type"
## Story
As an IISC editor/webmaster, I want the same fields/options available in D7 Person content to be available in the D9 Person content.

## Solution

Add the 'Groups' field options (Affiliated Faculty and Staff, Community Partner, IISC Faculty & Staff Network, IISC Staff) to our Person Type list. Remove other Person Type options?
Create 'Role with the IISC' textfield (note: this is different

[2022-03-28 16:56] pyrello opened #5050 "Grad - Thesis defense creation for date in the future is broken"
# Problem
When creating a Thesis Defense on grad.uiowa.edu with a date in the future, the user gets an error message
![Screen Shot 2022-03-28 at 11 51 29 AM](https://user-images.githubusercontent.com/709009/160448049-4ccecc5f-1813-4d31-8cbb-c74431a308fe.png)

# Steps to reproduce
* `blt ds --site grad.uiowa.edu`
* `drush @grad.local uli node/add/thesis_defense`
* Set the date field to a future dat

[2022-03-28 18:50] #5050 closed, assigned to nobody

[2022-03-28 19:10] joewhitsitt commented on #4928
Created branch `outlook-private-organizer` in the signage app if anyone would like to take a look.

[2022-03-28 20:03] richardbporter opened #5053 "Purge warnings/errors locally when syncing sites and running other commands"
# Problem
After a recent change, possibly #4942 , errors and warnings started printing on the CLI when running any Drush commands locally. This is because we don't have any purge integration locally (yet). This makes it very hard to parse console output.

# Steps to reproduce
Run `blt sync` to see multiple errors/warnings for purge diagnostics.

# Proposed solution
Initially, I thought splitting t

[2022-03-28 20:17] e-marie-w opened #5054 "IISC - Create Project content type"
## Story

As an IISC editor/webmaster, I want a way to showcase our students' projects, including all the details such as what school year was it, who led it, what partner(s) were involved, etc.

## For reference

https://iisc.uiowa.edu/iowa-city-solar-study

## Solution
Create a content type with the following fields:

- Title (text)
- Body (text, long)
- Image (single)
- College/Department (taxo

[2022-03-28 20:21] #4140 closed, assigned to joewhitsitt

[2022-03-28 21:20] richardbporter commented on #4577
I can confirm that `ddev delete --omit-snapshot` seems to be required which means all databases will be deleted.

[2022-03-28 22:02] joewhitsitt commented on #4928
This has been deployed. I communicated the change with Chris D through Cherwell and Chris G/Chris D through the its-web email thread.

[2022-03-28 22:02] #4928 closed, assigned to joewhitsitt

[2022-03-28 22:37] pyrello opened #5056 "Grad - More Thesis Defense issues"
# Problem
When creating a Thesis Defense, if you keep the same date but adjust the time, you get the same error as in #5050. Additionally, now the events are showing as a time range of 5 hours, even though no end time was put in.
![Screen Shot 2022-03-28 at 5 34 44 PM](https://user-images.githubusercontent.com/709009/160498140-60737c78-0b25-4fe5-92e6-a36366ac17f3.png)

# Steps to reproduce
Follow

[2022-03-29 13:33] quamsta opened #5057 "Visual indicator that tells user that they can click into pages from teaser views"
# Story

Similar to/second slice of: https://github.com/uiowa/uiowa/issues/4372

As a user, I'd like to be able to see an indicator on an article teaser within the tag/taxonomy views and other lists that shows that an article is clickable/tappable.

Currently it's not readily apparent that these articles are only teasers and are able to be clicked into to see more information:

<img width="1379" a

[2022-03-29 13:40] e-marie-w commented on #4662
Heard back from customer and got confirmation we don't need to capture the 10 digit ISBNs. Also, the ebook sales price only applies to perpetual ownership ebooks.

[2022-03-29 14:23] mjoneill opened #5059 "News migration for Iowa JPEC."
Anything from 2019 forward.  No need to migrate news content prior to 2019.

They would like to launch by May 1.

Contacts:
- Westlake, Casey N <casey-westlake@uiowa.edu>
- Miller, Darren <darren-miller@hawkeyesports.com>

[2022-03-29 14:23] GaryRidgway commented on #5045
I see this as an investigation to see if this is necessary?

[2022-03-29 14:27] mjoneill commented on #5059
Tagging @briand44 for visibility.

[2022-03-29 14:27] joewhitsitt commented on #5045
I sent this to Alan in a DM: