[2021-06-15 19:18] benlewzz commented on #3654
As we move into migrating some of our larger sites in the Division of Student Life, we would really like this option to allow many of our interior pages to claim the left side real-estate for content.

[2021-06-15 20:06] richardbporter commented on #3292
Closing in favor of #3501

[2021-06-15 20:06] #3292 closed, assigned to nobody

[2021-06-15 20:17] #3392 closed, assigned to richardbporter, joewhitsitt

[2021-06-15 20:31] richardbporter commented on #3501
Just got a report of #3558 and child heading sizes changing after paging via AJAX. This issue might be the best solution to both as I'm not 100% sure #3558 is happening with new views people list.

[2021-06-15 21:08] cory-skeers opened #3657 "Collection form UX regressions"
# Problem

Parts of previous updates to the collections LB form have regressed.

- View mode appears above the headline field collection, separate from Accordion Type (they should appear together, below the headline collection)
- States on the Accordion Type field is not currently working (ie it is available even if a non-accordion view mode is selected)
- (Minor) Dynamic help text modifications a

[2021-06-15 21:12] richardbporter commented on #3579
Seems like this should work fine based on the current EMS filtering of building, rooms, status and types. All of those API calls are documented. I tested out one and got data back.

I don't see another issue for implementing this. I think the next step would be just to dive a little deeper and start building out the custom content pane.

[2021-06-15 21:38] briand44 commented on #3579
Awesome... Any ideas on an estimate of time? If we do this soon we will likely cost recover as we don't have a budget for new features.

[2021-06-16 14:03] bspeare opened #3660 "Banner background image/color options are broken"
# Problem

Banner background image/color options are broken from this commit: https://github.com/uiowa/uiowa/commit/2b3f45603e823ef06e5ad132c8cd5dd3b58e791b.

<img width="926" alt="Screen Shot 2021-06-16 at 8 59 57 AM" src="https://user-images.githubusercontent.com/1036433/122233046-5a899080-ce81-11eb-8146-c571a4deb2f6.png">

# Steps to reproduce
Try adding a banner on prod.

# Proposed solution
F

[2021-06-16 14:38] dnkemper commented on #3506
# My Findings

## Google Translate widget or similar options available per browser
* Last updated: January 15, 2021
* Could just translate it through Chrome browser -> Settings -> Advanced -> Languages -> Install the language you want to view a site in and then set as main language for chrome  (Or the Google Translate widget)
* Firefox: https://addons.mozilla.org/en-US/firefox/addon/to-google-tran

[2021-06-16 15:00] bspeare opened #3661 "People block pager count is broken when set to 1"
# Problem
The people list block pager displays an inaccurate count when set to `1`.

# Steps to reproduce
Check out the top two blocks on https://sandbox.prod.drupal.uiowa.edu/people-directory.

# Proposed solution
- ?

[2021-06-16 15:11] bspeare commented on #3506
A couple of questions:

- If Chrome and Safari have the global market share https://gs.statcounter.com/browser-market-share, can we just rely on built-in browser translation?
- Is there a specific language that sites are targeting for translation on campus?  If so, can we look at browser usage for those countries and make a decision based on that evidence?

[2021-06-16 15:21] #3660 closed, assigned to nobody

[2021-06-16 15:27] e-marie-w commented on #3033
I've removed the excess whitespace from all the pages, but on the [WYSWYG page](https://sitenow.stage.drupal.uiowa.edu/documentation/wysiwyg) the images do cause some of the headings to be indented without an extra blank line, is that okay?

Other things:
- Old [Contact Us](https://sitenow.uiowa.edu/contact-us) page vs. new [Contact Us](https://sitenow.stage.drupal.uiowa.edu/contact-us) - I just r

[2021-06-16 15:29] bspeare commented on #3456
Seems like we should just provision a new site?

[2021-06-16 15:30] GaryRidgway opened #3662 ""Person type status" not showing on initial "person type" selection"
# Story

As a site editor I want to be able to assign the `Former faculty` person type status to a `person` without having to assign them `Faculty`, save the page, click edit again, and then check the `Former faculty` box.

Currently, when you check `faculty` on a person as a `person type`, `former faculty` does not show up.You have to save the node and re-edit the person to then find a new checkb

[2021-06-16 15:34] richardbporter commented on #3456
Yea I would say so.

[2021-06-16 15:35] bspeare commented on #3456
Want me to submit a SiteNow request for it?

[2021-06-16 15:38] #3657 closed, assigned to nobody

[2021-06-16 15:56] richardbporter commented on #3456
Nah, I think we can just run the BLT script ourselves with Nic as the requester and skip that part. I have an email thread we can respond to when we've got some content set up.

[2021-06-16 16:05] quamsta commented on #3506
Thoughts on this:

- As @bspeare and @dnkemper mentioned, the most-used browsers (Chrome/Safari as of the newest Beta release aka "Technology Preview") have built-in translation tools baked-in, and there are countless plugins for Firefox and others that do this.
- Both browsers will **automatically** prompt the user to translate a page if it's detected to not be in their system language:

<img wid

[2021-06-16 16:34] e-marie-w commented on #3456
Once the site is available I can work on it. If I understand it right, it's mostly setting up the structure - like the  top menu tabs and the sidebar stuff for each of those tabs, correct? Not setting up the actual content on each page, besides something for the homepage eventually.

[2021-06-16 16:38] richardbporter commented on #3456
Yes basically but we would want to place an events block on each category page like Art, Dance, etc. that filters by that category.

[2021-06-16 16:48] e-marie-w commented on #3456
Oh I get it, instead of having to choose the event category like on their current site it's already set to match the page category, cool! And it looks like they're already using events.uiowa.edu for some of their categories so there will be content.

[2021-06-16 19:34] richardbporter commented on #2359
I think we could get around that error, if it still exists, by creating these empty directories in the Travis artifact build process thereby keeping them out of our source repo.

[2021-06-16 20:33] cory-skeers commented on #3662
It looks like this chunk
https://github.com/uiowa/uiowa/blob/ee0c4e1a27c1e6e0e81e836986394c9e454ce91e/docroot/modules/custom/sitenow_people/sitenow_people.module#L264-L284
is doing double duty for the exposed filters people list block and the node form, but the form structure is different for both. On the node, `$type` and `$person_type_status_options` end up being `null`, and the form isn't updat

[2021-06-16 20:36] bspeare opened #3664 "Post-launch admissions display fixes"
# Problem
There are a few display issues on admissions that what we noticed before/after launch that need to be fixed.

# Steps to reproduce
- Department visit links broken on https://admissions.uiowa.edu/request-department-consultation.
- Pagers start at 10 instead of 9 on https://admissions.uiowa.edu/academics/health-sci. Pager also need space after grid of cards.

<img width="927" alt="Screen S

[2021-06-16 21:16] quamsta opened #3666 "Inline Citations (and footnotes) Needed"
# Story

As an editor of publication projects, I need to be able to quickly and easily add inline footnotes or parse existing footnotes from pasted-into-CKEditor-from-Microsoft-Word XML into a nicely formatted, possibly modified frontend.

# Proposed solution?

I'd like to open this up for discussion. I've investigated a few solutions for providing easily navigable and potentially structural data-

[2021-06-16 21:32] #3662 closed, assigned to nobody

[2021-06-17 13:40] #3559 closed, assigned to dnkemper

[2021-06-17 14:39] #2735 closed, assigned to makurj

[2021-06-17 14:41] richardbporter commented on #2735
Lets plan on using Cloud IDE in the short term. We can try something else if it doesn't work.

[2021-06-17 16:38] #3664 closed, assigned to bspeare

[2021-06-17 18:45] mark-bennett-uiowa opened #3673 "URL styling not showing in custom People lists"
# Problem
It looks like the blue colored font of URL links in the main SiteNow People page is not working on the custom filtered People list blocks elsewhere in the site. You can see this in [https://cs.prod.drupal.uiowa.edu/people](https://cs.prod.drupal.uiowa.edu/people) vs. [https://cs.prod.drupal.uiowa.edu/people/adjunct-faculty](https://cs.prod.drupal.uiowa.edu/people/adjunct-faculty).

![Scr

[2021-06-17 18:53] bspeare commented on #3673
@mark-bennett-uiowa You can set your people block background to `-none-` if you want the blue links.

[2021-06-17 18:59] mark-bennett-uiowa commented on #3673
Ahh, thank you @bspeare !

[2021-06-17 18:59] #3673 closed, assigned to nobody

[2021-06-17 19:00] richardbporter commented on #1072
https://sitenow.uiowa.edu/known-issues#uiowa-issue-1072

[2021-06-17 20:03] richardbporter opened #3674 "As a developer, I can be prevented from syncing over a database where content is being staged."
# Story

As a developer, I can be prevented from syncing over a database where content is being staged.

# Proposed solution

Use the State API to set a key/value pair that indicates a site is being staged in the dev/stage environment. Check for this key/value pair in our cloud hook and error out if set. Create a pre-sql-sync Drush event and check for this and error out if set.

[2021-06-17 20:04] richardbporter opened #3675 "Upgrade all applications to PHP 7.4"
https://support.acquia.com/hc/en-us/articles/360061578973-PHP-7-3-Retirement-FAQ
https://support.acquia.com/hc/en-us/articles/1500005697422-Upgrading-from-PHP-7-3-to-7-4

- [x] #3965
- [x] #3966
- [x] #3967
- [x] #3968
- [x] #3969
- [x] #3970
- [x] #3971
- [x] #3972
- [x] #3973
- [x] #3974
- [x] #3975

[2021-06-17 20:06] richardbporter opened #3676 "As a v2 site editor/publisher/webmaster, I can embed Panopto videos."
# Story

As a v2 site editor/publisher/webmaster, I can embed Panopto videos.

Follow up from #3621

# Proposed solution

Update v2 permissions to allow for this. Double check it works properly. Probably requires some responsive style updates.

[2021-06-17 20:17] richardbporter commented on #3456
https://arts.prod.drupal.uiowa.edu/

[2021-06-17 20:27] makurj commented on #3630
I'd like to pair with whoever picks this up.

[2021-06-17 20:27] makurj commented on #3652
I'd like to pair with whoever picks this up.

[2021-06-17 20:45] mark-bennett-uiowa opened #3677 "Multiple titles in people lists run together w/o separator"
# Problem
Multiple titles show up as a concatenated string without separation in the People lists.

Here is one with two titles:
![Screen Shot 2021-06-17 at 3 42 05 PM](https://user-images.githubusercontent.com/3067017/122469521-aa9c4c00-cf82-11eb-9c59-a1aaf0c27577.png)

Here is one with three titles:
![Screen Shot 2021-06-17 at 3 42 33 PM](https://user-images.githubusercontent.com/3067017/1224695

[2021-06-17 20:58] richardbporter commented on #3579
Pushed to prod.

[2021-06-17 20:58] #3579 closed, assigned to richardbporter

[2021-06-18 13:35] bspeare commented on #3677
To clarify, this is only an issue with the SiteNow People page `/admin/config/system/sitenow-people` and not an issue with the People List block.    Titles are separated with a comma in the People List block.

[2021-06-18 14:20] bspeare opened #3678 "Default content on V3 home page install needs updating"
# Problem

- The page is using outdated class names that we have deprecated
- Events, Articles, and Banners need some updates as well.

# Proposed Solution

- Update all class names to use updated UIDS class names instead of legacy
- Update Events and Articles to use built-in headline field
- https://github.com/uiowa/uiowa/blob/main/docroot/profiles/custom/sitenow/content/block_content/582328d0-e1

[2021-06-18 14:36] makurj opened #3679 "Remote Post for Webforms"
# Story

As a site administrator, I would like to be able to enable Remote Post Handlers on webforms to send data to our CRM.

https://www.youtube.com/watch?v=oMCqqBJfWnk (4:38)

[2021-06-18 14:36] briand44 commented on #3625
Just adding that if we do remove site code and database we should probably create a backup as part of that process. We won't have daily backups once the database is removed and we only have around 3 days of backups available so that could be an issue if they don't notice right away and want their site back, correct?

[2021-06-18 14:38] richardbporter commented on #3625
Removing a database does not remove its daily backups. The last 3 should still be available.

[2021-06-18 14:40] briand44 commented on #3625
So, it keeps the last three db backups around forever? Good to know if that is the case. I assumed they would be gone after 3 days.

[2021-06-18 14:44] briand44 opened #3680 "Updates to sidebar items on ITS Service Alerts"
Make menu system on IT Service Alerts page editable to @adriennecoon (I only have access to the section under IT Service Alerts in the menu, not the legend or blue box). If not, we’d like to make some modifications to items in the blue box and move the legend. There is a support article explaining how to subscribe to the Listserv via command prompt that we’d like to add to the blue box section.

[2021-06-18 14:44] richardbporter commented on #3625
Yes, as far as I know. Not so great for storage quotas. :)

[2021-06-18 14:45] briand44 commented on #3680
@joewhitsitt suggested we would likely just make these changes. @adriennecoon can you let us know the modifications to the items in the blue box and where you want the legend?

[2021-06-18 15:08] briand44 opened #3681 "Add text to ITS alerts status history page"
@adriennecoon can you provide the text you want and we will get it added.

[2021-06-18 15:13] briand44 opened #3682 "Improve mobile view of ITS alerts calendar"
https://its.uiowa.edu/alerts/calendar

We discussed possibly using the full calendar list option here. Is that something that could be set based on screen size?

[2021-06-18 15:14] briand44 commented on #3682
tagging @adriennecoon for visibility

[2021-06-18 15:18] briand44 opened #3683 "Consistent usage of am/pm on ITS alerts"
@joewhitsitt mentioned we may not have much control over the calendar view.

@adriennecoon prefers AP Style mentioned above but it is more important to have consistency.

Let's see what we can do with the calendar first and decide how to move forward based on that.

Most of the alerts stuff is in:
its.uiowa.edu/modules/custom/its_content_types
its.uiowa.edu/modules/custom/its_core
admin/structure/

[2021-06-18 15:37] bspeare opened #3684 "As a developer, I can run a Drush script on uiowa701/702/703 and get a list of inactive sites and non-admin user emails"
# Story

As a developer, I can run a Drush script on 701/702/703 and get a list of inactive sites and non-admin user emails so that I can use these names and emails in the Dispatch template created in https://github.com/uiowa/uiowa/issues/3625.

# Proposed solution

- Write a Drush script to use on uiowa701/702/703 to iterate inactive sites.
- For each site, get all non-admin user emails and send

[2021-06-18 15:37] briand44 opened #3685 "Add dates on info center IT Service Alerts tab"
In addition to adding dates for outages and degradation of services we also want to output the year for all of these.

## Proposed Solution

- [x] Update logic admin/structure/types/manage/alert/auto_label to not be type specific.
- [x] Add year

[2021-06-18 15:37] briand44 commented on #3685
tagging @adriennecoon for visibility

[2021-06-18 15:39] bspeare commented on #3625
Updated this issue to make this a smaller slice and removed the Drush script slice and moved it to https://github.com/uiowa/uiowa/issues/3684.

[2021-06-18 15:43] briand44 opened #3686 "Update events page on ITS website"
They don't like the looks of this https://its.uiowa.edu/events.

@adriennecoon mentioned we could potentially just link to https://events.uiowa.edu/?f=127 but wanted to get feedback from @joewhitsitt because adding events to info centers was previously discussed and not sure how this would affect that.

[2021-06-18 16:28] bspeare commented on #3454
This appears to be an issue with the superfish library or module and not `uids_base`.  I tested this with `bartik` and observed the same issue.

[2021-06-18 16:35] bspeare commented on #3273
@bewoldt What's the expected appearance if your example items under Art are not expanded?  Does the design of the second level change to all caps or would these be only if all caps and bold if `<nolink>` is used as a parent item category?

[2021-06-18 18:05] bspeare commented on #3274
@bewoldt Would switching to a 16:9 aspect ratio crop on this be better?  Or would the ideal solution be to just let the image render without any cropping or sizing?

[2021-06-18 20:00] richardbporter commented on #3117
This is a cool idea. However, I'd also like to consider moving the consumption and rendering of events, as well as other external JSON data sources, to the frontend via Javascript. Offloading this functionality to the client reduces backend usage and solves the delay between updating data and seeing it on the website by removing multiple layers of caching.

[2021-06-18 20:14] bspeare commented on #3625
Email template: https://apps.its.uiowa.edu/dispatch/templates/932493356
Email population: https://apps.its.uiowa.edu/dispatch/populations/932491408/members
Email campaign: https://apps.its.uiowa.edu/dispatch/campaigns/932490456
Email communication: https://apps.its.uiowa.edu/dispatch/communications/932479972

Scheduled to go out June 21, 2021 9:00 AM.

[2021-06-18 20:49] e-marie-w commented on #3456
Created the 8 category pages and placed events blocks. Used dark background on pages to match old site, let me know if that should change. Used cards for the sidebar links since most are external. 2 sidebar links are more specific event filters - Dance Concert Attendance and Music Recital Attendance. Closest I could find are keywords 'Concert' and 'Music Recital', neither of which gives any result

[2021-06-18 20:50] bewoldt opened #3688 "Add smooth scroll behavior"
# Problem
When you have a list of links that jump down to and anchor on a page it can be jarring. Adding this property will smoothly animate the scroll position.

# Steps to reproduce
Click on a link on the FAQ page on this site. https://speakout.uiowa.edu/faq.
Inspect the html element and add `scroll-behavior:smooth;`

# Proposed solution
`html {
scroll-behavior: smooth;
}`

https://developer.moz

[2021-06-21 13:29] bspeare commented on #3456
@e-marie-w I think we could probably remove the black backgrounds and use the default for the proof of concept.

[2021-06-21 13:58] e-marie-w commented on #3456
Thanks @bspeare, all pages now have the default background.

[2021-06-21 14:20] bspeare commented on #3456
Thanks @e-marie-w!  I'd also probably add those sidebar links as menu items to the main navigation and hide them on the top dropdowns and use the vertical navigation styles instead of cards.   We can also probably remove the text above each events block but keep the "past events" text.

[2021-06-21 15:43] e-marie-w commented on #3456
Suggested changes made!

[2021-06-21 16:13] briand44 opened #3689 "Admissions status report error:"
The following error shows up on the status report for admisisons.uiowa.edu.

Mismatched entity and/or field definitions
The following changes were detected in the entity type and field definitions.
Content
The node.field_area_of_study_college field needs to be updated.

[2021-06-21 16:50] bspeare commented on #3648
The changes have been deployed to prod.  Closing this unless there are further changes to implement.

[2021-06-21 16:50] #3648 closed, assigned to bspeare

[2021-06-21 16:56] joewhitsitt opened #3690 "Brand - Lockup - Change Organization field to dropdown"
# Story

As a collaborator on the brand.uiowa.edu website, I want see the organization options available to me.

# Proposed solution

- [x] Convert the form field to a dropdown instead of an autocomplete.

[2021-06-21 16:58] joewhitsitt opened #3691 "Brand - Organization taxonomy permissions"
# Story

As a webmaster on the brand.uiowa.edu, I want the ability to add/edit/delete organization terms as requirements change.

# Proposed solution

- [x] Update the webmaster role permission split for brand.uiowa.edu to include Organization add/edit/delete permissions.

[2021-06-21 17:38] joewhitsitt commented on #1685
Sondra said that this can be closed for now.

[2021-06-21 17:38] #1685 closed, assigned to nobody

[2021-06-21 17:38] joewhitsitt commented on #1704
Sondra said that this can be closed for now.

[2021-06-21 17:38] #1704 closed, assigned to nobody

[2021-06-21 17:39] joewhitsitt commented on #3691
Webmasters will manually manage this based on https://opsmanual.uiowa.edu/appendix-organizational-charts and other official lists.

[2021-06-21 18:16] #3688 closed, assigned to nobody

[2021-06-21 19:16] mark-bennett-uiowa opened #3694 "informatics.uiowa.edu site changes. Backup, deprovision, create redirect to new CS portal page."
# Story

The existing Iowa Informatics Initiative (UI3) site is now defunct: [https://informatics.uiowa.edu/](https://informatics.uiowa.edu/). The initiative has ended and it needs to be taken down. The existing site needs to be backed up (not critical, but just in case), and the existing URL will end up redirecting to https://cs.uiowa.edu/informatics as an undergraduate/graduate portal page. Comp

[2021-06-21 19:51] mark-bennett-uiowa opened #3695 "HTML tags in global captions show on hover over image gallery images"
# Problem
This can be seen on [https://vanallen.physics.uiowa.edu/photo-gallery](https://vanallen.physics.uiowa.edu/photo-gallery) among others.

# Steps to reproduce
Mouse over an image in the masonry image gallery and you can see HTML tags on hover.

# Proposed solution
- Move forward with https://github.com/uiowa/uiowa/pull/4708

[2021-06-21 20:01] bspeare commented on #3695
@mark-bennett-uiowa Can you provide a screenshot?

[2021-06-21 20:16] mark-bennett-uiowa commented on #3695
![Screen Shot 2021-06-21 at 3 13 46 PM (2)](https://user-images.githubusercontent.com/3067017/122822386-9a96ac00-d2a3-11eb-87ca-edb7b8abc398.png)
@bspeare whoops, sorry. Had to grab it before it disappears.

[2021-06-21 20:22] joewhitsitt commented on #3666
So technically, we already support "footnotes/citations" via HTML anchors, so might I suggest editing the title to include "inline" if this is the main deliverable here.

I personally think the footnotes module is overkill and creates non-valid HTML if it was moved outside of where the [fn] shortcode is supported.

https://github.com/uiowa/uiowa/issues/1503 was the original dumping ground for the

[2021-06-21 20:24] #3653 closed, assigned to dnkemper

[2021-06-21 20:36] joewhitsitt commented on #3033
Thanks for your continued work on this.

Contact - Sounds good.
Training - The form is closed which is good. https://webcommunity.sites.uiowa.edu/training is now the home for training so we should point to and highlight that.
Future - You can delete that. https://webcommunity.sites.uiowa.edu/web-team/backlog is what we reference now.
Home - An admin can place the script whenever. The other method

[2021-06-21 20:39] briand44 commented on #3033
It isn't that far off. We will likely discuss in grooming tomorrow.

[2021-06-21 20:48] bspeare commented on #3689
Running the code outlined here (https://www.drupal.org/node/3034742#comment-13999920) made the error disappear:

[code]

Does anyone have a better method to fix this issue?

It looks like `drush entup` would have taken care of this back in the Drupal 8 days.

[2021-06-21 20:56] bspeare commented on #3677
We could add or scope this to the people list only `.field--label-visually_hidden.field--type-string` to https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/fields/fields.scss#L90 to add commas or we could do it through the module.   Does anyone have a preference for solving this bug?

[code]

[2021-06-21 21:41] joewhitsitt commented on #3695
Based on the limitations of colorbox I think the only way to solve this would be to change the captions to be plain text as colorbox. Either that or we should revisit the library we use for this.

[2021-06-21 21:55] joewhitsitt commented on #1977
Though this is a big win wasn't there a fair percentage of usage off-campus as well? I am all for this but we can't forget about the recruitment demographic here.

[2021-06-22 13:28] pyrello commented on #3117
I'm not necessarily opposed to this idea, but I think there some downsides to it from a platform perspective. Any tools that we create to select events and display them will be somewhat redundant of views, but in Javascript. That means that all the benefit we get from improvements to our other listing blocks won't be transferrable to our event list block. That also means that we will have to take

[2021-06-22 13:40] #3652 closed, assigned to bspeare, makurj

[2021-06-22 13:53] bspeare commented on #2256
@mark-bennett-uiowa can we close this issue?

[2021-06-22 14:55] bspeare commented on #3689
`drush entup` gives the message  `Drupal removed its automatic entity-updates API in 8.7. See https://www.drupal.
  org/node/3034742`.    The page referenced in the Drush message there is where I found the proposed update hook solution posted above.

[2021-06-22 15:02] joewhitsitt commented on #3689
Can we just run this update in admissions_core.install and specific to the field?

[2021-06-22 15:06] pyrello commented on #2256
We believe this may be fixed based on previous work on tables. @mark-bennett-uiowa If this is still an issue, please re-open.

[2021-06-22 15:06] #2256 closed, assigned to nobody

[2021-06-22 15:06] quamsta opened #3696 "Adjust/remove the frontend "Person Types:" label"
I was migrating some staff/person pages from our older sites and I noticed that this label "Person Types:" seemed a bit odd:

![image](https://user-images.githubusercontent.com/472923/122949207-1561d480-d341-11eb-8929-f0b073f13bfe.png)

Could we rethink the wording of "Person Types:" on the frontend or possibly prevent this label/field from being rendered? I know both possibilities were discussed

[2021-06-22 15:07] quamsta commented on #3696
@pyrello

[2021-06-22 15:08] joewhitsitt commented on #3646
How much more often? half day? six hours? hourly?

https://git.uiowa.edu/its-web/data.its.uiowa.edu/-/blob/main/app/Http/Controllers/WorkflowController.php#L112

[2021-06-22 15:21] richardbporter commented on #3646
Sine the feed is configured to import hourly and there is a scheduled cron job to support that, I would propose reducing the data.its cache time to make that import actually useful. Maybe like 15 minutes or so.

[2021-06-22 15:24] richardbporter commented on #3646
The `Cache::put` calls would need to be updated as well to match the response header.

[2021-06-22 15:29] mark-bennett-uiowa commented on #2256
@bspeare @pyrello @joewhitsitt Yes, this appears to be fixed. I ended up removing the bullet list from that page while it was an issue. I just re-added it and it looks like it is working. Thanks all for taking care of this.

![Screen Shot 2021-06-22 at 10 29 25 AM](https://user-images.githubusercontent.com/3067017/122954070-be5dfe80-d344-11eb-8149-cc5223b73ccc.png)

[2021-06-22 15:37] bewoldt commented on #3274
@bspeare I wouldn't crop it. I wouldn't pull in the full/original image either. Some people put 10mb images in there. I think putting the image over in the right column next to the meta data would be ideal. Similar to how you do the people layout. That way the image isn't the first thing you see. Then use the large version of the image from the API..https://content.uiowa.edu/sites/content.uiowa.ed

[2021-06-22 16:00] richardbporter opened #3697 "Migrate obermann articles"

[2021-06-22 16:00] joewhitsitt commented on #3289
Started https://github.com/uiowa/viewbook-law/pull/1

- Not sure how to get the build working. The readme for the template seems out of date.
- Looks like some style adjustments will need to be made as part of this work.
- We need copy from the customer before this can be consider done.

[2021-06-22 16:08] briand44 commented on #3646
If it is currently once every 24 hours, I think moving to once every 6 hours would be great if possible.

[2021-06-22 17:04] pyrello commented on #2940
We are not building this as part of the move to D9+

[2021-06-22 17:04] #2940 closed, assigned to nobody

[2021-06-22 17:08] pyrello commented on #3696
Thanks for putting this together, @quamsta!

[2021-06-22 17:14] briand44 opened #3699 "Mazevo signage integration issue."
I set up a test sign called IMU-Schedule, but there is an issue. When I go into Configure Mazevo Event Listing to edit my selections, it seems to lose which Building and Room(s) I selected previously for display and defaults back to building University Club with no rooms selected.

It does seem to remember which Statuses and Types I selected previously, though.

[2021-06-22 18:01] richardbporter commented on #3456
Would using some of the existing components like the slider be ok for the front page? At least to show what is possible out of the box?

[2021-06-22 18:04] bspeare commented on #3456
- Maybe put a banner video on the home page?  Perhaps there is a dance video we could throw up there? Or just add a nice image like https://dance.uiowa.edu/sites/dance.uiowa.edu/files/styles/feature/public/field/image/_DSC1981%20copy.jpg?itok=T42DANDc.
- Replace home page content with events block showing all events in a 3 column grid?  Limit to 20 items?

[2021-06-22 18:07] richardbporter commented on #3699
There weren't any events for the next few weeks when this was built initially so to test locally you have to modify "today's date" in the code to be out a ways.

[2021-06-22 18:12] joewhitsitt commented on #3677
Override css rule for this field to just not be inline?

<img width="883" alt="Screen Shot 2021-06-22 at 1 11 14 PM" src="https://user-images.githubusercontent.com/4663676/122977769-67175880-d35b-11eb-91b1-b9801ea3a506.png">

[2021-06-22 18:15] bspeare commented on #3585
We are defining our layouts here: https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/uids_base.layouts.yml.

[2021-06-22 18:15] mark-bennett-uiowa commented on #3677
Looks like the consensus was to break to separate lines for each title. @joewhitsitt your approach seems like a simple solution to this by simply removing the inline style. That seems to work on SIteNow People on initial testing.

In People view blocks however, the title is a concatenated string and wrapped in a single div:
![Screen Shot 2021-06-22 at 1 15 07 PM](https://user-images.githubusercont

[2021-06-22 18:22] mark-bennett-uiowa opened #3700 "As a content editor, I can create lists in a 4 column grid, in addition to 2 and 3 column."
# Story

As a content editor, I can create lists in a 4 column grid, in addition to 2 and 3 column grids. Currently, we can only select 2 and 3 column grid layouts in some widgets.

![Screen Shot 2021-06-22 at 1 19 39 PM](https://user-images.githubusercontent.com/3067017/122979122-cb86e780-d35c-11eb-9e56-45be0f125c11.png)

This can be seen on [https://cs.prod.drupal.uiowa.edu/research/languages](h

[2021-06-22 18:30] mark-bennett-uiowa opened #3701 "As a content editor, I can have a default anonymous image for Person nodes"
# Story

As a content editor, I can have a default anonymous image for Person nodes if one is not added.

# Proposed solution

Can we include a default, anonymous, non-identifying, image to use for Person nodes if an editor does not upload one for the node?

I added one temporarily for Computer Science and Physics faculty members, but would prefer to have an automatic default if one is not uploade

[2021-06-22 18:33] richardbporter commented on #3684
We should filter by active users as well. There may be an issue with herky-list-users not returning email addresses based on the options used.

[2021-06-22 18:35] bspeare commented on #3701
Denny has set a default for the new directory: https://profiles-test.uiowa.edu/people/bruce-ayati.    Maybe upload that and reuse it for each site?

[2021-06-22 18:47] bspeare commented on #3700
I think this is only possible if we decide to add grid options to the sections as an option that is in process here: https://github.com/uiowa/uiowa/pull/2707.    I think we wanted to have grid options available on the section level because there are already poorly defined grid options for `Layout: Grid` on the One column section.

Adding a 4 column option on the block grid options becomes problema

[2021-06-22 18:52] cory-skeers commented on #3375
As part of the migration, run a report of potential non-article broken links (looking for /node references; Parking and Transportation and/or Admissions may have examples of this). Can provide the list of these to the client to decide whether they need to be mapped for the migration, remove the links, etc.

Article links can be updated as part of the migration using existing tools.

[2021-06-22 18:56] richardbporter commented on #3302
https://apps.its.uiowa.edu/dispatch/help/api

[2021-06-22 19:00] bspeare commented on #3689
@joewhitsitt do you have a suggestion on how to update https://github.com/uiowa/uiowa/pull/3698/files to be specific to the field?

[2021-06-22 19:06] joewhitsitt commented on #3676
Could be done in conjunction with https://github.com/uiowa/uiowa/issues/3691

[2021-06-22 19:18] mark-bennett-uiowa commented on #3700
@bspeare Good point Ben and I agree. I think locking them down to one-column is essential, and possibly further locking 4 column down to Wide width, to avoid squash of content. I was worried that there was another concern with 4 column, so wanted to raise the issue to clarify my own understanding.

[2021-06-22 19:20] mark-bennett-uiowa commented on #3701
@bspeare That may work, but *shakes head* its awfully boring. What is the possibility of having this be a automatic default image that doesnt require attaching to each person?

[2021-06-22 19:21] bspeare commented on #3700
@pyrello do you think we can still move forward with https://github.com/uiowa/uiowa/pull/2707 as a replacement for:

- https://github.com/uiowa/uiowa/blob/c05630523a8d365227edb66a78d40195da167a2e/config/default/layout_builder_styles.style.section_layout_grid_1x3.yml
- https://github.com/uiowa/uiowa/blob/c05630523a8d365227edb66a78d40195da167a2e/config/default/layout_builder_styles.style.section_lay

[2021-06-22 19:22] bspeare commented on #3701
Adding a default image to the people lists would be great since it is now a standard being set by the new profiles directory.

[2021-06-22 20:12] joewhitsitt commented on #3689
Sorry, I didn't look that closely at the code before and I don't know what exactly is being returned with `$change_summary.` If this is just scoped to Admissions, I don't care too much if this solves the issue.

[2021-06-22 21:15] bspeare commented on #3456
I think we can also hide the teaser text on all the displays to make the lists easier to scroll through.

We should also add a featured image to each page to display as `Medium`.

Images can be grabbed from the banners on https://art.uiowa.edu/, https://dance.uiowa.edu/, https://english.uiowa.edu/, https://stanleymuseum.prod.drupal.uiowa.edu/, https://music.uiowa.edu/, https://cinematicarts.uiowa.

[2021-06-22 21:57] joewhitsitt commented on #3289
I am out tomorrow, 6/23 so I am hoping this can be picked up by others. @GaryRidgway helped me get the build working and started to help refactor the card component from the Admissions viewbook. A lot of variables and such have changed this it was first put together.

Work is currently happening on https://github.com/uiowa/viewbook-law/pull/1 now that we have the build process working.

Ultimately

[2021-06-23 13:19] #3689 closed, assigned to bspeare

[2021-06-23 15:12] pyrello commented on #3700
Yes. There is still a lot of work to finish the implementation, but I think it is a viable path forward.

[2021-06-23 15:21] bspeare commented on #4296
I think this link (https://ishadeed.com/article/aligning-logos-css/) will be handy if we create a footer region for logos.

[2021-06-23 16:53] richardbporter commented on #3646
I changed the data.its cache to 6 hours for all workflow endpoints, deployed to prod and cleared the cache items. I also changed the intranet feed importer to run every 6 hours. This left the feeds feature in an overridden state but I'm unable to export it locally due to a fatal error.

[2021-06-23 16:55] richardbporter commented on #3646
I'll double check the feed importer runs later today. This could probably be closed now.

[2021-06-23 18:46] #3630 closed, assigned to dnkemper

[2021-06-23 20:35] richardbporter commented on #3699
I think I got this figured out. Deployed.

[2021-06-23 20:35] #3699 closed, assigned to nobody

[2021-06-23 20:42] richardbporter commented on #3646
Log says it timed out. Increased timeout setting x2.

[2021-06-23 20:45] #3677 closed, assigned to bspeare

[2021-06-23 21:15] e-marie-w commented on #3456
Finished:
- Added events block of 20 items in 3 column grid to homepage
- Removed teaser text from all events blocks
- Added feature images from banners on existing pages, however sizing isn't the best. Image alt text will need to be improved at some point too.

Right now I just have that dance photo as a banner on the homepage. Should I grab a couple more images from linked sites and make a slide

[2021-06-23 21:26] richardbporter commented on #3585
It might be good to create an AC ticket explaining this issue to see if they can help us or provide information.

[2021-06-23 21:26] bspeare commented on #3456
Looks good! I updated the home page to set the banner to edge-to-edge.

[2021-06-23 21:33] e-marie-w commented on #3456
That looks awesome, I didn't realize edge-to-edge was an option. Now I see it's done in the section settings, cool!

[2021-06-23 21:41] e-marie-w commented on #3033
I deleted the Future page and removed the v2 training form from the v3 site. The training website is linked on the Contact Us and FAQ pages I know. I also added spacing back into the WYSIWYG page and updated the Known Issues page as that was updated last week.

[2021-06-24 13:19] bspeare commented on #3289
I think https://github.com/uiowa/viewbook-law/pull/1 is ready for review and we could create a follow-up issue once we get content.

[2021-06-24 13:31] richardbporter commented on #3585
I might actually propose we don't actively work on this because its going to be hard to reproduce. The hardware is different on dev vs. prod so it may only happen on prod. The next time it happens, we should run `drush cc` to see which, if any, individual cache bin clear fixes it. If one of them does, it might narrow it down for us or at worst we could add that `drush cc` to our deploy script: htt

[2021-06-24 13:52] richardbporter commented on #3646
Imported fine this morning. Still unable to export the feature locally though. Don't fra in prod.

[2021-06-24 14:02] #3646 closed, assigned to nobody

[2021-06-24 14:08] richardbporter commented on #3456
I changed the front page event listing to use stacked cards with square images as the circles were very small on my display.

I will communicate this out to the customer and probably add their accounts so they can log in and see how it works.

[2021-06-24 14:08] richardbporter commented on #3456
Thanks!

[2021-06-24 14:08] #3456 closed, assigned to nobody

[2021-06-24 15:14] #3642 closed, assigned to nobody

[2021-06-24 15:14] #3696 closed, assigned to nobody

[2021-06-24 16:04] joewhitsitt commented on #2629
Overall, HR is on board with getting to v3. They approve of flipping the theme on DEV or STAGE to get a sense of the change and to see what breaks. They would also be interested in access to a v3 site to play around with layout builder.

They are open-minded to reducing customizations but will need to have some internal discussions related to:

- FAQs -> Collections
- Related Content -> in-page ca

[2021-06-24 16:39] joewhitsitt commented on #3608
Do we want to hold and do this with our launched v3 site? https://github.com/uiowa/uiowa/issues/3033

[2021-06-24 16:54] joewhitsitt commented on #1606
This will be needed for uids_base adoption regardless of v2/v3

[2021-06-24 20:06] bspeare commented on #3289
Closing this and we can create a new issue once we get the content.

[2021-06-24 20:06] #3289 closed, assigned to nobody

[2021-06-24 20:10] pyrello commented on #3417
This is completed.

[2021-06-24 20:11] #3417 closed, assigned to nobody

[2021-06-24 20:12] pyrello commented on #3418
This is completed.

[2021-06-24 20:12] #3418 closed, assigned to nobody

[2021-06-24 20:20] pyrello opened #3706 "SPPA - Build opportunity resource listing page"
# Story

As an SPPA student, I can view opportunities (jobs, fellowships, etc.) in a list on the site.

# Proposed solution

* Build a view to list content created via the result of #3211.
* Provide filters for name, location, type of opportunity.
* May involve minimal styling based on timely feedback from the client.

[2021-06-24 20:26] joewhitsitt opened #3707 "Flip HR to UIDS_Base"
Continue work in #3709

## TODO

- [x] Communicate with HR about what work is going to be done before, in dev and after go-live.
- [x] Remove footer sidebar menu blocks
- [x] Place Unit Contact Information Block
- [x] Style Unit Contact Information Block
- [x] Style FAQs similar to uids_base accordions
- [x] Update hook to fix section containers in the absence of a sidebar?

Keep review window sho

[2021-06-24 20:26] joewhitsitt opened #3708 "Fresh Install of HR on STAGE - Give access so that they can play around with layout builder"

[2021-06-24 20:32] pyrello commented on #3585
We agreed during planning that while this is in progress, we'll check in each day at standup to see if we want to keep investigating it, in case the answer is not forthcoming.

[2021-06-24 20:48] joewhitsitt commented on #3679
As an admin you can add remote post option here: admin/structure/webform/config/handlers

This changes webform.settings.yml which should probably be in a site split if pushed to PROD

After that, you have the ability to add a remote handler for each form.

[2021-06-24 20:51] joewhitsitt commented on #3708
@dnkemper clrson is the minimum hawkid to add as webmaster.

[2021-06-24 20:52] dnkemper commented on #3708
Thank you so much, @joewhitsitt! Should I install the v3 site on dev? Since they have content in stage? Or remove what they have on stage?

[2021-06-24 20:57] joewhitsitt commented on #3708
STAGE

[2021-06-24 21:05] richardbporter commented on #3707
Added hr.dev.drupal.uiowa.edu to uiowa dev env.

[2021-06-25 13:36] e-marie-w commented on #3033
Checked out [webform migration page](https://www.drupal.org/node/3040513) from meeting. Process seems simple enough, issue is I don't have option to upload data to webforms. Comment on video mentioned needing to enable Webform Submission Export/Import under Extend. Not sure where that setting is or if it's something I can update. The upload option could be an admin only thing too, I'm not sure.

[2021-06-25 14:12] #3708 closed, assigned to dnkemper

[2021-06-25 14:47] dnkemper commented on #3676
@joewhitsitt I'll do this and #3691 together!

[2021-06-25 15:17] cory-skeers commented on #3558
It's been discussed, but confirming and noting: views-based list blocks (people currently, more to follow) do not have this issue.

[2021-06-25 16:16] pyrello commented on #3707
@richardbporter Thanks!

This has been done in #3709 and deployed to dev for review by the customer. I think this is blocked until we know what our next steps are.

[2021-06-25 16:20] #3690 closed, assigned to joewhitsitt

[2021-06-25 16:20] cory-skeers commented on #3558
Note for when investigating/experimenting: The child elements on a new articles block may render incorrectly as other heading levels, possibly the "correct" one (say, correctly set to `h3` as they should, but through the render cache and not the settings from the block headline field).

[2021-06-25 16:47] bspeare opened #3713 "As a developer, I can use visual regression testing as part of my code review workflow"
# Story

As a developer, I can use visual regression testing as part of my code review workflow so that fewer visual regressions happen after code deployment.

- https://css-tricks.com/testing-for-visual-regressions-with-percy/#unlocking-the-true-power-of-percy

# Proposed solution

Use Percy's free solution (https://percy.io/pricing) and see if it helps us find visual regressions that might be mi

[2021-06-25 16:47] bspeare commented on #3713
It might be a good idea to pair this issue with the work in https://github.com/uiowa/uiowa/issues/3678.

[2021-06-25 16:55] cory-skeers commented on #3558
There's an additional issue if a node appears in multiple places.

Add an articles block, featured content block, etc. on the same or different pages, and set the headlines to different levels. The heading levels will potentially all update to the last block saved. Once any block is updated, it should invalidate the render caches for its results, but the newly cached version may then be used in al

[2021-06-25 18:18] richardbporter commented on #3585
Based on the [docs](https://www.drupal.org/docs/drupal-apis/layout-api/how-to-register-layouts#full-annotation-reference), one thing that sticks out in the layouts file is that some `path` and `template` values seems wrong. It should not be necessary to include either the template name in the path value or the path in the template value. Here is a draft PR with a diff of what this looks like: http

[2021-06-25 18:31] joewhitsitt commented on #3375
Should the author (field_news_author, term reference) be migrated over as an organization string? These values won't match up to person content on the site. (e.g. IP Staff)

[2021-06-25 19:26] joewhitsitt commented on #3375
We hit a bit of a bump with the migration of over 3k nodes… Memory issue.

[2021-06-25 19:29] richardbporter commented on #3558
I'm having trouble reproducing the bug as initially described. I wonder if what I was experiencing was actually what you described in https://github.com/uiowa/uiowa/issues/3558#issuecomment-868700956

[2021-06-26 15:10] pyrello commented on #2629
A quick note that it is trivial to add the Related Content and Unit Contact Information blocks to the page LB template as part of this shift, so that they show up on every page where there are results, similar to how they do now. However, since we have disabled the use of the native block labels for setting headlines (titles) on blocks, we would either need to hard-code these block titles via a bl

[2021-06-26 15:26] pyrello commented on #1907
This is blocked until #3709 is wrapped up because we can't remove this module until after it is uninstalled by the updates to the HR config split.

[2021-06-26 15:27] pyrello commented on #1713
This is blocked until #3709 is wrapped up because we can't remove this module until after it is uninstalled by the updates to the HR config split.

[2021-06-26 15:30] pyrello commented on #2629
Also noting that #1713 and #1907 are both blocked until #3707 (or another PR that accounts from removing the `uiowa_bar` and `uiowa_footer` modules from HR's split) has been merged. This is because the modules have to be present to be uninstalled via removal from the split, so there will need to be a follow-up task to actually remove them.

[2021-06-27 14:30] pyrello commented on #2629
I re-organized the tasks to delineate items that need to (can) be handled as part of the initial conversion and follow-up tasks.

The second to last item in that list I'm a bit confused about and since there is no attached issue, I think it needs some more explanation:

Since @richardbporter is out for a couple weeks, I'm guessing that @joewhitsitt is our best potential source of insight into unde

[2021-06-28 13:38] joewhitsitt commented on #2629
I think these hardcoded heading classes are no longer used in uids_base and can be removed once HR is off uiowa_bootstrap. I remember @bspeare asking me about where the classes were coming from.

[2021-06-28 13:44] joewhitsitt commented on #2629
Regarding events, uiowa_bootstrap has a different templates for events. Forgot what changed, but I think that JS is serving both versions (different variables?) and could be refactored to remove the old stuff once it is no longer in use. Not sure about the idea of moving it.

[2021-06-28 13:50] pyrello commented on #2629
Thanks!

It seemed like we only needed to split `config_ignore.settings` because of `uiowa_footer` or `uiowa_bar`, so I removed that in #3709

[2021-06-28 14:19] pyrello commented on #2629
FWIW, the yarn workspaces are not individually defined and will no longer be active when the associated themes are removed. Removing those will have to happen after #3709.

[2021-06-28 15:12] bspeare commented on #3678
As a part of this work, we might want to consider updating the the home page install to be a recommended home page design and move the block variant documentation/showcase to a page on https://webcommunity.sites.uiowa.edu/ which can be targeted with visual regression testing.

[2021-06-28 15:18] mark-bennett-uiowa commented on #3694
Based on discussion today, it sounds like we will wait until CS launch to deprovision the informatics site and setup the redirect (@briand44 will assist here).

[2021-06-28 17:18] pyrello opened #3719 "Remove `uiowa_bootstrap` and `hr` themes"
After #3709 is merged, I believe we have no more use for the `uiowa_bootstrap` or `hr` themes, so they can be removed.

[2021-06-28 17:27] pyrello commented on #2629
I have updated the `develop` branch with these changes in #3709, so we are just waiting to get feedback from HR about how to proceed.

[2021-06-28 17:46] pyrello commented on #3585
I asked for help in the Drupal Slack layouts channel in the hope that someone else has experienced something like this previously: https://drupal.slack.com/archives/C0T77ULN9/p1624902237121800

[2021-06-28 17:56] pyrello commented on #3585
I don't think that @richardbporter's PR above is going to resolve this issue (because we haven't seen the same issue with 3 column layouts even though the configuration for it has the same issues), but we should still go ahead with it just so that our layout definitions are correct.

[2021-06-28 19:45] bspeare opened #3720 "Adjust breakpoint on `layout__container` for padding consistency"
# Problem
The layout container padding that is added or removed through the "Spacing" options on layout builder sections is not consistent for

# Steps to reproduce
Add `Add extra top spacing` to a layout section and observe how the spacing gets smaller if you drop below the `container` breakpoint.

# Proposed solution
- Change the spacing to be increased at a lower breakpoint so that there is not

[2021-06-28 20:49] bspeare commented on #3401
Do we want to include spacing/line-height fixes in this audit to fix issues like the screenshot below?  The issue could be from the lack of previous styles being applied.

<img width="369" alt="Screen Shot 2021-06-28 at 3 11 03 PM" src="https://user-images.githubusercontent.com/1036433/123702034-400fc980-d828-11eb-8469-6b2153b943c3.png">

`background: inherit` is causing the issue from `core/theme

[2021-06-28 21:04] makurj commented on #3401
I would like to pair on this.

[2021-06-28 21:29] bspeare commented on #2629
It looks like a lot of pages have the "Section Settings" Content Width set to `Large` which makes the pages look like https://hr.dev.drupal.uiowa.edu/pay/pay-plans/merit-lead-status-pay-plan or https://hr.dev.drupal.uiowa.edu/pay/pay-plans/professional-and-scientific-pay-structure or https://hr.dev.drupal.uiowa.edu/development/leadership-development/career-and-communication-coaching/online-mbti-as

[2021-06-29 12:53] joewhitsitt commented on #2629
A lot of pages in DEV are missing the sidebar because that is one thing that is custom to their site. We are waiting to hear what they need going forward before trying to fix pages like these.

https://hr.uiowa.edu/pay/pay-plans/merit-lead-status-pay-plan

[2021-06-29 13:44] bspeare commented on #2532
I think adding `Zilla` to the WYSIWYG as an alternative to `Roboto` makes sense.   I think I would still want to keep the remaining headline styles limited to use in the Headline field: https://github.com/uiowa/uiowa/issues/2960.  This question and https://github.com/uiowa/uiowa/issues/2107 might be good to revisit at the next design meeting.

[2021-06-29 14:32] makurj commented on #3701
How about a more generic placeholder image? Like this, perhaps?
![image](https://user-images.githubusercontent.com/52135878/123816247-c544be00-d8bc-11eb-986b-5485c479c2e4.png)

[2021-06-29 14:57] bspeare commented on #3474
@quamsta can we close this in favor of https://github.com/uiowa/uiowa/issues/3200?

[2021-06-29 16:31] bspeare commented on #3272
@joewhitsitt is this blocked until https://github.com/uiowa/uiowa/issues/3501 is implemented?

[2021-06-29 16:33] joewhitsitt commented on #3272
From what I have seen from the people listblock view, instead of a teaser view mode fields are used and so this would be an option in #3501

[2021-06-29 16:55] e-marie-w commented on #3033
Webform migration works (thanks Joe for activating it!). Data for Request a Site webform all moved, having some trouble with Contact Us webform. The 495 most recent submissions move fine, but there's 159 earlier ones that are not showing up despite also being in the uploaded CSV.

Update: Nevermind got them all migrated over. Apparently 495 was the upload limit? I reversed the order of the records

[2021-06-29 17:56] pyrello opened #3722 "SPPA - Build opportunity resource migration"
Create migrations into opportunity resource content type for:
* Employers
* Consulting firms

Create a redirect migration for each content type.

Example of files related to content migration built recently:
* Article migration config file: https://github.com/uiowa/uiowa/blob/main/docroot/sites/international.uiowa.edu/modules/international_migrate/config/split/migrate_plus.migration.international_

[2021-06-29 18:20] pyrello opened #3723 "Role-based content access per content type"
# Motivation

Provide a system for setting up a content type to allow access based on roles.

# Potential solution

* Add the [node_view_permissions](https://www.drupal.org/project/node_view_permissions) to default profile.
* Set default permissions for default content types.
* Propagate new permissions in each config split that has `user.role.*` configuration items included.

[2021-06-29 18:27] bspeare commented on #3576
Here's a proof of concept for sticky headers in a responsive table using only CSS: https://uids.brand.uiowa.edu/branches/feature_sticky_table_headers/components/preview/tables--responsive.html.    It looks like a recent update to Chromium has made this feature widely available: https://www.bram.us/2021/06/21/tablesng-improvements-to-table-rendering-in-chromium/#sticky-headers.   Please look at the

[2021-06-29 18:33] pyrello commented on #3576
It looks good to me.

[2021-06-29 18:35] dnkemper commented on #3576
What @pyrello said!

[2021-06-29 18:36] joewhitsitt opened #3724 "Engineering Go-Live Aug 16th on uiowa"
Review Engineering.prod.drupal.uiowa.edu in preparation for launch in the next couple weeks.

## Soon
- [x] screaming frog
- [x] design review
- [x] copy review

---

## Launch Tasks
- [x] create domains for www and engineering.uiowa.edu on uiowa application
- [x] point engineering.prod.drupal.uiowa.edu to old site on 70x application
- [x] add reminder to follow up in one month after launch to see

[2021-06-29 18:37] joewhitsitt commented on #3724
@GaryRidgway caught this: https://engineering.prod.drupal.uiowa.edu/future-students/first-year-students/student-ambassadors

[2021-06-29 18:54] joewhitsitt commented on #3458
Reducing the priority of this issue based on recent discussions. I will surface https://github.com/uiowa/uiowa/issues/3171 in parking lot with a custom to admissions only solution while work on pushing forward with  https://github.com/orgs/uiowa/projects/1#card-63850273 which could be done in conjunction with this issue.

[2021-06-29 19:08] joewhitsitt commented on #3171
To move forward with this for Admissions based on recent discussions, we should just create this view for admissions only without configuration. https://github.com/uiowa/uiowa/issues/3458#issuecomment-870836241

https://github.com/uiowa/uiowa/issues/3773

[2021-06-29 19:16] joewhitsitt commented on #3576
POC looks done to me minus this border effect on scroll up. Seems to work in my non-Chromium based browsers too (Safari and Firefox).

<img width="332" alt="Screen Shot 2021-06-29 at 2 12 14 PM" src="https://user-images.githubusercontent.com/4663676/123854308-292ead00-d8e4-11eb-9e00-5a71c453e8f9.png">

[2021-06-29 20:47] joewhitsitt opened #3725 "Remote Video/Panopto "Original" with captions are not ideal sizing"
# Problem

WYSIWYG and rendered markup is different for drupal-media depending on what view mode is selected the alignment and whether a caption is provided or not.

We have made the functionality usable in https://github.com/uiowa/uiowa/pull/3711

Original alignment with a caption is not well reflected in the WYSIWYG, and Original shrinks down when a caption is added.

# Steps to reproduce

- htt

[2021-06-29 21:33] bspeare opened #3726 "People list cards are missing `click-target` on card links"
# Problem
The entire card for the people list view is missing the `click-target` class because the link is being created through views.

# Steps to reproduce
Try clicking on the entire people list card https://cs.local.drupal.uiowa.edu/people/adjunct-faculty.

# Proposed solution
Update view to add `click-target` class.

[2021-06-29 21:36] quamsta commented on #3474
@bspeare yeah! That looks to be the same sorta thing.

[2021-06-29 21:36] #3474 closed, assigned to nobody

[2021-06-30 14:39] joewhitsitt commented on #3033
Added the newsletter widget for now. I need to add the login stuff to the request site form.

[2021-06-30 14:51] joewhitsitt commented on #3558
Got sidetracked at the moment but wanted to mention this. If:

then I started with the featured content block. ~~What I saw was that a new featured content block on a new page with an article and page. The page had the correct heading and the article didn't.~~ _- This turned out not to be the case and matches https://github.com/uiowa/uiowa/issues/3558#issuecomment-868700956_ I was going to to star

[2021-06-30 15:42] joewhitsitt commented on #3033
k. got the site split enabled and things seem to be firing.

[2021-06-30 15:51] e-marie-w commented on #3033
Right now request site webform is not showing for me even after logging in, but that might just be a permissions thing. The alert to log-in and the link to do so work fine.

[2021-06-30 16:11] joewhitsitt commented on #2735
Cloud IDE no. 2 should be available now per Brian

[2021-06-30 16:37] joewhitsitt commented on #3033
Launched - https://sitenow.uiowa.edu/

[2021-06-30 16:37] #3033 closed, assigned to nobody

[2021-06-30 18:03] joewhitsitt commented on #3375
Reached out to customer about https://github.com/uiowa/uiowa/issues/3375#issuecomment-868756795

[2021-06-30 19:37] joewhitsitt commented on #3375
Updated issue-summary to include migrating author labels (multiple) to the organization field.

[2021-06-30 20:20] cory-skeers commented on #3375
Thanks @joewhitsitt!

[2021-06-30 20:27] joewhitsitt commented on #3585
https://drupal.slack.com/archives/C0T77ULN9/p1624936608122300?thread_ts=1624902237.121800&cid=C0T77ULN9

[2021-06-30 20:58] bspeare commented on #3701
MARCOM has requested to update the person profile to use the brand icon, so here's what the current implementation in https://github.com/uiowa/uiowa/pull/3727 looks like:

<img width="1394" alt="Screen Shot 2021-06-30 at 3 51 26 PM" src="https://user-images.githubusercontent.com/1036433/124030537-e4764500-d9bb-11eb-9c0b-9f40418b56d1.png">
<img width="1399" alt="Screen Shot 2021-06-30 at 3 53 04 PM

[2021-07-01 16:15] mark-bennett-uiowa opened #3733 "Add support for *.biology.uiowa.edu to uiowa01 SSL certificate"
Adding support for *.biology.uiowa.edu to uiowa01 SSL certificate in order to cover the iba.biology.uiowa.edu site.

[2021-07-01 16:20] #3691 closed, assigned to dnkemper

[2021-07-01 16:48] #3679 closed, assigned to nobody

[2021-07-01 18:49] joewhitsitt opened #3734 "Section Background affects lb_direct_add text color"
## Story

As an editor, I can create a new section, use any background color I choose and when adding a block to the section, see the the available options in an accessible way.

## Steps to Reproduce:

Section with black background particle

<img width="1453" alt="Screen Shot 2021-07-01 at 1 46 00 PM" src="https://user-images.githubusercontent.com/4663676/124175365-22827000-da73-11eb-9b94-04658fe

[2021-07-01 20:00] joewhitsitt opened #3751 "Recserv - Highlight "join us" menu link"
# Story

As a visitor to the recserv.uiowa.edu website, I can see a different styled menu link for the join us link, that brings more attention to it than the other menu items.

<img width="450" alt="Screen Shot 2021-07-01 at 4 06 33 PM" src="https://user-images.githubusercontent.com/4663676/124189473-6337b480-da86-11eb-9071-57271d4ab637.png">

## Proposed Solution

- [x] Target the last leaf menu

[2021-07-01 20:14] joewhitsitt commented on #1803
Without splitting, the goal for sprint 70 is to move forward with this issue by getting image gallery working and to groom this issue to be up-to-date with what is left to be done.

[2021-07-01 20:15] pyrello opened #3752 "Game plan for finishing v2 to v3 conversion"
General game plan:
- Finish functionality to allow for a site owner to convert one or many pages into a new draft revision of the page. This would allow them to make additional changes before the page goes live.
- We allow for a period of time where people can go through the process of converting their pages like this by themselves, possibly 2-3 months.
- At the end of that time, we introduce an u

[2021-07-01 20:16] bspeare commented on #3576
Here's the UIDS pr: https://github.com/uiowa/uids/pull/584.

[2021-07-01 20:16] pyrello commented on #3568
Created a new issue to capture the output from this: #3752

[2021-07-01 20:16] #3568 closed, assigned to nobody

[2021-07-01 20:22] joewhitsitt opened #3753 "Recserv - Update footer information"
# Story

As a site owner I can see the updates I provide for the footer in production since I can not make the changes myself.

# Proposed solution

Update the following links in the footer (docroot/sites/recserv.uiowa.edu/modules/custom/rec_footer_block/rec_footer_block.module)
- [ ] ~~Join our Newsletter – Waiting to hear back from marketing about this.~~
- [x] Donate Now Link -  Change to https

[2021-07-01 20:32] joewhitsitt commented on #3684
Starting to wonder how valuable this is in our strategy to clear up the docroot at least now. I wonder if we would have better results initially by inviting all customers on a docroot to start a manual transition to v3.

[2021-07-01 20:33] mjoneill commented on #3694
Our understanding is that work for the team in this sprint is the vulture redirect.

[2021-07-01 20:46] makurj commented on #3734
I would like to pair on this.

[2021-07-01 20:56] bspeare commented on #3625
**Removed:**

- oldcapitoltennis.com
- lapd2019.centerforconferences.uiowa.edu

**Kept:**

- https://hawkeyecaucus.com

**Not responded by July 1st, 2021:**

- https://iexplorestem.org

If https://iexplorestem.org doesn't respond by the end of the day, do we move forward with removing https://iexplorestem.org?

[2021-07-02 14:36] joewhitsitt opened #3755 "Maps - Update data layers"
As a maps.uiowa.edu I can see an updated map with certain building labels adjusted.

- If possible, slide the label for the Hydraulics Wind Tunnel Annex on this map.
- Remove Lot11 Temporary Boiler Building

## Proposed Solution

- Using the wiki (https://wiki.uiowa.edu/display/sitenow/maps.uiowa.edu) get updated data layers from Facilities and get them into mapbox.
- If the building label is not

[2021-07-02 16:22] joewhitsitt opened #3756 "Recserv - Audit of v1 Customizations"
The recserv.uiowa.edu website would like an audit done of their current customizations in v1 that do not have a similar feature in v3.

## Proposed Solution

- [ ] Similar to https://github.com/uiowa/uiowa/issues/2464#issuecomment-730492043, provide a report of custom pieces.

[2021-07-02 16:37] joewhitsitt opened #3757 "Superfish - Touch is not working correctly on iPads"
# Problem

# Steps to reproduce
With an iPad, attempt navigate to a dropdown menu item on https://coronavirus.uiowa.edu. Though long press works for emulators, iPads have a long-press behavior that opens a modal window.

https://user-images.githubusercontent.com/4663676/124304971-0ee61080-db2a-11eb-8586-21cda401c917.MP4

This might be able to be reproduced in BrowserStack.

# Proposed solution
- [

[2021-07-02 16:43] joewhitsitt commented on #3753
Regarding the newsletter link update:

IS update and unblocking

[2021-07-02 17:20] joewhitsitt commented on #3755
Just pinged the Facilities links in the wiki and they aren't working. Reached out to Jay at Facilities for assistance.

[2021-07-02 20:01] joewhitsitt commented on #3608
https://sitenow.uiowa.edu/node/396/edit

[2021-07-06 13:55] #3211 closed, assigned to dnkemper

[2021-07-06 13:56] mjoneill commented on #3724
I completed the screamingfrog review for engineering and posted results in #redesign-engineering slack channel.

[2021-07-06 13:57] joewhitsitt commented on #3757
Curious if the same iPad behavior is experienced here: http://lb.cm/olivero.

They have a separate button for the dropdown items
<img width="721" alt="Screen Shot 2021-07-06 at 8 56 26 AM" src="https://user-images.githubusercontent.com/4663676/124612639-1e21d280-de38-11eb-96f6-ecc9fbebcde3.png">

[2021-07-06 14:50] mjoneill commented on #3757
This defaults to hamburger menu on horizontal/iPad (11in, iPad Pro)

@joewhitsitt

[2021-07-06 16:00] joewhitsitt opened #3761 "SSL Cert - *.iowastem.org on uiowa02"
https://org-iowastemse.prod.drupal.uiowa.edu

[2021-07-06 16:26] makurj commented on #3501
I would like to be able to enter my own custom text for the "display more link" button so that if I'm using it for articles tagged with Student Stories, the button link can say "View More Student Stories" instead of the the default "View More News". This functionality should be available per Articles block. Example:

![image](https://user-images.githubusercontent.com/52135878/124635143-b6c24d80-de

[2021-07-06 18:17] mark-bennett-uiowa commented on #3585
Here is one of the pages that always seems to manifest this issue, immediately after a release:
[https://socialwork.uiowa.edu/locations/iowa-city](https://socialwork.uiowa.edu/locations/iowa-city). Any of the child pages under the Learning Centers will show this: [https://socialwork.uiowa.edu/locations](https://socialwork.uiowa.edu/locations)

These pages are setup to use a normal width, 2-column

[2021-07-06 18:55] joewhitsitt commented on #3757
sf-Touchscreen is currently disabled. It can be invoked by window width or by user-agent info. This might be the easiest short term solution.

Then the following behaviors:

- Opening the parent menu item link on the second tap.
- Hiding the sub-menu on the second tap.
- Hiding the sub-menu on the second tap, adding cloned parent links to the top of sub-menus as well. (Default)

We are using the _

[2021-07-06 21:48] joewhitsitt opened #3762 "Site/Varnish cache need to be cleared periodically to fix layouts/styles"
inrc.law.uiowa.edu, dining.uiowa.edu, more? websites need to be periodically cleared due to broken layout/styles issues.

both of these sites use paragraphs within radix and are both on 703.

today (7/6/21) I cleared for both sites after a long weekend in which RA Bot executed a Code switch which shows up as failed in Acquia Cloud.

[code]

[2021-07-06 21:49] joewhitsitt commented on #3762
i wanna say that registrar.uiowa.edu (views bootstrap grid) has had this issue in the past as well.

https://registrar.uiowa.edu/ucr-sps

[2021-07-07 00:45] pyrello commented on #3585
Today we did a release and the above site did not seem to be affected. Not sure if that is meaningful outside of that it doesn't happen to the linked page every time we do a release.

[2021-07-07 13:54] #3558 closed, assigned to joewhitsitt

[2021-07-07 14:22] bspeare commented on #3757
Just tested this locally with browserstack and updating the `sf-Touchscreen` setting seems to have fixed the issue:

<img width="1156" alt="Screen Shot 2021-07-07 at 9 20 49 AM" src="https://user-images.githubusercontent.com/1036433/124776004-b71e1f80-df04-11eb-840d-a1a315fd144f.png">

[2021-07-07 14:54] joewhitsitt commented on #3585
I am curious if the next time this happens there is a recent RA Bot deployment in the AC interface. Though not the same issue, it could be semi-related to https://github.com/uiowa/uiowa/issues/3762 if my suspicion is correct.

[2021-07-07 14:59] bspeare opened #3764 "As a webmaster, I can access the Site Verification tab in SEO Settings on Page content type"
As a webmaster, I can access the Site Verifcation tab in SEO Settings on Page content type so that I can verify my site with a number of services.

# Proposed Solution

- Update SEO Settings permissions to allow webmasters access to Site Verification tab.

# Possible Concerns

- If this is allowed on every page and not just the home page, does this create verification issues for site owners if the

[2021-07-07 15:03] joewhitsitt commented on #3757
@bspeare was this just testing or are you suggesting a path forward would be to enable sf-Touchscreen for horizontal and mega regardless of window width or user agent? Do you prefer this over trying to get the dropdown buttons working and styled?

[2021-07-07 15:05] bspeare commented on #3757
I would prefer this solution for now and eye the additional work for the future.

[2021-07-07 15:32] mjoneill commented on #3608
@joewhitsitt I reviewed the news article and made one minor change (added a hyperlink in the top para).

I feel less like I can speak to the list of enhancements for this newsletter. I don't have a solid read on what might be missing, so I'll leave it with a copy proof there (looked good to me).

[2021-07-07 17:56] pyrello commented on #3608
I made one small adjustment to one of the bullet points. Otherwise, it looks good to me!

[2021-07-07 18:45] pyrello commented on #1803
Realizing I should have put this comment here: https://github.com/uiowa/uiowa/pull/1976#issuecomment-875031998

Here are some updates that I have made to #1976:
- Added a text field to the page content type (scoped to SiteNow V2) for storing the revision ID of the last revision prior to conversion.
- Built a Views-based conversion UI (copied initially from the Moderated Content view) that uses two

[2021-07-07 19:10] joewhitsitt commented on #3608
Published: https://sitenow.uiowa.edu/news/2021/07/updates-june
Dispatch scheduled for 7/7 2:30p
https://github.com/uiowa/uiowa/issues/3766 created

[2021-07-07 19:11] joewhitsitt opened #3766 "SiteNow Updates News Article - July"
## Issue/Solution

Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  - See the previous month's article as an example.
  - Bullet

[2021-07-07 19:13] #3608 closed, assigned to joewhitsitt

[2021-07-07 19:36] bspeare commented on #3701
Here's what the latest icon looks like and new positioning based on @joewhitsitt suggestion.

<img width="642" alt="Screen Shot 2021-07-07 at 2 34 36 PM" src="https://user-images.githubusercontent.com/1036433/124818478-b4392400-df30-11eb-9105-75b8bb6b38c1.png">

<img width="1404" alt="Screen Shot 2021-07-07 at 2 35 10 PM" src="https://user-images.githubusercontent.com/1036433/124818495-b7ccab00-df

[2021-07-07 19:44] makurj commented on #3753
Completed.

[2021-07-07 19:44] #3753 closed, assigned to makurj

[2021-07-07 19:45] joewhitsitt commented on #3753
Thanks @makurj!

[2021-07-07 19:46] joewhitsitt commented on #3701
i am a fan. just more consistent look when you have a mix of actual headshots and placeholder images.

[2021-07-07 19:51] makurj opened #3767 "Banner URL button does not have hover effect"
# Problem
If you have a yellow brain pattern banner and add a link to it, the button has no hover "underline" effect. It also looks like the ids coming in the CSS are different. See screenshot below:

![image](https://user-images.githubusercontent.com/52135878/124820012-940a6480-df32-11eb-90dc-cd74e8ccf2a0.png)

# Steps to reproduce
https://tippie.prod.drupal.uiowa.edu/banners

[2021-07-07 20:34] joewhitsitt commented on #3733
@mark-bennett-uiowa this is done finally after figuring out those troublesome dcv domains!

[2021-07-07 20:34] #3733 closed, assigned to mark-bennett-uiowa

[2021-07-07 20:34] mark-bennett-uiowa commented on #3733
Thanks @joewhitsitt

[2021-07-07 21:39] #3191 closed, assigned to joewhitsitt

[2021-07-08 13:40] joewhitsitt commented on #3706
Should this be a block or a view page?

[2021-07-08 13:40] pyrello commented on #3706
View page.

[2021-07-08 13:46] joewhitsitt commented on #3706
Should the path be /opportunities or something else?

[2021-07-08 13:47] pyrello commented on #3706
Yeah, let's go with that for now

[2021-07-08 13:52] joewhitsitt opened #3770 "Banner buttons are getting non-unique id attributes"
# Problem
Banner buttons are being assigned id attributes that are not unique if banner titles are the same.

# Steps to reproduce
View source: https://tippie.prod.drupal.uiowa.edu/banners
<img width="1022" alt="Screen Shot 2021-07-08 at 8 49 41 AM" src="https://user-images.githubusercontent.com/4663676/124933830-d03cd400-dfc9-11eb-8ea4-5052caa8fb73.png">

# Proposed solution
- [ ] Revisit the ban

[2021-07-08 16:40] #3701 closed, assigned to nobody

[2021-07-08 16:40] #3726 closed, assigned to nobody

[2021-07-08 17:11] pyrello commented on #3757
I think this is supposed to be closed via #3768

[2021-07-08 17:11] #3757 closed, assigned to GaryRidgway

[2021-07-08 17:23] joewhitsitt commented on #3757
Will someone volunteer to create that follow-up issue?

[2021-07-08 18:16] bspeare opened #3772 "Superfish - submit pull request for Superfish library"
# Story

As a developer I can submit a patch to the Superfish module to share the changes we made for user agent detection back tot the Drupal community.

# Proposed solution: submit a pull request for the Superfish library

- [ ] Create pull request on https://github.com/mehrpadin/Superfish-for-Drupal/pulls based on change in https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_bas

[2021-07-08 18:36] #2346 closed, assigned to joewhitsitt

[2021-07-08 18:53] pyrello commented on #1803
Making a note here to remember that we need to handle the case where the content revision id points to a revision that has aged out.

[2021-07-08 19:33] pyrello commented on #3772
Thanks for putting this together! I don't think that the second bullet point is actually necessary. If the change is accepted and a new release is created in the 2.x series for the Superfish-for-Drupal, then the module shouldn't need any changes for that to get updated.

[2021-07-08 20:02] #3375 closed, assigned to cory-skeers

[2021-07-08 20:28] joewhitsitt opened #3773 "Admissions Upcoming Events view page"
Split from https://github.com/uiowa/uiowa/issues/3171 as an Admissions specific piece.

## Proposed Solution

- [x] View page of upcoming events teasers using the event feature split that is captured in the admissions split
  - /events for now

[2021-07-08 20:50] makurj commented on #3751
I would like to help with this.

[2021-07-08 20:51] mjoneill commented on #3694
Update: Discussed this in planning. Team can commit to the slice of this that falls on us when @mark-bennett-uiowa is ready to pull this story into work.

[2021-07-08 20:54] makurj commented on #3720
I would like to pair on this.

[2021-07-09 00:54] pyrello commented on #1803
More thoughts on how to prevent deletion of the fallback revision ID:
- The query for getting node revisions to delete in the `node_revision_delete` module uses the `addTag()` method to allow altering of the query: https://git.drupalcode.org/project/node_revision_delete/-/blob/8.x-1.x/src/NodeRevisionDelete.php#L486-488
- `hook_query_TAG_NAME_alter()` allows for altering the query in question: htt

[2021-07-09 13:43] pyrello commented on #3772
I think it should be @GaryRidgway who does this task. It was his fix and he deserves the credit.

[2021-07-09 16:14] GaryRidgway commented on #3772
[This has been submitted here](https://github.com/mehrpadin/Superfish-for-Drupal/pull/31), thanks all for pushing me to contribute back, it is a nice feeling :)

[2021-07-09 16:14] #3772 closed, assigned to nobody

[2021-07-09 16:19] joewhitsitt commented on #3751
Reached out to customer for review

[2021-07-09 19:19] GaryRidgway commented on #3734
So far during testing I am unable to reproduce. possibly seems like cache clearing may have fixed this? @makurj suggests cache clearing worked for the Tippie site.

![Screen Shot 2021-07-09 at 2 21 22 PM](https://user-images.githubusercontent.com/23122142/125126613-f8f3c500-e0c0-11eb-93a5-4cda680373b6.png)

[2021-07-09 19:22] bspeare commented on #3734
@GaryRidgway Have you tried it with the black background particle style?  That’s the only one causing the bug.

[2021-07-09 20:03] #3734 closed, assigned to nobody

[2021-07-10 19:43] pyrello opened #3781 "SPPA - Export job content items from D7 site"
# Motivation
There are about 18,000 job content items that  are not being migrated to the new SPPA site. We need to figure out the best way to export them into a CSV file or some other format.

# Proposed solution
- Use views to generate a SQL query that can be used to create an export in Sequel Pro.
- Use Sequel Pro to generate a CSV export with the query.

[2021-07-10 19:51] pyrello opened #3782 "AMCS - Move fields from Immuno split to Grad Person Extended split"
# Motivation
AMCS wants to have a student page that looks like this, but they need additional fields as part of their person content type to make it happen:

https://amcs.prod.drupal.uiowa.edu/students/all-graduates

# Proposed solution
- Move the following field configuration from the immuno.grad.uiowa.edu split to the grad_person_extended split:
  - field.storage.node.field_pt_student_advisor

[2021-07-10 20:05] pyrello opened #3783 "SPPA - Set opportunity content type to only be viewable by authenticated users"
Story: As an SPPA site owner, I want to keep the Opportunity content type behind a HawkID login so that only current students and alumni can access them.

# Proposed solution
Use the changes made in #3723 to limit viewing the opportunity content type to authenticated users.

[2021-07-12 01:10] #3706 closed, assigned to joewhitsitt

[2021-07-12 01:16] pyrello opened #3784 "Grad - Investigate json export feed solution"
# Motivation

To finally retire the D7 Grad site, we need to come up with a replacement for the following json export, which is currently in use on several Qualtrics forms: https://grad.prod.drupal.uiowa.edu/json/GradFellowProgramsV2.json

# Proposed solution

Add json extension to document media type.

[2021-07-12 01:17] pyrello opened #3785 "SPPA - Export bio content items from D7 site"
# Motivation
We are not building a replacement solution for SPPA to display this information, but they would like it in some format.

# Proposed solution
Similar to #3781 - note the discoveries made in the comments that views_data_export might not work for this content and the alternative

[2021-07-12 01:21] pyrello opened #3786 "Genetics - Adapt Thesis Defense content type from grad.uiowa.edu split"
Story: As a site owner, I want to publish information about upcoming student thesis defenses.

# Proposed solution
* Move configuration related to the Thesis Defense content type, Views calendar and list displays, as well as anything else related to these from the Grad College split to a feature split.
* Write an update hook for Grad College to turn the split on.

[2021-07-12 01:27] pyrello opened #3787 "Genetics - Filter faculty by research interest"
# Story
Story: As a student, I want to view only faculty with specific research interests.

Need to:
- Immunology site has research filtering, check if it could be repurposed for these sites

[2021-07-12 01:31] pyrello opened #3788 "IWP - Build migration for Writer Bio content type"
- 1579 items

[2021-07-12 15:18] briand44 commented on #3625
We should double check if we tried communicating with gina-schatteman@uiowa.edu. When I looked at this before I was out I thought we hadn't reached out to that user and that was who I last communicated with in regards to iexplorestem.org. If we haven't communicated with that user we should resend the original communication (with date changed) to that user.

[2021-07-12 15:26] bspeare commented on #3625
@briand44 I will send out that communication this morning.

[2021-07-12 20:32] dnkemper commented on #3783
Will be easy to change this while working on #3723

[2021-07-13 13:49] pyrello commented on #3722
I updated the description to indicate that redirect migration is required since all new items will live at `/opportunities/*`.

[2021-07-13 13:51] joewhitsitt commented on #3755
Jay got the data links working again on Friday. On the surface it looks like we should be able to move forward.

[2021-07-13 14:21] richardbporter commented on #3684
I don't think we could do that without an upsize first.

[2021-07-13 14:23] bspeare commented on #3625
Dispatch says the email sent was delivered and opened: https://apps.its.uiowa.edu/dispatch/analytics/communication/932479972.

[2021-07-13 15:20] bewoldt opened #3791 "make ckeditor responsive"
# Problem
CKEditor has fixed width set so as you resize the browser window the editor gets covered up.

https://user-images.githubusercontent.com/731952/125478407-a4306b9a-0518-43aa-ab3f-b38312880cf0.mov

[2021-07-13 15:47] joewhitsitt commented on #3791
I think this might be the related d.o ckeditor issue: https://www.drupal.org/project/drupal/issues/3218421

[2021-07-13 19:09] #3720 closed, assigned to nobody

[2021-07-13 19:30] joewhitsitt commented on #3499
Capturing possible proposed solutions for consideration/probing:

- Media type similar to Panopto just for careers in a site split
- "Generic embed" media type (control list of allowed domains, create plugins based on domain to provide domain specific attributes/markup to be captured/rendered). Better suited to handle the laundry list of embeds folks want.
- CKEditor Plugin (easier to one-off but

[2021-07-13 20:22] pyrello opened #3792 "Audit P2LB PR and clean up #1803"
# Motivation
#1803 has gotten to be a bit unwieldy and so it need some love to get it back into actionable shape.

# Proposed solution
- [x] Checkout #1976
- [x] `blt ds` a V2 site
- [x] Build or find content example for each Paragraph type.
- [x] Run the conversion tool on your example pages.
- [x] Make note of what works and what doesn't. Pay attention to all the fields on each content type and

[2021-07-13 21:29] joewhitsitt opened #3793 "Update Outreach Map"
The data associated with https://outreach.uiowa.edu/map/county needs to be updated.

There is information about the developer process here once the update CSV files are provided:
modules/custom/outreach_county_data/README.md

Point of contact: Nick Benson

[2021-07-13 21:33] joewhitsitt commented on #3793
Reached out to Nick for the latest .csv files. Previous updates/examples are in the outreach_county_data module.

[2021-07-13 22:00] #3782 closed, assigned to cory-skeers

[2021-07-14 14:31] pyrello commented on #3791
@bewoldt Can you explain the use case here? Is this something that you are going to need to do a lot?

[2021-07-14 14:44] makurj commented on #3751
Completed.

[2021-07-14 14:44] #3751 closed, assigned to makurj

[2021-07-14 16:34] joewhitsitt commented on #2487
Scott said that this relationship is no longer needed.

[2021-07-14 16:34] #2487 closed, assigned to nobody

[2021-07-14 16:40] bewoldt commented on #3791
@pyrello Resizing the browser? Yeah, I do that a lot.

[2021-07-14 16:55] bewoldt opened #3796 "dropdown menus in wysiwyg editor move with screen change"
# Problem
Dropdown menus in the ckeditor move up/down with the screen when scrolling or resizing browser window.

# Steps to reproduce

https://user-images.githubusercontent.com/731952/125661621-1c810aad-b0c8-4dbd-b73e-c49aec98b34a.mov

[2021-07-14 17:05] bewoldt commented on #3791
It looks like the editor breaks when you add enough content to resize the editor window.

https://user-images.githubusercontent.com/731952/125664260-4914c896-222c-4697-b388-c41ff8666e38.mov

[2021-07-14 17:07] joewhitsitt commented on #3796
This is a duplicate of https://github.com/uiowa/uiowa/issues/3104. Added the studentlife tag to that. Can we close this?

[2021-07-14 17:17] bewoldt commented on #3796
yeah. I remember this issue was brought up in a demo one time and thought it was fixed.

[2021-07-14 17:31] pyrello commented on #3791
But is it necessary to resize the browser while using the WYSIWYG editor?

[2021-07-14 17:51] bewoldt commented on #3791
I was just trying to help by pointing out a UX issue. I realize this is a Drupal problem.

[2021-07-14 17:51] #3796 closed, assigned to nobody

[2021-07-14 17:57] pyrello commented on #3791
@bewoldt I appreciate you bringing it up. My questions are based on trying to understand how to prioritize solving this. I have not encountered it myself, but I appreciate that my experience is not everyone's. If this is something you encounter a lot and other people are having this issue, then I think it is important to solve it sooner rather than later. If it is, however, not an issue you common

[2021-07-14 18:35] makurj commented on #3767
I would like to work on this with some guidance.

[2021-07-14 18:59] joewhitsitt commented on #3173
Removed https://github.com/uiowa/uiowa/issues/2727 from this since it is a separate task and next up in the priority list.

[2021-07-14 19:07] makurj commented on #3445
I would like to pair on this.

[2021-07-14 19:09] makurj commented on #3764
I would like to pair on this.

[2021-07-14 19:16] #3173 closed, assigned to nobody

[2021-07-14 19:16] #3773 closed, assigned to joewhitsitt

[2021-07-14 19:22] joewhitsitt commented on #2396
https://github.com/uiowa/uiowa/issues/3170#issuecomment-832806823

Hearing the discussion this morning in the Admissions meeting, I think the Admissions and the 80% would be better served by an event content type that can handle multiple dates/repeat/recurring.

[2021-07-14 20:48] bspeare opened #3800 "Videos within cards in V2 are overflowing the card"
# Problem
Videos within cards in V2 are overflowing the card

<img width="1405" alt="Screen Shot 2021-07-14 at 3 26 18 PM" src="https://user-images.githubusercontent.com/1036433/125690571-7d833066-2269-4c46-9025-255afced8b97.png">

# Steps to reproduce
Try adding a Panopto or Youtube video to the card text area on a V2 site.

# Proposed solution
Since we don't allow media embeds in cards in V3 thi

[2021-07-14 21:06] bspeare commented on #3272
Added the admissions label after we discussed this feature in today's meeting.

[2021-07-14 21:23] mark-bennett-uiowa opened #3801 "Backup DB and file system for Iowa Informatics Initiative (UI3) site."
Backup database and file system for Iowa Informatics Initiative (UI3) site.

[https://informatics.uiowa.edu/](https://informatics.uiowa.edu/)

[2021-07-14 21:24] mark-bennett-uiowa opened #3802 "Deprovision Iowa Informatics Initiative (UI3) site."
Deprovision Iowa Informatics Initiative (UI3) site once back up is performed.

https://informatics.uiowa.edu/

[2021-07-14 21:26] mark-bennett-uiowa opened #3803 "Add Vulture redirect from informatics.uiowa.edu to https://cs.uiowa.edu/informatics."
Add Vulture redirect from https://informatics.uiowa.edu to https://cs.uiowa.edu/informatics. (Contact Jack Moeller)

[2021-07-14 21:26] pyrello opened #3804 "Add exposed filters to views block display"
# Story

As a content editor, I want to be able to expose filters on my view blocks.

# Proposed solution

- [x] ~Help get MR at https://www.drupal.org/project/ctools/issues/2657060 to a fully working state.~ MR got merged and is part of the more recent version of `ctools`.
- [ ] Update to most recent version of `ctools` module.
- [x] Refactor code that transform the people type selector based on

[2021-07-14 21:29] joewhitsitt commented on #3800
yikes! did not see that in HR. Was this introduced in https://github.com/uiowa/uiowa/pull/3711 or does it currently exist?

[2021-07-14 21:30] cory-skeers commented on #3387
It seems like this is something getting confused between the view page existing and a basic page existing at the same path. Manually changing the block contextual filter path to something other than `news` works. Something like `news/archive` actually drops the 'archive' and works, creating correctly formed links like `/news/2019/05`. Haven't dug into the process that handles this to understand wh

[2021-07-14 21:30] bspeare commented on #3800
@joewhitsitt Currently existed, not Panopto specific.

[2021-07-14 21:31] #3676 closed, assigned to nobody

[2021-07-14 21:41] joewhitsitt commented on #3755
So I am going to continue with this update but this goes back to a known issue of the building names dataset being the wrong data for the job (remember the hospital parking ramp 3 issue?). The building names are polygon data that isn't place exactly over and within the bounds of the building. Mapbox then duplicates these labels when the polygon extends into the base tiles.

Shows what the building

[2021-07-14 21:57] briand44 commented on #3499
I added a link to Sharepoint that contains the welcome kit and additional info in the original issue description. Let me know if you can't access.

[2021-07-14 21:59] mark-bennett-uiowa opened #3805 "SiteNow People page does not filter people to just current Faculty, Staff, Students, etc."
# Problem
Former Faculty, Graduate Assistants, Staff, and Students still show up in the main SiteNow People page. With the feature split for CLAS, this includes Adjunct Faculty, Postdoctoral Researchers, and Visiting Faculty. Alumni does not have a former option, but we dont want Alumni showing up on this list either. Can we add some sort of administrative filtering to check the types that we want

[2021-07-14 22:09] joewhitsitt commented on #3755
This update does remove Remove Lot11 Temporary Boiler Building and the Communications Center building

There was no visual diff for in-construction data.

[2021-07-15 14:02] #3722 closed, assigned to bspeare

[2021-07-15 14:22] richardbporter opened #3806 "Move DCV file location to public files directory to avoid intermittent 404s"
The DCV file https://molcellcog.org/.well-known/pki-validation/849A5537A1256BBD44BF06355E091C33.txt was throwing an error intermittently. The error was:
[code]

This is because of https://github.com/uiowa/uiowa/issues/3806#issuecomment-880803418.

## Proposed solution
Save the file in the public files directory but ensure that it gets deleted. These aren't really needed beyond a very short period

[2021-07-15 15:25] joewhitsitt commented on #3762
So 703 had a RA Bot deployment again this morning. I pinged dining after varnish cleared to see that the font awesome icons were broken. Not quite the layout breaking bug we were seeing but this is another common issue we see. Coincidence? Maybe. Waiting for inrc.law varnish to clear to see if it is broken.

[code]

[2021-07-15 15:43] richardbporter commented on #3806
I think this happening inconsistently because it is a temporary file. Refreshing the page many times leads to inconsistent results - some error and some load the file. Some docs suggest we may want to change the temporary file path in out global settings file: https://docs.acquia.com/cloud-platform/manage/files/broken/#setting-the-directory-in-settings-php This might resolve the inconsistencies in

[2021-07-15 15:47] briand44 commented on #3806
I refreshed and it loaded so I submitted DCV. Looks like it worked for now. Thanks!

[2021-07-15 16:00] joewhitsitt commented on #3804
This sounds like a mess after [implementing the filters last time](https://github.com/uiowa/uiowa/pull/3269). I'd rather invest in the ListBlock and make sure we test against all of those instances that are a bit different (e.g. counselors, student card, articles block)

[2021-07-15 16:12] pyrello commented on #3804
I'd say it's an open question which of these might end up being the bigger challenge. Dealing with exposed filters on multiple blocks has definitely been a challenge for us in the past.

[2021-07-15 18:48] richardbporter opened #3809 "As a site owner displaying events on my site, I can list more than 50 events."
# Story

As a site owner displaying events on my site, I can see more than 50.

The current maximum is 50 and there is no way to display more. It is entirely feasible someone may want to display more than that instead of directing people away from their site using the More link.

# Proposed solution

Details TBD but essentially leverage the content hub API to retrieve the total number of results a

[2021-07-15 18:55] bspeare opened #3810 "As a site visitor, I can go to bam.sites.uiowa.edu and see a landing page with subscription information"
# Story

As a site visitor, I can go to bam.sites.uiowa.edu and see a landing page with subscription information

# Proposed solution

- [x] Put current home page in a draft state and create a new landing page for the home page.
- [x] Create a landing page layout with the BAM logo, description, and sign-up form.
- [x] Add GA to the site.
- [x] Change site name in site settings to "Bible & Archaeol

[2021-07-15 18:56] joewhitsitt commented on #3809
Somewhat relates to https://github.com/uiowa/uiowa/issues/2739 (+50 past events)

[2021-07-15 20:13] makurj commented on #3810
I'd like to help with this.

[2021-07-15 20:21] pyrello commented on #3499
For the generic embed, we could eventually develop a plugin system that would allow us to use plugin class files to provide the embed-specific attributes and possibly specialized form settings.

[2021-07-15 20:25] makurj opened #3811 "As a MarTech person, I want our CRM module enabled in Tippie so that we can use it for recruitment"
# Story

TIPPIE - As a MarTech person, I want our CRM module enabled in Tippie so that we can use it for recruitment.

Pardot module: copy/edit/create https://www.drupal.org/project/pardot
https://git.drupalcode.org/project/pardot/-/blob/8.x-1.x/pardot.info.yml
https://www.drupal.org/project/pardot/issues/3176074
https://help.salesforce.com/s/articleView?id=000312312&type=1

An anonymous cookie is

[2021-07-15 20:49] pyrello opened #3812 "Add research areas to people list block filters"
# Story

As an editor, I can filter people list blocks by research area.

# Proposed solution

Update the people list block views settings to include research areas as a filter and include it with the filters that can be shown in block settings. Re-export config.

[2021-07-15 20:56] makurj opened #3813 "As a webmaster, I would like a "curtain"
# Story

As a _____ I want ____ so that ____

# Proposed solution

[2021-07-15 20:58] makurj opened #3814 "As a webmaster, I can add animation and transition effects to blocks in layout builder"
# Story

First slice:

- As a webmaster, I can add animation and transition effects to blocks in layout builder so that I can create a more interactive and engaging scroll experience.

Second slice:

- As a webmaster, I would like to be able to have a block on a page that disappears on scroll to feature VERY important information.

Example: https://tippie.dev.drupal.uiowa.edu/

# Proposed Solution

[2021-07-15 21:01] joewhitsitt commented on #3810
what should the site name be?

[2021-07-16 12:20] briand44 opened #3816 "Ability to display more than 50 events"
# Story

As a user of the University Events system, I would like to be able to display more than 50 events on my website at a given time.

# Proposed solution

[2021-07-16 12:33] briand44 opened #3817 "Bug when paging through images in media library"
# Problem
When adding an image through WYSIWYG, if you search by a string and then remove the search string and try to page through the image library, the search string gets applied after paging.

# Steps to reproduce
Click to add media in WYSIWYG
Enter a string to search images in media library and click apply filters
Remove search string and click apply filters
click to navigate to the next page

[2021-07-16 12:41] pyrello opened #3818 "ListBlock class doesn't respect custom filter identifier"
# Problem
When building a view, there is an option with exposed filters to choose a custom identifier for the filter (which gets used as the query key when the form is submitted). Our custom ListBlock display plugin does not respect this functionality and builds the form incorrectly when a custom identifier is used.

![Screen Shot 2021-07-16 at 7 30 10 AM](https://user-images.githubusercontent.com

[2021-07-16 13:44] joewhitsitt commented on #3755
Reached out to Jay to see if we could get the building names data in another format that would help the issue (e.g. point instead of polygon data).

[2021-07-16 14:12] mjoneill commented on #3810
I will work on the GA for this today and am available to help Alex for anything.

[2021-07-16 14:24] richardbporter commented on #3816
#3809

[2021-07-16 14:24] #3816 closed, assigned to nobody

[2021-07-16 14:25] richardbporter commented on #3809
Requested by education.

[2021-07-16 15:04] #3723 closed, assigned to dnkemper

[2021-07-16 15:04] #3783 closed, assigned to dnkemper

[2021-07-16 15:07] joewhitsitt opened #3819 "Update person: view revisions permission"
Editor and publisher are missing view revisions permissions.

<img width="1002" alt="Screen Shot 2021-07-16 at 10 06 58 AM" src="https://user-images.githubusercontent.com/4663676/125968959-a2586f66-8926-4a71-a4ef-f518cf77b603.png">

## Proposed Solution

- [ ] Update editor and publisher permission config/splits to match article and page permissions for view revisions.

[2021-07-16 15:38] richardbporter commented on #3302
The idea for this was based on the Dispatch integration done for www.facilities.uiowa.edu on uiowa702. The admin form is here: https://www.facilities.uiowa.edu/admin/config/services/facilities-alerts-emails I don't think we need all the other fields right now, just the API key. There are more code examples in the facilities_alerts module of that site.

[2021-07-16 15:45] richardbporter commented on #3302
We're not sure what endpoint to use to get this signup form.

[2021-07-16 15:54] joewhitsitt opened #3820 "Re-Scope SiteNow Site Request Form Validation"
# Story

As a support role, I want to be able to adjust webform submissions after the domains have been provisioned.

There have been a few situations where we need to change the request type or update a submission with the final domain which then runs into the URL already exists validation.

Examples:

- Importing submissions
- Fixing request type misclassification

# Proposed solution

Scope the

[2021-07-16 16:58] GaryRidgway commented on #3302
So I looked in to styling iframes and it looks like it might be a security issue to style iframes. should we create a stylesheet for Michael to serve with a custom version of the form?

[2021-07-16 17:01] pyrello commented on #3804
I updated the instructions to be much more detailed. Good luck, @dnkemper!

[2021-07-16 17:03] dnkemper commented on #3804
Thank you so much for walking through it with me and for your help, @pyrello 🥳

[2021-07-16 17:09] bspeare commented on #3302
Maybe we can just set up the form as the first slice and work on the styling as a follow-up issue?

[2021-07-16 18:38] richardbporter commented on #3302
I think thats why I did not style the form on https://sitenow.uiowa.edu/. I remember some wonkiness embedding that as well. If I understand this correctly, I think we'd have the same issue if there was an API endpoint that returned markup - we'd still have to embed it.

I would vote for constructing the form ourselves. The first slice could be just the email field, maybe first/last name as well. C

[2021-07-16 20:57] bspeare commented on #3810
The landing page is complete: https://bam.sites.uiowa.edu/.

[2021-07-16 20:57] #3810 closed, assigned to nobody

[2021-07-16 21:19] joewhitsitt commented on #3810
Bam! 🥳

[2021-07-16 21:30] #3812 closed, assigned to nobody

[2021-07-16 21:30] #3818 closed, assigned to nobody

[2021-07-16 21:32] mjoneill commented on #3810
BAM BAM!

[image: image.png]

On Fri, Jul 16, 2021 at 4:19 PM Joe Whitsitt ***@***.***>
wrote:

--
Michael J. O'Neill

I'll admit to evidence of my presence at the following locations:

Twitter <http://twitter.com/mojoneill>
LinkedIn <http://www.linkedin.com/pub/michael-o-neill/2/89/691>

[2021-07-16 21:42] GaryRidgway commented on #3302
the base of this module should not be ready, there is still some stuff up in the air on  what we will display and how it is displayed, but a good first stab should be ready.

[2021-07-16 22:14] mjoneill opened #3828 "Hamburger Menu appearing in mobile view even when there are no child items"
On bam.sites.uiowa.edu I noticed that the hamburger menu was appearing in mobile sizes even though there are no menu items to display.

![needless-hamberber](https://user-images.githubusercontent.com/7144234/126013684-fafae56a-b227-4a0d-97c0-37f960920be7.jpg)

[2021-07-16 22:45] mjoneill commented on #3810
@mark-bennett-uiowa I don't know if you picked up on this story, but because Robert is a member of the Classics dept, I shot Nic and Lance a note explaining that we worked with him to pivot his site for this weekend's CNN show, etc...

[2021-07-19 13:57] joewhitsitt opened #3831 "SSL - studentlegal.uiowa.edu on uiowa02"

[2021-07-19 14:39] richardbporter commented on #3831
Related #3824. Not sure if that SAN exists in a cert but if so, it can be removed.

[2021-07-19 14:40] joewhitsitt opened #3832 "Signage - Limit Available Scheduling Rooms"
# Story

As a digital sign maintainer, I would like to see a reduced list of rooms available for scheduling since several existing rooms no longer are scheduled.

See "New Event Widget for Signage" email from jessica-church@uiowa.edu - Tue 6/29/2021 1:03 PM

# Proposed solution

- [ ] Limit the options to just these rooms. [IMU_rooms_Drupal.txt](https://github.com/uiowa/uiowa/files/6841777/IMU_roo

[2021-07-19 14:40] richardbporter commented on #3302
Another consideration is that an embedded signup form includes a title. We'd need them to hide it if we wanted to allow people to set a title in LB.

[2021-07-19 14:52] joewhitsitt commented on #3831
I think there is a wildcard for *.studentlife.uiowa.edu. @quamsta do you know of other sites that will be at *.studentlife.uiowa.edu in the near future?

[2021-07-19 16:19] joewhitsitt commented on #3755
Jay suggested using the active buildings' name property instead. Handles the offset issue but duplicates labels based on the number of instances used to create a building polygon. I think it looks better, but I am wondering the history behind the decision to use a different dataset.

[2021-07-19 16:59] quamsta commented on #3831
@joewhitsitt we have three more sites at *.studentlife.uiowa.edu that we may move over in the near(ish) future, but they're a bit further down our migration list:

slc.studentlife.uiowa.edu
awards.studentlife.uiowa.edu
sds.studentlife.uiowa.edu

And one (a big intranet project website) that I'm not sure when we'll migrate:
connect.studentlife.uiowa.edu

although it may be a while before we get to

[2021-07-19 17:23] joewhitsitt commented on #3831
Okay. I think for now we should leave the wildcard cert for studentlife in there.

[2021-07-19 17:41] joewhitsitt commented on #3755
Changed labels to use the active building layer data and published. Building names are definitely more on point but there might be a downside I am missing. Will wait for folks to notice and comment. Done for now.

[2021-07-19 17:41] #3755 closed, assigned to joewhitsitt

[2021-07-19 20:54] joewhitsitt commented on #3831
SSL is done.

[2021-07-19 20:54] #3831 closed, assigned to joewhitsitt

[2021-07-19 21:04] richardbporter commented on #3499
We got kinda lucky with Panopto in that we discovered a public thumbnail URL to use for the media thumbnails. We should probably be using the API to get that and ideally the video title. I'm not seeing  that for this service which makes finding/re-using this media difficult.

[2021-07-19 21:27] joewhitsitt commented on #3499
Rick and I had a slack conversation and I wanted to capture a few points here:

- Our battle with previews could be reduced with placeholders like we used to have for Twitter tweets, etc.
- Not valuable as media entities without additional metadata. Could collect more info besides URL though.
- CKEditor plugin needs iframes to be allowed to work...
- I didn't love the UX for that iframe module we

[2021-07-19 21:56] richardbporter commented on #3499
Yea I don't like the UX either. I think people will be annoyed having to split out a copy/paste of iFrame code into separate fields. That seems like a bigger issue than the module not having a media library form or any way to limit the allowed URLs.

[2021-07-20 13:57] richardbporter commented on #3499
It seems like because of the filtered HTML, we either use the generic media embed or a custom block. I guess the question is if these "generic embeds" would be useful to have in the media library. I'm not so sure they would be but if that is the route we take with oEmbed providers than maybe it'd be good to be consistent?

[2021-07-20 14:49] bspeare commented on #3767
I think if you add this to https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/components/banner.scss#L187 it should fix the issue.

[code]

[2021-07-20 15:07] richardbporter commented on #3499
I was actually able to add the `iframe` element to the allowed tags of the Filtered HTML text format and it worked.

I don't think it is useful for this type of embed. This is what oEmbed is for as the standard allows us to grab metadata to store along with it. It seems like site editors sharing embed videos more than once would be more inclined to copy/paste the embed code again rather than go lo

[2021-07-20 15:14] richardbporter commented on #3499
I'm really curious about allowing iFrames in filtered HTML. I wonder if we could use the Filter API to validate the `src` is from an allowed set of values we maintain and then strip it if not. That is not great UX but that is how it works right now - if someone copy/pastes an iframe into the source, it gets stripped with no messages.

https://www.drupal.org/docs/8/api/filter-api/overview

[2021-07-20 15:35] #3445 closed, assigned to bspeare

[2021-07-20 16:52] bspeare commented on #3617
Another thing we could rename is the `Vertical align: start` style on sections to a more user-friendly label like `Remove equal height spacing`.

[2021-07-20 17:02] joewhitsitt opened #3836 "SSL - Multiple domains on uiowa"
mlk.uiowa.edu on uiowa
rvap.uiowa.edu on uiowa
iowahousehotel.uiowa.edu on uiowa
homecoming.uiowa.edu on uiowa

[2021-07-20 17:16] bewoldt commented on #3273
@bspeare Here is an rough example codepen. https://codepen.io/bewoldt/pen/QWvWMay

[2021-07-20 17:18] bspeare commented on #3273
@bewoldt thanks for adding that!

[2021-07-20 17:35] #3813 closed, assigned to nobody

[2021-07-20 17:37] #3767 closed, assigned to makurj

[2021-07-20 18:10] joewhitsitt commented on #3786
i wonder if it would be easier and less human error if we pushed out an empty feature split. turned it on in grad and then moved things into it so the normal deployment just runs

[2021-07-20 18:13] bspeare commented on #3576
Closing this since the work is happening in https://github.com/uiowa/uids/pull/584.   Once the work is done in UIDS we should create a follow-up issue in `uiowa` to plan out the work to implement the UIDS solution.

[2021-07-20 18:13] #3576 closed, assigned to nobody

[2021-07-20 18:21] briand44 opened #3837 "As a website owner/operator, I have an Areas of Study tool that allows me to search filter degrees/programs (like we see on the Admissions site) and link off to a page of my choosing."
As a website owner/operator, I have an Areas of Study tool that allows me to search filter degrees/programs (like we see on the Admissions site) and link off to a page of my choosing.

## Proposed Solution

Continuing in https://github.com/uiowa/uiowa/pull/3926

- [x] audit sites using areas_of_study split
- [x] see what functionality in areas_of_study split is worth keeping
- [x] move what is not

[2021-07-20 18:22] bewoldt commented on #3274
<img width="1237" alt="Screen Shot 2021-07-20 at 1 20 11 PM" src="https://user-images.githubusercontent.com/731952/126375629-576c1ca2-c112-4a69-baf1-c034f23b65ad.png">

[2021-07-20 18:23] joewhitsitt commented on #3837
Previously I think there was discussion about reclaiming the feature split and move everything existing to admissions only? wasn't grad using this?

[2021-07-20 18:24] bspeare commented on #3274
@bewoldt Thanks for posting that.   It looks like we are heading in that direction based on https://github.com/uiowa/uiowa/issues/2727#issuecomment-833609092.

[2021-07-20 19:10] joewhitsitt commented on #3801
create a site folder https://iowa.sharepoint.com/sites/CSI-Drupal2/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2Fsites%2FCSI%2DDrupal2%2FShared%20Documents%2FGeneral%2Fsite%2Dbackups&FolderCTID=0x0120002F9851D81A9B1E4DB63DA70E38793599

[2021-07-20 19:10] mjoneill commented on #3837
Prospective undergrad insterested in studying Jazz. Here is some information they might consume:
* https://stories.uiowa.edu/iowa-nations-next-hotbed-jazz
* https://catalog.registrar.uiowa.edu/liberal-arts-sciences/music/#programstext
* https://admissions.uiowa.edu/academics/music
* https://music.uiowa.edu/future-students/undergraduate-students-areas-degrees/jazz-studies-bm
* https://music.uiowa.e

[2021-07-20 19:22] makurj commented on #3314
I would like to pair on this.

[2021-07-20 19:26] joewhitsitt commented on #3828
https://www.drupal.org/project/superfish/issues/3059268

[2021-07-20 19:56] mjoneill commented on #3837
Arizona offers a nice mix of a similar tool in use across admissions + at the college level:
* College of Education Finder: https://coe.arizona.edu/majors
* Admissions: https://www.arizona.edu/degree-search/
* https://www.arizona.edu/degree-search/majors/early-childhood-education
* https://coe.arizona.edu/programs/early-childhood-education-bae

@ABoston88

[2021-07-20 19:58] bspeare commented on #3828
This is also an issue for the "Toggle Navigation" on desktop.  Perhaps we could just run a check for menu items in the template before rendering the `{{ content }}`?

[2021-07-20 20:29] joewhitsitt commented on #3828
Is the template flexible enough if this doesn't exist?

[2021-07-20 20:32] bspeare commented on #3828
Yes, it will still look ok if the block doesn't render.

[2021-07-20 20:35] joewhitsitt commented on #3837
Looks like a lot was captured already here: https://github.com/orgs/uiowa/projects/1#card-59038297

[2021-07-20 21:25] mjoneill commented on #3837
This slice is not scoped to solve for streaming content from canonical sources.  That's going to be a much bigger and more complex conversation around content governance and authorship that we'll have to sort through...but I do believe this is a direction we'd like to head in when we have the opportunity.  Right now, having locally managed content in such a tool is a win.

[2021-07-21 13:35] e-marie-w commented on #3792
(Putting this here until I know what 'other to-dos' of #1803 are done)
Conversion tool seems to be working fine for most part. Here's the only things I've found so far:
- Events - converting a page with this paragraph style will give me an error. However, the v3 draft was successfully created when I check revisions.
- Background images - in V2 you can set a background image for a section. After co

[2021-07-21 14:45] mjoneill opened #3839 "As a visitor to uiowa.edu, I can read the university's mission, vision, and values."

[2021-07-21 15:08] quamsta opened #3840 "Add Content Button in Main Admin Navigation"
# Story

As a content editor, I want to be able to initiate the process of creating a new piece of content (page, article, person profile, etc.) with one click instead of clicking "Content" and "Add Content," saving time and effort, and possibly eliminating some confusion on how to create a new piece of content.

I believe this would also encourage the creation of new content on websites and reduc

[2021-07-21 15:10] joewhitsitt commented on #3499
I like the idea of this being a "secret menu" type of thing with more specific allowed sources. Wonder if we could hide or alter the iframe tag showing in /filter/tips as well. If we are going forward with #3838 could we ignore the allowed sources and create a UI for adding/removing them so that we can easily add site specific ones?

[2021-07-21 15:24] briand44 opened #3841 "Admissions print kiosk"
Admissions would like a print kiosk so people who come in can choose to print the pdf's for whatever Areas of Study they are interested in rather than Admissions pre-printing lots of these.

# Additional Info
Some Intro text
List of Areas of Study with checkboxes to select one or more
Big print button
when click print, it just prints - no additional dialogues, can print multiple at once
not indexe

[2021-07-21 15:46] briand44 opened #3842 "Graduate Admissions site"
Grad Admissions would like an Areas of Study content type that has similar fields to the existing Grad Admissions site (https://iowa.sharepoint.com/:w:/r/sites/CSI-Drupal2/_layouts/15/Doc.aspx?sourcedoc=%7B611D3AB0-35BC-4BB4-A703-71548F2D1778%7D&file=AoS_Fields.docx&action=default&mobileredirect=true).

There is also another content type for Estimated Costs (similar to transfer tips on admissions)

[2021-07-21 15:48] e-marie-w commented on #3792
Event paragraph convert error:
`Error message
Notice: Trying to get property 'value' of non-object in sitenow_p2lb_process_paragraph() (line 651 of modules/custom/sitenow_p2lb/sitenow_p2lb.module).
sitenow_p2lb_process_paragraph(Object, Object) (Line: 217)
sitenow_p2lb_process_section('1625', Object, Object) (Line: 58)
sitenow_p2lb_node_p2lb(Object) (Line: 36)
Drupal\sitenow_p2lb\Plugin\Action\Con

[2021-07-21 15:58] joewhitsitt opened #3844 "Bulk moderation permissions are not set for all splits"
# Problem
Following up from https://github.com/uiowa/uiowa/pull/3622 and https://github.com/uiowa/uiowa/pull/3566, permission splits (besides admissions) were not setup to allow webmasters/publishers to perform bulk moderation actions as it relates to moderation.

# Steps to reproduce

As a webmaster on sandbox.uiowa.edu try the publish latest revision on a piece of content that has a draft versio

[2021-07-21 16:21] mjoneill commented on #3839
Mission, vision, values document is here: https://iowaweb.slack.com/files/U3ZNGRC30/F028SGBVDEW/mission_vision_values.docx

[2021-07-21 17:35] richardbporter commented on #3499
I assume that would be possible but we may want to version it for visibility and a clearly defined deployment process for reviewing the security, a11y and design of the allowed sources.

One downside to this approach is we'd probably need one class to style all of these embeds. Some might be videos but some might not be. It is probably possible to extract part of the `src` and use as a class. Righ

[2021-07-21 17:37] briand44 commented on #3314
Hancher is interested in this functionality for a timeline of their 50 year history. Some notes from them:

- Needs to be visually rich and inviting to interact with
- Ability to see the whole timeline at once
     - Maybe this could be done by creating one graphic for the whole thing, one graphic for each decade, one graphic for each year, and one graphic for each entry
- Ability to zoom in on se

[2021-07-21 17:37] richardbporter commented on #3393
If #3838 is the route we take, we could ensure a title is set in that filter.

[2021-07-21 17:52] richardbporter commented on #3499
I'm looking for another domain to test #3838 with. I see #3415 but that uses oEmbed. I'm not in favor of #1689 and the admissions ones all seem to have JS and/or CSS associated with it. If this is the only non-oEmbed that only requires an iframe, should we just embed it for them?

[2021-07-21 17:54] joewhitsitt commented on #3499
grab a map from google maps

[code]

[2021-07-21 18:11] richardbporter commented on #3499
Is that on-brand? Should we support that?

[2021-07-21 18:53] joewhitsitt commented on #3499
thought you were just testing. i know folks have requested them and that we don't have a solution.

[2021-07-21 18:54] richardbporter commented on #3499
Yea good call. Trying it out now.

[2021-07-21 20:00] cory-skeers opened #3847 "Update grad_person_extended display configs"
# Story

As a visitor to https://amcs.uiowa.edu/graduates and individual graduate pages, I want to see certain details such as current position in the profile teasers and full pages.

(Five fields were moved into the grad_person_extended split as work in #3789, and while these fields are available to editors, they are not currently used in the display.)

# Proposed solution

[2021-07-21 22:00] e-marie-w commented on #3792
~Noticed problem with converting carousels to v3. When the carousel is in a two column section it disappears from the v3 layout builder. I think it's because slider blocks can only exist in one column sections. Carousels in one column sections do correctly convert to sliders in v3 layout builder.~

Other issue is that regardless of whether it disappears or turns to a slider in layout builder, it s

[2021-07-22 14:00] richardbporter commented on #3499
I'm second guessing the approach in #3838 now. Since we have to wrap these in divs to style them, the media system gives a theme-able way of doing that. It also allows placing them in the CKEditor easier and moving them around WYSIWYG style.

Could we consolidate our media types somehow? Maybe rename remote video to oEmbed?

[2021-07-22 14:32] joewhitsitt commented on #3844
moving to top of backlog (under line) per PO's comment

[2021-07-22 14:37] joewhitsitt commented on #3499
I think remote video should stay as-is. Label could be changed to oEmbed video, but that is technical jargon an editor doesn't know about. A lot of styling is set for that to be 16:9 and responsive.

I think I would be interested in consolidating the other oEmbed objects (twitter, facebook, instagram, etc.) but that seems like a lot of work just to reduce buckets for the editor and then we would b

[2021-07-22 15:02] richardbporter commented on #3499
What was the preview issue? The WYSIWYG preview in #3838 does not look good since the wrapper div is not added yet.

[2021-07-22 15:06] joewhitsitt commented on #3499
previews for the media entities have just been troublesome in general (styling for in wysiwyg, retrieving a still frame, etc.)

[2021-07-22 15:36] joewhitsitt commented on #3836
Done.

[2021-07-22 15:36] #3836 closed, assigned to nobody

[2021-07-22 16:01] #3302 closed, assigned to GaryRidgway

[2021-07-22 16:07] e-marie-w commented on #3792
Correction: Carousels in one column sections SOMETIMES correctly convert to sliders. Apparently clicking the Layout tab before you've converted the page to v3 stops it from converting correctly.

[2021-07-22 18:21] joewhitsitt commented on #3832
Question out to Jessica and others to see if is "possible for the list of rooms to be limited on the Mazevo side"

[2021-07-22 18:44] cory-skeers opened #3854 "Limit Articles block results to a timeframe"
# Story

As a site visitor, I only want to see news if it is recent, so that I may keep my focus on the most current, relevant information.

# Proposed solution

Add an extra field to the Articles block allowing a site editor to specify a timeframe, and limit results to only those items that are recent enough to fall within that timeframe.

Additionally, may want an option to limit the timeframe w

[2021-07-22 18:45] bspeare opened #3855 "As a site builder, I can build layouts built with grid layout instead of flex layout"
# Story

As a site builder, I can build layouts built with grid layout instead of flex layout so that I can take advantage of the `column-gap` property because it has better browser support.

Recent work on https://github.com/uiowa/uiowa/pull/3826 has surfaced our need to switch to grid layout instead of flex layout.  Our current flex layout solution is unable to use the `column-gap` property beca

[2021-07-22 18:57] e-marie-w commented on #3792
Update: the main issue is actually captions/headlines. If the carousel items have something in the caption field they convert fine, regardless of if they're one column or two column or three column. The caption fields correlates to the headline field in the slider slides. This headline field is required to save the slide. Captions on carousel items are not required.

So, possible solutions, off th

[2021-07-22 19:08] joewhitsitt opened #3856 "Deprovision sabharwal.lab on 701"
https://sabharwal.lab.uiowa.edu/ launched on uiowa02

[2021-07-22 20:02] mjoneill commented on #3839
Adding @ABoston88

[2021-07-22 20:04] #3387 closed, assigned to dnkemper

[2021-07-22 20:07] dnkemper commented on #3387
As Cory stated, Law is not using SiteNow Articles for /news. They configured SiteNow Articles to display at the /news path but also created a basic page at the /news path which is creating the "bug". So since both exist at the same path, there are conflicts with the article links (/news/2021/04 etc) not linking up to the correct ‘/news’ path. Manually changing the block URL path to something other

[2021-07-22 20:48] bspeare opened #3857 "As a webmaster, I can implement sticky headers on my responsive tables"
# Story

As a webmaster, I can implement sticky headers on my responsive tables

Once https://github.com/uiowa/uids/pull/584 is completed, we will need to integrate the option for applying the sticky header class `table-sticky` to the wrapping div around the table.

The current responsive solution is being managed through the `responsive_table_filter` module and added here: `/admin/config/content/

[2021-07-22 20:55] joewhitsitt commented on #3856
Done. Spreadsheet updated. commit 8f3ee79272828eaceaeaa3b18d53f834adbc5f08

[2021-07-22 20:55] #3856 closed, assigned to joewhitsitt

[2021-07-23 14:31] joewhitsitt commented on #3499
I am going to pull down and review the UX for this, but I did some reading about iFrames.

looks like we mitigate quite a bit by setting the allowed list for src and stripping other attributes. since we are only allowing certain sources we could review what each of those "needs" to function and use the sandbox attribute to block the possibility of anything else: https://www.html5rocks.com/en/tutor

[2021-07-23 15:11] richardbporter opened #3860 "Webform select element link to predefined options results in 403 for non-admins"
# Problem
The webform select and select or other elements include a link to edit predefined options in the option form field description. Non-admins do not have access to this and it results in an Access Denied error for them.

# Steps to reproduce
Masquerade as a non-admin. Build a webform. Add a select list. Click predefined option link in options form field description.

![image](https://user-i

[2021-07-23 16:12] e-marie-w commented on #3792
I mentioned issues with visiting layout builder before converting to v3, I'm examining it in-depth now.

### For every paragraph style:
If you visit layout builder BEFORE converting to v3 but DO NOT SAVE in it, once you have converted to v3 and go back to layout builder it will tell you you have unsaved changes and it will resemble the v2 block if you click configure. If you click 'Save Changes' l

[2021-07-23 19:13] richardbporter commented on #3286
Sounds like multiple directories are needed so we'll need to refactor #3644 to handle multiple configurations. We talked about using a custom block but decided that would be too complicated, at least initially. This means the limitation of multiple directories is that they must exist at separate paths.

I would propose nesting the `uiowa_profiles.settings` config under a top level collection of `d

[2021-07-23 21:44] e-marie-w commented on #3792
Not convinced the converted and published v3 page is displaying right, I think it's instead still showing the v2 version. I've assembled a list of differences between the published page and layout builder, and included any problems I noticed.

- Cards: v2/published page with content in link field makes the entire card clickable to follow the link, layout builder adds a clickable button for the lin

[2021-07-24 17:22] pyrello commented on #3842
Yay!

[2021-07-26 14:08] #3819 closed, assigned to bspeare

[2021-07-26 14:08] #3844 closed, assigned to bspeare

[2021-07-26 14:34] cory-skeers opened #3865 "Make sure file (image) migrations are getting metadata"
# Story

If a file is imported without title/alt, the system defaults to "title" and "alt" which is not very usable for content editors or end site visitors.

Sitenow Migrate should be looking for these as part of the migration. If they are not found and/or there is an error, it should use a reasonable default, such as filename for usability.

# Proposed solution

Check the migration logic for fil

[2021-07-26 17:03] pyrello opened #3867 "Investigate: Publishing content in multiple languages"
# Motivation
The WhitmanWeb (IWP) site contains a body of work by Walt Whitman which has been translated into multiple languages. The funding for this project requires that each translated version of each piece of content be accessible at a different URL. The funding has also paid for the content translation, so we do not need to rely on automated translation solutions for this.

Some investigatio

[2021-07-26 17:08] pyrello opened #3868 "WhitmanWeb - Add writing content type with translation enabled"
# Motivation

As a follow-up to #3867, we need to actually implement the recommendations that come out of that investigation.

# Stories

* As a content editor for WhitmanWeb, I can publish pages with separate URLs for each translated version of a piece of content.
* As a content editor, I can group pieces of writing together in a collection and control the order in which they display.
* As a visi

[2021-07-26 17:59] richardbporter commented on #3828
Seems like the site now has menu items but they are all drafts so anonymous users don't have access to them. Not sure if that was the case initially or not.

[2021-07-26 19:28] joewhitsitt commented on #2396
The team discussed this today and from what I heard, the event date field should remain single for now. This is limited use functionality and we should strive to establish the structure that the web has defined. To solve for admissions only this field config could be switched and/or we can implement other features to satisfy requirements:

- event schedule text (long) field (to summarize long seri

[2021-07-26 19:39] e-marie-w commented on #3792
Now I'm looking at what happens if you go back to the edit tab after converting a page to v3. If you make changes and save them in the edit tab, it will show on the page because it's still displaying the v2 version. In layout builder, however, the page is still the same as when you converted it (or, if you made/saved changes in layout builder after converting it to v3, it's still that).

I assume

[2021-07-26 20:00] mjoneill commented on #3828
Yes, they unpublished almost all their pages prior to the first CNN episode.  They are continuing to work on them in an unpublished state, and will likely publish as they are ready, etc...

[2021-07-26 20:06] dnkemper commented on #3867
Since they're wanting to handle multiple instances of the same content in different languages, the translation modules available in core should be able to do the trick for this issue. Especially since they're okay with publishing them at different URLs. Solid!

[2021-07-26 21:23] e-marie-w commented on #3792
One last thing I'm not sure about. On a v2 page if I check layout builder I can see the "placeholder for the 'Main navigation' block" left column thing. And the published v2 page does not show me any child pages I have added. When I convert a page to v3 and publish it, I can then see the child pages in the left sidebar. But when I go to layout builder the placeholder is gone. So I'm confused if it

[2021-07-27 14:08] mark-bennett-uiowa commented on #3803
With @briand44 's help this was put into place by Jack Moeller last Friday. Can be turned on today when CS site goes live.

[2021-07-27 14:14] mark-bennett-uiowa commented on #3802
This can be done at any time after the CS site goes live today.

[2021-07-27 14:31] cory-skeers opened #3870 "Engineering media metadata"
# Story

As a content editor for engineering.uiowa.edu, I would like my previously migrated media content to have its D7 metadata and/or other unique metadata so that I can easily find my content, and have accessible alt text readily available for site visitors.

# Proposed solution

Check that affected media is easily findable in the D8 database by either null values in title/alt or default value

[2021-07-27 14:45] briand44 commented on #3625
We don't have a dispatch template for the follow up email communication if we don't hear back in two weeks. I just emailed Gina from my personal email and sent this message:

We sent an email a couple weeks ago letting you know we are reviewing the SiteNow service for inactive sites and we asked if the https://iexplorestem.org website is needed? Can you please respond to us by the end of the week

[2021-07-27 14:47] briand44 commented on #3625
I got a response and the site is still needed. Updated the spreadsheet. Marking this complete as all inactive sites on 702 have been communicated with. The 2nd email template can be created as part of the process for 703.

[2021-07-27 14:47] #3625 closed, assigned to bspeare

[2021-07-27 15:20] richardbporter commented on #3801
done

[2021-07-27 15:20] #3801 closed, assigned to richardbporter

[2021-07-27 15:30] #3499 closed, assigned to joewhitsitt

[2021-07-27 15:46] mark-bennett-uiowa opened #3871 "Cache clear required after SiteNow Migrate config form save"
# Problem
In running the CS custom migration script with @pyrello and @cory-skeers, I had originally put in the incorrect database name into that field:
![screen_shot_cs](https://user-images.githubusercontent.com/3067017/127183803-08c418a4-faa9-4654-b91e-4165e7686c64.jpg)
When I made the correction, saved the form, and ran another `drush @cs.prod ms`, the database name was still the previous incor

[2021-07-27 15:51] #3828 closed, assigned to bspeare

[2021-07-27 16:49] pyrello commented on #3871
I wouldn't consider this a bug, but rather a feature request.

[2021-07-27 17:43] #3786 closed, assigned to dnkemper

[2021-07-27 17:55] pyrello opened #3872 "Allow wildcard feature split status override"
# Motivation

When building a feature split, it is currently necessary to remember to add an entry to `config_ignore.settings.yml` to ignore the status of the split. With a naming convention in place, we could potentially use a wildcard to ignore all feature split statuses: `config_split.config_split.feature_*:status`.

# Proposed solution

* Refactor existing feature splits to use `feature_` at t

[2021-07-27 18:10] briand44 commented on #3683
would nice to have links to specific instances. Can remove grooming label once add links

[2021-07-27 19:01] joewhitsitt commented on #3649
Locally, be wary of emails. Reroute email and its email debug admin/config/system/its

[2021-07-27 19:03] joewhitsitt commented on #3685
auto entity label: admin/structure/types/manage/alert/auto_label

[2021-07-27 19:08] briand44 commented on #3314
Title, image, date, description, ability to link

[2021-07-27 19:09] briand44 commented on #3314
icon picker

[2021-07-27 19:10] briand44 commented on #3314
possible date range to showcase overlap in timeline

[2021-07-27 19:19] mjoneill commented on #3314
Some "timelines" in the wild on campus:
* https://stories.uiowa.edu/timeline-student-journalism-iowa
* https://www.iihr.uiowa.edu/history/
* https://medicine.uiowa.edu/anesthesia/timeline
* https://chem.uiowa.edu/graduate/for-prospective-phd-students/typical-timelines-for-phd-completion
* https://studentsuccess.uiowa.edu/timeline-initiatives
* http://webeye.ophth.uiowa.edu/ILEB/index.html

[2021-07-27 20:52] richardbporter commented on #3870
Looks like sitenow_migrate was already turned off in prod. Turning it back on locally does not get `drush ms` working.

[2021-07-27 21:07] briand44 opened #3873 "SSL Cert - www.dentistry.uiowa.edu on uiowa"
launching Aug. 17th

[2021-07-27 21:09] richardbporter commented on #3870
Scratch that: it does work but all migrations are marked as unprocessed which is unfortunate. I thought rolling back might be the best approach.

[2021-07-28 13:11] briand44 commented on #3803
DNS has been updated. Not sure if it has propagated everywhere but the redirect worked from my phone.

[2021-07-28 13:11] #3803 closed, assigned to nobody

[2021-07-28 13:40] #3870 closed, assigned to richardbporter

[2021-07-28 14:02] pyrello commented on #2396
I'm thinking about a design for this where we have a single event content type that can be created. If all you need is a single event, you need to do nothing more than fill it out. Additionally, it could have a reference field to another entity (fragment or possibly content) that represents an event schedule, which is optional, but could be used to represent the wider world of repeating events or

[2021-07-28 14:10] briand44 commented on #3761
iowastem.org has been validated.

[2021-07-28 14:40] richardbporter commented on #3873
The uiowa cert already has both *.dentistry.uiowa.edu and dentistry.uiowa.edu SANs so this should be good to go.

[2021-07-28 14:40] #3873 closed, assigned to nobody

[2021-07-28 14:45] briand44 commented on #3873
Thanks for verifying that. So why would we ever add a www domain to our SAN?

[2021-07-28 14:49] richardbporter commented on #3873
I'm not sure, I'd have to look into that. Its probably safer to only cover www and not all subdomains if that isn't required.

[2021-07-28 15:29] briand44 commented on #3499
Do these always display full width? If they wanted to embed a smaller size would they need to use layout builder and add it to a narrower column?

[2021-07-28 15:38] GaryRidgway commented on #3286
- [x] Validate every form
- [x] Make add button look like a tab???
- [x] Be able to remove profiles form instances
- [x] Generate multiple pages
- [x] Intro text TODO
- [x] Style these to look like tabs, because I think that will be the most clear
- [x] If there are already saved forms, be able to iteratively load them in to the config page
- [x] Save data from every form in instanced/indexed vers

[2021-07-28 15:47] cory-skeers commented on #3865
Couple notes on this: Engineering migration specifically used `processImageField`, `replaceInlineImages`, and `replaceInlineFiles`, in that order.

`processImageField` has been updated since that migration, so it's hard to say if there was an issue there or not without further digging.
Looking at the code, we should update this:
https://github.com/uiowa/uiowa/blob/907d836abe95b140916b5f64dd00847fd

[2021-07-28 16:08] richardbporter commented on #3499
Yes probably. Another option would be to specify a width/height does not meet our supported aspect ratios of 1x1, 4x3 or 16x9. I think if it doesn't match those it won't get the responsive classes added to it.

[2021-07-29 14:18] pyrello commented on #2588
@mark-bennett-uiowa Is this still something you are looking for? Or can I close this?

[2021-07-29 14:55] e-marie-w opened #3878 "P2LB to-dos for site self-transition phase"
# Problem #
#3792 revealed some bugs to fix before the p2lb module can be rolled out to customers wanting to self-transition their sites to v3

## Add
- [x] #6680
- [x] #6681
- [x] #5633
- [ ] P2LB - Create action to revert to V2 version of page
- [ ] Run P2LB to see what's what
- [ ] Investigate outstanding issues to see if they are still issues

Check on Brand
[code]

Check on HMB
[code]

## Fix

[2021-07-29 15:21] mark-bennett-uiowa commented on #2588
@pyrello Yes, unless we wanted to handle seminars/colloquia in Content Hub and the Events portal. Have you been successful in your work on this for the Grad College above?

The issue stems from private seminars (departmental audience only) vs public.

[2021-07-29 15:26] pyrello commented on #2588
We are pushing everyone into Content Hub. Here is an example on the AMCS site: https://amcs.uiowa.edu/amcs-seminars

I'm not sure I get your point about "private" seminars. If they are going to be posted on a public-facing website, then they are not private, even if the audience is more targeted. You can set the audience in Content Hub to be the program/department, I believe.

If you are going to

[2021-07-29 16:01] e-marie-w opened #3880 "P2LB to-dos for automated transition phase"
# Problem #
#3792 revealed the p2lb module needs some updating before we can auto transition a site to v3

## Things to fix/add ##
- [ ] Methodology of rollout? Update hook seems best option, needs to:
   - [ ] remove old paragraphs
   - [ ] remove previous node revisions
   - [ ] remove sitenow_v2 flags in sites' blt.yml file
- [ ] Update perms split? (discussion/clarification needed)
- [ ] Conte

[2021-07-29 16:02] ABoston88 commented on #3839
Making some styling adjustments, still. But this is now visible at: https://uiowa.edu/about-iowa

[2021-07-29 16:11] richardbporter commented on #3802
Done

[2021-07-29 16:11] #3802 closed, assigned to richardbporter

[2021-07-29 17:13] briand44 commented on #3697
- Migrate all articles created 9/9/2020 and prior (They manually moved over more recent ones).
- Map tags from old site (These do not need created, just mapped, as they manually created these).
- create redirects from old articles
- provide list of articles with internal links that will likely be broken

[2021-07-29 17:25] briand44 opened #3881 "Webform/MAUI Integration"
Proof of concept to submit a webform on Drupal and have that data post to MAUI.

Want the ability to pass in a reference code so they can track where this data came from.

Possible authentication needed to post to API.

Can Webform remote posts handle this? Is that the way we want to go?

Concerns about academic units using this information that don't align with campus recruiting efforts?

Is this

[2021-07-29 17:40] e-marie-w commented on #3792
Closing in favor of #3878 and #3880, which better organize the problems mentioned in comments here. Future work can be tracked on those issues.

[2021-07-29 17:40] #3792 closed, assigned to nobody

[2021-07-29 17:55] e-marie-w commented on #1803
Closing this as due to #3792 the remaining work is now organized in #3878 and #3880.

[2021-07-29 17:55] #1803 closed, assigned to nobody

[2021-07-29 18:20] richardbporter commented on #3286
I found myself clicking the Delete button accidentally while testing this. Might be good to make that red or something to differentiate it from the Save button.

[2021-07-29 18:22] richardbporter commented on #3286
That got me a few times as well.

[2021-07-29 18:40] GaryRidgway commented on #3286
I'll turn the delete button red then

[2021-07-29 20:41] dnkemper commented on #3624
I'm so down to trying to figure out how to implement this 😅  Might need @joewhitsitt's assistance when he gets back - but want to give it a shot

[2021-07-29 21:53] mjoneill opened #3885 "Launch tutor site"
Partner is hoping to launch tutor.prod.drupal.uiowa.edu on Friday (07/6/2021) morning (or move launch date to the following Monday.

The following has to happen.

**Pre-launch Support**
- [x] Help establish if the partner currently has Google Analytics on tutor.uiowa.edu.  I see this ID on some of the pages: UA-426753-42
- [x] Help partner access their existing Google Analytics for tutor.uiowa.edu

[2021-07-29 22:05] mjoneill commented on #3885
tagging @briand44 and @ABoston88 on this

[2021-07-29 22:11] briand44 commented on #3885
Thanks Michael, I have added the technical launch tasks as well.

[2021-07-30 14:14] mjoneill commented on #3585
@mark-bennett-uiowa we'd like to close this, but before we do, can you verify nothing cropped up after our recent updates (taht included update hook(s))?

[2021-07-30 14:40] e-marie-w commented on #3880
@briand44 making visible this was moved to backlog after standup.

[2021-07-30 14:40] e-marie-w commented on #3878
@briand44 making visible this was moved to backlog after standup.

[2021-07-30 16:46] richardbporter commented on #3286
One last thing to do is removing our canonical config and grabbing it from the new API endpoint whenever that is ready: https://git.uiowa.edu/java/profiles/-/issues/293

[2021-07-30 20:10] #3847 closed, assigned to nobody

[2021-07-30 20:26] #3865 closed, assigned to nobody

[2021-08-02 13:36] mjoneill commented on #3885
Tutor group has forwarded their GA account info to me.  This should clear impediments to getting them set up.

[2021-08-02 14:56] bspeare opened #3898 "People page table is not full-width when used as a simple list"
# Problem
People page table is not full-width when used as a simple list with name, title, and image.

# Steps to reproduce
https://pharmacyuip.prod.drupal.uiowa.edu/leadership-team

# Proposed solution
- Remove https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/views/view-display-id-people.scss#L38,

[2021-08-02 16:26] richardbporter commented on #3684
I have a script working on uiowa701. It can be run with `drush @sites php-script drush/inactive.php` after SSH-ing into the application and CD-ing up to the app root (`cd ..`).

It does not send an email by default, only outputs messages. The communication is in test mode right now.

[2021-08-02 16:28] richardbporter commented on #3684
I got about 229 inactive sites on uiowa701 compared with the 239 in the excel sheet. Sent test emails to its web.

[2021-08-02 17:17] briand44 commented on #3899
Sounds like they likely will want us to run the migration in production for the new site once they have a chance to review and sign off. They don't want to wait until close to launch because they want the extra time to make any updates needed and they don't have a lot of new articles being created.

[2021-08-02 17:18] briand44 commented on #3899
We will also want to double check title/alt and any other new changes to the migration scripts as part of this.

[2021-08-02 19:57] joewhitsitt commented on #3762
I think we can rule out RA. INRC.LAW reported the issue and 703 hasn't had an RA deploy recently...

[2021-08-02 20:03] richardbporter commented on #3684
This script is now available on uiowa701/2/3 prod. There is an environment set in each prod environment with the API key.

[2021-08-02 20:06] mjoneill commented on #3839
Reopened, hoping that @bspeare can take a look.  Seems like we have some vert-alignment opportunities, or perhaps more?

[2021-08-02 20:41] bspeare commented on #3839
@mjoneill @ABoston88 We would need to add a new banner style for aligning the text to the top of the banner to fix this alignment issue.  Right now the only options are centered and bottom aligned so this layout should probably use text areas or cards in order to align properly to the top.

I think we should also flip the styling on the Mission and Vision columns so that the right column has the g

[2021-08-02 20:51] bspeare opened #3900 "As a site owner, I can see the left aligned image as the default option for SiteNow People"
# Story

As a site owner, I can see the left aligned image as the default option for SiteNow People Lists.

Now that we have a default image, we should switch the default image alignment to left-aligned to match the approach used by the Directory profiles app.

# Proposed solution

- Change default People List block "Image Position: Left" instead of "Right"
- Update SiteNow people template to use

[2021-08-02 21:58] mjoneill commented on #3885
Can someone turn on Google Tag Manager capability for tutor.prod.drupal.uiowa.edu?

[2021-08-02 22:04] mjoneill commented on #3885
@briand44 do you have any examples of links to the dev side of the actual tutor application?

[2021-08-02 22:05] cory-skeers commented on #3885
@mjoneill I got GTM turned on.

[2021-08-02 22:18] mjoneill commented on #3885
I was able to wire up GA and GTM to the tutor.prod.drupal.uiowa.edu site & verify that analytics were streaming through. I have NOT created goals or set up event tracking for specific link clicks on the site (yet).

[2021-08-02 22:19] mjoneill commented on #3885
Brian, got it by being a better reader above: tutor-resources-test.its.uiowa.edu

[2021-08-02 22:29] mjoneill commented on #3885
I only found one link to tutor-resources-test.its.uiowa.edu. It's on the Search for Help button of the front page.

I've sent a note to the partner.

<img width="1180" alt="image" src="https://user-images.githubusercontent.com/7144234/127931500-0edc1409-c653-4309-b308-51a2d56f5ba5.png">

Also attaching the report results (showing one entry).  A little suspicious that there's only 1 link found...

[2021-08-02 22:32] mjoneill commented on #3885
Attaching a SF report for pages containing "drupal.prod".  @ABoston88 or @cory-skeers, can you take a look at this and see if it's noise or useful?  Share what's necessary with our partner if there are things that she should fix proactively.

[custom_search_prod_drupal_(contains).csv](https://github.com/uiowa/uiowa/files/6919931/custom_search_prod_drupal_.contains.csv)

[2021-08-02 22:42] mjoneill commented on #3885
I sent the following broken links report to partner.  Capturing here in case there are questions...

[client_error_(4xx)_inlinks.csv](https://github.com/uiowa/uiowa/files/6919948/client_error_.4xx._inlinks.csv)
[no_response_inlinks.csv](https://github.com/uiowa/uiowa/files/6919949/no_response_inlinks.csv)

[2021-08-02 22:46] mjoneill commented on #3885
I sent the attached spelling error report to our partner.

[spelling_and_grammar_errors.csv](https://github.com/uiowa/uiowa/files/6919959/spelling_and_grammar_errors.csv)

[2021-08-02 22:49] mjoneill commented on #3885
Screaming Frog identified no missing meta descriptions.  Did not evaluate existing Metas for quality, etc...

serp_summary_metadescriptions

[2021-08-03 12:33] adriennecoon commented on #3681
Here's the text we would like to display at the top of the page:
"The purpose of this page is to show the operational status over the last five days of most technology services on campus. To see beyond five days, please review the [Alerts Calendar](https://its.uiowa.edu/alerts/calendar).”

[2021-08-03 12:53] richardbporter commented on #3684
I've updated the script on uiowa701/2/3 prod envs to check DNS and accept a relative date argument. Here is what it produces on uiowa703 prod:

[code]

We can try different timeframes on uiowa701 later with: `drush @sites php-script drush/inactive.php '1 year ago'`.

I think this issue is done if we don't need any other changes to the script. I think updating https://its.uiowa.edu/support/article/

[2021-08-03 12:53] richardbporter commented on #3684
I wouldn't mind someone else trying this out before closing the issue.

[2021-08-03 12:58] adriennecoon commented on #3680
Here are the changes to the blue box:
Get Service Alerts (header)
[Subscribe to email alerts via listserv](https://list.uiowa.edu/scripts/wa.exe?SUBED1=HELPDESK-ALERTS)
[Subscribe to email alerts listserv via email command](mailto:listserv@list.uiowa.edu?body=subscribe%20HELPDESK-ALERTS)
[Subscribe to the ITS alerts RSS feed](https://its.uiowa.edu/alerts/feed)
[Find out more about RSS on the ITS w

[2021-08-03 13:32] quamsta opened #3902 "Missing FontAwesome icon on mobile Safari only in Superfish subnavigation"
# Problem
Missing FontAwesome icon shown in subnavigation only when viewing from a mobile device (Safari tested).

![superfish-icon-issue](https://user-images.githubusercontent.com/472923/128024390-73aa195d-7edf-4fcf-9691-10431bcd9d06.jpg)

# Steps to reproduce
On a mobile browser, expand the main navigation menu, and then expand a collapsible item in that menu and the first item (aka the clone of

[2021-08-03 14:04] bspeare commented on #3314
Here are a few page builder timeline demos:

https://getwid.getmotopress.com/blocks/content-timeline-block/
https://ultimateelementor.com/widgets/timeline/

[2021-08-03 14:49] joewhitsitt commented on #3684
This worked for me. Tested on uiowa701 with `2 year ago` and visited one of the identified sites to confirm the users had not been logging in. I got some warnings/errors related to domains/ssl.

[2021-08-03 15:24] pyrello commented on #943
Our current iteration of P2LB (#1976) converts pull quotes into text areas. If we truly want to pursue this as an option, we may want to consider doing it prior to launching the conversion tool, otherwise, we will likely lose the ability to know that something was intended to be a pull quote vs intended to be a text area.

[2021-08-03 16:10] briand44 commented on #3697
They said site is almost ready for launch but they are waiting on this migration.

[2021-08-03 16:11] mark-bennett-uiowa opened #3904 "As a developer, I can create a migration script for the Physics ITU site content to a new site."
# Story

As a developer, I can create a migration script for the Physics ITU site content to a new site. Currently not sure of the future domain name, but this needs to be moved away from the Physics website.

# Proposed solution

**Here is the 'Physics ITU' content type structure on the existing physics.uiowa.edu site:**

Title
Physics ITU Courses Category (field_physics_itu_category) - Term refe

[2021-08-03 18:05] pyrello opened #3906 "Add attachment file field to Thesis Defense"
# Story

As an editor, I can add a PDF to a Thesis Defense content item.

[2021-08-03 18:47] joewhitsitt commented on #3678
Postponed until https://github.com/uiowa/uiowa/issues/3501 is done

[2021-08-03 18:55] bspeare commented on #2972
Is this still an issue?  It looks like we have `word-wrap: anywhere` on the `card-description` that might take care of this:

<img width="1451" alt="Screen Shot 2021-08-03 at 1 55 59 PM" src="https://user-images.githubusercontent.com/1036433/128070604-ae5cfbcf-ecce-4613-8910-3110be33b0e6.png">

[2021-08-03 19:02] pyrello commented on #2972
I'm cool with closing this.

[2021-08-03 19:02] #2972 closed, assigned to nobody

[2021-08-03 19:37] cory-skeers commented on #3904
Menu structure's one thing we haven't worked with yet in migrations--generally it's been a process of migrating content in, and then manually setting up the menu after. For some migrations it's still been useful to get all the pages pulled in prior to the menu, unless it'd be useful to start from scratch in order to re-think the structure.

For the fields themselves, we should have a path availabl

[2021-08-03 20:35] pyrello opened #3908 "People in listings with multiple titles don't show titles on separate lines or with commas"
# Problem
People in listings with multiple titles don't show titles one separate lines or with commas.

# Steps to reproduce
See https://law.uiowa.edu/faculty-and-scholarship/meet-our-faculty

# Proposed solution
Adjust people card template to display multiple titles using new lines. Notify laura-kivlighan@uiowa.edu when this is fixed.

[2021-08-03 20:38] pyrello opened #3909 "Develop guidance and documentation as to reasonable limits on number of items listed on a page"
# Story

As a content editor I can view documented guidance on the maximum number of listed items to show on a page so that I don't create pages with insanely long lists on them.

# Proposed solution

Consult with team (especially @ABoston88) as to what would be considered an appropriate cutoff point for lists where they should become paginated.

[2021-08-03 20:49] pyrello opened #3910 "Add documentation about "Show as expanded" menu item option"
# Motivation

Since we made it so that the "Show as expanded" menu item option actually worked as expected, I have gotten multiple questions about why sub-menu items were not showing up as expected.

# Proposed solution

Write and publish documentation about this option to assist our site owners and editors with understanding how to use this feature.

[2021-08-03 21:03] #3902 closed, assigned to quamsta

[2021-08-03 21:13] #3764 closed, assigned to bspeare

[2021-08-04 14:33] #3684 closed, assigned to richardbporter

[2021-08-04 17:14] cory-skeers commented on #3766
Draft article created: https://sitenow.uiowa.edu/news/2021/08/updates-july

[2021-08-04 17:58] joewhitsitt commented on #3624
@briand44 is `Area of Practice` a separate field or would that be covered by education, research areas or bio?

[2021-08-04 18:36] joewhitsitt commented on #3837
To grab statuses on each application:
`./vendor/bin/blt ume "config:get config_split.config_split.areas_of_study status"`

Update: As far as I can tell, admissions is the only one using the feature split.

[2021-08-04 19:09] joewhitsitt commented on #3837
Here is the AoS feature default functionality. Quite more than what is necessary for this issue.

![default local drupal uiowa edu_node_add_area_of_study](https://user-images.githubusercontent.com/4663676/128240414-c34bec7d-fcf8-4b1a-ba91-2ea5e33a7fd9.png)

[2021-08-04 20:09] bspeare commented on #3697
@briand44 On the D7 site they are using the "tags" field and also have a custom entity reference to a content type called "Featured Program", do you know whether they want one or the other migrated?

[2021-08-04 20:22] briand44 commented on #3697
I know they wanted to map the tags, they have already created them so those just need mapped not recreated. I'm checking on the programs... cc'ing you.

[2021-08-04 20:29] pyrello opened #3913 "Immunology - Why are new students not showing up in Students list?"
# Problem

New people of person type Student have been added to the site but they are not showing up on this list:

https://immuno.grad.uiowa.edu/people/students

[2021-08-04 22:29] mark-bennett-uiowa opened #3915 "Is new uiowa01 SSL cert working? Can we deactivate old cert and remove unneeded CSRs?"
Is new uiowa01 SSL cert working? Can we deactivate old cert and remove unneeded CSRs?

There are two active certs and several CSRs lingering around that application.

[2021-08-04 22:34] mark-bennett-uiowa opened #3916 "Provision new itu.physics.uiowa.edu site to replace physics.uiowa.edu/itu subsite."
Provision new itu.physics.uiowa.edu site to replace physics.uiowa.edu/itu subsite.

This course subsite is nested within the old physics.uiowa.edu site and is preventing launch of the new D9 physics.uiowa.edu site. Provisioning a new site for migration and replacement of the course subsite.

[2021-08-04 22:46] #3916 closed, assigned to nobody

[2021-08-05 13:58] #3286 closed, assigned to richardbporter, GaryRidgway

[2021-08-05 18:38] dnkemper opened #3921 "Add "Add..." verbiage to the SiteNow Directory Profile module "+" button 🤷‍♀️"
Display "`+ profile directory`" or  "`Add..`." instead of just "`+`" so users know exactly what they're adding/creating. 🤷‍♀️

[2021-08-05 19:06] mark-bennett-uiowa commented on #3915
Cleaned this up this morning. Closing.

[2021-08-05 19:06] #3915 closed, assigned to mark-bennett-uiowa

[2021-08-05 19:33] pyrello opened #3922 "SPPA - Create private page content type"
# Motivation

SPPA has a career services manual that was previously only available to logged-in students. That page is not publicly visible. https://sppa.prod.drupal.uiowa.edu/student-resources/career-services-manual

# Story

As an SPPA site owner I want to be able to create page content that is only viewable by logged-in users.

# Proposed solution

- Add a "Private page" content type that is li

[2021-08-05 19:41] joewhitsitt commented on #3922
core page or our layout builder page?

[2021-08-05 20:23] bspeare opened #3923 "Add `click-target` to admissions counselors and student profiles views"
# Problem
After the work in https://github.com/uiowa/uids/pull/552, the admissions and counselor views are not entirely clickable because they don't have the `click-target` class on the `<a>`.

# Steps to reproduce
Try clicking on an image at https://admissions.uiowa.edu/counselors.

# Proposed solution
- Update view title `<a>` to have the the `click-target` class.
- Review other views on grad co

[2021-08-06 13:30] bspeare commented on #3314
It seems like setting up a timeline similar to https://ultimateelementor.com/widgets/timeline/ using the card template makes the most sense for what we need.

- Image
- Icon picker
- Title
- Date
- Description
- Link
- Timeline position - left or right
- Card alignment and styles options from card block

If we could group these cards by year, it would be pretty cool to use @GaryRidgway's viewbook

[2021-08-06 13:54] richardbporter commented on #3675
We should figure out a path forward with SiteNow Migrate as part of this. If connecting to a Cloud IDE environment works, that would be ideal.

[2021-08-06 14:07] mjoneill commented on #3885
Checked robots.txt.  Seems to have not been updated. Reading:

Will make visible in parking lot

[2021-08-06 14:39] richardbporter commented on #3314
Can we just alternate left/right and skip this?

[2021-08-06 14:44] briand44 commented on #3314
I am fine with that as part of this first slice.

[2021-08-06 15:12] bspeare commented on #3314
I updated the proposed solution based on our conversation this morning.  Please take a look and add comments or edits if I missed anything!

[2021-08-06 15:52] briand44 commented on #3683
https://its.uiowa.edu/alerts
http://its.uiowa.edu/alerts/calendar

![Screen Shot 2021-08-06 at 10 50 05 AM](https://user-images.githubusercontent.com/1017022/128537465-98d4e7a7-13d0-4a27-8dbe-20648b25b258.png)

@adriennecoon any other specific links to places where am/pm is being output inconsistently?

[2021-08-06 18:18] dnkemper commented on #3624
@briand44 @joewhitsitt do you have an idea what page they were wanting to implement this on? Not sure what communication may have taken place and for some reason thought it was listed in issue

[2021-08-06 18:24] bspeare commented on #3314
It looks like @pyrello has an issue out there (https://www.drupal.org/project/lb_direct_add/issues/3098555) allowing `lb_direct_add` to exclude blocks from the initial menu, so maybe we don't need to build this block programmatically?

[2021-08-06 18:37] joewhitsitt commented on #3624
Ah, I forgot that Brian said something about the contact being on leave. I would just make sure the the blocks are available for webmasters to place for right now unless Brian knows the answers these questions:

- Can Area of Practice be captured in another field or does it need a separate field?
- Where should the map/listing be placed?

[2021-08-06 18:52] briand44 commented on #3624
I don't have those answers and yes, the contact is out. Yeah, just make sure the blocks are available for webmasters to place. I will reach out to customer with the remaining questions and follow up once I hear back.

[2021-08-06 19:13] dnkemper commented on #3624
Thank you so so much, @briand44

[2021-08-06 19:14] #3906 closed, assigned to dnkemper

[2021-08-06 20:10] joewhitsitt commented on #2629
HR would like to retain unit contact information block would be open to placing this outside of main content.

They will work on manually converting faqs to accordions but we might want to just style it temporarily to move things along.

They will find new homes for related content links, and during the transition they will find a new home in the main menu for multi-level footer links.

Is there a

[2021-08-06 20:13] richardbporter commented on #2629
Like, in general? Or is something broken specifically with the HR site in dev?

[2021-08-06 20:16] joewhitsitt commented on #2629
I rebuilt dev the other day and lost the feature branch for HR.

[2021-08-06 20:19] richardbporter commented on #2629
Gotcha. Any time we rebuild develop from main we have to re-merge any feature branches we want on there, probably before pushing it.

[2021-08-06 20:22] joewhitsitt commented on #2629
We need some kind of dashboard that says what branches are in DEV. Maybe Slackbot could be configured to respond to a "does anyone mind if I [rebuild|checkout|wipe] DEV"

[2021-08-06 20:43] #3697 closed, assigned to bspeare, richardbporter

[2021-08-06 20:48] richardbporter commented on #3498
The next steps are outlined in the email thread in our shared inbox.

[2021-08-06 20:54] richardbporter commented on #3766
List of stuff looks good. A blurb at the top might be nice.

[2021-08-06 21:01] bspeare commented on #3766
Good call, I added some intro text about the default placeholder images since we had that listed in June as an upcoming feature we were planning on delivering.

[2021-08-09 13:32] joewhitsitt commented on #2396
Oh snap... Could be good or risky. https://www.drupal.org/project/date_content allows unique content to be associated with a date instance.

[2021-08-09 14:13] #3885 closed, assigned to briand44, mjoneill, ABoston88

[2021-08-09 14:34] bspeare commented on #3766
Just sent out the Dispatch email.

[2021-08-09 14:34] #3766 closed, assigned to bspeare

[2021-08-09 14:35] bspeare opened #3929 "SiteNow Updates News Article - August and September"
## Issue/Solution

Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  - See the previous month's article as an example.
  - Bullet

[2021-08-09 14:36] bspeare commented on #3929
https://sitenow.uiowa.edu/news/2021/08/updates-august

[2021-08-09 19:57] GaryRidgway opened #3930 "SSL Cert - studenthealth.uiowa.edu on uiowa"
Coming over from an IMU site, we need a cert on `uiowa`.

[2021-08-09 21:08] briand44 commented on #3724
Engineering will update links to people pages and create redirects on Departmental sites to point to appropriate places on the new engineering site after launch.

[2021-08-09 21:12] briand44 commented on #3724
@mjoneill @joewhitsitt I've made a few updates to this based on our conversation today. Please add any additional action items that I may have missed. Should we outline the specific SEO/launch related items we need to assist/guide them on?

[2021-08-09 21:21] briand44 commented on #3724
@joewhitsitt I was editing at same time and overwrote some of your changes

[2021-08-09 21:21] briand44 commented on #3724
I think SSL is done already

[2021-08-10 13:09] richardbporter commented on #3921
I tried this quickly but I thought it made the + button look like another directory. Maybe it needs to be a different color or something?

I'd be curious if adding `title => $this-t('Add a new directory')` to the + tab attributes so that it would display on hover would be a11y enough.

[2021-08-10 13:18] mjoneill commented on #3724
<removed comment as content was added to issue description>

[2021-08-10 13:18] richardbporter opened #3932 "Arts Iowa requirements for v3"
Starting an epic to collect Arts Iowa requirements for v3 site.

- [ ] Investigate option for aggregating sitenow_events either by event with "X more instances" or by date/time.
- [ ] Investigate adding a date picker component to sitenow_events with presets.
- [ ] Investigate displaying keywords option for sitenow_events. They specifically want pa_recitial_attendance to show as a checkbox but some

[2021-08-10 13:22] briand44 opened #3933 "Update signage, recserv and UHD Outlook integrations to use new API."
Develop a signage widget that displays UCC Conference space reservations similar to EMS and Mazevo.

We will only display the date, time and summary

Test environment Resource Group and example API call.
https://es-apps-test.iowa.uiowa.edu/hours/api/v2/signage

https://es-apps-test.iowa.uiowa.edu/hours/api/v2/signage/RES-UCC2429-ConfRoom?nohtmldesc=true&start=2021-08-01&end=2021-09-01

[2021-08-10 13:27] richardbporter commented on #3932
I don't think all of these are required for launch. Waiting to split out individual issues until we confirm with customer to proceed.

[2021-08-10 13:29] briand44 commented on #3724
@mjoneill I added those items to the description

[2021-08-10 13:34] briand44 opened #3934 "Remove/Disable EMS widget from Signage"
We were told that the EMS service isn't being used anymore so we can remove that widget from Signage.

If we are going to remove, we should check to see if it is placed on any signs.

[2021-08-10 13:38] richardbporter commented on #3675
I would probably start with our single site applications first before tackling the larger multisite applications. It might be good to run PHPCS compat checks on the codebase before "testing" so we can narrow issues down. Acquia recommends upgrading dev environments first and debugging from there which seems like a good start.

[2021-08-10 13:42] richardbporter commented on #3675
It might be possible to install PHP 7.4 in DD: https://evolvingweb.ca/blog/install-specific-version-php-or-drush-acquia-dev-desktop

[2021-08-10 14:58] joewhitsitt opened #3935 "Handle decorative images as it relates to Alt Text"
Currently Drupal core requires alternative text for media images in attempt to improve accessibility, but at the same time,

- https://www.drupal.org/project/drupal/issues/2934405

The above issue is actually an interesting read. Particularly the comment from the a11y core maintainer:  https://www.drupal.org/project/drupal/issues/2934405#comment-13962080 . There is a [contrib module , decorative_i

[2021-08-10 15:14] briand44 opened #3936 "Move Careers staging site to prod environment"
The Career Center has a v2 site at https://careers.prod.drupal.uiowa.edu that they are no longer using.

Let's move their v3 site https://careers.stage.drupal.uiowa.edu to the prod environment using the internal prod domain (https://careers.prod.drupal.uiowa.edu) so the launch process will be simpler.

We need to communicate with them on the timing of this so they are not working on content while

[2021-08-10 16:38] richardbporter commented on #2305
Agreed. Hidden might be best.

I guess integration with existing, on-brand websites.

Yes this is a must.

If private files are a requirement, I agree with the approach in https://github.com/uiowa/uiowa/issues/2305#issuecomment-856869255.

If not, I do wonder if we could do something custom for current basic pages. A checkbox like "Hid e this page" or something that we use in a hook to deny access

[2021-08-10 17:46] briand44 commented on #3675
Do we need to split this into separate tasks for dev/stage environments and another for prod environments?

[2021-08-10 17:48] briand44 commented on #3707
Where would HR be working on their action items? Dev/Stage/Prod? Would there need to be a content freeze?

[2021-08-10 17:50] briand44 opened #3937 "enable uiowa profiles for Dentistry"
Enable Uiowa Profiles module for Dentistry so that they can display people from directory profiles prior to launch.

[2021-08-10 18:08] richardbporter commented on #3937
To do this, the config split needs to be enabled and then config needs to be imported. That's it.

[2021-08-10 18:27] richardbporter commented on #3899
We will try to convert the body classes to their UIDS equivalent.

[2021-08-10 18:28] joewhitsitt commented on #3935
Curious to get additional thoughts from @inspector508 on this.

[2021-08-10 18:40] richardbporter opened #3938 "As a developer writing a migration, I can connect to a PHP 7.4-enabled source from my local."
Related to #3675

- [x] Investigate connecting DD to Cloud IDE for migrations. Spin up a Cloud IDE with PHP 7.4. Determine what the DB credentials are. Try plugging them into a local site which has sitenow_migrate enabled.

- [x] Investigate getting PHP 7.4 working with DD. https://evolvingweb.ca/blog/install-specific-version-php-or-drush-acquia-dev-desktop Try a typical sitenow_migrate connection

[2021-08-10 19:34] mark-bennett-uiowa commented on #3913
I mentioned this to Marie, but could it be the Program start date. If you look at Kyra Watral, her start date hasnt occured. Is there anything in the view code that is filtering based on this field? Other than the University ID, Its the only field or tag that I see is different.

Update: I changed her start date to something that had already occurred, and added a University ID in that field, and s

[2021-08-10 20:16] richardbporter commented on #3930
Adding www.studenthealth.uiowa.edu as well.

[2021-08-10 20:27] richardbporter commented on #3930
Done

[2021-08-10 20:27] #3930 closed, assigned to richardbporter

[2021-08-10 20:35] ABoston88 commented on #3839
Apologies it took me so long to get back to this. Changes made. Let me know if anything else is needed, here.

[2021-08-10 20:48] #3839 closed, assigned to nobody

[2021-08-10 21:00] richardbporter commented on #3937
Profiles split is missing perms. Updating...

[2021-08-10 21:36] joewhitsitt opened #3941 "Docs - Timeline Block"
https://github.com/uiowa/uiowa/pull/3928

[2021-08-11 08:33] lexsoft00 commented on #3641
I'm sad to see DrupalVM go, it's been lovely to work with the past 3 years.

My environment is on Windows 10 and the best alternative I'm working with right now is Windows WSL2 ( https://docs.microsoft.com/en-us/windows/wsl/install-win10 ) with Ubuntu 18.04 combined with Docker Desktop and DDEV ( https://ddev.readthedocs.io/en/stable/#installation-or-upgrade-windows-wsl2 ).

You can easily mount a

[2021-08-11 13:16] mjoneill opened #3943 "Add privacy notice popup on uiowa.edu"
Because I expect a reputable brand to be upfront about how they respect my privacy as a web visitor, I expect a notice on first visit to any page on the uiowa.edu website

### Examples
The notice appears on first visit, requires acknowledgement to clear, & sets a cookie, and does not appear again unless:
- the Privacy page content changes
- 1 year has passed?

### Future
In the future, will likely

[2021-08-11 13:50] cory-skeers opened #3944 "Grant awards story intake form"
As an Iowa Now content curator, I want a custom webform to help make it easier to maintain more frequent grant award stories in order to support internal faculty pride (and help support faculty recruitment efforts).

Grant award stories end up here: https://now.uiowa.edu/achievements
Some stories are more detailed (https://now.uiowa.edu/2021/07/physicist-wins-award-space-based-technology) than oth

[2021-08-11 16:24] briand44 opened #3946 "Diversity Report a Problem webform"
Build out the webform according to the requirements document. I have shared that with Rick. If anyone else ends up helping or taking this on, let Rick or I know and we can share that document.

[2021-08-11 17:29] richardbporter commented on #3937
Done https://dentistry.prod.drupal.uiowa.edu/admin/config/system/uiowa-profiles

[2021-08-11 17:29] #3937 closed, assigned to richardbporter

[2021-08-11 19:15] #3904 closed, assigned to nobody

[2021-08-11 19:22] richardbporter opened #3948 "sitenow_migrate article summaries set inconsistently"
# Problem

https://obermann.prod.drupal.uiowa.edu/news/2016/12
Here’s one with no summary:
https://obermann.prod.drupal.uiowa.edu/news/2012/02/humanities-and-public-life-series-announced

# Steps to reproduce
See the failing tests in #3947

# Proposed solution
Fix the failing tests in #3947 - I would vote using smart_trim if possible.

[2021-08-11 19:24] richardbporter opened #3949 "Set migrated Obermann article summaries to 400 characters."
### Problem
#3948

### Proposed Solution
Write an update hook to iterate all the migrated obermann articles, probably using the migrate map, and set all the summaries correctly to 400 characters as requested.

If we use the same trim functionality in BaseNodeSource then this is blocked by #3948 otherwise something else could be used.

[2021-08-11 19:34] briand44 opened #3950 "Color tweaks to Admissions PDFs"
The breakout sidebar box needs to be a darker grey color. The printers we’re printing with are barely picking up that box. It doesn’t need much change, but slightly darker so that the box actually shows up in the prints.

[2021-08-11 19:36] richardbporter commented on #3948
https://travis-ci.com/github/uiowa/uiowa/builds/235111177#L2303-L2314

Tests can be run locally with `./vendor/bin/phpunit docroot/modules/custom/sitenow_migrate/tests/`.

[2021-08-11 19:52] richardbporter commented on #2305
Random thought: minimal text format allows links no? Does it also linking to a document then and if so, can that be removed?

[2021-08-11 19:56] joewhitsitt commented on #2305
Yes, yes, maybe though I think it would be easier to create a new filter format if that was a concern.

[2021-08-12 13:40] briand44 commented on #2396
Capturing some notes from my last meeting with Admissions.

Example of Hawkeye Visit - Occurs multiple days - Oct 8th, 11th, etc.

- Show each date on event calendar
- Each item on event calendar would link to same place (One Hawkeye Visit day page)

Would like this solution to be simpler for staff to add events than the current way.

Could work around this by structuring event landing page custom

[2021-08-12 13:55] richardbporter commented on #3949
With an ellipsis if over 400 characters!

[2021-08-12 14:37] joewhitsitt opened #3951 "Some sites are missing option to add the People block in LB"
We suspect that several sites (grad, pharmacy, transportation) did not get the allowed block permission when the people block was refactored due to split page default config.

## Proposed Solution

- Update sites that have split page.default to be up to date with people block and any other missing additions.

[2021-08-12 15:24] #3314 closed, assigned to nobody

[2021-08-12 15:24] #3951 closed, assigned to nobody

[2021-08-12 15:32] briand44 opened #3953 "Inactive site communications 703"
We need to send out communications to inactive 703 sites.

[2021-08-12 15:35] briand44 opened #3955 "Deprovision uwc.org.uiowa.edu on uiowa01"
Now that the redirect lives on Vulture and DNS is pointing there, this site can be deprovisioned.

[2021-08-12 15:36] briand44 commented on #3955
Blocked until DNS is updated to point to vulture. I've emailed Hostmaster

[2021-08-12 16:15] cory-skeers commented on #3949
@richardbporter So, I think this is set to go, if we're setting the article summary values themselves. The processing in `BaseNodeSource` could be updated to use this as well--there are quite a few extra bells and whistles over the current processing.

[2021-08-12 16:16] briand44 commented on #3955
Removing blocked label. DNS has been updated. It may take a bit to propagate since we didn't reduct TTL.

[2021-08-12 16:36] briand44 opened #3956 "Deprovision https://advisingcenter.prod.drupal.uiowa.edu on uiowa703."
They have a live SiteNow v2 site https://advisingcenter.uiowa.edu so the old site is no longer needed.

[2021-08-12 17:02] joewhitsitt opened #3957 "Concept3D replacement for maps.uiowa.edu"
# Story

As a site visitor, I can find building information using the new Concept3D solution.

# Proposed Solution

- [x] Bring team up to speed
- [x] #4024
- [x] #4006
- [x] #4025
- [x] Get Concept3D CMS training roster identified
- [x] Reach out to Facilities about Concept3D next steps - @joewhitsitt will reach out initially about unique id, sharps/gender-inclusive/lactation room data, categorie

[2021-08-12 17:43] bspeare commented on #3913
Looks like the contextual filter set to `field_person_contact_information` is causing this bug because some of the profiles do not have this contact address information attached.   Do you need this contextual filter?

[2021-08-12 17:49] joewhitsitt opened #3960 "SiteNow Request Form - Conditional Logic Not Working Correctly"
## Problem

When the site moved over the conditional logic for the site-request form got messed up so a pre-approved domain asks for a full site URL.

https://sitenow.uiowa.edu/admin/structure/webform/manage/request_a_site/submission/12346

<img width="741" alt="Screen Shot 2021-08-12 at 12 44 57 PM" src="https://user-images.githubusercontent.com/4663676/129247104-ad066642-6564-41d3-8103-9bf98e3dc

[2021-08-12 18:35] #3950 closed, assigned to bspeare

[2021-08-12 18:53] #3114 closed, assigned to bspeare

[2021-08-12 20:34] richardbporter opened #3965 "Upgrade Signage application to PHP 7.4"

[2021-08-12 20:34] richardbporter opened #3966 "Upgrade Healthcare Signage application to PHP 7.4"

[2021-08-12 20:34] richardbporter opened #3967 "Upgrade ICGov application to PHP 7.4"

[2021-08-12 20:34] richardbporter opened #3968 "Upgrade Dentistry application to PHP 7.4"

[2021-08-12 20:35] richardbporter opened #3970 "Upgrade Graduate College application to PHP 7.4"

[2021-08-12 20:35] richardbporter opened #3971 "Upgrade Nursing application to PHP 7.4"

[2021-08-12 20:35] richardbporter opened #3972 "Upgrade uiowa701 application to PHP 7.4"

[2021-08-12 20:36] richardbporter opened #3973 "Upgrade uiowa702 application to PHP 7.4"

[2021-08-12 20:36] richardbporter opened #3974 "Upgrade uiowa703 application to PHP 7.4"

[2021-08-12 20:36] richardbporter opened #3975 "Upgrade uiowa/01/02 application to PHP 7.4"
- Update the box/config.yml PHP version to 7.4 and run `vagrant reload --provision`
  - https://github.com/uiowa/uiowa/pull/1445/commits/5a724e0431b1123da576e15f7b063a1d605af70f#diff-635c39d42eab7b5c0397077d62ead2a6e58f3cb52874b373710df96a85674831R958
- Sync some high-profile sites with `blt dsa`.
- Test out basic functionality and make any necessary code changes.
  - https://github.com/uiowa/uiow

[2021-08-12 20:51] joewhitsitt opened #3976 "Documentation for Site Verification"
https://github.com/uiowa/uiowa/pull/3905

[2021-08-12 21:18] joewhitsitt commented on #3619
I _think_ this was fixed as part of https://github.com/uiowa/uiowa/issues/3951

[2021-08-12 21:18] #3619 closed, assigned to nobody

[2021-08-12 21:54] briand44 opened #3978 "Deprovision https://pharmacyuip.prod.drupal.uiowa.edu/ on 703"
UI Pharmaceuticals launched a new SiteNow v3 at https://uip.pharmacy.uiowa.edu. The old D7 site on uiowa703 that lives at https://pharmacyuip.prod.drupal.uiowa.edu can be deprovisioned.

[2021-08-13 13:13] joewhitsitt commented on #3938
starting with no. 2 until a more appropriate mobbing hour when i can fumble through cloud ide with others.

[2021-08-13 13:14] joewhitsitt commented on #2881
Duplicate of https://github.com/uiowa/uiowa/issues/943? Can we move the info from one or the other and close one?

[2021-08-13 13:20] bspeare commented on #3913
The options to fix this are to either remove the contextual filter as in (https://github.com/uiowa/uiowa/pull/3964) or specify to editors that they must include "Lab" as the title to the address field, otherwise the profile won't show up.

<img width="808" alt="Screen Shot 2021-08-13 at 8 15 51 AM" src="https://user-images.githubusercontent.com/1036433/129362764-0244a907-0b9c-4a69-b0cf-c7ae675f0b8

[2021-08-13 13:22] bspeare commented on #943
Closing in favor of https://github.com/uiowa/uiowa/issues/2881.

[2021-08-13 13:22] #943 closed, assigned to bspeare

[2021-08-13 13:23] bspeare commented on #2881
@pyrello's comment from duplicate closed issue:

"Our current iteration of P2LB (#1976) converts pull quotes into text areas. If we truly want to pursue this as an option, we may want to consider doing it prior to launching the conversion tool, otherwise, we will likely lose the ability to know that something was intended to be a pull quote vs intended to be a text area."

[2021-08-13 13:29] richardbporter commented on #3938
I think it may be necessary for everyone to install PHP 7.4 locally to get DrupalVM dependencies installed for Drupal 9, right?

[2021-08-13 13:32] joewhitsitt commented on #3938
probs. i've had 7.4.15 since i got the new computer. working session participants should also have 7.4

[2021-08-13 13:34] joewhitsitt commented on #3938
evolvingweb instructions are a bit different now since brew changed how php is packaged and devdesktop 64bit. so far so good though. trying to keep track of the diff.

[2021-08-13 13:37] #3948 closed, assigned to cory-skeers

[2021-08-13 13:37] #3949 closed, assigned to cory-skeers

[2021-08-13 13:44] briand44 commented on #3956
This is done

[2021-08-13 13:44] #3956 closed, assigned to nobody

[2021-08-13 13:44] briand44 commented on #3978
This is done

[2021-08-13 13:44] #3978 closed, assigned to nobody

[2021-08-13 14:40] bspeare opened #3979 "Redirects don't work with trailing slash in source path"
Looks like there is a patch out there if we want to fix this: https://www.drupal.org/project/redirect/issues/2932615

## Issue
If you go to the redirect configuration (ex https://africanamericanstudies.local.drupal.uiowa.edu/admin/config/search/redirect/add), and add a link with a trailing slash (`/asdf/`) to the `path* field`, and then add where you'd like the redirect to point to (`/about`), if

[2021-08-13 14:52] richardbporter commented on #3960
I'm not sure I understand the problem here. I think a full URL is required for each request type.

[2021-08-13 14:55] #3955 closed, assigned to nobody

[2021-08-13 15:05] joewhitsitt commented on #3979
i'd try no.22 first. no.29 seems to increase scope

[2021-08-13 15:08] joewhitsitt commented on #3960
the submission has been changed since creating this issue, but the request came over as https://startalkchinese.sites.edu Is the expectation that the requester takes the pre-approved pattern and formulates the correct URL on their own? I thought we captured it separately and strung it together to prevent input errors.

[2021-08-13 15:15] richardbporter commented on #3960
Ah I see. Since that is a URL field, I think that is the expectation. I don't believe we strung it together because that would fail the webform URL base validation.

I think this indicates our custom validation isn't working.

[2021-08-13 15:29] joewhitsitt commented on #3837
Education requested the following:

- "Search" block similar to admissions.uiowa.edu that sends queries to view page.
- synonyms (associated terms) plain long text field that can combine filter on (not rendered to display)
- sitenow articles/people functionality as it relates to view page title, path, header content.

Learning format filter?: https://github.com/uiowa/uiowa/pull/3926#issuecomment-8

[2021-08-13 15:34] mjoneill commented on #3837
Anything strike you that didn't come up as an ask/request?

[2021-08-13 15:53] joewhitsitt commented on #3938
## Update DevDesktop to use PHP 7.4 and Drush 8.4.8

_Updated instructions from https://evolvingweb.ca/blog/install-specific-version-php-or-drush-acquia-dev-desktop_

- `brew install php@7.4`
- Take note of actual version of 7.4 is installed.
- `cp -r /usr/local/Cellar/php@7.4/7.4.15 /Applications/DevDesktop/php7_4_x64` _change 7.4.15 to the version of php that was installed_
- `cp /usr/local/etc/

[2021-08-13 16:16] richardbporter opened #3982 "Sitenow request form submissions have inconsistent values"
# Problem
During #3960, we discovered some inconsistencies in the submissions imported from the v2 site. Specifically, none of the previous submissions have a URL set. Also, the request type differs - it should be New, Existing or Approval. Some

# Steps to reproduce
Look at the request form submissions and inspect.

# Proposed solution
Investigate if other webform submission values should be chan

[2021-08-13 16:16] richardbporter commented on #3960
This should be fixed now in prod. The issue was the request type and URL pattern option keys were not set to what we are expecting in code. I updated the option keys.

[2021-08-13 16:16] #3960 closed, assigned to richardbporter

[2021-08-13 16:21] joewhitsitt commented on #3974
education.uiowa.edu
[code]

[2021-08-13 16:31] #3446 closed, assigned to bspeare

[2021-08-13 20:06] joewhitsitt commented on #3707
I am going to reach out to HR about the first bullet point.

[2021-08-13 20:10] joewhitsitt commented on #3938
There seem to be several barriers to get CloudIDE working to be a host for migrations. Each IDE is tied to an Acquia user which needs to be destroyed and recreated. The IDE is slow to spin up and requires manual configuration to get going.

Ultimately, the db credentials needed for migration are not needed. Rick mentioned possibly creating an SSH tunnel for this but is further work that might not

[2021-08-13 21:00] dnkemper commented on #3938
Tested and everything works accordingly - can keep checking out sites to make sure but nice job!

[2021-08-13 21:13] joewhitsitt commented on #3938
Thanks for reproducing the DD solution @dnkemper. I have moved these instructions to the wiki. Closing.

https://wiki.uiowa.edu/display/sitenow/Update+DevDesktop+to+use+PHP+7.4

[2021-08-13 21:13] #3938 closed, assigned to joewhitsitt

[2021-08-13 21:34] joewhitsitt commented on #3837
- Feels more likely that a clean break for admissions may be warranted.
- I forgot the trouble allowing site owners to change the paths for content when using a feature split. Not sure how to go about that.

[2021-08-13 21:52] joewhitsitt commented on #3724
i will plan to start around 8 am on 8/16

[2021-08-16 13:56] pyrello commented on #3922
Apologies for the vague description. We had discussed just using a body field and not including LB and I failed to capture that detail. I don't think there is a problem with including LB other than that it requires that we keep the private page LB config up-to-date with changes to the page config.

Ideally, I think we should replace this with something that allows a regular page to be marked as "p

[2021-08-16 14:15] joewhitsitt commented on #3624
_The team built this functionality into the existing person content type and we were wondering if one of the existing fields (Education, Research Areas, Bios) would work to capture the Area of Practice data or if we need to create a separate field for that?_

_Also, do you know where this should be placed on your website?_

But this page is pretty full already, so when absolutely ready, I would pr

[2021-08-16 14:57] dnkemper commented on #3624
Thank you, @joewhitsitt! I'm thinking about creating a draft "where are they now?" page and adding the map there then taking screen snapshots of how to add a person and the fields where we are suggesting the possible "Area of Practice" field. Please let me know if you have a better idea of how to go about this!

[2021-08-16 15:01] joewhitsitt commented on #3624
instead of touching content on the site, can we just fill out https://sandbox.prod.drupal.uiowa.edu/node/11/edit and send that for a visual?

sounds like Barbara is able to create a page for the content when able.

[2021-08-16 15:02] dnkemper commented on #3624
Okay! Thank you so much!

[2021-08-16 15:03] dnkemper commented on #3624
Wait.. how will I be able to show them their new person type and how to implement the map if we're going the sandbox route?

[2021-08-16 15:04] joewhitsitt commented on #3724
This hit a snag and I have switched the domains back. Waiting for information from Engineering CTO and Acquia.

[2021-08-16 15:42] dnkemper commented on #3624
Emailed Barb an example of the fields that could possibly be used for 'Area of Practice'. Waiting to hear back. Also let know that when have page URL and needs help adding map to reach out

[2021-08-16 16:52] bspeare opened #3985 "SSL Cert - iowalakesidelab.org on uiowa01"
SSL cert for iowalakesidelab.org on uiowa01, https://org-iowalakesidelab.prod.drupal.uiowa.edu.

[2021-08-16 18:18] joewhitsitt commented on #3724
site is live

[2021-08-16 20:48] mjoneill commented on #3724
Sitemap submitted (can't click the checkbox due to permissions). I'll enumerate here as I get things complete

[2021-08-16 20:59] mjoneill commented on #3724
Since we dropped www, I went ahead and asked siteimprove to change the URL it was using and kick off a new scan.  We can call this ("schedule recrawl with Siteimprove")  Done, but the results are not immediate...

[2021-08-16 21:01] mjoneill commented on #3724
This is done: "verifying 404/403s are visible in Google Analytics (and showing partner how to see those)"

[2021-08-16 21:25] bspeare commented on #3936
I emailed Dana and Drake on Friday and I am waiting to hear back from them.

[2021-08-16 21:59] dnkemper commented on #3707
Going to remove assignment for now since moved as far forward as we could. Not sure how the contact info block is desired to be styled

[2021-08-17 01:51] mjoneill commented on #3724
The following are done:

- Identifying broken links with Screaming Frog
- identifying links to prod/stage/dev with Screaming Frog
- identifying missing meta descriptions with Screaming Frog
- identifying typos and spelling errors with Screaming Frog
- verifying 404/403s are visible in Google Analytics (and showing partner how to see those)
- verify content/pages are not blocked by robots.txt

[2021-08-17 13:28] joewhitsitt commented on #3724
Did any additional work crop up or is this considered done?

[2021-08-17 13:31] mjoneill commented on #3724
I think we can consider it done. I shared all the reports in the #redesign-engineering slack channel.

They have an absolute flood of prod.drupal links on their site. I think we're going to have to figure out a more reliable way to get visibility into this prior to launch.

^^^ I'll add a card to backlog.

[2021-08-17 13:40] joewhitsitt commented on #3707
I missed the last big of the mob yesterday so I don't know how it ended but, I think we should take an initial stab at styling the block and I am in favor of kicking the block label refactor down the road and adjusting the template for this particular block in hr_core.

[2021-08-17 13:41] #3724 closed, assigned to joewhitsitt

[2021-08-17 13:48] pyrello commented on #3707
We got the FAQ as accordion styling working. @dnkemper was interested in styling the contact block, but I suggested that we hold off until there was clarity on how to proceed with that, since I was not privy to any discussion about how it should be handled.

[2021-08-17 13:52] richardbporter commented on #3938
I'm going to give this a shot but may change the Drush setup if we can use a site-local version that resolves all those warnings.

[2021-08-17 14:23] joewhitsitt commented on #3707
It was discussed in parking lot to move forward with styling the contact block similar to one of the admissions sidebar blocks. https://admissions.uiowa.edu/academics/accounting

[2021-08-17 14:27] #3913 closed, assigned to nobody

[2021-08-17 15:18] joewhitsitt commented on #3761
should we wait on this a bit more so it doesn't become a problem again? their site still has default content on it.

[2021-08-17 16:02] dnkemper commented on #3707
@joewhitsitt AWESOME! Already started on that yesterday so I can keep on keeping on if no one is working on this!

[2021-08-17 16:25] bspeare opened #3989 "SSL Cert - wirrc.org on uiowa01"
SSL cert for wirrc.org on uiowa01, https://org-wirrc.prod.drupal.uiowa.edu

[2021-08-17 16:27] bspeare opened #3990 "SSL Cert - desmoines.uiowa.edu on uiowa01"
SSL cert for desmoines.uiowa.edu on uiowa01, https://desmoines.prod.drupal.uiowa.edu

[2021-08-17 17:27] bspeare commented on #3989
Closing this for now until a non-branded theme option surfaces.

[2021-08-17 17:27] #3989 closed, assigned to nobody

[2021-08-17 17:27] bspeare commented on #3985
Closing this for now until a non-branded theme option surfaces.

[2021-08-17 17:27] #3985 closed, assigned to nobody

[2021-08-17 17:31] bspeare opened #3993 "SSL Cert - newstudents.uiowa.edu on uiowa02"
SSL for newstudents.uiowa.edu on uiowa02

[2021-08-17 17:31] bspeare opened #3994 "SSL Cert - oniowa.uiowa.edu on uiowa02"
SSL Cert for oniowa.uiowa.edu on uiowa02

[2021-08-17 18:04] joewhitsitt commented on #2396
Made changes to the IS based on conversations with Brian before he left. He has not see what I came up with so it isn't an approval

[2021-08-17 19:08] cory-skeers commented on #2396
Capturing some details from grooming:

https://schema.org/eventSchedule, https://schema.org/EventSeries <- two similar, but slightly different options.

Google appears to prefer Event Series for all individual events.

One thought is that an event schedule is a type of recurring event that you would expect to attend every instance, whereas event series is set of events which a person may attend an

[2021-08-17 21:06] richardbporter commented on #3933
This is basically the gist of it. We won't need as many fields on the custom content pane edit form.

There are some examples of working with this type of Exchange data in uiowa703: dining_hours within dining.uiowa.edu and rec_hours within recserv.uiowa.edu.

[2021-08-17 21:06] richardbporter commented on #3974
I've updated Composer dependencies to work with Composer 2 and PHP 7.4.

[2021-08-17 21:07] richardbporter commented on #3973
I've updated Composer dependencies to work with Composer 2 and PHP 7.4.

[2021-08-17 21:07] richardbporter commented on #3972
I've updated Composer dependencies to work with Composer 2 and PHP 7.4.

[2021-08-17 21:07] richardbporter commented on #3968
I've updated Composer dependencies to work with Composer 2 and PHP 7.4.

[2021-08-17 21:07] richardbporter commented on #3967
I've updated Composer dependencies to work with Composer 2 and PHP 7.4.

[2021-08-17 21:07] richardbporter commented on #3966
I've updated Composer dependencies to work with Composer 2 and PHP 7.4.

[2021-08-17 21:07] richardbporter commented on #3965
I've updated Composer dependencies to work with Composer 2 and PHP 7.4.

[2021-08-17 21:08] richardbporter commented on #3971
I don't know if we've done this one in the past actually.

[2021-08-17 21:12] richardbporter commented on #3933
It doesn't look like the signage endpoint exists in prod (https://es-apps.iowa.uiowa.edu/hours/api/v2/signage) so we'll want to get that added and use it when ready.

[2021-08-17 21:23] richardbporter commented on #3975
I went ahead and updated uiowa/01/02 stage envs to 7.4 since I don't think there any required code changes in #3983.

[2021-08-17 21:39] mjoneill opened #3996 "Linkcheck .prod.drupal links"
As a site builder, I have visibility into how many links I have to .prod.drupal, .stage.drupal, .dev.drupal, and .local.drupal because I need to fix these prior to launching (or as soon after as possible).

Previous probe - https://github.com/uiowa/uiowa/pull/373 - jw

[2021-08-17 21:42] pyrello opened #3997 "SPPA - Give webmasters permissions to assign student role"

[2021-08-17 21:43] mjoneill commented on #3996
@cory-skeers et al, it seems like you had additional thinking on this.  Also, @joewhitsitt added a related probe...

[2021-08-17 23:26] #3997 closed, assigned to nobody

[2021-08-18 13:19] mjoneill opened #3999 "Redesign/Migrate now.uiowa.edu"
Redesign and/or migrate into uiowa.edu

[2021-08-18 13:52] kerasai commented on #488
Noticed this on a "standard" D8 site, using Redis as cache backend. Thanks for the clue!

[2021-08-18 14:18] pyrello opened #4000 "Write tests for default content type stories"
# Motivation

When we make changes to permissions (as in #3986), there is the possibility of introducing regressions related to the basic functionality around our 3 standard content types. We could automate testing this to prevent the need to write testing instructions and manually test them.

# Proposed solution

Write tests (@richardbporter suggested Behat) that include testing/execution of thes

[2021-08-18 14:26] richardbporter commented on #3996
Another component of this could be adding validation to try and prevent internal links being used in the first place. Attaching a filter to the Filtered HTML text format would ensure that validation is run in many different places - blocks, content types, etc. That same validation could be added to link fields as well.

[2021-08-18 14:35] cory-skeers commented on #3996
Previous probe has an interesting article as part of a go-live checklist: https://kevinquillen.com/mass-updating-drupal-fields-mysql-stored-procedure-pt-2

One thing that struck me about it is that the .prod/dev/stage links post-launch is the biggest and most visible issue, but absolute links are always a sticking point for content editors, and can lead to suboptimal situations where links either

[2021-08-18 14:40] bspeare opened #4001 "Change new pre-approved website deliver process"
# Problem
Production domains are being indexed by Google before they are ready to launch.

# Proposed Solution
Deny robots until sites are ready to launch.

- Update provision instructions on https://wiki.uiowa.edu/display/drupaldev/Website+requests+via+sitenow.uiowa.edu
  - All new sites should be provisioned using internal `prod` domain so that they are hidden from robots.
- Update site created

[2021-08-18 15:03] richardbporter commented on #3996
It looks like it is possible to search SiteImprove inventory for specific URLs: https://my2.siteimprove.com/QualityAssurance/991404/Inventory/Links/1?Query=prod.drupal

However, I don't see the Inventory tab on other sites. Not sure why that is. Also, SiteImprove respects robots.txt so we'd have to open up internal domains for scanning before launch. Just throwing this out there.

[2021-08-18 15:37] richardbporter commented on #3996
Rethinking this a bit, I wonder if it makes more sense to just use pathologic instead of rolling our own version of that.

[2021-08-18 16:35] #3787 closed, assigned to nobody

[2021-08-18 17:19] richardbporter commented on #3996
For awhile I've wondered if we could automate some go-live tasks, perhaps in a Drush command part of uiowa_core. That command could maybe use that stored procedure to fix those links if we'd prefer not to use Pathologic which only works on text formats.

[2021-08-18 18:10] #3899 closed, assigned to nobody

[2021-08-18 19:01] richardbporter commented on #3707
Are there any more details on this?

Noticed the footer content is not readable but I'm assuming they'll just update that after this goes to prod.