[2022-10-03 15:58] mark-bennett-uiowa opened #5779 "Theatre Arts D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 15:59] mark-bennett-uiowa opened #5780 "Political Science D9 site"
Standard checklist for site provision, installation, and creation:
- [x] Provision and install site
- [x] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 15:59] mark-bennett-uiowa opened #5781 "CLAS Collegiate D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 16:17] mark-bennett-uiowa opened #5782 "Writer's Workshop D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 16:17] mark-bennett-uiowa opened #5783 "Statistics and Actuarial Science D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 16:17] mark-bennett-uiowa opened #5784 "Religious Studies D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 16:18] mark-bennett-uiowa opened #5785 "Philosophy D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 16:18] mark-bennett-uiowa opened #5786 "Math D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 16:18] mark-bennett-uiowa opened #5787 "Gender, Women's, and Sexuality Studies D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 16:18] mark-bennett-uiowa opened #5788 "CLAS Production Unit D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 16:18] mark-bennett-uiowa opened #5789 "CLAS Linux Group D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 16:18] mark-bennett-uiowa opened #5790 "Chemistry D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 16:18] mark-bennett-uiowa opened #5791 "Biology D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 16:18] mark-bennett-uiowa opened #5792 "Division of Performing Arts D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 16:19] mark-bennett-uiowa opened #5793 "Rhetoric D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 16:19] mark-bennett-uiowa opened #5794 "English D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 16:19] mark-bennett-uiowa opened #5795 "Iowa Young Writer's Studio D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 16:26] mark-bennett-uiowa opened #5796 "Earth and Environmental Sciences D9 site"
Standard checklist for site provision, installation, and creation:
- [x] Provision and install site
- [x] Copy default content and settings from CLAS Template
- [x] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 16:26] mark-bennett-uiowa opened #5797 "Geographical and Sustainability Sciences D9 site"
Standard checklist for site provision, installation, and creation:
- [x] Provision and install site
- [x] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 16:27] mark-bennett-uiowa opened #5798 "History D9 site"
Standard checklist for site provision, installation, and creation:
- [x] Provision and install site
- [x] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 16:27] mark-bennett-uiowa opened #5799 "CLAS Finance Group D9 site"
Standard checklist for site provision, installation, and creation:
- [x] Provision and install site
- [x] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA account
- [ ] Unit approves launch
- [ ] Launch site
- [ ] Cre

[2022-10-03 16:27] mark-bennett-uiowa opened #5800 "CLAS Grant Support Office D9 site"
Standard checklist for site provision, installation, and creation:
- [x] Provision and install site
- [x] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA account
- [ ] Unit approves launch
- [ ] Launch site
- [ ] Cre

[2022-10-03 16:27] mark-bennett-uiowa opened #5801 "CLAS Human Resources D9 site"
Standard checklist for site provision, installation, and creation:
- [x] Provision and install site
- [x] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA account
- [ ] Unit approves launch
- [ ] Launch site
- [ ] Cre

[2022-10-03 16:29] mark-bennett-uiowa commented on #5800
https://clasgrantsupport.prod.drupal.uiowa.edu/

[2022-10-03 16:29] mark-bennett-uiowa commented on #5801
https://clashr.prod.drupal.uiowa.edu/

[2022-10-03 16:30] mark-bennett-uiowa commented on #5799
https://clasfinance.prod.drupal.uiowa.edu/

[2022-10-03 16:35] mark-bennett-uiowa commented on #5796
https://ees.prod.drupal.uiowa.edu/

[2022-10-03 16:35] mark-bennett-uiowa commented on #5797
https://geography.prod.drupal.uiowa.edu/

[2022-10-03 16:35] mark-bennett-uiowa commented on #5798
https://history.prod.drupal.uiowa.edu/

[2022-10-03 16:38] mark-bennett-uiowa opened #5802 "Prison Writing Project D9 site"
Standard checklist for site provision, installation, and creation:
- [x] Provision and install site
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA account
- [ ] Unit approves launch
- [ ] Launch site
- [ ] Cre

[2022-10-03 16:48] mark-bennett-uiowa commented on #2902
Closing this and marking as done. Remaining needs from OP are either no longer important, already handled, or posted as separate issues.

[2022-10-03 16:48] #2902 closed, assigned to mark-bennett-uiowa

[2022-10-03 18:44] briand44 opened #5803 "Searchable named buildings list"
# Story

As a Facilities site owner, I would like to display a searchable list of FM managed named buildings so that visitors can quickly find named buildings.

# Additional Information

- [x] Should be able to be placed on a layout builder page so that editors can add additional contextual content.
- [x] Should output honoree and building name (title).
- [x] Should be able to sort by and search e

[2022-10-03 19:29] bspeare opened #5804 "PHP error for smart_date"
`Deprecated function: Calling static trait method Drupal\smart_date\SmartDateTrait::isAllDay is deprecated, it should only be called on a class using the trait in Drupal\smart_date\Plugin\Field\FieldWidget\SmartDateWidgetBase->massageFormValues() (line 285 of modules/contrib/smart_date/src/Plugin/Field/FieldWidget/SmartDateWidgetBase.php).`

# Steps to reproduce
Try setting "original publication d

[2022-10-03 19:44] pyrello commented on #5667
Updated IS to clarify that we should do this work after upgrading to Drupal 9.5.x and before upgrading to Drupal 10.0.x. If we do this in that timeframe, we do not need a followup task to remove CKEditor 4 contrib module.

[2022-10-03 20:04] #5714 closed, assigned to bspeare

[2022-10-03 20:09] mark-bennett-uiowa opened #5805 "As an editor, I can select a Circle (S,M,L) image format for images within the WYSIWYG."
As an editor, I can select a 'Circle - small', 'Circle - medium', or 'Circle - large' image format option from the list of current image formats. This has been requested by a few departments that have created custom profile pages for Recent Graduates, Alumni Spotlights, etc. that do not pull from existing Person content.

[2022-10-03 20:54] pyrello opened #5806 "Percy - JS to hide remote video is failing during builds"
# Problem
Build logs indicate that we are encountering an issue with the JS that hides remote videos on our component showcase page.

# Steps to reproduce
https://app.travis-ci.com/github/uiowa/uiowa/builds/256208449#L2118

# Proposed solution
Remove that entry since there is no component showcase currently.

[2022-10-03 20:55] bspeare commented on #5670
It seems like https://github.com/uiowa/uiowa/issues/5670#issuecomment-1240960140 makes the most sense here.  Except that the "Hide on lists" will not allow them to create a custom OSC Staff page using the People List block.   Is there a better way to do this that doesn't recreate the SiteNow People views page?

[2022-10-03 21:11] bspeare commented on #5719
Are we able to test this fix out on their test server?  If so, does anyone recall what that url is?

[2022-10-03 21:40] joewhitsitt commented on #5719
I want to say it is https://events-test.uiowa.edu/. Could also coordinate with Jeremy to say it is ready to test

[2022-10-04 13:30] joewhitsitt opened #5807 "Audit sites for large aggregator_item tables"
# Problem

Careers was using feeds that had thousands of items in it and they weren't being purged because they were within one year of the publish date. This caused pages on the site to WSOD. The feeds being used are from Handshake and have been advertised to other groups on campus to promote student jobs.

# Proposed Solution

- [ ] Run `./vendor/bin/blt ume "uts 10"` on v2/v3 prod environments.

[2022-10-04 14:17] pyrello commented on #5418
Adding a note here for if/when we decide to restore the component showcase: We should restore the entry in our Percy config to check the component showcase, as it was removed in #5808

[2022-10-04 14:28] #5806 closed, assigned to nobody

[2022-10-04 15:01] mark-bennett-uiowa opened #5809 "BUG: Search field not expanding to 100% width of the region on CLAS Policy site"
The search field on the front page of the CLAS Policy and Procedure site https://policy.clas.uiowa.edu does not expand to fill the entire region. It appears that the element below needs a width:100%, but there might be something else causing this.

`<div class="js-form-item form-item js-form-type-search-api-autocomplete form-type-search-api-autocomplete js-form-item-text form-item-text form-no-lab

[2022-10-04 15:23] bspeare commented on #5670
@joewhitsitt we discussed this a little more this morning.  What do you think about adding the ability to filter `/admin/config/sitenow/sitenow-people` by tag as a way of moving forward with https://github.com/uiowa/uiowa/issues/5670#issuecomment-1266036429?

<img width="1690" alt="Screen Shot 2022-10-04 at 10 20 27 AM" src="https://user-images.githubusercontent.com/1036433/193859916-329b111a-7d1d

[2022-10-04 15:27] bspeare commented on #5809
@mark-bennett-uiowa what do you think about switching to the Search Block for this functionality?  I think this is the only "custom" search block on the platform that was built before we released the "Search Block" for v3.

[2022-10-04 15:32] briand44 commented on #5670
If the plan is to create the OSC staff page by using the People list block and filtering by staff, how do we handle the scenario where there is a non-osc staff member that is an expert. They would have a tag for expert so they would appear in the experts page but they would also appear on the OSC staff listing page, correct? In those cases do they just not designate that person with a person type?

[2022-10-04 15:35] makurj commented on #5234
Checked with @nlichthardt and this has been resolved by https://github.com/uiowa/uiowa/issues/2670.

[2022-10-04 15:37] briand44 commented on #5234
@bspeare should we close this?

[2022-10-04 15:38] #5234 closed, assigned to nobody

[2022-10-04 15:43] joewhitsitt commented on #5670
Brian keeps editing his comment so it is hard to follow but...

I do think we should tag/type folks that we migrate over.

However, the more I think about it and from what I understand, I don't think SiteNow People view page is best suited for the Experts list. SiteNow People also controls the path at which all people on the website reside. So if they want to maintain the path at `/experts-list` t

[2022-10-04 15:46] bspeare commented on #5670
Thanks @joewhitsitt.  That sounds like a good plan.  I just wanted to see if there was an opportunity to expand the functionality of SiteNow People before we do this work.

[2022-10-04 15:47] briand44 commented on #5670
Sorry, my comment is really unrelated to whether we use SiteNow people for experts but more on how we are displaying staff list.

That is a good point I didn't think about.

[2022-10-04 15:48] joewhitsitt commented on #5670
Filtering by tag on SiteNow People view page whether it is user exposed or not seems cool, but the original purpose of the view was to be a full a-z utility view and not a subset of content. Tags aren't currently displayed on people so if user exposed, I don't think tags are clear to the user what they plan on getting.

[2022-10-04 16:32] joewhitsitt commented on #4049
<img width="931" alt="Screen Shot 2022-10-04 at 11 32 15 AM" src="https://user-images.githubusercontent.com/4663676/193875004-ad132318-6273-4800-9738-67d90e7d3c22.png">

[2022-10-04 17:14] joewhitsitt commented on #4049
this is done for signage.uiowa.edu https://signage.uiowa.edu/file/259371

[2022-10-04 17:56] #3204 closed, assigned to bspeare

[2022-10-04 18:23] pyrello commented on #5601
Iowa Review uses a text area for the table of contents rather than using a menu. The onus is on the content editors to ensure that the treatment is consistent, but it is flexible and allows for different ways of structuring the table of contents. The reason for doing this on Iowa Review is that not every article is published online, so this prevents the site from needing a way to define the articl

[2022-10-04 18:24] briand44 commented on #4966
Grooming conversation - Start with a mockup of a classroom page and also figure out how we want to display specialty spaces so we have an idea of how to handle references that only exist on specialty spaces. We don't need to worry too much on filters at this point.

Try to get more clarity on how we are getting building information.

[2022-10-04 18:45] briand44 commented on #5732
Grooming conversation - probe existing functionality (event series from Admissions, local events, people, etc) to see what we can accomplish using existing before building custom. Scope would be to identify what can be reused and what makes sense to build custom.

[2022-10-04 18:48] pyrello opened #5810 "ISWF - Probe using events, event series and people to see what can be reused vs what needs to be custom"
# Motivation
As part of #5732, we need to understand what existing pieces we can use that pertain to building out the functionality for the Iowa Summer Writing Festival.

# Proposed solution
- [x] Investigate the Event feature, what could be used and what would need to be modified.
- [x] Investigate the Event Series content type that exists in the Admissions split to see how similar/different it i

[2022-10-04 18:59] bspeare opened #5811 "TypeError on admissions student_card view"
# Problem
`TypeError: trim(): Argument #1 ($string) must be of type string, array given in trim() (line 1357 of core/modules/views/src/Plugin/views/display/DisplayPluginBase.php).`

# Steps to reproduce
Try to edit `https://admissions.uiowa.ddev.site/admin/structure/views/view/student_card` used on https://admissions.uiowa.ddev.site/california-hawkeyes.

# Proposed solution
- Adjust view at https:

[2022-10-04 19:02] joewhitsitt commented on #5748
Might be related if we want to maintain existing endpoints https://github.com/uiowa/uiowa/issues/5521

[2022-10-04 19:05] briand44 commented on #5748
Grooming conversation - Possibly create a new version of the endpoint. We should test against repeating events and long spanning all day events. Should revisit at mid sprint checkin.

[2022-10-04 19:16] pyrello opened #5812 "Epic: New Content Hub features and endpoint for events feeds"
# Proposed solution
- [x] #5748
- [ ] #5618
- [x] #5521

[2022-10-04 19:26] mkyoder commented on #5743
I'm not seeing anything from my view that the JS needs to be placed anywhere special on the site. Here is what I can see.

<img width="1068" alt="Screen Shot 2022-10-04 at 2 24 09 PM" src="https://user-images.githubusercontent.com/107870104/193908114-81a2e3ab-1641-42b3-a703-4e62d79d7f0a.png">

[2022-10-04 19:30] mjoneill commented on #5743
There's another layer of description which indicates this JS needs to be in the `<head>` section.
https://documentation.unbounce.com/hc/en-us/articles/360020659971

[2022-10-04 19:32] briand44 commented on #5752
Ben to reach out to Scott.

[2022-10-04 19:36] mkyoder commented on #5743
Whoops - sorry! Thanks for catching that Michael!

[2022-10-04 19:42] briand44 opened #5814 "classrooms.uiowa.edu mockups"
# Story

As a developer, I can see mockups of a classroom page as well as a UCR-SPS page so that I have a good idea of how the fields and references will need to be displayed which will help us understand how to structure them.

# Additional Info

Our classrooms partners put together this page as a reference. https://classrooms.prod.drupal.uiowa.edu/art-building-west-240

Existing classrooms page

[2022-10-04 19:49] bspeare commented on #5743
I'd imagine that they suggest the `<head>` because that is a common practice for managing scripts on the page.  Do we want to start with the original proposed solution and move to `html.tpl.php` or preprocess function if this is not working as expected?

[2022-10-04 20:03] mjoneill commented on #5743
I'm open for anything if we're up for learning and adjusting as we need to.

[2022-10-04 20:31] pyrello commented on #5812
For now, this new endpoint can be a way for us to provide additional functionality to SiteNow without having to disrupt other API consumers. If we eventually get to the point where we don't want to have to maintain both, we can announce that we are going to deprecate the old API after a certain point and give API consumers a window of time to get moved over. This may not be necessary or may become

[2022-10-04 20:33] #5729 closed, assigned to nobody

[2022-10-04 21:02] mjoneill commented on #5743
Well, the info took a bit of digging...I think three clicks in from where it would have been helpful to have it  :P

[2022-10-04 21:52] joewhitsitt commented on #4049
This has been deployed to uihealthcare signage. Tempted to just do some drush commands to set it up, but if anyone is on campus tomorrow: the module has been enabled already and the features reverted but someone needs to...

- go to admin/config/media/image-toolkit, change "image processing toolkit" to "ImageMagick" save the config OR `drush @org-uihealthcaresignage.prod vset image_toolkit imagema

[2022-10-04 22:09] joewhitsitt commented on #4049
Nevermind. I ran the drush commands and confirmed the variables in the remote prod db. 🤷

[2022-10-04 22:09] #4049 closed, assigned to joewhitsitt

[2022-10-04 22:13] joewhitsitt commented on #4049
Interesting tidbit: I wasn't able to login with my hawkid (stale request) or through drush uli (access denied) when using the MyWeb remote to access the site using IE.

[2022-10-05 14:20] bspeare commented on #5752
It sounds like Scott is about to use this content type to create a bunch of events.   It would be great to fix this ASAP.

[2022-10-05 15:16] briand44 commented on #5547
emails sent to create redirect and lower TTL. Will update the issue once I hear back.

[2022-10-05 16:15] briand44 commented on #5748
From what I can tell, if an event spans multiple days and started prior to today but ends at a future date, the event is not displayed as an upcoming event or past event. So we currently have no way of showing an event that is "in progress" without using the date range feature.

[2022-10-05 21:39] briand44 commented on #5547
TTL has been lowered. Redirect in place but I haven't tested yet.

[2022-10-06 12:44] briand44 commented on #5547
Tested redirect and it is working.

[2022-10-06 13:30] bspeare commented on #5719
I emailed Jeremy on Tuesday and I still have not heard back from him.  I'm going to remove myself from this issue and move it back to planned.

[2022-10-06 13:38] joewhitsitt commented on #5740
It looks like the original error was fixed by https://github.com/uiowa/uiowa/pull/5728/commits/7bc1acc180fc1f150a0ee6fb6937bb45f61822ec.

Repurposing this issue for https://github.com/uiowa/uiowa/issues/5740#issuecomment-1260961313

[2022-10-06 15:02] joewhitsitt commented on #3415
Education has expressed interest in SoundCloud embeds

[2022-10-06 15:09] joewhitsitt commented on #3415
Alternatively, we could look into bumping up audio file sizes or integrating with cloud hosting and supporting podcast rss https://www.drupal.org/project/podcast

[2022-10-06 15:19] briand44 commented on #5719
I'm not sure what we are waiting on Jeremy for? I was able to create an event on content.dev.drupal.uiowa.edu and have it appear on events-test.uiowa.edu.

https://events-test.uiowa.edu/33102

[2022-10-06 15:20] briand44 commented on #5719
Seems like we should be able to check out the feature branch on 702 dev and move forward with testing this.

[2022-10-06 15:43] joewhitsitt opened #5816 "Allow 10 MB uploads again for Signage to maintain 4K support"
# Problem

In addressing https://github.com/uiowa/uiowa/issues/4049, I lowered the file size limit to 8 MB which removes half of our 4K support https://github.com/uiowa/uiowa/issues/3209 which we changed it to 10 MB.

# Proposed Solution

- [x] Change all instances from 8 MB to 10 MB (signage, healthcare) in features and deploy

[2022-10-06 15:47] joewhitsitt commented on #5719
DEV is on tags/2022-09-26 instead of master or feature_null_farms_fix.

[2022-10-06 15:50] briand44 commented on #5719
Right, that is why I mentioned

I am not going to have time to test this now. Have a meeting shortly.

[2022-10-06 15:50] briand44 commented on #5719
Oh I get your point. It should not be on a tag, it should be on master if we are not checking out feature branch. Good catch!

[2022-10-06 17:18] pyrello opened #5817 "SiteNow updates news article - October"
## Issue/Solution ##
Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  * See the previous month's article as an example.
  * Bulle

[2022-10-06 17:20] pyrello commented on #5660
Next month's issue: https://github.com/uiowa/uiowa/issues/5817

[2022-10-06 17:53] bspeare commented on #5719
Yes, I switched it back to the wrong branch this morning.  Thanks for catching that!

[2022-10-06 17:54] #5660 closed, assigned to pyrello

[2022-10-06 17:55] bspeare commented on #5719
You are probably right.  I think I would this would be a issue to pair on to get a better sense of how to test it on https://events-test.uiowa.edu/.

[2022-10-06 19:02] joewhitsitt opened #5818 "Paragraphs within layout builder cannot be removed"
# Problem
There is an overlay issue with the paragraphs action buttons

# Steps to reproduce
In v3, remove a collection item.

https://user-images.githubusercontent.com/4663676/194397011-7be0168a-e620-423e-ac60-c7f4960379a8.mov

# Proposed solution
- [ ] Check the paragraphs/layout builder issue queue for upstream issues/solutions
- [ ] Adjust admin css to make sure these buttons don't overlap.

[2022-10-06 20:44] briand44 commented on #4716
Goal to get this in an environment for feedback.

[2022-10-06 22:46] mjoneill commented on #4716
Yep. Let's get feedback from Jess, Sondra, Scott, and Jeneane...plus anyone
in the team, anyone in demo, etc...

If it's in a review environment while I'm down south, I'll be able to check
it out too.

Also, be aware that the solution had changed in our last design meeting.
Athletics gets the Advancement and Healthcare treatment, News goes under
About...

On Thu, Oct 6, 2022 at 3:44 PM briand44 **

[2022-10-07 13:40] bspeare commented on #5818
The logs are complaining about `TypeError: array_shift(): Argument #1 ($array) must be of type array, null given in array_shift() (line 1026 of /var/www/html/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module)` which is at  https://github.com/uiowa/uiowa/blob/main/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L1026

[2022-10-07 13:46] joewhitsitt commented on #5818
Thanks for digging into this @bspeare. Are you working on it? I can help debug if needed

[2022-10-07 13:47] bspeare commented on #5818
I'm not actively working on it.  I was just curious about what the logs said.

[2022-10-07 13:57] joewhitsitt commented on #5818
Looks like it originally came from https://github.com/uiowa/uiowa/issues/2104 and just needs an if not empty check around it. I think the collection item title (headline) is required but not always set when this code runs.

[2022-10-07 14:18] joewhitsitt commented on #3585
Cautiously optimistic. Closing for now...

[2022-10-07 14:20] joewhitsitt opened #5819 "UIAcquiaGithub deploy key"
I believe Rick setup a Slack reminder to do this periodically. Let's do it.

https://wiki.uiowa.edu/display/drupaldev/Rotate+Deploy+Key

[2022-10-07 14:30] pyrello commented on #5751
Thoughts after going through SiteNow email dispatch workflow:
- Consider using 2 templates in Dispatch for SiteNow emails: monthly update email and something ad-hoc.
- If we used dynamic templates, could we avoid having to change the template as part of our workflow?
- Should be consider adopting a branded email template so that our communications look professional and like we are a tech savvy tea

[2022-10-07 15:30] joewhitsitt commented on #4632
While streaming logs when this happened on 10/07/2022 ~10:11ish, nothing stood out.

Clearing cache (not varnish) was enough for anonymous visitors to see it again. Authenticated users could see it.

[2022-10-07 15:36] joewhitsitt commented on #5719
Planning a ~11ish mob on this today

[2022-10-07 16:44] joewhitsitt commented on #5719
Fixed by commit 3bdc1f346 where we are checking for thoroughfare before constructing the address to pass to events.uiowa.edu for both address and place. This has been deployed to PROD

[2022-10-07 16:44] #5719 closed, assigned to joewhitsitt

[2022-10-07 18:09] briand44 opened #5821 "Migrate Iowa Now people"
# Story
As an Iowa Now website owner, I would like people migrated from our current site to our new site so that this content doesn't have to be manually created again.

# Additional Info

Fields:
First Name
Last Name
Job Title->Title/Position
Email
Phone
Photo
Areas of Expertise->Research Areas
About->Bio
Type->Tags (Expert, OSC Staff)
OSC Contact->Person reference

# Questions

- Does Iowa Now p

[2022-10-07 18:35] bewoldt opened #5822 "Add ticketing info and website for uiowa events"
# Problem
When entering an event into [content.uiowa.edu](https://content.uiowa.edu) you can add a website url along with Ticketing information but neither of these are being displayed on the event details page.

Example
This homecoming event has ticket information included but is not displaying. The website info is also not displaying.
https://homecoming.uiowa.edu/event/104806/0

<img width="531"

[2022-10-07 19:12] #5675 closed, assigned to nobody

[2022-10-07 19:20] briand44 opened #5823 "Display Facilities Management building info from API"
# Story
As a Facilities Management website owner, I would like to see building information from our APIs displayed on building pages.

# Additional Info

**Data Feeds**
https://bizhub.facilities.uiowa.edu/bizhub/ext/buildings
https://bizhub.facilities.uiowa.edu/bizhub/ext/building?bldgnumber=0004

**Existing building**
https://www.facilities.uiowa.edu/building/0003

**Mockups**
https://sandbox.pro

[2022-10-10 13:32] joewhitsitt opened #5825 "2plus2 path includes commas"
# Problem

There seems to be a regression or missed condition for the generated 2plus2 major/college view.

https://admissions.uiowa.edu/academics/2plus2/criminology,-law,-and-justice which shouldn't include the commas and it also looks like the twig var for the `<title>` tag is not rendering `{{ title_1 }}`

The desired path is `criminology-law-and-justice`

# Proposed solution
- [ ] Revisit the

[2022-10-10 14:33] joewhitsitt commented on #5822
Not sure if this is a bug or just not currently pulled-in content.

[2022-10-10 14:44] makurj opened #5826 "Tippie profiles not indexing: module?"
Profiles not showing up in Google Search: Wiaguo Fan, Kurt Anstreicher, Lon Moeller, Mark Penno, and Hope Koch.
http://tippie.uiowa.edu/people/ramji-balakrishnan
http://tippie.uiowa.edu/people/thomas-r-berry-stoelzle

For Hope Koch, if do a search for "Hope Koch Tippie", the /people page does show up. But not if I only search for "Hope Koch", at least not the first 10 results.

![image](https://us

[2022-10-10 14:45] #5818 closed, assigned to e-marie-w

[2022-10-10 14:47] briand44 opened #5827 "Images missing on Academic Groups page"
Wayback still has the file names listed that we could use to add the images back https://web.archive.org/web/20220703143743/https://admissions.uiowa.edu/academics/groups. (bspeare)

[2022-10-10 14:51] cory-skeers commented on #5722
Visibility: We've had an additional request for functionality like this
https://developmental-psychopathology.lab.uiowa.edu/
(eg people page linking instead to https://psychology.uiowa.edu/people/isaac-petersen)

[2022-10-10 15:01] makurj commented on #5826
Tippie sitemap resubmitted on Monday, October 10, 2022 after the creation of this issue to see if it resolves this problem.

[2022-10-10 16:11] bspeare commented on #4716
I'm going to start working on this issue.

[2022-10-10 16:14] e-marie-w commented on #5664
Per #5824, waiting until min-max is added in smart_date 3.6.2

[2022-10-10 16:35] bewoldt opened #5828 "Campuslabs RSS feeds"
# Story

As a web editor I would like to be able to pull events from [the campuslabs ](https://uiowa.campuslabs.com) events feed and individual student organization events feed.

When pulling in events using the RSS aggregator, the date of the event is not the correct date.

examples to test:
https://uiowa.campuslabs.com/engage/organization/undergraduate_student_government/events
https://sandbox.p

[2022-10-10 17:02] joewhitsitt commented on #5664
We were seeing that the default value was not working as before. Instead of the "next hour" setting it was using the max date.

[2022-10-10 17:54] joewhitsitt commented on #5828
The RSS feed/aggregator block uses the `pubDate` value which is part of the RSS 2.0 spec. Not sure this block will be a good fit for this feed unless campuslabs changes the structure of their field.

If more than one website is going to be using this data, it sounds like a feature split/custom block type.

[2022-10-10 18:00] mark-bennett-uiowa opened #5829 "Iowa Summer Writing Festival D9 site"
Standard checklist for site provision, installation, and creation:
- [x] Provision and install site
- [ ] Create internal Festival --< Session >--< Workshop >--< Instructor custom structure for use on the site #5732
- [x] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ]

[2022-10-10 18:05] mark-bennett-uiowa opened #5830 "CHEEC D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-10 18:09] mark-bennett-uiowa opened #5831 "Deprovision `shops.clas.uiowa.edu` site on `uiowa01`"
- This has a prod domain [classhops.prod.drupal.uiowa.edu](http://classhops.prod.drupal.uiowa.edu/AH_VIEW) and database on uiowa01.
- Remove from https://cloud.acquia.com/
- Check local sites and blt files for any drush aliases

<details>
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
-

[2022-10-10 18:10] joewhitsitt commented on #5664
actually, i am going to take one more look at this.

[2022-10-10 18:11] mark-bennett-uiowa opened #5832 "Committee on Sustainability and the Environment D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA account
- [ ] Unit approves launch
- [ ] Launch site
- [ ] Cre

[2022-10-10 18:13] mark-bennett-uiowa opened #5834 "Instructional Resources (Physics) D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA account
- [ ] Unit approves launch
- [ ] Launch site
- [ ] Cre

[2022-10-10 18:16] mark-bennett-uiowa opened #5835 "iowajournalist.org D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA account
- [ ] Unit approves launch
- [ ] Launch site
- [ ] Cre

[2022-10-10 18:16] briand44 commented on #5822
I'm not seeing the ticketing information on events.uiowa.edu either https://events.uiowa.edu/74304

[2022-10-10 18:17] mark-bennett-uiowa opened #5836 "iowamommoodbooster.org D9 site"
Standard checklist for site provision, installation, and creation:
- [x] Provision and install site
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA account
- [ ] Unit approves launch
- [ ] Launch site
- [ ] Cre

[2022-10-10 18:19] mark-bennett-uiowa opened #5837 "Nanotech D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA account
- [ ] Unit approves launch
- [ ] Launch site
- [ ] Cre

[2022-10-10 18:20] mark-bennett-uiowa opened #5838 "OSTC D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA account
- [ ] Unit approves launch
- [ ] Launch site
- [ ] Cre

[2022-10-10 18:22] mark-bennett-uiowa opened #5839 "Public Digital Arts D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA account
- [ ] Unit approves launch
- [ ] Launch site
- [ ] Cre

[2022-10-10 18:23] mark-bennett-uiowa opened #5840 "Sloan Center D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA account
- [ ] Unit approves launch
- [ ] Launch site
- [ ] Cre

[2022-10-10 18:24] mark-bennett-uiowa opened #5841 "Speaking Center D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-10 18:25] mark-bennett-uiowa opened #5842 "GEEMaP (Statistics) D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA account
- [ ] Unit approves launch
- [ ] Launch site
- [ ] Cre

[2022-10-10 18:26] mark-bennett-uiowa opened #5843 "Office of Sustainability and the Environment (CLAS) D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA account
- [ ] Unit approves launch
- [ ] Launch site
- [ ] Cre

[2022-10-10 18:27] mark-bennett-uiowa opened #5844 "Writing Center D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA account
- [ ] Unit approves launch
- [ ] Launch site
- [ ] Cre

[2022-10-10 18:46] joewhitsitt commented on #5822
Unless we can say that this was previously displayed, I don't think this is a bug.

The information is currently available to the API and sent to events.uiowa.edu during the sync. It appears to just not be consumed and rendered.

- Add ticket url, cost and website url to single event render (full display)
- Coordinate with ITS CSI to render ticket url and cost on events.uiowa.edu

[2022-10-10 19:23] joewhitsitt commented on #5664
Looks like we have a typo that is causing the max to be used for the default value:

https://www.drupal.org/project/smart_date/issues/3300768#comment-14726415

[2022-10-10 19:40] cory-skeers commented on #4519
We did get another request for adding attributes to menu links (specifically opening in a new window, but the same module can be used for both).

https://developmental-psychopathology.lab.uiowa.edu/ the "Lab Wiki" link in the menu, Isaac Peterson, its-web request.

[2022-10-10 21:16] #5669 closed, assigned to mark-bennett-uiowa, GaryRidgway

[2022-10-10 22:21] briand44 commented on #5810
Wanting to draw attention to the difference between the online festival and in person festival mentioned in the update in https://github.com/uiowa/uiowa/issues/5732#issuecomment-1263915168

[2022-10-10 23:35] pyrello commented on #5732
My thought about this is that we could still have the session be the container for a workshop in the online festival. The difference would be that instead of containing multiple workshops, an online session would only contain one workshop. This would avoid us having to build two similar but slightly different sets of entities or two have to blur the lines between what is a session and what is a wo

[2022-10-10 23:36] pyrello commented on #5810
I made a comment with an idea for how to address the apparent discrepancy: https://github.com/uiowa/uiowa/issues/5732#issuecomment-1273913210

[2022-10-11 13:26] cory-skeers opened #5846 "Link to create webforms from the webform block"
A user in Layout Builder had some confusion on where to go to create webforms, and if they had the required permissions, as they weren't able to create one directly in the webform component.

# Proposed solution
Update the Webform component help text with a link to webforms.

[2022-10-11 14:15] joewhitsitt commented on #5664
Re-scoped based on standup discussion about upstream issues.

[2022-10-11 15:09] e-marie-w commented on #5817
https://sitenow.uiowa.edu/news/2022/10/updates-october

[2022-10-11 15:17] mkyoder opened #5848 "Record one tutorial for a SiteNow v3 video library"
# Story
As a web community site visitor, I can see a short training video tutorial showing an aspect of Layout Builder in SiteNow v3.

# Additional Information
Training videos would be hosted on the web community site, showing various aspects of Layout Builder (e.g. how to add person, events, articles, collection item, call to action, etc).

# Proposed Solution
As a first slice, want to record one

[2022-10-11 15:25] briand44 commented on #5848
Should these be hosted on the web community site or should they be hosted on the SiteNow site and linked to from the web community site?

[2022-10-11 15:49] #5804 closed, assigned to joewhitsitt, e-marie-w

[2022-10-11 17:40] bspeare opened #5849 "Epic - As a developer, I can use the new 4.x card component in uids_base"
# Story

As a developer, I can use the new 4.x card component in uids_base

# Proposed solution
All slices will be done in the same pull request and distributed over multiple sprints.

- [x] #5970
- [x] #5971
- [x] #5972

[2022-10-11 18:11] briand44 commented on #5849
blocked by https://github.com/uiowa/uids/issues/781

[2022-10-11 18:34] briand44 commented on #5810
Lets keep in mind other potential conference type websites in the future.

[2022-10-11 18:52] joewhitsitt commented on #5748
I think we are going to run into issues trying to re-shape the current view and for it to work with our block. Might I propose just including a new checkbox (include in-progress) and doing a separate query for those that gets merged or set to the top of the other events. We will have to account for number of items/pager though with this approach or create a dividing line that separates in-progress

[2022-10-11 19:07] briand44 commented on #4632
Let's hold off on trying to dive into this since we are currently changing the menu for uiowa.edu

[2022-10-11 19:08] briand44 commented on #4632
blocked until this happens again after we switch menu implementations.

[2022-10-11 19:54] cory-skeers opened #5852 "SSL for commencement.uiowa.edu on uiowa03"

[2022-10-11 21:46] quamsta opened #5853 "As a user, I'd like to see the URLs generated by `pathauto` reflect the page title correctly."
# Story
As a user, I'd like to see the URLs generated by `pathauto` reflect the page title correctly.

# Reasoning
According to [this documentation page on Drupal's site](https://www.drupal.org/node/847370):

[A person in the comments section of an issue](https://www.drupal.org/project/pathauto/issues/3298897) found [the original source of this list](https://www.drupal.org/project/pathauto/issues/

[2022-10-11 21:47] quamsta commented on #5853
@joewhitsitt said in the draft PR:

[2022-10-11 21:54] quamsta commented on #5853
@joewhitsitt And it looks like the reason for these truncated URLs might be a `path_alias` table size?

https://www.drupal.org/project/pathauto/issues/2858096

It just seems odd that small words like these have to be truncated due to a technical limitation. But if it's an upstream Drupal issue I can probably rest my case here.

[2022-10-12 14:03] joewhitsitt commented on #5547
Brian in Slack:

[2022-10-12 14:30] bspeare commented on #1550
I think this issue was created before the replicate functionality existed.    At this point, I think it would be more useful to improve the replicate functionality with an issue like https://github.com/uiowa/uiowa/issues/5301 or reconsider/revisit the layout template issues like https://github.com/uiowa/uiowa/issues/2378.

We can create this design (https://user-images.githubusercontent.com/306701

[2022-10-12 14:36] bspeare commented on #5848
@mkyoder are you able to share the outline for the video training with the web team?

[2022-10-12 15:02] mkyoder commented on #5848
@bspeare Sure! Here is a short script/outline for just one training video. I didn’t write out other scripts since just doing one video would be a first slice.

I choose the element of how to add an event in layout builder for this particular video.

Link here: https://iowa.sharepoint.com/:w:/s/OSCWebTeam/ETLP7EFmZPdAhfoEk0hbuGcBP4Ff8ZwZP-rkCpoRRwUegA?e=OK4uS1

Let me know if you have questions and

[2022-10-12 15:07] bspeare commented on #5848
@mkyoder Thanks for sharing!

[2022-10-12 15:17] #5670 closed, assigned to bspeare

[2022-10-12 16:02] bspeare commented on #1550
Chatted with @mark-bennett-uiowa about this.   It sounds like it might be worth investigating layout builder section cloning and adding the ability to set borders on sections/blocks.

- Something like https://www.drupal.org/project/layout_builder_clone
- Adding border options on text area blocks or layout builder sections

[2022-10-12 16:36] joewhitsitt commented on #5853
I think that given the technical limitation, the ignore words help prioritize what words should be kept. Obviously, Drupal isn't very smart and this is happening even when there isn't a need to limit, cut it down.

Thank you for pulling together these links for others to review and slowing this down a bit. I'll be honest, I was a bit bothered when this came out out of nowhere, mid-sprint, a platfo

[2022-10-12 17:02] joewhitsitt commented on #5547
Looks like the /cbe content was published yesterday which takes precedence over the redirect. I removed the redirect.

No update about the DNS change since this morning's email so still assuming a 1PM-ish switch.

[2022-10-12 17:08] joewhitsitt commented on #5547
engineeringcbe prod domain has been added and robots has been edited

[2022-10-12 18:06] joewhitsitt commented on #5547
Seems to have worked out nicely. Added a calendar reminder. Waiting to up the TTL.

[2022-10-12 18:07] briand44 commented on #5547
Thank you! Can you email Hailey and let her know the url of the old site if you haven't already?

[2022-10-12 18:16] bspeare opened #5855 "As a SiteNow user, I can add a border to a text area block"
# Story

As a SiteNow user, I can add a border to a text area block

# Proposed solution

Add a border style group with properties:
- Border: all
- Border: right
- Border: left
- Border: top
- Border: bottom

<img width="461" alt="Screen Shot 2022-10-12 at 1 07 57 PM" src="https://user-images.githubusercontent.com/1036433/195416358-42641148-471d-436b-a90c-4c59602f07a7.png">

I added a proof of con

[2022-10-12 18:44] joewhitsitt commented on #5664
Created an MR https://www.drupal.org/project/smart_date/issues/3300768#comment-14739789

[2022-10-12 18:45] joewhitsitt commented on #5664
Took this opportunity to try https://github.com/shaal/DrupalPod which makes contributing a bit easier.

[2022-10-12 18:49] joewhitsitt commented on #5547
I blocked it again because of the "post-launch day TTL increase"

[2022-10-12 19:16] bspeare commented on #4716
I've added this to https://home.dev.drupal.uiowa.edu/ if folks want to check it out.

[2022-10-12 19:28] joewhitsitt commented on #4716
Thanks for putting this out there.

I like the change of the search bar icons from gray to white. I know the grey on white links are AA accessible, but to me it seems a a bit fuzzy.

[2022-10-12 19:35] quamsta commented on #5853
@joewhitsitt Yeah, sorry for breezing in out of nowhere with the PR. I realized that was a bit much and decided to slow my roll a bit. I thought I had left the original PR as a draft to at least facilitate discussion but I think I marked it for review and requested review out of habit without much thought.

This.. is exactly why I probably needed to slow down a bit. Since this would change a lot o

[2022-10-12 19:49] bspeare commented on #4716
Thanks @joewhitsitt, maybe we could keep them black and go with a thinner font weight to set them apart?

<img width="1465" alt="Screen Shot 2022-10-12 at 2 49 41 PM" src="https://user-images.githubusercontent.com/1036433/195436400-4dc555aa-a112-4fc3-ad7d-012af8d09086.png">
<img width="1503" alt="Screen Shot 2022-10-12 at 2 50 46 PM" src="https://user-images.githubusercontent.com/1036433/195436451

[2022-10-12 21:59] mark-bennett-uiowa commented on #1550
Tested out the latest #5855 PR that @bspeare created. With Ben's PR, the addition of the button block, and updates to the text area blocks (since this issue was created years ago), we can now create something nearly identical for the original idea of this issue. Here is a screenshot of an existing "program" block with the new updates to widgets, and the #5855 PR:
![Screen Shot 2022-10-12 at 2 51 1

[2022-10-13 13:34] joewhitsitt commented on #5547
Requested the TTL be raised. Closing.

[2022-10-13 13:34] #5547 closed, assigned to nobody

[2022-10-13 13:48] joewhitsitt commented on #5853
To ease concerns a bit, of the sites on uiowa.prod, all of the redirect tables are under 10 MB.

Since it only happens on save, I don't think there will be a huge jump.

[2022-10-13 14:39] joewhitsitt commented on #5454
Could be potentially resolved using this 9.5 change to robots.txt https://www.drupal.org/node/3313604

[2022-10-13 15:05] benlewzz commented on #5706
Thanks for thinking on this, these are all great ideas.

Either or both of these solutions (text area and individual tag display) would be super helpful. We have several cases where we need staff, students, and even the general public to "add their event" to a page. Many times they have no CMS training or access, so we're hoping to reinforce the idea that the page is "displaying events tagged as _

[2022-10-13 15:24] briand44 opened #5857 "Law Library development needs"
- We want to add an hours option similar to [Rec Services](https://recserv.uiowa.edu/). I would guess this is a webform of some sort, but I wasn’t sure how to create it. Can you please provide guidance?

- I need the search block we have placed on the center of the home screen to search [InfoHawk+](https://search.lib.uiowa.edu/primo-explore/search?vid=01IOWA). Can you tell me how to accomplish thi

[2022-10-13 15:24] briand44 commented on #5857
Just capturing the asks here for now to be used as a reference for our meeting with them. Will provide more information and split these into user stories after we meet.

[2022-10-13 18:30] mark-bennett-uiowa commented on #5809
This was due to the site using a custom predictive text search field. After discussion with @bspeare we switched this over to the system's Search widget, and added the proper parameter to achieve the same results, and fix the width issue of the search field. Though this new field does not have the same predictive text functionality, that will not be a missed feature, and we can close this issue as

[2022-10-13 18:30] #5809 closed, assigned to mark-bennett-uiowa

[2022-10-13 18:58] joewhitsitt commented on #5810
Without digging yet, this seems more and more like schema.org's EventSeries > Event setup with "superEvent" and "subEvent" relationships.

Olympic Games (EventSeries) > The Rio 2016 Summer Olympics (Event with superEvent=Olympic Games, subEvent=Rowing). Then Rowing (Event with superEvent=The Rio 2016 Summer Olympics and subEvent=Rowing Semi-Final) and onward. So I think if there can be some flexib

[2022-10-13 20:26] briand44 commented on #5748
Probe to see if we can make changes to the existing views to account for in progress events. Come up with a proposed solution.

[2022-10-13 20:35] pyrello commented on #5748
Updated the proposed solution to reflect the nature of the probe.

[2022-10-14 15:06] briand44 opened #5858 "Add subtitle to Area of Study PDFs"
# Story

As an Admissions website owner, I would like to display the Area of Study subtitle on the PDFs.

# Additional Info

Since they will be using the subtitle for the AoS display at the visitor center, they will be using this field more and increases the desire to display on printable pdfs.

We have flexibility to figure out what looks best here.

Here is an example of an Area of Study that co

[2022-10-14 15:25] e-marie-w commented on #5827
Added back the images and cleared caches (site and Varnish). Going to respond to Scott's message in Slack and let him know it's fixed.

[2022-10-14 15:53] #5752 closed, assigned to bspeare

[2022-10-14 15:53] #5811 closed, assigned to bspeare

[2022-10-14 15:53] #5825 closed, assigned to bspeare

[2022-10-14 18:41] mark-bennett-uiowa commented on #5810
If we have the potential to use this same structure for other conferences, festivals, or super-events on campus, do we want to consider a structure to work with something like a DrupalCon? Where you have the top level conference/festival/super-event, etc. Within that you have a Monday session, a Tuesday session, a Wednesday session, etc each with their own start/end date/time. Within that you have

[2022-10-14 19:06] bspeare commented on #5155
Do we still need this after https://github.com/uiowa/uiowa/pull/5725?

[2022-10-14 19:08] bspeare commented on #4579
Do we still need this issue?

[2022-10-14 19:13] bspeare commented on #5566
Related issue that could be part of the proposed solution https://github.com/uiowa/uiowa/issues/5386.

[2022-10-14 19:14] joewhitsitt commented on #5155
Probably not. Thanks for looking through these.

[2022-10-14 19:14] #5155 closed, assigned to nobody

[2022-10-14 19:33] briand44 commented on #4579
I had reached out to them at one point to see if they were ready for feedback and they never got back to me. I'm fine with closing and we can re-open if they reach out and want our feedback.

[2022-10-14 19:33] #4579 closed, assigned to nobody

[2022-10-14 19:43] e-marie-w commented on #5827
Scott gave thumbs-up so closing.

[2022-10-14 19:43] #5827 closed, assigned to e-marie-w

[2022-10-17 14:16] pyrello commented on #5810
Conference seems like the most common name used for something like this.

Session seems like the right name, but this is essentially what we are currently calling an Event.

This is essentially the event series, I believe. I'm not sure what the best name for this is TBH.

---

One thing to note: If we need to change the labels of these content types for ISWF to fit with what they are expecting, th

[2022-10-17 15:31] bspeare commented on #5472
The banner uses the same text format.

[2022-10-17 15:58] mark-bennett-uiowa commented on #5810
I did some digging into major conferences that I could find. It appears most of them have similar structures, but limit their sessions to one day within the conference.

For ISWF we need to account for the "Day" level spanning 2, 5, or 10 days, and what we would call that, outside of a generic "Event Series". [https://evenues.com/event-planning-guide/types-of-meetings-and-events](https://evenues.c

[2022-10-17 20:51] mkyoder commented on #5743
Unbounce pop-up added to osc.uiowa.edu pages. Megan will publish it once Jeneane has had a chance to review the pop up and corresponding Qualtrics survey this week.

[2022-10-17 21:16] mark-bennett-uiowa opened #5860 "As a developer, I can adjust horizontal card title font to match standard card title, or provide options for change."
The horizontal card title font is Zilla Slab by default, and is not changeable. The standard card title font is Roboto by default, and is not changeable. This comes into play when both types of card variants are used together. See the Learning Centers section on the SocialWork homepage: https://socialwork.uiowa.edu/.

![Screen Shot 2022-10-17 at 4 14 39 PM](https://user-images.githubusercontent.co

[2022-10-17 22:11] mark-bennett-uiowa commented on #5860
Closed as a duplicate of #5232.

[2022-10-18 13:47] cory-skeers commented on #5748
Was starting to look into this.

[2022-10-18 14:19] #5860 closed, assigned to nobody

[2022-10-18 15:12] joewhitsitt commented on #5810
I think what I was hinting at with https://github.com/uiowa/uiowa/issues/5810#issuecomment-1278049198 is that there is a top-level event series, but everything else is technically an "event" and that the type and the information provided changes using parent (superEvent) and child (subEvent) relationships to tie things together.

There is similar mixing of types with events.uiowa.edu but just at a

[2022-10-18 15:47] quamsta opened #5861 "As a user, I'd like to be able to schedule custom website alerts"
# Story

As a user, I'd like to be able to schedule local website alerts so that they can appear and disappear on specific dates.

Possibly related to scheduled content issues:
https://github.com/uiowa/uiowa/issues/5405
https://github.com/uiowa/uiowa/issues/723

We've been using alerts to show due dates for applications, when offices are closed, etc. and it'd be really nice (and fancy?) to be able

[2022-10-18 15:50] GaryRidgway commented on #4716
As we were talking about this in MSD today, I had brought up the idea of another font as well, but I do like the grey. Perhaps a darker grey would be good?  A different font-size?

Having separate luminosities of text color (eg. Black -> Greys -> light greys) is a very common strategy for information hierarchy, and i think if we are trying to set these menu pieces apart, we could investigate how i

[2022-10-18 16:01] GaryRidgway commented on #4716
![Screen Shot 2022-10-18 at 11 00 24 AM](https://user-images.githubusercontent.com/23122142/196482866-ca15b171-2438-49c1-aec1-3692e39f49bc.png)
I tried some modifications with Font smoothing, different grey values, and font sizing. I dont think it's perfect, but its an example of what I was talking about

I also messed with the dividers a bit to make them stand out a bit less, but that was just pl

[2022-10-18 16:13] joewhitsitt commented on #5861
On the surface, I think this would be easier than https://github.com/uiowa/uiowa/issues/5405 or https://github.com/uiowa/uiowa/issues/723 because much of uiowa_alerts is already driven by JS. The custom message currently uses drupal render though so I think that would have to be adjusted to always store the custom message in the block (on settings save) but then use JS to frequently check the time

[2022-10-18 17:14] quamsta commented on #5861
@joewhitsitt Oh, nice! Didn't realize custom alerts were JS-driven? I thought maybe only Hawk Alerts were JS-based?

[2022-10-18 17:32] joewhitsitt commented on #5861
Perhaps I didn't illustrate my thought-process very well.

Custom alerts are part of the uiowa_alerts module which also contains the hawk alerts all as part of the same block. The custom alerts are not currently driven with JS, but that we could change things up so that the data is available for the existing JS (hawk alerts) to display when the custom message's time range matches up.

[2022-10-18 18:44] pyrello commented on #5601
Update IS to reflect the removal of integrating with a new menu to handle the Table of Contents since we are using a dedicated text area field for that.

[2022-10-18 18:47] briand44 commented on #5816
group image, slide image, promotional image, default media add... Could use git log to see what was changed previously.

[2022-10-18 18:48] briand44 commented on #5816
Signage and Healthcare Signage both use features so keep that in mind.

[2022-10-18 18:49] briand44 commented on #5816
Also, remember we can remote in to test Healthcare Signage.

[2022-10-18 18:55] pyrello opened #5862 "Investigate long term strategy for managing custom AD role mappings"
Follow-up to #5702.

When we groomed #5702, we discussed that we want to use a site split to handle setting up custom AD role mappings for the Student Life intranet site. We decided to go with the site split because that would more easily allow us to determine what sites were overriding it should some issue with security come up. If this becomes a more widely-used feature, it would be desirable to

[2022-10-18 19:03] briand44 opened #5863 "Investigate adding ID's to ListBlock block types (articles, people)"

[2022-10-18 19:06] briand44 commented on #5863
Challenge is we don't have an entity to attach a field to.

May depend on a core patch.

[2022-10-18 19:35] cory-skeers commented on #5748
Couple notes on the amounts of extended events

Vast majority of events span 0 (end date is same as start date) or 1 day (end date is day after start date)-- little over 95% of the 30000ish events currently on the site.

Of the extended duration events, it looks like a lot of them tend to be ones that end around semester ends, with some difference in when they start (eg start around September, end

[2022-10-18 19:39] bspeare commented on #5814
I've updated the classroom page after the feedback from MSD: https://sandbox.prod.drupal.uiowa.edu/art-building-west-240.    Let me know if you have any feedback!

[2022-10-18 20:34] mark-bennett-uiowa commented on #5810
Things to consider from huddle:

- Utilize schema.org for EventSeries and Events.
- Capturing eventID for pathing, e.g. /event/12345/human-readable-title
- Limit event nesting to 3 levels to start: festival > session > workshop
- Joe pointed out that performer property is the schema mapping for performer, instructor, etc.
- Also pointed out offers property for registration link

[2022-10-18 21:01] briand44 commented on #5814
Ok, if I am understanding this correctly some of the UCR/SPS info is found https://sandbox.prod.drupal.uiowa.edu/university-classrooms-ucr-and-specialty-spaces-sps-0 and some lives on the classroom entity https://sandbox.prod.drupal.uiowa.edu/art-building-west-240#cover.

If that is the case my concern is that some current metadata is not represented at all (Descriptions for room type, seating typ

[2022-10-18 21:22] bspeare commented on #5814
That's correct @briand44.  I think we will want to create a glossary page to point each general metadata link towards for this mockup.  For custom information like "Responsible unit" we will need to display that text inline and we will update the mockup with that.   For information like "Moveable Tablet Arms", it seems like we could link to an a-z list page of definitions.

[2022-10-18 21:45] joewhitsitt commented on #5810
I want to dig a bit more into the Schema.org Blueprints module in terms of blending with existing content types (e.g. Event) but my proposed solution would be to address as much of this with the event content type. I want us to ignore the "Event Series" content type that we half-did for Admissions as "EventSeries" is just a type of "Event" in schema.org's mind. _If_ we needed a separate content ty

[2022-10-19 13:40] #4487 closed, assigned to nobody

[2022-10-19 13:49] joewhitsitt commented on #5803
I worry how fragile this linking is, but I am not coming up with alternatives.

It seems overkill to add a buildingID field to the basic page content type to control this. Additionally, moving to a buildingID URL alias seems like the opposite direction for a named building page.

At this point though, I am trying to decide the value of pulling this data since content is manually created and manage

[2022-10-19 14:38] mark-bennett-uiowa opened #5864 "Create remaining CLAS site provisions on uiowa04 once created"
- [x] Remove the existing *.prod.drupal.uiowa.edu domains from the uiclas application.
- [x] Edit the new uiowa04 SSL certificate to cover the following sites with the addition of the SSL code below.
- [x] Add prod.drupal domains to uiowa04 for each site listed below.
- [x] Run site provision process for following lists.
- [ ] Run cleanup on SSL and domains as listed below. #5973

### Here are pre

[2022-10-19 14:39] joewhitsitt commented on #5810
looks like the schema.org blueprints suite will allow us to extend the existing event content type instead of starting from scratch.

<img width="1008" alt="Screen Shot 2022-10-19 at 9 39 16 AM" src="https://user-images.githubusercontent.com/4663676/196722646-a115ae2a-5cec-4a55-b73f-5486e28ecd5b.png">
<img width="817" alt="Screen Shot 2022-10-19 at 9 38 43 AM" src="https://user-images.githubuserco

[2022-10-19 14:40] mkyoder opened #5865 "https://uc.prod.drupal.uiowa.edu/ content review"
# Additional Information
Content review for uc.prod.drupal.uiowa.edu before launching. Will run Screaming Frog scan and look for missing meta descriptions, pages with broken links, etc.

# Proposed Solution

- [ ] Run some pre launch screaming frog reports to check for 404's meta descriptions, .prod links, etc and provide reports to Annette
- [ ] Content and Design review for https://uc.prod.drupa

[2022-10-19 14:57] e-marie-w commented on #5814
Glossary page of what previously were tool tips: https://sandbox.prod.drupal.uiowa.edu/glossary. Registrar site currently has a [glossary page](https://registrar.uiowa.edu/glossary-of-terms) so we in theory can just add to that when they migrate.

[2022-10-19 15:28] briand44 opened #5867 "Launch uc.uiowa.edu"
# Proposed Solution
- [ ] Pre-launch review - check SSL, site name, site email, etc
- [ ] Determine if old site needs to stay around
- [ ] Determine date to launch
- [ ] Launch
- [ ] Run post launch screaming frog reports

[2022-10-19 15:29] briand44 commented on #5867
Blocked until https://github.com/uiowa/uiowa/issues/5867 is complete.

[2022-10-19 16:30] bspeare commented on #5849
I briefly investigated integrating https://github.com/uiowa/uids/pull/785 into `uids_base`.  I was wrong that we could possibly scope this to just the card block since all the other list blocks use the same layout builder styles.

It's probably best to update everything in one sprint   I have updated the proposed solution to reflect this.

[2022-10-19 17:09] joewhitsitt commented on #5810
So there is definitely potential with out of memory or max input vars issues with nesting deep. The good news is that if they were able to save enough, the next time the parent event is modified, the IEF is collapsed.

Any kind of limit imposed on form_alter probably won't work because it is re-triggered at each level.

It might be that only hook_field_widget_WIDGET_TYPE_form_alter or custom JS tr

[2022-10-19 17:50] makurj opened #5868 "SSL cert for https://innovation.uiowa.edu on uiowa03"

[2022-10-19 18:38] makurj commented on #5693
From Lydia: "I was able to successfully use the button class to fire an event in Google Analytics when one of the sticky CTA buttons is clicked. For now, the button click is generic and fires anytime any of those buttons is clicked. We could also create specific events that fire if the button is an “apply” button, a “request info” button, or really anything else. I’ve left this turned on, so as we

[2022-10-19 18:41] joewhitsitt commented on #5810
It looks like we can use hook_schemadotorg_jsonld_alter to adjust the mapping if we have different field types serving the same schema property (e.g. location as both a physical address as well as providing a virtual option)

Generally, this kind of jsonld handling seems a lot more flexible than our schema_metatag implementation, however after our findings in https://github.com/uiowa/uiowa/pull/46

[2022-10-19 19:11] joewhitsitt commented on #5601
Is it too late to consider https://schema.org/Periodical https://schema.org/PublicationIssue as part of this using the Schema.org blueprints module? While probing https://github.com/uiowa/uiowa/issues/5810, it just makes me think that we should consider a "schema-first" approach going forward, especially with feature types that might be used on more than one site.

[2022-10-19 21:45] mkyoder commented on #5865
Here is a content review of University College after running Screaming Frog. Let me know if you think I missing any information here.

[2022-10-19 21:46] mkyoder commented on #5865
[Content Review for University College Website - F2022.docx](https://github.com/uiowa/uiowa/files/9824591/Content.Review.for.University.College.Website.-.F2022.docx)

[2022-10-19 22:06] joewhitsitt commented on #5810
Bummer, looks like this was intentionally added to the feature split even though the Event Series content type doesn't exist. https://github.com/uiowa/uiowa/issues/4010 I am scratching my head trying to remember the details of this and why it wasn't name Source Link like Articles.

Anyway, I continued experimenting with using just the event and person content types to setup a structure for ISWF if

[2022-10-20 03:22] mark-bennett-uiowa opened #5870 "Grant access to all CLAS D7 and D9 to Ben Hill, Katie Linder, and Mike Cranston."
Ben Hill has requested administrator access to all remaining D7 sites in the CLAS application and publisher/editor access to all existing D9 sites across all applications for himself, Katie Linder, and Mike Cranston.

- [x] Grant Ben Hill administrator access to update all remaining D7 sites in uiclas application.
- [x] Grant Ben Hill publisher+editor access to update all existing D9 sites across

[2022-10-20 03:30] mark-bennett-uiowa commented on #5870
This is completed. Leaving in Parking Lot for visibility.

[2022-10-20 03:30] #5870 closed, assigned to mark-bennett-uiowa

[2022-10-20 03:34] mark-bennett-uiowa opened #5871 "Provide administrative log-in credentials for CLAS GA account to Ben Hill"
CLAS GA account is administered through the clas.web.services@gmail.com account. This contains all remaining D7 GA accounts for sites that have yet to be migrated, and all new D9 GA4 accounts for sites that have been moved to D9.

[2022-10-20 03:35] mark-bennett-uiowa commented on #5871
Provided Ben Hill with the log-in credentials for the CLAS Google account. Closing issue as complete, leaving in Parking Lot for visibility.

[2022-10-20 03:35] #5871 closed, assigned to mark-bennett-uiowa

[2022-10-20 03:55] mark-bennett-uiowa opened #5872 "Provide entire list of all CLAS web properties to Ben Hill"
This is already up-to-date with department, program, and unit sites through the Sharepoint spreadsheet that I updated last week. Added a third page with a list of all lab sites that still exist within D7 department sites (Chem, Psych, Physics) as well as lab sites that have already been requested, provisioned, and build by faculty/researchers within management from CLAS. Others lab sites may still

[2022-10-20 04:21] mark-bennett-uiowa commented on #5872
Closing as complete. Leaving in Parking Lot for visibility.

[2022-10-20 04:21] #5872 closed, assigned to nobody

[2022-10-20 13:59] joewhitsitt opened #5873 "Update our tempstore helper"
This is a twiddling thumb type adjustment. Don't fix what isn't broke...

In an effort to help someone with tempstore clearing, they posted some other code that might work for it (untested).

https://drupal.slack.com/archives/C0T77ULN9/p1666218420230749
https://git.drupalcode.org/project/layout_builder_block_sanitizer/-/blob/8.x-1.x/src/LayoutBuilderBlockSanitizerManager.php#L101

https://github.c

[2022-10-20 14:42] briand44 opened #5874 "Setup Uiowa Hours for Law Library"
# Story

As an owner of library.law.uiowa.edu, I would like to use Exchange to manage Library and Reference hours similar to Rec Services so that we can schedule hours and not have to make updates to the website when hours are regularly changing.

# Additional Information
The resources need to be setup in Outlook first.
CSI app devs need to add resources to API

# Proposed solution

- [x] Turn on

[2022-10-20 14:46] cory-skeers commented on #5748
The more I look at this, the more I think I was overthinking it, and the main issue is that unless you're looking specifically for a date range of events, the views should only ever really need an end date.

Right now, they're set up to take both Start and End date constraints, defaulting to Today if either (or both) are not provided. Defaulting both to today gives all events that start and end to

[2022-10-20 14:55] joewhitsitt commented on #5748
Thanks for writing this out. Have you tried any of these proposed steps locally by changing the v2/v3 endpoint to devdesktop?

[2022-10-20 15:12] briand44 opened #5875 "Law Library InfoHawk+ Search"
# Story

As an owner of library.law.uiowa.edu, I would like to have a search box on my website where users can search InfoHawk+.

# Additional Info
Existing code on 703 in /docroot/sites/library.law.uiowa.edu/modules/custom/custom_widgets/plugins/content_types/custom_widgets_search_block.inc.

# Proposed solution

[2022-10-20 15:15] joewhitsitt commented on #5875
I sat in with Brian for this meeting and it sounded like the v3 search block could be extended to append additional query parameters (preferably developer fixed for MVP) or that it is one open text area (plain) on the block config that site owners can see/fill in.

Then it is just figuring out how to support both internal and external.

[2022-10-20 15:21] makurj commented on #5693
User can track the individual buttons via destination URL. Closing this.

[2022-10-20 15:21] #5693 closed, assigned to nobody

[2022-10-20 15:21] briand44 opened #5876 "Law Library service areas for people"
# Story

As an owner of library.law.uiowa.edu, I would like to be able to enter service areas related to a staff member and be able to filter by those service areas on the staff directory page so users can quickly find the correct contact person.

# Additional Info
I put Law Library in touch with Ed and Denny because they have a desire to output faculty publications at some point and Law Library w

[2022-10-20 15:21] briand44 commented on #5876
Blocked until Law Library has a conversation about Directory Profiles.

[2022-10-20 15:34] joewhitsitt commented on #5693
I think we aren't going to pursue this for the platform, that it would be helpful to know how explain the setup to other customers since we extend into the analytics business these days.

[2022-10-20 17:55] joewhitsitt commented on #5810
A few additional notes:

- Session Type, Genre (ISWF specific) would be fields that would show/hide based on the event sub type (e.g. session, workshop) however, I ran into an issue using non-spec sub types. Session and workshop aren't in the spec and I imagine there are other ones we want so we might have to move away from blueprints for this.

- Currently our event content type is single date sp

[2022-10-20 17:58] cory-skeers commented on #5748
Sort of...the request fails because it doesn't like the local endpoint. For testing I've just put a breakpoint in the code (after making the few adjustments to how it works) in order to get the full URL w/query, and pull that up in a browser.

[2022-10-20 18:58] joewhitsitt commented on #5810
Capturing from internal-demo:
- CLAS approval to move forward with single content type parent/child representation and event type classification.
- Workflow/reference direction decisions
- Figure out schema subtype or event category for classification of festival, session, workshop, etc.
- Update Series Link label to Source Link
- Make sure admissions, oniowa can accept changes
- Separate issue: m

[2022-10-20 19:58] cory-skeers commented on #5748
Short summary from in-group demo:
Add a new display_id that is a copy of Events from the Events API. Remove the Start Date constraint. Change End Date constraint to events with an end date after the provided date.
Update sitenow_events.module parameter handling in the case that it is upcoming (ie not `date_range` or `past`): Remove the start date and set the end date to Today instead of `31-12-203

[2022-10-20 20:14] joewhitsitt commented on #5810
Summary:

- Investigate the Event feature, what could be used and what would need to be modified.
  - I believe we can use this content type and extend it to be used for Festival, Session, Workshop as long as we keep the comments of this issue in mind.
- Investigate the Event Series content type that exists in the Admissions split to see how similar/different it is from from the requirements of IS

[2022-10-20 20:26] cory-skeers opened #5878 "in progress events"
We want events to be able to pull in events that are currently in progress (ie start date prior to today, end date after today). Currently there is no way to pull these in without having both the start date and end date encompass the event.

# Proposed Solution
Add a new display_id to events api that is a copy of Events from the Events API. Remove the Start Date constraint. Change End Date constra

[2022-10-20 20:27] cory-skeers commented on #5748
Followup issue created #5878

[2022-10-20 20:27] #5748 closed, assigned to cory-skeers

[2022-10-20 20:35] briand44 opened #5879 "SiteNow events parent/child functionality"
Capturing from internal-demo:

- [x] - CLAS approval to move forward with single content type parent/child representation and event type classification.
- [x] - Keep reference field to the parent event (superEvent) and removing the child event (subEvent) reference field.
    - [x] Remove add new event?
- [x] - Views block to list out child events chronologically based on parent relationship.
- [x]

[2022-10-20 21:06] joewhitsitt commented on #5879
I wonder if we can change event category to be a single value dropdown and move it out of the sidebar on the form. It looks like Admissions is currently only using one value per event for this field. By changing this, I think it allows better control over showing additional fields, changing styles, etc. later on.

If Admissions needs this, we can update their split to remain unchanged.

[2022-10-20 21:15] joewhitsitt commented on #5748
FWIW, I think the unit you were curious about was largely https://events.uiowa.edu/?f=259 (Intramural sports)

[2022-10-20 21:15] briand44 commented on #5810
Going to close this because it feels like this probe is complete. The next slice includes getting CLAS approval and cleaning up the existing PR.

[2022-10-20 21:15] #5810 closed, assigned to joewhitsitt

[2022-10-21 13:39] joewhitsitt commented on #5721
In terms of breaking changes, It looks like they changed the structure to be easier to read and more extendable in the future. They also got got rid of whitelist and blacklist terminology.

There are other non-breaking changes listed here: https://docs.snowplow.io/docs/collecting-data/collecting-from-own-applications/javascript-trackers/javascript-tracker/v2-to-v3-migration-guide/#new-tracking-api

[2022-10-21 13:55] mkyoder commented on #5743
Going to publish the pop-up this morning.

[2022-10-21 14:06] joewhitsitt commented on #5721
<img width="1044" alt="Screen Shot 2022-10-21 at 9 06 18 AM" src="https://user-images.githubusercontent.com/4663676/197215223-c4f04652-0a4f-40a9-9f84-dd486fb48851.png">

[2022-10-21 14:11] joewhitsitt commented on #5721
`post has been removed. Set eventMethod instead, the available options are: 'post' (default), beacon or get.`

Looks like `performanceTiming` still exists and can be added back in.

[2022-10-21 14:25] mkyoder commented on #5743
![Screen Shot 2022-10-21 at 9 22 55 AM](https://user-images.githubusercontent.com/107870104/197218996-de80dee4-db59-46a5-8ede-ac118a4ebebf.png)

[2022-10-21 14:26] mkyoder commented on #5743
Pop-up has been published now. I sent a test response to the Qualtrics survey and it seems to be working for me.

[2022-10-21 14:27] joewhitsitt opened #5881 "Video add route available to editors"
Remove "Video > A locally hosted video file" option from Media as it doesn't allow for an upload and is confusing to users.  Available at /media/add

Proposed Solution

- Unset the menu link OR print a message on the route explaining the situation

[2022-10-21 14:44] bspeare commented on #5865
Here are some content and design notes.

@mkyoder do you want to upload your document to office 365 and I can integrate these into your document?

https://uc.prod.drupal.uiowa.edu/our-organization-0
- Use people lists to manage these listings?

https://uc.prod.drupal.uiowa.edu/k-12-opportunities
https://uc.prod.drupal.uiowa.edu/message-our-dean
- Don’t use tables for layout

https://uc.prod.drupal

[2022-10-21 14:58] bspeare commented on #5232
We should do this work before https://github.com/uiowa/uiowa/issues/5849.

[2022-10-21 15:12] joewhitsitt commented on #5721
Talked to @mjoneill about this in our 1:1. Going to send the adjust snippet to the radar/snowplow team for review before making the switch.

[2022-10-21 15:23] mkyoder commented on #5865
Sure! @bspeare here is a link: https://iowa.sharepoint.com/:w:/s/OSCWebTeam/ET88xkkeROJEhO0yzPoIvbQBoeb0AtwYhi-8AbURJ3o-fg?e=rapocl

[2022-10-21 19:39] pyrello commented on #5876
It seems that this is a not uncommon request, being able to change the label for "Research areas". I'm wondering if it would make sense for us to invest in allow the label to be customizable?

Also, or alternately, I'm wondering if "Research areas" should be renamed as a default to something like "Areas of focus" which would allow for a much broader application without the need to re-label?

[2022-10-21 20:10] joewhitsitt commented on #5876
I feel like we have resisted a few times but we have already caved once. Pharmacy has "Practice areas." In reality, if we are serving the entire campus here, faculty terminology is not always going to apply. Fair warning, if we cave here, I imagine expanding person types will be next.

I like the idea of a customizable label that could be set in SiteNow People's config. It is a pretty small footpr

[2022-10-21 20:44] bspeare commented on #5865
Thanks @mkyoder!  I've finished adding my comments to the sharepoint document.

[2022-10-24 14:45] joewhitsitt commented on #5879
Post parking lot discussion was leading towards a reference field to the parent event (superEvent) and removing the child event (subEvent) reference field. The event would then have a views block that listed any children events chronologically and the json-ld would be altered to include sub event items.

Team also was on-board with changing event category to a single value and communicating with A

[2022-10-24 15:01] bspeare commented on #5884
I transferred this to `uiowa` because I think we will want to use the compiled css/js from `uids_base/assets/` to build this out.

[2022-10-24 17:12] pyrello commented on #5601
Not too late. From your perspective, what would we need to change about the proposed solution to accomplish this?

[2022-10-24 18:08] joewhitsitt commented on #5819
@e-marie-w, @makurj  and I attempted this today only to run into several bumps since the last time this was done. Ultimately, we are not getting the right output from following the instructions and have contacted Travis for assistance.

[2022-10-24 18:44] joewhitsitt commented on #5601
I'd have to take a closer look, but to me it sounds like there are more layers to account for with the PublicationIssue referencing a PublicationVolume?

Periodical > PublicationVolume > PublicationIssue > Issue Article

So the proposed solution would change based on those relationships and that the blueprints module would be the starting point and so https://github.com/uiowa/uiowa/pull/5869 would

[2022-10-24 19:08] joewhitsitt commented on #5721
We got confirmation that our snippet looked good. With @mjoneill's permission, I'd like to move forward with deploying the snippet to Google Tag

[2022-10-24 19:09] mjoneill commented on #5721
Make it so!  :P

[2022-10-24 19:18] joewhitsitt commented on #5721
Went out as part of version 61. Snowplow team will monitor for any unexpected differences.

[2022-10-24 19:18] #5721 closed, assigned to joewhitsitt

[2022-10-24 20:59] joewhitsitt commented on #5707
Link to private card with values document linked: https://github.com/orgs/uiowa/projects/1#card-85740241

- We gathered more values to add and were working on language of those and existing.
- We were trying to vote on values that should not be in the final version.
- There were notes left on the document from team members not in attendance that we would like to hear more about.
- We would like to

[2022-10-24 21:01] joewhitsitt commented on #5819
Several edits have been made to the wiki doc: https://wiki.uiowa.edu/display/drupaldev/Rotate+Deploy+Key

[2022-10-24 22:06] benlewzz commented on #5695
+1 for either of those proposed solutions. We would use this a lot, I think.

[2022-10-25 13:48] joewhitsitt commented on #5819
I think the slack reminder was tied to Rick's account. Created a repeating its-web calendar event

[2022-10-25 16:20] joewhitsitt commented on #5819
According to the wiki docs, now that the PR was merged into main, the old ssh keys can be removed from acquia and github.

[2022-10-25 16:32] bspeare commented on #5814
After our meeting today, I'm going to move forward with these items during the current sprint:

- Update https://sandbox.prod.drupal.uiowa.edu/art-building-west-240 with feedback suggestions
  - Swap events and technical details section
  - Update background color of icon badges on banner
  - Add Report and issue button
  - Remove additional information/data
- Update https://sandbox.prod.drupal.ui

[2022-10-25 16:48] e-marie-w commented on #5819
The old ssh keys have now been removed from acquia and github. Closing issue since that was the last step in the process.

[2022-10-25 16:48] #5819 closed, assigned to e-marie-w

[2022-10-25 18:05] briand44 commented on #5878
Could communicate with events-calendar Slack to let folks know of this new endpoint.

[2022-10-25 18:09] briand44 commented on #5878
Normal communications fine for this.. Demo and monthly article.

[2022-10-25 18:18] joewhitsitt commented on #5878
Update help text around the upcoming selection to make it clear that in-progress events will be displayed as well.

[2022-10-25 18:31] briand44 opened #5886 "ISWF event customizations"
- [x] Add "presenters" list to subEvents blocks between date and short description - icon
- [x] Move "presenters" above description in event display.
- [x] Change short dates to long dates to match standard moving forward: l, F j, Y - g:ia
- [x] event type - Select list custom to ISWF - allowed values (no longer necessary??, as per https://github.com/uiowa/uiowa/issues/5732#issuecomment-1263915168

[2022-10-25 19:17] joewhitsitt commented on #5732
Creating a person type `instructor` seems valuable if the filterable view for events is a dropdown or autocomplete entity reference view of just instructors and not all people on the website.

[2022-10-25 19:23] joewhitsitt commented on #5886
I think the event categories (festival, session, workshop) are created in PROD (to get tids) and then protected from deletion.

Iowa Now has some protected term functionality that I would like to see made reusable and stored in the db so that a deployment is not necessary to add/update/remove them. Maybe an admin only fieldset to configure on admin/config/sitenow/uiowa-core ?

[2022-10-25 19:48] bspeare commented on #5814
I've updated https://sandbox.prod.drupal.uiowa.edu/art-building-west-240 and https://sandbox.prod.drupal.uiowa.edu/university-classrooms-ucr-and-specialty-spaces-sps-0 with the changes from today's meeting and created a search page mockup at https://classrooms.prod.drupal.uiowa.edu/find-university-classroom-copy.

[2022-10-25 19:55] briand44 commented on #5814
Thanks! A couple questions... is the idea that the details would be expanded by default on the Specialty Space page? Also, should we share this with Classrooms folks for feedback or are you looking for more feedback from the team first?

[2022-10-25 20:19] bspeare commented on #5814
@briand44 I meant to have the details closed by default and I have updated the page with that setting.

I think we can share these with the classrooms folks with the caveat that the search filters design(s) could change once we start building this.

[2022-10-25 20:40] joewhitsitt commented on #5879
In the huddle we realized how "Event categories" is admissions specific and not a good base for what we want to do in the future. It also does not really handle ISWF's needs.

Proposed solution:

- Remove event categories (field, taxonomy, permissions) from the event split after making sure it stays in the admissions split (complete item). OnIowa should be able to accept the removal because no con

[2022-10-25 20:51] GaryRidgway commented on #5879
So i would be removing the item manually from the config in events, adding it to admissions, and then checking that it works?

[2022-10-25 20:56] joewhitsitt commented on #5879
Sync admissions while on the PR branch. In the site config split interface, add the taxonomy, field storage items to the complete split. `config-split:export site` and see that the config items move from feature/event to site/admissions.uiowa.edu. Then on your default site, remove the field and taxonomy from the structure interface, update the split to remove those declarations and `config-split:e

[2022-10-26 13:25] briand44 opened #5887 "Migrate In the News, News Feature and Achievements to articles"
# Story

As an Iowa Now website owner, I would like In the News, News Feature and Achievements programmatically migrated to our new SiteNow v3 site so that we don't have to manually re-create all of this content.

# Additional Info

**Achievements**
Migrate all achievements
When migrating set the Article type = Achievement

Title -> Title
ByLine -> Organization
Category - migrate as tags
Contacts

[2022-10-26 13:59] makurj commented on #5522
I'd like to drive/pair on this.

[2022-10-26 14:01] makurj commented on #5522
The old wiki doc was moved to https://wiki.uiowa.edu/display/drupaldev/Acquia+Cloud

[2022-10-26 16:13] joewhitsitt commented on #5879
Here is the expected structure of subEvents in the json-ld

[code]

[2022-10-26 16:18] joewhitsitt commented on #5879
Based on the possibility of other content types using the functionality in the near future, I think leaving them where they are should be fine, so no action there I think.

config/default/schemadotorg.settings.yml
field_prefix: ''

[2022-10-26 16:19] bspeare commented on #5522
I'm planning on pairing with @makurj on this today around 2:30.

[2022-10-26 16:19] joewhitsitt commented on #5886
@pyrello do you have time to write out your vision for handling schema.org event types with custom mapping?

[2022-10-26 16:20] briand44 commented on #5522
One thing to keep in mind here is if we need to set this up for the metadata generator, there is a card in PL to do this for uihealthcarecorp as well. Maybe makes sense to add that while working on this? https://github.com/orgs/uiowa/projects/1#card-86437297

[2022-10-26 16:30] bspeare commented on #5522
Yes, I think it makes sense to fold that work in.

[2022-10-26 16:42] joewhitsitt commented on #5821
@briand44 the migration was performed in DEV: https://now.dev.drupal.uiowa.edu/person , https://now.dev.drupal.uiowa.edu/experts-list

Do you want to contact the Iowa Now team to review?

[2022-10-26 16:47] joewhitsitt commented on #5522
I wonder if this should coincide with a new release/clean main since the doc talks about "the branches in the base application must exist in the same state"

[2022-10-26 17:15] pyrello commented on #5886
My idea is that we have some custom configuration defined, possibly in `sitenow_events.settings.yml` that provide a map of default event types:
[code]

This config would be loaded into each site when the event feature is turned on, but the config would be ignored so that it could be changed per site. This feature would be managed by developers only to start, so we could probably get by with just u

[2022-10-26 17:25] pyrello commented on #5359
One thing that complicates this a little bit with regard to having it be automated is that there is not a clean way to account for whether the site has been launched or not. In the case of a new provision of a site for `something.uiowa.edu`, we would initially want `$config['stage_file_proxy.settings']['origin'] = 'https://something.prod.drupal.uiowa.edu';`. But after the site launches, we would w

[2022-10-26 17:37] bspeare commented on #5522
@joewhitsitt that does sound important.  Can you spell out what we need to do to get to that same state?

[2022-10-26 17:46] pyrello opened #5889 "SiteNow request form doesn't trim site name field"
# Reproduce
View the command to provision the site on this record: https://sitenow.uiowa.edu/admin/structure/webform/manage/request_a_site/submission/14021. It includes an extra space after the name of the site.

# Proposed solution
Add a submit handler to the sitenow request webform that performs a `trim()` on the value to ensure to leading or trailing space.

[2022-10-26 18:27] briand44 commented on #5821
Sure I can contact them. The link you provided, https://now.dev.drupal.uiowa.edu/person, is not going to be used correct? That will likely be disabled and they will just have https://now.dev.drupal.uiowa.edu/experts-list and the staff directory?

[2022-10-26 18:35] joewhitsitt commented on #5522
I was just thinking if @pyrello is doing a provisions release today that would get things in sync across all apps.

[2022-10-26 18:38] joewhitsitt commented on #5821
It can be disabled at anytime. Temporarily serves as a content overview of the migration result

[2022-10-26 18:40] pyrello commented on #5522
Working on it

[2022-10-26 19:22] joewhitsitt commented on #5359
@pyrello would you say that your internal prod domain "fixes" this for now?

[2022-10-26 19:27] pyrello opened #5890 "SSL for iowalakesidelab.org and wirrc.org on uiowa03"

[2022-10-26 20:33] bspeare commented on #5522
So, once the release is finished we can proceed with setting this up?  Maybe tomorrow morning might be a good starting point for this work.

[2022-10-26 21:57] joewhitsitt commented on #5879
Took a bare minimum stab at this with EnityQuery and following https://stackoverflow.com/questions/60524805/schema-org-nesting-events since https://github.com/uiowa/uiowa/issues/5879#issuecomment-1292285831 with same keys doesn't work well for php or json.

https://github.com/uiowa/uiowa/pull/5869/commits/b7a0519913ba229eac4f669a4337eb960ff4f69f

[2022-10-26 22:27] pyrello commented on #5359
It fixes the reported issue. The future issue will be that once we launch a site, the `stage_file_proxy` settings will be broken. If you try to change them locally, they will get replaced when you provision a site or run `blt bis`. I also did not fix any previously created sites because there is no good way for us to be able to tell which prod domain we should be using. Not sure if those seem like

[2022-10-27 13:43] makurj commented on #5522
Waiting for the next successful deployment to start work on this.

[2022-10-27 14:08] joewhitsitt commented on #5522
deployment went yesterday (the config diff issue doesn't mess with this currently): https://github.com/uiowa/uiowa/releases/tag/3.19.7

[2022-10-27 16:54] joewhitsitt commented on #5879
I've seen examples where almost all of the sub event info is provided as well. Not sure how far we need to go. It currently only establishes that there are sub events by printing the names of the sub events. Establishing the relationship in schema.org was kind of add-on to begin with. We can extended it as needed later on.

Currently no-errors/warnings

<details>

[code]
</details>

[2022-10-27 18:56] joewhitsitt opened #5894 "Pager is showing on Community College taxonomy pages"
# Problem
We previously set this up so that no pager would show, but that doesn't seem to be the case anymore:

https://admissions.uiowa.edu/academics/2plus2/des-moines-area-community-college

# Proposed solution
- [ ] Take a look at recent config changes around this taxonomy, tvi and taxonomy_term view.

[2022-10-27 20:31] joewhitsitt commented on #5601
If work on this begins before https://github.com/uiowa/uiowa/pull/5869 is merged, make sure the module dependencies and settings for blueprints are declared the same way between local and default config.

[2022-10-27 20:52] briand44 commented on #5886
Try moving forward with ^^ reversed and if run into issues go with config entities.

[2022-10-27 20:59] briand44 commented on #5601
Theming not in scope for this slice. Trying to unblock content migration work.

[2022-10-27 21:46] joewhitsitt commented on #5879
Moved forward with `event/[node:nid]-[node:title]` because we wanted to avoid 404s with folks visiting `event/[node:nid]/` and prefixed it to avoid collision with the `-0`, `-1` unique title functionality that drupal implements

[2022-10-28 15:00] joewhitsitt commented on #5879
There was more discussion about `event/[node:nid]/[node:title]` but to avoid the 404 we will want to eventually handle the redirect. If we can alter route based on `event/[node:nid]` to send it to `node/[node:nid]` drupal already sends this back to the aliased path.

Curious to get @mjoneill's thoughts about the ideal path for this.

[2022-10-28 15:29] joewhitsitt commented on #5522
holding again for https://github.com/uiowa/uiowa/releases/tag/3.19.8 to go out

[2022-10-28 15:39] briand44 opened #5895 "Ability to reference a building when creating a room"
# Story

As a Classrooms content editor, when creating a room I would like to be able to choose a building from a predefined list of buildings that contain university classrooms or specialty spaces so that we can relate each room to a single building.

# Proposed solution
- Config entity definition and scaffolding
- Write service to call API and return building results
- Write a (drush?) command t

[2022-10-28 16:01] joewhitsitt commented on #5816
0936ba1f6c95fef7fa1a7abf8a1602876e519776 on uihealthcaresignage-dev
41d4826a229733fe19fb8aeb0f6c6d767e123a85 on uisignage-dev

[2022-10-28 16:35] joewhitsitt commented on #5816
both have been deployed/feature-reverted in PROD

[2022-10-28 16:35] #5816 closed, assigned to joewhitsitt

[2022-10-28 17:33] mark-bennett-uiowa commented on #5879
Thoughts for discussion from latest huddle:

Link directly to source checkbox is outside of the fieldset region of the Series/Source Link fields.
![Screen Shot 2022-10-28 at 11 26 49 AM](https://user-images.githubusercontent.com/3067017/198686498-e5b321c1-3987-4950-b470-86931341d2e7.png)

Rather than have the label "Parent event:" at the bottom, which points to the super event on a specific event,

[2022-10-28 17:40] bspeare commented on #5814
I have updated the mockups based on this feedback for https://sandbox.prod.drupal.uiowa.edu/university-classrooms-and-specialty-spaces.

- Not all rooms have this so that field can be hidden if they do not have another name, but for example, room 101 BBE has “Room Name: Kollros Auditorium”.
- There is also one field that can be eliminated from the details toggle section as well. We feel that the “

[2022-10-28 18:07] joewhitsitt commented on #5879
This is the same as AoS and would be the same for Article if link title was available. Both AoS and Article only display the boolean if the link URL is filled. That might help. Not saying it is ideal, but this is a link field wrapper and it would be work to move that checkbox (separate field) into it. This is already out there and I believe is out of scope for this issue.

---

I think "Part of" o

[2022-10-28 20:21] mark-bennett-uiowa commented on #5879
Sounds good on both of the above @joewhitsitt thank you. I think Ill just go with "Part of:" or "As featured in:" for now.

Another question about this is the formatting of the "meta data" in the right column:
On our current articles and events view lists and node view, we are displaying the full date as "Monday, January 1st, 2022 1:30pm to 2:30pm" in Zilla Slab font.
- articles list the published

[2022-10-28 20:32] joewhitsitt commented on #5879
@bspeare do you recall anything about why those fonts/formats were chosen? I'd look to https://admissions.uiowa.edu/ (articles and events blocks). I know Admissions had opinions and then this: https://github.com/uiowa/uiowa/issues/2727

[2022-10-28 20:35] bspeare commented on #5879
@joewhitsitt the sitenow event template needs to be updated (https://github.com/uiowa/uiowa/issues/4916).  I think the hope is that we will update that template with the design that is finalized here.

[2022-10-28 20:38] joewhitsitt commented on #5879
So @mark-bennett-uiowa maybe keep date format and font style out of scope?

[2022-10-28 20:41] mark-bennett-uiowa commented on #5879
Sounds good

[2022-10-31 16:30] mjoneill commented on #5879
Anyone available at 2:00 to discuss?

I'm not sure I'm picking up on all the nuances of the ask here.

[2022-10-31 16:36] joewhitsitt commented on #5879
I believe one of us should be available. Just reach out when it works

[2022-10-31 16:36] joewhitsitt commented on #5879
@mjoneill ^^

[2022-10-31 19:22] joewhitsitt commented on #5879
Thanks Michael for zooming with us. We have updated the todo on #5869 to address the discussion

[2022-10-31 20:46] cory-skeers commented on #5894
I dug a little at this, though not fully clear on when a change could have happened or how.

The pager itself is coming from:
https://admissions.uiowa.ddev.site/admin/structure/views/view/taxonomy_term

I'm not seeing any changes to that view in default or the site split that would account for it not being there previously, but appearing now.

[2022-10-31 21:26] joewhitsitt commented on #5522
I think i figured it out. Moving forward a bit and updating documentation

[2022-10-31 21:49] joewhitsitt commented on #5522
I held off on this for now. We can pick up with that tomorrow.

[2022-10-31 21:57] joewhitsitt commented on #5821
Looked at this for two minutes and I am not sure why only some of the images migrated. The email appears to have just been a bad mapping. `/0/email` perhaps might need to be added to the mapping?

[2022-11-01 16:45] joewhitsitt commented on #5817
I think we have only included items about the v2/v3 service and not customer specific stuff (e.g. admissions) unless we mention in the intro which we aren't doing anymore

[2022-11-01 16:57] joewhitsitt commented on #5522
We aren't done yet.

[2022-11-01 16:59] cory-skeers commented on #5821
I think the image issues are due to spaces in filenames (eg "simon balto.jpeg"). The files are listed in the database with the space, and that's what is used to construct the path that gets passed to `file_get_contents` in the ProcessMediaTrait.

[2022-11-01 17:06] joewhitsitt commented on #5522
[code]
Looking to resolve this.

[2022-11-01 17:55] joewhitsitt commented on #5522
This is not going well. uiowa04 has that md5 hash now, but travis is complaining. in an effort to resolve, I think I just compounded the problem

[2022-11-01 17:58] makurj commented on #5522
I just saw it fail a second time :( What's our next step?

[2022-11-01 17:59] briand44 commented on #5895
Adding blocked label until I hear back from Classrooms folks

[2022-11-01 18:00] bspeare commented on #5878
How do we want to deploy https://github.com/uiowa/uiowa/pull/5892 and the content hub work on `702` so these roll out at the same time?

[2022-11-01 18:03] joewhitsitt commented on #5522
🤷

[2022-11-01 18:39] briand44 commented on #5895
Scope to reference list. Ask Classrooms about using MAUI Building name vs Facilities Building Name to determine if we need to interact with one or two APIs as part of this.

[2022-11-01 19:21] briand44 commented on #5878
Do they need to role out at the same time? Can Content Hub work go out first?

[2022-11-01 19:23] bspeare commented on #5878
I think since we are only creating new views in Content Hub and not touching existing views, we should be able to push those out first.

[2022-11-01 19:51] bspeare opened #5905 "As a SiteNow editor, I can display the website field in my people list block"
# Story

As a SiteNow editor, I can display the website field in my people list block so that I can display custom links related to the user profile.

As a part of the content review for https://uc.prod.drupal.uiowa.edu/our-organization we found that they created their own custom profile teaser displays within a text area because they wanted to display the websites of each profile.   If there were

[2022-11-01 19:52] joewhitsitt commented on #5522
https://app.travis-ci.com/github/uiowa/uiowa/builds/257308661

My guess is that I didn't properly reset yesterday

Update: Also got develop-build working https://app.travis-ci.com/github/uiowa/uiowa/builds/257316657

[2022-11-01 19:55] bspeare commented on #5865
I've created a follow-up issue (https://github.com/uiowa/uiowa/issues/5905) based on the content review.   I have updated the sharepoint doc after reviewing Annette's changes from today.   @mkyoder is going to review the changes tomorrow and get back to Annette on the remaining items that need to be fixed.

[2022-11-01 20:18] makurj commented on #5522
I don't have access so if someone with access could:

1. Change the scheduled job for DEV, Stage and Prod to the correct time.
2. Check Search and Variables for all enviroments.
3. Email settings under Config > Advanced.
4. Any CDN settings.
5. Log forwarding.
6. Team perms.

Left out brand and v2 scheduled jobs.

[2022-11-01 20:22] bewoldt opened #5906 "Featured Content person with multiple positions/titles"
# Problem
When using the Featured Content to pull in a person with multiple positions, the position names are not separated.

<img width="919" alt="Screen Shot 2022-11-01 at 3 09 01 PM" src="https://user-images.githubusercontent.com/731952/199332950-9fa261f0-ba7a-4a51-b96e-61ea8a33c708.png">

# Proposed solution
Either the titles should be comma separated or they should be stacked like how the Peo

[2022-11-01 20:25] cory-skeers commented on #5817
<img width="1368" alt="image" src="https://user-images.githubusercontent.com/49074566/199333530-a862c6b9-34a4-4dcb-a9b5-848f035db7b5.png">

About a 50% open rate, 10% link clink rate
~200 messages sent, 20 unique link clicks. At quick glance at the emails for those who clicked, they are 1) not us (yay) and 2) pretty familiar names. Not the highest interaction rate, but the people using it do so re

[2022-11-01 20:26] cory-skeers opened #5907 "SiteNow updates news article - November"
## Issue/Solution ##
Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  * See the previous month's article as an example.
  * Bulle

[2022-11-01 20:27] #5817 closed, assigned to cory-skeers

[2022-11-01 20:51] joewhitsitt commented on #5522
Think we need the default site or _a_ site to get platform email enabled

[2022-11-01 20:54] makurj commented on #5522
@briand44 We need new Relic keys (API key and App ID) for uiowa04.

[2022-11-01 21:00] briand44 commented on #5522
Can't you get the API key from a different application. App ID would be uiowa04.prod

[2022-11-01 21:01] makurj commented on #5522
That's not what we found. Can you join the #drupal huddle?

[2022-11-01 21:02] cory-skeers commented on #5821
Ran locally again, and the photos and emails all appear to be coming over correctly.

Emails have some capitalizations that look out of place, but I don't know if that's an actual style issue, and it's what the current site has...so might not be worth jumping into adding extra process plugins.

I think we can rerun this on dev and re-deliver

[2022-11-01 21:15] makurj commented on #5522
Next step: Log into New Relic and create new info for uiowa04 to add to uiowa04 variables.

[2022-11-01 21:51] joewhitsitt commented on #5821
Re-ran in DEV. Noticed a bit more terminal chatter (perhaps because of the `mr`), but emails and photos are now migrated. Emailed the Now staff to re-review. Thanks @cory-skeers again for your attention to this today.

[2022-11-02 13:36] bspeare commented on #5814
I think we can mark this work as done.

[2022-11-02 13:36] #5814 closed, assigned to bspeare, e-marie-w

[2022-11-02 14:22] joewhitsitt commented on #5522
I think the env variables for new relic relate to https://docs.newrelic.com/docs/apm/new-relic-apm/maintenance/record-monitor-deployments/. `hooks/prod/post-code-deploy/newrelic.sh` I don't have access to this area of New Relic so I think we will need @briand44 (admin) to investigate further.

[2022-11-02 15:01] mkyoder commented on #5865
Responded to Annette with additional changes still left to do for this site.

[2022-11-02 15:45] makurj commented on #5522
New Relic, authentication and default site install completed.

[2022-11-02 15:55] makurj commented on #5522
Huge thanks to @joewhitsitt and @briand44!

[2022-11-02 15:55] #5522 closed, assigned to joewhitsitt, makurj

[2022-11-02 17:49] joewhitsitt opened #5909 "Related by tag functionality shows on non-default content types"
# Problem
The related by tags functionality is showing on the non-default event content type (possibly others?) and there are no controls to turn it off.

<img width="618" alt="Screen Shot 2022-11-02 at 12 47 13 PM" src="https://user-images.githubusercontent.com/4663676/199563693-c758d28a-bedc-42de-95f2-89c66ef059bf.png">

# Steps to reproduce
With the event feature split enabled, add a tag to an

[2022-11-02 19:29] #5878 closed, assigned to bspeare

[2022-11-02 20:40] briand44 opened #5911 "Ability to route user after login to a specific page"
https://github.com/uiowa/uiowa/pull/5893#issuecomment-1295052384

Currently when a user authenticates to an intranet, they are routed to the home page (see https://github.com/uiowa/uiowa/pull/5893).

It would be great if someone was able to share a link to https://studentlifeconnect.prod.drupal.uiowa.edu/training-and-development and after the user logs in they would be routed to that page.

[2022-11-02 21:17] briand44 opened #5912 "bme.engineering.uiowa.edu move to engineering.uiowa.edu/bme"
# Story

As an owner of bme.engineering.uiowa.edu, I would like to move this site to engineering.uiowa.edu and have all traffic going to bme.engineering.uiowa.edu be redirected to engineering.uiowa.edu/bme so visitors can find relevant information they are looking for.

# Additional Info
Currently planning to launch Nov 9th.

# Proposed solution

- [x] Request redirect be put in place on Vulture t

[2022-11-02 21:29] briand44 commented on #5912
Requested the redirect be added.

[2022-11-03 03:52] mark-bennett-uiowa opened #5913 "BUG: Provision errors after move to PHP 8?"
Provisioning productionunit.uiowa.edu on uiowa04 as a test for the new application.

After running ./vendor/bin/blt umc productionunit.uiowa.edu I did receive these notifications/warnings:
[code]

AFTER selecting uiowa04, and continuing, I received these warrnings:

[code]

Rest of provisioning process seemed to work correctly without warnings/errors.

[2022-11-03 13:30] bspeare opened #5915 "As a visitor to uiowa.edu, I can use the search toggle and have the focus immediately move to the search input"
# Story

As a visitor to uiowa.edu, I can use the search toggle and have the focus move to the search input so I can immediately start typing my search.

We had this working originally and adjusted the behavior due to the reasons outlined in https://github.com/uiowa/uids/issues/55#issuecomment-668052663 and https://github.com/uiowa/uids/pull/241.

# Proposed solution

- Revisit the search toggle a

[2022-11-03 14:13] briand44 commented on #5912
Blocked until launch day

[2022-11-03 14:31] bspeare commented on #5915
Closing in favor of https://github.com/uiowa/uiowa/issues/5372, thanks @makurj!

[2022-11-03 14:31] bspeare commented on #5372
We had this working originally and adjusted the behavior due to the reasons outlined in https://github.com/uiowa/uids/issues/55#issuecomment-668052663 and https://github.com/uiowa/uids/pull/241.   I would love to revisit this and try to get a solution working that is accessible.

[2022-11-03 14:33] #5915 closed, assigned to nobody

[2022-11-03 14:49] joewhitsitt commented on #5895
My suggestion is to provide a building select list field (allowed options) based on looping through the the api feed (https://api.maui.uiowa.edu/maui/api/pub/registrar/courses/AstraBldgRmCompleteList/list) and pulling out unique building codes.

Editorial restraint will keep buildings they don't want from appearing on the website by not making room content with those building codes selected.

Assu

[2022-11-03 14:51] briand44 commented on #5895
Thanks Joe! How would we handle filtering by building on https://classrooms.prod.drupal.uiowa.edu/find-university-classroom and https://sandbox.prod.drupal.uiowa.edu/university-classrooms-ucr-and-specialty-spaces-sps-0? Would those filters have the extra buildings listed?

[2022-11-03 14:57] joewhitsitt commented on #5895
Ugh. Probably if we use views and don't do some kind of "views selective filters" magic on them.

[2022-11-03 17:00] cory-skeers opened #5916 "Multi-day All Day events only show the first date"
# Problem
Events that are marked as All Day but span multiple days, when included in Sitenow Events block, are only showing their start date.

# Steps to reproduce

https://content.uiowa.edu/uicb-echizen can be used as an example. (for instance, set up an Events block filtered on Department: Graduate College and Type: Exhibit)

See that the card teaser only shows the first date, though the event s

[2022-11-03 17:17] briand44 commented on #5912
Redirect has been created and I updated my hosts file and tested. Seems to work for me.

[2022-11-03 18:01] mark-bennett-uiowa commented on #5913
Renamed this issue in order to better scope this for later fixes.

[2022-11-03 18:21] joewhitsitt commented on #5913
I think the jsonseralize() issues are captured in https://github.com/uiowa/uiowa/issues/5738

[2022-11-03 18:46] briand44 commented on #5895
There is another MAUI endpoint that has building/room information https://api.maui.uiowa.edu/maui/api/pub/facilityBuildingRoom/list. This doesn't solve the discrepancy between building name and Facilities Common Name but it does have the ResponsibleAcademicUnit which Classrooms wanted us to ignore Buildings that only have a room without a responsible unit.

[2022-11-03 20:13] #5865 closed, assigned to mjoneill, mkyoder

[2022-11-04 06:39] mark-bennett-uiowa commented on #5913
UPDATE: I also noticed that after running this, there is a /config/productionunti.uiowa.edu directory, outside of /config/sites. Is this normal?

[2022-11-04 13:55] joewhitsitt commented on #5913
I think we have noticed that as well. Not uiowa04 specific for sure. It is not part of the provision git commit. I think you can safely delete the directory.

Should probably figure it out though.

I am going to re-open this because of http_build_query and that config directory

[2022-11-04 14:46] joewhitsitt opened #5918 "Site configuration directories created and placed outside /config/sites directory on provision"
# Problem
Site provisions are creating the site configuration directories and placing them outside of the site config directory. They are not part of the provision commit, but need to be cleaned up locally.

# Steps to reproduce
- Run a site provision

# Proposed solution
- [ ] Look into preventing the creation of these directories. If needed for a successful provision, look at ways to clean it up

[2022-11-04 14:48] joewhitsitt commented on #5913
Moved the http_build_query issue to #5738 as it also appears to be related.

Created a separate issue for the site configuration directory issue: https://github.com/uiowa/uiowa/issues/5918

[2022-11-04 14:48] #5913 closed, assigned to mark-bennett-uiowa

[2022-11-04 15:43] #5879 closed, assigned to nobody

[2022-11-04 15:59] bspeare commented on #5886
Is this work expected to be done through an `iowasummerwritingfestival` site split and custom `iowasummerwritingfestival_core` module?

[2022-11-04 15:59] joewhitsitt opened #5919 "Deprovision - uc.uiowa.edu from uiowa703"

[2022-11-04 16:12] joewhitsitt commented on #5886
yes. @mark-bennett-uiowa was concerned the domain may change in the future. site split should be named `site` and that module name should work just dandy.

[2022-11-04 16:13] joewhitsitt commented on #5919
calendar reminder set for 11/11/2022 to check in with site owner

[2022-11-04 16:26] joewhitsitt opened #5920 "Update acquia_connector module"
# Issue

On Friday, 31 March 2023, 3.x versions of the Acquia Connector Module will no longer be compatible with the Acquia Cloud Platform.

# Proposed Solution

- [x] Update v2/v3 with the latest 4.x version
- [x] Update v1 with the latest 4.x version

- ~701~
- ~702~
- ~703~
- ~signage~
- ~HC signage~
- ~Dentistry~
- ~icgov~
- ~clas~
- grad

[2022-11-04 16:59] e-marie-w commented on #5909
So, I think I found a possible solution. In the views for the tag list and referenced content (that also displays at the moment), I can add a filter so that tags/referenced content only appear on an entity if that entity is an article, person, or page. This doesn't affect sitenow settings - tags are allowed on a page but won't appear unless set to display tags on pages.

Right now working on expor

[2022-11-04 17:08] joewhitsitt commented on #5909
Before we go this direction, I'd like to know why our logic is not working for this

https://github.com/uiowa/uiowa/blob/main/docroot/modules/custom/uiowa_core/uiowa_core.module#L208
https://github.com/uiowa/uiowa/blob/main/docroot/modules/custom/uiowa_core/uiowa_core.module#L231

[2022-11-04 17:17] e-marie-w commented on #5909
Ohhh that's the logic Cory was talking about, okay. Will check it out when I have a chance.

[2022-11-04 18:13] pyrello commented on #5601
We just huddled on this and spent some time looking into the implications of @joewhitsitt's [comment](https://github.com/uiowa/uiowa/issues/5601#issuecomment-1284457631). Here is what we learned:
- There are some different examples of how to construct the SDO record for a PublicationIssue and PublicationArticle: https://schema.org/PublicationIssue#eg-0398. We are still in the process of grokking h

[2022-11-04 19:36] joewhitsitt opened #5923 "Direct more support to Halo"
# Problem

Our contact form has options but folks are using "General" aka speak to a human right away.

<img width="679" alt="Screen Shot 2022-11-04 at 2 30 16 PM" src="https://user-images.githubusercontent.com/4663676/200059936-e87eef0e-cb7a-4378-b8c3-8684e75f4cc9.png">

The ITS website is advertising the Cherwell client portal more (https://its.uiowa.edu/contact). Maybe we should too?

<img widt

[2022-11-04 20:50] mark-bennett-uiowa commented on #5913
@joewhitsitt if I delete that directory in /config, will it need to be pushed as changes, or is this just a local ENV thing?

[2022-11-04 20:51] joewhitsitt commented on #5913
it isn't currently tracked in git so it would not show as a change that needs committing

[2022-11-04 21:00] bspeare commented on #5631
I think we are going to need to reopen this issue and work on it in https://github.com/uiowa/uiowa/issues/5849.    The current fix is causing other spacing issues for uiowa.edu so I am reverting this change in https://github.com/uiowa/uiowa/pull/5845/commits/75ff68d72dd921350ed757530a332592331a7da8, and hopefully this can addressed when we integrate the UIDS4 card.

[2022-11-04 21:01] e-marie-w commented on #5601
Interesting discovery, a field can directly reference a schema.org mapping or schema.org mapping type. Which I don't think is what we want but indirectly made me more confused about schema, so I want to check my understanding.

So there's the different schema.org types - Publication Volume, Publication Issue, etc. And they each have type-specific properties. And there's no real overlap or connecti

[2022-11-04 21:04] e-marie-w commented on #5909
So I've been working on the 91st Meridian stuff instead this afternoon and don't want to prevent anyone else from working on this so I will gracefully unassign myself and say you can completely ignore that PR.

[2022-11-04 21:16] joewhitsitt opened #5924 "Update our options_allowed_values() code"
# Issue

Our docblocks regarding allowed options functionality are incorrect.

https://api.drupal.org/api/drupal/core%21modules%21options%21options.module/function/options_allowed_values/9.2.x

Should be something like this:

[code]

# Proposed Solution

Do a code search for `options_allowed_values()` and update our existing code.

[2022-11-04 21:20] joewhitsitt commented on #5467
This would be good to do first https://github.com/uiowa/uiowa/issues/5924

[2022-11-04 21:30] joewhitsitt commented on #5601
So my understanding is that if the both sides of the relationship are mapped to schema.org properties through field types then the overall schema json+ld output should include some if not all of those details. We noticed that with event and person. Despite the relationship to a performer did not show properly in the event schema markup. it wasn't until that i mapped the person content type and som

[2022-11-07 16:20] e-marie-w commented on #5601
How do I get the local output? If I view page source I can find a <script type="application/ld+json"> section like the examples on schema.org. It won't validate since it's code but I'm guessing it's another way to check?

[2022-11-07 16:24] joewhitsitt commented on #5601
It should be nested in the `<head>` tag

<img width="495" alt="Screen Shot 2022-11-07 at 10 22 06 AM" src="https://user-images.githubusercontent.com/4663676/200361485-c5685f0b-36f2-4272-8cc4-5056e71847ab.png">

There should be two of them if you are using schemadotorg blueprints. Just copy the inner json and paste in the "code snippet" option on that validator

[2022-11-07 16:48] e-marie-w commented on #5601
I'm doing something wrong, I paste in their examples and still get 'There was an error validating your markup'. I skip the <script> tag, then paste what's in the curly brackets (tried with and without including the brackets). Also tried different examples and combinations, still only get errors. Any ideas?

Otherwise I already can tell not all properties are showing and will work on that.

[2022-11-07 17:11] joewhitsitt commented on #3910
I went ahead and published this as-is. This information could have been useful for a customer support ticket if it was previously published.

[2022-11-07 17:11] #3910 closed, assigned to nobody

[2022-11-07 17:19] joewhitsitt opened #5926 "Prepare "Iowa Data Feed Template" for Concept3D"
# Issue

There are several sources of information that are available outside of the maps.uiowa.edu (year built, address, building abbreviation, restroom/lactation room information, etc.). This data is maintained and can be integrated as a "supplemental" feed within Concept3D.

# Proposed Solution

- [ ] Get and finalize endpoint(s) from Facilities that we should query against for specific data tha

[2022-11-07 17:47] joewhitsitt commented on #5926
@mjoneill I have stubbed out this issue as it relates to Jay's email in its-web about bathroom data.

[2022-11-07 17:48] joewhitsitt commented on #5926
Coincidently, this is also one of the things that Patrick has been repeated asking us for.

[2022-11-07 19:06] joewhitsitt commented on #5738
I think this might need to wait until core 9.5

To get to typhonius/acquia-php-sdk-v2 2.1 (php 8.1), it requires guzzlehttp/guzzle ^7.2 and is locked at 6.5.8 by core-recommended.

https://www.drupal.org/project/drupal/issues/3225966

[2022-11-07 19:16] joewhitsitt commented on #5601
Can you paste here what you were trying paste there so we can look at it? Otherwise, let's find a time where you can huddle.

Update: huddled and showed off the browser inspector > find > "json" > copy element

[2022-11-07 19:21] #5909 closed, assigned to cory-skeers

[2022-11-07 19:35] joewhitsitt commented on #5918
Not sure if this was always the case or not (perhaps recent blt upgrade), but it seems to stem from https://github.com/uiowa/uiowa/blob/main/blt/src/Blt/Plugin/Commands/MultisiteCommands.php#L548 where vendor/acquia/blt-multisite/src/Blt/Plugin/Commands/MultisiteCommand.php's `createNewSiteConfigDir` is called. If we can't override this easily, maybe we can clean it up after here https://github.co

[2022-11-07 19:59] joewhitsitt commented on #5740
Related to #5924

[2022-11-07 20:16] joewhitsitt commented on #4274
This was done a while back: https://wiki.uiowa.edu/display/drupaldev/Archiving+and+restoring+website+pages

[2022-11-07 20:16] #4274 closed, assigned to nobody

[2022-11-07 20:27] bspeare commented on #5894
I took a brief look at this and it looks like we could fix this with these options:

## TVI Global setting

- Check this box on https://admissions.uiowa.ddev.site/admin/config/user-interface/tvi
<img width="1625" alt="Screen Shot 2022-11-07 at 2 22 39 PM" src="https://user-images.githubusercontent.com/1036433/200407667-0a9f8f77-57c9-4bda-9cbe-d80459c8bf2d.png">

- And then set a view for each taxo

[2022-11-07 21:09] pyrello commented on #5143
Since this site is going to be archived, this issue is no longer necessary.

[2022-11-07 21:09] #5143 closed, assigned to nobody

[2022-11-07 21:14] joewhitsitt commented on #5894
Perhaps this just wasn't showing because there wasn't two pages of content yet?

[2022-11-07 21:49] bspeare commented on #5894
@joewhitsitt I think that's correct.

[2022-11-07 21:50] joewhitsitt commented on #5740
this was 3rd in the bug smash milestone but was missing the prioritized label

[2022-11-07 21:54] joewhitsitt commented on #5894
So given that this appears to be a bloated TVI issue, I think the proposed solution makes sense, but that we check grad.admissions too since it is the other site that uses TVI.

[2022-11-07 23:02] mark-bennett-uiowa commented on #5732
@joewhitsitt What if we add a person type "presenter" to match the label of the field? Just so there isnt any misunderstanding.

UPDATE: Added this into the ISWF site split. "Presenter" label with "performer" machine_name to match schema.

[2022-11-08 14:52] joewhitsitt commented on #5732
If that works for ISWF, that works for me.

[2022-11-08 15:30] #5507 closed, assigned to bspeare

[2022-11-08 17:55] e-marie-w commented on #5601
I'm wondering if we want to add the issue release date and description/teaser fields to the Publication Issue at this time, as they're Iowa Review specific. The issue release date doesn't display on the issue, but it might be how they sort the recent issues page. Then again, couldn't created or published date work for that. The teaser is used as the summary on the list of issues page, but also as

[2022-11-08 19:22] joewhitsitt commented on #5895
A pitch for a config entity was made so that we aren't continually querying an external source for information that shouldn't change _too_ often.

As a configuration entity it allows us to potentially house building hours information temporarily if needed.

Perhaps a "Building" configuration entity base in default that could be used differently on a site-by-site basis.

[2022-11-08 19:25] joewhitsitt opened #5931 "ISWF View Listing"
# Issue

Create searchable view listing for events by date, genre, and presenter.

# Proposed Solution

- [x] Try to use existing view display otherwise create a ISWF specific view, adding it to the site split.
  - Just filtered events that are not referenced as a parent. So, if there are multiple types this applies to, the view might need to look at certain relationships ("lowest layer")
- [x] As

[2022-11-08 20:34] joewhitsitt commented on #5803
Possible routes:

- Create a manual table through content. No query needed.
- Programmatically create a table based on query results that assumes a path
- Split the page content type to have a building/honoree designation to construct a table drupal view. No query needed.
- Custom content type to structure all of the data and have consistent look and feel, also resulting in a drupal view. No query

[2022-11-08 21:01] joewhitsitt commented on #5803
Establishing a filter as you type search box for the frontend seems like a separate slice as the current list only includes ~60 items and has honoree sorting.

[2022-11-08 21:55] joewhitsitt commented on #5864
uiowa04 has been created, but I think some of these are on hold since there is an open discussion about the rest of the sub directory acronym sites like gwss and hhp that stemmed from the ctgl request

[2022-11-08 22:20] joewhitsitt opened #5933 "Adjusting our metatag/schema.org strategy for new content types"
# Story

As a developer, I want a clear set of steps during development to establish SEO for my new content type.

With our recent dive into using schema.org blueprints on existing content types, we didn't audit and adjust the existing metatag and schema.org coverage provided by the metatag and schema_metatag modules. For new content types, where is the happy balance? Should we eventually remove s

[2022-11-08 22:43] pyrello commented on #5803
I went rogue and put this together: https://github.com/uiowa/uiowa/pull/5934. Some things need to be renamed to be more specific to the use case and it still needs some tweaks to get the design looking right, but the investment so far for it is under 2 hours.

[2022-11-09 15:49] e-marie-w commented on #5601
@quamsta Is the proposed genre field on the article content type something that will be used on Exchanges?

[2022-11-09 19:04] joewhitsitt commented on #5912
Fun fact, there is a v3 bme site living on uiowa.prod

[2022-11-09 19:31] joewhitsitt commented on #5912
Set reminder about uiowa703 AND uiowa in case we can't move forward right away in removing the uiowa v3 instance.

[2022-11-09 19:39] #5912 closed, assigned to joewhitsitt

[2022-11-09 19:44] #5918 closed, assigned to nobody

[2022-11-09 20:28] joewhitsitt opened #5936 "Deprovision bme engineering on uiowa (v3)"
Follow-up from https://github.com/uiowa/uiowa/issues/5912

A v3 site was created before they decided to move BME within the main engineering website. There is still a reminder on the calendar for the 703 v1 site.

[2022-11-09 21:41] #5936 closed, assigned to joewhitsitt

[2022-11-10 16:18] e-marie-w commented on #5601
One disadvantage of extending the article content type instead of making a new one: figuring out a path alias pattern to cover the news article use case and the publication article use case.

[2022-11-10 16:24] joewhitsitt commented on #5601
Hmm. Additionally, the article path alias is currently ignored config because of the SiteNow Articles configuration page

Advanced conditions within pathauto: https://www.drupal.org/project/pathauto/issues/3224916

[2022-11-10 17:21] joewhitsitt commented on #5601
Looks like there are some workarounds mentioned here: https://www.drupal.org/project/pathauto/issues/3126837

We would still have to update docroot/modules/custom/sitenow_articles/src/Form/SettingsForm.php to make sure it doesn't try to re-write the publication article.

Is there a "article type" or something that designates what kind of article it is? That could be tapped into for the alter and u

[2022-11-10 17:26] pyrello commented on #5601
Would having an issue referenced be enough for this?

[2022-11-10 17:39] e-marie-w commented on #5601
I can try it!

[2022-11-10 17:48] pyrello commented on #5601
I'm wondering if the patch at this issue might help? https://www.drupal.org/project/pathauto/issues/3258256. I think it would allow having multiple path alias patterns apply to a single content type and includes a UI to support selecting the path alias pattern for auto-generating the alias. We could potentially use a form alter and form `#states` to check if a value has been set for the issue fiel

[2022-11-10 18:44] joewhitsitt commented on #3762
Add commencement.uiowa.edu (703) to this list...

[2022-11-10 21:31] joewhitsitt commented on #5894
Devel Generate could be used to create enough entities to cause the paging on other vocabularies to trigger.

[2022-11-10 21:41] joewhitsitt commented on #5887
Ideally, https://github.com/uiowa/uiowa/pull/5882 should merge to main first. I will put it up for technical review.

[2022-11-10 21:52] joewhitsitt opened #5938 "Probe - Display submitted timestamp on webform results for each submission"
Investigate:
As an administrator of the diversity website, I can see form submission times (in addition to dates) on the submissions table.

Note: it appears that currently you have to download an excel file of sensitive information to see submission times.

Note: perhaps useful for all sites?

Note: Submission results are controlled by views, but it's a bit more complicated for webforms. Need to

[2022-11-10 21:55] joewhitsitt commented on #5821
Planning on merging https://github.com/uiowa/uiowa/pull/5882 in to main so we will leave this issue open for any further feedback before the migration is run in PROD

[2022-11-10 21:58] pyrello commented on #5609
Not sure whether this is unblocked now or not, but the upstream issue for `lb_direct_add` was addressed: https://www.drupal.org/project/lb_direct_add/releases/2.0.0

[2022-11-10 22:04] pyrello commented on #2396
It seems like we could probably close this issue. Looking at the original summary, the only thing left undone was captured in #3172. There was also recent work to improve the local event feature in #5869. At this point, this issue seems like a zombie.

[2022-11-10 22:27] joewhitsitt commented on #2396
Bunch of good ideas in there that should be sliced out if they are still worth pursuing. I know that @mark-bennett-uiowa had interest in the event status stuff. And that more of this might be worth capturing in #5374

[2022-11-10 22:28] joewhitsitt commented on #2396
Also, I don't think all of the ideas from the comments have been captured

[2022-11-11 05:30] mark-bennett-uiowa opened #5939 "As a site editor, I can designate the EventStatus of a local event as Active, Cancelled, or Rescheduled."
# Story

As a site editor, I can designate the EventStatus of a local event as Active, Cancelled, or Rescheduled to inform viewers of the status of an event.

[https://schema.org/eventStatus](https://schema.org/eventStatus) - This is the schema.org property defined for the status of the event.

<img width="1486" alt="Screen Shot 2022-11-10 at 11 27 31 PM" src="https://user-images.githubusercontent

[2022-11-11 05:30] mark-bennett-uiowa opened #5940 "As a site editor, I can designate the AttendanceMode of a local event as Online, Onsite, or Mixed/Blended."
# Story

As a site editor, I can designate the AttendanceMode of a local event as Online, Onsite, or Mixed/Blended to inform viewers of the attendance mode for the event.

[https://schema.org/eventAttendanceMode](https://schema.org/eventAttendanceMode) - This is not approved yet by schema.org but is available as a property in schema assignment and would be helpful to prepare for an anticipated app

[2022-11-11 05:39] mark-bennett-uiowa commented on #2396
Added a few updates via #5939 and #5940 as far as potential additions. Mentioned these in #2936 and #5886

[2022-11-11 15:26] pyrello commented on #5232
We decided to do #5849 first.

[2022-11-11 15:56] e-marie-w commented on #5601
So, would my first step be enabling/installing the patch? And then altering code if needed?

[2022-11-11 17:36] e-marie-w commented on #5601
Update on the patch so far: it lets me add another path alias for the article content type, and I can bulk regenerate the articles to use that pattern type. On the edit form of an article there isn't an option to switch between the two and it defaults to the news/date pattern. Which, maybe is what it is supposed to do? Regardless, we planned for the article pattern to be picked based on if the iss

[2022-11-11 17:43] joewhitsitt commented on #5601
I guess I don't understand the value of the patch. Non-admins don't have access to that bulk generate interface

[2022-11-11 17:50] e-marie-w commented on #5601
I thought it was going to let me switch between pattern options in the edit form. Also, I thought I couldn't add another path alias for a content type that already had one but I'm realizing I never tried and probably should check now.

[2022-11-11 18:43] joewhitsitt commented on #5601
Maybe the patch is incomplete but yeah, when I first saw this, I was thinking it would be available when editing a node. You can define multiple patterns for the same content type already. It is the order (drag and drop ordering) in which pathauto reads them that determines which pattern to use.

[2022-11-11 18:44] #5916 closed, assigned to nobody

[2022-11-11 18:49] pyrello commented on #5601
I didn't evaluate the patch for completeness, just saw that it was RTBC. Sorry for the dead end.

[2022-11-11 19:09] e-marie-w commented on #5601
It was worth checking plus it gave me more experience with using patches.

[2022-11-11 19:33] e-marie-w commented on #4848
![Screen Shot 2022-11-11 at 1 25 18 PM](https://user-images.githubusercontent.com/68179015/201415790-c65b3fde-0b92-4bf8-923e-1c74066a1382.png)

It looks like the clear button has changed? Unsure if it was us or Concept3d. Also unsure if this is a win or if we want the button a different color.

[2022-11-11 19:40] joewhitsitt commented on #4848
wasn't me.

[2022-11-11 19:42] bspeare commented on #4848
I don't remember doing this either but glad to see that it has changed!

[2022-11-11 20:52] joewhitsitt commented on #5894
The current proposed solution creates more config than ideal. Going to try another approach real quick.

[2022-11-11 21:30] bspeare commented on #5938
It looks like we could do something like https://github.com/uiowa/uiowa/pull/5943 where that adjustment will display https://github.com/uiowa/uiowa/blob/main/config/default/views.view.webform_submissions.yml with a long date format that shows the time.    Reference: https://www.drupal.org/node/2994274.

[2022-11-11 21:40] joewhitsitt commented on #5894
This was more unique than I originally thought. Community Colleges is not using TVI in the same way that other vocabularies are. Because community colleges is using an extra field instead of a replacement view, the TVI configuration is not filled out. We have custom code to unset the view results but not until after the pager is created. Added a one line change to also unset the pager.

So with th

[2022-11-11 21:55] joewhitsitt commented on #5894
Going to take a moment to see if there is a better point in the view process to do this besides prerender.

[2022-11-11 22:55] joewhitsitt commented on #5894
Found a way in pre_view to prevent further execution of the view.

[2022-11-14 15:08] makurj commented on #5584
I would like to drive/pair on this.

[2022-11-14 15:30] #5894 closed, assigned to joewhitsitt

[2022-11-14 16:44] joewhitsitt commented on #5584
going to look into the locked dependencies while @makurj pulls together and reviews the dependabots.

This is an example of a frontend dependency that we just to need test whether our frontend process still works and there aren't percy issues I think https://github.com/uiowa/uiowa/pull/5644 it would not be in-scope for this issue

[2022-11-14 17:40] bspeare opened #5945 "Investigate top_links_limit logic to see why law.uiowa.edu has unlimited top links"
# Problem
law.uiowa.edu has a **Unlimited** top links when the limit is 2.

<img width="417" alt="Screen Shot 2022-11-14 at 11 26 20 AM" src="https://user-images.githubusercontent.com/1036433/201728460-4b8b549d-992f-4426-b5cd-d7f59a643107.png">

# Steps to reproduce
law.uiowa.edu

# Proposed solution
Investigate theme setting logic https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uid

[2022-11-14 17:41] joewhitsitt commented on #5945
Probably a communication element as well if we are cutting their links down.

[2022-11-14 17:49] joewhitsitt commented on #2207
Call to again close this issue?

[2022-11-14 18:27] bspeare commented on #2207
I am not sure what "Develop a more user-friendly css grid section" is referring to.  We can close and reopen if/when we discover what that means.

[2022-11-14 18:28] bspeare commented on #2207
It probably refers to https://github.com/uiowa/uiowa/issues/4317, but does that need to be here as a Post V3 task?

[2022-11-14 19:02] joewhitsitt commented on #2207
I think the idea is to get rid of this stale issue since the follow-ups have been created elsewhere and that we are no longer focusing on post-v3 per-say. Closing.

[2022-11-14 19:02] #2207 closed, assigned to nobody

[2022-11-14 19:24] e-marie-w commented on #5601
Path alias changing is working (well when hardcoded right now). But I put the function in sitenow_articles.module, and now I'm wondering if that's correct. Because it is changing the articles, but at the same time it's feature-specific...so I'm not sure if it's supposed to go into the split or its current location (with a check that the split is turned on).

I'd try it both ways and see, but the p

[2022-11-14 19:31] joewhitsitt commented on #5601
I think this is feature specific and so a feature module should be added to the split so that it only fires if the split is enabled.

there is a `drush generate` command, but can also create the folder/info file/module file yourself.

[2022-11-14 20:07] pyrello commented on #5584
I think that the intention behind #5609 was to prevent non-admins from accessing the direct add stuff, so actually I think just switching to that new version will just accomplish that without setting a permission.

[2022-11-14 20:17] bspeare opened #5946 "Blocks in grid layouts overflow layout columns at smaller column widths"
# Problem
As you can see with the four-column grid on https://csd.uiowa.edu/research, at smaller breakpoints the grid is no longer equal-width.

<img width="1034" alt="Screen Shot 2022-11-14 at 1 59 03 PM" src="https://user-images.githubusercontent.com/1036433/201754080-5c7f919b-9195-4875-828f-50712ebb32f4.png">

# Proposed solution
Items within grid layouts need a min-width to maintain the grid:

[2022-11-14 20:35] bspeare opened #5947 "Profile title/position appears larger than the profile name on mobile"
# Problem
The profile title/position appears larger than the profile name on mobile creating a size imbalance and confusing visual hierarchy.

<img width="482" alt="Screen Shot 2022-11-14 at 2 35 16 PM" src="https://user-images.githubusercontent.com/1036433/201760455-e9ee2f6e-8074-4826-8987-6fa8c34421ec.png">

# Steps to reproduce
View a profile like https://csd.uiowa.edu/people/anu-subramanian on

[2022-11-14 20:44] joewhitsitt commented on #5584
Added the locked packages that could be in-scope for this issue. The rest are still waiting or need to remained locked. Noticed that acquia/blt-multisite could be updated to a stable version https://github.com/acquia/blt-multisite/releases/tag/v1.0.0

[2022-11-14 20:54] joewhitsitt commented on #5584
If we have a separate PR (e.g. for drupal/diff) for example, here are some adjustments for the readme.md:

| Package | Reason |
|--- |---|
|drupal/smart_date | Need to wait for upstream issue to be part of stable release or we need to patch it https://github.com/uiowa/uiowa/issues/5664|
|acquia/blt-travis  | No stable release to pair with blt 13.5. See https://github.com/acquia/blt-travis/issues/3

[2022-11-14 20:59] joewhitsitt commented on #5584
Looks like a good value add for php 8.1:
https://git.drupalcode.org/project/menu_block/-/compare/8.x-1.7...8.x-1.10?from_project_id=3161&straight=false

[2022-11-15 02:47] pyrello commented on #5584
Looks like @dependabot agrees: #5948

[2022-11-15 14:20] pyrello commented on #5584
I'm working on the `lb_direct_add` update.

[2022-11-15 15:31] pyrello commented on #5584
I was going to add the `easysvg` package update to #5949, but decided to hold off since I'm not sure how to test it and was hoping that @joewhitsitt could guide me on that.

[2022-11-15 15:50] briand44 commented on #5821
We have approval to run in prod.

[2022-11-15 16:07] pyrello commented on #5609
The Layout Builder Direct Add permission issue part of this has been resolved in #5949.

[2022-11-15 19:29] pyrello commented on #5895
Tasks:
- Config entity definition and scaffolding
- Write service to call API and return building results
- Write a (drush?) command to run the service and build the config entity files

[2022-11-15 19:29] briand44 commented on #5895
Brian to verify if we should use

[code]

[2022-11-15 19:47] pyrello commented on #5803
To do for #5934:
- Change content type from 'Place' to 'Named Building' (change machine name from`place` to `named_building`).
- Add preprocessing logic and field templates to finish getting the node LB template looking like the pages that were built out.

[2022-11-15 20:03] briand44 commented on #5803
Design of structured named buildings will be in a future slice.

[2022-11-15 20:37] bspeare commented on #5938
If we do something like https://github.com/uiowa/uiowa/issues/5938#issuecomment-1312205958, then we would possibly need to adjust the view to be more like the default webform submission list:

<img width="1538" alt="Screen Shot 2022-11-15 at 1 16 16 PM" src="https://user-images.githubusercontent.com/1036433/202006551-5f2efb13-fcbc-4f05-86fe-5d7816f5d63e.png">

Here's the view with the submission d

[2022-11-15 20:50] bspeare commented on #5946
One downside of the hyphens approach is that the "_The browser is free to automatically break words at appropriate hyphenation points, following whatever rules it chooses_."  As you can see in the example below, it knows how to break the word "Cookies" but not "Audiogenomics".    In order to get a hyphen in "Audiogenomics" you would have to manually insert an invisible soft hyphen like `<span clas

[2022-11-15 21:44] briand44 opened #5952 "ITS Alerts System"
# Story

As an ITS website owner I would like to be able to notify students, faculty and staff when there is a problem/change with a service so that they can be aware of any impacts to them.

# Additional Information

**Notifications**
via email - daily digest - real time notification
Dashboard on ITS website

Not necessary for launch:
RSS
Text Messages
Teams Chat
Slack
Help Desk Phone Greeting
in

[2022-11-16 14:35] pyrello commented on #5584
I thought I might be able to sneak #5951 in, since it involves a dependency update, but it requires more work to transition our homespun view block filters to the new one provided by ctools_views. Therefore I'm not adding it to this list.

[2022-11-16 16:52] briand44 commented on #5232
Added blocked label based on https://github.com/uiowa/uiowa/issues/5232#issuecomment-1311822980

[2022-11-16 19:06] #5740 closed, assigned to joewhitsitt

[2022-11-16 19:06] #5924 closed, assigned to nobody

[2022-11-16 19:56] briand44 commented on #5849
Added needs grooming again because at a minimum we need to point/size this.

[2022-11-16 20:42] #4716 closed, assigned to bspeare

[2022-11-17 06:10] mark-bennett-uiowa opened #5957 "Update uiowa04 SSL to include sociology.uiowa.edu."
Somehow forgot this site in the long list of remaining CLAS sites. Provisioned the site in a separate PR, needed to update the uiowa04 SSL certificate to cover this domain.

[2022-11-17 06:12] mark-bennett-uiowa commented on #5957
Completed 11-17-2022. Closing issue.

[2022-11-17 06:12] #5957 closed, assigned to mark-bennett-uiowa

[2022-11-17 14:09] briand44 commented on #5803
I got some clarification on the outstanding questions. They are ok with us going the structured route as long as they don't have to move content. They prefer last, first when outputting the honoree in the searchable list. They were also ok with just outputting the title (formal name) rather than collecting the building common name and using that in the searchable list. They are ok with us putting

[2022-11-17 16:03] joewhitsitt commented on #5938
So if I understand this correctly, using views is an option but we would have to make changes to mirror the existing submissions display?

If we want the quick change, the alter sounds fine, but if we can do this in config (views), I think that will be the better long term solution given how often webform is updated.

[2022-11-17 16:05] bspeare opened #5958 "Deprovision cdd.uiowa.edu on uiowa02 (v3)"
This site can be deprovisioned.  I reached out to the customer and they said "I think we’ve decided to go with a UIHC website instead."

[2022-11-17 16:07] bspeare commented on #5938
@joewhitsitt Yes, for the views route we would need to decide if want to make the changes to mirror the existing display.

[2022-11-17 16:10] joewhitsitt commented on #5938
One thing I just thought of is how much SiteNow has customized the site request submissions using the built-in functionality.  Maybe the alter is the better path. Any regression would probably be fixable.

[2022-11-17 16:43] bspeare commented on #3455
After finding https://github.com/uiowa/uiowa/issues/5958 today, I think we should prioritize something like this work.

[2022-11-17 16:51] joewhitsitt commented on #3455
Here is the D8/9 command https://github.com/uiowa/uiowa/issues/3153#issuecomment-853280500 that we could improve upon to send out emails with

[2022-11-17 21:32] bspeare opened #5960 "As a developer, I can reference a list of stage sites where content is being staged"
# Story

As a developer, I can reference a list of stage sites where content is being staged so that they are not accidentally synced over.

# Proposed short term solution before we do https://github.com/uiowa/uiowa/issues/3674.

- If you are working on a stage site, create a manual backup before doing anything.
- Create a list of important stage sites:
  - Review the stage domains on all of the d

[2022-11-17 21:55] briand44 commented on #5931
Ensure consistency of different event listing displays. Excludes event list block because that has an explicit option to change how it looks so that is handled differently.

[2022-11-17 21:58] briand44 commented on #5595
This work can be included in the existing PR

[2022-11-17 22:17] #5938 closed, assigned to bspeare

[2022-11-17 22:53] e-marie-w commented on #5601
I mentioned in planning that one of the finishing details is finalizing the pathauto alias patterns. Right now I have the publication issue path set to the issue title and for publication articles it's issue_title/article_title. Like /volume-45-issue-2-fall-2022/kitty-cat

The issue titles, at least for Iowa Review and 91st Meridian, end up being some variation of 'Volume # Issue # Season-Year'. I

[2022-11-18 14:30] pyrello commented on #5601
@e-marie-w Thanks for putting some thought into this.

I'm trying to think through the way that we would break the paths down. I think the main reason for slashes in the URL is to have a higher level collection that the user can find their way to. In the suggested path above, this would lead to:
- `vol` - Would this be a listing of volumes?
- `vol/45` - This seems like the home of volume 45. Presu

[2022-11-18 17:11] e-marie-w commented on #5601
Thanks @pyrello! We do not have a taxonomy for the volume number at this time as neither site uses it beyond having it as part of the issue title. Continuing to just use it as part of the title sounds good.

I forgot we already constructed the title for people, I'll take a look at that and see what I can do.

[2022-11-18 20:52] briand44 opened #5962 "Theme named building pages"
As a Facilities website owner, I would like the named building pages to look nice and quickly provide information about the Facility and the Honoree to site visitors.

# Additional Info
They are ok with us putting together the layout and getting feedback though they prefer the Facility description and Honoree info (photo, name, etc. near the top).

- https://sandbox.prod.drupal.uiowa.edu/hardin-li

[2022-11-18 20:54] joewhitsitt commented on #5821
This has been run in PROD https://now.prod.drupal.uiowa.edu/experts-list

[2022-11-18 20:54] #5821 closed, assigned to joewhitsitt

[2022-11-18 20:56] briand44 opened #5963 "Transition named building content from page to named building"
As a Facilities site owner, I would like our named building pages moved to the new structure so that we do not have to create those pages again.

# Additional Information
Capture the existing information from the pages in the appropriate structured fields along with the building id related to that Facility from https://bizhub.facilities.uiowa.edu/bizhub/ext/buildings.

V3 prod site: https://facili

[2022-11-18 21:03] briand44 commented on #5821
Does it make sense to disable https://now.prod.drupal.uiowa.edu/person now?

[2022-11-18 21:04] joewhitsitt commented on #5821
Sure.

Update: done.

[2022-11-18 21:10] joewhitsitt opened #5964 "Allow gclid and fbclid to pass through to Webform fields"
# Problem
Webform has pre-populate functionality that fills in matching fields with query string parameter values, but there are at least two ids, `gclid` and `fbclid` that don't get passed when Acquia's varnish is in front of the request.

https://support-acquia.force.com/s/article/360004119294-Acquia-s-default-Varnish-VCL-strips-Google-Analytics-and-Facebook-Ads-query-string-parameters

# Propos

[2022-11-18 21:15] bspeare commented on #5895
Did we want to use https://github.com/uiowa/uiowa/pull/5718 for this work or is that something completely different?

[2022-11-21 14:47] joewhitsitt commented on #5895
It would be nice to add this to #5718 or at least continue to extend the MAUI API code. There are some things in that PR that probably won't be in the final deliverable. If I understand correctly though, this will be a different endpoint https://api.maui.uiowa.edu/maui/api/pub/registrar/courses/AstraBldgRmCompleteList/list, and we may need to establish a FacilitiesAPI (separate module?) call as we

[2022-11-21 16:29] joewhitsitt commented on #5895
@briand44 since we hope to use the uiowa_maui module for the data call, do you think the filtering here https://github.com/uiowa/uiowa/issues/5895#issuecomment-1315771362 would be useful to other websites (aka baked into the module) or should it be limited to the classrooms website (aka classrooms_core filtering after the data call)

[2022-11-21 17:00] briand44 commented on #5895
Sorry, I guess my audio wasn't working in the huddle. I am not aware of that filtering being valuable to other websites at this point. I am not even sure that API endpoint would be used by others.

[2022-11-21 17:42] joewhitsitt commented on #5895
Oye. For maintenance, I think the initial data call should still be located in uiowa_maui instead of trying to build something similar just for classrooms.

[2022-11-21 19:53] joewhitsitt commented on #5931
Should this be blocked until https://github.com/uiowa/uiowa/pull/5925 merges in? I think we assumed it would be done before this was pulled in.

[2022-11-21 20:41] joewhitsitt commented on #5584
Looks like all of the in-scope work is done on this. Credit to @pyrello and @makurj for this work.

Based on recent discussions and how this issue was addressed, I am not going to create next month's issue. Team thoughts about how to work these in to our planned work without falling behind?

[2022-11-21 21:04] GaryRidgway commented on #5803
Do we need to add the building page, or can we just consolidate everything in to the named building?

[2022-11-21 21:48] briand44 commented on #5803
The building pages will be dynamically displayed in a future slice.

[2022-11-21 21:50] joewhitsitt commented on #5945
On immediate glance, law's top_links_limit is null...

Running a report on uiowa -> uiowa04, there is more than a few sites that have null instead of the default 2.

[2022-11-21 22:16] joewhitsitt commented on #5945
These are the sites with null for top links limit. If anyone sees a pattern here, let me know. This is across uiowa, uiowa01, uiowa02.

latinxstudies.uiowa.edu
latinamericanstudies.uiowa.edu
internationalstudies.uiowa.edu
interdisciplinaryprograms.uiowa.edu
interdepartmentalstudies.uiowa.edu
globalhealthstudies.uiowa.edu
geriatricpain.org
csi.its.uiowa.edu
bmess.org.uiowa.edu
biomonitoring.shl.uio

[2022-11-21 22:25] joewhitsitt commented on #5945
actually, i think these are uiowa_bootstrap sites that transitioned to uids_base but haven't re-saved uids_base theme settings

[2022-11-21 22:28] joewhitsitt commented on #5945
restricting top links was a uids_base thing https://github.com/uiowa/uiowa/pull/1846 before uids_base was turned on for all https://github.com/uiowa/uiowa/pull/1806

[2022-11-21 22:51] joewhitsitt commented on #5945
I re-saved (aka set limit to 2) all but appliedphys.lab.uiowa.edu and law.uiowa.edu as they had more than two links displaying. I will write an email to site owners before those settings are saved so that they can adjust their navigation.

[2022-11-21 23:02] pyrello commented on #5584
I think that the epic was helpful in keeping track of the updates to be done. Maybe we just need to rewrite the notes a bit?

[2022-11-21 23:16] pyrello commented on #5584
We should try to review and merge in dependency updates on a monthly basis. Until this is automated more, here is a guide:

- Review the [outstanding dependency updates](https://github.com/uiowa/uiowa/pulls?q=is%3Aopen+is%3Apr+label%3Adependencies) and add a list of current ones below.
- Dependencies related to our frontend build tools (not executed on the websites) are usually safe to merge as-is

[2022-11-21 23:20] joewhitsitt commented on #5945
Added a card to PL to discuss the communication.

[2022-11-22 14:43] joewhitsitt commented on #5584
I am okay with this. Thanks @pyrello for taking the time to tweak it.

[2022-11-22 14:44] joewhitsitt opened #5965 "February Dependencies"
We should try to review and merge in dependency updates on a monthly basis. Until this is automated more, here is a guide:

- Review the [outstanding dependency updates](https://github.com/uiowa/uiowa/pulls?q=is%3Aopen+is%3Apr+label%3Adependencies) and add a list of current ones below.
- Dependencies related to our frontend build tools (not executed on the websites) are usually safe to merge as-is

[2022-11-22 14:45] joewhitsitt commented on #5584
Created https://github.com/uiowa/uiowa/issues/5965. Closing this as https://github.com/uiowa/uiowa/pull/5951 should be addressed separately.

[2022-11-22 14:45] #5584 closed, assigned to joewhitsitt, makurj

[2022-11-22 15:16] joewhitsitt commented on #5931
From standup, it sounds like this work can be added to #5925 and is not blocked

[2022-11-22 16:32] pyrello commented on #3458
The adjustment I would make to this is that I don't think I would namespace any of our built-in modules as `uiowa_` anymore. If we were to split out the content hub functionality into a separate module, then I'd be in favor of doing that. Instead, I think I would name the `uiowa_events` one `sitenow_content_hub` or something similar.

[2022-11-22 19:08] briand44 commented on #3561
Investigate where we should be rendering this within the markup. Take into account the mobile stacked view.

[2022-11-22 19:13] briand44 commented on #5962
Cohesive design where information is grouped and not separated so much.

[2022-11-22 19:15] briand44 commented on #5962
Ben to share some more thoughts or examples.

[2022-11-22 19:29] briand44 opened #5968 "Show events on person page (presenter)"
# Story
As a SiteNow events user, I would like events that reference a person (presenter) to be displayed on that person's profile page so that users can easily find more events where that person is presenting.

# Additional Info
[https://iowasummerwritingfestival.org/zach-savich](https://iowasummerwritingfestival.org/zach-savich)

# Proposed Solution

- [x] Establishing a view block that takes a

[2022-11-22 19:44] briand44 commented on #5911
Collect route prior to restrict ip taking over and modify

[2022-11-22 19:48] briand44 commented on #5911
Possibly an opportunity to add a patch to the module

[2022-11-22 19:54] joewhitsitt commented on #5911
Adding thoughts from grooming:

When a URL is requested on the site (from an email, bookmark) restrict_ip doesn't serve the original URL request's 403. It reroutes the request to their generic 403 page /restrict_ip/access_denied so the path we have used for our normal login link is not available. Some possible options:

- Look to harvest and store this information through a patch to the module and

[2022-11-22 19:56] briand44 commented on #5849
I will create separate issues for the slices and link to them from this epic.

[2022-11-22 19:57] bspeare commented on #2784
The featured image usages in the example narrow articles above (https://github.com/uiowa/uiowa/issues/2784#issue-778391839) seem like a good intersection with https://github.com/uiowa/uiowa/issues/2813.

Maybe if the narrow option is turned on we alter the featured image to display the original image aspect-ratio within the featured image banner and render the banner as mobile stacked?

<img width

[2022-11-22 20:19] bspeare commented on #2784
Here's another look at how changing the article body to narrow and the featured image treatment could work (my fonts aren't working in this screenshot):

<img width="1724" alt="Screen Shot 2022-11-22 at 2 10 14 PM" src="https://user-images.githubusercontent.com/1036433/203413100-cf6e2d3a-e8d0-4f7f-a33b-d505832435a0.png">

[2022-11-22 20:22] joewhitsitt commented on #3561
Do we want to rule out tooltip/popup/modal solutions for this?

[2022-11-22 20:49] joewhitsitt commented on #3458
not against prefixing everything with `sitenow_` but I want to point out that the prefixing loses some value especially if these are never to be shared outside of the platform (e.g. sitenow_find_text became find_text). We _almost_ have a thing going where modules that use campus services are all prefixed with `uiowa_` (e.g. uiowa_maui, uiowa_hours, uiowa_profiles). Then we only need to change aler

[2022-11-22 21:19] e-marie-w opened #5969 "SSL cert for ctgl.uiowa.edu on uiowa04"

[2022-11-22 22:52] quamsta commented on #5911
@joewhitsitt
Explored these options in a bit more detail today:

This would likely have to be done in a patch to `docroot/modules/contrib/restrict_ip/src/EventSubscriber/RestrictIpEventSubscriber.php`, more specifically the function `checkIPRestricted`.

We could store the original request near the top of this function:

[code]
Did some testing and this section of code around line 110 appears to s

[2022-11-23 14:58] joewhitsitt commented on #5911
I just threw the JS idea out there thinking maybe there is a hook (preprocess_html?) that is called before restrict_ip's event subscriber that could attach JS to that grabs the original window.location that could be stored and referenced. We have the sitenow_intranet module that can house it without any modification to the restrict_ip module.

That said, I think a feature request issue for the req

[2022-11-23 15:13] joewhitsitt commented on #5945
Comms went out yesterday. Deadline is 12/6. I will add an its-web calendar reminder.

[2022-11-23 15:30] joewhitsitt commented on #5945
I just realized that I won't be here 12/6.

So, assuming there is no emails telling us to wait/adjust the deadline...

- For law.uiowa.edu and appliedphys.lab.uiowa.edu go into Appearance > uids_base theme settings and save the settings as-is. This will set the 2 link limit config value.

[2022-11-23 16:18] joewhitsitt commented on #5595
Just noticed this. Is this is a typo? string_long (text area) or string (textfield)?

[2022-11-23 16:34] joewhitsitt commented on #5595
A DM from Brian:

@e-marie-w do you recall?

[2022-11-23 16:45] e-marie-w commented on #5595
I don't think we ever discussed this. I'd lean towards text area too, though. I added the Author Bio field for when they want to capture an author and any bio info without creating/referencing a Person entity. Since there is no option for entity reference for translator, it makes sense to have the larger text area again, in case there is extra info.

[2022-11-23 17:09] briand44 opened #5970 "Card: template and block template updates with layout builder styles"
The PR associated with this work will not be merged until all slices of #5849 are complete.

- [x] Update new card template: https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/templates/uids/card.html.twig.
- [x] ~Update the block card template to work with the new card template.~ Implement card render element.
- [x] `Card:border` needs to change to `Remove border` now that c

[2022-11-23 17:09] briand44 commented on #5970
From epic https://github.com/uiowa/uiowa/issues/5849

[2022-11-23 17:11] briand44 opened #5971 "Finish card updates"
# LB style changes
- [x] Remove 'border' style
- [x] Add 'no border' style

# Nodes
- [x] Remove `docroot/themes/custom/uids_base/templates/content/node--teaser.html.twig`
- [x] Account for the base case from the above template

## Articles <a name="user-content-node-articles" href="#user-content-node-articles">#</a>
- [x] Renders teaser as a card with the following default options:
  - Headline:

[2022-11-23 17:13] briand44 opened #5972 "Card : Update hook and miscellaneous testing for card stuff that we missed."
- [ ] Set update hook to set that `Remove card border` value on cards that did not have `Card: border` selected.
  - [ ] Review custom `.card` styles in `uiowa` repo and see if they are still needed.
  - [ ] Update `V2` card templates and scss.
  - [ ] Review `card--list` modifier and see it can be removed and possibly move back some adjustments to UIDS4 like https://github.com/uiowa/uiowa/pull/59

[2022-11-23 17:26] e-marie-w commented on #5595
I took a quick look at the d7 site, it looks like there is usually a bio for the translator, so I'm doubling down on text area. Side note there is usually a translator's note, which uses the Introduction field for the content type...now I'm wondering if that can just go in the body or if it's another field we need to add.

[2022-11-23 21:22] joewhitsitt commented on #5358
Semi-related, @e-marie-w encountered a corrupt site install today when installing a bunch (10+) at a time. It also seemed to happen during the scheduled cron. All other sites in the batch were successful.

[code]

After this, it was trying to make config changes to a lot of non-standard items and threw errors about missing plugins like smart date. The site had temporarily unavailable errors for al

[2022-11-23 22:00] joewhitsitt commented on #5895
With the call and filtering that Ben established, I created the building config entity, added caching around the filtering, added the programatic creation of building entities and moved it to a drush command. I also cleaned up the initial probe fields/functionality that are no longer in-scope.

If we plan on capturing hours info on the config, it would be easier to establish that now than after th

[2022-11-23 22:04] briand44 commented on #5771
Closing this as we decided to tackle this work as part of https://github.com/uiowa/uiowa/issues/5769

[2022-11-23 22:04] #5771 closed, assigned to nobody

[2022-11-23 22:10] briand44 commented on #5895
Facilities is supposed to be checking on the status of building hours. My understanding was Classrooms wanted to avoid managing this information if possible and were willing to launch without it if it was something that would be available from Facilities in a reasonable time frame (sounds like they'd be willing to wait at least 3 months after launch if they have to).

[2022-11-23 22:11] cory-skeers commented on #5887
This has been run in dev and comms sent out--awaiting feedback and/or green light to run in prod.

[2022-11-28 14:56] joewhitsitt commented on #5895
Hoping to get thoughts on the approach in https://github.com/uiowa/uiowa/pull/5718 today and to see if there is anything missing.

[2022-11-28 14:58] joewhitsitt commented on #5895
Oh. One thing that is missing is that it is manually run right now. Not sure if setting up the hook_cron with the drush command and getting the timing/caching right is part of this work for it to run periodically.

[2022-11-28 15:45] joewhitsitt commented on #5895
Todo

- Update filters to also include:
[code]
- Store building name (buildingName) from endpoint as part of config entity label
- Daily cron run of command

[2022-11-28 15:47] mark-bennett-uiowa opened #5973 "Domain, SSL, DB cleanup after CLAS additions - affects uiowa01, uiowa02, uiowa03"
# Followup from #5864

- [x] Delete art.uiowa.edu database from uiowa01. There is no DNS or SSL coverage of this domain on uiowa01. Not sure why it has a database here.
- [ ] Install the https://shops.clas.uiowa.edu/ site on uiowa01. DB, domain already exist, SSL covers.

Cleanup existing SSL certificates on existing applications (uiowa, uiowa01, etc.)
- [x]  uiowa01: remove *.biology.uiowa.edu fr

[2022-11-28 15:50] joewhitsitt commented on #5895
I mentioned Brand in zoom as having the cron/drush command, but it is actually a PROD scheduled job on uiowa that triggers the drush command. So once this is out in PROD, that would be setup. If once a day, we might want to adjust the six hour cache on the drush command to make sure it expires before the next automated run.

[2022-11-28 16:09] bspeare commented on #5895
The 36 buildings imported match the building list on https://classrooms.uiowa.edu/admin/structure/taxonomy/buildings.  After updating the filters to include https://github.com/uiowa/uiowa/issues/5895#issuecomment-1329324899, the import is up to 45 buildings created.

[2022-11-28 20:35] joewhitsitt commented on #5803
Going to poke at this

[2022-11-28 20:44] mark-bennett-uiowa opened #5974 "As a developer, I want to develop a date/time format standard for the D9 platform"
# Story

As a developer, I want to develop and implement a standard for date/time formats across the platform.

Current Content Hub events display their dates as **Monday, November 28, 2022 1:30pm to 2:30pm** both in the event lists and in the individual event. (Notice no separation between date and time)

Articles display their dates as **Friday, November 18, 2022** both in news lists and in the

[2022-11-28 22:19] bspeare commented on #5895
@joewhitsitt is there anything left to do here?

[2022-11-28 22:22] joewhitsitt commented on #5895
I am biased, but nobody objected to the approach, the proposed solution has been covered and the remaining todos have been addressed.

[2022-11-28 22:46] joewhitsitt commented on #5895
Oops on the issue reference ^^

[2022-11-29 14:25] quamsta commented on #5974
Standardized dates is a great idea. It may be a good idea to investigate using something like [ap-dates](https://github.com/as3io/ap-dates) in order to format dates in AP style formatting, [per the brand manual](https://brand.uiowa.edu/sites/brand.uiowa.edu/files/2022-09/IOWA-Editorial-Style-Guide-9-13-22.pdf), which requires some slightly off-the-beaten path, not-so-automatic formatting of dates

[2022-11-29 14:49] joewhitsitt commented on #5945
We explained the situation to Hannah H. (law.uiowa.edu) yesterday in a meeting. Hannah is temporarily taking over website responsibilities for Laura K.. For now, we are keeping to the same deadline.

[2022-11-29 14:50] pyrello commented on #5895
If we are going to update this building list as a drush command that runs every so often, I think that calls into question the wisdom of using config entities. When we originally discussed using config entities, the idea was that a developer would periodically run the command to update the config and those changes would be committed and deployed. Having a process that runs without developer interv

[2022-11-29 16:17] briand44 commented on #5963
Blocked until https://github.com/uiowa/uiowa/pull/5934 is deployed

[2022-11-29 16:35] bspeare commented on #5895
After our discussion this morning, does this sound like our current plan?

Remaining work:
- Remove config_split.patch.config_ignore.settings.yml

Future work:
- Add the ability to update existing buildings instead of delete and recreate

[2022-11-29 17:37] pyrello commented on #5931
I made [some updates](https://github.com/uiowa/uiowa/pull/5925/commits/6c30f6f28e595ac4bead9d7def27ae0cc6a35999) and updated the checked boxes in the IS to reflect my changes.

[2022-11-29 17:44] pyrello commented on #5931
Did we decide that we did not want the base event feature to include the ability to search by date or presenter?

[2022-11-29 17:49] pyrello commented on #5931
Looks like we are going to need Better Exposed Filters to get a datepicker for the when field: https://www.drupal.org/docs/contributed-modules/smart-date/smart-date-and-views-including-fullcalendar-view#s-adding-a-date-picker-exposed-filter

[2022-11-29 18:03] joewhitsitt commented on #5472
Bump. This is coming up again as we develop new content types.

[2022-11-29 18:11] bspeare commented on #5962
I put together an example mockup that groups the information together in sections: https://sandbox.prod.drupal.uiowa.edu/hardin-library-health-sciences, https://sandbox.prod.drupal.uiowa.edu/hardin-library-health-sciences-copy

[2022-11-29 18:24] bspeare commented on #3561
Looking at this again, perhaps we just render it under the page title?

<img width="1467" alt="Screen Shot 2022-11-29 at 12 23 42 PM" src="https://user-images.githubusercontent.com/1036433/204615108-56fcc910-c4fc-4780-b7fd-a96bd65442e6.png">

We would just need to adjust placement in layout builder:

<img width="280" alt="Screen Shot 2022-11-29 at 12 20 39 PM" src="https://user-images.githubuserco

[2022-11-29 19:01] cory-skeers commented on #3561
I like this option!

[2022-11-29 19:03] joewhitsitt commented on #5962
I just made a change to the aerial link field to just capture the link because I think the button text should be consistent. We felt it is ok to have building info lower since the majority of traffic to these pages comes from the building page rather than the named building search.

[2022-11-29 19:08] briand44 commented on #3561
Explore possibly using tool tip (https://codepen.io/heydon/pen/Vzwdpy), if not we can go with rendering under title. We may need to check some splits.

[2022-11-29 19:14] briand44 commented on #5962
In grooming folks seemed to be leaning towards https://sandbox.prod.drupal.uiowa.edu/hardin-library-health-sciences-copy.

[2022-11-29 19:30] pyrello commented on #5931
I was able to accomplish limiting the people that can be searched for to just people attached to events, so I don't believe that we need the Presenter person type.

[2022-11-29 20:34] makurj commented on #5931
Based on grooming discussion, we can remove "all genres" as an option.

[2022-11-29 20:36] joewhitsitt commented on #5963
~>Since existing page content already exists, unless those are deleted first as part of the process, named buildings are going to get a -0 url alias (e.g. philip-d-adler-journalism-and-mass-communications-building-0) - https://github.com/uiowa/uiowa/pull/5934#issuecomment-1330963695~

This has been addressed by adding the same alias pattern as their current website. https://github.com/uiowa/uiowa/

[2022-11-29 20:46] briand44 commented on #5962
Adding blocked label since it sounds like the team would prefer to merge https://github.com/uiowa/uiowa/pull/5934 prior to beginning this work.

[2022-11-29 21:44] joewhitsitt opened #5975 "Switch to core's allowed formats and remove allowed_formats contrib"
https://www.drupal.org/project/drupal/issues/784672

`drupal/allowed_formats`

[2022-11-29 22:31] pyrello commented on #2823
@mark-bennett-uiowa Do you have any interest in reviving this? I'm wondering about closing it.

[2022-11-29 23:26] mark-bennett-uiowa commented on #2823
@pyrello thanks for asking bud. I would love to see this implemented at some point, but is it a priority at the moment, no. Close for now and reopen if we are begging for things to add later??

[2022-11-30 14:37] joewhitsitt commented on #5667
As far as I know, we will need Linkit to be ready. That is our big non-core addition to the WYSIWYG. https://www.drupal.org/project/linkit/issues/3232190

What worries me though is that we are now using https://www.drupal.org/project/linkit_media_library to link files and I don't know what the upgrade will look like for that.

[2022-11-30 14:55] bspeare commented on #4917
Since we have a lot of places in our config where we are adding margin or removing margins, this would be useful to implement for the margin styles alone.   There is a Slack thread where this is discussed recently (https://iowaweb.slack.com/archives/C0164FNN1PV/p1668033414737329) and it would be useful to implement these styles so that this is no longer viewed as a "creative" solution.    Otherwis

[2022-11-30 15:20] pyrello commented on #5667
I've been playing around with CKEditor 5 a bit. It looks like the insert Media document functionality works as would be expected in the new version, so the workaround using `linkit_media_library` should no longer be necessary. Unfortunately, the way that that module handles inserting links does not match up with what it will need to look like after we switch over since the links will just use a `<

[2022-11-30 15:46] joewhitsitt commented on #5667
The main reason was for files to be inline (bulleted list, etc) instead of blocks. Has that been addressed with the media button? I can't seem to find the issue related to that.

[2022-11-30 15:57] pyrello commented on #5667
Ah. No, it doesn't appear that it has been addressed. Even when editing the source to place the `<drupal-media>` element in a bulleted list, it gets moved outside of it when you click out of source mode.

I guess I thought we used that plugin because the linking was going to the media element rather than the file.

[2022-11-30 15:58] pyrello commented on #5667
At least this appears to be mostly done.

[2022-11-30 16:18] makurj commented on #5931
Questions for team:

1. For the ISWF split, we have additional fields that are being output in `node--event--teaser.html.twig`, genre, registration link, etc. See screenshot below.

![image](https://user-images.githubusercontent.com/52135878/204850805-ce436d91-95c1-4691-ae5c-58d50948e8d7.png)

How do we want to handle the display of these? A new template or preprocessing? We feel like the registra

[2022-11-30 17:37] bspeare opened #5977 "uiowa.edu navigation is not displaying bottom border"
# Problem
On pages like https://uiowa.edu/contact, the menu is not getting the bottom border on the menu like https://admissions.uiowa.edu/apply/bas-bls-application-process.  It appears that the `site-name.css` contains this border property and is not being loaded.

<img width="1583" alt="Screen Shot 2022-11-30 at 11 35 03 AM" src="https://user-images.githubusercontent.com/1036433/204868607-47589a

[2022-11-30 17:50] GaryRidgway commented on #5931
In looking at the view, I feel like `/events` may not be the best place for this? Currently, there is an omission of events that do not have the `Part of` field filled out. I find it a little odd to not display events on the `/events` page, which, to me, seems like a page that should display ALL events.

[2022-11-30 17:54] makurj commented on #5931
I would agree. `/events` should list ALL events. The view we worked on was set to `/events/upcoming` so we could have a different path for "I don't have a parent" events.

[2022-11-30 18:14] joewhitsitt commented on #4569
~~I don't think https://github.com/uiowa/uiowa/issues/4569#issuecomment-1027265827 is working anymore~~ it is working. i had forgotten what it was doing...

[2022-11-30 18:20] pyrello commented on #5931
The events that should not be showing up on `/events` are events that are referenced as a parent. This is to prevent a listing like:
- Event not related to the Writing Festival
- Writing Festival
- Session that is part of the Writing Festival
- Workshop that is part of the Session that is part of the Writing Festival

Instead we would just end up with:
- Event not related to the Writing Festival
-

[2022-11-30 19:01] bspeare opened #5978 "As a SiteNow service owner, I can have a better understanding of how sitenow.uiowa.edu/documentation is being used"
# Story

As a SiteNow service owner, I can have a better understanding of how sitenow.uiowa.edu/documentation is being used.

# Proposed solution
- Look through GA and Search Console for sitenow.uiowa.edu/documentation and find top pages and search terms.
- Add an Unbounce exit survey to sitenow.uiowa.edu to get a better idea of how people are using the site.
- Audit its-web and Cherwell to review

[2022-11-30 19:36] pyrello commented on #5667
This issue appears to be about that: https://www.drupal.org/project/drupal/issues/3168966

[2022-11-30 20:12] joewhitsitt commented on #5667
Good find. Thanks

[2022-11-30 20:31] joewhitsitt commented on #4569
The address field template is expecting a value and doesn't have any kind of if check around it which causes issues if there is a preprocess unset on it.

docroot/modules/contrib/address/templates/address-plain.html.twig

[2022-11-30 20:46] briand44 commented on #5945
I removed two of the top links for Law on behalf of Hannah and saved theme settings.

[2022-11-30 21:12] briand44 commented on #5945
I updated the other site to use the parent organization functionality, removed the link from top links and saved theme settings.

[2022-11-30 21:12] #5945 closed, assigned to nobody

[2022-11-30 21:14] briand44 commented on #5945
Also deleted the calendar reminder.

[2022-11-30 21:21] joewhitsitt commented on #4569
https://github.com/uiowa/uiowa/pull/5934#issuecomment-1332739983