[2022-08-05 18:31] joewhitsitt commented on #5549
Shouldn't the ITS Software download site be used for this? Should we chat with Tracy Scott about the future plans for that stuff and how it could work for this?

[2022-08-05 18:32] #5435 closed, assigned to nobody

[2022-08-05 18:33] bspeare commented on #5503
For the "Communicate with CSI App devs" task, is there a specific contact person for that?  Are we waiting for an "OK" from that group before proceeding to the next step or are we just making our work visible?

[2022-08-05 18:35] cory-skeers commented on #5548
https://sitenow.uiowa.edu/news/2022/08/updates-august

[2022-08-05 18:35] briand44 commented on #5549
I mentioned this to Engineering. This was just a preliminary conversation and I told them to reach back out and we can setup a conversation and discuss in more detail if needed. Created this issue as a placeholder for conversation and to get feedback such as this.

[2022-08-05 18:41] briand44 commented on #5503
Just making our work visible. I already communicated with Jeremy Dombrock (CSI app dev) and Chris Clair to make this visible. I updated the proposed solution to just mention it in Slack and again once it is available. This is just to make others aware we will be doing this if they want to take advantage and a chance for them to chime in if for some reason adding an additional field in the API will

[2022-08-05 19:16] bspeare commented on #5503
I'm going to try to start on this while Joe is still around in case we have some questions.

[2022-08-05 20:16] #4622 closed, assigned to nobody

[2022-08-05 20:16] bspeare commented on #5503
@joewhitsitt When you say add to `content_hub_core.event_sync.inc` “**if the CSI team is ready for it**”.   Are they ready for it or do we need to get clarification before adding?

[2022-08-05 20:19] joewhitsitt commented on #5503
@briand44 has been in contact with Jeremy Dombrock and can let him know when it is DEV for them to test

[2022-08-05 20:59] joewhitsitt commented on #5438
I've updated the test instructions. Fairly straight forward I hope. If you fully test, you will get bad config exports, but you would get the same bad config exports on main. Use your best judgement. Alternatively try this branch on a few sites in DEV to see if the config sticks.

None of these modules are changing functionality in big ways so don't sweat too much.

[2022-08-05 21:01] joewhitsitt commented on #5438
If y'all want to wait on this, I am fine with that.

[2022-08-05 21:02] briand44 commented on #5438
Does it complicate things more if we wait or no?

[2022-08-05 21:06] joewhitsitt commented on #5438
- no security updates within this.
- no fixes to known issues on PROD.
- layout_builder_restrictions touches a lot of config so some things might be updated as more is merged into main.
- composer lock will get messed up the longer we wait.
- most if not all are prerequisites to 9.4

[2022-08-05 21:08] joewhitsitt commented on #5546
This was noticed when trying to debug careers but was unrelated to the temporarily unavailable errors. Not sure if extends to other listblocks.

[2022-08-05 21:26] joewhitsitt commented on #5544
Maybe Michael can give us input here on how other teams do this, but I imagine that it is just the Team that makes sure this stuff gets done and it if needs to be a recurring planned task to get done so be it.

Is parking lot and under the line cards for this not working?

Haven't thought this out completely, but right now it is hardcoded to a tag and that involves some work ahead of time. We only

[2022-08-08 15:07] GaryRidgway opened #5553 "Image block documentation"
Need to add documentation for the image block to sitenow docs

[2022-08-08 16:17] briand44 commented on #5503
I let the CSI Java team know this is available in dev and to verify it won't cause breaking changes to events.uiowa.edu.

[2022-08-08 16:56] briand44 opened #5554 "Update AoS Course Work label"
As an Admissions site owner, I would like to use the label "Coursework" on AoS pages rather than "Course work" to better align with upcoming University style guide changes.

# Additional Info
https://admissions.uiowa.edu/academics/accounting

Update
- [x] https://admissions.uiowa.edu/admin/structure/types/manage/area_of_study/fields/node.area_of_study.field_area_of_study_course_work
- [x] Make sur

[2022-08-08 19:04] bspeare commented on #5544
I think that would work best and help us focus our attention on the items under the line as well.

There should still be availability to push out hotfixes.   Having to adjust a hardcoded tag in vulture now and then wouldn't be that bad.

[2022-08-08 21:29] bspeare opened #5557 "Useful `blt` commands for/during a deployment"
# Deploy release

`blt ugd` (assumes new release has been created and is available on each application (post Travis))

## Clear cache during a deployment

`drush @container.prod ssh`
`cd ..`
`./vendor/bin/blt ume cache:rebuild`

## Run config imports
Do we do this during a deployment or only if we noticed that it failed on the docroot?

`drush @container.prod ssh`
`cd ..`
`./vendor/bin/blt ume cr

[2022-08-09 13:20] mjoneill opened #5558 "Run campus-critical websites first during a deployment"
# Story

As a web team, we can have a mechanism whereby campus-critical websites are the first to recover during a deployment issue like we experienced on 8/5/22.

# Additional Comments

Outages/problems will happen.  What can we do to lessen the impact/speed up recovery when/if they DO happen?

Probably a number of different things we _could_ do here.  Let's figure out something that would make a

[2022-08-09 13:23] mjoneill commented on #5558
Capturing some ideas I heard, voiced, and/or that came up on the team ORID.

- Have a way to establish a custom order for sites to be updated so that we aren't reliant on alpha-sort
- Move all campus-critical sites to one of our extra/empty application servers
- Lessen the number/better balance the number of sites across our application servers
- Manually trigger db updates/config imports for high

[2022-08-09 13:35] mjoneill opened #5559 "Reduce the likelihood of deployment-related outages"
# Story

As a web team, we have invested in something to help reduce the likelihood of deployment-related outages from occurring in the future.

# Additional Comments

Let's identify something(s) we can do to reduce the potential for deployment-related outages from occurring in the future.

Ideas sourced from ORID.  Add more as you think of 'em.

# Proposed Solution

- [x] #5683
- [x] #5580
- [ ]

[2022-08-09 13:39] mjoneill commented on #5559
Some ideas from ORID:
* Pay attention/active and intentful listening during standups (a number of people reported that they didn't hear the risk assessment prior to deployment
* set up automatic deployment checks that run every night
* Learn about possible testing suites that could focus on the deployment/multisite setup.
* Replicate/monitor stage deployments so we catch issues before prod deploym

[2022-08-09 15:01] #5317 closed, assigned to e-marie-w

[2022-08-09 18:26] briand44 commented on #5518
Depending on how v2 is working, this may need an update hook and/or possible off hours deployment.

[2022-08-09 18:31] makurj commented on #5536
I vote for "basic".

[2022-08-09 18:32] briand44 commented on #5536
"basic" it is!

[2022-08-09 18:41] briand44 commented on #5528
likely these will be `<h2>` but want to make sure that heading structure is correct.

[2022-08-09 18:43] briand44 commented on #5554
Make sure "Course Work" isn't used elsewhere on our end.

[2022-08-09 19:06] briand44 commented on #5525
Possibly test to see if other domains/subdomains experience same results.

Scott mentioned when searching grad.admissions.uiowa.edu correct results were being displayed not results including admissions.uiowa.edu.

[2022-08-09 19:28] bspeare opened #5561 "Using "Vertically aligned to top" option on Page w/left sidebar layout alters the layout preview"
# Problem
Using "Vertically aligned to top" option on Page w/left sidebar layout alters the layout preview

# Steps to reproduce
Set "Vertically aligned to top" option on Page w/left sidebar layout.

<img width="1563" alt="Screen Shot 2022-08-09 at 2 27 24 PM" src="https://user-images.githubusercontent.com/1036433/183744762-628334da-bff7-415b-880c-1e8cfe0e23f8.png">

# Proposed solution
- Override

[2022-08-09 19:37] briand44 opened #5562 "Iowa Now Spotlights"
# Story

As an Iowa Now website editor, I would like to be able to place a listing of articles that are spotlights on our SiteNow v3 site similarly to other article types.

# Additional Information
Currently "Spotlights" are "In the News" content that have a source url containing `uiowa.edu`.

When migrating from D7 we will want to migrate any "In the News" content that has a source url containing

[2022-08-09 19:43] briand44 commented on #5543
Confirmed this is part of Metatag and Joe is referring to one of the Metatag extended permissions.

[2022-08-09 19:49] briand44 commented on #5543
@mjoneill I assume this is a service wide addition we want to make and not just for the site mentioned in the Issue Summary? Also, the title specifies this change is only for articles, is that accurate?

[2022-08-09 19:55] bspeare commented on #2670
The Careers site is a good example for why we need this ASAP: https://careers.uiowa.edu/career-communities/data-info-tech, https://careers.uiowa.edu/career-communities/arts and https://scholardev.sites.uiowa.edu/search.

<details>

<img width="392" alt="Screen Shot 2022-08-09 at 2 54 15 PM" src="https://user-images.githubusercontent.com/1036433/183748960-2400089d-108b-45d8-acf4-8a6d80d07f58.png">

[2022-08-09 19:57] mjoneill commented on #5543
Yes.  Platform-wide (unless there's something about it that gives you pause)

[2022-08-09 20:00] mjoneill commented on #5543
This slice/ask is for articles, yes.

I would expect that the ability to toggle this on pages is likely coming next...though no telling when it is coming or who will request it yet.

If it makes sense to do it for basic pages, articles, and/or other content types...I'm game.  I don't want to step into that by default if that's a (non) split that's hard to implement.

[2022-08-09 20:11] briand44 commented on #5543
Nope, that was my thought as well just wanting to clarify.

[2022-08-10 15:25] quamsta opened #5563 "Adjust intranet "Access denied" message"
# Story

As a user of an intranet site, I'd like to see a friendlier message than "Access denied" when landing on an intranet homepage or other page that I use on a regular basis. Currently this is the message:

<img width="1358" alt="Screen Shot 2022-08-10 at 10 18 58 AM" src="https://user-images.githubusercontent.com/472923/183942278-6f798b83-eed5-45a4-8aa7-6c47d1475b6f.png">

I think it's a bit

[2022-08-10 18:14] bspeare commented on #4716
Here's another idea for moving the quick links into the main navigation bar.     We move "Athletics" into the main navigation and set "Alumni and Friends | Health Care" as quick links to the right of the main navigation.

## Home page

![home-01](https://user-images.githubusercontent.com/1036433/188963694-21b77938-5328-45c8-a6af-f43ee0ad9964.png)

## Search toggle

![search-open-01](https://user-i

[2022-08-10 20:30] bspeare commented on #5537
The settings in `admin/config/system/menu_per_role` look identical from 1.3 to 1.4.

I looked through the changes in https://github.com/uiowa/uiowa/pull/5527 and it appears that we still need the custom code provided by https://github.com/uiowa/uiowa/blob/main/docroot/modules/custom/uiowa_core/uiowa_core.module#L341-L371.   I've listed an audit of the custom functionality below.

- [x] Hiding role

[2022-08-11 16:00] bspeare opened #5565 "Remove custom margins from MAUI Block"
# Problem
As seen on https://housing.prod.drupal.uiowa.edu/, the hard coded margins on the maui block create uneven results in layout builder.

<img width="1373" alt="Screen Shot 2022-08-11 at 10 58 40 AM" src="https://user-images.githubusercontent.com/1036433/184177334-8db57a82-0669-4e4c-bbae-7b46efc62238.png">

# Proposed solution
Remove https://github.com/uiowa/uiowa/blob/main/docroot/modules/c

[2022-08-11 20:13] makurj commented on #4767
I'd like to pair on this.

[2022-08-11 20:13] makurj commented on #5562
I'd like to pair on this.

[2022-08-11 20:15] makurj commented on #5525
I'd like to pair on this.

[2022-08-11 20:19] makurj commented on #5536
I'd like to pair on this.

[2022-08-11 20:23] bspeare opened #5566 "As a developer, I can reuse the image block gallery styles on other block components"
# Story

As a developer, I can reuse the image block gallery styles on other block components using photoswipe.

# Proposed solution

- Refactor https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/components/image-gallery-block.scss#L12-L35 to use a reusable image gallery class.
- Fix awkward flex layout spacing so that all thumbnails retain their aspect ratios.
- Conside

[2022-08-11 21:02] GaryRidgway commented on #5566
I think this would be wonderful. I would really love to offer this in more places, and this abstraction should hopefully help with that.

[2022-08-12 13:35] bspeare commented on #5503
Should we truncate this at 500 like we are doing for the description?

[2022-08-12 13:46] briand44 commented on #5503
On display?? I don't think so... If we wanted to limit the characters we should do it on content hub.

[2022-08-12 14:38] briand44 commented on #5503
Well, maybe not... Since this field could be used elsewhere, maybe we wouldn't want to limit it there. I say leave it all as is until it becomes an issue.

[2022-08-12 20:11] cory-skeers commented on #5562
@briand44 and others--for adding the tags in the presave, I'm wondering if that should be limited to when an article is created? It would give more flexibility in being able to manually override after creating a node (remove a tag, and/or tag with a different article type if the need arose). The downside is if someone created a news feature, then decided it should have been an achievement, the tag

[2022-08-12 20:23] briand44 commented on #5562
Good questions @cory-skeers. My initial reaction is to not limit it to when an article is created so that we can avoid the case you mentioned where if they change an article type they won't have to manually add the tag. In this case, I do think the tag should be removed and replaced.

Just the spotlight not both in the news and spotlight, IMO.

Open to feedback from the team on any of this.

[2022-08-15 14:15] pyrello commented on #5557
`ume` is a command for executing a drush command against every site on the application. You run it as `ume drush status`, which would result in a status output for every site.

`umi` is a command for installing any site that has not already been installed on an application.

[2022-08-15 14:30] joewhitsitt commented on #5563
Wasn't this addressed in https://github.com/uiowa/uiowa/pull/4854?

[2022-08-15 15:03] briand44 commented on #4825
Communicated that TTL could be set back to default and that decommissioning could commence. Closing this as there isn't anything else on our end that I am aware of.

[2022-08-15 15:03] #4825 closed, assigned to nobody

[2022-08-15 15:45] #5554 closed, assigned to bspeare

[2022-08-15 15:51] bspeare commented on #5563
@quamsta you can customize this screen at https://studentlifeconnect.prod.drupal.uiowa.edu/admin/config/sitenow/intranet.

[2022-08-15 15:59] bspeare commented on #4767
I'm unclear on these parts of the proposed solution:

- Add a set of reference fields (one per region that can be overridden) that directly references the region fragment type. We could also potentially allow people to create alternate region fragments inline.
- Update the RegionContentBlock class to check if a page is a node and has override fields set and not empty, in which case it would pull t

[2022-08-15 16:11] bspeare commented on #5557
Thanks @joewhitsitt and @pyrello for your answers! Moved this to https://wiki.uiowa.edu/display/drupaldev/Useful+blt+commands+for+or+during+a+deployment for now.

[2022-08-15 16:11] #5557 closed, assigned to nobody

[2022-08-15 16:29] bspeare commented on #5525
It looks like the default behavior is to show subdomains if "limit custom search to this site" is checked.

- https://education.uiowa.edu/search?terms=wild - shows wild.education.uiowa.edu
- https://admissions.uiowa.edu/search?terms=cost - shows blog.admissions.uiowa.edu

grad.admissions.uiowa.edu displays the correct results because there is not a further subdomain to search.

What else do we wan

[2022-08-15 16:58] briand44 commented on #5525
I wonder if that was by design or an oversight? In my mind "limit search to this site" should limit the results only to a single site. If they want to include additional domains in their search results, we would need to set up a separate cse id and include the subdomains or additional domains that should be included in those results. Not sure how this fits with our number of cse id's etc. so may b

[2022-08-15 17:07] bspeare commented on #5525
@briand44 that makes sense.  Should we add a blocked and question/conversation needed labels?

[2022-08-15 17:09] briand44 commented on #5525
That's fine, hoping it is a conversation that we can have in standup but if more time is needed I can schedule a separate conversation.

[2022-08-15 17:59] briand44 commented on #5315
Referencing a previous update in case it is helpful. https://github.com/uiowa/uiowa/issues/3975

[2022-08-15 18:17] joewhitsitt commented on #5525
I think it works to a degree
https://developers.google.com/custom-search/docs/element#supported_attributes

We may need to update to prefix to match the following as noted here: https://support.google.com/programmable-search/answer/12397162

| Pattern           | Description                                                    | Matches                                                 | Does not matc

[2022-08-15 18:37] briand44 opened #5575 "Support referenced content for articles"
As a SiteNow site editor creating an article, I would like to be able to choose existing related articles to display to site visitors so that they can more easily find similar articles they are interested in.

# Proposed Solution

- [x] Add field_content_reference (avoids conflict with HR field_reference) to article content type with the ability to reference other articles.
- [x] Display as stacke

[2022-08-15 19:04] bspeare commented on #5536
With this new text format, do we want/need to adjust the footer styles in `uids`: https://github.com/uiowa/uids/blob/3.x/src/components/blockquote/blockquote.scss#L56?    Previously, we were setting the entire footer in a bold font weight.  Now that we are offering the ability to add bold or italics in the text editor do we want to make that change?

<img width="1808" alt="Screen Shot 2022-08-15 a

[2022-08-15 19:26] joewhitsitt commented on #5575
I am curious to hear from @quamsta about how this new field could/should interact with the related by tag functionality.

[2022-08-15 19:36] joewhitsitt commented on #5518
The removal of this block content field shouldn't affect the separate paragraph field used for v2. That was just a "be aware" checkbox.

[2022-08-15 19:49] joewhitsitt commented on #5558
Moving original comment here to https://github.com/uiowa/uiowa/issues/5559#issuecomment-1216787111

[2022-08-15 19:59] joewhitsitt commented on #4767
From what I understand, this is an "after content" reference field on the page content that could be turned into an inline entity form field where it can reference an existing item or create a new region item (fragment) on the fly. I think the scope of adding multiple new regions or allowing multiple within a region was dialed back for now.

This would be the per-page override of another reference

[2022-08-15 20:58] #5562 closed, assigned to cory-skeers

[2022-08-15 21:18] #5542 closed, assigned to bspeare

[2022-08-15 21:22] joewhitsitt commented on #5537
Thanks for doing this. I'll admit when I was running this module update, I didn't do a diff between 1.3 and 1.4 and instead noticed the configuration form but didn't look too much into it beyond test that our current code was still firing. I created this issue to make sure we weren't providing noodle code where it wasn't needed. I think this can be closed.

[2022-08-15 21:24] bspeare commented on #5537
It was nice to get a refresh on all the custom work we did to make this module work better.

[2022-08-15 21:24] #5537 closed, assigned to nobody

[2022-08-15 21:30] #5528 closed, assigned to bspeare

[2022-08-15 21:38] joewhitsitt commented on #5503
I think I agree. Generally, the summary in drupal is untouched and is often the override to a truncated description. If it does become an issue, I think we should restrict it on content hub using maxlength js or something so the editor can adjust it before save and not be unknowingly cut off on different websites based on the implementation.

[2022-08-16 13:24] #5503 closed, assigned to bspeare

[2022-08-16 13:36] cory-skeers opened #5577 "Wrap custom blocks' render classes in arrays"
https://github.com/uiowa/uiowa/pull/5552#issuecomment-1212128967

When creating a custom block for the article gallery work, we ran into a warning and a WSOD error (the latter when attempting to edit the Article display layout) as a result of the custom block class added to `['#attributes']['class']` being a string not wrapped in an array.

We have some examples in our codebase (Admissions, at lea

[2022-08-16 13:38] pyrello commented on #5469
@joewhitsitt I'm not sure I understand your question about this being a feature of dispatch.

[2022-08-16 13:47] pyrello opened #5578 "UI Press - Display editors instead of authors if no authors exist for a book and one or more editors do exist"
# Motivation

Some books on UI Press don't have an author, but instead have editors who have compiled other people's writing together. The site owners would like to have the list of editors display instead of the author when there are editor(s) and no author. You can see an example of this with the Fame and Fandom book on the homepage: https://uipress.uiowa.edu/

# Proposed solution

- Add the edi

[2022-08-16 13:57] joewhitsitt commented on #5469
This is currently dispatch data retrieved through their API. Just wondering if instead of using the API we could work with the dispatch team to create a similar view of information that is presented on their website. They already have archive displays. https://apps.its.uiowa.edu/dispatch/archives/past/sitenow-updates-from-december-gnkL2Wj

[2022-08-16 14:14] pyrello commented on #5541
Response for our contact at the library:

It appears that there is a grouping mechanism actually in use called Research Unit that would be perfect for this: https://iro.uiowa.edu/esploro/search/outputs?unit=01IOWA_INST___29&page=1&institution=01IOWA_INST&sort=date_d

However, the lack of ability to use the API to pull by Research Unit limits the usefulness of this in the case of ISRP. We could pot

[2022-08-16 14:14] #5541 closed, assigned to nobody

[2022-08-16 14:40] cory-skeers commented on #5575
For the majority of cases, I would think referenced items first, then related by tags.

In my experience in the past (uihc, library) there've been some cases where it was desired to display only manually related content, and in other cases allow for both manually related and auto/tag-related. It was generally sensitive areas (eg medical, public policy) where it was limited to manual only.

If that

[2022-08-16 15:15] joewhitsitt commented on #5575
Yeah, at this point I think establishing a "related content" sidebar section for this, help text and the reference field would be a good idea and by doing so highlights the existing functionality more.

[2022-08-16 15:22] joewhitsitt commented on #5559
Moving this comment from https://github.com/uiowa/uiowa/issues/5558#issuecomment-1215703313

In addition to the points made here and on the miro board (thanks for the link Brian), I want to add:

- There have been situations where we haven't had the if/else fallbacks because we assume something exists. In this case, for a small period of time, it didn't exist. Do we maintain that if/else fallback

[2022-08-16 15:25] joewhitsitt commented on #5558
We should probably define what campus-critical websites are to understand how big of a list we are dealing with. Some strategies might lend themselves better to a short list versus a large list.

[2022-08-16 15:34] cory-skeers opened #5579 "Revisit older splits"
Original card:
"Is the sppa split correct? Cory and I were looking at it and it seemed like it could be more reasonably done with splits? is that something that is changeable or are we locked in now that we have the config made?

(eg, the article form display looks like it could be handled by a partial split, but is set up as a full split; core.entity_view_display.* is in partial split, but these

[2022-08-16 15:55] briand44 commented on #5558
Agree we should have a list of these. We will need to define these better but something to start with would include colleges, public safety, emergency, admissions, uiowa.edu

[2022-08-16 16:07] pyrello commented on #5558
In a quick perusal of the potentially relevant docs for BLT, I'm not seeing anything that suggests that we can set the site order through configuration
- https://docs.acquia.com/blt/tech-architect/multisite/
- https://docs.acquia.com/blt/extending-blt/
- https://docs.acquia.com/blt/tech-architect/deploy/

Probably we'll want to ask our account rep or the BLT maintainers if they recommend anything

[2022-08-16 16:21] pyrello commented on #5558
Here is where we are already doing this with uiowa.edu: https://github.com/uiowa/uiowa/blob/c0b937b6123e3b88498c1b9fb6322c8dcc8b0cb3/blt/src/Blt/Plugin/Commands/ReplaceCommands.php#L29-L35

[2022-08-16 16:27] briand44 commented on #5558
Plan would be to create the list of high profile sites, store that list in config (Sean specifying) and then handle those similarly to how uiowa.edu is already being handled in ^^

[2022-08-16 16:27] pyrello commented on #5558
We could add some more custom configuration to this file to set the sites that are being prioritized: https://github.com/uiowa/uiowa/blob/c0b937b6123e3b88498c1b9fb6322c8dcc8b0cb3/blt/blt.yml#L70-L76

[2022-08-16 16:29] briand44 commented on #5558
We want to keep the list of high profile sites short with specific reasoning, so we don't have to deal with everyone wanting to be on this list.

[2022-08-16 16:30] briand44 commented on #5558
In the meantime we can run manual commands or in the case that only Intranet's are affected we have the option to manually run config imports, updb's, cache clears, etc.

[2022-08-16 16:33] joewhitsitt commented on #5558
If we are keeping a list, we should establish workflow to make sure it is up-to-date to avoid, the "oh, we forgot to add you to the list"

[2022-08-16 16:39] briand44 commented on #5559
Evolve working agreement for code reviews to include checking for best practice of making sure fields exist when referencing them in code (defensive coding).

[2022-08-16 16:42] cory-skeers commented on #5559
General defensive coding; eg might be necessary to check the type as well as its existence (this relates to the errors found when using [render classes in custom blocks](https://github.com/uiowa/uiowa/issues/5577)). Probably other defensive coding details we could capture as part of updating this.

[2022-08-16 16:55] briand44 commented on #5559
Evolve working agreement to require multiple code reviews/approvals for high risk scenarios (update hooks, template name changes, etc). We need to identify these high risk scenarios

[2022-08-16 17:03] pyrello opened #5580 "Generate a list of code/config change scenarios that could necessitate off-hours deployments"
# Motivation

Related to #5559. We would like to better understand the conditions that result in outages during deployments so that we can get better at identifying PRs that are going to result in outages and should be scheduled for off-hours deployments.

# Proposed solution

Every member of the team should contribute what they know about the conditions that result in outages. The list we produce

[2022-08-16 17:13] joewhitsitt commented on #5559
I think this event is generally a "reset" in that folks are going to be more cautious with writing code, identifying potential issues, labeling them and being more cautious with giving approval.

I also have concerns about the cost of additional decision trees, checks, restrictions and/or removing the flexibility of our current workflow.

I'd like to see more scheduled deployments because they do

[2022-08-16 17:50] joewhitsitt commented on #5579
I think we should start with feature splits first as site splits sometimes have the combination of one or more feature splits alongside site specific changes.

This is related: https://github.com/uiowa/uiowa/issues/5540

[2022-08-16 17:53] briand44 commented on #5559
Also, wanted to capture that there were some other "high cost" items mentioned including hosting changes/services, stage environment changes, etc.

[2022-08-16 17:57] joewhitsitt commented on #5563
Going to close this as this functionality already exists.

<img width="910" alt="Screen Shot 2022-08-16 at 12 57 09 PM" src="https://user-images.githubusercontent.com/4663676/184947161-06736380-bc8c-479b-b3b7-9f01f0fb9c13.png">
<img width="530" alt="Screen Shot 2022-08-16 at 12 56 54 PM" src="https://user-images.githubusercontent.com/4663676/184947166-8f000281-9b7a-4fdc-81dc-61ef0749f926.png">

[2022-08-16 17:58] #5563 closed, assigned to nobody

[2022-08-16 18:15] briand44 commented on #3204
Probe to see if having it "on" but not enabled creates routes or adds any additional overhead. If not, seems like we should move forward with this.

[2022-08-16 18:21] briand44 commented on #5543
Add permission, set global default "En", confirm available to webmasters in appropriate places. Ok, to make it available to other content types besides articles if less effort.

[2022-08-16 18:29] briand44 commented on #5578
add additional clarification around `!admin` and preview.

[2022-08-16 18:34] briand44 commented on #5467
Joe going to check if there is an old PR from the last time just to see how we addressed it then.

[2022-08-16 18:35] joewhitsitt commented on #5578
I think my point about node_preview is moot as long as the logic happens within a preprocess_node. The instances I was referring to in grooming were outside in a preprocess_page, etc.

[code]

[2022-08-16 18:38] briand44 commented on #5389
We may need to update code because of things being deprecated. Will need plenty of testing.

[2022-08-16 18:39] briand44 commented on #5389
should consider if this needs off hours deployment, ume cache clear, etc.

[2022-08-16 18:57] bspeare commented on #5575
I'd vote to display the related content in a card grid by default and for a future slice, develop different card display options like the screenshots below.

<img width="550" alt="Screen Shot 2022-08-16 at 1 54 47 PM" src="https://user-images.githubusercontent.com/1036433/184959045-d751c602-582c-4a2a-9d0a-02e29dd54e0b.png">
<img width="484" alt="Screen Shot 2022-08-16 at 1 55 35 PM" src="https://u

[2022-08-16 19:01] bspeare commented on #5340
https://github.com/uiowa/uiowa/issues/5505 should cover this.

[2022-08-16 19:01] #5340 closed, assigned to nobody

[2022-08-16 19:06] joewhitsitt commented on #3878
Events will need to be reviewed again based on the recent changes

[2022-08-16 19:10] cory-skeers commented on #3878
Added an additional checkbox so we don't miss this.

[2022-08-16 19:18] bspeare commented on #5549
https://its.uiowa.edu/amazon-web-services S3 private bucket with CloudFront could be a good place to store these files unless https://its.uiowa.edu/support/article/122271 would be a blocker.

[2022-08-16 19:23] bspeare opened #5581 "As a visitor to uiowa.edu, I can view the Iowa logo that no longer celebrates the 175th anniversary"
# Proposed solution

Undo or update the files that were created in https://github.com/uiowa/uiowa/pull/4263 to display the Iowa logo.

[2022-08-16 19:47] briand44 opened #5582 "Signage slide not showing at scheduled time"
There is a slide scheduled to display at 5am and it is regularly not displaying at that time. The latest response was that it was still not showing at 6:45am. There is a thread in its-web related to this issue.

https://signage.uiowa.edu/food-nutrition-services/childrens-cafe-chef-special

[2022-08-16 19:53] briand44 commented on #5575
I can get on board with having configuration here if the plan is to have different display options outside of "Display" or "Do not display".  If we only have the card display option, my thought is to just display it if there is referenced content otherwise do not display. No need to add additional config.

[2022-08-16 19:54] quamsta commented on #5563
Thanks all, sorry, I just didn't know it was customizable

[2022-08-16 20:07] quamsta commented on #5575
I was actually just thinking about related content the other day. We could do a lot of neat stuff here that has a range of functionality most of which has been already been mentioned by @cory-skeers:

## Types of related or "more" content

- Referenced and manually selected related content
- Automatically selected related content via tags
- Combination of the above two options
- Randomly selected

[2022-08-16 20:46] briand44 commented on #5559
https://github.com/uiowa/uiowa/issues/5580

[2022-08-16 21:03] joewhitsitt commented on #5582
I think this is just a varnish issue. The scheduling is used for an uncached slideshow view placed within a cached page. The page itself doesn't change so there is nothing telling varnish to clear here. Cron is run every three hours. APE is setting a 5 min for anonymous users and there is a js refresh of the browser too, but none of that trickles up to varnish to be timely

[2022-08-16 21:10] #5438 closed, assigned to nobody

[2022-08-16 21:17] GaryRidgway commented on #4767
After some discussion today, here is what we decided might be the best path forward:

- [x] - We would like to limit the number of blocks in a region item to one item
- [x] - We would like to remove the Styles dropdown from the "Configure region" options of a region on a "Region item" fragment type.
- [x] - We would like to make the button block a multi field option, allowing for up to four button

[2022-08-16 21:30] cory-skeers commented on #5518
Was this a general comment, or did you have specific code in mind? I found/removed a bit from layout_builder_custom, but didn't see anything remaining in sitenow_events, and wanted to double check that.

[2022-08-16 21:32] briand44 commented on #5582
Thanks for the comment Joe. I'm not sure I understand based on your comment but my guess is this issue would exist for other signs that are setup similarly?

[2022-08-16 21:37] joewhitsitt commented on #4767
We arrived here based on the limitations we encountered while trying to move forward with the original proposed solution.

In addition to what Alan mentioned, this path allows us:

- to maintain locked down single column section without extra code.
- to continue to use region_item and not create a separate fragment type, therefore keeping a consistent editing experience.
- to provide region specif

[2022-08-16 21:41] joewhitsitt commented on #5518
General comment to make sure we do a search. Thanks

[2022-08-17 13:37] joewhitsitt commented on #5582
On the surface I don't see anything unique here so I assume it is affecting the whole app. Do we know if other signs are having this problem?

[2022-08-17 13:47] joewhitsitt commented on #5525
Going to see what the `as_sitesearch` value is for admissions to see if we need to adjust.

[2022-08-17 13:51] briand44 commented on #5582
We haven't heard of any that I am aware of. This is what @makurj was mentioning yesterday. She thought if this was a service wide issue we would have heard about it from other folks (dining halls, etc.).

[2022-08-17 13:52] joewhitsitt commented on #5525
It is added as `admissions.uiowa.edu/`

Based on the docs above (though they are for different things) I would think this would need to be switched to `www.admissions.uiowa.edu/*` to get the proper search results.

I propose creating a new setting to capture an override, deploy that out and see if that affects things. Either that or use the admissions split to try and temporarily manipulate this v

[2022-08-17 14:30] joewhitsitt opened #5584 "Epic - November Dependency Updates"
We should try to review and merge in dependency updates on a monthly basis. Until this is automated more, here is a guide:

- Issue summary should contain a list of the dependabot pulls in scope for reference, however, the actual work should be done in a single PR to minimize composer conflicts.
- Dependencies related to our frontend build tools (not executed on the websites) are usually safe to m

[2022-08-17 14:32] joewhitsitt commented on #5438
Created #5584

[2022-08-17 14:34] joewhitsitt commented on #5582
I thought dining did something different for menus

[2022-08-17 14:35] briand44 commented on #5582
You may be right, I was thinking that as well as I typed it.

[2022-08-17 14:35] joewhitsitt commented on #5582
This is probably the most complex scheduling I have seen for these. Maybe folks haven't reported it because they don't have such a specific expectation.

[2022-08-17 14:51] bewoldt opened #5585 "Banner video play/pause button overlaps the main content button"
# Problem
When adding a video to a banner the play/pause button will overlap the main content button on certain screen sizes.

Example page at https://imu.uiowa.edu/student-involvement.

<img width="743" alt="Screen Shot 2022-08-17 at 9 47 04 AM" src="https://user-images.githubusercontent.com/731952/185170825-7c0faae5-9474-4d9e-9285-40954e229b41.png">

[2022-08-17 14:55] bspeare commented on #4767
~We also might want to remove the "Spacing" display options and set a fixed amount of padding for the pre_footer and after_content areas.~

- edit: actually Student Life is using the prefooter spacing properties so we probably will need to keep these.

[2022-08-17 15:20] joewhitsitt commented on #5525
@briand44 not sure if our schedules will align today. did you have thoughts about how to move forward?

[2022-08-17 15:26] briand44 commented on #5525
Not specifically, fine with you doing you if I can peak at it at some point. I would think we could test this without deploying to prod though. I would assume there is a way to ping the API and see what results return.

[2022-08-17 15:52] joewhitsitt opened #5586 "Update article docs with gallery info"
# Story

As a Sitenow user, I want to know more about what this new gallery field is on the article content type.

# Proposed solution

Update - https://sitenow.uiowa.edu/documentation/article-content-type

[2022-08-17 15:55] #5524 closed, assigned to cory-skeers

[2022-08-17 16:19] briand44 commented on #5505
This is complete

[2022-08-17 16:19] #5505 closed, assigned to nobody

[2022-08-17 16:57] joewhitsitt commented on #5525
Brian and I were able to hardcode a pattern to test this locally and `www.admissions.uiowa.edu/*` was not the solution. Going to do some more digging on what the pattern should be

[2022-08-17 17:44] briand44 commented on #5549
I think the concern is less about where/how to host these files but more about how to provide access to them in a way that can be managed. They don't want to put them behind HawkID authentication because the software is available outside the University but they also don't want the urls public where links can be shared, etc. The current solution they have of the webform to request the software and

[2022-08-17 18:49] bspeare commented on #5549
Perhaps something like https://docs.aws.amazon.com/AmazonS3/latest/userguide/ShareObjectPreSignedURL.html could be used if they went the AWS route.

[2022-08-17 19:19] bspeare commented on #5559
Is it worth putting together a quick decision tree of deployment scenarios where we would want to:

- clear cache during deployment
- run config imports during deployment
- re-run a release
- anything else?

I put together https://wiki.uiowa.edu/display/drupaldev/Useful+blt+commands+for+or+during+a+deployment which starts this somewhat, but it would be great to have something to reference the next

[2022-08-17 19:20] briand44 commented on #5549
That could be a possibility. Not sure it works exactly how they would want but it could potentially be made to. I appreciate you providing some suggestions here. Thank you!

[2022-08-17 19:22] bspeare commented on #5585
The bug fix work for this should happen in https://github.com/uiowa/uids/issues/721.

[2022-08-17 19:26] briand44 commented on #5579
Joe, you mentioned that prioritizing this soon would be ideal but I can't remember what issue(s) it would help with. Was it the 9.4 core update, the drupal-check dependency update, php 8.1 update, September dependency updates or all of the above?

[2022-08-17 20:43] bspeare commented on #5580
Added a point to the proposed solution for template changes in `uids_base`.

[2022-08-17 20:48] pyrello commented on #3868
I was trying to figure out how to resolve a different issue that was raised as part of the review of this: Translating field labels. It looks like this is handled by turning on the `config_translation` module. When I attempted to do this, I ran into uiowa/uiowa_auth#1

[2022-08-17 20:49] bspeare commented on #5577
@cory-skeers or @GaryRidgway While this is still new, could you post a link to the lines/file in admissions where you noticed this?

[2022-08-17 21:06] #5518 closed, assigned to cory-skeers

[2022-08-17 21:07] #5128 closed, assigned to nobody

[2022-08-17 21:34] bspeare commented on #5432
~I like the idea of trying out webp and moving away from responsive images~.   I did a comparison of https://uiowa.edu/sites/uiowa.edu/files/styles/ultrawide__2592_x_1111/public/2020-07/2019_08_19-Iowa%20EDGE%20Teambuilding%20jatorner%20-0645%20%281%29.jpg converted to webp and it went from `1mb` to `584kb` for our largest `2592_x_1111` crop.   As comparison, the `768 x 329` version of that same i

[2022-08-18 13:33] joewhitsitt opened #5589 "Update drupal/ctools to 3.11 and add to our composer.json"
# Story

As a developer, I can manage the version of ctools we are using instead of relying on other modules' composer files to update it. Since we rely on ctools/ctools_views for ListBlock, we should maintain better control over this dependency.

# Background

Noticed there have been updates to ctools (https://www.drupal.org/project/ctools/releases/8.x-3.11) but that we are still on 3.7.0 because

[2022-08-18 13:39] briand44 commented on #5389
Are we wanting to go to 9.4.0 or 9.4.5?

[2022-08-18 13:42] joewhitsitt commented on #5525
I've tried several patterns with no success. The documentation related to this attribute is pretty sparse. I think this is going to require a custom CSE ID.

[2022-08-18 13:50] briand44 commented on #5525
Would a custom CSE ID even work? What patterns did you try?

[2022-08-18 13:52] joewhitsitt commented on #5525
I temporarily repurposed non-profit 03 to test and this seemed to work:

Sites to include: `admissions.uiowa.edu/*`
Sites to exclude: `grad.admissions.uiowa.edu/*`

Looks like we are capped on IDs though. Creating a new one defaults to ads. For new ones, it sounds like we would need to go through a process of adding a non-profit approved email address. Not sure this would be its-web but maybe a mo

[2022-08-18 13:53] briand44 commented on #5525
Yeah, just noticed you could exclude sites. Noticed international has a custom id but being used to show results for subdomains. It may not be needed.

[2022-08-18 13:55] briand44 commented on #5525
Doesn't look like international is even using it

[2022-08-18 13:57] joewhitsitt commented on #5525
Yeah, I think we can review `international`, `now` at a later date. We do have unused ones for this issue.

[2022-08-18 14:33] joewhitsitt commented on #5389
Probably. Most are bug/security bumps.

[2022-08-18 14:34] joewhitsitt commented on #5525
not sure if it is worth reaching out to Scott on whether they had an ID previously that we could use

[2022-08-18 14:51] bspeare commented on #5432
Actually, comparing some `jpeg` to `webp` from tippie.uiowa.edu, some of the `webp` files became larger.

Our mobile page speed reports are terrible (https://pagespeed.web.dev/report?url=https%3A%2F%2Ftippie.uiowa.edu%2F), the top recommendation is to "Preload Largest Contentful Paint image" and it looks like https://www.drupal.org/project/responsive_image_preload might be useful for us to try.

W

[2022-08-18 15:04] joewhitsitt commented on #5525
Scott said they used drupal search previously. Moving forward with repurposing non-profit 03 for admissions which fixes the issue:
<img width="1012" alt="Screen Shot 2022-08-18 at 10 03 14 AM" src="https://user-images.githubusercontent.com/4663676/185428911-eea10f5c-1d82-4619-a7e5-5d1daf41c3e4.png">

[2022-08-18 15:06] joewhitsitt commented on #5525
This is done. I will open a separate issue to audit/clean up existing buckets

[2022-08-18 15:06] #5525 closed, assigned to joewhitsitt

[2022-08-18 15:43] joewhitsitt opened #5590 "Audit/clean up Google search IDs"
https://programmablesearchengine.google.com/controlpanel/all

Check whether we can get the same search results for Iowa Now, International.

ITS will need theirs as it searches different domains

Check to see if AFR.FO still needs theirs?

[2022-08-18 15:45] joewhitsitt opened #5591 "Fix hover effect on search results"
# Problem
Hovering on search results shows an incomplete border.

<img width="788" alt="Screen Shot 2022-08-18 at 10 05 51 AM" src="https://user-images.githubusercontent.com/4663676/185437872-a9fc6a34-42d5-4c26-9966-22656efa9299.png">

# Proposed solution
- [ ] Adjust https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/components/search-results.scss

[2022-08-18 15:47] joewhitsitt commented on #5525
Created https://github.com/uiowa/uiowa/issues/5590

[2022-08-18 15:54] mjoneill commented on #5558
While all sites are important and need to come back as quickly as possible, these are the ones that will be processed first:
- https://emergency.uiowa.edu/ * v1
- https://police.uiowa.edu/ * v1
- https://uiowa.edu/
- https://admissions.uiowa.edu/
- https://grad.admissions.uiowa.edu/
- https://medicine.uiowa.edu/ * **
- https://dentistry.uiowa.edu/
- https://education.uiowa.edu/
- https://engineeri

[2022-08-18 15:58] joewhitsitt commented on #5467
Looks like https://github.com/uiowa/uiowa/pull/4508 is the only time we need to correct things before upgrading

[2022-08-18 15:58] briand44 commented on #5558
https://www.public-health.uiowa.edu/ * and https://medicine.uiowa.edu/ * are not sites we manage/host

clas.uiowa.edu, emergency.uiowa.edu, police.uiowa.edu and uc.uiowa.edu are D7 sites at the moment.

[2022-08-18 16:00] joewhitsitt commented on #5558
I had mentioned https://italymba.tippie.uiowa.edu/ on the other issues based on their business hours are during our AM deployment hours. Not sure if that is enough to make the list of "campus-critical" though

[2022-08-18 16:01] mjoneill commented on #5558
Clarified.

[2022-08-18 16:28] joewhitsitt commented on #5579
From slack DM:

[2022-08-18 16:40] briand44 opened #5592 "MyWeb error getting account requests from Qualtrics"
https://git.uiowa.edu/its-web/myweb/-/blob/master/Get-Qualtrics-Responses.ps1

[2022-08-18 18:28] pyrello opened #5593 "WhitmanWeb - Add translations for all visible entity field labels"
# Motivation
On translated pages, field labels that are visible will show in English unless a translation exists for the language being displayed. We want all on-screen text in the content part of the website to display the selected language if possible.

# Proposed solution
- [ ] Determine what fields need to have translations
- [ ] For the writing content type, translations of field labels can b

[2022-08-18 18:43] pyrello commented on #5558
For my part, I think this list should be as small as possible. To that end, I think it should exclude sites that wouldn't be considered critical for operations. In my mind that means that we would be excluding sites that are high visibility but don't serve an emergency-related purpose or are our main conversion funnel. To that end, I don't think that grad.uiowa.edu should be on this list or any si

[2022-08-18 18:58] pyrello opened #5594 "WhitmanWeb - Investigate how line breaks are handled in CKEditor when copied and pasted"
# Motivation
It seems like line breaks are being converted to paragraphs when the content is manually copied/pasted from the old site to the new site. The specific formatting is very important on this site. Either this will need to be corrected or we'll need to find a solution for displaying paragraphs as line breaks for the writing content type.

[2022-08-18 19:08] briand44 commented on #5548
I would like to huddle on the Dispatch side of this so I can be more comfortable and possibly document how to send to SiteNow announcements in the case of an outage.

[2022-08-18 19:46] briand44 commented on #5592
https://status.qualtrics.com/incidents/mkxsf46z67qr - Hopefully it is related to this and has resolved itself. We should know at 4pm

[2022-08-18 19:47] briand44 commented on #5592
doubt it was that based on the short time span

[2022-08-18 19:50] pyrello commented on #5414
I'm going to handle this via a site split for 91st Meridian. Hopefully we can get this considered as a platform feature down the road.

[2022-08-18 19:52] pyrello opened #5595 "91st Meridian - Add translator field to writing content type"
# Story

As a 91st Meridian content editor I want a translator field on the writing content type so that I can display the translator of a piece of writing content.

This is picking up from #5414 and will be a follow-up to #5601.

# Proposed solution

- [x] Add a text area field called "Translator" to the article content type. This will be split configuration for the site split.

[2022-08-18 20:11] joewhitsitt commented on #5592
We have some docs here that illustrates some things: https://wiki.uiowa.edu/display/sitenow/MyWeb+Service

[2022-08-18 20:27] briand44 commented on #5575
Not going to add any user options to begin with, we can revisit if we add future display options.

[2022-08-18 20:28] bspeare opened #5597 "Should there be only one `<h1>` tag per page for SEO and a11y?"
# Story

As a site owner, I can only have one `<h1>` tag per page for SEO and a11y purposes.

There is some debate on whether sites should have one or two `<h1>` tags per page: https://github.com/uiowa/uiowa/issues/5597#issuecomment-1232063974.

Some sites are getting reported for missing a page title https://github.com/uiowa/uiowa/issues/5597#issuecomment-1220696162.

**Possible ideas:**
- Manual

[2022-08-18 20:32] bspeare commented on #5575
For the first slice, let's display the related articles as stacked cards in a three column grid.

[2022-08-18 20:38] bspeare commented on #5597
T.M. also asked for the site-name to be an `<h1>` back in https://github.com/uiowa/uiowa/issues/1942#issue-655924007, so that could be the reason we set that as well.

[2022-08-18 21:23] briand44 opened #5598 "Move away from opportunistic Duo enforcement"
Original issue: https://github.com/uiowa/uiowa/issues/2263

We sent out a communication regarding this so if it is changing we should probably do that again: https://apps.its.uiowa.edu/dispatch/archive/two-factor-authentication-46kkyBn

[2022-08-18 22:05] joewhitsitt commented on #5597
Not sure I am following this and I think I missed where/when this came about.

Tippie and Admissions do have page-titles, they are just visually hidden "Home." Editors have the control over what the page title should be. If there is a missing page-title, something is broken.

<img width="616" alt="Screen Shot 2022-08-18 at 4 54 42 PM" src="https://user-images.githubusercontent.com/4663676/18550204

[2022-08-19 13:32] joewhitsitt commented on #5582
My hunch since things eventually do show up, that cron is involved and not firing at the right time. it is currently set to 3 hours. The view is not cached, APE has a five minute and there is the js refresh. Reducing to every hour would help but not fix it to be consistent to the granularity of that datetime field. Other v1 sites have cron job running on the hour, etc.

As a test, we could change

[2022-08-19 13:32] bspeare commented on #5597
@joewhitsitt I'm still not seeing an `<h1>` on Tippie though.

[2022-08-19 13:37] joewhitsitt commented on #5597
I guess you are right. Looks like the header was completely removed from this page by a developer. We shouldn't be doing that.

I was looking at the Iowa MBA page that does have it

[2022-08-19 13:39] bspeare commented on #5597
Sites with home pages with only one `<h1>`:
- https://grad.uiowa.edu/.
- https://policy.clas.uiowa.edu/
- https://education.uiowa.edu/
- https://nursing.uiowa.edu/
- https://stanleymuseum.uiowa.edu/
- https://tippie.uiowa.edu/
- https://dentistry.uiowa.edu/

[2022-08-19 13:41] joewhitsitt commented on #5597
Not sure the use-case for why they were removed. Header is supposed to be locked down.

[2022-08-19 13:43] bspeare commented on #5597
I agree, but just from the short list compiled above we will probably need to check every `node/1` for h1s before we make this change - right?

[2022-08-19 13:47] joewhitsitt commented on #5597
It might extend beyond node/1s since it appears to be more common than I thought and the possibility of replicate or re-assigning the front page to another node. Have developers done this with any interior pages like this (sub-site look and feel)?

[2022-08-19 13:58] makurj commented on #5467
I would like to pair on this.

[2022-08-19 14:27] joewhitsitt commented on #5598
I say mandatory.

Could ask if there are any hawkids not eligible for duo (e.g. affiliates), but I reckon if hawkid is our only method, we should get on board with this.

[2022-08-19 14:30] joewhitsitt commented on #5592
i am interested in this issue but don't wait

[2022-08-19 14:31] joewhitsitt commented on #5582
i set to 1 hour and just ran cron at 9:31. sign is currently black. will check in on it later

[2022-08-19 14:33] cory-skeers commented on #5598
I'd second this too. Not sure if it's an explicit policy, but if not, there are still enough hawkid-based services that require duo that I'd lean toward following suit.

[2022-08-19 15:01] makurj commented on #5467
https://github.com/mglaman/drupal-check/releases/tag/1.4.0

[2022-08-19 19:08] joewhitsitt commented on #5582
i didn't check right at 10:30 but this did update when i did shortly after. next change is at 7 tonight. Going to keep site cron at one hour, but then setup a scheduled job for the app to run cron every thirty minutes.

[2022-08-19 19:27] makurj commented on #5467
For later, line numbers may be slightly different.

Line   sitenow/sitenow.install
 ------ ------------------------------------------------------------
  603, 755, 2022    Variable $tables in empty() always exists and is not
         falsy.
  1432   Access to an undefined property
         Drupal\Core\Field\FieldItemListInterface::$alt.

[2022-08-19 19:45] #5536 closed, assigned to bspeare

[2022-08-19 20:27] joewhitsitt commented on #5582
thanks again https://crontab.guru/ for helping me construct "on the hour and again 30 min after the hour" type expression

[2022-08-22 02:46] briand44 commented on #5592
I found an issue but I do not have the correct permissions to update the scripts. I let the sysadmin know. Hopefully, this is the only issue and we will be back in business soon.

[2022-08-22 14:00] joewhitsitt commented on #5582
So I think we have done all that we can. I think I heard that this sign is now powered by one of our sticks, so I am not sure if they have the proper browser refresh functionality. Checking with Issac to see what the default refresh timer is for the sticks. I see some set to 60 seconds. Dare I say it, it would be nice to have a device of our own running to test on (remotely). Is there a need for a

[2022-08-22 14:01] briand44 commented on #5592
FYI, it doesn't appear the repo (https://git.uiowa.edu/its-web/myweb) is up to date with the actual code on the server.

[2022-08-22 14:27] pyrello commented on #3868
On Friday, I started looking into the Entity Hierarchy module. The base module by itself just provides the mechanism for linking the parent and child items. What I immediately like about this over the book module is the ability to associate two different content types as parent and child. With the book module, every element is a book page. My preference for these writing collections is to have a p

[2022-08-22 14:33] pyrello opened #5601 "91st Meridian - Create writing collection container + writing content type"
# Motivation

91st Meridian is a periodical literary magazine. As such, it is organized into issues, with [each issue](https://iwp.uiowa.edu/91st/vol1-num1) containing [multiple individual pieces of writing](https://iwp.uiowa.edu/91st/vol1-num1/too-little-seen). In the current version, there are two content types: 91st Meridian Content and 91st Meridian Issue Homepage. I believe this idea of havin

[2022-08-22 14:34] mjoneill commented on #5601
We have similar needs (presumably) with all our campus journals.  Law journals are coming up this fall...

I don't think this is required for that use case, but it might be a more elegant solution for collecting related content, depending on how you go with it...

[2022-08-22 14:41] joewhitsitt commented on #5582
My anon browser (untouched) just refreshed by itself at 9:34 and the sign updated. Going to see what happens at 10:30 before updating the Cherwell ticket.

I think we just have a few odd timers involved. APE is 5 min. JS Reload (configurable 10, 30, 60 min) is currently set to 10 min for the sign. Cron is running every 30 min starting on the hour.

Issac responded that the default is not to refres

[2022-08-22 15:15] briand44 commented on #5582
So the only change we made was adjust cron from running every 3 hours to running every 30 minutes?

Can you explain if/how APE affects Varnish?

I'm trying to understand if we thought this was related to Varnish caching how adjusting cron helps with that?

There is also an email thread in its-web with the sign owners, etc. that we should follow up with after you feel good with your testing and let

[2022-08-22 15:37] joewhitsitt commented on #5582
the 10:30 slide showed up at 10:36.

My varnish hunch is almost a week old. I looked into APE further which eventually led me to cron. It is my understanding that APE is what works around Varnish since there are no content changes to trigger a purge. https://www.drupal.org/project/ape

Instead, cron seems to be the trigger to re-query the view and do the timestamp specific filtering. By using poor

[2022-08-22 17:36] briand44 commented on #5592
The change to the api endpoint seems to have resolved this issue. We also adjusted some perms so that our team can run these scripts manually as needed. Once @e-marie-w is able to confirm she can add files to her directory I will call this complete.

[2022-08-22 17:58] briand44 commented on #5592
@e-marie-w confirmed she could add files to her directory. Closing this!!

[2022-08-22 17:58] #5592 closed, assigned to briand44

[2022-08-22 18:13] cory-skeers commented on #5190
Closing as this was either directly handled or handled by caching setup in #5462, and no longer needed at this time.

[2022-08-22 18:13] #5190 closed, assigned to nobody

[2022-08-22 19:58] joewhitsitt commented on #5582
Emailed the original thread outside of Cherwell:

[code]

[2022-08-22 20:54] briand44 opened #5602 "Setup iowalakesidelab.org as an off-brand SiteNow v3 site"
# Story

As a site owner for Iowa Lakeside Laboratory, I would like a site provisioned and setup that uses an off-brand theme since this site is a Board of Regents site.

# Additional Information

If they had this in October they would be happy. They would like to be able to launch in January so it is ready when registration opens in February 2023.

Original site request which is currently locked

[2022-08-22 22:21] joewhitsitt commented on #5601
I took an early peek at the entity_hierarchy and sub-modules. Based on the requirements of this issue I am not sure I see a big benefit of this module over just using a custom menu system tied to these two content types except to prevent a collection from being nested under a piece of writing.

This module is a weighted reference field that provides a children tab to visually reorder one level at

[2022-08-23 00:45] mark-bennett-uiowa opened #5604 "Provision alt.clas.uiowa.edu on uiowa01 as replacement for asg.clas.uiowa.edu."
Provisioning alt.clas.uiowa.edu as a replacement for asg.clas.uiowa.edu due to a name change from the CLAS Dean's Office. Once this alt.clas.uiowa.edu site is provisioned, installed, and copied over from the existing asg.clas.uiowa.edu site, I will be removing the asg.clas.uiowa.edu site.

After installation, I will copy over the contents of asg.clas.uiowa.edu via the following commands (ensuring

[2022-08-23 14:00] joewhitsitt commented on #5582
Closed the Cherwell ticket this AM noting the changes made to trigger closer to the hour/half hour and test results of transitions within 10 min. An improvement in response time and predictability.

[2022-08-23 14:00] #5582 closed, assigned to joewhitsitt

[2022-08-23 14:52] pyrello commented on #3654
This should also include a global default option.

[2022-08-23 15:39] #5578 closed, assigned to bspeare

[2022-08-23 17:19] pyrello commented on #5601
We had a discussion about this and here are the ideas that we came up with:
- Writing content type just uses a normal ER field pointing to the writing collection and is set up with IEF to allow on the fly creation of writing collections
- Create a new menu called Periodicals
- Allow writing collections and writing content types to create menu items in the Periodical menu
- Place the Periodical men

[2022-08-23 17:19] bspeare commented on #3585
Looks like this happened again on https://strategicplan.uiowa.edu/strategic-plan after the update hook in https://github.com/uiowa/uiowa/releases/tag/3.16.24.

[2022-08-23 17:56] #5604 closed, assigned to mark-bennett-uiowa

[2022-08-23 18:04] makurj commented on #5579
I'd like to pair on this.

[2022-08-23 18:11] joewhitsitt commented on #5579
Original pinned slack conversation related to partial/full split: https://iowaweb.slack.com/archives/C0164FNN1PV/p1642689940252600

[2022-08-23 18:12] joewhitsitt commented on #5579
Keep https://github.com/uiowa/uiowa/issues/5427 in mind

[2022-08-23 18:21] pyrello commented on #5558
I think we should implement the change for the first 5 sites on the list and then add the rest of them later when we are clear that there is no noticeable performance hit for adding them.

[2022-08-23 18:23] cory-skeers commented on #5558
I like this approach. Even if there is a performance hit, as long as we are aware of what that hit is, I would be okay with making that risk/reward decision. Hesitant on adding a list of sites (as opposed to a few) without understanding that performance cost.

[2022-08-23 18:34] briand44 commented on #3585
Create another Acquia ticket referencing the original to see if they have any additional suggestions.

[2022-08-23 21:08] joewhitsitt commented on #5418
I think we may have solved #5321 previously with #2345. Might be an option again if we don't see it as too brittle

[2022-08-23 21:35] mjoneill commented on #5558
We are a university; it's a brand failure if college main sites are down for extended periods of time.  Optimization should be inclusive of the list above, but I have zero concerns if we want to start with 5 sites (or 3, or 7, or 2) before extending to the list as indicated above.

[2022-08-23 21:42] mjoneill commented on #5558
What makes this unique is that it is at the intersection of prospective student recruitment and business hours are central European time (which means they get lots of eyeballs if we schedule deployment with downtime overnight).

I still think we need to solve for primary college sites first. . .

[2022-08-23 21:43] pyrello commented on #5558
I don't think anyone disagrees with this. How long were these sites down the last time this happened?

We also discussed that if a deployment introduced regression that caused an outage that these sites would be down the longest because we don't have the ability to start a new deployment until the previous one has started. So, it is not just as simple as we add these sites to this list and then th

[2022-08-23 21:46] mjoneill commented on #5558
10:20AM - Tippie site DOWN alert
12:15PM - Tippie site UP alert

10:19AM - Education site DOWN alert
10:49AM - Education site UP alert

Colleges should be closer to Education (or better) than Tippie.

[2022-08-23 21:52] cory-skeers commented on #5558
I think my main concern here is that if the deployment costs for the list are too high, maybe we need a different approach to this (consider again options like moving these to a dedicated environment) or it might impact our general release schedule (eg account for added lead time for hotfixes). I'm not sure what "too high" would be, or even if it exists, but I'd love some sort of baseline of the i

[2022-08-24 13:51] cory-skeers opened #5607 "Find Text not seeing blockquote block footers on Tippie, maybe others"
In local testing, worked on sandbox but not tippie.

# To Reproduce
Check a page like https://tippie.uiowa.ddev.site/undergraduate/admissions.
Try using Find Text to search for text that should match the quote source field (eg "korobov") and see results for blocks on other pages, but not this blockquote block.

# Proposed Solution
Unsure, In debugging, the `search_fields` function, the `block_cont

[2022-08-24 14:14] quamsta opened #5609 "Editor user permission role can access some configuration options"
# Problem
A user with the "Editor" permission role can access two sections in the Configuration section of Drupal:

- Region settings
- Layout Builder Direct Add

This allows them to change the "Add Component" button text in Layout Builder and/or create Pre-Footer regions and layouts and apply them to the entire site.

## Screenshot:
<img width="1421" alt="Screen Shot 2022-08-24 at 9 03 07 AM" src

[2022-08-24 14:49] joewhitsitt commented on #5609
I've added an upstream issue with lb_direct_add to create a more granular permission to restrict this. This was a known issue, but I don't think we thought it was high-impact at the time. https://www.drupal.org/project/lb_direct_add/issues/3305765

[2022-08-24 14:54] joewhitsitt commented on #5609
As for the region settings. I'd like to get your thoughts @quamsta or others' on to what extent the region settings functionality should be restricted.

I believe editors can create region_items which are used within region settings. Should they still be able to create but not assign them to the region? We are actively working on expanding region settings to include a new region with per page over

[2022-08-24 16:52] joewhitsitt commented on #5467
Fixing all of the errors in profiles/custom has now revealed ~291 issues within modules/custom. The command seems to stop traversing directories when it gets errors which mean there are theme issues and site issues as well.

https://github.com/uiowa/uiowa/blob/main/blt/src/Blt/Plugin/Commands/ReplaceCommands.php#L115

Though we should probably continue to chip away at this, we aren't sure to what

[2022-08-24 20:58] pyrello commented on #5467
I'm not sure this is specifically a requirement for either Drupal 9.4 or PHP 8.1. I'm cool with looking at how to rollback the PHPStan level, although I'd like to understand the ramifications of that a bit better.

[2022-08-24 21:04] pyrello commented on #5601
As I've started to dig into 91st Meridian a bit, there are a lot of inconsistencies with how each issue is built. Also, it uses a bespoke format for the table of contents that doesn't lend itself well to a standard solution. I have a meeting set up to chat with someone at IWP with previous experience in literary magazines to understand better what should or should not be there. After that, I'll be

[2022-08-24 21:28] pyrello opened #5610 "Investigate and clean up P2LB tracking issue"
# Motivation
The issue at #3878 has gotten a bit unwieldy and parts of it are unclear as to what our next step should be.

# Proposed solution
- Set up the P2LB module locally and test its usage.
- Review the remaining bullet points and make note of any that are unclear.
- Clarify unclear bullet points with the team/original author.
- Test all incomplete items to ensure that they haven't been fixe

[2022-08-24 21:29] pyrello commented on #5610
I'd like to pair on this.

[2022-08-25 13:45] joewhitsitt opened #5612 "Switch to Aggregator contrib"
# Story

As a developer, I understand that aggregator has moved out of core into contrib and that starting in 9.4 the core version is deprecated. Knowing this, we should switch to using the contrib version before upgrading to Drupal 10.

https://www.drupal.org/node/3304999

[2022-08-25 13:56] joewhitsitt commented on #5467
There is one more theme issue but it relates to person extended (not sure why this is here) which i plan to address this morning. i think that any any other modules/custom issues we can tidy up by the end of today should be the cap to this particular PR, move towards testing and we temporarily remove modules/custom and sites from the scan and follow up again in separate issues. My fear is that the

[2022-08-25 13:59] joewhitsitt commented on #5467
Might also want to exclude `default.settings.php` from the sites check because every site is being flagged for `Variable $app_root might not be defined.` and `Variable $site_path might not be defined.`

There are ~124 errors that aren't related to default.settings.php within the sites directory (this includes .install files)

[2022-08-25 14:00] joewhitsitt commented on #5582
Thinking of adding :15 and :45 to the cron job

[2022-08-25 14:06] joewhitsitt commented on #5582
`*/15 * * * *` has been implemented

https://crontab.guru/#*/15_*_*_*_*

[2022-08-25 16:26] quamsta commented on #5612
@joewhitsitt Is the contrib module just a fork of the original core module? We don't have to update hook anything to continue using it, right? We've really come around to using it, especially to aggregate a few RSS feeds for our DSL intranet site

[2022-08-25 16:31] joewhitsitt commented on #5612
Yes, it is a fork, but that might have a new release by the time we switch it out. Also because the location of things will move with this it will require a scheduled deployment and possibly a cache clear.

[2022-08-25 16:42] briand44 opened #5614 "Purge careers aggregator items after 1 month rather than 1 year."
# Story

As an owner of the Career Center website, I would like to only keep aggregator items for 1 month rather than the current setting of 1 year, so that the number of items in our feeds doesn't get overwhelming and start causing performance issues and pages to quit working.

# Additional Info

Career Center is using feeds aggregator functionality to display job opportunities for students. They

[2022-08-25 16:55] briand44 commented on #5614
Maybe this could be a setting exposed to user... 1 year, 6 months, 3 months, 1 month? Not sure if that makes sense if we eventually want to purge items no longer in the feed source? Still need to have a conversation about that as well.

[2022-08-25 17:11] briand44 opened #5615 "Purge aggregator items no longer in feed source."
Currently we are retaining aggregator items for 1 year. Would it make more sense for our use cases to only retain items that exist in the feed source?

This would allow folks to have archived feeds like https://apps.its.uiowa.edu/dispatch/archives/past/--iowa-law---september-25-lxj144j without requiring us to keep items for 1 year.

It could also help prevent issues with high volume feeds like we

[2022-08-25 17:38] joewhitsitt commented on #5615
Actually it is a really old issue that was moved over..

https://www.drupal.org/project/aggregator/issues/1294472

[2022-08-25 17:40] joewhitsitt commented on #5614
There is this issue about a per feed setting: https://www.drupal.org/project/aggregator/issues/53587 as well as a limit how many are imported https://www.drupal.org/project/aggregator/issues/2975389 but both of these issues are older and have seen very little activity.

[2022-08-25 17:44] joewhitsitt commented on #5614
There are other settings on the config form that we don't probably want folks interacting with. Future proofing in mind, ideally, we would loop through all fields on the form to set access to false except for this one field. That way if a new field is made available in a later release, we don't have to account for it and it will just be hidden.

Alternatively, we could create a middle man setting

[2022-08-25 19:03] joewhitsitt commented on #5368
https://www.drupal.org/project/charts keeps gaining ground and the highcharts library is being recognized for their work towards being accessible https://www.highcharts.com/blog/accessibility/#exploreFeatures

[2022-08-25 19:07] quamsta commented on #5609
@joewhitsitt

I think this sounds right. My initial concern about the Editor role being able to create pre-footer layouts and assign them to a region was the fact that they're able to change or add a block that appears the entire website despite the fact that I believe their "page edit" permissions are restricted to just saving drafts or setting them "for review."

If their permissions for editing

[2022-08-25 20:31] briand44 commented on #5558
Start with first 5 to make sure there is not any major performance issues or anything. Include v1 sites to test if having those in now causes any issues. Add rest of sites once we have less of a concern.

[2022-08-25 20:50] joewhitsitt commented on #5467
From planning: Move forward with removing the dependency update from #5324 and test/merge the changes we have made. Keep this issue open to eventually update.

[2022-08-25 20:58] bspeare commented on #3585
I still think https://github.com/uiowa/uiowa/issues/3585#issuecomment-941358866 is worth exploring here.

[2022-08-25 21:57] joewhitsitt commented on #3585
https://github.com/uiowa/uiowa/issues/3585#issuecomment-994849651

FWIW, we did update layout builder restrictions recently which changed configuration related to the allow/deny lists. Might have missed something, caches and things.

[2022-08-25 22:16] bspeare commented on #3585
@joewhitsitt should we run `drush cc plugin` on all sites now to rule out finding future layouts from the layout builder restrictions deployment?

[2022-08-26 13:47] joewhitsitt commented on #3585
I don't think it would rule it out if we missed something in terms of config. Cache rebuilds have happened a couple times on all site since. I will go ahead and run cc plugin since that is part of what we've done previously to supposedly go as long as we did.

https://iowaweb.slack.com/archives/C0164FNN1PV/p1661522299797919

[2022-08-26 14:35] joewhitsitt commented on #3585
Going to do this too.

Update: https://support-acquia.force.com/s/case/5006g00000geobVAAQ/re-drupal-9-layouts-missing

[2022-08-26 16:59] quamsta opened #5616 "Topic Collection "Browse all" view display doesn't respect sticky at top of lists"
# Problem
We've been trying to sticky a few resources to the top of some of the taxonomy terms in the "Browse all" view display (the heading is labeled "Browse by tag" -- but the Drupal view display is titled "Browse all") :

<img width="1354" alt="Screen Shot 2022-08-26 at 11 53 56 AM" src="https://user-images.githubusercontent.com/472923/186954723-21bafce2-28e0-4edc-b17c-87ffc7d19697.png">

Howe

[2022-08-26 17:57] #5616 closed, assigned to nobody

[2022-08-26 20:16] joewhitsitt opened #5618 "Investigate ways of speeding up load of events from Content Hub"
Split away from https://github.com/uiowa/uiowa/issues/5190

# Story

As an editor and site visitor I can notice faster loading of events.

# Background

- Events blocks with pager load the endpoint once to get the count data and then again based on the current page. There have been reported issues will pulling events as well when it comes to multiple blocks on one page: https://iowaweb.slack.com/a

[2022-08-26 21:36] joewhitsitt commented on #5558
To answer the question about where `$this->getConfigValue('multisites');` is coming from.

[2022-08-28 23:27] mark-bennett-uiowa commented on #5604
Migration from asg.clas.uiowa.edu to alt.clas.uiowa.edu is complete. Removing asg.clas.uiowa.edu domain and the temporary clasalt.prod.drupal.uiowa.edu domain. Once verification of success is complete, I will deprovision the asg.clas.uiowa.edu site.

[2022-08-29 14:31] joewhitsitt opened #5620 "Docs - Update Region Settings docs"
# Story

As a SiteNow editor, I can read basic documentation about region settings, prefooter and after content.

# Proposed solution

- [x] Update https://sitenow.uiowa.edu/documentation/layout-builder/pre-footer-content to re-frame around region settings and the different options there.

[2022-08-29 15:39] e-marie-w commented on #5581
Since the 175 logo and regular logo are in separate files, I just changed the used file back to the regular one.

That leaves the question of what to do with the 175 logo file, though. Can we remove it from our codebase, or is there a reason to keep it?

[2022-08-29 15:42] bspeare commented on #5581
I think we should remove the file from the codebase.

[2022-08-29 15:44] joewhitsitt commented on #5581
Removing it now will require a cache rebuild correct?

[2022-08-29 15:45] bspeare commented on #5581
Yes, good point!

[2022-08-29 15:50] e-marie-w commented on #5581
I forget, is the cache rebuild something we add in like an update hook, or something we trigger manually after the code deploys?

[2022-08-29 15:56] joewhitsitt commented on #5581
Yes. ;)

In this instance, I would just add an update hook like https://github.com/uiowa/uiowa/blob/main/docroot/profiles/custom/sitenow/sitenow.install#L2101

[2022-08-29 16:35] briand44 commented on #5598
Plan is to make this switch on next Wednesday, September 7th. We should send out a communication to the SiteNow announcements list this week. I can work on an initial draft.

[2022-08-29 17:54] #5585 closed, assigned to nobody

[2022-08-29 18:39] bspeare commented on #5609
- Publishers currently do not have access to layout builder.
  -  Do we want to keep Publishers completely out of the Region settings page then?
  -  Publishers can also replicate pages.
  -  Publishers get a 404 if they try to access https://sandbox.prod.drupal.uiowa.edu/admin/config/sitenow/region-settings.
- Editors do have access to layout builder.
  -  Editors can't replicate pages.
  -  Edit

[2022-08-29 19:12] joewhitsitt opened #5624 "Maps Website - Governance doc and training"
# Issue

We've launched maps.uiowa.edu but don't have a governance document about how to manage it going forward. As of right now, the ownership of maps.uiowa.edu falls within our team.

# Background

- The maps website was revamped with a focus on student recruitment. Requests for additions, edits are sent to us through the Homepage's contact form.

# Proposed solution

- [ ] Establish a governan

[2022-08-29 19:14] joewhitsitt commented on #5624
Here is the current epic https://github.com/uiowa/uiowa/issues/3957 related to the website and here is the last big push to categorize map content: https://github.com/uiowa/uiowa/issues/4541 including a link to an internal doc

[2022-08-29 20:33] joewhitsitt commented on #5579
For the p2lb split, we cannot use https://github.com/uiowa/uiowa/blob/main/blt/src/Blt/Plugin/Commands/ConfigSplitCommands.php because the feature itself relies on another split (sitenow_v2). To audit this feature, a v2 default site should be used as a base.

[2022-08-29 20:39] joewhitsitt commented on #5579
For the sitenow_intranet split, it is getting confused with siteimprove locally since we delete those settings. We _do_ want the siteimprove functionality being removed from configuration. A way to try this is to sync default down as a PROD. Add the following to your local.settings:
[code]

The issue:

[code]

[2022-08-29 21:15] joewhitsitt commented on #5609
Publisher is currently setup as a stacked role. Extends the editor role. We need to revisit permissions as a whole https://github.com/uiowa/uiowa/issues/4294

[2022-08-29 21:20] bspeare commented on #5609
Should we just restrict this to Webmaster only until https://github.com/uiowa/uiowa/issues/4294 happens?

[2022-08-29 21:48] #5558 closed, assigned to joewhitsitt

[2022-08-30 13:28] briand44 opened #5626 "Broken link message feature for articles"
As a SiteNow editor, I have a way to toggle a message to appear at the top or at the bottom of old news articles so that visitors are made aware of old links.

# Additional Info

The message should be editable and default to say something like, "Links in this article are preserved for historical purposes, but the destination sources may have changed."

This was addressed previously for the D7 Iowa

[2022-08-30 13:49] briand44 commented on #5598
Looking for feedback on the above message as well as communication channels. Planning on sending to SiteNow announcements but curious if this should be an ITS alert for a service announcement as well?

[2022-08-30 13:57] cory-skeers commented on #5598
Only suggestion on the message would be changing "...will begin requiring..." to "...will require..." I don't think many people would read it this way, but "begin requiring" could be interpreted as a gradual rollout and not a hard switch.

Regarding communication channels, I think a SiteNow announcement should be enough, but since it could cause a disruption, I don't think it would hurt to be over

[2022-08-30 14:01] bspeare commented on #5598
The message looks good!  I agree with Cory's point.

[2022-08-30 14:43] pyrello commented on #5558
Should this issue be re-opened for the second batch of sites after we collect some metrics?

Here are the ideas for measuring the impact of this change:
- Select release deployments for the past week and average them across all active applications. Generate a similar sample for the upcoming week. Compare the values before and after.
- Review RAM usage during the times that deployments have happene

[2022-08-30 15:18] bspeare commented on #5575
Mid-sprint feedback:

- We need to make the "Content references" headline on the page either customizable or pick something more user-friendly:
  - "Related content" would make the most sense, but there is concern about the conflict with the section called "Related" further down the page.
  - "Similar articles", "You may also like...", "Promoted content", and "Featured content" were also suggested

[2022-08-30 15:19] briand44 commented on #5598
Thanks for the feedback, I updated the text and I will add an ITS alert as a service announcement as well as the SiteNow announcement email.

[2022-08-30 15:28] briand44 commented on #5598
ITS alert added, not yet published by the HD staff.

[2022-08-30 15:55] briand44 commented on #5598
SiteNow announcement scheduled. I will move back to test mode after the communication sends.

[2022-08-30 16:06] briand44 commented on #5598
Set back to test mode. Closing as there is not any additional work required by our team.

[2022-08-30 16:06] #5598 closed, assigned to nobody

[2022-08-30 16:45] briand44 opened #5628 "Add Collegiate websites to list of sites that run first during deployment"
As a follow up to https://github.com/uiowa/uiowa/issues/5558, we should add the following sites to that list.

- https://medicine.uiowa.edu/ * **
- https://dentistry.uiowa.edu/
- https://education.uiowa.edu/
- https://engineering.uiowa.edu/
- https://law.uiowa.edu/ * v2
- https://clas.uiowa.edu/ * D7
- https://nursing.uiowa.edu/
- https://pharmacy.uiowa.edu/
- https://www.public-health.uiowa.edu/

[2022-08-30 16:48] briand44 opened #5629 "Measure impact of adding sites to run first during deployment"
After addressing https://github.com/uiowa/uiowa/issues/5558, we should make sure that adding those sites doesn't negatively impact our deployments in a way that would make us rethink adding Collegiate sites in https://github.com/uiowa/uiowa/issues/5628.

Review RAM usage during the times that deployments have happened before and after the release of this update to see if any discernible difference

[2022-08-30 16:50] briand44 commented on #5558
@pyrello I've added these additional issues as follow ups to this.

[2022-08-30 16:55] briand44 commented on #5628
Blocked until we know the impact #5629

[2022-08-30 18:08] makurj commented on #5389
I'd like to learn/pair on this.

[2022-08-30 18:32] briand44 commented on #5559
Team determined the proposed solution can be completed all as one slice.

[2022-08-30 18:49] briand44 commented on #5626
Grooming conversation... Toggle on/off per article, defaults to off. Display at the top of article, below the title initially and we can evaluate if it should move after content or into existing alert area. Use info alert style.

[2022-08-30 18:59] mjoneill commented on #5626
Alternative approach (for historical record) dispenses with the "alerts" on articles and instead uses "robust links" approach for news content (in this case).

https://robustlinks.mementoweb.org/robustify/?anchor_text=This%20is%20google%2C%20yo&url=https%3A%2F%2Fgoogle.com

Perma.cc also takes a similar approach.

[2022-08-30 19:10] bspeare commented on #2670
In grooming we decided that the work for this should be to first show some examples in the mid-sprint demo and then decide whether we want to implement this through a layout builder style.

[2022-08-30 19:14] pyrello commented on #5559
We had a bit of a conversation about what it might mean to start using stage as an additional deployment step. I explained that my concern had to do with databases and files being out of sync. However, after a little bit of investigation, I don't believe this would actually be an issue. This is a problem with the dev environment because it does not get updated code every time that a PR is merged i

[2022-08-30 19:15] bspeare commented on #5597
From T M:

[2022-08-30 20:53] #5581 closed, assigned to e-marie-w

[2022-08-30 21:11] bspeare commented on #5575
A few more ideas:
- Call one section "Related content" and the other section "Related tagged content/Related content by tag"?
- "Read next"
- No heading.  The appearance of the featured cards under the article makes it clear that it is related content.

[2022-08-31 14:23] bspeare opened #5630 "Dentistry interactive map brand recommendations"
- "Other than page header and footer what else might be needed to bring this page up to brand standards? Interactive Map
- It is wildly inaccessible, but we're working on that, so just need brand recommendations right now, please.
- https://apps.dentistry.uiowa.edu/IACountyData

[2022-08-31 14:23] bspeare commented on #5630
@cory-skeers can you share the link to the example you mentioned?

[2022-08-31 14:40] bewoldt opened #5631 "White space gap between sections"
# Problem
Removing bottom spacing on a multi-column section that has cards will show a white space gap before the next section begins. Only happens on mobile screen sizes.

<img width="700" alt="Screen Shot 2022-08-30 at 4 59 20 PM" src="https://user-images.githubusercontent.com/731952/187702978-39980a7e-d134-4eb8-8654-2cdabf80f61c.png">

example pages:
https://sandbox.prod.drupal.uiowa.edu/card-b

[2022-08-31 15:36] quamsta opened #5632 "SSL Certs for uiowa02"
We need the following two certs made on uiowa02 for these already-provisioned sites:

- studentife.uiowa.edu (a wildcard cert for *.studentlife.uiowa.edu exists on uiowa02 already, but I believe according to @briand44, we also need one for the base domain, which we'll be using soon)
- wrac.uiowa.edu

[2022-08-31 16:00] bspeare commented on #5631
The card has a bottom margin hard-coded into the component.  I think this bug should be addressed in the work that will happen in https://github.com/uiowa/uiowa/issues/2670

[2022-08-31 16:01] bspeare commented on #2670
We will also want to address this issue with margins on components creating gaps between sections: https://github.com/uiowa/uiowa/issues/5631.

[2022-08-31 16:05] briand44 commented on #5632
This is done.

[2022-08-31 16:05] #5632 closed, assigned to nobody

[2022-08-31 16:40] quamsta commented on #5575
Some thoughts, apologies if some of these have already been discussed

What about just "Referenced in this article:" or just "Referenced:"

Is it possible to show only one "Related" section if there's specific, referenced content attached to a node and prevent a "Read next"-type section from showing? I feel like doubling up with two "Related"-type sections may be a bit overwhelming to a reader and

[2022-08-31 17:02] briand44 commented on #5575
Yeah, I'm starting to think maybe we should add another configuration option under "Display related content" that says something like "Display manually referenced related content". This could be the default setting and if someone referenced an article manually it would show.

We could then use the headline of "Related Content".

In the future if there were additional config options related to Manu

[2022-08-31 17:42] cory-skeers commented on #5630
@bspeare I'd been hoping to be able to find a specific reference in any old class notes, but couldn't. I think it was an informal set of colors people tended to use and pass around when working on posters and reports.

I did find an example in a six-degree scale for a consulting project I'd worked on, with three degrees of desaturated gold and three degrees of darkening gray/black:
`c('#ffcd00', '

[2022-08-31 17:52] bspeare commented on #5575
I like this idea!  Here's what it could look like:

Under the configuration settings for "Display related content":

<img width="513" alt="Screen Shot 2022-08-31 at 1 03 59 PM" src="https://user-images.githubusercontent.com/1036433/187748334-d4c9ae26-e09c-4297-8cd4-7ee9fd02b0e5.png">

A new option for "Display manually referenced content" would be added:

<img width="468" alt="Screen Shot 2022-08-

[2022-08-31 18:10] cory-skeers commented on #5575
I really like this setup, and moving the manually referenced content down into a separate "Related" content adds some nice space.

I think for the most part, this covers the main intended uses for these related contents. I do wonder if there might be a use case or request for including both types on a page, but 1) I'm not sure that's even the case and 2) going this route doesn't keep us from addin

[2022-08-31 18:14] briand44 commented on #5575
If they didn't want to show any related content, they just wouldn't manually reference any.

Thoughts on this??

[2022-08-31 18:27] cory-skeers commented on #5575
That makes sense to me.

So just have the options be "Display manually referenced content" or "Display related content titles grouped by tag," and if they currently have "Do not display related content," it'll be updated to "Display manually referenced content" (because functionally, if they don't manually add anything, it's the same as not displaying related content)?

[2022-08-31 18:27] quamsta commented on #5632
Thanks @briand44

[2022-08-31 18:33] briand44 commented on #5575
@cory-skeers that was my thought, I am not opposed to defaulting to "Display manually referenced content" and keeping an option to "Do not display related content" but not sure of the use case for keeping that option around at this point.

[2022-08-31 19:13] quamsta commented on #5575
"Display manually referenced content" as the default instead of "Do not display related content" sounds like a good call.

[2022-09-01 13:45] joewhitsitt commented on #5629
Since this change is live, don't we need to gather old deployment times now before they drop off the task list within AC?

[2022-09-01 13:49] briand44 commented on #5575
@joewhitsitt does this approach cause any issues with HR?

[2022-09-01 13:58] joewhitsitt commented on #5575
Still wrapping my head around this approach. The field machine name was the biggest conflict which was avoided. HR does not have related content on articles currently (just pages and they aren't rendered).

[2022-09-01 14:20] cory-skeers commented on #5629
As we get the data collected, I'd be interested in looking at how we handle the comparison, since we'll have a fairly low sample size and there may be a decently wide variance depending on what's being deployed.

[2022-09-01 14:40] joewhitsitt commented on #5575
@bspeare and others, I think this approach is fine. It is along the same lines as I was originally thinking for this issue. I also think manually referenced as the default will be fine since this is a new feature that won’t have content in it initially.

[2022-09-01 15:12] mjoneill commented on #5629
Adding some 2022 uptime reporting for a few of our sites.

Top section is for the past 24 hours or so.  Recent events section goes back to start of 2022.

![2022-uptime-coronavirus](https://user-images.githubusercontent.com/7144234/187949029-70592a39-44c2-4cf9-9967-5cfb3d60bc42.jpg)
![2022-uptime-education](https://user-images.githubusercontent.com/7144234/187949033-b1e02d6b-54e2-4551-8bcb-59660a7

[2022-09-01 15:37] cory-skeers commented on #5620
Docs are updated: https://sitenow.uiowa.edu/node/431/latest

Additional edits and feedback are welcome!

Otherwise, blocked by #5576. Once that gets merged, we can publish the doc updates.

[2022-09-01 16:25] pyrello opened #5633 "P2LB - Prevent deletion of rollback revision"
# Motivation
When the conversion of the page node happens, the revision ID for the revision that existed prior to the conversion is stored in a special field on the node so that it can be used to rollback converted nodes. We need to prevent the deletion of these revisions in the system until we have completed transitioning all V2 sites.

# Proposed solution
- [ ] Implement code similar to our fron

[2022-09-01 18:07] pyrello opened #5634 "V2 - Allow articles to replicated"
# Motivation

As part of #5610, it came to my attention that replication is not allowed for articles on V2 sites. I think this was based on the idea that we weren't adding new features for V2. However, the article content type is not a V2-specific feature and so I don't see any reason why we wouldn't allow this, especially since I don't think we have to add any custom code or change anything in ou

[2022-09-01 18:08] pyrello opened #5635 "P2LB - Add Page to Replicate allowed content types and disallow via code when rollback revision ID is not set"
For reference, update hook where replicate allow content types was set: https://github.com/uiowa/uiowa/blob/56d01349be1684e611813206a16c7b6e8457f7aa/docroot/profiles/custom/sitenow/sitenow.install#L3525-L3528

[2022-09-01 18:11] pyrello commented on #5635
This is blocked until #5634 or can go at the same time.

[2022-09-01 18:47] briand44 opened #5636 "Investigate and remove or update Cloud API v1 calls"
API v1 will no longer be available after September 19th, 2022.

[code]

[2022-09-01 18:51] pyrello opened #5637 "Todo - Remove extra checks when `sitenow_v2` split is removed"
# Motivation
As part of #5635 there was code added to check for the submit button the replicate form having already been disabled before setting a new message. This check was handled to accommodate the possibility of the `sitenow_p2lb` module being enabled and a message having already been set. Once `sitenow_v2` is removed, we can be sure that there is no longer a reason for that check to exist an

[2022-09-01 18:55] quamsta opened #5638 "Investigate ways to gather data about which/how many sites have specific options or user roles in use"
# Story

As a developer, I'd like to be able to programmatically gather data and/or visualize data about which configuration settings are set, which config splits are enabled, which roles are in use (reviewer, editor, et. al) and/or other information about websites as a whole in the SiteNow service.

It's come up several times in some recent developer huddles and some sprint demos I've attended th

[2022-09-01 20:20] pyrello commented on #5610
We discussed in planning that it would make the most sense to limit this investigation to figuring out and clearly defining the next steps that represent functionality that we would like to see for feature completeness. The remaining tasks are related to things that are not working correctly or based on adjusting transformation code to account for changes to our LB blocks. Since those blocks may c

[2022-09-01 20:21] pyrello commented on #5610
I'll let this get closed automatically by #5613 getting merged.

[2022-09-01 20:35] briand44 commented on #5389
Added blocked label as we would like to finish https://github.com/uiowa/uiowa/issues/5579 first.

[2022-09-01 20:38] briand44 commented on #5389
Scope initial slice to getting the PR ready for review.

[2022-09-01 20:53] briand44 commented on #5629
Concern of performance hit is low. We have some metrics for length of downtime. Closing this.

[2022-09-01 20:53] #5629 closed, assigned to nobody

[2022-09-01 21:01] joewhitsitt commented on #5579
Update on https://github.com/uiowa/uiowa/issues/5579#issuecomment-1230837834

I think this is just something we need to live with. Tried the possible workaround which didn't work but also made me realize that folks will run into this anyway during development then and have to discard anyway.

[2022-09-01 21:19] briand44 commented on #5610
Comments during Sean's demo:

Potentially hide sections rather than disable after conversion

record editor that converted as the “changed by” person in overview

Change name from SiteNow convertor ("SiteNow Migrade”)

Possibly add convert tab on node page.

inbox zero type message/celebration when no more pages need to be upgraded

[2022-09-02 13:42] joewhitsitt opened #5652 "Allow Config Split Commands to be run on a single split"
# Story

As a developer, I can run each of the functions in  https://github.com/uiowa/uiowa/blob/main/blt/src/Blt/Plugin/Commands/ConfigSplitCommands.php on a single split by providing an optional split argument.

# Proposed Solution

- [ ] Add an optional split argument that is checked before the foreach.

[2022-09-02 13:54] briand44 commented on #5636
Do we happen to still be running the following commands anywhere or has anyone been manually running these commands?

- `drush ac-environment-list`
- `drush ac-domain-list`
- `drush ac-domain-purge`

According to https://cloudapi.acquia.com/, it looks like those commands would result in the hits to
`/v1/sites/realm:mysite/envs/prod/domains.json` and
`/v1/sites/realm:mysite/envs.json`
`/v1/sites/re

[2022-09-02 14:00] #4767 closed, assigned to nobody

[2022-09-02 14:09] briand44 commented on #5636
A couple things that come to mind here would be generating metadata for authentication, site counts. Site counts don't look like they are calling these though. Not seeing it in D7 metadata generator either but could be missing something there. Where/How do we generate metadata for D9?

[2022-09-02 14:58] briand44 opened #5653 "Enable SiteNow events for OnIowa"
OnIowa is requesting local Drupal events. Can we enable this for https://oniowa.prod.drupal.uiowa.edu?

[2022-09-02 15:02] bspeare commented on #5630
# Recommendations:

- Header: https://uids.brand.uiowa.edu/components/detail/iowa-bar--parent_site_name.html
- Footer: https://uids.brand.uiowa.edu/components/detail/footer.html
- Fonts: [Roboto](https://fonts.google.com/specimen/Roboto)
- Use brand colors: https://uids.brand.uiowa.edu/components/detail/colors.html
  - Try not to use red, blue, and green for font colors like on https://apps.dentis

[2022-09-02 17:59] joewhitsitt commented on #5636
Could it be Acquia DevDesktop?

[2022-09-02 20:17] joewhitsitt commented on #5636
Brian also had a thought while on the road: "Could it be Slack?" - Maybe, however, that integration is only accessible by Rick.

[2022-09-02 21:19] cory-skeers commented on #5548
Release notes have been updated based on demo deck stories, and an intro has been added: https://sitenow.uiowa.edu/news/2022/08/updates-august

I haven't checked the archived done column for possible other stories/bug fixes, and there are likely some notable launches that could be added.

[2022-09-05 17:46] mark-bennett-uiowa opened #5655 "Deprovision asg.clas.uiowa.edu site"
Now that the new site alt.clas.uiowa.edu is in place and running smoothly, I need to deprovision the asg.clas.uiowa.edu site. Since this is something I have only done once or twice, I just want to make sure of the process:

Create a new PR
Run `blt umd --site=asg.clas.uiowa.edu` to remove the site from uiowa01.
Commit and push PR

Is this correct, or has this process changed recently? Is there any

[2022-09-06 13:31] briand44 commented on #5584
Postponing this until October since we are updating core and php in Sept

[2022-09-06 13:58] pyrello opened #5656 "Upgrade `layout_builder_styles` to 2.0.x"
# Motivation

A stable 2.x.x release of `layout_builder_styles` was released on 09/05/2022: https://www.drupal.org/project/layout_builder_styles/releases/2.0.0. This included the grouping functionality that we have been using a patch to provide for a long time. We should upgrade to eliminate the patch dependency and also be one step closer to compatibility with D10.

# Proposed solution
- [x] Remo

[2022-09-06 14:56] joewhitsitt commented on #5655
That should do it. The `umd` command was recently updated to remove files. https://github.com/uiowa/uiowa/pull/5244

Not sure if you need to backup beforehand: https://wiki.uiowa.edu/display/drupaldev/Backing+up+a+site+before+deletion

[2022-09-06 15:07] joewhitsitt commented on #5389
At standup, we talked about putting this work in https://github.com/uiowa/uiowa/pull/5625

[2022-09-06 15:21] bspeare commented on #5620
This looks good! I love the "Congratulations" bit at the end.   The one thing I would add is that we might want to give better advice about the types of links to use in a button row from a content strategy perspective, but that could be a separate page or even a page on the web community site.

[2022-09-06 15:36] GaryRidgway commented on #5620
I agree, looks good!

I made a few small changes to wording and bolding.

https://sitenow.uiowa.edu/node/431/revisions/view/4531/4551/split_fields

I removed the first change because the position is ambiguous with those words and is clearly defined in the next sections.

The second change is for consistency.

[2022-09-06 15:37] bspeare opened #5657 "As an IISC site owner, I can use the SiteNow related content feature for Articles"
# Story

As an IISC site owner, I can use the SiteNow related content feature for Articles

Currently, the manually referenced content and the related content by tags feature on `admin/config/sitenow/uiowa-articles` is not working for IISC because the page is being overridden to display `field_related_content` for Partners, People, and Projects.

# Proposed solution

- Update IISC to use the new r

[2022-09-06 15:47] briand44 commented on #5636
Potentially useful links
https://docs.acquia.com/cloud-platform/develop/api/migrate/
https://support-acquia.force.com/s/article/360043969514-Cloud-API-v1-EOL-Am-I-using-it-and-what-do-I-need-to-do

[2022-09-06 15:57] mark-bennett-uiowa commented on #5655
Thanks @joewhitsitt I should be good on the backup as it was all moved to the alt.clas.uiowa.edu site. I will push this PR up in the next 5-10 mins.

[2022-09-06 15:59] joewhitsitt commented on #5546
Additionally, might be a hole in our logic if there are no people on the site and certain configuration is set, like a negative offset and filtering on type. https://iowaweb.slack.com/archives/C8SM82ZFZ/p1662479101739249

[2022-09-06 16:03] joewhitsitt commented on #5636
is it worth reaching out to Rick about the Slack stuff?

[2022-09-06 16:14] briand44 commented on #5636
I don't think so at this point. I did reach out to him about Acquia/Slack integration shortly after he left and I never got a response.

This was just a guess. If we end up thinking this is the most likely culprit, I believe we could remove the app and set it up again to get around the permissions issues.

Also, if this is the culprit, it wouldn't be the end of the world if this broke on Sept. 19t

[2022-09-06 16:20] joewhitsitt commented on #3585
Acquia suggested adding the cc plugin back in. https://github.com/uiowa/uiowa/pull/4167

Perhaps the combination of both hash salt and cc plugin will solve the issue. They could not recall this issue with other customers but aren't able to confirm that at this time.

[2022-09-06 16:27] briand44 commented on #5636
It definitely could be, the article below explains how to check which version of Cloud API is being used with Dev Desktop. Mine is saying v2.

https://acquia.zendesk.com/hc/en-us/articles/360044089534-Switching-to-Acquia-Cloud-API-v2-with-Acquia-Dev-Desktop

[2022-09-06 16:28] briand44 commented on #5636
I specifically asked Rick before he left if we were still using API v1 for anything and he said no. He could have missed something but it would seem more likely that it would be some one off instance of Dev Desktop or some other culprit rather than something in our codebase.

[2022-09-06 16:33] briand44 commented on #5636
@mark-bennett-uiowa, visibility since the uiclas application was identified as well.

[2022-09-06 16:44] GaryRidgway commented on #5636
I have searched 701,702,702, and uiowa for this string, The pipes are ORs in a regex string.

`cloudapi.acquia.com/v1|drush ac-environment-list|drush ac-domain-list|drush ac-domain-purge|/v1/sites/realm:mysite/envs/prod/domains.json|/v1/sites/realm:mysite/envs.json|/v1/sites/realm:mysite/envs/prod/domains/foo.com/cache.json`

This encapsulates all the things said above, and I found no instances of

[2022-09-06 17:05] mark-bennett-uiowa commented on #5636
I was still using v1 on my Dev Desktop:
<img width="827" alt="Screen Shot 2022-09-06 at 11 57 07 AM" src="https://user-images.githubusercontent.com/3067017/188696788-bd58ead5-fc89-43cb-a245-dcf7ca919496.png">

I created a new API token and connected using v2, and everything seems to be working fine:
<img width="599" alt="Screen Shot 2022-09-06 at 12 00 56 PM" src="https://user-images.githubusercon

[2022-09-06 18:12] briand44 commented on #5315
Start with local environment and dev environment to start identifying issues.

[2022-09-06 18:52] joewhitsitt commented on #5546
Could possibly do this at the same time https://github.com/uiowa/uiowa/issues/5589 to make sure our code is good with the latest version of ctools.

[2022-09-06 18:53] joewhitsitt commented on #5315
added setup instructions to https://github.com/uiowa/uiowa/pull/5611

[2022-09-06 19:03] pyrello commented on #5635
After digging into this, I'm not sure that the value of doing it is worth the complication of figuring it out. We discussed in grooming and decided that we would make turning on page replication for V2 sites one of our clean-up steps.

[2022-09-06 19:03] #5635 closed, assigned to nobody

[2022-09-06 19:09] briand44 commented on #5636
@joewhitsitt do you have a way to update your script that runs `ac-domain-purge` or is your plan just to quit running that and use the Cloud UI to clear Varnish for those domains going forward?

[2022-09-06 19:22] joewhitsitt commented on #5636
i'll probably delete that script and just run it through the UI going forward.

cloud api v2 equivalent
[code]

[2022-09-06 19:32] joewhitsitt commented on #5636
Nevermind. Used my profdev time to update it using the Acquia CLI

[2022-09-06 20:07] briand44 opened #5659 "Searchable list of FM managed buildings"
# Story

As a Facilities site owner, I would like to display a searchable list of FM managed buildings so that visitors can quickly find a FM managed building.

# Additional Information

Should be able to be placed on a layout builder page so that editors can add additional contextual content.
Should output building number, building name and building abbreviation.
Should be able to sort by and sea

[2022-09-06 20:30] bspeare commented on #5386
I put together a Codepen exploring how a solution could work: https://codepen.io/bspeare/pen/rNvOVZY.

[2022-09-06 20:46] bspeare commented on #5548
I think this looks good.  It has a great intro and the three site launches listed are great.  I added "https://csi.its.uiowa.edu" after finding that they launched in August.  Should we send this out today?

[2022-09-06 21:05] bspeare commented on #5620
Now that the new region is deployed, I have published the new docs: https://sitenow.uiowa.edu/documentation/layout-builder/regional-content. Thanks @cory-skeers!

[2022-09-06 21:05] #5620 closed, assigned to cory-skeers

[2022-09-06 21:18] bspeare opened #5660 "SiteNow updates news article - September"
## Issue/Solution ##
Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  * See the previous month's article as an example.
  * Bulle

[2022-09-06 21:18] bspeare commented on #5660
https://sitenow.uiowa.edu/news/2022/10/updates-september

[2022-09-06 21:19] bspeare commented on #5548
This is complete.

[2022-09-07 13:10] pyrello commented on #5610
I have to say, I'm not sure that I'm a fan of changing the wording from "convert" to "upgrade," as in SiteNow Converter => SiteNow Upgrader.

I believe the original terminology better encapsulated what is happening. While we might consider the entire process of moving a site from V2 to V3 to be an upgrade, upgrading content just sounds weird to me.

[2022-09-07 13:22] briand44 commented on #5636
Update from Acquia...

[2022-09-07 13:47] pyrello commented on #5637
I think this can be closed now, since we decided to delay implementing replicate for pages in V2 until after the transition has been completed.

[2022-09-07 13:47] #5637 closed, assigned to nobody

[2022-09-07 14:06] joewhitsitt commented on #5637
wouldn't this just be marked as blocked and part of the cleanup PR following the mandatory update

[2022-09-07 14:22] briand44 commented on #5636
Going to close this for now since we've addressed everything we are aware of. If a new report comes from Acquia that exposes additional v1 API calls we can open it back up.

[2022-09-07 14:22] #5636 closed, assigned to nobody

[2022-09-07 16:46] briand44 commented on #5548
Did we do this??

[2022-09-07 17:18] bspeare commented on #5548
@briand44 I forgot about that part.  Let me tackle that this afternoon!

[2022-09-07 19:18] bspeare commented on #5548
August Dispatch analytics:
<img width="1486" alt="Screen Shot 2022-09-07 at 2 19 36 PM" src="https://user-images.githubusercontent.com/1036433/188959853-5f84b609-470a-4f6b-8737-b0e98ddf50e5.png">

July Dispatch analytics:
<img width="1262" alt="Screen Shot 2022-09-07 at 2 18 14 PM" src="https://user-images.githubusercontent.com/1036433/188959601-2840e93e-5d5b-440c-ad27-ceef570c585b.png">

[2022-09-07 19:23] joewhitsitt commented on #5548
7-9% clicked? doesn't seem very high. okay, how many of the team are subscribed and are the ones clicking it?!

[2022-09-07 19:36] bspeare commented on #5548
GA since Jan 01. 2021:

<img width="1952" alt="Screen Shot 2022-09-07 at 2 34 12 PM" src="https://user-images.githubusercontent.com/1036433/188961977-29346613-1934-4cca-9ad8-1cdf1e7b5fc3.png">

Perhaps the GA suggests that we have a few popular months like December/April/March and we shift to 2-3 times a year?

[2022-09-07 19:36] #5548 closed, assigned to nobody

[2022-09-07 20:35] #5655 closed, assigned to mark-bennett-uiowa

[2022-09-07 21:15] pyrello commented on #5652
I started to address this in #5625, although I only added it as an option to the feature split command.

[2022-09-08 13:07] briand44 opened #5663 "Site review for: https://uicb.prod.drupal.uiowa.edu"
# Review process

Put together a two-column spreadsheet.  In the first column provide the page name and url and in the second column provide notes/comments/suggestions.

## Example
<table border="0">
 <tr>
    <td><b style="font-size:30px">Page</b></td>
    <td><b style="font-size:30px">Notes</b></td>
 </tr>
 <tr>
    <td>Areas of Study: https://education.prod.drupal.uiowa.edu/areas-study</td>

[2022-09-08 13:47] joewhitsitt opened #5664 "Use smart_date min and max field settings for events block's range field."
# Story

As a developer, I can re-configure the smart date range field on the events block to use the new min/max field settings.

# Proposed solution (updated 10/11/2022)

- ~~Create separate issues to address undefined array keys for min/max and next hour default value when max is set. https://www.drupal.org/project/smart_date/issues/3300768#comment-14726415~~ being handled in the same issue.
-

[2022-09-08 14:14] joewhitsitt opened #5665 "Update article docs with related content info"
# Story
As a Sitenow user, I want to know more about what the related content field is on the article content type.

# Proposed solution
Update - https://sitenow.uiowa.edu/documentation/article-content-type

[2022-09-08 14:16] joewhitsitt commented on #5665
I don't think we have docs on the related by tag functionality that pre-dates this. That would be nice to add as well.

[2022-09-08 14:25] joewhitsitt commented on #3585
Acquia also suggested that the next time we see this happen in DEV or STAGE that we leave it broken and contact them.

[2022-09-08 14:40] bewoldt opened #5666 "Clickable people profile images"
# Story
As a user, I would like to be able to click the profile image on a people listing to view their profile.

- Making the People images not clickable breaks with breaks with how the cards, events, and articles are used.
- The default people directory listing has the images clickable.

examples:
https://sandbox.prod.drupal.uiowa.edu/sandbox-people
https://sandbox.prod.drupal.uiowa.edu/people-e

[2022-09-08 14:57] pyrello opened #5667 "Move to CKEditor 5"
# Motivation

CKEditor 4 is being moved to a contrib module as part of Drupal 10.x and CKEditor 5 will be a core stable module starting in Drupal 9.5.x. I believe it has a semi-automated upgrade path. See details here: https://www.drupal.org/node/3308362

If we move to CKEditor 5 prior to moving to D10, then we won't have to temporarily include the CKEditor 4 contrib module.

[code]
- Create follo

[2022-09-08 15:12] #5610 closed, assigned to nobody

[2022-09-08 15:12] #5634 closed, assigned to nobody

[2022-09-08 15:30] makurj opened #5669 "As a site owner, I can have a row of buttons that appears fixed to the bottom of the browser and configure it per page"
#4767, https://github.com/uiowa/uiowa/pull/5576

Make "after content" configurable on a per-page basis. This is for "Page" content type only, and only for "After Content".

- [x] Add a set of reference fields (one per region that can be overridden) that directly references the region fragment type. We could also potentially allow people to create alternate region fragments inline.
- [x] Update the

[2022-09-08 16:22] briand44 opened #5670 "Iowa Now experts list"
# Story

As an Iowa Now website owner, I would like to be able to create a person list that has an exposed filter for areas of expertise so that media and other site visitors can quickly identify an expert by their area of expertise.

# Additional Information

Existing page - https://now.uiowa.edu/experts-list

Would like to be able to display the areas of expertise in the teaser view. They do not

[2022-09-08 16:24] briand44 commented on #5670
Can we use our existing Research areas field for this? If so, can we overwrite the label to be "Areas of expertise"?

[2022-09-08 16:25] briand44 commented on #5670
Does this relate to https://github.com/uiowa/uiowa/issues/3804

[2022-09-08 16:36] joewhitsitt commented on #5670
We've modified the field label before https://github.com/uiowa/uiowa/pull/4142, but I wonder if they are open to leaving it as-is and adjusting their terminology for this.

[2022-09-08 16:41] joewhitsitt commented on #5670
Yes if we want to address this with default functionality instead of a custom view page. Another workaround could be using the default SiteNow People views page and marking `hide on lists` for anyone that shouldn't be on that list initially.

[2022-09-08 20:10] #5575 closed, assigned to bspeare

[2022-09-08 20:22] pyrello commented on #5653
This is done.

[2022-09-08 20:22] #5653 closed, assigned to nobody

[2022-09-08 20:32] pyrello commented on #5580
For reference, a code review I did where I identify some situations that I'm aware of that can result in outages: https://github.com/uiowa/uiowa/pull/5623#issuecomment-1240813939

[2022-09-08 20:34] briand44 commented on #5663
Good pairing opportunity for @mkyoder

[2022-09-09 13:30] e-marie-w commented on #5628
Is there a specific order we want these added in? Or is something like alphabetical order after the 5 already added sites fine?

[2022-09-09 15:33] GaryRidgway commented on #5586
how is this for wording? https://sitenow.uiowa.edu/node/126/latest

[2022-09-09 15:51] cory-skeers commented on #5586
Should we add anything about the jump link that gets added automatically?

Otherwise, looks good! 👍

[2022-09-09 16:06] GaryRidgway commented on #5586
Ah, good idea! I will add that

[2022-09-09 16:10] quamsta opened #5672 "Links to manage people from the people block"
# Story

As a user of SiteNow, I'd like to be able to manage people or add a person directly from the People block. I've been in several trainings with partners with a lot of people content (student government, multicultural programs) where a clear path to manage person content while adding or modifying a person block would be extremely useful.

We've heard direct feedback that it's currently a bi

[2022-09-09 16:39] GaryRidgway commented on #5586
@cory-skeers it has been updated, will you check it again?

[2022-09-09 17:49] #5628 closed, assigned to e-marie-w

[2022-09-09 19:02] makurj commented on #5473
For followup issue:
![image](https://user-images.githubusercontent.com/52135878/189424849-b36941aa-3f06-4a89-980e-b25973c052d9.png)

[2022-09-09 19:02] joewhitsitt opened #5674 "Consistent naming/paths"
# Story

As a developer with OCD, I can rely on consistent naming and paths.

# Background

We recently changed our configuration page to be under the header of "SiteNow," in which we updated paths. At the same time we have reembraced SiteNow for functionality close to the profile/default config with a [separate issue](https://github.com/uiowa/uiowa/issues/3458) to move UI Events functionality out

[2022-09-09 19:24] e-marie-w commented on #5626
On their d7 site the editable message is set site-wide (instead of editable per article). Is that how we want it in d9 as well?

[2022-09-09 19:44] cory-skeers commented on #5586
Looks good! I think it's ready to be published.

[2022-09-09 19:45] briand44 commented on #5626
Yes, I think so.

[2022-09-09 20:38] GaryRidgway commented on #5586
Published, closing issue.

[2022-09-09 20:38] #5586 closed, assigned to GaryRidgway

[2022-09-09 20:47] #5473 closed, assigned to GaryRidgway

[2022-09-09 20:52] briand44 opened #5675 "Ability to list a contact for articles and people on Iowa Now"
# Story

As an Iowa Now site editor, I would like the ability to reference an individual contact or organizational contact when creating an Achievement or News Feature article type and also when creating a person.

# Additional Information
They do not want to migrate existing contacts, they will start from scratch with these.

Organizational contact should allow for a contact name, email, phone. N

[2022-09-09 21:07] joewhitsitt commented on #3585
I think after https://github.com/uiowa/uiowa/pull/5676 merges, we should keep this open but move it to blocked/waiting

[2022-09-09 21:07] briand44 opened #5677 "Ability to display referenced articles on a person profile"
# Story

As a SiteNow editor, I would like to be able to reference a person on an article and have that article display on that persons profile page

# Proposed Solution

[2022-09-09 21:09] briand44 commented on #5677
Pharmacy had this functionality in D7, Iowa Now was manually linking to articles on a profile page on their D7 site.

I don't think this is a requirement for Iowa Now to launch since they currently don't have this feature.

[2022-09-09 21:22] GaryRidgway commented on #5553
How does this feel for wording?
https://sitenow.uiowa.edu/image-block

[2022-09-12 13:37] cory-skeers commented on #5553
Haven't checked if all the blocks' docs have this section, but it looks like we'd been adding this at the bottom:

"Block Restrictions
The collection block is available in the following section layouts:

One column
Two column
Three column
Four column
Page w/ left sidebar"

[2022-09-12 14:09] cory-skeers commented on #5553
I took a stab at updating the "Link" description that I'd thought was kind of confusing, if you wouldn't mind checking/editing my edit!

Edit: After that, I think this looks good to publish 👍

[2022-09-12 14:18] pyrello commented on #5674
I believe that anything that is specific to the SiteNow platform should be prefixed (as in the module/split name) with `sitenow_`. Functionality that is shared outside of SiteNow (only `uiowa_auth`) for now, should continue to be prefixed with `uiowa_`.

I do think that having paths that follow the pattern of `admin/config/sitenow/whatever` (omitting `sitenow-` as a prefix) makes sense and I suppo

[2022-09-12 15:09] cory-skeers opened #5679 "Review/update SiteNow documentation for consistency"
The SiteNow docs have been written and updated by many people over many months, and inconsistencies are creeping in.

As a SiteNow editor, I would like to see documentation presented in a consistent manner so that I can avoid confusion when learning the system.

As a SiteNow platform maintainer, I would like a simple internal style guide with readily available, common descriptions, so that I may w

[2022-09-12 15:32] joewhitsitt commented on #5315
I don't see uiowa04 in my list of applications. Do we need to do https://github.com/uiowa/uiowa/issues/5522 to even move forward here?

Also, any concern about updating php in dev as it relates to https://github.com/uiowa/uiowa/pull/4643 @pyrello or should we identify which application that one is on and avoid it for now?

[2022-09-12 15:38] briand44 commented on #5315
No, I can update all environments on uiowa04 to php 8.1 now

[2022-09-12 15:39] briand44 commented on #5315
I'll also add that app to our team

[2022-09-12 15:44] briand44 commented on #5315
I've updated uiowa04 dev/stage/prod to 8.1. Also, added the ITS team access to uiowa04. We'll eventually need to add additional teams to that app but didn't want to cause any confusion now since that app isn't setup.

[2022-09-12 15:55] GaryRidgway commented on #5553
I've added your suggestions and published it, thanks Cory!

[2022-09-12 15:55] #5553 closed, assigned to GaryRidgway

[2022-09-12 16:42] briand44 opened #5680 "Research Administration Handbook for dsp.research.uiowa.edu"
# Story

As a site owner for dsp.research.uiowa.edu, I would like to be able to easily see what pages exist within the research administration handbook and easily navigate between them.

# Additional Information
They are going to try to create a few pages using existing functionality to see what, if anything, they are unable to do with existing tools.

Existing pages live at https://dsp.research.u

[2022-09-12 16:43] briand44 commented on #5680
Adding blocked until we have a better understanding of specific functionality that they need that is not available to them.

[2022-09-12 17:10] GaryRidgway commented on #5665
Wording updated here, hopefully it covers the initial intent and Joe's subsequent comment.
Draft:
https://sitenow.uiowa.edu/node/126/latest
Revision comparison:
https://sitenow.uiowa.edu/node/126/revisions/view/4651/4656/split_fields

[2022-09-12 17:49] bspeare commented on #5666
I think this is happening because this is being set https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/templates/uids/card.html.twig#L41 because it is seeing `card_link_url` as empty from https://github.com/uiowa/uiowa/blob/main/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L1331?

[2022-09-12 17:50] bspeare commented on #5666
I added this to the bug smash milestone.

[2022-09-12 19:33] joewhitsitt commented on #5315
This is already addressed in:
https://github.com/uiowa/uiowa/pull/5625/files#diff-d2ab9925cad7eac58e0ff4cc0d251a937ecf49e4b6bf57f8b95aab76648a9d34R226

[2022-09-12 19:54] joewhitsitt commented on #5315
Not sure we can do codesniffing yet: https://github.com/PHPCompatibility/PHPCompatibility/issues/1299

[2022-09-12 21:10] joewhitsitt commented on #5580
During the defensive coding meeting, we worked on an example related to the outage: https://github.com/uiowa/uiowa/pull/5682

[2022-09-12 22:01] cory-skeers commented on #5665
I added an extra `<h3>` level heading under "Relationships" as "Displaying Related Content." I thought the transition from tags to tags or referenced content got confusing, but that this might help. Let me know what you think of that change, and if that looks good I think it's ready to be published 👍

[2022-09-13 13:15] pyrello commented on #5315
No concerns. If we need to fix something, we will.

[2022-09-13 13:43] joewhitsitt commented on #5315
uiowa to uiowa03 DEV have been updated to 8.1. As Brian mentioned, uiowa04 is already done.

[2022-09-13 13:59] GaryRidgway commented on #5665
Looks good! I have published

[2022-09-13 13:59] #5665 closed, assigned to GaryRidgway

[2022-09-13 15:19] GaryRidgway opened #5683 "Create a list of potential pitfalls that need defensive coding."
This issue is to track potential coding problems that could have more defensive coding utilized with them. These cases may be writing better code, or identifying when code changes might necessitate an off hours deployment to reduce downtime exposure.

### Coding defense
3. Accessing an object method or property without doing an appropriate check that it exists first. Checking instanceof against an

[2022-09-13 16:15] pyrello commented on #5580
I'm going to start working on this.

[2022-09-13 17:36] pyrello commented on #5315
It looks like we added this dependency here: https://github.com/uiowa/uiowa/commit/0303d1d06b2827cfc1284b7d52bf45bbf4148b77

I wonder if we still need it to be a specify it?

[2022-09-13 18:21] bspeare opened #5685 "As a site owner, I can have a row of buttons in the after content region that collapses for mobile."
As a site owner, I can have a row of buttons in the after content region that collapses for mobile if there is more than one button link.

# Proposed Solution

- View the toggle mockup below provided by Tippie.
- Set up a toggle button that displays if there is more than one button link.

<details>

![sticky_ctas_mobile](https://user-images.githubusercontent.com/1036433/182405149-b87164d4-c5b5-40c

[2022-09-13 18:32] pyrello commented on #5669
We discussed that multiple reference fields are probably a better route than one multi-value reference field that can be used to select multiple region fragment types. This is because it will add a layer of confusion for the user and will require some additional custom code to help make things more clear.

[2022-09-13 18:33] pyrello commented on #5669
Caching for this block needs to be handled per page rather than globally, so we'll need to figure that out.

[2022-09-13 18:42] joewhitsitt commented on #5669
We might need to flip/change what is used to render this. As a single block for this might get cached with a different node's value?

[2022-09-13 18:59] pyrello commented on #5580
A little bit of background: The core problem that we deal with when run a deployment is that code updates happen immediately at the beginning of the deployment. File names and locations, as well as PHP class names, are cached in the database per site. Sites are processed sequentially for updates and we have no option affect the database until the site comes up in the queue. This means that we have

[2022-09-13 19:06] pyrello commented on #5580
Here are the conditions I can think of that should require an off-hours deployment:
- Moving or changing the name of a file that can be called by PHP directly. These will typically have one of the following extensions:
  - `.php`
  - `.module`
  - `.install`
  - `.profile`
  - `.theme`
  - `.twig`
- Changing a class name or namespace (e.g. `OurListBlock` => `ListBlock` or `\Drupal\layout_builder_c

[2022-09-13 19:08] briand44 commented on #5670
List of experts will link to profile page on Iowa Now.

[2022-09-13 19:13] pyrello commented on #5580
@joewhitsitt can you clarify "Schema changes?" Do you mean changes to config schema? Or database table definitions?

[2022-09-13 19:20] pyrello commented on #5580
Conditions under which you should request changes when doing a code review:
- Accessing an object method or property without doing an appropriate check that it exists first. Checking `instanceof` against an interface or class known to contain the property or method works. This can also probably be handled via the null safe operator in PHP 8.
- Trying to access an array element by key without doing

[2022-09-13 19:32] joewhitsitt commented on #5580
I was thinking database like changing field type or adding a column to a table that code acts on

[2022-09-13 19:33] #5656 closed, assigned to nobody

[2022-09-13 19:33] #5389 closed, assigned to pyrello, joewhitsitt

[2022-09-13 19:33] #5579 closed, assigned to joewhitsitt, makurj, e-marie-w

[2022-09-13 19:33] #5652 closed, assigned to nobody

[2022-09-13 20:00] pyrello commented on #5315
Hmm... I'm really not sure how we get around this. It looks like they are working on a 10.x version of the of that library. We might be able to figure out how to force a dev version despite having other dependencies that rely on it.

However, this seems like an odd oversight. Like surely we are not the first people to be trying to upgrade to 8.1 with this setup. It makes me think that maybe we are

[2022-09-13 20:02] joewhitsitt commented on #5315
There are dozens of us: https://drupal.slack.com/archives/C9NJK8319/p1658939353306289

Wonder if opening an Acquia ticket for this would help at all

[2022-09-13 21:47] joewhitsitt commented on #5543
The work in https://github.com/uiowa/uiowa/pull/5684 controls `<meta http-equiv="content-language" content="en">` on a per content basis and does not change the `<html lang="en"...`

Looks like our idea missed the mark here as this method has been deprecated and will later be removed: https://www.w3.org/International/questions/qa-http-and-lang#meta_summary
https://www.drupal.org/project/metatag/is

[2022-09-14 14:53] joewhitsitt commented on #5543
Moving forward with this for now: https://github.com/uiowa/uiowa/pull/5684#pullrequestreview-1107654882

[2022-09-14 15:24] #5543 closed, assigned to nobody

[2022-09-14 15:27] makurj opened #5693 "As a CRM user, I would like to use IDs or classes for After Content Buttons in my GTM and GA tracking"
#5669

As a CRM user, I can use the URL, button text, button classes or IDs (whether in code or manually assigned) to track clicks on individual buttons within the "After Content" block.

We do not want the class/ID based on their position. For example,
1st button is “Read More” and its class or ID is bttn-order-1
2nd button is “Info” and its class or ID is bttn-order-2
3rd button is “Apply” and i

[2022-09-14 15:29] GaryRidgway opened #5694 "Investigate and implement a more permanent language setting solution"
As stated [here](https://github.com/uiowa/uiowa/issues/5543#issuecomment-1245985981), the solution as implemented does not cover the html lang attribute. there needs to be a more permanent solution for this.

In addition, the metatag module will be deprecating this field in the 2.x version of their module, so this will be removed at some point, meaning the current solution will be gone.

[2022-09-14 16:17] joewhitsitt opened #5695 "ContentHub - Make it easier to edit events"
# Story

As an authenticated user who can create events and edit my own, I would like a clear path back to edit my event instead of contacting an event admin who has access to the content overview.

# Background

https://iowaweb.slack.com/archives/C0KMREKNU/p1663169226359139

Authenticated users don't have access to Content Overview and have to use a search view on the dashboard to find their even

[2022-09-14 16:32] joewhitsitt commented on #5315
Starting in the #blt channel first. https://drupal.slack.com/archives/CBH49JN2H/p1663173091174089

[2022-09-14 17:53] joewhitsitt commented on #5695
Chris also suggested just adding supporting text to help users navigate.

[2022-09-14 18:36] bspeare opened #5697 "Text area block padding is broken in layout builder preview"
# Problem

`layout-builder.css` is overriding block component padding.

<img width="1746" alt="Screen Shot 2022-09-14 at 1 35 46 PM" src="https://user-images.githubusercontent.com/1036433/190235208-e5f7bfe7-79c0-42c1-8803-f88801482a98.png">

 # Proposed Solution

Adjust weight of `layout-builder.css` so that it appears first in the cascade so that components will not be overridden.

[2022-09-14 20:40] bspeare commented on #5626
Thinking about using the card for this instead of the alert - what do people think?

<img width="1388" alt="Screen Shot 2022-09-14 at 3 37 50 PM" src="https://user-images.githubusercontent.com/1036433/190257957-82596e36-00f0-4c8b-86cb-8c1531444796.png">

<img width="1453" alt="Screen Shot 2022-09-14 at 3 38 41 PM" src="https://user-images.githubusercontent.com/1036433/190257987-818da8ec-536e-43be-

[2022-09-14 20:45] joewhitsitt commented on #5626
Besides looking awesome, is there another reason to introducing a new pattern here?

[2022-09-14 20:47] bspeare commented on #5626
Do you mean a pattern of alert vs card?  Since this is more of a message about the content instead of an alert, a card seems like it might be more appropriate for delivering an inline message.

[2022-09-14 21:13] joewhitsitt commented on #5626
I'd say that alert and message have been used interchangeably with our use in uiowa_alerts, wysiwyg styles, drupal messenger and uipress sale codes. hawk-alert has a whole different set of classes.

To me, without diving into it, it seems easier to expand our base alert styles to include another option and handle icons especially when folks see this and want something similar on their sites.

I th

[2022-09-14 21:17] bspeare commented on #5626
Sure, I think we either need to refactor our alert component to offer more variants or just turn the alert into a Story of the card component in UIDS4.

[2022-09-14 21:22] joewhitsitt commented on #5626
For the sake of this issue do we _need_ to have a different styling for this? is alert-info adequate for iowa now and go-live?

Can the refactor or reimagining be a separate issue? I am intrigued by the idea of a card story in uids4

[2022-09-14 21:26] bspeare commented on #5626
It doesn't _need_ it for sure.  Thanks for sharing your thoughts on this.  I'll put together an issue to move this forward.

[2022-09-15 14:28] pyrello opened #5700 "Consider changes to deployment process"
# Motivation
When `drush cst` returns changes, this returns an error during deployment. If this happens for one or more sites, the build is reported as failed. It seems like this deployment "failure" causes some confusion and potentially some unnecessary anxiety.

Here are some ideas for changing the process:
- Can we have config status check errors generate some other type of output than having t

[2022-09-15 14:38] bspeare opened #5884 "Create page design for catalog.registrar.uiowa.edu"
# Proposed Solution
- https://github.com/uiowa/uiowa/issues/5884#issuecomment-1448830860

## Additional details
- Will publish a new version by Jun 1 of '23.
- Partner needs a month-ish to implement our design specs.

## Prior art:
- Wisconsin Guide: https://guide.wisc.edu/
- University of Illinois: http://catalog.illinois.edu/
-
<details>
- Use https://uiowa-design.dev7.leepfrog.com/styleguide.ht

[2022-09-15 14:48] makurj opened #5701 "Registrar Contact Us Taxonomy and Panel Changes"
From Josh:

I'm hoping you can make a couple programming changes for the Contact Us module(https://registrar.uiowa.edu/admin/structure/taxonomy/registrar_contacts) on registrar.uiowa.edu(https://registrar.uiowa.edu/). With many of our staff working from home or hybrid we don't have physical locations for some of the units listed on that Contact Us page, we're hoping that we could remove the requir

[2022-09-15 15:08] bspeare commented on #5626
I added an issue to UIDS for an alerts refactor: https://github.com/uiowa/uids/issues/770.

[2022-09-15 15:17] bspeare commented on #5580
This looks like a great list that we can reference and continue to update as we move forward.

[2022-09-15 15:47] bspeare opened #5703 "Layout builder lock adds extra padding to layout sections for webmasters and editors"
# Problem
Layout builder lock adds extra padding to layout sections for webmasters and editors and gives an unrealistic preview of the page design.

# Steps to reproduce

Masquerade as webmaster and edit a layout and notice the gigantic spacing in the page title/breadcrumbs or the black bar on the side of the featured image.

<img width="1903" alt="Screen Shot 2022-09-15 at 10 38 32 AM" src="https

[2022-09-15 15:49] joewhitsitt commented on #5700
The issue I see with the slack message is that we currently don't have access to our current Acquia Slack integration. I believe Rick put it together. We can see it but can't edit it.

[2022-09-15 15:52] briand44 opened #5704 "ITS alert for Acquia Maintenance"
Acquia will be performing scheduled maintenance to upgrade **all production-related database pairs** from MySQL 5.7.37 to MySQL 5.7.41 in order to implement necessary security and compliance updates. This maintenance will start on Monday, 19 September 2022, and continue on a rolling basis during non-business hours (11:00pm - 7:00am in each region).

This maintenance will require a failover and fai

[2022-09-15 15:55] briand44 opened #5705 "70(x) updates - Acquia Connector"
A support ticket was opened for uiowa703 for the acquia_connector module to be updated from 7.x-3.10 to 7.x-3.11.

https://support-acquia.force.com/s/case/5006g00000i5tZl

There hasn't been support issues opened for 701 and 702 yet but it looks like those currently have 7.x-3.10 in the profile so we should update those applications as well.

Looks like we'll need to update this in both the sitenow

[2022-09-15 16:17] briand44 opened #5706 "Ability to output text on events block"
As a editor, I would like to be able to output a message on my events block so that site visitors and event creators can have some context to what is appearing in this block.

# Additional Information
This would allow folks without authenticated access to the website to understand how to tag events in content hub in order for them to be displayed.

# Proposed Solution

[2022-09-15 16:21] briand44 commented on #5706
Articles block was brought up in standup as well. Do we want to apply this to articles and people list blocks as well?

[2022-09-15 16:22] briand44 commented on #5706
We'll likely need to determine how/where we should output this message.

[2022-09-15 16:46] briand44 commented on #5704
Alert created, not published yet. https://its.uiowa.edu/alert/125506

[2022-09-15 17:07] briand44 commented on #5704
Alert has been published. We will need to follow up with the Help Desk or close this alert ourselves once we know maintenance has been completed.

[2022-09-15 19:06] bspeare commented on #5706
Isn't this more of a training issue with content hub?  If the issue is tagging events, what about adding more support documentation on content hub?  The documentation is pretty slim and it could definitely be expanded: https://content.uiowa.edu/home/documentation.    I'd rather go that route first than add a text area to all of our list blocks.

[2022-09-15 19:09] briand44 commented on #5706
@bspeare I initially mentioned that personally I felt this is more of a website governance issue and should be handled from that perspective.

I don't necessarily think it is a content hub documentation issue because it relates to how events need to be tagged in order to be displayed on each specific website.

[2022-09-15 19:10] bspeare commented on #5706
@briand44 I think this is definitely a governance issue after thinking about this more.

[2022-09-15 20:47] #5683 closed, assigned to nobody

[2022-09-16 14:57] briand44 opened #5707 "Evolve team working agreement"
# Story

As a web team, we would like to evolve our working agreement to be something more useful and something that we are more comfortable with.

# Additional Info

Proposals for updates to working agreements are being collected on wiki page.  We should make sure we do something with these as part of this.

We also discussed adding something around defensive coding practices and items that may r

[2022-09-16 15:03] briand44 commented on #5707
It was mentioned we could possibly evolve to more of a team values document?

[2022-09-16 16:02] mkyoder commented on #5663
Hi @pyrello! @bspeare and I looked through this site and we came up with some recommendations, feedback and several page mockups. This can be found here: https://iowa.sharepoint.com/:w:/s/OSCWebTeam/EYwWrXmW4JBGsjDDDhkcMQsB_jN2aRm_1shxFpgwP5B8yA?e=t3MR3Z

[2022-09-16 16:02] mkyoder commented on #5663
Let us know if you need anything else from us on this. Thank you! :)

[2022-09-16 16:07] GaryRidgway opened #5708 "Migration comparison operators"
Currently, migration scripts still have comparison operators, but it would be very difficult to discern the actual intent of what they are trying to do without running amok migration. This issue is to track all of the old migration scripts that have these comparison operators in them.

https://github.com/uiowa/uiowa/blob/6616743f51645bd0679b19b76bbfe3d12b956015/docroot/sites/tippie.uiowa.edu/modul

[2022-09-16 16:10] joewhitsitt opened #5709 "Travis deploy to develop no longer working"
"Skipping a deployment with the script provider because this branch is not permitted: develop"

Same travis config that is working for main.

Additionally, when it did seem to run and report back to Slack it was only uiowa03.

Manually triggering a code switch in the UI is the workaround.

[2022-09-16 16:14] joewhitsitt commented on #5708
I think given that these themselves won't be run again that maybe we just make sure going forward copy/pasta migration code is checked.

[2022-09-16 16:22] bspeare commented on #5706
If we did implement this, I would prefer have the option to display tags/interests output in each list item like in the screenshot below.  We would only want to show the tags chosen in the interests filter:

<img width="715" alt="Screen Shot 2022-09-16 at 11 21 00 AM" src="https://user-images.githubusercontent.com/1036433/190684928-ae49447f-ab7e-49ad-a04b-628fa78f0f4c.png">

The interests selected

[2022-09-16 16:26] cory-skeers commented on #5706
I like this idea as a general improvement, that I think would cover at least some of the reason behind the original request. There could still be some cases where interacting filters may lead to confusion on how to get an event added, but not sure how common that would be beyond just the tags. Maybe we could go this route, and then re-evaluate if there's still a need for further?

[2022-09-16 16:42] briand44 commented on #5706
Curious on the thoughts behind this? Why not Department or keywords, etc.?

I feel like limiting this to just "interests" only adds value to a very small portion. Not saying I am in favor of doing this for all filters, just reluctant to doing this for just one without understanding the reasoning.

[2022-09-16 16:43] joewhitsitt commented on #5706
Why?

This is going to get flagged for redundant links. Generally I think this should stay off the individual events if we are going to do it as it is a block level configuration.

---

Since there seems to be some agreement about site governance I am going to throw out the idea of a general submit an update, submit an event, crowdsourcing type page linked from the site footer that can provide all

[2022-09-16 17:29] bspeare commented on #5706
All good questions!  Yes, we probably would want to have the option to show interests, keywords, and departments if we went through with this.  Maybe the item that is being filtered is highlighted with a special color :).

And yes, if we go the text route let's put it in the footer of the block above the more button.

[2022-09-16 18:14] #5663 closed, assigned to bspeare, mkyoder

[2022-09-16 19:27] pyrello commented on #5663
Thanks @mkyoder and @bspeare! I'll review this and then share it with the customer.

[2022-09-16 20:29] joewhitsitt commented on #5315
Capturing the latest developments:

- Worked with one of the blt maintainers to get our phpcs working and prepped for when php-compatibility is updated for php8+
- Changed the purge module update
- Team is going through and manually updating our codebase to reduce the chance of one of our comparisons from being interpreted incorrectly https://www.php.net/manual/en/migration80.incompatible.php#migr

[2022-09-19 14:28] pyrello commented on #5580
@joewhitsitt suggested that we move this text from a card on our project board to the docs:

Deployment failure on `uiowa.test` was a potential early warning about issues with our scheduled deployment. In most recent case, it was not a showstopper, but maybe we want to make it a prerequisite to setting up a scheduled deployment that we either have a successful stage deployment, or we have investig

[2022-09-19 14:34] joewhitsitt commented on #5660
Based on the analytics work done on the previous issue, I wonder if we need to spend so much time on crafting the email message and article intro. Can we just turn this into more of a change-log and invite folks to reach out/attend demos if they want to learn more about a particular thing?

[2022-09-19 14:42] bspeare commented on #5660
@joewhitsitt I like that idea!

[2022-09-19 17:41] #5697 closed, assigned to nobody

[2022-09-19 17:41] #5703 closed, assigned to nobody

[2022-09-19 18:04] joewhitsitt commented on #5522
Rick created a wiki entry for this before he left: https://wiki.uiowa.edu/display/drupaldev/Acquia+Applications

Easy peasy?

[2022-09-19 18:11] pyrello opened #5714 "IISC - Refactor projects page to allow for passing in a search term"
# Motivation

To improve discoverability for projects on the IISC site, I would like to refactor the Projects page (https://iisc.prod.drupal.uiowa.edu/projects) to add a search filter that can return results based on the title of the project or the partner name. The current set of filters already looks kind of crowded and this is before adding a "Reset" button:
<img width="1332" alt="Screen Shot 2

[2022-09-19 20:08] #5666 closed, assigned to bspeare

[2022-09-19 20:20] briand44 commented on #5701
They decided they would prefer just removing the link to the taxonomy term entity rather than linking to an external page

[2022-09-19 21:07] pyrello commented on #5580
I added https://github.com/uiowa/uiowa/issues/5580#issuecomment-1245844295 to
https://wiki.uiowa.edu/display/drupaldev/Development+Workflow

[2022-09-19 21:13] bspeare commented on #5630
I have sent these recommendations to Viki.

[2022-09-19 21:13] #5630 closed, assigned to nobody

[2022-09-19 21:17] quamsta opened #5715 "Open links within fields' help text fields in new tabs"
# Story

As a developer, when I click on a link from help text in a description under a field (in a block configuration option or while editing a node), the link should open in a new tab. Followup from: https://github.com/uiowa/uiowa/pull/5696#issuecomment-1249621999
# Proposed solution

Adjust the following links found in the following configuration settings to open in new tabs via `target="_blan

[2022-09-19 21:19] briand44 commented on #5701
This has been deployed

[2022-09-19 21:19] #5701 closed, assigned to briand44

[2022-09-19 21:20] bspeare commented on #5660
@joewhitsitt how would this look?  It would be nice to reduce the steps involved here.

Reduce the time to craft the article intro and just list:
- New features, bug fixes, site launches?

Reduce the time adjusting the Dispatch template:
- Create standard Dispatch template language that just links to https://sitenow.uiowa.edu/news showing a new article at the top of the list?

[2022-09-19 21:25] bspeare commented on #5660
Could remove the Dispatch step and instead advertise the monthly article in our Sprint Demo emails?  It would be an interesting experiment to try and then compare the analytics.

[2022-09-19 21:32] joewhitsitt commented on #5660
So the dispatch list and the ui-web lists are different lists of people.

If we moved away from dispatch for the monthly articles, I think at the very least we should send out one more saying we plan to spam them less but that big announcements will still be sent to this list and that if they want more regular updates, check the website, subscribe to the ui-web list and/or attend our demos.

[2022-09-19 21:34] joewhitsitt commented on #5660
Mainly, the idea of creating a warm-up paragraph for the article and email might be over the top for the amount of engagement we get and that our bullet items don't need to be borderline documentation.

[2022-09-20 13:37] briand44 commented on #5241
Quick search turned up that this module exists on 701, 702, 703, signage, healthcaresignage. Also, noticed some references to bongo.org on Hawktools, Housing, Dining. Could be more

[2022-09-20 13:46] briand44 commented on #5241
We may be able to update bongo.org links to link to icareatransit.org. So https://bongo.org/stop/1050 would be updated to https://icareatransit.org/stop/1050.

[2022-09-20 13:56] joewhitsitt commented on #5522
We will also need to review the cron offsets

[2022-09-20 14:12] pyrello commented on #5580
I have moved all the sections that were created as part of this issue into the wiki.

[2022-09-20 14:12] #5580 closed, assigned to pyrello

[2022-09-20 14:37] quamsta commented on #5715
as @briand44 said in daily scrum, another idea would be we could try is attempting to warn users when they navigate away from editing a node or block. I mentioned this in another PR:

https://github.com/uiowa/uiowa/pull/5696#issuecomment-1247114018

However, this may be a core change or at least a much larger-reaching change that may require quite a bit of doin'

[2022-09-20 15:06] briand44 commented on #5704
It appears this maintenance has been completed. I closed the ITS alert.

[2022-09-20 15:06] #5704 closed, assigned to briand44

[2022-09-20 15:36] joewhitsitt commented on #5383
Getting a warning during Travis `No tests found in class "Drupal\Tests\sitenow_find_text\Functional\FindTextAjaxTest"` so it would be nice to address this sooner than later. If there are no complications, I'd do it now but I don't want the current PR I am working on to get any bigger...

[2022-09-20 15:40] joewhitsitt commented on #5709
Heh.. Looks like the develop branch was just really messed up. Rebuilding from main and it is deploying on all applications. Closing

[2022-09-20 15:40] #5709 closed, assigned to nobody

[2022-09-20 18:08] joewhitsitt commented on #5241
Do we need to put out an announcement about this? I know there are some content links pointing there.

[2022-09-20 18:11] briand44 commented on #5714
The text search would be the primary/default search

[2022-09-20 18:45] joewhitsitt commented on #5693
IMO using the accordion item title/id solution here would be fine

[2022-09-20 18:45] briand44 commented on #5693
Waiting on this to see if it is needed or if they can track based on button text per url.

[2022-09-20 18:56] briand44 commented on #5241
My understanding is that the CSI app devs own Bongo and that any communication regarding this should come from them. I can ask if they are planning on any communication once I hear back on if the domain is actually expiring. I think there was previous communication around this long ago but it may not hurt to communicate again.

I'll also ask about the redirect.

[2022-09-20 19:09] briand44 opened #5716 "oneit.uiowa.edu feature requests"

[2022-09-20 19:12] briand44 commented on #5716
I let them know there is some basic "Thank You" functionality but not sure if that will meet their needs or there will need to be additional enhancements. There are a couple enhancements currently in our backlog.

https://github.com/uiowa/uiowa/issues/4571
https://github.com/uiowa/uiowa/issues/4572

[2022-09-20 19:54] briand44 commented on #5559
Should we consider this done based on https://wiki.uiowa.edu/display/drupaldev/Development+Workflow#DevelopmentWorkflow-Someconditionsunderwhichyoushouldrequestchangeswhendoingacodereview: and https://wiki.uiowa.edu/display/drupaldev/Development+Workflow#DevelopmentWorkflow-Shouldthereleasebedeployedoff-hours?

[2022-09-20 20:23] pyrello commented on #5601
This has been paused while we were figuring out how we could potentially wrangle the existing 91st Meridian content into a more standard package that could be shared with other periodical websites. Here are some examples I have been looking at for inspiration:
- https://iowareview.org/
- https://exchanges.uiowa.edu/
- https://www.vqronline.org/issues/92/2/spring-2016
- https://www.nplusonemag.com/

[2022-09-20 20:31] bspeare opened #5717 "Request: Allow more special characters in CKEditor"
# Request

Melanie in engineering has requested the inclusion of Greek letters in the Insert Symbol menu in the WYSIWYG editor.

# Proposed solution

- ?

[2022-09-20 20:35] bspeare commented on #2121
This would be great to have in place and save a lot of time for each site launch.  Also, I just worked with someone building out a lab site with only the publisher/editor role access and they did not have access to the site information page to set these values.

[2022-09-20 21:14] joewhitsitt commented on #5315
Here is the latest:

- Comparison operator changes is done (will need testing).
- Opened ticket with Acquia https://github.com/uiowa/uiowa/pull/5611#issuecomment-1252660135 - this branch is not auto deploying to acquia and a manual code switch causes a bunch of other issues.
- Update acquia blt and dependencies in an attempt to fix things. Didn't.

Lot of good stuff in this PR, but with the latest

[2022-09-21 13:21] pyrello commented on #5315
If we are not going to merge this in the immediate future, I think we are abandoning some or all of this work until it becomes a priority again. Given the changes in the PR as well as the extra hurdles required to switch into and out of it, it seems like more work to try to keep it open for any extended length of time. There will inevitably be quite a few merge conflicts that need to be resolved.

[2022-09-21 13:30] joewhitsitt commented on #5315
👍

My hope is that the blt file, travis file and phpcs file are the php 8 only bits. The composer updates should all be backwards compatible.

[2022-09-21 14:29] briand44 commented on #5559
Marking this complete

[2022-09-21 14:29] #5559 closed, assigned to nobody

[2022-09-21 14:47] briand44 commented on #5705
There are db updates with this

[2022-09-21 14:56] joewhitsitt commented on #5705
i doubt they are changing anything stored in a feature though right?

[2022-09-21 15:10] briand44 commented on #5705
I wouldn't think so. Checked Registrar and no features overridden

[2022-09-21 15:48] briand44 commented on #5705
703 done

[2022-09-21 16:14] briand44 commented on #5705
702 done

[2022-09-21 16:36] joewhitsitt commented on #5520
Part of this proof of concept will involve a site split and a content type if anyone has the capacity to set that up.

[2022-09-21 17:09] joewhitsitt commented on #5315
Was able to move forward with this and keep the 8.1 upgrade in place. https://github.com/uiowa/uiowa/pull/5611 is ready for review

[2022-09-21 17:10] joewhitsitt commented on #5520
Hoping to start looking at this after 1 PM. Will start a huddle.

[2022-09-21 18:21] briand44 commented on #5705
701 done

[2022-09-21 18:25] joewhitsitt commented on #5520
@briand44 Do you know if there is there going to be MAUI data that needs to be modified or overridden on the content type? The parent issue talks about "additional" data that is not kept in MAUI that needs to be added/edited.

[2022-09-21 18:29] briand44 commented on #5705
There are other application still on 7.x-3.10 but I guess we should wait for RA. Closing this.

[2022-09-21 18:29] #5705 closed, assigned to briand44

[2022-09-21 18:40] briand44 commented on #5520
I am not sure going forward. Currently, I believe UCR/SPS (Registrar classrooms) do allow modifying MAUI data but it is reset during an import if the source entity changes. I believe this works because they manually trigger that import and it is not running on a schedule. I don't believe the classrooms on the classrooms website overrides MAUI data currently, just allows adding additional informati

[2022-09-21 18:42] makurj commented on #5520
Should we have users pick building and room from a pre-populated list that we build off of the MAUI data? https://github.com/uiowa/uiowa/issues/4966#issuecomment-1121237415

[2022-09-21 19:47] briand44 commented on #5241
It looks like if you go to bongo.org it redirects to icareatransit.org?bongo=true and then outputs a message letting folks know they should update bookmarks.

Haven't received any further clarification on this today. It looks like Mark H is out but will be back tomorrow. I will follow up with him tomorrow.

[2022-09-21 22:02] joewhitsitt opened #5719 "Content Hub - Incomplete addresses are sent resulting in Null Farms"
# Problem
Within content_hub_core/inc/content_hub_core.event_sync.inc for node insert/update there is code that is sending the value of the address field off to events.uiowa.edu but is not checking to see if all values within the compound field are populated.

[code]
This ends up being passed as `,,` and geolocated to Null Farms.. 🤣

![event calendar](https://user-images.githubusercontent.com/4663

[2022-09-22 15:19] joewhitsitt commented on #5520
Capturing some thoughts from the probe:

- I think I recall that we wanted to avoid importing and that instead we were going to migrate initial content and then have manual content management from then on to edit the additional information (non-maui) and create and display new rooms.
- Like Rick had previously mentioned, there is not a "MAUI ID" to work with. Instead we need a building id and a ro

[2022-09-22 16:23] briand44 commented on #5241
So, I went ahead and renewed this for 1 more year. The plan is to pick a date when we want to "turn off" DNS, send comms out (likely UI Web Community, UI App Dev Community, maybe others like Iowa City/Coralville) and then if no push back, go ahead and "turn off" DNS. I can likely figure out this part in combination with the CSI app dev team.

This issue is still relevant since the plan is to still

[2022-09-22 16:35] briand44 opened #5721 "Upddate to version 3.5.0 of the Snowplow/Radar JS tracking code."
# Proposed Solution

- [x] Understand the updates and breaking changes and what effect that has
- [ ] Update to 3.5.0

[2022-09-22 16:47] pyrello opened #5722 "Add ability to have people in lists link directly to first website"
# Motivation

On https://uicb.prod.drupal.uiowa.edu/associates, UICB would like to just have the record directly link to an external website to prevent the user from having to click through to the profile then click a link to a website.

This is kind of similar to the "Link directly to source" feature with articles.

# Proposed solution

- Adapt logic for article content type to "link directly to

[2022-09-22 17:53] pyrello opened #5723 "IISC - Run migrations"
# Set up locally to double check
- `ddev blt ds --site iisc.uiowa.edu`
-

# Run in production

We have previously ran these in dev but it may make sense to run them there again to make sure things don't time out and we haven't introduced any new issues. Not sure if we can sync dev and run or if that will cause issues?

[2022-09-22 20:07] #5520 closed, assigned to joewhitsitt, makurj

[2022-09-22 20:20] mark-bennett-uiowa commented on #1550
@pyrello What if we called this "Carat Content", "Pyramid Content", "Conical Content", or "Funnel Content" (because of the shape) rather than a Program block? Have this setup as follows:
- h2 title and text block in the top section.
- h3 title and text block in the two lower sub-sections, with available link buttons similar to banners/CTA/etc
- keep styling as described above with thin, light-colo

[2022-09-23 14:32] GaryRidgway commented on #5721
Deadline?

Michael: doesn't have to be next sprint, would like to understand changes and the why. Until we learn otherwise, consider important but not urgent.

[2022-09-23 15:39] briand44 opened #5726 "Allow broken links message to be displayed on all articles based on a relative date"
# Story

As a SiteNow user, I would like to be able to display a broken link message on all articles that were created prior to a configurable relative date.

[2022-09-23 15:49] briand44 commented on #4716
There has also been a request to add DEI as more prominent link on the homepage site. May be useful to keep in mind while addressing this issue.

[2022-09-23 15:56] mjoneill commented on #4716
Jeneane and Charley are going to discuss this. We should be aware of options here, but should not move forward implementing anything we hear more and understand the ask more.

[2022-09-23 16:30] e-marie-w commented on #5626
I added a couple sentences to the documentation: https://sitenow.uiowa.edu/node/241/latest and https://sitenow.uiowa.edu/node/126/latest. Saved them as draft so someone can look at them and then we can publish after the feature goes out as part of a deployment.

[2022-09-23 16:48] briand44 commented on #5241
## Bongo module usage:

703
housing.uiowa.edu - This site is now on v3. Could likely disable the module here. The D7 site may go away on Tuesday.
dining.uiowa.edu

702
~intranet.oneit.uiowa.edu - doubt it is actually being used here. We could potentially disable this module.~

701
hawktools.uiowa.edu - local bongo module

Signage
signage.uiowa.edu

HC Signage
signage.uihealthcare.org

CLAS
It is h

[2022-09-23 18:48] #5708 closed, assigned to nobody

[2022-09-23 19:27] pyrello commented on #5315
As part of merging #5611 and deploying to stage, each application's stage environment has been updated to PHP 8.1

[2022-09-23 19:42] briand44 commented on #5241
How should we handle these changes to the bongo module? My understanding is that we are currently using the contrib module https://www.drupal.org/project/bongo. Should we move this to custom when we make these changes and run a `drush cc all` after? Leave it in contrib and hack it? Update version?

[2022-09-23 20:26] briand44 commented on #5241
Could remove it from the profile on 701-703 and add it local only where needed (maybe just hawktools which it is already local and dining)

[2022-09-23 20:31] pyrello opened #5729 "PHP 8.1 issues"
A place to collect any issues we notice while testing the rollout on stage of #5611

[2022-09-23 20:33] GaryRidgway commented on #5241
what does that look like? are we still able to make the same api calls with [icareatransit.org](http://icareatransit.org/)?

[2022-09-23 20:33] bspeare commented on #5729
- The “Event Series” block on https://admissions.stage.drupal.uiowa.edu/test-page-0 is WSOD.
- The "Student Profiles Grid" block on https://admissions.stage.drupal.uiowa.edu/california-hawkeyes is WSOD.

[2022-09-23 20:55] GaryRidgway commented on #5241
I have started on a feature branch for 701

[2022-09-23 21:05] mark-bennett-uiowa commented on #2670
Pulled for testing.

[2022-09-23 21:27] briand44 commented on #5241
checking to see if we can turn off the Bongo module for OneIT intranet.

[2022-09-23 21:28] briand44 commented on #5241
@mark-bennett-uiowa do you happen to know of any CLAS sites that would be using the Bongo module? It looks like the module is available on the CLAS application, I'm just not sure if it is actually being used.

[2022-09-23 21:40] bspeare commented on #2670
After working with this a bit, I would be in favor of rolling out this spacing as the default for all existing pages without an update hook.

- All blocks are not designed to be stacked on top of each other, having this extra space implemented will help existing layouts that do have blocks stacked within the same column.
- Stacked blocked that have used the top and margin block styles will continu

[2022-09-23 21:47] briand44 commented on #5241
disabled and uninstalled bongo and bongo content panes from the OneIT Intranet

[2022-09-23 22:06] mark-bennett-uiowa commented on #2670
This looks good with the new margin-top addition on not-first children in a column.

- The card blocks now have .block class added from original post
- The card blocks do not have the .block-component class from Aug 1 post.
- Good spacing of 1.5rem, works for both mobile and non-mobile display:
![margins1](https://user-images.githubusercontent.com/3067017/192057872-dfc5aead-2b7b-4d3e-a1a5-5513a225

[2022-09-23 22:15] mark-bennett-uiowa commented on #5241
The only site that should or would be using that was the old [https://clas.uiowa.edu/signage/](https://clas.uiowa.edu/signage/) that is no longer used and was replaced by signage.uiowa.edu years ago.

I am going to ping Isaac Podolefsky and see if he can check the device/site list to see if any devices are still pointing at the clas.uiowa.edu/signage domain.

I would be fine uninstalling and remov

[2022-09-23 22:59] e-marie-w commented on #3204
This afternoon I enabled the module (not certain on how to have it on but not enabled). I re-saved displays and exported the changed config, following what `core.entity_view_display.*` files Admissions had split.
Basically,
[code]
got added to a lot of default files and deleted from a lot of Admissions files.

For some reason exporting `core.entity_view_display.block_content.uiowa_quote.default` c

[2022-09-26 12:46] briand44 commented on #5241
I updated the IS with a proposed solution

[2022-09-26 14:17] mark-bennett-uiowa opened #5731 "Leading a brief, but intensive, training for the CLAS Communicators Network on the new Drupal 9 system"
Running a quick demonstration (35-45 mins) on the new Drupal 9 system for the CLAS Communicators Network. Topics will include the existing SiteNow/branding/training sites that already exist, some HowTo demos, pitfalls to avoid when creating/updating content, etc. This is scheduled for 1:30-2:30pm on Wednesday.

[2022-09-26 14:28] mark-bennett-uiowa opened #5732 "Epic: As a developer, I can create a custom structure for festivals for the Iowa Summer Writing Festival site."
Placeholder for more details. The Iowa Summer Writing Festival is moving to a new Drupal 9 version of their existing site. After two years of going online for the festival, they are moving back to in-person, and will need to have their Festival structure recreated/improved for the upcoming festival and beyond.

For each festival, they have sessions, which contain multiple events/courses, which are

[2022-09-26 15:08] mkyoder commented on #4894
Hi! Can we add Pappajohn Business Building to this list?

Pappajohn Business Building is mislabeled as "Papajohn Business Building"

<img width="260" alt="Screen Shot 2022-09-26 at 9 55 28 AM" src="https://user-images.githubusercontent.com/107870104/192313184-6144d2e4-fe2f-4414-a9b3-529ee76db245.png">

[2022-09-26 15:44] bspeare commented on #5723
I'm going to try running this locally to test out https://github.com/uiowa/uiowa/pull/5727.

<details>

[code]

</details>

[2022-09-26 18:07] joewhitsitt commented on #4049
Noticed we also allow 20 MB uploads on the slide content type. 10 MB on the global add

[2022-09-26 18:47] makurj commented on #5729
https://default.uiowa.ddev.site/admin/config/system/site-information
`TypeError: htmlspecialchars(): Argument #1 ($string) must be of type string, Drupal\system\Entity\Menu given in htmlspecialchars() (line 424 of core/lib/Drupal/Component/Utility/Html.php)`

[2022-09-26 19:06] bspeare commented on #5723
I've run the migration.    There are a few notes on how it went at https://iowaweb.slack.com/archives/C0164FNN1PV/p1664212679502409.

What's the next step for turning the migration stuff off?

1. - Disable split?
2. - `cim`
3. - Uninstall sitenow_migrate module

[2022-09-26 19:20] joewhitsitt commented on #5729
Looking into this basic site settings error ^^

update: this should be fixed by https://github.com/uiowa/uiowa/pull/5730/commits/73daf26b48097a237dbe33ae5c0eac4a5f4ff8db

[2022-09-26 20:56] briand44 commented on #5241
703 and 702 have been deployed to prod and are complete. CLAS is also complete. I have deployed 701 to dev and still want to do some testing there before deploying to prod.

[2022-09-26 20:57] pyrello commented on #5729
This sounds like an issue I already fixed.

[2022-09-26 21:14] joewhitsitt commented on #5729
[code]
https://www.drupal.org/project/diff/issues/3256598
https://www.drupal.org/project/diff/issues/3310332

Fixed by https://github.com/uiowa/uiowa/pull/5730/commits/4f2ad84cf93acd5f1a5783dba877f1e7cf46246b

[2022-09-27 14:29] pyrello commented on #1503
ISRP is going with the Esploro option, so no more work is needed here.

[2022-09-27 14:50] bewoldt opened #5734 "Add TikTok to fontawesome picker in social media menu"
# Problem
TikTok doesn't show up as a fontawesome icon to choose from in the social media menu.

[2022-09-27 15:04] briand44 commented on #5241
701 deployed to prod

[2022-09-27 15:04] #5241 closed, assigned to briand44, GaryRidgway

[2022-09-27 15:05] #1503 closed, assigned to nobody

[2022-09-27 15:37] joewhitsitt commented on #5734
@bewoldt we are currently in a rough spot as it relates to fontawesome. The icon is available but it doesn't show up in the picker: https://github.com/uiowa/uiowa/pull/2136

`fab fa-tiktok`

I think this should be repurposed to explore our future with fontawesome and how to move away from fontawesome_iconpicker

https://github.com/uiowa/uiowa/pull/5511#issuecomment-1206852059
https://www.drupal.or

[2022-09-27 16:27] joewhitsitt commented on #5729
Since folks might be testing today in stage, I think it would be good to merge in these fixes.

[2022-09-27 16:39] joewhitsitt commented on #5729
Ha. Actually, we should update menu_admin_per_menu to 1.4 (1.5 if we want d10 compatibility, new permissions) https://www.drupal.org/project/menu_admin_per_menu/issues/3261472

[2022-09-27 16:55] GaryRidgway commented on #5729
Found this:
![Screen Shot 2022-09-27 at 11 39 36 AM](https://user-images.githubusercontent.com/23122142/192588597-bc84d0ae-3ea6-4b66-8516-6ee4f91b5f9a.png)

The line in question is `$values['value'] = $random->word(mt_rand(1, $field_definition->getSetting('max_length')));`

[2022-09-27 18:12] briand44 commented on #5670
Grooming conversation - get feedback on if experts are all faculty or how to distinguish between staff and experts. Also feedback on research areas vs areas of expertise terminology. Custom view display to expose filter for research areas and output research areas in teaser display.

[2022-09-27 18:41] briand44 commented on #5660
Grooming - conversation... Start by making the communication more of a list and less of a story to speed up the process. If we still feel this takes to much effort, revisit getting rid of the monthly email and just send a communication to that list letting them know we will no longer be sending monthly updates and to just check the website.

[2022-09-27 18:53] quamsta commented on #4084
Could this be done more from the Dispatch side of things? For example, there could be a field in Dispatch that you can paste an article's URL into and some sort of corresponding button/action that would scrape all of the article's body text from an existing page and populate the communication?

<img width="1203" alt="Screen Shot 2022-09-27 at 1 53 10 PM" src="https://user-images.githubusercontent.

[2022-09-27 18:54] briand44 commented on #4716
Grooming Conversation - Go forward with the suggestion in https://github.com/uiowa/uiowa/issues/4716#issuecomment-1211081749 but removing the external link treatment for Alumni and Friends and Healthcare. We can get feedback and adjust if needed.

[2022-09-27 19:12] bspeare commented on #5714
Here's an update from the discussion this morning.

- Set filters to auto submit
- Adjusted "reset" button to look like UIDS4 small button with light font
- Adjusted teaser template to show partners (It now shows tons of bold text)
- Changed summary marker to use a font awesome icon instead

https://user-images.githubusercontent.com/1036433/192608462-c2b75106-40d0-4099-b920-e6a2edc72173.mov

[2022-09-27 19:35] joewhitsitt commented on #5729
Addressing https://github.com/uiowa/uiowa/issues/5729#issuecomment-1259788951

that a separate issue to address this would be better.

[2022-09-27 19:39] joewhitsitt opened #5735 "SSL - *.asian-slavic.uiowa.edu on uiowa01"
to cover dei-speaker-series.asian-slavic.uiowa.edu

[2022-09-27 19:43] joewhitsitt opened #5736 "SSL - *.stanleymuseum.uiowa.edu on uiowa02"
to cover campuscouncil.stanleymuseum.uiowa.edu

[2022-09-27 19:57] joewhitsitt commented on #5236
We upgraded blt as part of #5611

[2022-09-27 19:57] bspeare commented on #2670
After the discussion this morning, I think it might make sense to add the "Margin" style to every block and allow users to "Remove default margin" from each block instead of at the section level since we are already setting custom margins on some of our blocks already.   I've adjusted the pr https://github.com/uiowa/uiowa/pull/5725/commits/26b45ad8a5d9ee6d91577d842e8d8d19ed121295 if anyone wants t

[2022-09-27 19:59] joewhitsitt commented on #2670
Do we need to update feature and site splits that have custom blocks?

[2022-09-27 20:03] bspeare commented on #2670
@joewhitsitt I would vote to not update those since this is a minimal spacing change that occurs only if two blocks are stacked in the same layout.

I could see us adding it and other margin properties to custom blocks like https://github.com/uiowa/uiowa/issues/5565 or https://github.com/uiowa/uiowa/issues/4917 as we revisit those blocks in the future.

[2022-09-27 21:07] joewhitsitt opened #5738 "Update typhonius/acquia-php-sdk-v2"
Noticing deprecated code when provisioning websites. https://github.com/typhonius/acquia-php-sdk-v2

[code]

[code]

This is what calls https://github.com/thephpleague/oauth2-client

[2022-09-27 21:10] joewhitsitt commented on #5664
When updating smart_date to 3.6+ it should resolve a deprecated code warning:

[code]

This was noticed when streaming logs and workin with the uiowa_events block.

[2022-09-27 21:13] joewhitsitt commented on #5729
Though https://github.com/uiowa/uiowa/pull/5730 was merged in, kept this issue open as https://github.com/uiowa/uiowa/issues/5729#issuecomment-1259788951 has not been addressed yet.

[2022-09-28 08:46] mark-bennett-uiowa commented on #5731
Presentation is done, final polishes will happen in the morning prior to demo.

[2022-09-28 13:34] briand44 opened #5739 "PHP error deprecated strlen()"
```php-error web-33204 [28-Sep-2022 13:32:20 UTC] PHP Deprecated: strlen(): Passing null to parameter #1 ($string) of type string is deprecated in /usr/local/php7.4/lib/php/Net/DNS2/Socket/Sockets.php on line 112 request_id="v-fa861ea6-3f31-11ed-a9e7-4f670571d918"```

# Problem
Not currently sure what problem this is causing

# Steps to reproduce
Not sure how to produce just seeing this in the log

[2022-09-28 13:35] joewhitsitt commented on #4330
Noticed this when saving a slider, text area on sandbox.prod homepage

[2022-09-28 13:38] joewhitsitt commented on #5546
Noticed it with an article list block save on sandbox.prod homepage

[2022-09-28 13:40] pyrello commented on #5739
I was watching the logs while logging into brand.uiowa.edu and saw this error occur. Not sure if it is a coincidence or not.

[2022-09-28 13:41] pyrello commented on #5739
Seems like it must have been a coincidence because I did not see it an entry of the above show up when I logged into law.uiowa.edu.

[2022-09-28 13:41] joewhitsitt opened #5740 "publish_options_allowed_values cannot be empty for generateSampleValue"
# Problem
[code]

# Steps to reproduce
Try to open page display settings

# Proposed solution
- There is an upstream issue to allow generateSampleValue to fail (https://www.drupal.org/project/drupal/issues/3208480), but I think we can work around this.
- This function so far is only being used on the page content type so defining the options as default should be fine, leaving the alter within the

[2022-09-28 13:43] joewhitsitt opened #5741 "IowaNow - Embargo field errors within generateSampleValue"
![Screen Shot 2022-09-27 at 11 39 36 AM](https://user-images.githubusercontent.com/23122142/192588597-bc84d0ae-3ea6-4b66-8516-6ee4f91b5f9a.png)

The line in question is `$values['value'] = $random->word(mt_rand(1, $field_definition->getSetting('max_length')));`

_Originally posted by @GaryRidgway in https://github.com/uiowa/uiowa/issues/5729#issuecomment-1259788951_

[code]

# How to reproduce
- G

[2022-09-28 13:47] joewhitsitt commented on #5729
Created a separate issue (https://github.com/uiowa/uiowa/issues/5741) for https://github.com/uiowa/uiowa/issues/5729#issuecomment-1259788951. Wondering if we can close this issue in favor of that and the other issues we have discovered https://github.com/uiowa/uiowa/issues?q=is%3Aopen+label%3Aphp+is%3Aissue

[2022-09-28 13:49] pyrello commented on #5739
Here are some instances where the value we are passing to `strlen` could be `NULL`:
https://github.com/uiowa/uiowa/blob/30d334922427556992da6ebace7143949a1c7782/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L585-L592
https://github.com/uiowa/uiowa/blob/30d334922427556992da6ebace7143949a1c7782/docroot/themes/custom/uids_base/theme-settings.php#L20
https://github.com/uiow

[2022-09-28 13:50] joewhitsitt commented on #5315
This has been deployed to prod on all d9 applications. Closing

[2022-09-28 13:50] #5315 closed, assigned to joewhitsitt

[2022-09-28 13:52] pyrello commented on #5739
Context: https://php.watch/versions/8.1/internal-func-non-nullable-null-deprecation

[2022-09-28 14:00] joewhitsitt commented on #5740
fixing this locally reveals a new error:

`ValueError: array_rand(): Argument #1 ($array) cannot be empty in array_rand() (line 67 of core/modules/options/src/Plugin/Field/FieldType/ListItemBase.php).` which seems to relate to #5741

[2022-09-28 14:07] mkyoder commented on #4716
Good morning! Here is the research on the exposed menu and recommendations for athletics. I think there are a variety of directions to go here. Here is a link to both data and recommendations.

[UI Exposed Menu Competitive Analysis.xlsx](https://iowa.sharepoint.com/:x:/s/OSCWebTeam/EZhVRsReTWhEpTaxOv35Q14BFUTDeWpcJ-Fq3M9Pd-EUpA?e=JHE763)
[Exposed Menu Recommendations - F2022.docx](https://iowa.sha

[2022-09-28 14:33] pyrello commented on #5732
Looks like this is the current site? https://iowasummerwritingfestival.org/

Noting the custom domain. Also, it looks like this is a slightly custom design. Do you think that they will be okay with a branded experience?

[2022-09-28 14:46] briand44 commented on #5670
They said they are ok with using "Research areas" terminology.

Not all experts are faculty so it sounds like we will want to use an "Experts" tag and assign that tag when migrating people that are currently of the type "Faculty experts".

[2022-09-28 14:59] joewhitsitt commented on #5741
Before we rush to add a max_length to this, I want to point out that no `string_long` type fields have this currently. Only type `string` has it.

<img width="839" alt="Screen Shot 2022-09-28 at 9 57 36 AM" src="https://user-images.githubusercontent.com/4663676/192813500-cbb92aec-1e8d-4fdc-895d-fb13a00c4457.png">
<img width="899" alt="Screen Shot 2022-09-28 at 9 57 51 AM" src="https://user-images.

[2022-09-28 15:25] #5672 closed, assigned to nobody

[2022-09-28 16:03] joewhitsitt commented on #4966
- Need a human friendly name instead of "ABW 240"
- Featured image
- Gallery field to replace carousel
- Registrar rooms are classified as Level 1 and Spceialty Spaces, "roomCategory": "SPECIALTY_SPACE", "roomCategory": "UNIVERSITY_CLASSROOM", (Level 1)
- Room and Tech features are pulled in (currently one feed item, but could loop through and be string match to the separate taxonomy vocabularies)

[2022-09-28 16:43] joewhitsitt commented on #5741
Not sure why we are seeing a stacktrace for StringItem when docroot/core/lib/Drupal/Core/Field/Plugin/Field/FieldType/StringLongItem.php exists and has a separate generateSampleValue()

[2022-09-28 16:45] cory-skeers commented on #5741
I'm getting a little confused here too. Looking at the field settings in the UI, it comes up with an empty max length, which would be expected if it was a plain text string, but shouldn't be there for a plain, long text string. 🤷

[2022-09-28 16:46] joewhitsitt commented on #5741
And why this field and not on field_teaser?

[2022-09-28 16:55] GaryRidgway commented on #5741
this is so confusing...

[2022-09-28 16:56] joewhitsitt commented on #5741
Started a thread in https://drupal.slack.com/archives/C0T77ULN9/p1664384152371669

[2022-09-28 16:58] joewhitsitt commented on #5741
My hope is that it isn't related to patch or some dev commit elsewhere in our codebase.

[2022-09-28 17:25] GaryRidgway commented on #5741
![Screen Shot 2022-09-28 at 12 25 27 PM](https://user-images.githubusercontent.com/23122142/192848797-2fdcb8a6-9e29-4c7f-b7a3-7884aa3108b9.png)
I think I am on to something

[2022-09-28 17:28] GaryRidgway commented on #5741
![Screen Shot 2022-09-28 at 12 27 04 PM](https://user-images.githubusercontent.com/23122142/192849295-0c4e5c66-e1f8-4e4b-aee5-a1790331216a.png)

[2022-09-28 17:35] GaryRidgway commented on #5741
![Screen Shot 2022-09-28 at 12 35 36 PM](https://user-images.githubusercontent.com/23122142/192850702-febc34c8-2a20-4a27-823a-ba1526f29fec.png)

[2022-09-28 18:09] cory-skeers commented on #5741
Interesting! That definitely looks like it could do it. Looks like field_storage and field config definitions aren't matching... Can we just update the field config file to match the field storage, without breaking things?

[2022-09-28 18:14] joewhitsitt commented on #5741
Ah i see. The field instance is `string.` The field instance for teaser is `string_long.` not sure if that would work, but now I am wonder how it got that way. was there a field type change during development?

[2022-09-28 18:18] cory-skeers commented on #5741
I don't remember there being any changes during development, but the initial PR had this discrepancy too, so it at least didn't break during any follow-up development.

I'm surprised it was able to end up in this state, and that we didn't see anything broken before now.

My guess would be that if we are able to get here, changing the config definition for field should work to fix it without breaki

[2022-09-28 18:18] GaryRidgway commented on #5741
https://github.com/uiowa/uiowa/compare/main...now-contact#diff-a18715ef3d4dacfebb5337ca35b0aaca8baa88a3e7c3f8b14eec6ab1f4902fc4R46

this is the only manual thing i changed for the embargo info

[2022-09-28 18:31] cory-skeers commented on #5741
I tested locally adjusting
`config/sites/now.uiowa.edu/field.field.node.article.field_embargo_information.yml ` `field_type` from `string` to `string_long`, and updating `config/sites/now.uiowa.edu/config_split.patch.core.entity_form_display.node.article.default.yml` `type` to `string_textarea` with `rows: 2` in place of size...

It appears to work after importing the changes, and I can push them

[2022-09-28 18:33] GaryRidgway commented on #5741
I have nothing to push up, you can push your changes. So my question in the end here is, did I do this? I can't remember doing so?

[2022-09-28 18:34] cory-skeers commented on #5741
Alright, I'll push it up. And nope! This was somehow in here already, and it just didn't get noticed until now.

[2022-09-28 18:39] cory-skeers commented on #5741
Pushed, and I think if you do a config import or fresh sync, you should now be able to proceed.

[2022-09-28 19:55] #5236 closed, assigned to nobody

[2022-09-28 20:21] GaryRidgway commented on #5741
Thanks cory!

[2022-09-28 20:21] #5741 closed, assigned to GaryRidgway

[2022-09-28 20:36] briand44 opened #5743 "Add pop up javascript to all pages of OSC website"
As an OSC website stakeholder, I would like to present a survey to site visitors when they are attempting to leave the site so that we can gain feedback on who they are, what they were looking for, if they were successful and any other feedback related to their experience.

# Additional Information

The popup will be presented by Unbounce and link to a Qualtric survey.

The Qualtrics survey url is

[2022-09-28 20:55] briand44 commented on #5743
@mkyoder do we have the JS that will need to be added or is that not available yet?

[2022-09-28 20:56] mkyoder commented on #5743
@briand44 Yep! I can add that link here.

[2022-09-28 20:56] mkyoder commented on #5743
Qualtrics survey link: https://uiowa.qualtrics.com/jfe/form/SV_8CFaAGGPlf2vxI2
JS: <script src="https://8ee990345a6d4219b91e150f646944df.js.ubembed.com" async></script>
<img width="1076" alt="Screen Shot 2022-09-28 at 3 57 41 PM" src="https://user-images.githubusercontent.com/107870104/192887384-84939907-1125-4b01-b91d-8d7ff8205ec5.png">

[2022-09-28 20:56] briand44 commented on #5743
Adding blocked label until the Unbounce popup is finalized.

[2022-09-28 21:44] mark-bennett-uiowa commented on #5731
Presentation went really well even with a limited time frame. Created a PDF and posted it on the CLAS site for site editors to reference in the future.

[2022-09-28 21:44] #5731 closed, assigned to mark-bennett-uiowa

[2022-09-29 14:10] bspeare commented on #5723
Also left to do on this, search for `[[{"fid"` and replace those items with a newly uploaded image.

 <img width="1207" alt="Screen Shot 2022-09-26 at 1 26 12 PM" src="https://user-images.githubusercontent.com/1036433/193053965-b2a16c69-1a10-4316-b176-cba1cdaac897.png">

[2022-09-29 15:09] joewhitsitt opened #5745 "Events block more link display logic is broken"
# Problem
Our recent comparison operator work came up short with regard to the sitenow_events block more link logic.

# Steps to reproduce
International programs reported that their blocks no longer sport the good-looking button. Cherwell 1526121

# Proposed solution

- [ ] Revisit the logic for more link to make sure it shows when it is supposed to. Check the v2 paragraphs block logic while you a

[2022-09-29 15:28] briand44 commented on #5252
This is done

[2022-09-29 15:28] #5252 closed, assigned to briand44

[2022-09-29 15:37] joewhitsitt commented on #3204
In terms of permissions and routes, making sure as a visitor, webmaster for the default site you can not see any entity print configuration, or have any of the routes associated with the module resolve while on the admissions site, everything should still work as originally designed.

https://git.drupalcode.org/project/entity_print/-/blob/8.x-1.x/entity_print.routing.yml

https://github.com/uiowa/

[2022-09-29 16:25] briand44 commented on #5735
This is done.

[2022-09-29 16:25] #5735 closed, assigned to briand44

[2022-09-29 16:43] briand44 commented on #5736
This is done

[2022-09-29 16:43] #5736 closed, assigned to briand44

[2022-09-29 17:05] pyrello opened #5748 "Investigate displaying in-progress events"
# Story

As a content editor I want events with an end date that has not passed to show up in lists of upcoming events (from content.uiowa.edu) so that they don't disappear from those lists while the event is still going on.

This feature is being requested for uicb.uiowa.edu.

# Proposed solution
Investigate:
- Query the number of in-progress events to get a sense of what the effect should be
- W

[2022-09-29 17:58] GaryRidgway opened #5749 "Now error on person edit"
Getting this error editing a person content node on now.uiowa.edu locally:

[code]

[2022-09-29 18:00] #5749 closed, assigned to nobody

[2022-09-29 18:00] GaryRidgway commented on #5749
i was behind on composer install

[2022-09-29 18:44] pyrello opened #5750 "Epic: Refactor custom code to use PHP8 nullsafe operator"
# Motivation
With our recent move to PHP8, we now have the option to utilize the nullsafe operator: https://www.php.net/releases/8.0/en.php#nullsafe-operator

Using the nullsafe operator (`?->`) will allow us to create code that is more resilient with less boilerplate to check whether properties or methods return a value before attempting to operate on it. This will also reduce the overall amount

[2022-09-29 18:57] joewhitsitt opened #5751 "Communication lists review"
# Story

As a email recipient, I know which email list I should subscribe to for communications from the OSC Web Services team

# Types of emails we send out currently:

- Major outages
- After outage explainers
- Weekly sprint demo information
- Monthly feature/fixes
- Trainings/events (e.g. siteimprove, accessibility, sitenow, etc.)
- Site launch notifications
- Planned changes
- Service informa

[2022-09-29 19:01] bspeare opened #5752 "Custom class attributes are not being added to event series block"
# Problem
On https://admissions.uiowa.edu/next-step-iowa-admitted-student-days, the custom classes for the `<ul>` are no longer being added.

<img width="1412" alt="Screen Shot 2022-09-29 at 1 58 35 PM" src="https://user-images.githubusercontent.com/1036433/193119522-13912bf3-1e06-472f-a77b-638dea509057.png">

# Proposed solution
Figure out why https://github.com/uiowa/uiowa/blob/main/docroot/site

[2022-09-29 20:26] pyrello commented on #5723
The above has been completed. I'm cool with closing this and we can revisit turning of the migration after launch.

[2022-09-29 20:26] #5723 closed, assigned to bspeare

[2022-09-29 21:22] #5171 closed, assigned to quamsta

[2022-09-30 14:53] joewhitsitt commented on #2234
Different data, but an example of a local field being populated by remote data on save: https://github.com/uiowa/uiowa/pull/5718

[2022-09-30 15:01] briand44 commented on #2234
Would we want to store pronoun data or just display it?

[2022-09-30 15:04] briand44 commented on #2234
If I remember correctly we need to determine where we want to get this data IDW or MAUI?

[2022-09-30 15:12] joewhitsitt commented on #2234
I think if there is supposed to be a local option for folks not in the system, it is more understandable to the editor what is going on, but just displaying it would allow more up to date data.

I don't remember the pros/cons of each

[2022-09-30 15:50] mark-bennett-uiowa commented on #5732
@pyrello You are correct, that is the current site. We have a new D9 site setup at [https://iowasummerwritingfestival.prod.drupal.uiowa.edu/](https://iowasummerwritingfestival.prod.drupal.uiowa.edu/) that they were okay moving to or we can move them back to the custom domain.

[2022-09-30 16:11] #5745 closed, assigned to nobody

[2022-09-30 17:55] #5614 closed, assigned to joewhitsitt

[2022-09-30 18:23] briand44 commented on #4716
Adding needs grooming label again to discuss ^^

[2022-09-30 18:59] mark-bennett-uiowa commented on #5732
The Iowa Summer Writing Festival occurs every summer, with new online courses taking place even outside the normal summer window. Registration for the upcoming summer begins in January, so this would need to be completed this fall to allow time for the ISWF (primarily Amy Margolis) to set the schedule of events, enter all of the information into the site, and prepare for the next festival.

Amy ha

[2022-09-30 20:35] #2670 closed, assigned to bspeare

[2022-09-30 21:07] bspeare commented on #3204
I tested the permissions on the default site and webmasters are not able to get to `admin/config/content/entityprint` and I tested on admissions and entityprint seems to be working fine there.

[2022-09-30 21:22] #5626 closed, assigned to e-marie-w

[2022-09-30 21:30] mark-bennett-uiowa opened #5757 "As an editor, I can change the order of stickied Persons on the default People page without having to manual sort."
In CLAS, on the default People pages, departments sticky the DEO/Chair/Director and the Administrator at the top in that order. Often, based on alphabetical order, these are out of order, with Administrator first and DEO/Chair/Director second.

The only way around this is to resort to Manual Sort, but with some departments having 100s of people, and new people getting added/removed every semester,

[2022-09-30 21:46] mark-bennett-uiowa opened #5758 "As an editor, I can customize Person results in custom People blocks to multiple Person types rather than one."
For custom People blocks, an editor can add one option for person type to filter on, but not multiple. This creates an issue when a unit wants to include two or more types rather than one. They are forced to create multiple pages or separate blocks that are not combining results.

![Screen Shot 2022-09-30 at 4 27 58 PM](https://user-images.githubusercontent.com/3067017/193360607-2191c749-a1f4-460b

[2022-09-30 22:05] mark-bennett-uiowa opened #5759 "As an editor, I can filter Person results by excluding person types while including others."
On the main People page it will include all non-"Hide on list" persons in the system by default. This creates an issue where units want to include profiles of external people (Alumni, Advisory Board, etc) in the site, but don't want them included in the main people list. To hide them from the main People page, an editor has to "Hide on list" but that prevents those persons from showing up on a cus

[2022-10-03 15:04] briand44 opened #5771 "Classroom references"
Build out any structure needed for Classrooms content type references (Buildings, classroom type, features, etc.) so that these references can be created on Classrooms content type in a future issue.

- Reference a single building
    - Used as a filter - https://classrooms.prod.drupal.uiowa.edu/home/find-university-classroom
    - building code used with room number for MAUI identifier
    - Buil

[2022-10-03 15:41] bspeare commented on #3204
Does this need to be updated for all the features too?  Like `sitenow_v2`, etc?  It looks like all the features were touched in https://github.com/uiowa/uiowa/pull/2092.

[2022-10-03 15:44] joewhitsitt commented on #3204
In theory, with CS2, features and site splits should adopt the default config, but this should be confirmed with testing.

[2022-10-03 15:46] mark-bennett-uiowa opened #5772 "Communication Studies D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 15:47] mark-bennett-uiowa opened #5773 "Sociology and Criminology D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 15:47] mark-bennett-uiowa opened #5774 "School of Art and Art History D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 15:47] mark-bennett-uiowa opened #5775 "Health and Human Physiology D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 15:47] mark-bennett-uiowa opened #5776 "Psychological and Brain Sciences D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 15:49] bspeare commented on #3204
Testing that the site syncs with no errors and the print stuff shows up as hidden for those displays?  If that's what we are testing for then it seems like CS2 is working.

[2022-10-03 15:58] mark-bennett-uiowa opened #5777 "School of Music D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc

[2022-10-03 15:58] mark-bennett-uiowa opened #5778 "Dance D9 site"
Standard checklist for site provision, installation, and creation:
- [ ] Provision and install site
- [ ] Copy default content and settings from CLAS Template
- [ ] Migrate existing content into new D9 site
- [ ] Add strategy and messaging content from CLAS MarCom
- [ ] Web copy updates from CLAS MarCom
- [ ] New photography as needed
- [ ] Add Google Analytics GA4 web property ID from CLAS GA acc