[2020-11-17 19:52] joewhitsitt commented on #2475
If the cache issue is not a long term solution, I think something like this might have to be done: https://www.flocondetoile.fr/blog/generate-programmatically-image-styles-drupal-8

[2020-11-17 19:52] bspeare commented on #2475
Current image styles are being set at: https://github.com/uiowa/uiowa/blob/main/docroot/modules/custom/layout_builder_custom/src/EventSubscriber/SectionComponentSubscriber.php

[2020-11-17 19:52] joewhitsitt commented on #2475
I'd like to see this functionality on image gallery in the future

[2020-11-17 19:59] joewhitsitt opened #2564 "Start putting demos/trainings on events.uiowa.edu and pull into default content"
# Story

As a site owner, I want to see upcoming demo and training information on my website so that I can find my way to more information about my SiteNow website.

As a service owner, I want advertise our work as another way to support our customers who might not be part of the UI Web Community or that don't subscribe to our listserv.

# Proposed solution

- [ ] Add/maintain our weekly demo with

[2020-11-17 21:43] mjoneill commented on #2533
<img width="1350" alt="image" src="https://user-images.githubusercontent.com/7144234/99454100-8ba1e280-28eb-11eb-9b48-2d5f040c74d7.png">

@ABoston88 these links on home page don't seem done.  Submit a Resume has to be nuked for now.

[2020-11-17 21:44] mjoneill commented on #2533
About the position link in the home page banner goes to an unpublished page.

<img width="672" alt="image" src="https://user-images.githubusercontent.com/7144234/99454272-d02d7e00-28eb-11eb-91f9-239be6873e53.png">

@ABoston88

[2020-11-17 21:49] mjoneill commented on #2533
How to participate block on home page:

All links need updating.
* Forums
* Nominations
* Feedback

@ABoston88

[2020-11-17 21:54] mjoneill commented on #2533
There seem to be some sitenow default pages that are still published.  Can we unpublish/remove those?

Example: https://presidentialsearch.prod.drupal.uiowa.edu/about

@ABoston88

[2020-11-17 22:44] cory-skeers commented on #2551
@pyrello @joewhitsitt Have a POC PR in #2562 that goes with a `uiowa_entities` module with separate `academic unit` and `college` entities (as well as base entities for each). They both share the same `unit` entity base.

[2020-11-17 23:20] dnkemper commented on #2525
@briand44 I re-provisioned the site but can you please tell me who the customer is so I can add them as a webmaster?

[2020-11-18 01:25] briand44 commented on #2525
scohenelias is the customer. We will be migrating content so no need to communicate anything.

[2020-11-18 04:32] dnkemper commented on #2525
@briand44 okay! Thank you for your help!

[2020-11-18 04:32] #2525 closed, assigned to dnkemper

[2020-11-18 15:10] bspeare commented on #2554
This is a good idea.   I wonder if we should add a container setting to add/remove margins between blocks?  We could add a default margin for all stacked components within a layout and then create a setting on the container to `remove default component spacing` or something like that.

[2020-11-18 15:12] dnkemper commented on #2554
@bspeare you are a styling wizard! Thank you!

[2020-11-18 16:46] dnkemper opened #2565 "Block arrows don't display with the brain pattern black section background color"
# Problem

Block arrows don't display with the brain pattern black section background color.
<img width="1315" alt="Screen Shot 2020-11-18 at 10 33 45 AM" src="https://user-images.githubusercontent.com/16872949/99560022-04a44700-298b-11eb-9afb-78894214aac9.png">

# Steps to reproduce

1. Add a section with the brain pattern black background
2. View the magic

[2020-11-18 16:58] dnkemper opened #2566 "Card link button isn't visible w/ '- None -' background on a section with a 'brain pattern reverse' background"
# Problem

Card link button isn't visible w/ '- None -' background on a section with a 'brain pattern reverse' background
<img width="916" alt="Screen Shot 2020-11-18 at 10 48 41 AM" src="https://user-images.githubusercontent.com/16872949/99561709-dfb0d380-298c-11eb-86ba-cd562a7aaee3.png">

# Steps to reproduce

1. Add section with a 'brain pattern reverse' background
2. Add a card block with a  '

[2020-11-18 17:31] bspeare commented on #2566
You can also see it here: https://sandbox.prod.drupal.uiowa.edu/cards.

[2020-11-18 17:37] joewhitsitt opened #2567 "Update Admissions Split with Permissions"
# Problem

Admissions is having troubles with aggregator as webmasters. Might be out of sync permissions.

# Steps to reproduce

- As a webmaster on Admissions, I am able to use the RSS Feed functionality all the way from configuration to display.

# Proposed solution

- [ ] Check the admissions' permissions and update. If aggregator stuff still can't be done. Dig further and FIX IT.

[2020-11-18 17:43] joewhitsitt opened #2568 "Update Scholarships Functionality to Handle Scholarship that appears on all?"
# Problem

This scholarship, https://admissions.prod.drupal.uiowa.edu/scholarship/collegiate-and-departmental-scholarships, has all boxes checked with the expectation that it should show pretty much everywhere. I believe this won't work with how the view filtering works as it is trying to limit with ANDs and not treat them as ORs.

# Steps to reproduce

Customer expects https://admissions.prod.dru

[2020-11-18 17:50] joewhitsitt opened #2569 "Add anchor id to Headline functionality"
# Story

As a webmaster, I want the ability to add an anchor id to my headline so that I can directly link users to that part of the page.

# Proposed solution

Using recent work in SiteNow v2 unique id, allow id creation in the headline combination field and output the id to the heading tag.

[2020-11-18 18:53] dnkemper opened #2570 "re-provision centerforconferenceshrandbusiness.prod.drupal.uiowa.edu as a SiteNow v3 site"
Email in its-web
Wanted to switch v2 site with v3 site

[2020-11-18 18:54] #2570 closed, assigned to dnkemper

[2020-11-18 21:12] mark-bennett-uiowa opened #2572 "Section styling fails on main navigation block on non-white/gray background"
# Problem
The styles we have been using on cards et al, does not appear to be set on sections where the Main navigation block is used. This only appears to be an issue on non-white/gray backgrounds. For reference, see [https://classics.prod.drupal.uiowa.edu/syllecta](https://classics.prod.drupal.uiowa.edu/syllecta). See screenshots below:
<img width="1590" alt="Screen Shot 2020-11-18 at 2 56 57 PM

[2020-11-18 21:23] joewhitsitt commented on #2572
https://github.com/uiowa/uids/issues/305

[2020-11-19 14:21] richardbporter commented on #2489
Looks like it is available as a separate plugin in BLT 12: https://github.com/acquia/blt-drupal-check I'd say we wait until then to add it back. In the meantime, we can leverage #2164 if necessary.

[2020-11-19 14:33] briand44 opened #2574 "How to display members on City of Iowa City page"
They are wanting a list of members to appear at the top of the right sidebar on this page https://www.icgov.org/city-government/boards-commissions-and-committees/ad-hoc-truth-and-reconciliation-commission. An example of this can be seen https://www.icgov.org/city-government/boards/airport-commission.

Customer is Shannon-McMahon@iowa-city.org

[2020-11-19 14:37] richardbporter commented on #2489
I can't get the VM to use Composer 2 by default. I had to run `sudo composer self-update --2` on the box.

[2020-11-19 14:54] joewhitsitt commented on #2574
I think there is a boards taxonomy that needs to be created of the same name?

[2020-11-19 15:40] joewhitsitt commented on #2574
@briand44

The are wanting this on a page which doesn't have this functionality. There is a boards taxonomy (e.g. https://www.icgov.org/city-government/boards/airport-commission) that has this functionality.

They should recreate this page as a board. https://www.icgov.org/admin/structure/taxonomy/boards

<img width="1026" alt="Screen Shot 2020-11-19 at 9 40 18 AM" src="https://user-images.githubu

[2020-11-19 15:54] briand44 commented on #2574
@joewhitsitt I shared your feedback and it seems like they are happy with that response. I think we can close this.

[2020-11-19 15:54] #2574 closed, assigned to nobody

[2020-11-19 16:26] #2489 closed, assigned to richardbporter

[2020-11-19 16:33] joewhitsitt commented on #2464
# Transportation Audit

## General Summary

The current transporation.uiowa.edu website makes heavy use of Drupal taxonomy reference system to create relationships between content and to provide alternative paths of navigation. So far in SiteNow v3, theses in-depth relationships functionality is limited and the taxonomies/categorization available by default (tags, research areas, person types) are

[2020-11-19 16:34] joewhitsitt commented on #2464
Can @briand44 or @mjoneill review and pass on to the customer?

[2020-11-19 16:54] bspeare commented on #2404
How do we want to handle the setting for the link field?  Set to 3 or set it Unlimited and limit it to 3 programmatically?

**Limited to 3:**

<img width="677" alt="Screen Shot 2020-11-19 at 10 51 34 AM" src="https://user-images.githubusercontent.com/1036433/99697705-94aec300-2a55-11eb-9695-968e7f0eaf51.png">

**Unlimited:**

<img width="665" alt="Screen Shot 2020-11-19 at 10 52 13 AM" src="https:

[2020-11-19 16:58] cory-skeers commented on #2404
I'd personally lean toward the unlimited and limit programmatically. Keeps it a little cleaner on edit, but also I think the Limit to 3 option adds pressure on the user to come up with links, rather than opting in if they already have a plan for more than 1.

[2020-11-19 17:08] bspeare commented on #2566
- Add `bg-pattern--brain-reversed` and `bg--gold--pattern--brain` to https://github.com/uiowa/uids/blob/main/src/components/button/button.scss#L108-L118.

[2020-11-19 17:13] bspeare commented on #2565
# Proposed Solution

- Add a rule to https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/admin.scss#L931 for `bg--black`, `bg--black--pattern--brain`, and `bg-pattern--brain-black` for `color: $secondary;`.
- Also need to set:
[code]

[2020-11-19 17:28] joewhitsitt opened #2576 "Investigate current code @todos for fixing tasks"
# Story

As a developer, I can maintain a codebase free of todo comments by prioritizing and addressing them instead of reacting to them! Todos are often forgotten and never revisited.

# Proposed solution

Audit our codebase for `@todo` comments. Establish a count to measure against. (Scoped to only docroot/modules/custom, docroot/modules/uiowa, docroot/profiles/custom/sitenow, docroot/sites and

[2020-11-19 18:01] briand44 opened #2578 "Provision a SiteNow v3 site for https://prairierestoration.course.uiowa.edu"
https://prairierestoration.course.uiowa.edu is a SiteNow v2 site currently live in production and they would like to begin transitioning to SiteNow v3. So, we will need to provision them a new site to start this manually transition. I believe this is currently on uiowa01. Not sure the process here. Do we provision a new site on uiowa02 or use a different environment?

[2020-11-19 18:05] joewhitsitt commented on #2578
I thought that we could wipe clean/reinstall in stage and then go live like how a round of custom development would go.

[2020-11-19 18:22] joewhitsitt opened #2579 "Webform Double Submissions"
# Problem
A few customers have noted that they are getting double submissions registered to the submissions table on their webforms, not just emails.

Known issue: https://sitenow.uiowa.edu/known-issues#uiowa-issue-2579

# Steps to reproduce

~~It would be great if we could determine if this is a v2, v3 or both type issue.~~ Affects all

# Proposed solution

- [ ] Reproduce the issue, replicate it

[2020-11-19 19:21] dnkemper opened #2580 "Add Sitenow v2 to v3 request alert"
Add alert that lets users know if they want to update their v2 site to a v3 site, they need to contact us since duplicate requests = errors out

[2020-11-19 19:22] #2580 closed, assigned to dnkemper

[2020-11-19 19:24] dnkemper opened #2581 "Site Provisions 11/19-12/3"
# Site Provisions for 11/19-12/3 sprint
* reconnect.psychology.uiowa.edu https://github.com/uiowa/uiowa/pull/2573 - _delivered_
* shawgroup.lab.uiowa.edu https://github.com/uiowa/uiowa/pull/2600 - _internal domain, delivered_
* chowdhury.lab.uiowa.edu https://github.com/uiowa/uiowa/pull/2602 - _delivered_
* laborcenter.uiowa.edu https://github.com/uiowa/uiowa/pull/2612 - _internal domain, delivere

[2020-11-19 19:58] pyrello opened #2582 "Add option for former students or faculty"
# Story

As a site owner I want to be able to indicate that a person is no longer in the group (person type) that they formerly occupied (e.g. past faculty, former students) so that I can distinguish between them in lists.

## Examples of how this would be used
* https://www.amcs.uiowa.edu/students/all-graduates
* https://toxicology.grad.uiowa.edu/program-alumni
* https://toxicology.grad.uiowa.edu

[2020-11-19 20:00] briand44 commented on #2464
Shared this feedback with the customer.

[2020-11-19 20:00] #2464 closed, assigned to joewhitsitt

[2020-11-19 21:08] dnkemper commented on #2404
Whoops didn't read through comments. @bspeare are you working on this right now?

[2020-11-19 21:10] bspeare commented on #2404
@dnkemper Nope! Check in with @GaryRidgway on his work in https://github.com/uiowa/uids/pull/412.

[2020-11-19 21:40] bspeare opened #2583 "As a site owner, I can adjust the stat component to display the content area without a hover effect"
# Story

As a site owner, I can adjust the stat component to display the content area with a hover effect

# Proposed solution

Add a layout builder styles option like `Remove hover effect` to the stat component to show the content area and override the default hover effect.

- [x] Refactor to remove `stat--transform` class if `Remove hover effect` option is selected: https://github.com/uiowa/uiow

[2020-11-19 22:42] pyrello commented on #1742
Closing in favor of #2403

[2020-11-19 22:42] #1742 closed, assigned to nobody

[2020-11-19 22:43] pyrello commented on #1759
This might be related to #2403

[2020-11-19 22:49] pyrello opened #2585 "Restrict hero block creation"
# Story

As a project maintainer I want to limit user's ability to create new hero blocks so that people get used to using the banner instead.

# Proposed solution

- [ ] Restrict usage of hero block in LB restrictions for page display.
- [ ] Copy those settings to other page `entity_view_display` instances.

[2020-11-20 03:04] pyrello commented on #2517
@joewhitsitt Looking at item 3 above, do you think it would work to wrap this in an access check instead of checking for the collegiate profile? We could see if the user had the Administrator role, and if not, restrict the options on the block? I don't think this has any practical effect on existing implementations because it doesn't affect how the data is stored. It would only affect the person a

[2020-11-20 14:17] pyrello opened #2587 "Add page/view option per person type (e.g. Faculty, Students pages)"
# Story

As a site owner I want to display separate pages for different types of people (e.g. a Students page for students) so that visitors can find Faculty and Students more easily.

# Proposed solution

Building upon the existing people view to allow for a contextual filter. Expand the SiteNow People settings to allow for selecting one or more person types to have a separate view/page. Add the

[2020-11-20 14:17] pyrello opened #2588 "Create seminar content type"
# Story

As a site owner I want to be able to list seminars/events on my website so that students or visitors can see what is coming up.

# Discussion

This is coming up now because the AMCS site has a list of seminars: https://www.amcs.uiowa.edu/amcs-seminars. I'm not sure if this is the right solution or whether it would be reasonable to suggest moving these to events.uiowa.edu. I'd appreciate a

[2020-11-20 14:50] briand44 commented on #2578
Customer is Mike Fallon (michael-fallon@uiowa.edu)

[2020-11-20 14:54] joewhitsitt commented on #2517
Admin role access works for me. I know times have changed, but this split check is in place because you wanted it for the collegiate split. https://github.com/uiowa/uiowa/pull/2089#issuecomment-682168172

[2020-11-20 14:56] pyrello commented on #2517
More than I wanted it, I wasn't ready to fully understand all the implications of what we would be removing. Now what I want is one less place to have to maintain duplicate config updates :)

[2020-11-20 14:58] mjoneill commented on #2533
It looks like there are no meta descriptions on any pages.

@ABoston88

[2020-11-20 15:33] mjoneill commented on #2587
Saw this comment in zoom chat.  Adding it here to capture it...

[2020-11-20 15:37] pyrello commented on #2587
Having a separate page is a very common use case, FYI: https://www.google.com/search?q=uiowa+faculty

[2020-11-20 17:20] bspeare opened #2591 "Layout containers on layout builder edit screen are not showing appropriate container spacing"
# Problem

Since the form container was updated in https://github.com/uiowa/uiowa/pull/2528/commits/bb90f5a051b1038d80a6f81136530a3a991d1e84, it appears that the containers in the layout builder edit screen are not showing the correct spacing.

<img width="1984" alt="Screen Shot 2020-11-20 at 11 04 30 AM" src="https://user-images.githubusercontent.com/1036433/99828549-b163fd00-2b20-11eb-8431-9cdac

[2020-11-20 19:47] #2565 closed, assigned to cory-skeers

[2020-11-20 21:33] richardbporter commented on #2404
Seems like nobody is assigned to this. I think @GaryRidgway is doing the UIDS part of it. I can start on the Drupal side of things.

[2020-11-20 21:33] #2567 closed, assigned to nobody

[2020-11-22 16:58] pyrello opened #2592 "Update Sessionless BigPipe to 2.0.0"
# Motivation

In preparation for moving to Drupal 9, updating to a compatible version of Sessionless BigPipe is necessary.

# Proposed solution

- [x] `composer require 'drupal/big_pipe_sessionless:^2.0'`
- [x] Testing on dev

[2020-11-22 17:00] pyrello opened #2593 "Update Component Libraries to 8.x-2.0-beta3"
# Motivation

In preparation for moving to Drupal 9, updating to a compatible version of Component Libraries is necessary.

# Proposed solution

- [x] `composer require 'drupal/components:^2.0@beta'`
- [x] Test that there are no errors when UIDS component libraries are referenced.

[2020-11-22 17:08] pyrello opened #2594 "Add D9 compatibility patch to Config Ignore module"
# Motivation

In preparation for moving to Drupal 9, patching Config Ignore to make it D9 compatible is necessary.

# Proposed solution

- [ ] Add patch listed at https://www.drupal.org/project/config_ignore/issues/3131937
- [ ] Since this patch literally only adds the `core_version_requirement` key to the `info.yml` file, I think a code review would suffice for testing.

[2020-11-22 17:14] pyrello opened #2595 "Update Imagecache External to 3.0.0"
# Motivation

In preparation for moving to Drupal 9, updating to a compatible version of Imagecache External is necessary.

# Proposed solution

- [x] `composer require 'drupal/imagecache_external:^3.0'`
- [x] Test that there are no errors when referencing images from an external source.

[2020-11-22 17:26] pyrello opened #2596 "Update Webform to 6.0.0"
# Motivation

In preparation for moving to Drupal 9, updating to a compatible version of Webform is necessary.

# Proposed solution

- [x] `composer require 'drupal/webform:^6.0'`
- [x] Test that there are no errors with existing webforms.
- [x] Test webform creation.

[2020-11-22 17:37] pyrello commented on #2360
Duplicate of #2245.

Relevant from that other issues:
# Proposed solution
Write an update hook to remove all instances of this block from LB pages that use it. Optionally, we could potentially set an extra top padding LB style on the section immediately following the block instance. Or we could just help people manually set this afterwards. Or these could be proactively fixed in cases where it is

[2020-11-22 17:38] pyrello commented on #2245
Closing as duplicate of #2360

[2020-11-22 17:38] #2245 closed, assigned to nobody

[2020-11-23 15:44] bspeare opened #2597 "As a site owner, I want to designate a time zone for my event block in layout builder"
# Story

As a site owner, I want to designate a time zone for my event so that users can see a time zone listed next to the event date.

# Proposed solution

- ?

[2020-11-23 15:55] bspeare opened #2598 "As a site owner, I can add a short description to my event block within layout builder"
# Story

As a site owner, I can add a short description to my event block within layout builder so that I can provide additional information about my event.

# Proposed solution

- Add a content area field to the event block and map it to the card description.
- Or will the event block be deprecated in favor of a local event content type?

[2020-11-23 17:00] joewhitsitt commented on #2320
via Slack:

#2293 hasn’t been done for the default yet, just Admissions. I never really filled in this issue, but I think I originally thought this would be the design review/finalization task about look and placement of all our person fields for the default display. If that has already happened, I think this can be closed.

[2020-11-23 19:24] joewhitsitt commented on #1511
I took a look at this module briefly last week and I don't see a whole lot of a difference between using this and creating our own custom content entity that allows different bundles.

The one thing I see beneficial is that they figured out what to call it. Alternatively, I thought "Bits" works.

I am starting to see a lot of use-cases for something like this and will mention them over on https://

[2020-11-23 19:34] joewhitsitt commented on #2096
Potential "bits" of content in my head:

- frequently asked question or collection item preset/autofill https://github.com/uiowa/uiowa/issues/2504
- publication https://github.com/uiowa/uiowa/issues/1503
- map point/feature https://github.com/uiowa/uiowa/issues/725
- alerts (scheduling)

I don't know what CCM is but I am willing to learn.

[2020-11-23 19:37] pyrello commented on #1511
The main value of this module is that it has already done the work of putting all the admin UI in place for creating stuff like this, if we roll our own, we'll have to create and maintain that.

[2020-11-23 19:42] pyrello commented on #1511
I think the work of this issue is done and follow-up can be continued at #2096

[2020-11-23 19:42] #1511 closed, assigned to nobody

[2020-11-23 19:44] joewhitsitt commented on #1511
With only two sites using the Fragments module, we would probably end up maintaining it anyway. Views makes admin ui's pretty easy in D8/9 and allows us to build it how we want:

`drush generate` does most of the initial creation work.

[2020-11-23 19:51] pyrello commented on #1511
I look forward to your demo on this subject, since I know not of what you speak! :)

[2020-11-23 20:36] #1939 closed, assigned to nobody

[2020-11-23 20:36] #2336 closed, assigned to richardbporter

[2020-11-23 20:52] #2568 closed, assigned to joewhitsitt

[2020-11-23 21:00] joewhitsitt commented on #1511
<img width="434" alt="Screen Shot 2020-11-23 at 2 59 34 PM" src="https://user-images.githubusercontent.com/4663676/100014802-8f76ae80-2d9c-11eb-9cc6-e33bbe9da31b.png">

😜

[2020-11-23 21:25] #1200 closed, assigned to nobody

[2020-11-23 21:25] #2485 closed, assigned to joewhitsitt

[2020-11-23 21:31] joewhitsitt commented on #2549
Going to see if I can get this started

[2020-11-23 22:58] joewhitsitt commented on #2549
@pyrello should this access be on all the content types or specific ones on grad.uiowa.edu?

Depending on the need, this might warrant that next level role or effective management will really be restricted to publisher/editor. If the idea is that webmasters control access, webmasters would have access to assign themselves and other webmasters to any editorial groups.

[2020-11-23 23:27] #2517 closed, assigned to nobody

[2020-11-23 23:27] #2585 closed, assigned to nobody

[2020-11-24 14:39] richardbporter commented on #2592
Yes, I'll take a look at this when I can.

[2020-11-24 15:03] #2381 closed, assigned to richardbporter

[2020-11-24 15:06] pyrello commented on #2549
It looks like this is mainly used for the page content type, although it is present on a few other content types as well on the current GC site.

[2020-11-24 15:08] joewhitsitt commented on #2212
This is the last issue related to the https://github.com/uiowa/uiowa/issues/2212 Counselors epic

[2020-11-24 18:08] bspeare opened #2603 "As an admissions stakeholder, I can view a mockup of the admissions home page and provide feedback"
# Story

As an admissions stakeholder, I can view a mockup of the admissions home page at the design meeting on Friday, December 4th and provide feedback.

# Proposed solution

Build out a prototype of the home page locally on admissions.local.drupal.uiowa.edu using:

- [ ] New top links in the header
- [ ] Video banner loop
- [ ] Calls to action (Visit, Apply, Request Info)
- [ ] Areas of Study t

[2020-11-24 18:09] joewhitsitt commented on #723
This was brought up in terms of additional alerts functionality at the Transportation meeting today. https://www.drupal.org/project/scheduler_content_moderation_integration provides the needed moderation workflow solution if this was tied to content types like articles.

I see potential for "reusable bits" though #2096

[2020-11-24 18:26] richardbporter commented on #723
Cron has been reduced to once an hour, offset by the application ever since #1782. Its run through a web request which is slower. A site could setup their own cron job and then add their site URL to the exclude option of the cron command.

There is some cron docs at https://wiki.uiowa.edu/display/drupaldev/Acquia+Applications

[2020-11-24 18:55] joewhitsitt commented on #723
So this probably isn't doable for all sites then?

[2020-11-24 18:57] richardbporter commented on #723
I guess it depends on how frequent we need to run it and how long it currently takes. I could time it.

[2020-11-24 19:32] bspeare commented on #2603
Closing this for now.  The focus will be on bringing current features to completion and presenting those for review at the design meeting.

[2020-11-24 19:32] #2603 closed, assigned to bspeare

[2020-11-24 20:00] pyrello commented on #2592
Originally implemented in #1296. Can potentially refer to for testing ideas.

[2020-11-24 20:02] pyrello commented on #2592
It sounds like, from the original PR, that testing this on dev may be of limited use because of the different hardware there vs. prod.

[2020-11-24 20:16] joewhitsitt commented on #2578
installed (thanks Rick), internal https://courseprairierestoration.stage.drupal.uiowa.edu/ domain created. customer contacted via its-web

[2020-11-24 20:16] #2578 closed, assigned to richardbporter, joewhitsitt

[2020-11-24 20:35] richardbporter commented on #723
The uiowa application took about 9m30s to run. It has 155 sites.

Another thing we might want to consider is breaking up cron. I'm not sure if thats still necessary in D8.

[2020-11-24 20:36] joewhitsitt opened #2605 "Revision Log Comments for Layout Builder Changes"
# Story

As a webmaster, I would like the ability to enter revision comments as I save my layout builder edits as the changes made are not always visible in the diff.

# Proposed solution

https://www.drupal.org/project/drupal/issues/3033516

[2020-11-24 21:18] joewhitsitt commented on #1905
I am starting to see the need for "Web Admin" as I work on #2549 / #748 . Someone to manage content ownership permissions for the whole site...

[2020-11-24 22:22] dnkemper commented on #2369
Started a draft PR for this.. have to remove my assignment since my computer crashes every time I try to add a featured image :(

[2020-11-25 13:23] pyrello commented on #1905
@joewhitsitt Is there a reason that this wouldn't just be the webmaster role?

[2020-11-25 14:38] joewhitsitt commented on #1905
@pyrello For grad (2 webmasters) in #2607, it probably doesn't have to be, but as I was tinkering, either an individual or a role needs to be assigned to the top-level editorial groups to effectively manage the groups underneath. If webmaster was that role and there was several webmasters on the site, the whole access control functionality IMO wouldn't be very useful as they could bypass restricti

[2020-11-25 15:31] mjoneill commented on #2096
Request for Reusable Content functionality came in from Transportation yesterday.  They would like to use functionality like this to manage permits/fees information that is reproduced across multiple pages.

[2020-11-25 15:34] joewhitsitt commented on #2096
@pyrello can you link to the block content approach currently being worked on in core as an alternative approach to this?

[2020-11-25 15:44] mjoneill commented on #2096
CCM is Component Content Management is the method/approach to managing content not at the document level, but at the "pieces within the document" level.  Examples: Q&A couplets within a FAQ, a stat that's used across multiple pages, a course description, etc...

These objects exist on their own for administrative and editorial access, but are built into public pages dynamically/manually, etc...

T

[2020-11-25 15:58] joewhitsitt opened #2610 "SSL Cert - laborcenter.uiowa.edu on uiowa02"

[2020-11-25 16:02] richardbporter opened #2611 "As a developer, I can use a modern version of Node."
# Story

As a developer I want to use a modern version of Node so that I can benefit from the active development of it.

# Proposed solution

We're currently using Node 10 which is only getting maintenance fixes until April 2021. We should update the version of Node used in CI and DrupalVM to the latest LTS.

https://nodejs.org/en/about/releases/

[2020-11-25 16:15] pyrello commented on #2096
Here is the core issue: https://www.drupal.org/project/drupal/issues/2999491

The core issue is only to add the ability to flag blocks as reusable when they are being created via Layout Builder. You can technically already create reusable blocks via the block content UI. If our restriction rules allow them to show up, these then show up under a "Custom blocks" heading in the tray in LB (accessed b

[2020-11-25 16:30] joewhitsitt commented on #2096
Though it sounds like a bunch of bumps, the one benefit I see is that we don't have to re-create or do a whole lot to work with existing block types we have. separate content entities pulled in via IEF or whatever need extra massaging to display as a stat, etc.

The work around I had for that would have been to do something like #2504 where it fills the content into an existing block type.

[2020-11-25 16:34] joewhitsitt opened #2613 "SSL Cert - reconnect.psychology.uiowa.edu on uiowa02"

[2020-11-25 16:43] dnkemper opened #2614 "Google Analytics 4 Release"
# Problem

Google Analytics released a new version which now uses a new property ID, beginning with a "G" instead of "UA-". We need to find a way to incorporate change since affecting D8 analytics currently

# Proposed solution

Apply patch that allows updated GA v4 prefix:
https://www.drupal.org/project/google_analytics/issues/3178179

[2020-11-25 16:47] pyrello commented on #2096
Using blocks may be the clearest path forward for now. I'm sure we can mold them to fit our needs.

For better or worse, with the less ambitious set of goals that Dries laid out for the 9.x dev cycle, I think that LB and blocks are effectively stuck where they are at conceptually, unless someone comes up with something new in the contrib space. I monitor that space fairly regularly (https://git.dr

[2020-11-25 17:05] joewhitsitt commented on #2613
Done

[2020-11-25 17:05] #2613 closed, assigned to joewhitsitt

[2020-11-25 17:05] joewhitsitt commented on #2610
Done.

[2020-11-25 17:05] #2610 closed, assigned to joewhitsitt

[2020-11-25 17:09] joewhitsitt commented on #2614
SiteNow Known Issue - https://sitenow.uiowa.edu/known-issues#uiowa-issues-2614

[2020-11-25 17:38] pyrello commented on #1511
Demos speak louder than pictures :)

[2020-11-25 20:02] mjoneill commented on #2614
Wonder if we can work around by recommending clients who want GA4 to remove the GA tag from the D8 admin tool and add a GTM container through which they can deploy GA4.

[2020-11-29 06:11] dnkemper commented on #2614
Wanted to figure out how to do this... first time for everything? :)

[2020-11-29 06:11] dnkemper commented on #2614
P.S. Know not part of sprint yet... just wanted to see how to apply patch/if worked etc

[2020-11-30 16:22] pyrello opened #2619 "Field group is not compatible with person types show/hide field logic"
# Problem
The code logic that sets person content fields to only display for certain person types doesn't work with Field Groups.

# Steps to reproduce
Add field group to the person content type and add a field that is only shown for one person type to it. View the add content page for the person type and observe that, when the person type in question is not selected, the field group still shows.

[2020-11-30 16:27] joewhitsitt commented on #2619
Duplicate of https://github.com/uiowa/uiowa/issues/2523?

[2020-11-30 16:29] #2614 closed, assigned to dnkemper

[2020-11-30 16:29] pyrello commented on #2619
D'oh.

[2020-11-30 16:29] #2619 closed, assigned to nobody

[2020-11-30 16:33] pyrello opened #2620 "Add college field to GC person content with mentor person type restriction"
# Motivation

As a follow-up to #2608, once #2562 is merged, we need to add a Colleges field to the person content type, limited to the mentor person type. This change only needs to be made on the `site_grad_uiowa_edu` split.

[2020-11-30 16:45] #2550 closed, assigned to dnkemper

[2020-11-30 16:48] pyrello commented on #2556
No longer blocked.

[2020-11-30 18:07] pyrello opened #2622 "Add a program config entity"
# Motivation

There seems to be a use case for a reusable program list similar to what is being created in #2562. This is currently handled in the `person_extended` split via a vocabulary and term reference field. But this approach depends on users entering the departments manually, which introduces the potential for discrepancies between sites.

# Proposed solution

Create a custom config entity

[2020-12-01 13:55] #2248 closed, assigned to dnkemper

[2020-12-01 14:09] richardbporter commented on #2404
I started on this in #2609 and initially I I agreed with @cory-skeers about limiting to 3 via validation but it now feels like bad usability to present the user with an option to add more than three only to return a form error saying they can't.

[2020-12-01 14:42] cory-skeers commented on #2404
@richardbporter That's a good point. I wonder if there's a way to limit it to 3 on the form itself, by hiding the "Add another item" button if 3 links are already present? Not sure how that button gets added, if it's readily accessible to add a `#states` attribute and hide with AJAX. If something like that's not readily accessible, though, maybe it's better to set it to 3.

[2020-12-01 15:07] #2438 closed, assigned to nobody

[2020-12-01 15:07] #2443 closed, assigned to nobody

[2020-12-01 16:35] #2551 closed, assigned to cory-skeers

[2020-12-01 16:38] cory-skeers opened #2627 "Require entity type(s) for Academic Units field"
Followup to #2562

# Story

As a developer I want to be required to include at least one configuration entity type so that I can't create an Academic Unit field with no options by accident.

# Proposed solution

Add a validation to the Academic Unit widget settings form to check that at least one option has been selected.

[2020-12-01 16:41] joewhitsitt opened #2628 "SiteNow Updates News Article - December"
## Issue/Solution

Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Draft an article with "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  - See https://sitenow.uiowa.edu/news/2020/10/updates-october-15-29th as an example.
  - Bullet points from demo

[2020-12-01 16:42] joewhitsitt commented on #2432
Scheduled for 11 AM

[2020-12-01 16:42] #2432 closed, assigned to joewhitsitt

[2020-12-01 19:42] richardbporter opened #2629 "Convert HR to uids_base"
Originally 12-25 hours estimate for developer work. Does not include possible student work in replacing fontawesome icons with brand-approved versions and the scope has increased with recent work related to events, uiowa_bar, etc.

- [x] #3707
- [x] #3708
- [x] #2611
- [x] https://github.com/uiowa/uiowa/issues/1606
- [x] Remove https://github.com/uiowa/uiowa/pull/2711/commits/9fe9bd5ea9b5b95911646

[2020-12-01 19:46] bspeare commented on #2404
@richardbporter  I see what you mean on the validation.  It doesn't look like you can remove the fourth link if it has been added - is that correct?  Setting it to 3 seems like a good MVP for now and perhaps we can do future work to enhance the show/hide of these 3 link fields?

<img width="1199" alt="Screen Shot 2020-12-01 at 1 44 40 PM" src="https://user-images.githubusercontent.com/1036433/1007

[2020-12-01 19:58] richardbporter opened #2630 "Remove custom Composer install path for drupal-custom-module packages"
### Problem
Currently, we install drupal-custom-modules to the custom path `docroot/modules/uiowa` because they are not contrib but can't go in custom otherwise they'd be tracked in VCS. However, this is a really odd location and could cause confusion if we use a non-UI custom module in the future.

### Possible solutions
1. ~~Remove the custom install path and treat anything not in this repositor

[2020-12-01 19:59] bspeare commented on #2597
Related to https://github.com/uiowa/uiowa/issues/2396

[2020-12-01 19:59] bspeare commented on #2598
Related to https://github.com/uiowa/uiowa/issues/2396

[2020-12-01 20:27] cory-skeers opened #2633 "Global override option for featured image size"
Followup to #2405

# Story

As a webmaster I want set a global setting for featured image size so that it's easier to maintain consistency across the site (while still having the option for local settings if consistency is not my goal).

# Proposed solution

Add a site setting to allow setting a global default for image sizes.

Decision needed on how it interacts with individual page settings--dis

[2020-12-01 20:33] bspeare commented on #2405
Backlog grooming conversation:
- Add select list to featured image area on node edit screen with `small`, `medium`, `large` options using values used in layout builder banner styles such as this example: https://github.com/uiowa/uiowa/blob/main/config/default/layout_builder_styles.style.banner_large.yml
- Pass those values to the banner attributes listed in https://github.com/uiowa/uiowa/blob/main

[2020-12-01 20:35] joewhitsitt commented on #2328
Created a separate issue for a UIDS chat icon/button - https://github.com/uiowa/uids/issues/423

[2020-12-01 20:36] #2328 closed, assigned to nobody

[2020-12-01 20:43] joewhitsitt commented on #2622
See if MAUI has a list for these

[2020-12-01 20:46] joewhitsitt commented on #2596
https://github.com/uiowa/uiowa#updating-dependencies

[2020-12-01 20:46] joewhitsitt commented on #2595
https://github.com/uiowa/uiowa#updating-dependencies

[2020-12-01 20:46] joewhitsitt commented on #2593
https://github.com/uiowa/uiowa#updating-dependencies

[2020-12-01 20:46] joewhitsitt commented on #2592
https://github.com/uiowa/uiowa#updating-dependencies

[2020-12-01 21:05] richardbporter commented on #2404
Yea, that too. :)

I gave @cory-skeers suggestion a shot but had trouble with the logic. Seems like the simplest solution for right now is just to use Drupal's field limit out of the box so everything is handled for us.

[2020-12-01 22:42] richardbporter commented on #2611
NPM 7 (Node 15) has some initial support for workspaces: https://docs.npmjs.com/cli/v7/using-npm/workspaces

[2020-12-01 22:49] pyrello commented on #2592
I think that may be a little out of date now that we are using `drupal/core-recommended`.

[2020-12-01 22:50] #2627 closed, assigned to cory-skeers

[2020-12-02 16:49] cory-skeers commented on #2404
I believe I have it working to show one with an "add more" button, but limit to only 3 being added.

If you can get into a situation where more than three links are added, there's no catch or validation to limit it, but I'm fairly sure using the `#max_delta` and unsetting the "add more" button is restrictive enough that you couldn't get into that situation unless links were added programmatically.

[2020-12-02 17:27] cory-skeers commented on #2404
Thanks @bspeare for catching a way that you could still add unlimited links! (Editing a banner block with 3 links already existing creates a blank fourth link by default...and then a fifth if you save four, and sixth if you save five.......)

Another update in place that removes the fourth auto-added link field when `#max_delta` reaches the limit. _Now_ I think, between no auto-added link field an

[2020-12-02 20:39] joewhitsitt opened #2646 "Update inrc.law footer with block Iowa wordmark"
# Issue

inrc.law.uiowa.edu would like to update their footer form the old lockup to the block iowa wordmark and increase the font size of the name below it.

# Proposed Solution

- Replace the current with a white block iowa from https://brand.uiowa.edu/logo
- Adjust styling within custom radix theme (nvm use/gulp)
- Increase font-size the org's site name in footer by using the correct heading le

[2020-12-02 21:05] pyrello commented on #2588
At this point, I have two sites that I was looking at this for. In both cases, we are going to encourage them to move their seminar content to events.uiowa.edu. So maybe this isn't necessary after all.

[2020-12-02 22:07] joewhitsitt opened #2648 "General Field Styles in uids_base"
# Story

As a developer I want extend content types with additional fields have have them look okay "out of the box" when rendered in uids_base.

# Proposed solution

- Provide basic styles for core field types when they are placed on article, person content types (e.g. number, telephone, entity reference label, etc.)
- Person phone number looks like it got missed last round.
<img width="320" alt=

[2020-12-02 22:24] joewhitsitt opened #2649 "Changes to Counselors Listing/Map"
# Issue

The admissions team came back with a few changes to the counselors map/listing functionality.

# Proposed Solution

- [x] Change views exposed filter - Any - to - All - in territory filter. This probably has to be done programmatically.
- [x] Remove territories except for states, dc, international recruitment from the select list field, export changes. This may result in data loss but the

[2020-12-03 14:49] #2539 closed, assigned to nobody

[2020-12-03 15:11] bspeare commented on #2457
- Can we use person content type and the layout builder template used for counselors as the MVP?
  - Once we have a patch for (https://www.drupal.org/project/layout_library/issues/3082434) can we move forward with the layout library module to adjust the layout to use a different template based on the student profile selection?
    - https://www.drupal.org/project/layout_library
    - https://www.d

[2020-12-03 16:26] joewhitsitt opened #2650 "Fix webform breadcrumbs"
# Issue

They are currently:
Home > Administration > Structure > Webforms

if not placed within the page content type (v2/v3).

# Proposed Solution

Hook in similar to Articles and slice the breadcrumbs to just be Home.

[2020-12-03 16:26] pyrello opened #2651 "Change default field markup to stripped down version"
# Motivation

Currently, we are using a base field template that is derived from the `classy` core theme: https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/templates/field/field.html.twig. This contains default `.field` classes and a bunch of extra layers of `<div>` markup that I don't think we want or need for our theme. If we need any specific extra markup, I think it shou

[2020-12-03 16:36] briand44 opened #2652 "Estimate migrating articles from engineering.uiowa.edu to engineering.prod.drupal.uiowa.edu"
# Story

As a College of Engineering webmaster I want articles migrated from the Engineering Drupal 7 site to engineering.prod.drupal.uiowa.edu so that users will be able to view all of the past news articles.

# Proposed solution

- [ ] Research both content types to determine amount of effort this will take. Need to determine if this can be done in a sprint or if need to break this into smaller

[2020-12-03 16:59] joewhitsitt commented on #2652
One thing to note as this is the first Engineering issue is that articles and people from the main site are pulled into the department sites. Work needs to be done to make sure nothing "breaks" if/when these feeds no longer exist (assumes main site switches before department sites)

[2020-12-03 19:09] joewhitsitt commented on #2628
Draft created: https://sitenow.uiowa.edu/node/416/edit

[2020-12-03 19:33] joewhitsitt opened #2653 "Google Analytics 4 support for SiteNow v1 websites"
# Issue

My understanding is that new GA properties are forced into GA4 which uses a different ID format. These can't be added using the existing module.

UA will stop receiving data in July 2023

# Proposed Solution

- [x] Update D7 sites to use 7.x-2.7 version of Google Analytics

- ~701~
- ~702~
- ~703~
- ~Clas~
- ~Grad~
- ~Dentistry~
- Signage - not needed?
- Healthcare Signage - not needed?
-

[2020-12-03 20:13] richardbporter commented on #2611
I think this is blocked by #2629 due to a Gulp dependency conflict.

[2020-12-03 21:22] #2581 closed, assigned to joewhitsitt, dnkemper

[2020-12-03 21:52] pyrello opened #2654 "Build out migration system to allow for generalized custom migrations"
# Motivation
As we ramp up custom development, we are going to have an increasing need to be able to migrate different types of content beyond the standard content types provided by SiteNow V2/3 or different source implementations from D7 sites that are not standard SiteNow V1.

# Proposed solution
* Augment or add new source plugins that allow for many or most custom migrations to be defined via

[2020-12-03 22:14] makurj commented on #2411
@joewhitsitt The uploading issue has been resolved. I do need 10-15 minutes to talk over a couple other things regarding this module.

[2020-12-04 14:52] joewhitsitt opened #2656 "OEmbed throws fetched resource error"
# Problem
`The fetched resource did not have a valid Content-Type header.`

https://www.drupal.org/project/drupal/issues/3186415
https://issuetracker.google.com/issues/174576256

Placeholder until we know more.

# Steps to reproduce

# Proposed solution

[2020-12-04 14:56] joewhitsitt opened #2657 "SSL Cert - currents.iihr.uiowa.edu on uiowa02"

[2020-12-04 15:07] joewhitsitt opened #2659 "Site Provisions - 12/4 - 12/10"
currents.iihr.uiowa.edu - _delivered_
mailloux.lab.uiowa.edu - _delivered_
reinhardt.lab.uiowa.edu - _delivered_
horadahistoria.sites.uiowa.edu - _delivered_
healthydata.sites.uiowa.edu - _delivered_
provost.uiowa.edu - _delivered_
nads.uiowa.edu - _delivered_
fiegel.lab.uiowa.edu - _delivered_

[2020-12-04 16:45] pyrello opened #2661 "Add config ignore rule to allow for creating one-off views"
# Story

As a site Administrator I want to create custom one-off views that are not controlled via config management so that I can create custom one-off listing pages more easily and without needing to add anything to a site split.

This is useful for situations where you need something that is very specific to a site and would allow you to take advantage of the power of views without having to wo

[2020-12-04 16:50] joewhitsitt commented on #2661
So if the view becomes tracked later, the developer would duplicate and rename? If so, I can get behind this.

[2020-12-04 16:52] joewhitsitt commented on #2411
@makurj based on today's discussion is this issue still needed or should I leave it open for now?

sounded like some compression was occurring in addition to drupal's gd2 default.

[2020-12-04 16:56] makurj commented on #2411
@joewhitsitt There is definitely compression happening. After testing with rsync, if images are still missing from dev, I may choose not to proceed with this module. Also, I have to take into consideration PNGs not getting compressed. I wouldn't mind leaving this open a little while longer, just in case.

[2020-12-04 16:59] joewhitsitt commented on #2411
If you are still poking around, I would also suggest looking at ImageMagick which is available in sites/all to just enable and use instead of GD2. You might be able to lower the quality to 75 with that.

[2020-12-04 17:11] makurj commented on #2411
Yep, I'm planning to. Thanks for all the ideas!

[2020-12-04 17:12] pyrello commented on #2661
I think that if the view becomes tracked later on, the tracked version of the view would need to use a different machine name that didn't include the `custom_`. Then it would not overwrite custom views, I think.

[2020-12-04 18:23] briand44 commented on #2657
This is done.

[2020-12-04 18:23] #2657 closed, assigned to briand44

[2020-12-04 18:51] bspeare commented on #2457
Some thoughts on handling the student profile after today’s design meeting:

- Create a separate content type called “Profile” or “Student profile”
- Reuse field storage definitions from “Person” content type where you can
- Set the content type up to use a layout builder template to use the featured image banner header
- We can add UIDS component classes to individual field templates to style the

[2020-12-04 19:06] joewhitsitt commented on #2656
Going to temporarily patch as Google is waiting till Monday to deploy a fix.

[2020-12-04 19:22] #2656 closed, assigned to joewhitsitt

[2020-12-04 22:14] bspeare opened #2665 "Ability to hide the search, main navigation, and footer (but keep footer socket) per page"
# Story

As a marketer crafting a landing page experience, I can hide the search, main navigation, and footer (but keep footer socket) per page.

# Proposed solution

- [ ] ?
- [ ] Accessibility: let's not lose or improperly hide a11y info that is still expected. For example, footer is still supposed to have contact information.

## Nice to have:

- [ ] Meta tag for nofollow tag
- [ ] Layer a form

[2020-12-04 22:16] joewhitsitt commented on #2646
d36ec47dfbe46eb723d94b2075fdb7d41b58c92c

[2020-12-04 22:16] #2646 closed, assigned to joewhitsitt

[2020-12-07 14:44] joewhitsitt opened #2667 "Consider removing oEmbed patch related to #2656"
# Issue

Relates to https://github.com/uiowa/uiowa/issues/2656

Google has supposedly fixed this issue: https://issuetracker.google.com/issues/174576256#comment28

# Proposed Solution

- Consider removing the patch introduced in #2656
- Test to make sure we aren't seeing the same error. Alex encountered it while trying to add a new YouTube video to a website.
- Wait for core to implement a more ro

[2020-12-07 15:31] joewhitsitt commented on #2309
With the card styles I was doing in #2644, I am wondering if the content orientation is needed here? Could this just be adding the grid options? Also, do these grid styles already exist in UIDS or is that separate work that needs to be captured/figured out

[2020-12-07 15:44] bspeare opened #2670 "As a site owner, I can add/remove margins on components used in the same layout column"
# Story

As a site owner, I want add/remove margins on components used in the same layout column so that I can clearly view components with and without spacing in a page design.

All components do not have margins that will separate them if used in the same layout column.  See https://github.com/uiowa/uiowa/issues/2554 as an example.

# Proposed solution

## First slice (present at mid-sprint demo

[2020-12-07 15:55] bspeare commented on #2670
Since all components don't have a `block` class on them that we can target, do we need to add a universal class on components so that we can target them with this adjacent sibling selector rule?

[2020-12-07 15:57] bspeare commented on #2309
@joewhitsitt Yes, I think that part is no longer needed.

[2020-12-07 18:46] #1980 closed, assigned to nobody

[2020-12-07 18:46] #2537 closed, assigned to bspeare

[2020-12-07 20:23] briand44 opened #2673 "SSL Cert - provost.uiowa.edu on uiowa02"

[2020-12-07 21:17] bspeare opened #2674 "As a developer, I can create a new content type without having to add a field template file for the page title"
# Story

As a developer, I can create a new content type without having to add a field template file for the page title.

# Proposed solution

- Create one page title template: `docroot/themes/custom/uids_base/templates/field/field--node--title.html.twig`

- Remove these templates:
[code]
- Remove `<h1>` from https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/templates/conten

[2020-12-08 13:12] bspeare commented on #2648
@joewhitsitt do you have an sites or content types that you recommend testing this on?

[2020-12-08 14:45] joewhitsitt commented on #2648
Noticed it while reviewing the Grad Scholar PR. If I was testing it, the idea behind the issue would be to add core field types and their different formatters just to make sure they look okay out of the box. That way when a site does add custom fields to a content type they have the same kind of styling similar to other existing fields in terms of field labels, margins, etc. and won't have to have

[2020-12-08 14:57] joewhitsitt commented on #1398
Is this still an issue now that https://github.com/uiowa/uiowa/pull/2538 made an additional pass?

[2020-12-08 14:58] joewhitsitt commented on #1441
Replaced by https://github.com/uiowa/uiowa/issues/2650

[2020-12-08 14:58] #1441 closed, assigned to nobody

[2020-12-08 15:02] bspeare commented on #2648
@joewhitsitt Do you think we should build a kitchen sink page on the sandbox site to test all variations?

[2020-12-08 15:27] briand44 opened #2678 "https://intranet.oneit.uiowa.edu/events/calendar not working."

[2020-12-08 19:05] bspeare opened #2680 "As an admissions stakeholder, I can view a mockup of the admissions areas of study page"
# Story

As an admissions stakeholder, I can view a mockup of the admissions areas of study page so that I can preview how the layout and design components look in layout builder.

# Proposed solution

- [x] Create a mockup on https://admissions.prod.drupal.uiowa.edu/ for Education and Accounting using existing components and text areas.

[2020-12-08 19:21] joewhitsitt commented on #2678
I suspect this just needs otter to be jquery 1.7 (easy peasy), but the question that then comes up is what is needing 1.9 (current)?

What other kind of javascript is custom on this site?

[2020-12-08 19:38] joewhitsitt opened #2681 "Add room info to maps site gender inclusive restroom view"
* Adding room number(s) to https://maps.uiowa.edu/extras/gender-inclusive-restroom (extra column or two)
* Linking to https://trans-resources.org.uiowa.edu/gender-inclusive-restroom-map-campus

Understand that this is part of the reason we are replacing with Concept3d, so I'm not sure this is a priority.  Curious about sizing though.

[2020-12-08 19:46] joewhitsitt commented on #2674
Other node types
 config/default/node.type.page.yml
 config/default/node.type.person.yml
 config/default/node.type.article.yml
 config/hr.uiowa.edu/node.type.faq.yml
 config/grad.uiowa.edu/node.type.book.yml
 config/brand.uiowa.edu/node.type.lockup.yml
 config/icsa.uiowa.edu/node.type.project.yml
 config/policy.clas.uiowa.edu/node.type.book.yml
 config/features/scholarship/node.type.scholarship.ym

[2020-12-08 21:18] #2514 closed, assigned to joewhitsitt

[2020-12-08 21:20] joewhitsitt commented on #2648
Why do you have to ask the tough questions? 😉

I brought this up because I thought the phone field was missed. Looking at another site, I see that it looks fine. I didn't inspect the difference before.

<img width="411" alt="Screen Shot 2020-12-08 at 10 30 55 AM" src="https://user-images.githubusercontent.com/4663676/101512372-8bbc5d80-3940-11eb-847b-60c152ae93d6.png">

By adding every and any fie

[2020-12-08 21:29] bspeare commented on #2648
@joewhitsitt   I think https://github.com/uiowa/uiowa/pull/2677 just adds a few needed defaults that were missing.  We don't have to go overboard on it.

[2020-12-08 22:30] #2403 closed, assigned to nobody

[2020-12-09 15:45] joewhitsitt commented on #2667
https://www.drupal.org/project/drupal/issues/3186415#comment-13932617

[2020-12-09 16:38] #2411 closed, assigned to joewhitsitt

[2020-12-09 16:44] cory-skeers commented on #2654
Gathering the state of things now:

- There is the "base" sitenow_migrate module, which contains the standard SiteNow V1->V3 migration, as well as shared functionality which may be built upon for custom migrations
  - The `Files.php` is more or less usable for _all_ migrations. Can be improved, but unlikely to need any changes or custom functionality for any individual migration
  - The `ProcessMe

[2020-12-09 17:01] #2620 closed, assigned to nobody

[2020-12-09 17:07] cory-skeers commented on #2654
We're in a fairly good spot with this now. File migrate is pretty universal, and generic node migrate is in place along with several generalized utility methods. A general taxonomy migrate may be necessary, but there is not a current call for one. Should be a short lift if/when that is, as it can be a 1-to-1 move.

D7 sites which use panels or similar complexity in their body construction are not

[2020-12-09 17:12] joewhitsitt opened #2685 "Update banner documentation with new video functionality information"
# Issue

We just merged some cool new video functionality into the banner component but it hasn't been documented.

# Proposed Solution

Update https://sitenow.uiowa.edu/documentation/layout-builder/banner-block

[2020-12-09 17:36] #2369 closed, assigned to nobody

[2020-12-09 18:15] joewhitsitt commented on #2685
Updated to be:

[code]

[2020-12-09 18:15] #2685 closed, assigned to joewhitsitt

[2020-12-09 18:48] #2611 closed, assigned to nobody

[2020-12-09 20:11] richardbporter commented on #2591
I don't understand how bb90f5a caused this. It looks like we need to target `.layout__spacing_container` instead but I don't understand what is adding that class. I started this in #2688.

[2020-12-09 20:25] briand44 opened #2689 "SSL cert - nads.uiowa.edu - uiowa02"

[2020-12-09 21:37] pyrello opened #2691 "Issue with zero duration smart date range field"
# Problem
Tracking an issue that was filed at https://www.drupal.org/project/smart_date/issues/3187574

# Steps to reproduce
* Add a Smart Date Range field to a content type
* Set "Allowed durations increments" to just one row with the value of 0.
* Set "Default duration" to 0.
* Save the field settings
* Create a piece of content using the content type

# Proposed solution
Wait for update at the

[2020-12-09 21:43] #2404 closed, assigned to bspeare, richardbporter

[2020-12-09 21:46] pyrello commented on #2654
Here are some examples of upcoming migrations that I need:
* #2540 Thesis defense content (destination content type is in progress)
* #2334 Article content type, which is different than standard SNV1
* #2558 SROP mentors - this is an interesting case because the source is separate content type, but the destination is the Person content type using the Mentor person type.

[2020-12-10 15:00] joewhitsitt opened #2693 "MediaSpace videos broken"
# Problem
Got a report from HR about Kaltura/mediaspace videos not displaying correctly. Size selections are no longer honored.

# Steps to reproduce

Add a mediaspace.uiowa.edu video to HR with different size selections and see what happens.
node/7076 has examples at the bottom.

# Proposed solution

Most likely the markup/scoping has changed and needs to be adjusted.

For v2/v3 we should setup s

[2020-12-10 15:02] #2263 closed, assigned to richardbporter

[2020-12-10 16:26] briand44 commented on #2689
This is done.

[2020-12-10 16:26] #2689 closed, assigned to nobody

[2020-12-10 16:26] briand44 commented on #2673
This is done.

[2020-12-10 16:26] #2673 closed, assigned to nobody

[2020-12-10 16:26] richardbporter commented on #2591
I _think_ this should have been renamed as part of https://github.com/uiowa/uiowa/pull/2076 looking at https://github.com/uiowa/uiowa/pull/2076/files#diff-f80656a154856437798ba3ce695b96bfe44275a2a1473c731bfebc04d29945c1R356-R389.

[2020-12-10 17:07] joewhitsitt commented on #2693
Waiting to hear back from Lin. https://hr.uiowa.edu/well-being/livewell/health-and-well-being-resource-guide/health-and-well-being-video-resources has several that work for me if I have third-party blocking extensions (e.g. Ghostery) disabled.

[2020-12-10 18:07] joewhitsitt commented on #2693
Heard back. Sizing issue. Updated IS.

[2020-12-10 18:10] bspeare opened #2694 "Regression? Webmasters are able to configure the Header section within a layout"
# Problem

While we have locked out editors/webmasters from adding blocks to the "Header" section, they are able to edit the section and add background colors and container updates.

<img width="1711" alt="Screen Shot 2020-12-10 at 12 10 03 PM" src="https://user-images.githubusercontent.com/1036433/101812184-a6c5d380-3ae0-11eb-8495-3b4639c469b0.png">

<img width="1731" alt="Screen Shot 2020-12-10

[2020-12-10 21:02] #2659 closed, assigned to nobody

[2020-12-10 21:27] cory-skeers commented on #2654
After additional thought, I think I'm more inclined toward continuing your initial approach with `grad_migrate`, @pyrello.

Thinking of the possibility of overlapping migration work (e.g. if we get into Admissions Areas of Study migration while working on Grad migrations), it might get confusing and lead to branch conflicts. Probably `sitenow_migrate` for all the base, common functionality, and a

[2020-12-10 21:43] #2591 closed, assigned to richardbporter

[2020-12-11 17:38] richardbporter commented on #2694
Haven't dug deep into this but it all seems vaguely familiar. I think this is related: https://github.com/uiowa/uiowa/pull/2068#issuecomment-701656125

[2020-12-11 17:52] dnkemper commented on #2457
- Display hometown + (if US, display state) + if (international, display country)
- Next/Previous button at bottom of full student nodes
- Square images for grid - zoom in on image or image style? Might need to add two separate images
- Make grid of images = 9
- Make blockquote (student profile blurb) bigger

[2020-12-11 19:10] bspeare commented on #2457
Here are my notes:
- Apply now button in sidebar?
- Remove center alignment on view header in sidebar
- Change major field to be a reference to areas of study
- Add location icon and hometown info to teaser view
- Find a better style treatment for the quote within the teaser view

[2020-12-11 19:28] richardbporter commented on #2694
I guess I'm confused whether webmasters should be allowed to configure the header or not. The conversations in #2068 seemed to indicate yes they should.

If not, #2699 seems to work for newly created pages but not the default content on the default site. I don't know if that means all existing pages will not respect this setting or not.

[2020-12-11 19:33] richardbporter commented on #2694
Why do these display options exist for headers if they are not supposed to be changed?

[2020-12-11 19:36] bspeare commented on #2694
@richardbporter I think they exist by default on all one-column sections and this just happens to be the one section that we aren't prepared to allow those style variations.

[2020-12-11 19:51] #2693 closed, assigned to joewhitsitt

[2020-12-11 22:03] GaryRidgway commented on #2649
So I have done some investigation for removing the six necessary territories for checkbox two. After speaking with @joewhitsitt we have determined this issue to be a bit more complex than initially pointed, and so are going to merge checkboxes 1 and 3 with https://github.com/uiowa/uiowa/pull/2700 in and repoint this issue for the second checkbox.

[2020-12-11 22:27] bspeare opened #2701 "Allow <br> and <small> tag in minimal_html format"
# Problem
The banner using the `minimal_html` format has brought visibility to the need for adding single line break within the banner text.

<img width="902" alt="Screen Shot 2020-12-11 at 4 25 03 PM" src="https://user-images.githubusercontent.com/1036433/101960635-7871f200-3bcd-11eb-9570-56ccfc67f6bf.png">

Also, allowing `<small>` tags in `minimal_html` will address https://github.com/uiowa/uid

[2020-12-14 15:42] richardbporter commented on #2694
I'm going to continue on #2463 until I get to a better stopping point.

[2020-12-14 16:02] dnkemper commented on #2457
- [x] Apply now button in sidebar?
- [x] Remove center alignment on view header in sidebar
- [x] Change major field to be a reference to areas of study
- [x] Add location icon and hometown info to teaser view
- [x] Find a better style treatment for the quote within the teaser view
- [ ] Display hometown + (if US, display state) + if (international, display country)
- [ ] Next/Previous button at bo

[2020-12-14 18:05] pyrello opened #2705 "Discussion: Person vs. profile"
From a platform standpoint, how is the person content type intended to be used? Each person has one record? What if you have a need to have multiple separate pages about a person? Would I just create multiple person content items for the same person?

My initial thought is that the person content type is meant more as a list without duplicates. If this is the case, I'm wondering if it would make s

[2020-12-14 18:18] bspeare opened #2706 "Change or re-scope default margins for views-element-container"
# Problem
We are setting a global top margin for all views with the class `views-element-container` that is causing issues when using views within layout builder layouts.

# Steps to reproduce
The extra space can be seen between the a-z links and page title on https://uiowa.edu/a-z.

# Proposed solution

- Adjust scope of rule to only apply if body contains `layout-builder-disabled` class.
- Use a

[2020-12-14 18:51] cory-skeers commented on #2705
I'm of the same opinion re: the person content type, and that there shouldn't be duplicated person content.

Couple questions that might influence the route to go:
Does it need to be a separate page, or could/should it be the same page? eg in the example you provided, do all three need to persist alongside each other, or just one at a time? My guess is that most of the time only one at a time is n

[2020-12-14 18:57] pyrello commented on #2705
In the case of the two 3MT profiles, there is currently published a historical record of the prior year participants: https://www.grad.uiowa.edu/3mt/2020#3mtwinners. The Grad Success team at the Grad College would like to keep this content for the foreseeable future.

I was tempted to try solving this by using the article content type, which actually seems pretty well suited to this purpose, but t

[2020-12-14 20:27] mark-bennett-uiowa commented on #2705
I have always gone with the single profile and then articles/noteworthy/featured for the announcements. For instance:
[https://globalhealthstudies.prod.drupal.uiowa.edu/news/2020/04/global-health-studies-alum-lucas-fagre-receives-fulbright-bulgaria-and-romania](https://globalhealthstudies.prod.drupal.uiowa.edu/news/2020/04/global-health-studies-alum-lucas-fagre-receives-fulbright-bulgaria-and-roma

[2020-12-14 20:53] mjoneill commented on #2705
Depends on what you mean by _record_.  I think it makes the most sense to have every articulation of a profile page for an individual driven by one database record, but maybe there are reasons not to.

In the case of a given individual appearing on multiple pages...  this is a real thing, and something that we would want to solve for in a couple different ways.  I'd encourage us to think of markin

[2020-12-14 21:00] mjoneill commented on #2705
Sure.  Here's an example where I would encourage them to think about how they can design the parent page to obviate the need for making child pages like they are.  Even if they can't let go of the child pages for each "person", I still think:
1) These child pages are not "directory profiles"
2) The parent page could likely benefit from a content strategist's involvement

[2020-12-14 21:03] pyrello commented on #2705
I'm intrigued by this idea, as you could potentially reference an anchor link on the person page, jumping straight to the relevant content, but still in the context of the person's profile. However, that seems like it could solve for the Ballard Seashore page, but I'm not sure about the other two. It is customary after 3MT is over for videos of the presentations to be produced and then posted on e

[2020-12-15 14:20] mjoneill commented on #2705
You could probably tackle it either way. I think the point I'm trying to make is that the child page for each person is not a "Profile".  It's something else.  I would be inclined to make sure I link from that [what is it] page to the profile page.  If there's a mechanism to link back from the profile to this [what is it] page, then I'd do that (even if it is not as structured text).

Personally,

[2020-12-15 14:21] mjoneill commented on #2705
I like this approach, Mr. @mark-bennett-uiowa

[2020-12-15 15:28] bspeare opened #2710 "Allow Call to action block to use minimal html as an option"
# Problem
A few site owners (CLAS, Admissions) have requested the ability to add links or minimal text formatting to the Call to action block.

# Proposed solution
- [x] Create update hook to update field to (formatted, long) in place of (plain, long) and keep existing data.
  - [x] Update existing data to format as `plain_text` as part of this.
- [x] Allow `minimal_html` and `plain_text` formats.

[2020-12-15 18:21] #2648 closed, assigned to nobody

[2020-12-15 19:31] #2439 closed, assigned to nobody

[2020-12-15 19:32] cory-skeers commented on #2710
Reference to an old update hook from a similar text field change: https://github.com/uiowa/uiowa/blob/6eff817684082a7a101f1a48955c3f26c653a41a/docroot/profiles/custom/sitenow/sitenow.install#L344-L482

[2020-12-15 19:37] joewhitsitt commented on #2665
Let's not lose or improperly hide a11y info that is still expected. For example, footer is still supposed to have contact information. https://itaccessibility.uiowa.edu/web-standards

[2020-12-15 19:59] pyrello opened #2712 "[Grad College] Academic deadlines"
https://www.grad.uiowa.edu/deadlines

* Content type
* Imported from excel spreadsheet
* Updated 3 times per year

[2020-12-15 20:25] richardbporter commented on #2512
https://drupal.stackexchange.com/a/259831

[2020-12-15 21:00] joewhitsitt commented on #2649
was there any work on this yesterday?

[2020-12-16 15:02] pyrello opened #2714 "Create base MAUI integration with upcoming dates by session display"
# Story

As a site owner I want to be able to show a version of the Academic Calendar, possibly filtered by event category, so that I can display upcoming events to my visitors.

Example: https://registrar.uiowa.edu/dates-by-session

# Proposed solution

Adapt whatever solution is being used to display the above page to create a similar feature for Drupal 8. Add the ability for the site to set an

[2020-12-16 16:02] pyrello commented on #2712
Closed in favor of #2714

[2020-12-16 16:02] #2712 closed, assigned to nobody

[2020-12-16 17:40] #2680 closed, assigned to nobody

[2020-12-16 17:42] bspeare commented on #2407
Closing and using https://github.com/uiowa/uiowa/issues/2537 instead to accomplish this feature.

[2020-12-16 17:42] #2407 closed, assigned to nobody

[2020-12-16 17:49] pyrello opened #2715 "Add Admissions AOS search type ahead feature"
# Story

As a prospective student I want see search suggestions when I start typing in the Areas of Study search box so that I can be better directed to the appropriate Area of Study page.

# Proposed solution

Implement either a custom or contrib module to add functionality to compare entered search string against a list of possible matches and show the top results as a list of suggestions in a b

[2020-12-16 17:55] pyrello commented on #2715
In a meeting today we discussed a few points about how this could work:
* Provide matches against an AOS and its listed aliases as elements with a link to the specific Area of Study page.
* When there are no matching suggestions, box functions as it currently does.
* There was a request for being able to add additional search terms to match against an Area of Study. When there is a match against o

[2020-12-16 19:39] cory-skeers opened #2716 "LB contextual links don't work after dragging block"
# Problem
After dragging a block within the layout builder editor, contextual links no longer work until the layout changes have been saved.

# Steps to reproduce
Edit a page layout.
Drag a block into a new section or a new region within the section.
Attempt to edit/move/remove the block using the contextual link.

# Proposed solution
Unsure, but my guess is the contextual link is attempting to lo

[2020-12-16 20:15] #2654 closed, assigned to cory-skeers

[2020-12-16 21:46] cory-skeers commented on #2649
Finished up by #2717

[2020-12-16 21:46] #2649 closed, assigned to dnkemper, GaryRidgway, cory-skeers

[2020-12-16 22:08] cory-skeers commented on #2710
@bspeare Circling back with another clarifying question on this one--

The goal is to default to `plain_text` in creating a CTA, but to have the option to select `minimal_html` (as opposed to defaulting to `minimal_html` when a user adds a new CTA)?

[2020-12-16 22:15] bspeare commented on #2710
@cory-skeers Yes, that would be ideal to have the option to switch to `minimal_html` as a secondary option.

[2020-12-16 22:19] cory-skeers commented on #2710
Perfect, that was what I was thinking. Thanks @bspeare!

[2020-12-16 22:41] joewhitsitt commented on #2530
I think this needs to be broken up in to separate tasks.

In terms of "Aggregator" aka RSS Feed, card image options already exist and we are going to be working to extend this to other list blocks shortly: https://github.com/uiowa/uiowa/issues/2351

The card.js whole card link issue has similar issues: https://github.com/uiowa/uiowa/issues/2277 and will probably need to be revisited.

I have heard

[2020-12-17 14:07] pyrello commented on #1398
I believe this can be closed.

[2020-12-17 14:07] #1398 closed, assigned to nobody

[2020-12-17 16:28] GaryRidgway opened #2720 "YouTube oEmbed videos with `www` links will not embed correctly."
# Problem
Recently youtube changed some things that made `www` links for OEmbed not embed correctly. This has the potential for breaking all videos that are currently embedded with `www` links.

# Steps to reproduce
Try to embed any youtube video with the www link in the URL and it will not work, saying that it `Could not retrieve the oEmbed resource.`

# Proposed solution
Possibly run an update h

[2020-12-17 16:35] joewhitsitt commented on #2720
D8/9 issue: https://www.drupal.org/project/drupal/issues/3188842
D7 issue: ?
YouTube changelog documenting these recent changes: ?
https://issuetracker.google.com/issues?q=componentid:186600%20status:open

[2020-12-17 21:27] pyrello commented on #2078
I think this is done.

[2020-12-17 21:27] #2078 closed, assigned to nobody

[2020-12-17 21:29] joewhitsitt commented on #2356
This would help us better respond to issues like: https://github.com/uiowa/uiowa/issues/2720

[2020-12-17 21:32] pyrello opened #2722 "Show block descriptions at the top of the block form."
# Story

As a content editor using layout builder I want to be able to see block descriptions when I add or edit a block so that I have some point of reference for what I am creating.

# Proposed solution

Print out the block description at the top of the block form for block content blocks. Extra credit for making this a hidden area that can be shown by clicking on a little (i) icon.

[2020-12-17 21:40] pyrello commented on #2515
Content fields currently related to creating the admissions requirements and application information tabs on the current D7 site are being moved into a separate content type that references the AOS.

[2020-12-17 21:40] bspeare opened #2723 "As a site owner, I can place a block component into a content region and set it to stack in a flexbox grid"
# Story

As a site owner, I can place a block component into a content region and set it to stack horizontally in a flexbox grid.

# Proposed solution

The current component behavior extends full-width of the layout region:

<img width="951" alt="Screen Shot 2020-12-17 at 3 39 14 PM" src="https://user-images.githubusercontent.com/1036433/102546995-1c501780-407e-11eb-87c4-ee9c96c926c7.png">

Add a

[2020-12-17 22:00] bspeare opened #2724 "As a site owner, I can place an embedded remote video into the card component"
# Story

As a site owner, I can place an embedded remote video into the card component so that the card format can showcase YouTube videos.

<img width="1064" alt="Screen Shot 2020-12-17 at 3 58 12 PM" src="https://user-images.githubusercontent.com/1036433/102548719-aef1b600-4080-11eb-9947-f0e7bd10e1c9.png">

<img width="1369" alt="Screen Shot 2020-12-17 at 3 56 51 PM" src="https://user-images.git

[2020-12-17 22:30] joewhitsitt commented on #2701
any reason why we shouldn't match this change to v2?

[2020-12-17 22:32] bspeare commented on #2701
I don't think so.  Are there extra steps we need to take for that?

[2020-12-17 22:34] joewhitsitt commented on #2701
export the same config change on a "default" v2 site like hawkeyemarchingband

see https://github.com/uiowa/uiowa/pull/2675/files as an example

[2020-12-18 15:10] joewhitsitt commented on #2351
@bspeare do we want to take this opportunity to change the default card styles for new blocks of each type or keep them the same as existing blocks out there?

- event
- article
- events
- person

[2020-12-18 15:23] bspeare commented on #2351
@joewhitsitt That's a good question that might be helpful to get broader input on.  How soon do we need to decide?

[2020-12-18 15:33] joewhitsitt commented on #2351
Sounds like work will start today, but defaults for new blocks can be swapped out right before merge.

[2020-12-18 15:41] bspeare commented on #2351
@joewhitsitt That could be a good question to ask at the admissions design meeting today at 11.  Can you drop in for the first 10 minutes to ask this?

[2020-12-18 17:13] richardbporter commented on #2463
I've implemented the introduction exactly like the D7 module but its not showing. I must have overlooked something.

[2020-12-18 17:20] joewhitsitt commented on #2351
Updated the IS to include feedback about defaults going forward

[2020-12-18 20:49] joewhitsitt commented on #2535
old news. closing

[2020-12-18 20:49] #2535 closed, assigned to dnkemper

[2020-12-18 20:51] joewhitsitt commented on #2353
Can we close this @dnkemper? The unchecked sites have notes in the submission results.

[2020-12-18 20:52] dnkemper commented on #2353
@joewhitsitt sure thing! Thank you!

[2020-12-18 20:52] #2353 closed, assigned to dnkemper

[2020-12-18 20:54] joewhitsitt opened #2726 "SSL Cert - pchs.lhpdc.law.uiowa.edu on uiowa"
i think this site was already delivered

[2020-12-18 20:57] bspeare opened #2727 "As a site owner, I can place an events listing on my site and have it look different from other lists"
# Story

As a site owner, I can place an events listing on my site and have it look different from other lists so that there is a clear visual distinction from other list styles.

# Proposed solution

Adjust the card list design with the possible changes listed below.

**Most recent:**
- https://github.com/uiowa/uiowa/issues/2727#issuecomment-834403434

**Older ideas:**
<details>
## Calendar date

[2020-12-18 21:05] bspeare commented on #2396
I added this related issue https://github.com/uiowa/uiowa/issues/2727 to document the conversation we had about event listings today.

[2020-12-18 21:24] joewhitsitt commented on #2726
done

[2020-12-18 21:24] #2726 closed, assigned to joewhitsitt

[2020-12-18 21:29] joewhitsitt opened #2729 "Site Provisions 12/18/2020 - 1/7/2021"
- pchs.lhpdc.law.uiowa.edu _delivered_
- obgynprotocols.sites.uiowa.edu _delivered_
- ejanderson.lab.uiowa.edu _delivered_
- studentlife.uiowa.edu _done_
- shl.uiowa.edu _delivered_
- webcommunity.sites.uiowa.edu _delivered_
- orgblsa.prod.drupal.uiowa.edu _delivered_
- freespeech.uiowa.edu _delivered_

[2020-12-18 22:47] pyrello commented on #2651
I don't think this approach is practical anymore given the work done in #2677.

[2020-12-18 22:47] #2651 closed, assigned to nobody

[2020-12-18 23:09] joewhitsitt commented on #2351
Established a draft pr for this and prepared the event template for the new options. https://github.com/uiowa/uiowa/pull/2730

[2020-12-21 13:52] briand44 opened #2731 "Can't forward non uiowa domains using https"
GoDaddy doesn't support forwarding https domains so users get an SSL error. An example can be seen at https://uilicensing.com. http://uilicensing.com will forward but with browsers defaulting to https we can't rely just on the http forwarding.

We are recommending customers do this for non uiowa domains. https://sitenow.uiowa.edu/policies

How should we handle these?

Cover both domains (uilicensi

[2020-12-21 17:15] joewhitsitt commented on #2678
Updated fullcalendar to 1.6.4 on 701-3:

701: 5ef5e6ea226f2d7956505a4c661fe7dd8e04e842
702: c3506859c8fbe7aec33721dabcbb11a3ba9dbc8b
703: df3eeed61e15d4f59b1f17e4e63bec45450cc681

Waiting for deploy. Will check PROD before closing.

[2020-12-21 18:13] joewhitsitt commented on #2678
<img width="766" alt="Screen Shot 2020-12-21 at 12 13 38 PM" src="https://user-images.githubusercontent.com/4663676/102808467-fa100f80-4385-11eb-82d7-489a40a6d190.png">

[2020-12-21 18:13] #2678 closed, assigned to joewhitsitt

[2020-12-21 21:51] #2701 closed, assigned to mark-bennett-uiowa

[2020-12-21 23:23] joewhitsitt commented on #2351
This got complicated because I think v2 is using the same template for these... I didn't encounter this with aggregator because we didn't extend the functionality to v2.

[2020-12-22 03:15] mjoneill commented on #2396
Not Admissions-specific, but this seems like the best place to drop in some additional thoughts I'm hearing from across campus about Events...  Of particular note is the handling of expired events (some campus partners have a need to keep those listed).

Notes on Events

Recent conversations with stakeholders for next-gen arts.uiowa.edu have surfaced some interesting discussions around the events

[2020-12-22 14:00] #2710 closed, assigned to cory-skeers

[2020-12-22 14:52] joewhitsitt commented on #2652
Title | title
Author | field_author | Text | Text field - _This is a first/last name split IEF field in v3 so I don't know how the text would be split consistently into this structure. Could this be pre-pended to the Organization field and manual fixed later?_
Source | field_article_source | Text | Text field - _Organization in SiteNow v3?_
Image | field_image | Image | Media browser
Caption | fie

[2020-12-22 14:54] richardbporter opened #2735 "Replace DevDesktop with another development environment for D7"
DD is EOL June 2021

### Initial Probe
- Experiment with Cloud IDE and report back. https://docs.acquia.com/ide/start/

### Proposed additional probe
- Experiment with DrupalVM on D7 knowing that we will need an M1 workaround (but already need one for D9).

[2020-12-22 14:59] joewhitsitt commented on #2735
:drupal_cry:

[2020-12-22 15:35] mjoneill opened #2736 "Sitelinks searchbox not working"
It seems like Google finally implemented the sitelinks search box in Google Search.  Yay!

The bad news is that the schema doesn't represent the actual URL anymore and needs to change.

This line in the searchAction:

Needs to be

[Bug]

[2020-12-22 15:43] bspeare opened #2737 "As a site owner, I can adjust the layout column order for mobile through a layout builder style"
# Story

As a site owner, I can adjust the layout column order for mobile so that I can adjust the order/display on how the content stacks for mobile.

# Proposed solution

- Create a layout builder style for sections to `Reverse column order on mobile` which would apply `flex-direction: row-reverse;` to the container.

[2020-12-22 15:57] bspeare opened #2738 "As a site owner, I can set a layout builder block to appear collapsed for mobile"
# Story

As a site owner, I can set a layout builder block to appear collapsed for mobile so that I can offer a more concise mobile experience that doesn't require endless scrolling for pages with a lot of text.

# Proposed solution

- If a text area block has text in the "Headline" field, and "Visually hide title" is not checked, display a checkbox to "Collapse content for mobile".

[2020-12-22 16:15] pyrello opened #2739 "Investigate past event logic and options"
# Story

As a site owner I want to be able to display any past events and set exact filters on how far back my past events display (e.g. 1 year) so that I can control what past events show up on my site.

# Proposed solution

* Improve logic for getting past events by storing the timestamp when dates were last fetched and then only fetch updated events since then.
* Optionally batch fetching of ev

[2020-12-22 17:24] joewhitsitt commented on #2652
Bill responded via email:

Bill will add to this issue when he returns from break.

[2020-12-22 17:49] cory-skeers commented on #2652
Should be fairly straightforward to get a custom migration up and running off of the base sitenow_migrate article migration. YAML configuration and a source plugin similar to what was done in grad_migrate.

Adding it to the Organization field is an option, and would be the most straightforward from our end, while providing nearly the same end-user experience. Migrating into the V3 IEF would be pos

[2020-12-22 18:50] richardbporter commented on #2714
I'll start looking at this.

[2020-12-22 19:08] joewhitsitt commented on #2736
config/uiowa.edu/metatag.metatag_defaults.front.yml

[2020-12-22 19:10] richardbporter commented on #2736
it'd be nice to change the duplicate search in the URL querystring parameter to something like terms: https://uiowa.edu/search?terms=foo

[2020-12-22 19:15] briand44 opened #2740 "provision shl.uiowa.edu as a SiteNow v3 site."
The provision process was started for this quite awhile back but got put on hold waiting some domain clarification. I'm assuming that was SiteNow v2.

This domain is probably covered already on one of our applications.

[2020-12-22 19:18] mjoneill commented on #2736
Not part of my ask, but I like the idea and it appeases my OCD.  If it's easy to do, I'm game.  I'll need to make a change to Google Analytics if we do change the query string so that it continues to capture search terms correctly.

[2020-12-22 19:27] bspeare opened #2741 "As a site owner, I can create an Area of Study page that has all of the defined fields"
# Story

As a site owner, I can create an Area of Study page that has all of the defined fields

# Proposed solution

- [x] Subtitle - Text (formatted, long, with summary)
- [x] Intro - Text (formatted, long, with summary)
- [x] Why Iowa - Text (formatted, long, with summary)
- [x] Admission Requirements - Text (formatted, long, with summary)
- [x] Create Admission Requirements content type (Title

[2020-12-22 19:38] pyrello opened #2742 "Identify Coronavirus site pages still using V2 Paragraphs"
# Motivation

As a first step to preparing the Coronavirus site for an update to move it to a standard V3 site, we need to identify all pages that are currently using V2 Paragraph elements.

# Proposed solution

Visit all page content on the site and see whether it uses Paragraphs and add it to a list of all these pages.

[2020-12-22 19:49] richardbporter commented on #2714
I'm wondering if we can treat this issue as a subtask/split from #2184 since I think only the upcoming dates by session view is needed. That might allow us to get it done faster and revisit the rest of the MAUI functionality later.

[2020-12-22 19:52] pyrello commented on #2714
Sounds good to me.

[2020-12-22 19:56] richardbporter commented on #2714
I had envisioned using custom blocks for this, maybe similarly to the aggregator block. Is that ok or were you thinking of a "page display" like SiteNow People or something?

[2020-12-22 20:01] #2583 closed, assigned to bspeare, cory-skeers

[2020-12-22 20:05] pyrello commented on #2714
I had just imagined a page like SiteNow People, but I'm open to having it be a block.

[2020-12-22 20:53] dnkemper commented on #2740
Looked in uiowa, uiowa01 and uiowa02 prod and stage environments and can't find an existing database or domain for this site. Messaged Brian, and he will take a look later to verify or correct me.

[2020-12-22 21:11] briand44 commented on #2740
It is very likely I misinterpreted the notes on this. There was already a site request submitted but it may not have been started. Also, there is a *.shl.uiowa.edu covered on uiowa01 but we still need to cover shl.uiowa.edu.

[2020-12-22 21:14] #2736 closed, assigned to richardbporter

[2020-12-22 21:19] dnkemper opened #2744 "SSL for shl.uiowa.edu on uiowa01"
Need coverage for top level domain - already have coverage for *shl.uiowa.edu

[2020-12-22 21:55] dnkemper commented on #2740
Thank you for helping clarify that for me! [Provisioned](https://github.com/uiowa/uiowa/pull/2745) on uiowa01. [Created SSL cert ](#2744 ).

[2020-12-23 14:57] #2694 closed, assigned to joewhitsitt

[2020-12-23 16:59] richardbporter commented on #2714
The D7 panel panes allow for additional content to be placed before/after the dynamic displays. That was a common request and was why I initially was thinking of using custom block types in D8. If we use custom block types, we'll probably want to use the shared headline field which means we can't provide the block via the module (https://github.com/uiowa/uiowa/pull/2152#issuecomment-708500240). Th

[2020-12-23 17:05] bspeare opened #2748 "As a site owner, I can have more control over my tables in the WYSIWYG"
# Story

As a site owner, I can have more control over my tables in the WYSIWYG and how they display on the page.

Related issues: #139, #995

# Proposed solution

- Add ability to apply table styles/classes via WYSIWYG
- Add Ability to set table width?
  - Add a class that will allow contents of table to determine width?
  - Explore options using layout columns to determine table width.

[2020-12-23 17:35] scottfi commented on #2396
I'll add my 2 cents to this specifically for our needs on the admissions site. We've actually talked about this very issue over the past several years, and do not need any sort of archival event retention. In fact, we'd like to get rid of that since our site doesn't expire events currently. We've looked into this on our site to try and retire/remove events X days after they happen for quite some t

[2020-12-23 19:01] briand44 opened #2750 "As an Admissions content editor, I can embed things in the WYSIWYG without them being stripped out."
# Story

As an Admissions content editor, I can embed things in the WYSIWYG without them being stripped out.

[OnceHub](https://www.oncehub.com/) was one example that was given but the overall request was to be able to use full html because there are other instances of html being stripped out of the WYSIWYG and it is expected that the list will continue to grow. Admissions content folks currently

[2020-12-23 19:11] briand44 opened #2751 "As an Admissions stakeholder, I can have a site to demonstrate next steps for admitted students."
# Story

As an Admissions stakeholder, I can have a site to demonstrate next steps for admitted students.

They would like to replicate the experience of the [Admissions Viewbook](https://viewbook.admissions.uiowa.edu/) with content directed towards next steps for admitted students.

It was discussed to not create any new design elements as part of this process to be able to deliver this quickly.

[2020-12-23 19:27] pyrello opened #2753 "Allow setting primary person type"
# Motivation

The person type feature of the Person content type is useful and could be used for things like creating per-person-type displays, URL alias rules, and views. However, some of this potential benefit is offset by the complexity introduced by allowing People records to belong to multiple person types. This makes deciding which person type to use essentially based on whichever label happ

[2020-12-23 19:46] briand44 opened #2754 "Scholarship displaying all content while collapsed."
# Problem
The Collegiate and Departmental Scholarships scholarship is displaying all of the content in the accordion while collapsed.

# Steps to reproduce
https://admissions.prod.drupal.uiowa.edu/first-year-resident-scholarships

![Screen Shot 2020-12-23 at 1 45 12 PM](https://user-images.githubusercontent.com/1017022/103032205-1e562280-4525-11eb-9ac4-274f64b017c0.png)

# Proposed solution

[2020-12-23 20:02] pyrello opened #2755 "Add back to top link button functionality"
# Story

As a site visitor I want be able to have an easy way to get back to the top of the page on long pages so that I don't have to manually scroll back up on long pages.

This feature is being requested in the context of building the Grad College Manual of Rules and Regulations section, which will have some very long pages and a set of anchor links at the start. Having a back to top button wil

[2020-12-23 21:42] bspeare opened #2756 "As a site owner, I can apply styles to a specific layout region"
# Story

As a site owner, I can apply styles to a specific layout region

Currently, we are unable to apply a layout style to a specific region.  With the updated person content type using layout builder, we will need to switch from using a custom view template https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/templates/views/views-view-unformatted--person-card.html.twig to

[2020-12-23 23:15] #2552 closed, assigned to dnkemper

[2020-12-28 14:33] pyrello opened #2757 "Scope field item style to allow for h* tags to display at their normal sizes."
# Problem

Recent style updates in #2677 prevent non-`<div>` tags from inheriting established font sizes.

# Proposed solution

Scope `.field__item` `font-size` adjustment to only apply to `<div>` and `<p>` tags.

[2020-12-28 16:54] briand44 commented on #2740
Site has been provisioned and delivered.

[2020-12-28 16:54] #2740 closed, assigned to dnkemper

[2020-12-28 17:28] briand44 commented on #2744
This is done.

[2020-12-28 17:28] #2744 closed, assigned to nobody

[2020-12-28 21:07] #2320 closed, assigned to nobody

[2020-12-29 14:32] pyrello commented on #2751
I added some notes under "Proposed solution" based on what was discussed at the meeting where this came up.

[2020-12-29 14:40] mjoneill commented on #2652
Do we know enough to estimate yet?

[2020-12-29 14:52] joewhitsitt commented on #2754
This is technically working as they requested. Did they change their minds? Scott said they don't usually put much into this field and is supposed to act as a teaser to reduce clicks.

[2020-12-29 14:53] pyrello commented on #2096
I started down the path of creating this new "Bit" content fragment type using the `drush generate` command. I mostly followed the defaults, although I think we do wants these pieces of content to be revision-able. In comparing what was generated vs what comes with the Fragments module, I could see that it seems very much like the Fragments module started from just such a command being run, but ha

[2020-12-29 14:55] joewhitsitt commented on #2755
Maybe https://github.com/uiowa/uiowa/issues/587 can close and be replaced by this if it is to be in uids_base and not just for grad

[2020-12-29 14:58] joewhitsitt commented on #2652
I have to defer to @cory-skeers on an actual hours estimate for this work.

[2020-12-29 15:02] cory-skeers commented on #2652
With a few assumptions (that we:
 * can leave out the legacy import data,
 * map the author field to the organization which would require manual cleanup by engineering after if they want complete mapping with people, and
 * we map the various extra fields to a simple prefixed tag)
I think we're looking at about one day of one FTE work to setup the split and basic YAML/source plugin.

Migrating int

[2020-12-29 15:32] #2757 closed, assigned to nobody

[2020-12-29 15:47] joewhitsitt commented on #2720
Might be related: https://issuetracker.google.com/issues/176032254

[2020-12-29 15:47] briand44 commented on #2720
icgov.org has experienced conflicting results related to this. Originally they were not able to use the www link from the browser as mentioned above. After changing the endpoint to https and telling them to use the share link format, things worked as expected. A few days later they experienced the issue where the `https://youyu.be/` format would not embed but I was able to get it to embed using th

[2020-12-29 16:01] joewhitsitt commented on #2096
It seemed silly to lock into a module where at least 60% could just be done with a drush command/core functionality. If we want to add something, we would have to patch with the hope that our feature request would be approved. It could go the other way in that there is a feature we don't want to adopt that we then have to work around. Copy/paste seems easier than dealing with a forked/patched cont

[2020-12-29 16:08] briand44 commented on #2754
Would using the additional information for the bulleted items be a work around in this case?

[2020-12-29 16:11] joewhitsitt commented on #2754
Yes, only the contents of Description are used in the "teaser"

[2020-12-29 16:12] briand44 commented on #2754
I updated the content and moved the bulleted items to the additional information field.

[2020-12-29 16:14] #2754 closed, assigned to nobody

[2020-12-29 16:16] joewhitsitt commented on #2720
I think as long as they can be successful with one of the many URL patterns, this is a sit-and-wait upstream type issue. Nothing has been changing on our end.

This support article lists the youtube patterns that they can try for D7: https://its.uiowa.edu/support/article/110816

[2020-12-29 17:34] pyrello commented on #2096
Given the lack of usage of the Fragments module, it would seem that a lot of people must agree with this viewpoint. Or there is just not a strong need for this type of functionality in the majority of sites.

Since I've already started the work on the Bit module, I'll keep working with that for the time being. That being said, this really seems to me like we are reinventing the wheel and I'm not r

[2020-12-29 21:29] briand44 commented on #2681
This is done. The view was a taxonomy term view so the same view was being used for each term. I combined the fields in views since there is only one place where there is both a link and a description and the output isn't terrible. After chatting with Joe, a better approach may have been to hide table column when no results and just add the additional description column.

[2020-12-29 21:29] #2681 closed, assigned to nobody

[2020-12-30 16:14] joewhitsitt opened #2761 "Docs - Feature Image Sizing"
Related to https://github.com/uiowa/uiowa/pull/2711

One gotcha to all this is that it assumes a standard page layout, not custom ones like uiowa.edu has.

[2020-12-30 16:34] pyrello commented on #2096
I have started the work that will enable this in #2758. One thing that I am wondering about as I actually start to work with this is the term "Bit," which I think is clever,  but I also worry may be confusing to a site owner or content editor. Maybe even just. referring to them as "Reusable bits" might make it more clear.

[2020-12-30 16:50] joewhitsitt commented on #2096
I like the short `bit` machine name but I am flexible on the human-readable. Didn't want a name collision with fragment and was trying to keep with the node-like computing terminology. "Bits of content" or "Informational bits" was what I was thinking.

[2020-12-30 17:44] mjoneill commented on #2096
I don't have any preference... re: "bit" vs "reusable bit" (other than an existential question re: how many reusable bits in a byte?).  I would mention that folks with a background in content might be familiar with the term,  "chunk" or "component". However, I suspect on campus there's not familiarity with the domain to have entrenched diction, so it likely won't matter.

Easydita has a good intro

[2020-12-30 19:08] #2405 closed, assigned to nobody

[2020-12-30 19:08] #2633 closed, assigned to nobody

[2020-12-30 22:10] quamsta opened #2762 "Request/Help: Drupal Feeds Module (Content Import/Export)"
Hi all,

I've been playing around with a few modules for importing large amounts of content into our studentlife.uiowa.edu site's database. I've had quite a bit of success with the [Drupal Feeds module ](https://www.drupal.org/project/feeds) but this module doesn't simply import our posts/pages, but it also adds the feeds we import to the database schema. Additionally it adds feed types and feed o

[2020-12-30 22:23] joewhitsitt commented on #2762
I don't think we have touched Feeds yet in D8. It was lagging behind in terms of D8 readiness and a lot of folks moved forward with the migrate tools at least as a short-term workaround. @cory-skeers and @pyrello have been doing a lot of migrate/importing work lately: https://github.com/uiowa/uiowa/pull/2527

This sounds like it will either be a feature split (e.g. [sitenow_migrate split](https://

[2020-12-30 22:40] quamsta commented on #2762
Awesome, thanks @joewhitsitt

And for some additional clarity, we are migrating content from a non-Drupal source. That complicates things a bit as far as following existing patterns for migration.

[2020-12-31 16:27] #2313 closed, assigned to nobody

[2020-12-31 16:37] joewhitsitt opened #2763 "Move custom templates/styles from uids_base"
# Story

As a developer, I should see very little custom templates/styles in uids_base and should not be a dumping ground beyond fast prototyping. These should live within custom modules and have their own build process.

Examples include areas of study, person_extended, admissions' student profiles.

# Proposed solution

- Audit existing templates and class references that are scoped to feature s

[2020-12-31 16:55] joewhitsitt opened #2764 "Move US States Allowed Values Function to be shared"
# Story

As a developer, I can make use of a shared list of US States with the ability to alter it to add/remove options without recreating the wheel each time.

# Proposed solution

Move admissions_core_state_options function in [admissions_core](https://github.com/uiowa/uiowa/blob/9472ebe354cc7b50f9158a90eb11e15025cacc3a/docroot/sites/admissions.uiowa.edu/modules/admissions_core/admissions_core.

[2020-12-31 16:59] joewhitsitt commented on #547
There are discussions to move [HR to uids_base](#2629) in which the JS behind this will need to be revisited. Postponed

[2020-12-31 17:21] joewhitsitt commented on #2293
This is done for default now right @pyrello ?

[2020-12-31 17:22] pyrello commented on #2293
Yes.

[2020-12-31 17:22] #2293 closed, assigned to nobody

[2020-12-31 17:40] joewhitsitt commented on #1759
Looks like hero and banner now get `id="video-container-{number}"`

Can this issue be closed @pyrello?

[2020-12-31 17:44] #1904 closed, assigned to nobody

[2020-12-31 17:47] #2137 closed, assigned to GaryRidgway

[2020-12-31 17:49] joewhitsitt commented on #2151
Resolved by https://github.com/uiowa/uiowa/pull/2538

[2020-12-31 17:49] #2151 closed, assigned to nobody

[2020-12-31 17:52] joewhitsitt commented on #2256
The issue related to borders was also raised by Todd. I have a PR open here to have a better fallback for folks that had a table border attribute: https://github.com/uiowa/uids/pull/442

[2020-12-31 18:36] pyrello commented on #2762
@quamsta Is the data being migrated from databases? If so, and you have the ability to control the firewall rules for the server the database lives on, it may actually be easier to migrate than the Drupal 7 sites. We have no way to directly access the database servers in Acquia Cloud, so the migration process involves having to pull down local copies of the production databases and import from tho

[2020-12-31 19:29] #1759 closed, assigned to nobody

[2020-12-31 21:47] joewhitsitt commented on #2396
Took a stab at grooming this issue to the point where I wanted to do a research spike into smart date. Packaged up what I discovered in #2765

[2021-01-04 12:43] bspeare opened #2775 "Set consistent page title size for featured images"
# Problem
With https://github.com/uiowa/uiowa/pull/2711 the ability to adjust the banner size of the featured image also adjusts the size of the page title based on the selection.

# Steps to reproduce

Large example:

<img width="1614" alt="Screen Shot 2021-01-04 at 6 37 35 AM" src="https://user-images.githubusercontent.com/1036433/103536225-baeabf80-4e57-11eb-99a1-12555cac3c6e.png">

Medium exam

[2021-01-04 14:55] #2409 closed, assigned to nobody

[2021-01-04 14:55] #2457 closed, assigned to dnkemper

[2021-01-04 14:55] #2458 closed, assigned to dnkemper

[2021-01-04 15:38] joewhitsitt opened #2778 "inrc.law - update event content type email field to not be required"
## Issue

## Proposed Solution

- [x] Update the event content type email field settings to not be required.
- [x] Feature update as this configuration is packaged up.
- [x] Deploy release to 703.

[2021-01-04 15:57] bspeare opened #2780 "Article featured image display setting text appears if set to anything other than the default"
# Problem
The Article content type featured image is displaying banner image size display setting field text on the page.

# Steps to reproduce
Add a new article with a custom large or medium featured image and verify that there is display text below the page title.

<img width="1735" alt="Screen Shot 2021-01-04 at 9 54 09 AM" src="https://user-images.githubusercontent.com/1036433/103553450-14141c

[2021-01-04 16:02] joewhitsitt commented on #2780
Do you think this needs to be a hotfix or can it wait for a later release?

[2021-01-04 16:03] bspeare commented on #2780
@joewhitsitt I can put up a fix now.

[2021-01-04 16:12] quamsta commented on #2762
@pyrello Thanks Sean, I wasn't really thinking of using actual database dumps or SQL statements to move content/data around, but rather providing an API of sorts that would let a Drupal module consume the API and import pages. I actually have this working fairly well as a proof-of-concept with Drupal Feeds importing a CSV I'm generating into my local DB:

<img width="504" alt="Screen Shot 2021-01-

[2021-01-04 16:16] #2780 closed, assigned to nobody

[2021-01-04 16:21] pyrello commented on #2762
Complex joins shouldn't be a problem. The Migrate ecosystem in Drupal can use a class-based source plugin which allows you to effectively define whatever sort of query you need to to get the structure of the object correct. Here is an example of our BaseNodeSource class, which is extended by other Source plugin classes and uses joins to get the "row": https://github.com/uiowa/uiowa/blob/main/docro

[2021-01-04 19:25] richardbporter commented on #2463
This is fixed now.

[2021-01-04 19:38] richardbporter commented on #2463
@bspeare Just checking with what is left to do with theming. Looks like the grid images and responsive tables. I reached out to AIS re: grid images and the table striping class. I can dig into responsive tables again but was really stuck before break.

[2021-01-04 19:47] bspeare commented on #2463
@richardbporter we could implement a CSS-based responsive solution for the tables that doesn't have all the bells and whistles of the JS solution.  That would probably get this closer to an MVP.

[2021-01-04 20:04] bspeare commented on #2751
Should we transfer this to https://github.com/uiowa/admissions-viewbook?

[2021-01-04 20:06] bspeare commented on #2751
I've added a mockup below with an outline of the proposed changes from Scott.

<details>

![Admitted-Students-Site](https://user-images.githubusercontent.com/1036433/103574664-f4dab680-4e95-11eb-861c-0870a4048e0c.jpg)

</details>

[2021-01-04 20:30] joewhitsitt commented on #2579
We have this enabled for forms already..

[2021-01-04 20:40] richardbporter commented on #2463
I might be on to something re: tables.

[2021-01-04 20:46] joewhitsitt commented on #2463
Sorry, not sure if this is the issue but saw the notifications come through.

Responsive tables are opt-in here: docroot/themes/custom/uids_base/assets/js/tables.js because we were running into tables that _should not_ be responsive more often than not.

Otherwise there is a table-static option to opt-out: https://uids.brand.uiowa.edu/components/detail/tables.html if it _is_ being applied and not

[2021-01-04 20:46] #2650 closed, assigned to joewhitsitt

[2021-01-04 20:51] joewhitsitt commented on #2775
This is done right @bspeare?

[2021-01-04 21:04] richardbporter commented on #2463
Unfortunately not that simple in this case b/c of how the data is loaded. I'm almost there but for some reason the `table:not(.table--static)'` addition to the selector returns null when it should be getting the element.

[2021-01-04 21:17] bspeare commented on #2775
@joewhitsitt yes, thanks!

[2021-01-04 21:17] #2775 closed, assigned to nobody

[2021-01-04 21:49] pyrello opened #2784 "Create a narrow option for articles"
# Story

As a website visitor I would like articles to have narrow columns so that it is easier to read and more in line with my expectations based on other sites.

This functionality was requested for the new Writing University website.

Example other sites: https://medium.com/mind-cafe/einsteins-formula-for-a-happy-life-b29aff61a9c7, https://www.nytimes.com/2021/01/04/technology/slack-down-outag

[2021-01-04 23:17] pyrello opened #2785 "Replicate SN V2 grid options"
# Idea

Allow the user to select a "Grid" display option at the layout/region level (for one- and two-column layouts). From there, the user can select a predefined grid (as demonstrated in #2707) or a "Fluid" option. If the "Fluid" option is selected, then each block will have a "Grid width" option that displays, allow the user to select from options similar to the V2 grid display options. This is

[2021-01-04 23:49] ethanstjohn commented on #2742
Here are the pages and sections using v2 paragraphs.

[Coronavirus pages using V2 paragraphs.pdf](https://github.com/uiowa/uiowa/files/5767302/Coronavirus.pages.using.V2.paragraphs.pdf)

[2021-01-05 03:17] pyrello opened #2786 "Non-admins unable to access bit overview screen"
# Problem
When masquerading as an editor or a webmaster, visiting the `admin/content/bit` page causes an Access Denied.

# Steps to reproduce
* `blt ds --site=grad.uiowa.edu`
* `drush @grad.local uli admin/people`
* Masquerade as Marie Wakeman
* Visit https://grad.local.drupal.uiowa.edu/admin/content/bit and note the Access Denied screen.
* Visit https://grad.local.drupal.uiowa.edu/admin/content/b

[2021-01-05 13:59] pyrello commented on #2096
Based on my experience trying to resolve #2786, I have swung solidly in the direction of favoring the Fragments module over maintaining our own module. I still don't know why that issue was an issue, but in trying to track down why Fragments worked and Bit did not, I had a chance to become much more familiar with the Fragments module and to understand what extras it is offering on top of the code

[2021-01-05 14:13] richardbporter commented on #2463
Nevermind. I think it would be best to implement some quick-and-dirty responsive tables CSS. Layering JS on top of JS is messing with the Vue app here. For example, since our tables.js replaces the table element with a div, it breaks the pager functionality.

[2021-01-05 14:17] richardbporter commented on #2463
I've removed access to the list/grid switcher since the grid display is not in use on D7. AIS said getting the images the same size was going to take some time. Since APR is going away, I think its best to skip that functionality for now.

[2021-01-05 14:28] pyrello commented on #2785
Related to #2676 and #2707

[2021-01-05 14:31] bspeare commented on #2463
@richardbporter maybe something simple like https://adrianroselli.com/2020/11/under-engineered-responsive-tables.html would be useful here?

[2021-01-05 14:39] #2786 closed, assigned to nobody

[2021-01-05 14:48] joewhitsitt commented on #2096
I really wanted to take a look at this before it got this far. How much content has been created to date?

[2021-01-05 14:51] richardbporter commented on #2463
I gave that a shot but I'm still getting overflow:

<img width="764" alt="Screen Shot 2021-01-05 at 8 47 27 AM" src="https://user-images.githubusercontent.com/1068523/103660308-1047cf00-4f33-11eb-8078-51aab30d1463.png">

[2021-01-05 15:27] cory-skeers commented on #2784
Interested in this. Also curious to look into some research and best practices surrounding this, might inform whether this should be a universal update or open to options. I've read some on it before, but don't know what kinds of margins there are around "optimum" widths for readability, if there's a clear best practice or if going off expectations is adequate.

[2021-01-05 15:34] richardbporter commented on #2579
Maybe https://www.drupal.org/project/webform/issues/2929250?

[2021-01-05 15:40] cory-skeers commented on #2784
Sample resource from Smashing Magazine: https://www.smashingmagazine.com/2014/09/balancing-line-length-font-size-responsive-web-design/

**tl;dr version:** column width that accommodates around 45 to 85 characters (with the 65 characters as the optimum previously determined for print resources).

Grabbing random full-length lines from the examples:

https://medium.com/mind-cafe/einsteins-formula-f

[2021-01-05 16:29] richardbporter commented on #2463
I think I got that working now. Had to move the overflow up to the container.

[2021-01-05 16:48] richardbporter commented on #2463
@bspeare I'm having trouble with that table scroll box shadow mentioned in the article. Not sure if we need that or not. Also noticed the pager looks odd on mobile:

<img width="466" alt="Screen Shot 2021-01-05 at 10 28 29 AM" src="https://user-images.githubusercontent.com/1068523/103673639-73416200-4f43-11eb-8e6c-b451083f5332.png">

[2021-01-05 16:54] joewhitsitt commented on #2228
I am seeing something similar and just noticed recently:

[2021-01-05 17:10] bspeare commented on #2463
@richardbporter that is weird about the pager.   It must not be getting all the styles from the extending of the `.pager` class.   I can take a look at that if you'd like.

[2021-01-05 17:25] joewhitsitt opened #2788 "ace.uiowa.edu conversion to v3 on stage"
See its-web

https://wiki.uiowa.edu/display/drupaldev/Re-Install+SiteNow+Website

[2021-01-05 17:28] joewhitsitt commented on #2228
also, don’t know if is related but changing the first block on https://sandbox.prod.drupal.uiowa.edu/events-listing causes a messed up render of it in the header.

https://github.com/uiowa/uiowa/pull/2730#issuecomment-754277362

[2021-01-05 17:57] richardbporter commented on #2463
Yea go for it. I'm tied up in meetings.

[2021-01-05 19:20] richardbporter opened #2789 "Update housing.uiowa.edu table styles to match dining.uiowa.edu housing styles."
Contact: Jake and Megan

[2021-01-05 19:25] joewhitsitt commented on #2784
Related: https://github.com/uiowa/uiowa/issues/1609

[2021-01-05 19:27] cory-skeers commented on #2784
~Per backlog grooming discussion, looks like the plan is to go forward with adjusting the column width platform-wide for all articles using the current templates, prior to #1609 updates.~

[2021-01-05 19:45] joewhitsitt commented on #2789
I suspect this theme is using node 7.5 if a nvmrc file is not available.

[2021-01-05 20:07] joewhitsitt commented on #2755
Here is the old stuff: https://github.com/uiowa/uiowa/pull/640

[2021-01-05 20:08] joewhitsitt commented on #587
Closing in favor of #2755 where the momentum is.

[2021-01-05 20:08] #587 closed, assigned to nobody

[2021-01-05 20:18] dnkemper commented on #2789
And I suspect this is an error I made since I worked on the dining table styles previously. I'll clean up my mess :)

**by mess I mean I'll apply what I did in dining to housing and hope it compiles correctly haha

[2021-01-05 20:27] joewhitsitt commented on #2359
"site" like `admissions` or "site" like `admissions_uiowa_edu`?

[2021-01-05 20:28] pyrello commented on #2359
I think like `site_admissions_uiowa_edu`

[2021-01-05 20:39] richardbporter commented on #2359
I was thinking literally `site` so that we can run the command above, i.e. export each site split en masse. Since site splits exist in site splits, there shouldn't be any conflicts.

[2021-01-05 20:41] mark-bennett-uiowa commented on #2359
Ive been creating my site splits with labels like admissions.uiowa.edu. The machine name becomes admissions_uiowa_edu then. Shouldn't we avoid any naming conflicts either way (whether we prepend 'site_' to the front or not)??

[2021-01-05 20:41] richardbporter commented on #2359
The directory would still be different per site obviously because they have to be. Just talking the machine name here.

[2021-01-05 20:45] richardbporter commented on #2359
Here is en example scenario of why I thought this would be useful.

I need to update the same configuration in multiple site splits. ~~I write an update hook that modifies the configuration.~~ I run `blt uiowa:multisite:execute 'config:set foo bar'` on the sites and then run `blt uiowa:multisite:execute 'config-split:export site` to export each site's `site` config split. We can't do this right no

[2021-01-05 20:48] richardbporter commented on #2359
Sorry, update hook was a bad example. I meant just a Drush command to set some arbitrary config or add a permission, etc.

[2021-01-05 20:49] quamsta commented on #2762
Thanks again Sean, I'm purely in exploratory mode (the Feeds thing didn't really take too long to set up) and this is an interesting direction to take. It looks like someone started a very basic [SilverStripe migrate module](https://www.drupal.org/sandbox/grobot/3186781) (just last month!), so I may be able to use a fusion of the sitenow_migrate module and that module. Would love to meet about thi

[2021-01-05 21:15] mark-bennett-uiowa commented on #2359
Agreed. So directory would be `../config/sitename.example.edu`, label would be `sitename.example.edu`, and machine name is `sitename_example_edu`, correct?

[2021-01-05 21:17] joewhitsitt commented on #2788
ace.stage is ready. customer contacted

[2021-01-05 21:17] #2788 closed, assigned to joewhitsitt

[2021-01-05 21:54] #2789 closed, assigned to dnkemper

[2021-01-05 21:54] richardbporter commented on #2359
After all the subtasks, each site split would be named `site`  with folder location `../config/sites/sitename.example.edu`. The machine name is controlled by the config entity name so we'd be renaming all site splits to `config_split.config_split.site`. It'll require an update hook to import that.

[2021-01-05 22:31] #2778 closed, assigned to dnkemper

[2021-01-05 22:47] pyrello opened #2790 "Investigate options for embedding a livestream on a page for Writing University"
# Motivation
The Writing University website livestreams readings from Prairie Lights Bookstore and Shambaugh House, using a server set up at UI Strategic Communications. The page has a .js script that runs the stream:
https://www.writinguniversity.org/page/writing-university-live-stream

The script runs //content.jwplatform.com/players/QrLfvuCb-7EaCFiXK.js

In D7, this script was loaded in the bod

[2021-01-05 22:49] pyrello opened #2791 "Add support for <pre> tag in text area"
# Story

As a site owner I want to be able to use the `<pre>` tag to display pre-formatted content so that I can display content like poetry without having to recreate its structure.

# Proposed solution

Add `<pre>` tag to list of allowed tags for filtered_html and/or minimal_html formats.

[2021-01-05 22:55] pyrello opened #2792 "Create migration for Writing University's Blog Entry: Image content type"
# Motivation

The D7 Writing University website has about 450 content items in a content type called "Blog Entry: Image." The site owner has requested to have these content items migrated via automated migration.

# Proposed solution
* Create a `writinguniversity_migrate` module and site split
* Add a migration yml file for the aforementioned content type to map it to the Article content type.
* O

[2021-01-06 02:39] pyrello opened #2793 "Update or pin dev modules to commit hashes to prevent unexpected updates"
In trying to add a new patch to `drupal/core` in a PR, I kept running into an issue where several modules, including Metatag, were also taking the opportunity to update themselves. Essentially, if we have `-dev` modules, anytime we run `composer update --lock`, this can potentially happen. In the case of Metatag, this was the diff between the two versions: https://git.drupalcode.org/project/metata

[2021-01-06 03:25] pyrello commented on #2228
I did not specifically test https://github.com/uiowa/uiowa/issues/2228#issuecomment-754780865 in #2794. If it is still present after that PR is merged, then I think another issue should be opened.

[2021-01-06 14:58] richardbporter opened #2795 "As a webmaster, I can easily navigate the admin page to successfully configure my site."
# Story

As a webmaster, I can easily navigate the admin page to successfully configure my site.

# Motivation
Our custom modules that have configuration pages are named differently in the admin section. Some are prefixed with SiteNow, UIowa, University of Iowa, etc. They are also all located in the System menu section which seems wrong for things like SiteNow Articles which should probably be und

[2021-01-06 14:58] joewhitsitt commented on #2742
@ethanstjohn thanks for this list. @mjoneill who should this document go to now?

[2021-01-06 14:59] #2228 closed, assigned to nobody

[2021-01-06 14:59] joewhitsitt commented on #2795
Glad you brought this up. Noticed this yesterday when testing the APR module.

[2021-01-06 15:09] #2463 closed, assigned to richardbporter

[2021-01-06 15:21] joewhitsitt commented on #2790
Wondering if there is overlap with the live stream events that OSC was dealing with.

[2021-01-06 15:23] joewhitsitt commented on #2793
I felt like we did this to speed up initial development (way back when) with the idea that we would pin things once we "launched." I am on-board with this.

[2021-01-06 15:29] pyrello opened #2797 "Investigate PDF generation options for D8"
# Motivation

Admissions and the Grad College website both need some version of having PDFs be automatically generated for a page or set of pages. The ground has shifted in this area of functionality between D7 and D8 and there are a number of potential contrib solutions. Our needs in this area might be better described as programmatic generation of some pages or sets of pages vs having a plug and

[2021-01-06 16:05] dnkemper opened #2799 "Create SSL for freespeech.uiowa.edu on uiowa02"

[2021-01-06 16:09] cory-skeers commented on #2784
Scoped to Writing University only for now, with further discussion later.

[2021-01-06 16:19] GaryRidgway commented on #1977
I think we are also at a point where things between UIDS and uids_base are clashing a little bit as well. Generally in UIDS we are using vanilla JS to keep it free of dependencies, and I think this is, by virtue of being the main coding style of UIDS, bleeding into uids_base.

Additionally i completely agree with you about being more careful about polluting the global namespace, and I myself have

[2021-01-06 16:26] pyrello commented on #2790
I believe that the script that runs these is an OSC product.

[2021-01-06 16:29] pyrello commented on #2793
FWIW, we should probably add a file with notes about why we are pinned to certain versions, especially if it's a commit hash. I have no idea why we are using dev versions for some of those modules, so not sure if we could move to stable versions now or not.

[2021-01-06 16:37] richardbporter commented on #1977
Thanks. I could get on board with that idea. I read this awhile ago and it seems to indicate that passing jQuery to the IIFE and `$.once` may not even be necessary: https://www.previousnext.com.au/blog/removing-jquery-from-your-drupal-theme

https://developers.google.com/web/updates/2016/10/addeventlistener-once

Then whenever jQuery is removed from Drupal core, we'd have an easier time dropping i

[2021-01-06 16:57] pyrello commented on #2705
Thinking I might've seen an easy way out of this, I attempted just adding a "Profile subject" field to the Article content type adapted from the current Author field, which allows adding a new person record or searching for and referencing an existing one.

While this approach has upsides - reusing existing content types and patterns - it feels a little messy. In a lot of cases the "title" of the

[2021-01-06 18:10] cory-skeers opened #2801 "Academic Units field not retaining value on save"
# Problem

At least on mentor person type of grad college, and likely others, the Colleges form field (`field_uiowa_college`) isn't retaining fields entered in the editor. On save, no values entered are saved to the database.

# Steps to reproduce

`blt ds --site=grad.uiowa.edu`
Create a new person
Choose the `Mentor` person type
Add value(s) to the College field and save
Edit the Person and see t

[2021-01-07 15:48] richardbporter opened #2805 "Undefined index #entity in uids_base_preprocess_layout()"
I saw this notice locally when working on a PR. Not sure exactly how to reproduce but a quick fix would be to use the null coalescing operator which behaves like `isset()`.

https://github.com/uiowa/uiowa/blob/2683d77c30f71b113bdf544abc442c0f3785c0d9/docroot/themes/custom/uids_base/uids_base.theme#L293

[code]

[2021-01-07 16:27] richardbporter opened #2806 "Delete lb-test.uiowa.edu"
Now that we have sandbox.uiowa.edu, I don't think we need this site anymore.

https://github.com/uiowa/uiowa/pull/1906

### Solution
Delete it via `blt uiowa:multisite:delete`.

[2021-01-07 16:31] richardbporter commented on #2731
This is not really a problem we can solve. Since our policy does not disallow vanity domains, I think it would be easier to just allow them rather than do the redirects ourselves. Maybe we just need to update our policy to not recommend using DNS forwarding unless someone knows of a registrar or service that does this?

https://sitenow.uiowa.edu/policies

[2021-01-07 16:32] richardbporter commented on #2731
We also already have a number of live vanity domains on our service and I know of more that will be needed in the future.

[2021-01-07 16:37] pyrello opened #2807 "Switch Writing University website to use serif font by default"
# Story

As a Writing University website visitor I want to see pages using a serif font by default because that is my expectation based on my experience with other literary websites.

# Proposed solution

- [x] Add Lora fonts to UIDS.
- [x] Add a theme setting to UIDS Base to allow switching between sans serif and serif fonts defaulted to sans serif.
- [x] Limit access to theme setting to only sit

[2021-01-07 16:42] richardbporter commented on #2793
Yea probably. Unless we can move to a stable release like you mentioned.

[2021-01-07 16:45] pyrello opened #2808 "Create template application for building Vuejs-based pamphlet sites"
# Motivation

As part of #2751, we need to create the base application that will be used to build the eventual Next Steps site.

# Proposed solution

* Make a copy of the existing viewbook site.
* Identify elements that are not currently components, but are going to be reused in the new site and create components for them.
* Strip out content that is specific to the Viewbook site.
* Create a templ

[2021-01-07 16:54] pyrello opened #2809 "Create empty Github repo for Vuejs pamphlet site template project"
# Motivation

As part of #2751, we'll need a new Github repo for the template application that is being created.

# Proposed solution

Create a new Github repo called `vuejs-site-template`.

[2021-01-07 16:56] pyrello opened #2810 "Create empty Github repo for Next Steps Vuejs site"
# Motivation

As part of #2751, we'll need a new Github repo for the Next Steps application that is being created.

# Proposed solution

Create a new Github repo called `admissions-next-steps`.

[2021-01-07 17:23] pyrello opened #2812 "Create Next Steps site application from template"
# Motivation

As part of #2751, we need to build out the actual Next Steps application.

# Proposed solution

* Create a copy of project template created in #2808. This can be done by using `git clone` and then removing the `./.git` folder.
* Add new project codebase to repo created in #2810. At this point you should still see instructions for by visiting this repo's main page.
* Build out Next st

[2021-01-07 17:34] joewhitsitt commented on #2799
This is done.

[2021-01-07 17:34] #2799 closed, assigned to joewhitsitt

[2021-01-07 18:32] dnkemper commented on #2799
Thank you so much, @joewhitsitt

[2021-01-07 19:47] bspeare opened #2813 "As a site owner, I can adjust the layout/placement of a featured image in the article content type"
# Story

As a site owner, I can adjust the placement of a featured image in the article content type so that there is an alternative to the widescreen image format at the top of the page.

# Proposed solution

Create a "Featured image display option" in the "Featured image" edit panel on the node edit screen:

<img width="531" alt="Screen Shot 2021-01-07 at 1 41 40 PM" src="https://user-images.git

[2021-01-07 19:55] bspeare commented on #2813
Possible solution related to https://github.com/uiowa/uiowa/issues/2784 and https://github.com/uiowa/uiowa/issues/2530.

[2021-01-07 20:36] #2729 closed, assigned to nobody

[2021-01-07 21:33] bspeare opened #2815 "As a an admissions site owner, I can create an Area of Study page that uses a layout builder template"
# Story

As a site owner, I can create an Area of Study page that uses a layout builder template

# Proposed solution

- [ ] Convert page to using a basic two-column layout using the featured image header and existing fields.

[2021-01-07 21:34] bspeare opened #2816 "As an admissions site owner, I can place a featured image into my Area of Study page and see it styled like the mockup"
# Story

As a site owner, I can place a featured image into my Area of Study page and see it styled like the mockup

<img width="1685" alt="Screen Shot 2021-01-26 at 2 44 45 PM" src="https://user-images.githubusercontent.com/1036433/105903072-11759480-5fe5-11eb-8a3b-28a1e944c9af.png">

# Proposed solution
- [x] Implement Header section in layout builder like https://github.com/uiowa/uiowa/blob/mai

[2021-01-07 21:34] joewhitsitt opened #2817 "Site Provisions - 1/8 - 1/14"
- strategicplan.sites.uiowa.edu - _delivered_
- labftoor.prod.drupal.uiowa.edu - _delivered_
- org-iowastemse.prod.drupal.uiowa.edu - _delivered_
- stanleymuseum.prod.drupal.uiowa.edu - _delivered_
- labwaldschmidt.prod.drupal.uiowa.edu - _delivered_

[2021-01-07 21:41] joewhitsitt opened #2818 "Domain Name for next steps app and working with hostmaster."
- [x] Get domain from Admissions team. - _nextsteps.admissions.uiowa.edu_
- [x] Request CNAME pointed at Github Pages DNS
- [x] Make CNAME config file in the correct branch so it is written to the served directory.

[2021-01-07 23:18] pyrello opened #2819 "Override field_teaser token output to allow automatic body field summary"
# Story

As a site owner I want to have a meta description generated from body field (if it is used) so that I don't have to write custom meta descriptions for every single page.

# Proposed solution
* Create an implementation of `hook_tokens` in `uiowa_core` to override the value of `field_teaser`.
* The logic will check to see if there is a value for the `field_teaser` field and if so, display t

[2021-01-07 23:29] pyrello opened #2820 "Fix Grad Program view block display"
# Problem
The Grad Programs view has a Programs block display, as demonstrated on this page: https://grad.prod.drupal.uiowa.edu/academics/manual/academic-program/section-viii-advanced-programs-offered-graduate-college. It is a list of programs. Currently the logic removes any item that has a certificate program from that display.

# Steps to reproduce
* Visit https://grad.prod.drupal.uiowa.edu/fra

[2021-01-08 03:24] #2820 closed, assigned to nobody

[2021-01-08 04:33] pyrello opened #2823 "Create Spotlight content type"
# Story

As a site owner I want a way to feature one or more people on the site so that I can tell a story about them at is newsworthy or timely.

Example of this type of feature: https://www.grad.uiowa.edu/profiles/moala-keshei-bannavti

# Proposed solution

Build a spotlight content type.

[2021-01-08 14:50] ABoston88 opened #2824 "Potential text area bug (Google Chrome only)"
Came from Pharmacy. The screenshot below is what Barb Kelley sees when she interacts with the text area editor. She was able to replicate it while on Zoom

![Chrome Issue in Layout](https://user-images.githubusercontent.com/58865958/104028970-fb677780-518e-11eb-822d-8d58dc8860a1.png)

[2021-01-08 14:50] richardbporter opened #2825 "As an authenticated user, I want to be redirected to my destination after logging in for ease of use."
# Story

As an authenticated user, I want to be redirected to my destination after logging in for ease of use.

Right now, if people try to access protected pages but they are not logged in, they are not redirected back to those pages after authenticating. This is annoying especially when asking viewers/editors/etc. to review unpublished pages in emails, Slack, etc.

# Proposed solution

Investiga

[2021-01-08 14:53] joewhitsitt opened #2826 "Allow more table attributes"
# Story

As a table wizard, I can provide additional attributes to my tables, captions, summary to make them more accessible to all.

These suggestions were provide by Todd recently.

# Proposed solution

- [ ] ability to set ID for individual cells (r1c1?)
- [x] scope/ID/headers
- [x] role [presentation, grid]
- [x] aria-label/labelledby

[2021-01-08 14:54] joewhitsitt commented on #2195
Relates to https://github.com/uiowa/uiowa/issues/2826

[2021-01-08 15:02] joewhitsitt commented on #2818
Blocked by https://github.com/uiowa/uiowa/issues/2810

[2021-01-08 15:29] richardbporter commented on #2824
FWIW I tested Chrome 87 on Windows 10 and text areas seem to work fine.

[2021-01-08 15:58] bspeare commented on #2714
Would this be a good issue to implement the event list design suggestions from https://github.com/uiowa/uiowa/issues/2727?

[2021-01-08 16:12] GaryRidgway commented on #2809
this has been completed

https://github.com/uiowa/vuejs-site-template

[2021-01-08 16:24] GaryRidgway commented on #2810
created

https://github.com/uiowa/admissions-next-steps

[2021-01-08 16:55] pyrello commented on #2810
@GaryRidgway Can you add me as an admin?

[2021-01-08 16:55] pyrello commented on #2809
Ditto here?

[2021-01-08 17:02] pyrello commented on #2823
* I think the Spotlight content type doesn't need an Author field like the Article content type has because it doesn't seem appropriate to list an author on this type of content. It would seem to take away from the focus on the subject of the spotlight.
* If Spotlight can reference one or many people records, it can also be used as a way of talking about a cohort of people who all won an award/sho

[2021-01-08 17:11] bspeare commented on #2823
Would you direct all faculty and student news that is usually placed within an Article to be added to a Spotlight instead?  What is the recommended use for the Article if the Spotlight exists?

[2021-01-08 17:13] pyrello commented on #2823
I think the determining factor would be whether the user would want this to show up in their news feed or not. Spotlight items would not show in the news feed.

[2021-01-08 17:15] bspeare commented on #2823
Could we potentially allow Spotlight items to opt in to the news feed?

[2021-01-08 17:23] pyrello commented on #2823
I think that makes it harder to differentiate what the purpose of Spotlights vs Articles are. In the way I intend to use them, they would be referenced from other places and serve a different purpose than news stories.

Here are two examples of things that would reference Spotlight items:
![Screen Shot 2021-01-08 at 11 22 12 AM](https://user-images.githubusercontent.com/709009/104045242-df220580-5

[2021-01-08 17:32] joewhitsitt commented on #2823
If this is to make it into the default someday, I'd like the distinction clear between an article and a spotlight. A future featured content block or single referenced content block could be used to pull together mixed content.

[2021-01-08 17:35] joewhitsitt opened #2828 "SiteNow Updates News Article - January"
## Issue/Solution

Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

_Note_: Some January updates made it into the December article due to the winter break sprint. Those should not be duplicated in the January update.

- [x] Draft an article with "release notes" covering the month of v2/v3 default profile enhancements an

[2021-01-08 17:36] joewhitsitt commented on #2628
https://apps.its.uiowa.edu/dispatch/archive/sitenow-updates-from-december-36KBv74

[2021-01-08 17:36] #2628 closed, assigned to joewhitsitt

[2021-01-08 17:44] bspeare commented on #2823
@pyrello Since the Spotlight references the Profile, do you plan on showing those references on a faculty/student/staff profile?  For instance https://www.grad.uiowa.edu/profiles/haydar-al-jaafari would show up on https://www.grad.uiowa.edu/profiles/haydar-al-jaafari-0?

[2021-01-08 17:49] mark-bennett-uiowa commented on #2823
I'm envisioning this content type as a special example of a news article. For instance, a member of this department was interviewed for winning an award (maybe a little too close to news here), a student was selected to be an ambassador of the program for other students, or was the department wants to shine a light on some special research or creative work a student/faculty member is doing:

[http

[2021-01-08 17:58] pyrello commented on #2823
Potentially in the long run, although not in the initial MVP, since that functionality isn't currently on the GC site.

@mark-bennett-uiowa I wouldn't rule out both options (adding field to Article and creating Spotlight). The Spotlight content type is actually stripped down from an Article content type because it doesn't include all the fields allowing you to add a source organization, link, auth

[2021-01-08 18:28] #2555 closed, assigned to dnkemper

[2021-01-08 18:39] pyrello opened #2830 "Update SROP mentors and scholars to use their own content types"
# Motivation

Previously SROP mentors and scholar pages lived in the context of the SROP pages in terms of the path alias. As this point, the D8 implementation using the Person content type will result in them being created with an auto-generated URL of `people/person-name`. The implementation in D7 was imperfect (you'll notice that the path alias pattern doesn't quite match the parent pages), but

[2021-01-08 18:52] mjoneill commented on #2830
I might have thoughts on this, but probably need a bit more context. Can we reserve a couple minutes to discuss this afternoon?

[2021-01-08 19:08] joewhitsitt opened #2831 "Convert veterans.uiowa.edu to v3"

[2021-01-08 19:37] joewhitsitt commented on #2831
added jthutchi, sent email

[2021-01-08 19:37] #2831 closed, assigned to joewhitsitt

[2021-01-08 20:13] cory-skeers commented on #2823
When the discussion started, the first comparison I thought of was with the Patient Stories on the hospital (https://uihc.org/katherine-l-imborek). They're dated news items, but fill more of an evergreen, content-marketing need than a standard article typically will. I think of the role of the Spotlight filling a similar desire--it might technically be timely for when an award was received, a 3mt

[2021-01-08 21:39] richardbporter commented on #2714
Maybe? Is that because they don't have an image and location like other events?

I didn't even think about using events for this but I guess that makes sense.

[2021-01-08 21:39] pyrello commented on #2830
After discussing this some more, I think that I am convinced of the need to move to a different content type each for the Scholar and Mentor person types. I'm going to update the OP to layout to the steps to achieve this.

[2021-01-08 21:43] joewhitsitt commented on #2761
https://sitenow.uiowa.edu/documentation/basic-page-content-type
https://sitenow.uiowa.edu/documentation/article-content-type
https://sitenow.uiowa.edu/documentation/sitenow-articles

[2021-01-08 21:43] #2761 closed, assigned to joewhitsitt

[2021-01-08 21:43] bspeare commented on #2714
@richardbporter  It seems like we could implement some of the design suggestions from there to get things started.  Do we have any control over how the dates are rendered?  For instance can we alter the markup of `<div class="uiowa-maui-date">January 15, 2021 - January 27, 2021</div>` ?

[2021-01-08 21:47] richardbporter commented on #2714
Yea - I'm just getting to that in #2833. We can construct it however we see fit. They (registrar) did want to group "academic dates" happening on the same day and you can see some of that at https://registrar.uiowa.edu/dates-by-session. I don't know if thats problematic or not.

[2021-01-08 21:50] richardbporter commented on #2714
I think to do the grouping, we'd just need to combine the data into one "event" before theming it up. Should be possible.

[2021-01-08 22:13] pyrello commented on #2714
FYI, that grouping by date was something that was specifically mentioned for GC stakeholders as something that was important.

[2021-01-09 15:22] pyrello opened #2836 "Create Thesis Defense calendar for Grad College"
# Story

As a Grad College site owner I want to display a calendar of Thesis Defenses so that people involved in the process know when they are happening.

Existing page: https://www.grad.uiowa.edu/academics/thesis-and-dissertations/calendar

# Proposed solution

Build a view using the [fullcalendar module](https://www.drupal.org/project/fullcalendar) to display a monthly calendar display thesis d

[2021-01-09 15:25] pyrello opened #2837 "Create upcoming Thesis Defense listing view"
# Story

As a Grad College site owner I want display a list of upcoming Thesis Defenses so that interested parties can easily find out about them.

Existing page: https://www.grad.uiowa.edu/academics/thesis-and-dissertation/list

# Proposed solution

Build a view that displays a list of Thesis Defense teasers that have not occurred yet using the horizontal card style.

[2021-01-09 15:26] #2557 closed, assigned to nobody

[2021-01-09 15:27] #2447 closed, assigned to nobody

[2021-01-11 15:09] #2810 closed, assigned to nobody

[2021-01-11 15:09] #2809 closed, assigned to nobody

[2021-01-11 15:14] ABoston88 commented on #2824
Going to leave this up until my weekly check-in with Pharmacy...but sounds like it might be an issue on their end, not ours.

[2021-01-11 16:42] joewhitsitt opened #2838 "SSL Cert - se.iowastem.org on uiowa02"

[2021-01-11 17:04] richardbporter commented on #2714
I think I've got a basic theme implementation of the dates working in #2833. @bspeare or anyone If you have time, could you look at that PR and maybe how to approach overriding it in uids_base? I'm going to switch to TD and some other things and get back to this later.

[2021-01-11 17:05] richardbporter commented on #2838
Not possible. #2522

[2021-01-11 17:06] richardbporter commented on #2522
They never replied.

[2021-01-11 17:26] bspeare commented on #2714
@richardbporter I can take a look.

[2021-01-11 18:09] joewhitsitt commented on #2522
Contacted se.iowastem.org about who to contact for this since our contacts for iowastem.org have not responded.

Contact. 😛

[2021-01-11 19:32] joewhitsitt commented on #2522
Reached out the the original contacts at UNI based on the information that iowastem office provided.

[2021-01-11 19:47] bspeare commented on #2714
@richardbporter I updated the template to use the card and badge styles.   Let me know if think that will work for this feature.

[2021-01-11 20:16] richardbporter commented on #2714
That looks great, thanks. I was thinking we would leave the basic template in the module and then put this uids version in the theme but this works too.

[2021-01-11 20:35] joewhitsitt opened #2842 "Deprovision hrandbusiness.centerforconferences.uiowa.edu on uiowa702"
Just launched on uiowa.

[2021-01-11 20:54] richardbporter commented on #2714
FYI - I seem to have lost the badge styling locally. Not sure if that was intentional or not. I think it looked good.

[2021-01-11 20:57] bspeare commented on #2714
@richardbporter It should still be there, I just updated it to use a different card variable.

[2021-01-11 21:10] #2842 closed, assigned to joewhitsitt

[2021-01-11 21:14] joewhitsitt commented on #2522
Calling this done.
<img width="875" alt="Screen Shot 2021-01-11 at 3 00 37 PM" src="https://user-images.githubusercontent.com/4663676/104238171-ca9d7180-541e-11eb-8cac-452a8403f9e2.png">

[2021-01-11 21:14] #2522 closed, assigned to joewhitsitt

[2021-01-11 21:15] joewhitsitt commented on #2838
DCV validated. Supposedly. Moving forward to find out.

[2021-01-11 21:22] richardbporter commented on #2714
Thats weird. I see them while logged in but not while logged out. Do you?

[2021-01-11 21:41] bspeare commented on #2714
I see that.  I'll look into why the badge library isn't loading.

[2021-01-11 21:56] joewhitsitt commented on #2838
Done

[2021-01-11 21:56] #2838 closed, assigned to joewhitsitt

[2021-01-11 21:59] joewhitsitt commented on #2828
Draft created: https://sitenow.uiowa.edu/node/431/edit

[2021-01-11 22:00] richardbporter commented on #2714
That did it. Thought I was going crazy.

[2021-01-12 14:26] bspeare opened #2845 "Person_card view block does not display if person content type is initially created as in "draft" state"
# Problem
The profile image, email, degree, or other contact information in the `person_card` view does not display if a Person is created and set to the "Draft" state.

<img width="383" alt="Screen Shot 2021-01-12 at 8 18 39 AM" src="https://user-images.githubusercontent.com/1036433/104326896-d9803480-54af-11eb-8b90-4e4e61e7c25e.png">

# Steps to reproduce
Create a new Person with an image and se

[2021-01-12 15:30] bspeare commented on #1373
@pyrello can we close this?

[2021-01-12 15:34] joewhitsitt opened #2848 "Duplicate page or select template functionality"
# Story

As a webmaster, I want to quickly recreate certain layout pages on my site without configuring every section manually.

# Proposed solution

Some further discussion is most likely needed and a research spike into which solution will work best for our setup, but this has been repeatedly requested by customers.

## Potential Solutions
- [x] Investigate Entity Clone
  - https://github.com/ui

[2021-01-12 15:42] bspeare commented on #2848
The layout builder library is intriguing with this description "Site admins can prevent content-editors from creating their own bespoke layouts but give them the ability to customise layouts on a per-content-item basis."  I think this would be an ideal solution to have in place to limit content editors for creating layout and component combinations.

[2021-01-12 16:13] richardbporter commented on #2630
After struggling with maintaining a test environment for uiowa_auth many times, including recently, I'm firmly in favor of option 2. Getting a custom module and dependencies in a full Drupal install is tricky. We should just piggy-back off the full Drupal install provided by this repo and BLT. I think we could maybe use this method for providing other assets extracted from this repo.

[2021-01-12 16:13] richardbporter commented on #2630
https://docs.travis-ci.com/user/deployment/releases/#uploading-multiple-files

[2021-01-12 16:28] bspeare opened #2850 "Create a "Program" field on the Person content type for the Graduate College"
# Story

As a site owner for the Graduate College, I can add a "Program" to each Person content type.

# Proposed solution

Add a list field with an allowed value function to generate the list to the Graduate College split.

[2021-01-12 16:39] bspeare opened #2851 "Create a person teaser display with bio summary for Graduate College"
# Story

As a site owner, I can create a teaser display of Person types that contain the bio in the summary for a page like https://www.grad.uiowa.edu/advisory-board.

# Proposed solution

- Update current person teaser implementation to allow to show/hide bio
- Add to the existing view and then can be removed via block setting

[2021-01-12 18:44] pyrello opened #2852 "Create a BLT command to check block instance usage across sites"
# Story

As a developer I want to be able to see aggregate data about how block components are being used across all sites so that I can use that for better planning how to implement changes to those blocks.

# Proposed solution

TBD

[2021-01-12 19:10] pyrello commented on #2622
I updated the title and content to reflect my recent learning about the fact that department isn't the really the correct terminology anymore.

[2021-01-12 19:14] mjoneill commented on #2742
Next steps: discuss how to proceed, schedule convo with clients, review work completed.

[2021-01-12 19:21] joewhitsitt commented on #2845
I suspect this view just needs the published status filter criteria removed, saved, exported. admin/structure/views/view/person_card

[2021-01-12 20:27] bspeare opened #2853 "Stat regression for stats using the stat content field"
# Problem
It looks like there was a stat regression possibly introduced in https://github.com/uiowa/uiowa/pull/2734.

<img width="1637" alt="Screen Shot 2021-01-12 at 2 23 06 PM" src="https://user-images.githubusercontent.com/1036433/104368617-ed448e80-54e1-11eb-8d67-91bd767ba638.png">

# Steps to reproduce
Check out stats on https://admissions.prod.drupal.uiowa.edu/.   The bug only exists if the

[2021-01-12 20:42] richardbporter commented on #2805
I can't seem to reproduce this now.

[2021-01-12 20:42] #2805 closed, assigned to richardbporter

[2021-01-12 20:55] bspeare commented on #2813
Questions/observations from planning discussion:

**Default layout: Editorial Design**
- Narrow centered column width would make sense for widescreen featured image like https://stories.uiowa.edu/iowa-helps-turn-tide-in-pandemic but only if featured image is displayed.
- Add banner headline styles for highlight text treatment
- Keep container left aligned?

**Sidebar layout: Press Release Design**

[2021-01-12 21:16] #2595 closed, assigned to ethanstjohn

[2021-01-12 21:34] richardbporter commented on #2825
#2844 seems to work fine. I'm wondering if that will suffice or if it is overlooking something. Is it too simplistic/limiting? Are there paths where we don't want this set? The only one I can think of is /user/logout because then you get redirected and immediately logged out. However, nobody should be getting there really. We could code around it if we feel that is necessary.

The default login de

[2021-01-12 21:46] richardbporter commented on #2793
Here is a quick list as I keep running into this:
[code]

I left out dev deps. Not as concerned with those.

[2021-01-12 21:46] richardbporter commented on #2793
menu_block is actually pinned but I think its worth a quick look to see if a stable release is an option.

[2021-01-12 22:03] richardbporter commented on #2825
Looks like external URLs do not work as the destination query, which is good. It just falls back to /user.
https://default.dev.drupal.uiowa.edu/saml/login?destination=https://google.com

[2021-01-13 02:39] #2246 closed, assigned to nobody

[2021-01-13 14:50] joewhitsitt opened #2856 "grantbulletin - purge gbo content older than 2016"
support email in its-web

## proposed solution

programmatic update hook checking/deleting content with unix timestamps older than 2015-12-31 23:59:59

[2021-01-13 15:26] richardbporter commented on #2852
Yes this would be nice. Having to SSH into each application to run `blt uiowa:multisite:execute` is tedious. A BLT command we run locally that would run remote Drush commands against each application would be nice. Although, resource-intensive commands can be difficult to kill remotely. That has burned us in the past.

There are additional "reports" I would be interested in as well like the total

[2021-01-13 15:35] richardbporter commented on #2825
Anyone know of a private file to test with? I'm blanking on that.

[2021-01-13 16:29] #2825 closed, assigned to nobody

[2021-01-13 20:15] pyrello commented on #2234
The Grad College has decided to display pronouns on our person pages and in our staff directory. I think having an empty text field is sufficient for what we need. Is this something that we would like to consider for the broader platform? Or should this just be part of the GC site split?

[2021-01-13 20:53] bspeare commented on #2376
Closing this in favor of https://github.com/uiowa/uiowa/issues/2857.

[2021-01-13 20:53] #2376 closed, assigned to nobody

[2021-01-13 21:15] joewhitsitt opened #2858 "Re-install help.maui.uiowa.edu as v3 on uiowa"
Overwrite PROD.

[2021-01-13 21:15] bspeare opened #2859 "As a webmaster, I can access the advanced SEO settings so that I can hide certain pages from search"
# Story

As a webmaster, I can access the advanced SEO settings so that I can hide certain landing pages from search.

<img width="537" alt="Screen Shot 2021-01-13 at 3 12 48 PM" src="https://user-images.githubusercontent.com/1036433/104511238-0a489280-55b2-11eb-8310-110292daef41.png">

# Proposed solution

Adjust permissions for webmasters to be able to access the advanced portion of the SEO sett

[2021-01-13 21:17] bspeare commented on #2859
Related to https://github.com/uiowa/uiowa/issues/2665.

[2021-01-13 21:31] bspeare opened #2860 "Adjust person content type layout to move breadcrumbs, page title, and position title into two column layout"
# Story

As a site owner, I can create a profile without lots of extra space between the page title and content area.

# Proposed solution

- Adjust the Person layout to move breadcrumbs, page title, and position above the body content area in the two column layout.
- Remove the Header region from the layout.
- Add spacing between position title and content area
- Add spacing to make the contact i

[2021-01-13 22:18] #2858 closed, assigned to joewhitsitt

[2021-01-13 22:20] joewhitsitt commented on #2856
10,567 nodes based on the changed column! small dent actually...

There are labels on the website that say last updated, but they are actually post date values and were not in the scope of the purge.

[2021-01-13 22:20] #2856 closed, assigned to joewhitsitt

[2021-01-13 22:27] joewhitsitt commented on #2234
i think a plain text field with help text makes sense for this (drupal.org does this). inconsistencies and not maintaining a list are okay because i can't imagine a situation where we would want to target this data for filtering, etc.

i'd be okay for adding to default.

[2021-01-13 22:42] joewhitsitt commented on #2579
I changed https://sitenow.uiowa.edu/contact-us to use the message confirmation instead of inline which seems to fix the problem. This change was modeled after the request-site form which does not send double submissions. We should look into disabling inline and modal confirmation options (webform-settings-confirmation-form) and update existing to message.

[2021-01-13 22:45] briand44 commented on #2234
Is there a reason we don't want to use the list that MyUI uses and that HR now uses?

[2021-01-13 23:17] pyrello commented on #2234
I think the biggest reason not to use the list is that then we are in charge of maintaining a list around which there is a lot of sensitivity. That being said, the reason that I suggested it is because it is a trivial change that doesn't require us to have someone determine that it is okay for us to use the list in question.

[2021-01-14 04:46] pyrello opened #2862 "Create Job content type on Grad College website"
# Motivation

The current website has a job listing for Grad Assistantships and we need to replicate that functionality.

Listing page: https://www.grad.uiowa.edu/graduate-assistant-job-postings (No jobs are currently available).

On the existing site, these are called GA positions. People can log in with their HawkID and create these, so this content type will need to have permissions that allow

[2021-01-14 04:50] pyrello opened #2863 "Create Grad Assistantships listing page"
# Story

As a Grad Student I want to view a listing of Grad Assistantships so that I can see what is available and inquire about them.

Example page: https://www.grad.uiowa.edu/graduate-assistant-job-postings

# Proposed solution

Create a view page to list the Job content type created in #2862, showing a list of teasers.

[2021-01-14 04:54] pyrello opened #2864 "Create process for sending email in response to the creation of a Job (GA positions)"
# Motivation

Currently when a user creates a GA position on the current website, an email is sent to a moderator, so that they can review the posting and publish it.

# Proposed solution

TBD

[2021-01-14 04:55] pyrello commented on #2862
Dropping this here as a potential alternative to use webform to collect the submission and convert it into a node: https://www.drupal.org/project/webform_content_creator

[2021-01-14 14:25] pyrello commented on #2848
@bspeare Are you talking about for content types where we don't allow for per item customization? Or pages? Or both?

I would have concerns about shutting down people's ability to use LB to create their own layouts with the page content type. With the patches to core and this module however, we could use multiple layouts as a starting point to providing better starting point suggestions for users.

[2021-01-14 14:29] pyrello commented on #2848
For the clone options, we would need to see how they work with our nested items, such as Accordions.

The section template library looks promising, but it would depend on being able to limit the creation of section templates to Admins only, since I don't think we want people defining their own. Also, I'm pretty sure that this module creates the section templates as content and not config, so they

[2021-01-14 14:58] bspeare commented on #2848
@pyrello I think instead of limiting access we first need to design/provide some example layouts that we can direct users to during trainings and possibly integrate into using with the Layout Library module.

[2021-01-14 15:02] pyrello opened #2865 "IWP - Create Writer Bio content type"
# Story

As an IWP visitor I can view a writer's bio so that I can learn more information about the author of a piece of writing.

The current IWP website defines both a person and writer's bio content type. The writer bio content type includes locational information for regions of the planet and then the specific country the writer is from. These fields power a map.

# Proposed solution

- [ ] De

[2021-01-14 15:13] joewhitsitt commented on #2755
Comment from standup:

Does this bring into question whether we want content by content override or should we stick with a global setting and just display the button after certain amount of scrolling?

[2021-01-14 15:34] joewhitsitt commented on #2742
Going to spot check this.

**Update** without visiting every page, this looks pretty accurate and it appears when new pages are created, they aren't creating new paragraphs content.

[2021-01-14 16:05] bspeare commented on #2755
Do we need new `JS` for this or can we just use the `scroll-down` body class provided by the Iowa Bar (https://github.com/uiowa/uids/blob/main/src/components/branding/iowa-bar/iowa-bar.js) to hide/show the arrow and use https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior for the smooth scroll behavior?

[2021-01-14 16:10] bspeare commented on #2755
For the styling, we have a back to top link on https://viewbook.admissions.uiowa.edu/ that would be appropriate for this:

<img width="1745" alt="Screen Shot 2021-01-14 at 10 07 38 AM" src="https://user-images.githubusercontent.com/1036433/104616872-6d890200-5650-11eb-8fda-d0622daee039.png">

The css is at https://github.com/uiowa/uids/blob/main/src/components/menus/vertical-dots/vertical-dots.scs

[2021-01-14 16:26] joewhitsitt commented on #2742
Keeping open until we have our meeting with the Coronavirus website manager.

[2021-01-14 16:37] #2853 closed, assigned to nobody

[2021-01-14 16:37] joewhitsitt opened #2866 "Featured Image Display Default"
# Problem
New pages don't have Site Default as default for featured image display. Though, the site-wide is set to large, new content should have site default instead of large?

# Steps to reproduce
Create a new page, notice Large is default.

# Proposed solution
Change new page default to site default.

[2021-01-14 16:46] joewhitsitt opened #2867 "Event card styles inconsistent based on parent layout"
# Problem
Certain events blocks depending on their parent layout do not transition styles properly.

# Steps to reproduce
Events within a two-column layout doesn't switch from circle to square.

<img width="1424" alt="Screen Shot 2021-01-14 at 10 52 19 AM" src="https://user-images.githubusercontent.com/4663676/104622216-9c09db80-5656-11eb-9844-750be805a755.png">

# Proposed solution
Review events

[2021-01-14 16:50] bspeare commented on #2867
@joewhitsitt Can you provide a screenshot?

[2021-01-14 16:53] joewhitsitt commented on #2867
absolutely! updated with screenshot

[2021-01-14 16:57] bspeare commented on #2867
Looks like https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/components/event.scss#L59 is the issue.

[2021-01-14 17:01] joewhitsitt commented on #2867
@bspeare Should I move that out specifically for uiowa-card-event and uiowa-events?

Or is this working as designed? I see the four-column as well.

[2021-01-14 17:15] bspeare commented on #2867
I think we added those before the card option updates.  I would remove both.

[2021-01-14 17:41] joewhitsitt commented on #2867
https://github.com/uiowa/uiowa/pull/2868

[2021-01-14 17:41] #2867 closed, assigned to joewhitsitt

[2021-01-14 18:56] #2817 closed, assigned to joewhitsitt

[2021-01-14 18:58] joewhitsitt opened #2870 "Site Provisions - 1/15 - 1/21"
- [x] lungimaging.sites.uiowa.edu
- [x] Isba.law.uiowa.edu

[2021-01-14 21:17] mark-bennett-uiowa opened #2871 "Need consistency of article and event titles, dates, fonts on pages and LB blocks"
# Problem
The titles (including padding), dates, links, images, etc are not consistent between articles and events. See screenshots below and use [https://internationalstudies.prod.drupal.uiowa.edu/](https://internationalstudies.prod.drupal.uiowa.edu/) as an example:
![news_events](https://user-images.githubusercontent.com/3067017/104649279-1ef05d80-567a-11eb-9891-b56f6585d661.png)
THIS IS SHOWING

[2021-01-14 21:23] bspeare commented on #2871
@mark-bennett-uiowa Articles are still on an older style.  The work in https://github.com/uiowa/uiowa/pull/2730 will bring them to be similar.   We should definitely get you to review that pull request when it is ready.

[2021-01-14 21:24] dnkemper commented on #2755
Thank you so so much, @bspeare! I'll redo some things and apply your recommendations!

[2021-01-14 21:46] mjoneill commented on #2862
Adding a couple of links in case it's important to make open jobs findable to people who might be looking for them:
* https://schema.org/JobPosting
* https://developers.google.com/search/docs/data-types/job-posting

[2021-01-14 21:53] richardbporter commented on #723
This needs to be done without `drush cron` as that will cause deployment errors. I think a curl command to the site cron URL would work.

[2021-01-14 23:22] pyrello commented on #2594
This is unnecessary now due to `config_ignore` update to 2.3.0 in #2772.

[2021-01-14 23:22] #2594 closed, assigned to nobody

[2021-01-15 03:58] pyrello commented on #2474
We've made a lot of progress on this list!

[2021-01-15 14:42] bspeare opened #2873 "Create button block"
# Story

As a site owner, I can create a button block component so that I don't have to use the CTA block component.

# Proposed solution

Create a button block which implements the markup and options from the UIDS 4 button component with these options:

Link field with a title.

- Button type:
  - Primary
  - Secondary
  - Tertiary
- Transparent: true
- Button width: full-width
- Borderless: true

[2021-01-15 15:09] richardbporter commented on #2824
Sounds good. We can test specific versions of Chrome and operating systems if you can relay those.

[2021-01-15 15:10] joewhitsitt commented on #2596
@ethanstjohn, historically we have had to save all of the webform configuration pages to get updated configuration. not saying this will be the case this time, but good to check.

[2021-01-15 15:11] ethanstjohn commented on #2596
Thanks for letting me know

[2021-01-15 15:36] joewhitsitt commented on #2596
@ethanstjohn target the 6.0.0 release instead of the alpha. https://www.drupal.org/project/webform/releases/6.0.0

[2021-01-15 15:38] ethanstjohn commented on #2596
Will do

[2021-01-15 15:52] #2866 closed, assigned to nobody

[2021-01-15 16:11] joewhitsitt commented on #2596
I'd also be curious if https://github.com/uiowa/uiowa/issues/2579 is fixed by this release. 🤞

[2021-01-15 16:16] joewhitsitt commented on #2837
Almost think that this will be blocked until view config changes are mostly done on https://github.com/uiowa/uiowa/issues/2836. Trying to export the same config file doing different things will cause merge issues.

[2021-01-15 16:19] joewhitsitt commented on #2837
going to try and register a basic view so that https://github.com/uiowa/uiowa/issues/2836 can addon

[2021-01-15 16:41] joewhitsitt commented on #2837
Trying to create demo content for this and I think I am running into https://github.com/uiowa/uiowa/issues/2691
<img width="546" alt="Screen Shot 2021-01-15 at 10 37 19 AM" src="https://user-images.githubusercontent.com/4663676/104753888-33863180-571e-11eb-8356-548995461bdd.png">

[2021-01-15 16:44] pyrello commented on #2837
I thought that I had added code to work around this:
https://github.com/uiowa/uiowa/blob/a2d6035428fc6ea9c243aab3e46943ab24f7636f/docroot/modules/custom/grad_custom/grad_custom.module#L55-L65

Maybe something is broken now?

[2021-01-15 18:20] joewhitsitt commented on #2837
@pyrello Worked around it temporarily to create demo content and to finish this issue. Looking at the date issue now though, field validation happens before submit so i wonder if this was ever triggering. locally I changed it to a validation function which fires first and confirmed that form_state start/end had the same date object, but it still seems to trip the widget validation.

docroot/module

[2021-01-15 18:28] pyrello commented on #2837
This is weird because I definitely tested this against both adding and editing thesis defense content before. The whole reason I added this is based on a conversation with the module maintainer and the fact that when I just set the end date field to be `'#access' => FALSE`, it would trigger this type of error.

[2021-01-15 22:18] #2819 closed, assigned to joewhitsitt

[2021-01-15 22:20] joewhitsitt commented on #2870
@richardbporter We keep this open for the sprint and add to it. assign points at the end.

[2021-01-15 22:22] richardbporter commented on #2870
Gotcha. Thanks.

[2021-01-16 01:03] pyrello opened #2877 "Recreate AoS search block as Block plugin class instead of block content"
# Motivation

Block content all belongs to the block category of the same name automatically and I'm not sure there is a way to change it. The way that I built the Areas of Study search block, it will always show at the top of the direct add button, even though it is only likely to ever be used a couple times on the Admissions site at most. Using [recent](https://github.com/uiowa/uiowa/blob/bc8771

[2021-01-16 03:22] pyrello commented on #2850
I guess I had already done this. I'm not sure when exactly. I updated this in #2872.

[2021-01-16 03:22] #2850 closed, assigned to nobody

[2021-01-16 05:14] pyrello opened #2878 "Move code from sitenow profile to uiowa_core module that is needed by other modules"
# Motivation

To establish a proper dependency chain between modules, we should consider moving code that is used by modules outside of the `sitenow` profile. I think you would technically consider all the enabled modules to be dependencies of the `sitenow` profile, so requiring it as a dependency is kind of creating a circular dependency loop. This doesn't really matter in practice, since we are

[2021-01-16 15:14] pyrello opened #2879 "Allow moderation transition from 'Published' to 'Review'"
# Story

As a site owner I want to mark a content item as "Needs review" without creating a new draft so that I don't have to deal with the headaches of creating a draft, but I can indicate that content item needs review.

We used the content moderation features on the Grad D8 site as part of our process for keeping track of the status of migrated items. We used "draft" to indicate that something

[2021-01-16 15:17] pyrello opened #2880 "Should default moderation state be "Draft?""
Currently all content starts in a "Draft" state, which means that it has to be changed every single time. Are we clear that most site owners want their content to default to this option? When I'm using it, I often accidentally create something as a draft, then have to immediately edit it to set it to published.

Alternately, should we have separate workflows for different content types? There isn'

[2021-01-17 16:22] pyrello opened #2881 "Add Quote block type"
# Story

As a content editor I want to be able to embed structured block quotes in my page so that I can display quotes and associate them with a person.

# Motivation

It looks like there is a V2 blockquote paragraph type and we maybe decided at some point to just translate that into text areas formatted as `<blockquote>` when we migrate the content.

However, in trying to construct a nice lookin

[2021-01-17 19:33] pyrello opened #2882 "Idea: Move feature splits to dedicated modules"
# Motivation

Having feature splits live separately from modules with related functionality is confusing. When there is functionality in a feature-specific module, the module isn't added as a dependency to fields that depend on that functionality. This all works anyways because we are using a monorepo, which smooths over the complications we would experience if we actually had to manage these depe

[2021-01-19 14:46] pyrello commented on #2882
I added an example of this method in #2527 in the `grad_migrate` module. Previously there was a split that was contained in the config folder and I relocated it to be inside the module directory. When the module is enabled, it turns the split on and imports the config files. As a limited example this works because it doesn't use any of the config items that are messy and have to be fully represent

[2021-01-19 15:05] pyrello opened #2883 "Update pear/archive_tar package"
Getting this on builds in Travis currently:
[code]

[2021-01-19 15:09] joewhitsitt commented on #2652
This portion is done. Once we communicate with Engineering, we can map out steps.

[2021-01-19 15:09] #2652 closed, assigned to nobody

[2021-01-19 15:23] cory-skeers commented on #2880
This might be a good question to bring up in demo--otherwise, @ABoston88 do you have some input on this from your own work and people you've worked with in training?

I've always worked off of a default to Draft unless otherwise chosen, and that's the functionality I expect. Might be a chicken or the egg situation though, that I only expect that because I've gotten used to the systems in which I'v

[2021-01-19 15:32] joewhitsitt commented on #2880
I agree with the demo conversation idea. I can understand how this is coming up with mass content creation that you are currently experiencing, but typically, I see draft as a default and a "are you sure you want this published" type check.

[2021-01-19 15:43] bspeare commented on #2880
I agree that it is confusing.   If we plan on moving forward with this as the standard, we should make the "Draft" page design indicator something more dramatic indicating the draft state besides the pink background color.

[2021-01-19 15:57] ABoston88 commented on #2880
I'm working mostly with editors that don't have live sites, yet - so they're working in the published state on every page. They haven't mentioned any issues moving things over to published. Having one last opportunity to look things over with everything saved and the Layout tool closed is useful, so I'd be in favor of keeping draft as the default.

We can probably use Ben's suggestion to both indi

[2021-01-19 16:15] joewhitsitt commented on #2880
We have had a tough time with the unpublished-pink:  https://github.com/uiowa/uiowa/issues/2173, https://github.com/uiowa/uiowa/issues/1137, https://github.com/uiowa/uiowa/issues/178

I am all for revisiting if that is the underlying issue here.

[2021-01-19 16:18] joewhitsitt commented on #2879
I want to say I lifted the transitions from Lightning and just ran with it. I am fine with revisiting this. Something to think about though, keeping them restricted in ways of transition helped me target content changes for the lockup generator in how their workflow sent emails, etc.

[2021-01-19 16:29] joewhitsitt commented on #2882
I thought we had to have it in the "feature" directory for it to work correctly (cim, csex, etc.). If that is not the situation, I am okay with moving this direction. Github's `t` find files functionality still finds the files regardless of where they live in the repo.

[2021-01-19 16:34] richardbporter commented on #2882
I didn't think a module's `hook_install` would run when a module is enabled via config import.

[2021-01-19 16:50] pyrello commented on #2882
This is just a convention, but to my knowledge there is no reason why it is necessary. The config split specific commands pull the path from the config split definition, so it will import from or export to wherever is specified.

@richardbporter I wasn't aware of this. In the instance where I got it working, it is necessary to specifically enable the module, so this didn't come up. I guess some te

[2021-01-19 17:06] pyrello commented on #2880
That is not the underlying issue, but I am supportive of finding different visual cues to indicate draft status to the user.

It sounds like I may be in the minority about what the default state should be and I would defer to the group. I do like the idea of raising it at demo in the next few weeks to gather some additional feedback.

Thanks for the conversation!

[2021-01-19 17:30] richardbporter commented on #2882
Yea we'd have to test it. I was looking for related past conversations/issues but didn't turn anything up.

[2021-01-19 17:42] richardbporter commented on #2883
drupal/core-recommended has this locked at 1.4.11 so we can't update. We could disable security checks temporarily in the blt.yml config file. Still investigating.

[2021-01-19 17:46] ethanstjohn commented on #2596
Currently blocked for me, since I can't blt dsa. Looking/trying solutions to fix.

[2021-01-19 19:18] joewhitsitt commented on #2873
I'd like to see if we can do a lighter approach for the icon field. https://github.com/uiowa/uiowa/blob/main/docroot/profiles/custom/sitenow/sitenow.profile#L833

[2021-01-19 19:29] pyrello commented on #2830
This was closed by #2834

[2021-01-19 19:29] #2830 closed, assigned to dnkemper

[2021-01-19 19:30] pyrello commented on #2823
This should have been 8-13 points, FYI.

[2021-01-19 19:30] richardbporter commented on #2873
Button with 255 characters:
<img width="989" alt="Screen Shot 2021-01-19 at 1 25 58 PM" src="https://user-images.githubusercontent.com/1068523/105083444-859ac000-5a5a-11eb-92c7-99d18c76c184.png">

[2021-01-19 21:10] richardbporter commented on #2731
@briand44 https://sitenow.uiowa.edu/node/31/latest

[2021-01-19 21:49] joewhitsitt commented on #2836
Default styles. Not sure if we take this opportunity to apply some branding to this so that future implementations will be on-brand by default.

<img width="1219" alt="Screen Shot 2021-01-19 at 3 45 23 PM" src="https://user-images.githubusercontent.com/4663676/105096909-60637d00-5a6d-11eb-8e41-fa782f4776e4.png">

Also, I know the current calendar also says "Upcoming" but there is nothing preventin

[2021-01-19 21:54] bspeare opened #2887 "As a developer, I can use additional layout builder styles that are only available to admin role"
# Story

As a developer, I can use additional layout builder styles that are only available to admin role so that I can apply styles to my layout builder `yml` files.

# Proposed solution

- Add additional layout builder padding and margin styles: `Margin: Top Extra` `Margin: Right Extra` `Margin: Left Extra` `Margin: Bottom Extra` `Padding: Top Extra` `Padding: Right Extra` `Padding: Bottom Extra

[2021-01-19 22:14] pyrello commented on #2836
Maybe just remove the "Upcoming"?

[2021-01-19 22:44] briand44 commented on #2731
I am good with your changes, although we may want to revisit all of this text at some point. I am interested in @mjoneill thoughts? Is Hostmaster still going to approve top level domains or is that something OSC is going to do from a marketing perspective? Should we be referencing the Domain Name Policy here somewhere?

I wonder if we need to lighten our stance on that a bit? I am wondering if we

[2021-01-20 00:19] pyrello opened #2889 "Intermittent issue with multiple MAUI session date blocks under certain conditions."
# Problem

Following up on issue reported in #2833.

When adding multiple blocks MAUI Dates by Session blocks to a page, when one of the blocks has a category set, but the session is exposed, changing the session resets the block to showing all results. This doesn't happen when there is only one block on the page.

# Steps to reproduce
1. Add a  Dates by Session block to a page via LB. In the bloc

[2021-01-20 14:40] joewhitsitt commented on #2889
I was able to reproduce using the no classes category (dates I am familiar with). when i changed the session, I was definitely getting dates like "UCR flag and off-cycle date reports."

[2021-01-20 14:49] #2596 closed, assigned to ethanstjohn

[2021-01-20 15:14] joewhitsitt commented on #2021
This got merged.

[2021-01-20 15:14] #2021 closed, assigned to ethanstjohn

[2021-01-20 15:30] joewhitsitt opened #2892 "Event component: Adding an "all day" option?"

[2021-01-20 15:38] briand44 opened #2893 "Migrate articles from engineering.uiowa.edu to engineering.prod.drupal.uiowa.edu"
https://github.com/uiowa/uiowa/issues/2652

# Proposed solution

- [x] Add engineering migration module/split
- [x] Write engineering article migration YAML
- [x] Write engineering article migration source plugin
- [x] Map author field--prepend to Organization
- [x] Map primary department, department feed, and audience fields--include as prefixed tags

[2021-01-20 16:06] #2714 closed, assigned to richardbporter

[2021-01-20 16:40] briand44 commented on #2210
Closing this in favor of #2501

[2021-01-20 16:40] #2210 closed, assigned to nobody

[2021-01-20 17:24] dnkemper opened #2894 "Admissions student profiles"
# Problem

If the area of study field isn't filled out in the student profile content type, the image is only field that displays in teaser
https://admissions.prod.drupal.uiowa.edu/student-profiles
# Steps to reproduce

https://admissions.prod.drupal.uiowa.edu/student-profiles
# Proposed solution

Absolutely no idea haha

[2021-01-20 17:47] briand44 opened #2895 "Information not showing on student profiles teaser"
# Problem
The hometown and quote don't display on the student profile teasers unless an area of study is set.
https://admissions.prod.drupal.uiowa.edu/student-profiles

# Steps to reproduce
View a student profile entity that has a hometown set (https://admissions.prod.drupal.uiowa.edu/student-profiles/ayushi-sood) and then view the teaser page (https://admissions.prod.drupal.uiowa.edu/student-prof

[2021-01-20 19:51] briand44 commented on #2234
We are awaiting more info surrounding this topic but it sounds like we should avoid using a text field and allowing people to enter whatever they want. It also sounds like we probably don't even want to be storing this info but rather have some sort of checkbox that says "Display my pronouns" and if that is checked it would display pronouns that have been set in HR or some authoritative source.

[2021-01-20 21:28] joewhitsitt opened #2899 "Graduate College Thesis Defense Date Save Error"
# Problem

Grad thesis defense content cannot be save with fields restricted by #access or #disabled.
https://github.com/uiowa/uiowa/blob/main/docroot/sites/grad.uiowa.edu/modules/grad_core/grad_core.module#L44

Relates to https://github.com/uiowa/uiowa/issues/2691 and https://github.com/uiowa/uiowa/issues/2837#issuecomment-761050356

# Proposed solution

- [ ] Try switching to the inline smart da

[2021-01-20 21:53] joewhitsitt commented on #2899
I think the most lightweight way to address this and future "duration 0" fields is to work with the #states api.

If duration field is 0, set end date and duration to invisible. Unfortunately there isn't a good way to target the h4 field label for the end date so a form_alter/admin css override might not be avoidable.

<img width="426" alt="Screen Shot 2021-01-20 at 3 52 18 PM" src="https://user-i

[2021-01-20 22:20] #2806 closed, assigned to ethanstjohn

[2021-01-20 22:29] joewhitsitt commented on #2742
Met with Haley from the Coronavirus website and passed along the list. They will work on this list as they have time and they will reach out if they have questions about v3 equivalent blocks to use, etc.. No timeline has been set.

[2021-01-20 22:29] #2742 closed, assigned to nobody

[2021-01-20 22:30] joewhitsitt commented on #2358
https://github.com/uiowa/uiowa/issues/2742 - met with site owner. they will work on transitioning content to v3 layout builder blocks as they have time.

[2021-01-20 23:16] mjoneill commented on #2742
I will check in with Hayley in a week to see how it's going, with the hope that she builds some amount of comfort working with the new ~~components~~blocks.

I have a calendar reminder.

Let me know if the pace/timeline is not tenable or causes pain.

[2021-01-20 23:27] mjoneill commented on #2731
For now, yes. Hostmaster communicated that they did not want to solely own this responsibility. Neither does OSC. I think we need to work together on this.  For now, let's keep the bus rolling.

As I read it, the domain name policy says they are generally prohibited, except in exceptions.

@briand44 and @richardbporter, do you mind if I make a revision to your revisions and see if that helps? I'm

[2021-01-21 02:41] mark-bennett-uiowa opened #2902 "CLAS Needs and Wants"
# Story

As a CLAS Developer, I want to describe changes I would like to discuss university wide design ideas that would be helpful in my own development.

This is strictly for discussion purposes in development meetings for future changes, not necessarily items holding up my own development. Items are listed in order of "importance".

## Important Needs (4-21-2021)
- [ ] Creation of "profiles" or

[2021-01-21 02:42] mark-bennett-uiowa commented on #2902
Here is an idea for People page.
![people_list_idea](https://user-images.githubusercontent.com/3067017/105272914-e8c24a80-5b5f-11eb-84b9-007278a78148.jpg)

[2021-01-21 02:43] mark-bennett-uiowa commented on #2902
Here is an idea for News page.
![news_page_idea](https://user-images.githubusercontent.com/3067017/105272987-07284600-5b60-11eb-9482-659c42f4f374.jpg)

[2021-01-21 02:43] mark-bennett-uiowa commented on #2902
Here is an idea for Events page.
![events_page_idea](https://user-images.githubusercontent.com/3067017/105273031-1dce9d00-5b60-11eb-9423-dafe1612c8eb.jpg)

[2021-01-21 02:45] mark-bennett-uiowa commented on #2902
Here is what I am currently using for the "pre-footer" region that I would like to extend to all pages of the site (CTA with small text in the left column, link to donation site):
<img width="1465" alt="Screen Shot 2021-01-20 at 8 19 16 PM" src="https://user-images.githubusercontent.com/3067017/105273089-3a6ad500-5b60-11eb-812b-0a7987bbbe55.png">

[2021-01-21 13:59] briand44 commented on #2731
@mjoneill please do.

[2021-01-21 14:36] pyrello commented on #2593
FYI, @ethanstjohn When you are working on an issue like this, it should be placed into the "In progress" column during standup. You can place it in "Parking lot" to queue that up. The "PRs awaiting" category is only meant for PRs that are ready to be tested :)

[2021-01-21 14:55] #2836 closed, assigned to joewhitsitt

[2021-01-21 14:55] #2837 closed, assigned to joewhitsitt

[2021-01-21 15:02] richardbporter commented on #2870
I find these corresponding issues tedious considering we manage the requests info at sitenow.uiowa.edu

[2021-01-21 15:56] briand44 commented on #2446
Closing this in favor of #2500.

[2021-01-21 15:56] #2446 closed, assigned to nobody

[2021-01-21 18:44] richardbporter commented on #2883
I think this is done.

[2021-01-21 18:44] #2883 closed, assigned to richardbporter

[2021-01-21 19:20] ethanstjohn commented on #2593
I understand now, thank you.

[2021-01-21 19:42] richardbporter commented on #2793
Seems like this becoming a common issue and maybe we should jump on it.

[2021-01-21 19:44] joewhitsitt commented on #2741
Use same fields and formats as card block

I see the referenced issue, but it seems to relate to the lb block, not this proposed paragraph bundle. I missed the discussion on this piece and I am hoping to get more clarity as to what is expected here.

[2021-01-21 19:52] richardbporter commented on #2592
Testing criteria:

[2021-01-21 19:54] joewhitsitt commented on #4296
Should this be transferred to uiowa? I was looking for this there. I recall a presentation I saw where they had a custom entity (layout enabled) for footer where they could create several different to reference on a page by page basis and register a global entity item as a fallback.

[2021-01-21 19:58] richardbporter commented on #2592
I think this will need to be done simultaneously with D9 as 2.0.0 seems to require Drupal 9:

[code]

[2021-01-21 19:59] pyrello commented on #2793
I think that `metatag` is taken care of in #2771

[2021-01-21 20:58] bspeare commented on #2741
@joewhitsitt I don't think https://github.com/uiowa/uiowa/issues/2724 needs to happen before this.  The card styles will work with an embedded video if you want to move forward with building a paragraph bundle with a field that also accepts images/remove video.

[2021-01-21 20:59] pyrello commented on #2592
Thanks for looking into this!

[2021-01-21 21:00] richardbporter commented on #2793
### Proposed solution
Evaluate each dev dependency to see if updating to stable release is viable. If so, update. If not, lock at current SHA. Document why we locked at a specific SHA somewhere.

[2021-01-22 14:21] richardbporter commented on #2359
Step 1 of this issue could involve removing any site split config directories that are empty. I don't remember exactly what the error was that caused me to create empty config dirs. This references an error related to AC task log during deployments: https://github.com/uiowa/uiowa/commit/09d6a61f8d9bf539719df570bff4ad7f61ca8aa3#diff-a2a23b52786f9fb65b086307669cfd9c9868752bf2b9e925adc98784c153931d I

[2021-01-22 14:24] pyrello commented on #2359
Big +1 to that. Scrolling through all those config directories is a pain too when you need to do comparisons between similar files.

[2021-01-22 14:36] pyrello opened #2908 "Finish SROP migrations"
With the merging of #2527, most of the work for the Grad College migrations is done, but there are a few remaining issues that need to be sorted out for the Scholar and Mentor migrations. This issue is a catch-all for those issues.

[2021-01-22 14:37] #2334 closed, assigned to pyrello

[2021-01-22 14:37] #2540 closed, assigned to pyrello

[2021-01-22 14:37] #2558 closed, assigned to cory-skeers

[2021-01-22 14:37] #2559 closed, assigned to nobody

[2021-01-22 14:48] joewhitsitt commented on #2549
with https://github.com/uiowa/uiowa/pull/2607 closed @pyrello, can you decide what you want to do with this issue? #748 still exists for dentistry's sake.

[2021-01-22 14:50] pyrello commented on #2549
I'm fine with closing this, unless we think we might still develop this for other sites. In which case, we could toss it back into the backlog.

[2021-01-22 14:54] joewhitsitt commented on #2549
#748 has more information and backlinks to the same grad PR so until we decide to actually create the feature split, I am in favor of going back to that investigation issue and marking it for reference.

[2021-01-22 14:54] #2549 closed, assigned to nobody

[2021-01-22 15:13] joewhitsitt opened #2909 "Consider Webform do not track IP setting"
(all webforms per site)
https://www.drupal.org/project/webform/issues/3088780

[2021-01-22 15:17] joewhitsitt opened #2910 "Update Readme with new core update steps"
https://github.com/uiowa/uiowa#updating-dependencies with the core-recommended update steps?

[2021-01-22 15:23] richardbporter commented on #2870
licensing.uiowa.edu and kang.lab.uiowa.edu are part of #2904

[2021-01-22 15:23] #2870 closed, assigned to nobody

[2021-01-22 15:37] joewhitsitt commented on #2741
@pyrello or @bspeare There is an existing body field (Description) on the area of study content type. Does Admissions need a separate “Intro” field or should I use the body field?

[2021-01-22 15:48] pyrello commented on #2741
In the D7 content type, the Intro is the body field.

[2021-01-22 17:47] cory-skeers opened #2913 "Site Provisions - 1/15 - 1/21"
- [x] https://basbls.uc.uiowa.edu (#2928)
- [x] https://physicsresearch.sites.uiowa.edu/
- [x] https://newmoonmagazine.org.uiowa.edu/
- [x] https://stephens.lab.uiowa.edu
- [x] https://carvour.lab.uiowa.edu
- [x] https://developmental-psychopathology.lab.uiowa.edu
- [x] https://basinanalysis.lab.uiowa.edu
- [x] https://uiprehealth.conference.uiowa.edu/

licensing.uiowa.edu (sort of)
kang.lab.uiowa

[2021-01-22 18:51] briand44 commented on #2215
Closing this in favor of https://github.com/uiowa/uiowa/issues/2515

[2021-01-22 18:51] #2215 closed, assigned to nobody

[2021-01-22 18:59] richardbporter commented on #2593
Any reason not to use  2.1.0 of drupal/components?

[2021-01-22 19:00] pyrello commented on #2593
Nope... this requirement came from #2474, which is probably out-of-date.

[2021-01-22 19:04] joewhitsitt commented on #2474
Not sure what the compatibility issues were but 1.5 is D9 compatible. https://github.com/uiowa/uiowa/pull/2897

[2021-01-22 19:21] richardbporter commented on #2474
I think the menu_block update to 1.6 in #2912 fixes the D9 compatibility issues although we'll want to test out menu_block in general there.

I think all that is left is #2592 but that has to be done simultaneously with D9.

[2021-01-22 19:25] richardbporter commented on #2592
Regarding testing:

I think we'll want to do the update (along with D9) on a feature branch and then merge into develop. Once deployed, we'll need to inspect response headers such that it meets the criteria I quoted above.

[2021-01-22 19:34] #2889 closed, assigned to nobody

[2021-01-22 21:04] joewhitsitt opened #2915 "Person Hometown Field"
## Issue

It made it into default config but is not available for use.

## Proposed Solution

- Either open it to all or move it somewhere else.

[2021-01-22 21:06] #2741 closed, assigned to joewhitsitt

[2021-01-22 22:17] briand44 commented on #2894
Looks like we duplicated this issue. Closing in favor of #2895 since it is already on the project board and prioritized.

[2021-01-22 22:17] #2894 closed, assigned to nobody

[2021-01-22 22:29] briand44 commented on #2286
@makurj is this still an issue?

[2021-01-22 23:09] joewhitsitt opened #2918 "Brand - Inconsistent lockup download behavior"
# Problem

# Steps to reproduce

- ??

# Proposed solution

- Go through the lockup workflow for new and existing (with reroute emails on and routed to your email).
- See if node full images are broken and edits to existing are what is downloaded.

# Notes

- My initial suspicion is weird caching with browser and/or lazy loading for the node full images.
- Purge is supposed to happen on node updat

[2021-01-25 14:17] pyrello opened #2920 "Build Grad article redirect migration"
# Motivation

The URL scheme for articles changes slightly from the D7 to D8 sites, so a redirect is necessary.

# Proposed solution

The redirect can probably be copied and adapted from one of the SROP content type redirects.

[2021-01-25 17:09] joewhitsitt commented on #2864
fyi, Brand is using workbench_email to do this.

[2021-01-25 17:15] joewhitsitt commented on #2880
It sounded like that most content writers assume draft is the default for creating new content. Do we need to gather more feedback about this or do we want to explore a toggle "fast-editing" mode for those use-cases where a lot of content is created at once and the experience is less ideal? If so, I think after node creation save, another fast-editing feature would be to direct the editor to a new

[2021-01-25 17:20] pyrello opened #2921 "Create fast-track toggle for setting "Published" as default state for content"
# Story

As a person migrating content I want to be able to quickly create content that is published so that I don't have to go back and publish it later.

This is a follow up to #2880.

# Proposed solution

Create a site-wide setting that the site owner can select that sets the default moderation state for content to "Published" instead of draft.

[2021-01-25 17:20] pyrello commented on #2880
I like the idea of a toggle to allow the state to be set to "Published" by default for the purpose of manual content migration. I created a follow-up issue: #2921.

[2021-01-25 17:20] #2880 closed, assigned to nobody

[2021-01-25 17:29] richardbporter commented on #1338
I think this is still a problem.

[2021-01-25 18:30] pyrello opened #2922 "Grad SROP scholar view page not showing up"
# Problem
This page is showing as "Page not found": https://grad.prod.drupal.uiowa.edu/dei/srop/past-scholars

It looks like it should be working: https://github.com/uiowa/uiowa/blob/94707e419e2843010cab47182c6805bad2c1eb68/config/grad.uiowa.edu/views.view.srop_scholars.yml#L335

There is now SROP scholar content, so these pages should be populating.

# Steps to reproduce
Visit the above page and

[2021-01-25 18:43] bspeare commented on #2922
Taking a look now.

[2021-01-25 18:47] bspeare commented on #2922
@pyrello Looks like the view is not `enabled`.

[2021-01-25 18:48] pyrello commented on #2922
Well, at least that seems like an easy problem to solve!

[2021-01-25 19:47] richardbporter commented on #2797
I crossed out `entity_print` because it requires a CLI utility that is not supported on Acquia Cloud. https://support.acquia.com/hc/en-us/articles/360020517573-Acquia-Cloud-and-wkhtmltopdf

[2021-01-25 19:48] richardbporter commented on #2797
I think `pdf_tools` requires that utility as well and is not covered by the security advisory policy.

[2021-01-25 19:52] richardbporter commented on #2797
The `entity_pdf` page says:

while the pdf_using_mpdf page says:

[2021-01-25 19:55] pyrello commented on #2797
@richardbporter I forgot to add some details to this about what we need for the Grad College website (eventually). We need to create a PDF from a page and every child page underneath it in the menu.

[2021-01-25 19:58] richardbporter commented on #2797
Thanks!

[2021-01-25 20:12] #2922 closed, assigned to bspeare

[2021-01-25 20:43] quamsta opened #2924 "Limit text line length in default page/article views"
# Problem
While testing some migration patterns, looking at SiteNow websites on campus and just through general CMS usage, I've found that when viewing a page on larger screens, body text on pages without additional layout builder cards or containers is allowed to span then entire width of the layout__spacing_container element,  which is around 1310 "pixels."

This presents general user experience

[2021-01-25 21:01] bspeare commented on #2813
After further consideration, maybe we should just update the layout to add an option use a sidebar column for metadata to solve the line-length issue?

## Sidebar column option with featured image:

<img width="1738" alt="Screen Shot 2021-01-25 at 2 50 50 PM" src="https://user-images.githubusercontent.com/1036433/105765113-841b3d00-5f1d-11eb-9826-9a935e6df750.png">

## Sidebar column option with f

[2021-01-25 21:03] bspeare commented on #2924
@quamsta Here's a related issue for Articles: https://github.com/uiowa/uiowa/issues/2813#issuecomment-767109876.   I'm not sure I'd want to see a centered layout because our header design is left-aligned.

[2021-01-25 21:03] #2859 closed, assigned to joewhitsitt

[2021-01-25 21:45] briand44 opened #2925 "As a site owner, I can create an Area of Study page that has defined fields for adding Stats"
# Story

As a site owner, I can create an Area of Study page that has defined fields for adding Stats.

https://admissions.prod.drupal.uiowa.edu/academics/accounting
https://admissions.prod.drupal.uiowa.edu/academics/education

# Proposed solution

- [x]  Stats - create new multi-value field using the Fragments module (limit to 1-3 status max)

[2021-01-25 21:57] briand44 opened #2926 "As a site owner, I can place Subtitle, Intro, and Why Iowa text into the Area of Study content type and see it styled like the mockup"
# Story

As a site owner, I can place Subtitle, Intro, and Why Iowa text into the Area of Study content type and see it styled like the mockup

https://admissions.prod.drupal.uiowa.edu/academics/education
https://admissions.prod.drupal.uiowa.edu/academics/accounting

# Proposed solution

- [x] Add Subtitle field template for styling

<img width="1409" alt="Screen Shot 2021-01-26 at 1 39 59 PM" src

[2021-01-25 22:08] briand44 opened #2927 "As a site owner, I can create individual Stats for each Area of Study page and see them styled like the mockup"
# Story

As a site owner, I can create individual Stats for each Area of Study page and see them styled like the mockup.

https://admissions.prod.drupal.uiowa.edu/academics/accounting
https://admissions.prod.drupal.uiowa.edu/academics/education

<img width="904" alt="Screen Shot 2021-01-26 at 2 55 52 PM" src="https://user-images.githubusercontent.com/1036433/105904347-a462fe80-5fe6-11eb-8902-4dce2

[2021-01-25 22:27] quamsta commented on #2924
@bspeare If there's a sidebar with additional info, like in that Article issue you linked, I think that would be ideal, but if there's no sidebar and it's a very basic page with text, I don't see the issue with putting the body text in the center of a large container. The headings are all still left-aligned. Is the problem that the site title/unit name isn't lined up with the body text?

Text-heav