[2021-12-15 20:59] joewhitsitt commented on #4475
The main admissions site has these tied to the main menu. I would assume the same for these unless they have a custom menu. Granted there are more of them and we would need to still pair them through a parent item (nolink) or something.

[2021-12-15 21:01] bspeare commented on #4543
Now that we know that they plan on hiding the hiding the page title and breadcrumbs, it might make sense to not make any changes at this time.  They can add a banner to the top of their layouts and customize it as much as they would like and hide the page title and breadcrumbs in the page settings.

[2021-12-15 21:35] richardbporter commented on #4127
Running into an issue trying to set the footer statement placeholder only in the recipient message to note that a copy was sent to the supervisor(s). I can't seem to get the Dispatch syntax right for checking placeholder existence. Reached out to support.

[2021-12-15 21:45] briand44 commented on #4475
I think we want to run this by Scott to get feedback before we blow up what we have so far. Not sure if adding all these pages to the menu will get push back

[2021-12-15 22:00] #2428 closed, assigned to richardbporter

[2021-12-15 22:10] richardbporter commented on #4127
We might just have to remove all optional placeholders for now until that is resolved. This will also require modifying the message instead of using another placeholder for the note re: CC to supervisor.

[2021-12-15 22:57] joewhitsitt commented on #3393
Facebook, Twitter Kalutura, YouTube and Vimeo provide a title attribute.

UICapture (Panopto), Instagram do not.

[2021-12-16 15:19] #4562 closed, assigned to nobody

[2021-12-16 16:42] richardbporter opened #4571 "As a webmaster configuring the Dispatch Thank You form, I can use optional placeholders."
# Story

As a webmaster configuring the Dispatch Thank You form, I can use optional placeholders.

Optional placeholders don't work right with ad-hoc API data. They either render as empty string which is undesirable or the variable substitution breaks the communication. We've reached to Dispatch Support about this.

# Proposed solution

Once fixed, add back the optional placeholders removed in 782

[2021-12-16 16:50] richardbporter opened #4572 "As a webmaster using the Dispatch Thank You form block, I can access a record of all messages sent on my site."
# Story

As a webmaster using the Dispatch Thank You form block, I can see a record of all messages sent on my site.

Right now, log messages are written to syslog. We can't really tell in Dispatch which site sent which communication. The syslog messages should probably continue but it'd nice if there was a way to view/export successful communication log messages in the site.

# Proposed solution

[2021-12-16 16:50] richardbporter commented on #4127
Followup issues: #4572 #4571

[2021-12-16 16:51] bspeare commented on #4543
After checking in with Tippie in the `#redesign-tippie` Slack channel, I think we can close this issue for now.  @makurj is that your impression as well?

[2021-12-16 16:54] makurj commented on #4543
I think so.

[2021-12-16 16:54] #4543 closed, assigned to nobody

[2021-12-16 17:48] joewhitsitt commented on #4570
I just realized that not many blocks have background color style options so instead of my original thought that this should have those same options is less founded.

[2021-12-16 18:04] quamsta opened #4573 "Syncing files from new local DDEV environment to stage/production doesn't work due to a different/broken path in drush command"
# Problem

For example:

When running `drush @studenthealth.local rsync @self:%files @studenthealth.prod:%files`

You get the error:

[code]

Due to the path changing slightly from:

`/var/www/sites/studenthealth.uiowa.edu/files`

to:

`/var/www/docroot/sites/studenthealth.uiowa.edu/files`

# Steps to reproduce
Attempt to push up files from local to stage or prod.

# Proposed solution

## Idea 1:

[2021-12-16 19:19] ABoston88 commented on #4541
I've deleted the Historic Buildings category and made the difference between Athletics and Recreational Facility clearer. Also moved some other items around and did some multi-tagging to make the categories more useful.

How do we feel about making the "residence" layer private, as well? I'd be surprised if many users come to our maps for that information. It might confuse some users when they're

[2021-12-16 19:57] joewhitsitt commented on #4541
@ABoston88 since residence isn't on the current site, I think making it private at least for MVP makes sense.

[2021-12-16 21:27] briand44 opened #4574 "Start redirecting building pages to facilities website equivalent"
Need to reach out to Facilities and see if they give us the green light to start redirecting.

## Proposed Solution

- [x] Redirect building content type nodes to facilities equivalent using the building number that is pulled into the node either through preprocess drupal_goto or via rabbit hole using tokens? (e.g https://www.facilities.uiowa.edu/building/0001)

**Edits to FM Building Information

[2021-12-16 21:29] briand44 commented on #4574
Preprocess node and redirect to canonical.

[2021-12-16 21:30] joewhitsitt commented on #4574
https://api.drupal.org/api/drupal/includes%21common.inc/function/drupal_goto/7.x

[2021-12-16 21:31] briand44 opened #4575 "Lower TTL for maps.uiowa.edu"
5 min

[2021-12-16 21:48] joewhitsitt commented on #4241
if the first slice is just stopping folks at the bootstrapped drupal level this looks like an easy step forward that could be separate in a feature split: https://www.drupal.org/project/require_login

[2021-12-16 22:06] richardbporter opened #4577 "Switch to MySQL 5.7 locally and remove drupal/mysql56."
# Problem
AC uses MySQL 5.7 but we're using MariaDB locally. We should try to replicate AC as closely as possible. There can be issues with different versions of MySQL so its good test locally first. https://support.acquia.com/hc/en-us/articles/1500000370601-How-will-MySQL-5-7-affect-Drupal-and-the-database

# Proposed solution
Change the DB type as outlined in the [docs](https://ddev.readthedocs.

[2021-12-16 22:08] richardbporter commented on #4577
Lumping removal of drupal/mysql56 in with this. All of our AC environments are now on MySQL 5.7.

[2021-12-16 22:23] joewhitsitt commented on #4575
Email sent to hostmaster. Waiting for response/confirmed dig

[2021-12-16 22:45] joewhitsitt commented on #4541
I marked residence as private. changed athletics from blue skating to yellow soccer ball.

I wonder if more should be done to mark certain buildings as private (e.g. track storage, finkbine pump house 1 (older), volatile storage). I am rethinking the "all buildings" category and think that buildings should still be classified but be private to visitors. I have deleted the all buildings category an

[2021-12-16 22:56] joewhitsitt commented on #4542
Updated the IS with a new picture of categories from work done in #4541. I think it is to a point where this can be unblocked.

[2021-12-17 14:29] #4516 closed, assigned to briand44

[2021-12-17 14:46] briand44 commented on #4574
I emailed Facilities to get the green light. Added blocked label until we hear back.

[2021-12-17 14:58] #4372 closed, assigned to nobody

[2021-12-17 14:58] joewhitsitt commented on #4575
This is done. 300 (5min)

[2021-12-17 14:58] #4575 closed, assigned to joewhitsitt

[2021-12-17 16:32] makurj commented on #3811
After meeting with our Pardot/Salesforce maintainer, I have found that the D7 Pardot module enabled the use of a Pardot form handler on a Drupal webform, which would associate the visitor_id with the prospect_id.

[2021-12-17 16:38] bspeare commented on #4544
Here's what this adjustment could look like.   We've had some Slack conversations with Tippie and I have ran this by the Brand team as well.

- Reduce nav font size
- Use brand gray color instead of black
- Make divider lines a lighter gray

<img width="1539" alt="4" src="https://user-images.githubusercontent.com/1036433/146577625-0b75dbf1-cb92-48fe-a663-34936c1d1476.png">

[2021-12-17 16:42] briand44 opened #4578 "SSL for Concept3D"
https://help.concept3d.com/hc/en-us/articles/360057789053-CNAME-SSL-Certificate-Options

[2021-12-17 16:47] makurj commented on #3811
https://git.drupalcode.org/project/pardot/-/tree/8.x-1.x

[2021-12-17 16:47] briand44 commented on #4574
**Edits to FM Building Information pages**:

- [x] Remove energy button (this tool will be rebuilt and added back in at a later time)
- [x] Remove link to “Utility Bill” and “Bids”
- [x] Add a link to “Lactation Room Locations” that links to this page  https://hr.uiowa.edu/well-being/family-services/lactation-facilities-and-resources/lactation-room-locations
- [x] Add a link to “Hearing Loop Syste

[2021-12-17 17:01] #4127 closed, assigned to richardbporter, cory-skeers

[2021-12-17 17:16] ABoston88 commented on #4541
How many were left in "All buildings"?

If you know of any buildings that weren't listed before, we can make them private. Is there any way to surface what wasn't listed before? Probably something we can keep working at after launch, as well.

[2021-12-17 17:23] briand44 opened #4579 "https://sim-ia.uiowa.edu content and design review"
# Review process

Work with @ABoston88 and put together a two-column spreadsheet.  In the first column provide the page name and url and in the second column provide notes/comments/suggestions.

## Example
<table border="0">
 <tr>
    <td><b style="font-size:30px">Page</b></td>
    <td><b style="font-size:30px">Notes</b></td>
 </tr>
 <tr>
    <td>Areas of Study: https://education.prod.drupal.uiowa

[2021-12-17 17:23] briand44 commented on #4579
Here is a link to an Iowa Now article for context https://now.uiowa.edu/2021/02/college-nursing-helmsley-trust-partnership-simulation-motion-iowa.

[2021-12-17 17:26] briand44 commented on #4579
**Other simulation sites from different states similar to sim-ia.uiowa.edu program**
SIM-SD website https://sim.sd.gov/
SIM-ND website https://med.und.edu/sim-nd/
SIM-MT website https://simmt.org/
SIM-NE website https://www.unmc.edu/sim-ne/

[2021-12-17 17:27] briand44 commented on #4579
Added blocked label for now as they are still working on content but should be ready for our feedback beginning of January.

[2021-12-17 17:58] joewhitsitt commented on #4541
When i deleted the category, there was only that finkbine bathroom and i re-assigned it.

I was going to go building by building in concept3d and then check to see if the building is on the maps site

[2021-12-17 18:04] richardbporter commented on #4573
Looks like we goofed up the `root` in #4458. It should point to the Drupal root, not the project/repo root. I can hotfix.

[2021-12-17 19:12] #4344 closed, assigned to richardbporter, joewhitsitt, dnkemper

[2021-12-17 19:31] ABoston88 commented on #4541
Sounds good. Let me know if I can help with that process, at all.

[2021-12-17 19:34] ABoston88 commented on #4299
https://international.prod.drupal.uiowa.edu/study-abroad-alternative Alternative layout for landing page...some elements of this could be reused on other pages.

[2021-12-17 20:16] joewhitsitt commented on #3661
reopening due to solution rollback...

[2021-12-17 20:17] joewhitsitt commented on #3661
something was causing the table to fill up with dom_id instances, all associated with single owner (siteimprove?)

need to look into this a bit more

[2021-12-17 20:23] joewhitsitt commented on #4541
I can start up a huddle in a bit and will ping you.

[2021-12-17 20:38] e-marie-w commented on #4541
This is looking great and a lot easier to understand now!

For locations-within-a-building, such as all the dining places, should they display more info when the map pin is clicked, or are they fine as-is since they aren't actually buildings?

[2021-12-17 21:15] joewhitsitt commented on #4541
@e-marie-w yes, i think we should probably go through and add a link to those

update: if there is one

[2021-12-17 22:23] joewhitsitt commented on #4541
@mjoneill,

Alex, Marie and I went through most of the buildings and points to see if they should be hidden or supplemented with info. At your convenience, please review the map from a point/category perspective https://map.concept3d.com/?id=1890#

[2021-12-20 17:35] richardbporter commented on #3498
Something to consider:

Platform Email service is provided as a courtesy and has no uptime or service level agreements associated with it.

[2021-12-20 17:53] bspeare opened #4587 "SSL Cert leadandengage.uiowa.edu on uiowa"
SSL Cert leadandengage.uiowa.edu on `uiowa` for @quamsta.

[2021-12-20 19:46] richardbporter commented on #3498
O365 docs: https://its.uiowa.edu/support/article/108576

[2021-12-20 19:53] #4573 closed, assigned to richardbporter

[2021-12-20 19:58] e-marie-w commented on #3868
### Most recent list above under Content Type Definition ###
Components needed for new content type that combines the Stanza and Writings content type:
- Title - text field
- Language selection  - was drop-down previously
- Section Number (replaces Stanza Number & Week Number) - was drop-down previously
- Image - file upload
- Foreword - text area
- Body - multi-value text area
- Afterword - text

[2021-12-20 20:25] makurj commented on #3811
Tried installing https://www.drupal.org/project/pardot/releases/8.x-1.x-dev but it errored out.

![image](https://user-images.githubusercontent.com/52135878/146828211-1177d63f-9ad4-46d6-80ab-261400449a9c.png)

Back to square one of writing a custom module.

[2021-12-20 21:04] GaryRidgway commented on #4566
From my inspectionI think Joe [covered contrast issues here](https://github.com/uiowa/uiowa/issues/3957#issuecomment-964624811) and I don't think I am expecting a lot more from the branding standpoint. I think the branding looks sufficient right now. I think this is potentially ready for feedback from Jess and Sondra.

[2021-12-20 21:41] bspeare commented on #4566
@joewhitsitt can you provide details on the "expected branding" question?  Is this a general question or a series of specific questions about each interaction?

[2021-12-20 21:49] joewhitsitt commented on #4566
This originally was a note to get brand team feedback that got turned into an issue. I don't have specifics in mind, only that historically new things have been brought in front of the brand team for review. There are limitations within concept3D but are there noticeable/fixable issues where the solution is not brand-compliant? I mentioned to Alan that this work will closely relate to the icon wor

[2021-12-20 22:14] e-marie-w commented on #4574
The edits can all be done on the live site, correct? No DevDesktop needed? If I'm understanding it right I'd be interested in working on this.

Edit: Nevermind. Remembered I could log in to see how the pages are set up and no they aren't editable.

[2021-12-20 22:27] bspeare commented on #4566
Thanks for the clarification @joewhitsitt!

[2021-12-20 22:28] richardbporter commented on #3498
I would image three major slices out of this:

1. Set up a third-party email integration or Platform Email for the city websites
2. Set up authenticated O365 for SiteNow v2/3
3. Set up authenticated O365 for SiteNow v1

The third slice will probably dictate how we implement email changes for the remaining applications - signage, hcsignage, dentistry, clas, grad, (nursing?).

I have questions out t

[2021-12-21 14:40] richardbporter commented on #3498
Maybe not. O365 SMTP might have limitations with impersonation and non-UI domains. I wonder if we can just try it with our existing service account.

I will contact hostmaster re: potential DNS changes to see if Platform Email is a possibility.

[2021-12-21 14:57] makurj commented on #3811
https://help.salesforce.com/s/articleView?id=000322102&type=1

[2021-12-21 15:17] richardbporter commented on #4574
The FM building pages are entirely dynamic and changes will need to be in code, probably using DD first.

[2021-12-21 15:21] richardbporter commented on #4574
Random thought: does Rabbit Hole have access to node field tokens? If so, that might work instead of coding the redirect on the maps site. Don't know if that is any better/easier/etc.

[2021-12-21 16:06] joewhitsitt commented on #4574
Updated IS

[2021-12-21 16:15] cory-skeers opened #4589 "Taxonomy term content search in SiteNow Find Text"
# Problem
Taxonomy content is not currently visible to the Find Text module (ie a search for "Space" won't return results for taxonomy terms labeled "space" or that include "space" in their description).

# Proposed solution

Increase the scope of `sitenow_find_text` to include text-based fields which are used by taxonomy terms.

[2021-12-21 16:25] richardbporter commented on #4574
https://www.facilities.uiowa.edu/hearing-loop-system

[2021-12-21 16:32] joewhitsitt commented on #4542
All buildings
Point of interest
Housing
Dining
Recreational facilities
Libraries
Healthcare
Public parking
Construction project
360 Panoramas
Building labels

[2021-12-21 16:35] joewhitsitt commented on #4541
For MVP and since Alex is out:

match maps.uiowa.edu categories/order

All buildings
Point of interest
Housing
Dining
Recreational facilities
Libraries
Healthcare
Public parking
Construction project
360 Panoramas
Building labels

mark other categories as private and re-title to append (draft)
assign all buildings to "All buildings"
provide facilities link for each building

later lift:
check on fa

[2021-12-21 16:42] richardbporter commented on #4574
Any room to negotiate on this? We put them in the button group where the other links were:
![image](https://user-images.githubusercontent.com/1068523/146966695-01cb2486-8601-4e78-a7c6-a0062bbaf44d.png)

[2021-12-21 16:51] richardbporter commented on #4574
We looked into RH but it won't handle padding the building numbers to 4 digits. Going the drupal_goto route.

[2021-12-21 17:09] briand44 commented on #4574
I emailed Wendy to ask if she would be ok with this. I attached the screenshot. Waiting to hear back.

[2021-12-21 17:12] richardbporter commented on #4574
Pushed both branches to AC (uiowa702, uiowa703) while we wait. Not checked out in dev yet but could be for review.

[2021-12-21 17:46] dnkemper commented on #4476
Part of https://github.com/uiowa/uiowa/pull/4523

[2021-12-21 19:10] briand44 commented on #4568
blocked until #4475

[2021-12-21 19:16] makurj commented on #2406
I would like to pair/work on this.

[2021-12-21 19:39] makurj commented on #3811
https://developer.salesforce.com/docs/marketing/pardot/guide/getting-started.html

[2021-12-21 19:40] briand44 opened #4591 "Update in-code references to maps.uiowa.edu and develop/release communication regarding link updates."
Includes sitenow_maps pane (SiteNow v1)

Related issue https://github.com/uiowa/uiowa/issues/4212

Static Maps or Embed iFrame?

See what happens if the endpoint goes dark? Graceful fallback. Link to main map?

Allow staticmap.concept3d.com/map/static-map iframe embeds for Static Map replacements? https://help.concept3d.com/hc/en-us/articles/360008043454-Static-Maps

[2021-12-21 19:46] richardbporter commented on #3957
Combined update code references and sitenow_maps into one issue since they're the same thing: https://github.com/uiowa/uiowa/issues/4591

[2021-12-21 19:46] joewhitsitt commented on #4591
In terms of a fallback link we could get the building abbreviation from the pane and construct a search link like this: https://map.concept3d.com/?id=1890#!s/OC?ct/51247 (Old Captiol) (obviously replacing with maps.uiowa.edu for the final URL)

[2021-12-21 19:50] briand44 commented on #4328
potentially use a paragraph bundle with book type for related fields (hardcover, paperback, etc)

[2021-12-21 20:10] briand44 commented on #3811
there is a working d7 implementation that could be referenced. Also, Makur checking on using pardot form.

[2021-12-21 20:50] joewhitsitt commented on #4541
Capturing my process to provide facilities link for each building:

Pick an old category (all buildings is changing by the minute) and work your way down
copy the building name
pase in the search here https://www.facilities.uiowa.edu/buildings
copy the link and modify this markup in an open text file `<a href="https://www.facilities.uiowa.edu/building/0001" target="_blank">More building informatio

[2021-12-21 22:11] richardbporter commented on #4574
This is done now.

[2021-12-21 22:11] #4574 closed, assigned to richardbporter

[2021-12-21 23:02] e-marie-w commented on #4541
Okay, all buildings should be in All Buildings now, I plan to do some double-checking. I didn't add any locations that weren't buildings, so here's a list of those grouped by category, in case we need them.

Libraries:
- Art Library
- Law Library
- Marvin A. Pomerantz Business Library
- Lichtenberger Engineering Library
- Rita Benton Music Library

Healthcare:
- UI QuickCare
- IMU Nurse Care Clini

[2021-12-21 23:11] e-marie-w commented on #4541
Oh, also I identified some duplicate buildings, wanted to check if the second copy could be removed or needed to be changed to represent a different building.

- Research - two of Shop North
- Residences - two of 1131 East Burlington Street
- Recreational facility - two of MRNA - Storage Shed B

[2021-12-22 15:08] richardbporter commented on #3498
It still might be good to try sending emails from a service account using O365 to see the impersonation issues in practice. I would suggest using D9 first in the develop environment. The docs at https://docs.acquia.com/cloud-platform/manage/email/3rdparty/ would be a good starting point. I mentioned in the email thread a service account we have that has a mailbox. That account might work and the c

[2021-12-22 15:14] makurj commented on #3811
Response from user on why we can't use Pardot forms:

1. The Pardot form styling is horrible and extremely difficult to get it to match our website’s
2. We’d have to use an iframe – not a good experience for accessibility
3. We can’t use conditional logic with a Pardot form
4. A pardot form wouldn’t provide a failsafe – we need the data to go to two places, if at all possible. We had an issue back

[2021-12-22 16:02] briand44 opened #4593 "Restore icfm2020.org in dev environment"
# Story

As an owner of icfm2020.org, I would like this site to be made available somewhere so that I can get snapshots of pages to provide in a report to funding agency.

# Additional Information
DNS is not pointing to Acquia so it probably makes sense to restore this in a dev or stage environment.

DB, Files and code backups live https://iowa.sharepoint.com/sites/CSI-Drupal2/Shared%20Documents/F

[2021-12-22 16:03] briand44 commented on #4593
I let the customer know we will only be able to keep this around for about a month so they said they would work on it right away once we make the site available again. I can communicate with the customer once this is ready.

[2021-12-22 17:22] joewhitsitt commented on #4541
I finished adding the facilities link to each building. I inspected the duplicates and confirmed they had the same reference id so I remove them. I also added the list of "extras" from https://github.com/uiowa/uiowa/issues/4541#issuecomment-999151526 to a separate private category in order to keep track of these.

All together, this satisfies the todos here: https://github.com/uiowa/uiowa/issues/4

[2021-12-22 17:43] #4126 closed, assigned to pyrello

[2021-12-22 18:19] dnkemper commented on #4473
Added multiple fields to #4523 since was fresh in back of my mind after meeting. Hope that's okay and I'm sorry in advance.

[2021-12-22 18:32] dnkemper commented on #4568
Never got to this. Didn't feel right to assign myself to it if someone had time to complete it before I get back

[2021-12-22 19:00] joewhitsitt commented on #3498
poking at [this](https://github.com/uiowa/uiowa/issues/3498#issuecomment-999645407)

update:
- disabled reroute email on default.dev
- tried sending an email with the SMTP test field:
  - `SMTP Error: Could not authenticate`
  - `Error sending email (from __ to __ with reply-to not set)`
- not sure if i got the correct combination of values

I am a little fuzzy on the service account Rick mentione

[2021-12-22 20:48] #3661 closed, assigned to joewhitsitt

[2021-12-27 15:00] mjoneill commented on #4541
Looking pretty solid.  It appears that some buildings do not show addresses... Admissions Visitor Center (under point of interests), for example.

When I see this, does it reflect a gap in the data import?

[2021-12-27 15:44] mjoneill commented on #4541
This particular card is for a location that exists within a building. Reaching out to Scott to see what experience he'd like on the card for this one.  I suspect photo, address, etc...

[2021-12-27 15:46] mjoneill commented on #4541
Noticing something strange on cards for some buildings.  When I click on them, they provide an experience like this (see uploaded image).

That experience persists on subsequent clicks for that card/location for <120 seconds or so.  After that time, revisiting the card for the location may reveal the actual and expected content experience.

Anyone else noticing this type of behavior?  I'm on Safar

[2021-12-27 15:51] joewhitsitt commented on #4541
It takes a bit, but I get a loading gif and then (safari, brave)

<img width="551" alt="Screen Shot 2021-12-27 at 9 50 33 AM" src="https://user-images.githubusercontent.com/4663676/147487452-262cf766-27ee-424f-8786-98b5f4855e35.png">

[2021-12-27 15:58] mjoneill commented on #4541
Thanks Joe.  When it happens to me, no image loading indicator until after that initial experience (seemed to be a couple minutes).

If it continues to happen, I'll ask Patrick (our contact) about it...

[2021-12-27 17:05] joewhitsitt opened #4595 "Neuronext/ctsdmc - Implement date based sorting for publications"
Cherwell support ticket #1238660

## Problem

The current setup relies on a text field to sort and format dates for the publications. Based on the desired format, the sorting will not work (e.g. 2021 Aug 1 is alphabetically sorted ahead of 2021 Dec 27).

## Proposed Solution

- [x] Create a date field for sorting and update the view or change the view to sort by the node created date.

[2021-12-27 17:49] joewhitsitt commented on #4595
[code]

[2021-12-27 17:49] joewhitsitt commented on #4595
For now, re-wired the view to use created (authored on) date and provided better help text.

[2021-12-27 18:23] joewhitsitt commented on #4595
Had to expose the authored on permission override in PROD (not captured in features)

[2021-12-27 20:13] joewhitsitt commented on #4587
This is done.

[2021-12-27 20:13] #4587 closed, assigned to joewhitsitt

[2021-12-27 20:16] joewhitsitt commented on #4359
The current site resolves to https://www.iowajpec.org. Should www be accounted for again?

[2021-12-27 20:45] #4589 closed, assigned to nobody

[2021-12-27 20:57] joewhitsitt commented on #4542
Jessica provide a set of icons today and I have uploaded them to the CMS. https://map.concept3d.com/?id=1890

In addition to the visible categories, a tigerhawk icon was provided for the current draft athletics category

[2021-12-27 21:02] joewhitsitt commented on #4542
UPDATED:

<img width="403" alt="Screen Shot 2021-12-30 at 10 09 58 AM" src="https://user-images.githubusercontent.com/4663676/147768737-a7ffe244-453e-446b-9f81-5607e699a908.png">

[2021-12-27 21:30] joewhitsitt commented on #4113
Couldn't find a similar issue except for this d7 contrib version: https://www.drupal.org/project/views/issues/1301746

Might be able to do something similar and contribute back

[2021-12-28 14:40] joewhitsitt commented on #4595
Apparently ctsdmc.uiowa.edu has the same issue

[2021-12-28 15:43] joewhitsitt opened #4597 "Deprovision - jabbari.lab on uiowa701"

[2021-12-28 18:53] joewhitsitt commented on #4473
So, from looking at #4523, most of this is in progress and/or already done and that the view page could probably just be split out from this. Moving to parking lot to discuss where this should actually be on the board.

[2021-12-28 18:54] joewhitsitt commented on #4568
So, from looking at #4523, most of this is in progress and/or already done. We could leverage the taxonomy default "description" field for the see also. Moving to parking lot to discuss where this should actually be on the board.

[2021-12-28 21:38] joewhitsitt commented on #3842
For the views page, I thought I was being clever by going down this approach (taxonomy view where there is only one row for each term and the degree types queries and combines all results linking back to their nodes). This works... until you want to try and filter by the colleges and degrees on the view. Not sure which one (or both) is preferred.

[code]

<img width="1288" alt="Screen Shot 2021-12

[2021-12-29 14:53] joewhitsitt commented on #4568
Based on my discovery here: https://github.com/uiowa/uiowa/issues/3842#issuecomment-1002291548 the taxonomy might need some additional fields.

[2021-12-29 15:42] cory-skeers commented on #4565
Made the first item opaque on load in #4599. Took a look at it in standup, and the consensus is that making the first item visible on load is likely enough.

Followup task may involve adjusting the gold line in relation to this--eg filling the line in up to the first item, or adjusting how far down the page it fills.

[2021-12-29 16:43] mjoneill opened #4600 "Add Dentistry schema to college of Dentistry website."
As a search engine, I am able to consume schema.org/Dentist information on dentistry.uiowa.edu when I crawl the site.

### Resources/Background
* https://schema.org/Dentist
* https://www.drupal.org/project/schema_metatag/issues/3113067

### Problem

Currently, the dentistry site is not being understood as a dentist, and hence it does not appear in results for relevant queries.  In addition to evol

[2021-12-29 17:33] briand44 opened #4601 "Update payment info for paid accounts"
- [x] Mapbox
- [x] BrowserStack
- [x] JetBrains
- [x] Slack UI Web Community
- [x] Slack OSC - renews Jan 1
- [x] Travis (trans. declined)
- [x] Moz
- [x] Semrush

Others??

[2021-12-29 17:54] #4527 closed, assigned to cory-skeers

[2021-12-29 18:04] mjoneill commented on #4600
Be aware, we will likely want to add dentist schema _AND_ CollegeorUniversity schema to this site, simultaneously. This could take the form of:
* both simultaneously to front page
* one on front page (collegeoruniveristy), one on an interior page (dentistry)
* something else

Right now it seems like first option is the recommended approach.

[2021-12-29 18:20] #4565 closed, assigned to cory-skeers

[2021-12-29 18:43] #4531 closed, assigned to nobody

[2021-12-29 19:12] #4595 closed, assigned to joewhitsitt

[2021-12-29 20:09] joewhitsitt commented on #4601
Ben is listed as owner of BrowserStack, I can see the plan but not update billing

[2021-12-29 21:33] joewhitsitt commented on #4568
Take back what I said earlier, no additional taxonomy fields necessary.

[2021-12-29 21:34] joewhitsitt commented on #4568
This isn't blocked because it was already part of the PR

[2021-12-29 21:50] mjoneill commented on #4601
I don't have permissions to tic the boxes, but OSC Slack, Semrush, and Moz are all Done!

TY!

[2021-12-30 14:29] cory-skeers commented on #4241
I'm having trouble getting this set up to test locally. Visiting any page (including the login page) redirects to the homepage, and I'm not sure why. If the homepage is excluded from needing to log in, that's the end of it. If it's not excluded, a redirect loop occurs between the home and login pages.

Don't see any issues in the module, and saml routes seem to be properly excluded to where I'd th

[2021-12-30 15:42] joewhitsitt commented on #4435
This could also extend to all taxonomy term subscribe links

[2021-12-30 16:09] joewhitsitt commented on #4566
Blocked until tours tab is visible (waiting on Admissions walking tour and/or 175th), the [top-bar link](#4567 ) and [icons](#4542 ) are finalized. Once these are done, send another email to the brand team for final review.

[2021-12-30 16:21] briand44 commented on #4542
Need to get a new icon or approval on existing icon for academic buildings category

[2021-12-30 17:27] joewhitsitt commented on #4541
As discussed, added Pat's Too and created the MNRA sub-category

<img width="737" alt="Screen Shot 2021-12-30 at 11 23 02 AM" src="https://user-images.githubusercontent.com/4663676/147774317-10ae9a24-d4b1-4274-b80b-cb46e5c759ef.png">

[2021-12-30 18:11] #4597 closed, assigned to briand44

[2021-12-30 20:34] cory-skeers commented on #4241
https://www.drupal.org/project/restrict_ip seems to work well out of the box in initial testing. By blocking all IP addresses (or allowing a select few like local connections) and allowing specific roles to bypass the blocking, it can be used to lock down all or parts of a site except for specific roles, which would work for assigning AD groups in the future.

Also has options to redirect to an ex

[2021-12-30 20:39] joewhitsitt commented on #4241
It is also "recommended" by Acquia for restricting website access - https://docs.acquia.com/cloud-platform/arch/security/restrict/

though it also says...

So do we just need to split permissions and dress up the access denied page?

[2022-01-03 15:36] richardbporter commented on #4241
We'll need to make sure all "intranet" pages are marked with the appropriate Cache-Control headers to prevent this.

[2022-01-03 15:38] joewhitsitt commented on #4541
Updated IS with photo/content todo info

[2022-01-03 15:48] joewhitsitt commented on #4542
Emailed the brand team about the additional icon

[2022-01-03 16:15] joewhitsitt commented on #4542
Minutes later, a replacement icon has been provided and uploaded. Would you say this is done now @mjoneill

[2022-01-03 17:05] richardbporter commented on #3498
Tried again with different credentials but no dice. It seems I can reproduce the error locally although its hard to find - we need better logging locally.

I then tried our other service account tied to its-web and that did not work either. Contacted the email team to see if the service account is set up correctly to use SMTP.

[2022-01-03 17:26] bspeare commented on #4601
Browserstack is now updated.

[2022-01-03 17:27] briand44 commented on #4601
Closing as all items we are aware of are completed.

[2022-01-03 17:27] #4601 closed, assigned to nobody

[2022-01-03 19:23] joewhitsitt opened #4611 "Check the aria markup for card variations"
# Problem
aria-describedby is present for the card arrow button. woot! good job. It needs to be switched around though. The title has the text that is describing the link but are telling screen readers to look to the blank button for the link description.

<img width="879" alt="Screen Shot 2022-01-03 at 1 13 03 PM" src="https://user-images.githubusercontent.com/4663676/147970916-d3fc0b3b-2dc4-4179

[2022-01-03 19:37] e-marie-w commented on #4541
I added photos to the buildings that I could, and on the doc highlighted locations still missing an image. Most are locations found inside an already listed building, like the dining places. A few, though, are buildings that just don't have an image on the facility site page.

Edit: should we just use the same image for now? Like, the Burge Hall image for the Burge Hall Marketplace? Then we'd only

[2022-01-03 21:13] pyrello commented on #3842
Added an optional bullet point related to [this comment](https://github.com/uiowa/uiowa/pull/4523#issuecomment-1002679900):

[2022-01-03 21:57] quamsta commented on #4502
I ran into this too during a site migration that needed some headings and accordions:
<img width="1483" alt="Screen Shot 2022-01-03 at 3 54 56 PM" src="https://user-images.githubusercontent.com/472923/147984596-c60cf2aa-2b06-478f-996b-b9bb2314c687.png">

PR: https://github.com/uiowa/uiowa/pull/4612

[2022-01-03 22:32] richardbporter commented on #3498
I've got SMTP working in https://github.com/uiowa/uiowa/issues/3498. I've updated the secrets file on uiowa.dev. However, all emails have to be sent from the account being used to authenticate, which is our service account. This isn't ideal, obviously. The replyTo address can still be set to a different address, which helps a little. Also, it appears that all sent emails are showing up in our sent

[2022-01-03 23:01] joewhitsitt commented on #3498
so much good and bad news in one comment

[2022-01-04 14:39] richardbporter commented on #3498
Some more bad news about SMTP: as noted in the SMTP module configuration, O365 does not respect the email message fromName - it just overwrites it to be the authenticated account name. That is unfortunate because people might not notice as much if the fromName were different, similar to how the replyTo/Name is set.

[2022-01-04 14:51] joewhitsitt commented on #4548
Just added a couple things to the article.

[2022-01-04 15:09] #4542 closed, assigned to joewhitsitt

[2022-01-04 15:17] #4475 closed, assigned to dnkemper

[2022-01-04 15:17] #4476 closed, assigned to nobody

[2022-01-04 15:17] #4568 closed, assigned to nobody

[2022-01-04 15:35] joewhitsitt opened #4613 "Disable URL Aliases for media"
## Story

As an editor, I won't be tempted to change a media entity alias and cause trouble by not being able to access the media entity edit screen.

## Problem

Changing the media url alias prevents webmaster/etc from accessing the media edit form.

I can't think of a use-case where the media alias should be changed.

## Proposed Solution

- [x] Prevent webmasters and below from modifying the al

[2022-01-04 16:22] bspeare commented on #4548
I think https://sitenow.uiowa.edu/news/2022/01/updates-december is ready to review.

[2022-01-04 16:40] GaryRidgway commented on #4299
https://iowa.sharepoint.com/:w:/r/sites/CSI-Drupal2/Shared%20Documents/General/International%20review.docx?d=w485090e8f51f40c683f7dfe267f9c43b&csf=1&web=1&e=PChS2q
This is the sharepoint link to the file

[2022-01-04 16:48] joewhitsitt commented on #4548
Can we be more specific about this one? `Fixed some directory profiles style bugs.`

Also, in months past the notable launches have been simplified to not include https:// or the trailing slash.

Otherwise, I think it looks good!

[2022-01-04 17:12] richardbporter commented on #4593
This is done: https://org-icfm2020.dev.drupal.uiowa.edu/

[2022-01-04 17:12] #4593 closed, assigned to richardbporter

[2022-01-04 17:22] bspeare commented on #4548
Thanks @joewhitsitt! The page is now published with the updates to the notable launches and a better description of the profile bugs: https://sitenow.uiowa.edu/news/2022/01/updates-december.

[2022-01-04 17:38] briand44 commented on #4299
I've shared the link with the customers and we walked through the alternative study abroad layout with them yesterday so marking this as closed.

[2022-01-04 17:38] bspeare opened #4615 "SiteNow Updates News Article - January"
## Issue/Solution ##
Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  * See the previous month's article as an example.
  * Bulle

[2022-01-04 17:40] bspeare commented on #4615
https://sitenow.uiowa.edu/news/2022/02/updates-january

[2022-01-04 17:49] mjoneill commented on #4567
Well, I added the Request Information topbar button. Anyone know how to style it?

https://map.concept3d.com/?id=1890#!ct/51247

[2022-01-04 17:50] bspeare commented on #4548
I've scheduled this in Dispatch to be sent out today at 1:15pm.

[2022-01-04 17:50] mjoneill commented on #4567
TM indicated a desire for an Accessibility button that would:
* Be near the beginning of the tab order
* lists custom key commands, tips for screen reader users, or where to find ALT content

He is restarting the conversation with Patrick.  Holding on this for now...in fact, this may be a story split.

[2022-01-04 17:55] joewhitsitt commented on #4567
Not sure if it is a primary or secondary button but if you had a button color combo in mind, we could add it. Looks like button black bg, white foreground is our default for yellow bgs.

<img width="347" alt="Screen Shot 2022-01-04 at 11 52 11 AM" src="https://user-images.githubusercontent.com/4663676/148102288-83b25d5c-e7bd-4e0f-9ed8-53eea16acd03.png">

[2022-01-04 17:58] joewhitsitt commented on #4567
I'd vote this. Originally I thought it would be another contact us type link (probably routed to our team) to aid users who are having issues with accessing the content in the primary form. I think if Concept3D had something like what was described above it would be great alternative.

[2022-01-04 18:33] mjoneill commented on #4567
Thanks @joewhitsitt .  I should have found this in the help...

I'm going to go with hawkeye black for now and ask @bspeare to evaluate, etc...

[2022-01-04 18:42] joewhitsitt opened #4616 "Provide a list of building link info to web community"
Epic - https://github.com/uiowa/uiowa/issues/3957

## Issue

Though we are currently redirecting building pages to facilities, those redirects will no longer exist when we switch over to Concept3D. It would be nice to provide content editors the information they need to replace old links with the facilities equivalent.

## Proposed Solution

- [x] Views data export of building content from maps.ui

[2022-01-04 19:04] makurj commented on #3811
Meeting scheduled with Salesforce/Pardot for Wednesday, January 5.

[2022-01-04 19:08] briand44 commented on #4616
share via demo, web community list serv, web community meeting

[2022-01-04 19:42] briand44 commented on #4473
Closing this as most of this work is complete. Will create follow up issues based on feedback from Admissions meeting

[2022-01-04 19:42] #4473 closed, assigned to nobody

[2022-01-04 19:44] briand44 commented on #4578
Follow second option in above documentation.

[2022-01-04 19:50] briand44 commented on #4600
Check issue queues for ability to write own schema?

[2022-01-04 19:51] briand44 commented on #4600
likely will require some investigation to figure out best way of implementing.

[2022-01-04 19:54] briand44 commented on #4600
Michael willing to hand craft this if that is doable and no other more elegant options.

[2022-01-04 19:56] briand44 commented on #4600
Michael to craft schema.org/Dentist JSON LD specific to College of Dentistry

[2022-01-04 20:00] bspeare commented on #4502
Closed via https://github.com/uiowa/uiowa/pull/4612.

[2022-01-04 20:00] #4502 closed, assigned to nobody

[2022-01-04 20:03] joewhitsitt commented on #4600
https://stackoverflow.com/questions/30723531/best-json-ld-practices-using-multiple-script-elements

Didn't know you could have multiple on a page. Might be nice to have a "Additional schema" plain text bucket within SEO settings per page to then render out inside a separate script tag.

[2022-01-04 20:17] richardbporter commented on #4600
The module README seems to indicate a path for "adding groups and properties": https://git.drupalcode.org/project/schema_metatag/-/blob/8.x-1.x/README.txt

[2022-01-04 20:23] briand44 commented on #3104
Search issue queues and create issue if one doesn't already exist. If determined we don't have a path forward, add the upstream label.

[2022-01-04 20:23] richardbporter commented on #4242
We discussed a potential solution of setting the `$config['system.file']['default_scheme'] = 'private';` in a site's `settings.php` file right after it is created. This would prevent anyone from switching back and forth, at least without modifying code and understanding the implications.

However, we also discussed that SiteNow was created for public-facing websites from day 1 and that retrofittin

[2022-01-04 20:25] briand44 commented on #4113
Worth seeing how directory profiles handles this?

[2022-01-04 20:34] pyrello commented on #4242
A few notes from our grooming conversation about this:
* If a site were somehow able to switch back and forth between public and private, we would need some sort of (drush?) script to move all the files from one filesystem to another.
* Because of the above, it would be a lot easier to make it a policy that a site that is going to be private needs to be created that way from the start and will the

[2022-01-04 20:51] richardbporter commented on #4242
Hm. Changing the `system.file.default_scheme` from public to private locally doesn't actually do anything - thats just the default scheme used when creating new file fields. All of our existing media type file fields would still use the public file system. That config would have to be changed, as well as anything else configured to use the public file system (custom code, etc.).

[2022-01-04 20:52] pyrello commented on #4242
That's good to know. So, we would probably need to set this up as a split and turn it on for sites prior to granting them access.

[2022-01-04 21:27] pyrello commented on #4242
This is not comprehensive, but provides a few points to think about: https://industrialagency.ca/blog/private-files-drupal-8

[2022-01-04 21:48] briand44 commented on #4374
This is no longer needed. Going to close this. We can reopen if things change.

[2022-01-04 21:48] #4374 closed, assigned to nobody

[2022-01-04 21:50] briand44 commented on #3957
removed 175 walking tour as a task and closed that issue since it is no longer a requirement.

[2022-01-04 22:00] richardbporter commented on #4591
Example static map URL for Art Building West: https://staticmap.concept3d.com/map/static-map/?map=1890&loc=579415&scale=2&zoom=17

[2022-01-04 22:25] richardbporter commented on #4591
Sounds like there is an API but it isn't free so I'm assuming we don't have access: https://help.concept3d.com/hc/en-us/articles/360016590393-Interactive-Map-API-FAQs

We might be able to construct a static list of abbr/number -> markerID using the CMS data export feature. I tried to do that for Art Building West though, and the marker IDs don't seem to match. The marker ID in the static map above

[2022-01-04 22:39] mjoneill commented on #4600
Yep. There is reason for that confusion...at various times leaders in the space have variously advocated for and against that.  You can usually find a way to nest them, but some have gone mad trying to chase that ideal.  More often than not, having multiples is fine...until it isn't.

For this one, there are a couple of approaches we could take in articulating CollegeorUniversity and Dentist on th

[2022-01-04 22:55] joewhitsitt opened #4617 "SSL - pier.uiowa.edu on uiowa01"

[2022-01-04 23:00] joewhitsitt commented on #4591
Got the go-ahead from IowaReadingResearch to change their footer link to the facilities version.

Update: IRRC link has been updated. Pushed with the security release

[2022-01-05 14:32] joewhitsitt commented on #4436
Based on my recent dabbling with the replace functionality and cleanup maybe we could set the file on the fly with status permanent (1) and/or create a faux entry in file_usage (e.g. sitenow_bulk_upload count 1).

[code]

Alternatively, to create some genuine media usage, maybe this upload field could live on content (e.g. files list block).

Trying to think of something one-off to help Provost in

[2022-01-05 14:53] joewhitsitt commented on #4436
Oh duh.

This is not true. Media causes usage for the file entity. If all of the usage (media entity, media revisions, elsewhere) are gone _then_ it gets cleaned up... eventually.

[2022-01-05 14:56] richardbporter commented on #3498
I was able to get Platform Email working with a subdomain hostmaster created. Unfortunately, I missed this line in docs:

So the mail subdomain of drupal.uiowa.edu won't really work for us. I asked for a different DNS setup. Waiting for that.

Based on those docs, it seems Platform Email won't work for emails sent from any address that isn't `@uiowa.edu` unless we create those additional mail DNS

[2022-01-05 15:01] richardbporter commented on #3498
The other thing about platform email is that the email team indicated we'll probably need to set an additional email header to prevent the emails from being marked as spam and/or external. I think we can do that pretty easily with hook_mail_alter but it'll need to be done per codebase.

[2022-01-05 15:12] richardbporter commented on #4541
I was playing around with the data export feature yesterday in relation to #4591 and noticed some image references to maps.uiowa.edu. For example, the Slater Hall image is `https://cms.concept3d.com/map/lib/image-cache/i.php?mapId=1890&image=https://maps.uiowa.edu/sites/maps.uiowa.edu/files/s-100701-tj-15.jpg&w=260&h=200&r=1` which is kind-of odd. I don't know if that means its using an "external"

[2022-01-05 15:22] bspeare commented on #4567
The black is a little strong, a white background might better if possible.

<img width="1604" alt="Screen Shot 2022-01-05 at 9 18 15 AM" src="https://user-images.githubusercontent.com/1036433/148242050-2a6e4097-7dc6-45a2-b227-fb0fe021acc6.png">

[2022-01-05 16:02] joewhitsitt commented on #4541
That sounds like a question for Patrick and would be a huge bummer if they are essentially hotlinking...

[2022-01-05 16:18] e-marie-w commented on #4541
I don't know if this makes it better or worse, but it seems like only the bulk upload images include that maps.uiowa.edu? For images I grabbed from facilities and then uploaded, like Pearl Softball Field, the url looks like `https://cms.concept3d.com/map/lib/image-cache/i.php?mapId=1890&image=1890/1ec392fe2d35c99015f34ee793a58831.jpeg&w=260&h=200&r=1`.

[2022-01-05 16:22] cory-skeers opened #4620 "Layout Builder changes not appearing in revisions"
# Problem

Changes made through layout builder are not appearing in revision diffs. This is a reversion to previous behavior prior to #4422 which introduced a Diff plugin in `layout_builder_custom`.

# Steps to reproduce

`blt ds --site=sandbox.uiowa.edu`
Visit a page such as https://sandbox.uiowa.ddev.site/blockquotes
Go into revisions, compare two revisions and see that "No visible changes" is t

[2022-01-05 16:34] joewhitsitt commented on #4541
Sent an email to Patrick

[2022-01-05 16:44] joewhitsitt commented on #4436
I like the idea of https://www.drupal.org/project/media_library_bulk_upload where it uses core functionality (used for image gallery) instead of dropzone/plupload, but it is still rough around the edges (displays library of files, [insert button displayed](https://www.drupal.org/project/media_library_bulk_upload/issues/3251203), [tags duplicated](https://www.drupal.org/project/drupal/issues/325702

[2022-01-05 16:57] joewhitsitt commented on #4436
Keep Kristina from the Provost office posted on this issue

[2022-01-05 17:14] #4620 closed, assigned to nobody

[2022-01-05 17:26] richardbporter commented on #3498
Nope. I think we'll have to modify the from address for all outgoing emails that are not sent from an `@uiowa.edu` address.

[2022-01-05 17:33] bspeare opened #4622 "Two and three column layouts available in prefooter are broken"
# Problem
As pointed out by @bewoldt Admin users are able to add 2 and 3 column layouts to the prefooter, however, none of the section settings or styles are working.

# Steps to reproduce
Try adding a 2 or 3 column layout to a prefooter and adjust the section container or spacing.

<img width="305" alt="Screen Shot 2022-01-05 at 11 29 06 AM" src="https://user-images.githubusercontent.com/1036433/

[2022-01-05 17:34] joewhitsitt commented on #3498
Can the reply-to be non-uiowa? Except for the city, all of our vanity domains don't need to hide the relationship to uiowa to such a degree.

[2022-01-05 17:37] joewhitsitt opened #4623 "Replace swiftmailer with symfony_mailer"
https://www.drupal.org/project/swiftmailer

https://www.drupal.org/project/symfony_mailer

## Proposed Solution

Uninstall the Swift Mailer module.
Uninstall the Mail System module.
Add the Symfony Mailer module (using Composer).
Install the Symfony Mailer and Symfony Mailer Back-compatibility modules to the default split. Add local env config for DDEV SMTP.
Re-configure, update brand site split a

[2022-01-05 17:41] bspeare commented on #3200
I've updated the proposed solution to reflect our conversation from this morning.  I will work on adding some screenshots/gifs of how the dropdowns might look on our current pages.

One question that I have is whether we want to limit the individual page menu block overrides to only administrators? If we will need to switch layouts based on the menu style in the future slice, does access to the in

[2022-01-05 18:47] dnkemper commented on #4616
Have everything setup, but unsure of last field to export.

I’m looking at Old Capitol, and its 0001 on facilities.uiowa.edu and the building number is 1 on maps.uiowa.edu… is there a way to add the 0 prefix to make the building number 4 numbers for URL? Or is that something to do in excel?
If want to look at export: (still need to hide building number - but made it easier to compare buildings on

[2022-01-05 18:48] dnkemper commented on #4616
Could do a fixed number length on excel? Works fine..just not sure if this path is acceptable

[2022-01-05 19:12] joewhitsitt commented on #4616
So based on this discovery, it might make sense to just export the building number as-is then in excel apply a custom format or `RIGHT("0000" & cell, string_length)` to provide the leading zeros, then construct the URL in excel using concat or A1&&B1 type stuff.

Rick was handling this for the canonical link by using `str_pad()` in PHP. uiowa703-dev/docroot/sites/maps.uiowa.edu/modules/custom/camp

[2022-01-05 19:52] mjoneill opened #4625 "Special characters are escaped in the News subscribe link"
I noticed today that special characters appear to be escaped in the News subscribe link.

Observed on the 175 site.  Hid the subscribe link for now. Not urgent that it is there.

<img width="840" alt="image" src="https://user-images.githubusercontent.com/7144234/148280158-eb9c6516-3b2f-4203-a487-06e828568770.png">

[2022-01-05 19:53] joewhitsitt commented on #4359
@makurj do you know if iowajpec still needs www coverage? https://sitenow.uiowa.edu/policies#www

[2022-01-05 19:58] makurj commented on #4359
I'll check.

[2022-01-05 20:01] joewhitsitt commented on #4625
Hmm. Not setup exactly as I assumed when mentioned in the slack. This is where the change would start. Make sure it gets passed in correctly: https://github.com/uiowa/uiowa/blob/main/docroot/modules/custom/sitenow_articles/src/Form/SettingsForm.php#L285

[2022-01-05 20:05] joewhitsitt commented on #4625
Created an example here: https://sandbox.prod.drupal.uiowa.edu/news

[2022-01-05 20:14] bspeare commented on #4548
The email has been sent (again) and the test environment has been enabled again on Dispatch.

[2022-01-05 20:14] #4548 closed, assigned to bspeare

[2022-01-05 20:32] joewhitsitt commented on #4617
DOne

[2022-01-05 20:32] #4617 closed, assigned to joewhitsitt

[2022-01-05 21:48] joewhitsitt commented on #4241
going to push this forward a bit. swarming welcome!

[2022-01-05 22:10] briand44 opened #4627 "Grad Admissions Areas of Study view enhancements"
I believe this is the url to the view https://admissionsgrad.prod.drupal.uiowa.edu/areas-of-study

- [x] Add no results text
- [x] switch to using ajax to be similar to the undergrad admissions view

[2022-01-05 22:18] briand44 opened #4628 "Restrict access to Areas of study and Degree Types term pages"
# Story

As a Grad Admissions site owner, I would like to hide the areas of study and degree type taxonomy term pages since they add no additional value and aren't being linked anywhere.

# Additional Information
We will want to make sure robots.txt is disallowing these paths and that they are not included in sitemaps as well as making these not accessible to anonymous users.

# Proposed solution

[2022-01-05 22:38] joewhitsitt commented on #4533
We should remove the ability to add new Kaltura videos but continue to render the existing. Site owners will eventually replace them once they realize their videos will no longer play.

[2022-01-05 22:39] dnkemper commented on #4616
Alright! Thank you, Joe! I just used excel to do it. Here's the link to review: https://iowa.sharepoint.com/:x:/s/CSI-Drupal2/EbwgBFsnDzpLtrQNahJ4pTABotaRlcx1YfobJBL2PLYpoA?e=q4mExr

[2022-01-05 22:55] dnkemper commented on #4627
apologies for going rogue. Was a part of meeting and had 10 minutes to spare 😇

[2022-01-05 23:11] joewhitsitt commented on #4628
For reference, HR is using rh_taxonomy for their Unit taxonomy. Maybe we can inspect to see if out of the box any additional seo work is necessary? https://hr.uiowa.edu/units/administrative-services I don't see these in https://hr.uiowa.edu/sitemap.xml

[2022-01-05 23:15] joewhitsitt commented on #4241
One thing to note with restrict_ip and probably other modules is that by using the access denied option instead of sending traffic directly to saml login is that the header and footer are exposed (fyi, squeezed almost mobile screenshot):

<img width="880" alt="Screen Shot 2022-01-05 at 5 14 19 PM" src="https://user-images.githubusercontent.com/4663676/148303178-ceb71910-6441-436c-80c8-657e9a69f427

[2022-01-05 23:36] pyrello commented on #4241
Would we not want to show header and footer? I wasn't under the impression that we were trying to lock those down. Although I guess the menu may technically be in the header, so that could be a problem.

[2022-01-06 14:57] bspeare opened #4631 "Button color declared in sitenow.css is conflicting with button styles when used with background colors"
# Problem
As noted by @bewoldt, the button color declared in sitenow.css is conflicting with button styles when used with background colors

# Steps to reproduce
Go to https://studenthealth.prod.drupal.uiowa.edu/news

<img width="1500" alt="Screen Shot 2022-01-06 at 8 54 13 AM" src="https://user-images.githubusercontent.com/1036433/148402299-6f3dcfbd-7cb9-4941-945e-9bbfde8aad21.png">

# Proposed s

[2022-01-06 15:01] joewhitsitt commented on #4241
Not clear from the requirements, just going off of past drupal intranets (https://intranet.oneit.uiowa.edu, etc.). I think we can take restrict_ip further if needed and alter what regions are allowed using `hook_restrict_ip_whitelisted_regions`

I'd like to try this branch in DEV with the redirect to saml login just to experience it. Locally, I am getting a loop issue because saml isn't there.

[2022-01-06 15:21] mjoneill commented on #4567
I'll make the switch

[2022-01-06 15:28] #4627 closed, assigned to nobody

[2022-01-06 15:37] joewhitsitt commented on #4328
moved back to planned under the line as we weren't sure anything had been pushed up for others to take on while Makur was out

[2022-01-06 15:47] joewhitsitt commented on #4541
The workaround is to download them from the original import spreadsheet (ask me for a link) or from the concept3D cms and re-upload.

[2022-01-06 17:07] joewhitsitt commented on #4241
Updated thought, I don't think the immediate redirect to saml is wise. It is a different website and people will wonder if they are logging into to the correct site.

[2022-01-06 18:54] joewhitsitt commented on #3171
Admissions got their view page. Not sure we want/need to pursue this. Events block should be able to handle most use-cases and this is still tricky to accomplish like articles/people if not part of the default.

[2022-01-06 19:59] quamsta commented on #4241
+1 for not redirecting to SAML automatically.

However, can the "Access Denied" page be a bit more friendly? It might be okay for someone stumbling on or entering an admin section they don't have access to, but seems harsh for an intranet environment.

We dressed our SilverStripe intranet, "Student Life Connect" up with a support email address to help smooth over any login issues with some code we

[2022-01-06 20:00] joewhitsitt commented on #4241
Absolutely want to freshen it up but i'd like to decide if this is the route we are headed

[2022-01-06 20:04] quamsta commented on #4241
Gotcha, I see you mentioned the dressing up part earlier now. Carry on haha.

[2022-01-06 20:48] pyrello opened #4632 "Main menu disappears on uiowa.edu intermittently"
# Problem
There have been multiple reports of the main menu disappearing on uiowa.edu.

<img width="1780" alt="Screen Shot 2021-12-01 at 9 10 17 AM" src="https://user-images.githubusercontent.com/1036433/148449930-e0bbf0bc-e1b4-408c-a643-9937a4c5f8a4.png">

# Steps to reproduce
TBD

# Proposed solution
TBD

[2022-01-06 21:00] richardbporter commented on #3498
Yes, reply-to can be left as the original, which helps. I'm trying to ensure that the fromName is set appropriately if we are overriding the fromEmail. This also helps make it appear the email originated from the intended person/site.

[2022-01-06 21:32] mjoneill commented on #4616
[client_error_(4xx)_inlinks_maps_to_facilities.xlsx](https://github.com/uiowa/uiowa/files/7824862/client_error_.4xx._inlinks_maps_to_facilities.xlsx)

@dnkemper and @briand44 these are the facilities links that generated a 404. Does this help?

[2022-01-06 21:59] joewhitsitt commented on #4541
I found that the data export feature downloaded to my computer and open in Excel was a good way to filter/sort by the points affected.

[2022-01-06 22:07] joewhitsitt commented on #4241
Sounded like the team is comfortable moving forward with restrict_ip so I have a list of todos left on the PR - https://github.com/uiowa/uiowa/pull/4626

[2022-01-06 22:18] joewhitsitt commented on #4241
Removing myself for now since I will be out tomorrow

[2022-01-07 14:37] makurj commented on #4359
They would prefer www to be covered also.

[2022-01-07 15:08] richardbporter commented on #4631
Here is the blame for that: https://github.com/uiowa/uiowa/blame/main/docroot/themes/custom/uids_base/scss/sitenow.scss#L473 The commit/PR might provide insight into the "why", maybe not. :)

[2022-01-07 15:16] bspeare commented on #4631
Looks like this was the commit https://github.com/uiowa/uiowa/pull/3379/commits/3b81c38ae0d37cf33bec00c6c5c7a01f4bfb7933.

[2022-01-07 15:22] richardbporter commented on #4632
We should check all logs next time this happens for any useful information before clearing the cache.

We may want to ask support to analyze our memcache config. We had previously asked them to do this for D7 when authenticated sessions were getting evicted frequently. I wonder if that could be happening here and/or with #3585.

[2022-01-07 15:48] bspeare commented on #3200
Here's a look at what the horizontal menu with dropdowns would look like:

https://user-images.githubusercontent.com/1036433/148568497-782d3c16-c0f2-4244-9289-d27fb7bc2d38.mov

[2022-01-07 15:48] bspeare commented on #3200
Here's the downside of the horizontal menu clashing with the top menu if there is no featured image:

https://user-images.githubusercontent.com/1036433/148568667-d872ed5d-36f8-40f4-bb20-381971930435.mov

[2022-01-07 15:48] bspeare commented on #3200
Here's a possible alternative proposal making the mega menu sticky and allow 4 levels of depth:

https://user-images.githubusercontent.com/1036433/148568909-25ff6c07-7dd9-4a42-8990-7e39cc53c977.mp4

[2022-01-07 16:13] dnkemper commented on #4616
Alright, created a new doc that highlights the broken facility links. Let me know if it looks wonky or not, please! If good, I'll delete the old doc. S/O to @cory-skeers for leading me into the right direction 🥳 https://iowa.sharepoint.com/:x:/s/CSI-Drupal2/EQGyVsYaCBdMkMxlY8q7wewB6OKmOFN03Jbq73NnUgnmgg?e=7c6Wbf

[2022-01-07 17:05] e-marie-w commented on #4616
I think it looks fine! And I figured out the Voxman Music Building thing - it's actually listed twice. Once with the correct VOX abbreviation/redirect, and later with the incorrect broken VMB one.

[2022-01-07 17:11] pyrello commented on #3200
I like the proposal for handling drop-down menus in secondary horizontal navigation blocks. I am not a fan of trying to use mega-menus as a workaround for that as I don't think it actually satisfies the requirements in a satisfactory way. I'm not opposed to making those changes to mega-menus available also as they might be the right solution in some cases, just not as a way to handle this feature

[2022-01-07 18:13] briand44 commented on #4616
I went through maybe a dozen of these and didn't notice anything that stood out or any issues with the export. I will share with Facilities folks. Thanks!

[2022-01-07 19:01] pyrello commented on #3804
One thing that we are going to run into with this is that there is a core issue related to the fact that when multiple blocks of the same view display with exposed filters is placed on the same page, submitting one form causes the other blocks to update. There is a whole constellation of issues attempting to resolve this issue, but probably the one that seems to have the most energy behind it is:

[2022-01-07 19:05] pyrello commented on #3804
It seem the updates to https://www.drupal.org/project/ctools/issues/2657060 will include functionality that we were planning on handling ourself with regard to adding checkboxes to each filter to allow the user to choose whether to expose them or not. I'm going to update the proposed solution details based on this.

[2022-01-07 19:30] briand44 commented on #4616
Email sent to Facilities.

[2022-01-07 19:33] dnkemper commented on #4616
@e-marie-w you are awesome and thank you, @briand44! SO glad you caught those! Thank you both!

[2022-01-07 20:08] dnkemper opened #4634 "Webform button is invisible with no background in LB"
Hard to notice webform button when background color is set to 'none'.

<img width="1366" alt="Screen Shot 2022-01-07 at 11 23 15 AM" src="https://user-images.githubusercontent.com/16872949/148601082-42adcfe9-f796-4245-866f-e0109d7e2d59.png">

Looks like we're adding a style that's getting applied to the button here:
https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/comp

[2022-01-07 20:54] richardbporter commented on #4591
Starting to probe this a little.

[2022-01-07 21:04] makurj commented on #4328
Need to figure out the layout of the page. Should that be a separate issue?

[2022-01-07 21:05] briand44 commented on #4328
@makurj I think that is this issue. https://github.com/uiowa/uiowa/issues/4522

[2022-01-07 21:09] briand44 commented on #4616
I honestly think we just remove the records from the spreadsheet that are 404's and continue forward. I think the maps site has building nodes that aren't being removed ever so it is showing outdated info. I don't think it makes sense to put effort in to clean that up. It will be resolved when we launch Concept3D.

Might make sense to hear from Michael and the rest of the team in standup before ju

[2022-01-07 21:18] richardbporter commented on #4591
update uiowa_maui/uiowa_maui_pane/plugins/content_types/course_deadlines.inc#L362 to not link building abbreviation - link to facilities if we have that building number.

We don't have the number. The data is coming from MAUI and the section API call data has the building abbreviation, not the building number. I started a branch on uiowa703 called update-maps-refs that changes this to a search lin

[2022-01-07 21:33] richardbporter commented on #4591
This is content that they have access to change. I updated the help text to more generic instead of referencing "a building on maps.uiowa.edu."

[2022-01-07 21:35] briand44 opened #4638 "Migrate Grad Admissions AOS and related content"
see also moves from content type to taxonomy. links within need to redirect

We'll want to remove any testing content prior to running migration(s).

- [x] Manually migrate Estimated Costs
  - [x] Set up redirects from the old cost estimate paths to the new
- [x] Programmatically migrate colleges taxonomy
- [x] Programmatically migrate Degree types taxonomy
- [x] Programmatically migrate Areas of

[2022-01-07 21:58] richardbporter commented on #4591
sitenow_maps pin seems unaffected by this change. The building pane builds its options list from https://maps.uiowa.edu/api/v1/buildings.xml and kinda breaks. I thought we could maybe copy/paste that to data.its but the lat/lon points for individual buildings are not included in that - those are retrieved from https://maps.uiowa.edu/api/v1/sh/detail.xml and similar.

[2022-01-08 01:54] mjoneill commented on #4616
Lest I forget by Monday...  I think if Facilities doesn't see a problem and indicates these are old buildings that have churned out of our ecosystem, etc...  then I'm fine with just removing them from what we share with campus.

As far as comms plan, I was thinking that we should share the final list of URLs with the following communities (on the following channels):
* Mail to web community listse

[2022-01-10 14:48] #4631 closed, assigned to bspeare

[2022-01-10 14:48] #4634 closed, assigned to nobody

[2022-01-10 14:58] makurj commented on #4329
I would love to pair/work on this.

[2022-01-10 16:05] richardbporter commented on #4591
I was able to get sitenow_maps individual_building pane working by using an existing data.its endpoint. I've pushed up this change to the feature branch on uiowa703.

[2022-01-10 16:23] makurj commented on #4328
Thanks @dnkemper for all her continued and patient help on this!

[2022-01-10 17:03] briand44 commented on #3200
Sounds like there still needs more conversations and grooming related to the second slice.

[2022-01-10 17:05] briand44 commented on #3200
I am not opposed to allowing drop downs in the secondary horizontal navigation. I have concerns with bad usability opening this up to all but maybe there are ways we can try and help prevent those?

[2022-01-10 17:11] richardbporter commented on #4591
I searched the other docroots again and didn't find any other code references. I did search feeds config for maps references and found its and vending have two feed endpoints pointing at maps.uiowa.edu. Not sure if they're in use still but if so, they'd need updating.

[2022-01-10 17:11] #4628 closed, assigned to dnkemper

[2022-01-10 17:19] briand44 commented on #4591
Comment from Joe on related issue. Not sure if this was in regards to the map feed

[2022-01-10 17:25] dnkemper commented on #4616
Updated doc is here: https://iowa.sharepoint.com/:x:/s/CSI-Drupal2/EZDzSSVbf1FItyElXbgqpqEBDBsk5-YfUNPyQ_3BbTUhbA?e=6gnJb9

Removed the broken links and put them in a new tab

[2022-01-10 17:36] richardbporter commented on #4591
Thanks. Vending seems to be in use still. I can look into it.

[2022-01-10 17:56] briand44 commented on #4443
Closing as this work will happen as part of https://github.com/uiowa/uiowa/issues/3868

[2022-01-10 17:56] #4443 closed, assigned to nobody

[2022-01-10 20:36] richardbporter commented on #4591
I think I have the vending feed working with the data its endpoint. Included in the 703 feature branch.

[2022-01-10 20:51] richardbporter commented on #4591
I think I've replaced everything I can find. The change to uiowa_maui requires DNS be updated for maps.uiowa.edu to point at Concept3D. Also, the feed endpoint for vending needs to be updated when the code is deployed. Marking as blocked.

I think @joewhitsitt thought about removing MapBox entirely as part of this. We could probably remove it from some sites but not facilities, however. Facilities

[2022-01-10 20:57] richardbporter commented on #4591
I've copied the sitenow_maps and uiowa_maui changes to uiowa701/2 on a feature branch of the same name.

[2022-01-10 21:55] #4611 closed, assigned to nobody

[2022-01-10 21:56] joewhitsitt commented on #3811
It was re-scheduled for today.

Current issue is that pardot is expecting a client side post instead of the current server side remote post. _If_ we were to get the visitor_id from GTM into the submission data, it wasn't clear from Pardot support what the key name would be and if it would be accepted.

The redundant data (webform submission) is still required because of a bad data experience and t

[2022-01-10 22:00] richardbporter commented on #4242
References to `uri_scheme`: https://github.com/uiowa/uiowa/search?q=uri_scheme

References to `public://`:
[code]

[2022-01-11 14:18] richardbporter commented on #4242
Won't CS2 make this much easier to split? This doesn't seem as broad as I initially thought since all of our file fields are on media entities, currently.

[2022-01-11 14:25] joewhitsitt commented on #4242
That is what I thought. I feel like a lot of these won't even apply. What seems to be missing is the field_image, etc. How is that controlled?

[2022-01-11 14:28] richardbporter commented on #4242
field_image is an entity reference to a media type so I don't think that controls anything regarding file storage.

[2022-01-11 14:32] joewhitsitt commented on #4242
Yeah, so then where is media type image in this list then? This search should be expanded to include `uri_scheme: public` - config/default/field.storage.media.field_media_image.yml

[2022-01-11 14:34] richardbporter commented on #725
I'm curious how this relates to Concept3D.

I mentioned in https://github.com/uiowa/uiowa/issues/4591#issuecomment-1009331801 that we don't have a way to build dynamic embeds without access to an API. That means a block that lets users pick a building from a select list isn't really possible, unless we just maintain a hard-coded list.

A different approach, or maybe a smaller initial slice, might

[2022-01-11 14:37] richardbporter commented on #4242
Oh, that is in the GitHub search link I posted: https://github.com/uiowa/uiowa/search?q=uri_scheme. I used that because it works if the search query does not include special characters. I then manually searched for `public://` and copy/pasted that.

Maybe there are other things we should be searching for?

[2022-01-11 14:38] joewhitsitt commented on #725
I think this is unrelated to maps.uiowa.edu and concept3d. Initially, this was my replacement for snp_map were folks could populate a bunch of points and place on a map. I get crazy with this with different base layers, non-point data, but that is where it is rooted. Not to display concept3d buildings (maybe match the base styles for roads etc. outside of the campus)

[2022-01-11 14:38] joewhitsitt commented on #4242
sorry. missed that. thanks

[2022-01-11 15:52] richardbporter commented on #725
Ah, my mistake. I was thinking sitenow_maps. Not super familiar with snp_map.

[2022-01-11 16:23] quamsta commented on #4435
@mark-bennett-uiowa We're actually having the opposite problem here, where people are clicking on the "Subscribe to" link on a taxonomy term for subscribing to scholarships, for example:

https://sds.studentlife.uiowa.edu/tags/ui-scholarships-students-disabilities

<img width="568" alt="Screen Shot 2022-01-11 at 10 22 23 AM" src="https://user-images.githubusercontent.com/472923/148981143-5370fdcc-

[2022-01-11 16:26] quamsta commented on #4435
Also, we could just remove the link on the taxonomy term but leave it in the articles view, since it might be more useful in articles than in something specific like a taxonomy term.

[2022-01-11 16:30] quamsta commented on #4435
Here are what all major browsers do when you click a feed link without any browser extensions or third party tools (1/11/22):

Chrome:
<img width="942" alt="Screen Shot 2022-01-11 at 10 28 15 AM" src="https://user-images.githubusercontent.com/472923/148982463-eed98e1f-5818-4845-9af1-d99d4fd259da.png">

Safari:
<img width="1120" alt="Screen Shot 2022-01-11 at 10 27 50 AM" src="https://user-images.g

[2022-01-11 16:58] joewhitsitt commented on #4435
RSS is making a comeback: https://blog.chromium.org/2021/05/an-experiment-in-helping-users-and-web.html

[2022-01-11 17:06] richardbporter commented on #3498
I'm going to enabled Platform Email for signage and HC signage, with no code changes. There are no webforms and the site mail variables are uiowa.edu addresses.

[2022-01-11 17:15] joewhitsitt commented on #4435
Can we just rename it to "Subscribe using RSS" or something to make it less like a mailing list link?

Another thing to consider is altering the link to do a "you are being directed to an RSS path that may or may not be supported or handled properly by your browser. read more about RSS feeds here (link). get me out of here (link)" type thing

[2022-01-11 18:30] joewhitsitt commented on #4241
@briand44 should we create an epic for this and the other related issues? I have a list of future considerations to add and none of the `intranet` tagged issues are the correct bucket.

[2022-01-11 18:31] bspeare commented on #3200
Here's another possible alternative, a faux-breadcrumbs menu that only shows a dropdown if the active page has child pages.  This method would cut down on the number of dropdown flyouts while still showing the depth available within a section.

https://user-images.githubusercontent.com/1036433/149000621-25cbd483-cec2-451e-a8f7-c9fc6a52e93e.mov

[2022-01-11 18:31] joewhitsitt commented on #4338
Moving to Parking lot as my support pick issue

[2022-01-11 18:38] joewhitsitt commented on #4113
Directory profiles doesn't strip the space from the input but handles it on the back side okay.
<img width="415" alt="Screen Shot 2022-01-11 at 12 38 10 PM" src="https://user-images.githubusercontent.com/4663676/149001895-888ee2a3-0866-4dec-9663-89494a8d09eb.png">

[2022-01-11 18:42] joewhitsitt commented on #4567
Moved to done but wasn't closed.

[2022-01-11 18:42] #4567 closed, assigned to mjoneill

[2022-01-11 18:54] joewhitsitt opened #4640 "Intranet - Additional considerations"
Not sure if this will become an epic, but we wanted to capture some other aspects of running an Intranet split. Jotting those down here:

- ~~Update content types to not be included in the sitemap and/or look at disabling (but not uninstalling the sitemap functionality). Ultimately, Sitemap.xml should NOT disclose pages that are not accessible without authentication.~~
- ~Disable or redirect searc

[2022-01-11 18:56] quamsta commented on #3200
@bspeare that looks really slick

[2022-01-11 19:39] joewhitsitt commented on #4638
Report of broken links to give to Grad Admissions to provide corrections for

[2022-01-11 19:40] joewhitsitt commented on #4638
See also field is moving to AoS Taxonomy term so with a many-to-one situation, I don't think it should be automatically migrated and that they should add those manually once the AoS terms are added.

[2022-01-11 20:01] richardbporter commented on #4242
Give this a shot in #4626 in the uiowa_intranet split that was introduced there to see exactly what this would take.

[2022-01-11 20:11] richardbporter opened #4641 "Prevent new media revisions from being created"
Epic: https://github.com/uiowa/uiowa/issues/4338

## Issue

Media revisions create problems as it relates to garbage collection and our replace functionality.

## Proposed Solution

- Prevent new media revisions from being created on edit/save automatically or toggled by editors and see how that affects other entities.

## Notes

Administer media is the permission that allows an editor to override

[2022-01-11 20:24] richardbporter commented on #4241
There are a couple issues related to restrict_ip caching: https://www.drupal.org/project/restrict_ip/issues/3052094 and https://www.drupal.org/project/restrict_ip/issues/2941386. However, both steps to reproduce indicate some IP restriction which we aren't doing. I think if we were, we might run into those problems but I'm unable to access a restricted page in dev from an anonymous session.

All I

[2022-01-11 20:29] quamsta commented on #3200
Here were some of the example menus that @bewoldt posted on Zoom during grooming today:

https://www.muhlenberg.edu/aboutus/
https://www.trincoll.edu/admissions/

[2022-01-11 21:18] richardbporter commented on #4600
T-shaping on this issue a little bit.

[2022-01-11 21:55] richardbporter commented on #4600
I might be wrong here but this seems possible through the use of the schema_organization submodule and additional configuration. I'm able to produce this locally on the front page:
[code]

Is that the right direction? What other properties would need to be set?

If this works, I can create a site split and enable + configure the required modules for dentistry. Unless schema_organization is somethi

[2022-01-11 22:21] bspeare commented on #3200
Here's a quick screen capture using the muhlenberg approach:

https://user-images.githubusercontent.com/1036433/149030388-b51ec93d-2073-4a14-8e21-466889e8a3b0.mov

[2022-01-11 22:31] joewhitsitt commented on #4541
We swarmed the heck out of the re-upload image stuff

[2022-01-11 22:38] pyrello opened #4644 "WhitmanWeb - Improve design of language switcher"
# Story

As a WhitmanWeb visitor I want to easily change languages so that I can read in the language of my choice.

The current language switcher in D9 is just a list of links. The one on the old site was a drop-down, but it was placed in a weird spot that didn't make it clear that it was contextually relevant to the whole site.  Example: https://iwp.uiowa.edu/whitmanweb/en/writings/song-of-mysel

[2022-01-11 22:40] richardbporter commented on #4640
Don't think this possible without encountering cache issues.

[2022-01-11 22:43] joewhitsitt commented on #3200
Only one vote, but I like the muhlenberg method if we are going to continue to entertain additional dropdowns to show more levels. it seems a few of us are concerned about the additional duplicate expand on hover type experience (mouse traps, flyouts). I think the arrow on this is opposite of our accordion though which is throwing me off.

<img width="506" alt="Screen Shot 2022-01-11 at 4 41 59 PM

[2022-01-11 22:50] bspeare commented on #3200
Thanks @joewhitsitt you are right about the arrows.  I forgot to change them for that example.   This is the example they were meant for the closed by default version:

https://user-images.githubusercontent.com/1036433/149033674-bc9cfae6-6387-4242-9ea8-f03c71fd3086.mov

[2022-01-11 23:00] pyrello commented on #3868
I think we are going to need to have a way to group together the different parts of a piece of writing that does not depend on the menu system. My initial thought is that each piece of writing could be created as a taxonomy term in a vocabulary called Writing.

[2022-01-11 23:37] mjoneill commented on #4600
@richardbporter: very nicely done, however, there are some issues we'd need to sort through.  Normally I'd recommend using `@graph` to have multiples of the same type.  I'm not sure it's necessary for this approach as written, but it doesn't appear to cause a problem.

What is a bit of a problem is that this is saying that this dentist is also the dental college, and they have the same area served

[2022-01-11 23:54] mjoneill commented on #4600
OK.  Check it.

So one page might have both these schemas on it, and they reference yet a third on a completely different website (uiowa.edu):

[code]

[code]

Now, drop that chunk in the schema validator and https://validator.schema.org and see what comes out the other end (validation, not rich snippets).

If you look closely we could have even split this up further into separate schemas.

Discla

[2022-01-11 23:55] mjoneill commented on #4600
why are line breaks jacked? Hmmmm...

[2022-01-12 01:09] mark-bennett-uiowa commented on #4435
@quamsta and @joewhitsitt I think you are both making excellent points. More than anything I just wanted to see the link styled like the events or news link buttons, if we were going to keep this RSS feed link. If the team decides to lose the link, I would be fine with that (although I do have department sites that feed parent division sites and would need this RSS feed link). If the team prefers

[2022-01-12 13:50] mjoneill commented on #4600
[schema_payload_example.json.txt](https://github.com/uiowa/uiowa/files/7854980/schema_payload_example.json.txt)

Adding a text file of the example above because readability.

[2022-01-12 15:00] bspeare opened #4645 "Unlimited slider blocks create unusable slider that doesn't slide"
# Problem
It appears that the number of slider blocks you can add is unlimited and creates an unusable slider if there are more than 4 items.

# Steps to reproduce
https://careers.prod.drupal.uiowa.edu/jobs

https://user-images.githubusercontent.com/1036433/149164741-d8855116-c8aa-464f-a855-4a22d34b995d.mov

# Proposed solution
Limit amount of slides to 4

[2022-01-12 15:10] richardbporter commented on #4616
Maybe we should refer to those broken links using another word? Deprecated, retired or something? Just thinking we don't want to give the expectation that they can be fixed.

[2022-01-12 15:24] pyrello commented on #2396
I think we should close this issue in favor of the separate issues that have been opened as follow-up to the work that was originally done related to this.

[2022-01-12 15:32] joewhitsitt commented on #4541
This could use one more look through that buildings in categories besides all buildings have a photo. @e-marie-w was going to provide a list of buildings that didn't have a facilities photo in case the photo team needed to supply one. Additional content work is still being done by Alex?

[2022-01-12 15:33] joewhitsitt commented on #4616
It was suggested that a draft email be put together for the upcoming announcement

[2022-01-12 15:41] joewhitsitt commented on #4241
The initial requirements are done and reviewable but it is agreed that the PR should not be merged as-is for the following reasons:

- Customer feedback on if they really need site-wide/lb or if we can just provide the private page content type with private files field
- Probe into splitting private files config

[2022-01-12 15:45] joewhitsitt commented on #2396
I talked to Brian about this earlier. We need another round of grooming on this before we can close it. We should discuss the non-issue items in this epic, "Additional Feature Split Functionality down the road" and "Shooot... content.uiowa.edu replacement?" to see if those are things we want to carve off before closing this issue.

[2022-01-12 15:49] e-marie-w commented on #4541
#### Buildings with no image on facilities: ####
Part of a published category:
- Soccer Complex Facility
- Pediatric Associates Building 2
- UI Community Home Care
- Iowa River Landing Parking
- ~~Stanley Museum of Art (construction)~~ _got rendering image from stanleymuseum website_

Only found in All Buildings/unpublished categories:
- University Hygienic Lab - Ankeny
- 109 East Market Street
-

[2022-01-12 15:55] mjoneill commented on #4616
I like "retired"... may even be a better term someone is sitting on.  But essentially the messaging is something like, "these pages and corresponding URLs are retiring when we go live with the new maps site. Be proactive now and fix in advance if you know you link to some of these buildings... After going live, these will appear as broken links in your Siteimprove reporting..."  <--- idea, not man

[2022-01-12 16:01] joewhitsitt commented on #4541
going to do one more pass through

[2022-01-12 16:04] pyrello commented on #3034
I'm not sure that we actually need this open anymore or not, but I created an issue in the Pathauto module issue queue with a proposed solution: https://www.drupal.org/project/pathauto/issues/3258256

[2022-01-12 16:13] joewhitsitt commented on #4541
Added Stanley Museum of Art (construction) to Marie's list above for public, no photo

[2022-01-12 16:19] e-marie-w commented on #3957
Update Buildings Label information (needs to be done by Concept3d?)
- Macbridge Hall needs to be changed to Macbride Hall
- Any buildings we want to add a label for?
- - Law, Health Policy and Disability Center?

[2022-01-12 16:31] richardbporter commented on #4600
I don't see the ability to add multiple schemas of the same type using the module. It also seems to use `@graph` by default and I don't know if that can be changed. It seems to be perfectly valid, as you mention. I pushed this out to dev if you want to log in and edit the front page there: https://dentistry.dev.drupal.uiowa.edu. You should see schema organization settings under the "SEO Settings"

[2022-01-12 17:23] joewhitsitt opened #4647 "Stop the auto-scroll to top after removing a block"
# Story

As an editor, I don't want to have to scroll down the page every time I remove a block farther down the page as it auto-scrolls to the top each time.

# Proposed Solution

- [ ] Look into, track upstream issues that provide a better UX for this.

# Additional

https://www.drupal.org/project/drupal/issues/3152561

[2022-01-12 17:34] richardbporter commented on #4616
First draft, please edit.

https://iowa.sharepoint.com/:w:/r/sites/CSI-Drupal2/Shared%20Documents/General/Building%20Links%20Communication.docx?d=w3305331f17c34835b3f35b68ef5ad381&csf=1&web=1&e=cwwFqo

[2022-01-12 18:46] pyrello opened #4649 "WhitmanWeb - Handle RTL text direction for appropriate languages"
# Motivation

Currently all content is displayed left-to-right, even when displaying content in a language that should be displayed right-to-left.

# Proposed solution

TBD

[2022-01-12 19:19] richardbporter commented on #4600
Definitely possible to hard-code it if that is easier.

[2022-01-12 19:32] quamsta commented on #4435
@joewhitsitt Until Chrome or other browsers are handling RSS feed anchor tags in the body of the DOM in a decent way by default, I think it's important to just remove the link from the public view.

I think it's relevant to mention that each page in SiteNow that has its RSS feed linked to in a metatag within `<head>` that Chrome or any other browser or a developer can use to detect a feed for feat

[2022-01-12 19:35] bspeare commented on #4649
This is a useful resource https://rtlstyling.com/posts/rtl-styling.

[2022-01-12 19:49] joewhitsitt commented on #4616
Thanks for the first pass. Made a couple edits.

[2022-01-12 20:00] richardbporter commented on #4242
First problem I'm seeing is that all the default content has files set to use the public directory. Not sure if default content can be split or not. If not, it has to be deleted after site install. That is pretty quick with `drush entity:delete`.

[2022-01-12 20:23] joewhitsitt commented on #4242
do we need to go through the trouble of deleting it. anyone worried if that default content is public? if they replace file overwrite existing after the private file switch does it create the same file name in the private directory?

[2022-01-12 20:37] richardbporter commented on #4242
You would think so but I'm not seeing that behavior. Might be worth someone else testing. I pushed up some changes in #4626.

[2022-01-12 20:38] richardbporter commented on #4242
Another problem I noticed is that the private files path is not set appropriately for multisites in the local environment.

[2022-01-12 21:41] dnkemper commented on #4616
Updated doc with new terminology

https://iowa.sharepoint.com/:x:/s/CSI-Drupal2/EXZXa8Aao55LlCI3aafQccIB2Y33AX_woCwZTZ5m-S3T1A?e=h3Psr2

Annoying, but can't update in UI. Have to download and upload a new spreadsheet bc of query functionality used to manipulate things.

[2022-01-12 21:49] joewhitsitt commented on #4638
Initial notes:

- I assume the AoS content migration is partially blocked until there are estimated costs content to map and wire up.
- Colleges taxonomy on the grad.admissions d7 had a programs long text field. I assume that needs to migrate over as well. Could it just be appended to the description? If so, do we have a taxonomy source plugin to reference here?

[2022-01-12 21:53] richardbporter commented on #4242
Splitting the config in #4626 works but its awkward. We'll have to remember to split any default config and/or functionality in sitenow for uiowa_intranet going forward. I don't know if we can guarantee that always happens. If we only have to look for `field.storage.*` and check the settings, an automated test might be possible.

This seems like a good use case for a separate profile but we moved

[2022-01-12 22:28] mjoneill commented on #4600
I'd be interested in understanding this option a little better.  I think it might make sense for now.  Can it/could it work in tandem with the existing module?

[2022-01-12 22:30] mjoneill commented on #4600
Yep. It validates. I think it's valid, just a bit of an unexpected use.  I don't consider it a problem or something we should invest in changing.

I will take a look and let you know what I see.  Thanks!

[2022-01-13 14:29] cory-skeers commented on #4638
We don't have a specific taxonomy source plugin--most taxonomies we've done have had some extra caveat, like they were being renamed as well, or some taxonomy terms had been migrated manually but not others.

If it's a straight, pulling all taxonomy terms over and appending that extra field to the description, I think it could all be done with a YML migration definition file.

[2022-01-13 14:57] joewhitsitt commented on #4638
I think I want to pick your brain @cory-skeers if you have some capacity today. I see `concat` as an option but I don't know how to pair that with the callback I am already doing to fix the rich text.

[2022-01-13 15:05] cory-skeers commented on #4638
Absolutely! @pyrello could probably help out too. He was the main proponent to getting the URL Aliases into a YML-only migration. Maybe we can huddle on it later.

[2022-01-13 16:01] joewhitsitt commented on #4638
bugger. also tried `plugin: merge` from migrate plus. probably doing it wrong. switching to testing other PRs for the moment

[2022-01-13 16:05] bspeare opened #4653 "Adjust breakpoint for two column layout"
# Problem
The two column layout mobile breakpoint becomes a little unreadable on smaller devices.

# Steps to reproduce
<img width="640" alt="Screen Shot 2022-01-13 at 9 35 24 AM" src="https://user-images.githubusercontent.com/1036433/149365403-47d47b82-a058-44ab-b453-cd3cd7302fc9.png">

# Proposed solution
Adjust the breakpoint for 67/33 and 75/25 away from `sm` breakpoint to perhaps a different

[2022-01-13 16:27] e-marie-w opened #4654 "Deprovision distance.prod.drupal.uiowa.edu on uiowa703"
Useful to do this in combination with #4314.

Update: Actually this looks like a d7 so no need to wait.

[2022-01-13 16:30] e-marie-w opened #4655 "Deprovision iowacreates.research.uiowa.edu on uiowa703"
Useful to do this in combination with #4314.

Update: Actually this looks like a d7 site so no need to wait.

[2022-01-13 16:46] #2406 closed, assigned to GaryRidgway

[2022-01-13 17:55] briand44 commented on #4314
Distance and iowacreates are D7 sites so they are not relevant to this issue, correct?

[2022-01-13 18:39] richardbporter commented on #4314
Correct, my mistake.

[2022-01-13 20:38] quamsta commented on #4653
Interested in pairing/working with you on this @bspeare !

[2022-01-13 21:38] briand44 opened #4656 "Investigate DNS Coordination with Concept3D"

[2022-01-13 21:38] briand44 commented on #4656
Investigate to see what this process will look like and what needs to happen.

[2022-01-13 22:31] joewhitsitt commented on #4638
Update: figured out how to append the long text programs field to the term description just using yaml:

[code]

Update to update: Never mind...

<img width="734" alt="Screen Shot 2022-01-13 at 4 32 32 PM" src="https://user-images.githubusercontent.com/4663676/149419539-314f72eb-d5c9-4e4c-8b05-7f66ccebaf1e.png">

[2022-01-13 22:37] briand44 commented on #4638
Let's just commit to the estimated costs manual migration this sprint.

[2022-01-13 22:48] cory-skeers commented on #4638
If you go to edit the migrated term and re-save, does the issue persist? If so, might have to explicitly set the `description/value` (or `description/0/value`?) to `filtered_html`.

Something like this, I think:

[code]

[2022-01-13 22:50] pyrello commented on #4329
Results of the investigation: We think that the person content type can be used. Here is how we'll handle each field that isn't explicitly accounted for:
Role - After looking at the old site and what the role field is being used for, we have decided to use person types for it instead of tags or creating a dedicated vocabulary and term reference field. The roles are used to build multiple views tha

[2022-01-13 23:07] joewhitsitt commented on #4638
Thanks @cory-skeers! It was a re-save format issue. Those didn't work for me (maybe a weird term description issue). The secret sauce turned out to be:

[code]

[2022-01-13 23:09] joewhitsitt commented on #4638
Based on https://github.com/uiowa/uiowa/issues/4638#issuecomment-1012581247, going to un-assign for now and re-focus in the AM

[2022-01-13 23:30] pyrello opened #4657 "UI Press - Implement layout and design for book content type"
# Motivation

After #4636 is merged and #4522 has been approved by the client, then we'll need to do some work to actually implement the design.

# Proposed solution

- [x] Enable Layout Builder on the content type (but not per item).
- [x] Build a layout to match the mockups (and existing best practices, ~such as a content moderation section at the top~).
  - I think they want a five column grid

[2022-01-13 23:30] pyrello commented on #4657
Blocked by #4522

[2022-01-13 23:36] pyrello opened #4658 "UI Press - Build embedded views for person pages"
# Motivation

Author pages on uipress.uiowa.edu contain multiple views that show the person's contributions to books on the site in various roles. Example: https://www.uipress.uiowa.edu/people/john-t-price

# Proposed solution

Create the views and figure out how to embed them into the person page. Possibly this can be done by just creating a block display and then adding it to the person content

[2022-01-13 23:38] pyrello opened #4659 "UI Press - Finish styling and configuring the series vocabulary term pages"
# Proposed solution
- [ ] Display books on the Series term page as a cover image, title, and author.
- [ ] Display books in a grid.

[2022-01-13 23:38] pyrello opened #4660 "UI Press - build Author listing page"
https://www.uipress.uiowa.edu/search/browse-by-author/index.html

Probably want to page.

Search/Filters could be useful.

[2022-01-13 23:39] pyrello opened #4661 "UI Press - Homepage featured books view"
Current site has a featured books block on the homepage:

![Screen Shot 2022-01-18 at 3 24 26 PM](https://user-images.githubusercontent.com/709009/150021100-3032b8b5-c668-452e-a641-d82f1c2fb21e.png)

The selection of books is currently selected randomly. Checking with Allison about how they want to populate this going forward.

# Proposed solution
Build a view to display a list of books as images

[2022-01-13 23:39] pyrello opened #4662 "UI Press - Build migration for UI Press Book content type"
1108 items to migrate on the original site.

# Proposed solution
- [x] Write migration from UI Press Book content to Book content.
- [x] Account for change in how book types are handled. On the old site, there are discrete fields for all book type fields. On the new site, there is a paragraph bundle with generic fields.
- [x] Additionally account for the fact that ebook ownership license is also h

[2022-01-13 23:40] pyrello opened #4663 "UI Press - Build migration for Author content type"
- 1249 items
- will be migrated into the Person content type

[2022-01-13 23:41] pyrello opened #4664 "UI Press - Migrate series descriptions content into Series vocabulary"

[2022-01-14 14:31] mjoneill commented on #4616
Seems like a solid start. I'd like @ABoston88 to take a gander at it as well.  Also (all), what do you think about Jan 31 as proposed launch date?

[2022-01-14 14:46] mjoneill commented on #4616
Audiences:

- Web community in meeting
- Sitenow user’s lists
- Campus Communicators (listserv)
- Web community (listserv)
- Sprint Demo visitors (listserv)
- App dev group?  Do we need to discover/reach out to Maui folks or Hawktools folks to prep them for this?  Email to app dev group before the change?

[2022-01-14 15:18] ABoston88 commented on #4616
Made some minor tweaks to wording, added a link to text search. I'm cool with the launch date.

[2022-01-14 16:56] makurj opened #4665 "Healthcare signage: Add Hawk IDs to Helpdesk role"
Please assign the following Hawk IDs to the HD role on https://signage.uihealthcare.org/ and add them signage.uiowa.edu. You will need to be on campus for the HC part.

- [x] On HC signage, add them as HD role and add ITS group to their accounts.
- [x] On signage, add them as HD role and add ITS HelpDesk group to their accounts.

![image](https://user-images.githubusercontent.com/52135878/14955428

[2022-01-14 16:59] richardbporter commented on #3498
Got a report of an email being marked as spam. Pumping the brakes on this until I can get a look at that.

[2022-01-14 17:02] richardbporter commented on #4665
Drush could work for this without being on campus.

[2022-01-14 17:11] makurj commented on #4665
Could you list the steps here?

[2022-01-14 17:13] joewhitsitt commented on #4242
Can you explain this a bit more @richardbporter? I am not sure I understand. Do you mean how it is all dumped in `/var/www/html/files-private` and not by site?

This is actually bothering me a bit because of the replace functionality. Theoretically, someone could replace these images and these will stay public if they overwrite existing. Rick mentions deleting them, but that will break references

[2022-01-14 17:28] joewhitsitt commented on #4638
Do I have these steps right @pyrello and @dnkemper for the Estimated Costs migration?

- Filter current grad.admissions website to show only Estimated Costs
- For each estimated cost:
  - Create a disabled link under Cost and Funding
  - Add an estimated cost (https://admissionsgrad.prod.drupal.uiowa.edu/node/add/costs_estimate) and click US Citizens & Permanent Residents", paste in the domestic t

[2022-01-14 17:29] pyrello commented on #4242
Not totally clear how this would work. Would we be checking that all `field.storage.*` instances in the intranet split have the right scheme? If so, wouldn't that require us to run a separate site instance with that split turned on?

One idea about default content is that we could move it into a module (instead of the profile). Then we could create an alternate version of the default content that

[2022-01-14 17:32] richardbporter commented on #3420
Engineering reached out asking if they could sort these pages. Workaround was to use person list block but now they'd like to hide the tag pages. +1 to this.

[2022-01-14 17:39] richardbporter commented on #4242
Yes.

I was thinking we could add a filesystem test to parse all `field.storage.*` config files in `config/default` directory and if they have `settings.uri_scheme` then we assert a patch exists in the uiowa_intranet split of the same field name overriding that setting.

These filesystem tests aren't great but they have saved us a couple times in the past: https://github.com/uiowa/uiowa/blob/main/

[2022-01-14 17:48] #4328 closed, assigned to makurj

[2022-01-14 17:48] #4329 closed, assigned to dnkemper

[2022-01-14 17:52] richardbporter commented on #4665
Nevermind. The checkbox to allow SAML auth for a user is not checked by default when adding users with `drush user-create`.

[2022-01-14 18:11] joewhitsitt commented on #4242
Interesting idea on the default content idea @pyrello. I think I recall there being some gotchas early on with default_content and our provision process but those might not an issue anymore. At the same time, the less default content we have to manage also appeals to me. I wonder if the default content still has the same value as it once did now that there are many sites out there that people can

[2022-01-14 19:15] joewhitsitt commented on #4241
Capturing my thoughts from today's Intranet tour:

- Didn't seem to see examples of creating authenticated "experiences" which needed layout builder functionality, but I did see an "full" authenticated site worth of content that had a menu system, different types of content and a friendly look-feel compared to a Sharepoint site in the right hands.
- Email communication still seems to reign supreme

[2022-01-14 19:47] bspeare commented on #4638
Do we need to add the "Year" field to the instructions?

[2022-01-14 19:55] joewhitsitt commented on #4638
updated to include the year ~~(prepended to the body right?)~~

[2022-01-14 19:58] bspeare commented on #4638
There's a separate year field if that's what you mean.

<img width="932" alt="Screen Shot 2022-01-14 at 1 57 18 PM" src="https://user-images.githubusercontent.com/1036433/149577211-1583fd4c-6c8a-4d62-bb5c-7a398386308c.png">

[2022-01-14 20:02] quamsta commented on #4241
Hey all,

As I mentioned yesterday, we can also provide a tour of our Intranet solution. Things have been a bit hectic, but we're willing to show this off in the near future. Can we schedule something?

I can provide some screenshots and context too if that helps:

- [Screenshot of the Intranet homepage](https://user-images.githubusercontent.com/472923/149577379-df62f6c4-905c-465b-b7c0-5258901fbf5

[2022-01-14 20:16] bspeare commented on #3200
I ran the muhlenberg approach by Tippie and they requested that we remove the toggle button option to open/close the section but add dropdowns to the items within the section.   The video below shows the menus opening by hover, but we could make them open based on click instead to avoid mouse traps.   What do you think @joewhitsitt?

https://user-images.githubusercontent.com/1036433/149578971-9f0f

[2022-01-14 21:37] joewhitsitt commented on #3200
Added a sub-bullet to the first slice, "What tells the per page menu block to use menu block settings instead of the global options?"

With featured image, it has a "use system default" as an option. I am still thinking in some form, we are extending menu_block's block plugin to have this do everything we need it to do by either overridding the option list or creating a checkbox like "disregard se

[2022-01-14 22:32] bspeare opened #4669 "Image gallery block not functioning as expected"
# Problem
If the global caption is set, the image gallery block is excluding images from displaying within the lightbox gallery.

Sondra also reporting that the image gallery on https://brand.uiowa.edu/environmental-branding is not advancing past the 3rd image.

# Steps to reproduce
Trying clicking on the first image on https://sandbox.prod.drupal.uiowa.edu/single-image-gallery.

# Proposed soluti

[2022-01-15 20:51] mjoneill commented on #4600
OK.  I have two schemas.  They both _could_ live on the front page of dentistry.uiowa.edu, but I'd like to avoid loading all the clinical schema on every pageload for front page of the dentistry site.

Is it possible to load the CollegeorUniversity schema at https://dentistry.uiowa.edu and the Dentist schema at https://dentistry.uiowa.edu/patient-care/?

- CollegeorUniversity: https://iowa-my.shar

[2022-01-17 19:26] pyrello commented on #3200
I think the idea of a checkbox is good, but I would have it be unchecked by default and have a label like "Customize menu settings in block" or something similar. This means that the user has to take a specific action to change a particular blocks settings away from what the default is. Additionally, unchecking the block would effectively serve to "clear" the settings out.

[2022-01-17 19:30] pyrello commented on #3200
I definitely liked the version where it shows/hides the whole thing at once better than this. It's just so much more action required by the user to figure out how to get where they are going. If we have to go with something like this, then definitely it should be click-based instead of hover-based to avoid page content jumping around unexpectedly on non-touch devices.

[2022-01-17 19:33] pyrello commented on #4638
@joewhitsitt Steps looks correct to me.

[2022-01-17 19:52] pyrello opened #4671 "SPPA - Add adjunct faculty person type."
# Proposed solution
- [ ] Add a "Adjunct Faculty" person type to the SPPA site locally.
- [ ] Add person type to site split and re-export config.

[2022-01-18 14:40] cory-skeers commented on #4638
The Estimated Costs have been migrated over, separated into their respective domestic/international components and placed in the menu structure following the instructions above and the previously moved example.

The mapping has also been updated in the issue summary, along with comment lines indicating which degrees they relate to for possible troubleshooting.

[2022-01-18 14:48] dnkemper commented on #4638
Not all heroes wear capes 🏆

[2022-01-18 15:18] quamsta commented on #4669
Noticed this on our [MLK Poster Archive page](https://mlk.uiowa.edu/poster-archive) as well the other day

[2022-01-18 15:18] richardbporter opened #4672 "Add additional domains to default Google CSE"
"When I try to find details of an event, a person, a policy, or even a clinic at the hospital, the search results are usually years old, often irrelevant, and not helpful."

Should we have click paths from uiowa.edu search that can take you to UIHC, Advancement, events (for searching)?

Domains to add:
- writinguniversity.org
- foriowa.org
- uihc.org

[2022-01-18 15:29] quamsta commented on #4653
@bspeare A couple options I've been brewing up for this. Let me know if either of these work or if you have some additional ideas:

## Option A:

Shift the `grid-base` mixin in `themes/custom/uids/assets/scss/_grid.scss` to use the `md` breakpoint instead of `sm`:

[code]

## Option B:

Adjust `.layout--twocol . layout_spacing_container` in `themes/custom/uids_base/scss/layouts/twocol.scss` to use

[2022-01-18 16:26] bspeare commented on #4653
I'd vote for using option B to change the breakpoints to `md` only when we need it.   I think the `sm` will still work well with other grids, the 67/33 and 75/25 are probably the only ones that need adjusting.

[2022-01-18 16:48] joewhitsitt commented on #3498
@richardbporter briefed me a bit on this issue. I am going to poke around but I suspect that this is working as designed.

User enters their email and submit a form. Based on other form selections, an email is sent TO a particular department (e.g. housing), FROM its-web. The reply-to on this form is set to default, not the User's email so the department receives the email and auto-responds.

We ar

[2022-01-18 16:53] richardbporter commented on #4672
@mjoneill Updated with the domains I think need to be added. Any others?

[2022-01-18 16:55] mjoneill commented on #4672
No, let's start here.

Thanks for pulling this forward.

[2022-01-18 16:55] richardbporter commented on #3498
Default address as in the site email? That is a uiowa.edu email address so our code should not be rewriting it as its-web. The code should only rewrite from addresses not equal to uiowa.edu - ex. foo.com, admissions.uiowa.edu, etc.

[2022-01-18 17:00] joewhitsitt commented on #4600
Talked to Rick about this, @mjoneill can we push back on the specific path for the Dentist schema and place it on all pages but the front?

[2022-01-18 17:04] mjoneill commented on #4600
No. I'll do some reading on it, but that's an important piece to this.  UniversityorCollege schema should be on just the front page. In the case of schema.org/Dentist, just the front page of the clinical section (if possible).

When it's on the front page, it's saying, "This website is about this thing defined in the schema."  When it's on an interior page, it's saying, "This page is about this th

[2022-01-18 17:09] joewhitsitt commented on #3498
Correction: not admissions@uiowa.edu, the from is set to the user's email which is going to cause these non-uiowa.edu issues:
<img width="598" alt="Screen Shot 2022-01-18 at 11 08 16 AM" src="https://user-images.githubusercontent.com/4663676/149984797-bb8a3436-1deb-40b5-a882-cc777a54c132.png">

[2022-01-18 17:15] richardbporter commented on #3498
Hm. Thanks for checking.

In my initial testing, this was working with the default reply-to setting for webforms. Either that isn't working in all cases, ex. this form, or auto responses use the from address and not the reply-to address.

[2022-01-18 17:21] joewhitsitt commented on #3498
i am going to see if i can test this

Update: Outlook Automatic Replies seem to go to the `From`. Not the `reply-to`. its-web got an email that was supposed to reply-to a gmail address.

[2022-01-18 17:44] quamsta commented on #4653
Okay post-huddle and discussion with @bspeare and @bewoldt we have these thoughts:

- Possibly use modified Option A, where we adjust the layouts/grids so that we see a single column until we the `menu` breakpoint (855px) instead of `md`
- Once container queries are implemented on some of the card styles and other block styles, using a 50/50 grid on the two and four column layout should be safe on

[2022-01-18 17:48] joewhitsitt commented on #4241
Thank you for sharing at Drupal Dev community. One thing that not mentioned in this issue that I wanted to capture from your demonstration is that you had a destination parameter setup for after login so that if someone came to an interior page from an email or something, once they login, they will be redirected.

I am not seeing anything in the restrict_ip functionality or issue queue that curren

[2022-01-18 17:49] joewhitsitt commented on #4242
Rick mentioned at standup that the default content portion doesn't seem like a blocker but that writing the test would be nice.

[2022-01-18 17:52] briand44 commented on #4241
I wonder if an additional module could handle this and not conflict with restrict_ip? I think Login Destination or Login Toboggin maybe did this type of thing in D7

[2022-01-18 17:53] joewhitsitt commented on #4669
Maybe a solution will be easy for this once we dig into it, however, I wouldn't mind investigating colorbox alternatives now that we have two bugs now with this setup and it is one of our long term jQuery weak points. https://github.com/uiowa/uiowa/issues/3695

[2022-01-18 18:01] bspeare commented on #3200
@joewhitsitt @GaryRidgway Do your thumbs up on @pyrello's comment indicate you prefer to try to go back to https://github.com/uiowa/uiowa/issues/3200#issuecomment-1010437430 or that if we do pursue https://github.com/uiowa/uiowa/issues/3200#issuecomment-1013445525 that the menu expansion should be click based?

[2022-01-18 18:07] joewhitsitt commented on #3200
Sean articulated most of my opinions on this.

Then I will understand and not make a fuss.

[2022-01-18 18:20] GaryRidgway commented on #3200
Yes, I like [this one the most](https://github.com/uiowa/uiowa/issues/3200#issuecomment-1010437430). I think it is a bit more user friendly.

[2022-01-18 18:44] mjoneill opened #4675 "Add a campus bus stops layer to concept3d/maps."
I'd like to add an interaction layer to our campus maps that identifies bus stops.

See: https://maps.wpi.edu/?id=609#!ct/

Will want to discuss with our transportation colleagues + our facilities colleagures

[2022-01-18 18:45] mjoneill commented on #4675
Ideally this information is not manually curated, but flows in through a data feed.

Also, this is future work. not blocking launch.

[2022-01-18 18:51] mjoneill opened #4676 "Add a Public Safety layer to maps site"
Add a public safety layer to campus maps that highlights locations of:
* Public Safety/Police
* Safety shelters/storm shelters
* Safety phones/blue phones
* AED devices

Work with Facilities to get this data in a good spot

Prior art:
- https://maps.wpi.edu/?id=609#!ce/7341?ct/

[2022-01-18 18:53] mjoneill commented on #4676
Had a brief discussion about this with Hayley B. She is super excited about it and knows that it's *future*...not something we can think about right now.

[2022-01-18 18:57] mjoneill opened #4677 "Add an accessibility/inclusive features layer to concept3d"
Add an accessibility and inclusive resources layer to concept 3d that identifies:
* Accessible entrances?
* Accessible restrooms
* Inclusive restrooms
* Accessible/ADA parking

Work with Facilities to get this data in a good spot

Prior art:
* https://maps.wpi.edu/?id=609#!ce/7351?ct/

[2022-01-18 18:58] mjoneill commented on #4677
Will want to undertake this in dialog with campus inclusive restroom committee, facilities partners, etc...  Ideally, driven by a data feed and not manually curated.

[2022-01-18 19:02] richardbporter commented on #4672
This is done.

[2022-01-18 19:02] #4672 closed, assigned to richardbporter

[2022-01-18 19:12] joewhitsitt commented on #4600
I will implement as you suggest.

[2022-01-18 19:32] #4654 closed, assigned to richardbporter

[2022-01-18 19:32] #4655 closed, assigned to richardbporter

[2022-01-18 20:15] richardbporter commented on #4656
Seems like this is kinda done in tandem #4578.

[2022-01-18 20:16] joewhitsitt commented on #3811
Just tried to install the 2.x version with more success than https://github.com/uiowa/uiowa/issues/3811#issuecomment-998245142 but reached a point that I wasn't ready to bite off quite yet:

`You must enable the Salesforce JWT Auth Provider, Salesforce Integration, Key, Typed Data modules to install Pardot.`

[2022-01-18 20:26] ABoston88 commented on #4541
Found images for two of the public buildings (Soccer Complex, IRL parking). The other two are eluding me. We don't seem to have anything and there's nothing publicly available elsewhere.

Many of these private ones will also likely not have images (Okoboji locations, in particular). We can keep looking into those but given that they're private, I wouldn't hold on launch for it.

[2022-01-18 20:30] pyrello commented on #4657
I'm going to unmark this as "blocked" because I think we have enough done in the design task to move forward on this.

[2022-01-18 20:44] joewhitsitt commented on #3200
https://github.com/uiowa/uiowa/blob/main/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L317 should be updated as part of the first-slice. Currently restricted to admins, and defaults are set.

[2022-01-18 20:47] #3273 closed, assigned to nobody

[2022-01-18 21:03] joewhitsitt commented on #4270
With the adoption of DDEV, our docs are really out of date for what we need them to do. @dnkemper is currently running into the headaches associated with this.

[2022-01-18 21:07] bspeare opened #4678 "Card block titles overflow below the container breakpoint"
# Story

As a SiteNow user, I can use cards with long titles in 3 and 4 column grids without the titles overflowing the cards.

As a follow-up to https://github.com/uiowa/uiowa/pull/4674, we identified the need to adjust the grid layout gutter below the container breakpoint to allow more space for the components on smaller devices and avoid orphan column breaks often seen with the three column gri

[2022-01-18 21:24] richardbporter commented on #2630
Proposed solution: option 2 without any release uploading.

[2022-01-18 21:41] joewhitsitt commented on #4242
Moved the default content bit to https://github.com/uiowa/uiowa/issues/4640

[2022-01-18 22:10] richardbporter opened #4679 "SSL for dos.uiowa.edu on uiowa01"

[2022-01-18 22:13] richardbporter commented on #4488
Ditto. I might create a cert soonish.

[2022-01-18 22:14] richardbporter commented on #4488
Update: if this was for *.tippie.uiowa.edu, then that is already covered on uiowa02.

If it was for another domain, sorry and feel free to reopen!

[2022-01-18 22:14] #4488 closed, assigned to nobody

[2022-01-18 22:29] cory-skeers commented on #4638
Redirects from the old cost estimate paths to the new (domestic) paths have been added, so I believe the estimated costs are officially done being migrated.

[2022-01-18 22:35] richardbporter commented on #3498
Ugh. @joewhitsitt and I talked about this and thought changing our hook_mail_alter to use a non-existent from address like sitenow-no-reply@uiowa.edu might be better. Otherwise, people are unaware that their auto responses are not being delivered and we don't have a way to match up the ones we get to a webform result.

[2022-01-18 22:38] joewhitsitt commented on #3498
Also because of this ^^, we might want to send out a email to our customers about this.

Spoofing from addresses are no longer. I can't believe we coasted this far. Folks need to realize this and adjust their workflows.

[2022-01-18 22:59] joewhitsitt commented on #4600
@mjoneill the current hardcoded setup is now on dev for review:

https://validator.schema.org/#url=https%3A%2F%2Fdentistry.dev.drupal.uiowa.edu
https://validator.schema.org/#url=https%3A%2F%2Fdentistry.dev.drupal.uiowa.edu%2Fpatient-care

[2022-01-18 23:09] mjoneill commented on #4600
Any chance of changing the URL line of the patient-care schema to read:
-   "url": "https://dentistry.uiowa.edu/patient-care",
instead of
-   "url": "https://dentistry.uiowa.edu",

If not, we'll pick it up on the next push when we get info from Viki.

^^^ I made the change in the source files on onedrive so we won't lose it in the future.

[2022-01-19 14:26] bspeare commented on #4522
Attaching the most recent mockup below.

![uipress uiowa ddev site_ecospatiality-place-based-approach-american-literature (3)](https://user-images.githubusercontent.com/1036433/150149892-3521af39-ba05-4bb6-abf3-735ed9e1640d.png)

[2022-01-19 14:26] richardbporter commented on #4578
Got word from them that this is complete. Tested by changing my hosts file. They should notify us of the cert expiration next January based on their docs.

[2022-01-19 14:26] #4578 closed, assigned to richardbporter

[2022-01-19 14:27] richardbporter commented on #4656
Got the ARECORD back from #4578 to point maps.uiowa.edu at. It is in the shared inbox.

[2022-01-19 14:36] pyrello commented on #4411
This is no longer blocked as the issue documented in https://github.com/uiowa/uiowa/issues/4562#issuecomment-993846550 was resolved in 9.3.1. 9.3.2 is now available.

[2022-01-19 14:37] briand44 commented on #3700
Somewhat related? #4317

[2022-01-19 14:51] pyrello commented on #4522
@bspeare Any thoughts about whether we need to get tabs working as a component prior to incorporating them here?

[2022-01-19 14:53] bspeare commented on #4522
@pyrello I think we would want to develop that in UIDS, but should we wait for Allison's approval?

[2022-01-19 14:59] joewhitsitt commented on #4270
Took a stab this morning at getting the onboarding docs moved and updated. Added deprecated warnings on the others.

https://wiki.uiowa.edu/display/drupaldev/Developer+Onboarding

[2022-01-19 15:01] pyrello commented on #4522
I'd like to figure out how to move forward without having to wait for approval. Maybe that means we strip out the tab section from this and complete it later?

[2022-01-19 15:03] bspeare commented on #4522
I think it's a good idea to strip out the tabs until we know.  We can just stack those sections on top of each other.

[2022-01-19 15:15] #4656 closed, assigned to richardbporter

[2022-01-19 16:19] joewhitsitt opened #4680 "Add .ical and .ics file types to file media type"
# Story

As an editor, I would like to provide a calendar event file for visitors to download and add to their calendars as a reminder of my upcoming event.

This should not be limited to the event content split but generally available to place within a WYSIWYG.

# Proposed Solution

- [x] Update the file media type configuration to allow .ical and .ics files

[2022-01-19 17:32] RishiKumarRay commented on #4680
Do we have to edit file extensions?

[2022-01-19 17:58] joewhitsitt commented on #3498
https://www.slipstick.com/outlook/rules/server-reply-rule-not-using-reply-address/

Ugh. The "best" solution is a catch-22...

[2022-01-19 17:58] briand44 opened #4682 "Grad Admissions Area of Study updates"
- [x] Remove subtitle field. No need to migrate this data from the old site. Admissions will manually update.
- [x] Don't use uppercase for AoS titles since it conflicts with Degree types
- [x] Reorder AoS sidebar - 1) Apply 2) Related Links 3) Contact
- [x] Apply box - allow optional button for action link - don't need to address in migration they will manually edit

[2022-01-19 18:24] mjoneill commented on #4600
I saw this round tripping to blocked/waiting and back.  Let me know if we need to discuss something.

[2022-01-19 18:36] joewhitsitt commented on #4600
@mjoneill, your last comment made it sound like you were good with it as a first step. i made the URL change (not deployed to DEV) and have asked the developers for a technical review/approval.

[2022-01-19 18:38] mjoneill commented on #4600
Yes. I absolutely am. I just wanted to make sure I wasn't blocking something (missed standup this AM).

[2022-01-19 19:34] briand44 opened #4685 "Review/Test International Programs News Migration"
It's been awhile since we've done this work. Let's make sure all is still working before we schedule a date to run it in prod.

https://github.com/uiowa/uiowa/issues/3375

# Proposed Solution

Follow test steps on the PR https://github.com/uiowa/uiowa/pull/3716

[2022-01-19 19:42] #4600 closed, assigned to joewhitsitt, mjoneill

[2022-01-19 20:37] bewoldt opened #4686 "People manual sort - form elements do not have associated labels"
# Problem
Within SiteNow People, if you choose Manual Sort there a bunch of empty input fields still in the source. This is causing accessibility errors to show up in siteimprove.

[2022-01-19 22:11] joewhitsitt commented on #3957
Macbride Hall uilding label has been updated:
<img width="353" alt="Screen Shot 2022-01-19 at 4 10 18 PM" src="https://user-images.githubusercontent.com/4663676/150222303-03fdcd17-e7e1-4e08-9e76-289818eadb07.png">

[2022-01-19 22:58] joewhitsitt commented on #3498
- no-reply email address has been added for v2/v3
- no-reply email address has been added to `platform-email` branch on 702. appears to only target sitenow profile and not standard service.
- communication is being finalized in Slack: https://iowaweb.slack.com/archives/C0164FNN1PV/p1642621658242500

Additional setup/deployment is needed for:
701-3, icgov, grad, clas

[2022-01-20 00:12] pyrello commented on #4644
Currently, there is a language code that matches some code that we have running that converts Font Awesome icons into an SVG. This is resulting in Persian, Farsi looking like:
![Screen Shot 2022-01-19 at 6 11 51 PM](https://user-images.githubusercontent.com/709009/150238804-36fc994a-9f1a-45db-a4c4-e37fad654392.png)

I did a little checking, but I could not figure out where that code is. Any idea a

[2022-01-20 14:20] briand44 commented on #4566
This is no longer blocked as the tours tab has been made public.

[2022-01-20 14:32] bspeare commented on #4653
Closed via https://github.com/uiowa/uiowa/issues/4653.

[2022-01-20 14:32] #4653 closed, assigned to quamsta, bspeare

[2022-01-20 14:34] joewhitsitt commented on #4644
This is controlled by the docroot/modules/contrib/fontawesome module. I think all we did was change it to look for `<span>` tags instead of `<i>` tags and allow spans with the fa class to pass through the wysiwyg filter.

[2022-01-20 14:52] bspeare opened #4689 "As an admissions site owner, I can customize the display of my student profiles block"
# Story

As an admissions site owner, I can customize the display of my student profiles block for use outside of the student profile pages.

The current grid display option is not very useful when the block is used on other pages with one or two profiles.

Profile page grid: https://admissions.uiowa.edu/student-profiles/ashley-cimarolli

<img width="471" alt="Screen Shot 2022-01-20 at 8 40 22 AM"

[2022-01-20 14:58] briand44 commented on #4566
Feedback from Jess:

[2022-01-20 15:26] bspeare commented on #4480
Related issue: https://github.com/uiowa/uiowa/issues/4405

[2022-01-20 15:32] pyrello commented on #4644
Is this done via configuration? Or do we have custom code?

[2022-01-20 15:38] joewhitsitt commented on #4644
module config is here: /admin/config/content/fontawesome

i think the switch to span was an accessibility thing. `<i>` is traditionally a format tag and not empty tag type thing

[2022-01-20 15:43] joewhitsitt commented on #3200
I mentioned this a bit to @GaryRidgway yesterday. I don't think we can sneak by without extending the menu block plugin as we are trying to introduce a new field that is saved. Additionally, by extending I think that means it will be a separate block (diff id) that we will be targeting both in code and in allowed lb blocks. This means we will have to do a block swap update hook similar to ListBloc

[2022-01-20 16:45] bewoldt opened #4691 "Cannot add additional items to Timeline on Stanley"
# Problem
Stanley Museum has a timeline on one of their pages. https://stanleymuseum.prod.drupal.uiowa.edu/about/history. Any additional items added won't save or update.

# Steps to reproduce
Try adding an item to the timeline block on this page. https://stanleymuseum.prod.drupal.uiowa.edu/about/history.

[2022-01-20 16:50] #4242 closed, assigned to nobody

[2022-01-20 16:50] #4241 closed, assigned to cory-skeers

[2022-01-20 16:51] joewhitsitt commented on #3498
Communication finalized and scheduled for 11:30

[2022-01-20 17:11] pyrello commented on #4644
Huh... so this appears to be an incompatibility between the `fontawesome` module and whichever core module provides the language switcher. Honestly not even sure how it is being triggered, since it is being applied to an `<li>` element.

[2022-01-20 17:15] pyrello commented on #3200
Chatted a little bit with @joewhitsitt about this. I’m about 90% certain that if we have access to the submit handler, that we can store data in block config that just gets saved as part of a serialized object. This data can be completely arbitrary in nature. I originally suggested the form alter approach because extending the menu block has potential implications for being able to implement contr

[2022-01-20 17:30] briand44 commented on #4566
Feedback from Sondra:

<img width="685" alt="Screen Shot 2022-01-20 at 11 24 31 AM" src="https://user-images.githubusercontent.com/1017022/150390776-0c353030-48f9-47df-a023-5845fcdb6e97.png">

[2022-01-20 17:31] bspeare commented on #4644
I removed the fontawesome module and it looks like the svg switch is happening because the Farsi link has `fa` in the markup which is the class the fontawesome module is watching for to make the switch:

[code]

[2022-01-20 17:32] bspeare commented on #4644
It's also styled differently because the `.fa` class is set in the font awesome stylesheet:

<img width="271" alt="Screen Shot 2022-01-20 at 11 32 17 AM" src="https://user-images.githubusercontent.com/1036433/150391287-9f4c7aee-6f62-4f23-ae7e-bc62d83210d3.png">

[2022-01-20 18:40] joewhitsitt commented on #3498
I responded back that we don't want to mess with Return-Path and will instead instruct website owners to update their form workflows

[2022-01-20 21:03] #4658 closed, assigned to dnkemper

[2022-01-20 21:45] #2154 closed, assigned to nobody

[2022-01-20 21:56] richardbporter commented on #3674
If we do https://github.com/uiowa/uiowa/issues/3752, this may not even be necessary.

[2022-01-20 22:00] bspeare commented on #2532
My impression on this is that brand would like to keep Zilla out of the WYSIWYG as an option for heading tags for maintaining consistency and hierarchy.   Flipping back and forth between the thick serif Zilla and Roboto within a content area would definitely create visual hierarchy issues.   Of course, you can create those issues by using multiple text areas and headline fields, but that is a lot

[2022-01-20 22:02] joewhitsitt commented on #4566
Changed the UofI text to brand yellow.

[2022-01-20 22:03] joewhitsitt commented on #4566
This is the site I used to create the icons for the footer. https://fa2png.app/ They are stored on sandbox.prod.drupal.uiowa.edu like all of our other non-drupal assets

[2022-01-20 22:05] joewhitsitt commented on #4566
I don't think we can fix the safari issue which seems to be cause by this image-rendering css:
<img width="983" alt="Screen Shot 2022-01-20 at 4 05 12 PM" src="https://user-images.githubusercontent.com/4663676/150429706-22649ef0-01c6-4da6-810a-5947b5671b72.png">

[2022-01-20 22:16] joewhitsitt commented on #4638
AoS subtitle is currently being migrated over I believe. We learned earlier this week that it is no longer necessary (to migrate and to be part of the content type)

[2022-01-20 22:22] mark-bennett-uiowa commented on #2532
Thats fine, then brand needs to remove Zilla as an option for anything below the h1 level. By giving us the option, it gave all the editors/departments/units the option, and at least I tried to standardize the headings for all CLAS departments/units. At this point, I cant monitor each and every editor to make sure they are keeping the Zilla standard heading styling, let alone knowledgable enough t

[2022-01-20 22:25] bspeare commented on #4649
Since the language module adds `<html dir="rtl">`, I think we will want to make some header, footer, and other component CSS adjustments like:

[code]

[2022-01-20 22:48] joewhitsitt commented on #4566
This is done:
<img width="354" alt="Screen Shot 2022-01-20 at 4 47 27 PM" src="https://user-images.githubusercontent.com/4663676/150434332-2f263bbe-525f-40c3-9fff-b1a20d595560.png">

uiowa.edu:
<img width="432" alt="Screen Shot 2022-01-20 at 4 47 59 PM" src="https://user-images.githubusercontent.com/4663676/150434418-b9ad3d67-171d-42c4-bd56-0f10dc6a9f95.png">

[2022-01-20 22:58] #4671 closed, assigned to e-marie-w

[2022-01-21 14:42] bspeare commented on #2532
@mark-bennett-uiowa Yes, I think removing Zilla from anything below `<h1>` makes sense.   And yes, we should revisit the weights of Roboto to make them look better like in your screenshot.

[2022-01-21 14:49] bspeare commented on #2960
I think the work on this is complete for Admissions.  At this point I don't think we want to add the remaining headline styles to the headline field, but we can reopen this if that becomes a priority in the future.

[2022-01-21 14:49] #2960 closed, assigned to nobody

[2022-01-21 15:07] #4541 closed, assigned to ABoston88, e-marie-w

[2022-01-21 15:07] bspeare commented on #4691
These errors appear at the top of the block if you try to add a new timeline item to this timeline:

<img width="465" alt="Screen Shot 2022-01-21 at 9 05 57 AM" src="https://user-images.githubusercontent.com/1036433/150550317-ce844191-c173-4e37-b065-671d1a161c1f.png">

[2022-01-21 15:11] #4566 closed, assigned to joewhitsitt

[2022-01-21 15:21] joewhitsitt commented on #4691
looks like a couple inner media items were deleted and the related timeline items need to be "resaved" after the media reference is removed or updated.

[2022-01-21 15:26] bspeare commented on #4691
@joewhitsitt what's the best way to find the problematic media items and re-save them?

[2022-01-21 15:35] joewhitsitt commented on #4691
not easy but i use those ids to construct a URL to find what exactly they are (e.g. /media/image/123)

then using the context of the timeline you could pinpoint which one without clicking in to all.

[2022-01-21 16:18] bspeare commented on #4691
I tried removing an existing image and got this message:

<img width="360" alt="Screen Shot 2022-01-21 at 10 17 50 AM" src="https://user-images.githubusercontent.com/1036433/150562038-53b44386-e72a-4877-a18d-96beedf33326.png">

[2022-01-21 16:31] joewhitsitt commented on #4691
could you try harvesting the content of this timeline item and remove entire timeline item and recreate without the image? ideally if this works, then revisions should be cleaned up so it doesn't get reverted back

[2022-01-21 18:51] joewhitsitt commented on #3498
Going to try the reply_to module in a separate branch

[2022-01-21 19:12] richardbporter commented on #3498
Not all of our site mails are uiowa.edu addresses.

[2022-01-21 19:33] joewhitsitt commented on #3498
i was just going to say before attending a meeting that the reply_to uses the site mail which might not always be a winner (uiowa.edu)

[2022-01-21 19:43] briand44 commented on #4665
jricke was added as a user with the Help Desk role and assigned to the ITS group on Healthcare Signage. Hoping he can create the rest of the HD users.

[2022-01-21 19:47] joewhitsitt commented on #4566
It was recommend to try a different image (perhaps using the recommended dimensions) to try and fix the Safari issue.

Update: recreated and uploaded the following png from an svg and it doesn't seem to fix the issue...
![iowa](https://user-images.githubusercontent.com/4663676/150591622-584d6772-603a-4599-bc1f-25477173c0ff.png)

[2022-01-21 19:57] makurj commented on #4665
https://github.com/uiowa/uiowa/issues/4471#issuecomment-987041927

[2022-01-21 20:05] briand44 commented on #4665
^^ We either will want to address that or update the role mappings and verify that once a user account is created and they log in they will automatically be assigned the Help Desk role.

[2022-01-21 20:28] joewhitsitt commented on #3498
so is the plan to deploy the platform-email branch to 701-3 custom/standard and dentistry? still waiting on icgov? clas/grad are hoping to use reply_to only?

[2022-01-21 20:31] richardbporter commented on #3498
I would say platform-email branch to uiowa701/2/3 but not dentistry. I would either use the module and change their site mail b/c its a subdomain right now or just implement a much lighter hook_mail_alter to set all from addresses to the noreply address. Maybe the latter?

Still waiting on icgov.

[2022-01-21 20:32] briand44 commented on #3498
Was just going to mention Dentistry Intradent site email is a subdomain

[2022-01-21 20:35] briand44 commented on #3498
Also noticed Dentistry Intradent has a module called e-mail sender override enabled?

[2022-01-21 20:44] makurj commented on #4665
To clarify, we only want any HD AD group or manually added HD Hawk IDs to get the HD role. We don't want other folks on campus who manage signs to get the HD role as it has elevated privileges. Most folks would be editors, etc.

[2022-01-21 20:46] briand44 commented on #4665
Right, just saying if we update the role id's in the existing incorrect role mappings, it should work as you described.

[2022-01-21 21:12] briand44 commented on #4665
The role mappings have been updated on Healthcare Signage. I think we could have Jacob test logging in from on campus and create another HD user and assign them to ITS group. That user could try logging in and verify they get assigned the Help Desk role and have perms to create users, create signs, etc.

[2022-01-21 21:31] joewhitsitt commented on #3200
Capturing the latest:

- So far, the form_alter custom submit handler method of adding the "customize settings" checkbox to the block and having the saved value persist is not working. Sean reached out in Slack to see if there is something we are missing.
- An alternative solution would be to use layout builder styles to create a separate group with this "style" option in it. We know that these sa

[2022-01-24 14:58] makurj commented on #3811
Installed pardot 2.x-dev locally which asks a few other modules to be enabled. Once enabled, there's no configure button for the Pardot module in Extend or in Configuration. You have to manually append /admin/config/services/pardot to get there and once there, you cannot save any account info without entering something into "Salesforce Auth Provider" which only has "None" as the dropdown option. L

[2022-01-24 15:11] joewhitsitt commented on #4616
i will send the sitenow announcements version today

[2022-01-24 15:52] briand44 commented on #4665
Sounds like Jacob is not part of the HD anymore. Alan is planning to be on campus Wednesday. We will want to manually add all HD staff with the HD role and assign to ITS group.

[2022-01-24 16:05] joewhitsitt commented on #4616
Scheduled to send at 10:30 with contents of the earlier ui-web email: https://apps.its.uiowa.edu/dispatch/communications/1027865585

[2022-01-24 16:14] briand44 commented on #4616
Sent to app dev list with minor modifications.

[2022-01-24 16:22] joewhitsitt commented on #3498
With @richardbporter 's help, 701, 702, 703 have been deployed with support for both custom and standard profiles

[2022-01-24 17:35] richardbporter commented on #3498
That appears to be a custom module and the code doesn't seem like its going to do what we want.

[2022-01-24 17:37] mjoneill commented on #4616
Sent to Campus Communicators listserv with slight modifications + inclusion of an animated gif that shows where to identify links to maps site in siteimprove.

[2022-01-24 17:38] pyrello commented on #4664
This was done manually.

[2022-01-24 17:38] #4664 closed, assigned to nobody

[2022-01-24 17:40] mjoneill commented on #4616
![finding-maps-links-in-siteimprove](https://user-images.githubusercontent.com/7144234/150835435-8ada3bf3-aff1-4aef-bc8c-5d5092d0044a.gif)

[2022-01-24 17:45] bewoldt opened #4694 "Webform date/time outputs 24hr time instead of 12hr format"
# Problem
When using the date/time field in a webform if you set the time format to 12hr, the email output will display as 24hr.

The field is set to 12hr format in the settings

<img width="483" alt="Screen Shot 2022-01-24 at 11 38 41 AM" src="https://user-images.githubusercontent.com/731952/150835532-8a6cb657-a75a-42d8-aa9c-118ffec36c49.png">

**Output from Email**
Pick a Date and Time
Fri, 01/2

[2022-01-24 17:51] richardbporter commented on #3498
I modified it to change the from address to dentistry-noreply@uiowa.edu. I pushed this up to dev to test it but I can't access any webform email settings in the interface.

[2022-01-24 19:01] pyrello commented on #4563
This seems to be the relevant point where the approach starts changing: https://www.drupal.org/project/layout_builder_styles/issues/3075502#comment-14163210

[2022-01-24 19:38] quamsta opened #4695 "Hide or adjust feed links in taxonomy term views (but don't remove the feeds entirely)"
# Story

Related to: https://github.com/uiowa/uiowa/issues/4435

**Background: This request originated from from Student Disability Services due to user confusion with the "Subscribe to" links on the taxonomy terms on pages like:  https://sds.studentlife.uiowa.edu/tags/ui-scholarships-students-disabilities**

We'd like to hide the "Subscribe to" feed links in taxonomy terms (at least) because of t

[2022-01-24 19:51] richardbporter commented on #3498
I can see at least one webform on the city site that sends from a different address. We should probably do the noreply method on this app for both sites as well.

[2022-01-24 22:45] joewhitsitt commented on #3811
I think I found the easiest slice (no-code) solution using `?pi_list_email=[webform_submission:webform:element:email]` appended to the confirmation URL. This will allow the webform to go anywhere (e.g. drupal page, unbounce) as long as it includes the Pardot Javascript tracking code.

https://help.salesforce.com/s/articleView?id=000315015&type=1

https://pi.pardot.com/visit/read/id/318773578/prosp

[2022-01-25 14:04] mjoneill commented on #3811
Hmmm...  Seems to be an [email specific solution](https://help.salesforce.com/s/articleView?id=000315015&type=1). I'd worry that taking this approach _may_ lead the CRM to (mis) attribute activities to emails.

Apologies if I'm misapprehending something and are actually trying to figure out the email attribution piece.  :P

[2022-01-25 14:44] makurj commented on #3811
I'll test this out locally and have our Martech person look at it also.

[2022-01-25 15:12] #4616 closed, assigned to nobody

[2022-01-25 16:41] makurj commented on #3811
Spoke with Lydia and our Salesforce account allows multiple prospects with the same email. During some testing, it's not clear why my test submission from yesterday only shows my browsing history from yesterday but the overview tab (with the same email) shows history going back to 2020. Will try removing pardot.com and go.tippie cookies and trying again.

[2022-01-25 16:48] #4682 closed, assigned to bspeare, dnkemper

[2022-01-25 17:31] richardbporter commented on #4591
Pulling this back into progress after @briand44 found something we may have missed.

[2022-01-25 18:13] joewhitsitt commented on #3811
I am definitely not an expert here, but my understanding is that the webform remote post is already sending first/last/email in the submission to pardot, but this token paired with the client side JS is creating the link between the on-page cookie and the email address submitted. This results in pre-submit and post-submit traffic being captured and associated with the prospect.

[2022-01-25 18:18] pyrello commented on #3200
So... it seems that in a future version of Drupal (>=9.4.x), we will be able to handle this without having to resort to extending the MenuBlock class because we will be able to make use of `thirdPartySettings` on the LB component: https://www.drupal.org/project/drupal/issues/3015152. In the meantime, there just doesn't seem to be any way to set values on the block that are not defined in a `defaul

[2022-01-25 18:28] pyrello commented on #3200
Next steps:
- [ ] Create custom class to extend Drupal\menu_block\Plugin\Block.
- [ ] Add `defaultConfiguration` method which calls `parent::defaultConfiguration()` and then adds a `customize_settings` property to configuration.
- [ ] Add `blockForm` method which calls `parent::blockForm()` and adds the `customize_settings` field to the form. This is also where the addition of the states logic for

[2022-01-25 18:50] richardbporter commented on #4591
It looks like content.uiowa.edu has a taxonomy called Places with a link field that is populated with lots of maps.uiowa.edu URLs for building pages. These Places are output in the API when referenced from an event which in turn gets displayed on lots of different websites. We will need to update these links to point to facilities.uiowa.edu instead. A quick count of Places looks to be around 250.

[2022-01-25 20:22] joewhitsitt commented on #4243
This is currently set to authenticated. If you can authenticate (have a hawkid on the site) you have access.

[2022-01-25 20:25] richardbporter commented on #4243
AD role mapping should work the same for intranets. No changes there.

Admin only. Managed via config. Sites have previously split this when necessary. CS2 makes it easier to split.

[2022-01-25 20:31] bspeare commented on #4659
Displaying books in a grid using card template with left or right aligned image would look pretty good.   Example of right aligned book cover from a book website below:

<img width="807" alt="Screen Shot 2022-01-25 at 2 28 37 PM" src="https://user-images.githubusercontent.com/1036433/151054471-955a51da-478e-4df7-8ad5-255b54afde22.png">

[2022-01-25 20:36] briand44 commented on #4243
Is this what we want though? In the past when someone was removed from an AD group their role that was mapped to that AD group was removed. We cannot remove the authenticated user role unless we cancel their user account. Not sure how complicated that is?

[2022-01-25 20:51] joewhitsitt commented on #4243
It is currently a permission set for the feature default. It can be more specific if AD mapping is in play.

[2022-01-25 20:54] #2630 closed, assigned to dnkemper

[2022-01-25 21:23] pyrello opened #4701 "Tippie - tasks to facilitate site development"
# Motivation

As part of the work on #3200 and the subsequent conversation about it is that we may not be ready to move ahead with a platform-level solution to opening up the menu block options. However, this was a requirement for Tippie's website. Also, they are likely going with a horizontal menu on most pages, so facilitating that for them would be nice.

# Proposed solution

- [ ] Add a layout

[2022-01-25 22:17] quamsta commented on #4695
A couple of notes from the grooming/mid-sprint demo:

- Users of the Aggregator module to feed sites need visible links to the RSS feeds for ease-of-access
- As @joewhitsitt mentioned, not every browser situation presents the feeds as broken.

I'm going to revisit this and see if the link can be presented in a friendly way that doesn't break current functionality.

[2022-01-25 23:00] briand44 commented on #3200
So what I was originally thinking when we split this into two slices is that the first slice would focus on allowing webmasters of SiteNow v3 sites to be able to control the initial visibility level and the number of levels to display for the vertical secondary menu. I understand we are currently running into issues with a global setting but I was under the impression we would allow users to overr

[2022-01-25 23:19] joewhitsitt commented on #4695
I am probably in the boat of leave the link, add the orange icon (small) and maybe change the link to be explicit about what it is but I can be out voted and move on. Academic orgs are generally filled with folks (myself included) that love the availability of these "power-user" additions. With that said, I am not going to die defending RSS links on primary brochure type sites.

I just checked and

[2022-01-25 23:33] joewhitsitt commented on #3200
I think the only gotcha is that the style option is currently available to webmasters and if the horizontal style is not ready for different combinations of starting level and depth, we could get some interesting menus. That said, the first slice was originally going to run into this same issue.

I might not have this straight but I think this issue was originally created to facilitate the vertica

[2022-01-26 14:39] pyrello commented on #3200
Honestly, I think we need to regroup on this. It doesn't even seem like we came away from our last meeting with the same understanding of what we want to do and why we are doing it.

[2022-01-26 14:41] bspeare commented on #3200
As @joewhitsitt mentions, the horizontal style is not ready for the depth.    Do we reset the depth if the horizontal option is selected?  Or do we just hide the depth with CSS?  We are still trying to prototype a horizontal mega version (https://github.com/uiowa/uiowa/issues/3200#issuecomment-1013445525) that could handle the depth where we would end up with three menu options:

- Vertical
- Hori

[2022-01-26 14:58] joewhitsitt commented on #3811
Sent another test case for review where it has activity before submit and tracks my movement from tippie.prod to tippie.uiowa.edu: https://pi.pardot.com/prospect/read/id/67728380

Though I understand it isn't showing the same audit process as the current tippie site has, we are using a different process that does still seem to log my ISP information and browsing leading up to submit.

Additionally

[2022-01-26 15:05] makurj commented on #3811
Will have Lydia weigh in again but I am seeing presubmission browsing history and post for https://pi.pardot.com/visitorAudit/index/prospect_id/67728380
![image](https://user-images.githubusercontent.com/52135878/151188262-7cecd430-4a79-420c-93b9-7eb371f06167.png)
The difference is before when a form was submitted and a visitor was converted from a visitor to a prospect, you'd see "Converted from

[2022-01-26 15:07] quamsta commented on #4695
Hi all, took a stab at this again this morning and wanted to show an option or two that may work:

## Idea 1: Show newly styled/worded feed buttons for all users
This idea has the FontAwesome RSS icon (in gold, just to stay on brand) in a tertiary button style with the text "RSS Feed" showing for all users (logged in or not) in the bottom right, which places it a bit out of the way and not in the

[2022-01-26 15:35] pyrello opened #4703 "Allow more access to menu block level and depth settings"
Creating a new first slice for #3200. These features should satisfy the request made by Student Life

# Stories

* As an editor I want to choose horizontal or vertical options for my menu block so that I can take advantage of those different design options.
* As a platform manager I want the above choice to appropriately restrict the level and depth options so that content editors cannot select op

[2022-01-26 15:37] joewhitsitt commented on #3811
_If_ we need a different approach, my thought is to do the "iframe" method by either customizing the current remote post handler or creating a custom one:

customize existing:
<https://www.chapterthree.com/blog/drupal-8-how-to-extending-a-webform-remote-post-handler>

create new:
<https://www.drupal.org/files/issues/2020-11-10/2878909-webform-integration-5.patch>

downside to this approach will be

[2022-01-26 15:46] richardbporter opened #4704 "Content hub maps.uiowa.edu building links"
It looks like content.uiowa.edu has a taxonomy called Places with a link field that is populated with lots of maps.uiowa.edu URLs for building pages. These Places are output in the API when referenced from an event which in turn gets displayed on lots of different websites. These will need to be updated to point to facilities.uiowa.edu instead. A quick count of Places looks to be around 250. It wa

[2022-01-26 16:21] e-marie-w commented on #4657
Needed design updates:

- [x] Group publication details in an accordion
- [x] Set up book type paragraphs to display like accordions
- [x] Update file uploads field so images display more like a gallery
- [x] Fix styling of Related Reads section
- [x] Add CSS change to account for headline style with field-label class (done in https://github.com/uiowa/uiowa/pull/4710)
- [x] Enable borderless and m

[2022-01-26 17:25] joewhitsitt commented on #4638
Need to revisit the related links. Something isn't wired up correctly:

<img width="359" alt="Screen Shot 2022-01-26 at 11 24 21 AM" src="https://user-images.githubusercontent.com/4663676/151214564-65a728d5-cdf8-41f8-8846-64a4178891f2.png">
<img width="325" alt="Screen Shot 2022-01-26 at 11 24 26 AM" src="https://user-images.githubusercontent.com/4663676/151214566-43a3055e-bc24-44e2-b00d-62114ae68

[2022-01-26 18:55] bspeare commented on #4701
I think this issue is blocked until we get clarification from Tippie on what direction they want to pursue for the navigation.   We received some new requests this morning that we need to figure out before moving forward.

[2022-01-26 18:59] GaryRidgway commented on #4665
I went in and added all these users. Then, i went to the helpdesk in person and asked one of them to sign in and it worked, showing that they all should be able to sign in using the method i used to create them. this should be done.

[2022-01-26 18:59] #4665 closed, assigned to GaryRidgway

[2022-01-26 19:14] richardbporter commented on #4591
Moved content hub work to separate issue: #4704

Updated uiowa_maui module to use new number lookup data its endpoint and link to facilities site instead of concept3d search link.

Deployed all changes to prod. Reverted features where necessary. Updated vending feed URL.

[2022-01-26 19:14] #4591 closed, assigned to richardbporter

[2022-01-26 20:52] briand44 opened #4706 "Grad Admissions AoS Updates round 2"
- [x] Remove button styles for cost estimate reference on Area of Study - should just use regular link styles
- [x] Allow control of text link for button on Apply box in sidebar
- [x] Change order of college field & related fields to match admissions
- [x] Reverse display of related links to show colleges first
~- [ ] Not sure if this issue is being worked on as part of the migration or if it shou

[2022-01-26 20:56] richardbporter commented on #4704
Proposed solution

Update hook to iterate all Places taxonomy terms, parse URL and check host matches maps.uiowa.edu, if so check path exists in data.its number lookup, if so resave field as facilities link using building number.

[2022-01-26 21:34] joewhitsitt commented on #3498
Missed this..

[2022-01-26 21:49] richardbporter commented on #4695
I like this.

[2022-01-26 21:50] richardbporter commented on #4695
Maybe, maybe not. I think Idea 1 is the safer option.

[2022-01-26 21:52] joewhitsitt commented on #4695
I think "idea 1" is going to get the most support (based on the discussion earlier) until RSS is actually dead. It is a small slice and will close https://github.com/uiowa/uiowa/issues/4435 as well.

I know that it was mentioned that the rss blocks were a big consumer of these links these days, but I don't think it is safe to say that solely folks with access to the site are the ones grabbing thes

[2022-01-27 15:22] bspeare commented on #4706
It seems like we just need to reverse the display of the related links to show the colleges first.   @joewhitsitt aren't we using the same field setup that admissions is using for the related links?

<img width="453" alt="Screen Shot 2022-01-27 at 9 17 35 AM" src="https://user-images.githubusercontent.com/1036433/151388132-b6197d3b-0d37-49bf-b185-49c9b989898f.png">

[2022-01-27 15:25] dnkemper commented on #4706
@bspeare okay sure thing! I remember there was a reason why I did it this way... might have been following D7 site?

[2022-01-27 17:58] briand44 commented on #3498
It looks like the communication for this may have went out in test mode only. If this is in fact the case we likely may need to adjust some wording, since this change has been made now for all SiteNow sites, and send again in production mode.

[2022-01-27 18:38] #4661 closed, assigned to nobody

[2022-01-27 19:15] pyrello commented on #4695
I also like idea 1 the best because it will allow us to get feedback from users that will help clarify the problem or let us know that we have resolved it. I'm not necessarily opposed to the idea of removing the feed link or changing the way it is delivered, but I think generally we want to be thoughtful and deliberate about removing features (even if they are not well-implemented).

[2022-01-27 19:21] pyrello opened #4711 "Add global settings for menu block defaults"
# Motivation

As part of our improvements to menu blocks, we would like to offer site owners the ability to set global defaults that are used on all blocks unless they are specifically customized.

# Proposed solution

- [ ] Add a section to the SiteNow page configuration form to provide global menu settings.
- [ ] Add a checkbox to the menu block form to allow customizing menu settings. Menu sett

[2022-01-27 19:33] pyrello opened #4712 "Add global setting to select the type of menu to be used by default for menu blocks"
# Proposed solution

- [ ] Add to the sitewide setting that will allow webmasters to adjust the navigation style to `Horizontal`
- [ ] Adjust layout placement of Main navigation block based on sitewide setting of `Vertical` or `Horizontal`
- [ ] Possibly limit this to "Number of levels to display" to 2.

[2022-01-27 19:59] pyrello commented on #4711
Here is some code that I am stripping out of #4667 that may be useful for this:

[code]

[2022-01-27 20:02] richardbporter commented on #4243
In the intranet split, could we remove the view content/media/etc perms from authenticated users and add them to viewer? Shift them over one? Otherwise, authenticated users can still log in and view content/media after a role mapping no longer applies or is removed.

There is also something goofy with authenticated users being logged in but not having access to anything:
![image](https://user-imag

[2022-01-27 21:28] bspeare commented on #4701
Waiting to hear back from James about what direction they want to take with the horizontal menu so I've added the blocked label for now.   I will update this issue as soon as I get an answer.

[2022-01-27 21:36] briand44 commented on #4243
Sounds like see if we can use viewer role for access to intranet and remove perms for authenticated user role.

[2022-01-27 21:37] briand44 commented on #4243
Weird login problem? Rick maybe explain more.

[2022-01-27 21:59] richardbporter commented on #938
No longer applicable.

[2022-01-27 21:59] #938 closed, assigned to nobody

[2022-01-27 22:11] #2470 closed, assigned to nobody

[2022-01-28 14:38] joewhitsitt commented on #4706
Not sure I know what the last bullet point means or what the ask was. The migration is moving content over, we aren't changing the layout. If it is changing order of field values, in code, for related links there is this:

[2022-01-28 14:42] bspeare commented on #4706
Sounds like we can remove that last box.  Thanks for the clarification @joewhitsitt!

[2022-01-28 14:48] joewhitsitt commented on #3811
Lydia has been testing and is getting some mixed results and might reach out to Salesforce about the method currently in place.

[2022-01-28 14:59] quamsta commented on #4695
Opening up a PR for Idea 1. Thanks all!

[2022-01-28 15:05] bspeare opened #4713 "As a site owner, I can use a newly added pre-title field as a part of the banner block that appears above the banner title"
# Story

As a site owner, I can use a pre-header field in the banner block

![curriculum_testiowamba](https://user-images.githubusercontent.com/1036433/151570405-14a6c4ff-d763-4098-a03a-d813b6f6b2ed.png)

# Proposed solution

- [ ] Add a pre-header field to the banner block
- [ ] Add help text to the field "The pre-title will not appear on the page if the title field is empty."
- [ ] Update banner

[2022-01-28 15:50] quamsta commented on #4695
https://github.com/uiowa/uiowa/pull/4714

[2022-01-28 17:27] bspeare opened #4716 "As a prospective student, I can use uiowa.edu with the horizontal or mega navigation"
# Story

As a student, I can use uiowa.edu with the horizontal or mega navigation so that I can have easier access to the main navigation

# Problem

We built a lot of custom functionality into uiowa.edu based on the fixed header with toggle menu.   If we want to shift to a new navigation style, we will need to make a number of updates.

<img width="1552" alt="Screen Shot 2022-01-28 at 11 22 57 AM

[2022-01-28 17:42] joewhitsitt commented on #4243
Viewer has additional permissions to view content that is in a non-published moderation state. Would we leave that or adjust that as well?

[2022-01-28 18:35] dnkemper opened #4718 "Remove pager on academic pages"
Academic groups pages should not have a pager at the bottom. The one group page should list all majors in that group.

See: https://iowaweb.slack.com/archives/C019B2C8K8U/p1643392369087869

[2022-01-28 19:14] joewhitsitt commented on #4638
Waiting for the broken links map back from Admissions

[2022-01-28 20:55] briand44 commented on #3498
^^ This was sent.

[2022-01-28 21:36] bspeare commented on #4657
I think we might want to keep the three column grid in the related reads section.   The book titles are so long that even having them display under the books would look weird.

Current grid:

<img width="1618" alt="Screen Shot 2022-01-28 at 3 31 02 PM" src="https://user-images.githubusercontent.com/1036433/151624400-bc8f0dd5-eb80-446c-a71b-84f2b53dcd30.png">

If we switched this to a four column g

[2022-01-28 21:44] bspeare commented on #4657
These need to be custom blocks that we add to the layout builder template like we did with admissions: https://github.com/uiowa/uiowa/blob/main/docroot/sites/admissions.uiowa.edu/modules/admissions_core/src/Plugin/Block/ApplyButton.php.   The "Add to cart" block is going to need to grab the ISBN field to construct the url like `https://cdcshoppingcart.uchicago.edu/Cart/ChicagoBook.aspx?ISBN=978160

[2022-01-28 21:55] pyrello commented on #4657
Hmm... this is going to be a little trickier. Currently, the ISBN is actually stored with the `book_type` paragraph bundle and can be unique for each book type that is added. Need to check and see how this was handled in the D7 version of the site.

[2022-01-28 23:07] mark-bennett-uiowa opened #4720 "Need Vulture redirects for two domains to frg.physics.uiowa.edu"
# Problem
Michael Flatte from Physics and Astronomy just approved his new Flatte Research Group lab website: [https://frg.physics.uiowa.edu](https://frg.physics.uiowa.edu). When I contacted the Physics IT group to make the DNS switch from the Physics web server to Acquia LB, there were two additional DNS entries for this site.

nano.physics.uiowa.edu is the A-record for the original site.
flatte.p

[2022-01-30 01:51] #4706 closed, assigned to dnkemper

[2022-01-30 01:51] #4718 closed, assigned to dnkemper

[2022-01-31 14:41] #4641 closed, assigned to joewhitsitt

[2022-01-31 15:05] pyrello commented on #3498
I'm going to look at this for Grad today.

[2022-01-31 15:13] joewhitsitt commented on #3811
Lydia said by way of Makur that the email token will not be a suitable solution.

[2022-01-31 16:22] pyrello opened #4722 "Add a shortcut key to trigger site search"
# Story

As a site visitor I want to easily pull up site search using a shortcut trigger so that I can get to search results more easily.

Some example of this functionality are:
* Command+space in macOS
* Shift, shift in PHPStorm

# Proposed solution
- [ ] Decide on shortcut key
- [ ] Add a javascript to listen for shortcut key and trigger display of search and set the cursor in it

[2022-01-31 16:42] joewhitsitt commented on #4463
Someone mentioned this https://www.drupal.org/project/entity_editor_tabs as an alternative to layout_builder_widget. Keeps the same setup but allows you to explain to your editors more precisely what they will find in each tab.

[2022-01-31 17:01] joewhitsitt commented on #4243
Talked with Rick and Brian about this. The plan is to move forward with using the viewer role as the restrict_ip default and adjusting the other permissions to be less of a workflow role and instead serve as a generic viewer.

Also plan to take a look at adjusting the authenticated role and/or adjust messaging based on role: https://github.com/uiowa/uiowa/issues/4243#issuecomment-1023591767

[2022-01-31 17:12] bspeare commented on #4691
Next steps for this:

- Recreate timeline block with text only
- Delete old timeline block
- Add images back into the new timeline block, saving the block each time after the image is added.

[2022-01-31 17:13] bspeare commented on #4695
@quamsta should we close this issue?

[2022-01-31 17:19] joewhitsitt commented on #4435
Like https://github.com/uiowa/uiowa/issues/4695#issuecomment-1026012515 should this issue be closed?

[2022-01-31 17:23] mark-bennett-uiowa commented on #4435
Yes, closing this issue due to updates in #4695 . Thanks!

[2022-01-31 17:23] #4435 closed, assigned to nobody

[2022-01-31 17:24] mark-bennett-uiowa commented on #4695
I closed my issue #4435 . Thanks!

[2022-01-31 17:35] bspeare commented on #4644
I think designing the switcher to appear as a custom drop down item aligned to the right of the main navigation area might be a good place for the language switcher block.

![lang](https://user-images.githubusercontent.com/1036433/151843919-713b7c7a-c1d7-40fa-b629-989dd365e690.png)
![lang_open](https://user-images.githubusercontent.com/1036433/151843927-68c20ae2-7009-497e-8d0c-1bb6acb77230.png)

[2022-01-31 18:02] joewhitsitt commented on #4243
@briand44 has sitenow_intranet be enabled yet for any sites? aka do we need an update hook to assign users (not blocked) to the viewer role?

[2022-01-31 18:03] briand44 commented on #4243
It has not been enabled for anyone yet as far as I know. Shouldn't need an update hook.

[2022-01-31 18:08] dnkemper commented on #3104
Issue created on drupal.org: https://www.drupal.org/project/drupal/issues/3261594#comment-14392776

[2022-01-31 18:16] bspeare commented on #4644
This is also a good resource for the design of the language switcher in Drupal: https://www.drupal.org/project/drupal/issues/3221381.

[2022-01-31 18:29] pyrello commented on #3104
The drop-down that opens is located in a div at the very end of the document:
![Screen Shot 2022-01-31 at 9 44 10 AM](https://user-images.githubusercontent.com/709009/151825338-0b593ac7-4e0c-4ed0-87a4-b523d8f00290.png)

You can cause it to show/hide by selecting it in the inspector and then toggling the `display: none` property.

[2022-01-31 18:36] bspeare commented on #4659
Was this work completed in https://github.com/uiowa/uiowa/pull/4700?

<img width="1567" alt="Screen Shot 2022-01-31 at 12 36 27 PM" src="https://user-images.githubusercontent.com/1036433/151852568-90500c38-f6a2-4efc-8451-de75689beb09.png">

[2022-01-31 19:03] pyrello opened #4724 "Epic: Add ability to publish collection of writing periodically"
# Epic

As a site owner I want publish a collection of writing or stories periodically so that I can publish a digital magazine or newsletter.

# Motivation

91st Meridian is a digital publication, which is published a handful of times each year: https://iwp.uiowa.edu/91st/index.html. Each issue provides a self-contained experience to navigate around inside it.

Another similar example: https://en

[2022-01-31 19:16] joewhitsitt commented on #4724
Just chiming in with more possible examples. Not sure how related they are but Education had a "magazine" which consisted of several articles published at the same time (https://education.uiowa.edu/about/news-and-media/alumni-magazine-2020). teach.its a similar but more structured approach that ends in an organized archive and a constant contact email type thing: https://teach.its.uiowa.edu/news

[2022-01-31 19:29] pyrello commented on #4659
Kind of. There was a view added in that PR that is providing the above page in the screenshot, but it was not my desire to add a new view if we could help it. I had been intending to try to figure out how to just set the grid class and pager settings in a views-related hook.

[2022-01-31 19:43] makurj opened #4725 "Tippie News Migration"
1. Look at other migration issues to get a sense of how to do this. Taxonomy terms, etc.
2. How much news is Tippie migrating? Look at analytics. WAITING ON ANSWER.
3. Review Tippie's current content type (fields, taxonomy terms, etc.)
4. How to handle redirects? Broken links?
5. What will be required by Tippie once the migration solution is ready?
6. Get a solution ready before mid-May.
7. Get th

[2022-01-31 19:47] joewhitsitt commented on #4243
Should we provide a logout link (footer?) for viewers since they can no longer see the toolbar?

[2022-01-31 20:26] richardbporter commented on #4243
I would say grant only the toolbar permission which would then show their username only, hopefully, which will handle the logout link. 🤞🏻

[2022-01-31 20:49] pyrello commented on #4724
Here are a few examples that have come up:

- https://iowareview.org/
- https://ilr.law.uiowa.edu/
- https://jcl.law.uiowa.edu/
- https://tlcp.law.uiowa.edu/articles
- https://jgrj.law.uiowa.edu/

And an outside example as well:
- https://harvardlawreview.org/

[2022-01-31 20:52] quamsta commented on #4724
We manage a few journals that are organized in a couple of different ways:

- [Exchanges Literary Journal of Translation](https://exchanges.uiowa.edu), organized like:
[code]
- [Iowa Law Review](https://ilr.law.uiowa.edu), [The Journal of Gender, Race & Justice](https://jgrj.law.uiowa.edu), organized like:
[code]
- [Journal of Corporation Law](https://jcl.law.uiowa.edu), organized similarly to ILR

[2022-01-31 20:53] joewhitsitt commented on #4243
yeah, i will give that a go here soon. d7 i recall didn't work that well.

[2022-01-31 22:21] pyrello commented on #4724
@quamsta It seems like the first example could use the same system as the second example, but just omit the issue number and volume number?

[2022-01-31 22:29] quamsta commented on #4724
Yeah, I forgot to mention that they are fairly close in structure, but are presented differently in their respective issue archives:

Exchanges Archives (simply lists the issues):
https://exchanges.uiowa.edu/issues/

ILR Archives (organizes automatically by volume number, then by issue):
https://ilr.law.uiowa.edu/print/

[2022-01-31 23:14] pyrello commented on #4711
Code being removed from #4667 for the global menu settings config form section:
[code]

[2022-02-01 14:38] pyrello commented on #4563
Decided to have a look at this while I had a bit of down time between tasks. I was able to write an update hook to generate the new LayoutBuilderStyleGroup entities, but it actually is better not to have it run. Once you have generated and exported those entities, just the config import does the trick. Not sure if this might go as part of #4667, so in case it doesn't, here is the update hook code:

[2022-02-01 14:39] #4695 closed, assigned to quamsta

[2022-02-01 15:21] GaryRidgway commented on #4722
I think we do something like, "If the user is not focused on an input element, then *KEYSTROKE* opens the search".

I think space->space is an easy combo, that is my first proposal. i think this also dodges the whole "Command vs option vs alt" problem with windows vs mac

Also, when this get's worked on please ping me! I'd like to help with it if i don't pick it up.

[2022-02-01 15:24] makurj opened #4727 "Customize list page meta descriptions"
As a site editor, I would like to customize the meta descriptions of my generated list pages (people, articles, events) so that the meta information accurately reflects my site's use of the pages.

Previously requested by Dennis Crall with College of Engineering. Requested by Ben Lewis for Student Life on 2023/06/16.

# Proposed solution

[2022-02-01 16:02] joewhitsitt commented on #4243
I updated the PR with some todos

[2022-02-01 16:57] joewhitsitt opened #4729 "Site installs - Missing required data for configuration?"
# Problem

[code]

# Steps to reproduce
This is showing during site installs after our usual block content and moderation messages.

# Proposed solution
?

[2022-02-01 18:27] joewhitsitt commented on #4729
Related? https://www.drupal.org/project/config_ignore/issues/3168888

[2022-02-01 18:55] joewhitsitt commented on #4680
If the event is on events.uiowa.edu there is an .ics file available. Not a named anchor, etc. but it exists:

<img width="1078" alt="Screen Shot 2022-02-01 at 12 53 06 PM" src="https://user-images.githubusercontent.com/4663676/152032620-b0d13498-79ca-4a62-9ded-e483d6cbb10b.png">

[2022-02-01 19:04] #4659 closed, assigned to bspeare

[2022-02-01 19:17] briand44 commented on #4244
Search API is turned on for the service. Database as backend. Scope to Intranet split. Could add a search link to a search page as part of first slice and have another slice to implement search box on all pages.

There is a generic search block that could potentially be wired up to this.

Ideally search block would exist in header for users with access to intranet.

Eventually look at SOLR.

[2022-02-01 19:19] briand44 commented on #4244
May want to require at least 3 characters for searching to reduce db bloat

[2022-02-01 19:22] pyrello commented on #4244
It looks like our search block is not in a search-specific region: https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/uids_base.info.yml

One idea for how to handle swapping out search blocks is that this could just be a configuration override in the intranet split.

[2022-02-01 19:24] briand44 commented on #4685
Visual review of this code.

- Check that traits are being used where necessary (processMedia), and that any trait methods have been updated (using the correct variables, correct number of variables, etc)
- Check if there are custom functions added to the Source class that should be replaced with traits
- Check if there are any post-import processes that need to be moved out of an event subscriber

[2022-02-01 19:31] briand44 commented on #4669
Get TM to review photoswipe once we have something we can put in dev.

[2022-02-01 19:45] briand44 commented on #4569
possible solutions in no order:

1. Don't show country if country is US.
2. Add checkbox so users can choose wether or not to show country on display.
3. Write code to evaluate values entered and if not all fields have data don't output country (e.g only adding building name not city, state, zip).

[2022-02-01 19:56] briand44 commented on #4363
Understand the drush archive option to backup.

[2022-02-01 20:08] pyrello opened #4734 "Re-factor headline field to use core block label and third party settings"
# Motivation

A long, long time ago someone ([me?](https://github.com/uiowa/uiowa/blob/3a6ed834490cb0150098c6c2c151cf06943f34b1/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L33-L34)) decided that we were going to hide the block label field and we have mostly never looked back. Then we started adding the headline field to various blocks. If left unset the block label ge

[2022-02-01 20:16] joewhitsitt commented on #4691
Since these error messages by themselves are not very helpful to editors, we might have to start printing the media id (if provided) as part of the paragraph preview to help track down "corrupted" timeline items while they are collapsed. This has previously been an issue in v2 sites and some layout builder blocks.

[2022-02-01 20:19] bewoldt commented on #4722
You could add a Skip to Search link in addition to the Skip to Content link that is the first thing on the page.

[2022-02-01 20:24] joewhitsitt commented on #4734
We noticed an issue with our block label customizations when evaluating big pipe: https://github.com/uiowa/uiowa/issues/4651#issuecomment-1024659550

[2022-02-01 20:30] pyrello commented on #4734
Dropping this here in case it is relevant: https://www.drupal.org/node/3191609

[2022-02-01 20:39] joewhitsitt commented on #4569
Something to keep in mind, which is probably part of the reason Sean and I are wary of adding more complexity to this functionality, is that we are already doing some crazy stuff to person contact information already in `_sitenow_people_person_form_submit`

[2022-02-01 20:43] briand44 commented on #4363
Here are some docs for backing up sites but it looks like it is geared more towards D9 sites. https://wiki.uiowa.edu/display/drupaldev/Backing+up+a+site+before+deletion

[2022-02-01 20:50] joewhitsitt commented on #4569
Also, FWIW there is an issue upstream being worked on https://www.drupal.org/project/address/issues/2753899 that addresses [potential solution #1](https://github.com/uiowa/uiowa/issues/4569#issuecomment-1027221303) for a per field instance basis.

[2022-02-01 21:13] joewhitsitt commented on #4704
A little extra info to get started with:

[code]

[2022-02-01 21:43] briand44 commented on #3104
Removing this from project board and unassigning Dani since she completed the work that was planned for this sprint. Will leave it in our bug milestone at a lesser priority.

[2022-02-01 22:05] mjoneill commented on #1503
I think there's a similar need from Education we might want to understand.

On their old site, they had this page: https://education.prod.drupal.uiowa.edu/centers/center-research-undergraduate-education/crue-publications that displayed a list of publication content types and provides organization and filter options.  Some publications may appear in multiple lists.

Since launching their new site,

[2022-02-01 22:06] bspeare opened #4735 "As a site owner, I can use a horizontal menu that displays the active page children in a dropdown menu"
Part of https://github.com/uiowa/uiowa/issues/3200.

# Story

As a Tippie site owner, I can use a horizontal menu that displays the active page children in a dropdown menu as well as displaying the active page parent path.

# Proposed solution

Create a new `Horizontal` menu variant that has a toggle menu to review active page children.

Here's a proposed screenshot of how the menu would appear if

[2022-02-01 22:12] mjoneill commented on #1503
And I see that @joewhitsitt already referenced (further up) the education links I just added (again).  :P

[2022-02-01 22:18] joewhitsitt commented on #1503
I thought education was starting to keep publication information in directory profiles?

[2022-02-01 22:20] mjoneill commented on #1503
I did too. The individual I was discussing with was not aware of any planning around that, but said they need to connect to the rest of the comms team on this.

I couldn't recall what the latest was from the Directory Profiles group...so there's opportunity for me to connect there as well.

[2022-02-01 22:40] briand44 commented on #4720
We are attempting to get away from handling redirects in .htaccess. I will reach out to our sysadmin to see if he can create these on Vulture. Going to update the title to represent this.

[2022-02-01 22:42] pyrello commented on #1503
Great time for this conversation to be starting up again since the Iowa Superfund site is going to be back on our radar in the near term.

[2022-02-01 22:48] briand44 commented on #4720
I think the process will be:

- Create redirects on Vulture
- Update DNS to point to Vulture
- SSL certs created on Vulture

There will likely be 10-30 mins of downtime while SSL certs are being setup.

[2022-02-01 22:50] cory-skeers commented on #4704
Having some difficulties with local environment, but while working on it, grabbed a list of the terms that need to be updated as a way to check.

113 terms total that include "maps" (plus one extra false positive that's a google URL).

<details>

<summary>
Maps URLs
</summary>

entity_id | url
------ | --------------
357 | http://maps.uiowa.edu/chst
358 | http://maps.uiowa.edu/tnsw
359 | http://ma

[2022-02-01 22:56] pyrello commented on #4722
I like this idea. Hitting the shortcut could just trigger that link.

[2022-02-01 22:59] pyrello commented on #4724
This might get in the way of my ambitions to use a vocabulary as the container for a collection of writing: https://www.drupal.org/project/drupal/issues/3047110

[2022-02-01 23:01] joewhitsitt commented on #4704
Forgot to note that local development for this site needs a little love before work can be done: https://wiki.uiowa.edu/display/sitenow/content.uiowa.edu

[2022-02-01 23:13] pyrello commented on #4657
Based on reviewing the D7 code and how the ISBN for the "Add to Cart" button is determined there, they are just pulling the last result and using that. Any valid ISBN for the book should work if the cart software is set up correctly. So, we just need a way to pull the first result from the `field_book_types` field and get its ISBN. Looks like we'll need a custom block class and we can do that proc

[2022-02-02 14:10] richardbporter commented on #4729
Can we close this as a dupe of #1914 ?

[2022-02-02 14:22] richardbporter commented on #4363
https://wiki.uiowa.edu/display/sitenow/Backing+up+a+site+before+deletion

[2022-02-02 14:23] mjoneill opened #4737 "Investigate how to capture card button click events in GA"
As a website owner, I would like Click Events on Card buttons (and elsewhere) to be captured in GA.

Card button click events (and possibly others) are not visible to GTM and as a result are not getting tracked as events.

I would like to figure this out so we can get better visibility into goal completions in GA.

Example page:
* https://dentistry.uiowa.edu/patient-care/dental-clinics

Note: This

[2022-02-02 14:25] mjoneill commented on #4737
Tagging @briand44 and @cory-skeers on this.  Brian for visibility and help figuring out priority. Cory because I suspect this is a pairing opportunity and he can help me figure this out.

[2022-02-02 14:37] #4729 closed, assigned to nobody

[2022-02-02 14:57] joewhitsitt commented on #4638
The Admissions team has provided an initial list of broken link mappings to start working with. Leaving as blocked though until the list is finalized.

https://iowaweb.slack.com/archives/C019B2C8K8U/p1643813586124759?thread_ts=1643730878.610609&cid=C019B2C8K8U

[2022-02-02 15:09] #4522 closed, assigned to e-marie-w

[2022-02-02 16:00] cory-skeers commented on #4704
Started on this this morning, and the total of maps.uiowa.edu links is down to 29 from 113...looks like someone may be doing this already?

No revisions on the taxonomy terms, so not sure who's doing it, but looks like this might be a person over machine case after all.

[2022-02-02 16:22] makurj opened #4738 "SSL coverage for itsecurity.uiowa.edu on uiowa01"
https://itsecurity.prod.drupal.uiowa.edu
https://sitenow.uiowa.edu/admin/structure/webform/manage/request_a_site/submission/13206
https://itsecurity.uiowa.edu

[2022-02-02 16:30] pyrello commented on #3498
Done updating Grad sites.

[2022-02-02 17:22] joewhitsitt commented on #4638
This is now in DEV for customer and technical review.

We can easily add additional broken link mappings to this if they are provided before the final run.

[2022-02-02 17:25] #4243 closed, assigned to joewhitsitt

[2022-02-02 17:30] cory-skeers commented on #4704
Updated list as of 2/2 (22 rows remaining).

Spot checking these, it looks like they may all be in our list of known retired buildings (no facilities link for the building number) or simply unavailable on the maps.uiowa.edu currently.

Still unsure of who exactly did the updates, but the number remaining (and especially if they are all retired buildings) has made pursuing an automated solution moo

[2022-02-02 17:30] #4704 closed, assigned to cory-skeers

[2022-02-02 17:31] briand44 opened #4740 "Update Featured Image for Grad Admissions AoS"
Admissions requested we update the default featured image for Areas of Study. The request was to use the same image that the undergrad admissions site is using.

[2022-02-02 17:47] dnkemper commented on #4569
Yeah.. that was why I suggested the boolean field. A simple way to show/hide. Also, https://www.drupal.org/project/address/issues/2753899  looks abandoned... uses php 5.5 and D8 too.. bummer

[2022-02-02 18:01] briand44 commented on #4740
Here is an example of how we handled this as part of the migration for undergrad Admissions.

https://github.com/uiowa/uiowa/blob/f5dcf5dfcba082f1a1d34e7455e24643d5eb2329/docroot/sites/admissions.uiowa.edu/modules/admissions_migrate/config/split/migrate_plus.migration.d7_admissions_aos.yml#L48-L50

Thanks @cory-skeers

#4650

[2022-02-02 18:36] pyrello commented on #4411
Requires updating the following patches:
- Expose Layout Builder data to REST and JSON:API
- Add Views EntityReference filter to be available for all entity reference fields

[2022-02-02 19:42] bspeare opened #4744 "Masonry display for image gallery block is broken for Chrome"
# Problem
Masonry display for image gallery block is broken for Chrome

# Steps to reproduce

Go to https://li.lab.uiowa.edu/lab-photos.

Chrome

<img width="1800" alt="Screen Shot 2022-02-02 at 1 40 48 PM" src="https://user-images.githubusercontent.com/1036433/152225071-e3d50fe4-cba4-47f6-b42d-8f6bc8692597.png">

Safari

<img width="1750" alt="Screen Shot 2022-02-02 at 1 41 11 PM" src="https://us

[2022-02-02 20:06] e-marie-w commented on #4657
Should the Add to Cart/View Cart buttons open in a new tab or the current one? On the current site they open in a new tab.

[2022-02-02 21:37] richardbporter commented on #4740
This is included in #4650. The pentacrest drone shot will be used by default for migrated AoS. There is no default value for new AoS, just like the admissions site.

[2022-02-02 22:28] richardbporter commented on #3498
Email domains sent to city. Waiting.

[2022-02-02 22:45] briand44 commented on #4363
Created a new folder for the inactive site backups. https://iowa.sharepoint.com/sites/CSI-Drupal2/Shared%20Documents/Forms/AllItems.aspx?csf=1&web=1&e=bUk1ZD&cid=0b4106e6%2De8f8%2D464f%2D8631%2D60e42fbb89a5&FolderCTID=0x0120002F9851D81A9B1E4DB63DA70E38793599&id=%2Fsites%2FCSI%2DDrupal2%2FShared%20Documents%2FGeneral%2Fsite%2Dbackups%2FInactive%20Site%20Backups&viewid=bf54b9d9%2D0975%2D4fbc%2D9f1b%

[2022-02-03 15:30] makurj opened #4747 "diversity.uiowa.edu blank menu dropdown for adding a page to the menu"
When adding a new page, and checking "provide a menu link", the parent items dropdowns are blank. Noticed this on multiple browsers and OSes, and sites (diversity, tippie). User's info is:

Google Chrome Version 98.0.4758.80
Mac OS Monterey version 12.1

![image](https://user-images.githubusercontent.com/52135878/152374206-da0ac3c9-4c7f-4004-a249-e677b03ded39.png)

Reaching out to user with tempor

[2022-02-03 15:42] joewhitsitt commented on #4747
though i see grammarly in the toolbar, historical cause of editor mayhem, my guess it is this: https://www.drupal.org/project/cshs/issues/3258226

[2022-02-03 16:29] joewhitsitt commented on #4747
I am encountering this as well... Brave [Version 1.34.81 Chromium: 97.0.4692.99]

[2022-02-03 17:18] bewoldt opened #4748 "Empty profile image not displaying"
# Problem
The empty profile image is not being shown when using certain settings with the People component.

Image format: Circle
Image position: Stacked
Image size: Small
Display List as: Grid or List

<img width="690" alt="Screen Shot 2022-02-03 at 11 12 56 AM" src="https://user-images.githubusercontent.com/731952/152394130-117404fa-e674-427f-bccb-38447780d987.png">

Test page:
https://sandbox.p

[2022-02-03 18:23] briand44 commented on #4363
I've created backups for all the sites listed in the first slice of this. @richardbporter can you take a look and double check that I created the backups correctly before I start removing any sites?

[2022-02-03 19:07] richardbporter commented on #4363
I checked a few random ones and can see the site code, SQL dump and files after downloading the zip file. I think as long as you remembered to pull files from prod env, they should be good. 👍🏻

[2022-02-03 19:46] briand44 commented on #4363
Thank you!!

[2022-02-03 19:50] bspeare opened #4750 "As a site owner, I can choose to visually hide the banner title in the banner block"
# Story

As a site owner, I can choose to visually hide the banner title in the banner block so that I can create content with a background image and text area only.

<img width="794" alt="Screen Shot 2022-02-03 at 1 47 48 PM" src="https://user-images.githubusercontent.com/1036433/152417975-2f8e2e1e-e503-4754-a74c-da7c5a60c9b0.png">

# Proposed solution
- [x] Make the banner title field not requir

[2022-02-03 19:51] pyrello commented on #4411
Running into an issue where config is being reported as different when running a site sync:
[code]

However, running `drush cex` reports no changes. The UI confirms that it is detecting changes, specifically the change in order of config properties that are ignored:
![Screen Shot 2022-02-03 at 1 47 06 PM](https://user-images.githubusercontent.com/709009/152417803-b554230f-67d5-4720-8b51-da958d169c

[2022-02-03 19:57] joewhitsitt commented on #1503
Bumping this issue https://github.com/uiowa/uiowa/issues/3666 (inline footnotes) as possibly related.

[2022-02-03 20:55] GaryRidgway commented on #4657
Thinking about the tabs here, how should we go about this? build them up from uids in to uids_base? i want to make sure we do this right but so far we have strayed from tabs, what is everyone's thoughts?

[2022-02-03 20:59] #4747 closed, assigned to nobody

[2022-02-03 21:26] richardbporter commented on #4411
I wonder if this could be removed? https://github.com/uiowa/uiowa/blob/46171986aac9e853a98f32ba387d0b7b006f279c/docroot/modules/custom/uiowa_core/uiowa_core.module#L16-L25

[2022-02-03 21:29] richardbporter commented on #4411
I should probably read my own comment. 🤦🏻

[2022-02-03 21:46] bspeare opened #4758 "Add photos and create layout sections/blocks on the 175 site then/now page"
Add photos (link below) and create layout sections/blocks on the 175 site then/now page: https://175.uiowa.edu/then-and-now.

Using the first two sections on https://175.uiowa.edu/then-and-now as an example, build out the remaining sections with the then and now photos.

https://iowa.sharepoint.com/:f:/s/osc/pvs/Eh-juQq_S2ZFuu8aGQF5I3kBpmbnlFwV4Xa19ZcSlipFoQ

[2022-02-03 22:00] richardbporter commented on #4411
Yea that is odd. Running `cim` doesn't seem to do anything either. It's like they are stuck.

[2022-02-03 22:08] richardbporter commented on #4411
I can get a `sync` to succeed by just ignoring all of `acquia_connector.settings`:
[code]

I think that would be ok to do for now if we wanted. I ran `blt drupal:install` and verified that `acquia_connector.settings` in `config/default` is created for a new site. I did get another config diff after that though:
[code]

[2022-02-03 23:01] Ambient-Impact commented on #4411
@richardbporter I'm seeing a similar thing on a site I manage that runs 9.3.x and [Configuration Split](https://www.drupal.org/project/config_split), and also happens to be with a filter format config - our staging site continually thinks one of our filter formats has changed, but it's just a different order of keys. That particular config isn't split off but in the main sync directory, so it's be

[2022-02-03 23:03] pyrello opened #4759 "UI Press - Implement tabs on book page"
Fields that will be individual tabs:

- Reviews/blurbs
- Contributors
- Table of contents
- Excerpt
- Awards

Fields are going to have to be placed in a view to allow placement as a single item in Layout Builder.

Tabs section will go before Related Reads in the book content layout.

- Implement tabs css and js from: https://github.com/uiowa/uids/pull/637
- Create a tabs library in `uids_base` lik

[2022-02-04 14:38] richardbporter opened #4760 "Allow non-admins to update entities authored by a blocked user"
# Problem
It is not possible to update entities authored by a blocked user: https://www.drupal.org/project/drupal/issues/2756271#comment-13787110

# Steps to reproduce
Block a user. Masquerade as a webmaster. Try to edit content or media authored by blocked user.

# Proposed solution
TBD

[2022-02-04 14:40] richardbporter opened #4761 "Media owned by canceled account is not assigned anonymous user ID"
# Problem
Deleting a user and making its content belong to anonymous does not work properly for media. That results in the media UID being null and throwing a WSOD when saving it.

# Steps to reproduce
Cancel an account and make its content belong to anonymous user. Masquerade as webmaster. Try editing and saving a media item that was owned by the canceled account. See WSOD.

# Upstream

https://w

[2022-02-04 14:42] joewhitsitt commented on #4760
Workaround: change author to active user during edit

[2022-02-04 14:43] joewhitsitt commented on #4761
Should the cancel operation even be available to webmasters if "blocked" is our recommended workflow?

[2022-02-04 14:58] bspeare opened #4762 "As a webmaster, I can move around sections within my page layout"
# Story

As a webmaster, I can move around sections within my page layout so that I don't have to recreate an entire section if it needs to be moved.

# Proposed solution

Once we update to 9.3, try https://www.drupal.org/project/drupal/issues/3080606?

[2022-02-04 17:00] benlewzz commented on #2396
Echoing what @mark-bennett-uiowa is saying, in almost all cases, we work with our content editors to add events to Content Hub. One recent case was when a partner wanted to upload ICS files to a website, we directed them to Content Hub, because:

- Puts the event into the most visible promotion spaces (Events Calendar, After Class, Arts Iowa, Iowa Now)
- Automatically includes the accessibility/ac

[2022-02-04 17:11] richardbporter commented on #3498
It doesn't look like the city websites allow webmasters to change site settings. So as long as we update the site mail to be a an address within the verified email domain, the reply_to module will work. I'll plan on doing that.

[2022-02-04 17:27] cory-skeers commented on #4685
Code review everything looks good. Planning on doing a test run. It does need to be split into multiple runs to work properly.

[2022-02-04 17:31] briand44 commented on #3172
Check with Admissions, if they don't need this we can close and revisit if another customer is looking for this.

[2022-02-04 17:43] briand44 commented on #2727
Check with Admissions.

[2022-02-04 17:45] briand44 commented on #2298
Admissions has this, we need to understand if there is a larger need for this for folks who would be using the local event solution.

[2022-02-04 17:47] bspeare commented on #2727
We would also need to figure out how this works with a date range and how the calendar icon display would adjust.  I think we did these mockups before the admissions event content type and series content type was completed, so we would need to revisit on how it would work with the date field for both content types.

[2022-02-04 17:50] briand44 commented on #2739
https://github.com/uiowa/uiowa/issues/3809

[2022-02-04 17:52] bspeare opened #4764 "As a webmaster, I can choose to have a block title for a menu block"
# Story

As a webmaster, I can choose to have a block title for a menu block so I can utilize the "Use as title" feature that the `menu_block` module provides and provide a block title for wayfinding visibility.

<img width="464" alt="Screen Shot 2022-02-04 at 11 40 31 AM" src="https://user-images.githubusercontent.com/1036433/152577821-b0683f21-3256-4ae6-b2a5-1fc96ed479d6.png">

# Proposed soluti

[2022-02-04 17:56] briand44 commented on #1607
Closing in favor of https://github.com/uiowa/uiowa/issues/3334

[2022-02-04 17:56] #1607 closed, assigned to nobody

[2022-02-04 18:05] joewhitsitt commented on #971
For the local event feature, we moved away from repeating dates for SEO and simplicity. Closing this.

[2022-02-04 18:05] #971 closed, assigned to mark-bennett-uiowa

[2022-02-04 18:05] pyrello opened #4765 "Transition event block into local events"
# Motivation

As part of an overall strategy to reduce duplication related to local events (event feature split, event block type), a plan has been put forward to transition from our current event blocks into local events.

# Proposed solution
* Move the event feature split into the default platform
* Change the event block type to reference a local event, possibly using an inline entity form styl

[2022-02-04 18:06] joewhitsitt commented on #1516
Is this still needed @pyrello ?

[2022-02-04 18:07] pyrello commented on #4765
As far as I can tell, there is no paragraph type in SiteNow V2 that is comparable to the event block in V3, so I don't think we would have to account for that.

[2022-02-04 18:09] joewhitsitt commented on #1689
With recent discussions, isn't our stance on these, "no?"

https://wiki.uiowa.edu/display/drupaldev/Embedded+Content+Decision+Tree

[2022-02-04 18:11] joewhitsitt commented on #4765
Rename block "Local event"?

[2022-02-04 18:47] pyrello commented on #1516
Nope.

[2022-02-04 18:47] #1516 closed, assigned to nobody

[2022-02-04 18:49] pyrello commented on #4657
I believe the best practice here is that they should open in the same window, since the user is not in the process of filling out a form that is in danger of being disrupted by unintentionally moving to a new page in the same window. Thoughts @mjoneill or @inspector508?

[2022-02-04 18:51] pyrello commented on #4657
Follow-up issues in uiowa/uids#629 and #4759.

[2022-02-04 19:11] richardbporter commented on #3498
Module and update hooks are in dev. Waiting for DNS verification to test Platform Email there.

[2022-02-04 20:17] pyrello commented on #4662
We would like to figure out a way of identifying source images that are too small so that we can generate a list for fixing them later.

[2022-02-04 20:18] pyrello commented on #4660
This is no longer needed.

[2022-02-04 20:18] #4660 closed, assigned to nobody

[2022-02-04 20:18] pyrello commented on #4663
We would like to figure out a way of identifying source images that are too small so that we can generate a list for fixing them later.

[2022-02-04 20:35] pyrello commented on #4657
Per the customer, we do not need to worry about the Google Books sections on the book pages from the old website.