[2022-03-29 15:07] joewhitsitt commented on #4662
sounds good. that didn't make it into the migration, so no action needed there.

This should be done. https://github.com/uiowa/uiowa/pull/4968/commits/0220b664ad3b1a00c0543905161bd3e9f771ca2f

Waiting for more clarity on PP., plates, indices

[2022-03-29 15:24] GaryRidgway commented on #5045
thank you Joe, i forgot to add that, appreciate it

[2022-03-29 16:42] joewhitsitt commented on #4623
symfony_mailer is still in alpha - plan for beta: https://www.drupal.org/project/symfony_mailer/issues/3267230 (fixed)

plan for stable release (shooting for March 2023): https://www.drupal.org/project/symfony_mailer/issues/3316214

[2022-03-29 16:47] richardbporter commented on #4577
We can only specify 5.7 as the ddev MySQL version which gets us 5.7.35. I'm assuming that will update as the containers are updated.

[2022-03-29 16:49] richardbporter commented on #4577
I pushed #5058 out to dev and did not notice any issues with existing sites there. I also did a fresh install for the default site on uiowa.dev. There were no database-related errors.

[2022-03-29 17:44] bspeare opened #5061 "As a developer, I can integrate the `accessible-menu` library into uids_base to use with our secondary menus"
# Story

As a developer, I can integrate the `accessible-menu` library into uids_base to use with our secondary menus

In order to unblock https://github.com/uiowa/uiowa/issues/4823, this work needs to be done.

# Proposed solution

- Work with https://github.com/NickDJM/accessible-menu/pull/168 that is in https://github.com/uiowa/uiowa/pull/4956.
  - There are a series of checkboxes on the `acces

[2022-03-29 17:47] bspeare commented on #4823
Adding the blocked label to this until https://github.com/uiowa/uiowa/issues/5061 can be completed.

[2022-03-29 18:24] briand44 commented on #5007
Does something need to happen with search. Can CSE search if it is a non uiowa domain?

[2022-03-29 18:25] GaryRidgway commented on #5007
I think a good first step for using html/:root variables is creating a proof of concept in uids to show that we can change the color with JS. Making notes of problems along the way and discerning the viability of that approach is important to note.

[2022-03-29 18:31] joewhitsitt commented on #5007
@mjoneill i was wondering if we could think about just not allowing a replacement logo and just hiding the block iowa in the header/footer. for branded websites the policy is no alternative logos. could we use that in a way to say "no logo for you?"

i am asking this not knowing the technical difference between supporting alternative logos versus just hiding the part of the header.

[2022-03-29 18:33] briand44 commented on #3329
Closing this since customer hasn't let us know if this is still an issue. We can re-open if we hear it is still a problem.

[2022-03-29 18:33] #3329 closed, assigned to nobody

[2022-03-29 19:38] joewhitsitt commented on #4971
Anyone figure out how to test a local URL with your device? Does BrowserStack work for this?

Quick Google search leads me to believe that something changed in iOS14 that might not be sending the vtt over to the full-screen native player. 🤷

[2022-03-29 19:54] bspeare commented on #4971
Browserstack does seem able to test this.

[2022-03-29 21:50] cory-skeers opened #5062 "Investigate allowing "itms-services://" protocol in links"
# Story

As a content editor, I would like to add links using the `itms-services` protocol so that I can share university-sponsored iOS app downloads on my site.

"I was asked to add a new page onto the USS website.  That has been done: https://university-shared-services.fo.uiowa.edu/protrav-mobile-application

There is one problem:  Under “Installation Instructions” next to “Apple devices”, “down

[2022-03-30 14:03] #4713 closed, assigned to bspeare

[2022-03-30 14:08] pyrello opened #5064 "Add contrib Aggregator module when switching to Drupal 10.x"
Per https://www.drupal.org/node/3267461, the aggregator module is being removed from Drupal core in 10+ and its functionality is being moved into a contrib module: https://www.drupal.org/project/aggregator

[2022-03-30 14:18] joewhitsitt commented on #5062
If this is a one-off need for one-site, maybe we could create a block/field/piece of markup for this site that would get around these restrictions

[2022-03-30 15:04] briand44 commented on #5059
I reached out to the contacts with questions before we can move forward on this. Blocking until we hear back.

[2022-03-30 16:12] joewhitsitt commented on #4976
We can move forward with this, but locations should be displayed below the title instead of the comma-separated.

Abbreviations aren't needed

[2022-03-30 16:14] joewhitsitt commented on #5003
Use default field content for Student Responsibilities text. TBD.

[2022-03-30 16:24] briand44 opened #5065 "Update print button text on Admissions Kiosk page"
When an area of study is checked, a button is displayed that says "Print PDF". Admissions would like this changed to just say "Print".

https://admissions.uiowa.edu/kiosk

[2022-03-30 16:33] briand44 commented on #4740
Evidently we used the wrong image here. I believe the image they want is the same that is being used on https://admissions.uiowa.edu/academics/human-rights

[2022-03-30 17:16] mark-bennett-uiowa opened #5066 "Provision iywp.org site for CLAS."
Provision iywp.org as a new Drupal 9 site for CLAS. The domain was purchased and administered through BlueHost years ago. It is already setup to point to the Acquia LB at 54.163.225.50 and use the UICLAS application, so we shouldn't have to adjust this in BlueHost.

![Screen Shot 2022-03-30 at 12 14 45 PM](https://user-images.githubusercontent.com/3067017/160896469-a5b6e5aa-d150-41e6-b203-1c186b76

[2022-03-30 18:11] #2576 closed, assigned to pyrello, GaryRidgway

[2022-03-30 19:51] GaryRidgway commented on #5007
[I whipped up a quick example of how this might work](https://codepen.io/purple_salmon/pen/rNpzdMw)

[2022-03-30 20:13] richardbporter commented on #4740
My bad. This will need to be an update hook now, iterating all AoS, checking if the featured image equals FID 16 and updating it to the new photo if so. The new photo must exist in prod as a media item if it does not already.

[2022-03-30 20:18] joewhitsitt commented on #4740
Can we just replace the media file using the overwrite replace functionality and clearing all of the caches?

[2022-03-30 20:20] richardbporter commented on #4740
Ah yes maybe. It could be in use in other places besides AoS though. If they're ok with that, it'd be much faster.

[2022-03-30 20:37] briand44 commented on #4740
Should we reach out in the admissions slack channel to see if they'd be ok with that approach or are we looking at usage to see if it is used in other places?

[2022-03-30 21:16] briand44 commented on #4976
Updated the IS with a link to field info provided by Admissions.

[2022-03-30 21:18] briand44 commented on #5003
Updated the IS with a link provided by Admissions with field info.

[2022-03-31 13:14] mjoneill commented on #5007
I like the thinking behind this, and would encourage us to consider all alternatives.

Partners who need an off brand theme will likely need a mechanism to express their logo/identity mark at the top of each page.  I articulated a possible solution for that as "logo swap" in the current mechanism...but if there is an alternative path that is more appropriate, let's explore it.  Ideas?  @bspeare ?

[2022-03-31 13:29] bspeare commented on #5007
@mjoneill can you provide some potential sites that will be using this off-brand theme?  It would be nice to use one of their logos as we are working through this spike.

[2022-03-31 13:37] #4849 closed, assigned to makurj

[2022-03-31 13:37] #4977 closed, assigned to makurj

[2022-03-31 14:00] mjoneill commented on #5007
- https://iexplorestem.org/
- https://iowalionseyebank.org/
- https://iowareadingresearch.org/
- https://neuronext.org/
- https://wirrc.org/
- https://iae.education.uiowa.edu/
- https://iowateacherintern.org/
- https://www.humanitiesiowa.org/

@bspeare

[2022-03-31 14:28] cory-skeers commented on #1931
Capturing extra notes:

- There were (and may still be) examples of this in use on Admissions
- Previously this has been discussed in relation to adding a blockquote block as well, which has since been added. Similar use case and setup, different content

[2022-03-31 14:45] joewhitsitt commented on #4662
Looks like we got a response from the customer to migrate content as-is and they will separate things out over time:

- Create a new temp field that displays in the same way as the three separate fields?
- Map migration to one of those fields could work if the render labeling could be more generic.

Thoughts @pyrello?

[2022-03-31 15:08] briand44 commented on #4935
Looks like this is already available. We should get feedback from Registrar on this before closing.

[2022-03-31 15:24] briand44 opened #5068 "Enable uiowa_maui for Office of the Registrar"
I would like to enable uiowa_maui for registrar.prod.drupal.uiowa.edu so that they can use https://github.com/uiowa/uiowa/issues/4935 and allow them to test/use additional MAUI features as they become available.

[2022-03-31 15:56] briand44 commented on #2234
Housing is interested in this.

[2022-03-31 15:57] briand44 commented on #2234
Removed good first issue label because this will likely being pulling information and displaying from HR

[2022-03-31 16:13] bspeare commented on #5007
Edit: The logo swap in the block Iowa section doesn't look that great.

<details>
<img width="1482" alt="Screen Shot 2022-03-31 at 11 05 48 AM" src="https://user-images.githubusercontent.com/1036433/161101134-a15c0f0e-0a91-4860-a1ea-64891286fd22.png">
<img width="1483" alt="Screen Shot 2022-03-31 at 11 07 34 AM" src="https://user-images.githubusercontent.com/1036433/161101136-add0dd00-26ec-4211-a8

[2022-03-31 16:19] pyrello commented on #5007
Creating this feature likely means having to set up SiteNow/theme configuration options that we would not want to be available on most sites. These sites are going to need to use a mechanism similar to how intranet sites are set up. We would enable this feature for relevant sites (rather than allowing them to opt in on their own).

We solved for this in the intranet feature by using a generic sear

[2022-03-31 16:23] briand44 commented on #5007
As far as search goes, I think we want to understand limitations for Google CSE before going a different route. Some of these sites are currently using Google CSE

[2022-03-31 16:27] joewhitsitt commented on #5007
If they currently have a separate CSE id which I most of the above do, we should be able to repurpose it.

[2022-03-31 16:46] GaryRidgway commented on #5007
@bspeare and I were talking over other options for this and we pondered up the solution of putting the logos in the Sitename section below the top yellow bar. [For context, we are talking about the portion on this page where it says "Site Name".](https://uids.brand.uiowa.edu/components/detail/iowa-bar--site_name_below.html)

<details>
<summary> Here are a few examples of this in action.</summary>

[2022-03-31 17:15] briand44 opened #5070 "Living Learning Communities (LLC)"
# Story

As a Housing site owner, I would like to display information about LLC's at the University of Iowa so that students can have all the information they need to choose an LLC that relates to them so they can build relationships with others having similar interests and enhance their resident hall experience.

# Additional Information
They are pretty happy with what they currently have https:/

[2022-03-31 17:43] briand44 opened #5071 "MAUI course autocomplete field"
The current D7 uiowa_maui module provides an autocomplete field that can be configured for a specific session and allows entering a course name for that session and will return course information for the specified courses. This is needed for SiteNow v3. An example of this field can be seen on the Living Learning Communities content type on the housing site https://housing.uiowa.edu/admin/structure

[2022-03-31 17:53] pyrello commented on #5007
If we are only talking about ~10 sites, then it might be worth considering whether we need to build a system for overriding theme settings at all. It might make more sense (and take less time) to just work on each of these sites as custom one-off, providing a site split for each one and a corresponding custom module that would provide theme overrides. It seems like the issue above about swapping i

[2022-03-31 17:55] briand44 commented on #5007
The list above is not exhaustive but yes, we are only referring to a fairly small number of sites.

[2022-03-31 18:32] pyrello commented on #4662
@joewhitsitt I replied to the customer to clarify, but I think your first solution above probably makes the most sense.

[2022-03-31 18:33] joewhitsitt commented on #4976
going to see how far i can get without a fresh db from prod.

[2022-03-31 20:23] pyrello commented on #3567
I want to pair on this.

[2022-03-31 20:23] pyrello commented on #5007
I'm interested in pairing on this.

[2022-03-31 20:54] briand44 commented on #1931
Scope to just image at least for now.

[2022-03-31 20:54] briand44 commented on #1931
Headline?

[2022-03-31 20:58] quamsta commented on #1931
as a sidenote: despite my opinions on keeping the two blocks (Image and Image Gallery) separate, I think it may be worthwhile to adjust the way Image Gallery is rendered if there's only a single image in its gallery in order to accommodate people who may have used it in the past.

[2022-03-31 21:00] pyrello commented on #1931
In SNv2, I believe there is the possibility of creating a card that is just an image. So, this task will be relevant in #1976 because we were previously going to be moving the cards that met those conditions into text areas.

[2022-03-31 21:00] GaryRidgway commented on #5007
I would also like to be involved if at all possible

[2022-03-31 21:27] richardbporter commented on #4740
This is done.

[2022-03-31 21:27] #4740 closed, assigned to richardbporter

[2022-04-01 13:21] briand44 opened #5072 "Ability to limit number of upcoming deadlines displayed"
As an editor using the MAUI upcoming dates feature, I would like to limit the number of items displayed, so that I can place a limited number of items on the homepage of my site and link to another page or the Registrar's website for additional upcoming dates.

[2022-04-01 14:00] #4577 closed, assigned to richardbporter

[2022-04-01 14:56] GaryRidgway commented on #5007
Talked to @pyrello today after standup about what this probe might look like. We decided that it would be a good path forward to create a module that would cover all of the necessary things to modify a website, and then document discoveries about it as we go. We also decided that we wanted to do daily checkins so that we aim the probe over time and don't invest too hard in one direction or another

[2022-04-01 15:00] pyrello commented on #5007
Intended deliverable is a list of customizations we will need to make and our proposed solution for each one. The hope is that we can then evaluate whether applying those customizations per site or building a system to handle it makes the most sense.

[2022-04-01 15:46] bewoldt opened #5073 "Add a caption element to card images"
# Story
As a site editor I can add a caption to a Card image so that I can show additional information about an image.

# Additional information
In the context of the Stanley Museum, the caption content would be different than the alt text and would be used to display an art pieces information. The Global caption field could be an option to use for this attribute content.

One option would be to a

[2022-04-01 15:57] bewoldt commented on #5073
Additionally this could be used to display photography credits.

[2022-04-01 15:58] cory-skeers commented on #4812
Planning on running this in prod Tuesday (April 5) eod.

[2022-04-01 16:40] briand44 commented on #5059
YES

If it is a chore, that is not necessary. If it is easy, sure, bring them over.
Lets plan to migrate these tags (bdickey)

I would prefer the stories on the new site stay since they have been formatted already.

YES

Would it be OK if you made a recommendation and we follow that suggestion?

I'm getting more clarification on how they intend to use "featured" (bdickey)

If I understand this cor

[2022-04-01 17:47] pyrello commented on #4662
I think I am going to work on this again.

[2022-04-01 19:19] pyrello commented on #2823
I'm wondering if we should consider creating this as a block instead of a content type.

[2022-04-01 19:46] pyrello opened #5083 "Create a way for sites to turn on optional features"
# Story

As a site owner I want to be able to turn on optional features so that I don't have to wait for a developer to do it.

## Motivation
There are some features that we mainly don't want to turn on for everyone because they would add unnecessary cruft or features that the site owner is unlikely to need. However, we have some optional features for which there is no real reason why sites could

[2022-04-01 19:52] richardbporter opened #5084 "SiteNow updates news article - April"
## Issue/Solution ##
Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  * See the previous month's article as an example.
  * Bulle

[2022-04-01 19:53] richardbporter commented on #4893
Communication sent. New issue: https://github.com/uiowa/uiowa/issues/5084

[2022-04-01 19:53] #4893 closed, assigned to richardbporter

[2022-04-01 19:56] joewhitsitt commented on #5019
"It’s not called the wheel, it’s called the carousel. It lets us travel the way a child travels - around and around, and back home again, to a place where we know are loved.” - Don Draper

[2022-04-01 20:10] #5065 closed, assigned to e-marie-w

[2022-04-01 20:21] briand44 commented on #5084
https://sitenow.uiowa.edu/news/2022/04/updates-april

[2022-04-01 20:51] pyrello commented on #4750
After another discussion on the subject, here is where we have landed for now:
* We will require link text if the title is empty. We might be able to handle this on the form with `#states` as `required` is a property that can be controlled that way.
* We'll need to add some validation logic to provide a form error should they somehow make it past our browser validation.
* We may want to consider a

[2022-04-01 20:56] pyrello commented on #4823
@bspeare What additional work is going to occur here when #5061 is completed? Would you still consider this blocked? Or should this proceed alongside that issue?

[2022-04-01 21:01] bspeare commented on #4817
I updated the proposed solution for this after our meeting today.   @pyrello @briand44 @joewhitsitt - Do you see anything that needs to be added or removed?

[2022-04-01 21:07] bspeare opened #5086 "As a site owner, I can adjust the button style on the banner block"
# Story

As a site owner, I can adjust the button style on the banner block

# Proposed solution

In `uids`:
  - Use https://github.com/uiowa/uids/pull/681 as a starting point.
  - Test out the button classes in the `banner_link_classes` in UIDS.

In `uiowa`:

- [x] Add a new "Button style" layout builder style grouping `/admin/config/content/layout_builder_style/group` to the banner block under "

[2022-04-01 21:11] briand44 commented on #4817
@bspeare

Maybe we should note the link to source ability here?

I feel like this may be out of scope for Tippie considering time constraints.

Sounded like this would be a requirement.

[2022-04-01 21:12] bspeare commented on #4817
Great points! I will update the solution.

[2022-04-01 21:15] bspeare commented on #4823
This should proceed alongside that issue.

[2022-04-01 21:21] briand44 opened #5087 "Residence Halls"
# Story

As a Housing site owner, I would like to display information about Residence Halls so that students can get all the information they need about each specific location.

# Additional Information
They are pretty happy with what they currently have https://housing.uiowa.edu/residence-halls. Need to be able to display all residence halls similarly to how they are currently with the ability to

[2022-04-04 13:24] #4835 closed, assigned to nobody

[2022-04-04 13:58] quamsta commented on #5057
Thinking about scoping this issue to only in the taxonomy lists that appear when clicking on a tag.

[2022-04-04 14:10] quamsta commented on #4208
Example TikTok embed code that's provided by TikTok in case we need to investigate alternate routes/allowing iframes, script tags or other elements and attributes:

[code]

[2022-04-04 14:40] briand44 opened #5088 "Identify unused dev/stage db's for cleanup"
Outdated db's in dev/stage environments can cause errors during deployments. We should only keep what is actively being worked on or that we regularly use for testing.

https://iowaweb.slack.com/archives/C0164FNN1PV/p1648826680940609

Related issue #3674

[2022-04-04 14:40] joewhitsitt commented on #4208
darn, is there just an iframe option without the additional JS?

[2022-04-04 15:07] quamsta commented on #4208
Not really. It's technically possible to get the generated iframe that's built via that embed.js script and place it back in CKEditor's view source mode, but that's a pretty big ask for the content editor.

[2022-04-04 15:11] joewhitsitt commented on #4208
Then the "allow this iframe domain" approach is not going to work for TikTok :(

[2022-04-04 18:25] joewhitsitt commented on #4863
Created a draft for documentation https://sitenow.uiowa.edu/node/326/latest

[2022-04-04 20:42] pyrello opened #5091 "UICB - How to export images for a set of content types?"
Big Slider, Homepage slide, Image, Photo of the Week, and Store Items.

[2022-04-04 20:42] pyrello commented on #4901
We have capacity, so we are going to migrate these by hand.

[2022-04-04 20:43] #4901 closed, assigned to nobody

[2022-04-04 20:43] JKurtzlebenUI commented on #4954
One other item we had a request for to possibly add to this forms request: Can we suppress of display of character limit for standard text fields? Almost all of our marketing form fields will end up displaying the character limit because they go to salesforce where character limits are set on every field, so we set it on the form when we build it.

Makes more sense on the text area than the text f

[2022-04-04 21:28] mark-bennett-uiowa commented on #5066
- Provisioned this site on uiowa02 this afternoon.
- Created the org-iywp.prod.drupal.uiowa.edu domain on the prod environment (modeled after the iowajpec.org entry).
- Attempted to create a new SSL cert for uiowa02, but the www.iywp.org domain was unvalidated.
- Submitted a HTTPS DCV order through InCommon for the domain, but still waiting for Validated status.

[2022-04-04 22:01] joewhitsitt commented on #5066
I didn't see a PR for this. Is it still on your local?

[2022-04-04 22:02] mark-bennett-uiowa commented on #5066
Yes, Ill push it up right now. #5092

[2022-04-04 22:11] mark-bennett-uiowa commented on #5066
I cannot create a new SSL certificate that includes the www.iywp.org or *.iywp.org SANs for some reason. uiclas has iywp.org and *.iywp.org in their SSL cert, and has been working for some time. I am in contact with Hostmaster looking for answers.

[2022-04-05 13:33] briand44 opened #5093 "Implement structured JSON-LD for directory profile people"
The Directory profiles team has an endpoint that includes structured JSON-LD `{{host}}/api/people/{{slug}}/structured?api-key={{dentistryKey}}`

Place in script element with type attribute `application/ld+json`

[2022-04-05 13:53] briand44 commented on #4299
International is requesting we take a second look and review the site from a content and design perspective now that they have made a lot more progress on content and are close to launching.

[2022-04-05 14:21] pyrello opened #5095 "Disable lazy images for CI"
Percy is still struggling with lazy loaded images. https://docs.percy.io/docs/capturing-lazy-loading-images

[2022-04-05 15:29] joewhitsitt commented on #5088
Here is what I got for uiowa:

[code]

[2022-04-05 15:33] pyrello commented on #5095
If we are still using the `lazy` module, there is a `lazy.settings:disabled_paths property` that we could possibly force to be set to all paths (*) when on CI via settings.php

[2022-04-05 15:34] joewhitsitt commented on #5088
Here is what I got for uiowa01:

[code]

[2022-04-05 15:40] joewhitsitt commented on #5088
Here is what I got for uiowa02:

[code]

[2022-04-05 15:48] joewhitsitt commented on #5088
My guess is that there are no dbs on uiowa03 for DEV and STAGE.

[2022-04-05 16:32] joewhitsitt commented on #4812
I have read through the issue and looked at the previous related PRs. Though I think I am comfortable running this in Cory's absence, a release needs to be deployed before this can happen.

[2022-04-05 16:33] briand44 commented on #4812
Can we create a release then?

[2022-04-05 18:02] joewhitsitt commented on #1931
Personally, I think if this is going to be addressed, that a separate block would be best for single image/icon content instead of trying to utilize the image gallery block. I could get behind an image-only card but that is a lot more complexity to an already complicated block.

[2022-04-05 18:28] briand44 commented on #4817
1st slice. Identify fields based on conversations with stakeholders (Grad, Tippie, Admissions, CLAS?)

[2022-04-05 18:37] bspeare commented on #1931
A separate block with image/icon capability sounds good.   Would we offer the ability for image sizes/circle styles to be set?  @joewhitsitt what would an image-only card look like?

[2022-04-05 18:55] briand44 commented on #1931
Block that allows adding a single image, choosing image style, optional link which requires a title if linked.

Caption, media block, icons, social media all things that could be considered down the road.

[2022-04-05 19:03] joewhitsitt commented on #5059
Just to note there are less than 2 content overview pages (<100) of news items that are newer than 2019.

[2022-04-05 19:04] joewhitsitt commented on #5059
It sounds like Tippie doesn't consider this a high of priority as their launch.

[2022-04-05 19:31] pyrello commented on #4817
Here is what I could find so far: https://iowa-my.sharepoint.com/:w:/g/personal/sadamshiett_uiowa_edu/EaRxQxCwci1CrrDDU-TT95MBYnl9JJ9kfkhBKzxmm6EVKA

[2022-04-05 19:38] joewhitsitt commented on #4812
Deployment done. Planning on starting after 3:30. Customer has been contacted. Thanks Brian!

[2022-04-05 19:40] richardbporter opened #5097 "As a developer, I can assume access control is not broken if CI tests pass."
# Story

As a developer, I can assume access control is not broken if CI tests pass.

# Proposed solution

Write automated tests covering the functionality in the sitenow profile. Specifically:
- As a webmaster, I cannot create an administrator account.
- As a webmaster, I cannot edit an existing account and change the role to administrator.
- As a webmaster, I cannot escalate an existing account

[2022-04-05 20:27] joewhitsitt commented on #4632
Has this happened recently?

[2022-04-05 20:33] richardbporter commented on #4632
Not that I know of.

[2022-04-05 20:50] pyrello commented on #4662
Just discovered another issue that will need to be dealt with. The old site used a filter (e.g. `[bg|1983]`) that pulled all the images from another field and displayed them in a text area. How to deal with these images has not been accounted for yet. I have emailed the customer to see how she would like to proceed.

[2022-04-05 21:05] e-marie-w commented on #4662
Is this how the file attachments end up between the reviews and the summary, like on [https://www.uipress.uiowa.edu/books/9781587298035/enchanted-by-prairie](https://www.uipress.uiowa.edu/books/9781587298035/enchanted-by-prairie)? I think they can be migrated to the Interior Images field.

[2022-04-05 21:12] richardbporter commented on #5095
I jumped on this in #5098 because we're almost out of snapshots for this cycle. It appears to work!

[2022-04-05 22:13] joewhitsitt commented on #4812
Migration seemed to be going well. There were a couple errors and warnings along the way:

`[error]  Unknown format: 0x300`

`[warning] Invalid argument supplied for foreach() NestedArray.php:327`

`[warning] strlen() expects parameter 1 to be string, array given PelEntryAscii.php:101`

`[error]  Invalid marker found at offset 0: 0x52`

`...not enough reclaimed, starting new batch`

Then, muscle m

[2022-04-05 22:30] pyrello commented on #4750
I made an attempt at getting the `#states` option to work, but I was not able to figure it out. Seems like it is probably good enough without that.

[2022-04-06 02:31] #5095 closed, assigned to richardbporter

[2022-04-06 02:44] pyrello commented on #3614
We could run an update hook to convert image styles that weren't intended for V3 but snuck in based on the above change that @joewhitsitt discussed. As indicated, this would be similar to what we will need to do when we finally convert the remaining V2 sites to V3. It could be a trial run and probably the code could be reused.

[2022-04-06 13:02] cory-skeers commented on #4812
Can at least add some context for a few of these.

These should both be different versions of the same error, where an image is labeled as one format, but is actually another (eg a .jpg that is actually a PNG). The error gets thrown, but everything works fine, because the systems are smart enough to work with what the file actually is. Mostly it's interesting to see how many mislabelled files are

[2022-04-06 13:34] #5056 closed, assigned to nobody

[2022-04-06 13:52] richardbporter commented on #4812
I can replicate this locally and will work to debug.

[2022-04-06 14:07] bspeare commented on #5007
@GaryRidgway Do you want to post a link to your Google doc here and then close the issue?

[2022-04-06 14:09] #5007 closed, assigned to GaryRidgway

[2022-04-06 14:12] GaryRidgway commented on #5007
[Here is the writeup that I have created!](https://docs.google.com/document/d/1rc4S0CX08DIc1ZMbW6x1OMPb77aCTIgQTVDUVHmQxPE/edit?usp=sharing)

[2022-04-06 15:09] richardbporter commented on #4812
The error is caused by `$revision_id` being `NULL` because `$component['configuration']['block_revision_id']` is not set in some cases: https://github.com/uiowa/uiowa/blob/ca5999eb2c9ca54d37e40710993153d93e17d2cb/docroot/sites/international.uiowa.edu/modules/international_migrate/src/Plugin/migrate/source/Articles.php#L302 This means the block cannot be loaded and the `save()` method does not exis

[2022-04-06 15:14] briand44 commented on #2234
Sounds like this info is now stored in MAUI and IDW. Want to chat about if this path forward (pulling from a central source) makes sense or if there are concerns about possible people not in these sources. If we agree this is the path forward is there a source that makes sense, IDW vs MAUI or do we need additional info to determine that?

[2022-04-06 15:18] briand44 commented on #5083
just throwing some features out here for consideration.

uiowa_maui
profiles/spotlight - once we have this
areas of study

[2022-04-06 15:24] #4750 closed, assigned to nobody

[2022-04-06 15:37] makurj opened #5101 "As a site editor, I would like to see who edited a page last and when"
# Story

As a site editor, I would like to see who edited a page last and when on the content overview page instead of having to go into each page's revisions. This feature is currently available on Tippie's D7 site.

![image](https://user-images.githubusercontent.com/52135878/162013358-432b046c-ab7e-49a0-a22e-1b83f603ae97.png)

[2022-04-06 15:41] makurj opened #5102 "As a webmaster/editor, when I replicate a page, the author for the page doesn't update to me"
# Problem
User A creates a page. User B replicates it. The replicated page still says the author is User A on the content overview page.

# Steps to reproduce
https://tippie.prod.drupal.uiowa.edu/business-analytics-parttime/request-info
Original page created by angel2, replicated by lfine. Author is still listed as angel2 on content overview.

![image](https://user-images.githubusercontent.com/521

[2022-04-06 16:02] joewhitsitt commented on #5102
One could argue you aren't the author and this is working as designed. We currently limit what content types can modify the author. Maybe we just open this up now so that it can be changed before save.

[2022-04-06 16:25] pyrello opened #5103 "Revisit the logic with menu settings"
# Problem
For some reason we (I) decided to make this change: https://github.com/uiowa/uiowa/commit/96ff285081ded5963c346af7940986e108f3d4bf. However in testing this out on the Grad College site, the logic that sets the initial visibility level to 1 seems to cause the menu to not behave as expected. Instead I have the setting "Initial visibility level will be" set to "Children of active menu item"

[2022-04-06 16:32] #4976 closed, assigned to joewhitsitt

[2022-04-06 17:05] joewhitsitt commented on #4863
Looks like there are some upstream issues related to validating media library uploads:

https://www.drupal.org/project/drupal/issues/3008292

https://www.drupal.org/project/drupal/issues/3016649

It would be nice to fix this in the short term by using the patch from 3016649 while we wait for 3008292 but we should probably discuss.

[2022-04-06 19:12] joewhitsitt commented on #4632
https://www.drupal.org/project/drupal/issues/2984232

This was brought up in Higher-Ed Drupal as possibly being related to our previous issues with missing [plugins](#4500 )/[layouts](https://github.com/uiowa/uiowa/issues/3585). This is the only one still open so I am posting it here.

[2022-04-06 19:44] joewhitsitt commented on #4812
@bdickey Rick created a hotfix that we believe fixes the issue we encountered yesterday. We need to deploy it and then restore the db to yesterday before we try running the migration again. Because the images are already there, we plan to run it without batching.

[2022-04-06 19:53] joewhitsitt commented on #4812
I want to note that there are image duplicate issues on the current d7 website (including duplicate media ids 👀 ). Though the image duplicates seem to be carried over as it relates the articles they are attached to, they are getting separate media ids this time around and should be easier to deal with if we need to clean them up in the future. D7 = ~400 pages of media, D9 = ~74 pages of media. Sho

[2022-04-06 20:02] bspeare commented on #3486
We could override [this](https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/scss/components/form/forms.scss#L125-L158) for `.webform` in `webform.scss` doing something like:

[code]

We would need to make sure that everything within `.webform-flex--container` still displays with a 100% width for webform layouts.

[2022-04-06 20:11] joewhitsitt opened #5106 "Accordions - Role not inside the required context"
## Problem

SiteImprove is flagging our accordions with "Role not inside the required context" related to the `role=tab` attribute.

Lighthouse is also flagging this and pointing to these:

https://web.dev/aria-required-parent
https://web.dev/aria-required-children

## Proposed Solution

- Investigate why it is being flagged given that we have `role=tablist` wrapper. Too much separation in nesting

[2022-04-06 20:15] briand44 commented on #4812
Good to note. I vaguely remember issues from years ago that could be related to this. Good to see there are not 400 pages of media!

[2022-04-06 20:16] joewhitsitt opened #5107 "Banners - Contrast ratio being flagged"
## Problem

Siteimprove is kinda dumb when it comes to inspecting contrast ratios. No offense. It is looking beyond our gradients and suggesting the text and background color are the same:

Text color:
#151515 / RGB (21, 21, 21)
Background color:
#151515 / RGB (21, 21, 21)

This is being reported on the banner component, slider component, cta and likely others.

# Siteimprove info

**Technical doc

[2022-04-06 20:20] briand44 commented on #5106
Can we remove this card in blocked/waiting now that we have an issue for this? https://github.com/orgs/uiowa/projects/1#card-76793651

[2022-04-06 20:21] briand44 commented on #5106
Thanks for creating this by the way!

[2022-04-06 20:21] joewhitsitt commented on #5106
Ah.. I thought it looked familiar. Yes

[2022-04-06 20:24] briand44 commented on #5106
Example

https://teachonline.uiowa.edu/resources/new-semester-icon-setup
This was mentioned in the #redesign-teachonline channel

[2022-04-06 21:12] mark-bennett-uiowa commented on #5066
SSL certificate has been updated on uiowa02 to include iywp.org. The *.iywp.org and www.iywp.org domains will be removed by Warren Staal, as they are unnecessary and causing headaches with DCV. SSL certificate is in place and appears to be working on uiowa02. Site has been installed and ready for content creation. Thanks to everyone for the assistance in this little nightmare!

[2022-04-07 14:17] pyrello commented on #5066
@mark-bennett-uiowa Can this be closed?

[2022-04-07 14:18] #5066 closed, assigned to mark-bennett-uiowa

[2022-04-07 14:18] mark-bennett-uiowa commented on #5066
@pyrello yes, just did, ty.

[2022-04-07 14:31] cory-skeers commented on #5102
I think that's a great short-term solution, or maybe all that's needed.

I think if we alter replicate to update the author, it should be a toggle option. Depending on the idea of 'author', I could see wanting the original page's author to remain sometimes, and sometimes the replicator. We're also already editing the confirmation form, so adding a toggle is a small lift, and then an extra value up

[2022-04-07 14:52] joewhitsitt commented on #2234
I think we had a good discussion in standup this morning about this and it has altered my opinions about this.

- If it was a text field locally, then this personal information that not everyone chooses to share publicly, could be different from site to site, incorrect based on assumption by an editor or out of date. If it was controlled locally, we should display contact information on these node

[2022-04-07 15:19] joewhitsitt commented on #4863
I am going to try the patch from https://www.drupal.org/project/drupal/issues/3008292

[2022-04-07 15:29] richardbporter opened #5108 "Mismatched entity block_content.field_uiowa_headline"
# Problem
The status report page is currently reporting the following problem:
[code]

# Steps to reproduce
Go to the status report page.

# Proposed solution
TBD.

[2022-04-07 16:42] bspeare opened #5109 "Color contrast issues with `views-exposed-form`"
# Problem
As @joewhitsitt noted in https://github.com/uiowa/uiowa/pull/4479#issuecomment-1091938819, the views exposed form has color contrast issues with the form labels.

# Steps to reproduce
Add `bg--black` to a surrounding `div` on https://sandbox.prod.drupal.uiowa.edu/sandbox-people.

# Proposed solution
- Remove fixed background color in https://github.com/uiowa/uiowa/blob/main/docroot/theme

[2022-04-07 18:08] quamsta commented on #2234
I think there should be an option to link individual local persons to their directory profiles if available. There are plenty of departments, committees, councils, and other groups on campus with websites that have listings of members whose membership in the group may not be reflected in MAUI or IDW, but those members may have HawkIDs, names, and pronouns in the system.

Those local/directory hybr

[2022-04-07 20:08] #4812 closed, assigned to richardbporter, joewhitsitt, cory-skeers

[2022-04-07 22:04] bspeare opened #5110 "Banner button link regression"
# Problem

The recent banner link title update has caused a regression that is outputting an empty button.

<img width="695" alt="Screen Shot 2022-04-07 at 5 00 10 PM" src="https://user-images.githubusercontent.com/1036433/162326933-b4f4b56b-17ed-466e-aa72-086be31db206.png">

# Steps to reproduce

https://translation.uiowa.edu

# Proposed solution

Revisit template logic so that link button does n

[2022-04-08 13:33] #4863 closed, assigned to joewhitsitt

[2022-04-08 17:37] e-marie-w commented on #5003
Just realized I never checked - were we thinking taxonomy term for this, or something else?

[2022-04-08 18:03] joewhitsitt commented on #5003
I was thinking content type for majors and that we would require a single community college and a single area of study which would become basis for the content type's title and the URL path (using a pre_save function similar to person). This would allow us to group all of the results for an area of student as well as all of the results for a community college.

[2022-04-08 18:16] e-marie-w commented on #5003
Oh cool, that pre_save function to make the title sounds awesome! And the content type does sound like a better fit. I can delete that taxonomy PR then.

[2022-04-08 18:19] e-marie-w commented on #5003
Would you be interested in pairing on this?

[2022-04-08 18:21] joewhitsitt commented on #5003
I am interested in this work, but focusing on other things at the moment. Maybe you can catch me up on Monday

[2022-04-08 19:29] pyrello opened #5114 "Create SSL cert entry for https://iibi.uiowa.edu on uiowa03"

[2022-04-08 19:34] #5110 closed, assigned to nobody

[2022-04-08 19:40] richardbporter commented on #5053
Looks like Purge was updated as part of #4942: https://github.com/uiowa/uiowa/pull/4942/files#diff-f37acfaa6b11f575a9a6f41a75fa73a61d0f8ebc2c9b8cddc215d8aca10e44f5R9221

I had moved purge to default config way back in https://github.com/uiowa/uiowa/pull/1795#issuecomment-652005183 with the idea of getting Varnish working locally. However, even that won't solve this error in all situations:
https:/

[2022-04-08 19:53] pyrello commented on #4662
@e-marie-w Sorry I didn't see this before. Allison just confirmed what you were recommending. This is unblocked again.

[2022-04-08 20:10] joewhitsitt commented on #4299
<img width="814" alt="Screen Shot 2022-04-08 at 3 01 21 PM" src="https://user-images.githubusercontent.com/4663676/162519342-c14e9dbe-885e-4d96-8af4-cffecedb443b.png">
Noticed this A-Z list nolink in the footer

[2022-04-08 20:28] richardbporter commented on #5053
I think https://github.com/uiowa/uiowa/pull/1795#issuecomment-652005183 is ultimately what we want. However, given the d.o issues referenced above, I don't think going that route now makes sense.

We could _maybe_ downgrade acquia_purge and purge but thats not great either given an off-hours deployment was necessary to upgrade in the first place.

I would propose we investigate just enabling acqui

[2022-04-08 21:19] richardbporter opened #5118 "As a developer, I can work with Varnish locally to easily test caching and invalidation."
# Story

As a developer, I can work with Varnish locally to easily test caching and invalidation.

# Proposed solution

- Move acquia_purge from default config back to env splits. This was moved into default config in https://github.com/uiowa/uiowa/issues/5053#issuecomment-1093326577.
  - This is blocked by https://www.drupal.org/project/purge/issues/3264141 and/or https://www.drupal.org/project/p

[2022-04-08 21:20] richardbporter commented on #5053
Follow up https://github.com/uiowa/uiowa/issues/5118

[2022-04-08 22:04] mjoneill commented on #5093
@briand44 can we consider this for inclusion in next sprint?

[2022-04-11 14:21] richardbporter opened #5119 "Frontend performance audit"
# Problem
The homepage (uiowa.edu) recently took a hit in page load speeds on SiteImprove. We should investigate and remediate issues for that site specifically or better yet, the platform as a whole.

# Proposed solution
Investigate https://iowaweb.slack.com/archives/C0164FNN1PV/p1649254928343819 and create slices of improvements that could be made. Create new issues update this issue with refere

[2022-04-11 14:38] richardbporter opened #5121 "As a website visitor, I can load SiteNow websites quickly and save bandwidth with nextgen image formats."
Related #5119

PageSpeed Insights reports this as the biggest opportunity for mobile and desktop. We initially tried using webp in #1341 but had to roll it back in #1531 to fix #1476.

## Proposed solution

- Clearly define what the problem is with webp and lazy.
- Compare Lighthouse reports with webp vs lazy.
- Reach out on d.o Slack if anyone has experienced this.

[2022-04-11 14:40] joewhitsitt commented on #4299
@ABoston88 do you mind if I start working on this and adding to the document above?

[2022-04-11 14:42] joewhitsitt commented on #5121
https://imagexmedia.com/blog/speed-your-drupal-9-website-webp-images made it sound like responsive, lazy and webp were all possible together now in core 9.2

[2022-04-11 14:55] ABoston88 commented on #4299
Not at all - looks like there's already a new area for notes, so go ahead and add there. I'll do the same.

[2022-04-11 15:09] quamsta opened #5122 "Topic Collection hotfix: "Browse by tag" view lists should be sorted alphabetically"
# Story

As a user, I should see nodes in the bulleted lists in the "Browse by tag" sorted alphabetically for easier navigation and to not prioritize some nodes over others seemingly arbitrarily:

<img width="446" alt="Screen Shot 2022-04-11 at 10 07 04 AM" src="https://user-images.githubusercontent.com/472923/162769525-fa24056f-ab98-493e-a79c-a5351608928a.png">

Currently I believe the nodes are

[2022-04-11 15:29] briand44 opened #5124 "Grant Bulletin Opportunities"
They would like to develop something very similar to https://grantbulletin.research.uiowa.edu/.

Current and Archive displays - current means sponsor deadline >= now or null. Archive - sponsor deadline less than now.
Source link that links directly to source.
Want to migrate 2 years worth of opportunities.

# Proposed Solution

[2022-04-11 16:03] joewhitsitt commented on #1931
it hasn't been specified what image sizes/view modes should be available for this block

[2022-04-11 18:43] makurj commented on #4788
I would like to pair on this.

[2022-04-11 19:37] #5053 closed, assigned to richardbporter

[2022-04-11 19:48] joewhitsitt commented on #4299
For headings on a page (not an article) is title-case a no-no or is it just a consistency thing?

[2022-04-11 20:48] #5122 closed, assigned to nobody

[2022-04-11 21:15] briand44 opened #5128 "Education Events Enhancements"
# User Stories

As a College of Education site owner, I would like to be able to display events (past and upcoming) based on the parameters chosen, rather than have the number limited to 50 or 1 year.

As a College of Education site editor, I would like to be able to create pages that can display events based on a date range as well as a topic so that I can create an archive of events by semester.

[2022-04-11 22:18] ABoston88 commented on #4299
The UIowa editorial style guide calls for sentence case but I don't typically bust people for it if they're consistently using title case.

[2022-04-12 14:56] joewhitsitt commented on #4919
Ignoring the default for now, it sounded like additional work should be done to see how this option affects mobile banners in different situations. For example, patterns/colors were brought up. I believe the team is in agreement that this effect should be restricted to image/video banners and not extend to other background options.

[2022-04-12 14:57] joewhitsitt commented on #5091
Can this just be an rsync dump locally, zipped up and delivered or does it need to keep a relationship to the particular pieces of content. If so, could a views data export be created to pair with the rsync'd directory with relative path urls for the files?

[2022-04-12 15:07] bspeare commented on #4919
Here are a few additional thoughts:

- Add this as the default for page titles using the featured image
- Add a checkbox to "Display image and text stacked for mobile" only for images.  Add help text that patterns or background colors will not have the same behavior.
- Video should default to the the stacked behavior.
- As mentioned in standup, someone could be using three banners in a three colum

[2022-04-12 15:24] pyrello commented on #5124
This may overlap some with the following features:
* Scholarships feature split
* Opportunities content type in the SPPA site split

[2022-04-12 15:34] richardbporter commented on #5097
As a webmaster editing a user that has not yet been linked via SAML, I do not have access to password fields. c4f67746aa162f6567d43004b73f98cfb5d2dede

[2022-04-12 16:51] bewoldt opened #5129 "Webform duplicate submission error messages"
# Problem
When submitting a form without filling out required fields, a panel shows up at the top of the page telling you how many errors there are on the form and links you to the required fields. When adding a form to a block using layout builder, this duplicates the error messages.

Example form in a block. Submitting will create duplicate error messages.
https://studenthealth.uiowa.edu/info/ab

[2022-04-12 17:54] pyrello commented on #4919
Stacked banner is an opt-in option and the current behavior remains the default?

[2022-04-12 17:58] pyrello commented on #5091
Good point of clarification. I guess I was imagining one directory with all the images in it, but I should check if sorting them into types is important to the customer.

[2022-04-12 18:06] bspeare commented on #4919
Yes, current banner behavior as default and stacked option as an opt-in option.

[2022-04-12 18:09] briand44 commented on #5059
Let's ignore mapping the featured field.

[2022-04-12 18:09] joewhitsitt commented on #5059
created:field_news_date

[2022-04-12 18:19] richardbporter commented on #5072
I would suggest we model this after other blocks that allow for a limited number of items + link like ListBlock, Events, etc. However if someone configures the block to show 3 dates with no more link, someone might miss an important upcoming deadline. Maybe if a limit is placed, a more link _has_ to be provided?

[2022-04-12 18:50] pyrello commented on #4919
@GaryRidgway, correct me if I'm wrong, but it seems like this is going to need to be set up differently than it initially was to accomplish the above. The `banner--layout` class seems like it must encapsulate the current functionality rather than the new stacked option. We need a `banner--stacked` class and corresponding LB style so that this can be turned on. Once this has been done, then we can

[2022-04-12 19:02] briand44 commented on #5086
These options would not be available when just using a background pattern. It would use the default style currently used.

[2022-04-12 19:15] briand44 commented on #4919
We can get feedback during demo if this opt in option should be available when using background patterns.

[2022-04-12 19:28] joewhitsitt commented on #3567
Need to account for blocks where a unique id is needed (collections)

[2022-04-12 19:31] pyrello commented on #3567
We may need resolution to this issue to be able to store the extra data in the block configuration: https://www.drupal.org/project/drupal/issues/3062862

[2022-04-12 20:14] joewhitsitt commented on #5003
As this is a new content type, there are a few things to consider/run through: https://wiki.uiowa.edu/display/drupaldev/Content+type+creation+notes

[2022-04-12 20:49] bewoldt opened #5131 "Terms of Service content not showing"
# Problem
When creating a webform and adding the Terms of Serice element, the contents of the element are hidden from view.

# Steps to reproduce
Visit the page https://sandbox.prod.drupal.uiowa.edu/form/terms-of-service. Click the link in the terms of service to open up the modal. The title is shown but the terms content/description are hidden from view.

There is a class `.js-hide` that is on th

[2022-04-13 13:51] bspeare commented on #5086
If we want, I think we can use this without the conditional hiding for backgrounds.   Since the buttons are used in the WYSIWYG, the colors are set adjust to adjust if there is a gold button on a gold background.

[2022-04-13 13:55] pyrello commented on #3567
In looking at the V2 accordions, I noticed that the implementation isn't quite correct:
https://github.com/uiowa/uiowa/blob/ddd544dc6ae2d5c0551ea9e865edf52b2c7addbb/docroot/themes/custom/uids_base/templates/paragraphs/accordion/paragraph--accordion-item--default.html.twig#L46-L55

`aria-controls="{{ id }}"` should be `aria-controls="{{ accordion.id_prefix }}{{ id }}{{ item.id }}"`. It seems like i

[2022-04-13 14:30] briand44 commented on #2739
Scoping this to an investigation. Out of this it would be great if we had a proposed solution on how we can eliminate the restrictions of only being able to display events within the last 365 days and at most 50.

[2022-04-13 14:33] briand44 opened #5132 "Separate taxonomy term view"
With Community colleges as a taxonomy vocabulary, 2plus2 majors content are automatically being pulled in due to the default taxonomy term view. Currently it is un-styled, at the bottom and probably by modified date instead of title.

## Proposed Solution

- [x] Create a separate view of 2plus2 majors contextually filtered based on taxonomy on node displaying all as teasers in alphabetical order.

[2022-04-13 14:57] joewhitsitt commented on #4299
Formatted the previous notes a bit.

[2022-04-13 14:58] makurj commented on #1931
Any ideas on what styles to apply to this? Also, not getting the form display option for the block. Could someone test that out so I can figure out if it's my local environment? https://github.com/uiowa/uiowa/pull/5126

[2022-04-13 15:29] briand44 commented on #5114
i also added www.iibi.uiowa.edu since that is the domain they currently use. iibi.uiowa.edu is not currently being used and it doesn't appear to be setup.

[2022-04-13 15:29] #5114 closed, assigned to nobody

[2022-04-13 15:34] briand44 opened #5133 "Create SSL cert entry for https://now.uiowa.edu on uiowa03"

[2022-04-13 19:35] e-marie-w commented on #5003
I noticed there's a future slice in the epic about creating a 2+2 listing. Setting up a views block would be in the scope of that issue then and not this one, correct?

[2022-04-13 19:41] joewhitsitt commented on #5003
yeah, this is just to setup the structure to capture the data. if you want to look into hiding the taxonomy term view on community colleges since 2plus2 majors are showing up there, IMO, I feel like that would still be in scope.

[2022-04-13 20:58] joewhitsitt commented on #3561
Marking this as a bug because there is a field that can be populated that is not rendering and it is confusing editors.

[2022-04-13 21:00] joewhitsitt commented on #5025
Marking as a bug because the summary is field that can be populated editors but it is not being used/rendered which is confusing editors.

[2022-04-14 13:44] joewhitsitt commented on #4299
The updated document was delivered to the customer yesterday and discussed. Closing.

[2022-04-14 13:44] #4299 closed, assigned to joewhitsitt, cory-skeers

[2022-04-14 15:43] #3486 closed, assigned to nobody

[2022-04-14 15:43] #4954 closed, assigned to nobody

[2022-04-14 15:43] #5002 closed, assigned to nobody

[2022-04-14 15:48] bewoldt commented on #5000
Fixed with #5130

[2022-04-14 15:48] #5000 closed, assigned to nobody

[2022-04-14 16:43] richardbporter commented on #5027
I've made code changes to #5026 so we own it now and can essentially use it as a feature branch for this issue.

[code]

Compare with https://admissions.uiowa.edu/areas-of-study/print-links

Add /debug to entity print URLs to inspect CSS.

Example
Prod
<img width="1048" alt="Screen Shot 2022-04-14 at 11 41 02 AM" src="https://user-images.githubusercontent.com/1068523/163434920-4bc6b232-7a78-4982-8

[2022-04-14 16:57] richardbporter commented on #5027
I was running into https://github.com/drud/ddev/issues/3741 so I added a custom web command for yarn in 8a0c35c71d04b8fbc2906737c9a50e4fc806518a. After that, I'm able to run `ddev yarn workspace admissions_core run sass-watch`.

[2022-04-14 17:10] pyrello opened #5134 "Setup AD mapping for grantbulletin.research.uiowa.edu"
The would like this setup similar to sitenow.uiowa.edu to allow all HawkIDs to access the site with authentication.

[2022-04-14 17:13] pyrello commented on #5134
This is blocked until the site is ready to allow access to everyone, probably when it launches.

[2022-04-14 20:03] joewhitsitt commented on #4028
Alternatively we could look into extending the file component's validation on save and compare it to the allowed defaults and prevent extensions from being added.

[2022-04-14 20:19] joewhitsitt commented on #5132
Blocked by https://github.com/uiowa/uiowa/issues/5003

[2022-04-14 20:57] richardbporter commented on #5027
Good find. I was able to get around using the suggestion in https://github.com/dompdf/dompdf/issues/2445#issuecomment-988764059 to override that config in 848a4c2 and 8634605 since `isFontSubsettingEnabled` is not part of the entity_print dompdf config.

[2022-04-14 20:59] richardbporter commented on #5027
@bspeare do you remember an AoS where this was happening?

[2022-04-14 21:35] richardbporter commented on #5027
I think I've got #5026 fairly close to matching the existing PDFs although my CSS might not be ideal. There is a slight line-height difference that I can track down though.

[2022-04-14 22:13] pyrello commented on #5086
Trying to make sure I understand this. Does that mean that the user might select a gold button on a gold background and the button would render another color?

[2022-04-15 13:35] richardbporter commented on #5027
Noticed a page break issue on some AoS:
<img width="1048" alt="Screen Shot 2022-04-15 at 8 24 02 AM" src="https://user-images.githubusercontent.com/1068523/163577066-a9bc500d-4641-49c7-8768-1d29b73d5e44.png">

Resolved with [8feeb59](https://github.com/uiowa/uiowa/pull/5026/commits/8feeb59c60c7a790357729711413daff2b7134a4). https://github.com/dompdf/dompdf/releases/tag/v1.1.0 mentions improved pag

[2022-04-15 13:46] bspeare commented on #5086
Yes, if the primary button is used on a gold background the color will change to keep it accessible.

<img width="195" alt="Screen Shot 2022-04-15 at 8 42 29 AM" src="https://user-images.githubusercontent.com/1036433/163578024-f07228a7-2d85-4f99-8cd5-3c8cafa1c62e.png">

With gold background:

<img width="188" alt="Screen Shot 2022-04-15 at 8 42 15 AM" src="https://user-images.githubusercontent.com

[2022-04-15 14:17] joewhitsitt commented on #1931
@makurj i would start with getting the layout builder styles setup so the editor can select these. then move on to the code image viewmode switching

reference the card image size stuff

[2022-04-15 14:30] bspeare commented on #5027
Noticing these boxes on a lot of PDFs on prod and local.  Any idea why these are showing up? https://admissions.uiowa.ddev.site/print/pdf/node/3696

<img width="867" alt="Screen Shot 2022-04-15 at 9 24 59 AM" src="https://user-images.githubusercontent.com/1036433/163582999-df8811bb-1fad-4ed0-bb0e-1f7cd119364b.png">

That same one is clashing with the footer too:

<img width="781" alt="Screen Shot

[2022-04-15 14:57] cory-skeers commented on #5059
One extra consideration: the previously manually migrated articles won't have redirects created for them. There are only 12 in total, so it's probably faster to create manually than create an automated solution.

[2022-04-15 15:03] richardbporter commented on #5027
I'm able to get rid of those by deleting the spaces around those links and retyping it. Maybe some sort of copy/paste from Word issue?

[2022-04-15 15:05] bspeare commented on #5027
That's great! Probably copy/paste issues.

[2022-04-15 15:05] joewhitsitt commented on #5027
Wasn't the careers and outcomes data migrated?

[2022-04-15 15:10] richardbporter commented on #5027
360b991 seems to fix that and looks to match the appearance of the prod line-height closer. I suppose that footer clash could be happening elsewhere though.

[2022-04-15 15:10] richardbporter commented on #5027
Possibly. I don't see any special characters in the source. I can dig a bit more.

[2022-04-15 15:38] briand44 commented on #3400
Closing this as work was completed in #4954

[2022-04-15 15:38] #3400 closed, assigned to nobody

[2022-04-15 15:49] briand44 commented on #4534
Closing this as they are launching v3 site next week without this functionality.

[2022-04-15 15:49] #4534 closed, assigned to nobody

[2022-04-15 15:51] richardbporter commented on #5027
Seems like a unicode character for NNBSP. I briefly looked into an update hook to replace it but it might just be easier to delete and re-add spaces where this is happening.

[2022-04-15 16:23] richardbporter commented on #5027
Marked #5026 ready for review. I'd be inclined to call it close enough.

[2022-04-15 17:05] pyrello commented on #5086
I guess if we are going to offer people the option, then it seems like the last option is the least confusing since we wouldn't be overriding their decision.

[2022-04-15 19:00] pyrello commented on #1931
Updates from a Zoom session with @makurj:
* We added a fall-through case for `uiowa_image` to the code where we are handling view mode switching for `uiowa_card`. This worked without any other modifications.
* The image block needs to use different view modes behind the scenes because the images can potentially fill much bigger spaces. The `large__*` view modes are not big enough. We decided to us

[2022-04-15 19:05] GaryRidgway opened #5138 "Tables with same image many times are breaking."
# Problem
Putting an image in multiple rows of a table between 5-15 times makes the images not render on the last 2/3 of their instantiations.

![Screen Shot 2022-04-15 at 2 03 44 PM](https://user-images.githubusercontent.com/23122142/163621910-db3f7f21-f2b4-486a-bfdc-28996d6a7c67.png)

![32fd86930bdad4cec6923446b1b57ba5](https://user-images.githubusercontent.com/23122142/163621892-c7d22bf4-e9b9-4

[2022-04-15 19:43] joewhitsitt commented on #1931
Do the width/height match the fallback responsive image style set for full?

Full content - widescreen
<img width="864" alt="Screen Shot 2022-04-15 at 2 43 19 PM" src="https://user-images.githubusercontent.com/4663676/163625082-e584bf1a-3a92-4dfd-96f5-507b50fff0aa.png">

[2022-04-15 19:45] richardbporter commented on #5108
I think the field settings for each block using field_uiowa_headline need to be resaved and exported for the default value of `headline_alignment`.

[2022-04-15 19:51] makurj commented on #1931
Yep.

![image](https://user-images.githubusercontent.com/52135878/163625773-260b3e1d-7c21-4652-b272-658894b6cc8e.png)

[2022-04-15 20:03] joewhitsitt commented on #1931
So that makes me think that the responsive image functionality is not working correctly for this implementation and is falling back. At a glance this might also be happening for cards https://sandbox.prod.drupal.uiowa.edu/cards (square or widescreen they get the 768px fallback version regardless of mobile or desktop)

See One-Column Card Image Test on https://sandbox.prod.drupal.uiowa.edu/cards

[2022-04-15 20:08] joewhitsitt commented on #5132
Until #5120 is approved by Admissions, work on this can could start in this PR. Removing the block.

[2022-04-15 20:09] makurj commented on #1931
That seems to be working fine.
![image](https://user-images.githubusercontent.com/52135878/163627215-8970cb82-1113-4c7c-85d4-eb4428b942b3.png)
![image](https://user-images.githubusercontent.com/52135878/163627243-255aa2fd-3ab7-44f2-8784-c1303a2a4cbe.png)

[2022-04-15 20:10] joewhitsitt commented on #1931
Oh. Weird. Must have been a cache issue on my end. Disregard.

[2022-04-15 20:12] joewhitsitt commented on #1931
No wait. The width and height are set to the fallback.
<img width="403" alt="Screen Shot 2022-04-15 at 3 11 52 PM" src="https://user-images.githubusercontent.com/4663676/163627544-862d6481-0d04-49a3-ae69-12c725532913.png">

[2022-04-15 20:14] makurj commented on #1931
Where can I see the fallback sizes? View modes?

[2022-04-15 20:14] joewhitsitt commented on #1931
/admin/config/media/responsive-image-style

[2022-04-15 20:15] makurj commented on #1931
Merci beaucoup!

[2022-04-15 20:29] #5027 closed, assigned to nobody

[2022-04-15 20:41] e-marie-w commented on #5072
So there's no desire for a pager at this point in time, correct? Just limit the number of displayed items and add a more link if all aren't shown.

[2022-04-15 20:43] richardbporter commented on #5072
Correct.

[2022-04-18 13:07] #2532 closed, assigned to nobody

[2022-04-18 13:30] richardbporter commented on #5093
I started looking at this but I'm getting a 401 response from the profiles app. What URL(s) did we get added for CORS policy? I've tried default.uiowa.ddev.site and dentistry.uiowa.ddev.site - I thought those were good to use.

[2022-04-18 13:37] joewhitsitt commented on #5093
*.uiowa.ddev.site was added by Denny a while ago. Keep in mind the keys change per environment and you might have to reach out to Denny to obtain one for Dentistry.

[2022-04-18 13:53] joewhitsitt commented on #1931
I looked at this a bit more on Friday. Responsive image styles set the width/height of the img element to the fallback image size (supposed to be the smallest possible) but the image that is loaded is bigger than those dimensions based on caching and device size. The difference between the image block and the card seem to be that card is implementing a `width:100%;`

## Card
<img width="774" alt="

[2022-04-18 14:31] pyrello commented on #1931
Nice find, @joewhitsitt! I was really baffled by why the browser wasn't just choosing the biggest image to fit the space.

[2022-04-18 14:42] cory-skeers opened #5140 "Component showcase update"
As a site editor, I can view a component showcase which uses up-to-date components, classes, etc., so I can have desirable design examples available within my newly provisioned site.

# Proposed Solution

Audit the component showcase and update where needed. Possible things of note are classes (particularly with headings), text areas used only for headlines (use built-in headline for the following

[2022-04-18 15:35] makurj commented on #1931
With the width being set up and working correctly, does this mean the [PR](https://github.com/uiowa/uiowa/pull/5126) is ready to be reviewed?

[2022-04-18 16:40] joewhitsitt opened #5142 "Signage - Show organizerName instead of event summary"
# Story

As a signage editor, when placing an outlook events pane, I'd like to configure it to show the Organizer (organizerName) instead of the event title/summary regardless of whether or not the event is marked as private.

See its-web > Joe "Example private events for future Signage functionality" email thread

# Proposed solution

- [x] Add a checkbox that prints the organizerName instead of

[2022-04-18 16:41] joewhitsitt commented on #5142
As I mentioned to Brian, there are more signage feature requests that have not been captured in our backlog: https://iowa.sharepoint.com/sites/CSI-Drupal2/_layouts/15/Doc.aspx?sourcedoc={daaa6395-ba30-4645-9e96-eebb4881293b}&action=edit&wd=target%28Troubleshooting.one%7Ccc427471-7fb2-4c55-801c-8eef56479c4d%2FFeature%20Requests%7Ca204162c-4b23-4bf2-b506-a503dae06741%2F%29

[2022-04-18 16:48] pyrello opened #5143 "RIO (SPPA) - Investigate topics to see if it would work for the toolbox."

[2022-04-18 16:57] briand44 commented on #5142
Can you clarify what you mean here Joe? These are event front end (events.uiowa.edu) and backend (content.uiowa.edu) requests, not signage feature requests.

[2022-04-18 18:04] joewhitsitt commented on #5132
Got initial template and view created. Running into issues using TVI.

[2022-04-18 18:23] makurj commented on #3567
I would like to pair on this.

[2022-04-18 18:33] joewhitsitt commented on #5142
Apologies. Wires crossed between content hub and signage. Updated my comment with the proper link

[2022-04-18 19:07] makurj commented on #5086
I would like to work/pair on this.

[2022-04-18 19:09] pyrello commented on #4903
Added a couple bullet points for clean-up tasks that will need to be done after this is completed.

[2022-04-18 19:40] GaryRidgway commented on #5133
Hijacking this to also add SSL for:

OneIT.uiowa.edu on uiowa03
and
asr.uiowa.edu on uiowa03

[2022-04-18 19:45] briand44 commented on #5142
thanks, I added this request there as well.

[2022-04-18 20:21] #5133 closed, assigned to nobody

[2022-04-18 20:50] briand44 commented on #4725
What existing content type are you wanting to migrate over as articles? Currently I see Alumni News, Blog (no content), News Item, Story.

[2022-04-18 20:57] makurj commented on #4725
News item. Also pinging @JKurtzlebenUI

[2022-04-18 21:11] #5059 closed, assigned to nobody

[2022-04-18 21:13] briand44 commented on #4725
Making some notes in regards to existing fields on the news item content type that don't exist in v3.

- Type - (Press Release, Media Mention)
- Featured Research
- Date
- Content Block Types - (Image, multicolumn image, text area, video)
- News Writer - where should this map, article author (person) or organization?
- Source link title - Does this map to organization?
- Departments -

[2022-04-18 21:31] joewhitsitt commented on #5132
Figured out TVI. Not happy about it. It is working...

[2022-04-19 13:22] mjoneill opened #5145 "Investigate Google MyBusiness - Across Enterprise"
- https://support.google.com/business/answer/7107242#standardmethods&zippy=%2Cphone-or-text%2Cemail%2Cvideo-recording%2Clive-video-call%2Cpostcard

- https://developers.google.com/my-business

[2022-04-19 13:24] mjoneill commented on #5145
I think the first slice through this is research...  Check in on current means to claim buildings at scale.

Would also want to discuss with Facilities and other campus stakeholders...  and then decide if the juice is worth the squeeze: is it worth investing in.

[2022-04-19 13:51] richardbporter commented on #4973
I looked into writing a kind-of superfish a11y test for https://github.com/uiowa/uiowa/pull/4956#issuecomment-1102675655 but was getting many schema errors. I looked at the superfish module for a test example and noticed there are 0 tests and no config schema.

[2022-04-19 14:37] richardbporter commented on #4036
As noted in https://github.com/uiowa/uiowa/pull/5141, profiles do not work at all in IE11.

https://dentistry.uiowa.edu/directory?cohort=456874&appointment=&category=&query=&page=1&size=25 in IE11:

<img width="1321" alt="Screen Shot 2022-05-17 at 9 29 47 AM" src="https://user-images.githubusercontent.com/1036433/168836163-ceaeda84-ce1d-4a80-9d10-4e78dabfc700.png">

[2022-04-19 14:52] makurj commented on #1931
Next steps:
1. Add some help text for how the link is being used.
2. Add some hover effects on the image instead of just cursor change?
3. Add some focus styles.

[2022-04-19 14:58] bspeare commented on #1931
The image gallery block has an opacity change on the image.  We might want to do something like that to be consistent:
[code]

[2022-04-19 15:23] bspeare commented on #1931
I added some focus and hover styles to the block.

[2022-04-19 18:25] briand44 commented on #5054
Create display for this information as well as part of this issue. Could output similar to a person with image/info in side region. Possibly large featured image like articles?

[2022-04-19 18:29] briand44 commented on #5054
May need to hold on the reference to partner or other references referencing content types that do not exist. Any term references or other references to content types that do exist should be in scope for this issue.

[2022-04-19 18:31] briand44 commented on #5054
This content will be migrated in the future

[2022-04-19 18:42] pyrello commented on #5071
PSA: There are two Drupal APIs that handle fields: Form API and Field API.

The Form API is used in situations where we are creating admin forms for custom blocks or using `hook_form_alter`. There are field types that form API understands and can be rendered correctly by adding the correct render array attributes.

The Field API is used for field-able fields (adding fields to block content and oth

[2022-04-19 19:03] makurj opened #5147 "As a webform builder, I would like to have less vertical space between checkbox and radio inputs"
Request: As a webform builder, I would like to be able to apply a class to single field checkboxes to reduce the vertical spacing between items.

Why: Integrating with CRM (Salesforce) requires that each selection (true/false) be tied to a different field in Salesforce. Therefore a single multi-select checkbox field won’t suffice. Typically this use is tied to “Programs of Interest.”

Examples: ht

[2022-04-19 19:27] richardbporter commented on #4632
Maybe we should close this?

[2022-04-19 19:34] pyrello commented on #4632
Re-open if it comes up again.

[2022-04-19 19:36] #4919 closed, assigned to bspeare

[2022-04-19 19:43] joewhitsitt commented on #5087
As I mentioned in grooming, I wonder if it makes sense to structure all of this. I see layout builder components mixed through out here (people, photo gallery, links, etc.). Maybe this is a good use-case for opening up layout builder to non-page content. It seems like less overall long term maintenance to do that versus making all of this fielded content that then wires up and possibly extends uid

[2022-04-19 19:46] briand44 commented on #4725
Migrate all news from Jan 2020 forward

[2022-04-19 19:59] #5093 closed, assigned to richardbporter

[2022-04-19 20:04] joewhitsitt commented on #4948
Investigate removal of block content permissions. https://github.com/uiowa/uiowa/pull/5126#issuecomment-1103067535

[2022-04-19 20:22] bspeare opened #5148 "As a site owner, I can use a mega menu that has adjusted spacing to accomodate multiple rows"
# Story

As a site owner, I can use a mega menu that has adjusted spacing to accomodate multiple rows so that it does not take up so much vertical space.

# Proposed solution

Test on https://tippie.prod.drupal.uiowa.edu/.

<img width="1614" alt="Screen Shot 2022-04-27 at 11 44 33 AM" src="https://user-images.githubusercontent.com/1036433/165576304-a7ced9cc-6e6a-4920-b864-09e08b629a97.png">

<deta

[2022-04-20 11:30] #4662 closed, assigned to joewhitsitt

[2022-04-20 11:49] pyrello commented on #4903
This is no longer blocked.

[2022-04-20 12:16] bspeare opened #5149 "As a site owner, I can adjust the button style within the CTA block"
# Story

As a site owner, I can adjust the button style within the CTA block

As a part of https://github.com/uiowa/uiowa/pull/5146, we are adjusting how the buttons render when they appear against a black or gold background.   Previously, before we had configured `background.scss` in UIDS, the CTA was changing the background color of the button based on if a black or gold background color for the

[2022-04-20 12:16] pyrello commented on #3567
The above issue is not actually relevant to what we are doing here. I updated the proposed solution to indicate a path forward using `thirdPartySettings` on blocks.

I don't quite remember anymore how this played out in a previous PR, but there was some element of us trying to solve for storing extra information on the block and not being able to. I'm wondering if it is a problem where we are not

[2022-04-20 12:21] pyrello commented on #3567
@joewhitsitt or @GaryRidgway if you remember the specifics of how things went wrong previously when we were trying to store extra data with the block or component, please feel free to chime in.

[2022-04-20 13:39] joewhitsitt commented on #3567
I believe it was the early work of https://github.com/uiowa/uiowa/pull/4667 of trying to add our own fields to menu block without forking. It was "saving" but then not available where we needed it.

[2022-04-20 15:03] joewhitsitt opened #5150 "imagecache_external update to fix batch cron job"
# Problem

As a developer, I can see that imagecache_external images, pulled in by sitenow_events and other modules, are periodically being cleaned up as expected.

# Proposed Solution
- [x] Try the patch from https://www.drupal.org/project/imagecache_external/issues/3138005 to see if we get consistent cleanup going based on our 7-day configuration.

[2022-04-20 16:32] GaryRidgway opened #5151 "RSS Search"
Users have requested a search field for the RSS feeds aggregator.

[2022-04-20 17:24] #4823 closed, assigned to nobody

[2022-04-20 17:24] #5061 closed, assigned to bspeare

[2022-04-20 18:17] joewhitsitt commented on #4647
Noticed when adding a block it scrolls to the top and then back down

[2022-04-20 19:42] joewhitsitt opened #5153 "Imagecache External configuration is incorrect"
noticed a warning for Imagecache External. fresh in my mind. not sure if it is new, but could we just set this to uiowa.edu for now or is this being used by aggregator in which case we should turn off this validation?

<img width="704" alt="Screen Shot 2022-04-20 at 1 11 11 PM" src="https://user-images.githubusercontent.com/4663676/164295493-43b7578b-6ad6-41ec-a556-c64b4b5f37f5.png">

_Originally

[2022-04-20 21:52] joewhitsitt commented on #5132
I experimented with an extra field instead of TVI just in case. Looks like that could be done instead. Need to dig deeper to see I can mimic field markup a bit more and get the contextually aware title to work.

[2022-04-21 13:59] joewhitsitt opened #5155 "Spacing options for image block"
# Story

Follow-up from https://github.com/uiowa/uiowa/pull/5126
As an editor, I want to add spacing around my image block so it doesn't bump up against other blocks within a section.

# Background
https://github.com/uiowa/uiowa/pull/5126#issuecomment-1103198070

# Proposed solution

- [ ] Implement spacing styles on block and wire up to template.

[2022-04-21 14:02] joewhitsitt opened #5156 "Consider link title attribute on image block for additional accessibility"
# Story

Follow up from https://github.com/uiowa/uiowa/pull/5126
As a sighted user, I'd like to see the text related to a linked image I am about to click

# Background

https://github.com/uiowa/uiowa/pull/5126#issuecomment-1103198070

# Proposed Solution

- [x] Add title attribute to `<a>` using link text for image block

[2022-04-21 14:20] #1931 closed, assigned to makurj

[2022-04-21 15:54] e-marie-w commented on #4903
Had a quick meeting with customer this morning, they want some minor changes to the book content type - in the right sidebar, the publication details should be the last accordion instead of the first. It should also be closed by default while the paperback, hardcover, ebook, etc tabs should be open by default.

These changes can be done in a PR after the migration, correct? Or should they be done

[2022-04-21 16:16] joewhitsitt commented on #4903
If there are no changes to fields in how they capture data and they are just display adjustments then I think these things can wait till after.

[2022-04-21 16:17] joewhitsitt commented on #5132
Scott prefers the pseudo extra field approach. I am going to remove the TVI stuff and see about getting the replacement polished up.

[2022-04-21 16:58] briand44 opened #5157 "Link from an AoS transfer tips card to a list of community colleges that participate in a 2 plus 2 plan for that major"
On an AoS within the transfer tips card, display a link if at least one 2plus2 major references the AoS. This would link to a page similar to https://2plus2.admissions.uiowa.edu/majors/majors/accounting.htm

## Proposed Solution

- [x] Preprocess transfer tip on AoS to check if current AoS is referenced in any of the 2plus2 majors. If so, display a link to a /majors/majors/{aos} views page that li

[2022-04-21 21:18] joewhitsitt commented on #5003
Changed the URL pattern: https://github.com/uiowa/uiowa/pull/5120/commits/3eacfcc112c5afaf8c84a604f200c312d265950c

Changed the major's presave title to "At" https://github.com/uiowa/uiowa/pull/5120/commits/8e65825b4249cee9fb8df6c77d2ac944abbf42c2

[2022-04-22 17:01] joewhitsitt opened #5161 "SSL - music.uiowa.edu and *.music.uiowa.edu on uiowa03"

[2022-04-22 18:09] joewhitsitt opened #5162 "Display authored articles on person content type"
# Story

As an webmaster, I would like to display articles authored by an individual on their profile (person content).

# Proposed solution

- [ ] Provide a site-wide option with a per node override to display published articles referencing the person node via the author field.

# Potential future slices
- display options similar to articles list block
- bring in other referencing content.=

[2022-04-22 18:28] e-marie-w opened #5163 "UI Press - updates to book content display"
As a visitor to the UI Press site, when I visit the page for a book I want to immediately be able to tell the price(s) for a book.

## Solution
Update the book content display so that the Publication Details accordion is at the bottom of the sidebar and closed, while the book type accordion(s) are listed first and opened by default.

Note: When looking at existing books on prod and dev I see a cou

[2022-04-22 19:41] joewhitsitt commented on #5161
Blocked until https://github.com/uiowa/uiowa/pull/5160 is resolved/merged

[2022-04-22 20:03] briand44 commented on #2784
The College of Pharmacy has interest in this.

[2022-04-22 21:12] briand44 commented on #4453
Pharmacy has asked for the ability to have content in a sidebar, quotes with images as well as narrow container for articles.

[2022-04-25 14:27] joewhitsitt commented on #5162
Just curious the possible intersection with https://github.com/uiowa/uiowa/issues/1503

I understand this probably came from the desire to show in card/image format but since the publications content type could eventually be displayed on the person content as well and since website articles can be formatted similarly, I am wondering if these two sources could be combined in the same list.

"Displa

[2022-04-25 15:28] briand44 opened #5167 "Enable uiowa_maui for Housing"
As a Housing site owner, I would like the uiowa_maui module enabled so that we can take advantage of #5139 and also to test/use additional MAUI features as they become available.

# Proposed Solution
- [ ] Setup a site split: https://github.com/uiowa/uiowa/blob/21f0a7681674c89c2e5f3dfb0d32504ed669e069/config/sites/grad.uiowa.edu/config_split.config_split.site.yml#L16

[2022-04-25 16:14] briand44 commented on #4935
Changed my mind. Closing this since functionality already exists. We can re-open or create a follow up issue if necessary once Registrar tests this out.

[2022-04-25 16:14] #4935 closed, assigned to nobody

[2022-04-25 16:17] richardbporter commented on #5108
Tried this locally quickly but it didn't seem like enough. :/

[2022-04-25 16:22] joewhitsitt commented on #4645
Based on https://github.com/uiowa/uiowa/pull/5159#issuecomment-1108762433

- Switch the field back to unlimited
- Keep the help text
- Similar to https://github.com/uiowa/uiowa/blob/main/docroot/modules/custom/layout_builder_custom/layout_builder_custom.module#L491-L497, register the slider block within this validate function, count the number of items and formseterror if it is greater than four.

[2022-04-25 16:38] richardbporter commented on #3567
It seems like it will be necessary since InlineBlocks do not implement ThirdPartySettingsInterface, unless we want to use a field to store the data. Thats how v2 does it. I think TPS would be cleaner.

[2022-04-25 16:55] richardbporter commented on #3567
I started on a PoC for this in #5168 and pushed up getting/setting TPS for a basic text field. I'm not sure how to pass this data for access and usage in the block templates.

[2022-04-25 17:07] cory-skeers commented on #4725
Couple extra notes from poking around:

805 total news items, with 386 since jan 1 2020 (~1577858400 timestamp)
News Body Archive? (looks like only 2 news items since Jan 2020 have anything in it: 71206 [empty spaces] and 77111 [one paragraph of text]). Can probably skip.

Content block—38 articles use these, 137 blocks total
limited number of paragraph types to account for, with some amount of st

[2022-04-25 18:05] richardbporter commented on #3567
Ah, I see now: SectionComponentSubscriber::onBuildRender

[2022-04-25 20:03] richardbporter commented on #3567
I have something working in #5168 but its going to require an update to LBS essentially doing the opposite of layout_builder_styles_update_8001 which moved away from TPS. The issue is here but there is no patch yet: https://www.drupal.org/project/layout_builder_styles/issues/3188763

[2022-04-25 20:09] cory-skeers commented on #4725
Some notes from the 4/25 meeting:

- news from jan 2020 forward
- type: pr or media mention
  - Tag articles as "news" unless they are a media mention (media mention should get "media mention" tag)
- ignore featured research (but should pull over 'research' tag)
- there are some hierarchies in taxonomies, which may or may not need extra work--but generally pull over all tags. They may do some tag

[2022-04-25 20:14] briand44 commented on #4725
Thanks Cory! The only thing that I understood differently was that I didn't think we needed a plain department tag. Also, create redirects and broken links report.

[2022-04-25 20:38] bspeare commented on #5107
@joewhitsitt Can you share where you found this problem within the reports?  I'm curious if our recent deployment for banners fixed this.

[2022-04-25 20:46] joewhitsitt commented on #4903
I believe this is done. Notified the customer to review. We suspect the mp3s didn't migrate because it was mapping to a minimal format where the media functionality is not present. Had to link to relative paths after uploading them to the website.

[2022-04-25 20:46] #4903 closed, assigned to joewhitsitt

[2022-04-25 20:59] joewhitsitt commented on #5107
I want to say it was https://sandbox.prod.drupal.uiowa.edu/homepage-example-3. My browser's siteimprove extension stopped working for some reason

[2022-04-26 13:25] bspeare commented on #5148
It seems like we would want to do something like https://tobiasahlin.com/blog/masonry-with-css/, but that solution requires a fixed height to be set on the container.

- We could either set the height to something like `100vh` but that would change the design requirements suggested by the screenshot above.
- Implement the above solution and wait for https://drafts.csswg.org/css-grid-3/#masonry-lay

[2022-04-26 14:12] #5161 closed, assigned to nobody

[2022-04-26 16:24] joewhitsitt commented on #5163
@e-marie-w can you provide examples where this is and isn't already the case?

[2022-04-26 16:29] joewhitsitt commented on #5031
I think this should be a configuration entity like we did for academic unit. In D7, we had a module that we could use in a very similar fashion. This way other sites can use it in the future which came up often in D7.

Or it should be like the states list that we use for a couple sites and plan on moving to core for more to use: https://github.com/uiowa/uiowa/issues/2764

[2022-04-26 16:40] e-marie-w commented on #5163
With the demo content deleted, and after spot-checking a dozen random books, I think this is already set up correctly. I also created (and then deleted) a test book quick and everything displayed as expected. Not sure why dev showed mix of some working and not working, but prod seems to be fine. I think we can close this.

[2022-04-26 16:40] joewhitsitt commented on #3614
I am not sure we have a proposed solution here yet. I think the ideal would be to stop allowing the non-responsive core image styles here, but we don't have a suitable substitute for existing without a big communication plan.

So are we developing responsive replacements?

Small = Thumbnail - No Crop
Medium = Tiny - No Crop
Large = Extra Small - No Crop

I think the other issue is that folks don't

[2022-04-26 16:43] #5163 closed, assigned to nobody

[2022-04-26 18:01] #5086 closed, assigned to nobody

[2022-04-26 18:23] mjoneill commented on #5070
Grooming discussion:

From a dev perspective, it makes sense to continue with these pages as...
- Basic Pages
- Dev team would have to add a custom component for course listings imported in from MAUI
- Dev team would furnish a mockup/prototype of what this experience could look like for one community, using a basic page

Note about complication/assumption/risk: Dev team indicated that if filtering

[2022-04-26 18:34] #4645 closed, assigned to makurj

[2022-04-26 18:34] #4857 closed, assigned to makurj

[2022-04-26 18:34] mjoneill commented on #5087
Grooming discussion:

- Dev team recommends keeping this as structured content (based largely on the filtering requirements)
- Dev team recommends tackling this before tackling the living learning communities page
- Dev team indicated that some of the filters can go away, but we'll have to add a bathrooms filter

Next step: create slices for this epic.

[2022-04-26 18:42] mjoneill commented on #5163
We think this is closed.  @briand44 , do you want to move it/nuke it?

[2022-04-26 18:47] mjoneill commented on #5157
Recommended approach from Groomin': View page with a contextual filter that uses a dynamic route for each area of study.

Need to get approval for this approach tomorrow and then we can start working with this.  Grok grok grok.

[2022-04-26 18:49] quamsta opened #5171 "Person credentials are not displayed on teasers or bylines"
# Story

As a content editor, I can display credentials (PhD, LISW, MD, etc) on the bylines for articles published by a person.

Currently they only appear on a person's page and not on any teasers. Screenshots:

Person page (credentials appear):
![Screen Shot 2022-04-26 at 1 38 04 PM](https://user-images.githubusercontent.com/472923/165370005-c4e276a2-7fb8-429e-8e14-66ddfbf14ef7.png)

Article (cr

[2022-04-26 19:01] mjoneill commented on #5148
^^^ Could this/would this work as a first slice?  Seems like a faster way to get to minimally viable menu without opening up a masonry job.

Next step: Ask/probe Tippie in next convo.

[2022-04-26 19:08] mjoneill commented on #5031
Next steps:

* Easy slice is to do the "allowed options" list/allowed values function (similar to states on admissions). If that runs into trouble, we come back and do something else.

[2022-04-26 19:20] mjoneill commented on #3614
Next step: Hold until we can participate in a discussion with both @pyrello and @bewoldt .  Reluctant to propose a next step without their perspective represented.

[2022-04-26 19:24] mjoneill commented on #2264
This is becoming more pertinent as we consider allowing more filet ypes to be uploaded.

[2022-04-26 19:31] mjoneill commented on #2264
Idea is that we would scan on upload, but the Drupal implementation would introduce a ~10sec lag?

Recommended next step: probe to learn more about how this module works.  We're not quite sure what the user experience would be until we test it.

[2022-04-26 20:08] bspeare opened #5172 "Deprovision externships.law.uiowa.edu on uiowa701"
- Deprovision externships.law.uiowa.edu on uiowa701
- Laura Kivlighan is the contact.
- Need a redirect on Vulture to https://law.uiowa.edu/experiential-learning/field-placement-program

[2022-04-26 20:36] makurj opened #5173 "As a site visitor, I would like the option to close a Hawk alert once I've viewed it."
As a site visitor, I would like the option to close a Hawk alert once I've viewed it.

![image](https://user-images.githubusercontent.com/52135878/165388421-880d0123-4d54-47de-86c5-c3c52976ff72.png)

From Tippie's D7 site:
[code]

CSS:
[code]

[2022-04-26 20:48] joewhitsitt opened #5174 "Per page contact information block"
# Story

As an editor, I would like to reference a unit in my organization that has contact information and display it on the page similar to hr.uiowa.edu (v2)

# Additional notes

This is a requested feature from UIHC lab sites and Pentacrest Museums (https://wiki.uiowa.edu/display/drupaldev/Customer+Feature+Requests)

HR would also benefit from this in moving to V3.

# Proposed solution

- [ ] B

[2022-04-26 20:59] joewhitsitt opened #5175 "Interactive Demo Site"
# Story

As a UIHC site editor, training group attendee, I want to be able to login and see example implementations and how they are setup.

# Additional Information

Captured from https://wiki.uiowa.edu/display/drupaldev/Customer+Feature+Requests

# Proposed solution

- [ ] Open up access to demo and reset at midnight?
- [ ] Continue to provide default_content examples?
- [ ] Build out docs with

[2022-04-26 21:03] joewhitsitt opened #5176 "Ability to copy individual content block from one page and add to another"
# Story

As an editor, I want to copy a block from one page over to another page.

# Additional Information

Captured from https://wiki.uiowa.edu/display/drupaldev/Customer+Feature+Requests

# Proposed solution

- [ ] Make it happen with ![magic](https://media.giphy.com/media/ujUdrdpX7Ok5W/giphy.gif)

[2022-04-26 21:04] joewhitsitt commented on #5176
Might intersect with [#reusable](https://github.com/uiowa/uiowa/issues/2096)

[2022-04-26 21:11] joewhitsitt opened #5177 "WYSIWYG Layout options"
# Story

As a editor, I want the ability to create layouts within the WYSIWYG so I don't create them with tables...

# Additional information

This was functionality that existed for some websites in v1 custom. Requested by Education. Captured from https://wiki.uiowa.edu/display/drupaldev/Customer+Feature+Requests

![bootstrap layout](https://i.giphy.com/l41m6F1fIZ5ARpgFa.gif)

# Proposed solution

[2022-04-27 14:06] quamsta commented on #5176
This would be cool

[2022-04-27 15:25] joewhitsitt commented on #5106
Semi related for v2: https://github.com/uiowa/uiowa/issues/3567#issuecomment-1098081334

[2022-04-27 15:34] bewoldt opened #5179 "As a site editor, I can add background color, border, and remove style options to the Blockquote block"
# Problem
As a site editor I can add background color, border, and remove style options to the Blockquote block

# Proposed solution
- Add solid background color options
  - `White, Black, Gold, Gray`
    - Use existing layout builder styles
- Add border option
  - Create a `Block: Border` option and map to a `block--enclosed` class.
    - Future slice could have the `block--enclosed` class replac

[2022-04-27 15:39] bewoldt opened #5180 "Add additional configuration options to Featured Content"
# Problem
As a site editor I would like additional configuration options available for the Featured Content block.

<img width="486" alt="Screen Shot 2022-04-27 at 10 37 02 AM" src="https://user-images.githubusercontent.com/731952/165556948-91c9f0f8-3c04-4c77-8fbd-f9bdd33c75d7.png">

[2022-04-27 16:46] bspeare commented on #5148
Tippie is OK with moving forward with tightening up the spacing and keeping the design in a grid.  I have updated the issue title and proposed solution screenshot to reflect this decision.

[2022-04-27 16:48] quamsta opened #5181 "Bug: Tags and related content don't display if tags are added to a node after it's been saved without them"
# Problem
Tags and related content don't display on a page, article, or person if tags are added to a node after it's been saved without them. If you add tags and re-save the node, they won't appear on the published node.

You have to re-save the Article/Page/Person configuration settings in order for them to appear.

# Steps to reproduce
1. Enable the display of tags and/or related content in Sit

[2022-04-27 16:51] bspeare commented on #5179
@bewoldt Do you want all the colors and patterns or should we limit this to use only the solid background colors?

[2022-04-27 16:57] bewoldt commented on #5179
@bspeare Solid background colors.

[2022-04-27 17:11] joewhitsitt commented on #5181
@quamsta I just tried these steps with articles on https://default.dev.drupal.uiowa.edu/news/2022/04/new-article and with page on https://default.dev.drupal.uiowa.edu/new-page. i had an anonymous browser window with the article cached before i went back in and added the tag and it displayed the tags. page it seems to be an issue. on the surface, not sure what is different about these.

Might have

[2022-04-27 17:55] quamsta commented on #5181
@joewhitsitt Thanks for looking and helping narrow it down a bit. Much appreciated

[2022-04-27 18:45] joewhitsitt opened #5182 "Remove phpstan ignore comments and update SectionComponent::get/set method calls"
Follow-up from https://github.com/uiowa/uiowa/pull/5168 and https://github.com/uiowa/uiowa/issues/3567

remove phpstan ignore comments and update SectionComponent::get/set method calls after https://www.drupal.org/project/layout_builder_styles/issues/3188763 lands.

[2022-04-27 18:48] briand44 opened #5183 "Signage/Exchange enhancements"
It would be handy to be able to adjust the font size.  The current font seems a bit small, and I’d like to see what a larger font would look like.
When no events are listed, could the sign say something like “No more events today” instead of just being blank?

Requested by Mike Jenn.

[2022-04-27 20:13] briand44 opened #5184 "Admissions PDF title wrap issue"
https://admissions.uiowa.edu/print/pdf/node/3416
![Screen Shot 2022-04-27 at 3 12 59 PM](https://user-images.githubusercontent.com/1017022/165623539-32fa6ef0-3011-48f6-89f5-05ac6f0ba335.png)

[2022-04-27 20:52] briand44 commented on #4966
We need to verify what logic, if any, is correct moving forward. The existing D7 classroom site is consuming data using the logic in https://git.uiowa.edu/its-web/data.its.uiowa.edu/-/blob/main/app/Http/Controllers/ClassroomsController.php.

The logic for the Registrar site is in /docroot/sites/registrar.uiowa.edu/modules/custom/registrar_feeds/registrar_feeds.module.

[2022-04-27 21:52] quamsta commented on #5057
Another proposed solution for this:

Instead of the user manually adjusting items in their list blocks to display arrows, provide them a way to turn on arrows for each content type's teaser automatically.

## Page config (`/admin/config/sitenow/uiowa-pages`)
![Screen Shot 2022-04-27 at 4 43 44 PM](https://user-images.githubusercontent.com/472923/165636703-fb5364ca-9209-4c65-9017-52f6b2b0273d.png)

[2022-04-27 22:25] mjoneill opened #5185 "Dentistry New Content People Directory Test"
Capturing thoughts, frustrations, and ideas re: people directory.

1. 04/27 - Google not aware of the following new pages added to Dentistry people directory: https://dentistry.uiowa.edu/directory/viki-mueller and https://dentistry.uiowa.edu/directory/j-michael-tilley
2. 04/27 - Verified that both Viki and Michael's pages were listed in https://dentistry.uiowa.edu/directory/sitemap.txt
3. 04/27 -

[2022-04-27 22:47] mjoneill commented on #5185
tagging @briand44 for visibility.

We've run these tests with Google before and the agent that scans the page on demand sees correct title, description, schema, content, etc...  Today was the first time that I've seen it not interpret any of these correctly (still puzzled by why canonical sorted itself out though. have a read on that?)

I'm starting to think that we are going to have to invest in

[2022-04-27 22:50] mjoneill commented on #5185
Also, Denny's team is planning on rendering an XML sitemap for people directory pages.  I don't suspect this will matter to this core issue, but it will at least allow us (hopefully) the chance to use last mod date/time to give Google a nudge to rescan pages.

[2022-04-27 23:14] mjoneill commented on #5185
<img width="1319" alt="image" src="https://user-images.githubusercontent.com/7144234/165646246-909252a1-f7f4-45a1-93fc-8800d69dd045.png">

Another screen grab from search console today.  It's pretty revealing...  every profile page is missing profile content, every profile page looks identical.  Every profile page may have a unique canonical (why, i don't know), but the same content, missing meta,

[2022-04-28 13:33] #3567 closed, assigned to richardbporter

[2022-04-28 14:35] mjoneill commented on #5185
If we did introduce a regression, we're going to need to hop on it right away...otherwise we'll start losing pages out of the index again.

[2022-04-28 14:36] mjoneill commented on #5185
I would also like to understand what's different about CCOM's implementation (if anything).  They do not appear to be experiencing the same thing.

[2022-04-28 14:45] quamsta commented on #5185
At a cursory glance using Chrome's throttling/slowing down tools to watch the rendering of the page, it looks like CCOM's implementation shows a `<title>` tag on their profiles (example: https://medicine.uiowa.edu/acb/profile/brad-amendt) very early on in the rendering process if not right away.

On Dentistry the `<title>` and metatags seem to be adjusted very late in the process, almost like they

[2022-04-28 14:49] quamsta commented on #5185
Confirmed that in "View Source" the CCOM page, the `<title>` and `<meta>` tags are rendered statically upon the first request of a profile.

[2022-04-28 14:52] briand44 commented on #5157
My understanding was that the approach outlined here is fine as long as we also have a way to view all available majors for 2 plus 2 students (https://2plus2.admissions.uiowa.edu/majors/index.html) without having to first visit an Area of Study.

[2022-04-28 14:53] briand44 commented on #5003
It was requested that we lowercase "At".

[2022-04-28 15:13] #5072 closed, assigned to e-marie-w

[2022-04-28 15:18] cory-skeers commented on #2739
Some of the work that's been done in #5170 but could be improved on and taken further, other notes, etc.:

- Added an adjustable cache duration to the events loader. I think for past events in particular, it would be safe to increase this as we shouldn't expect (m)any updates to already completed events.
- Added a relative date field as a plain text field with some minor processing and a fallback

[2022-04-28 16:24] richardbporter commented on #5167
We should address https://github.com/uiowa/uiowa/pull/5139#issuecomment-1112407182 as part of this.

[2022-04-28 20:25] richardbporter commented on #5167
Maybe not. Some "dates" have lots of items and it might be preferable to limit that way instead. Creating a follow-up issue for further discussion: #5191

[2022-04-28 20:32] briand44 commented on #5185
Scoping a first slice of this to understanding if we introduced a regression with the schema.org stuff.

[2022-04-28 21:15] cory-skeers opened #5187 "Add a date range option for events block"
# Story

As a site editor I want to specify a date range to pull events based on in addition to displaying past or upcoming events.

# Proposed solution

- Duplicate `past` view display and name it `reverse` on content.uiowa.edu (heads up, might be packaged in features)
- Create a select or radio that allows Sort to be set to Descending or Ascending (defaults to Ascending for upcoming)
- Add a sel

[2022-04-28 21:19] cory-skeers opened #5188 "Adjust past events cache time"
# Story
Past events likely do not need as short a cache duration, as we can expect limited changes to these generally, and only "new" events added to a past events list at most once per day.

In prepping for opening up the option for displaying more events, it may be beneficial to adjust the cache duration specifically for past events.

# Proposed solution

An example is available in PR #5170
Add

[2022-04-28 21:22] cory-skeers opened #5189 "Add a pager option to the events block"
# Story

As a site editor I want to display events with pager so that long lists of events don't disrupt my other page content

This is less of an issue at the moment, but if/when the events block options open further to allow for larger date ranges of events to be pulled in, a potentially large amount of content needs to be accounted for.

# Proposed solution

- Add a pager option to the events b

[2022-04-28 21:30] cory-skeers opened #5190 "Investigate DB storage of event IDs and dynamic pulling of data, remove hard limits"
# Story

As a site editor I want to pull many events into my site with minimal performance impact so that site visitors can view all my past events in one place.

# Proposed solution

At least some local storage of events info may be beneficial as a way to avoid constant polling of content hub, likely event IDs and dates.
Investigate forms of dynamic data fetching as a user pages through content.

[2022-04-28 21:32] cory-skeers commented on #2739
Opened relevant follow-up issues. Closing investigation, work to continue in #5187 , #5188 , #5189 , and #5190

[2022-04-28 21:32] #2739 closed, assigned to nobody

[2022-04-28 21:41] richardbporter opened #5191 "Determine MAUI block limit criteria"
After #5139, the number of items displayed in the MAUI block can be limited. Right now, it limits the amount of items then passes those items off to the theme function. The preprocess function groups those items by date. This could be slightly confusing to end users if they set a limit of three items but then two dates are displayed - one with two items and one with one.

We should discuss whether

[2022-04-29 13:27] briand44 commented on #5172
Redirect setup on Vulture, DNS pointed to Vulture, site removed.

[2022-04-29 13:27] #5172 closed, assigned to nobody

[2022-04-29 14:30] cory-skeers opened #5192 "Enhancements for uiowa_events block"
..relevant follow-up issues from #2739. Closing investigation, work to continue in

- [x] #5187
- [ ] #5188
- [x] #5189
- [x] #5190

_Originally posted by @cory-skeers in https://github.com/uiowa/uiowa/issues/2739#issuecomment-1112673347_

- [ ] Consolidate cache bins (uievents and uiowa_events)

[2022-04-29 14:34] quamsta commented on #5181
@joewhitsitt This presave hook does seem to resolve the issue, but am I wrong in thinking that it might be too greedy and clearing the cache for every page/article/person upon saving one of them might put too much stress on the server?

[code]

[2022-04-29 14:46] bspeare commented on #5057
I think that this sounds like a good idea, but when it comes to the featured content block that blends together content types - wouldn't that create inconsistent usage of the arrows?   Some content types could have it turned on while others have it turned off?

[2022-04-29 14:51] joewhitsitt commented on #5003
https://github.com/uiowa/uiowa/pull/5120/commits/d9e81a624489fbfd570277a8411813621fde9a57

[2022-04-29 14:53] bspeare commented on #5057
We are also planning on adding an option to the card block to turn the arrow off: https://github.com/uiowa/uiowa/issues/4788.  Would it be weird to have multiple ways to turn the arrow on and off?

[2022-04-29 14:55] joewhitsitt commented on #5057
I am fine with moving in this direction with the idea that https://github.com/uiowa/uiowa/issues/4788 still happens for static card blocks. These are different enough that I think the toggle per card makes sense.

Though this proposed solution provides consistency across the site, it fragments any pattern across campus. Something to be aware of.

Featured content sticks out to me as a curated list

[2022-04-29 15:01] richardbporter commented on #5185
#5141 switched from using XHR to fetch. I'm not seeing anything saying that the Fetch API is not supported by GoogleBot but that could be a potential cause. We're using fetch for canonical just like the other metadata so that doesn't quite add up though.

If GoogleBot sends a get request for each person URL, we could set the title, description and schema server-side. Can't do anything about the co

[2022-04-29 15:43] briand44 opened #5195 "SiteNow updates news article - May"
## Issue/Solution ##
Provide a "release notes" type article of finished/done features/updates and publish to website, then send out dispatch email.

- [x] Create draft and update the parking lot card with an edit link
- [x] Add "release notes" covering the month of v2/v3 default profile enhancements and webmaster/edit visible bug fixes.
  * See the previous month's article as an example.
  * Bulle

[2022-04-29 15:52] makurj commented on #4971
If I close out of the video player, they are showing up in landscape and orientation:

![image](https://user-images.githubusercontent.com/52135878/165980521-f7787acd-ba38-4390-904d-f0e2d60bdf70.png)

![image](https://user-images.githubusercontent.com/52135878/165980830-d4aeb73a-d84a-4f6a-adf2-8040592a9e69.png)

[2022-04-29 16:24] #5003 closed, assigned to e-marie-w

[2022-04-29 16:24] #5132 closed, assigned to joewhitsitt

[2022-04-29 17:03] joewhitsitt commented on #4971
Wonder if we need to revisit https://github.com/uiowa/uids/pull/149?

This isn't what we use for our video, but some of this solution might apply to this issue: https://github.com/sampotts/plyr/issues/1233#issuecomment-777751492

[2022-04-29 17:10] joewhitsitt commented on #5181
I don't think we would target the nodes. We would register a cache tag like related:tags and put that on the block. when the node is saved, the blocks with the this cache tag would get invalidated and hopefully bubble up like we did for events

[2022-04-29 17:14] joewhitsitt commented on #5181
still curious what the difference if any between to article and page were here

[2022-04-29 17:19] quamsta commented on #5181
@joewhitsitt Oop, I forgot to mention: I tried the initial steps to reproduce the bug on articles and it still reproduced the bug for me with that content type. I haven't been able to see what you saw when it worked correctly for articles.

[2022-04-29 18:15] bspeare commented on #4971
@joewhitsitt are you just referring to the positioning of the captions?  Could you explain what we are revisiting?

[2022-04-29 18:22] joewhitsitt commented on #4971
I originally came from https://github.com/uiowa/uiowa/issues/1379 where we are doing non-default things with the track subtitles. Not sure what the JS is doing here exactly as it relates to the track elements

ultimately, we should probably confirm that a default html5 video with subtitles is also having this problem on iOS to decide if we need to seek an upstream solution or be looking at our imp

[2022-04-29 18:28] makurj commented on #4971
Should I wait on trying this (https://github.com/sampotts/plyr/issues/1233#issuecomment-777751492) then?

[2022-04-29 18:35] bspeare commented on #4971
I think the first step would be to test the captions in UIDS and remove these lines https://github.com/uiowa/uids/blob/3.x/src/components/video/vertical/vertical.js#L48-L79 and test in browserstack.  I think we need to revisit that JavaScript there.

[2022-04-29 18:37] makurj commented on #4971
On it. I'm not seeing "video" in the sidebar when I switch `hidden: false`, so how do I test it?

[2022-04-29 19:19] makurj commented on #4971
Not sure if this is progress or not but one of the captions is now appearing at the bottom of the video 😄

![image](https://user-images.githubusercontent.com/52135878/166043789-1085aba4-0646-42e4-8bc7-ad8f17f4b564.png)

[2022-04-29 19:24] bspeare commented on #4971
@makurj I think that's supposed to be there.

[2022-04-29 19:28] makurj commented on #4971
Okay, so then no progress 😆

[2022-04-29 19:36] bspeare commented on #4971
I think this is a CSS issue.  Try deleting https://github.com/uiowa/uids/blob/3.x/src/components/video/vertical/_vertical.scss#L199-L203 and removing https://github.com/uiowa/uids/blob/3.x/src/components/video/vertical/_vertical.scss#L191.   You can edit this file in your `node_modules/uiowa/uids/src/components/video/vertical` folder and then run `yarn workspace uids_base build` to test.

[2022-04-29 19:49] joewhitsitt opened #5200 "SSL - learning.uiowa.edu on uiowa02"
To _eventually_ replace 3mlearning.uiowa.edu on the same app

[2022-04-29 19:57] makurj commented on #4971
That did it! @bspeare you rock!

![image](https://user-images.githubusercontent.com/52135878/166060850-8d6b1a56-8231-4d8a-9a5f-cd5b767bd7a7.png)

So do I need to make the same changes in `uids` now?

[2022-04-29 20:10] bspeare commented on #4971
Now test Android :)

[2022-04-29 20:14] bspeare commented on #4971
I tested the local version on Android and the captions did not appear, but with testing uiowa.edu on Android the captions are appearing.

[2022-04-29 20:15] joewhitsitt opened #5202 "Deprovision - ftoor.lab.uiowa.edu on uiowa701"
Website has launched on v3

[2022-04-29 20:26] joewhitsitt opened #5203 "install brand.stage.drupal.uiowa.edu on uiowa as v3"
Customer has requested a v3 website to start moving content over from v2 (brand.uiowa.edu)

Since brand.uiowa.edu is a custom site split, additional work might be required to get this working correctly. Looks like the site split might need some updates but then be general enough to work for the v2/v3 websites at the same time.

Tried a site install locally and then tried to import site config. Got

[2022-04-29 20:33] makurj commented on #4971
Local (https://home.uiowa.ddev.site/) with Android (Galaxy S22) in BrowserStack didn't work for me either.

[2022-04-29 20:39] bspeare commented on #4971
I think the captions are just being blocked locally.  I'm seeing this error: `Unsafe attempt to load URL https://uiowa.edu/sites/uiowa.edu/files/2022-03/20220201%20Research.vtt from frame with URL https://home.uiowa.ddev.site/. Domains, protocols and ports must match.`

So yes, @makurj make those changes in `uids`

[2022-05-02 14:30] makurj opened #5219 "As a webmaster, I can display jobs for units on site using the Aggregator functionality with RSS feeds"
# Story

As a webmaster, I can display jobs for units on site.

Example: https://tippie.prod.drupal.uiowa.edu/job-feeds

Faculty feed is working fine when using: https://jobs.uiowa.edu/jobSearch/rss/feeds/faculty/depts/12/faculty.xml
P&S (https://jobs.uiowa.edu/jobSearch/rss/feeds/pands/depts/12/pands.xml) and Merit do not (https://jobs.uiowa.edu/jobSearch/rss/feeds/merit/depts/12/merit.xml).

P&S

[2022-05-02 14:47] richardbporter commented on #4796
This config/functionality ships with the module and cannot be removed: https://git.drupalcode.org/project/google_analytics/-/blob/4.x/config/install/google_analytics.settings.yml#L17

[2022-05-02 14:47] #4796 closed, assigned to nobody

[2022-05-02 15:10] briand44 commented on #5202
site removed.

[2022-05-02 15:10] #5202 closed, assigned to briand44

[2022-05-02 15:24] #5184 closed, assigned to bspeare

[2022-05-02 15:49] #5167 closed, assigned to e-marie-w

[2022-05-02 16:08] #5148 closed, assigned to bspeare

[2022-05-02 16:20] bspeare opened #5221 "uiowa.edu vertical videos not working for iPads"
# Problem
uiowa.edu vertical videos not working for iPads

# Steps to reproduce
Go to uiowa.edu on an iPad and try watching the vertical videos.

# Proposed solution

- Investigate removing `iPad` from https://github.com/uiowa/uids/blob/3.x/src/components/video/vertical/vertical.js#L56.
- Investigate removing https://github.com/uiowa/uids/blob/3.x/src/components/video/vertical/_vertical.scss#L164-

[2022-05-02 18:14] #4971 closed, assigned to makurj

[2022-05-02 18:23] richardbporter commented on #5185
@mjoneill This is in dev now. The PR has some links and test steps: https://github.com/uiowa/uiowa/pull/5197#issue-1221413719

[2022-05-02 18:30] joewhitsitt commented on #5200
Done

[2022-05-02 18:30] #5200 closed, assigned to joewhitsitt

[2022-05-02 18:55] bspeare commented on #5084
I think https://sitenow.uiowa.edu/news/2022/04/updates-april is ready for review.

[2022-05-02 19:08] bspeare commented on #5119
Another issue that probably increased the page size is the switch from the Hero block to the Banner block.   With the hero block we were able to upload an optimized preview image for the video loop whereas the banner block's poster image is generated by Drupal and is a `png` which probably adds an additional 1mb of extra load to the page.

[2022-05-02 19:57] richardbporter commented on #5119
I'd like to understand this more. Were we doing that in code somewhere? Could we re-implement it?

[2022-05-02 20:08] bspeare commented on #5119
Yes, we were requiring the image field if a video was uploaded and then setting it as the poster image: https://github.com/uiowa/uiowa/blob/main/docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-hero.html.twig#L59.    Not sure how we would do that with the banner.   Expose an additional image field once a video was selected?   We could also look into why the poster image i

[2022-05-02 20:09] richardbporter commented on #5084
Looks good to me.

[2022-05-02 20:21] joewhitsitt opened #5222 "deprovision 3mlearning.uiowa.edu on uiowa02"
being replaced by learning.uiowa.edu

blocked waiting for vulture redirect - its-web email on 2022-05-02 and https://github.com/uiowa/uiowa/issues/4314

related its-web email thread for switching from 3mlearning to learning: "Question re: URL for SiteNow website"

- [x] confirm vulture redirect
- [x] lower ttl and ask hostmaster to point to vulture
- [x] deprovision

[2022-05-02 20:30] richardbporter commented on #5119
Thanks. Turned on webp locally just to confirm that did not magically serve the banner poster image as webp. It doesn't. :) The vertical video posters are also flagged for potential savings. Turning on webp helps but getting those poster images reduced and/or serving them as webp would help even more.

[2022-05-02 21:22] richardbporter commented on #5119
Looks like media_thumbnails_video is creating the PNG. Looks to be hard-coded and there is no config to change it.

There are a couple related issues to allow users to upload a different thumbnail. That might be an option.

https://www.drupal.org/project/media_thumbnails_video/issues/3137079

Another option might be to override the poster attribute in a preprocess function.

[2022-05-02 21:29] quamsta commented on #5181
Update: I was able to reproduce the page/article discrepancy with this issue. Trying to narrow it down further...

[2022-05-02 21:44] quamsta commented on #5181
@joewhitsitt

I was able to clear out my view block's cache upon presave with the following code:

[code]
Needs a bit more testing, but since my block is not really a custom or programmatically created block, I don't think I can register a cache tag specifically for that block. Do you think clearing the view's cache is a good path to follow?

[2022-05-03 13:37] joewhitsitt commented on #5181
looks like we are already preprocessing the block in uiowa_core `views_block:tags_list-tags_list` and `views_block:related_content-block_related_headings_lists` so I don't see why we can't register a custom cache tag there to target. with that said, i am not sure what all caches are tied to the view and if any of those would have a better chance of bubbling up.

if you stick with the views invalid

[2022-05-03 14:05] richardbporter commented on #5121
I quickly investigated the webp module again just to see if that responsive image style issue still exists and it appears that it does. Although, I can't articulate it perfectly and I'd be curious how it relates to #3614. It seems similar but I might be misunderstanding it.

[2022-05-03 14:31] joewhitsitt commented on #5121
The lazy module has been trouble in the past, I wonder if it is still needed now that modern browsers support the attribute to some degree now.

[2022-05-03 14:41] richardbporter commented on #5121
The article mentions:

Not exactly sure what that means...

I tried adding a Convert operation to image styles for webp, which appears to work but it doesn't provide any fallback for browsers that don't support webp like Safari.

[2022-05-03 14:42] richardbporter commented on #5121
Yea I wonder too. This still seems to be true: https://github.com/uiowa/uiowa/issues/1476#issuecomment-622458404

[2022-05-03 14:52] #5185 closed, assigned to richardbporter

[2022-05-03 16:35] quamsta commented on #5181
@joewhitsitt I attempted to add a cache tag on `preprocess_block`:

[code]

However, the cache tag does not appear in the `x-drupal-cache-tags` response header on a page that I've added tags (taxonomy) to until I manually flush the cache or resave the tags/related content page config settings.

It appears that `preprocess_block` runs a bit too late since neither the tags list or related view block

[2022-05-03 16:46] bspeare commented on #5031
Do we want to include this part in this work?

- the displayed page (view?) for Partner content shows 'Related News' (articles tagged with the partner name)

[2022-05-03 16:54] e-marie-w commented on #5031
At the time I wasn't sure if the News and Partner content needed to be fields in the actual content type to be part of the view. But I understand views better now and don't think it's needed.

So no, the view is not in scope, and I'll create a separate issue to set up the views for all the new content types once they're created (since they all reference each other anyways).

[2022-05-03 17:01] richardbporter commented on #4966
It sounds like both sets of logic are correct, just different. For example, the classrooms site is intentionally not importing rooms with the `1) Programmed Classrooms - Level 2` designation.

The basic room data for both sites is the same however and it seems reasonable that one data feed on one site could work. The display of the information between the general classrooms and UCR/SPS pages would

[2022-05-03 17:13] joewhitsitt commented on #5181
Yeah, if the block has been rendered/cached before you add this tag, it won't get called be rendered again/fire this code. This was the same issue with the time based cache tag. An update hook could register this for existing blocks.

Again, I don't know if the custom cache tag is the answer, but it seems more lightweight if it works.

I am on support this week so that is my main priority. If you

[2022-05-03 17:36] bspeare commented on #5195
https://sitenow.uiowa.edu/news/2022/05/updates-may

[2022-05-03 17:57] joewhitsitt commented on #5219
These feeds are empty, so unless there is content to pull this will be hard to work on/debug if it is an issue on our end.

Or are you saying it is an upstream issue where content for these feeds exists but is not in the feed? If that is the case, we just need to reach out the the development group responsible for these feeds.

[2022-05-03 17:59] makurj commented on #5219
There is content (https://uiowa.referrals.selectminds.com/jobs/administrative-assistant-upo-19541) for the P&S feed. It's not just display using the XML in D7 or D9. Merit has no content (jobs posted) so there's no way to test that.

[2022-05-03 18:02] joewhitsitt commented on #5219
The jobs site/XML feeds themselves are not Drupal. So this should be directed to someone else upstream

[2022-05-03 18:02] bspeare commented on #5084
This is done.

[2022-05-03 18:02] #5084 closed, assigned to bspeare

[2022-05-03 18:06] makurj commented on #5219
Yep, you mentioned that. Is there a specific person we work with? The "email support" option on the jobs page is linked to ITS HelpDesk email. https://uiowa.referrals.selectminds.com/info/help

[2022-05-03 18:14] briand44 commented on #5087
First slice to create basic content type structure and include fields that seem straight forward.

[2022-05-03 18:17] briand44 commented on #5087
leaning towards taxonomies for the other categories so they have the ability to create additional as needed without our team.

[2022-05-03 18:20] briand44 commented on #5054
May be worth looking into how housing is handling academic year. Could potential handle this programmatically and have it auto update?

[2022-05-03 18:23] briand44 commented on #5054
Any view displays could happen as part of a follow up issue. Scoping to just the structure and node display.

[2022-05-03 18:31] joewhitsitt commented on #5219
That is where I would start. I am not aware of any work of ours that integrates with that site where we would know the contact.

[2022-05-03 18:36] briand44 commented on #2217
Scope next slice to creating the 2+2 majors listing and creating a landing page in dev to demonstrate how all this fits together.

[2022-05-03 18:39] briand44 commented on #4314
Copy code from transfer command. May need some adjustment? Use to remove referenced sites.

[2022-05-03 18:40] briand44 commented on #4314
Update v2/v3 deprovision docs

[2022-05-03 18:45] briand44 commented on #5121
Seems like this may need to be scoped to an investigation issue first.

[2022-05-03 18:46] briand44 commented on #5121
Ask Drupal community?

[2022-05-03 19:04] mjoneill commented on #5147
Google's Material Design guidance:

--https://material.io/design/usability/accessibility.html#layout-and-typography

[2022-05-03 19:14] joewhitsitt commented on #5221
At the moment, I have a device lab of different ipads to volunteer for testing

[2022-05-03 19:48] joewhitsitt commented on #5121
Started a thread in Drupal's #media channel
https://drupal.slack.com/archives/C1VLTJJD8/p1651607175692989

UPDATE: It saw some activity overnight
- we want the picture element format
- use rendered entity responsive image style on the block/paragraph, use `Responsive Image (lazy)` on the media image type.
- lazy works by processing fields (we may have to adjust how we are adding file/media > block

[2022-05-03 20:02] bspeare commented on #5147
After meeting with Tippie this afternoon, I have updated the proposed solution.

[2022-05-03 21:32] joewhitsitt commented on #5222
no longer blocked, domain removed. ideally do it as part of #4314

[2022-05-03 21:53] quamsta commented on #5057
PR: https://github.com/uiowa/uiowa/pull/5094

@bspeare

This inconsistency is a possibility, however I haven't seen featured content that mixes together two content types. I've seen featured content blocks featuring people by tag, and pages separately but not both. But this could be resolved by the webmaster if they enable or disable the indicator icons for both content types.

As @joewhitsitt  sa

[2022-05-03 22:15] joewhitsitt commented on #5057
We have avoided screenshots in the past because the theme is always changing and things become out of date quickly. Before Alex's training video we also held off on recording one for similar reasons. We have previously expressed interest in supplementing SiteNow v3 documentation with example blocks along side so that changes are immediately reflected. https://github.com/uiowa/uiowa/issues/5175

[2022-05-03 22:18] joewhitsitt commented on #2150
This was done: https://uicapture.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=5b75705e-9527-4ef4-be39-ade3015a3a3b&start=0

https://webcommunity.sites.uiowa.edu/training/using-layout-builder

[2022-05-03 22:18] #2150 closed, assigned to nobody

[2022-05-04 13:11] briand44 opened #5227 "Create content type for Residence Halls"
As a Housing site owner, I would like to have a structured content type to store information about residence halls so that information can appear similarly across all residence hall pages.

# Additional Information

Setup content type (https://wiki.uiowa.edu/display/drupaldev/Content+type+creation+notes) as part of housing site split and create fields:

- [x] Building type - taxonomy or select lis

[2022-05-04 13:18] quamsta commented on #5181
@joewhitsitt Submitted a PR for the `$view->storage->invalidateCaches();` method of doing this. [The caches are only invalidated in `uiowa_core_node_presave`](https://github.com/uiowa/uiowa/pull/5226/commits/72233ff552f544556e81653801d02b2932d8b02f) if the content types have tags and/or related content enabled on them in the site's config, so sites that aren't using those views shouldn't have the

[2022-05-04 15:00] briand44 commented on #5227
Not sure if the Map is straight forward, if we need to hold or have more conversations about this that is fine.

Photo Galleries - they mention a rotating gallery of images similar to D7 as well as a link to more photos (D7 opens in modal). Not sure if we want to recommend a different approach here? They also mention a bathroom photo gallery (Link to a gallery or something to show bathroom photos

[2022-05-04 15:11] briand44 opened #5228 "An aggregated list of 2 plus 2 majors"
As an Admissions site owner, I would like to display an aggregated list of 2 plus 2 majors on a 2 plus 2 landing page so that users have an easy way to discover what majors participate in a 2 plus 2 plan.

# Additional Information
A display similar to https://2plus2.admissions.uiowa.edu/majors/index.html

We also want to setup a landing page that includes community colleges that participate in 2 p

[2022-05-04 17:27] joewhitsitt opened #5229 "Taxonomy term feeds contain breadcrumbs and duplicate titles"
# Problem
The out of the box taxonomy term view feed displays are pulling in the full node render for items.

<img width="822" alt="Screen Shot 2022-05-04 at 12 14 26 PM" src="https://user-images.githubusercontent.com/4663676/166744075-c6357e1d-2c82-4537-8aa6-f3a7270f6604.png">

# Steps to reproduce
Pull in a v2/v3 feed into aggregator/rss block and see how it is displayed: https://education.uiowa

[2022-05-04 21:17] joewhitsitt commented on #5121
Not sure if @richardbporter saw my update here ^^

[2022-05-05 16:55] briand44 opened #5231 "Refactor OneIT Intranet - Workflow Projects integration"
As a maintainer of the Workflow API, we want to retire the endpoint /workflow/prod/api/developer/tools/forms/2183/packages because it performs terribly and will continue to get worse.

# Additional Information
This endpoint is used on https://git.uiowa.edu/its-web/data.its.uiowa.edu/-/blob/main/app/Http/Controllers/WorkflowController.php to create a feed of projects from Workflow that then are bei

[2022-05-05 18:30] bspeare opened #5232 "As a site editor, I can adjust the headline style of a card block"
# Story
As a site editor, I can adjust the headline style of a card block so that I can choose between Roboto and Zilla.

# Proposed solution

Currently, we switch the headline style to Zilla if the card media is aligned to the `left` or the `right`.   The card defaults to Robot of the `stacked` option is selected.

- Set the default headline style for cards to `Roboto` but add the option to switc

[2022-05-05 18:32] bspeare commented on #5232
Related issue https://github.com/uiowa/uiowa/issues/2350

[2022-05-05 18:40] bspeare opened #5234 "As a site editor, I can set margins on a card block"
# Story

As a site editor, I can set margins on a card block so that I can use multiple card blocks in the same region without having them stack on top of each other.

Example of two cards in the same region that could use some margin:

![image (6)](https://user-images.githubusercontent.com/1036433/166998202-14c285d2-3c0f-4bae-bcfd-d53a64de328a.png)

# Proposed solution

Add margin top and bottom

[2022-05-05 19:53] #5181 closed, assigned to quamsta

[2022-05-05 19:58] joewhitsitt commented on #5227
I think we need to investigate options for the map field. Could that be split off into a separate task?

Could this just be part of the intro/body for mvp?

Date fields do not have the same granularity as in the past (ui press ran into this). Does year built need to be stored as a date or could a text field work for this? Or could this just be part of a "Building information" long text field so ot

[2022-05-05 20:43] richardbporter commented on #5121
That's awesome. Good info there.

I'm thinking this is going to be a bigger investment than initially planned. #5225 could probably be closed - it was a quick investigation. One thing to keep track of there was that TravisCI might not be set up to generate webp images. That impacts Percy as no images seem to load in the snapshots.

[2022-05-05 20:59] joewhitsitt commented on #2986
Closing in favor of https://github.com/uiowa/uiowa/issues/4235

[2022-05-05 20:59] #2986 closed, assigned to nobody

[2022-05-05 20:59] joewhitsitt commented on #2785
Related https://github.com/uiowa/uiowa/pull/4450

[2022-05-05 21:00] joewhitsitt commented on #3347
We created a block https://github.com/uiowa/uiowa/issues/4069

[2022-05-05 21:00] #3347 closed, assigned to nobody

[2022-05-05 21:03] pyrello commented on #5227
It is annoying how it seems like the Drupal core team has given up on solving the issues that were introduced with Date fields in D8.

Here are a couple (less than ideal) contrib modules that might be worth looking into:
- https://www.drupal.org/project/month_year
- https://www.drupal.org/project/yearonly

[2022-05-05 21:07] joewhitsitt commented on #4234
This was handled in https://github.com/uiowa/uiowa/issues/3501
<img width="379" alt="Screen Shot 2022-05-05 at 4 03 04 PM" src="https://user-images.githubusercontent.com/4663676/167025648-4f93c2f6-b9eb-41e4-98b1-2e5326e6b3fb.png">

[2022-05-05 21:07] #4234 closed, assigned to nobody

[2022-05-05 21:09] joewhitsitt commented on #2207
Can we close this issue? If issues should be captured out of these other checkboxes, let's do that.

[2022-05-05 21:31] richardbporter opened #5235 "As a Travis, I can delete old build artifacts when pushing to Acquia."
# Story

As a Travis, I can delete old build artifacts when pushing to Acquia.

The `blt uiowa:git:clean` command deletes all branches besides main-build and develop-build from Acquia. It also deletes all tags besides the five most recent.

We run this periodically to:
- Reduce the number of options listed in the AC interface when checking out a tag in prod. It's not feasible for us to rollback to

[2022-05-05 21:38] richardbporter opened #5236 "Upgrade to BLT 13.4.0 and remove private files code from post-command hook."
https://github.com/acquia/blt/releases/tag/13.4.0 includes a change to set multisite private files directories correctly. Once upgraded, the code referenced below in our post-command hook for `source:build:settings` could be removed.

https://github.com/uiowa/uiowa/blob/13b5e2c6b5233c68bfab57da13fb047ad9a2ca9b/blt/src/Blt/Plugin/Commands/ReplaceCommands.php#L233-L236

[2022-05-05 21:50] pyrello opened #5237 "Move update helper function for blocks into service class that can be used in any `.install` file"
# Motivation

The update hook helper function function for updating block config has been very useful for performing block updates. However, it is local to the SiteNow profile, so it currently can only be used in `sitenow.install`. It would be convenient if we could transition this helper function into a service that would allow for using it in any `.install` file.

https://github.com/uiowa/uiowa/

[2022-05-06 03:05] pyrello commented on #2207
Can we consider this moot since we have deprecated the hero block and since then we have allowed for banners to be used in multicolumn layouts?

[2022-05-06 13:12] briand44 opened #5238 "Figure out path forward for Concept3d and Cambus fields. Any others that we are unsure about?"
Static maps -https://help.concept3d.com/hc/en-us/articles/360008043454-Static-Maps (requires marker id but could capture that in a field and then construct the markup needed for render.

As for bus stops (currently integrated with bongo module) - could we just tell them to get the stop numbers themselves? if bongo goes away entirely these links will break.

[2022-05-06 13:24] joewhitsitt commented on #5238
The concept3D API might be a way to do a building => marker lookup but there might be bumps: https://github.com/uiowa/uiowa/issues/4591#issuecomment-1005216374

[2022-05-06 13:24] briand44 commented on #5238
In relation to the bus stops, I have an email out to the app devs. I know they have mentioned transitioning api.ebongo.org to icareatransit.org but not sure if we should continue using api.ebongo.org.

Also, have an email out to Megan for some clarity here on what she is looking for specifically.

[2022-05-06 13:28] richardbporter commented on #5237
I think this makes sense. In the meantime, it is possible to use `module_load_install` which doesn't seem to be deprecated and is what I did in https://github.com/uiowa/uiowa/blob/13b5e2c6b5233c68bfab57da13fb047ad9a2ca9b/docroot/modules/custom/uiowa_maui/uiowa_maui.install#L8-L22

[2022-05-06 13:46] pyrello commented on #2475
@bspeare Is this completed?

[2022-05-06 13:50] richardbporter opened #5239 "Remove InspectorTrait and switch back to BLT's `Inspector::isDrupalInstalled`"
# Problem
https://github.com/uiowa/uiowa/pull/4931 introduced our own method for determining if a site is installed or not. This is used in `uiowa:multisite:install` and `ReplaceCommands::replaceDrupalUpdateAll`. Ideally, we could rely on BLT's Inspector but that is current blocked by https://github.com/acquia/blt/issues/4517.

# Proposed solution
Track https://github.com/acquia/blt/issues/4517, c

[2022-05-06 13:53] pyrello opened #5240 "Add "Save and edit layout" button to node add/edit form"
# Story

As a content editor I want to be able to click a button to save my content edits and go directly to the layout tab/screen so that I don't have to find my own way there after saving the node add/edit form.

# Proposed solution

- Use `hook_form_alter()` to add an action button to the node add/edit forms labeled "Save and edit layout".
- Use submit handler to set redirect destination to `no

[2022-05-06 14:08] pyrello commented on #2207
Opened #5240

Considering this done based on work to add image block, which at least gets us to component parity.

Not sure if this refers to #2785 or #4317. @bspeare?

Not sure what this means. If nobody else has any ideas, feel free to add them in, but otherwise we can probably consider  this done or moot since it is vague.

[2022-05-06 14:43] briand44 commented on #5106
Not sure if this is helpful or not but something TM mentioned in relation to this issue.

[2022-05-06 14:48] briand44 opened #5241 "Audit D7 sites for usage of bongo module and other references to bongo.org."
The bongo.org domain is expiring September 26th. We should see what sites are currently using this module or that reference bongo.org and update.

# Proposed Solution
703:
- [x] Verify the bongo and bongo predictions modules aren't disabled on any sites that would require an uninstall
- [x] Move the Bongo module local to housing and dining.
- [x] Update `uiowa703-dev/docroot/sites/dining.uiowa.edu

[2022-05-06 18:59] richardbporter commented on #4492
This is done.

[2022-05-06 18:59] #4492 closed, assigned to richardbporter

[2022-05-06 21:04] briand44 commented on #5231
@richardbporter you mentioned we are connecting to another database currently from data.its.uiowa.edu. It could be useful to point us at that as a reference?

[2022-05-06 21:05] briand44 commented on #5231
Marking this as blocked until ^^ is setup.

[2022-05-09 13:19] bspeare commented on #2475
No, we are sizing the images with CSS and the same image style (`/admin/config/media/image-styles`) loads for all sizes.

[2022-05-09 13:23] pyrello commented on #2475
Ah. I was misreading this issue. Thanks!

[2022-05-09 13:25] bspeare commented on #2475
I added "Drupal" to the issue title to help clarify that :)

[2022-05-09 13:28] richardbporter commented on #5231
I assumed since the site is using Feeds, this was probably a requirement. You might be more familiar with that piece of things than me though.

Some DB docs exist at https://git.uiowa.edu/its-web/data.its.uiowa.edu#databases The credentials used for those DB connections should be stored in environment variables: https://git.uiowa.edu/its-web/data.its.uiowa.edu#environment-variables

Also, there is

[2022-05-09 15:14] joewhitsitt commented on #4966
If we import existing and make adding new ids a manual process, the cache clearing might be more complex if certain fields override the api data. Yes, a simple save could purge the cached api data call, but saving one node by itself won't re-render/override all other nodes.

unless we do a similar node type cache tag like we did for Admissions and Pharmacy's map

[2022-05-09 15:15] bspeare commented on #5107
It looks like this still might be an issue even though the background color is now set the same as the gradient color.

<img width="1365" alt="Screen Shot 2022-05-09 at 10 14 05 AM" src="https://user-images.githubusercontent.com/1036433/167441219-46c6ac81-4db4-48e0-a237-f69378dac331.png">

[2022-05-09 15:16] richardbporter commented on #4966
In a quick test on stage, using the "Save content" bulk operation seemed to purge all nodes that were selected in the content overview page.

[2022-05-09 15:16] richardbporter commented on #4966
The registrar_feeds callback is constructing an ID that combines the building code and the room number. I think this was because there is no ID provided by MAUI and room numbers can exist in multiple buildings.

[2022-05-09 15:18] joewhitsitt commented on #5107
`potential issue` versus a straight up violation with referenced color values seems like a step in the right direction

[2022-05-09 15:19] pyrello commented on #4966
Potential first slice: build a proof of concept that involves creating the node type, adding a field to store the unique ID from MAUI, and pulling that data back to render it. Also figuring out what the MAUI ID will be.

[2022-05-09 15:28] joewhitsitt commented on #5203
Sondra said,

[2022-05-09 15:34] bspeare commented on #1482
I'm going to close this for now.  We can always reopen if necessary.   For now, we need to prioritize https://github.com/uiowa/uids/issues/665 for accordions.

[2022-05-09 15:34] #1482 closed, assigned to nobody

[2022-05-09 16:11] makurj commented on #5219
Response from jobs.uiowa.edu feeds folks: "The Merit & P&S feeds below do not exist any longer – we switched from our old (homegrown) jobs system to a vended Oracle product called Taleo/OTAC back in 2019.  The new system doesn’t offer XML feeds like our old jobs site did. There is something OTAC calls “Jobs Search Widget” that could be used, but that currently has a bug that has been frustratingly

[2022-05-09 16:11] #5219 closed, assigned to nobody

[2022-05-09 16:34] #5157 closed, assigned to cory-skeers

[2022-05-09 16:36] joewhitsitt commented on #5203
Emailed back from its-web about whether they can be flexible on timeline and wait to be a p2lb pilot tester. Presented the "coronavirus method" of manually transitioning v2 to v3 page content if they need to move forward now.

[2022-05-09 17:21] bspeare opened #5247 "UI Press - show subtitle in form and on book pages."

[2022-05-09 17:25] joewhitsitt commented on #4725
Not sure how to achieve maintaining taxonomy hierarchy (usually a separate migration) while also doing random adding new tags on the fly. Thoughts/examples are welcome.

[2022-05-09 17:30] bspeare commented on #5247
Looks like the subtitle is a big thing for university presses:

- https://www.ucpress.edu/book/9780520384316/going-remote
- https://mitpress.mit.edu/books/black-gaze

Let's use the subtitle style that we are using here:

<img width="1009" alt="Screen Shot 2022-05-09 at 12 28 00 PM" src="https://user-images.githubusercontent.com/1036433/167464561-f5e04d42-c044-48df-af48-bf4ee19117bb.png">

Styles c

[2022-05-09 17:35] bspeare commented on #5247
However, some are joining them together for teaser views: https://www.ucpress.edu/coming-soon

<img width="1197" alt="Screen Shot 2022-05-09 at 12 34 54 PM" src="https://user-images.githubusercontent.com/1036433/167465651-89900843-582b-4cde-8be9-c88ee29b3c63.png">

[2022-05-09 17:56] briand44 commented on #5238
For the bus stops, the customer is fine with us just creating a multi-valued link field with a link title so they can specify the bus stop name. They will manually input the stops and we can avoid the integration with the Bongo API. I think they would continue to want these links styled as buttons but if we feel differently we can provide an alternate look and get feedback.

[2022-05-09 17:58] briand44 commented on #5238
Even though we don't need this now I wanted to capture it somewhere. api.ebongo.org is fine to continue using and it will eventually move to icareatransit.org.

[2022-05-09 18:10] JKurtzlebenUI commented on #4725
Amanda and I mapped some key tags for migration.

The first tab in the spreadsheet addresses both the existing D7 article form tabs and checkboxes as well as streamlining a few of the existing tags to map from D7 tags, checkboxes and fields to D9.

The second tab has the go-forward tagging rules for creating new stories and includes some new tags. This probably isn’t directly useful in the scripti

[2022-05-09 18:11] briand44 opened #5248 "Article migration for research.uiowa.edu"
# Story

As a site owner of research.uiowa.edu, I would like our articles migrated to our new v3 site so those will continue to be available to visitors and we can avoid manually transitioning all of them.

# Additional Info
My understanding is that they are hoping to launch by end of calendar year 2022.

- What articles should we be migrating? - **We are only migrating "articles" not "articles (d

[2022-05-09 18:14] briand44 opened #5249 "Display jobs on research.uiowa.edu"
# Story

As the person who lists job opportunities for research.uiowa.edu, I would like the ability to manually create these on our website to have more flexibility on the information and appearance of these postings.

# Additional Info
They would like to be able to schedule these job opportunities to unpublish on a specified date.

Hopefully we can display using feeds and avoid developing this bu

[2022-05-09 19:37] joewhitsitt commented on #4725
I think I misunderstood Cory's notes about hierarchy. I had a short huddle with @makurj to get clarification. I think I have what I need now.

[2022-05-09 19:42] briand44 commented on #5231
Yeah, I agree I think that makes the most sense now as long as we don't have any performance issues getting all this data from the data warehouse. I think long term, possibly when the OneIt Intranet moves to v3, looking into the Workflow callbacks may make sense.

[2022-05-09 19:52] briand44 opened #5250 "Registrar electronic diplomas"
As an institution offering a CeDiploma, we need to create a page on the Registrar website that will host the validation mechanism in order to meet the requirements of the vendor.

# Additional Information
There is an email with dropbox credentials that contains documentation and assets. I will share in our shared support inbox.

I believe this is going to need to be some sort of custom built form

[2022-05-09 19:55] e-marie-w opened #5252 "SSL Cert research.uiowa.edu on uiowa"

[2022-05-09 21:19] briand44 commented on #5147
Adding grooming label back so we can update the team on the new proposed solution. Thanks @bspeare

[2022-05-10 12:49] #5031 closed, assigned to bspeare

[2022-05-10 13:28] joewhitsitt commented on #5249
Does this intersect at all with https://github.com/uiowa/uiowa/issues/2299?

[2022-05-10 13:35] briand44 commented on #5249
I hope so but it sounds like there is one individual who likes having this structured on their site. I added needs more info and discussion needed labels because I plan to have more conversations around this when we get closer to working on this site.

[2022-05-10 13:37] briand44 commented on #2299
https://github.com/uiowa/uiowa/issues/5219#issuecomment-1121299875

[2022-05-10 13:38] briand44 commented on #5249
https://github.com/uiowa/uiowa/issues/5219#issuecomment-1121299875

[2022-05-10 14:31] quamsta commented on #5057
@joewhitsitt Sounds good, I'll remove the screenshots and I think this should be ready?

[2022-05-10 14:33] bspeare commented on #5057
@quamsta just wanted to check that you saw this comment: https://github.com/uiowa/uiowa/pull/5094#issuecomment-1119035627.

[2022-05-10 16:28] briand44 opened #5253 "Design enhancements for 2plus2 pages"
Way to call out that a visitor is on a 2plus2 page vs an Area of Study page (url structure "/2plus2/" including updated breadcrumbs, maybe banner with pre-title?)

[2022-05-10 17:11] joewhitsitt commented on #4725
@JKurtzlebenUI, for departments, your spreadsheet has them coming over as `UI Document Center (DC)`, `gmp`, `iowa jpec`, etc. but then we have a note to append `-news` to these. So like `UI Document Center (DC)-news`, `iowa jpec-news`

Is that correct?

<img width="415" alt="Screen Shot 2022-05-11 at 8 38 49 AM" src="https://user-images.githubusercontent.com/4663676/167863463-6e10c0bf-a0cf-4c5a-bd

[2022-05-10 18:22] briand44 commented on #3393
UICapture (Panopto), Instagram do not.

Verify this and try out the module listed in the proposed solution.

[2022-05-10 18:29] joewhitsitt commented on #3393
I think this will only go so far though and may still be flagged. If I recall, SiteImprove is flagging the inner iframe object which we have no control over.

YouTube - note that the outer iframe does have a title attribute, but the inner does not:
<img width="739" alt="Screen Shot 2022-05-10 at 1 27 54 PM" src="https://user-images.githubusercontent.com/4663676/167697528-f1b0c557-00aa-4621-a5ca-5e

[2022-05-10 18:29] briand44 commented on #5253
template has been set up already as part of previous work.

[2022-05-10 18:32] mjoneill commented on #5250
Timeline: Students are going to be getting emails about their credentials June 1 (+/- 2 days).  June 1 seems like the estimated launch date.  Emails might not go out until the 3rd though.

Drupal component: In the dropbox, there are code examples, including a Drupal module: [Dropbox Root]/Validation Web Page/WebAPIHTML_SampleCode/ServerSide/Drupal 8-9 Plugin

Related web pages:
- https://registrar

[2022-05-10 18:50] briand44 commented on #5037
Sean getting clarity on single field vs separate fields.

[2022-05-10 18:55] joewhitsitt commented on #5037
_if_ we do a single field for this, I'd love it if we keep the door open for it to be merged into default config someday. HR has a similar field on their page content type: https://github.com/uiowa/uiowa/blob/main/config/sites/hr.uiowa.edu/field.storage.node.field_related_content.yml

_if_ this single field is supposed to be broken out into separate groups on the full node, one solution would be t

[2022-05-10 18:58] bspeare commented on #4403
We could also try to shorten our `Content position` labels as a part of this work.

[2022-05-10 19:00] pyrello commented on #5037
Based on this example (thanks @joewhitsitt!) it looks like the related elements are not displayed on the article page: https://iisc.uiowa.edu/laurian-receives-faculty-service-award-iowa-initiative-sustainable-communities. So it seems like we can move forward with trying out a single field.

[2022-05-10 19:14] briand44 opened #5254 "After conversion, V2 version of page still showing on View tab"
After converting a node using the conversion tool, v3 drafts and published pages currently showing v2 content when you view them. You can only see the changes when viewing content in Layout Builder.

This may be related to the tempstore or needing a cache clear.

# Proposed solution
Investigate why this is happening. Does it happen to all nodes or just some? Is it because some nodes have data in t

[2022-05-10 19:55] briand44 commented on #5173
After conversations with Public Safety, this is not something they are wanting us to pursue at this time. There were some concerns over shared devices among others.

[2022-05-10 19:55] #5173 closed, assigned to nobody

[2022-05-10 20:11] pyrello commented on #5054
I'm going to start working on this.

[2022-05-10 20:23] briand44 commented on #5106
I reached out to TM to see if he has any recommendations to address this.

[2022-05-10 20:24] briand44 opened #5256 "Registrar Electronic Diplomas v3"
We will need to address https://github.com/uiowa/uiowa/issues/5250 on their v3 site as well before that site launches.

[2022-05-10 20:32] briand44 commented on #5037
The article referenced above does not contain any references. I created an article on dev and the references do appear.
![Screen Shot 2022-05-10 at 3 30 14 PM](https://user-images.githubusercontent.com/1017022/167716773-aba34cbf-643b-4d61-bb23-b34cb69224df.png)

[2022-05-10 20:50] richardbporter commented on #4318
This is gone.

[2022-05-10 20:50] #4318 closed, assigned to richardbporter

[2022-05-10 20:52] richardbporter commented on #5222
GONE

[2022-05-10 20:52] #5222 closed, assigned to richardbporter

[2022-05-10 21:07] #4314 closed, assigned to richardbporter

[2022-05-10 23:50] #5247 closed, assigned to nobody

[2022-05-10 23:50] pyrello opened #5259 "IISC - Create partner content migration"
Create a migration and source class to handle migrating partner content type.
- Depends on the person migration.
- Current partner field is not being migrated.

[2022-05-10 23:51] pyrello opened #5260 "IISC - Finish project content migration"
314 items

[2022-05-11 13:45] pyrello commented on #5037
To test out using a single field, I tried adding this to #5258, along with a view that using the content type as a grouping field to see if that would allow for listing out the different content types separately. However, my view isn't currently working.

[2022-05-11 14:19] pyrello opened #5261 "IISC - Finish project and article content migrations"
# Proposed solution

Finish the work started in #5258 to fully implement a migration for project and article content.
- Check that logic for setting article source works.
- Check existing fields to make sure they are functional.
- Add an academic year field to project content type (I missed this in the previous PR). Apparently there is some code in the housing site that might be relevant to this.

[2022-05-11 14:21] pyrello opened #5262 "IISC - Create person content migration"
Create a migration and source class to handle the person type.

[2022-05-11 14:24] pyrello opened #5263 "IISC - Create views for new Partner and Project content types"
# Views needed
For reference: https://iisc.uiowa.edu/partnerships
- Projects
  - by Partner NID (block)
  - Tags (block)
  - College/Depts (block)
  - All (block)
- Partners
  - ~Current (block)~ - This can be left out.
  - All by Year (block)
  - All (page)
  - Most recent (block)
  - List All (block)
- All colleges and departments (page - grid of term teasers)
- Nope. ~Need to check if actually

[2022-05-11 14:31] JKurtzlebenUI commented on #4725
Anything that doesn't have a tag 'media mention' should get a tag 'news'. On the second tab in the sheet for rules, we're going to count on their either being the tag 'news' or 'media mention' to determine if that article displays in a media mentions list or a news list. This would include the list of all past articles (back to Jan 2020 in this case) only consisting of articles tagged 'news.' Not

[2022-05-11 14:33] briand44 opened #5264 "Facilities Development"
Just dumping all this here for now.

- Building lists — pulls up-to-date information from FM-managed building lists including populating building pages with ongoing projects that affect that building.

- Building information page – brings together SIMS space information, mapping, energy dashboards, art on campus, and project information from BuildUI (Rakesh Rao)

- Building Coordinators — pulls Bu

[2022-05-11 14:33] makurj opened #5265 "As a Tippie webmaster, I would like redirects from D7 site imported programmatically into the D9 site."
# Story

As a webmaster, I would like redirects from D7 site imported programmatically into the D9 site so that I don't have to manually recreate over 60 pages of redirects manually.

Prioritize for May 20th sprint to give James time to clean up the URLs and create the spreadsheet.

# Proposed solution

1. Create a spreadsheet. The CSV file must include columns in the following order: "From URL","

[2022-05-11 14:33] makurj commented on #5265
I would like to pair on this.

[2022-05-11 14:34] joewhitsitt commented on #4725
Yeah, that should already be wired up (media mention/news). So I don't need to separately append `-news` to all tags for this migration to make them news specific tags?

[2022-05-11 14:36] JKurtzlebenUI commented on #4725
yeah, as we worked through the tagging process, and reminded ourselves about any filters with multiple tags being an 'or' statement and understanding all the existing use cases, we decided we didn't need the compound tag.

[2022-05-11 14:38] JKurtzlebenUI commented on #4725
so as long as a non-media mention story about, say business analytics gets the tags "business analytics" and "news" should be ok if we're understanding properly :)

[2022-05-11 15:21] JKurtzlebenUI commented on #4725
The use cases for tags is on the second tab in the spreadsheet and  you'll see some exclusively use 'news' or 'media mention' but others only use the subject tags like 'business analytics' or 'msba' or both. :)

[2022-05-11 16:49] joewhitsitt commented on #5238
I wonder if we could just parse a pasted share URL into a static map. This would be easy for editors to get. `!m/579418` is the marker id in this situation.

<img width="488" alt="Screen Shot 2022-05-11 at 11 47 06 AM" src="https://user-images.githubusercontent.com/4663676/167903937-371b4b27-9e0c-467d-a51c-922dca78e2ab.png">

[2022-05-11 17:16] joewhitsitt commented on #5238
I think a compound field (e.g. addressfield) that takes share link, zoom level, label text (required for alt text). Scale should just be set to 4 with a width 100% on the parent div since we can't do responsive images here. Renders a linked wrapped image with hover/focus effect.

[code]

Alternatively, we could use background image to control aspect ratio. https://www.wpi.edu/about/locations/alumn

[2022-05-11 17:18] joewhitsitt commented on #4725
@JKurtzlebenUI and @makurj I believe the migration is to a reviewable state. Should I run this in DEV for your review?

[2022-05-11 17:27] #5228 closed, assigned to nobody

[2022-05-11 17:28] joewhitsitt commented on #5238
This is growing on me (controlling aspect ratio):

<img width="932" alt="Screen Shot 2022-05-11 at 12 27 57 PM" src="https://user-images.githubusercontent.com/4663676/167910598-ee928ed2-0ee4-4196-a94e-5457d37ac5e5.png">

[2022-05-11 17:30] makurj commented on #4725
Yes, please. Thank you!

[2022-05-11 17:32] joewhitsitt commented on #5238
Noticed though that these are really slow to load initially... There is a 3.8 MB difference between scale 4 and 2 if we don't mind scaling for divs greater than 1024px wide.

[2022-05-11 18:57] joewhitsitt commented on #4725
@JKurtzlebenUI and @makurj ,

This is available in DEV for review. https://tippie.dev.drupal.uiowa.edu/news

Non-migration images were not synced down from tippie.prod.drupal.uiowa.edu

Cory noticed a summary encoding issue with https://tippie.dev.drupal.uiowa.edu/node/4146/edit that I am going to see if we can do anything about. Since this is formatted text migrating into plain text, I am not sur

[2022-05-11 19:02] JKurtzlebenUI commented on #4725
Joe, this is looking really nice! Thanks to you and the team. I'd like to share this with our two comms folks at Tippie as they're closer to the content and have a better feel for looking things over.

Would that be ok or is there a reason you'd like me to wait until sharing with them?

[2022-05-11 19:03] joewhitsitt commented on #4725
Yes, the more eyes the better

[2022-05-11 19:18] makurj commented on #4725
Looks so good!

[2022-05-11 19:38] joewhitsitt commented on #4725
## Possible broken links, content blocks report (DEV - 5/11):

- [notice] Content blocks found on old /node/70836. Consider revising For the love of numbers (& diamonds)
- [notice] Content blocks found on old /node/70846. Consider revising Diving in: 3M director sees company and his family through a year of change
- [notice] Content blocks found on old /node/70851. Consider revising 40/40/20
- [no

[2022-05-11 19:55] joewhitsitt commented on #5238
Going to dig into this a bit more

[2022-05-11 20:58] joewhitsitt commented on #5238
Hey look. A static map.
<img width="345" alt="Screen Shot 2022-05-11 at 3 55 25 PM" src="https://user-images.githubusercontent.com/4663676/167946050-8dd69b3c-f1fc-44d9-a9a4-06750cd86141.png">
<img width="1036" alt="Screen Shot 2022-05-11 at 3 55 10 PM" src="https://user-images.githubusercontent.com/4663676/167946107-0d7e4270-9613-4953-8d95-b9d6759deddc.png">

[2022-05-11 22:00] pyrello commented on #5049
There are the following roles:
- Faculty Advisor
- IISC Founder, Advisory Board member
- Community Coordinator
- Advisory Board - Community Representative
- Faculty partner

I'm not a fan of adding a new field if it can be avoided because it will force us to split the person entity view display.

I have laid out 3 different options for the customer:
1. Move everything into person types.
2. Move gr

[2022-05-12 04:38] pyrello commented on #5262
Per conversation with the customer, we are going to:
- Add Community Partner to the person types. Leave Faculty, Staff, and Student active as person types. Disable Emeritus, Graduate Assistant, and PhD Candidate as person types.
- Map the rest of the current groups to tags.
- Not migrate the Role with IISC field data.

I'm just realizing that this means creating tags that don't already exist and I

[2022-05-12 13:26] cory-skeers commented on #5262
Yup! We can chat about it, but the in-progress Tippie migration @joewhitsitt just worked on has an example kind of like this--it maps some old terms to new, sometimes multiple, with some tag creation as part of it. Basically it all happens within the `prepareRow` instead of a separate term migration, tracking existing terms by a name lookup and creating new if needed, then passing the mapped term

[2022-05-12 13:30] pyrello commented on #5262
Since it was only 3 terms, I ended up deciding to just create them in the new site and manually map the old IDs to the new IDs. Thanks for the insight, I'll take a look at that so I can understand how it would be done in the future.

[2022-05-12 13:58] pyrello commented on #5265
It seemed like, from our conversation about this in standup yesterday, that this was something we were just going to work on for Tippie. Can we change the title/story to reflect that?

[2022-05-12 13:59] pyrello commented on #5260
Work on this was started in #5258 to add the relevant migration files and classes. This task is just to finish getting the migration fully functional.

[2022-05-12 13:59] pyrello commented on #5261
Work on this was started in #5258 to add the relevant migration files and classes. This task is just to finish getting the migration fully functional.

[2022-05-12 14:04] JKurtzlebenUI commented on #4725
Thanks for the links report, Joe, and also thanks for your work on this migration!

[2022-05-12 14:05] joewhitsitt commented on #5265
Previous examples: https://github.com/uiowa/uiowa/tree/main/docroot/sites/hr.uiowa.edu/modules/hr_core ,https://github.com/uiowa/uiowa/tree/main/docroot/sites/uiowa.edu/modules/uiowa_edu_core

note the format:
[code]

[2022-05-12 15:23] #5057 closed, assigned to quamsta

[2022-05-12 18:33] joewhitsitt opened #5270 "Link module (d7) displays malformed external URL after security update"
Possible patch here: https://www.drupal.org/project/link/issues/1914072

Law Library and Hancher are affected.

[2022-05-12 18:36] pyrello commented on #5260
Closing this in favor of #5261

[2022-05-12 18:36] #5260 closed, assigned to nobody

[2022-05-12 18:50] joewhitsitt commented on #5270
Sounds like there is a validation issue as well... https://www.drupal.org/project/link/issues/2666912

[2022-05-12 20:20] joewhitsitt commented on #5238
I think this investigation is done. The features are done however but might be addressed in future issues.

[2022-05-12 20:20] #5238 closed, assigned to joewhitsitt

[2022-05-12 21:00] joewhitsitt commented on #5270
Both patches apply and solve the issues I have spot checked. However, I wonder to what extent it removes recent security coverage updates.

[2022-05-12 21:29] joewhitsitt commented on #5270
Moving forward with https://www.drupal.org/project/link/issues/2666912#comment-14512565 and https://www.drupal.org/project/link/issues/1914072#comment-14506618 to cover 701-3, icgov, dentistry

Going to see if users can test in 703 DEV (law library and hancher) before deploying for all.

[2022-05-12 21:47] joewhitsitt commented on #5270
Both users report that this fixed their issues. Deploying to PROD

[2022-05-12 22:18] joewhitsitt commented on #5270
Deployed to 701-3. Waiting on confirmation/guidance for ICGov and Dentistry #drupal

[2022-05-13 13:57] makurj commented on #5265
You mean that this will be in the Tippie site split?

[2022-05-13 14:00] joewhitsitt commented on #5270
Deplooyed to icgov and dentistry

[2022-05-13 14:00] #5270 closed, assigned to joewhitsitt

[2022-05-13 14:27] joewhitsitt commented on #5227
Should we experiment with https://www.drupal.org/project/schemadotorg when creating this content type?

[2022-05-13 15:13] mjoneill commented on #5227
I would love to participate. I have the sense that I'm a bit misaligned with how Drupal is thinking about implementing, managing, and governing schema...so anything that helps me understand where the opportunity is would be useful.  Not sure if this is the best opportunity to help me, but willing (if not excited) to participate if it seems like this is a good opportunity.

[2022-05-13 15:57] #5147 closed, assigned to bspeare

[2022-05-13 17:24] bspeare commented on #5227
How much further does that increase the scope of the issue?  Is this blocked until we can agree on this?

[2022-05-13 17:29] bspeare commented on #2756
We could really use this functionality for the IISC and Housing sites.   Otherwise, we will continue to create designed groupings through views blocks like we have in the past with admissions.

@pyrello has mentioned a few options:

- There is a patch here that might work: https://www.drupal.org/project/layout_builder_styles/issues/3094344#comment-13440829
- Or until that work on the patch is comp

[2022-05-13 17:35] joewhitsitt commented on #5227
I haven't even tried the module yet, so I don't know. It would also be a departure how we have building. So maybe not worth it for this particular issue, but I do want to explore it at some point in the future (like how we looked at Gin). I think it is developer's choice at the moment.

[2022-05-13 18:17] pyrello commented on #5227
Trying this out would expand the scope of this, but it might be a good opportunity to do some dabbling. Here's how I would approach this:
* Pick a subset of 5-10 fields and set up the content type based on those.
* Get everything set up as though you were doing this without the Schema.org module, with all the config exported and committed.
* Add the module, test out how it works, see if it seems w

[2022-05-13 19:15] makurj commented on #3393
Installed the module but there are no configuration options to complete this step: "Under "Filter processing order," make sure that this filter is set to run after any HTML filtering, as well as after any filters that would be generating iFrames (e.g., video_filter)."

Here's what I see with whatever the default settings for that module are: No title.
ScheduleOnce:
![image](https://user-images.git

[2022-05-13 20:08] joewhitsitt commented on #3393
@makurj this module should present itself as an additional WYSIWYG filter that can be enabled and ordered here: admin/config/content/formats/manage/filtered_html

As I mentioned in the comment above, this might not solve our YouTube SiteImprove issue (inner iframe), but it is still something we should consider for Panopto and Instagram if they are still an issue.

[2022-05-13 20:10] makurj commented on #3393
Also found: https://www.drupal.org/project/iframe_title_filter/issues/3211492

[2022-05-13 20:38] makurj commented on #3393
Is this the expected behavior for a Panopto video? It's not picking up the title I gave it when I uploaded the video through the media library, "Knowledge Share".

![image](https://user-images.githubusercontent.com/52135878/168386018-0c8b6492-3ef5-4aed-8916-6c15222da786.png)

[2022-05-13 20:44] makurj commented on #3393
If I embed a Panopto video using the embed code from the video and using Full HTML -> source, it removes the title:

![image](https://user-images.githubusercontent.com/52135878/168386724-310f3417-7907-43e7-aebf-3ea14ceaccd1.png)

[2022-05-16 13:46] joewhitsitt commented on #3393
I don't know what steps you have done. Based on similar solutions, this is what I believe might be the recipe for success:

- composer require drupal/iframe_title_filter
- sync sandbox
- go to /media/media-panopto and see the iframe object there. there isn't a title attribute on render.
- enable the module
- go to admin/config/content/formats/manage/filtered_html
- enable the filter. save.
- there

[2022-05-16 13:52] makurj commented on #3393
Yep, did all the steps except for the /media/media-panopto one, but on default. Will continue working on it.

[2022-05-16 13:57] joewhitsitt commented on #3393
"Embedded content from uicapture.hosted.panopto.com" looks correct to me. That is what the module is supposed to do.

https://github.com/uiowa/uiowa/issues/3393#issuecomment-1126471294

https://git.drupalcode.org/project/iframe_title_filter/-/blob/8.x-1.x/src/Plugin/Filter/FilteriFrameTitle.php#L36

[2022-05-16 14:19] makurj commented on #3393
No iframe object here: /admin/structure/media/manage/panopto

[2022-05-16 15:59] JKurtzlebenUI commented on #4725
Hi Joe, can you tell if we're picking up articles at this level: https://tippie.uiowa.edu/news/alumni/matthew-j-smith-named-cfo

There's not a date associated with it, so i couldn't easily search. I wondered if it was something you could tell from what your script pulled.

[2022-05-16 16:08] briand44 commented on #4725
We are not. That is part of the alumni news content type and we are migrating news item content. https://github.com/uiowa/uiowa/issues/4725#issuecomment-1101755187

[2022-05-16 16:10] GaryRidgway commented on #5106
@briand44 has there been any response from TM on this? I would like to start it but I believe it is blocked until he responds?

[2022-05-16 16:13] e-marie-w commented on #5106
I started poking at this. Not sure yet if this is the problem, but https://www.w3.org/TR/wai-aria-practices-1.1/#wai-aria-roles-states-and-properties-20 and https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/tab_role#example both mention/use the additional `role=tabpanel` alongside `role=tab` and `role=tablist`

[2022-05-16 16:13] briand44 commented on #5106
No

I think we could dig into it and see if there is something we find that could improve this from an accessibility standpoint.

[2022-05-16 16:54] #5037 closed, assigned to pyrello

[2022-05-16 16:54] #5049 closed, assigned to pyrello

[2022-05-16 16:54] #5054 closed, assigned to pyrello

[2022-05-16 16:54] #5259 closed, assigned to pyrello

[2022-05-16 16:54] #5262 closed, assigned to pyrello

[2022-05-16 17:48] JKurtzlebenUI commented on #4725
gotcha, i'd thought they were part of the news article type in D7. Is there anyway we could bring those too? We'd want to just tag them 'alumni updates' and not have a 'news' or 'media mentions' tag assigned.

[2022-05-16 18:11] makurj commented on #3393
Did not work for Instagram or Google Maps:

![image](https://user-images.githubusercontent.com/52135878/168656101-02f14e55-01c1-45d8-878c-7851167c3c97.png)

![image](https://user-images.githubusercontent.com/52135878/168656110-a94dbb7a-1f42-4aa8-9478-9d20b54c5131.png)

[2022-05-16 18:18] makurj commented on #3393
Candid Career seems to work:

![image](https://user-images.githubusercontent.com/52135878/168657051-2e86c3b3-ea09-4a27-ae75-732e9d7df06d.png)

[2022-05-16 18:20] joewhitsitt commented on #3393
in that the iframe has a title attribute and the module does not try and replace it?

[2022-05-16 18:23] makurj commented on #3393
I see no difference in the DOM for the same video here https://careers.uiowa.edu/career-communities/helping-counseling#explore-helping-and-counseling-careers so I'm not sure what, if anything, is being done by the module in this case.
![image](https://user-images.githubusercontent.com/52135878/168657858-bcefdba9-59f0-410e-97ef-a1bab7e37205.png)

[2022-05-16 18:28] makurj commented on #3393
Pass: Panopto, Candid Career.
Fail: ScheduleOnce, YouTube, Instagram and Google Maps.

![image](https://user-images.githubusercontent.com/52135878/168658432-0ea9c8bf-2597-4de0-a682-22f5330a0306.png)

[2022-05-16 18:36] makurj opened #5278 "As a webmaster, I can see <title> attributes for iframe oembeds for accessibility"
# Story
Extension of #3393

1. Investigate another path (module, update hook, etc.) to see if we can get a title attribute for YouTube, Instagram and Google Maps.
2. See https://www.drupal.org/project/drupal/issues/3085545 and https://www.drupal.org/project/iframe_title_filter/issues/3211492

# Proposed solution
???

[2022-05-16 18:59] cory-skeers opened #5279 "Expand webform docs"
# Problem
Little or no documentation for some webform options, specifically for options regarding enabling ajax, but possibly other sections. When a multi-page webform is placed as a block, ajax must be enabled or else field values won't carry beyond one page.

# Stories
As a sitenow editor, I would like expanded webform documentation, so that I can fully understand the available ajax options.

As

[2022-05-16 19:00] bspeare commented on #5227
It looks like these are listed as either taxonomy or select-list.   Are there any objections to making them all taxonomy?

- Building type
- Room type
- Bathroom type

[2022-05-16 19:04] bspeare commented on #5227
Are we thinking text or date field for the "Year built" field?  Are you referring to this field in your comments @joewhitsitt @pyrello?

[2022-05-16 19:05] joewhitsitt commented on #5227
I think in grooming we talked about the editor benefit of having the ability to add/edit options in which taxonomy for now is best suited. Rabbit holed by default until there is a use-case for displaying them.

[2022-05-16 20:02] joewhitsitt commented on #5250
Who should I talk to about this part? @briand44 @mjoneill

<img width="960" alt="Screen Shot 2022-05-16 at 3 01 02 PM" src="https://user-images.githubusercontent.com/4663676/168672790-ff1d4170-ef76-42be-abe8-7e73ee7814b4.png">

[2022-05-16 20:59] briand44 commented on #5250
forwarded Joe an email with our contacts at the Registrar office in case we need to reach out with questions. They can also help facilitate a call with the vendor if needed.

[2022-05-16 21:11] briand44 opened #5280 "SSO for new uihc.org website"
As a vendor for the Drupal 9 uihc.org website, I would like to integrate SSO so that users authenticating to the website can log in with their HawkID similar to other campus D9 Drupal websites.

# Additional Information
The application hosting this site is uihealthcare01

# Proposed Solution
Provided by Rick:
In order for them to set this up and in regards to your questions, Brian/Michael and the

[2022-05-16 21:23] GaryRidgway commented on #5253
Does anyone have any more context on what we decided on for the enhancements last planning?

[2022-05-16 21:26] briand44 commented on #5280
Comment from Rick

[2022-05-16 21:28] bspeare commented on #5227
I have enabled the https://www.drupal.org/project/schemadotorg module and used the `Place` schema.org type and Drupal reminds me `Experimental modules are provided for testing purposes only. Use at your own risk.`.  So here are a few initial observations:

- The fields that you assign to Schema.org properties are all put into `details` toggles on the form edit screen which is cool, yet:
  - It ove

[2022-05-16 21:30] briand44 commented on #5253
I wasn't in last planning but it was previously mentioned that potentially using banner image with pre-title on all of the 2+2 pages could be a way to differentiate these pages from AoS pages.

[2022-05-17 13:34] bspeare commented on #5253
@GaryRidgway here's what I think is the work to be done here:

1. A field_image (featured image), field will need to be added to the content type.
2. The content type will need to be converted to use a layout builder layout
3. The layout builder template will need to be converted to have a Header region so that the featured image will use the banner template (https://github.com/uiowa/uiowa/blob/ma

[2022-05-17 13:42] joewhitsitt commented on #4258
We did this and have other follow-up issues. Closing

[2022-05-17 13:50] joewhitsitt opened #5282 "Give sitenow_find_text back to the community?"
# Story

As a drupal site builder, I can leverage the sitenow_find_text module on my non-university Drupal 9 website.

# Question

Is this module something we want to generalize and give back to the community? Is it possible or is it too specific to our codebase?

# Proposed solution

- [ ] Audit and generalize code so that it works for any Drupal website's fields, blocks.
- [x] Rename to https://

[2022-05-17 14:10] bspeare commented on #5253
As @cory-skeers mentioned, these pages might also need some banner images.  Not sure if we've added a banner block to views pages yet...?

https://admissions.uiowa.ddev.site/2plus2/majors
https://admissions.uiowa.ddev.site/2plus2/colleges

[2022-05-17 14:12] bspeare commented on #5253
Maybe we limit the first slice of this to the content type and plan an additional slice to groom the views pages?

[2022-05-17 14:24] JKurtzlebenUI commented on #4725
Let's go ahead and import the news that we have into Production. Amanda has given her go-ahead.

[2022-05-17 15:35] bspeare commented on #5227
~These items all look like they hardcoded fixed links in the D7 site, do we want to do the same here and place these in a custom block?~
<details>
- Get Involved Call to action links - These currently have an icon, title and brief desc text
- Connect with your community - will link to a page within Housing site
- Advocate for Students - Links to arh.org.uiowa.edu - Rewrite text to say: Make a diff

[2022-05-17 16:05] joewhitsitt commented on #4725
Got the go-ahead from @JKurtzlebenUI to run the migration in PROD as soon as possible. I will be looking to get the PR merged and deployed so it can be run.

[2022-05-17 16:26] #4725 closed, assigned to joewhitsitt

[2022-05-17 17:25] bspeare opened #5283 "Create mockup for Iowa Now Faculty/Staff home page"
Create a landing page mockup for the new ~Iowa Now home faculty news page page and a landing page for the~ Iowa Now Faculty/Staff home page.

- Look for design inspiration on other university news sites like https://news.duke.edu.
- Read [this](https://iowa-my.sharepoint.com/:p:/g/personal/bspeare_uiowa_edu/EaMRIHZudJBAt5r4WUrzMfYBylSDdSqntCTmE9xRz0lfhQ?e=0O7sb9) if you want some v3 design tips.
-

[2022-05-17 18:36] briand44 commented on #5283
https://today.duke.edu/ was an example they referenced for the internal news info

[2022-05-17 18:53] joewhitsitt commented on #5280
For reference https://github.com/uiowa/uiowa/issues/2630

[2022-05-17 18:54] pyrello commented on #5280
My opinion is that we should split `uiowa_auth` back out into a separate module and we can go back to consuming it and having UIHC consume it.

[2022-05-17 19:22] bspeare commented on #5227
@briand44 Did they want these fields on the content type?

<img width="427" alt="Screen Shot 2022-05-17 at 1 36 06 PM" src="https://user-images.githubusercontent.com/1036433/168887673-d6faf03f-6bc2-4f0a-b2f5-85ef9837748b.png">

<img width="394" alt="Screen Shot 2022-05-17 at 1 48 42 PM" src="https://user-images.githubusercontent.com/1036433/168888003-0edf1c45-0cd7-417c-a507-348a0a7e6428.png">

[2022-05-17 19:23] briand44 commented on #5280
UI AcquiaGitHub is part of the Signage and Marcom teams on the Healthcare subscription in Acquia. Still need to verify perms for that role.

[2022-05-17 19:29] briand44 commented on #5227
Those are no longer needed. Not sure if you have access to https://iowa.sharepoint.com/:x:/r/sites/UniversityHousingandDining2/_layouts/15/Doc.aspx?sourcedoc=%7B9519e783-5754-4dde-851d-fcdee9e0404d%7D&action=edit&wdinitialsession=f170c4a1-1d68-468a-94f0-5d387cd53ba3&wdrldsc=15&wdrldc=2&wdrldr=BootTimeMismatch&cid=589ae912-8ef0-4b16-8b84-210272641d49 but that is where I was getting all my info.

[2022-05-17 21:36] bspeare commented on #5227
I did a little layout exploration for this after the Tippie meeting this afternoon to get a better sense of how all these fields might work together: https://sandbox.prod.drupal.uiowa.edu/catlett-hall.

[2022-05-17 23:24] mark-bennett-uiowa opened #5285 "Delete iba.biology.uiowa.edu from uiowa01."
# Story

The new isa.uiowa.edu has launched, so we can safely and completely remove the old iba.biology.uiowa.edu site from uiowa01.

# Proposed solution

I am assuming that I can simply perform the following to remove this site (but would like verification before I do this):

Create new branch for this code update.
Run '`blt uiowa:multisite:delete --site=iba.biology.uiowa.edu`'.
Push branch up to

[2022-05-17 23:25] mark-bennett-uiowa opened #5286 "Delete humanities.uiowa.edu from uiowa01."
# Story

The new humanities.uiowa.edu site is now unnecessary and has been killed by the CLAS Deans Office, so we can safely and completely remove the humanities.uiowa.edu site from uiowa01.

# Proposed solution

I am assuming that I can simply perform the following to remove this site (but would like verification before I do this):

Create new branch for this code update.
Run '`blt uiowa:multisit

[2022-05-18 13:48] joewhitsitt commented on #5285
Push branch as PR for approval. Once the domain is removed you can also contact hostmaster to reclaim. https://wiki.uiowa.edu/display/drupaldev/Website+requests+via+sitenow.uiowa.edu#Websiterequestsviasitenow.uiowa.edu-GeneralDeprovisionProcess

[2022-05-18 13:48] joewhitsitt commented on #5286
https://github.com/uiowa/uiowa/issues/5285#issuecomment-1130041461

[2022-05-18 13:51] cory-skeers opened #5287 "powwow.uiowa.edu and lead.uiowa.edu SSL cert on uiowa03"

[2022-05-18 15:27] #3393 closed, assigned to makurj

[2022-05-18 15:37] pyrello commented on #4761
Is "blocked" our recommended workflow because we actually think that is the best option? Or because we are afraid of what will happen if they cancel and an account? If it is the former, then I think we should resolve the issues that make cancelling an account not work as expected.

[2022-05-18 15:41] briand44 commented on #5287
This is done

[2022-05-18 15:41] #5287 closed, assigned to briand44

[2022-05-18 16:07] briand44 opened #5290 "Mockup of residence hall pages"
As a dev team structuring the residence hall content type, it would be useful to have a mockup of the design to get feedback and make sure the structure will work with the desired design.

[2022-05-18 16:10] briand44 commented on #5290
@bspeare put together https://sandbox.prod.drupal.uiowa.edu/catlett-hall and this has been shared with the customer and waiting on feedback.

[2022-05-18 16:18] joewhitsitt commented on #4725
This was run in PROD this AM

[2022-05-18 16:55] briand44 opened #5291 "Create 2plus2 landing page and demo content"
As a site owner for Admissions, I would like to see an example of how site visitors will be able to navigate to 2plus2 information through a community college as well as through an available major.

# Additional Info
Add a landing page with community colleges and available majors and any other additional content needed that ties all these pages and functionality together and allows Admissions to b

[2022-05-18 18:21] joewhitsitt commented on #4761
Blocked is what I have recommended because it has been the easiest to explain/same effect of our most ideal cancel option "Disable the account and keep its content."

So far the concern of data loss/workflow issues have outweighed the user table count/GDPR privacy requests.

I think if we keep the cancel functionality, we should review the options to make it less scary, but then ultimately we have

[2022-05-18 18:33] bspeare commented on #5283
Had a chat with Jack about what they are looking to do with the design on https://now.prod.drupal.uiowa.edu/.  Here's an outline we could follow:

1. Intro section
2. Section of featured faculty staff news items with images (Can be any number of items)
3. List of latest Iowa Now articles
4. Photo gallery/video section to highlight work of OSC video/photo team
5. Resources/Quick links to Self-Servi

[2022-05-18 18:41] pyrello commented on #4761
Should we consider changing the default view for users to exclude blocked users? The site owner could still filter to blocked accounts.

[2022-05-18 19:40] joewhitsitt commented on #5250
This has been pushed out to DEV for customer/vendor testing (branch: `cecredential-registrar`)

https://registrar.dev.drupal.uiowa.edu/credential-validation

- Enable the `cecredential` module on registrar
- Customize the page (panelizer) they want it on by adding the CeCredential Validator pane (Miscellaneous) and configuring it with the credentials they specify.

@briand44 is in touch with the c

[2022-05-18 20:22] briand44 commented on #5283
I see the scope decreased to only include the new faculty/staff page. Curious on if they want to keep Iowa Now the same as it currently is or what their thoughts were on that end?

[2022-05-18 20:24] bspeare commented on #5283
@briand44 after talking with Jack, I think there's some confusion about what we are doing with Iowa Now so it seemed like sticking with a mockup for the Faculty/Staff page made the most sense.  Maybe we can talk about this in PL tomorrow and I can explain further.

[2022-05-19 13:55] joewhitsitt commented on #5227
Wondered about using the "schema.org place" sub-module for this as a follow-up task once fields are decided/final. I think https://schema.org/Residence type is the closest you get to a residence hall/dormitory.

[2022-05-19 15:38] JKurtzlebenUI commented on #4725
Tippie Comms was trained yesterday afternoon and have the checklist from the import that Joe shared to start going through. We've configured several filtered news lists across the site and are pleased with how it's going so far 👍

[2022-05-19 15:49] joewhitsitt commented on #4396
There is an issue to set cache header for 301s https://www.drupal.org/project/drupal/issues/3054821 so things like “last accessed” won’t be tracked appropriately if the site isn’t bootstrapped and instead served by varnish.

[2022-05-19 16:39] briand44 opened #5294 "Theme residence hall pages"
As a Housing site owner, I would like the residence hall pages to look like the mockup.

# Additional info
Mockup created in https://github.com/uiowa/uiowa/issues/5290

https://sandbox.prod.drupal.uiowa.edu/catlett-hall

- We will need to Create a `Border` layout builder styles option and map to a `block--enclosed` class which will eventually be used elsewhere: (https://github.com/uiowa/uiowa/issu

[2022-05-19 16:42] briand44 commented on #5290
Received feedback from customer and Ben has implemented the feedback into the mockup. Customer still wanted to verify having the year built so prominent.

[2022-05-19 16:46] briand44 commented on #5263
From what I was hearing it sounded like this was probably not needed? Did we confirm that?

[2022-05-19 18:45] #5285 closed, assigned to mark-bennett-uiowa

[2022-05-19 18:57] joewhitsitt commented on #4004
Based on what was discovered in https://github.com/uiowa/uiowa/pull/5277, I think it would be better to address https://github.com/uiowa/uiowa/issues/5106 as part of this issue, by simplifying the nesting and not negating the a11y of the headings.

[2022-05-19 19:36] #5286 closed, assigned to mark-bennett-uiowa

[2022-05-19 19:53] pyrello opened #5297 "Migrate - Move `checkImageDimensions` to process plugin"
# Motivation

To streamline our migration source, we can move the functionality for check source image sizes into a [process plugin](https://www.drupal.org/docs/8/api/migrate-api/migrate-process-plugins).

# Proposed solution

Create `docroot/sitenow_migrate/src/Plugin/process/ImageSizeRestrictions.php`:
[code]

[2022-05-19 19:58] pyrello opened #5298 "Migrate - Move file copy and media entity creation to process plugin"
# Motivation

In an effort to streamline our core migration source classes, the functionality related to copying a file, generating a file entry, and a media entry - if each of those things haven't already been done - could be moved to a [process plugin](https://www.drupal.org/docs/8/api/migrate-api/migrate-process-plugins). This would allow us to specify it as an operation in the migration config

[2022-05-19 20:02] pyrello opened #5299 "Epic - Migration improvements"
# Motivation

There are some improvements that we could make to our migration classes that would allow us to simplify the process of creating future migrations. We have a lot of processing that we do in custom migration source plugin classes that we could move to process plugins, which would allow us to define their usage in the migration config yaml and potentially avoid needing to create custom

[2022-05-19 20:04] joewhitsitt commented on #4258
Re-opening for the "replace" portion of this

[2022-05-19 20:06] joewhitsitt commented on #5203
Closing in favor of p2lb

[2022-05-19 20:06] #5203 closed, assigned to joewhitsitt

[2022-05-19 20:08] joewhitsitt commented on #5106
Though this is still an issue, closing in favor of #4004

[2022-05-19 20:08] #5106 closed, assigned to nobody

[2022-05-19 20:22] #5290 closed, assigned to nobody

[2022-05-19 20:22] pyrello commented on #5263
I sent an email to confirm, but I'm pretty sure we're not including this.

[2022-05-19 20:25] briand44 commented on #5265
We just need a few of these so work can start on this. Only need full list prior to running in prod.

[2022-05-19 20:30] pyrello opened #5300 "Move back to using `uiowa_auth` as external module"
## For Reference

https://github.com/uiowa/uiowa/pull/5274
https://github.com/uiowa/uiowa/pull/4728
https://github.com/uiowa/uiowa/pull/4681

## Proposed Solution

- https://github.com/uiowa/uiowa_auth was copied from uiowa and doesn't have some original bits that maybe necessary to run standalone again (e.g. composer.json)
- "undo" the uiowa_auth related bits of 5274, 4728, 4681

[2022-05-19 20:47] pyrello commented on #5280
Created #5300 as a first slice of this that is not dependent on the other parts so that we are all set up to be able to work through the remaining parts.

[2022-05-19 20:56] pyrello opened #5301 "Replicate template library"
# Story

As a content editor I want to have a way to create template files that can be replicated but not published so that I have a straightforward workflow for creating content from a template without having to worry about publishing something unintentionally.

Related to #2848

# Proposed solution

- Add a field/property to the node entity that we can use to allow the user to mark a piece of co

[2022-05-19 21:01] pyrello commented on #5301
After I created this, it also occurred to me that this could potentially be done through content moderation by adding a new state and figuring out its relationship to other states.

[2022-05-19 21:27] pyrello commented on #5300
Attempted to add these back from a folder that was still around when this was a dependency the last time around.

We might want to consider trying https://github.com/marketplace/actions/setup-drupal-action instead of Travis.

[2022-05-19 21:46] joewhitsitt commented on #5291
Sorry, i missed the bit where DEV was removed from the title. Where is this being added?

Looks like there is a redirect in place for /2plus2 that would need to be removed if a separate page will be created there.

[2022-05-19 21:53] briand44 commented on #5291
I guess I was assuming DEV unless something else makes more sense?

[2022-05-19 22:06] joewhitsitt commented on #5291
Started this here: https://admissions.dev.drupal.uiowa.edu/2plus2

Looks like we need to adjust URL paths and breadcrumbs depending on where they want this. If they like the sidebar navigation, it needs to be in the menu system

[2022-05-20 13:09] cory-skeers opened #5302 "humanitiesandpubliclife.uiowa.edu cert on uiowa03"

[2022-05-20 13:55] joewhitsitt commented on #5300
Did the test directory change during the move?

<img width="257" alt="Screen Shot 2022-05-20 at 8 54 12 AM" src="https://user-images.githubusercontent.com/4663676/169543071-38fbf165-f6ed-4dd3-a7ac-aa7b11d0c3c6.png">
<img width="282" alt="Screen Shot 2022-05-20 at 8 54 29 AM" src="https://user-images.githubusercontent.com/4663676/169543077-5399b1b2-1181-457f-bcf5-1d23e75c256f.png">

[2022-05-20 13:58] pyrello commented on #5300
Good catch!

[2022-05-20 14:24] joewhitsitt commented on #5301
I like the moderation state idea. Help keeps it from being "published" and something we can target for a custom view library where we can highlight the replicate operation.

[2022-05-20 14:24] bspeare commented on #5301
Would https://www.drupal.org/project/pate do this?

[2022-05-20 14:26] cory-skeers commented on #5301
It could be easy to extend to other layout builder enabled content types in the future, too. Thinking Articles in particular. Just add the additional moderation state then.

[2022-05-20 14:28] pyrello commented on #5301
These two options seem pretty similar. I have not tried out that module, so I'm not sure how closely it matches this idea. If we were to decide to go the direction of using content moderation as mentioned in a few previous comments, then I think this module would not handle that.

[2022-05-20 14:34] joewhitsitt commented on #5301
That module does look interesting and would be less custom code for us, but https://www.drupal.org/project/pate/issues/3271197 - can't edit an existing template. maintainer has concerns about accidentally publishing by opening it up. moderation state keeps this from happening.

[2022-05-20 14:50] pyrello commented on #5301
Its possible with a moderation state, we wouldn't need any custom code and could handle all other changes to the system through configuration updates.

[2022-05-20 14:53] briand44 commented on #5265
James provided the spreadsheet.

https://iowa.sharepoint.com/:x:/r/sites/CSI-Drupal2/_layouts/15/Doc.aspx?sourcedoc=%7B4E6DF90E-7671-4498-BB7A-5E2AB2768880%7D&file=2022%20Tippie%20Redirects.xlsx&action=default&mobileredirect=true

[2022-05-20 14:59] joewhitsitt commented on #5301
This would be a cool addition though

[2022-05-20 15:36] bspeare commented on #5253
Jessica recommended that we put the `2 Plus 2 Plan` in a gold background and set the page title without the gold background.   She also said they spell out 2Plus2 as `2 Plus 2 Plan` in the brochure they designed.  Here's what the proposed change would look like.   It will require overriding some custom CSS in `admissions_core` to override the banner styles.

<img width="1654" alt="Screen Shot 2022

[2022-05-20 16:01] GaryRidgway commented on #5253
I will get to work on this!

[2022-05-20 16:09] bspeare commented on #4004
I'm not seeing the `<details>` in use on https://www.w3.org/WAI/ARIA/apg/patterns/accordion/.   I also don't see it on https://www.w3.org/WAI/ARIA/apg/patterns/disclosure/.   Do we really want to convert to `<details>` or should we just compare our version with https://www.w3.org/WAI/ARIA/apg/patterns/accordion/?

[2022-05-20 16:12] bspeare commented on #4004
Looks like they are aware of the issue: https://github.com/w3c/aria-practices/issues/1856

[2022-05-20 16:30] joewhitsitt commented on #4004
I believe the origin of this was a tip from TM that `<details>` was accessible out of the box and that the show/hide functionality was free of charge. The accordion example on w3 doesn't have all of the tablist role information which is what is causing the flag in https://github.com/uiowa/uiowa/issues/5106

The tablist was also something I picked up from TM a long time ago related to collapsible m

[2022-05-20 17:01] bspeare commented on #4004
Great points @joewhitsitt, I'm fine with either direction.

[2022-05-20 19:39] bspeare commented on #5291
I updated the https://admissions.dev.drupal.uiowa.edu/2plus2 page with some more demo content.  Since we have the participating colleges view block, should we just create a majors block too?  I think it would be useful to have that content on the overview page.   They could also manually add the majors to a text area like I have on the demo page.

[2022-05-20 20:45] joewhitsitt commented on #5280
This is done (crow and vulture). https://git.uiowa.edu/its-web/data.its.uiowa.edu/-/merge_requests/47

[2022-05-20 20:49] briand44 commented on #5280
My understanding is this is done as well since we were able to access the domains on the healthcare application

[2022-05-20 20:50] joewhitsitt commented on #5291
I like the idea of consolidating majors and colleges "all" listings on one page and getting rid of that navigation. the view page (all) for majors can still exist but the majors block will go straight to those contextual paths.

[2022-05-20 21:03] briand44 commented on #5291
I like what you have and feel like we wouldn't need those menu links but wonder if we lose contextual information without that all majors page? Maybe some of that text could be worked into the landing page? Maybe I am missing something as well.

[2022-05-20 21:38] joewhitsitt commented on #5291
Created a proof of concept "Available Majors" block in case consolidation is preferred. These are linked on the fly in `admissions_core_preprocess_views_view_field()` so I am not sure how much visual change there can be.

https://github.com/uiowa/uiowa/pull/5306

This could be merged into DEV to be of use there or demonstrated locally during zoom.

[2022-05-20 21:56] cory-skeers commented on #5299
I've made an adjustment in #5281 to make this change and provide the option. As the migrations in there don't require date limiting, though, it would be good to put it through its paces in another migration. Leaving it unchecked for now.

[2022-05-23 19:08] #5253 closed, assigned to nobody

[2022-05-23 19:35] briand44 commented on #5265
FYI, James is going to update some of the redirects that are using absolute url in the "to" field to contain a node id. For example, https://students.tippie.uiowa.edu/page-title will be updated to https://students.tippie.uiowa.edu/node/nid. I'll replace the document linked above when I have the new one. This shouldn't block any work from starting on this.

[2022-05-23 20:30] bspeare commented on #5291
It looks like there might be around 280 `Major (2 Plus 2)` pages total.  We might want to put the work into setting the featured image for them.

[2022-05-23 20:40] bspeare commented on #5291
This may have been already discussed, but is Scott ok with not having separate listings for these?

- [Economics](https://2plus2.admissions.uiowa.edu/majors/majors/economics-ba.htm) (BA program)
- [Economics](https://2plus2.admissions.uiowa.edu/majors/majors/economics.htm) (BBA program)

[2022-05-23 21:19] briand44 commented on #5291
Are these pages supposed to use the path `/2plus2/....`?

- https://admissions.dev.drupal.uiowa.edu/majors/des-moines-area-community-college
- https://admissions.dev.drupal.uiowa.edu/majors/des-moines-area-community-college/american-studies

Also should they have a breadcrumb path back to the landing page?

[2022-05-23 21:23] briand44 commented on #5291
[Economics](https://2plus2.admissions.uiowa.edu/majors/majors/economics-ba.htm) (BA program)
[Economics](https://2plus2.admissions.uiowa.edu/majors/majors/economics.htm) (BBA program)

I don't recall if we discussed that.

[2022-05-24 13:49] bspeare commented on #5291
I know we discussed with Scott that https://admissions.dev.drupal.uiowa.edu/majors/des-moines-area-community-college/american-studies would not have a breadcrumb link just like the major pages https://admissions.dev.drupal.uiowa.edu/academics/accounting.    I don't know about the `/2plus2/....` part.

[2022-05-24 14:53] briand44 commented on #5265
Update on this. Sticking with document linked above. They understand redirects using absolute urls to the url alias could break if the alias changes and are ok with that.